@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
    DateTime mindate = DateTime.Now;
    DataTable CareDt = ViewBag.CareDt;
    if (complement_List.Status)
    { mindate = pf.InDate; }
    else
    {
        if (DateTime.Now.Hour < 24)//20171030 改規則 AlanHuang
        {
            mindate = Convert.ToDateTime(DateTime.Now.AddDays(-1).ToString("yyyy/MM/dd 00:00"));
        }
        else if (DateTime.Now.Day == 1 && DateTime.Now.Hour < 24)
        {
            if (((DateTime.Now.Year % 4 == 0) && (DateTime.Now.Year % 100 != 0)) || (DateTime.Now.Year % 400 == 0))//判斷閏年
            {
                if (DateTime.Now.Month == 2)
                {
                    mindate = Convert.ToDateTime(DateTime.Now.AddMonths(-1).AddDays(28).ToString("yyyy/MM/dd 00:00"));
                }
            }
            if (DateTime.Now.Month == 1 || DateTime.Now.Month == 3 || DateTime.Now.Month == 5 || DateTime.Now.Month == 7 || DateTime.Now.Month == 8 || DateTime.Now.Month == 10 || DateTime.Now.Month == 12)
            {
                mindate = Convert.ToDateTime(DateTime.Now.AddMonths(-1).AddDays(30).ToString("yyyy/MM/dd 00:00"));
            }
            else
            {
                if (DateTime.Now.Month == 2) { mindate = Convert.ToDateTime(DateTime.Now.AddMonths(-1).AddDays(27).ToString("yyyy/MM/dd 00:00")); }
                else { mindate = Convert.ToDateTime(DateTime.Now.AddMonths(-1).AddDays(29).ToString("yyyy/MM/dd 00:00")); }
            }
        }
        else
        { mindate = Convert.ToDateTime(DateTime.Now.ToString("yyyy/MM/dd 00:00")); }
        if (pf.InDate > mindate)
        { mindate = pf.InDate; }
    }

    string hide = "";
    if (ViewBag.from_func != "")
    {
        hide = "display:none";
    }


}

<script type="text/javascript">
    $(function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });
    });

    //buton變色_以選
    function setButtonColor(id, btnid) {
        var all_btn = $('.' + id + ' input[type=button]');
        if (btnid != '') {
            for (var i = 0; i < all_btn.length; i++) {
                if (all_btn[i].id == btnid) {
                    $("#" + all_btn[i].id).css("background-color", "#666666");
                    $("#" + all_btn[i].id).css("color", "#FFFFFF");
                }
                else {
                    $("#" + all_btn[i].id).css("background-color", "#9CB7CF");
                    $("#" + all_btn[i].id).css("color", "Black");
                }
            }
        }
        else {
            for (var i = 0; i < all_btn.length; i++) {
                $("#" + all_btn[i].id).css("background-color", "#9CB7CF");
                $("#" + all_btn[i].id).css("color", "Black");
            }
        }
    }

    //點選按鈕_變色
    function btn_click(obj) {
        var divid = document.getElementById(obj.id).parentNode.getAttribute('class');
        setButtonColor(divid, obj.id);
    }

    //選擇輸入或輸出
    function btn_io_click(obj) {
        var id = $(obj).attr('showid');
        var io_div = $('.intake_output');
        for (var i = 0; i < io_div.length; i++) {
            $('#' + io_div[i].id).fadeOut(0);
        }
        $('#' + id).show("slide", { direction: 'left' });
        var all_div = $('.kind_maintain');
        setButtonColor('kind_maintain', '');
        setButtonColor('intake_output', '');
        for (var i = 0; i < all_div.length; i++) {
            $('#' + all_div[i].id).fadeOut(0);
        }
        all_clear();
    }

    //選擇項目後顯示對應子項目
    function show_btn(obj) {
        var divid = document.getElementById(obj.id).parentNode.getAttribute('id');
        var divclass = document.getElementById(obj.id).parentNode.getAttribute('class');
        var row = $(obj).attr('row');
        var all_div = $('.kind_maintain');
        for (var i = 0; i < all_div.length; i++) {
            if (all_div[i].id == 'div' + row) {
                var btn = $('#' + all_div[i].id + ' input[type=button]');
                if (btn.length > 0) {
                    $('#' + divid).fadeOut(0);
                    $('#div' + row).show("slide", { direction: 'left' });
                    all_clear();
                }
                else {
                    setButtonColor(divclass, obj.id);
                    $('#typeid').val(row);
                    $('#txt_amount').focus();
                }
            }
            else {
                $('#' + all_div[i].id).fadeOut(0);
            }
        }
    }

    //選擇項目
    function btn_item_click(obj) {
        $('#typeid').val($(obj).attr('typeid'));
        $('#calories').val($(obj).attr('calorie'));
        $('#txt_amount').val('');
        $('#txt_carloe').val('');
        $('#txt_amount').focus();
        $('#type_tube_name').val($(obj).val());

    }

    //點選確認
    function btn_insert_click() {
        var success = false;
        $('#creat_day').val($('#txt_day').val());
        $('#creat_time').val($('#txt_time').val());
        if (document.getElementById('Loss').checked || $.trim($('#txt_amount').val()) != '') {
            var typeid = $('#typeid').val();
            if (typeid != '') {
                document.getElementById('txt_amount').disabled = false;
                document.getElementById('txt_carloe').disabled = false;
                if ($('#txt_carloe').val() == '')
                    $('#txt_carloe').val('0');
                success = true;
            }
            else
                alert('請選擇項目');
        }
        else {
            alert('請輸入數量');
        }
        return success;
    }

    ///     其他    ///

    function all_clear() {
        $('#typeid').val('');
        $('#itemid').val('');
        $('#calories').val('0');
        $('#txt_amount').val('');
        $('#txt_carloe').val('');
        $('#type_tube_name').val('');

    }

    function set_loss(obj) {
        if (obj.checked) {
            $('#txt_amount').val('');
            $('#txt_carloe').val('');
            document.getElementById('txt_amount').disabled = true;
            document.getElementById('txt_carloe').disabled = true;
        }
        else {
            document.getElementById('txt_amount').disabled = false;
            document.getElementById('txt_carloe').disabled = false;
        }
    }

    //註記focus的text
    function Mark(id) {
        $("#key").val(id);
    }

    //驗證欄位_數字
    function numcheck(obj) {
        var success = true;
        if (obj.value.indexOf('.') > -1)
            var re = /^[0-9]+\.[0-9]*$/;
        else
            var re = /^[0-9]+$/;

        if (!re.test(obj.value) && obj.value != "") {
            alert("只能輸入數字");
            $(obj).val('');
            success = false;
        }
        return success;
    }

    //計算卡路里
    function count_calories(amount) {
        var num = multiplication(amount, $('#calories').val());
        $('#txt_carloe').val(num);
    }

    //螢幕鍵盤輸入_驗證
    function btn_write(word) {
        var Markid = $("#key").val();
        var new_word = $("#" + Markid).val() + word;
        if (new_word.indexOf('.') > -1) {
            var re = /^[0-9]+\.[0-9]*$/;
        }
        else {
            var re = /^[0-9]+$/;
        }
        if (!re.test(new_word) && new_word != "") {
            alert("只能輸入數字");
        }
        else {
            $("#" + Markid).val(new_word);
            count_calories(new_word);
        }
    }

    function btn_backspace() {
        var Markid = $("#key").val();
        var new_word = $("#" + Markid).val();
        new_word = new_word.substring(0, new_word.length - 1)
        $("#" + Markid).val(new_word);
        count_calories(new_word);
    }

    //判斷是否選擇其他
    function txt_fordrop(dropid, txtid) {
        var list = $('#' + dropid).val()
        if (list != '99') {
            $('#' + txtid).attr('defaultvalue', $('#' + txtid).val());
            document.getElementById(txtid).disabled = true;
            $('#' + txtid).val('');
            $('#' + txtid).hide();

        }
        else {
            $('#' + txtid).val($('#' + txtid).attr('defaultvalue'));
            document.getElementById(txtid).disabled = false;
            $('#' + txtid).show();

        }
    }
    $(function () {
        $("#chk_record").change(function () {
            if (this.checked) {
                //do something;
                $("#hid_care_record").val("1");
            } else {
                $("#hid_care_record").val("0");
            }
        });
    });
    $(function () {
        $("#txta_remark").blur(function () {
            AutoSelCheckbox();
        });
    })

    function AutoSelCheckbox() {
        var str = $("#txta_remark").val();
        str = jQuery.trim(str);
        if (str != "") {
            $("#chk_record").prop('checked', true);
            $("#hid_care_record").val("1");
        } else {
            $("#chk_record").prop('checked', false);
            $("#hid_care_record").val("0");
        }
    };
</script>
@using System.Data;
@{
    DataTable dt_intake = ViewBag.dt_intake;
    DataTable dt_output = ViewBag.dt_output;
    DataTable dt_kind_maintain = ViewBag.dt_kind_maintain;
    DataTable dt_tubekind = ViewBag.dt_tubekind;
    DataTable dt = ViewBag.dt;
}
@foreach (DataRow dt_r in dt.Rows)
{
    string func = "window.location.href = 'Detail?itemid="+ ViewBag.itemid + "&date=" + ViewBag.date + "&day=" + ViewBag.day + "'";
    <form id="form1" action="IO_Maintain_Upd" method="post">
        <input id="key" type="hidden" value="txt_amount" />
        <div class="funcArea">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td colspan="3" style="text-align:center;padding-bottom:5px;">
                        @Html.TextBox("txt_day", Convert.ToDateTime(dt_r["CREATTIME"]).ToString("yyyy/MM/dd"), new { style = "width:80px;", @readonly = "readonly" })
                        @Html.TextBox("txt_time", Convert.ToDateTime(dt_r["CREATTIME"]).ToString("HH:mm"), new { style = "width:50px;", @readonly = "readonly" })
                        @*@WebTool.setDateTime("txt_day", "txt_time", "", "0", "", mindate.ToString("MM/dd/yyyy HH:mm:ss"))*@
                        @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "txt_day", "txt_time", true)
                    </td>
                </tr>
                <tr>
                    <td style="width:25%"></td>
                    <td style="width:50%">
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:264px;background-color: #EEEFFF;border: 1px solid #CC88FF;">
                            <tr>
                                <td class="io" align="center" style="width:15%;height:50px;">
                                    <input id="btn_intake" type="button" style="width:100px;height:60px;" showid="dv_intake" value="攝入" onclick="btn_click(this); btn_io_click(this);" />
                                    <input id="btn_output" type="button" style="width:100px;height:60px;" showid="dv_output" value="輸出" onclick="btn_click(this); btn_io_click(this);" />
                                </td>
                            </tr>
                            <tr>
                                <td style="height:80%;text-align:center;overflow:auto">
                                    <div style="height:200px;overflow-x:hidden;overflow-y:auto;">
                                        <div class="intake_output" id="dv_intake" style="display:none;padding: 2px 0 2px 0;">
                                            @if (dt_intake != null)
                                            {
                                                foreach (DataRow r in dt_intake.Rows)
                                                {
                                                    <input type="button" value="@r["P_NAME"]" id="intake@(r["P_VALUE"])" row="@r["P_VALUE"]" style="width:80px;height:60px;" onclick=" show_btn(this, 'intake' );" />
                                                }
                                            }
                                        </div>
                                        <div class="intake_output" id="dv_output" style="display:none;padding: 2px 0 2px 0;">
                                            @if (dt_output != null)
                                            {
                                                foreach (DataRow r in dt_output.Rows)
                                                {
                                                    <input type="button" value="@r["P_NAME"]" id="output@(r["P_VALUE"])" row="@r["P_VALUE"]" style="width:80px;height:60px;" onclick=" show_btn(this, 'output' );" />
                                                }
                                            }
                                        </div>
                                        @if (dt_kind_maintain != null)
                                        {
                                            foreach (DataRow r in dt_intake.Rows)
                                            {
                                                <div class="kind_maintain" id="div@(r["P_VALUE"])" style="display:none;padding: 2px 0 2px 0;">
                                                    @for (int i = 0; i < dt_kind_maintain.Rows.Count; i++)
                                                    {
                                                        if (dt_kind_maintain.Rows[i]["TYPEID"].ToString() == r["P_VALUE"].ToString())
                                                        {
                                                            <input id="@dt_kind_maintain.Rows[i]["ITEMID"]" type="button" typeid="@dt_kind_maintain.Rows[i]["TYPEID"]" value="@dt_kind_maintain.Rows[i]["NAME"]" calorie="@Convert.ToDouble(dt_kind_maintain.Rows[i]["CALORIES"].ToString())" style="min-width:80px;height:60px;margin:2px 0 2px 0;" onclick="btn_click(this); btn_item_click(this);" />
                                                        }
                                                    }
                                                </div>
                                            }
                                            foreach (DataRow r in dt_output.Rows)
                                            {
                                                <div class="kind_maintain" id="div@(r["P_VALUE"])" style="display:none;padding: 2px 0 2px 0;">
                                                    @for (int i = 0; i < dt_kind_maintain.Rows.Count; i++)
                                                    {
                                                        if (dt_kind_maintain.Rows[i]["TYPEID"].ToString() == r["P_VALUE"].ToString())
                                                        {
                                                            <input id="@dt_kind_maintain.Rows[i]["ITEMID"]" type="button" typeid="@dt_kind_maintain.Rows[i]["TYPEID"]" value="@dt_kind_maintain.Rows[i]["NAME"]" calorie="@Convert.ToDouble(dt_kind_maintain.Rows[i]["CALORIES"].ToString())" style="min-width:80px;height:60px;margin:2px 0 2px 0;" onclick="btn_click(this); btn_item_click(this);" />
                                                        }
                                                    }
                                                    @if (r["P_VALUE"].ToString() == "9")
                                                    {
                                                        for (int j = 0; j < dt_tubekind.Rows.Count; j++)
                                                        {
                                                            if (dt_tubekind.Rows[j]["TYPE_GROUP"].ToString() == "1")
                                                            {
                                                                <input id="@dt_tubekind.Rows[j]["TUBEROW"]" type="button" typeid="@r["P_VALUE"]" value="@dt_tubekind.Rows[j]["TYPE_NAME"] @dt_tubekind.Rows[j]["POSITION"] @dt_tubekind.Rows[j]["LOCATION_NAME"]" calorie="0" style="min-width:80px;height:60px;margin:2px 0 2px 0;" onclick="btn_click(this); btn_item_click(this);" />
                                                            }
                                                        }
                                                    }
                                                </div>
                                            }
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:25%"></td>
                </tr>
                <tr>
                    <td style="width:25%"></td>
                    <td style="width:50%">
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:134px;background-color: #EEEFFF;border: 1px solid #CC88FF;padding:2px 2px 2px 2px;">
                            <tr>
                                <td style="width: 99%; /*padding-left: 40px;*/" colspan="2">
                                    <label style="font-size:12px;">(1)細項說明：</label>
                                    <input type="text" id="txt_explanation_item" name="txt_explanation_item" value="" style="width:70%;" />
                                </td>
                            </tr>
                            <tr>
                                <td style="height:100%;width:100%;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="height:100%;width:100%;">
                                        <tr>
                                            <td style="/*padding-left:40px;*/width: 50%;">
                                                <label style="font-size:12px;">(2)量：</label>
                                                @Html.TextBox("txt_amount", "", new { style = "width:60px", maxlength = "10", onchange = "if(numcheck(this)) { count_calories(this.value); } ", onfocus = "Mark(this.id);" })
                                                <select id="unit_select" name="unit_select">
                                                    <option value="1">mL</option>
                                                    <option value="2">g</option>
                                                    <option value="3">mg</option>
                                                    <option value="4">分鐘</option>
                                                    <option value="5">次</option>
                                                </select>
                                            </td>
                                            <td style="width: 50%;/*padding-left: 40px;*/">
                                                <label style="font-size:12px;">(4)氣味：</label>
                                                @Html.DropDownList("taste_drainage", (List<SelectListItem>)ViewData["taste_drainage"], new { onchange = "txt_fordrop(this.id,'taste_other');" })
                                                @Html.TextBox("taste_other", "", new { style = "width:40px;display:none;", defaultvalue = "", disabled = "disabled" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="/*padding-left: 40px;*/">
                                                <label style="font-size:12px;">(3)顏色：</label>
                                                @Html.DropDownList("color_drainage", (List<SelectListItem>)ViewData["color_drainage"], new { onchange = "txt_fordrop(this.id,'color_other');" })
                                                @Html.TextBox("color_other", "", new { style = "width:40px;display:none;", defaultvalue = "", disabled = "disabled" })
                                            </td>
                                            <td style="/*padding-left: 40px;*/">
                                                <label style="font-size:12px;">(5)性質：</label>
                                                @Html.DropDownList("nature_drainage", (List<SelectListItem>)ViewData["nature_drainage"], new { onchange = "txt_fordrop(this.id,'nature_other');" })
                                                @Html.TextBox("nature_other", "", new { style = "width:40px;display:none;", defaultvalue = "", disabled = "disabled" })
                                            </td>
                                        </tr>
                                        <tr style="display: none;">
                                            <td style="/*padding-left:40px;*/display: none;">
                                                @Html.TextBox("txt_carloe", "", new { style = "width:60px;display: none;", onchange = "numcheck(this); " }) 大卡
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="/*padding-left: 40px;*/">
                                                <label style="font-size:12px;">(6)備註：</label>
                                                <textarea style="width: 80%; height: 99%;" id="txta_remark" name="txta_remark"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="/*padding-left:40px;*/">
                                                <label><input type="checkbox" value="Loss" id="Loss" name="Loss" onclick="set_loss(this);" />Loss</label>
                                                <input id="creat_day" name="creat_day" type="hidden" value="" />
                                                <input id="creat_time" name="creat_time" type="hidden" value="" />
                                                <input id="typeid" name="typeid" type="hidden" value="" />
                                                @*<input id="itemid" name="itemid" type="hidden" value="" />*@
                                                <input id="calories" type="hidden" value="0" />
                                                <input id="type_tube_name" name="type_tube_name" type="hidden" value="" />
                                                <input name="row" type="hidden" value="@dt_r["IO_ROW"]" />
                                                <input name="io_id" type="hidden" value="@dt_r["IO_ID"]" />
                                                <input name="date" type="hidden" value="@(ViewBag.date)" />
                                                <input name="day" type="hidden" value="@(ViewBag.day)" />
                                                <input name="show_by" type="hidden" value="@(ViewBag.show_by)" />
                                                <input id="itemid" name="itemid" type="hidden" value="@dt_r["ITEMID"]" />
                                                <input id="itemid2" name="itemid2" type="hidden" value="@dt_r["ITEMID"]" />
                                                @* <div style="display:inline-block;text-align:center;width:100%;">*@
                                            </td>
                                            <td>
                                                <label>
                                                    <input type="checkbox" id="chk_record" name="chk_record" value="" />帶入記錄
                                                </label>
                                                <input type="hidden" id="hid_care_record" name="hid_care_record" value="0" />
                                                @*<input type="hidden" id="hid_checkbox_temp" name="hid_checkbox_temp" value="0" />*@
                                                @*</div>*@
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                @* <td style="height:100%;width:55%;">
                                        <table style="height:100%;">
                                            <tr>
                                                <td>
                                                        顏色
                                                        @Html.DropDownList("color_drainage", (List<SelectListItem>)ViewData["color_drainage"], new { onchange = "txt_fordrop(this.id,'color_other');" })
                                                        @Html.TextBox("color_other", "", new { style = "width:60px;", defaultvalue = "", disabled = "disabled" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                        氣味
                                                        @Html.DropDownList("taste_drainage", (List<SelectListItem>)ViewData["taste_drainage"], new { onchange = "txt_fordrop(this.id,'taste_other');" })
                                                        @Html.TextBox("taste_other", "", new { style = "width:60px;", defaultvalue = "", disabled = "disabled" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                        性質
                                                        @Html.DropDownList("nature_drainage", (List<SelectListItem>)ViewData["nature_drainage"], new { onchange = "txt_fordrop(this.id,'nature_other');" })
                                                        @Html.TextBox("nature_other", "", new { style = "width:60px;", defaultvalue = "", disabled = "disabled" })
                                                </td>
                                            </tr>
                                        </table>
                                    </td>*@
                            </tr>
                        </table>
                    </td>
                    <td style="width:25%"></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center;padding-top:5px;">
                        <input type="hidden" id="hid_carerecordhas" name="hid_carerecordhas" value="0" />
                        <input type="button" value="更新" style="width:60px;" onclick="if (btn_insert_click()) { submit(); }" />
                        <input type="button" value="返回" style="width:60px;@hide;" onclick="@func" />
                        @if (string.IsNullOrEmpty(dt_r["SOURCE_ID"].ToString()))
                        {
                            <input type="button" value="刪除此筆資料" onclick="$('#form1').attr('action', 'IO_Maintain_Delete'); submit();" />
                        }
                    </td>
                </tr>
            </table>
        </div>
    </form>

    <script type="text/javascript">
    @if(int.Parse(dt_r["TYPEID"].ToString()) >= 1 && int.Parse(dt_r["TYPEID"].ToString()) <= 5 || int.Parse(dt_r["TYPEID"].ToString()) == 11)
    {
        @:$('#btn_intake').click();
    }
    else
    {
        @:$('#btn_output').click();
    }
    $('input[type=button][row=' + @dt_r["TYPEID"] +']').click();
    @if(dt_r["ITEMID"].ToString() != "")
    {
        @:$('#@dt_r["ITEMID"]').click();
    }
    $('#unit_select').val('@dt_r["AMOUNT_UNIT"]');
    @if(dt_r["AMOUNT"].ToString() == "" && dt_r["CALORIES"].ToString() == "" && dt_r["REASON"].ToString() != "")
    {
        @:$('#Loss').click();
    }
    else
    {
        if(dt_r["AMOUNT"].ToString() != "")
        {
            @:$('#txt_amount').val('@dt_r["AMOUNT"]');
        }
        if(dt_r["CALORIES"].ToString() != "")
        {
            @:$('#txt_carloe').val('@dt_r["CALORIES"]');
            }
    }
    @if(dt_r["COLORID"] != "-1" && dt_r["NATUREID"] != "-1" && dt_r["TASTEID"] != "-1")
    {
        <text>
    $('#color_drainage').val('@dt_r["COLORID"]');
    txt_fordrop('color_drainage', 'color_other');
    $('#color_other').val('@dt_r["COLOROTHER"]');
        $('#nature_drainage').val('@dt_r["NATUREID"]');
    txt_fordrop('nature_drainage', 'nature_other');
    $('#nature_other').val('@dt_r["NATUREOTHER"]');
        $('#taste_drainage').val('@dt_r["TASTEID"]');
    txt_fordrop('taste_drainage', 'taste_other');
    $('#taste_other').val('@dt_r["TASTEOTHER"]');
    </text>
    }
    @if(dt_r["EXPLANATION_ITEM"].ToString() != "")
    {
        @:$('#txt_explanation_item').val('@dt_r["EXPLANATION_ITEM"]');
    }
    @if(dt_r["REMARK"].ToString() != "")
    {
        @:$('#txta_remark').val('@dt_r["REMARK"]');
    }
    AutoSelCheckbox();
    var CareDtCount = '@(CareDt.Rows.Count)';//如果曾經有勾選護理記錄，就進行回勾，並將隱藏欄位輸入
    $(function () {
        if (parseInt(CareDtCount) > 0) {
            $("#chk_record").attr("checked", true);
            $("#hid_carerecordhas").val("1");
        } else {
            $("#chk_record").attr("checked", false);
            $("#hid_carerecordhas").val("0");
        }
    });
    </script>
}