@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    //Layout = "~/Views/Layout/Main.cshtml";
}

<style type="text/css">
.dataArea td {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    text-align: left;
    white-space: nowrap;
  }
</style>

<script type="text/javascript">
    $(function () {
        close_pup_window();
        setGridColor();
    });
    
    function setGridColor() {
        //格行換色
        $('.trodd').css('background', '#ABC8E2');
        $('.treven').css('background', '#E1E6FA');
    }
    
    //驗證欄位_數字
    function numcheck(id, time) {
        if (time.value.indexOf('.') > -1) {
            var re = /^[0-9]+\.[0-9]*$/;
        }
        else {
            var re = /^[0-9]+$/;
        }
        if (!re.test(time.value) && time.value != "") {
            alert("只能輸入數字");
            document.getElementById(id).value = "";
        }
    }

    ///      Intake       ///
    
    //新增Intake內容_驗證數量及灌洗項目
    function add_intake() {
        var reason_type = $("#intake_reason_type").val();
        var date = $("#txt_day").val() + " " + $("#txt_time").val();
        var type = $("#intake_type").find("option:selected").text();
        var typeid = $("#intake_type").val();
        var reasonid = $("#intake_reason").val();
        var amount = $("#intake_amount").val();
        var amountunit = $("#intake_amount_unit").find("option:selected").text();
        var amountunitid = $("#intake_amount_unit").val();
        var med = $("#txt_med").val();
        var lavageid = $("#intake_project").val();
        var lavagelsid = $("#intake_project").find("option:selected").text();
        var lavagcontent = $("#intake_txt_project").val();
        if (reason_type == "0") {
            if ($.trim(amount) != '') {
                if (typeid == '1' || typeid == '2' || typeid == '3' || typeid == '4' || typeid == '9') {
                    var newcontent = date + " " + type + " " + amount + amountunit;
                    var values = date + "_" + typeid + "_" + "-1" + "_" + amount + "_" + amountunitid + "_" + "" + "_" + "-1" + "_" + "";
                    innerlist('Intake_content', newcontent, values);
                }
                else {
                    if (typeid == '5' || typeid == '6' || typeid == '7') {
                        var newcontent = date + " " + type + " " + amount + amountunit + " " + med;
                        var values = date + "_" + typeid + "_" + "-1" + "_" + amount + "_" + amountunitid + "_" + med + "_" + "-1" + "_" + "";
                        innerlist('Intake_content', newcontent, values);
                    }
                    else if (typeid == '8') {
                        if (lavagelsid != "-1") {
                            var newcontent = date + " " + type + " " + amount + amountunit + " " + lavagelsid + " " + lavagcontent + " " + med;
                            var values = date + "_" + typeid + "_" + "-1" + "_" + amount + "_" + amountunitid + "_" + med + "_" + lavageid + "_" + lavagcontent;
                            innerlist('Intake_content', newcontent, values);
                        }
                        else {
                            alert('請選擇項目');
                        }
                    }
                }
            }
            else {
                alert('請輸入數量');
            }
        }
        else {
            var newcontent = date + " " + type + " 有" + $("#intake_reason").find("option:selected").text() + "紀錄";
            var values = date + "_" + typeid + "_" + reasonid + "_" + "0" + "_" + '1' + "_" + "" + "_" + "-1" + "_" + "";
            innerlist('Intake_content', newcontent, values);
        }
    }

    //intake type切換
    function list_change() {
        var reason = $("#intake_reason").val();
        if (reason == "-1") {
            var list = document.getElementById("intake_type");
            $('#intake_amount_unit').val('1');
            for (var i = 0; i < list.length; i++) {
                if (list[i].selected)
                    var key = list[i].value;
            }
            if (key == '5' || key == '6' || key == '7') {
                document.getElementById('txt_med').disabled = false;
                document.getElementById('intake_project').disabled = true;
                document.getElementById('intake_txt_project').disabled = true;
            }
            else if (key == '8') {
                document.getElementById('txt_med').disabled = false;
                document.getElementById('intake_project').disabled = false;
                document.getElementById('intake_txt_project').disabled = false;
            }
            else {
                document.getElementById('txt_med').disabled = true;
                document.getElementById('intake_project').disabled = true;
                document.getElementById('intake_txt_project').disabled = true;
                if (key == '9') {
                    $('#intake_amount_unit').val('2');
                }
            }
        }
    }

    //intake無法測量原因切換
    function intake_change() {
        var reason = $("#intake_reason").val();
        if (reason != "-1") {
            $("#intake_reason_type").val('1');
            document.getElementById('intake_amount').disabled = true;
            document.getElementById('intake_amount_unit').disabled = true;
            document.getElementById('txt_med').disabled = true;
            document.getElementById('intake_project').disabled = true;
            document.getElementById('intake_txt_project').disabled = true;
        }
        else {
            $("#intake_reason_type").val('0');
            document.getElementById('intake_amount').disabled = false;
            document.getElementById('intake_amount_unit').disabled = false;
            document.getElementById('txt_med').disabled = false;
            document.getElementById('intake_project').disabled = false;
            document.getElementById('intake_txt_project').disabled = false;
            list_change();
        }
    }

    ///      Output       ///

    function add_output() {
        var date = $("#txt_day").val() + " " + $("#txt_time").val();
        var reasonid = $("#output_reason").val();
        var typeid = $("#output_type").val();
        var type = $("#output_type").find("option:selected").text();
        var amount = $("#output_amount").val();
        var amountunit = $("#output_amount_unit").find("option:selected").text();
        var amountunitid = $("#output_amount_unit").val();
        if (reasonid == "-1") {
            if ($.trim(amount) != '') {
                if (typeid == '1' || typeid == '2' || typeid == '3' || typeid == '4' || typeid == '5' || typeid == '6' || typeid == '8' || typeid == '13') {
                    if (typeid == '1' || typeid == '2' || typeid == '3' || typeid == '13') {
                        var colorid = $("#output_color_urine").val();
                        var natureid = $("#output_nature_urine").val();
                        var color = $("#output_color_urine").find("option:selected").text();
                        var nature = $("#output_nature_urine").find("option:selected").text();
                    }
                    else if (typeid == '4') {
                        var colorid = $("#output_color_vomit").val();
                        var natureid = $("#output_nature_vomit").val();
                        var color = $("#output_color_vomit").find("option:selected").text();
                        var nature = $("#output_nature_vomit").find("option:selected").text();
                    }
                    else if (typeid == '5' || typeid == '6') {
                        var colorid = $("#output_color_drainage").val();
                        var natureid = $("#output_nature_drainage").val();
                        var color = $("#output_color_drainage").find("option:selected").text();
                        var nature = $("#output_nature_drainage").find("option:selected").text();
                    }
                    else if (typeid == '8') {
                        var colorid = $("#output_color_gastric").val();
                        var natureid = $("#output_nature_gastric").val();
                        var color = $("#output_color_gastric").find("option:selected").text();
                        var nature = $("#output_nature_gastric").find("option:selected").text();
                    }
                    var natureother = $("#txt_other_output_nature").val();
                    var colorother = $("#txt_other_output_color").val();

                    if (colorid == '99' && $.trim(colorother) == '') {
                        alert('請輸入其他顏色');
                    }
                    else {
                        if (colorid != '99') {
                            var colorother = '';
                        }
                        if (natureid == '99' && $.trim(natureother) == '') {
                            alert('請輸入其他性質');
                        }
                        else {
                            if (natureid != '99') {
                                var natureother = '';
                            }
                            if (typeid == '1' || typeid == '2' || typeid == '3' || typeid == '4' || typeid == '8' || typeid == '13') {
                                if (colorid == '-1') {
                                    var color = '';
                                }
                                if (natureid == '-1') {
                                    var nature = '';
                                }
                                var newcontent = date + " " + type + " " + amount + amountunit + " " + color + colorother + ' ' + nature + natureother;
                                var values = date + "_" + typeid + "_" + reasonid + "_" + amount + "_" + amountunitid + "_" + '-1' + "_" + '' + "_" + colorid + "_" + colorother + "_" + natureid + "_" + natureother + "_" + '-1' + "_" + '' + "_" + '';
                                innerlist('Output_content', newcontent, values);
                            }
                            else if (typeid == '5' || typeid == '6') {
                                if (colorid != '-1') {
                                    if (natureid != '-1') {
                                        var tasteid = $("#output_taste_drainage").val();
                                        var tasteother = $("#txt_other_output_taste").val();
                                        var taste = $("#output_taste_drainage").find("option:selected").text();
                                        if (tasteid == '99' && $.trim(tasteother) == '') {
                                            alert('請輸入其他味道');
                                        }
                                        else {
                                            if (tasteid != '99') {
                                                var tasteother = '';
                                            }
                                            if (tasteid != '-1') {
                                                if (typeid == '5') {
                                                    var newcontent = date + " " + type + " " + amount + amountunit + " " + color + colorother + ' ' + nature + natureother + ' ' + taste + tasteother;
                                                    var values = date + "_" + typeid + "_" + reasonid + "_" + amount + "_" + amountunitid + "_" + '-1' + "_" + '' + "_" + colorid + "_" + colorother + "_" + natureid + "_" + natureother + "_" + tasteid + "_" + tasteother + "_" + '';
                                                    innerlist('Output_content', newcontent, values);
                                                }
                                                else if (typeid == '6') {
                                                    var lavageid = $("#output_sort_drainage").val();
                                                    var lavageother = $("#txt_other_output_sort").val();
                                                    var lavage = $("#output_sort_drainage").find("option:selected").text();
                                                    if (lavageid == '99' && $.trim(lavageother) == '') {
                                                        alert('請輸入其他種類');
                                                    }
                                                    else {
                                                        if (lavageid != '99') {
                                                            var lavageother = '';
                                                        }
                                                        //種類驗證還有疑問__未確定
                                                        if (lavageid == '-1') {
                                                            alert('請選擇種類!');
                                                        }
                                                        else {
                                                            var newcontent = date + " " + type + " " + amount + amountunit + " " + lavage + lavageother + ' ' + color + colorother + ' ' + nature + natureother + ' ' + taste + tasteother;
                                                            var values = date + "_" + typeid + "_" + reasonid + "_" + amount + "_" + amountunitid + "_" + lavageid + "_" + lavageother + "_" + colorid + "_" + colorother + "_" + natureid + "_" + natureother + "_" + tasteid + "_" + tasteother + "_" + '';
                                                            innerlist('Output_content', newcontent, values);
                                                        }
                                                    }
                                                }
                                            }
                                            else {
                                                alert('請選擇味道!')
                                            }
                                        }
                                    }
                                    else {
                                        alert('請選擇性質!')
                                    }
                                }
                                else {
                                    alert('請選擇顏色!')
                                }
                            }
                        }
                    }
                }
                else {
                    //判斷
                    if (typeid == '9') {
                        var remark = $("#txt_other_output_remark").val();
                        var newcontent = date + " " + type + " " + amount + amountunit + " " + remark;
                        var values = date + "_" + typeid + "_" + reasonid + "_" + amount + "_" + amountunitid + "_" + '-1' + "_" + '' + "_" + '-1' + "_" + '' + "_" + '-1' + "_" + '' + "_" + '-1' + "_" + '' + "_" + remark;
                        innerlist('Output_content', newcontent, values);
                    }
                    else {
                        var newcontent = date + " " + type + " " + amount + amountunit;
                        var values = date + "_" + typeid + "_" + reasonid + "_" + amount + "_" + amountunitid + "_" + '-1' + "_" + '' + "_" + '-1' + "_" + '' + "_" + '-1' + "_" + '' + "_" + '-1' + "_" + '' + "_" + '';
                        innerlist('Output_content', newcontent, values);
                    }
                }
            }
            else {
                alert('請輸入數量');
            }
        }
        else {
            var newcontent = date + " " + type + " 有" + $("#output_reason").find("option:selected").text() + "紀錄";
            var values = date + "_" + typeid + "_" + reasonid + "_" + '0' + "_" + '1' + "_" + '-1' + "_" + '' + "_" + '-1' + "_" + '' + "_" + '-1' + "_" + '' + "_" + '-1' + "_" + '' + "_" + '';
            innerlist('Output_content', newcontent, values);
        }
    }

    //output type切換
    function output_type_change() {
        var reasonid = $('#output_reason').val();
        if (reasonid == '-1') {
            hiede_select('tr_output_sort,tr_output_color,tr_output_nature,tr_output_taste,tr_output_remark', '', '');
            $('#output_amount_unit').val('1');
            var typeid = $("#output_type").val();
            if (typeid == '1' || typeid == '2' || typeid == '3' || typeid == '13') {
                hiede_select('output_color_vomit,output_color_drainage,output_color_gastric', 'output_color_urine', 'txt_other_output_color');
                hiede_select('output_nature_vomit,output_nature_drainage,output_nature_gastric', 'output_nature_urine', 'txt_other_output_nature');
                $('#tr_output_color').fadeIn(500);
                $('#tr_output_nature').fadeIn(500);
                if (typeid == '13') {
                    $('#output_amount_unit').val('2');
                }
            }
            else if (typeid == '4') {
                hiede_select('output_color_urine,output_color_drainage,output_color_gastric', 'output_color_vomit', 'txt_other_output_color');
                hiede_select('output_nature_urine,output_nature_drainage,output_nature_gastric', 'output_nature_vomit', 'txt_other_output_nature');
                $('#tr_output_color').fadeIn(500);
                $('#tr_output_nature').fadeIn(500);
            }
            else if (typeid == '5' || typeid == '6') {
                hiede_select('output_color_urine,output_color_vomit,output_color_gastric', 'output_color_drainage', 'txt_other_output_color');
                hiede_select('output_nature_urine,output_nature_vomit,output_nature_gastric', 'output_nature_drainage', 'txt_other_output_nature');
                $('#tr_output_color').fadeIn(500);
                $('#tr_output_nature').fadeIn(500);
                $('#tr_output_taste').fadeIn(500);
                if (typeid == '6') {
                    $('#tr_output_sort').fadeIn(500);
                }
            }
            else if (typeid == '8') {
                hiede_select('output_color_urine,output_color_vomit,output_color_drainage', 'output_color_gastric', 'txt_other_output_color');
                hiede_select('output_nature_urine,output_nature_vomit,output_nature_drainage', 'output_nature_gastric', 'txt_other_output_nature');
                $('#tr_output_color').fadeIn(500);
                $('#tr_output_nature').fadeIn(500);
            }
            else if (typeid == '9') {
                $('#tr_output_remark').fadeIn(500);
            }
        }
    }

    //ouput 無法測量原因切換
    function output_reason_change() {
        var reasonid = $('#output_reason').val();
        if (reasonid == '-1') {
            output_type_change();
            document.getElementById('output_amount').disabled = false;
        }
        else {
            hiede_select('tr_output_sort,tr_output_color,tr_output_nature,tr_output_taste,tr_output_remark', '', 'output_amount');
        }
    }

    ///     其他    ///

    //數個欄位隱藏,顯示一個欄位
    function hiede_select(hideid, showid, txtid) {
        var hide = hideid.split(",");
        for (var i = 0; i < hide.length; i++) {
            $('#'+hide[i]).fadeOut(0);
        }
        $('#' + showid).fadeIn(0);
        if (txtid != '') {
            document.getElementById(txtid).disabled = true;
        }
    }

    //刪除選擇項目
    function del_list(id) {
        var list = document.getElementById(id);
        for (var i = 0; i < list.length; i++) {
            if (list[i].selected)
                list.remove(i);
        }
    }

    //選擇其他，打開輸入欄位
    function select_other(values, txtid) {
        if (values == '99') {
            document.getElementById(txtid).disabled = false;
        }
        else {
            document.getElementById(txtid).disabled = true;
        }
    }

    //新增選項函數
    function innerlist(id, content, values) {
        var newlist = document.getElementById(id);
        var np = document.createElement("option");
        with (np) {
            text = content;
            value = values;
        }
        newlist.options.add(np, 0);
    }

    //將所有選項selected
    function allselected() {
        var list_intake = document.getElementById("Intake_content");
        for (var i = 0; i < list_intake.length; i++) {
            list_intake[i].selected = true;
        }
        var list_output = document.getElementById("Output_content");
        for (var i = 0; i < list_output.length; i++) {
            list_output[i].selected = true;
        }
    }

    //小計
    function count_amount(listid, labid) {
        var list = document.getElementById(listid);
        var count = 0;
        for (var i = 0; i < list.length; i++) {
            count = count + parseFloat(list[i].value.split("_")[3]);
        }
        document.getElementById(labid).innerText = count;
    }

    //註記focus的text
    function Mark(id) {
        $("#key").val(id);
    }
    //螢幕鍵盤輸入_驗證
    function btn_write(word) {
        var Markid = $("#key").val();
        var new_word = $("#" + Markid).val() + word;
        if (new_word.indexOf('.') > -1) {
            var re = /^[0-9]+\.[0-9]*$/;
        }
        else {
            var re = /^[0-9]+$/;
        }
        if (!re.test(new_word) && new_word != "") {
            alert("只能輸入數字");
        }
        else {
            $("#" + Markid).val(new_word);
        }
    }
</script>

<input id="key" type="hidden" value="" />
<form action="Insert" method="post">
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td colspan="3" style="padding:5px 0 5px 0;text-align:center;">
            <div class="funcArea">
                @Html.TextBox("txt_day", @DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px;", @readonly = "readonly" })
                @Html.TextBox("txt_time", @DateTime.Now.ToString("HH:mm"), new { style = "width:50px;", @readonly = "readonly" })
                <script type="text/javascript">
                    $(function () {
                        $('#txt_day').datetimepicker({
                            altField: "#txt_time",  maxDateTime: 0
                        });
                    });
                </script>
                <input id="but_save" class="btn" type="button" value="儲存紀錄" onclick="allselected();submit();" />
                <input id="quit" type="button" value="放棄" onclick="if(confirm('確認放棄?'))window.location.href='Index'" />
            </div>
        </td>
        <td rowspan="2" width="200">
            <table class="num_picker" cellpadding="3" >
                <tr>
                    <td>
                        <input type="button" value="  7  " class="num_but" onclick="btn_write('7');" /></td>
                    <td>
                        <input type="button" value="  8  " class="num_but" onclick="btn_write('8');" /></td>
                    <td>
                        <input type="button" value="  9  " class="num_but" onclick="btn_write('9');" /></td>
                    <td>
                        <input type="button" value="  0  " class="num_but" onclick="btn_write('0');" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="  4  " class="num_but" onclick="btn_write('4');" /></td>
                    <td>
                        <input type="button" value="  5  " class="num_but" onclick="btn_write('5');" /></td>
                    <td>
                        <input type="button" value="  6  " class="num_but" onclick="btn_write('6');" /></td>
                    <td>
                        <input type="button" value="  .  " class="num_but" onclick="btn_write('.');" /></td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="  1  " class="num_but" onclick="btn_write('1');" /></td>
                    <td>
                        <input type="button" value="  2  " class="num_but" onclick="btn_write('2');" /></td>
                    <td>
                        <input type="button" value="  3  " class="num_but" onclick="btn_write('3');" /></td>
                    <td>
                        <input type="button" value=" &crarr; " class="num_but" /></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div class="funcArea">
                <fieldset>
                    <legend>由口進食</legend>
                    <input type="button" value="液體" onclick="@Java_funcion.pup_window("IO_option2", 300, 300, "")" />
                    <input type="button" value="藥+水" onclick="@Java_funcion.pup_window("IO_option3", 300, 300, "")" />
                    <input type="button" value="固體" onclick="@Java_funcion.pup_window("IO_option1", 300, 300, "")" />
                    <br />
                </fieldset>
            </div>
        </td>
        <td>
            <div class="funcArea">
                <fieldset>
                    <legend>其他</legend>
                    <input type="button" value="鼻胃管進食" onclick="@Java_funcion.pup_window("IO_option4", 300, 300, "")" />
                    <input type="button" value="輸液" onclick="@Java_funcion.pup_window("IO_option5", 300, 300, "")" />
                    <br />
                </fieldset>
            </div>
        </td>
        <td>
            <div class="funcArea">
                <fieldset>
                    <legend>計量</legend>
                    <input type="button" value="班內計量" />
                    <input type="button" value="本日計量" />
                    <input type="button" value="單一類別計量" />
                </fieldset>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="padding:5px 0 5px 0;">
            <div class="dataHeader" id="dataHeader">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                    <tr>
                        <td style="width:50%;">輸入</td>
                        <td style="width:50%;">輸出</td>
                    </tr>
                </table>
            </div>
            <div class="dataArea" style="height:350px;width:100%;">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;height:90%;">
                    <tr class="trodd">
                        <td style="width:50%;height:40%;">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:100%;">
                                <tr>
                                    <th style="width:15%;font-weight:normal">類型</th>
                                    <th style="font-weight:normal;text-align:left;">
                                        @Html.DropDownList("intake_type", (List<SelectListItem>)ViewData["Intake_type"], new { onchange = "list_change();" })
                                        @Html.DropDownList("intake_reason", (List<SelectListItem>)ViewData["reason"], new { onclick = "intake_change();" })
                                        <input id="intake_reason_type" type="hidden" value="0" />
                                        @Html.TextBox("intake_amount", "", new { style = "width:50px;", onchange = "numcheck(this.id,this)", onfocus = "Mark(this.id);" })
                                        <select id="intake_amount_unit" name="intake_amount_unit">
                                            <option value="1">mL</option>
                                            <option value="2">次</option>
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="font-weight:normal">藥囑</th>
                                    <th style="font-weight:normal;text-align:left;">
                                        @Html.TextBox("txt_med", "", new { style = "width:80%;", disabled = "disabled" })
                                    </th>
                                </tr>
                                <tr>
                                    <th style="font-weight:normal">類型</th>
                                    <th style="font-weight:normal;text-align:left;">
                                        @Html.DropDownList("intake_project", (List<SelectListItem>)ViewData["intake_project"], new { disabled = "disabled" })
                                        @Html.TextBox("intake_txt_project", "", new { style = "width:60%;", disabled = "disabled" })
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td valign="top" style="width:50%; height:40%;">
                             <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                <tr>
                                    <th style="width:15%;height:40px;font-weight:normal">類型</th>
                                    <th style="font-weight:normal;text-align:left;">
                                        @Html.DropDownList("output_type", (List<SelectListItem>)ViewData["Outpt_type"], new { onchange = "output_type_change();" })
                                        @Html.DropDownList("output_reason", (List<SelectListItem>)ViewData["reason"], new { onchange = "output_reason_change();" })
                                        <input id="output_reason_type" type="hidden" value="0" />
                                        @Html.TextBox("output_amount", "", new { style = "width:50px;", onchange = "numcheck(this.id,this)", onfocus = "Mark(this.id);" }) 
                                        <select id="output_amount_unit" name="output_amount_unit">
                                            <option value="1">mL</option>
                                            <option value="2">次</option>
                                        </select>
                                    </th>
                                </tr>
                                <tr id="tr_output_sort" style="display:none;">
                                    <th style="width:15%;height:40px;font-weight:normal">種類</th>
                                    <th style="font-weight:normal;text-align:left;">
                                        @Html.DropDownList("output_sort_drainage", (List<SelectListItem>)ViewData["output_sort_drainage"], new { onchange = "select_other($(this).val(),'txt_other_output_sort');" })
                                        @Html.TextBox("txt_other_output_sort", "", new { style = "width:80px;", disabled = "disabled" })
                                    </th>
                                </tr>
                                <tr id="tr_output_color">
                                    <th style="width:15%;height:40px;font-weight:normal">顏色</th>
                                    <th style="font-weight:normal;text-align:left;">
                                        @Html.DropDownList("output_color_urine", (List<SelectListItem>)ViewData["output_color_urine"], new { onchange = "select_other($(this).val(),'txt_other_output_color');" })
                                        @Html.DropDownList("output_color_vomit", (List<SelectListItem>)ViewData["output_color_vomit"], new { style = "display:none;", onchange = "select_other($(this).val(),'txt_other_output_color');" })
                                        @Html.DropDownList("output_color_drainage", (List<SelectListItem>)ViewData["output_color_drainage"], new { style = "display:none;", onchange = "select_other($(this).val(),'txt_other_output_color');" })
                                        @Html.DropDownList("output_color_gastric", (List<SelectListItem>)ViewData["output_color_gastric"], new { style = "display:none;", onchange = "select_other($(this).val(),'txt_other_output_color');" })
                                        @Html.TextBox("txt_other_output_color", "", new { style = "width:80px;", disabled = "disabled" })
                                    </th>
                                </tr>
                                <tr id="tr_output_nature">
                                    <th style="width:15%;height:40px;font-weight:normal">性質</th>
                                    <th style="font-weight:normal;text-align:left;">
                                        @Html.DropDownList("output_nature_urine", (List<SelectListItem>)ViewData["output_nature_urine"], new { onchange = "select_other($(this).val(),'txt_other_output_nature');" })
                                        @Html.DropDownList("output_nature_vomit", (List<SelectListItem>)ViewData["output_nature_vomit"], new { style = "display:none;", onchange = "select_other($(this).val(),'txt_other_output_nature');" })
                                        @Html.DropDownList("output_nature_drainage", (List<SelectListItem>)ViewData["output_nature_drainage"], new { style = "display:none;", onchange = "select_other($(this).val(),'txt_other_output_nature');" })
                                        @Html.DropDownList("output_nature_gastric", (List<SelectListItem>)ViewData["output_nature_gastric"], new { style = "display:none;", onchange = "select_other($(this).val(),'txt_other_output_nature');" })
                                        @Html.TextBox("txt_other_output_nature", "", new { style = "width:80px;", disabled = "disabled" })
                                    </th>
                                </tr>
                                <tr id="tr_output_taste" style="display:none;height:40px;">
                                    <th style="font-weight:normal;height:35px;">味道</th>
                                    <th style="font-weight:normal;text-align:left;">
                                        @Html.DropDownList("output_taste_drainage", (List<SelectListItem>)ViewData["output_taste_drainage"], new { onchange = "select_other($(this).val(),'txt_other_output_taste');" })
                                        @Html.TextBox("txt_other_output_taste", "", new { style = "width:80px;", disabled = "disabled" })
                                    </th>
                                </tr>
                                <tr id="tr_output_remark" style="display:none;height:40px;">
                                    <th style="width:15%;font-weight:normal;height:35px;">備註</th>
                                    <th style="font-weight:normal;text-align:left;">
                                        @Html.TextBox("txt_other_output_remark", "", new { style = "width:80%;" })
                                    </th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr class="treven">
                        <td style="width:50%; height:60%;">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:100%;">
                                <tr>
                                    <th style="height:20%; font-weight:normal; vertical-align:top;">
                                        <div class="funcArea">
                                            <input type="button" value="新增" style="width:60px;" onclick="add_intake();count_amount('Intake_content','intake_count');" />
                                            <input type="button" value="刪除" style="width:60px;" onclick="del_list('Intake_content');count_amount('Intake_content','intake_count');" />
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="height:70%; font-weight:normal;">
                                        <select id="Intake_content" name="Intake_content" multiple="multiple" style="width:95%;height:95%;">
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="padding-left:5px;height:10%;text-align:left; font-weight:normal;">
                                        <span style="color:Red;">小計：</span>
                                        <label id="intake_count" style=" color:Red;"></label>
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td style="width:50%; height:60%;">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:100%;">
                                <tr>
                                    <th style="height:20%; font-weight:normal; vertical-align:top;">
                                        <div class="funcArea">
                                            <input type="button" value="新增" style="width:60px;" onclick="add_output();count_amount('Output_content','output_count');" />
                                            <input type="button" value="刪除" style="width:60px;" onclick="del_list('Output_content');count_amount('Output_content','output_count');" />
                                        </div>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="height:70%; font-weight:normal;">
                                        <select id="Output_content" name="Output_content" multiple="multiple" style="width:95%;height:95%;">
                                        </select>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="padding-left:5px;height:10%;text-align:left; font-weight:normal;">
                                        <span style="color:Red;">小計：</span>
                                        <label id="output_count" style=" color:Red;"></label>
                                    </th>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            @*<table border="0" cellpadding="2" cellspacing="2" style="width:100%;" >
                <tr>
                    <th style=" background-color: #99CCFF;height:35px;width:20%;">類型</th>
                    <td rowspan="8" style="text-align:center;padding:4px 7px 2px 4px;background-color: #b1e1fc;width:30%;">
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                            <tr><td style="padding:4px 7px 2px 4px;">
                                <div class="funcArea">
                                    輸入
                                    <input type="button" value="新增" style="width:60px;" onclick="add_intake();" />
                                    <input type="button" value="刪除" style="width:60px;" onclick="del_list('Intake_content');" />
                                </div>
                            </td></tr>
                            <tr><td style="text-align:center;padding:4px 7px 2px 4px;">
                                <select id="Intake_content" name="Intake_content" multiple="multiple" style="width:95%;height:250px;">
                                </select>
                            </td></tr>
                            <tr><td style="padding:4px 7px 2px 4px;">
                                <span style="color:Red;">小計：</span>
                            </td></tr>
                        </table>
                    </td>
                    <th style=" background-color: #99CCFF;height:35px;width:20%;">類型</th>
                    <td rowspan="8" style="text-align:center;padding:4px 7px 2px 4px;background-color: #b1e1fc;width:30%;">
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                            <tr><td style="text-align:center;padding:4px 7px 2px 4px;">
                                <div class="funcArea">
                                    輸出
                                    <input type="button" value="新增" style="width:60px;" onclick="add_output();" />
                                    <input type="button" value="刪除" style="width:60px;" onclick="del_list('Output_content');" />
                                </div>
                            </td></tr>
                            <tr><td style="text-align:center;padding:4px 7px 2px 4px;">
                                <select id="Output_content" multiple="multiple" style="width:95%;height:250px;">
                                </select>
                            </td></tr>
                            <tr><td style="text-align:center;padding:4px 7px 2px 4px;">
                                
                            </td></tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style=" background-color: #b1e1fc;">
                        <table border="0" cellpadding="0" cellspacing="0" style="text-align:center;width:100%;" >
                            <tr>
                                <td style="height:35px;">
                                    @Html.DropDownList("intake_type", (List<SelectListItem>)ViewData["Intake_type"], new { onchange = "list_change();" })
                                </td>
                            </tr>
                            <tr>
                                <td style="height:35px;">
                                    @Html.DropDownList("intake_reason", (List<SelectListItem>)ViewData["reason"], new { onclick = "intake_change();" })
                                    <input id="intake_reason_type" type="hidden" value="0" />
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style=" background-color: #b1e1fc;">
                        <table border="0" cellpadding="0" cellspacing="0" style="text-align:center;width:100%;" >
                            <tr>
                                <td style="height:35px;">
                                    @Html.DropDownList("output_type", (List<SelectListItem>)ViewData["Outpt_type"])
                                </td>
                            </tr>
                            <tr>
                                <td style="height:35px;">
                                    @Html.DropDownList("output_reason", (List<SelectListItem>)ViewData["reason"], new { onclick = "output_change();" })
                                    <input id="output_reason_type" type="hidden" value="0" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <th style=" background-color: #99CCFF;height:35px;">數量</th>
                    <th style=" background-color: #99CCFF;height:35px;">數量</th>
                </tr>
                <tr>
                    <td style=" background-color: #b1e1fc;text-align:center;height:35px;">
                        @Html.TextBox("intake_amount", "", new { style = "width:50px;", onchange = "numcheck(this.id,this)" }) mL
                    </td>
                    <td style=" background-color: #b1e1fc;text-align:center;height:35px;">
                        @Html.TextBox("output_amount", "", new { style="width:50px;" }) 
                        <select>
                            <option>mL</option>
                            <option>次</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th style=" background-color: #99CCFF;height:35px;">藥囑</th>
                    <th style=" background-color: #99CCFF;height:35px;">顏色</th>
                </tr>
                <tr>
                    <td style="text-align:center; background-color: #b1e1fc;height:35px;">
                        @Html.TextBox("txt_med", "", new { style = "width:80%;", disabled = "disabled" })
                    </td>
                    <td style="text-align:center; background-color: #b1e1fc;height:35px;">
                        <select id="color">
                            <option value="-1">請選擇(色)</option>
                            <option>紅色</option>
                            <option>咖啡色</option>
                            <option>黃綠色</option>
                            <option>黃色</option>
                            <option>透明</option>
                            <option>其他</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th style=" background-color: #99CCFF;height:35px;">項目</th>
                    <th style=" background-color: #99CCFF;height:35px;">性質</th>
                </tr>
                <tr>
                    <td style="text-align:center; background-color: #b1e1fc;height:65px;">
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;text-align:center;">
                            <tr>
                                <td style="height:30px;">
                                    @Html.DropDownList("intake_project", (List<SelectListItem>)ViewData["intake_project"], new { disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td style="height:30px;">
                                    @Html.TextBox("intake_txt_project", "", new { style = "width:80%;", disabled = "disabled" })
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="text-align:center; background-color: #b1e1fc;height:35px;">
                        <select id="nature">
                            <option value="-1">請選擇(性質)</option>
                            <option>塊狀</option>
                            <option>消化液</option>
                            <option>食物</option>
                            <option>寄生蟲</option>
                            <option>其他</option>
                        </select>
                    </td>
                </tr>
            </table>*@
        </td>
    </tr>
</table>
</form>


@*//新增Intake內容_全部項目驗證
    function add_intake() {
        var reason_type = $("#intake_reason_type").val();
        var date = $("#txt_day").val() + " " + $("#txt_time").val();
        var type = $("#intake_type").find("option:selected").text();
        var typeid = $("#intake_type").val();
        var reasonid = $("#intake_reason").val();
        var amount = $("#intake_amount").val();
        var med = $("#txt_med").val();
        var lavageid = $("#intake_project").val();
        var lavagelsid = $("#intake_project").find("option:selected").text();
        var lavagcontent = $("#intake_txt_project").val();

        if (reason_type == "0") {
            if ($.trim(amount) != '') {
                if (typeid == '1' || typeid == '2' || typeid == '3' || typeid == '4') {
                    var newcontent = date + " " + type + " " + amount + "mL ";
                    var values = date + "_" + typeid + "_" + "-1" + "_" + amount + "_" + "" + "_" + "-1" + "_" + "";
                    innerlist('Intake_content', newcontent, values);
                }
                else {
                    if ($.trim(med) != '') {
                        if (typeid == '5' || typeid == '6' || typeid == '7') {
                            var newcontent = date + " " + type + " " + amount + "mL " + med;
                            var values = date + "_" + typeid + "_" + "-1" + "_" + amount + "_" + med + "_" + "-1" + "_" + "";
                            innerlist('Intake_content', newcontent, values);
                        }
                        else if (typeid == '8') {
                            if (lavagelsid != "-1") {
                                if ($.trim(lavagcontent) != '') {
                                    var newcontent = date + " " + type + " " + amount + "mL " + lavagelsid + " " + lavagcontent + " " + med;
                                    var values = date + "_" + typeid + "_" + "-1" + "_" + amount + "_" + med + "_" + lavageid + "_" + lavagcontent;
                                    innerlist('Intake_content', newcontent, values);
                                }
                                else {
                                    alert('請輸入項目內容');
                                }
                            }
                            else {
                                alert('請選擇項目');
                            }
                        }
                    }
                    else {
                        alert('請輸入醫囑');
                    }
                }
            }
            else {
                alert('請輸入數量');
            }
        }
        else {
            var newcontent = date + " " + type + " 有" + $("#intake_reason").find("option:selected").text() + "紀錄";
            var values = date + "_" + typeid + "_" + reasonid + "_" + "0" + "_" + "" + "_" + "-1" + "_" + "";
            innerlist('Intake_content', newcontent, values);
        }
    }*@