@using NIS.Data;
@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    ViewBag.Title = "PartialData";
    string feeno = ViewBag.feeno;
    string type = ViewBag.type;
    string TempTitleName = "";
    switch(type)
    {
        case "exam":
            TempTitleName = "檢查";
            break;
        case "op":
            TempTitleName = "手術";
            break;
        case "call":
            TempTitleName = "會診";
            break;
    }
    string title = "病人清單-" + TempTitleName;
}
<style type="text/css">
    .dataArea
    {
        border-top: 1px solid #666;
        border-bottom: 1px solid #666;
        scrollbar-shadow-color: #1a1a1a;
        scrollbar-3dlight-color: #666666;
    }

        .dataArea th
        {
            background-color: #85A5CC;
            border-bottom: 1px solid rgba(20%,20%,40%,0.5);
            text-align: center;
            min-height: 30px;
        }

        .dataArea td
        {
            border-bottom: 1px solid rgba(20%,20%,40%,0.5);
            text-align: center;
        }

    .item
    {
        color: blue;
        font-weight: bold;
    }

    #module_define
    {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }

    .funcArea LEGEND
    {
        margin-left: 5px;
        background: #FFF;
        padding: 3px 7px 2px 7px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        font-size: 14px;
    }
</style>
<script type="text/javascript">
    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#E1E6FA');
        $('.dataArea tr:even').css('background', '#ABC8E2');
    }

    $(document).ready(function () {
        setGridColor();
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 190);
        }).trigger("resize");
    });
</script>
<div class="funcArea" style="width: 100%; text-align: center;">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
        <tr>
            <td colspan="1" align="center">
                <div id="module_define" style="width: 100%; text-align: center;">@(title)</div>
            </td>
        </tr>
        <tr style="">
            <td align="center">
                <div class="dataArea" style="overflow: auto;">
                    @{
                        if(ViewData["exam"] != null && ((List<Exam>)ViewData["exam"]).Count > 0)
                        {
                            //檢查
                            List<Exam> examlist = (List<Exam>)ViewData["exam"];
                        <table border="0" cellpadding="4" cellspacing="1" width="100%">
                            <tr>
                                <th style="width: 10%">開單日期</th>
                                <th style="width: 30%">執行日期</th>
                                <th style="width: 45%">檢查項目</th>
                                <th style="width: 15%">檢查結果</th>
                                @*<th>備 註</th>*@
                            </tr>
                            @for(int e = 0; e <= examlist.Count - 1; e++)
                            {
                                <tr>
                                    <td style="width: 10%">
                                        @if(@Convert.ToDateTime(@examlist[e].OrderDate) != DateTime.MinValue)
                                        {
                                            @examlist[e].OrderDate.ToString("yyyy/MM/dd HH:mm")
                                        }
                                    </td>
                                    <td style="width: 30%">
                                        @if(@Convert.ToDateTime(@examlist[e].ExamDate) != DateTime.MinValue)
                                        {
                                            @examlist[e].ExamDate.ToString("yyyy/MM/dd HH:mm")
                                        }
                                    </td>
                                    <td style="text-align: center; width: 45%">@examlist[e].ExamName.ToString().Trim()</td>
                                    <td style="width: 15%">@examlist[e].ExamReport</td>
                                    @*<td>            
                <textarea name="exam_@examlist[e].ExamNo" cols="50" rows="3" class="edit" style="width:97%" border="0"></textarea>
            </td>*@
                                </tr>
                            }
                        </table>
                        }
                        else if(ViewBag.type.ToString() == "exam")
                        {
                        @Html.Raw("目前無資料")
                        }

                        if(ViewData["call"] != null && ((List<Consultation>)ViewData["call"]).Count > 0)
                        {
                            //會診
                            List<Consultation> ConsultationList = (List<Consultation>)ViewData["call"];
                        <table border="0" cellpadding="4" cellspacing="1" width="100%">
                            <tr>
                                <th style="width: 20%">開單日期</th>
                                <th style="width: 20%">會診醫師</th>
                                <th style="width: 20%">會診科別</th>
                                <th style="width: 40%">會診結果</th>
                                @*<th style="width:15%">備註</th>*@
                            </tr>
                            @for(int e = 0; e < ConsultationList.Count; e++)
                            {              
                                <tr>
                                    <td style="width: 20%">@ConsultationList[e].OrderDate.ToString("yyyy/MM/dd HH:mm")</td>
                                    <td style="width: 20%">@ConsultationList[e].ConsDoc.ToString().Trim()</td>
                                    <td style="width: 20%">@ConsultationList[e].ConsDept.ToString().Trim()</td>
                                    <td style="width: 40%">@ConsultationList[e].ConsContent.ToString().Trim()</td>
                                    @*<td style="width: 15%">
                <textarea name="call_@(ConsultationList[e].OrderNo)" cols="50" rows="3" style="width:97%;height:100%" border="0"></textarea>
            </td>*@
                                </tr>
                            }
                        </table>
                        }
                        else if(ViewBag.type.ToString() == "call")
                        {
                        @Html.Raw("目前無資料")
                        }

                        if(ViewData["oper"] != null && ((List<Surgery>)ViewData["oper"]).Count > 0)
                        {
                            //手術
                            List<Surgery> SurgeryList = (List<Surgery>)ViewData["oper"];
                        <table border="0" cellpadding="4" cellspacing="1" width="100%">
                            <tr>
                                <th style="width: 40%">手術日期</th>
                                <th style="width: 60%">手術內容</th>
                                @*<th style="width:40%">備註</th>*@
                            </tr>
                            @for(int e = 0; e <= SurgeryList.Count - 1; e++)
                            {
                                <tr>
                                    <td style="width: 40%">@SurgeryList[e].SurgeryDate.ToString("yyyy/MM/dd")</td>
                                    <td style="width: 60%; text-align: left;">@SurgeryList[e].SurgeryContent.ToString().Trim()</td>
                                    @* <td style="width:40%;">
                <textarea name="oper_"@(SurgeryList[e].SurgeryNo.ToString()) cols="10" rows="9" class="edit"></textarea>
            </td>*@
                                </tr>
                            }
                        </table>
                        }
                        else if(ViewBag.type.ToString() == "op")
                        {
                        @Html.Raw("目前無資料")
                        }
    
    
                    }
                </div>
            </td>
        </tr>
    </table>
</div>
