@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">
    #item_dtl {
        overflow-y: scroll;
        height: 300px;
        border-top: 2px solid #666;
        border-bottom: 2px solid #666;
        width: 830px;
    }

    table {
        table-layout: fixed;
        white-space: nowrap;
    }

    #item_header td {
        text-align: center;
    }

    #item_body input[type=text]:hover {
        border: 1px solid #000000;
        background-color: #FFFFFF;
    }

    #item_header input[type=text], #item_body input[type=text] {
        background-color: transparent;
        width: 240px;
        padding: 3px 3px 3px 3px;
        border: 1px solid #999999;
    }

    #item_body input[type=checkbox] {
        display: block;
        padding: 0px;
        width: 22px;
        height: 22px;
    }

    #item_header td {
        background-color: #85A5CC;
    }
</style>

<script type="text/javascript">
    
    $(document).ready(function () {
        setColor();
    });
</script>
<table width="670" id="item_header" cellpadding="4" cellspacing="1">
    <tr>
        <td width="50">刪除</td>
        <td width="120">參數編號</td>
        <td width="250">顯示文字</td>
        <td width="250">值</td>
    </tr>
</table>
<div id="item_dtl">
    <table width="670" id="item_body" cellpadding="4" cellspacing="1">
        @{
            List<SysParamItem> paramlist = (List<SysParamItem>)ViewData["SysParamList"];
            for (int i = 0; i <= paramlist.Count - 1; i++)
            {
            <tr editid="@(paramlist[i].p_id)">
                <td width="50" align="center">
                    <input type="checkbox" name="edit_id" value="@(paramlist[i].p_id)" title="@(paramlist[i].p_id)" />
                    @Html.Hidden("p_id", paramlist[i].p_id)
                    @Html.Hidden("p_model", paramlist[i].p_model)
                    @Html.Hidden("p_group", paramlist[i].p_group)
                    @Html.Hidden("p_lang", paramlist[i].p_lang)
                    @Html.Hidden("p_memo", paramlist[i].p_memo)
                </td>
                <td width="120">
                    @Html.Label("v_id", paramlist[i].p_id)
                </td>
                <td width="250">@Html.TextBox("p_name", paramlist[i].p_name)</td>
              
                <td width="250">@Html.TextBox("p_value", paramlist[i].p_value)</td>
            </tr>
            }
        
        }
    </table>
</div>