@using System.Data;
@{
    ViewBag.Title = "ER_Permissions";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable f_list_dt = ViewBag.function_list;
}
<style type="text/css">
    #maintb {
        table-layout: fixed;
    }

    #member_list {
        display: inline-block;
        border: none;
        width: 150px;
        height: 320px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

        #member_list span {
            display: inline-block;
            width: 130px;
            background-color: #b8f1e8;
            border: 1px solid #0094ff;
            margin-top: 2px;
        }

    #funcContent .normal {
        display: inline-block;
        width: 200px;
        line-height: 24px;
        margin-top: 2px;
        background-color: #eeddff;
        border: 1px solid #cc33ff;
    }

    #funcContent .defaultpage {
        display: inline-block;
        width: 200px;
        line-height: 24px;
        margin-top: 2px;
        background-color: #FFFFCC;
        border: 1px solid #FFCC33;
    }

    #funcContent {
        border-top: 2px solid #666;
        border-bottom: 2px solid #666;
        height: 340px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    #funcList {
        width: 100%;
    }

    input[type=button] {
        margin: 1px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        
    });
    function save() {
        $.ajax({
            type: "Post",
            url: '@Url.Content("~/Function/ER_Permissions")',
            cache: false,
            data: {
                mo_id: $('[name=mo_id]:checked').map(function () { return $(this).val(); }).get().join(',')
            },
            success: function (reslut) {
                alert('儲存成功！');
            },
            Complete: function () {

            },
            error: function () {
                alert('儲存失敗！');
            }
        });
        
    }
</script>
<h2>急診權限維護</h2>
<input type="button" value="儲存" onclick="save();" />
<div id="funcContent">
@{
    for (int i = 0; i < f_list_dt.Rows.Count; i++)
    {
        <span class="normal">
            @if (f_list_dt.Rows[i]["CHECKED"].ToString() == "Y")
            {
            <label><input type="checkbox" name="mo_id" value="@(f_list_dt.Rows[i]["MO_ID"])" checked="checked" />@(f_list_dt.Rows[i]["BUTTON_NAME"])</label>
            }
            else
            {
            <label><input type="checkbox" name="mo_id" value="@(f_list_dt.Rows[i]["MO_ID"])" />@(f_list_dt.Rows[i]["BUTTON_NAME"])</label>
            }
        </span>
    }
}
</div>