@using NIS.Data;
@{
    if(ViewData["modellist"] != null)
    {
        List<ModelItem> modelList = (List<ModelItem>)ViewData["modellist"];    
    
        for(int i=0;i<= modelList.Count-1;i++)
        {
            string modelchecked = string.Empty, classname = string.Empty ;
            if (modelList[i].has_model == "Y"){
                modelchecked = "checked=\"checked\"";
            }
            if(modelList[i].set_default_page == "Y"){
                classname = "defaultpage";
            }else{
                classname = "normal";
            }
            <label>
                <span class="@(classname)">
                    <input type="checkbox" name="selectfunc" value="@(modelList[i].mo_id)" set_default_page="@(modelList[i].set_default_page)" @(modelchecked)/>
                    @(modelList[i].button_name)
                </span>
            </label>
        }
    }
}