@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<link rel="Stylesheet" type="text/css" href="~/Content/StyleSheet/naStyle.css" />
<script type="text/javascript">

    // 格行換色
    function setColor() {
        $('.dataHeader th').css('background', '#85A5CC');
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
        $('#temp_zone').css("background", "#FFCCFF");
    }

    $(document).ready(function () {

        setColor();

        //設為正式護理評估
        $("#but_set").click(function () {
            if (confirm("確認後則會更新線上版本喔!!")) {
                var na_id = $(this).attr("editid");
                $.ajax({
                    url: "../Function/NaMain_Set",
                    type: "post",
                    data: "na_id=" + na_id,
                    success: function (data) {
                        if (data != "Y") {
                            showHint("設定失敗");
                        } else {
                            location.href = "../Function/Na_Index?na_type=" + $("#na_type").val();
                        }
                    }
                });
            }
        });
        //編輯護理評估內容
        $("#but_edit").click(function () {
            location.href = "../Function/Na_Tag?na_id=" + $(this).attr("editid");
        });

    });
</script>



<div class="dataHeader">
    <table border="0" cellpadding="4" cellspacing="1" width="100%">
        <tr>
            <th width="110">編輯功能</th>
            <th width="250">評估單名稱</th>
            <th>版本描述</th>
            <th width="150">ISO文號</th>
            <th width="100">版本</th>
        </tr>
    </table>
</div>
<div class="dataArea">
    @{
        if (ViewData["na_main_list"] != null)
        {
            List<NursingAssessmentMain> na_main_list = (List<NursingAssessmentMain>)ViewData["na_main_list"];
            if (na_main_list.Count != 0)
            {
        <table border="0" cellpadding="4" cellspacing="1" width="100%">
            <tbody id="new_edit_area">
            </tbody>
            @for (int i = 0; i <= na_main_list.Count - 1; i++)
            {              
                
                switch (na_main_list[i].na_status)
                {
                    case NursingAssessment_Status.T:
                        <tr id="temp_zone">
                            <td width="110">
                                <input type="button" id="but_edit" editid="@(na_main_list[i].na_id)" value="編輯" title="編輯此臨時版本" />
                                <input type="button" id="but_set" editid="@(na_main_list[i].na_id)" value="正式" title="設定此版本護理評估為正式護理評估" />
                                <input type="hidden" name="na_id" value="@(na_main_list[i].na_id)" />
                                <input type="hidden" name="@(na_main_list[i].na_id)_na_status" value="@(na_main_list[i].na_status)" />
                            </td>
                            <td width="250">
                                @(na_main_list[i].na_name)
                            </td>
                            <td style="text-align: left;">
                                <input type="text" name="@(na_main_list[i].na_id)_na_desc" value="@(na_main_list[i].na_desc)" />
                            </td>
                            <td width="150">
                                <input type="text" name="@(na_main_list[i].na_id)_na_iso" value="@(na_main_list[i].na_iso)" />
                            </td>
                            <td width="100">
                                <input type="text" name="@(na_main_list[i].na_id)_na_version" value="@(na_main_list[i].na_version)" />
                            </td>
                        </tr>
                        break;
                    case NursingAssessment_Status.C:
                        <tr id="copy_zone">
                            <td width="110">
                                <input type="button" editid="@(na_main_list[i].na_id)" value="線上使用版本" title="僅能修改名稱、描述、文號" disabled="disabled" />
                                <input type="hidden" name="na_id" value="@(na_main_list[i].na_id)" />
                                <input type="hidden" name="@(na_main_list[i].na_id)_na_status" value="@(na_main_list[i].na_status)" />
                            </td>
                            <td width="250">
                                @(na_main_list[i].na_name)
                            </td>
                            <td style="text-align: left;">
                                <input type="text" name="@(na_main_list[i].na_id)_na_desc" value="@(na_main_list[i].na_desc)" />
                            </td>
                            <td width="150">
                                <input type="text" name="@(na_main_list[i].na_id)_na_iso" value="@(na_main_list[i].na_iso)" />
                            </td>
                            <td width="100">
                                <input type="text" name="@(na_main_list[i].na_id)_na_version" value="@(na_main_list[i].na_version)" readonly="readonly" />
                            </td>
                        </tr>
                        break;
                    case NursingAssessment_Status.O:
                        <tr>
                            <td width="110">
                                <input type="button" editid="@(na_main_list[i].na_id)" value="歷史版本" title="不可編輯" disabled="disabled"/>
                            </td>
                            <td width="200">
                                @(na_main_list[i].na_name)
                            </td>
                            <td style="text-align: left;">
                                <input type="text" name="@(na_main_list[i].na_id)_na_desc" value="@(na_main_list[i].na_desc)" readonly="readonly"/>
                            </td>
                            <td width="150">
                                <input type="text" name="@(na_main_list[i].na_id)_na_iso" value="@(na_main_list[i].na_iso)" readonly="readonly"/>
                            </td>
                            <td width="100">
                                <input type="text" name="@(na_main_list[i].na_id)_na_version" value="@(na_main_list[i].na_version)" readonly="readonly"/>
                            </td>
                        </tr>
                        break;
                }
            }
        </table>
            }
        }
    
    }

</div>
