@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    if(ViewBag.mode == "edit")
    {
        <script type="text/javascript">
            $(function () {
                setColor();
                var list = $('#item_body_item select');
                for (var i = 0; i < list.length; i++) {
                    $(list[i]).val($(list[i]).attr('dvalue'));
                }
            });
        </script>
    <form class="item" id="form_item" action="Health_Education_Item_Upd" method="post">
        <div id="dataHeader_item" class="dataHeader">
            <table class="item_header" border="0" cellpadding="4" cellspacing="1" style="table-layout:fixed; white-space:nowrap;">
                <tr>
                    <td style="width:120px;"><div style="width:120px; overflow:hidden;"></div></td>
                    <td style="width:160px;"><div style="width:160px; overflow:hidden;">科別</div></td>
                    @*<td style="width:160px;"><div style="width:160px; overflow:hidden;">次科別</div></td>*@
                    <td style="width:160px;"><div style="width:160px; overflow:hidden;">說明類別</div></td>
                    <td style="width:240px;"><div style="width:240px; overflow:hidden;">項目名稱</div></td>
                    <td style="width:450px;"><div style="width:450px; overflow:hidden;">參考文件位置</div></td>
                    <td style="width:450px;"><div style="width:450px; overflow: hidden;">指導細項(多筆請以|隔開)</div></td>
                    <td style="width:220px;"><div style="width:220px; overflow:hidden;">診斷碼代碼(多筆請以，隔開)</div></td>
                </tr>
            </table>
        </div>
        <div class="dataArea" onscroll="document.getElementById('dataHeader_item').scrollLeft = this.scrollLeft;" style="height:280px; width:100%;">
            <input type="submit" id="item_save" style="display:none;" />
            <table id="item_body_item" cellpadding="4" cellspacing="1">
                @if (dt != null && dt.Rows.Count > 0)
                {
                    foreach(DataRow r in dt.Rows)
                    {
                <tr>
                    <td align="center" style="width:120px;"><div style="width:120px; overflow:hidden;">
                        <label><input type="radio" name="del_ID_@r["ITEM_ID"]" value="Y" @((r["SHOW"].ToString() == "Y")? "checked": "") />啟用</label>
                        <label><input type="radio" name="del_ID_@r["ITEM_ID"]" value="N" @((r["SHOW"].ToString() == "N")? "checked": "") />停用</label>
                        <input type="hidden" name="item_mode" value="Update" />
                        <input type="hidden" name="item_id" value="@r["ITEM_ID"]" />
                    </div></td>
                    <td style="width:160px;"><div style="width:160px; overflow:hidden;">
                        @Html.DropDownList("division", (List<SelectListItem>)ViewData["division"], new { dvalue = r["CATEGORY_ID"] })
                    </div></td>
                    @*<td style="width:160px;"><div style="width:160px; overflow:hidden;">
                        @Html.DropDownList("branch_division", (List<SelectListItem>)ViewData["branch_division"], new { dvalue = r["SECOND_CATEGORY_ID"] })
                    </div></td>*@
                    <td style="width:160px;"><div style="width:160px; overflow:hidden;">
                        @Html.DropDownList("explanation", (List<SelectListItem>)ViewData["explanation"], new { dvalue = r["EXPLANATION_ID"] })
                    </div></td>
                    <td align="center" style="width:240px;"><div style="width:240px; overflow:hidden;">
                        @Html.TextBox("item_name", r["NAME"], new { style = "width:90%;" })
                    </div></td>
                    <td style="width:450px;"><div style="width:450px; overflow:hidden;">
                        @Html.TextBox("route", r["ITEM_REFERENCE_URL"], new { style = "width:95%;" })
                    </div></td>
                    <td style="width:450px;"><div style="width:450px; overflow:hidden;">
                            @Html.TextBox("item", r["ITEM_CATEGORY"].ToString(), new { style = "width:95%;" })
                        </div>
                    </td>
                    <td style="width:220px;"><div style="width:220px; overflow:hidden;">
                        @Html.TextBox("icd", r["ICD9_ID"].ToString().Replace("|",","), new { style = "width:90%;" })
                    </div></td>
                </tr>
                    }
                }
            </table>
        </div>
    </form>
    }
    else
    {
        <script type="text/javascript">
            $(function () {
                insert_tr('item_body_item');
                //if ($('#branch_division').val() == null) {
                //    alert('請先新增一筆次科別');
                //    $('#maintain_branch_division').click();
                //    document.getElementById('maintain_branch_division_back').disabled = true;
                //    $('#maintain_branch_division_back').css("background-color", "gray");
                //    $('#maintain_branch_division_back').css("color", "white");
                //}                                       
                //else
                if ($('#explanation').val() == null) {
                    alert('請先新增一筆說明類別');
                    $('#maintain_explanation').click();
                    document.getElementById('maintain_explanation_back').disabled = true;
                    $('#maintain_explanation_back').css("background-color", "gray");
                    $('#maintain_explanation_back').css("color", "white");
                }

            });
        </script>
    <form class="item" id="form_item" action="Health_Education_Item_Insert" method="post">
        <div id="dataHeader_item" class="dataHeader">
            <table class="item_header" border="0" cellpadding="4" cellspacing="1" style="table-layout:fixed; white-space:nowrap;">
                <tr>
                    <td style="width:50px;"><div style="width:50px; overflow:hidden;">刪除</div></td>
                    <td style="width:160px;"><div style="width:160px; overflow:hidden;">科別</div></td>
                    @*<td style="width:160px;"><div style="width:160px; overflow:hidden;">次科別</div></td>*@
                    <td style="width:160px;"><div style="width:160px; overflow:hidden;">說明類別</div></td>
                    <td style="width:240px;"><div style="width:240px; overflow:hidden;">項目名稱</div></td>
                    <td style="width:450px;"><div style="width:450px; overflow:hidden;">參考文件位置</div></td>
                    <td style="width:450px;"><div style="width:450px; overflow: hidden;">指導細項(多筆請以|隔開)</div></td>
                    <td style="width:220px;"><div style="width:220px; overflow:hidden;">診斷碼代碼(多筆請以，隔開)</div></td>
                </tr>
            </table>
        </div>
        <div class="dataArea" onscroll="document.getElementById('dataHeader_item').scrollLeft = this.scrollLeft;" style="height:320px; width:100%;">
            <input type="submit" id="item_save" style="display:none;" />
            <table id="item_body_item" cellpadding="4" cellspacing="1">
                <tr style="display:none;">
                    <td align="center" style="width:50px;"><div style="width:50px; overflow:hidden;">
                        <img src="~/Images/minus.png" style="cursor:pointer;width:16px;" title="刪除此筆" alt="刪除此筆" onclick="if ($('#item_body_item tr').length > 2) {$(this.parentNode.parentNode.parentNode).remove();setColor();}else{ alert('無法刪除最後一筆!');}" />
                        <input type="hidden" name="item_mode" value="Insert" />
                        <input type="hidden" name="item_id" value="Insert" />
                    </div></td>
                    <td style="width:160px;"><div style="width:160px; overflow:hidden;">
                        @Html.DropDownList("division", (List<SelectListItem>)ViewData["division"])
                    </div></td>
                    @*<td style="width:160px;"><div style="width:160px; overflow:hidden;">
                        @Html.DropDownList("branch_division", (List<SelectListItem>)ViewData["branch_division"])
                    </div></td>*@
                    <td style="width:160px;"><div style="width:160px; overflow:hidden;">
                        @Html.DropDownList("explanation", (List<SelectListItem>)ViewData["explanation"])
                    </div></td>
                    <td align="center" style="width:240px;"><div style="width:240px; overflow:hidden;">
                        @Html.TextBox("item_name", "", new { style = "width:90%;" })
                    </div></td>
                    <td style="width:450px;"><div style="width:450px; overflow:hidden;">
                        @Html.TextBox("route", "", new { style = "width:95%;" })
                    </div></td>
                    <td style="width:450px;">
                        <div style="width:450px; overflow:hidden;">
                            @Html.TextBox("item","", new { style = "width:95%;" })
                        </div>
                    </td>
                    <td style="width:220px;"><div style="width:220px; overflow:hidden;">
                        @Html.TextBox("icd", "", new { style = "width:90%;" })
                    </div></td>
                </tr>
            </table>
        </div>
    </form>
    }
}