<script type="text/javascript">
    $(function () {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    });
</script>
@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<div class="dataHeader">
    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;display:none">
        <tr>
            <td style="width:5%;">序號</td>
            <td style="width:10%;">病歷號</td>
            <td style="width:9%;">床號</td>
            <td style="width:9%;">姓名</td>
            <td style="width:9%;">主治醫師</td>
            <td style="width:10%;">診斷</td>
            <td style="width:8%;">住入日期</td>
            <td style="width:12%;">管路類別</td>
            <td style="width:9%;">插管日期<br />時間</td>
            <td style="width:9%;">拔管日期<br />時間</td>
            <td style="width:5%;">使用天數</td>
        </tr>
    </table>
</div>
<div class="dataArea">
    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
        @*取消畫面呈現*@
        @if (dt != null && dt.Rows.Count < 0)
        {int i = 1;
            foreach(DataRow r in dt.Rows)
            {
            //string icd = r["ICD"].ToString();
            //int j = icd.IndexOf("(") + 1;
            //if (icd.Trim().Length > 0)
            //{
            //    icd = icd.Substring(j, icd.Length - j - 1);
            //}
        <tr>
            <td style="width:5%;text-align:center;">@i</td>
            <td style="width:10%;text-align:center;">@r["CHARTNO"]</td>
            <td style="width:9%;text-align:center;">@r["BEDNO"]</td>
            <td style="width:9%;text-align:center;">@r["PATIENT_NAME"]</td>
            <td style="width:9%;text-align:center;">@r["DOC_NAME"]</td>
            <td style="width:10%;text-align:center;">@r["診斷"]/td>
            <td style="width:8%;text-align:center;">@Convert.ToDateTime(r["INDATE"]).ToString("d")</td>
            <td style="width:12%;text-align:center;">@r["TYPE_NAME"]</td>
            <td style="width:9%;text-align:center;">@Convert.ToDateTime(r["STARTTIME"]).ToString("yyyy/MM/dd HH:mm")</td>
            <td style="width:9%;text-align:center;">
                @if(r["ENDTIME"].ToString() != "")
                {@Convert.ToDateTime(r["ENDTIME"]).ToString("yyyy/MM/dd HH:mm")}
                else
                {<Text>使用中</Text>}
            </td>
            <td style="width:5%;text-align:center;">@r["USEDAY"]</td>
        </tr>i++;
            }
        }
    </table>
</div>  