@using NIS.Data;
<style type="text/css">
    #data {
        background-color: #DDDDDD;
        cursor: pointer;
    }

        #data tr[haveShift=Y] td {
            background-color: #91B4FF;
            color: #000000;
        }

        #data tr[haveShift=N] td {
            background-color: #FFC0AB;
            color: #000000;
        }
</style>

<table id="data" border="0" cellspacing="1" width="480">
    @{
        string costcode = ViewData["costcode"].ToString();
        string shiftday = ViewData["shiftday"].ToString();
        if (shiftday == "%" || shiftday == "undefined")
        {
            List<UserInfo> sd = (List<UserInfo>)ViewData["shdata"];
            if (sd != null)
            {
                string username = ViewBag.name;
                string userno = ViewBag.no;
                string job = ViewBag.job;
            <tr setselect="Y" haveshift="Y">
                <td width="110">
                    <label title="@userno">@username</label>
                </td>
                <td width="110">
                    @job
                </td>
                <td width="80">
                    @Html.Raw("<font color='blue'><b>N/A</b></font>")
                </td>
                <td width="80" fname="counter" cname="@username">0</td>
            </tr>
                for (int i = 0; i <= sd.Count - 1; i++)
                {
                    if (sd[i].EmployeesNo.Trim() != userno.Trim())
                    {
            <tr setselect="Y" haveshift="Y">
                <td width="110">
                    <label title="@(sd[i].EmployeesNo)">@(sd[i].EmployeesName)</label>
                </td>
                <td width="110">
                    @sd[i].JobGrade
                </td>
                <td width="80">
                    @Html.Raw("<font color='blue'><b>N/A</b></font>")
                </td>
                <td width="80" fname="counter" cname="@(sd[i].EmployeesName)">0</td>
            </tr>
                    }
                    else
                    {
                    }
                }
            }
        }
        else
        {
            List<ShiftData> sd = (List<ShiftData>)ViewData["shdata"];
            if (sd != null)
            {
                string username = ViewBag.name;
                string userno = ViewBag.no;
                string job = ViewBag.job;
                for (int i = 0; i < sd.Count; i++)
                {
                   
            <tr setselect="Y" haveshift="Y">
                <td width="110">
                    <label title="@(sd[i].employe_no)">@(sd[i].employe_name)</label>
                </td>
                <td width="110">
                    @sd[i].employe_title                   
                </td>
                <td width="80">
                    @Html.Raw("<font color='blue'><b>"+(sd[i].shift_cate)+"</b></font>")
                </td>
                <td width="80" fname="counter" cname="@(sd[i].employe_name)">0</td>
            </tr>
                }
            }
        }
    }
</table>