@using NIS.Data;
<style type="text/css">
    #data {
        background-color: #DDDDDD;
        cursor: pointer;
    }
        #data td {
            background-color: #91B4FF;
            color: #000000;
        }
</style>

<table id="data" border="0" cellspacing="1" width="270">
@{
    List<ShiftList> slist = (List<ShiftList>)ViewData["shiftData"];
    if(slist != null)
    {
        for(int i=0 ;i<= slist.Count-1;i++)
        {
            <tr>
                <td width="89" setvalue="Y" fname="bedno">
                    @slist[i].bedno
                    @Html.Hidden("BedNo", slist[i].bedno)
                    @Html.Hidden("LeaderEmpno" + i.ToString(), slist[i].leader_empno.ToString().Trim())
                    @Html.Hidden("RespEmpno" + i.ToString(), slist[i].response_empno.ToString().Trim())
                    @Html.Hidden("RespName" + i.ToString(), slist[i].response_name.ToString().Trim())
                    @Html.Hidden("CombEmpno" + i.ToString(), slist[i].combine_empno.ToString().Trim())
                    @Html.Hidden("CombName" + i.ToString(), slist[i].combine_name.ToString().Trim())
                </td>
                <td width="89" setvalue="Y" fname="patname">
                    @if(slist[i].PatientName.Trim() != "")
                    {
                        @slist[i].PatientName.ToString().Trim()
                    }
                    else
                    {   //若無空格會點不到喔，除非你想去解決冒泡事件!
                        @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
                    }
                </td>
                <td width="92" setvalue="Y" fname="response">
                    @if(slist[i].response_name.Trim() != "")
                    {
                        @slist[i].response_name.ToString().Trim()
                    }
                    else
                    {   //若無空格會點不到喔，除非你想去解決冒泡事件!
                        @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
                    }
                </td>
                @*20230221 KEN 新增派班清空功能*@
                <td width="70" setvalue="Y" fname="edit">
                     @*<button type="button" name="edit_@i.ToString()" onclick="clear_shift(this,@i.ToString());">清空</button>*@
                     <input type="checkbox" name="edit_asign" value="@i.ToString()">

                </td>
                @*<td width="68" setvalue="Y" fname="teach">
                    @if (slist[i].combine_name.Trim() != "")
                    {
                        @slist[i].combine_name.ToString().Trim()
                    }
                    else
                    {
                        @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
                    }
                </td>*@
            </tr>
        }
    }
}
</table>