@{
    ViewBag.Title = "PrintRecord";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
@using System.Data;
@{
    DataTable dt = ViewBag.dt;    
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.dataPrintArea tr:odd').css('background', '#ABC8E2');
        $('.dataPrintArea tr:even').css('background', '#E1E6FA');
        $(window).resize(function () { setDataAreaSize(); }).trigger('resize');
    });
    $(window).load(function () {
        factory.printing.header = "護理資訊系統 - 派班總表" //設定頁首的文字         
        factory.printing.footer = "&b&b 第&p页/共&P页&b&b 列印時間：&d &t" //設定頁尾的文字 
        factory.printing.portrait = false //設定為直印 
        factory.printing.leftMargin = 3.0 //設定左邊界 
        factory.printing.topMargin = 3.0  //設定上邊界 
        factory.printing.rightMargin = 3.0 //設定右邊界 
        factory.printing.bottomMargin = 3.0 //設定下邊界 
        wb.execwb(7, 1);
        $("#printpage").show();
        window.close();
    })
    function setDataAreaSize() {
        var height = $(document).height() - 50;
        if (height <= 390)
            height = 390;
        $(".dataArea").height(height);
    }
    function printScreen(block) {
        var value = block.innerHTML;
        var printPage = window.open("", "printPage", "");
        printPage.document.open();
        printPage.document.write("<HTML><head></head><BODY onload='window.print();window.close()'>");
        printPage.document.write("<PRE>");
        printPage.document.write(value);
        printPage.document.write("</PRE>");
        printPage.document.close("</BODY></HTML>");
        window.close();
    }
    function printpage() {
        $("#printpage").hide();
        wb.execwb(7, 1);
        $("#printpage").show();
    }
</script>
<head>
    <meta charset="utf-8" />
    <title></title>
    <style type="text/css">
        .auto-style2 {
            background-color: #CCCCFF;
        }
        .auto-style3 {
            color: #FFFFFF;
            background-color: #6666FF;
        }
    </style>
</head>

<input type="button" value="列印" id="printpage" style="display:none" onclick="printpage()" />
<OBJECT classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" height=0 id=wb name=wb width=0></OBJECT>
<object classid="clsid:1663ed61-23eb-11d2-b92f-008048fdd814" id=factory viewastext style="display:none" codebase="ScriptX.cab#Version=6,2,433,14"> </object> 
<table border="1" style="border-collapse: collapse; border-style: solid;width:100%" >
    <tr>
        <th class="auto-style3" >床號</th>
        <th class="auto-style3" >白班護理</th>
        <th class="auto-style3" >白班指導</th>
        <th class="auto-style3" >小夜護理</th>
        <th class="auto-style3" >小夜指導</th>
        <th class="auto-style3" >大夜護理</th>
        <th class="auto-style3" >大夜指導</th>
    </tr>
    @foreach (DataRow r in dt.Rows)
    {
        <tr>
        <td class="auto-style2" >@r["BED_NO"]</td>
        <td class="auto-style2" >@r["白班護理"]</td>
        <td class="auto-style2" >@r["白班指導"]</td>
        <td class="auto-style2" >@r["小夜護理"]</td>
        <td class="auto-style2" >@r["小夜指導"]</td>
        <td class="auto-style2" >@r["大夜護理"]</td>
        <td class="auto-style2" >@r["大夜指導"]</td>

        </tr>
    }
</table>

