@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        $("#injection").css("background-color", "#666666");
        $("#injection").css("color", "#FFFFFF");
    }
</script>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tr>
        <td style="width:100%;text-align:center;padding:0 0 5px 0;">
            <input id="injection" type="button" value="注射紀錄清單" />
            <input id="treatment" type="button" value="治療紀錄清單" onclick="window.location.href='TreatmentRecord'" />
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            @Html.TextBox("start_date", @DateTime.Now.AddDays(-7).ToString("d"), new {style="width:80px" })
@Html.TextBox("start_time", "0000", new {style="width:50px" })
@Html.Label("lab"," ~ ")
@Html.TextBox("end_date", @DateTime.Now.ToString("yyyy/MM/dd"), new {style="width:80px" })
@Html.TextBox("end_time","1159", new { style = "width:50px" })
            <input type="button" value="查詢" />
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
           <table border="1" cellpadding="0" cellspacing="0" rules="all" style="width:100%;font-size:14px;">
               <tr style=" background-color: #99CCFF;">
                   <th style="height:30px;">日期</th>
                   <th>EPO(unit)</th>
                   <th>HT(%)</th>
                   <th>Blood Transfusion(unit)</th>
               </tr>
               <tr>
                   <td style="height:30px;"></td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
           </table>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <span style="font-size:18px;color:blue;font-weight:bolder;">月份統計</span>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
           <table border="1" cellpadding="0" cellspacing="0" rules="all" style="width:100%;font-size:14px;">
               <tr style=" background-color: #99CCFF;">
                   <th style="height:30px;">年份</th>
                   <th>月份</th>
                   <th>EPO(unit)</th>
                   <th>HT(平均%)</th>
                   <th>Blood Transfusion(次)</th>
               </tr>
               <tr>
                   <td style="height:30px;"></td>
                   <td></td>
                   <td></td>
                   <td></td>
                   <td></td>
               </tr>
           </table>
        </td>
    </tr>
</table>