<script type="text/javascript">
    window.onload = function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });
    }
</script>
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="padding:0 0 5px 0;text-align:center;">
            <span style="font-size:18px;color:blue;font-weight:bolder;">新增開案紀錄</span>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <table border="0" cellpadding="2" cellspacing="2" style="width:100%;font-size:14px;">
                <tr style=" background-color: #99CCFF;">
                    <th style="height:30px;">
                         姓名：
                    </th>
                    <td>
                         test
                    </td>
                    <th>
                         病歷號：
                    </th>
                    <td>
                         123456789
                    </td>
                </tr>
                <tr style=" background-color: #b1e1fc;">
                    <th style="height:30px;">
                        透析類型
                    </th>
                    <td>
                        @Html.RadioButton("rb_list1","",false, new { id="rb1"})
                        @Html.Label("rb1","血液透析")
                        @Html.RadioButton("rb_list1","",false, new { id="rb2"})
                        @Html.Label("rb2","腹膜透析")
                    </td>
                    <th>
                        本院開始透析日期
                    </th>
                    <td>
                        @Html.TextBox("txtdate", @DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px;" })
                    </td>
                </tr>
                <tr style=" background-color: #99CCFF;">
                    <th style="height:30px;">
                        初次腹膜透析處
                    </th>
                    <td>
                        @Html.RadioButton("rb_list2","",false, new { id="rb3"})
                        @Html.Label("rb3","本院")
                        @Html.RadioButton("rb_list2","",false, new { id="rb4"})
                        @Html.Label("rb4","其他院所")
                        @Html.TextBox("txt1", "", new { style = "width:120px;" })
                    </td>
                    <th>
                         日期
                    </th>
                    <td>
                         @Html.TextBox("txtdate", @DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px;" })
                    </td>
                </tr>
                <tr style=" background-color: #b1e1fc;">
                    <th style="height:30px;">
                        腹膜透析植管醫院
                    </th>
                    <td>
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;font-size:14px;">
                            <tr>
                                <td style="padding:5px 0 0 0;">
                                    @Html.RadioButton("rb_list3","",false, new { id="rb5"})
                                    @Html.Label("rb5","本院")
                                    @Html.RadioButton("rb_list3","",false, new { id="rb6"})
                                    @Html.Label("rb6","其他院所")
                                    @Html.TextBox("txt2", "", new { style = "width:120px;" })
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:5px 0 5px 0;">
                                    @Html.Label("txt3","日期")
                                    @Html.TextBox("txt3", "", new { style="width:120px;"})
                                </td>
                            </tr>
                        </table>
                    </td>
                    <th>
                        腹膜透析植管次數
                    </th>
                    <td>
                        @Html.RadioButton("rb_list4","",false, new { id="rb7"})
                        @Html.Label("rb7","首次")
                        @Html.RadioButton("rb_list4","",false, new { id="rb8"})
                        @Html.Label("rb8","非首次")
                        (第
                        @Html.TextBox("txt4", "", new { style="width:80px;"})
                        次)
                    </td>
                </tr>
                <tr style=" background-color: #99CCFF;">
                    <th style="height:30px;">
                        轉入處
                    </th>
                    <td>
                        @Html.TextBox("txt5", "", new { style = "width:120px;" })
                    </td>
                    <th>
                         日期
                    </th>
                    <td>
                         @Html.TextBox("txt6", @DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px;" })
                    </td>
                </tr>
                <tr style=" background-color: #b1e1fc;">
                    <th style="height:30px;">
                        負責護理師
                    </th>
                    <td colspan="3">
                        @Html.TextBox("txt7", "", new { style = "width:120px;" })
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="text-align:center;">
            <input type="button" value="新增存檔" onclick="alert('儲存成功!'); window.close();" />
            <input type="button" value="放棄" onclick="if (confirm('確定放棄?')) window.close();" />
        </td>
    </tr>
</table>
