@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        close_pup_window();
        $("#treatment").css("background-color", "#666666");
        $("#treatment").css("color", "#FFFFFF");
    }
</script>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tr>
        <td style="width:100%;text-align:center;padding:0 0 5px 0;">
            <input id="injection" type="button" value="注射紀錄清單" onclick="window.location.href='InjectionRecord'" />
            <input id="treatment" type="button" value="治療紀錄清單" />
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            @Html.TextBox("start_date", @DateTime.Now.AddDays(-7).ToString("d"), new {style="width:80px" })
@Html.TextBox("start_time", "0000", new {style="width:50px" })
@Html.Label("lab"," ~ ")
@Html.TextBox("end_date", @DateTime.Now.ToString("yyyy/MM/dd"), new {style="width:80px" })
@Html.TextBox("end_time","1159", new { style = "width:50px" })
            <input type="button" value="查詢" />
            <input type="button" value="列印" />
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <input type="button" value="新增治療記錄清單" style="margin-bottom:5px;" onclick="@Java_funcion.pup_window("InsertTreatment",800,300,"")" />
            <table border="1" cellpadding="0" cellspacing="0" rules="all" style="width:100%;font-size:14px;">
                <tr style=" background-color: #99CCFF;">
                    <th style="height:30px;">透析日期</th>
                    <th>透析次數</th>
                    <th>類型</th>
                    <th>開始體重<br />(Kg)</th>
                    <th>結束體重<br />(Kg)</th>
                    <th>實脫<br />(Kg)</th>
                    <th>血壓<br />(mmHg)</th>
                    <th>透析時數<br />(時：分)</th>
                    <th>開始</th>
                    <th>結束</th>
                    <th>覆核</th>
                    <th style="width:5%;"></th>
                    <th style="width:5%;"></th>
                </tr>
                <tr>
                    <td style="height:30px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:center;">
                        <input type="button" value="編輯" />
                    </td>
                    <td style="text-align:center;">
                        <input type="button" value="刪除" onclick="if (confirm('確認刪除?')) window.location.reload()" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 0 0;">
            <span style="font-size:18px;color:blue;font-weight:bolder;">血液透析機器數據</span>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <input type="button" value="新增血液透析機器數據" style="margin-bottom:5px;" />
            <table border="1" cellpadding="0" cellspacing="0" rules="all" style="width:100%;font-size:14px;">
                <tr style=" background-color: #99CCFF;">
                    <th style="height:30px;">時間</th>
                    <th>血流速度<br />(mL/min)</th>
                    <th>靜脈壓</th>
                    <th>透析液體壓</th>
                    <th>傳導度</th>
                    <th>機器溫度</th>
                    <th>Heparine<br />餘量</th>
                    <th>脫水量</th>
                    <th>UF Rate<br />(Kg/hr)</th>
                    <th>收縮壓</th>
                    <th>舒張壓</th>
                    <th>心跳</th>
                    <th style="width:5%;"></th>
                    <th style="width:5%;"></th>
                </tr>
                <tr>
                    <td style="height:30px;"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td style="text-align:center;">
                        <input type="button" value="編輯" />
                    </td>
                    <td style="text-align:center;">
                        <input type="button" value="刪除" onclick="if (confirm('確認刪除?')) window.location.reload()" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>