@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DateTime mindate = Convert.ToDateTime(ViewData["MinDate"]);
    string title_1_1 = "<p>1. 營養非常差：a.與平日食量相比，從未吃完一餐飯，很少吃完1/3的食物，每天攝取蛋白質（肉類或乳製品）少於2份，液體攝取量很少，沒有補充流質飲食。禁食及/或維持在清流飲食或只有靜脈輸液超過五天。</p>";
    string title_1_2 = "<p>2. 營養差：a.與平日食量相比，很少吃完一餐飯，大約只吃完1/2的食物。每天攝取蛋白質少於3份，偶爾補充點心。b.進食流質飲食或管灌飲食，但供應少於身體所需。</p>";
    string title_1_3 = "<p>3. 營養適當：a.與平日食量相比，每餐至少可以吃完1/2以上的食物，每天攝取蛋白質4份。偶爾會少吃一餐飯，但通常會再補充點心。b.維持管灌食或TPN治療，攝取量可滿足大部份營養需求。</p>";
    string title_1_4 = "<p>4. 營養良好：與平日食量相比，大多可吃完每一餐。通常每天攝取蛋白質4份以上。偶爾兩餐間會吃點心，不需要額外補充飲食。</p>";
    string title_2_1 = "<p>1. 完全受限：a.因喪失意識或使用鎮定劑而對疼痛沒有抓握、呻吟、回縮等反應。b.幾乎全身體表無法感覺疼痛。 </p>";
    string title_2_2 = "<p>2. 大部分受限：a.只對疼痛刺激有呻吟、不安反應。b.有一半身體體表無法感覺到疼痛。</p>";
    string title_2_3 = "<p>3. 稍微受限：a.能對語言指令做反應，但總是無法表達不適或需要翻身。b.有一、二肢體無法感覺疼痛。</p>";
    string title_2_4 = "<p>4. 沒有損傷：能對語言指令做反應，沒有感覺缺失、知覺系統完整，不會影響病人感覺或表達疼痛不適。</p>";
    string title_3_1 = "<p>1. 持續潮濕：皮膚總是被汗水、尿液或糞便浸潤，病人每次翻身移動時都會發現皮膚處於潮濕的環境。 </p>";
    string title_3_2 = "<p>2. 經常潮濕：皮膚經常被汗水、尿液或糞便浸潤，床（中）單至少每一班需要換一次。</p>";
    string title_3_3 = "<p>3. 偶爾潮濕：皮膚偶爾被汗水、尿液或糞便浸潤，床（中）單一天需額外換一次。</p>";
    string title_3_4 = "<p>4. 很少潮濕：皮膚通常保持乾燥，沒有被汗水、尿液或糞便浸潤的情形，床（中）單只需常規更換。</p>";
    string title_4_1 = "<p>1. 臥床不動：限制於床上活動。</p>";
    string title_4_2 = "<p>2. 受限於輪椅活動：步行困難，無法自行坐入椅子、輪椅上或輪椅內，需要他人協助才能完成。</p>";
    string title_4_3 = "<p>3. 偶爾走動：白天偶爾可步行短距離，有時需要協助，但大部份時間是躺在床上及坐在椅子上。</p>";
    string title_4_4 = "<p>4. 經常走動：一天至少到病房外步行兩次，醒著時至少每兩小時會在室內走動。</p>";
    string title_5_1 = "<p>1. 完全無法活動：在沒有協助下無法活動四肢或改變身體姿勢。</p>";
    string title_5_2 = "<p>2. 大部分受限：偶爾可稍微移動四肢或改變身體姿勢，但無法獨自完成經常性或有意義的姿位改變。</p>";
    string title_5_3 = "<p>3. 稍微受限：經常可獨自移動四肢或改變身體姿勢。</p>";
    string title_5_4 = "<p>4. 沒有限制：不需協助就可經常大範圍改變身體姿勢。</p>";
    string title_6_1 = "<p>1. 現存問題：a.移動身體時必需他人協助，無法自行完全抬起身體而不摩擦到床單。b.坐在床上或椅子上經常會有下滑的現象，需要經常協助擺好姿勢。c.身體麻痺僵直、萎縮、躁動不安常導致摩擦力產生。</p>";
    string title_6_2 = "<p>2. 有潛在的問題：a.移動身體時只需稍微協助，移動時皮膚會稍微摩擦到床單、椅子或輔助器。b.在椅子上或床上大都可以維持良好的姿勢，偶而才會下滑。</p>";
    string title_6_3 = "<p>3. 沒有明顯的問題：可獨立在床上或椅子上移動，移動時有足夠的肌力可將身體抬高，在椅子上或床上隨時都可以維持良好的姿勢。</p>";

    string action = "Insert_Pressure", title = "新增 壓傷危險因子評估", PressScoreID = string.Empty;
    DateTime RecordTime = DateTime.Now;
    DataTable dt = ViewBag.dt;
    DataTable dt_new = ViewBag.dt_new;

    DataRow r = null;
    if ((dt != null && dt.Rows.Count > 0) || (dt_new != null && dt_new.Rows.Count > 0))
    {
        if (dt != null && dt.Rows.Count > 0)
        {
            r = dt.Rows[0];
            action = "Upd_Pressure"; title = "更新 壓傷危險因子評估";
            RecordTime = Convert.ToDateTime(dt.Rows[0]["RECORDTIME"]);
            PressScoreID = dt.Rows[0]["PRESSURE_ID"].ToString();
        }
        else if (dt_new != null && dt_new.Rows.Count > 0)
        {
            r = dt_new.Rows[0];
        }
    }
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}

<style type="text/css">
    #module_define {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }

    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        height: 25px;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {

        $('input[type=radio]').click(function () {
            mark();
        });

        // inital tooltip
        $(".tooltip").tooltip({
            content: function () {
                return $(this).attr('title');
            }
        });
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');

        @if (r != null)
        {
            <TEXT>
        setValue('nutrition', '@r["NUTRITION"].ToString()');
        setValue('perception', '@r["PERCEPTION"].ToString()');
        setValue('damp', '@r["DAMP"].ToString()');
        setValue('activity', '@r["ACTIVITY"].ToString()');
        setValue('moving', '@r["MOVING"].ToString()');
        setValue('friction', '@r["FRICTION"].ToString()');
        setValue('have', '@r["HAVE"].ToString()');
        mark();
            </TEXT>
        }
    });
    
    function mark() {
        var score = 0;
        $.each($('.toScore'), function (i, item) {
            if ($('input[name=' + $(item).attr('name') + ']:checked').length > 0)
                score += parseInt($('input[name=' + $(item).attr('name') + ']:checked').attr('data-score'));
        });

        $('#total').val(score);

        if (score <= 9) {
            $('#carerecord').val('壓傷高危險因子評估分數' + score + '分，為壓傷極高度危險群');
            $('#score').html(score + ' ( 極高度危險性 )');
        }
        else if (score < 13) {
            $('#carerecord').val('壓傷高危險因子評估分數' + score + '分，為壓傷高度危險群');
            $('#score').html(score + ' ( 高度危險性 )');
        }
        else if (score < 15) {
            $('#carerecord').val('壓傷高危險因子評估分數' + score + '分，為壓傷中度危險群');
            $('#score').html(score + ' ( 中度危險性 )');
        }
        else if (score < 19) {
            $('#carerecord').val('壓傷高危險因子評估分數' + score + '分，為壓傷輕度危險群');
            $('#score').html(score + ' ( 輕度危險性 )');
        }
        else {
            $('#carerecord').val('壓傷高危險因子評估分數' + score + '分，非壓傷高危險群');
            $('#score').html(score + ' ( 無危險性 )');
        }

        if (score <= 18)
            $("#score").css("color", "red");
        else
            $("#score").css("color", "black");
    }

    function check() {
        var success = true;
        $.each($('.req'), function (i, item) {
            if ($('input[name=' + $(item).attr('name') + ']:checked').length == 0) {
                alert('請選擇 ' + $(item).attr('data-word'));
                success = false;
                return false;
            }
        });
        return success;
    }

    function setValue(Name, Value) {
        $("input[type=radio][name='rb_" + Name + "'][value='" + Value + "']").prop('checked', true);
    }
    function loading_change() {
        if (check()) {
            loop_windows("open_cover");
            $("#form1").submit();
        }
    }
</script>

<form id="form1" action="@action" method="post">
    <div id="module_define">@title</div>
    <div class="funcArea" style="padding:5px 0 5px 0;text-align:center;">
        <input type="hidden" id="id" name="id" value="@PressScoreID" />
        <input type="hidden" id="carerecord" name="carerecord" />
        <input type="hidden" id="total" name="total" />
        <input type="button" value="存檔" style="width:50px;" onclick="loading_change()" />
        <input type="button" value="放棄" style="width:50px;" onclick="if (confirm('確定放棄?')) { window.location.href = 'List'; }" />
    </div>
    <div class="dataHeader">
        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
            <tr>
                <td style="width:32%;text-align:left;">
                    <label>評估日期：</label>
                    <input type="text" id="txt_day" name="txt_day" value="@RecordTime.ToString("yyyy/MM/dd")" />
                    <input type="text" id="txt_time" name="txt_time" value="@RecordTime.ToString("HH:mm")" />
                    @*@WebTool.setDateTime("txt_day", "txt_time", "", "0", "", mindate.ToString("MM/dd/yyyy HH:mm:ss"))*@
                    @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "txt_day", "txt_time", true)
                </td>
                <td style="width:17%;">1分</td>
                <td style="width:17%;">2分</td>
                <td style="width:17%;">3分</td>
                <td style="width:17%;">4分</td>
            </tr>
        </table>
    </div>
    <div class="dataArea">
        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
            <tr>
                <td style="width:32%;">
                    <a style="text-decoration: none; color: blue;font-size:14px;" href="javascript:void(0);" class="tooltip"
                        title="<p>營養狀態：平常食物攝取型態。</p>@(title_1_1)@(title_1_2)@(title_1_3)@(title_1_4)" >
                    <img src="~/Images/med_dictionary.png" class="medbook" border="0"/> 營養狀態：</a>
                </td>
                <td style="width:17%;">
                    <label class="tooltip" title="@(title_1_1)">
                        <input type="radio" name="rb_nutrition" value="營養非常差(1)" data-score="1" class="req toScore" data-word="營養狀態" />營養非常差
                    </label>
                </td>
                <td style="width:17%;">
                    <label class="tooltip" title="@(title_1_2)">
                        <input type="radio" name="rb_nutrition" value="營養差(2)" data-score="2" />營養差
                    </label>
                </td>
                <td style="width:17%;">
                    <label class="tooltip" title="@(title_1_3)">
                        <input type="radio" name="rb_nutrition" value="營養適當(3)" data-score="3" />營養適當
                    </label>
                </td>
                <td style="width:17%;">
                    <label class="tooltip" title="@(title_1_4)">
                        <input type="radio" name="rb_nutrition" value="營養良好(4)" data-score="4" />營養良好
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <a style="text-decoration: none; color: blue;font-size:14px;" href="javascript:void(0);" class="tooltip"
                        title="<p>感覺知覺：能有意義地反應出與壓力相關的不適狀態。</p>@(title_2_1)@(title_2_2)@(title_2_3)@(title_2_4)" >
                    <img src="~/Images/med_dictionary.png" class="medbook" border="0"/> 感覺知覺：</a>
                </td>
                <td>
                    <label class="tooltip" title="@(title_2_1)">
                        <input type="radio" name="rb_perception" value="完全受限(1)" data-score="1" class="req toScore" data-word="感覺知覺" />完全受限
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_2_2)">
                        <input type="radio" name="rb_perception" value="大部份受限(2)" data-score="2" />大部份受限
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_2_3)">
                        <input type="radio" name="rb_perception" value="稍微受限(3)" data-score="3" />稍微受限
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_2_4)">
                        <input type="radio" name="rb_perception" value="沒有損傷(4)" data-score="4" />沒有損傷
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <a style="text-decoration: none; color: blue;font-size:14px;" href="javascript:void(0);" class="tooltip"
                        title="<p>潮濕程度：皮膚暴露於潮濕環境的程度。</p>@(title_3_1)@(title_3_2)@(title_3_3)@(title_3_4)" >
                    <img src="~/Images/med_dictionary.png" class="medbook" border="0"/> 潮濕程度：</a>
                </td>
                <td>
                    <label class="tooltip" title="@(title_3_1)">
                        <input type="radio" name="rb_damp" value="持續潮濕(1)" data-score="1" class="req toScore" data-word="潮濕程度" />持續潮濕
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_3_2)">
                        <input type="radio" name="rb_damp" value="經常潮濕(2)" data-score="2" />經常潮濕
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_3_3)">
                        <input type="radio" name="rb_damp" value="偶爾潮濕(3)" data-score="3" />偶爾潮濕
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_3_4)">
                        <input type="radio" name="rb_damp" value="很少潮濕(4)" data-score="4" />很少潮濕
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <a style="text-decoration: none; color: blue;font-size:14px;" href="javascript:void(0);" class="tooltip"
                        title="<p>活動力：身體活動的程度。</p>@(title_4_1)@(title_4_2)@(title_4_3)@(title_4_4)" >
                    <img src="~/Images/med_dictionary.png" class="medbook" border="0"/> 活動力：</a>
                </td>
                <td>
                    <label class="tooltip" title="@(title_4_1)">
                        <input type="radio" name="rb_activity" value="臥床不動(1)" data-score="1" class="req toScore" data-word="活動力" />臥床不動
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_4_2)">
                        <input type="radio" name="rb_activity" value="受限於輪椅活動(2)" data-score="2" />受限於輪椅活動
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_4_3)">
                        <input type="radio" name="rb_activity" value="偶爾走動(3)" data-score="3" />偶爾走動
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_4_4)">
                        <input type="radio" name="rb_activity" value="經常走動(4)" data-score="4" />經常走動
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <a style="text-decoration: none; color: blue;font-size:14px;" href="javascript:void(0);" class="tooltip"
                        title="<p>移動力：改變和控制身體姿勢的能力。</p>@(title_5_1)@(title_5_2)@(title_5_3)@(title_5_4)" >
                    <img src="~/Images/med_dictionary.png" class="medbook" border="0"/> 移動力：</a>
                </td>
                <td>
                    <label class="tooltip" title="@(title_5_1)">
                        <input type="radio" name="rb_moving" value="完全無法活動(1)" data-score="1" class="req toScore" data-word="移動力" />完全無法活動
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_5_2)">
                        <input type="radio" name="rb_moving" value="大部份受限(2)" data-score="2" />大部份受限
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_5_3)">
                        <input type="radio" name="rb_moving" value="稍微受限(3)" data-score="3" />稍微受限
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_5_4)">
                        <input type="radio" name="rb_moving" value="沒有限制(4)" data-score="4" />沒有限制
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <a style="text-decoration: none; color: blue;font-size:14px;" href="javascript:void(0);" class="tooltip"
                        title="<p>摩擦力/剪力：</p>@(title_6_1)@(title_6_2)@(title_6_3)" >
                    <img src="~/Images/med_dictionary.png" class="medbook" border="0"/> 摩擦力/剪力：</a>
                </td>
                <td>
                    <label class="tooltip" title="@(title_6_1)">
                        <input type="radio" name="rb_friction" value="現存問題(1)" data-score="1" class="req toScore" data-word="摩擦力/剪力" />現存問題
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_6_2)">
                        <input type="radio" name="rb_friction" value="有潛在的問題(2)" data-score="2" />有潛在的問題
                    </label>
                </td>
                <td>
                    <label class="tooltip" title="@(title_6_3)">
                        <input type="radio" name="rb_friction" value="沒有明顯的問題(3)" data-score="3" />沒有明顯的問題
                    </label>
                </td>
                <td>
                </td>
            </tr>
            <tr>
                <td style="height:30px;padding:4px 7px 2px 4px;">
                    有無壓傷：
                    <label><input type="radio" name="rb_have" value="有" class="req" data-word="有無壓傷" />有</label>
                    <label><input type="radio" name="rb_have" value="無" />無</label>
                </td>
                <td></td>
                <td></td>
                <td style="padding:4px 7px 2px 4px;">
                    <a style="text-decoration: none; color: blue;font-size:14px;" href="javascript:void(0);" class="tooltip"
                        title="<p>壓傷危險等級： </p><p>19-23分：無危險性 </p><p>15-18分：輕度危險性 </p><p>13-14分：中度危險 </p><p>10-12分：高度危險性 </p><p>≦9分：極高度危險性 </p>" >
                    <img src="~/Images/med_dictionary.png" class="medbook" border="0"/> 總分：</a>
                </td>
                <td>
                    <label id="score">0</label>
                </td>
            </tr>
        </table>
    </div>
</form>