@using NIS.Data
@{
    List<ModelItem> fl = (List<ModelItem>)ViewData["favList"];
    UserInfo ui = (UserInfo)Session["UserInfo"];
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
}

<style type="text/css">
    #FavImg img {
        position: absolute;
        display: inline-block;
        margin-top: 5px;
        cursor:pointer;
    }

    #FavList {
        position: absolute;
        left: 40px;
    }

        #FavList span {
            position: relative;
            display: inline-block;
            border-top: 1px solid #666;
            border-left: 1px solid #666;
            border-right: 3px double #666;
            border-bottom: 3px double #666;
            margin: 2px 5px 0px 0px;
            padding: 3px 10px 0px 10px;
            height: 20px;
            bottom: 2px;
            background-color: #FFECA2;
            text-align: center;
            vertical-align: bottom;
        }

        #FavList a {
            display: inline;
            color: #660000;
            padding: 0px;
            text-decoration: none;
        }

    .notification {
        display: block;
        background: #E43C03;
        text-align: center;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        width: 14px;
        z-index: 1;
        margin: 0px 1px 0px 18px;
        position: absolute;
        padding: 1px;
    }

</style>

<script type="text/javascript">

    $(document).ready(function () {
        $("#FavList a").click(function () {
            // 左鍵(進入功能)            
            CurrentModule = $(this).attr('model_id');
            $("button[model_id='" + CurrentModule + "']").trigger('click');
        }).contextmenu(function () {
            // 右鍵(刪除我的最愛)
            if (confirm("是否要將【" + $(this).html() + "】功能從我的最愛移除?")) {
                var model_name = $(this).html();
                var model_id = $(this).attr("model_id");
                $.ajax({
                    url: "../Main/delFav",
                    type: "post",
                    timeout: 5000,
                    data: "model_id=" + model_id + "&model_name=" + model_name,
                    success: function (data) {
                        showHint(data);
                        loadFav();
                    }
                });
            }
            return false;
        });
        $("#FavImg img").click(function () {
            readMqList('N');
        });

        $("#signpush").click(function () {
            window.open("../Main/SignList", "top_dialog", "menubar=no,status=no,scrollbars=yes,top=0,resizable=yes,left=550,toolbar=no,width=700,height=700");
        });
        $("#billing").click(function () {
            window.open("../Billing/index", "top_dialog", "menubar=no,status=no,scrollbars=yes,top=0,resizable=yes,left=300,toolbar=no,width=1290,height=800");
        });
    });

</script>

@*<div id="FavImg">
    <img src='../Images/favorites.png' width="16" alt="加入我的最愛" border="0" />
</div>*@
<span id="FavImg">
    <span class="notification" id="span_not" style="display:none;"></span>
    <img src='../Images/msg2.png' width="25" alt="Add my favorite?" border="0" />
</span>
<div id="FavList" style="margin-left:10px;">
    @{
        string model_list = "";
        for (int i = 0; i < fl.Count; i++)
        {
        <span><a href="javascript:void(0);" model_id="@fl[i].mo_id.Trim()">@fl[i].button_name.Trim()</a></span>
        model_list += fl[i].mo_id.Trim() + ",";
    }
    if(model_list != "")
    {
        model_list = model_list.Substring(0, model_list.Length - 1);
    }
    }
</div>


<span style="float:right;">
    <button id="signpush" style="background-color: #f3f327; font-size: 15px; border-radius: 10px; ">
        未送簽筆數 : <span id="signCount">@(ViewBag.SignCount)</span>
    </button>
    <button id="billing" style="background-color: #cfe1eb; border-radius:10px ;font-size: 15px">
        計價介面
    </button>
</span>
<span style="float:right;margin-top:2px; margin-right:15px">登入者 @(ViewBag.username)</span>

<script type="text/javascript">
    loop_windows("set_fav","@fl.Count", "@model_list");
</script>