@using NIS.Data
@{
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    List<SignList> signlist = ViewBag.SignList;
    List<SignList> signlistER = ViewBag.SignListER;
    UserInfo ui = (UserInfo)Session["UserInfo"];
    Layout = "~/Views/Layout/FormLayout.cshtml";


}

<script type="text/javascript">
    $(document).ready(function () {
        //格行換色
        setTimeout(function () { $(".dtl_VS").gridColor(); }, 800);

        @if (Request["message"] != null)
        {
        @:showHint("@(Request["message"].ToString())");
        }

        $("#push").click(function () {
            $(".loading").fadeIn(500);
            $.ajax({
                url: "../Base/SignPush",
                success: function (data) {
                    if(data == 1)
                    {
                        $(".loading").fadeOut(500);
                        alert("送簽成功");
                        //$.ajax({
                        //    url: "../Main/SignCount",
                        //    type: "post",
                        //    success: function (data) {
                        //        $("#signCount", window.parent.document).text(data.toString());
                        //    }
                        //});
                        window.location.reload();
                        window.close();
                        window.opener.location.href = window.opener.location.href;
                    }
                    else if (data == 2)
                    {
                        $(".loading").fadeOut(500);
                        alert("無需送簽");
                        window.location.reload();

                    }
                    else
                    {
                        $(".loading").fadeOut(500);
                        alert("送簽失敗");
                        window.location.reload();

                    }

          
                }
            })

        });
    });

 
</script>
<div class="loading" id="cover"></div>
<div class="loading" id="loading">
    <label for="lab">Loading...</label><br />
    <img src="~/Images/loading.gif" alt="" border="0" />
</div>
    <div>
        <label>登入者 :@ui.EmployeesName</label>
    </div>
    <br>
@if (signlist != null)
{
    <label>待送簽筆數共 @signlist.Count 筆</label>
    <br>
}
else
{
    <label>無未簽筆數</label>
    <br>
}
    <label>待送簽明細 : </label>
    <br>
    <div>
        <table id="table_dataHeader" border="1" border-collapse:collapse; cellpadding="4" cellspacing="1" style="table-layout: fixed; white-space: nowrap; font-size: 14px; width: 100%;" class="dtl_VS">
            <thead>
                <tr>
                    <th style="width: 30%; height: 35px;">紀錄時間</th>
                    <th style="width: 14%; height: 35px;">病歷號</th>
                    <th style="width: 14%; height: 35px;">床號</th>
                    <th style="width: 14%; height: 35px;">姓名</th>
                    @*<th style="width: 50px; height: 35px;">班別</th>*@
                    <th style="width: 14%; height: 35px;">送簽人</th>
                    <th style="width: 14%; height: 35px;">代簽人</th>
                </tr>

                @if (signlist != null)
            {
                for (int i = 0; i < signlist.Count; i++)
                {
                        <tr>
                            <td style="width: 30%; height: 35px; text-align:center;">@if (@signlist[i].Date.ToString().Trim() != null)
                            {@signlist[i].Date}</td>
                            <td style="width: 14%; height: 35px; text-align:center;">@if (@signlist[i].Chartno.ToString().Trim() != null)
                            {@signlist[i].Chartno}</td>
                            <td style="width: 14%; height: 35px; text-align:center;">
                                @if (@signlist[i].Bedno.ToString().Trim() != null)
                                {@signlist[i].Bedno}
                            </td>
                            <td style="width: 14%; height: 35px; text-align:center;">
                                @if (@signlist[i].PatientName.ToString().Trim() != null)
                                {@signlist[i].PatientName}
                            </td>
                            @*<td style="width: 50px; height: 35px; text-align:center;">@if (@signlist[i].Shift.ToString().Trim() != null)
                            {@signlist[i].Shift}</td>*@
                            <td style="width: 14%; height: 35px; text-align:center;">@if (@signlist[i].Signer.ToString().Trim() != null)
                            {@signlist[i].Signer}</td>
                            <td style="width: 14%; height: 35px; text-align:center;">@if (@signlist[i].RepId.ToString().Trim() != null)
                            {@signlist[i].RepId}</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td style="text-align:center;">-</td>
                        <td style="text-align:center;">-</td>
                        <td style="text-align:center;">-</td>
                        <td style="text-align:center;">-</td>
                        <td style="text-align:center;">-</td>
                        <td style="text-align:center;">-</td>
                    </tr>
                }
            </thead>
        </table>
    </div>
    <br>
@if (signlistER != null)
{   <a style="text-decoration: none; color: black;font-size:14px; font-size:18px" href="javascript:void(0);" class="tooltip"
        title="送簽發生異常，請嘗試重新按下全部送簽按鈕，若仍無法送簽，請聯絡資訊室。">
        <img src="~/Images/med_dictionary.png" class="medbook" border="0" alt="
             打包發生失敗，請聯絡資訊室。" />&nbsp;
    </a>
    <label style="color:red">送簽異常筆數 @signlistER.Count 筆</label>
    <br>
    <label>送簽異常明細 : </label>

    <table id="table_dataHeader" border="1" border-collapse:collapse; cellpadding="4" cellspacing="1" style="table-layout: fixed; white-space: nowrap; font-size: 14px; width: 100%;" class="dtl_VS">
        <thead>
                <tr>
                    <th style="width: 30%; height: 35px;">紀錄時間</th>
                    <th style="width: 14%; height: 35px;">病歷號</th>
                    <th style="width: 14%; height: 35px;">床號</th>
                    <th style="width: 14%; height: 35px;">姓名</th>
                    @*<th style="width: 50px; height: 35px;">班別</th>*@
                    <th style="width: 14%; height: 35px;">送簽人</th>
                    <th style="width: 14%; height: 35px;">代簽人</th>
                </tr>

                @if (signlistER != null)
                {
                    for (int i = 0; i < signlistER.Count; i++)
                    {
                        <tr>
                            <td style="width: 30%; height: 35px; text-align:center;">
                                @if (@signlistER[i].Date.ToString().Trim() != null)
                            {@signlistER[i].Date}
                        </td>
                        <td style="width: 14%; height: 35px; text-align:center;">
                            @if (@signlistER[i].Chartno.ToString().Trim() != null)
                        {@signlistER[i].Chartno}
                    </td>
                    <td style="width: 14%; height: 35px; text-align:center;">
                        @if (@signlistER[i].Bedno.ToString().Trim() != null)
                        {@signlistER[i].Bedno}
                    </td>
                    <td style="width: 14%; height: 35px; text-align:center;">
                        @if (@signlistER[i].PatientName.ToString().Trim() != null)
                        {@signlistER[i].PatientName}
                    </td>
                    @*<td style="width: 50px; height: 35px; text-align:center;">@if (@signlist[i].Shift.ToString().Trim() != null)
                        {@signlist[i].Shift}</td>*@
                    <td style="width: 14%; height: 35px; text-align:center;">
                        @if (@signlistER[i].Signer.ToString().Trim() != null)
                    {@signlistER[i].Signer}
                </td>
                <td style="width: 14%; height: 35px; text-align:center;">
                    @if (@signlistER[i].RepId.ToString().Trim() != null)
                {@signlistER[i].RepId}
            </td>
        </tr>
                }
            }
            else
            {
                <tr>
                    <td style="text-align:center;">-</td>
                    <td style="text-align:center;">-</td>
                    <td style="text-align:center;">-</td>
                    <td style="text-align:center;">-</td>
                    <td style="text-align:center;">-</td>
                    <td style="text-align:center;">-</td>
                </tr>
            }
        </thead>
    </table>

}
<br>
<div>
    <button id="push">全部送簽</button>
    <button id="reload" style="display:inline" onclick="window.location.reload();">重新整理</button>  (送簽前請先重新整理確認最新資料)
</div>
<div>
    <label>更新時間: @DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss")</label>
</div>
