@using NIS.Controllers;
@using System.Data;
@using NIS.Models;
@{
    //Layout = "~/Views/Layout/FormLayout.cshtml";
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
    List<Dictionary<string, string>> VSID_List = ViewBag.VSID_List;
    var vs_id_list = new List<string>();
    if (VSID_List.Count > 0)
    {
        foreach (var data in VSID_List)
        {
            vs_id_list.Add(data["vs_id"]);
        }
    }

}

<style type="text/css">
    #VS_Import_Table .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: center;
        height: 20px;
    }

    #VS_Import_Table .dataHeader td {
        text-align: center;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        //格行換色
        setTimeout(function () { $(".dtl_VS").gridColor(); }, 0);

        @if (Request["message"] != null)
        {
        @:showHint("@(Request["message"].ToString())");
        }
        setGridColor()
    });
    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', 'rgb(211 237 249)');
        $('.dataArea tr:even').css('background', 'rgb(231, 238, 245)');
        $('.dtl_VS tr:odd').css('background', 'rgb(211 237 249)');
        $('.dtl_VS tr:even').css('background', 'rgb(231, 238, 245)');
    }
    //帶入生命徵象頁面
    function btn_write(d, t, bt, mp, bf, bph, bpl, sp,vs_id) {
        document.getElementById('Assess_Time').value = "";
        document.getElementById('BT').value = "";
        document.getElementById('HR').value = "";
        document.getElementById('Respiratory').value = "";
        document.getElementById('BP_Systolic').value = "";
        document.getElementById('BP_Diastolic').value = "";
        document.getElementById('SPO2').value = "";
        document.getElementsByName('VS_Id').value = "";

        if ( (d != null && d!="")&&(t != null && t!=""))
        {
            document.getElementById('Assess_Time').value = d + " "+ t;
        }

        if (bt != null && bt != "")
            document.getElementById('BT').value = bt;
        if (mp != null && mp != "")
            document.getElementById('HR').value = mp;
        if (bf != null && bf != "")
            document.getElementById('Respiratory').value = bf;
        if (bph != null && bph != "")
            document.getElementById('BP_Systolic').value = bph;
        if (bpl != null && bpl != "")
            document.getElementById('BP_Diastolic').value = bpl;
        if (sp != null && sp != "")
            document.getElementById('SPO2').value = sp;
        if (vs_id != null && vs_id != "")
            $('input[name=VS_Id]').val(vs_id);
    }
</script>

@{
    DateTime start = Convert.ToDateTime(ViewBag.start);
    DateTime end = Convert.ToDateTime(ViewBag.end);
    //  DataTable dt_check = ViewBag.dt_check;
    //string func = "window.location.href = 'VitalSign_Interfacing?feeno=" + @ViewBag.feeno + "&starttime=' + $('#stDate').val() + ' ' + $('#stTime').val() + '&endtime=' + $('#edDate').val() + ' ' + $('#edTime').val()";
}

<div>
    <table style="width: 100%;border-spacing:0px 0px;" cellspacing="0">
        <tr>
            <td id="VS_Import_Table" style="vertical-align: top; width: 100%;">
                <div class="dataHeader" id="dataHeader" style="width: calc(100% - 12px);">
                    <table id="table_dataHeader" border="0" cellpadding="4" cellspacing="1" style="font-size: 14px; width: 100%; table-layout: fixed" class="">

                        <tr>
                            <td style="width: 45px; background-color: #cfe1eb; text-align: center;">帶入</td>
                            <td style="width: 90px; background-color: #cfe1eb; text-align: center;">日期</td>
                            <td style="width: 40px; background-color: #cfe1eb; text-align: center;">體溫</td>
                            <td style="width: 40px; background-color: #cfe1eb; text-align: center;">心跳</td>
                            <td style="width: 40px; background-color: #cfe1eb; text-align: center;">呼吸</td>
                            <td style="width: 60px; background-color: #cfe1eb; text-align: center;">血壓(H/L)</td>
                            <td style="width: 40px; background-color: #cfe1eb; text-align: center;">血氧</td>
                            <td style="width: 50px; background-color: #cfe1eb; text-align: center;">是否已帶入</td>
                            <td style="width: 90px; background-color: #cfe1eb; text-align: center;">帶入時間</td>

                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="width: 100%; overflow-x: auto; overflow-y: scroll !important;">
                    <table id="table_dataArea" border="0" cellpadding="4" cellspacing="1" style="width: 100%" class="dataArea">
                        @{
                            if (ViewData["result"] != null)
                            {
                                List<BloodTransfusion.VitalSignImport> vsDataList = (List<BloodTransfusion.VitalSignImport>)ViewData["result"];
                                for (int i = 0; i <= vsDataList.Count - 1; i++)
                                {
                                    <tr>
                                        <td style="width: 45px; height: 20px;">
                                            @*<input type="button" value="帶入" onclick="btn_write(@vsDataList[i].TEMP,@vsDataList[i].HR,@vsDataList[i].RESP,@vsDataList[i].SYSTOLIC,@vsDataList[i].DIATOLIC,@vsDataList[i].SPO2);" />*@
                                            <input type="button" value="帶入" class="fun_btn" style="width: 40px !important; font-size: 14px !important; margin: 0 !important; background-color: #3c7ec3; border-radius:5px!important" onclick="btn_write('@(Convert.ToDateTime(vsDataList[i].modify_date).ToString("yyyy/MM/dd"))','@(Convert.ToDateTime(vsDataList[i].modify_date).ToString("HH:mm"))','@(vsDataList[i].vs_bt)','@(vsDataList[i].vs_mp)','@(vsDataList[i].vs_bf)','@(vsDataList[i].vs_bp_sys)','@(vsDataList[i].vs_bp_dia)','@(vsDataList[i].vs_sp)','@(vsDataList[i].vs_id)');" />
                                            @*<input type="button" value="帶入" onclick="btn_write(@Convert.ToDateTime(vsDataList[i].MDATE).ToString("yyyy/MM/dd"),@Convert.ToDateTime(vsDataList[i].MDATE).ToString("HH:mm"),@Convert.ToDouble(vsDataList[i].TEMP),@Convert.ToDouble(vsDataList[i].HR),@Convert.ToDouble(vsDataList[i].RESP),@vsDataList[i].SYSTOLIC,@Convert.ToDouble(vsDataList[i].DIATOLIC),@Convert.ToDouble(vsDataList[i].SPO2));" />*@
                                        </td>
                                        <td style="width: 90px; height: 20px; text-align: center; ">@Convert.ToDateTime(vsDataList[i].modify_date).ToString("yyyy/MM/dd HH:mm")</td>
                                        <td style="width: 40px; height: 20px; text-align: center; ">@vsDataList[i].vs_bt</td>
                                        <td style="width: 40px; text-align: center;">
                                            @if (@vsDataList[i].vs_mp != null)
                                            {@vsDataList[i].vs_mp}
                                        </td>
                                        <td style="width: 40px; text-align: center;">
                                            @if (@vsDataList[i].vs_bf != null)
                                            {@vsDataList[i].vs_bf}
                                        </td>
                                        <td style="width: 60px; text-align: center;">
                                            @if (@vsDataList[i].vs_bp_sys != null)
                                            {@vsDataList[i].vs_bp_sys}
                                            / @if (@vsDataList[i].vs_bp_dia != null)
                                            {@vsDataList[i].vs_bp_dia}
                                        </td>
                                        <td style="width: 40px; text-align: center;">
                                            @if (@vsDataList[i].vs_sp != null)
                                            {@vsDataList[i].vs_sp}
                                        </td>
                                        <td style="width: 50px; text-align: center;">
                                            @if (vs_id_list.Contains((vsDataList[i].vs_id)))
                                            {
                                                <label>已帶入</label>
                                            }
                                        </td>
                                        <td style="width: 90px;text-align:center">
                                            @if (vs_id_list.Contains((vsDataList[i].vs_id)))
                                            {
                                                if (VSID_List.Count > 0)
                                                {
                                                    var record_Date = "";
                                                    var record_Time = "";
                                                    foreach (var data in VSID_List)
                                                    {
                                                        if (data["vs_id"] == vsDataList[i].vs_id)
                                                        {
                                                            record_Date = DateTime.Parse(data["record_time"]).ToString("yyyy/MM/dd");
                                                            record_Time = DateTime.Parse(data["record_time"]).ToString("HH:mm");
                                                        }
                                                    }
                                                    @record_Date <br>
                                                    @record_Time
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="9">無資料</td></tr>
                        }
                        }
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>