@{
    List<ERConsultation> ERConsultationList = new List<ERConsultation>();
    if (ViewData["ERConsultationInfo"] != null)
    {
        ERConsultationList = (List<ERConsultation>)ViewData["ERConsultationInfo"];
    }

}
<style>
    #ERConsultation td {
        text-align: left;
        padding: 5px;
    }

    #ConsultationContent table {
        margin-left: auto;
        margin-right: auto;
        /*border-collapse: collapse;*/
    }
    th {
        background-color:#85A5CC;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();        
    });
    function setGridColor() {
        //格行換色
        $('#ConsultationList tr:odd').css('background', '#ABC8E2');
        $('#ConsultationList tr:even').css('background', '#E1E6FA');
    }
</script>
<div id="ConsultationList" style="text-align:center;">
    <table style="border:2px solid;text-align:center;width:100%;margin-top:30px;">
        <tr>
            <th>申請日期時間</th>
            <th>會診別</th>
            <th>照會科別</th>
            <th>指定照會醫師</th>
            <th>執行狀態</th>
            <th>輸入人</th>
            <th>申請醫師</th>
            <th>申請科別</th>
        </tr>
        @{
            if (ERConsultationList.Count > 0)
            {
                for (int i = 0; i < ERConsultationList.Count; i++)
                {
                    <tr onclick="$('[id^=ConsultationContent]').hide();$('#ConsultationContent@(i)').show();">
                        <td>@ERConsultationList[i].ApplicationTime.ToString()</td>
                        <td>@ERConsultationList[i].Cateory.ToString()</td>
                        <td>@ERConsultationList[i].NoteDept.ToString()</td>
                        <td>@ERConsultationList[i].NoteDoc.ToString()</td>
                        <td>@ERConsultationList[i].Status.ToString()</td>
                        <td>@ERConsultationList[i].EnterName.ToString()</td>
                        <td>@ERConsultationList[i].ApplicationDoc.ToString()</td>
                        <td>@ERConsultationList[i].ApplicationDept.ToString()</td>
                    </tr>
                }
            }
        }
    </table>
</div>
@{
    if (ERConsultationList.Count > 0)
    {
        for (int i = 0; i < ERConsultationList.Count; i++)
        {
            <table id="ConsultationContent@(i)" style="display:none;text-align:left;margin-left:40px;margin-top:20px;">
                <tr>
                    <td>1. Referred By：申請醫師：@ERConsultationList[i].ApplicationDoc.ToString()</td>
                    <td>申請時間：@ERConsultationList[i].ApplicationTime.ToString()</td>
                </tr>
                <tr>
                    <td>2. Refer to：科別：@ERConsultationList[i].NoteDept.ToString()</td>
                    <td>醫師：@ERConsultationList[i].NoteDoc.ToString()</td>
                </tr>
                <tr>
                    <td colspan="2">
                        3. Clinical Summery：
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @ERConsultationList[i].Summery.ToString()
                    </td>
                </tr>
                <tr>
                    <td>4. Consult Result：會診醫師：@ERConsultationList[i].ConsultationDoc.ToString()</td>
                    <td>會診時間：@ERConsultationList[i].ReplyTime.ToString()</td>
                </tr>
                <tr>
                    <td colspan="2">@ERConsultationList[i].Result.ToString()</td>
                </tr>
            </table>
        }
    }
}
