@using System.Data;
@using NIS.Data;
@{
    ViewBag.Title = "Detection_Result";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    List<TriageInfo> TriageInfo = new List<TriageInfo>();
    TriageInfo = (List<TriageInfo>)ViewData["TriageInfo"];    
}
@functions
{
    public double calAgeByBirth(string birth)
    {
        DateTime birthDate;
        birth = (Convert.ToInt16(birth.Substring(0, birth.IndexOf("/"))) + 1911).ToString() + birth.Substring(birth.IndexOf("/"), birth.Length - birth.IndexOf("/"));
        // 以下兩種將字串轉換 成DateTime格式都可以。
        // DateTime.TryParseExact(birth, new string []{"yyyyMMdd"}, System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out birthDate);
        birthDate = DateTime.ParseExact(birth, "yyyy/MM/dd", System.Globalization.CultureInfo.InvariantCulture);
        TimeSpan ts = DateTime.Now - birthDate;
        double age = ts.TotalDays / 365.2422;
        return Math.Floor(age);
    }
}
<style>
    #TriageInfo td {
        text-align: left;
        padding:5px;
    }

    #TriageContent table {
        margin-left: auto;
        margin-right: auto;
        border-collapse:collapse;
    }
    .result {
        color:#867979;
        font-family:'Microsoft JhengHei';
    }
</style>
<script>
    $(document).ready(function () {
        @{
            if(TriageInfo[0].OHCA_FLAG.ToString() == "Y")
            {
                @:$('#OHCA').show();
            }
            if (TriageInfo[0].DOMESTIC_VIOLENCE_FLAG.ToString() == "Y")
            {
                @:$('#DOMESTIC_VIOLENCE').show();
            }
            if (TriageInfo[0].SEXUAL_ABUSE_FLAG.ToString() == "Y")
            {
                @:$('#SEXUAL_ABUSE').show();
            }
            if (TriageInfo[0].SUICIDE_FLAG.ToString() == "Y")
            {
                @:$('#SUICIDE').show();
            }
            if (TriageInfo[0].DANGER_FLAG.ToString() == "Y")
            {
                @:$('#DANGER').show();
            }
            if (TriageInfo[0].TRAUMA_FLAG.ToString() == "Y")
            {
                @:$('#TRAUMA').show();
            }

        }
    });
</script>
<div id="TriageContent">
    <table border="1" id="TriageInfo">
        <tr>
            <td>檢傷級數：<label class="result">@TriageInfo[0].Level</label></td>
            <td>科別：<label class="result">@(TriageInfo[0].DeptNo) - @(TriageInfo[0].DeptName)</label></td>
        </tr>
        <tr>
            <td>到院時間：<label class="result">@(TriageInfo[0].ADMIT_DATE) @(TriageInfo[0].ADMIT_TIME)</label></td>
            <td style="vertical-align:middle;">
                <span id="OHCA" style="display:none;"><label>OHCA</label></span>
                <span id="TRAUMA" style="display:none;"><img src="@Url.Content("~/Images/ER/ER01.jpg")" /></span>
                <span id="DOMESTIC_VIOLENCE" style="display:none;"><img src="@Url.Content("~/Images/ER/ER04.jpg")" /></span>
                <span id="SEXUAL_ABUSE" style="display:none;"><img src="@Url.Content("~/Images/ER/ER03.jpg")" /></span>
                <span id="SUICIDE" style="display:none;"><img src="@Url.Content("~/Images/ER/ER02.jpg")" /></span>
                <span id="DANGER" style="display:none;"><img src="@Url.Content("~/Images/ER/ER05.jpg")" /></span>            
            </td>
        </tr>
        <tr>
            <td>
                <div>基本資料：</div>
                <div>
                    <span>姓名：<label class="result">@TriageInfo[0].PT_NAME</label></span>
                    <span> 性別：<label class="result">@TriageInfo[0].SEX</label></span>
                    <span> 年齡：<label class="result">@(calAgeByBirth(TriageInfo[0].BIRTH_DATE.ToString()))</label></span>
                </div>
                <div>
                    <span>病歷號：<label class="result">@TriageInfo[0].ChartNo</label></span>
                    <span> 身份證：<label class="result">@TriageInfo[0].ID_NO</label></span>
                </div>
                <div>
                    <span>生日：<label class="result">@TriageInfo[0].BIRTH_DATE</label></span>
                    <span> 電話：<label class="result">@TriageInfo[0].TEL_NO</label></span>
                </div>
            </td>
            <td>
                <div>過敏史：<label class="result">@TriageInfo[0].ALLERGY_FLAG</label></div>
                <div>藥食物：<label class="result">@TriageInfo[0].ALLERGY_MED_FOOD</label></div>
                <div>其他：<label class="result">@TriageInfo[0].ALLERGY_OTHER</label></div>
                <div><span>血型：<label class="result">@TriageInfo[0].BLOOD_TYPE</label></span><span> 受傷機轉：<label class="result">@TriageInfo[0].INJURY_FLAG</label></span></div>
            </td>
        </tr>
        <tr>
            <td>到院方式：<label class="result">@TriageInfo[0].IN_HOSP_TYPE</label></td>
            <td>陪同人員：<label class="result">@TriageInfo[0].ESCORTS_PERSON</label></td>
        </tr>
        <tr>
            <th colspan="2">護理評估</th>
        </tr>
        <tr>
            <td colspan="2">
                昏迷指數：
                <span>E：<label class="result">@TriageInfo[0].GCS_E</label></span>
                <span>、M：<label class="result">@TriageInfo[0].GCS_M</label></span>
                <span>、V：<label class="result">@TriageInfo[0].GCS_V</label></span>
                <span> = GCS：<label class="result">@TriageInfo[0].GCS_Total</label></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Pupil Size：
                <span>Left：<label class="result">@(TriageInfo[0].PUPIL_SIZE_LEFT)</label>(<label class="result">@(TriageInfo[0].LIGHT_REACTION_LEFT)</label>)</span>
                <span> / Right：<label class="result">@(TriageInfo[0].PUPIL_SIZE_RIGHT)</label>(<label class="result">@(TriageInfo[0].LIGHT_REACTION_RIGHT)</label>)</span>
                @*<span>(PUPIL SIXZ)</span>*@
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    生命徵象：<label class="result">@TriageInfo[0].VITAL_SIGNS_FLAG</label>
                </div>
                <div>
                    <span>BP：<label class="result">@TriageInfo[0].BP_SYSTOLIC</label></span>
                    <span> / <label class="result">@TriageInfo[0].BP_DIASTOLIC</label></span>
                    <span>
                        mmHg
                        @if (@TriageInfo[0].BP_REMARK.ToString().Trim() != "")
                        {
                            <text>
                                (<label class="result">@TriageInfo[0].BP_REMARK</label>)
                            </text>
                        }
                    </span>
                </div>
                <div>
                    <span>TPR：<label class="result">@TriageInfo[0].TEMPERATURE</label></span>
                    <span> ℃、<label class="result">@TriageInfo[0].PULSE</label> bpm</span>
                    <span>
                        、<label class="result">@TriageInfo[0].RESPIRE</label> bpm
                        @if (@TriageInfo[0].VITAL_SIGNS_NOTE.ToString().Trim() != "")
                        {
                            <text>
                                (<label class="result">@TriageInfo[0].VITAL_SIGNS_NOTE</label>)
                            </text>
                        }
                    </span>
                </div>
                <div>
                    體重：<label class="result">@TriageInfo[0].BODY_WEIGHT</label> Kg
                </div>
                <div>
                    <span>血氧飽合度：<label class="result">@TriageInfo[0].SPO2</label> %</span>
                    <span> 測量時間：<label class="result">@TriageInfo[0].MEASURING_TIME</label></span>
                </div>
                <div>
                    <span>疼痛評估：
                    @{ if (string.IsNullOrEmpty(TriageInfo[0].VAS))
                        {
                            <label class="result">無</label>
                        }
                        else
                        {
                            <label class="result">@TriageInfo[0].VAS 分</label>
                        }
                    }
                    </span>
                </div>
            </td>
            <td>
                <div>發燒評估(體溫 ≧ 38°C)：</div>
                <div>接觸史：<label class="result">@TriageInfo[0].HIS_CONTACT_FLAG</label></div>
                <div>旅遊史：<label class="result">@TriageInfo[0].HIS_TRAVEL_FLAG</label></div>
                <div>群聚史：<label class="result">@TriageInfo[0].HIS_GATHER_FLAG</label></div>
                <div>職業史：<label class="result">@TriageInfo[0].HIS_OCCUPATION_FLAG</label></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>呼吸型態：</div>
                <div><label class="result">@TriageInfo[0].BREATH_CONDITION</label></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>皮膚徵象：</div>
                <div><label class="result">@TriageInfo[0].SKIN_SIGN</label></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>皮膚異常部位：</div>
                <div><label class="result">@TriageInfo[0].SKIN_UNUSUAL_SPOT</label></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>傷口：</div>
                <div><label class="result">@TriageInfo[0].ER_WOUND</label></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>過去病史：</div>
                <div><label class="result">@TriageInfo[0].HIS_MEDICAL</label></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div>主訴：</div>
                <div><label class="result">@TriageInfo[0].SUBJECT</label></div>
            </td>
        </tr>
        <tr>
            <td colspan="2">檢傷護理師：<label class="result">@TriageInfo[0].TRIAGE_NURSE</label></td>
            @*<td>確認護士：<label class="result">@TriageInfo[0].CONFRIM_NURSE</label></td>*@
        </tr>
    </table>
</div>

