@using System.Data;
@using NIS.Data;
@{
    DataTable dt = ViewBag.dt;
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}
<style type="text/css">
    .cl_triArea table {
        border: 1px solid #fff;
        line-height: 25px;
        border-spacing: 0px;
        border-collapse: collapse;
        margin: -1px;
        font-family: "微軟正黑體";
        font-size: 14px;
        width: 100%;
    }

    .cl_triArea td {
        border: 1px solid #fff;
        line-height: 28px;
        /*border-spacing: 0px;
        border-collapse: collapse;*/
        height: 32px;
        padding-left: 4px;
    }

    .noborder, .noborder td {
        border: 0px solid #000;
        line-height: 25px;
        border-spacing: 0px;
    }

    .td_title {
        font-weight: bold;
    }

    input[type="text"]:focus {
        background-color: pink;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('input[name^=txt_ER_SITUATION_]').each(function () {
            $(this).attr('onchange', 'check_num(this);');
        });
        @{
            if (dt.Rows.Count>0)
            {
                <text>
        $("[name=pt_action][value='@(dt.Rows[0]["PT_ACTION"])']").trigger('click').trigger('onclick');
        $("[name=discharge_status][value='@(dt.Rows[0]["DISCHARGE_STATUS"])']").trigger('click').trigger('onclick');
        $("[name=tranfer_name]").val('@(dt.Rows[0]["TRANFER_NAME"])');
        $("[name=tranfer_type][value='@(dt.Rows[0]["TRANFER_TYPE"])']").trigger('click').trigger('onclick');
        $("[name=referral][value='@(dt.Rows[0]["REFERRAL"])']").trigger('click').trigger('onclick');
        $("[name=other]").val('@(dt.Rows[0]["OTHER"])');
        $("[name=bed_no]").val('@(dt.Rows[0]["BED_NO"])');
        $("[name=accompanied]").val('@(dt.Rows[0]["ACCOMPANIED"])');
        $("[name=txt_ER_SITUATION_bt]").val('@(dt.Rows[0]["TXT_ER_SITUATION_BT"])');
        $("[name=txt_ER_SITUATION_mp]").val('@(dt.Rows[0]["TXT_ER_SITUATION_MP"])');
        $("[name=txt_ER_SITUATION_bf]").val('@(dt.Rows[0]["TXT_ER_SITUATION_BF"])');
        $("[name=txt_ER_SITUATION_bp1]").val('@(dt.Rows[0]["TXT_ER_SITUATION_BP1"])');
        $("[name=txt_ER_SITUATION_bp2]").val('@(dt.Rows[0]["TXT_ER_SITUATION_BP2"])');
        $("[name=txt_ER_SITUATION_sp]").val('@(dt.Rows[0]["TXT_ER_SITUATION_SP"])');
        $.each('@(dt.Rows[0]["DIRECTOR"])'.split(","), function (i, item) {
            $("[name=director][value='" + item + "']").prop('checked', true).trigger('onclick');
        });
        $("[name=director_family_txt]").val('@(dt.Rows[0]["DIRECTOR_FAMILY_TXT"])');
        $("[name=director_other_txt]").val('@(dt.Rows[0]["DIRECTOR_OTHER_TXT"])');
        $.each('@(dt.Rows[0]["DIRECTOR_TYPE"])'.split(","), function (i, item) {
            $("[name=director_type][value='" + item + "']").prop('checked', true).trigger('onclick');
        });
        $.each('@(dt.Rows[0]["PFE_ITEM"])'.split(","), function (i, item) {
            $("[name=pfe_item][value='" + item + "']").prop('checked', true).trigger('onclick');
        });
        $("[name=pfe_item_other_txt]").val('@(dt.Rows[0]["PFE_ITEM_OTHER_TXT"])');
        $("[name=registered_type][value='@(dt.Rows[0]["REGISTERED_TYPE"])']").trigger('click').trigger('onclick');
        $("[name=registered_type_other_txt]").val('@(dt.Rows[0]["REGISTERED_TYPE_OTHER_TXT"])');
        $("[name=reg_dept]").val('@(dt.Rows[0]["REG_DEPT"])');
        $("[name=reg_date]").val('@(dt.Rows[0]["REG_DATE"])');
        $("[name=reg_type][value='@(dt.Rows[0]["REG_TYPE"])']").trigger('click').trigger('onclick');
        $.each('@(dt.Rows[0]["DISCHARGE_CHECK_LIST"])'.split(","), function (i, item) {
            $("[name=discharge_check_list][value='" + item + "']").prop('checked', true).trigger('onclick');
        });
        $("[name=electrocardiogram_amount]").val('@(dt.Rows[0]["ELECTROCARDIOGRAM_AMOUNT"])');
        $("[name=pt_status][value='@(dt.Rows[0]["PT_STATUS"])']").trigger('click').trigger('onclick');
        $("[name=out_day]").val('@(dt.Rows[0]["OUT_TIME"].ToString().Substring(0, 10))');
        $("[name=out_time]").val('@(dt.Rows[0]["OUT_TIME"].ToString().Substring(11, 5))');
        </text>
            }
        }

    });
    function check_num(obj) {
        if (obj.value.indexOf('.') > -1) {
            var re = /^[0-9]+\.[0-9]*$/;
            if (obj.value.indexOf('-') == 0)
                re = /^[-]?[0-9]+\.[0-9]*$/;
        }
        else {
            var re = /^[0-9]+$/;
            if (obj.value.indexOf('-') == 0)
                re = /^[-]?[0-9]*$/;
        }
        if (!re.test(obj.value) && obj.value != "") {
            alert("只能輸入數字");
            $(obj).val('');
        }
        else if (obj.value.indexOf('.') > -1) {
            var re = /^[0-9]+\.[0-9]?$/;
            if (!re.test(obj.value) && obj.value != "")
                $(obj).val(obj.value.substring(0, obj.value.indexOf('.') + 2));
        }
    }

    function submit_check() {

            if ($('[name=pt_action]:checked').val() == null) {
                alert('請填寫病人動向。');
                return false;
            }
            var success = true;
            $("input:visible").each(function () {
                if ($(this).prop("type") == "radio")
                {
                    if ($("[name=" + $(this).prop("name") + "]:checked").length == 0 && $(this).prop("name") != "pt_status" && $(this).prop("name") != "reg_type") {
                        alert('項目未填寫完成!');
                        //alert($(this).attr("name"));
                        $(this).focus();
                        $('#check_status').val('F');
                        return false;
                    }
                }
                if ($(this).prop("type") == "text") {
                    if ($("input[type=text][name=" + $(this).prop("name") + "]").val() == "" && $(this).prop("name") != "director_family_txt" && $(this).prop("name").substring(0,17) != "txt_ER_SITUATION_") {
                        alert('項目未填寫完成!');
                        $(this).focus();
                        $('#check_status').val('F');
                        return false;
                    }
                }
                $('#check_status').val('');
            }
            );
            if ($('#check_status').val() == "F")
            {
                return false;
            }
            if ($('[name=pt_action]:checked').val() == '准許出院' || $('[name=pt_action]:checked').val() == '自動出院') {
                if ($('[name=registered_type]:checked').val() == null) {
                    alert('請填寫回診方式。');
                    return false;
                }
            }
            if ($('[name=pt_status]:checked').val() == null) {
                alert('請填寫病人動態。');
                return false;
            }
            //檢視紀錄內容
            var title = $('[name=pt_action]:checked').val();
            var content = "";
            var referral = $('[name=referral]:checked').val();
            if (referral == "是")
                referral = "，備轉診單";
            var other_text;
            if ($('[name=other]').val() != '')
                other_text = "，其他：" + $('[name=other]').val();
            else
                other_text = "";
            var accompanied_text;
            if ($('[name=accompanied').val() != '')
                accompanied_text = "，陪同者：" + $('[name=accompanied').val();
            else
                accompanied_text = "";
            var discharge_status = $('[name=discharge_status]:checked').val();
            if (discharge_status == '其他')
                discharge_status = "其他：" + $('[name=discharge_status_other_txt]').val();
            if (title == "准許出院")
                content += "病人病況已改善，經醫師診治後，准許出院，" + discharge_status + "。";
            if (title == "自動出院")
                content += "病人病況_______，因_______，經醫師同意後，依自動出院流程協助辦理出院，由" + discharge_status + "。";
            if (title == "不告而別")
                content += "於_______探視病人，病人未於位置上，聯絡_______，聯絡結果_______，通知主治醫師，依院內潛離流程辦理。";
            if (title == "轉院")
                content += "病人病況未改善，經_______建議，轉" + $('[name=tranfer_name]').val() + "，轉院方式：" + $('[name=tranfer_type]:checked').val() + referral + other_text + "。";
            if (title == "辦理入院")
                content += "病人病況未改善，經主治醫師評估後，建議辦理住院，轉" + $('[name=bed_no]').val() + accompanied_text + "，做進一步治療。";
            if (title == "手術")
                content += "主治醫師評估病人後，診治為_______，建議入手術室執行治療。";
            if (title == "死亡")
                content += "病人於_______心跳停止 ，主治醫師確認後宣告死亡。";
            if ($('[name=txt_ER_SITUATION_bt]').val() != "" || $('[name=txt_ER_SITUATION_mp]').val() != "" || $('[name=txt_ER_SITUATION_bf]').val() != "" || $('[name=txt_ER_SITUATION_bp1]').val() != "" || $('[name=txt_ER_SITUATION_bp2]').val() != "" || $('[name=txt_ER_SITUATION_sp]').val() != "")
            {
                content += "生命徵象：";
                var vitalsign = [];
                if ($('[name=txt_ER_SITUATION_bt]').val() != "")
                    vitalsign.push("體溫：" + $('[name=txt_ER_SITUATION_bt]').val() + " ℃");
                if ($('[name=txt_ER_SITUATION_mp]').val() != "")
                    vitalsign.push("脈搏：" + $('[name=txt_ER_SITUATION_mp]').val() + " 次/分鐘");
                if ($('[name=txt_ER_SITUATION_bf]').val() != "")
                    vitalsign.push("呼吸：" + $('[name=txt_ER_SITUATION_bf]').val() + " 次/分鐘");
                if ($('[name=txt_ER_SITUATION_bp1]').val() != "" || $('[name=txt_ER_SITUATION_bp2]').val() != "")
                    vitalsign.push("血壓：" + $('[name=txt_ER_SITUATION_bp1]').val() + "/" + $('[name=txt_ER_SITUATION_bp2]').val() + " mmHg");
                if ($('[name=txt_ER_SITUATION_sp]').val() != "")
                    vitalsign.push("血氧飽和度：" + $('[name=txt_ER_SITUATION_sp]').val() + " %");
                var tmp = vitalsign.join('，');
                content += tmp + "。";
            }
            if ($('[name=director_type]:checked').map(function () { return $(this).val(); }).get().join('，') != "" ) {
                content += "給予護理指導：";
                var pfe_content = [];
                if ($('[name=director_type]:checked').map(function () { return $(this).val(); }).get().join('，') != "")
                    pfe_content.push($('[name=director_type]:checked').map(function () { return $(this).val(); }).get().join('、'));
                if ($('[name=pfe_item]:checked').map(function () { return $(this).val(); }).get().join('，') != "") {
                    var tmp1 = $('[name=pfe_item]:checked').map(function () { return $(this).val(); }).get().join('、');
                    tmp1 = tmp1.replace("其他", "");
                    pfe_content.push(tmp1 + $('[name=pfe_item_other_txt]').val());
                }
                var tmp2 = pfe_content.join('，');
                content += tmp2 + "。";
            }
            if ($('[name=director]:checked').map(function () { return $(this).val(); }).get().join('，') != "") {
                content += "指導對象：";
                var director = $('[name=director]:checked').map(function () { return $(this).val(); }).get().join('、').replace("家屬", "家屬：" + $('[name=director_family_txt]').val()).replace("其他", "其他：" + $('[name=director_other_txt]').val());
                content += director + "。";
            }
            if ($('[name=registered_type]:checked').val() == "預約掛號") {
                content += "回診方式：預約掛號";
                var tmp3 = [];
                if ($('[name=reg_dept]').val() != "")
                    tmp3.push($('[name=reg_dept]').val());
                if ($('[name=reg_dept]').val() != "")
                    tmp3.push($('[name=reg_date]').val());
                if ($('[name=reg_type]:checked').length > 0)
                    tmp3.push($('[name=reg_type]:checked').val());
                var tmp4 = tmp3.join("，");
                content += tmp4 + "。";
            }
            if ($('[name=registered_type]:checked').val() == "自行掛號") {
                content += "回診方式：自行掛號。";
            }
            if ($('[name=registered_type]:checked').val() == "其他") {
                content += "回診方式：其他：" + $('[name=registered_type_other_txt]').val() + "。";
            }
            if ($('[name=pt_status]:checked').val() == "Pending") {
                save_data(title, content);
                return true;
            }
            else
            {
                $("#sys_Block, #sys_Loading").show();
                $("#sys_Loading").hide();
                $("#CareRecord_Info").center().show();
                $.ajax({
                    type: "Post",
                    url: '@Url.Content("~/ER/CareRecordContent")',
                    cache: false,
                    data: {
                        title: title,
                        content: content
                    },
                    success: function (reslut) {
                        $("#CareRecord_Content").html(reslut);

                    },
                    Complete: function () {

                    },
                    error: function () {
                        alert('error');
                    }
                });
                $('#sys_Block, #sys_Loading').hide();
            }


            return false;
            //驗證成功後進行存檔
        }

        function save_data(title, content) {
            $.ajax({
                type: "Post",
                url: '@Url.Content("~/ER/TransferOut")',
                cache: false,
                data: {
                    save_status: $('#save_status').val(),
                    pt_action: $('[name=pt_action]:checked').val(),
                    discharge_status: $('[name=discharge_status]:checked').val(),
                    tranfer_name: $('[name=tranfer_name]').val(),
                    tranfer_type: $('[name=tranfer_type]:checked').val(),
                    referral: $('[name=referral]:checked').val(),
                    other: $('[name=other]').val(),
                    bed_no: $('[name=bed_no]').val(),
                    accompanied: $('[name=accompanied]').val(),
                    txt_er_situation_bt: $('[name=txt_ER_SITUATION_bt]').val(),
                    txt_er_situation_mp: $('[name=txt_ER_SITUATION_mp]').val(),
                    txt_er_situation_bf: $('[name=txt_ER_SITUATION_bf]').val(),
                    txt_er_situation_bp1: $('[name=txt_ER_SITUATION_bp1]').val(),
                    txt_er_situation_bp2: $('[name=txt_ER_SITUATION_bp2]').val(),
                    txt_er_situation_sp: $('[name=txt_ER_SITUATION_sp]').val(),
                    director: $('[name=director]:checked').map(function () { return $(this).val(); }).get().join(','),
                    director_family_txt: $('[name=director_family_txt]').val(),
                    director_other_txt: $('[name=director_other_txt]').val(),
                    director_type: $('[name=director_type]:checked').map(function () { return $(this).val(); }).get().join(','),
                    pfe_item: $('[name=pfe_item]:checked').map(function () { return $(this).val(); }).get().join(','),
                    pfe_item_other_txt: $('[name=pfe_item_other_txt]').val(),
                    registered_type: $('[name=registered_type]:checked').val(),
                    registered_type_other_txt: $('[name=registered_type_other_txt]').val(),
                    reg_dept: $('[name=reg_dept]').val(),
                    reg_date: $('[name=reg_date]').val(),
                    reg_type: $('[name=reg_type]:checked').val(),
                    discharge_check_list: $('[name=discharge_check_list]:checked').map(function () { return $(this).val(); }).get().join(','),
                    electrocardiogram_amount: $('[name=electrocardiogram_amount]').val(),
                    pt_status: $('[name=pt_status]:checked').val(),
                    out_time: $('[name=out_day]').val() + " " + $('[name=out_time]').val(),
                    title: title,
                    content: content
                },
                success: function (result) {
                    if (result == "Success") {
                        $("#CareRecord_Info").hide();
                        alert("儲存成功!");
                        window.location.href('@Url.Content("~/CareRecord/List")');
                    }
                    else {
                        alert("儲存失敗!");
                    }
                }
            });
        }
        function clear_value(name) {
            $('input[type=text][name=' + name + ']').each(function () {
                $(this).prop("value", "");
            });
            $('input[type=radio][name=' + name + ']').each(function () {
                $(this).prop("checked", false);
            });
            $('input[type=checkbox][name=' + name + ']').prop('checked', false);
        }

</script>
<form id="form1" name="TransferOutForm" method="post" action="TransferOut">
    <input type="hidden" id="check_status" value="" />
    <input type="hidden" id="save_status" name="save_status" value="@(ViewBag.save_status)" />
    <div>
        <fieldset class="cl_field" style="border: 1px dashed #666; background: #eee;">

            <div class="tridataArea">
                <div style="text-align:center; margin:-10px 0px 10px 0px;">

                </div>
                <div class="cl_triArea">
                    <table class="tb_ERDischarge">
                        <tr>
                            <th colspan="6" style="background-color:#B592F8;">急診轉出摘要</th>
                        </tr>
                        <tr>
                            <td colspan="2" style="width:100px;text-align:center;background-color:rgb(171,200,226);">病人動向：</td>
                            <td colspan="4" style="background-color:rgb(225,230,250);">
                                <label><input type="radio" name="pt_action" value="准許出院" onclick="if ($('[name=pt_action]:checked').val() == '准許出院') { $('#admission_desc').hide(); $('#discharge_desc').show(); $('#tranfer_desc').hide(); $('.notfill').show(); $('.discharge_check_list').hide(); }" />准許出院</label>
                                <label><input type="radio" name="pt_action" value="自動出院" onclick="if ($('[name=pt_action]:checked').val() == '自動出院') { $('#admission_desc').hide(); $('#discharge_desc').show(); $('#tranfer_desc').hide(); $('.notfill').show(); $('.discharge_check_list').hide(); }" />自動出院</label>
                                <label><input type="radio" name="pt_action" value="不告而別" onclick="if ($('[name=pt_action]:checked').val() == '不告而別') { $('#admission_desc').hide(); $('#discharge_desc').hide(); $('#tranfer_desc').hide(); $('.notfill').hide(); $('.discharge_check_list').hide(); }" />不告而別</label>
                                <label><input type="radio" name="pt_action" value="轉院" onclick="if ($('[name=pt_action]:checked').val() == '轉院') { $('#admission_desc').hide(); $('#discharge_desc').hide(); $('#tranfer_desc').show(); $('.notfill').hide(); $('.vitalsign').show(); $('.discharge_check_list').hide(); }" />轉院</label>
                                <label><input type="radio" name="pt_action" value="辦理入院" onclick="if ($('[name=pt_action]:checked').val() == '辦理入院') { $('#admission_desc').show(); $('#discharge_desc').hide(); $('#tranfer_desc').hide(); $('.notfill').hide(); $('.vitalsign').show(); $('.discharge_check_list').show(); }" />辦理入院</label>
                                <label><input type="radio" name="pt_action" value="手術" onclick="if ($('[name=pt_action]:checked').val() == '手術') { $('#admission_desc').hide(); $('#discharge_desc').hide(); $('#tranfer_desc').hide(); $('.notfill').hide(); $('.vitalsign').show(); $('.discharge_check_list').show(); }" />手術</label>
                                <label><input type="radio" name="pt_action" value="死亡" onclick="if ($('[name=pt_action]:checked').val() == '死亡') { $('#admission_desc').hide(); $('#discharge_desc').hide(); $('#tranfer_desc').hide(); $('.notfill').hide(); }" />死亡</label>
                                <div id="discharge_desc" style="display:none;">
                                    <label><input type="radio" name="discharge_status" value="家人接回" onclick="if ($('[name=discharge_status]:checked').val() == '其他') { $('#discharge_status_other').show(); } else { $('#discharge_status_other').hide(); }" />家人接回</label>
                                    <label><input type="radio" name="discharge_status" value="親友接回" onclick="if ($('[name=discharge_status]:checked').val() == '其他') { $('#discharge_status_other').show(); } else { $('#discharge_status_other').hide(); }" />親友接回</label>
                                    <label><input type="radio" name="discharge_status" value="自行回家" onclick="if ($('[name=discharge_status]:checked').val() == '其他') { $('#discharge_status_other').show(); } else { $('#discharge_status_other').hide(); }" />自行回家</label>
                                    <label><input type="radio" name="discharge_status" value="其他" onclick="if ($('[name=discharge_status]:checked').val() == '其他') { $('#discharge_status_other').show(); } else { $('#discharge_status_other').hide(); }" />其他</label>
                                    <span id="discharge_status_other" style="display:none;"><input type="text" name="discharge_status_other_txt" /></span>
                                </div>
                                <div id="tranfer_desc" style="display:none;">
                                    <div><label>醫院名稱：</label><input type="text" name="tranfer_name" style="width:150px;" /></div>
                                    <div>
                                        <label>轉院方式：</label>
                                        <label><input type="radio" name="tranfer_type" value="自行前往" />自行前往</label>
                                        <label><input type="radio" name="tranfer_type" value="救護車" />救護車</label>
                                    </div>
                                    <div>
                                        <label>轉診單：</label>
                                        <label><input type="radio" name="referral" value="是" />是</label>
                                        <label><input type="radio" name="referral" value="否" />否</label>
                                    </div>
                                    <div>
                                        <label>其它：</label><input type="text" name="other" style="width:150px;" />

                                    </div>
                                </div>
                                <div id="admission_desc" style="display:none;">
                                    <label>床位：</label><input type="text" name="bed_no" style="width:150px;" />
                                    <label>陪同者：</label><input type="text" name="accompanied" style="width:150px;" />
                                </div>
                            </td>
                        </tr>
                        <tr class="notfill vitalsign">
                            <td style="width:150px;text-align:center;background-color:rgb(171,200,226);" colspan="2">生命徵象：</td>
                            <td colspan="4" style="background-color:rgb(225,230,250);">
                                <div>體溫：@Html.TextBox("txt_ER_SITUATION_bt", "", new { style = "width:50px" }) ℃</div>
                                <div>脈博：@Html.TextBox("txt_ER_SITUATION_mp", "", new { style = "width:50px" }) 次/分鐘</div>
                                <div>呼吸：@Html.TextBox("txt_ER_SITUATION_bf", "", new { style = "width:50px" }) 次/分鐘</div>
                                <div>血壓：@Html.TextBox("txt_ER_SITUATION_bp1", "", new { style = "width:50px" }) / @Html.TextBox("txt_ER_SITUATION_bp2", "", new { style = "width:50px" }) mmHg</div>
                                <div>血氧飽和度：@Html.TextBox("txt_ER_SITUATION_sp", "", new { style = "width:50px" }) %</div>
                            </td>
                        </tr>
                        <tr class="notfill vitalsign">
                            <td style="width:150px;text-align:center;background-color:rgb(171,200,226);" colspan="2">護理指導：</td>
                            <td colspan="4" style="background-color:rgb(225,230,250);">
                                <div>
                                    <label>指導者：</label>
                                    <label><input type="checkbox" name="director" value="病人" />病人</label>
                                    <label><input type="checkbox" name="director" value="家屬" onclick="if ($(this).prop('checked')) { $('#director_family_desc').show(); } else { $('#director_family_desc').hide(); clear_value('director_family_txt'); }" />家屬</label>
                                    <span id="director_family_desc" style="display:none;"><input type="text" name="director_family_txt" /></span>
                                    <label><input type="checkbox" name="director" value="看護" />看護</label>
                                    <label><input type="checkbox" name="director" value="外傭" />外傭</label>
                                    <label><input type="checkbox" name="director" value="其他" onclick="if ($(this).prop('checked')) { $('#director_other_desc').show(); } else { $('#director_other_desc').hide(); clear_value('director_other_txt'); }" />其他</label>
                                    <span id="director_other_desc" style="display:none;"><input type="text" name="director_other_txt" /></span>
                                </div>
                                <div>
                                    <label>指導類別：</label>
                                    <label><input type="checkbox" name="director_type" value="藥物指導" />藥物指導</label>
                                    <label><input type="checkbox" name="director_type" value="飲食指導" />飲食指導</label>
                                    <label><input type="checkbox" name="director_type" value="衛教單張指導" onclick="if ($(this).prop('checked')) { $('#pfe_desc').show(); } else { $('#pfe_desc').hide(); clear_value('pfe_item'); }" />衛教單張指導</label>
                                    <label><input type="checkbox" name="director_type" value="高危險跌倒指導" />高危險跌倒指導</label>
                                    <div id="pfe_desc" style="display:none;">
                                        <div><label><input type="checkbox" value="頭部外傷病人出院須知" name="pfe_item" />頭部外傷病人出院須知</label></div>
                                        <div><label><input type="checkbox" value="急性腸胃炎返家後應注意事項" name="pfe_item" />急性腸胃炎返家後應注意事項</label></div>
                                        <div><label><input type="checkbox" value="外傷傷口返家後注意事項" name="pfe_item" />外傷傷口返家後注意事項</label></div>
                                        <div><label><input type="checkbox" value="使用傷口黏著劑的照顧" name="pfe_item" />使用傷口黏著劑的照顧</label></div>
                                        <div><label><input type="checkbox" value="寶寶發燒的處理" name="pfe_item" />寶寶發燒的處理</label></div>
                                        <div><label><input type="checkbox" value="熱性痙攣處理十問" name="pfe_item" />熱性痙攣處理十問</label></div>
                                        <div><label><input type="checkbox" value="認識腸病毒" name="pfe_item" />認識腸病毒</label></div>
                                        <div><label><input type="checkbox" value="石膏護理" name="pfe_item" />石膏護理</label></div>
                                        <div><label><input type="checkbox" value="幼童胸腔物理治療" name="pfe_item" />幼童胸腔物理治療</label></div>
                                        <div><label><input type="checkbox" value="鎖骨骨折病人返家後應注意事項" name="pfe_item" />鎖骨骨折病人返家後應注意事項</label></div>
                                        <div>
                                            <label><input type="checkbox" name="pfe_item" value="其他" onclick="if ($(this).prop('checked')) { $('#pfe_item_other_desc').show(); } else { $('#pfe_item_other_desc').hide(); }" />其他</label>
                                            <span id="pfe_item_other_desc" style="display:none;"><input type="text" name="pfe_item_other_txt" /></span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="notfill">
                            <td style="width:150px;text-align:center;background-color:rgb(171,200,226);" colspan="2">回診方式：</td>
                            <td colspan="4" style="background-color:rgb(225,230,250);">
                                <label><input type="radio" name="registered_type" value="預約掛號" onclick="if ($('[name=registered_type]:checked').val() == '預約掛號') { $('#registered_type_other_desc').hide(); $('#reservation_registered_desc').show(); }" />預約掛號</label>
                                <label><input type="radio" name="registered_type" value="自行掛號" onclick="if ($('[name=registered_type]:checked').val() == '自行掛號') { $('#registered_type_other_desc').hide(); $('#reservation_registered_desc').hide(); }" />自行掛號</label>
                                <label><input type="radio" name="registered_type" value="無此需要" onclick="if ($('[name=registered_type]:checked').val() == '無此需要') { $('#registered_type_other_desc').hide(); $('#reservation_registered_desc').hide(); }" />無此需要</label>
                                <label><input type="radio" name="registered_type" value="其他" onclick="if ($('[name=registered_type]:checked').val() == '其他') { $('#registered_type_other_desc').show(); $('#reservation_registered_desc').hide();clear_value('registered_type_other_txt'); }" />其他</label>
                                <span style="display:none;" id="registered_type_other_desc"><input type="text" name="registered_type_other_txt" /></span>
                                <div style="display:none;" id="reservation_registered_desc">
                                    <div><label>科別：</label><input type="text" name="reg_dept" /></div>
                                    <div>
                                        <label>日期：</label>
                                        @Html.TextBox("reg_date", "", new { @readonly = "readonly", style = "width:80px;" })
                                        @WebTool.setDateTime("reg_date", "", "", "", "0", "")
                                        @*@WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "reg_date", "", false, "")*@
                                    </div>
                                    <div>
                                        <label>診別：</label>
                                        <label><input type="radio" name="reg_type" value="上午" />上午</label>
                                        <label><input type="radio" name="reg_type" value="下午" />下午</label>
                                        <label><input type="radio" name="reg_type" value="晚上" />晚上</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr class="notfill discharge_check_list" style="display:none;">
                            <td style="width:150px;text-align:center;background-color:rgb(171,200,226);" colspan="2">轉出核對清單：</td>
                            <td colspan="4" style="background-color:rgb(225,230,250);">
                                <label><input type="checkbox" name="discharge_check_list" value="住院通知單" />住院通知單</label>
                                <label><input type="checkbox" name="discharge_check_list" value="舊病歷" />舊病歷</label>
                                <label><input type="checkbox" name="discharge_check_list" value="心電圖" onclick="if ($(this).prop('checked')) { $('#electrocardiogram_desc').show(); } else { $('#electrocardiogram_desc').hide(); clear_value('electrocardiogram_amount'); }" />心電圖</label>
                                <span id="electrocardiogram_desc" style="display:none;"><input type="text" name="electrocardiogram_amount" />張</span>
                                <label><input type="checkbox" name="discharge_check_list" value="X-ray" />X-ray</label>
                                <label><input type="checkbox" name="discharge_check_list" value="CT" />CT</label>
                                <label><input type="checkbox" name="discharge_check_list" value="財務保管" />財務保管</label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:150px;text-align:center;background-color:rgb(171,200,226);" colspan="2">病人動態：</td>
                            <td colspan="4" style="background-color:rgb(225,230,250);">
                                <label><input type="radio" name="pt_status" value="Close" onclick="if ($('[name=pt_status]:checked').val() == 'Close') { $('#discharge_time').hide(); } else { $('#discharge_time').show(); }" />結案</label>
                                <label><input type="radio" name="pt_status" value="Pending" onclick="if ($('[name=pt_status]:checked').val() == 'Pending') { $('#discharge_time').show(); } else { $('#discharge_time').hide(); }" />未結案</label>
                                <span style="display:none;" id="discharge_time">
                                <label>離院時間：</label>
                                    @Html.TextBox("out_day", DateTime.Now.ToString("yyyy/MM/dd"))
                                    @Html.TextBox("out_time", DateTime.Now.ToString("HH:mm"))
                                    @*@WebTool.setDateTime("out_day", "out_time")*@
                                    @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "out_day", "out_time", false)
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6" style="width:150px;text-align:center;background-color:#B592F8;">
                                <input type="button" value="存檔" onclick="submit_check();" />
                            </td>
                        </tr>
                    </table>
                    
                </div>
            </div>
        </fieldset>
    </div>
</form>


