@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string feeno = ViewBag.feeno;
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}

<script type="text/javascript">
    $(function () {
        $("#btn_tube_ass_list").css("background-color", "#666666");
        $("#btn_tube_ass_list").css("color", "#FFFFFF");
        setGridColor();
    });

    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
        $('.dataArea th').css('background', '#85A5CC');
    }
</script>

@using System.Data;
@{
    DataTable dt_Artery = ViewBag.dt_Artery;
    DataTable dt_Tracheostomy = ViewBag.dt_Tracheostomy;
    DataTable dt_Other = ViewBag.dt_Other;
    string strat = ViewBag.start;
    string end = ViewBag.end;
}
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
            <td style="padding:5px 0 5px 0;">
                @Html.TextBox("start_date", Convert.ToDateTime(strat).ToString("yyyy/MM/dd"), new { style = "width:80px" })
                @Html.TextBox("start_time", Convert.ToDateTime(strat).ToString("HH:mm"), new { style = "width:50px" })
                @Html.Label("lab", " ~ ")
                @Html.TextBox("end_date", Convert.ToDateTime(end).ToString("yyyy/MM/dd"), new { style = "width:80px" })
                @Html.TextBox("end_time", Convert.ToDateTime(end).ToString("HH:mm"), new { style = "width:50px" })
                @*@WebTool.setDateTime("start_date", "start_time")
                @WebTool.setDateTime("end_date", "end_time")*@
                @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "start_date", "start_time", false)
                @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "end_date", "end_time", false)
                <input type="button" value="查詢" onclick="window.location.href = 'Assessment_List?starttime=' + $('#start_date').val() + ' ' + $('#start_time').val() + '&endtime=' + $('#end_date').val() + ' ' + $('#end_time').val()+'&feeno=@(feeno)'" />
                @*<label><input type="radio" name="ass_type" checked="checked" onclick=" $('.2').fadeOut(0); $('.0').fadeOut(0); $('.1').fadeIn(500);" />動靜脈類管路</label>
                <label><input type="radio" name="ass_type" onclick=" $('.1').fadeOut(0); $('.0').fadeOut(0); $('.2').fadeIn(500);" />氣管內管/氣切</label>
                <label><input type="radio" name="ass_type" onclick=" $('.2').fadeOut(0); $('.1').fadeOut(0); $('.0').fadeIn(500);" />其他</label>*@
                <label><input type="radio" name="ass_type" checked="checked" onclick=" $('.2').fadeOut(0); $('.0').fadeOut(0); $('.1').fadeIn(0);" />動靜脈類管路</label>
                <label><input type="radio" name="ass_type" onclick=" $('.1').fadeOut(0); $('.0').fadeOut(0); $('.2').fadeIn(0);" />非縫線類管路</label>
                <label><input type="radio" name="ass_type" onclick=" $('.2').fadeOut(0); $('.1').fadeOut(0); $('.0').fadeIn(0);" />有縫線類管路</label>
            </td>
        </tr>
        <tr class="1">
            <td style="padding:5px 0 5px 0;">
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        <tr>
                            <td style="width:8%;">評估管路</td>
                            <td style="width:13%;">日期時間</td>
                            <td style="width:5%;">固定位置</td>
                            <td style="width:5%;">固定妥當</td>
                            <td>針眼及注射部位周圍皮膚狀況</td>
                            <td style="width:5%;">管路暢通</td>
                            <td style="width:6%;">評估者</td>
                            @*<td style="width:11%;"></td>*@
                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="height:250px;">@*height:400px*@
                    @if (dt_Artery != null && dt_Artery.Rows.Count > 0)
                    {
                    <table border="0" cellpadding="4" cellspacing="1" width="100%" style="width:100%;padding-bottom:10px;font-size:14px;">
                        @foreach (DataRow r in dt_Artery.Rows)
                        {
                        <tr>
                            <td style="width:8%;">@r["TYPE_NAME"]</td>
                            <td style="width:13%;">@Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")</td>
                            <td style="width:5%;">@r["TUBE_POSITION"]</td>
                            <td style="width:5%;">@r["FIX"]</td>
                            @{
                            int status_count = 0;
                            string[] status_list = r["SKIN_STATUS"].ToString().Split(',');
                            string[] range_list = r["RANGE"].ToString().Split(',');
                            string[] exudate_amount_list = r["EXUDATE_AMOUNT"].ToString().Split('|');
                            string[] exudate_type_list = r["EXUDATE_TYPE"].ToString().Split('|');
                            string content = "";
                            for (int i = 0; i < range_list.Length; i++)
                            {
                                if (range_list[i] != "")
                                {
                                    content += status_list[status_count] + range_list[i] + " cm、";
                                    status_count++;
                                }
                            }

                            for (int i = 0; i < exudate_amount_list.Length; i++)
                            {
                                if (exudate_amount_list[i] != "")
                                {
                                    content += status_list[status_count] + ":滲出液" + exudate_amount_list[i];
                                    if (exudate_type_list[i] != "")
                                    {
                                        content += "呈";
                                        if (exudate_type_list[i].Split(',').GetValue(exudate_type_list[i].Split(',').Length - 1).ToString() != "")
                                        {
                                            content += exudate_type_list[i] + "、";
                                        }
                                        else
                                        {
                                            content += exudate_type_list[i].Substring(0, exudate_type_list[i].Length - 1) + "、";
                                        }
                                    }
                                    else
                                    {
                                        content += "、";
                                    }
                                    status_count++;
                                }
                            }
                            if (status_count == 0)
                            {
                                content += status_list[status_count];
                            }
                            else
                            {
                                content = content.Substring(0, content.Length - 1);
                            }
                            }
                            <td>@content</td>
                            <td style="width:5%;">@r["UNIMPEDED"]</td>
                            <td style="width:6%;">@r["CREATNAME"]</td>
                            @*<td style="width:11%;"></td>*@
                        </tr>
                        }
                    </table>
                    }
                </div>
            </td>
        </tr>
        <tr class="2" style="display:none;">
            <td style="padding:5px 0 5px 0;">
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        <tr>
                            <td style="width:8%;">評估管路</td>
                            <td style="width:13%;">日期時間</td>
                            <td style="width:5%;">固定位置</td>
                            <td style="width:5%;">固定妥當</td>
                            <td>固定方式</td>
                            <td style="width:13%;">固定cuff</td>
                            <td style="width:8%;">評估者</td>
                            @*<td style="width:11%;"></td>*@
                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="height:250px;">
                    @if (dt_Tracheostomy != null && dt_Tracheostomy.Rows.Count > 0)
                    {
                    <table border="0" cellpadding="4" cellspacing="1" width="100%" style="width:100%;padding-bottom:10px;font-size:14px;">
                        @foreach (DataRow r in dt_Tracheostomy.Rows)
                        {
                        <tr>
                            <td style="width:8%;">@r["TYPE_NAME"]</td>
                            <td style="width:13%;">@Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")</td>
                            <td style="width:5%;">@r["TUBE_POSITION"]</td>
                            <td style="width:5%;">@r["FIX"]</td>
                            <td>
                                @{
                            string[] d_fixation = r["FIXATION"].ToString().Split(',');
                            string fixation = "";
                            if (d_fixation[d_fixation.Length - 1] == "")
                            { fixation = r["FIXATION"].ToString().Substring(0, r["FIXATION"].ToString().Length - 1); }
                            else
                            { fixation = r["FIXATION"].ToString().Replace("其他,", "其他："); }
                                }
                                @fixation
                            </td>
                            <td style="width:13%;">
                              @if (r["FIX_CUFF_1"] != null && r["FIX_CUFF_1"].ToString().Trim() != "") 
                              { @Convert.ToDouble(r["FIX_CUFF_1"]) 
                                  @:mmHg <br />
                                 }
                                        @if (r["FIX_CUFF_2"] != null && r["FIX_CUFF_2"].ToString().Trim() != "") 
                              { @Convert.ToDouble(r["FIX_CUFF_2"]) 
                                  @:mL <br />
                                 }       
                                @if (r["FIX_CUFF_3"] != null && r["FIX_CUFF_3"].ToString().Trim() != "")
                                { @Convert.ToDouble(r["FIX_CUFF_3"])
                                    @:cmH₂O <br />
                                 }

                       
                            </td>
                            <td style="width:8%;">@r["CREATNAME"]</td>
                            @*<td style="width:11%;"></td>*@
                        </tr>
                        }
                    </table>
                    }
                </div>
            </td>
        </tr>
        <tr class="0" style="display:none;">
            <td style="padding:5px 0 5px 0;">
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        <tr>
                            <td rowspan="2" style="width:8%;">評估管路</td>
                            <td rowspan="2" style="width:13%;">日期時間</td>
                            <td rowspan="2" style="width:5%;">固定<br />位置</td>
                            <td rowspan="2" style="width:5%;">固定<br />妥當</td>
                            <td rowspan="2">管路周圍<br />皮膚狀況</td>
                            <td rowspan="2" style="width:10%;">引流功能</td>
                            <td colspan="3" style="height:20px;width:18%">引流液性狀</td>
                            <td rowspan="2" style="width:6%;">評估者</td>
                            @*<td rowspan="2" style="width:11%;"></td>*@
                        </tr>
                        <tr>
                            <td>顏色</td>
                            <td>氣味</td>
                            <td>性質</td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="height:250px;">
                    @if (dt_Other != null && dt_Other.Rows.Count > 0)
                    {
                    <table border="0" cellpadding="4" cellspacing="1" width="100%" style="width:100%;padding-bottom:10px;font-size:14px;">
                        @foreach (DataRow r in dt_Other.Rows)
                        {
                        <tr>
                            <td style="width:8%;">@r["TYPE_NAME"]</td>
                            <td style="width:13%;">@Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")</td>
                            <td style="width:5%;">@r["TUBE_POSITION"]</td>
                            <td style="width:5%;">@r["FIX"]</td>
                            @{
                            int status_count = 0;
                            string[] status_list = r["SKIN_STATUS"].ToString().Split(',');
                            string[] range_list = r["RANGE"].ToString().Split(',');
                            string[] exudate_amount_list = r["EXUDATE_AMOUNT"].ToString().Split('|');
                            string[] exudate_type_list = r["EXUDATE_TYPE"].ToString().Split('|');
                            string content = "";
                            for (int i = 0; i < range_list.Length; i++)
                            {
                                if (range_list[i] != "")
                                {
                                    content += status_list[status_count] + range_list[i] + " cm、";
                                    status_count++;
                                }
                            }

                            for (int i = 0; i < exudate_amount_list.Length; i++)
                            {
                                if (exudate_amount_list[i] != "")
                                {
                                    content += status_list[status_count] + ":滲出液" + exudate_amount_list[i];
                                    if (exudate_type_list[i] != "")
                                    {
                                        content += "呈";
                                        if (exudate_type_list[i].Split(',').GetValue(exudate_type_list[i].Split(',').Length - 1).ToString() != "")
                                        {
                                            content += exudate_type_list[i] + "、";
                                        }
                                        else
                                        {
                                            content += exudate_type_list[i].Substring(0, exudate_type_list[i].Length - 1) + "、";
                                        }
                                    }
                                    else
                                    {
                                        content += "、";
                                    }
                                    status_count++;
                                }
                            }
                            if (status_count == 0)
                            {
                                content += status_list[status_count];
                            }
                            else
                            {
                                content = content.Substring(0, content.Length - 1);
                            }
                            }
                            <td>@content</td>
                            <td style="width:10%;">@r["DRAINAGE"]</td>
                            <td style="width:6%;">
                                @if (r["COLORID"].ToString() != "-1")
                                {@r["COLORNAME"]@r["COLOROTHER"]}
                            </td>
                            <td style="width:6%;">
                                @if (r["TASTEID"].ToString() != "-1")
                                {@r["TASTENAME"]@r["TASTEOTHER"]}
                            </td>
                            <td style="width:6%;">
                                @if (r["NATUREID"].ToString() != "-1")
                                {@r["NATURENAME"]@r["NATUREOTHER"]}
                            </td>
                            <td style="width:6%;">@r["CREATNAME"]</td>
                            @*<td style="width:11%;"></td>*@
                        </tr>
                        }
                    </table>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>