@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">
.dataArea td {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    text-align: left;
    height:30px;
  }
</style>
<script>
    $(document).ready(function () {
        // 加入focus事件
        //$(window).focus(function () {
        //    window.opener.parent.check_session();
        //});
        $("select").each(function () {
            $(this).val($(this).attr('defaultvalue'))
        });
        setGridColor();
    });

    function setGridColor() {
        //格行換色
        $('#tb_inake tr:odd').css('background', '#ABC8E2');
        $('#tb_inake tr:even').css('background', '#E1E6FA');
        $('#tb_output tr:odd').css('background', '#ABC8E2');
        $('#tb_output tr:even').css('background', '#E1E6FA');
    }
</script>
@using System.Data;
@{
    DataTable dt = ViewBag.dt_data;
}
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td colspan="2" style="padding-bottom:5px;text-align:center;">
            <span style="color:blue;font-size:26px;">連續性沖洗尿管出入量 紀錄資料</span>
        </td>
    </tr>
    <tr>
        <td style="width:50%;vertical-align:top;">
            <div class="dataHeader">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                    <tr>
                        <td colspan="7">沖入</td>
                    </tr>
                    <tr>
                       
                        <td style="width:15%;">時間</td>
                        <td style="width:15%;">沖入量</td>
                        <td style="width:15%;">剩餘量</td>
                        <td style="width:13%;">輸入者</td>
                        <td style="width:22%;">備註</td>
                        <td style="width:7%;">帶入IO</td>
                    </tr>
                </table>
            </div>
            <div class="dataArea" style="height:350px; width:100%;">
                @if(dt != null && dt.Rows.Count > 0)
                {
                <table id="tb_inake" border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                    @foreach(DataRow r in dt.Rows)
                    {
                        string func = "window.location.href = 'Edit?row=" + r["RECORD_ID"] + "&date=" + ViewBag.date + "'";
                        if(r["RECORD_CLASS"].ToString() == "0")
                        {
                    <tr>
                        @*<td style="width:13%;text-align:center;">
                            @if(r["CREATNO"].ToString() == ViewBag.userno)
                            {
                            <input type="button" value="維護" onclick="@(func)" />
                            }
                        </td>*@
                        <td style="width:15%;font-size:14px;text-align:center;">
                            @Convert.ToDateTime(r["RECORD_TIME"]).ToString("yyyy/MM/dd")
                            <br />
                            @Convert.ToDateTime(r["RECORD_TIME"]).ToString("HH:mm")
                        </td>
                        <td style="width:15%;word-break: break-all;">
                              @Html.Raw(r["AMOUNT"].ToString() + "ml")
                        </td>
                        <td style="width:15%;word-break: break-all;">
                            @if(!string.IsNullOrEmpty(r["BIT_SURPLUS"].ToString()))
                            {
                                @Html.Raw(r["BIT_SURPLUS"].ToString() + "ml")
                            }
                        </td>
                        <td style="width:13%;word-break: break-all;">
                              @Html.Raw(r["CREATNAME"].ToString())
                        </td>
                        <td style="width:22%;word-break: break-all;">
                              @Html.Raw(r["REMARK"].ToString())
                        </td>
                        <td style="width:7%;word-break: break-all;text-align:center;">
                             @if(r["TAKE_IO"].ToString().Trim() != "0" && !string.IsNullOrWhiteSpace(r["TAKE_IO"].ToString())) 
                            { 
                                @Html.Raw("✔")
                            }
                        </td>
                    </tr>
                        }
                    }
                </table>
                }
            </div>
        </td>
        <td style="width:50%;vertical-align:top;">
            <div class="dataHeader">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                    <tr>
                        <td colspan="7">沖出</td>
                    </tr>
                    <tr>
                     
                        <td style="width:15%;">時間</td>
                        <td style="width:15%;">沖出量</td>
                        <td style="width:15%;">顏色</td>
                        <td style="width:13%;">輸入者</td>
                        <td style="width:22%;">備註</td>
                        <td style="width:7%;">帶入IO</td>
                    </tr>
                </table>
            </div>
            <div class="dataArea" style="height:350px; width:100%;">
                @if(dt != null && dt.Rows.Count > 0)
                {
                <table id="tb_output" border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                    @foreach(DataRow r in dt.Rows)
                    {
                        string func = "window.location.href = 'Edit?row=" + r["RECORD_ID"] + "&date=" + ViewBag.date + "'";
                        
                        if(r["RECORD_CLASS"].ToString() == "1")
                        {
                    <tr>
                        @*<td style="width:13%;text-align:center;">
                            @if(r["CREATNO"].ToString() == ViewBag.userno)
                            {
                            <input type="button" value="維護" onclick="@func" />
                            }
                        </td>*@
                        <td style="width:15%;font-size:14px;text-align:center;">
                            @Convert.ToDateTime(r["RECORD_TIME"]).ToString("yyyy/MM/dd")
                            <br />
                            @Convert.ToDateTime(r["RECORD_TIME"]).ToString("HH:mm")
                        </td>
                        <td style="width:15%;word-break: break-all;">
                              @Html.Raw(r["AMOUNT"].ToString() + "ml")
                        </td>
                        <td style="width:15%;word-break: break-all;">
                            @if(Convert.ToInt32(r["COLORID"]) == 99)
                            {
                              @Html.Raw(r["COLOROTHER"].ToString())
                                
                            }else if(Convert.ToInt32(r["COLORID"]) == -1)
                            {
                              @Html.Raw("")
                            }
                            else
                            { 
                              @Html.Raw(r["COLORNAME"].ToString())
                            }
                        </td>
                        <td style="width:13%;word-break: break-all;">
                              @Html.Raw(r["CREATNAME"].ToString())
                        </td>
                        <td style="width:22%;word-break: break-all;">
                              @Html.Raw(r["REMARK"].ToString())
                        </td>
                        <td style="width:7%;text-align:center;">
                              @if(r["TAKE_IO"].ToString().Trim() != "0" && !string.IsNullOrWhiteSpace(r["TAKE_IO"].ToString())) 
                            { 
                                @Html.Raw("✔")
                            }
                        </td>
                    </tr>
                        }
                    }
                </table>
                }
            </div>
        </td>
    </tr>
</table>