@{   
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string color = "", display = "";
    string feeno = ViewBag.feeno;
    string RootDocument = ViewBag.RootDocument;
}
<style type="text/css">
    .dataArea {
        /*overflow-x: auto;
        overflow-y: auto;*/   
        border-top: 2px solid #666;
        border-bottom: 2px solid #666;
        border-left: 1px solid rgba(20%,20%,40%,0.5);
    }
       .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        white-space: pre-line;
    }
    .popup {
    width:auto;
    height:auto;
    position:absolute;
    background-color:#EFEFFF;
    padding: 10px 15px 10px 15px;
    border: 1px solid #999999;
    box-shadow: 5px 5px 5px #666;
    border-radius:15px 15px 15px 15px;
    top:50%;
    left:50%;
    margin:-200px 0 0 -200px; /* [-(height/2)px 0 0 -(width/2)px] */
    display:none;
    z-index:99;
  }
</style>
<script type="text/javascript">
    $(function () {
        setGridColor();
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
        $('.due').css('background', '#FF6666');
    }
</script>
@using System.Data;
@{  
    DataTable dt_a = ViewBag.dt_a;   
    DataTable dt = ViewBag.dt;
 
}
<div class="funcArea">
<form id="form1" method="post" action="ListNew"> 
<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tr>
        <td align="center" style="padding:5px 0 5px 0;">            
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
                <td>
                    <div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width: 100%;">
                            <tr>                           
                                <td style="width: 20%;">次數</td>
                                <td style="width: 20%;">約束方式</td>
                                <td style="width: 20%;">開始日期</td>
                                <td style="width: 20%;">結束日期</td>
                                <td style="width: 20%;">狀態</td>
                            </tr>
                        </table>
                    </div>
                    <div class="dataArea" style="height: 130px;">         
                       <table border="0" cellpadding="4" cellspacing="1" style="width: 100%;overflow:scroll;">
                              @if (dt_a != null && dt_a.Rows.Count > 0)
                              {
                                  //改成 要展出所有主表，為了顯示完成約束的資料
                                  for(int n = 0; n < dt_a.Rows.Count; n++)
                                  {
                                      DataRow r = dt_a.Rows[n];
                                         <tr style="cursor: pointer;"  onclick="window.location.href='@(RootDocument)/HISView/Constraints_ListNew?feeno=@(feeno)&id=@(r["ID"])';">                              
                                            <td style="width: 20%;">
                                                @r["BOUT"]
                                            </td>
                                            <td style="width: 20%;">
                                                @Html.Raw(r["REASON"])@if(!string.IsNullOrEmpty(r["REASON_OTHER"].ToString())){@Html.Raw(":" + r["REASON_OTHER"])}
                                            </td>
                                            <td style="width: 20%;">
                                             @r["STARTDT"]
                                            </td>
                                            <td style="width: 20%;">
                                                @r["ENDDT"]
                                            </td>
                                            <td  style="width: 20%;">
                                                @if (@r["ENDDT"] !=null &&  @r["ENDDT"].ToString().Trim() != "")
                                                {
                                                    @:已結束
                                                }
                                                else
                                                {
                                                    @:約束中
                                                }
                                            </td>
                                        </tr>
                                  }
                              }                             
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <table border="0" cellpadding="0" cellspacing="0" rules="all" frame="box" style="width:100%;font-size:12px;">
           <tr>
                <td>
                    <div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width: 100%;">
                            <tr>
                                <td style="width:8%;">評估日期</td>
                                <td style="width:13%;">約束方式</td>
                                <td style="width:13%;">約束部位</td>
                                <td style="width:7%;">脈搏</td>
                                <td style="width:7%;">約束鬆緊程度</td>
                                <td style="width:7%;">肢體末端溫度</td>
                                <td style="width:5%;">顏色</td>
                                <td style="width:8%;">皮膚完整性</td>
                                <td style="width:6%;">感覺度</td>
                                <td style="width:9%;">鬆除約束、翻身、肢體活動、清潔</td>
                                <td style="width:10%;">備註</td>
                                <td style="width:7%;">紀錄者</td>
                          </tr>
                        </table>
                    </div>
                    <div class="dataArea" id="ConstraintsList" style="height: 210px;">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;vertical-align:middle; background-color: #FFFFFF;">
                            @if(dt != null && dt.Rows.Count > 0)
                            {
                                foreach(DataRow r in dt.Rows)
                                {
                                    if(r["ASSESS"].ToString().Trim() != null && r["ASSESS"].ToString().Trim() == "0")
                                    { color = "due";  }
                                    else
                                    { color = ""; }
                                    if(r["FEQ"].ToString().Trim() != null && r["FEQ"].ToString().Trim() == "0")
                                    {
                                        display = "none";
                                    }
                                    else 
                                    {
                                        display = "";
                                    }
                                <tr style="text-align:center;display:@(display);"; class="@(color)" >                                                                   
                                  
                                    <td style="width:8%;" title="@r["INSID"].ToString().Trim()">
                                           @(Convert.ToDateTime(r["ASSESSDT"]).ToString("yyyy/MM/dd"))
                                           
                                           @(Convert.ToDateTime(r["ASSESSDT"]).ToString("HH:mm:ss"))
                                    </td>
                                    @{
                                        string Temp_REASON_OTHER = string.Empty;
                                        if(r["REASON_OTHER"].ToString() != "")
                                        {
                                            Temp_REASON_OTHER = ":" + r["REASON_OTHER"].ToString();
                                        }
                                    <td style="width:13%;">@r["REASON"]@(Temp_REASON_OTHER)            
                                    </td>
                                    }
                                    @{
                                        string Temp_CONSCIOUS_OTHER = string.Empty;
                                        if(r["CONSCIOUS_OTHER"].ToString() != "")
                                        {
                                            Temp_CONSCIOUS_OTHER = ":" + r["CONSCIOUS_OTHER"].ToString();
                                        }
                                    <td style="width:13%;">@(r["CONSCIOUS"])@(Temp_CONSCIOUS_OTHER)
                                    </td>
                                    }
                                    <td style="width:7%;">@r["PULSE"]
                                    </td>
                                    <td style="width:7%;">@r["TIGHTNESS"]
                                    </td>
                                    <td style="width:7%;">@r["TEMPERATURE"]
                                    </td>
                                    <td style="width:5%;">@r["COLOUR"]
                                    </td>
                                    <td style="width:8%;">@r["INTEGRITY"]
                                    </td>
                                    <td style="width:6%;">@r["FEELING"]
                                    </td>
                                    <td style="width:9%;">@r["REMOVE"]
                                    </td>
                                    <td style="width:10%;">@r["REMARK"]
                                    </td>
                                    <td style="width:7%;">
                                        @if(@r["MODNAME"].ToString().Trim() != null && @r["MODNAME"].ToString().Trim() != "")
                                        {
                                            @r["MODNAME"]
                                        }
                                        else
                                        {
                                            @r["INSNAME"]
                                        }
                                    </td>
                                </tr>
                                }
                            }
                        </table>
                    </div>
                </td>
            </tr>
            </table>
        </td>
    </tr>
</table> 
</form>
    </div>
