@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string M_rc_id = ViewBag.id;
    string feeno = ViewBag.feeno;
    string M_rc_time = ViewBag.dtldate;
    string RootDocument = ViewBag.RootDocument;
    double Todaytotal = Convert.ToDouble(ViewBag.white) + Convert.ToDouble(ViewBag.night) + Convert.ToDouble(ViewBag.longnight);
}
<style type="text/css">
     .funcArea legend {
        margin-left: 5px;
        background: #FFF;
        padding: 3px 7px 2px 7px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        font-size: 14px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
        disbtn();
    });
    function setGridColor() {
        //格行換色
        $('.dataArea_PDF tr:odd').css('background', '#ABC8E2');
        $('.dataArea_PDF tr:even').css('background', '#E1E6FA');
    }

    function PrintPDF() {
        window.open("@(RootDocument)/Print/GetPDF?url=@(RootDocument)/CVVHManage/PrintList?feeno=@(feeno)&dtldate=@(Convert.ToDateTime(M_rc_time).ToString("yyyy/MM/dd"))&id=@(M_rc_id)&filename=test");
    }


    function disbtn()
    {
        var beforeday='@(ViewBag.beforeday)';
         var nextday='@(ViewBag.nextday)';
         if(parseInt(beforeday)!=0)
         {
             $("#btn_before_day").prop("disabled", false);
             //$("#btn_before_day").css("color", '#000');//#d0d0d0
         }else
         {
             $("#btn_before_day").prop("disabled", true);
             //$("#btn_before_day").css("color", '#d0d0d0');
         }
         if(parseInt(nextday)!=0)
         {
             $("#btn_next_day").prop("disabled", false);
             // $("#btn_next_day").css("color", '#000');
         }
         else
         {
             $("#btn_next_day").prop("disabled", true);
             // $("#btn_next_day").css("color", '#d0d0d0');
         }
     }
    //$(document).ready(function () {
    //    SetDatePicker($('#start_date'), '');//+1d
    //});
    @*
    function SetDatePicker(DateObj, AddDay) {
        DateObj.prop('readonly', true).css({ 'width': '80px', 'font-size': '12px' });
        DateObj.datepicker({
            beforeShowDay: function (date) {
                switch (date.getDay()) {
                    case 6:
                        return [true, 'satday'];
                        break;
                    case 0:
                        return [true, 'sunday'];
                        break;
                    default:
                        return [true, ''];
                        break;
                }
            },
            inline: true,
            showAnim: "slideDown",
            controlType: myControl,
            maxDate: AddDay,
            onSelect: function () {
                var Tempdate=$('#start_date').val()
                //window.location.href = '../HISView/CVVH_PrintList?feeno=@(feeno)&dtldate='+Tempdate;
                window.location.href = '../HISView/CVVH_Index?feeno=@(feeno)&StartDate='+Tempdate+'&EndDate='+Tempdate;
            }
        });
    }
    *@
</script>
@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style=" width:100%; font-size:14px;">
        <tr>
            <td style="vertical-align:bottom;">
                <form action="CareRecord" method="post">
                    <input name="feeno" type="hidden" value="@feeno" />
                    @* <input type="button" id="btn_before_day" value="前一天" style="width: 80px;" onclick="window.location.href = '../HISView/CVVH_PrintList?feeno=@(feeno)&dtldate=@(Convert.ToDateTime(M_rc_time).AddDays(-1).ToString("yyyy/MM/dd"))';" />*@
                     <input type="button" id="btn_before_day" value="前一天" style="width: 80px;" onclick="window.location.href = '../HISView/CVVH_PrintList?feeno=@(feeno)&id=@(ViewBag.beforeday)&dtldate=@(Convert.ToDateTime(M_rc_time).AddDays(-1).ToString("yyyy/MM/dd"))';" />
                     @*<input type="text" id="start_date" name="start_date" value="@(M_rc_time)" />*@
                    <label>@(M_rc_time)</label>
                    @*<input type="button" id="btn_next_day" value="後一天" style="width: 80px;" onclick="window.location.href = '../HISView/CVVH_PrintList?feeno=@(feeno)&dtldate=@(Convert.ToDateTime(M_rc_time).AddDays(1).ToString("yyyy/MM/dd"))    ';" />*@
                    <input type="button" id="btn_next_day" value="後一天" style="width: 80px;" onclick="window.location.href = '../HISView/CVVH_PrintList?feeno=@(feeno)&id=@(ViewBag.nextday)&dtldate=@(Convert.ToDateTime(M_rc_time).AddDays(1).ToString("yyyy/MM/dd"))';" />
                     <input type="button" value="返回" style="width: 80px;" onclick="window.location.href = '../HISView/CVVH_Index?feeno=@(feeno)&StartDate=@(Convert.ToDateTime(M_rc_time).ToString("yyyy/MM/dd"))&EndDate=@(Convert.ToDateTime(M_rc_time).ToString("yyyy/MM/dd"))';" />
                    <input type="button" value="列印" style="width:80px;" onclick="PrintPDF();" />
                </form>
            </td>
            <td>
                                <fieldset style="height:70px;width:580px;">
                                    <legend >統計</legend>
                                    <table border="0" cellpadding="4" cellspacing="2" style="width: 100%; font-size: 14px;">
                                        <tr>
                                            <td colspan="1" style="text-align: left; width: 15%;">
                                                <label >Total I/O：</label>
                                            </td>
                                            <td colspan="5" style="text-align: left; width: 85%;">
                                                <label>@((Todaytotal > 0) ? "+" : "")@(Todaytotal)</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: left; width: 15%;">
                                                <label >白班小計：</label>
                                            </td>
                                            <td style="text-align: left; width: 15%;">
                                                <label>@((Convert.ToDouble(ViewBag.white) > 0) ? "+" : "")@(ViewBag.white)</label>
                                            </td>
                                            <td style="text-align: left;width: 15%;">
                                                <label >小夜班小計：</label>
                                            </td>
                                            <td style="text-align: left;width: 15%;">
                                                <label>@((Convert.ToDouble(ViewBag.night) > 0) ? "+" : "")@(ViewBag.night)</label>
                                            </td>
                                            <td style="text-align: left;width: 20%;">
                                                <label >大夜班小計：</label>
                                            </td>
                                            <td style="text-align: left;width: 20%;">
                                                <label>@((Convert.ToDouble(ViewBag.longnight) > 0) ? "+" : "")@(ViewBag.longnight)</label>
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
        </tr>
        <tr><td colspan="2" style="padding: 5px 0px 5px 0px">
                <div class="dataHeader" style="margin-right:0px;">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size: 14px;">
                        <tr>
                             <td style="width: 11%;text-align:center;">日期<br />時間</td>
                            <td style="width: 8%;word-break:break-all;text-align:left;">Blood<br />Flow<br />Rate<br />(ml/min)</td>
                            <td style="width: 8%;text-align:left;">Venous<br />Pressure<br />(mmHg)</td>
                            <td style="width: 8%;word-break:break-all;text-align:left;">Air<br />Detector<br />(OK?)</td>
                            <td style="width: 10%;word-break:break-all;text-align:left;">Clots<br />in<br />Venous<br />Trap?</td>
                            <td style="width: 10%;word-break:break-all;text-align:left;">Heparin<br />(U/hr)</td>
                            <td style="width: 12%;word-break:break-all;text-align:left;">Replace<br />Fluid<br />A+B<br />(ml)</td>
                            <td style="width: 13%;word-break:break-all;text-align:left;">Flushes<br />(ml)</td>
                            <td style="width: 10%;word-break:break-all;text-align:left;">UF<br />(ml)</td>
                            <td style="width: 11%;word-break:break-all;text-align:left;">I/O</td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea_PDF">
                    <table border="0" cellpadding="4" cellspacing="1" width="100%" style="width: 100%; background-color: #FFFFFF; font-size: 14px;">
                   <tbody>
                        @if(dt != null && dt.Rows.Count > 0)
                        {
                            foreach(DataRow r in dt.Rows)
                            {
                                    <tr>
                                        <td style="width: 11%;text-align:center;">
                                            <label >@(Convert.ToDateTime(r["DATA_TIME"]).ToString("yyyy/MM/dd"))</label><br />
                                            <label >@(Convert.ToDateTime(r["DATA_TIME"]).ToString("HH:mm"))</label>
                                        </td>
                                        <td style="width: 8%;word-break:break-all;"><label>@r["BLOOD_FLOW_RATE"]</label></td>
                                        <td style="width: 8%;word-break:break-all;"><label>@r["VENOUS_PRESSURE"]</label></td>
                                        @{
                                string[] AirDetectorArray = { "OK", "NOT OK" };
                                string[] ClotsInVenousTrapArray = { "+", "-", "±" };
                                        }
                                        <td style="width: 8%;"><label tempstr="@(r["AIR_DETECTOR"])">@(AirDetectorArray[Convert.ToInt32(r["AIR_DETECTOR"])])</label></td>
                                        <td style="width: 10%;"><label  tempstr="@(r["CLOTS_IN_VENOUS_TRAP"])" >@(ClotsInVenousTrapArray[Convert.ToInt32(r["CLOTS_IN_VENOUS_TRAP"])])</label></td>
                                        <td style="width: 10%;"><label >@r["HEPARIN"]</label></td>
                                        <td style="width: 12%;"><label >@r["I_REPLACE_FLUID"]</label></td>
                                        <td style="width: 13%;"><label >@r["I_FLUSHES"]</label></td>
                                        <td style="width: 10%;"><label >@r["O_UF"]</label></td>
                                        <td style="width: 11%;"><label >@(r["IO_TOTAL"])</label></td>
                                    </tr>
                            }
                        }
                        else
                        {
                            //@Html.Raw("<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;查無資料!</td></tr>")  
                        }
                       </tbody>
                        </table>
                </div>
        </td></tr>
    </table>
</div>