@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
.dataArea td {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    text-align: left;
    height:30px;
  }
</style>
<script>
    $(document).ready(function () {
        // 加入focus事件
        //$(window).focus(function () {
        //    window.opener.parent.check_session();
        //});
        //$("select").each(function () {
        //    $(this).val($(this).attr('defaultvalue'))
        //});
        setGridColor();
    });

    function setGridColor() {
        //格行換色
        $('#tb_inake tr:odd').css('background', '#ABC8E2');
        $('#tb_inake tr:even').css('background', '#E1E6FA');
        $('#tb_output tr:odd').css('background', '#ABC8E2');
        $('#tb_output tr:even').css('background', '#E1E6FA');
    }
</script>
@using System.Data;
@{
    DataTable dt = ViewBag.dt_io_data;
}
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td colspan="2" style="padding-bottom:5px;text-align:center;">
            <span style="color:blue;font-size:26px;">攝入及輸出紀錄資料</span>
        </td>
    </tr>
    <tr>
        <td style="width:50%;vertical-align:top;">
            <div class="dataHeader">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                    <tr>
                        <td colspan="7">攝入</td>
                    </tr>
                    <tr>
                        <td style="width:12%;display:none;"></td>
                        <td style="width:15%;">時間</td>
                        <td style="width:28%;">項目名稱</td>
                        <td style="width:15%;">攝入量</td>
                        <td style="width:12%;">輸入者</td>
                        <td style="width:9%;">細項說明</td>
                        <td style="width:9%;">備註</td>
                    </tr>
                </table>
            </div>
            <div class="dataArea" style="height:320px; width:100%;">
                @if (dt != null && dt.Rows.Count > 0)
                {
                <table id="tb_inake" border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                    @foreach (DataRow r in dt.Rows)
                    {
                        //string func = "window.location.href = 'IO_Maintain?date=" + ViewBag.date + "&day=" + ViewBag.day + "&row=" + r["IO_ROW"] + "'";
                        if (r["P_GROUP"].ToString() == "intaketype")
                        {
                    <tr>
                        <td style="width:12%;display:none;">
                            @if (r["CREANO"].ToString() == ViewBag.userno)
                            {
                            @*<input type="button" value="維護" style="display:none;" onclick="" />*@@*@func*@
                            }
                        </td>
                        <td style="width:15%;font-size:14px;text-align:center;">
                            @Convert.ToDateTime(r["CREATTIME"]).ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td style="width:28%;word-break: break-all;">
                            @r["P_NAME"] @r["NAME"]
                            @if (r["COLORID"].ToString() != "-1" && r["COLORID"].ToString() != "")
                            {
                                @: 顏色:@r["COLORNAME"].ToString().Replace("其他", "")  @r["COLOROTHER"]
                            }
                            @if (r["TASTEID"].ToString() != "-1" && r["TASTEID"].ToString() != "")
                            {
                                @: 氣味:@r["TASTENAME"].ToString().Replace("其他", "")  @r["TASTEOTHER"]
                            }
                            @if (r["NATUREID"].ToString() != "-1" && r["NATUREID"].ToString() != "")
                            {
                                @: 性質:@r["NATURENAME"].ToString().Replace("其他", "")  @r["NATUREOTHER"]
                            }
                        </td>
                        <td style="width:15%;word-wrap:break-word;">
                            @if (r["AMOUNT"].ToString() == "" && r["REASON"].ToString() != "")
                            {
                                @:Loss
                            }
                            else
                            {
                               if(r["AMOUNT_UNIT"].ToString() == "1")//ml
                                {
                                @Html.Raw("<label style='word-wrap:break-word;'>" + r["AMOUNT"].ToString() + " ml</label>")
                                }
                                else if(r["AMOUNT_UNIT"].ToString() == "2")//g
                                {
                                @Html.Raw("<label style='word-wrap:break-word;'>" + r["AMOUNT"].ToString() + " g</label>")
                                }
                                else if(r["AMOUNT_UNIT"].ToString() == "3")//mg
                                {
                                @Html.Raw("<label style='word-wrap:break-word;'>" + r["AMOUNT"].ToString() + " mg</label>")
                                }
                            }
                        </td>
                        <td style="width:12%;word-break: break-all;">
                            @r["username"]
                        </td>
                        <td style="width:9%;word-break: break-all;">
                            @r["EXPLANATION_ITEM"]
                        </td>
                        <td style="width:9%;word-break: break-all;">
                            @r["REMARK"]
                        </td>
                    </tr>
                        }
                    }
                </table>
                }
            </div>
        </td>
        <td style="width:50%;vertical-align:top;">
            <div class="dataHeader">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                    <tr>
                        <td colspan="7">輸出</td>
                    </tr>
                    <tr>
                        <td style="width:12%;display:none;"></td>
                        <td style="width:15%;">時間</td>
                        <td style="width:28%;">項目名稱</td>
                        <td style="width:15%;">輸出量</td>
                        <td style="width:12%;">輸入者</td>
                        <td style="width:9%;">細項說明</td>
                        <td style="width:9%;">備註</td>
                    </tr>
                </table>
            </div>
            <div class="dataArea" style="height:320px; width:100%;">
                @if (dt != null && dt.Rows.Count > 0)
                {
                <table id="tb_output" border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                    @foreach (DataRow r in dt.Rows)
                    {
                        //string func = "window.location.href = 'IO_Maintain?date=" + ViewBag.date + "&day=" + ViewBag.day + "&row=" + r["IO_ROW"] + "'";
                        if (r["P_GROUP"].ToString() == "outputtype")
                        {
                    <tr>
                        <td style="width:12%;display:none;">
                            @if (r["CREANO"].ToString() == ViewBag.userno)
                            {
                            <input type="button" value="維護" style="display:none;" onclick="" />@*@func*@
                            }
                        </td>
                        <td style="width:15%;font-size:14px;text-align:center;">
                            @Convert.ToDateTime(r["CREATTIME"]).ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td style="width:28%;word-break: break-all;">
                            @if(r["TYPEID"].ToString() == "9")
                            {
                                string name = r["P_NAME"].ToString();
                                if(r["NAME"].ToString() == "" && r["ITEMID"].ToString() != "")
                                { name = ViewBag.tube_name(r["ITEMID"].ToString()); }
                                @:@(name)
                            }
                            else
                            {
                                @:@(r["P_NAME"]) @(r["NAME"])
                            }
                            @if(r["COLORID"].ToString() != "-1" && r["COLORID"].ToString() != "")
                            {
                                @: 顏色:@r["COLORNAME"].ToString().Replace("其他", "")  @r["COLOROTHER"]
                            }
                            @if(r["TASTEID"].ToString() != "-1" && r["TASTEID"].ToString() != "")
                            {
                                @: 氣味:@r["TASTENAME"].ToString().Replace("其他", "")  @r["TASTEOTHER"]
                            }
                            @if(r["NATUREID"].ToString() != "-1" && r["NATUREID"].ToString() != "")
                            {
                                @: 性質:@r["NATURENAME"].ToString().Replace("其他", "")  @r["NATUREOTHER"]
                            }
                        </td>
                        <td style="width:15%;word-wrap:break-word;">
                            @if(r["AMOUNT"].ToString() == "" && r["REASON"].ToString() != "")
                            {
                                @:Loss
                            }
                            else
                            {
                                if(r["AMOUNT_UNIT"].ToString() == "1")//ml
                                {
                                @Html.Raw("<label style='word-wrap:break-word;'>" + r["AMOUNT"].ToString() + " ml</label>")
                                }
                                else if(r["AMOUNT_UNIT"].ToString() == "2")//g
                                {
                                @Html.Raw("<label style='word-wrap:break-word;'>" + r["AMOUNT"].ToString() + " g</label>")
                                }
                                else if(r["AMOUNT_UNIT"].ToString() == "3")//mg
                                {
                                @Html.Raw("<label style='word-wrap:break-word;'>" + r["AMOUNT"].ToString() + " mg</label>")
                                }
                            }
                        </td>
                        <td style="width:12%;word-break: break-all;">
                            @r["username"]
                        </td>
                         <td style="width:9%;word-break: break-all;">
                            @r["EXPLANATION_ITEM"]
                        </td>
                        <td style="width:9%;word-break: break-all;">
                            @r["REMARK"]
                        </td>
                    </tr>
                        }
                    }
                </table>
                }
            </div>
        </td>
    </tr>
</table>