@using System.Data;
@{
    DataTable DT = ViewBag.dt_record;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    });
</script>

@if (DT != null)
{
    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
        @foreach (DataRow r in DT.Rows)
        {
            string DFTempType = "";
            switch (r["DFTEMP_TYPE"].ToString())
            {
                case "1":
                    DFTempType = "對照肢";
                    break;
                case "2":
                    DFTempType = "患肢";
                    break;
                case "3":
                    DFTempType = "皮瓣";
                    break;
                default:
                    DFTempType = "類別錯誤";
                    break;
            }
            string DFTempColor = r["DFRECORD_COLOR"].ToString();
            if (r["DFRECORD_COLOR"].ToString() == "99")
            {
                DFTempColor = r["DFRECORD_COLOR_CONT"].ToString();
            }
            <tr>
                <td style="width: 7%; white-space: nowrap;">
                    <input name="row_record" id="ck@(r["DFRECORD_ID"])" type="checkbox" value="@(r["DFRECORD_ID"])"  style="display:none;"/>
                    <label>@r["DFTEMP_NUM"]</label>
                </td>
                <td style="width:9%; text-align:center;">
                    @if (r["DFRECORD_PIC"] != null && r["DFRECORD_PIC"].ToString().Trim() != "")
                    {
                        <img src="../UpFileMngArea/@(r["DFRECORD_PIC"])" style="width :60px;height:60px;" />
                    }
                </td>
                <td style="width: 12%; white-space: nowrap;"> @Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:ss")</td>
                <td style="width: 9%; white-space: nowrap;">@DFTempType</td>
                <td style="width: 9%; word-break: break-all; ">@r["DFTEMP_POSITION"]</td>
                <td style="width: 5%; word-break: break-all; ">@r["DFRECORD_TEMPERATURE"]</td>
                <td style="width:5%;">@r["DFRECORD_TEMPERATURE_ROOM"]</td>
                <td style="width: 8%; word-break: break-all;">@DFTempColor</td>
                 <td style="width:9%; text-align:center;">
                    <label>@(r["DFRECORD_PLUMPNESS"].ToString().Replace("1", "未做")
                    .Replace("2", "快")
                    .Replace("3", "慢")
                    .Replace("4", "蒼白"))</label>
                </td>
                <td style="width: 10%; word-break: break-all; ">@r["DFRECORD_MEASURE_CONT"]</td>
                <td style="width: 10%; word-break: break-all;">@r["DFRECORD_REMARK"]</td>
                <td style="width: 7%; word-break: break-all;">@r["username"]</td>
            </tr>
        }
    </table>

}