@{
    ViewBag.Title = "Drug_iv_report";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string start_date, end_date;
    string start_date_mon = DateTime.Now.ToString("yyyy/MM");
    if (ViewBag.start_date == null && ViewBag.end_date == null)
    {
        start_date = DateTime.Now.AddDays(-1).ToString("yyyy/MM/dd");
        end_date = start_date;
    }
    else
    {
        start_date = ViewBag.start_date;
        end_date = ViewBag.end_date;
    }
}
<script type="text/javascript" src="~/Scripts/jquery.maskedinput.js"></script>
<script type="text/javascript">
    $(window).load(function () {
        factory.printing.header = "護理資訊系統 - 點滴給藥統計報表&b 第&p页/共&P页" //設定頁首的文字 
        factory.printing.footer = "&b 列印時間：&d &t" //設定頁尾的文字 
        factory.printing.portrait = true //設定trun為直印,false為橫印 
        factory.printing.leftMargin = 3.0 //設定左邊界 
        factory.printing.topMargin = 3.0  //設定上邊界 
        factory.printing.rightMargin = 3.0 //設定右邊界 
        factory.printing.bottomMargin = 3.0 //設定下邊界
        if ($("#ExecFlag").val() == "")
            $("input[value=day]").click();
        else
            $("input[value=" + $("#ExecFlag").val() + "]").click();
        if ($("#ExecType").val() == "")
            $("input[value=people]").click();
        else
            $("input[value=" + $("#ExecType").val() + "]").click();
    })

    $(document).ready(function () {
        $('.dataTable tr:odd').css('background', '#ABC8E2');
        $('.dataTable tr:even').css('background', '#E1E6FA');
        $("#start_date").mask('9999/99/99');
        $("#end_date").mask('9999/99/99');
        $("#startDate").mask('9999/99');
        $("#feeno_t").mask('I9999999');
        $("input[name=search_type]").click(function () {
            if ($(this).val() == "day" || $(this).val() == "detail") {
                $("#find_day").show();
                $("#find_mon").hide();
            }
            else if($(this).val() == "mon") {
                $("#find_day").hide();
                $("#find_mon").show();
            }
        });

        $("input[name=search_type2]").click(function () {
            if ($(this).val() == "people") {
                $("#selStation option[value=ALL]").attr('selected', true);
                $("#feeno_t").show();
            }
            else
                $("#feeno_t").hide();
        });
        $("#start_date").keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { $("#end_date").focus(); }
        });
        $("#end_date").keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { to_submit(); }
        });
        $("#startDate").keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { to_submit(); }
        });
        $("#feeno_t").keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) { $("#start_date").focus(); }
        });
    });
    function print_page() {
        var str = "";
        if ($("input[name=search_type]:checked").val() == "mon") {
            str = "查詢月份：" + $("#startDate").val();
        }
        else {
            str = "查詢區間：" + $("#start_date").val() + " ~ " + $("#end_date").val();
        }

        $(".funcArea").hide();
        $("#l_str").text(str);
        wb.execwb(7, 1);
        $("#l_str").text("");
        $(".funcArea").show();
    }
    function to_submit() {
        var execflag = $("input[name=search_type]:checked").val();
        var exectype = $("input[name=search_type2]:checked").val()
        if (execflag == "mon") {
            if ($("#startDate").val().length != 7) {
                alert("查詢月份格式不正確。");
                return false;
            }
        }
        else {
            if ($("#start_date").val().length != 10 || $("#end_date").val().length != 10) {
                alert("查詢日期格式不正確。");
                return false;
            }
        }
        if($("#feeno_t").val() != "")
            $("#feeno").val($("#feeno_t").val());
        $("#ExecType").val(exectype);
        $("#ExecFlag").val(execflag);
        $("form").submit();
    }
</script>
<style>
    .dataTable {
        border-top-color: currentColor;
        border-right-color: currentColor;
        border-bottom-color: currentColor; 
        border-left-color: currentColor; 
        border-top-width: 0px; 
        border-right-width: 0px; 
        border-bottom-width: 0px; 
        border-left-width: 0px; 
        border-top-style: none; 
        border-right-style: none;
        border-bottom-style: none; 
        border-left-style: none;
        text-align:center;
    }
    input[type=button] {
        width:80px;
    }
</style>
<OBJECT classid="CLSID:8856F961-340A-11D0-A96B-00C04FD705A2" height=0 id=wb name=wb width=0></OBJECT>
<OBJECT classid="clsid:1663ed61-23eb-11d2-b92f-008048fdd814" id="factory" style="display:none" codebase="ScriptX.cab#Version=6,2,433,14"> </OBJECT> 
<body background="../Images/bg157.gif">
<form method="post" action="Drug_iv_report">
    <input id="ExecFlag" type="hidden" value="@ViewData["ExecFlag"]" name="ExecFlag" />
    <input id="ExecType" type="hidden" value="@ViewData["ExecType"]" name="ExecType" />
    <input id="feeno" type="hidden" value="@ViewData["FeeNo"]" name="feeno" />
    <input id="chrno" type="hidden" value="@ViewData["ChrNo"]" name="chrno" />
    <div class="funcArea" id="funcArea">
        <table border="0" width="90%">
            <tr>
                <td style="background:pink;width:80px">查詢條件：</td>
                <td style="width:250px">
                    <label><input type="radio" name="search_type2" value="costcode" id="search_cost_c"/>護理站</label>
                    <label><input type="radio" name="search_type2" value="people" id="search_cost_p"/>個人</label>
                    <input type="text" name="feeno_t" value="@ViewData["FeeNo"]" id="feeno_t" style="width:80px;display:none"/>
                </td>
                <td style="background:pink;width:80px">護理站：</td>
                <td style="width:200px">@Html.DropDownList("selStation", (List<SelectListItem>)ViewData["costlist"], new { })</td>
                <td rowspan="2">
                    <input type="button" value="列印" id="printpage" onclick="print_page();" /><br />
                    <input type="button" id="search" value="查詢" onclick="to_submit();" />
                </td>
            </tr>
            <tr>
                <td style="background:pink;width:80px">統計方式：</td>
                <td>
                    <label><input type="radio" name="search_type" value="day" id="search_d"/>依日期</label>
                    <label><input type="radio" name="search_type" value="mon" id="search_m"/>依月份</label>
                    <label><input type="radio" name="search_type" value="detail" id="search_detail"/>明細</label>
                </td>
                <td style="background:pink;width:80px">查詢區間：</td>
                <td>
                    <div id="find_day">
                        <input name="start_date" id="start_date" value="@start_date" style="width:80px"/>
                        <label> ~ </label>
                        <input name="end_date" id="end_date" value="@end_date" style="width:80px"/>
                    </div>
                    <div id="find_mon" style="display:none">
                        <input name="startDate" id="startDate" value="@start_date_mon" style="width:60px"/>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <label id="l_str"></label><br />
    <div>
        @if (ViewBag.iv_list != null)
        {
            List<List<string>> iv_list = ViewBag.iv_list;
            <table class="dataTable" width="70%" border="1" cellspacing="0" cellpadding="3">
                @if (ViewBag.patinfo != null)
                { 
                    <tr><th colspan="7" style="background:#ff6a00">@ViewBag.patinfo</th></tr>
                }
                @if (ViewBag.ExecFlag == "detail")
                {
                    List<List<string>> ivdetail_list = ViewBag.ivdetail_list;
                     <tr>
                        <th>護理站</th>
                        <th>日期</th>
                        <th>批價序號</th>
                        <th>病歷號</th>
                        <th>床號</th>
                        <th>藥品代碼</th>
                        <th>數量</th>
                    </tr>
                    for (int i = 0; i <= ivdetail_list.Count - 1; i++)
                    {
                        <tr>
                            <td>@ivdetail_list[i][0]</td>
                            <td>@ivdetail_list[i][1]</td>
                            <td>@ivdetail_list[i][2]</td>
                            <td>@ivdetail_list[i][6]</td>
                            <td>@ivdetail_list[i][7]</td>
                            <td>@ivdetail_list[i][3]</td>
                            <td>@ivdetail_list[i][4] @ivdetail_list[i][5]</td>
                        </tr>
                    
                    }
                    <tr>
                        <td colspan="7" style="background:#ff6a00">點滴統計
                        <label id="l_str"></label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">成本中心</td>
                        <td colspan="2">藥品代碼</td>
                        <td>給藥瓶數</td>
                        <td>筆數</td>
                        <td>小計</td>
                    </tr>
                    for (int i = 0; i <= iv_list.Count - 1; i++)
                    {
                        <tr>
                            <td colspan="2">@iv_list[i][0]</td>
                            <td colspan="2">@iv_list[i][2]</td>
                            <td>@iv_list[i][1]</td>
                            <td>@iv_list[i][3]</td>
                            <td>@iv_list[i][4]</td>
                        </tr>
                    }
                }
                else
                { 
                    <tr>
                        <th>護理站</th>
                        <th>日期</th>
                        <th>藥品代碼</th>
                        <th>數量</th>
                    </tr>
                    for (int i = 0; i <= iv_list.Count - 1; i++)
                    {
                    <tr>
                        <td>@iv_list[i][0]</td>
                        <td>@iv_list[i][1]</td>
                        <td>@iv_list[i][2]</td>
                        <td>@iv_list[i][3]</td>
                    </tr>
                    }
                }   
            </table>
        }
        else
        {
            if (ViewData["Message"] != null) {
            <h1>@(start_date) ~ @(end_date) <br />@(ViewData["Message"])</h1>
        }
        }
    </div>
</form>
</body>