@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#inHistoryTable").css('background', '#85A5CC');
        $("#inHistoryTable tr:odd").css('background', '#ABC8E2');
        $("#inHistoryTable tr:even").css('background', '#E1E6FA');
        $("#inHistoryTable tr").mouseover(function () { $(this).addClass("over"); })     //當 mouseover 時加入 "over" 樣式
                         .mouseout(function () { $(this).removeClass("over"); })   //當 mouseout 時移除 "over" 樣式

        $("#inHistoryTable tr").click(function () {
            var fee_no = $(this).attr("id");
                $.ajax({
                    type: 'POST',
                    url: "Session_Modify",
                    data: { funurl: "get" },
                    success: function (data) {
                        if (data != "") {
                            var url = data.replace("[FeeNo]", fee_no);
                            window.open(url, 'right');
                        }
                    },
                    error: function (data) { }
                });
                opener.window.open('HView_Function?feeno=' + fee_no, 'top');
                window.close();
        });
    });

</script>

<style type="text/css">
    #inHistoryTable {
        table-layout:fixed;
        white-space: nowrap;
        background-color: #FFFFFF; 
        text-align:center;
        border:1px;
        font-size:12px;
        font-family: 微軟正黑體;
    }
    tr.over td{
        background-color: #edee77;
        cursor: pointer;
    }
</style>
<input type="hidden" id="flag" value="@ViewBag.flag" />
@{
    if(ViewData["inHistory"] != null){

        List<InHistory> inHistoryList = (List<InHistory>)ViewData["inHistory"];
        <p style="font-family: 微軟正黑體;text-align:center">住院歷史紀錄</p>
        <table id="inHistoryTable" border="0" cellpadding="4" cellspacing="1" width="450">
            <tr>
                <th width="30">診別</th>
                <th width="60">住院序號</th>
                <th width="70">住院日期</th>
                <th width="70">出院日期</th>
                <th width="250">科別</th>
            </tr>
        @for (int i = 0; i <= inHistoryList.Count - 1;i++ )
        {
            var FeeNo = inHistoryList[i].FeeNo.ToString();
            var CostCode = inHistoryList[i].CostCode.ToString();
            <tr id="@FeeNo" cost="@CostCode">
                <td style="text-align:center;">@(inHistoryList[i].HIS_TYPE)</td>
                <td >@(FeeNo)</td>
                <td >@(inHistoryList[i].indate.ToString("yyyy/MM/dd"))</td>
                @if (inHistoryList[i].outdate.ToString("yyyy/MM/dd") == "2910/12/31")
                {<td ></td> }
                else
                { <td >@(inHistoryList[i].outdate.ToString("yyyy/MM/dd"))</td>}
                
                <td style="text-align:left;">@(inHistoryList[i].Description.ToString().Trim())</td>
            </tr>
        }
        </table>
        
    }
    
}

