@{
    Layout = "~/Views/Layout/FormLayout.cshtml"; 
}

<style type="text/css">
    .bg {
        color:red;
        font-weight:bold;
    }
    .but_class
    {
	    border: 2px solid #FFFFFF;
        border-radius: 5px;
	    color: #000000;
	    font-family: "微軟正黑體";
	    font-size: 14px;
	    padding: 2px 3px 2px 3px;
        box-shadow: 2px 2px 3px rgba(20%,20%,40%,0.5);
        cursor: pointer;
        margin-bottom:3px;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
    });

    function openurl(funurl,fun,open) {
        funurl = Trim(funurl);
        if(fun == "Reprot")
            fun = "FeeNo";
        else
            fun = Trim(fun);
        open = Trim(open);
        if(open != "_blank")
        {
            $.ajax({
                type: 'POST',
                url: "Session_Modify",
                data: { funurl: funurl, fun: fun},
                success: function (data) { },
                error: function (data) { }
            });
        }
        if(fun == "FeeNo" || fun == "Reprot")
            window.open(funurl + $("#ptinfo").attr("feeno"), open);
        else if(fun == "ChrNo")
            window.open(funurl + $("#ptinfo").attr("chrno"), open);
        else
            window.open(funurl , open);
    }
</script>

<body background="../Images/bg157.gif">
    <input type="hidden" chrno="@ViewBag.ChartNo" feeno="@ViewBag.feeno" id="ptinfo" />
    @if (ViewBag.ChartNo != null)
    {
        <span style="font-size:medium;background:#20f7f1;">
            病歷號：<label class="bg">@ViewBag.ChartNo &nbsp;</label>
            姓名：<label class="bg">@(ViewBag.PatientName) &nbsp;</label>
            床號：<label class="bg">@(ViewBag.BedNo) &nbsp;</label>
            年齡：<label class="bg">@(ViewBag.Age) &nbsp;</label>
            性別：<label class="bg">@(ViewBag.PatientGender) &nbsp;</label>
            批價序號：<label class="bg">@ViewBag.feeno &nbsp;</label>
        </span>
        <hr />
    }

    @if (ViewData["FunList"] != null)
    {
        List<List<string>> FunList = (List<List<string>>)ViewData["FunList"];
        <div>
            @for (int i = 0; i <= FunList.Count - 1; i++)
            {
                if (FunList[i][2] == "FeeNo" || FunList[i][2] == "ChrNo")
                {

                    if (FunList[i][0] == "護理給藥查詢")
                    { <input type="button" value="@FunList[i][0]" onclick="openurl('@FunList[i][1]','@FunList[i][2]','@FunList[i][3]')" class="but_class" style="background-color: pink;"/> }
                    else
                    { <input type="button" value="@FunList[i][0]" onclick="openurl('@FunList[i][1]','@FunList[i][2]','@FunList[i][3]')" class="but_class" style="background-color: #9CB7CF;"/> }
                }
                else if (FunList[i][2] == "Reprot")
                {
                    <input type="button" value="@FunList[i][0]" onclick="openurl('@FunList[i][1]','@FunList[i][2]','@FunList[i][3]')" class="but_class" style="background-color: #fb8a0f;"/>
                }
            }
        </div>
    }

    @if (ViewBag.ChartNo == null && ViewData["FunList"] == null)
    {
        <h2>請選擇病人。</h2>
    }
</body>

            @*<input type="button" value="傷口紀錄" onclick="openurl('./listTrauma?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="護理紀錄" onclick="openurl('./CareRecord?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="TPR查詢" onclick="openurl('./Tpr_Index?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="管路查詢" onclick="openurl('./Tube?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="生命徵象查詢" onclick="openurl('./VitalSign_Query?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="血糖紀錄" onclick="openurl('../BloodSugarAndInsulin/BloodSugar_List?getfeeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="血糖/胰島素" onclick="openurl('./BSugarInsulinList?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="疼痛紀錄" onclick="openurl('./listPain?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="輸入/輸出" onclick="openurl('./Index?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="管路評估" onclick="openurl('./Assessment_List?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="成人入院評估單" onclick="openurl('../AdmissionAssessment/AssessmentAdult_PDF?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="兒童入院評估單" onclick="openurl('../AdmissionAssessment/AssessmentChild_PDF?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="約束查詢" onclick="openurl('./Constraints_ListNew?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="醫囑查詢" onclick="openurl('http://nis2.wanfang.gov.tw/ipdOrderQuery/INPDefault.aspx?fee_no=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>
            <input type="button" value="護理給藥查詢" onclick="openurl('../CommonMedication/Med_QueryExecLogByUD?TypeFlag=All&feeno=','FeeNo','right')" class="but_class" style="background-color: pink;"/>
            <input type="button" value="血糖監測批價單" onclick="openurl('./Bloodsugar_report?','Reprot','right')" class="but_class" style="background-color: #fb8a0f;"/>
            <input type="button" value="病房點滴使用統計" onclick="openurl('./Drug_iv_report?feeno=','Reprot','right')" class="but_class" style="background-color: #fb8a0f;"/>
            <input type="button" value="衛教指導" onclick="openurl('./Education_List?feeno=','FeeNo','right')" class="but_class" style="background-color: #9CB7CF;"/>*@