@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string RootDocument = ViewBag.RootDocument;
    
}

@*<style type="text/css">
    .dataArea td, .dataArea th  {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    }
    .dataArea tr:nth-child(even) {
        background: #ABC8E2;
    }
    .dataArea tr:nth-child(odd) {
        background: #E1E6FA;
    }
</style>*@

<style type="text/css">
    .btn-sm {
        width:80px;
    }
    .btn-l {
        width:160px;
    }

    .dataArea td, .dataArea th  {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    }

    #EndData {
        position: fixed;
        width: 50%;
        height: 40%;
        display: none;
        background-color: white;
        border: 1px solid #666;
        z-index: 98;
    }

    #sys_Block {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100vw;
        height: 100vh;
        z-index: 1;
        background-color: #666;
        /* other browsers */
        opacity: 0.65;
        /* this works in IE6, IE7, and IE8 */
        filter: alpha(opacity=65);
        /* this works in IE8 only */
        display: none;
    }

    #VTList {
        position: fixed;
        width: 70vw;
        height: 60vh;
        display: none;
        background-color: white;
        border: 1px solid #666;
        z-index: 98;
    }

    .link:hover td {
        cursor: pointer;
        background-color: #9966FF;
    }
</style>
<div>
    <input  type="button" style="width:80px;" value="列印" onclick="Print_PDF()"/>
    @*<input type="button" value="範圍列印" onclick="window.open('@(RootDocument)/HISView/listPain_PDF?feeno=@(ViewBag.feeno)&filename=test');" />*@

</div>
<div class="funcArea" id="List">
     <div class="dataHeader">
        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
            <tr>
                <td style="width:5%;">類別</td>
                <td style="width:10%;">作業</td>
                <td style="width:8%;">編號</td>
                <td style="width:16%;">記錄時間</td>
                <td style="width:12%;">何時開始</td>
                <td style="width:26%;">疼痛部位</td>
                <td style="width:16%;">結束日期</td>
                <td style="width:10%;">記錄者</td>
            </tr>
        </table>
    </div>
    <div class="dataArea" id="div_PainPositionList">
        <table id="PainPositionList" border="0" cellpadding="4" cellspacing="1" style="width:100%;">
            <thead>
                <tr style="display:none;" class="link" onclick="ShowRecord(this);">
                    <td style="width:5%;text-align:center;" data-filed="InType"></td>
                    <td style="width:10%;text-align:center;" data-filed="WorkType"></td>
                    <td style="text-align:center;width:8%;" data-rowid=""></td>
                    <td style="width:16%;text-align:center;" data-target="PainRecordDate"></td>
                    <td style="width:12%;text-align:center;" data-target="PainStart_TimeNum"></td>
                    <td style="width:26%;" data-filed="PainPosition"></td>
                    <td style="width:16%;" data-filed="EndDate"></td>
                    <td style="width:10%;text-align:center;" data-filed="UserName"></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="dataHeader">
        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
            <tr>
                <td style="width:5%;">編號</td>
                <td style="width:12%;">日期時間</td>
                <td style="width:7%;">部位</td>
                <td style="width:9%;">疼痛性質</td>
                <td style="width:8%;">評估工具</td>
                <td style="width:5%;">疼痛<br />強度</td>
                <td style="width:7%;">意識</td>
                <td style="width:9%;">藥物處置</td>
                <td style="width:8%;">副作用</td>
                <td style="width:11%;">非藥物處置</td>
                <td style="width:5%;">靈性評估</td>
                <td style="width:5%;">記錄者</td>
            </tr>
        </table>
    </div>
    <div class="dataArea" id="div_PainPositionRecordList">
        <table id="PainPositionRecordList" border="0" cellpadding="4" cellspacing="1" style="width:100%;">
            <thead>
                <tr style="display:none;">
                    <td style="text-align:center;width:5%;" data-rowid=""></td>
                    <td style="width:12%;text-align:center;word-break: break-all;" data-filed="RecordDate"></td>
                    <td style="width:7%;word-break: break-all;" data-filed="PainPosition"></td>
                    <td style="width:9%;word-break: break-all;" data-target="PainNature"></td>
                    <td style="width:8%;word-break: break-all;" data-target="PainLevel"></td>
                    <td style="width:5%;text-align:center;" data-target="PainLevelNum"></td>
                    <td style="width:7%;text-align:center;" data-target="ConsciosLevel"></td>
                    <td style="width:9%;word-break: break-all;" data-target="PainKiller"></td>
                    <td style="width:8%;word-break: break-all;" data-target="RelievePainSideEffectItem"></td>
                    <td style="width:11%;word-break: break-all;" data-target="PainAbnormalItem"></td>
                    <td style="width:5%;" data-target="Mood_Thermometer_Total"></td>
                    <td style="width:5%;text-align:center;" data-filed="UserName"></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //載入持續疼痛記錄列表
        SelectPainPositionRecord(function () {
            //載入疼痛部位列表
            SelectPainPosition(function () {
                //關閉遮罩
                setGridColor();
            });
        });
        //重設高度
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            //疼痛部位列表高度
            $("#div_PainPositionList").outerHeight((height / 2) - 60);
            //持續疼痛記錄列表高度
            $("#div_PainPositionRecordList").outerHeight((height / 2) - 60);
        }).trigger("resize");
    });

   
    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    //載入疼痛部位列表
    function SelectPainPosition(CallBack) {
        //清空列表
        $('#PainPositionList tbody').empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/AssessPain_ECK/SelectPainPosition")',
            data: { 'FeeNo': '@(ViewBag.feeno)' ,'HISVIEW':'true'},
            success: function (data) {
                if (data != '') {
                    var List = JSON.parse(data);
                    if (List.length > 0) {
                        //塞入列表頁上方的初始List
                        //
                        var count = List.length + 1;
                        $.each(List, function (i, item) {
                            //複製基本樣式
                            var Temp = $('#PainPositionList thead tr').clone().show();
                            //疼痛部位編號
                            $(Temp).find('td[data-rowid]').attr('data-rowid', item['PainCode']).text((count - 1));
                            //持續疼痛_同樣疼痛部位_加入編號
                            $('#PainPositionRecordList tbody td[data-rowid=' + item['PainCode'] + ']').text((count - 1));

                            //塞入欄位值
                            $.each($(Temp).find('td[data-filed]'), function (i, td) {
                                $(td).text(item[$(td).attr('data-filed')]);
                            });

                            ///塞入記錄時間
                            var record_date = item['RecordDate'];
                            if (record_date != null && record_date != "") {
                                $(Temp).find('td[data-target=PainRecordDate]').text(record_date);
                            }

                            //RecordData 轉JSON
                            var DataObj = "";
                            if (!!item['RecordData']) {
                                DataObj = JSON.parse(item['RecordData']);
                            }

                            if (DataObj.length > 0) {
                                //何時開始
                                var PainStart_Time = '';
                                var r = $.grep(DataObj, function (obj) { return (obj.Name === 'PainStart_TimeNum') });
                                if (r.length > 0)
                                    PainStart_Time = r[0].Value + $.grep(DataObj, function (obj) { return (obj.Name === 'PainStart_TimeUnit') })[0].Value;
                                else
                                    PainStart_Time = $.grep(DataObj, function (obj) { return (obj.Name === 'PainStart') })[0].Value;
                                $(Temp).find('td[data-target=PainStart_TimeNum]').text(PainStart_Time);
                            }

                            //if (item['EndDate'] == '') {
                            //    //綁定按鈕上的data-code
                            //    $(Temp).find('input[type=button][data-code]').attr('data-code', item['PainCode']);
                            //    $(Temp).find('input[type=button][data-position]').attr('data-position', item['PainPosition']);
                            //}
                            //else {
                            //    $(Temp).find('input[type=button]').remove();
                            //    //持續疼痛_同樣疼痛部位_已結案刪除按鈕
                            //    $('#PainPositionRecordList tbody td[data-rowid=' + item['PainCode'] + ']').closest('tr').find('input[type=button]').remove();
                            //}

                            //if (item['UserNo'] != null) {
                            //    if (item['UserNo'] != userno) {
                            //        $(Temp).find('input[type=button][data-del=del]').css('display', 'none');
                            //    }
                            //}

                            //加入列表
                            $('#PainPositionList tbody').append(Temp);
                            count = count - 1;
                        });
                    }
                    else
                        $('#PainPositionList tbody').append('<tr><td colspan="6" style="text-align:center;">查無資料！</td></tr>');
                }
            },
            complete: function () {
                if (!!CallBack)
                    CallBack();
            }
        });
    }

    //載入持續疼痛列表
    function SelectPainPositionRecord(CallBack) {
        $('#PainPositionRecordList tbody').empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/AssessPain_ECK/SelectPainPositionRecord")',
            data: {
                'FeeNo': '@(ViewBag.feeno)',
                'SourceType' : 'HisView'
            },
            success: function (data) {
                if (data != '') {
                    var List = JSON.parse(data);
                    if (List.length > 0) {
                        $.each(List, function (i, item) {
                            var Temp = $('#PainPositionRecordList thead tr').clone().show();
                            $(Temp).find('td[data-rowid]').attr('data-rowid', item['PainCode']);
                            $.each($(Temp).find('td[data-filed]'), function (i, td) {
                                $(td).text(item[$(td).attr('data-filed')]);
                            });
                            DataObj = JSON.parse(item['RecordData']);
                            if (DataObj.length > 2) {
                                //非藥物處置
                                var PainAbnormalItemWord = $.grep(DataObj, function (obj) { return (obj.Name === 'PainAbnormalItem') })[0].Value;
                                var r = $.grep(DataObj, function (obj) { return (obj.Name === 'PainAbnormalItem_Other') });
                                if (r.length > 0)
                                    PainAbnormalItemWord = PainAbnormalItemWord.substring(0, PainAbnormalItemWord.length - 2) + r[0].Value;
                                $(Temp).find('td[data-target=PainAbnormalItem]').text(PainAbnormalItemWord);
                                //疼痛性質
                                var PainNatureWord = $.grep(DataObj, function (obj) { return (obj.Name === 'PainNature') })[0].Value;
                                var PainLevel = $.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel') })[0].Value;
                                r = $.grep(DataObj, function (obj) { return (obj.Name === 'PainNature_Other') });
                                if (r.length > 0)
                                    PainNatureWord = PainNatureWord.substring(0, PainNatureWord.length - 2) + r[0].Value;
                                $(Temp).find('td[data-target=PainNature]').text(PainNatureWord);
                                $(Temp).find('td[data-target=PainLevel]').text(PainLevel);
                                //疼痛強度
                                var ps_value = 0;
                                switch ($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel') })[0].Value) {
                                    case '數字量表':
                                        ps_value = parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Number') })[0].Value.substring(1, 2));
                                        break;
                                    case '臉譜量表':
                                        ps_value = parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Face') })[0].Value.substring(1, 2));
                                        break;
                                    case '困難評估(成人)':
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Adult_Breath') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Adult_NoLG') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Adult_Face') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Adult_Body') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Adult_Appease') })[0].Value.substring(1, 2));
                                        break;
                                    case '困難評估(兒童)':
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Child_Face') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Child_Legs') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Child_Activity') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Child_Crying') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Child_Consolability') })[0].Value.substring(1, 2));
                                        break;
                                    case '困難評估(新生兒)':
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Baby_Crying') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Baby_FiO2') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Baby_VT') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Baby_Expression') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Baby_Sleepless') })[0].Value.substring(1, 2));
                                        break;
                                    case 'CPOT評估(加護單位)':
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_CPOT_Face') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_CPOT_Body') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_CPOT_Muscle') })[0].Value.substring(1, 2));
                                        ps_value += parseInt($.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_CPOT_Breath') })[0].Value.substring(1, 2));
                                        break;
                                }
                                $(Temp).find('td[data-target=PainLevelNum]').text(ps_value);
                                //意識
                                $(Temp).find('td[data-target=ConsciosLevel]').text('E' + $.grep(DataObj, function (obj) { return (obj.Name === 'GCS_E') })[0].Value + 'V' + $.grep(DataObj, function (obj) { return (obj.Name === 'GCS_V') })[0].Value + 'M' + $.grep(DataObj, function (obj) { return (obj.Name === 'GCS_M') })[0].Value);
                                var TempPainKiller = $.grep(DataObj, function (obj) { return (obj.Name === 'PainKiller') })[0].Value;
                                var TempMedItem = $.grep(DataObj, function (obj) { return (obj.Name === 'RelievePainMedItem') });
                                var Str = "";
                                var StrTitle = "";
                                var g = $.grep(DataObj, function (obj) { return (obj.Name == 'Txt_RelievePainMedItem_other') });
                                if (g.length > 0)
                                    var TempMedItemOther = g[0].Value;
                                else
                                    var TempMedItemOther = "";
                                if (TempPainKiller != "是") {
                                    $(Temp).find('td[data-target=PainKiller]').text(TempPainKiller == '否' ? '無' : '給藥後評估');
                                } else {
                                    if (TempMedItem.length > 0) {
                                        var TempMedItemWord = TempMedItem[0].Value.split(',');//ARR

                                        for (var q = 0 ; q < TempMedItemWord.length; q++) {
                                            var TempMedName = $.grep(DataObj, function (obj) { return (obj.Name === 'RelievePainMedItem_Name_' + TempMedItemWord[q]) });
                                            var TempMedAmount = $.grep(DataObj, function (obj) { return (obj.Name === 'RelievePainMedItem_Amount_' + TempMedItemWord[q]) });
                                            var TempMedWay = $.grep(DataObj, function (obj) { return (obj.Name === 'RelievePainMedItem_Way_' + TempMedItemWord[q]) });
                                            if (TempMedName.length > 0) {
                                                Str += (q + 1) + ". ";
                                                Str += TempMedName[0].Value;
                                                StrTitle += (q + 1) + ". ";
                                                StrTitle += TempMedName[0].Value;
                                            }
                                            if (TempMedAmount.length > 0) {
                                                Str += "<br />劑量：" + TempMedAmount[0].Value;
                                                StrTitle += "\n劑量：" + TempMedAmount[0].Value;
                                            }
                                            if (TempMedWay.length > 0) {
                                                Str += " 途徑：" + TempMedWay[0].Value;
                                                Str += "<br />";
                                                StrTitle += " 途徑：" + TempMedWay[0].Value;
                                                StrTitle += "\n";
                                            }

                                        }
                                    }
                                    if (TempMedItemOther != '') {
                                        Str += "其他：<label style='word-break: break-all;'>" + TempMedItemOther + "</label><br />";
                                    }
                                    if (Str.length > 10) {
                                        $(Temp).find('td[data-target=PainKiller]').html(Str.substr(0, 10) + "...");//(Str=='')?'無':Str
                                    } else {
                                        $(Temp).find('td[data-target=PainKiller]').html(Str.substr(0, 10));//(Str=='')?'無':Str
                                    }
                                    $(Temp).find('td[data-target=PainKiller]').attr('title', StrTitle);
                                }

                                //副作用
                                r = $.grep(DataObj, function (obj) { return (obj.Name === 'RelievePainSideEffectItem') });
                                if (r.length > 0) {
                                    var RelievePainSideEffectItemWord = r[0].Value;
                                    r = $.grep(DataObj, function (obj) { return (obj.Name === 'RelievePainSideEffectItem_Other') });
                                    if (r.length > 0)
                                        RelievePainSideEffectItemWord = RelievePainSideEffectItemWord.substring(0, RelievePainSideEffectItemWord.length - 2) + r[0].Value;
                                    $(Temp).find('td[data-target=RelievePainSideEffectItem]').text(RelievePainSideEffectItemWord);
                                }
                                else
                                    $(Temp).find('td[data-target=RelievePainSideEffectItem]').text('-');
                                //靈性評估
                                r = $.grep(DataObj, function (obj) { return (obj.Name === 'Mood_Thermometer_Total') });
                                if (r.length > 0)
                                    $(Temp).find('td[data-target=Mood_Thermometer_Total]').text(r[0].Value);
                                else
                                    $(Temp).find('td[data-target=Mood_Thermometer_Total]').text($.grep(DataObj, function (obj) { return (obj.Name === 'SpiritualityAssess') })[0].Value);
                            } else if (DataObj.length = 2) {
                                //疼痛性質
                                var PainLevel = $.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel') })[0].Value;
                                $(Temp).find('td[data-target=PainLevel]').text(PainLevel);
                                //疼痛強度 
                                var ps_value = $.grep(DataObj, function (obj) { return (obj.Name === 'PainLevel_Number') })[0].Value;
                                $(Temp).find('td[data-target=PainLevelNum]').text(ps_value);
                            }

                            //$(Temp).find('input[type=button][data-code]').attr('data-code', item['PainCode']);
                            //$(Temp).find('input[type=button][data-position]').attr('data-position', item['PainPosition']);
                            //$(Temp).find('input[type=button][data-recordcode]').attr('data-recordcode', item['PainRecordCode']);
                            $('#PainPositionRecordList tbody').append(Temp);
                        });
                    }
                    else
                        $('#PainPositionRecordList tbody').append('<tr><td colspan="6" style="text-align:center;">查無資料！</td></tr>');
                }
            },
            complete: function () {
                if (!!CallBack)
                    CallBack();
            }
        });
    }


    //顯示點選的部位所屬的持續疼痛
    function ShowRecord(obj) {
        $('#PainPositionRecordList tbody tr').hide();
        $('#PainPositionRecordList tbody tr td[data-rowid=' + $(obj).find('td[data-rowid]').attr('data-rowid') + ']').parent().show();
    }

    function Print_PDF()
    {
        window.open('@(RootDocument)/Print/GetPDF?url=@(RootDocument)/HISView/listPain_PDF?feeno=@(ViewBag.feeno)&filename=test');
    }
</script>