@using System.Data;
@{
    DataTable DT = ViewBag.dt_wound_record;
    string[] StrArr_WoundLevel = { "N/A", "第I級(Superficial burn)：表皮層受損，皮膚發紅沒有水泡。", "第II級(Superficial partial thickness burn)：表皮及部分真皮破損。", "第III級(Deep partial thickness burn)：表皮及真皮破損，有傷及毛囊及毛脂腺。", "第IV級(Full partial thickness burn)：表皮、真皮及皮下組織。" };
 }
<script type="text/javascript">
    $(function () {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    });
</script>
@if(DT != null)
{
    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:12px;">
        @foreach(DataRow r in DT.Rows)
        {
            string HandleVal = "";
            if(r["HANDLE_YN"].ToString() == "是")
            {
                HandleVal = r["HANDLE_ITEM"].ToString().Replace("其他", r["HANDLE_OTHER"].ToString()).Replace("|", ",");
            }
            <tr>
                <td style="width:3%;text-align:center;">@r["NUM"]</td>
                <td style="width:7%;text-align:center;">@(Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm"))</td>
                <td style="width:7%;text-align: center;">
                    <!-- 壓傷分級 -->
                    @if(r["TYPE"].ToString() == "壓瘡" || r["TYPE"].ToString() == "壓傷")
                    {
                        //@r["grade"].ToString()
                        if(r["grade"] != "" && r["grade"] != null)
                        { 
                           @Html.Raw(r["grade"].ToString())
                        }
                    }
                    else
                    {
                        @:--
                    }
                </td>
                <td style="width:4%;text-align:center;">
                     @if(!string.IsNullOrEmpty(r["RANGE_HEIGHT"].ToString()))
                     { 
                    @r["RANGE_HEIGHT"]
                     }
                     else
                     {
                        @:--
                     }
                </td>
                <td style="width:4%;text-align:center;">
                     @if(!string.IsNullOrEmpty(r["RANGE_WIDTH"].ToString()))
                     { 
                    @r["RANGE_WIDTH"]
                     }
                     else
                     {
                        @:--
                    }
                </td>
                <td style="width:4%;text-align:center;">
                     @if(!string.IsNullOrEmpty(r["RANGE_DEPTH"].ToString()))
                     { 
                    @r["RANGE_DEPTH"]
                     }
                     else
                     {
                        @:--
                    }
                </td>
                <td style="width:7%;text-align:center;word-break: break-all;">
                    @if(!string.IsNullOrEmpty(r["SCALD_RANGE"].ToString()))
                    { 
                    @(r["SCALD_RANGE"] + "%")
                    }
                    else
                    {
                     @:--
                    }
                </td>
                <td style="width:7%;text-align:center;word-break: break-all;">
                    @if(!string.IsNullOrEmpty(r["WOUND_LEVEL"].ToString()))
                    { 
                        @(StrArr_WoundLevel[Convert.ToInt32(r["WOUND_LEVEL"])])
                    }
                    else
                    {
                        @:--
                    }
                </td>
                <td style="width:18%;word-break: break-all;">
                     @r["EXTERIOR"].ToString().Replace("其他", r["EXTERIOR_OTHER"].ToString()).Replace("|", ",")
                </td>
                  @if(r["EXUDATE_YN"].ToString() != "無")
                        { 
                        <td style="width: 3%;word-break: break-all;text-align:center;">
                             @(r["EXUDATE_AMOUNT"].ToString())
                        </td>
                        }
                        else
                        {
                             <td style="width:3%;text-align:center;">
                            --
                            </td>
                        }
                    <!-- 壓傷 性質 -->
                    @if(r["TYPE"].ToString() == "壓瘡" || r["TYPE"].ToString() == "壓傷")
                    {
                        if(r["EXUDATE_YN"].ToString() != "無")
                        { 
                         <td style="width:5%;word-break: break-all;">
                        @r["EXUDATE_NATURE"].ToString().Replace("其他", r["EXUDATE_NATURE_OTHER"].ToString()).Replace("|", ",")
                             </td>
                        }
                        else
                        {
                             <td style="width:5%;text-align:center;">
                            --
                            </td>
                        }
                    }
                    else
                    {
                         <td style="width:5%;text-align:center;">
                        --
                        </td>
                    }
                    <!-- 一般傷口 性狀 -->
                    @if(r["TYPE"].ToString() != "壓瘡" && r["TYPE"].ToString() != "壓傷")
                    {//非壓傷皆為一般傷口
                        if(r["EXUDATE_YN"].ToString() != "無")
                        { 
                         <td style="width: 5%;word-break: break-all;">
                        @r["EXUDATE_NATURE"].ToString().Replace("其他", r["EXUDATE_NATURE_OTHER"].ToString()).Replace("|", ",")
                        </td>
                        }
                        else
                        {
                             <td style="width:5%;text-align:center;">
                            --
                            </td>
                        }
                    }
                    else
                    {
                         <td style="width: 5%; text-align: center;">
                        --
                        </td>
                    }
                    <!-- 一般傷口 顏色 -->
                    @if(r["TYPE"].ToString() != "壓瘡" && r["TYPE"].ToString() != "壓傷")
                    {//非壓傷皆為一般傷口
                        if(r["EXUDATE_YN"].ToString() != "無")
                        { 
                        <td style="width: 6%;word-break: break-all;">
                        @r["EXUDATE_COLOR"].ToString().Replace("其他", r["EXUDATE_COLOR_OTHER"].ToString()).Replace("|", ",")
                        </td>
                        }
                        else
                        {
                             <td style="width:6%;text-align:center;">
                            --
                            </td>
                        }
                    }
                    else
                    {
                        <td style="width: 6%; text-align: center;">
                        --
                        </td>

                    }
                <td style="width: 6%; text-align: center"><!-- 一般傷口 是否有縫線 -->
                @if(r["TYPE"].ToString() != "壓瘡" && r["TYPE"].ToString() != "壓傷")
                {//非壓傷皆為一般傷口
                    @r["SUTURES_YN"].ToString()
                }
                else
                {
                    @:--
                }
                </td>
                     @if(r["HANDLE_YN"].ToString() != "否")
                     { 
                         <td style="width:9%;word-break: break-all;">
                             @HandleVal
                              </td>
                     }
                     else
                     {
                            <td style="width:9%;text-align:center;">
                          --
                             </td>
                     }
               
                <td style="width:5%;text-align:center;">@r["username"]</td>
            </tr>
        }
    </table>
}