@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    //Layout = "~/Views/Layout/Main.cshtml";
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
}

<style type="text/css">
    .popup {
        width: auto;
        height: auto;
        position: absolute;
        background-color: #EFEFFF;
        padding: 10px 15px 10px 15px;
        border: 1px solid #999999;
        box-shadow: 5px 5px 5px #666;
        border-radius: 15px 15px 15px 15px;
        top: 50%;
        left: 50%;
        margin: -150px 0 0 -300px; /* [-(height/2)px 0 0 -(width/2)px] */
        display: none;
        z-index: 99;
    }
    .wound_record td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        white-space: pre-line;
    }
    polygon.scald {
        fill: red;
        stroke: none; /* Replace with none if you like */
        stroke-width: 4;
        cursor: pointer;
        opacity: 0.33;
    }
    polygon.pressure {
        fill: blue;
        stroke: none; /* Replace with none if you like */
        stroke-width: 4;
        cursor: pointer;
        opacity: 0.33;
    }
    polygon.other {
        fill: #9aff9d;
        stroke: none; /* Replace with none if you like */
        stroke-width: 4;
        cursor: pointer;
        opacity: 0.50;
    }
</style>

<script type="text/javascript">
    $(function () {
        $("#dv_del").draggable();
        $('#wound_record').load('../Wound/Partial_Record');
        setGridColor();
    });

    //格行換色
    function setGridColor() {
        $('.wound_record tr:odd').css('background', '#ABC8E2');
        $('.wound_record tr:even').css('background', '#E1E6FA');
    }
</script>

@using System.Data;
@{
    DataTable dt_wound_data = ViewBag.dt_wound_data;
    DataTable dt_wound_record = ViewBag.dt_wound_record;
}
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;table-layout:fixed">
        <tr>
            <td>
                <table border="0" style="width:100%;font-size:14px;">
                    <tr>
                        <td>病人姓名：@ptinof.PatientName</td>
                        @if(ptinof.Birthday != null)
                        {
                        <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                        }
                        else
                        {
                        <td>生日：</td>
                        }
                        <td>年齡：@ptinof.Age</td>
                        <td>病床號：@ptinof.BedNo</td>
                        <td>病歷號：@ptinof.ChartNo</td>
                    </tr>
                    <tr>
                        <td>科別：@ptinof.DeptName</td>
                        <td>主治醫師：@ptinof.DocName</td>
                        @if (ptinof.InDate != null)
                        {
                        <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                        }
                        else
                        {
                        <td>住院日期：</td>
                        }
                        <td>性別：@ptinof.PatientGender</td>
                        <td>診斷：@ptinof.ICD9_code1</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dataHeader" style="margin-right:0px;">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        <tr>
                            <td style="width:7%;">編號</td>
                            <td style="width:10%;">發生日期</td>
                            <td style="width:10%;">傷口種類</td>
                            <td style="width:9%;">部位</td>
                            <td style="width:33%;">發生地點</td>
                            <td style="width:17%;">結案日期</td>
                            <td style="width:14%;">結案原因</td>
                        </tr>
                    </table>
                </div>
                <div class="wound_record">
                    @if (dt_wound_data != null)
                    {
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;vertical-align:middle;">
                        @foreach (DataRow r in dt_wound_data.Rows)
                        {
                            if (r["DELETED"].ToString() == "")
                            {
                        <tr align="center">
                            <td style="width:7%;white-space:nowrap;">
                                <label>@r["NUM"]</label>
                            </td>
                            <td style="width:10%;white-space:nowrap;">
                                @if (r["CREATTIME"].ToString() != "")
                                {
                                @Convert.ToDateTime(r["CREATTIME"]).ToString("yyyy/MM/dd")
                                }
                                else
                                {
                                    @:不詳
                                }
                            </td>
                            <td style="width:10%;">@r["TYPE"]</td>
                            <td style="width:9%;">@r["POSITION"]</td>
                            <td style="width:33%;">@r["LOCATION"]</td>
                            <td style="width:17%;white-space:nowrap;">
                            @if(r["ENDTIME"].ToString() != "")
                            {
                            @Convert.ToDateTime(r["ENDTIME"]).ToString("yyyy/MM/dd HH:mm")
                            }
                            </td>
                            <td style="width:14%;">@r["ENDT_REASON"]</td>
                        </tr>
                            }
                        }
                    </table>
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <div class="dataHeader" style="margin-right:0px;">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:12px;">
                        <tr>
                            <td rowspan="2" style="width:5%;"><div style="width:40px; overflow:hidden;"></div></td>
                            <td rowspan="2" style="width:4%;">編號</td>
                            <td rowspan="2" style="width:13%;">紀錄日期</td>
                            <td rowspan="2" style="width:5%;">傷口<br />等級</td>
                            <td colspan="2">傷口滲出物</td>
                            <td colspan="3">傷口大小及<br />深度(cm)</td>
                            <td rowspan="2" style="width:7%;">燙傷<br />範圍(%)</td>
                            <td rowspan="2" style="width:9%;">周圍皮膚</td>
                            <td rowspan="2" style="width:8%;">接觸隔離</td>
                            <td rowspan="2" style="width:10%;">換藥方式</td>
                            <td rowspan="2" style="width:10%;">護理措施</td>
                            <td rowspan="2" style="width:7%;">紀錄者</td>
                        </tr>
                        <tr>
                            <td style="max-height:15px;width:3%;">量</td>
                            <td style="width:7%;">性質</td>
                            <td style="width:4%;">長</td>
                            <td style="width:4%;">寬</td>
                            <td style="width:4%;">深</td>
                        </tr>
                    </table>
                </div>
                <div class="wound_record">
                    @if (dt_wound_record != null)
                    {
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        @foreach (DataRow r in dt_wound_record.Rows)
                        {
                            if (r["WOUND_DELETED"].ToString() == "")
                            {
                        <tr>
                            <td style="width:5%;">
                                <div style="width:40px; overflow:hidden;"></div>
                            </td>
                            <td style="width:4%;text-align:center;word-break:break-all;">@r["NUM"]</td>
                            <td style="width:13%;white-space:nowrap;">@Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")</td>
                            <td style="width:5%;text-align:center;word-break:break-all;">@r["CLASS"]</td>
                            <td style="width:3%;word-break:break-all;">@r["AMOUNT"]</td>
                            @if (@r["AMOUNT_TYPE"].ToString() != "")
                            {
                            <td style="width:7%;word-break:break-all;">@r["AMOUNT_TYPE"].ToString().Replace("|", ",")</td>
                            }
                            else
                            {
                            <td style="width:7%;word-break:break-all;">-</td>
                            }
                            @if (r["SHAPE"].ToString() != ",,")
                            {
                            <td style="width:4%;text-align:center;word-break:break-all;">@r["SHAPE"].ToString().Split(',').GetValue(0)</td>
                            <td style="width:4%;text-align:center;word-break:break-all;">@r["SHAPE"].ToString().Split(',').GetValue(1)</td>
                            <td style="width:4%;text-align:center;word-break:break-all;">@r["SHAPE"].ToString().Split(',').GetValue(2)</td>
                            }
                            else
                            {
                            <td style="width:4%;text-align:center;word-break:break-all;">-</td>
                            <td style="width:4%;text-align:center;word-break:break-all;">-</td>
                            <td style="width:4%;text-align:center;word-break:break-all;">-</td>
                            }
                            @if (@r["RANGE"].ToString() != "")
                            {
                            <td style="width:7%;text-align:center;word-break:break-all;">@r["RANGE"]</td>
                            }
                            else
                            {
                            <td style="width:7%;text-align:center;word-break:break-all;">-</td>
                            }
                            <td style="width:9%;word-break:break-all;">@r["TYPE"].ToString().Replace("|", ",")</td>
                            <td style="width:8%;word-break:break-all;">@r["ISOLATION"]</td>
                            <td style="width:10%;word-break:break-all;">@r["DRESSING"].ToString().Replace("|", ",")</td>
                            <td style="width:10%;word-break:break-all;">@r["MEASURE"].ToString().Replace("|", ",")</td>
                            <td style="width:7%;word-break:break-all;">@r["username"]</td>
                        </tr>
                            }
                        }
                    </table>
                    }
                </div>
            </td>
        </tr>
   </table>
</div>