<p>
    @Html.Label("lab", "胸痛/壓迫感", new { @class = "subtitle" })
    @Html.RadioButton("rb_blood_opt1", "", false, new { id = "rb_blood_opt1_1" })
    @Html.Label("rb_blood_opt1_1", "無")
    @Html.RadioButton("rb_blood_opt1", "", false, new { id = "rb_blood_opt1_2" })
    @Html.Label("rb_blood_opt1_2", "有")
    @Html.RadioButton("rb_blood_opt1", "", false, new { id = "rb_blood_opt1_3" })
    @Html.Label("rb_blood_opt1_3", "無法表達(特殊疾病、嬰幼兒)")
</p>
<p>
    @Html.Label("lab", "足背搏動", new { @class = "subtitle" })
    @Html.RadioButton("rb_blood_opt2", "", false, new { id = "rb_blood_opt2_1", onclick = "$('#blood_opt2').fadeOut(500);" })
    @Html.Label("rb_blood_opt2_1", "正常")
    @Html.RadioButton("rb_blood_opt2", "", false, new { id = "rb_blood_opt2_2", onclick = "$('#blood_opt2').fadeIn(500);" })
    @Html.Label("rb_blood_opt2_2", "異常")
</p>
<p id="blood_opt2" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_blood_opt2_1")
    @Html.Label("ck_blood_opt2_1", "右足背變弱/消失")
    @Html.CheckBox("ck_blood_opt2_2")
    @Html.Label("ck_blood_opt2_2", "左足背變弱/消失")
</p>
<p>
    @Html.Label("lab", "節律", new { @class = "subtitle" })
    @Html.RadioButton("rb_blood_opt3", "", false, new { id = "rb_blood_opt3_1" })
    @Html.Label("rb_blood_opt3_1", "正常")
    @Html.RadioButton("rb_blood_opt3", "", false, new { id = "rb_blood_opt3_2" })
    @Html.Label("rb_blood_opt3_2", "不規則")
    @Html.RadioButton("rb_blood_opt3", "", false, new { id = "rb_blood_opt3_3" })
    @Html.Label("rb_blood_opt3_3", "心搏過速")
    @Html.RadioButton("rb_blood_opt3", "", false, new { id = "rb_blood_opt3_4" })
    @Html.Label("rb_blood_opt3_4", "心搏過慢")
    @Html.RadioButton("rb_blood_opt3", "", false, new { id = "rb_blood_opt3_5" })
    @Html.Label("rb_blood_opt3_5", "心悸")
    @Html.RadioButton("rb_blood_opt3", "", false, new { id = "rb_blood_opt3_6" })
    @Html.Label("rb_blood_opt3_6", "心律調整器")
</p>
<p>
    @Html.Label("lab", "無胸痛/壓迫感、肢端心跳正常、搏動節律規則")
    @Html.RadioButton("rb_blood_opt4", "", false, new { id = "rb_blood_opt4_1" })
    @Html.Label("rb_blood_opt4_1", "是")
    @Html.RadioButton("rb_blood_opt4", "", false, new { id = "rb_blood_opt4_2" })
    @Html.Label("rb_blood_opt4_2", "否")
</p>