        <p>
            @Html.Label("lab", "腸音", new { @class = "subtitle" })
            @Html.RadioButton("rb_body_opt1", "", false, new { id = "rb_body_opt1_1", onclick = "enable('txt_body_opt1_other');" })
            @Html.Label("rb_body_opt1_1", "hypo")
            @Html.RadioButton("rb_body_opt1", "", false, new { id = "rb_body_opt1_2", onclick = "enable('txt_body_opt1_other');" })
            @Html.Label("rb_body_opt1_2", "active")
            @Html.RadioButton("rb_body_opt1", "", false, new { id = "rb_body_opt1_3", onclick = "enable('txt_body_opt1_other');" })
            @Html.Label("rb_body_opt1_3", "hyper")
            @Html.RadioButton("rb_body_opt1", "", false, new { id = "rb_body_opt1_other", onclick = "able('txt_body_opt1_other');" })
            @Html.Label("rb_body_opt1_other", "其他")
            @Html.TextBox("txt_body_opt1_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "進食方式", new { @class = "subtitle" })
            禁食狀況：
            @Html.RadioButton("rb_body_opt2", "", false, new { id = "rb_body_opt2_1" })
            @Html.Label("rb_body_opt2_1", "是")
            @Html.RadioButton("rb_body_opt2", "", false, new { id = "rb_body_opt2_1" })
            @Html.Label("rb_body_opt2_1", "否")
        </p>
        <p style="padding-left:170px;">
            NG Feeding：
            @Html.RadioButton("rb_body_opt3", "", false, new { id = "rb_body_opt3_1", onclick = "enable('txt_body_opt3_other');" })
            @Html.Label("rb_body_opt3_1", "元素飲食")
            @Html.RadioButton("rb_body_opt3", "", false, new { id = "rb_body_opt3_2", onclick = "enable('txt_body_opt3_other');" })
            @Html.Label("rb_body_opt3_2", "調整配方")
            @Html.RadioButton("rb_body_opt3", "", false, new { id = "rb_body_opt3_other", onclick = "able('txt_body_opt3_other');" })
            @Html.Label("rb_body_opt3_other", "其他")
            @Html.TextBox("txt_body_opt3_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p style="padding-left:170px;">
            Oril：
            @Html.RadioButton("rb_body_opt4", "", false, new { id = "rb_body_opt4_1", onclick = "enable('txt_body_opt4_other');" })
            @Html.Label("rb_body_opt4_1", "普通")
            @Html.RadioButton("rb_body_opt4", "", false, new { id = "rb_body_opt4_2", onclick = "enable('txt_body_opt4_other');" })
            @Html.Label("rb_body_opt4_2", "軟食")
            @Html.RadioButton("rb_body_opt4", "", false, new { id = "rb_body_opt4_3", onclick = "enable('txt_body_opt4_other');" })
            @Html.Label("rb_body_opt4_3", "糖尿病")
            @Html.RadioButton("rb_body_opt4", "", false, new { id = "rb_body_opt4_4", onclick = "enable('txt_body_opt4_other');" })
            @Html.Label("rb_body_opt4_4", "熱量")
            @Html.RadioButton("rb_body_opt4", "", false, new { id = "rb_body_opt4_other", onclick = "able('txt_body_opt4_other');" })
            @Html.Label("rb_body_opt4_other", "其他")
            @Html.TextBox("txt_body_opt4_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "消化狀況(mL)", new { @class = "subtitle" })
            @Html.RadioButton("rb_body_opt5", "", false, new { id = "rb_body_opt5_1", onclick = "enable('txt_body_opt5_other');" })
            @Html.Label("rb_body_opt5_1", "良好<50")
            @Html.RadioButton("rb_body_opt5", "", false, new { id = "rb_body_opt5_2", onclick = "enable('txt_body_opt5_other');" })
            @Html.Label("rb_body_opt5_2", "差≧50")
            @Html.RadioButton("rb_body_opt5", "", false, new { id = "rb_body_opt5_3", onclick = "enable('txt_body_opt5_other');" })
            @Html.Label("rb_body_opt5_3", "佳≦20")
            @Html.RadioButton("rb_body_opt5", "", false, new { id = "rb_body_opt5_other", onclick = "able('txt_body_opt5_other');" })
            @Html.Label("rb_body_opt5_other", "其他")
            @Html.TextBox("txt_body_opt5_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "排便狀況-顏色", new { @class = "subtitle" })
            @Html.RadioButton("rb_body_opt6", "", false, new { id = "rb_body_opt6_1", onclick = "enable('txt_body_opt6_other');" })
            @Html.Label("rb_body_opt6_1", "柏油")
            @Html.RadioButton("rb_body_opt6", "", false, new { id = "rb_body_opt6_2", onclick = "enable('txt_body_opt6_other');" })
            @Html.Label("rb_body_opt6_2", "黃褐")
            @Html.RadioButton("rb_body_opt6", "", false, new { id = "rb_body_opt6_3", onclick = "enable('txt_body_opt6_other');" })
            @Html.Label("rb_body_opt6_3", "綠")
            @Html.RadioButton("rb_body_opt6", "", false, new { id = "rb_body_opt6_4", onclick = "enable('txt_body_opt6_other');" })
            @Html.Label("rb_body_opt6_4", "血")
            @Html.RadioButton("rb_body_opt6", "", false, new { id = "rb_body_opt6_other", onclick = "able('txt_body_opt6_other');" })
            @Html.Label("rb_body_opt6_other", "其他")
            @Html.TextBox("txt_body_opt6_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "排便狀況-性狀", new { @class = "subtitle" })
            @Html.RadioButton("rb_body_opt7", "", false, new { id = "rb_body_opt7_1", onclick = "enable('txt_body_opt7_other');" })
            @Html.Label("rb_body_opt7_1", "硬便")
            @Html.RadioButton("rb_body_opt7", "", false, new { id = "rb_body_opt7_2", onclick = "enable('txt_body_opt7_other');" })
            @Html.Label("rb_body_opt7_2", "軟便")
            @Html.RadioButton("rb_body_opt7", "", false, new { id = "rb_body_opt7_3", onclick = "enable('txt_body_opt7_other');" })
            @Html.Label("rb_body_opt7_3", "糊便")
            @Html.RadioButton("rb_body_opt7", "", false, new { id = "rb_body_opt7_4", onclick = "enable('txt_body_opt7_other');" })
            @Html.Label("rb_body_opt7_4", "稀便")
            @Html.RadioButton("rb_body_opt7", "", false, new { id = "rb_body_opt7_5", onclick = "enable('txt_body_opt7_other');" })
            @Html.Label("rb_body_opt7_5", "水便")
            @Html.RadioButton("rb_body_opt7", "", false, new { id = "rb_body_opt7_other", onclick = "able('txt_body_opt7_other');" })
            @Html.Label("rb_body_opt7_other", "其他")
            @Html.TextBox("txt_body_opt7_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "排尿狀況-顏色", new { @class = "subtitle" })
            @Html.RadioButton("rb_body_opt8", "", false, new { id = "rb_body_opt8_1", onclick = "enable('txt_body_opt8_other');" })
            @Html.Label("rb_body_opt8_1", "黃")
            @Html.RadioButton("rb_body_opt8", "", false, new { id = "rb_body_opt8_2", onclick = "enable('txt_body_opt8_other');" })
            @Html.Label("rb_body_opt8_2", "淡黃  ")
            @Html.RadioButton("rb_body_opt8", "", false, new { id = "rb_body_opt8_3", onclick = "enable('txt_body_opt8_other');" })
            @Html.Label("rb_body_opt8_3", "深黃")
            @Html.RadioButton("rb_body_opt8", "", false, new { id = "rb_body_opt8_4", onclick = "enable('txt_body_opt8_other');" })
            @Html.Label("rb_body_opt8_4", "紅")
            @Html.RadioButton("rb_body_opt8", "", false, new { id = "rb_body_opt8_5", onclick = "enable('txt_body_opt8_other');" })
            @Html.Label("rb_body_opt8_5", "淡紅")
            @Html.RadioButton("rb_body_opt8", "", false, new { id = "rb_body_opt8_6", onclick = "enable('txt_body_opt8_other');" })
            @Html.Label("rb_body_opt8_6", "深紅")
            @Html.RadioButton("rb_body_opt8", "", false, new { id = "rb_body_opt8_other", onclick = "able('txt_body_opt8_other');" })
            @Html.Label("rb_body_opt8_other", "其他")
            @Html.TextBox("txt_body_opt8_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "排尿狀況-性狀", new { @class = "subtitle" })
            @Html.RadioButton("rb_body_opt9", "", false, new { id = "rb_body_opt9_1", onclick = "enable('txt_body_opt9_other');" })
            @Html.Label("rb_body_opt9_1", "清澈")
            @Html.RadioButton("rb_body_opt9", "", false, new { id = "rb_body_opt9_2", onclick = "enable('txt_body_opt9_other');" })
            @Html.Label("rb_body_opt9_2", "混濁")
            @Html.RadioButton("rb_body_opt9", "", false, new { id = "rb_body_opt9_other", onclick = "able('txt_body_opt9_other');" })
            @Html.Label("rb_body_opt9_other", "其他")
            @Html.TextBox("txt_body_opt9_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "皮膚狀況", new { @class = "subtitle" })
            @Html.RadioButton("rb_body_opt10", "", false, new { id = "rb_body_opt10_1" })
            @Html.Label("rb_body_opt10_1", "完整")
            @Html.RadioButton("rb_body_opt10", "", false, new { id = "rb_body_opt10_2", onclick = "enable('txt_body_opt10_other');" })
            @Html.Label("rb_body_opt10_2", "乾燥")
            @Html.RadioButton("rb_body_opt10", "", false, new { id = "rb_body_opt10_3", onclick = "enable('txt_body_opt10_other');" })
            @Html.Label("rb_body_opt10_3", "溫暖")
            @Html.RadioButton("rb_body_opt10", "", false, new { id = "rb_body_opt10_4", onclick = "enable('txt_body_opt10_other');" })
            @Html.Label("rb_body_opt10_4", "冰冷")
            @Html.RadioButton("rb_body_opt10", "", false, new { id = "rb_body_opt10_5", onclick = "enable('txt_body_opt10_other');" })
            @Html.Label("rb_body_opt10_5", "濕汗")
            @Html.RadioButton("rb_body_opt10", "", false, new { id = "rb_body_opt10_6", onclick = "enable('txt_body_opt10_other');" })
            @Html.Label("rb_body_opt10_6", "出汗")
            @Html.RadioButton("rb_body_opt10", "", false, new { id = "rb_body_opt10_7", onclick = "enable('txt_body_opt10_other');" })
            @Html.Label("rb_body_opt10_7", "破損")
            @Html.RadioButton("rb_body_opt10", "", false, new { id = "rb_body_opt10_other", onclick = "able('txt_body_opt10_other');" })
            @Html.Label("rb_body_opt10_other", "其他")
            @Html.TextBox("txt_body_opt10_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "口腔黏膜-部位", new { @class = "subtitle" })
            @Html.RadioButton("rb_body_opt11", "", false, new { id = "rb_body_opt11_1", onclick = "enable('txt_body_opt11_other');" })
            @Html.Label("rb_body_opt11_1", "完整")
            @Html.RadioButton("rb_body_opt11", "", false, new { id = "rb_body_opt11_2", onclick = "enable('txt_body_opt11_other');" })
            @Html.Label("rb_body_opt11_2", "上")
            @Html.RadioButton("rb_body_opt11", "", false, new { id = "rb_body_opt11_3", onclick = "enable('txt_body_opt11_other');" })
            @Html.Label("rb_body_opt11_3", "下")
            @Html.RadioButton("rb_body_opt11", "", false, new { id = "rb_body_opt11_4", onclick = "enable('txt_body_opt11_other');" })
            @Html.Label("rb_body_opt11_4", "左")
            @Html.RadioButton("rb_body_opt11", "", false, new { id = "rb_body_opt11_5", onclick = "enable('txt_body_opt11_other');" })
            @Html.Label("rb_body_opt11_5", "右")
            @Html.RadioButton("rb_body_opt11", "", false, new { id = "rb_body_opt11_other", onclick = "able('txt_body_opt11_other');" })
            @Html.Label("rb_body_opt11_other", "其他")
            @Html.TextBox("txt_body_opt11_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "口腔黏膜-顏色", new { @class = "subtitle" })
            @Html.RadioButton("rb_body_opt12", "", false, new { id = "rb_body_opt12_1", onclick = "enable('txt_body_opt12_other');" })
            @Html.Label("rb_body_opt12_1", "粉紅")
            @Html.RadioButton("rb_body_opt12", "", false, new { id = "rb_body_opt12_2", onclick = "enable('txt_body_opt12_other');" })
            @Html.Label("rb_body_opt12_2", "蒼白")
            @Html.RadioButton("rb_body_opt12", "", false, new { id = "rb_body_opt12_3", onclick = "enable('txt_body_opt12_other');" })
            @Html.Label("rb_body_opt12_3", "紫")
            @Html.RadioButton("rb_body_opt12", "", false, new { id = "rb_body_opt12_other", onclick = "able('txt_body_opt12_other');" })
            @Html.Label("rb_body_opt12_other", "其他")
            @Html.TextBox("txt_body_opt12_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "活動動力", new { @class = "subtitle" })
            @Html.RadioButton("rb_body_opt13", "", false, new { id = "rb_body_opt13_1" })
            @Html.Label("rb_body_opt13_1", "可自行翻身")
            @Html.RadioButton("rb_body_opt13", "", false, new { id = "rb_body_opt13_2" })
            @Html.Label("rb_body_opt13_2", "需協肋翻身")
            @Html.RadioButton("rb_body_opt13", "", false, new { id = "rb_body_opt13_3" })
            @Html.Label("rb_body_opt13_3", "依醫囑可下床活動")
        </p>
        <p>
            @Html.Label("lab", "預防跌倒", new { @class = "subtitle" })
            @Html.RadioButton("rb_body_opt14", "", false, new { id = "rb_body_opt14_1" })
            @Html.Label("rb_body_opt14_1", "單側床欄")
            @Html.RadioButton("rb_body_opt14", "", false, new { id = "rb_body_opt14_2" })
            @Html.Label("rb_body_opt14_2", "雙側床欄")
        </p>
        <p>
            @Html.Label("lab", "約束評估", new { @class = "subtitle" })
            @Html.RadioButton("rb_body_opt15", "", false, new { id = "rb_body_opt15_1" })
            @Html.Label("rb_body_opt15_1", "需要")
            @Html.RadioButton("rb_body_opt15", "", false, new { id = "rb_body_opt15_2" })
            @Html.Label("rb_body_opt15_2", "不需要")
        </p>