<p>
    @Html.Label("lab", "生產史", new { @class = "subtitle" })
    @Html.RadioButton("rb_procreation_opt1", "", false, new { id = "rb_procreation_opt1_1" })
    @Html.Label("rb_procreation_opt1_1", "無")
    @Html.RadioButton("rb_procreation_opt1", "", false, new { id = "rb_procreation_opt1_2" })
    @Html.Label("rb_procreation_opt1_2", "有") 
    @Html.RadioButton("rb_procreation_opt1", "", false, new { id = "rb_procreation_opt1_3" })
    @Html.Label("rb_procreation_opt1_3", "無法評估") 
</p>
<p>
    @Html.Label("lab", "孕次", new { @class = "subtitle" })
    <select id="sel_procreation_opt2">
        <option>無</option>
    </select>
</p>
<p>
    @Html.Label("lab", "產次", new { @class = "subtitle" })
    <select id="sel_procreation_opt3">
        <option>無</option>
    </select>
</p>
<p>
    @Html.Label("lab", "自然流產", new { @class = "subtitle" })
    <select id="sel_procreation_opt4">
        <option>無</option>
    </select>
</p>
<p>
    @Html.Label("lab", "人工流產", new { @class = "subtitle" })
    <select id="sel_procreation_opt5">
        <option>無</option>
    </select>
</p>
<p>
    @Html.Label("lab", "子宮外孕", new { @class = "subtitle" })
    <select id="sel_procreation_opt6">
        <option>無</option>
    </select>
</p>
<p>
    @Html.Label("lab", "初經年齡", new { @class = "subtitle" })
    @Html.TextBox("txt_procreation_opt7", "", new { style = "width:80px;" }) 歲
</p>
<p>
    @Html.Label("lab", "停經年齡", new { @class = "subtitle" })
    @Html.TextBox("txt_procreation_opt8", "", new { style = "width:80px;" }) 歲
</p>
<p>
    @Html.Label("lab", "最後月經日", new { @class = "subtitle" })
    @Html.Label("txt_procreation_opt9_year", "西元")
    @Html.TextBox("txt_procreation_opt9_year", "", new { style = "width:80px;" })
    @Html.Label("txt_procreation_opt9_year", "年")
    @Html.TextBox("txt_procreation_opt9_month", "", new { style = "width:80px;" })
    @Html.Label("txt_procreation_opt9_month", "月")
    @Html.TextBox("txt_procreation_opt9_day", "", new { style = "width:80px;" })
    @Html.Label("txt_procreation_opt9_day", "日")
</p>
<p>
    @Html.Label("lab", "月經是否規則", new { @class = "subtitle" })
    @Html.RadioButton("rb_procreation_opt10", "", false, new { id = "rb_procreation_opt10_1" })
    @Html.Label("rb_procreation_opt10_1", "是")
    @Html.RadioButton("rb_procreation_opt10", "", false, new { id = "rb_procreation_opt10_2" })
    @Html.Label("rb_procreation_opt10_2", "否")
    @Html.RadioButton("rb_procreation_opt10", "", false, new { id = "rb_procreation_opt10_3" })
    @Html.Label("rb_procreation_opt10_3", "停經")
    @Html.RadioButton("rb_procreation_opt10", "", false, new { id = "rb_procreation_opt10_4" })
    @Html.Label("rb_procreation_opt10_4", "尚無月經")
    @Html.RadioButton("rb_procreation_opt10", "", false, new { id = "rb_procreation_opt10_5" })
    @Html.Label("rb_procreation_opt10_5", "無法評估")
</p>
<p>
    @Html.Label("lab", "月經天數", new { @class = "subtitle" })
    @Html.TextBox("txt_procreation_opt11", "", new { style = "width:80px;" }) 天

</p>
<p>
    @Html.Label("lab", "月經量", new { @class = "subtitle" })
    @Html.RadioButton("rb_procreation_opt12", "", false, new { id = "rb_procreation_opt12_1" })
    @Html.Label("rb_procreation_opt12_1", "少")
    @Html.RadioButton("rb_procreation_opt12", "", false, new { id = "rb_procreation_opt12_2" })
    @Html.Label("rb_procreation_opt12_2", "中")
    @Html.RadioButton("rb_procreation_opt12", "", false, new { id = "rb_procreation_opt12_3" })
    @Html.Label("rb_procreation_opt12_3", "多")
</p>
<p>
    @Html.Label("lab", "經期生理症狀", new { @class = "subtitle" })
    @Html.RadioButton("rb_procreation_opt13", "", false, new { id = "rb_procreation_opt13_1", onclick = "$('#procreation_opt13').fadeOut(500);" })
    @Html.Label("rb_procreation_opt13_1", "無不適")
    @Html.RadioButton("rb_procreation_opt13", "", false, new { id = "rb_procreation_opt13_2", onclick = "$('#procreation_opt13').fadeIn(500);$('#tabs10').animate({ scrollTop: $('#tabs10').height() }, 1000);" })
    @Html.Label("rb_procreation_opt13_2", "有不適")
</p>
<p id="procreation_opt13" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_procreation_opt13_1")
    @Html.Label("ck_procreation_opt13_1", "頭痛")
    @Html.CheckBox("ck_procreation_opt13_2")
    @Html.Label("ck_procreation_opt13_2", "乳房脹痛")
    @Html.CheckBox("ck_procreation_opt13_3")
    @Html.Label("ck_procreation_opt13_3", "腰痛")
    @Html.CheckBox("ck_procreation_opt13_4")
    @Html.Label("ck_procreation_opt13_4", "腹痛")
    @Html.CheckBox("ck_procreation_opt13_other", false, new { onclick = "ckable(this,'txt_procreation_opt13_other')" })
    @Html.Label("ck_procreation_opt13_other", "其他")
    @Html.TextBox("txt_procreation_opt13_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>