<p>
    @Html.Label("lab", "皮膚溫度", new { @class = "subtitle" })
    @Html.RadioButton("rb_skin_opt1", "", false, new { id = "rb_skin_opt1_1" })
    @Html.Label("rb_skin_opt1_1", "正常")
    @Html.RadioButton("rb_skin_opt1", "", false, new { id = "rb_skin_opt1_2" })
    @Html.Label("rb_skin_opt1_2", "發熱") 
    @Html.RadioButton("rb_skin_opt1", "", false, new { id = "rb_skin_opt1_3" })
    @Html.Label("rb_skin_opt1_3", "冰冷") 
    @Html.Label("txt_skin_opt1_position", "部位：") 
    @Html.TextBox("txt_skin_opt1_position", "", new { style = "width:120px;" })
</p>
<p>
    @Html.Label("lab", "皮膚外觀性狀", new { @class = "subtitle" })
    @Html.RadioButton("rb_skin_opt2", "", false, new { id = "rb_skin_opt2_1", onclick = "$('.skin_opt2').fadeOut(500);" })
    @Html.Label("rb_skin_opt2_1", "正常")
    @Html.RadioButton("rb_skin_opt2", "", false, new { id = "rb_skin_opt2_2", onclick = "$('.skin_opt2').fadeIn(500);" })
    @Html.Label("rb_skin_opt2_2", "異常")
</p>
<p class="skin_opt2" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_skin_opt2_1")
    @Html.Label("ck_skin_opt2_1", "蒼白")
    @Html.CheckBox("ck_skin_opt2_2")
    @Html.Label("ck_skin_opt2_2", "發紺")
    @Html.CheckBox("ck_skin_opt2_3")
    @Html.Label("ck_skin_opt2_3", "紅腫")
    @Html.CheckBox("ck_skin_opt2_4")
    @Html.Label("ck_skin_opt2_4", "黃痘")
    @Html.CheckBox("ck_skin_opt2_5")
    @Html.Label("ck_skin_opt2_5", "瘀青")
    @Html.CheckBox("ck_skin_opt2_6")
    @Html.Label("ck_skin_opt2_6", "出血點")
    @Html.CheckBox("ck_skin_opt2_7")
    @Html.Label("ck_skin_opt2_7", "脫屑")
</p><p class="skin_opt2" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_skin_opt2_8")
    @Html.Label("ck_skin_opt2_8", "水腫")
    @Html.CheckBox("ck_skin_opt2_9")
    @Html.Label("ck_skin_opt2_9", "潮濕")
    @Html.CheckBox("ck_skin_opt2_other", false, new { onclick = "ckable(this,'txt_skin_opt2_other');" })
    @Html.Label("ck_skin_opt2_other", "其他")
    @Html.TextBox("txt_skin_opt2_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("txt_skin_opt3", "皮膚異常部位", new { @class = "subtitle" })
    @Html.TextBox("txt_skin_opt3", "", new { style = "width:60%;" })
</p>
<p>
    @Html.Label("lab", "皮膚傷口種類", new { @class = "subtitle" })
    @Html.RadioButton("rb_skin_opt4", "", false, new { id = "rb_skin_opt4_1", onclick = "$('#skin_opt4').fadeOut(500);" })
    @Html.Label("rb_skin_opt4_1", "無")
    @Html.RadioButton("rb_skin_opt4", "", false, new { id = "rb_skin_opt4_2", onclick = "$('#skin_opt4').fadeIn(500);" })
    @Html.Label("rb_skin_opt4_2", "有")
</p>
<p id="skin_opt4" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_skin_opt4_1")
    @Html.Label("ck_skin_opt4_1", "壓傷")
    @Html.CheckBox("ck_skin_opt4_2")
    @Html.Label("ck_skin_opt4_2", "手術傷口")
    @Html.CheckBox("ck_skin_opt4_other", false, new { onclick = "ckable(this,'txt_skin_opt4_other');" })
    @Html.Label("ck_skin_opt4_other", "其他傷口")
    @Html.TextBox("txt_skin_opt4_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "皮膚傷口性狀", new { @class = "subtitle" })
    @Html.RadioButton("rb_skin_opt5", "", false, new { id = "rb_skin_opt5_1", onclick = "$('#skin_opt5').fadeOut(500);" })
    @Html.Label("rb_skin_opt5_1", "正常")
    @Html.RadioButton("rb_skin_opt5", "", false, new { id = "rb_skin_opt5_2", onclick = "$('#skin_opt5').fadeIn(500);" })
    @Html.Label("rb_skin_opt5_2", "異常")
    @Html.RadioButton("rb_skin_opt5", "", false, new { id = "rb_skin_opt5_3", onclick = "$('#skin_opt5').fadeOut(500);" })
    @Html.Label("rb_skin_opt5_3", "無法評估")
</p>
<p id="skin_opt5" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_skin_opt5_1")
    @Html.Label("ck_skin_opt5_1", "紅")
    @Html.CheckBox("ck_skin_opt5_2")
    @Html.Label("ck_skin_opt5_2", "腫")
    @Html.CheckBox("ck_skin_opt5_3")
    @Html.Label("ck_skin_opt5_3", "熱")
    @Html.CheckBox("ck_skin_opt5_4")
    @Html.Label("ck_skin_opt5_4", "痛")
    @Html.CheckBox("ck_skin_opt5_5")
    @Html.Label("ck_skin_opt5_5", "有分泌物")
    @Html.CheckBox("ck_skin_opt5_other", false, new { onclick = "ckable(this,'txt_skin_opt5_other');" })
    @Html.Label("ck_skin_opt5_other", "其他")
    @Html.TextBox("txt_skin_opt5_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "皮膚溫暖，粉紅色，完整無破損")
    @Html.RadioButton("rb_skin_opt6", "", false, new { id = "rb_skin_opt6_1" })
    @Html.Label("rb_skin_opt6_1", "是")
    @Html.RadioButton("rb_skin_opt6", "", false, new { id = "rb_skin_opt6_2" })
    @Html.Label("rb_skin_opt6_2", "否")
</p>