<p>
    @Html.Label("lab", "疼痛指數", new { @class = "subtitle" })
    @Html.RadioButton("rb_pain_opt1", "", false, new { id = "rb_pain_opt1_1" })
    @Html.Label("rb_pain_opt1_1", "0(表示無疼痛)")
    @Html.RadioButton("rb_pain_opt1", "", false, new { id = "rb_pain_opt1_2" })
    @Html.Label("rb_pain_opt1_2", "1")
    @Html.RadioButton("rb_pain_opt1", "", false, new { id = "rb_pain_opt1_3" })
    @Html.Label("rb_pain_opt1_3", "2")
    @Html.RadioButton("rb_pain_opt1", "", false, new { id = "rb_pain_opt1_4" })
    @Html.Label("rb_pain_opt1_4", "3")
    @Html.RadioButton("rb_pain_opt1", "", false, new { id = "rb_pain_opt1_5" })
    @Html.Label("rb_pain_opt1_5", "4")
    @Html.RadioButton("rb_pain_opt1", "", false, new { id = "rb_pain_opt1_6" })
    @Html.Label("rb_pain_opt1_6", "5")
    @Html.RadioButton("rb_pain_opt1", "", false, new { id = "rb_pain_opt1_7" })
    @Html.Label("rb_pain_opt1_7", "6")
    @Html.RadioButton("rb_pain_opt1", "", false, new { id = "rb_pain_opt1_8" })
    @Html.Label("rb_pain_opt1_8", "7")
    @Html.RadioButton("rb_pain_opt1", "", false, new { id = "rb_pain_opt1_9" })
    @Html.Label("rb_pain_opt1_9", "8")
    @Html.RadioButton("rb_pain_opt1", "", false, new { id = "rb_pain_opt1_10" })
    @Html.Label("rb_pain_opt1_10", "9")
    @Html.RadioButton("rb_pain_opt1", "", false, new { id = "rb_pain_opt1_11" })
    @Html.Label("rb_pain_opt1_11", "10")
</p>
<p>
    @Html.Label("lab", "疼痛持續時間", new { @class = "subtitle" })
    @Html.RadioButton("rb_pain_opt2", "", false, new { id = "rb_pain_opt2_1" })
    @Html.Label("rb_pain_opt2_1", "持續痛")
    @Html.RadioButton("rb_pain_opt2", "", false, new { id = "rb_pain_opt2_2" })
    @Html.Label("rb_pain_opt2_2", "間皆痛")
    @Html.RadioButton("rb_pain_opt2", "", false, new { id = "rb_pain_opt2_3" })
    @Html.Label("rb_pain_opt2_3", "無法表達")
    @Html.Label("txt_pain_opt2_4", "部位：")
    @Html.TextBox("txt_pain_opt2_4", "", new { style = "width:120px;" })
</p>
<p>
    @Html.Label("lab", "疼痛性質", new { @class = "subtitle" })
    @Html.RadioButton("rb_pain_opt3", "", false, new { id = "rb_pain_opt3_1", onclick = "enable('txt_pain_opt3_other');" })
    @Html.Label("rb_pain_opt3_1", "鈍痛")
    @Html.RadioButton("rb_pain_opt3", "", false, new { id = "rb_pain_opt3_2", onclick = "enable('txt_pain_opt3_other');" })
    @Html.Label("rb_pain_opt3_2", "抽痛")
    @Html.RadioButton("rb_pain_opt3", "", false, new { id = "rb_pain_opt3_3", onclick = "enable('txt_pain_opt3_other');" })
    @Html.Label("rb_pain_opt3_3", "脹痛")
    @Html.RadioButton("rb_pain_opt3", "", false, new { id = "rb_pain_opt3_4", onclick = "enable('txt_pain_opt3_other');" })
    @Html.Label("rb_pain_opt3_4", "悶痛")
    @Html.RadioButton("rb_pain_opt3", "", false, new { id = "rb_pain_opt3_5", onclick = "enable('txt_pain_opt3_other');" })
    @Html.Label("rb_pain_opt3_5", "絞痛")
    @Html.RadioButton("rb_pain_opt3", "", false, new { id = "rb_pain_opt3_6", onclick = "enable('txt_pain_opt3_other');" })
    @Html.Label("rb_pain_opt3_6", "壓迫痛")
    @Html.RadioButton("rb_pain_opt3", "", false, new { id = "rb_pain_opt3_7", onclick = "enable('txt_pain_opt3_other');" })
    @Html.Label("rb_pain_opt3_7", "灼熱")
    @Html.RadioButton("rb_pain_opt3", "", false, new { id = "rb_pain_opt3_8", onclick = "enable('txt_pain_opt3_other');" })
    @Html.Label("rb_pain_opt3_8", "麻刺痛")
    @Html.RadioButton("rb_pain_opt3", "", false, new { id = "rb_pain_opt3_9", onclick = "enable('txt_pain_opt3_other');" })
    @Html.Label("rb_pain_opt3_9", "酸痛")
</p>
<p style="padding-left:130px;">
    @Html.RadioButton("rb_pain_opt3", "", false, new { id = "rb_pain_opt3_10", onclick = "enable('txt_pain_opt3_other');" })
    @Html.Label("rb_pain_opt3_10", "無法表達")
    @Html.RadioButton("rb_pain_opt3", "", false, new { id = "rb_pain_opt3_11", onclick = "enable('txt_pain_opt3_other');" })
    @Html.Label("rb_pain_opt3_11", "收縮痛")
    @Html.RadioButton("rb_pain_opt3", "", false, new { id = "rb_pain_opt3_other", onclick = "able('txt_pain_opt3_other');" })
    @Html.Label("rb_pain_opt3_other", "其他")
    @Html.TextBox("txt_pain_opt3_other", "", new { style = "width:120px;", disabled = "disabled" }) 
</p>
<p>
    @Html.Label("lab", "疼痛之影響", new { @class = "subtitle" })
    @Html.RadioButton("rb_pain_opt4", "", false, new { id = "rb_pain_opt4_1", onclick = "$('#pain_opt4').fadeOut(500);" })
    @Html.Label("rb_pain_opt4_1", "無")
    @Html.RadioButton("rb_pain_opt4", "", false, new { id = "rb_pain_opt4_2", onclick = "$('#pain_opt4').fadeIn(500);" })
    @Html.Label("rb_pain_opt4_2", "有")
    @Html.RadioButton("rb_pain_opt4", "", false, new { id = "rb_pain_opt4_3", onclick = "$('#pain_opt4').fadeOut(500);" })
    @Html.Label("rb_pain_opt4_3", "無法表達")
</p>
<p id="pain_opt4" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_pain_opt4_1")
    @Html.Label("ck_pain_opt4_1", "睡眠")
    @Html.CheckBox("ck_pain_opt4_2")
    @Html.Label("ck_pain_opt4_2", "日常活動")
    @Html.CheckBox("ck_pain_opt4_3")
    @Html.Label("ck_pain_opt4_3", "食慾")
    @Html.CheckBox("ck_pain_opt4_4")
    @Html.Label("ck_pain_opt4_4", "情緒")
    @Html.CheckBox("ck_pain_opt4_other", false, new { onclick = "ckable(this,'txt_pain_opt4_other');" })
    @Html.Label("ck_pain_opt4_other", "其他")
    @Html.TextBox("txt_pain_opt4_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "緩痛因子", new { @class = "subtitle" })
    @Html.RadioButton("rb_pain_opt5", "", false, new { id = "rb_pain_opt5_1", onclick = "$('#pain_opt5').fadeOut(500);" })
    @Html.Label("rb_pain_opt5_1", "無")
    @Html.RadioButton("rb_pain_opt5", "", false, new { id = "rb_pain_opt5_2", onclick = "$('#pain_opt5').fadeIn(500);" })
    @Html.Label("rb_pain_opt5_2", "有")
    @Html.RadioButton("rb_pain_opt5", "", false, new { id = "rb_pain_opt5_3", onclick = "$('#pain_opt5').fadeOut(500);" })
    @Html.Label("rb_pain_opt5_3", "無法表達")
</p>
<p id="pain_opt5" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_pain_opt5_1")
    @Html.Label("ck_pain_opt5_1", "放鬆技巧")
    @Html.CheckBox("ck_pain_opt5_2")
    @Html.Label("ck_pain_opt5_2", "改變姿位")
    @Html.CheckBox("ck_pain_opt5_3")
    @Html.Label("ck_pain_opt5_3", "冷敷")
    @Html.CheckBox("ck_pain_opt5_4")
    @Html.Label("ck_pain_opt5_4", "熱敷")
    @Html.CheckBox("ck_pain_opt5_5")
    @Html.Label("ck_pain_opt5_5", "藥物")
</p>
<p>
    @Html.Label("txt_pain_opt6", "其他疼痛部位", new { @class = "subtitle" })
    @Html.TextBox("txt_pain_opt6", "", new { style = "width:60%;" })
</p>