<p>
    @Html.Label("lab", "排尿方式", new { @class = "subtitle" })
    @Html.CheckBox("ck_urinary_opt1_1")
    @Html.Label("ck_urinary_opt1_1", "自解")
    @Html.CheckBox("ck_urinary_opt1_2")
    @Html.Label("ck_urinary_opt1_2", "戴尿套")
    @Html.CheckBox("ck_urinary_opt1_3")
    @Html.Label("ck_urinary_opt1_3", "看護墊")
    @Html.CheckBox("ck_urinary_opt1_4")
    @Html.Label("ck_urinary_opt1_4", "紙尿褲")
    @Html.CheckBox("ck_urinary_opt1_5")
    @Html.Label("ck_urinary_opt1_5", "單導")
    @Html.CheckBox("ck_urinary_opt1_6")
    @Html.Label("ck_urinary_opt1_6", "管路留置")
    @Html.CheckBox("ck_urinary_opt1_7")
    @Html.Label("ck_urinary_opt1_7", "未排尿")
</p>
<p>
    @Html.Label("lab", "排尿狀態", new { @class = "subtitle" })
    @Html.RadioButton("rb_urinary_opt2", "", false, new { id = "rb_urinary_opt2_1" })
    @Html.Label("rb_urinary_opt2_1", "正常")
    @Html.RadioButton("rb_urinary_opt2", "", false, new { id = "rb_urinary_opt2_2" })
    @Html.Label("rb_urinary_opt2_2", "頻尿")
    @Html.RadioButton("rb_urinary_opt2", "", false, new { id = "rb_urinary_opt2_3" })
    @Html.Label("rb_urinary_opt2_3", "少尿") 
    @Html.RadioButton("rb_urinary_opt2", "", false, new { id = "rb_urinary_opt2_4" })
    @Html.Label("rb_urinary_opt2_4", "滲尿") 
    @Html.RadioButton("rb_urinary_opt2", "", false, new { id = "rb_urinary_opt2_5" })
    @Html.Label("rb_urinary_opt2_5", "失禁") 
    @Html.RadioButton("rb_urinary_opt2", "", false, new { id = "rb_urinary_opt2_6" })
    @Html.Label("rb_urinary_opt2_6", "殘尿多") 
    @Html.RadioButton("rb_urinary_opt2", "", false, new { id = "rb_urinary_opt2_7" })
    @Html.Label("rb_urinary_opt2_7", "解尿困難") 
    @Html.RadioButton("rb_urinary_opt2", "", false, new { id = "rb_urinary_opt2_8" })
    @Html.Label("rb_urinary_opt2_8", "無尿") 
</p>
<p>
    @Html.Label("lab", "排尿性狀", new { @class = "subtitle" })
    @Html.RadioButton("rb_urinary_opt3", "", false, new { id = "rb_urinary_opt3_1", onclick = "enable('txt_urinary_opt3_other');" })
    @Html.Label("rb_urinary_opt3_1", "正常")
    @Html.RadioButton("rb_urinary_opt3", "", false, new { id = "rb_urinary_opt3_2", onclick = "enable('txt_urinary_opt3_other');" })
    @Html.Label("rb_urinary_opt3_2", "血尿")
    @Html.RadioButton("rb_urinary_opt3", "", false, new { id = "rb_urinary_opt3_3", onclick = "enable('txt_urinary_opt3_other');" })
    @Html.Label("rb_urinary_opt3_3", "茶色尿") 
    @Html.RadioButton("rb_urinary_opt3", "", false, new { id = "rb_urinary_opt3_4", onclick = "enable('txt_urinary_opt3_other');" })
    @Html.Label("rb_urinary_opt3_4", "混濁") 
    @Html.RadioButton("rb_urinary_opt3", "", false, new { id = "rb_urinary_opt3_5", onclick = "enable('txt_urinary_opt3_other');" })
    @Html.Label("rb_urinary_opt3_5", "無法評估") 
    @Html.RadioButton("rb_urinary_opt3", "", false, new { id = "rb_urinary_opt3_other", onclick = "able('txt_urinary_opt3_other');" })
    @Html.Label("rb_urinary_opt3_other", "其他") 
    @Html.TextBox("txt_urinary_opt3_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>   
<p>
    @Html.Label("lab", "排尿無困難、無失禁、尿液清澈、色黃註記")
    @Html.RadioButton("rb_urinary_opt4", "", false, new { id = "rb_urinary_opt4_1" })
    @Html.Label("rb_urinary_opt4_1", "是")
    @Html.RadioButton("rb_urinary_opt4", "", false, new { id = "rb_urinary_opt4_2" })
    @Html.Label("rb_urinary_opt4_2", "否")
</p>