<p>
    @Html.Label("lab", "眼睛問題", new { @class = "subtitle", style="width:140px;" })
    @Html.RadioButton("rb_sense_opt1", "", false, new { id = "rb_sense_opt1_1", onclick = "$('.sense_opt1').fadeOut(500);" })
    @Html.Label("rb_sense_opt1_1", "正常")
    @Html.RadioButton("rb_sense_opt1", "", false, new { id = "rb_sense_opt1_2", onclick = "$('.sense_opt1').fadeIn(500);" })
    @Html.Label("rb_sense_opt1_2", "異常") 
    @Html.RadioButton("rb_sense_opt1", "", false, new { id = "rb_sense_opt1_3", onclick = "$('.sense_opt1').fadeOut(500);" })
    @Html.Label("rb_sense_opt1_3", "無法評估") 
</p>
<p class="sense_opt1" style="padding-left:150px;display:none;">
    @Html.CheckBox("ck_sense_opt1_1")
    @Html.Label("ck_sense_opt1_1", "近視")
    @Html.CheckBox("ck_sense_opt1_2")
    @Html.Label("ck_sense_opt1_2", "老花")
    @Html.CheckBox("ck_sense_opt1_3")
    @Html.Label("ck_sense_opt1_3", "發紅")
    @Html.CheckBox("ck_sense_opt1_4")
    @Html.Label("ck_sense_opt1_4", "異常分泌物")
    @Html.CheckBox("ck_sense_opt1_5")
    @Html.Label("ck_sense_opt1_5", "視力模糊")
    @Html.CheckBox("ck_sense_opt1_6")
    @Html.Label("ck_sense_opt1_6", "青光眼")
</p><p class="sense_opt1" style="padding-left:150px;display:none;">
    @Html.CheckBox("ck_sense_opt1_7")
    @Html.Label("ck_sense_opt1_7", "白內障")
    @Html.CheckBox("ck_sense_opt1_8")
    @Html.Label("ck_sense_opt1_8", "失明")
    @Html.CheckBox("ck_sense_opt1_other", false, new { onclick = "ckable(this,'txt_sense_opt1_other');" })
    @Html.Label("ck_sense_opt1_other", "其他")
    @Html.TextBox("txt_sense_opt1_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "耳朵問題", new { @class = "subtitle", style = "width:140px;" })
    @Html.RadioButton("rb_sense_opt2", "", false, new { id = "rb_sense_opt2_1", onclick = "$('#sense_opt2').fadeOut(500);" })
    @Html.Label("rb_sense_opt2_1", "正常")
    @Html.RadioButton("rb_sense_opt2", "", false, new { id = "rb_sense_opt2_2", onclick = "$('#sense_opt2').fadeIn(500);" })
    @Html.Label("rb_sense_opt2_2", "異常")
    @Html.RadioButton("rb_sense_opt2", "", false, new { id = "rb_sense_opt2_3", onclick = "$('#sense_opt2').fadeOut(500);" })
    @Html.Label("rb_sense_opt2_3", "無法評估") 
</p>
<p id="sense_opt2" style="padding-left:150px;display:none;">
    @Html.CheckBox("ck_sense_opt2_1")
    @Html.Label("ck_sense_opt2_1", "聽力障礙")
    @Html.CheckBox("ck_sense_opt2_2")
    @Html.Label("ck_sense_opt2_2", "耳鳴")
    @Html.CheckBox("ck_sense_opt2_other", false, new { style = "onclick(this,'txt_sense_opt2_other')" })
    @Html.Label("ck_sense_opt2_other", "其他")
    @Html.TextBox("txt_sense_opt2_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "嗅覺喪失", new { @class = "subtitle", style = "width:140px;" })
    @Html.RadioButton("rb_sense_opt3", "", false, new { id = "rb_sense_opt3_1" })
    @Html.Label("rb_sense_opt3_1", "否")
    @Html.RadioButton("rb_sense_opt3", "", false, new { id = "rb_sense_opt3_2" })
    @Html.Label("rb_sense_opt3_2", "是")
    @Html.RadioButton("rb_sense_opt3", "", false, new { id = "rb_sense_opt3_3" })
    @Html.Label("rb_sense_opt3_3", "無法評估") 
</p>
<p>
    @Html.Label("lab", "味覺異常", new { @class = "subtitle", style = "width:140px;" })
    @Html.RadioButton("rb_sense_opt4", "", false, new { id = "rb_sense_opt4_1" })
    @Html.Label("rb_sense_opt4_1", "否")
    @Html.RadioButton("rb_sense_opt4", "", false, new { id = "rb_sense_opt4_2" })
    @Html.Label("rb_sense_opt4_2", "是")
    @Html.RadioButton("rb_sense_opt4", "", false, new { id = "rb_sense_opt4_3" })
    @Html.Label("rb_sense_opt4_3", "無法評估") 
</p>
<p>
    @Html.Label("lab", "其他感官知覺問題", new { @class = "subtitle", style = "width:140px;" })
    @Html.TextBox("txt_sense_opt5", "", new { style = "width:60%;" })
</p>    
<p>
    @Html.Label("lab", "眼睛、耳朵、嗅覺、味覺正常")
    @Html.RadioButton("rb_sense_opt6", "", false, new { id = "rb_sense_opt6_1" })
    @Html.Label("rb_sense_opt6_1", "是")
    @Html.RadioButton("rb_sense_opt6", "", false, new { id = "rb_sense_opt6_2" })
    @Html.Label("rb_sense_opt6_2", "否")
</p>