<p>
    @Html.Label("lab", "意識狀態", new { @class = "subtitle" })
    @Html.RadioButton("rb_nerve_consciousness", "", false, new { id = "rb_nerve_consciousness_1" })
    @Html.Label("rb_nerve_consciousness_1", "警覺")
    @Html.RadioButton("rb_nerve_consciousness", "", false, new { id = "rb_nerve_consciousness_2" })
    @Html.Label("rb_nerve_consciousness_2", "混淆")
    @Html.RadioButton("rb_nerve_consciousness", "", false, new { id = "rb_nerve_consciousness_3" })
    @Html.Label("rb_nerve_consciousness_3", "躁動不安")
    @Html.RadioButton("rb_nerve_consciousness", "", false, new { id = "rb_nerve_consciousness_4" })
    @Html.Label("rb_nerve_consciousness_4", "嗜睡")
    @Html.RadioButton("rb_nerve_consciousness", "", false, new { id = "rb_nerve_consciousness_5" })
    @Html.Label("rb_nerve_consciousness_5", "木僵")
    @Html.RadioButton("rb_nerve_consciousness", "", false, new { id = "rb_nerve_consciousness_6" })
    @Html.Label("rb_nerve_consciousness_6", "半昏迷")
    @Html.RadioButton("rb_nerve_consciousness", "", false, new { id = "rb_nerve_consciousness_7" })
    @Html.Label("rb_nerve_consciousness_7", "昏迷")
    @Html.RadioButton("rb_nerve_consciousness", "", false, new { id = "rb_nerve_consciousness_8" })
    @Html.Label("rb_nerve_consciousness_8", "麻痺未醒")
</p>
<p>
    @Html.Label("lab", "語言能力", new { @class = "subtitle" })
    @Html.RadioButton("rb_nerve_language", "", false, new { id = "rb_nerve_language_1", onclick = "$('#nerve_language').fadeOut(500);" })
    @Html.Label("rb_nerve_language_1", "正常")
    @Html.RadioButton("rb_nerve_language", "", false, new { id = "rb_nerve_language_2", onclick = "$('#nerve_language').fadeIn(500);" })
    @Html.Label("rb_nerve_language_2", "異常")
    @Html.RadioButton("rb_nerve_language", "", false, new { id = "rb_nerve_language_3", onclick = "$('#nerve_language').fadeOut(500);" })
    @Html.Label("rb_nerve_language_3", "無法評估")
</p>
<p id="nerve_language" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_nerve_language_1")
    @Html.Label("ck_nerve_language_1", "失語")
    @Html.CheckBox("ck_nerve_language_2")
    @Html.Label("ck_nerve_language_2", "構音困難")
    @Html.CheckBox("ck_nerve_language_other", false, new { onclick = "ckable(this,'txt_nerve_language_other');" })
    @Html.Label("ck_nerve_language_other", "其他")
    @Html.TextBox("txt_nerve_language_other", "", new { style = "width:120px;", disabled = "diasbled" })
</p>
<p>
    @Html.Label("lab", "認知功能", new { @class = "subtitle" })
    @Html.RadioButton("rb_nerve_Acknowledge", "", false, new { id = "rb_nerve_Acknowledge_1", onclick = "$('#nerve_Acknowledge').fadeOut(500);" })
    @Html.Label("rb_nerve_Acknowledge_1", "正常")
    @Html.RadioButton("rb_nerve_Acknowledge", "", false, new { id = "rb_nerve_Acknowledge_2", onclick = "$('#nerve_Acknowledge').fadeIn(500);" })
    @Html.Label("rb_nerve_Acknowledge_2", "異常")
    @Html.RadioButton("rb_nerve_Acknowledge", "", false, new { id = "rb_nerve_Acknowledge_3", onclick = "$('#nerve_Acknowledge').fadeOut(500);" })
    @Html.Label("rb_nerve_Acknowledge_3", "無法評估")
</p>
<p id="nerve_Acknowledge" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_nerve_Acknowledge_1")
    @Html.Label("ck_nerve_Acknowledge_1", "人物障礙")
    @Html.CheckBox("ck_nerve_Acknowledge_2")
    @Html.Label("ck_nerve_Acknowledge_2", "時間障礙")
    @Html.CheckBox("ck_nerve_Acknowledge_3")
    @Html.Label("ck_nerve_Acknowledge_3", "地點障礙")
    @Html.CheckBox("ck_nerve_Acknowledge_4")
    @Html.Label("ck_nerve_Acknowledge_4", "記憶力障礙")
    @Html.CheckBox("ck_nerve_Acknowledge_5")
    @Html.Label("ck_nerve_Acknowledge_5", "計算能力障礙")
</p>
<p>
    @Html.Label("lab", "運動功能", new { @class = "subtitle" })
    @Html.RadioButton("rb_nerve_exercise", "", false, new { id = "rb_nerve_exercise_1", onclick = "$('#nerve_exercise').fadeOut(500);" })
    @Html.Label("rb_nerve_exercise_1", "正常")
    @Html.RadioButton("rb_nerve_exercise", "", false, new { id = "rb_nerve_exercise_2", onclick = "$('#nerve_exercise').fadeIn(500);" })
    @Html.Label("rb_nerve_exercise_2", "異常")
    @Html.RadioButton("rb_nerve_exercise", "", false, new { id = "rb_nerve_exercise_3", onclick = "$('#nerve_exercise').fadeOut(500);" })
    @Html.Label("rb_nerve_exercise_3", "無法評估")
</p>
<p id="nerve_exercise" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_nerve_exercise_1")
    @Html.Label("ck_nerve_exercise_1", "運動反應變慢")
    @Html.CheckBox("ck_nerve_exercise_2")
    @Html.Label("ck_nerve_exercise_2", "平衡與步態不穩健")
    @Html.CheckBox("ck_nerve_exercise_other", false, new { onclick = "ckable(this,'txt_nerve_exercise_other');" })
    @Html.Label("ck_nerve_exercise_other", "其他，註明原因")
    @Html.TextBox("txt_nerve_exercise_other", "", new { style = "width:120px;", disabled = "diasbled" })
</p>
<p>
    @Html.Label("lab", "警醒、人時地有定向感、遵循指示、肢端能動")
    @Html.RadioButton("rb_nerve_othertest", "", false, new { id = "rb_nerve_othertest_1" })
    @Html.Label("rb_nerve_othertest_1", "是")
    @Html.RadioButton("rb_nerve_othertest", "", false, new { id = "rb_nerve_othertest_2" })
    @Html.Label("rb_nerve_othertest_2", "否")
</p>