<p>
    @Html.Label("lab", "咳嗽", new { @class = "subtitle" })
    @Html.RadioButton("rb_breath_opt1", "", false, new { id = "rb_breath_opt1_1" })
    @Html.Label("rb_breath_opt1_1", "無")
    @Html.RadioButton("rb_breath_opt1", "", false, new { id = "rb_breath_opt1_2" })
    @Html.Label("rb_breath_opt1_2", "有") 
</p>
<p>
    @Html.Label("lab", "供氧", new { @class = "subtitle" })
    @Html.RadioButton("rb_breath_opt2", "", false, new { id = "rb_breath_opt2_1", onclick = "$('.breath_opt2').fadeOut(500);" })
    @Html.Label("rb_breath_opt2_1", "無")
    @Html.RadioButton("rb_breath_opt2", "", false, new { id = "rb_breath_opt2_2", onclick = "$('.breath_opt2').fadeIn(500);" })
    @Html.Label("rb_breath_opt2_2", "有")
</p>
<p class="breath_opt2" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_breath_opt2_1")
    @Html.Label("ck_breath_opt2_1", "呼吸管路")
    @Html.CheckBox("ck_breath_opt2_2")
    @Html.Label("ck_breath_opt2_2", "鼻氣氣管")
    @Html.CheckBox("ck_breath_opt2_3")
    @Html.Label("ck_breath_opt2_3", "霧化器")
    @Html.CheckBox("ck_breath_opt2_4")
    @Html.Label("ck_breath_opt2_4", "非侵入性面罩")
    @Html.CheckBox("ck_breath_opt2_5")
    @Html.Label("ck_breath_opt2_5", "呼吸器")
</p>
<p class="breath_opt2" style="padding-left:130px;display:none;">
    供氧量：
    @Html.TextBox("txt_breath_opt2_6", "", new { style = "width:80px;" })
    %
    @Html.TextBox("txt_breath_opt2_7", "", new { style = "width:80px;" })
    L/min
</p>
<p>
    @Html.Label("lab", "呼吸型態", new { @class = "subtitle" })
    @Html.RadioButton("rb_breath_opt3", "", false, new { id = "rb_breath_opt3_1", onclick = "$('#breath_opt3').fadeOut(500);" })
    @Html.Label("rb_breath_opt3_1", "正常")
    @Html.RadioButton("rb_breath_opt3", "", false, new { id = "rb_breath_opt3_2", onclick = "$('#breath_opt3').fadeIn(500);" })
    @Html.Label("rb_breath_opt3_2", "異常")
</p>
<p id="breath_opt3" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_breath_opt3_1")
    @Html.Label("ck_breath_opt3_1", "呼吸急促")
    @Html.CheckBox("ck_breath_opt3_2")
    @Html.Label("ck_breath_opt3_2", "呼吸費力")
    @Html.CheckBox("ck_breath_opt3_3")
    @Html.Label("ck_breath_opt3_3", "端坐呼吸")
    @Html.CheckBox("ck_breath_opt3_4")
    @Html.Label("ck_breath_opt3_4", "胸膛起伏不對稱")
    @Html.CheckBox("ck_breath_opt3_other", false, new { onclick = "ckable(this,'txt_breath_opt3_other');" })
    @Html.Label("ck_breath_opt3_other", "其他")
    @Html.TextBox("txt_breath_opt3_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "肺音", new { @class = "subtitle" })
    @Html.RadioButton("rb_breath_opt4", "", false, new { id = "rb_breath_opt4_1", onclick = "$('#breath_opt4').fadeOut(500);" })
    @Html.Label("rb_breath_opt4_1", "正常")
    @Html.RadioButton("rb_breath_opt4", "", false, new { id = "rb_breath_opt4_2", onclick = "$('#breath_opt4').fadeIn(500);" })
    @Html.Label("rb_breath_opt4_2", "異常")
</p>
<p id="breath_opt4" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_breath_opt4_1")
    @Html.Label("ck_breath_opt4_1", "濕囉音")
    @Html.CheckBox("ck_breath_opt4_2")
    @Html.Label("ck_breath_opt4_2", "喘鳴")
    @Html.CheckBox("ck_breath_opt4_3")
    @Html.Label("ck_breath_opt4_3", "哮吼")
    @Html.CheckBox("ck_breath_opt4_other", false, new { onclick = "ckable(this,'txt_breath_opt4_other');" })
    @Html.Label("ck_breath_opt4_other", "其他")
    @Html.TextBox("txt_breath_opt4_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "排痰", new { @class = "subtitle" })
    @Html.RadioButton("rb_breath_opt5", "", false, new { id = "rb_breath_opt5_1", onclick = "$('#breath_opt5').fadeOut(500);" })
    @Html.Label("rb_breath_opt5_1", "無")
    @Html.RadioButton("rb_breath_opt5", "", false, new { id = "rb_breath_opt5_2", onclick = "$('#breath_opt5').fadeIn(500);" })
    @Html.Label("rb_breath_opt5_2", "有")
</p>
<p id="breath_opt5" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_breath_opt5_1")
    @Html.Label("ck_breath_opt5_1", "可自咳")
    @Html.CheckBox("ck_breath_opt5_2")
    @Html.Label("ck_breath_opt5_2", "無法自咳")
    @Html.CheckBox("ck_breath_opt5_3")
    @Html.Label("ck_breath_opt5_3", "視需要給予抽痰")
</p>
<p>
    @Html.Label("lab", "痰液量", new { @class = "subtitle" })
    @Html.RadioButton("rb_breath_opt6", "", false, new { id = "rb_breath_opt6_1" })
    @Html.Label("rb_breath_opt6_1", "無")
    @Html.RadioButton("rb_breath_opt6", "", false, new { id = "rb_breath_opt6_2" })
    @Html.Label("rb_breath_opt6_2", "少")
    @Html.RadioButton("rb_breath_opt6", "", false, new { id = "rb_breath_opt6_3" })
    @Html.Label("rb_breath_opt6_3", "中")
    @Html.RadioButton("rb_breath_opt6", "", false, new { id = "rb_breath_opt6_4" })
    @Html.Label("rb_breath_opt6_4", "多")
</p>
<p>
    @Html.Label("lab", "痰色", new { @class = "subtitle" })
    @Html.RadioButton("rb_breath_opt7", "", false, new { id = "rb_breath_opt7_1", onclick = "enable('txt_breath_opt7_other');" })
    @Html.Label("rb_breath_opt7_1", "無")
    @Html.RadioButton("rb_breath_opt7", "", false, new { id = "rb_breath_opt7_2", onclick = "enable('txt_breath_opt7_other');" })
    @Html.Label("rb_breath_opt7_2", "白")
    @Html.RadioButton("rb_breath_opt7", "", false, new { id = "rb_breath_opt7_3", onclick = "enable('txt_breath_opt7_other');" })
    @Html.Label("rb_breath_opt7_3", "黃")
    @Html.RadioButton("rb_breath_opt7", "", false, new { id = "rb_breath_opt7_4", onclick = "enable('txt_breath_opt7_other');" })
    @Html.Label("rb_breath_opt7_4", "褐")
    @Html.RadioButton("rb_breath_opt7", "", false, new { id = "rb_breath_opt7_other", onclick = "able('txt_breath_opt7_other');" })
    @Html.Label("rb_breath_opt7_other", "其他")
    @Html.TextBox("txt_breath_opt7_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "痰性質", new { @class = "subtitle" })
    @Html.RadioButton("rb_breath_opt8", "", false, new { id = "rb_breath_opt8_1", onclick = "enable('txt_breath_opt8_other');" })
    @Html.Label("rb_breath_opt8_1", "無")
    @Html.RadioButton("rb_breath_opt8", "", false, new { id = "rb_breath_opt8_2", onclick = "enable('txt_breath_opt8_other');" })
    @Html.Label("rb_breath_opt8_2", "稀")
    @Html.RadioButton("rb_breath_opt8", "", false, new { id = "rb_breath_opt8_3", onclick = "enable('txt_breath_opt8_other');" })
    @Html.Label("rb_breath_opt8_3", "濃稠")
    @Html.RadioButton("rb_breath_opt8", "", false, new { id = "rb_breath_opt8_4", onclick = "enable('txt_breath_opt8_other');" })
    @Html.Label("rb_breath_opt8_4", "普通")
    @Html.RadioButton("rb_breath_opt8", "", false, new { id = "rb_breath_opt8_other", onclick = "able('txt_breath_opt8_other');" })
    @Html.Label("rb_breath_opt8_other", "其他")
    @Html.TextBox("txt_breath_opt8_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "人工呼吸管路", new { @class = "subtitle" })
    @Html.RadioButton("rb_breath_opt9", "", false, new { id = "rb_breath_opt9_1", onclick = "enable('txt_breath_opt9_other');" })
    @Html.Label("rb_breath_opt9_1", "無")
    @Html.RadioButton("rb_breath_opt9", "", false, new { id = "rb_breath_opt9_2", onclick = "enable('txt_breath_opt9_other');" })
    @Html.Label("rb_breath_opt9_2", "氣管插管")
    @Html.RadioButton("rb_breath_opt9", "", false, new { id = "rb_breath_opt9_3", onclick = "enable('txt_breath_opt9_other');" })
    @Html.Label("rb_breath_opt9_3", "氣管切開")
    @Html.RadioButton("rb_breath_opt9", "", false, new { id = "rb_breath_opt9_other", onclick = "able('txt_breath_opt9_other');" })
    @Html.Label("rb_breath_opt9_other", "其他")
    @Html.TextBox("txt_breath_opt9_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "氣切傷口", new { @class = "subtitle" })
    @Html.RadioButton("rb_breath_opt10", "", false, new { id = "rb_breath_opt10_1", onclick = "$('#breath_opt10').fadeOut(500);" })
    @Html.Label("rb_breath_opt10_1", "無")
    @Html.RadioButton("rb_breath_opt10", "", false, new { id = "rb_breath_opt10_2", onclick = "$('#breath_opt10').fadeOut(500);" })
    @Html.Label("rb_breath_opt10_2", "正常")
    @Html.RadioButton("rb_breath_opt10", "", false, new { id = "rb_breath_opt10_3", onclick = "$('#breath_opt10').fadeIn(500);" })
    @Html.Label("rb_breath_opt10_3", "異常")
    @Html.RadioButton("rb_breath_opt10", "", false, new { id = "rb_breath_opt10_4", onclick = "$('#breath_opt10').fadeOut(500);" })
    @Html.Label("rb_breath_opt10_4", "無法評估")
</p>
<p id="breath_opt10" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_breath_opt10_1")
    @Html.Label("ck_breath_opt10_1", "紅")
    @Html.CheckBox("ck_breath_opt10_2")
    @Html.Label("ck_breath_opt10_2", "腫")
    @Html.CheckBox("ck_breath_opt10_3")
    @Html.Label("ck_breath_opt10_3", "熱")
    @Html.CheckBox("ck_breath_opt10_4")
    @Html.Label("ck_breath_opt10_4", "痛")
    @Html.CheckBox("ck_breath_opt10_5")
    @Html.Label("ck_breath_opt10_5", "浸潤/有滲液")
    @Html.CheckBox("ck_breath_opt10_other", false, new { onclick = "ckable(this,'txt_breath_opt10_other');" })
    @Html.Label("ck_breath_opt10_other", "其他")
    @Html.TextBox("txt_breath_opt10_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "肺音清晰及無不正常呼吸音、規律的節奏與深度")
    @Html.RadioButton("rb_breath_opt11", "", false, new { id = "rb_breath_opt11_1" })
    @Html.Label("rb_breath_opt11_1", "是")
    @Html.RadioButton("rb_breath_opt11", "", false, new { id = "rb_breath_opt11_2" })
    @Html.Label("rb_breath_opt11_2", "否")
</p>