<p>
    @Html.Label("lab", "進食能力", new { @class = "subtitle" })
    @Html.RadioButton("rb_stomach_opt1", "", false, new { id = "rb_stomach_opt1_1" })
    @Html.Label("rb_stomach_opt1_1", "自行")
    @Html.RadioButton("rb_stomach_opt1", "", false, new { id = "rb_stomach_opt1_2" })
    @Html.Label("rb_stomach_opt1_2", "需協助") 
</p>
<p>
    @Html.Label("lab", "進食方式", new { @class = "subtitle" })
    @Html.RadioButton("rb_stomach_opt2", "", false, new { id = "rb_stomach_opt2_1", onclick = "$('#stomach_opt2').fadeOut(500);" })
    @Html.Label("rb_stomach_opt2_1", "正常(由口進食)")
    @Html.RadioButton("rb_stomach_opt2", "", false, new { id = "rb_stomach_opt2_2", onclick = "$('#stomach_opt2').fadeIn(500);" })
    @Html.Label("rb_stomach_opt2_2", "異常")
</p>
<p id="stomach_opt2" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_stomach_opt2_1")
    @Html.Label("ck_stomach_opt2_1", "管灌")
    @Html.CheckBox("ck_stomach_opt2_2")
    @Html.Label("ck_stomach_opt2_2", "吞嚥困難")
</p>
<p>
    @Html.Label("lab", "攝食狀況", new { @class = "subtitle" })
    @Html.RadioButton("rb_stomach_opt3", "", false, new { id = "rb_stomach_opt3_1", onclick = "enable('txt_stomach_opt3_other');" })
    @Html.Label("rb_stomach_opt3_1", "優，攝取完整")
    @Html.RadioButton("rb_stomach_opt3", "", false, new { id = "rb_stomach_opt3_2", onclick = "enable('txt_stomach_opt3_other');" })
    @Html.Label("rb_stomach_opt3_2", "佳，攝食75%")
    @Html.RadioButton("rb_stomach_opt3", "", false, new { id = "rb_stomach_opt3_3", onclick = "enable('txt_stomach_opt3_other');" })
    @Html.Label("rb_stomach_opt3_3", "普通，攝食50-74%")
    @Html.RadioButton("rb_stomach_opt3", "", false, new { id = "rb_stomach_opt3_4", onclick = "enable('txt_stomach_opt3_other');" })
    @Html.Label("rb_stomach_opt3_4", "差，攝食50以下%")
</p>
<p style="padding-left:130px;">
    @Html.RadioButton("rb_stomach_opt3", "", false, new { id = "rb_stomach_opt3_5", onclick = "enable('txt_stomach_opt3_other');" })
    @Html.Label("rb_stomach_opt3_5", "禁食")
    @Html.RadioButton("rb_stomach_opt3", "", false, new { id = "rb_stomach_opt3_other", onclick = "able('txt_stomach_opt3_other');" })
    @Html.Label("rb_stomach_opt3_other", "其他")
    @Html.TextBox("txt_stomach_opt3_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "口腔性狀", new { @class = "subtitle" })
    @Html.RadioButton("rb_stomach_opt4", "", false, new { id = "rb_stomach_opt4_1" })
    @Html.Label("rb_stomach_opt4_1", "黏膜完整")
    @Html.RadioButton("rb_stomach_opt4", "", false, new { id = "rb_stomach_opt4_2" })
    @Html.Label("rb_stomach_opt4_2", "手術傷口")
    @Html.RadioButton("rb_stomach_opt4", "", false, new { id = "rb_stomach_opt4_3" })
    @Html.Label("rb_stomach_opt4_3", "舌苔厚")
</p>
<p style="padding-left:130px;">
    @Html.RadioButton("rb_stomach_opt4", "", false, new { id = "rb_stomach_opt4_4" })
    @Html.Label("rb_stomach_opt4_4", "G1口腔黏膜炎：紅腫或潰傷輕微症狀，不需要特別處置")
</p>
<p style="padding-left:130px;">
    @Html.RadioButton("rb_stomach_opt4", "", false, new { id = "rb_stomach_opt4_5" })
    @Html.Label("rb_stomach_opt4_5", "G2口腔黏膜炎：潰傷，中度疼痛，可經口進食，須調整飲食型態")
</p>
<p style="padding-left:130px;">
    @Html.RadioButton("rb_stomach_opt4", "", false, new { id = "rb_stomach_opt4_6" })
    @Html.Label("rb_stomach_opt4_6", "G3口腔黏膜炎：潰傷，嚴重疼痛，嚴重影響經口進食")
</p>
<p style="padding-left:130px;">
    @Html.RadioButton("rb_stomach_opt4", "", false, new { id = "rb_stomach_opt4_7" })
    @Html.Label("rb_stomach_opt4_7", "G4口腔黏膜炎：有壞死組織、明顯自發性出血、危及性命")
</p>
<p style="padding-left:130px;">
    @Html.RadioButton("rb_stomach_opt4", "", false, new { id = "rb_stomach_opt4_other", onclick = "able('txt_stomach_opt4_other');" })
    @Html.Label("rb_stomach_opt4_other", "其他")
    @Html.TextBox("txt_stomach_opt4_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "不適感", new { @class = "subtitle" })
    @Html.RadioButton("rb_stomach_opt5", "", false, new { id = "rb_stomach_opt5_1", onclick = "$('#stomach_opt5').fadeOut(500);" })
    @Html.Label("rb_stomach_opt5_1", "無")
    @Html.RadioButton("rb_stomach_opt5", "", false, new { id = "rb_stomach_opt5_2", onclick = "$('#stomach_opt5').fadeIn(500);" })
    @Html.Label("rb_stomach_opt5_2", "有")
</p>
<p id="stomach_opt5" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_stomach_opt5_1")
    @Html.Label("ck_stomach_opt5_1", "噁心")
    @Html.CheckBox("ck_stomach_opt5_2")
    @Html.Label("ck_stomach_opt5_2", "嘔吐")
    @Html.CheckBox("ck_stomach_opt5_other", false, new { onclick = "ckable(this,'txt_stomach_opt5_other');" })
    @Html.Label("ck_stomach_opt5_other", "其他")
    @Html.TextBox("txt_stomach_opt5_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "腹部狀態", new { @class = "subtitle" })
    @Html.RadioButton("rb_stomach_opt6", "", false, new { id = "rb_stomach_opt6_1", onclick = "enable('txt_stomach_opt6_other');" })
    @Html.Label("rb_stomach_opt6_1", "柔軟")
    @Html.RadioButton("rb_stomach_opt6", "", false, new { id = "rb_stomach_opt6_2", onclick = "enable('txt_stomach_opt6_other');" })
    @Html.Label("rb_stomach_opt6_2", "硬")
    @Html.RadioButton("rb_stomach_opt6", "", false, new { id = "rb_stomach_opt6_3", onclick = "enable('txt_stomach_opt6_other');" })
    @Html.Label("rb_stomach_opt6_3", "脹氣")
    @Html.RadioButton("rb_stomach_opt6", "", false, new { id = "rb_stomach_opt6_4", onclick = "enable('txt_stomach_opt6_other');" })
    @Html.Label("rb_stomach_opt6_4", "反彈痛")
    @Html.RadioButton("rb_stomach_opt6", "", false, new { id = "rb_stomach_opt6_other", onclick = "able('txt_stomach_opt6_other');" })
    @Html.Label("rb_stomach_opt6_other", "其他")
    @Html.TextBox("txt_stomach_opt6_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "排便狀態", new { @class = "subtitle" })
    @Html.RadioButton("rb_stomach_opt7", "", false, new { id = "rb_stomach_opt7_1", onclick = "$('#stomach_opt7').fadeOut(500);" })
    @Html.Label("rb_stomach_opt7_1", "正常")
    @Html.RadioButton("rb_stomach_opt7", "", false, new { id = "rb_stomach_opt7_2", onclick = "$('#stomach_opt7').fadeIn(500);" })
    @Html.Label("rb_stomach_opt7_2", "異常")
</p>
<p id="stomach_opt7" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_stomach_opt7_1")
    @Html.Label("ck_stomach_opt7_1", "無排氣")
    @Html.CheckBox("ck_stomach_opt7_2")
    @Html.Label("ck_stomach_opt7_2", "便秘")
    @Html.CheckBox("ck_stomach_opt7_3")
    @Html.Label("ck_stomach_opt7_3", "腹瀉")
    @Html.CheckBox("ck_stomach_opt7_4")
    @Html.Label("ck_stomach_opt7_4", "失禁")
    @Html.CheckBox("ck_stomach_opt7_5")
    @Html.Label("ck_stomach_opt7_5", "滲便")
    @Html.CheckBox("ck_stomach_opt7_other", false, new { onclick = "ckable(this,'txt_stomach_opt7_other');" })
    @Html.Label("ck_stomach_opt7_other", "其他")
    @Html.TextBox("txt_stomach_opt7_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "腸蠕動音", new { @class = "subtitle" })
    @Html.RadioButton("rb_stomach_opt8", "", false, new { id = "rb_stomach_opt8_1" })
    @Html.Label("rb_stomach_opt8_1", "正常")
    @Html.RadioButton("rb_stomach_opt8", "", false, new { id = "rb_stomach_opt8_2" })
    @Html.Label("rb_stomach_opt8_2", "過快")
    @Html.RadioButton("rb_stomach_opt8", "", false, new { id = "rb_stomach_opt8_3" })
    @Html.Label("rb_stomach_opt8_3", "減弱或消失")
</p>
<p>
    @Html.Label("lab", "肛門性狀", new { @class = "subtitle" })
    @Html.RadioButton("rb_stomach_opt9", "", false, new { id = "rb_stomach_opt9_1", onclick = "$('#stomach_opt9').fadeOut(500);" })
    @Html.Label("rb_stomach_opt9_1", "正常")
    @Html.RadioButton("rb_stomach_opt9", "", false, new { id = "rb_stomach_opt9_2", onclick = "$('#stomach_opt9').fadeIn(500);" })
    @Html.Label("rb_stomach_opt9_2", "異常")
</p>
<p id="stomach_opt9" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_stomach_opt9_1")
    @Html.Label("ck_stomach_opt9_1", "有傷口")
    @Html.CheckBox("ck_stomach_opt9_2")
    @Html.Label("ck_stomach_opt9_2", "破皮")
    @Html.CheckBox("ck_stomach_opt9_3")
    @Html.Label("ck_stomach_opt9_3", "痔瘡")
    @Html.CheckBox("ck_stomach_opt9_4")
    @Html.Label("ck_stomach_opt9_4", "腫痛")
    @Html.CheckBox("ck_stomach_opt9_other", false, new { onclick = "ckable(this,'txt_stomach_opt9_other')" })
    @Html.Label("ck_stomach_opt9_other", "其他")
    @Html.TextBox("txt_stomach_opt9_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "自行由口進食，食欲正常，口腔黏膜完整、無噁心嘔吐、腹部柔軟")
    @Html.RadioButton("rb_stomach_opt10", "", false, new { id = "rb_stomach_opt10_1" })
    @Html.Label("rb_stomach_opt10_1", "是")
    @Html.RadioButton("rb_stomach_opt10", "", false, new { id = "rb_stomach_opt10_2" })
    @Html.Label("rb_stomach_opt10_2", "否")
</p>
<p>
    @Html.Label("lab", "無腹瀉或便秘、四象限都有腸蠕動、肛門正常")
    @Html.RadioButton("rb_stomach_opt11", "", false, new { id = "rb_stomach_opt11_1" })
    @Html.Label("rb_stomach_opt11_1", "是")
    @Html.RadioButton("rb_stomach_opt11", "", false, new { id = "rb_stomach_opt11_2" })
    @Html.Label("rb_stomach_opt11_2", "否")
</p>