<p>
    @Html.Label("lab", "精神情緒狀態", new { @class = "subtitle" })
    @Html.RadioButton("rb_spirit_opt1", "", false, new { id = "rb_spirit_opt1_1", onclick = "$('#spirit_opt1').fadeOut(500);" })
    @Html.Label("rb_spirit_opt1_1", "正常")
    @Html.RadioButton("rb_spirit_opt1", "", false, new { id = "rb_spirit_opt1_2", onclick = "$('#spirit_opt1').fadeIn(500);" })
    @Html.Label("rb_spirit_opt1_2", "異常") 
    @Html.RadioButton("rb_spirit_opt1", "", false, new { id = "rb_spirit_opt1_3", onclick = "$('#spirit_opt1').fadeOut(500);" })
    @Html.Label("rb_spirit_opt1_3", "無法評估") 
</p>
<p id="spirit_opt1" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_spirit_opt1_1")
    @Html.Label("ck_spirit_opt1_1", "怠惰")
    @Html.CheckBox("ck_spirit_opt1_2")
    @Html.Label("ck_spirit_opt1_2", "焦慮")
    @Html.CheckBox("ck_spirit_opt1_3")
    @Html.Label("ck_spirit_opt1_3", "情緒低落")
    @Html.CheckBox("ck_spirit_opt1_4")
    @Html.Label("ck_spirit_opt1_4", "沉默")
    @Html.CheckBox("ck_spirit_opt1_5")
    @Html.Label("ck_spirit_opt1_5", "躁動")
    @Html.CheckBox("ck_spirit_opt1_6")
    @Html.Label("ck_spirit_opt1_6", "憤怒")
    @Html.CheckBox("ck_spirit_opt1_other", false, new { onclick = "ckable(this,'txt_spirit_opt1_other');" })
    @Html.Label("ck_spirit_opt1_other", "其他")
    @Html.TextBox("txt_spirit_opt1_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "安全問題", new { @class = "subtitle" })
    @Html.RadioButton("rb_spirit_opt2", "", false, new { id = "rb_spirit_opt2_1", onclick = "$('#spirit_opt2').fadeOut(500);" })
    @Html.Label("rb_spirit_opt2_1", "無")
    @Html.RadioButton("rb_spirit_opt2", "", false, new { id = "rb_spirit_opt2_2", onclick = "$('#spirit_opt2').fadeIn(500);" })
    @Html.Label("rb_spirit_opt2_2", "有")
</p>
<p id="spirit_opt2" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_spirit_opt2_1")
    @Html.Label("ck_spirit_opt2_1", "傷害自己")
    @Html.CheckBox("ck_spirit_opt2_2")
    @Html.Label("ck_spirit_opt2_2", "攻擊別人")
    @Html.CheckBox("ck_spirit_opt2_3")
    @Html.Label("ck_spirit_opt2_3", "逃跑")
    @Html.CheckBox("ck_spirit_opt2_other", false, new { onclick = "ckable(this,'txt_spirit_opt2_other');" })
    @Html.Label("ck_spirit_opt2_other", "其他")
    @Html.TextBox("txt_spirit_opt2_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "睡眠型態", new { @class = "subtitle" })
    @Html.RadioButton("rb_spirit_opt3", "", false, new { id = "rb_spirit_opt3_1", onclick = "$('.spirit_opt3').fadeOut(500);" })
    @Html.Label("rb_spirit_opt3_1", "正常")
    @Html.RadioButton("rb_spirit_opt3", "", false, new { id = "rb_spirit_opt3_2", onclick = "$('.spirit_opt3').fadeIn(500);" })
    @Html.Label("rb_spirit_opt3_2", "異常")
</p>
<p class="spirit_opt3" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_spirit_opt3_1")
    @Html.Label("ck_spirit_opt3_1", "入睡困難")
    @Html.CheckBox("ck_spirit_opt3_2")
    @Html.Label("ck_spirit_opt3_2", "早醒")
    @Html.CheckBox("ck_spirit_opt3_3")
    @Html.Label("ck_spirit_opt3_3", "失眠")
    @Html.CheckBox("ck_spirit_opt3_4")
    @Html.Label("ck_spirit_opt3_4", "淺、易醒")
    @Html.CheckBox("ck_spirit_opt3_5")
    @Html.Label("ck_spirit_opt3_5", "夢饜")
</p><p class="spirit_opt3" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_spirit_opt3_6")
    @Html.Label("ck_spirit_opt3_6", "日夜顛倒")
    @Html.CheckBox("ck_spirit_opt3_7")
    @Html.Label("ck_spirit_opt3_7", "使用藥物")
    @Html.CheckBox("ck_spirit_opt3_other", false, new { onclick = "ckable(this,'txt_spirit_opt3_other');" })
    @Html.Label("ck_spirit_opt3_other", "其他")
    @Html.TextBox("txt_spirit_opt3_other", "", new { style = "width:120px;", disabled = "disabled" })
</p>
<p>
    @Html.Label("lab", "正常睡眠、精神、情緒正常")
    @Html.RadioButton("rb_spirit_opt4", "", false, new { id = "rb_spirit_opt4_1" })
    @Html.Label("rb_spirit_opt4_1", "是")
    @Html.RadioButton("rb_spirit_opt4", "", false, new { id = "rb_spirit_opt4_2" })
    @Html.Label("rb_spirit_opt4_2", "否")
</p>