<p>
    @Html.Label("lab", "關節活動", new { @class = "subtitle" })
    @Html.RadioButton("rb_skeleton_opt1", "", false, new { id = "rb_skeleton_opt1_1", onclick = "enable('txt_skeleton_opt1_other');" })
    @Html.Label("rb_skeleton_opt1_1", "正常")
    @Html.RadioButton("rb_skeleton_opt1", "", false, new { id = "rb_skeleton_opt1_2", onclick = "enable('txt_skeleton_opt1_other');" })
    @Html.Label("rb_skeleton_opt1_2", "異常") 
    @Html.RadioButton("rb_skeleton_opt1", "", false, new { id = "rb_skeleton_opt1_3", onclick = "enable('txt_skeleton_opt1_other');" })
    @Html.Label("rb_skeleton_opt1_3", "無法評估") 
    @Html.RadioButton("rb_skeleton_opt1", "", false, new { id = "rb_skeleton_opt1_other", onclick = "able('txt_skeleton_opt1_other');" })
    @Html.Label("rb_skeleton_opt1_other", "其他") 
    @Html.TextBox("txt_skeleton_opt1_other", "", new { style = "width:120px;", disabled = "diasbled" })
</p>
<p>
    @Html.Label("lab", "炎症反應", new { @class = "subtitle" })
    @Html.RadioButton("rb_skeleton_opt2", "", false, new { id = "rb_skeleton_opt2_1", onclick = "$('#skeleton_opt2').fadeOut(500);" })
    @Html.Label("rb_skeleton_opt2_1", "無")
    @Html.RadioButton("rb_skeleton_opt2", "", false, new { id = "rb_skeleton_opt2_2", onclick = "$('#skeleton_opt2').fadeIn(500);" })
    @Html.Label("rb_skeleton_opt2_2", "有")
</p>
<p id="skeleton_opt2" style="padding-left:130px;display:none;">
    @Html.CheckBox("ck_skeleton_opt2_1")
    @Html.Label("ck_skeleton_opt2_1", "紅")
    @Html.CheckBox("ck_skeleton_opt2_2")
    @Html.Label("ck_skeleton_opt2_2", "腫")
    @Html.CheckBox("ck_skeleton_opt2_3")
    @Html.Label("ck_skeleton_opt2_3", "熱")
    @Html.CheckBox("ck_skeleton_opt2_4")
    @Html.Label("ck_skeleton_opt2_4", "痛")
    @Html.CheckBox("ck_skeleton_opt2_other", false, new { onclick = "ckable(this,'txt_skeleton_opt2_other');" })
    @Html.Label("ck_skeleton_opt2_other", "其他")
    @Html.TextBox("txt_skeleton_opt2_other", "", new { style = "width:120px;", disabled = "diasbled" })
    @Html.Label("txt_skeleton_opt2_position", "部位：")
    @Html.TextBox("txt_skeleton_opt2_position", "", new { style = "width:120px;" })
</p>
<p style="font-size:16px;">
    @Html.Label("lab", "左上肢肌力", new { @class = "subtitle" })
    @Html.RadioButton("rb_skeleton_opt3", "5", false, new { id = "rb_skeleton_opt3_1" })
    @Html.Label("rb_skeleton_opt3_1", "正常(5分)")
    @Html.RadioButton("rb_skeleton_opt3", "4", false, new { id = "rb_skeleton_opt3_2" })
    @Html.Label("rb_skeleton_opt3_2", "良好(4分)")
    @Html.RadioButton("rb_skeleton_opt3", "3", false, new { id = "rb_skeleton_opt3_3" })
    @Html.Label("rb_skeleton_opt3_3", "可(3分)")
    @Html.RadioButton("rb_skeleton_opt3", "2", false, new { id = "rb_skeleton_opt3_4" })
    @Html.Label("rb_skeleton_opt3_4", "差(2分)")
    @Html.RadioButton("rb_skeleton_opt3", "1", false, new { id = "rb_skeleton_opt3_5" })
    @Html.Label("rb_skeleton_opt3_5", "微弱(1分)")
    @Html.RadioButton("rb_skeleton_opt3", "0", false, new { id = "rb_skeleton_opt3_6" })
    @Html.Label("rb_skeleton_opt3_6", "無(0分)")
    @Html.RadioButton("rb_skeleton_opt3", "-1", false, new { id = "rb_skeleton_opt3_7" })
    @Html.Label("rb_skeleton_opt3_7", "無法評估")
</p>
<p style="font-size:16px;">
    @Html.Label("lab", "右上肢肌力", new { @class = "subtitle" })
    @Html.RadioButton("rb_skeleton_opt4", "5", false, new { id = "rb_skeleton_opt4_1" })
    @Html.Label("rb_skeleton_opt4_1", "正常(5分)")
    @Html.RadioButton("rb_skeleton_opt4", "4", false, new { id = "rb_skeleton_opt4_2" })
    @Html.Label("rb_skeleton_opt4_2", "良好(4分)")
    @Html.RadioButton("rb_skeleton_opt4", "3", false, new { id = "rb_skeleton_opt4_3" })
    @Html.Label("rb_skeleton_opt4_3", "可(3分)")
    @Html.RadioButton("rb_skeleton_opt4", "2", false, new { id = "rb_skeleton_opt4_4" })
    @Html.Label("rb_skeleton_opt4_4", "差(2分)")
    @Html.RadioButton("rb_skeleton_opt4", "1", false, new { id = "rb_skeleton_opt4_5" })
    @Html.Label("rb_skeleton_opt4_5", "微弱(1分)")
    @Html.RadioButton("rb_skeleton_opt4", "0", false, new { id = "rb_skeleton_opt4_6" })
    @Html.Label("rb_skeleton_opt4_6", "無(0分)")
    @Html.RadioButton("rb_skeleton_opt4", "-1", false, new { id = "rb_skeleton_opt4_7" })
    @Html.Label("rb_skeleton_opt4_7", "無法評估")
</p>
<p style="font-size:16px;">
    @Html.Label("lab", "左下肢肌力", new { @class = "subtitle" })
    @Html.RadioButton("rb_skeleton_opt5", "5", false, new { id = "rb_skeleton_opt5_1" })
    @Html.Label("rb_skeleton_opt5_1", "正常(5分)")
    @Html.RadioButton("rb_skeleton_opt5", "4", false, new { id = "rb_skeleton_opt5_2" })
    @Html.Label("rb_skeleton_opt5_2", "良好(4分)")
    @Html.RadioButton("rb_skeleton_opt5", "3", false, new { id = "rb_skeleton_opt5_3" })
    @Html.Label("rb_skeleton_opt5_3", "可(3分)")
    @Html.RadioButton("rb_skeleton_opt5", "2", false, new { id = "rb_skeleton_opt5_4" })
    @Html.Label("rb_skeleton_opt5_4", "差(2分)")
    @Html.RadioButton("rb_skeleton_opt5", "1", false, new { id = "rb_skeleton_opt5_5" })
    @Html.Label("rb_skeleton_opt5_5", "微弱(1分)")
    @Html.RadioButton("rb_skeleton_opt5", "0", false, new { id = "rb_skeleton_opt5_6" })
    @Html.Label("rb_skeleton_opt5_6", "無(0分)")
    @Html.RadioButton("rb_skeleton_opt5", "-1", false, new { id = "rb_skeleton_opt5_7" })
    @Html.Label("rb_skeleton_opt5_7", "無法評估")
</p>
<p style="font-size:16px;">
    @Html.Label("lab", "右下肢肌力", new { @class = "subtitle" })
    @Html.RadioButton("rb_skeleton_opt6", "5", false, new { id = "rb_skeleton_opt6_1" })
    @Html.Label("rb_skeleton_opt6_1", "正常(5分)")
    @Html.RadioButton("rb_skeleton_opt6", "4", false, new { id = "rb_skeleton_opt6_2" })
    @Html.Label("rb_skeleton_opt6_2", "良好(4分)")
    @Html.RadioButton("rb_skeleton_opt6", "3", false, new { id = "rb_skeleton_opt6_3" })
    @Html.Label("rb_skeleton_opt6_3", "可(3分)")
    @Html.RadioButton("rb_skeleton_opt6", "2", false, new { id = "rb_skeleton_opt6_4" })
    @Html.Label("rb_skeleton_opt6_4", "差(2分)")
    @Html.RadioButton("rb_skeleton_opt6", "1", false, new { id = "rb_skeleton_opt6_5" })
    @Html.Label("rb_skeleton_opt6_5", "微弱(1分)")
    @Html.RadioButton("rb_skeleton_opt6", "0", false, new { id = "rb_skeleton_opt6_6" })
    @Html.Label("rb_skeleton_opt6_6", "無(0分)")
    @Html.RadioButton("rb_skeleton_opt6", "-1", false, new { id = "rb_skeleton_opt6_7" })
    @Html.Label("rb_skeleton_opt6_7", "無法評估")
</p>
<p>
    @Html.Label("lab", "全範圍的關節活動，外觀無炎症反應，肌力無減弱、可安全行走")
    @Html.RadioButton("rb_skeleton_opt7", "", false, new { id = "rb_skeleton_opt7_1" })
    @Html.Label("rb_skeleton_opt7_1", "是")
    @Html.RadioButton("rb_skeleton_opt7", "", false, new { id = "rb_skeleton_opt7_2" })
    @Html.Label("rb_skeleton_opt7_2", "否")
</p>