@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
    .tabArea .subtitle {
        width: 120px;
    }
    .tabArea p {
        height: 40px;
        border-bottom: 1px dashed #b9b9b9;
        text-align: left;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(".tabArea").tabs({ active: 0 });
    });

    function change() {
        if ($('#select_key').val() == '1') {
            window.location.href = "Insert";
        }
        else if ($('#select_key').val() == '2') {
            window.location.href = "Mood";
        }
        else if ($('#select_key').val() == '3') {
            window.location.href = "Body";
        }
        else if ($('#select_key').val() == '4') {
            window.location.href = "Conventional";
        }
    }

    function able(id) {
        document.getElementById(id).disabled = false;
        document.getElementById(id).focus();
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
    }
    function ckable(obj, txtid) {
        var ck = obj;
        if (ck.checked)
        { able(txtid); }
        else
        { enable(txtid); }
    }
</script>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="padding-bottom:5px;">
            <div class="funcArea" >
                <select id="select_key" onchange="change();">
                    <option value="1">ICU</option>
                    <option value="2">心情溫度計</option>
                    <option value="3" selected="selected">身體評估</option>
                    <option value="4">大小夜常規評估</option>
                </select>
                <input type="button" value="儲存" style="width:50px;" onclick="alert('儲存成功')" />
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <div class="tabArea">
                <ul>
                    <li><a href="#tabs1">神經系統</a></li>
                    <li><a href="#tabs2">主要疼痛</a></li>
                    <li><a href="#tabs3">心血管系統</a></li>
                    <li><a href="#tabs4">呼吸系統</a></li>
                    <li><a href="#tabs5">腸胃系統</a></li>
                    <li><a href="#tabs6">肌肉骨骼系統</a></li>
                    <li><a href="#tabs7">皮膚系統</a></li>
                    <li><a href="#tabs8">感官知覺系統</a></li>
                    <li><a href="#tabs9">泌尿系統</a></li>
                    <li><a href="#tabs10">生殖系統(男性不適用)</a></li>
                    <li><a href="#tabs11">精神</a></li>
                </ul>
                <div id="tabs1" class="tab">
                    @Html.Partial("Body_Nerve")
                </div>
                <div id="tabs2" class="tab">
                    @Html.Partial("Body_Pain")
                </div>
                <div id="tabs3" class="tab">
                    @Html.Partial("Body_Blood")
                </div>
                <div id="tabs4" class="tab">
                    @Html.Partial("Body_Breath")
                </div>
                <div id="tabs5" class="tab">
                    @Html.Partial("Body_Stomach")
                </div>
                <div id="tabs6" class="tab">
                    @Html.Partial("Body_Skeleton")
                </div>
                <div id="tabs7" class="tab">
                    @Html.Partial("Body_Skin")
                </div>
                <div id="tabs8" class="tab">
                    @Html.Partial("Body_Sense")
                </div>
                <div id="tabs9" class="tab">
                    @Html.Partial("Body_Urinary")
                </div>
                <div id="tabs10" class="tab">
                    @Html.Partial("Body_Procreation")
                </div>
                <div id="tabs11" class="tab">
                    @Html.Partial("Body_Spirit")
                </div>
            </div>
        </td>
    </tr>
</table>