@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
    .tabArea .subtitle {
        width: 120px;
    }
    .tabArea p {
        height: 40px;
        border-bottom: 1px dashed #b9b9b9;
        text-align: left;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(".tabArea").tabs({ active: 0 });
    });

    function change() {
        if ($('#select_key').val() == '1') {
            window.location.href = "Insert";
        }
        else if ($('#select_key').val() == '2') {
            window.location.href = "Mood";
        }
        else if ($('#select_key').val() == '3') {
            window.location.href = "Body";
        }
        else if ($('#select_key').val() == '4') {
            window.location.href = "Conventional";
        }
    }

    function able(id) {
        document.getElementById(id).disabled = false;
        document.getElementById(id).focus();
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
    }
    function ckable(obj, txtid) {
        var ck = obj;
        if (ck.checked)
        { able(txtid); }
        else
        { enable(txtid); }
    }
</script>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="padding-bottom:5px;">
            <div class="funcArea" >
                <select id="select_key" onchange="change();">
                    <option value="1">ICU</option>
                    <option value="2">心情溫度計</option>
                    <option value="3">身體評估</option>
                    <option value="4" selected="selected">大小夜常規評估</option>
                </select>
                <input type="button" value="儲存" style="width:50px;" onclick="alert('儲存成功')" />
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <div class="tabArea">
                <ul>
                    <li><a href="#tabs1">大小夜常規評估</a></li>
                </ul>
                <div id="tabs1" class="tab">
                    <p>
                        @Html.Label("lab", "靜脈輸液", new { @class = "subtitle" })
                        @Html.Label("txt_conventional_opt1_1", "IV 種類")
                        @Html.TextBox("txt_conventional_opt1_1", "", new { style = "width:120px;" })
                        @Html.Label("txt_conventional_opt1_2", "滴速")
                        @Html.TextBox("txt_conventional_opt1_2", "", new { style = "width:120px;" })
                    </p>
                    <p>
                        @Html.Label("lab", "注射部位", new { @class = "subtitle" })
                        @Html.Label("lab", "皮膚完整：")
                        @Html.CheckBox("ck_conventional_opt2_1")
                        @Html.Label("ck_conventional_opt2_1", "完整")
                        @Html.CheckBox("ck_conventional_opt2_2")
                        @Html.Label("ck_conventional_opt2_2", "浸潤")
                        @Html.CheckBox("ck_conventional_opt2_3")
                        @Html.Label("ck_conventional_opt2_3", "腫脹")
                        @Html.CheckBox("ck_conventional_opt2_4")
                        @Html.Label("ck_conventional_opt2_4", "壓傷")
                    </p>
                    <p style="padding-left:130px;">
                        @Html.Label("lab", "皮膚顏色：")
                        @Html.CheckBox("ck_conventional_opt2_5")
                        @Html.Label("ck_conventional_opt2_5", "粉紅")
                        @Html.CheckBox("ck_conventional_opt2_6")
                        @Html.Label("ck_conventional_opt2_6", "蒼白")
                        @Html.CheckBox("ck_conventional_opt2_7")
                        @Html.Label("ck_conventional_opt2_7", "潮紅")
                        @Html.CheckBox("ck_conventional_opt2_8")
                        @Html.Label("ck_conventional_opt2_8", "發紺")
                    </p>
                    <p style="padding-left:130px;">
                        @Html.Label("lab", "皮膚溫度：")
                        @Html.CheckBox("ck_conventional_opt2_9")
                        @Html.Label("ck_conventional_opt2_9", "溫暖乾燥")
                        @Html.CheckBox("ck_conventional_opt2_10")
                        @Html.Label("ck_conventional_opt2_10", "潮濕冰冷")
                    </p>
                    <p style="padding-left:130px;">
                        @Html.Label("lab", "外觀與對側比較：")
                        @Html.CheckBox("ck_conventional_opt2_11")
                        @Html.Label("ck_conventional_opt2_11", "對稱")
                        @Html.CheckBox("ck_conventional_opt2_12")
                        @Html.Label("ck_conventional_opt2_12", "不對稱")
                    </p>
                    <p>
                        @Html.Label("lab", "陪伴者", new { @class = "subtitle" })
                        @Html.RadioButton("rb_conventional_opt3", "", false, new { id = "rb_conventional_opt3_1" })
                        @Html.Label("rb_conventional_opt3_1", "有")
                        @Html.RadioButton("rb_conventional_opt3", "", false, new { id = "rb_conventional_opt3_1" })
                        @Html.Label("rb_conventional_opt3_1", "無")
                    </p>
                    <p>
                        @Html.Label("lab", "使用床欄", new { @class = "subtitle" })
                        @Html.RadioButton("rb_conventional_opt4", "", false, new { id = "rb_conventional_opt4_1" })
                        @Html.Label("rb_conventional_opt4_1", "無")
                        @Html.RadioButton("rb_conventional_opt4", "", false, new { id = "rb_conventional_opt4_2" })
                        @Html.Label("rb_conventional_opt4_2", "單側")
                        @Html.RadioButton("rb_conventional_opt4", "", false, new { id = "rb_conventional_opt4_3" })
                        @Html.Label("rb_conventional_opt4_3", "雙側")
                    </p>
                    <p>
                        @Html.Label("lab", "睡眠", new { @class = "subtitle" })
                        @Html.RadioButton("rb_conventional_opt5", "", false, new { id = "rb_conventional_opt5_1" })
                        @Html.Label("rb_conventional_opt5_1", "已入睡")
                        @Html.RadioButton("rb_conventional_opt5", "", false, new { id = "rb_conventional_opt5_2" })
                        @Html.Label("rb_conventional_opt5_2", "未入睡")
                    </p>
                    <p>
                        @Html.Label("lab", "呼吸", new { @class = "subtitle" })
                        @Html.RadioButton("rb_conventional_opt6", "", false, new { id = "rb_conventional_opt6_1" })
                        @Html.Label("rb_conventional_opt6_1", "平穩")
                        @Html.RadioButton("rb_conventional_opt6", "", false, new { id = "rb_conventional_opt6_2" })
                        @Html.Label("rb_conventional_opt6_2", "急促")
                        @Html.RadioButton("rb_conventional_opt6", "", false, new { id = "rb_conventional_opt6_3" })
                        @Html.Label("rb_conventional_opt6_3", "過慢")
                        @Html.RadioButton("rb_conventional_opt6", "", false, new { id = "rb_conventional_opt6_4" })
                        @Html.Label("rb_conventional_opt6_4", "困難")
                    </p>    
                    <p>
                        @Html.Label("lab", "其他", new { @class = "subtitle" })
                        @Html.CheckBox("ck_conventional_opt7")
                        @Html.Label("rb_conventional_opt7_1", "連結及追蹤每日評估中異常項目")
                    </p>
                </div>
            </div>
        </td>
    </tr>
</table>