        <p>
            @Html.Label("lab", "EVD-部位", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt1", "", false, new { id = "rb_evd_opt1_1" })
            @Html.Label("rb_evd_opt1_1", "左耳上")
            @Html.RadioButton("rb_evd_opt1", "", false, new { id = "rb_evd_opt1_2" })
            @Html.Label("rb_evd_opt1_2", "左耳下")
            @Html.RadioButton("rb_evd_opt1", "", false, new { id = "rb_evd_opt1_3" })
            @Html.Label("rb_evd_opt1_3", "右耳上")
            @Html.RadioButton("rb_evd_opt1", "", false, new { id = "rb_evd_opt1_4" })
            @Html.Label("rb_evd_opt1_4", "右耳下")
        </p>
        <p>
            @Html.Label("lab", "EVD-引流液顏色", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt2", "", false, new { id = "rb_evd_opt2_1", onclick = "enable('txt_body_opt2_other');" })
            @Html.Label("rb_evd_opt2_1", "透明")
            @Html.RadioButton("rb_evd_opt2", "", false, new { id = "rb_evd_opt2_2", onclick = "enable('txt_body_opt2_other');" })
            @Html.Label("rb_evd_opt2_2", "紅")
            @Html.RadioButton("rb_evd_opt2", "", false, new { id = "rb_evd_opt2_3", onclick = "enable('txt_body_opt2_other');" })
            @Html.Label("rb_evd_opt2_3", "粉紅")
            @Html.RadioButton("rb_evd_opt2", "", false, new { id = "rb_evd_opt2_4", onclick = "enable('txt_body_opt2_other');" })
            @Html.Label("rb_evd_opt2_4", "鮮紅")
            @Html.RadioButton("rb_evd_opt2", "", false, new { id = "rb_evd_opt2_5", onclick = "enable('txt_body_opt2_other');" })
            @Html.Label("rb_evd_opt2_5", "黃")
            @Html.RadioButton("rb_evd_opt2", "", false, new { id = "rb_evd_opt2_other", onclick = "able('txt_body_opt2_other');" })
            @Html.Label("rb_evd_opt2_other", "其他")
            @Html.TextBox("txt_body_opt2_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "EVD-引流液性狀", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt3", "", false, new { id = "rb_evd_opt3_1", onclick = "enable('txt_evd_opt3_other');" })
            @Html.Label("rb_evd_opt3_1", "清澈")
            @Html.RadioButton("rb_evd_opt3", "", false, new { id = "rb_evd_opt3_2", onclick = "enable('txt_evd_opt3_other');" })
            @Html.Label("rb_evd_opt3_2", "混濁")
            @Html.RadioButton("rb_evd_opt3", "", false, new { id = "rb_evd_opt3_other", onclick = "able('txt_evd_opt3_other');" })
            @Html.Label("rb_evd_opt3_other", "其他")
            @Html.TextBox("txt_evd_opt3_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "JP/Hemo-vac-部位", new { @class = "subtitle" })
            @Html.TextBox("txt_evd_opt4", "", new { style = "width:60%;" })
        </p>
        <p>
            @Html.Label("lab", "JP/Hemo-vac-顏色", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt5", "", false, new { id = "rb_evd_opt5_1", onclick = "enable('txt_evd_opt5_other');" })
            @Html.Label("rb_evd_opt5_1", "透明")
            @Html.RadioButton("rb_evd_opt5", "", false, new { id = "rb_evd_opt5_2", onclick = "enable('txt_evd_opt5_other');" })
            @Html.Label("rb_evd_opt5_2", "紅")
            @Html.RadioButton("rb_evd_opt5", "", false, new { id = "rb_evd_opt5_3", onclick = "enable('txt_evd_opt5_other');" })
            @Html.Label("rb_evd_opt5_3", "粉紅")
            @Html.RadioButton("rb_evd_opt5", "", false, new { id = "rb_evd_opt5_4", onclick = "enable('txt_evd_opt5_other');" })
            @Html.Label("rb_evd_opt5_4", "鮮紅")
            @Html.RadioButton("rb_evd_opt5", "", false, new { id = "rb_evd_opt5_5", onclick = "enable('txt_evd_opt5_other');" })
            @Html.Label("rb_evd_opt5_5", "黃")
            @Html.RadioButton("rb_evd_opt5", "", false, new { id = "rb_evd_opt5_other", onclick = "able('txt_evd_opt5_other');" })
            @Html.Label("rb_evd_opt5_other", "其他")
            @Html.TextBox("txt_evd_opt5_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "JP/Hemo-vac-性狀", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt6", "", false, new { id = "rb_evd_opt6_1", onclick = "enable('txt_evd_opt6_other');" })
            @Html.Label("rb_evd_opt6_1", "清澈")
            @Html.RadioButton("rb_evd_opt6", "", false, new { id = "rb_evd_opt6_2", onclick = "enable('txt_evd_opt6_other');" })
            @Html.Label("rb_evd_opt6_2", "混濁")
            @Html.RadioButton("rb_evd_opt6", "", false, new { id = "rb_evd_opt6_other", onclick = "able('txt_evd_opt6_other');" })
            @Html.Label("rb_evd_opt6_other", "其他")
            @Html.TextBox("txt_evd_opt6_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "Chest tube-部位", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt7", "", false, new { id = "rb_evd_opt7_1", onclick = "enable('txt_evd_opt7_other');" })
            @Html.Label("rb_evd_opt7_1", "左胸")
            @Html.RadioButton("rb_evd_opt7", "", false, new { id = "rb_evd_opt7_2", onclick = "enable('txt_evd_opt7_other');" })
            @Html.Label("rb_evd_opt7_2", "左心包膜")
            @Html.RadioButton("rb_evd_opt7", "", false, new { id = "rb_evd_opt7_3", onclick = "enable('txt_evd_opt7_other');" })
            @Html.Label("rb_evd_opt7_3", "右胸")
            @Html.RadioButton("rb_evd_opt7", "", false, new { id = "rb_evd_opt7_4", onclick = "enable('txt_evd_opt7_other');" })
            @Html.Label("rb_evd_opt7_4", "右心包膜")
            @Html.RadioButton("rb_evd_opt7", "", false, new { id = "rb_evd_opt7_other", onclick = "able('txt_evd_opt7_other');" })
            @Html.Label("rb_evd_opt7_other", "其他")
            @Html.TextBox("txt_evd_opt7_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "Chest tube-管路號碼", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt8", "", false, new { id = "rb_evd_opt8_1", onclick = "enable('txt_evd_opt8_other');" })
            @Html.Label("rb_evd_opt8_1", "28")
            @Html.RadioButton("rb_evd_opt8", "", false, new { id = "rb_evd_opt8_2", onclick = "enable('txt_evd_opt8_other');" })
            @Html.Label("rb_evd_opt8_2", "32")
            @Html.RadioButton("rb_evd_opt8", "", false, new { id = "rb_evd_opt8_other", onclick = "able('txt_evd_opt8_other');" })
            @Html.Label("rb_evd_opt8_other", "其他")
            @Html.TextBox("txt_evd_opt8_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "Chest tube-顏色", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt9", "", false, new { id = "rb_evd_opt9_1", onclick = "enable('txt_evd_opt9_other');" })
            @Html.Label("rb_evd_opt9_1", "透明")
            @Html.RadioButton("rb_evd_opt9", "", false, new { id = "rb_evd_opt9_2", onclick = "enable('txt_evd_opt9_other');" })
            @Html.Label("rb_evd_opt9_2", "紅")
            @Html.RadioButton("rb_evd_opt9", "", false, new { id = "rb_evd_opt9_3", onclick = "enable('txt_evd_opt9_other');" })
            @Html.Label("rb_evd_opt9_3", "粉紅")
            @Html.RadioButton("rb_evd_opt9", "", false, new { id = "rb_evd_opt9_4", onclick = "enable('txt_evd_opt9_other');" })
            @Html.Label("rb_evd_opt9_4", "鮮紅")
            @Html.RadioButton("rb_evd_opt9", "", false, new { id = "rb_evd_opt9_5", onclick = "enable('txt_evd_opt9_other');" })
            @Html.Label("rb_evd_opt9_5", "黃")
            @Html.RadioButton("rb_evd_opt9", "", false, new { id = "rb_evd_opt9_other", onclick = "able('txt_evd_opt9_other');" })
            @Html.Label("rb_evd_opt9_other", "其他")
            @Html.TextBox("txt_evd_opt9_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "Chest tube-性狀", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt10", "", false, new { id = "rb_evd_opt10_1", onclick = "enable('txt_evd_opt10_other');" })
            @Html.Label("rb_evd_opt10_1", "清澈")
            @Html.RadioButton("rb_evd_opt10", "", false, new { id = "rb_evd_opt10_2", onclick = "enable('txt_evd_opt10_other');" })
            @Html.Label("rb_evd_opt10_2", "混濁")
            @Html.RadioButton("rb_evd_opt10", "", false, new { id = "rb_evd_opt10_other", onclick = "able('txt_evd_opt10_other');" })
            @Html.Label("rb_evd_opt10_other", "其他")
            @Html.TextBox("txt_evd_opt10_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "Pig tail-部位", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt11", "", false, new { id = "rb_evd_opt11_1", onclick = "enable('txt_evd_opt11_other');" })
            @Html.Label("rb_evd_opt11_1", "左胸")
            @Html.RadioButton("rb_evd_opt11", "", false, new { id = "rb_evd_opt11_2", onclick = "enable('txt_evd_opt11_other');" })
            @Html.Label("rb_evd_opt11_2", "左心包膜")
            @Html.RadioButton("rb_evd_opt11", "", false, new { id = "rb_evd_opt11_3", onclick = "enable('txt_evd_opt11_other');" })
            @Html.Label("rb_evd_opt11_3", "右胸")
            @Html.RadioButton("rb_evd_opt11", "", false, new { id = "rb_evd_opt11_4", onclick = "enable('txt_evd_opt11_other');" })
            @Html.Label("rb_evd_opt11_4", "右心包膜")
            @Html.RadioButton("rb_evd_opt11", "", false, new { id = "rb_evd_opt11_other", onclick = "able('txt_evd_opt11_other');" })
            @Html.Label("rb_evd_opt11_other", "其他")
            @Html.TextBox("txt_evd_opt11_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "Pig tail-顏色", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt12", "", false, new { id = "rb_evd_opt12_1", onclick = "enable('txt_evd_opt12_other');" })
            @Html.Label("rb_evd_opt12_1", "透明")
            @Html.RadioButton("rb_evd_opt12", "", false, new { id = "rb_evd_opt12_2", onclick = "enable('txt_evd_opt12_other');" })
            @Html.Label("rb_evd_opt12_2", "紅")
            @Html.RadioButton("rb_evd_opt12", "", false, new { id = "rb_evd_opt12_3", onclick = "enable('txt_evd_opt12_other');" })
            @Html.Label("rb_evd_opt12_3", "粉紅")
            @Html.RadioButton("rb_evd_opt12", "", false, new { id = "rb_evd_opt12_4", onclick = "enable('txt_evd_opt12_other');" })
            @Html.Label("rb_evd_opt12_4", "鮮紅")
            @Html.RadioButton("rb_evd_opt12", "", false, new { id = "rb_evd_opt12_5", onclick = "enable('txt_evd_opt12_other');" })
            @Html.Label("rb_evd_opt12_5", "黃")
            @Html.RadioButton("rb_evd_opt12", "", false, new { id = "rb_evd_opt12_other", onclick = "able('txt_evd_opt12_other');" })
            @Html.Label("rb_evd_opt12_other", "其他")
            @Html.TextBox("txt_evd_opt12_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "Pig tail-性狀", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt13", "", false, new { id = "rb_evd_opt13_1", onclick = "enable('txt_evd_opt13_other');" })
            @Html.Label("rb_evd_opt13_1", "清澈")
            @Html.RadioButton("rb_evd_opt13", "", false, new { id = "rb_evd_opt13_2", onclick = "enable('txt_evd_opt13_other');" })
            @Html.Label("rb_evd_opt13_2", "混濁")
            @Html.RadioButton("rb_evd_opt13", "", false, new { id = "rb_evd_opt13_other", onclick = "able('txt_evd_opt13_other');" })
            @Html.Label("rb_evd_opt13_other", "其他")
            @Html.TextBox("txt_evd_opt13_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "Foley drainage-部位", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt14", "", false, new { id = "rb_evd_opt14_1", onclick = "enable('txt_evd_opt14_other');enable('txt_evd_opt14_4');enable('txt_evd_opt14_3');" })
            @Html.Label("rb_evd_opt14_1", "morrison pouch")
            @Html.RadioButton("rb_evd_opt14", "", false, new { id = "rb_evd_opt14_2", onclick = "enable('txt_evd_opt14_other');enable('txt_evd_opt14_4');enable('txt_evd_opt14_3');" })
            @Html.Label("rb_evd_opt14_2", "spleen fossa")
            @Html.RadioButton("rb_evd_opt14", "", false, new { id = "rb_evd_opt14_3", onclick = "enable('txt_evd_opt14_other');enable('txt_evd_opt14_4');able('txt_evd_opt14_3');" })
            @Html.Label("rb_evd_opt14_3", "sub")
            @Html.TextBox("txt_evd_opt14_3", "", new { style = "width:80px;", disabled = "disabled" }) pelvic
        </p>
        <p style="padding-left:170px;">
            @Html.RadioButton("rb_evd_opt14", "", false, new { id = "rb_evd_opt14_4", onclick = "enable('txt_evd_opt14_other');able('txt_evd_opt14_4');enable('txt_evd_opt14_3');" })
            @Html.Label("rb_evd_opt14_4", "douglas")
            @Html.TextBox("txt_evd_opt14_4", "", new { style = "width:80px;", disabled = "disabled" }) pouch
            @Html.RadioButton("rb_evd_opt14", "", false, new { id = "rb_evd_opt14_other", onclick = "able('txt_evd_opt14_other');enable('txt_evd_opt14_4');enable('txt_evd_opt14_3');" })
            @Html.Label("rb_evd_opt14_other", "其他")
            @Html.TextBox("txt_evd_opt14_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "Foley drainage-顏色", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt15", "", false, new { id = "rb_evd_opt15_1", onclick = "enable('txt_evd_opt15_other');" })
            @Html.Label("rb_evd_opt15_1", "黃")
            @Html.RadioButton("rb_evd_opt15", "", false, new { id = "rb_evd_opt15_2", onclick = "enable('txt_evd_opt15_other');" })
            @Html.Label("rb_evd_opt15_2", "紅")
            @Html.RadioButton("rb_evd_opt15", "", false, new { id = "rb_evd_opt15_3", onclick = "enable('txt_evd_opt15_other');" })
            @Html.Label("rb_evd_opt15_3", "綠")
            @Html.RadioButton("rb_evd_opt15", "", false, new { id = "rb_evd_opt15_4", onclick = "enable('txt_evd_opt15_other');" })
            @Html.Label("rb_evd_opt15_4", "咖啡")
            @Html.RadioButton("rb_evd_opt15", "", false, new { id = "rb_evd_opt15_5", onclick = "enable('txt_evd_opt15_other');" })
            @Html.Label("rb_evd_opt15_5", "血水")
            @Html.RadioButton("rb_evd_opt15", "", false, new { id = "rb_evd_opt15_other", onclick = "able('txt_evd_opt15_other');" })
            @Html.Label("rb_evd_opt15_other", "其他")
            @Html.TextBox("txt_evd_opt15_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "Foley drainage-性狀", new { @class = "subtitle" })
            @Html.RadioButton("rb_evd_opt16", "", false, new { id = "rb_evd_opt16_1", onclick = "enable('txt_evd_opt16_other');" })
            @Html.Label("rb_evd_opt16_1", "清澈")
            @Html.RadioButton("rb_evd_opt16", "", false, new { id = "rb_evd_opt16_2", onclick = "enable('txt_evd_opt16_other');" })
            @Html.Label("rb_evd_opt16_2", "混濁")
            @Html.RadioButton("rb_evd_opt16", "", false, new { id = "rb_evd_opt16_other", onclick = "able('txt_evd_opt16_other');" })
            @Html.Label("rb_evd_opt16_other", "其他")
            @Html.TextBox("txt_evd_opt16_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "其他引流管", new { @class = "subtitle" })
            名稱
            @Html.TextBox("txt_evd_opt17_name", "", new { style = "width:120px;" })
        </p>
        <p style="padding-left:170px;">
            部位
            @Html.TextBox("txt_evd_opt17_position", "", new { style = "width:120px;" })
        </p>
        <p style="padding-left:170px;">
            @Html.Label("lab", "顏色")
            @Html.RadioButton("rb_evd_opt17_color", "", false, new { id = "rb_evd_opt17_color_1", onclick = "enable('txt_evd_opt17_color_ohter');" })
            @Html.Label("rb_evd_opt17_color_1", "黃")
            @Html.RadioButton("rb_evd_opt17_color", "", false, new { id = "rb_evd_opt17_color_2", onclick = "enable('txt_evd_opt17_color_ohter');" })
            @Html.Label("rb_evd_opt17_color_2", "紅")
            @Html.RadioButton("rb_evd_opt17_color", "", false, new { id = "rb_evd_opt17_color_3", onclick = "enable('txt_evd_opt17_color_ohter');" })
            @Html.Label("rb_evd_opt17_color_3", "綠")
            @Html.RadioButton("rb_evd_opt17_color", "", false, new { id = "rb_evd_opt17_color_4", onclick = "enable('txt_evd_opt17_color_ohter');" })
            @Html.Label("rb_evd_opt17_color_4", "咖啡")
            @Html.RadioButton("rb_evd_opt17_color", "", false, new { id = "rb_evd_opt17_color_5", onclick = "enable('txt_evd_opt17_color_ohter');" })
            @Html.Label("rb_evd_opt17_color_5", "血水")
            @Html.RadioButton("rb_evd_opt17_color", "", false, new { id = "rb_evd_opt17_color_ohter", onclick = "able('txt_evd_opt17_color_ohter');" })
            @Html.Label("rb_evd_opt17_color_ohter", "其他")
            @Html.TextBox("txt_evd_opt17_color_ohter", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p style="padding-left:170px;">
            @Html.Label("lab", "性狀")
            @Html.RadioButton("rb_evd_opt17_type", "", false, new { id = "rb_evd_opt17_type_1", onclick = "enable('txt_evd_opt17_type_other');" })
            @Html.Label("rb_evd_opt17_type_1", "清澈")
            @Html.RadioButton("rb_evd_opt17_type", "", false, new { id = "rb_evd_opt17_type_2", onclick = "enable('txt_evd_opt17_type_other');" })
            @Html.Label("rb_evd_opt17_type_2", "混濁")
            @Html.RadioButton("rb_evd_opt17_type", "", false, new { id = "rb_evd_opt17_type_other", onclick = "able('txt_evd_opt17_type_other');" })
            @Html.Label("rb_evd_opt17_type_other", "其他")
            @Html.TextBox("txt_evd_opt17_type_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>