@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
    .tabArea .subtitle {
        width: 180px;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(".tabArea").tabs({ active: 0 });
    });

    function change() {
        if ($('#select_key').val() == '1') {
            window.location.href = "Insert";
        }
        else if ($('#select_key').val() == '2') {
            window.location.href = "Mood";
        }
        else if ($('#select_key').val() == '3') {
            window.location.href = "Body";
        }
        else if ($('#select_key').val() == '4') {
            window.location.href = "Conventional";
        }
    }

    function addscore() {
        var score = 0;
        var rb = $(".score")
        for (var i = 1; i < rb.length; i++) {
            if (rb[i].checked)
                score = score + parseInt(rb[i].value);
        }
        document.getElementById("score").innerText = score;
    }
</script>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="padding-bottom:5px;">
            <div class="funcArea" >
                <select id="select_key" onchange="change();">
                    <option value="1">ICU</option>
                    <option value="2" selected="selected">心情溫度計</option>
                    <option value="3">身體評估</option>
                    <option value="4">大小夜常規評估</option>
                </select>
                <input type="button" value="儲存" style="width:50px;" onclick="alert('儲存成功')" />
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <div class="tabArea">
                <ul>
                    <li><a href="#tabs1">心情溫度計</a></li>
                </ul>
                <div id="tabs1" class="tab">
                    <p>
                        @Html.Label("lab", "1.感覺緊張不安", new { @class = "subtitle" })
                        @Html.RadioButton("rb_list1", "0", false, new { id = "list1_1", @class = "score", onclick = "addscore();" })
                        @Html.Label("list1_1", "0.完全沒有")
                        @Html.RadioButton("rb_list1", "1", false, new { id = "list1_2", @class = "score", onclick = "addscore();" })
                        @Html.Label("list1_2", "1.輕微")
                        @Html.RadioButton("rb_list1", "2", false, new { id = "list1_3", @class = "score", onclick = "addscore();" })
                        @Html.Label("list1_3", "2.中等程度")
                        @Html.RadioButton("rb_list1", "3", false, new { id = "list1_4", @class = "score", onclick = "addscore();" })
                        @Html.Label("list1_4", "3.厲害")
                        @Html.RadioButton("rb_list1", "4", false, new { id = "list1_5", @class = "score", onclick = "addscore();" })
                        @Html.Label("list1_5", "4.非常厲害")
                    </p>
                    <p>
                        @Html.Label("lab", "2.感覺容易苦惱或動怒", new { @class = "subtitle" })
                        @Html.RadioButton("rb_list2", "0", false, new { id = "list2_1", @class = "score", onclick = "addscore();" })
                        @Html.Label("list2_1", "0.完全沒有")
                        @Html.RadioButton("rb_list2", "1", false, new { id = "list2_2", @class = "score", onclick = "addscore();" })
                        @Html.Label("list2_2", "1.輕微")
                        @Html.RadioButton("rb_list2", "2", false, new { id = "list2_3", @class = "score", onclick = "addscore();" })
                        @Html.Label("list2_3", "2.中等程度")
                        @Html.RadioButton("rb_list2", "3", false, new { id = "list2_4", @class = "score", onclick = "addscore();" })
                        @Html.Label("list2_4", "3.厲害")
                        @Html.RadioButton("rb_list2", "4", false, new { id = "list2_5", @class = "score", onclick = "addscore();" })
                        @Html.Label("list2_5", "4.非常厲害")
                    </p>
                    <p>
                        @Html.Label("lab", "3.感覺憂鬱、心情低落", new { @class = "subtitle" })
                        @Html.RadioButton("rb_list3", "0", false, new { id = "list3_1", @class = "score", onclick = "addscore();" })
                        @Html.Label("list3_1", "0.完全沒有")
                        @Html.RadioButton("rb_list3", "1", false, new { id = "list3_2", @class = "score", onclick = "addscore();" })
                        @Html.Label("list3_2", "1.輕微")
                        @Html.RadioButton("rb_list3", "2", false, new { id = "list3_3", @class = "score", onclick = "addscore();" })
                        @Html.Label("list3_3", "2.中等程度")
                        @Html.RadioButton("rb_list3", "3", false, new { id = "list3_4", @class = "score", onclick = "addscore();" })
                        @Html.Label("list3_4", "3.厲害")
                        @Html.RadioButton("rb_list3", "4", false, new { id = "list3_5", @class = "score", onclick = "addscore();" })
                        @Html.Label("list3_5", "4.非常厲害")
                    </p>
                    <p>
                        @Html.Label("lab", "4.覺得比不上別人", new { @class = "subtitle" })
                        @Html.RadioButton("rb_list4", "0", false, new { id = "list4_1", @class = "score", onclick = "addscore();" })
                        @Html.Label("list4_1", "0.完全沒有")
                        @Html.RadioButton("rb_list4", "1", false, new { id = "list4_2", @class = "score", onclick = "addscore();" })
                        @Html.Label("list4_2", "1.輕微")
                        @Html.RadioButton("rb_list4", "2", false, new { id = "list4_3", @class = "score", onclick = "addscore();" })
                        @Html.Label("list4_3", "2.中等程度")
                        @Html.RadioButton("rb_list4", "3", false, new { id = "list4_4", @class = "score", onclick = "addscore();" })
                        @Html.Label("list4_4", "3.厲害")
                        @Html.RadioButton("rb_list4", "4", false, new { id = "list4_5", @class = "score", onclick = "addscore();" })
                        @Html.Label("list4_5", "4.非常厲害")
                    </p>
                    <p style="height:50px;">
                        @Html.Label("lab", "5.睡眠困難，譬如難以入睡、易睡、或早醒", new { @class = "subtitle", style="height:40px;" })
                        @Html.RadioButton("rb_list5", "0", false, new { id = "list5_1", @class = "score", onclick = "addscore();" })
                        @Html.Label("list5_1", "0.完全沒有")
                        @Html.RadioButton("rb_list5", "1", false, new { id = "list5_2", @class = "score", onclick = "addscore();" })
                        @Html.Label("list5_2", "1.輕微")
                        @Html.RadioButton("rb_list5", "2", false, new { id = "list5_3", @class = "score", onclick = "addscore();" })
                        @Html.Label("list5_3", "2.中等程度")
                        @Html.RadioButton("rb_list5", "3", false, new { id = "list5_4", @class = "score", onclick = "addscore();" })
                        @Html.Label("list5_4", "3.厲害")
                        @Html.RadioButton("rb_list5", "4", false, new { id = "list5_5", @class = "score", onclick = "addscore();" })
                        @Html.Label("list5_5", "4.非常厲害")
                    </p>
                    <p>
                        @Html.Label("lab", "有自殺的想法", new { @class = "subtitle" })
                        @Html.RadioButton("rb_list6", "0", false, new { id = "list6_1" })
                        @Html.Label("list6_1", "0.完全沒有")
                        @Html.RadioButton("rb_list6", "1", false, new { id = "list6_2" })
                        @Html.Label("list6_2", "1.輕微")
                        @Html.RadioButton("rb_list6", "2", false, new { id = "list6_3" })
                        @Html.Label("list6_3", "2.中等程度")
                        @Html.RadioButton("rb_list6", "3", false, new { id = "list6_4" })
                        @Html.Label("list6_4", "3.厲害")
                        @Html.RadioButton("rb_list6", "4", false, new { id = "list6_5" })
                        @Html.Label("list6_5", "4.非常厲害")
                    </p>
                    <p>
                        @Html.Label("lab", "曾經有自殺史", new { @class = "subtitle" })
                        @Html.RadioButton("rb_list7", "0", false, new { id = "list7_1" })
                        @Html.Label("list7_1", "是")
                        @Html.RadioButton("rb_list7", "1", false, new { id = "list7_2" })
                        @Html.Label("list7_2", "否")
                        @Html.RadioButton("rb_list7", "2", false, new { id = "list7_3" })
                        @Html.Label("list7_3", "未填寫")
                    </p>
                    <p>
                        @Html.Label("lab", "前五題總計", new { @class = "subtitle" })
                        <label id="score">0</label>
                    </p>
                    <p>
                        @Html.Label("lab", "拒絕填寫之原因", new { @class = "subtitle" })
                        @Html.CheckBox("ck_reject")
                        @Html.Label("ck_reject","拒絕")
                        @Html.CheckBox("ck_not")
                        @Html.Label("ck_not", "病況不適宜填寫")
                    </p>
                </div>
            </div>
        </td>
    </tr>
</table>