        <div>
            <div id="tube_opt1" countid="0">
                <p>
                    <img id="butAdd_opt1" src="~/Images/plus.png" onmouseover="this.style.cursor='pointer'" width="16" title="新增一筆" alt="新增一筆" onclick="clonediv('tube_opt1','butAdd_opt1');" />
                    @Html.Label("lab", "A-line-部位", new { @class = "subtitle" })
                    @Html.CheckBox("ck_tube_opt1_1")
                    @Html.Label("ck_tube_opt1_1", "左")
                    @Html.CheckBox("ck_tube_opt1_2")
                    @Html.Label("ck_tube_opt1_2", "右")
                    @Html.CheckBox("ck_tube_opt1_3")
                    @Html.Label("ck_tube_opt1_3", "肘")
                    @Html.CheckBox("ck_tube_opt1_4")
                    @Html.Label("ck_tube_opt1_4", "腕")
                    @Html.CheckBox("ck_tube_opt1_5")
                    @Html.Label("ck_tube_opt1_5", "股")
                    @Html.CheckBox("ck_tube_opt1_6")
                    @Html.Label("ck_tube_opt1_6", "足背")
                </p>
            </div>
        </div>
        <div id="tube_opt1_clone">
        </div>
        <div>
            <div id="tube_opt2" countid="0">
                <p>
                    <img id="butAdd_opt2" src="~/Images/plus.png" onmouseover="this.style.cursor='pointer'" width="16" title="新增一筆" alt="新增一筆" onclick="clonediv('tube_opt2','butAdd_opt2');" />
                    @Html.Label("lab", "CVC-部位", new { @class = "subtitle" })
                    @Html.CheckBox("ck_tube_opt2_1")
                    @Html.Label("ck_tube_opt2_1", "左")
                    @Html.CheckBox("ck_tube_opt2_2")
                    @Html.Label("ck_tube_opt2_2", "右")
                    @Html.CheckBox("ck_tube_opt2_3")
                    @Html.Label("ck_tube_opt2_3", "頸")
                    @Html.CheckBox("ck_tube_opt2_4")
                    @Html.Label("ck_tube_opt2_4", "鎖骨下")
                    @Html.CheckBox("ck_tube_opt2_5")
                    @Html.Label("ck_tube_opt2_5", "鼠蹊")
                </p>
            </div>
        </div>
        <div id="tube_opt2_clone">
        </div>
        <div>
            <div id="tube_opt3" countid="0">
                <p>
                    <img id="butAdd_opt3" src="~/Images/plus.png" onmouseover="this.style.cursor='pointer'" width="16" title="新增一筆" alt="新增一筆" onclick="clonediv('tube_opt3','butAdd_opt3');" />
                    @Html.Label("lab", "IC-部位", new { @class = "subtitle" })
                    @Html.CheckBox("ck_tube_opt3_1")
                    @Html.Label("ck_tube_opt3_1", "左")
                    @Html.CheckBox("ck_tube_opt3_2")
                    @Html.Label("ck_tube_opt3_2", "右")
                    @Html.CheckBox("ck_tube_opt3_3")
                    @Html.Label("ck_tube_opt3_3", "手")
                    @Html.CheckBox("ck_tube_opt3_4")
                    @Html.Label("ck_tube_opt3_4", "腳")
                    @Html.CheckBox("ck_tube_opt3_5")
                    @Html.Label("ck_tube_opt3_5", "股")
                    @Html.CheckBox("ck_tube_opt3_6", false, new { onclick = "ckable(this,'txt_tube_opt3_6');" })
                    @Html.Label("ck_tube_opt3_6", "其他")
                    @Html.TextBox("txt_tube_opt3_6", "", new { style = "width:80px;", disabled = "disabled" })
                </p>
            </div>
        </div>
        <div id="tube_opt3_clone">
        </div>
        <div>
            <div id="tube_opt4" countid="0">
                <p style="height:40px;">
                    <img id="butAdd_opt4" src="~/Images/plus.png" onmouseover="this.style.cursor='pointer'" width="16" title="新增一筆" alt="新增一筆" onclick="clonediv('tube_opt4','butAdd_opt4');" />
                    @Html.Label("lab", "其他導管", new { @class = "subtitle" })
                    部位
                    @Html.TextBox("txt_tube_opt4_1", "", new { style = "width:120px;" })
                    <select id="sel_tube_opt4_2">
                        <option>請選擇</option>
                        <option>Clear</option>
                        <option>紅腫</option>
                        <option>滲液</option>
                        <option>其他</option>
                    </select>
                </p>
            </div>
        </div>
        <div id="tube_opt4_clone">
        </div>