        <p>
            @Html.Label("lab", "心跳節律", new { @class = "subtitle" })
            @Html.CheckBox("ck_vitalsign_opt1_1")
            @Html.Label("ck_vitalsign_opt1_1", "sinus rhythm")
            @Html.CheckBox("ck_vitalsign_opt1_2")
            @Html.Label("ck_vitalsign_opt1_2", "bradycardia")
            @Html.CheckBox("ck_vitalsign_opt1_3")
            @Html.Label("ck_vitalsign_opt1_3", "tachycardia")
        </p>
        <p style="padding-left:170px;">
            @Html.CheckBox("ck_vitalsign_opt1_4")
            @Html.Label("ck_vitalsign_opt1_4", "atrial fibrillation")
            @Html.CheckBox("ck_vitalsign_opt1_other", false, new { onclick = "ckable(this,'txt_vitalsign_opt1_other')" })
            @Html.Label("ck_vitalsign_opt1_other", "其他")
            @Html.TextBox("txt_vitalsign_opt1_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "指端再充血-時間", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt2", "", false, new { id = "rb_vitalsign_opt2_1" })
            @Html.Label("rb_vitalsign_opt2_1", "≦3秒")
            @Html.RadioButton("rb_vitalsign_opt2", "", false, new { id = "rb_vitalsign_opt2_2" })
            @Html.Label("rb_vitalsign_opt2_2", ">3秒")
        </p>
        <p>
            @Html.Label("lab", "指端再充血-顏色", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt3", "", false, new { id = "rb_vitalsign_opt3_1", onclick = "enable('txt_vitalsign_opt3_other')" })
            @Html.Label("rb_vitalsign_opt3_1", "粉紅")
            @Html.RadioButton("rb_vitalsign_opt3", "", false, new { id = "rb_vitalsign_opt3_2", onclick = "enable('txt_vitalsign_opt3_other')" })
            @Html.Label("rb_vitalsign_opt3_2", "蒼白")
            @Html.RadioButton("rb_vitalsign_opt3", "", false, new { id = "rb_vitalsign_opt3_3", onclick = "enable('txt_vitalsign_opt3_other')" })
            @Html.Label("rb_vitalsign_opt3_3", "紫")
            @Html.RadioButton("rb_vitalsign_opt3", "", false, new { id = "rb_vitalsign_opt3_other", onclick = "able('txt_vitalsign_opt3_other')" })
            @Html.Label("rb_vitalsign_opt3_other", "其他")
            @Html.TextBox("txt_vitalsign_opt3_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "足背動脈", new { @class = "subtitle" })
            左：
            @Html.RadioButton("rb_vitalsign_opt4_left", "", false, new { id = "rb_vitalsign_opt4_left_1" })
            @Html.Label("rb_vitalsign_opt4_left_1", "－")
            @Html.RadioButton("rb_vitalsign_opt4_left", "", false, new { id = "rb_vitalsign_opt4_left_2" })
            @Html.Label("rb_vitalsign_opt4_left_2", "±")
            @Html.RadioButton("rb_vitalsign_opt4_left", "", false, new { id = "rb_vitalsign_opt4_left_3" })
            @Html.Label("rb_vitalsign_opt4_left_3", "＋")
            @Html.RadioButton("rb_vitalsign_opt4_left", "", false, new { id = "rb_vitalsign_opt4_left_4" })
            @Html.Label("rb_vitalsign_opt4_left_4", "＋＋")
            @Html.RadioButton("rb_vitalsign_opt4_left", "", false, new { id = "rb_vitalsign_opt4_left_5" })
            @Html.Label("rb_vitalsign_opt4_left_5", "＋＋＋")
            @Html.RadioButton("rb_vitalsign_opt4_left", "", false, new { id = "rb_vitalsign_opt4_left_6" })
            @Html.Label("rb_vitalsign_opt4_left_6", "截肢")
        </p>
        <p style="padding-left:170px;">
            右：
            @Html.RadioButton("rb_vitalsign_opt4_right", "", false, new { id = "rb_vitalsign_opt4_right_1" })
            @Html.Label("rb_vitalsign_opt4_right_1", "－")
            @Html.RadioButton("rb_vitalsign_opt4_right", "", false, new { id = "rb_vitalsign_opt4_right_2" })
            @Html.Label("rb_vitalsign_opt4_right_2", "±")
            @Html.RadioButton("rb_vitalsign_opt4_right", "", false, new { id = "rb_vitalsign_opt4_right_3" })
            @Html.Label("rb_vitalsign_opt4_right_3", "＋")
            @Html.RadioButton("rb_vitalsign_opt4_right", "", false, new { id = "rb_vitalsign_opt4_right_4" })
            @Html.Label("rb_vitalsign_opt4_right_4", "＋＋")
            @Html.RadioButton("rb_vitalsign_opt4_right", "", false, new { id = "rb_vitalsign_opt4_right_5" })
            @Html.Label("rb_vitalsign_opt4_right_5", "＋＋＋")
            @Html.RadioButton("rb_vitalsign_opt4_right", "", false, new { id = "rb_vitalsign_opt4_right_6" })
            @Html.Label("rb_vitalsign_opt4_right_6", "截肢")
        </p>
        <p>
            @Html.Label("lab", "橈動脈", new { @class = "subtitle" })
            左：
            @Html.RadioButton("rb_vitalsign_opt5_left", "", false, new { id = "rb_vitalsign_opt5_left_1" })
            @Html.Label("rb_vitalsign_opt5_left_1", "－")
            @Html.RadioButton("rb_vitalsign_opt5_left", "", false, new { id = "rb_vitalsign_opt5_left_2" })
            @Html.Label("rb_vitalsign_opt5_left_2", "±")
            @Html.RadioButton("rb_vitalsign_opt5_left", "", false, new { id = "rb_vitalsign_opt5_left_3" })
            @Html.Label("rb_vitalsign_opt5_left_3", "＋")
            @Html.RadioButton("rb_vitalsign_opt5_left", "", false, new { id = "rb_vitalsign_opt5_left_4" })
            @Html.Label("rb_vitalsign_opt5_left_4", "＋＋")
            @Html.RadioButton("rb_vitalsign_opt5_left", "", false, new { id = "rb_vitalsign_opt5_left_5" })
            @Html.Label("rb_vitalsign_opt5_left_5", "＋＋＋")
            @Html.RadioButton("rb_vitalsign_opt5_left", "", false, new { id = "rb_vitalsign_opt5_left_6" })
            @Html.Label("rb_vitalsign_opt5_left_6", "截肢")
        </p>
        <p style="padding-left:170px;">
            右：
            @Html.RadioButton("rb_vitalsign_opt5_right", "", false, new { id = "rb_vitalsign_opt5_right_1" })
            @Html.Label("rb_vitalsign_opt5_right_1", "－")
            @Html.RadioButton("rb_vitalsign_opt5_right", "", false, new { id = "rb_vitalsign_opt5_right_2" })
            @Html.Label("rb_vitalsign_opt5_right_2", "±")
            @Html.RadioButton("rb_vitalsign_opt5_right", "", false, new { id = "rb_vitalsign_opt5_right_3" })
            @Html.Label("rb_vitalsign_opt5_right_3", "＋")
            @Html.RadioButton("rb_vitalsign_opt5_right", "", false, new { id = "rb_vitalsign_opt5_right_4" })
            @Html.Label("rb_vitalsign_opt5_right_4", "＋＋")
            @Html.RadioButton("rb_vitalsign_opt5_right", "", false, new { id = "rb_vitalsign_opt5_right_5" })
            @Html.Label("rb_vitalsign_opt5_right_5", "＋＋＋")
            @Html.RadioButton("rb_vitalsign_opt5_right", "", false, new { id = "rb_vitalsign_opt5_right_6" })
            @Html.Label("rb_vitalsign_opt5_right_6", "截肢")
        </p>
        <p>
            @Html.Label("lab", "肱動脈", new { @class = "subtitle" })
            左：
            @Html.RadioButton("rb_vitalsign_opt6_left", "", false, new { id = "rb_vitalsign_opt6_left_1" })
            @Html.Label("rb_vitalsign_opt6_left_1", "－")
            @Html.RadioButton("rb_vitalsign_opt6_left", "", false, new { id = "rb_vitalsign_opt6_left_2" })
            @Html.Label("rb_vitalsign_opt6_left_2", "±")
            @Html.RadioButton("rb_vitalsign_opt6_left", "", false, new { id = "rb_vitalsign_opt6_left_3" })
            @Html.Label("rb_vitalsign_opt6_left_3", "＋")
            @Html.RadioButton("rb_vitalsign_opt6_left", "", false, new { id = "rb_vitalsign_opt6_left_4" })
            @Html.Label("rb_vitalsign_opt6_left_4", "＋＋")
            @Html.RadioButton("rb_vitalsign_opt6_left", "", false, new { id = "rb_vitalsign_opt6_left_5" })
            @Html.Label("rb_vitalsign_opt6_left_5", "＋＋＋")
            @Html.RadioButton("rb_vitalsign_opt6_left", "", false, new { id = "rb_vitalsign_opt6_left_6" })
            @Html.Label("rb_vitalsign_opt6_left_6", "截肢")
        </p>
        <p style="padding-left:170px;">
            右：
            @Html.RadioButton("rb_vitalsign_opt6_right", "", false, new { id = "rb_vitalsign_opt6_right_1" })
            @Html.Label("rb_vitalsign_opt6_right_1", "－")
            @Html.RadioButton("rb_vitalsign_opt6_right", "", false, new { id = "rb_vitalsign_opt6_right_2" })
            @Html.Label("rb_vitalsign_opt6_right_2", "±")
            @Html.RadioButton("rb_vitalsign_opt6_right", "", false, new { id = "rb_vitalsign_opt6_right_3" })
            @Html.Label("rb_vitalsign_opt6_right_3", "＋")
            @Html.RadioButton("rb_vitalsign_opt6_right", "", false, new { id = "rb_vitalsign_opt6_right_4" })
            @Html.Label("rb_vitalsign_opt6_right_4", "＋＋")
            @Html.RadioButton("rb_vitalsign_opt6_right", "", false, new { id = "rb_vitalsign_opt6_right_5" })
            @Html.Label("rb_vitalsign_opt6_right_5", "＋＋＋")
            @Html.RadioButton("rb_vitalsign_opt6_right", "", false, new { id = "rb_vitalsign_opt6_right_6" })
            @Html.Label("rb_vitalsign_opt6_right_6", "截肢")
        </p>
        <p>
            @Html.Label("lab", "疼痛評估", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt7", "", false, new { id = "rb_vitalsign_opt7_1" })
            @Html.Label("rb_vitalsign_opt7_1", "0")
            @Html.RadioButton("rb_vitalsign_opt7", "", false, new { id = "rb_vitalsign_opt7_2" })
            @Html.Label("rb_vitalsign_opt7_2", "1")
            @Html.RadioButton("rb_vitalsign_opt7", "", false, new { id = "rb_vitalsign_opt7_3" })
            @Html.Label("rb_vitalsign_opt7_3", "2")
            @Html.RadioButton("rb_vitalsign_opt7", "", false, new { id = "rb_vitalsign_opt7_4" })
            @Html.Label("rb_vitalsign_opt7_4", "3")
            @Html.RadioButton("rb_vitalsign_opt7", "", false, new { id = "rb_vitalsign_opt7_5" })
            @Html.Label("rb_vitalsign_opt7_5", "4")
            @Html.RadioButton("rb_vitalsign_opt7", "", false, new { id = "rb_vitalsign_opt7_6" })
            @Html.Label("rb_vitalsign_opt7_6", "5")
            @Html.RadioButton("rb_vitalsign_opt7", "", false, new { id = "rb_vitalsign_opt7_7" })
            @Html.Label("rb_vitalsign_opt7_7", "6")
            @Html.RadioButton("rb_vitalsign_opt7", "", false, new { id = "rb_vitalsign_opt7_8" })
            @Html.Label("rb_vitalsign_opt7_8", "7")
            @Html.RadioButton("rb_vitalsign_opt7", "", false, new { id = "rb_vitalsign_opt7_9" })
            @Html.Label("rb_vitalsign_opt7_9", "8")
            @Html.RadioButton("rb_vitalsign_opt7", "", false, new { id = "rb_vitalsign_opt7_10" })
            @Html.Label("rb_vitalsign_opt7_10", "9")
            @Html.RadioButton("rb_vitalsign_opt7", "", false, new { id = "rb_vitalsign_opt7_11" })
            @Html.Label("rb_vitalsign_opt7_11", "10")
        </p>
        <p>
            @Html.Label("lab", "困難評估(成人)", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt8", "", false, new { id = "rb_vitalsign_opt8_1" })
            @Html.Label("rb_vitalsign_opt8_1", "0")
            @Html.RadioButton("rb_vitalsign_opt8", "", false, new { id = "rb_vitalsign_opt8_2" })
            @Html.Label("rb_vitalsign_opt8_2", "1")
            @Html.RadioButton("rb_vitalsign_opt8", "", false, new { id = "rb_vitalsign_opt8_3" })
            @Html.Label("rb_vitalsign_opt8_3", "2")
            @Html.RadioButton("rb_vitalsign_opt8", "", false, new { id = "rb_vitalsign_opt8_4" })
            @Html.Label("rb_vitalsign_opt8_4", "3")
            @Html.RadioButton("rb_vitalsign_opt8", "", false, new { id = "rb_vitalsign_opt8_5" })
            @Html.Label("rb_vitalsign_opt8_5", "4")
            @Html.RadioButton("rb_vitalsign_opt8", "", false, new { id = "rb_vitalsign_opt8_6" })
            @Html.Label("rb_vitalsign_opt8_6", "5")
            @Html.RadioButton("rb_vitalsign_opt8", "", false, new { id = "rb_vitalsign_opt8_7" })
            @Html.Label("rb_vitalsign_opt8_7", "6")
            @Html.RadioButton("rb_vitalsign_opt8", "", false, new { id = "rb_vitalsign_opt8_8" })
            @Html.Label("rb_vitalsign_opt8_8", "7")
            @Html.RadioButton("rb_vitalsign_opt8", "", false, new { id = "rb_vitalsign_opt8_9" })
            @Html.Label("rb_vitalsign_opt8_9", "8")
            @Html.RadioButton("rb_vitalsign_opt8", "", false, new { id = "rb_vitalsign_opt8_10" })
            @Html.Label("rb_vitalsign_opt8_10", "9")
            @Html.RadioButton("rb_vitalsign_opt8", "", false, new { id = "rb_vitalsign_opt8_11" })
            @Html.Label("rb_vitalsign_opt8_11", "10")
        </p>
        <p>
            @Html.Label("lab", "困難評估(兒童)", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt9", "", false, new { id = "rb_vitalsign_opt9_1" })
            @Html.Label("rb_vitalsign_opt9_1", "0")
            @Html.RadioButton("rb_vitalsign_opt9", "", false, new { id = "rb_vitalsign_opt9_2" })
            @Html.Label("rb_vitalsign_opt9_2", "1")
            @Html.RadioButton("rb_vitalsign_opt9", "", false, new { id = "rb_vitalsign_opt9_3" })
            @Html.Label("rb_vitalsign_opt9_3", "2")
            @Html.RadioButton("rb_vitalsign_opt9", "", false, new { id = "rb_vitalsign_opt9_4" })
            @Html.Label("rb_vitalsign_opt9_4", "3")
            @Html.RadioButton("rb_vitalsign_opt9", "", false, new { id = "rb_vitalsign_opt9_5" })
            @Html.Label("rb_vitalsign_opt9_5", "4")
            @Html.RadioButton("rb_vitalsign_opt9", "", false, new { id = "rb_vitalsign_opt9_6" })
            @Html.Label("rb_vitalsign_opt9_6", "5")
            @Html.RadioButton("rb_vitalsign_opt9", "", false, new { id = "rb_vitalsign_opt9_7" })
            @Html.Label("rb_vitalsign_opt9_7", "6")
            @Html.RadioButton("rb_vitalsign_opt9", "", false, new { id = "rb_vitalsign_opt9_8" })
            @Html.Label("rb_vitalsign_opt9_8", "7")
            @Html.RadioButton("rb_vitalsign_opt9", "", false, new { id = "rb_vitalsign_opt9_9" })
            @Html.Label("rb_vitalsign_opt9_9", "8")
            @Html.RadioButton("rb_vitalsign_opt9", "", false, new { id = "rb_vitalsign_opt9_10" })
            @Html.Label("rb_vitalsign_opt9_10", "9")
            @Html.RadioButton("rb_vitalsign_opt9", "", false, new { id = "rb_vitalsign_opt9_11" })
            @Html.Label("rb_vitalsign_opt9_11", "10")
        </p>
        <p>
            @Html.Label("lab", "困難評估（新生兒）", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt10", "", false, new { id = "rb_vitalsign_opt10_1" })
            @Html.Label("rb_vitalsign_opt10_1", "0")
            @Html.RadioButton("rb_vitalsign_opt10", "", false, new { id = "rb_vitalsign_opt10_2" })
            @Html.Label("rb_vitalsign_opt10_2", "1")
            @Html.RadioButton("rb_vitalsign_opt10", "", false, new { id = "rb_vitalsign_opt10_3" })
            @Html.Label("rb_vitalsign_opt10_3", "2")
            @Html.RadioButton("rb_vitalsign_opt10", "", false, new { id = "rb_vitalsign_opt10_4" })
            @Html.Label("rb_vitalsign_opt10_4", "3")
            @Html.RadioButton("rb_vitalsign_opt10", "", false, new { id = "rb_vitalsign_opt10_5" })
            @Html.Label("rb_vitalsign_opt10_5", "4")
            @Html.RadioButton("rb_vitalsign_opt10", "", false, new { id = "rb_vitalsign_opt10_6" })
            @Html.Label("rb_vitalsign_opt10_6", "5")
            @Html.RadioButton("rb_vitalsign_opt10", "", false, new { id = "rb_vitalsign_opt10_7" })
            @Html.Label("rb_vitalsign_opt10_7", "6")
            @Html.RadioButton("rb_vitalsign_opt10", "", false, new { id = "rb_vitalsign_opt10_8" })
            @Html.Label("rb_vitalsign_opt10_8", "7")
            @Html.RadioButton("rb_vitalsign_opt10", "", false, new { id = "rb_vitalsign_opt10_9" })
            @Html.Label("rb_vitalsign_opt10_9", "8")
            @Html.RadioButton("rb_vitalsign_opt10", "", false, new { id = "rb_vitalsign_opt10_10" })
            @Html.Label("rb_vitalsign_opt10_10", "9")
            @Html.RadioButton("rb_vitalsign_opt10", "", false, new { id = "rb_vitalsign_opt10_11" })
            @Html.Label("rb_vitalsign_opt10_11", "10")
        </p>
        <p>
            @Html.Label("lab", "CPOT", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt11", "", false, new { id = "rb_vitalsign_opt11_1" })
            @Html.Label("rb_vitalsign_opt11_1", "0")
            @Html.RadioButton("rb_vitalsign_opt11", "", false, new { id = "rb_vitalsign_opt11_2" })
            @Html.Label("rb_vitalsign_opt11_2", "1")
            @Html.RadioButton("rb_vitalsign_opt11", "", false, new { id = "rb_vitalsign_opt11_3" })
            @Html.Label("rb_vitalsign_opt11_3", "2")
            @Html.RadioButton("rb_vitalsign_opt11", "", false, new { id = "rb_vitalsign_opt11_4" })
            @Html.Label("rb_vitalsign_opt11_4", "3")
            @Html.RadioButton("rb_vitalsign_opt11", "", false, new { id = "rb_vitalsign_opt11_5" })
            @Html.Label("rb_vitalsign_opt11_5", "4")
            @Html.RadioButton("rb_vitalsign_opt11", "", false, new { id = "rb_vitalsign_opt11_6" })
            @Html.Label("rb_vitalsign_opt11_6", "5")
            @Html.RadioButton("rb_vitalsign_opt11", "", false, new { id = "rb_vitalsign_opt11_7" })
            @Html.Label("rb_vitalsign_opt11_7", "6")
            @Html.RadioButton("rb_vitalsign_opt11", "", false, new { id = "rb_vitalsign_opt11_8" })
            @Html.Label("rb_vitalsign_opt11_8", "7")
            @Html.RadioButton("rb_vitalsign_opt11", "", false, new { id = "rb_vitalsign_opt11_9" })
            @Html.Label("rb_vitalsign_opt11_9", "8")
        </p>
        <p>
            @Html.Label("lab", "頸靜脈怒張", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt12", "", false, new { id = "rb_vitalsign_opt12_1" })
            @Html.Label("rb_vitalsign_opt12_1", "有")
            @Html.RadioButton("rb_vitalsign_opt12", "", false, new { id = "rb_vitalsign_opt12_2" })
            @Html.Label("rb_vitalsign_opt12_2", "無")
        </p>
        <p>
            @Html.Label("lab", "呼吸型態", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt13", "", false, new { id = "rb_vitalsign_opt13_1", onclick = "enable('txt_vitalsign_opt13_other');" })
            @Html.Label("rb_vitalsign_opt13_1", "平順")
            @Html.RadioButton("rb_vitalsign_opt13", "", false, new { id = "rb_vitalsign_opt13_2", onclick = "enable('txt_vitalsign_opt13_other');" })
            @Html.Label("rb_vitalsign_opt13_2", "喘")
            @Html.RadioButton("rb_vitalsign_opt13", "", false, new { id = "rb_vitalsign_opt13_3", onclick = "enable('txt_vitalsign_opt13_other');" })
            @Html.Label("rb_vitalsign_opt13_3", "緩慢")
            @Html.RadioButton("rb_vitalsign_opt13", "", false, new { id = "rb_vitalsign_opt13_other", onclick = "able('txt_vitalsign_opt13_other');" })
            @Html.Label("rb_vitalsign_opt13_other", "其他")
            @Html.TextBox("txt_vitalsign_opt13_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "機械通氣", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt14", "", false, new { id = "rb_vitalsign_opt14_1", onclick = "able('txt_vitalsign_opt14_1');enable('txt_vitalsign_opt14_2');enable('txt_vitalsign_opt14_3');enable('txt_vitalsign_opt14_4');enable('txt_vitalsign_opt14_5');" })
            @Html.Label("rb_vitalsign_opt14_1", "Endo tube")
            @Html.TextBox("txt_vitalsign_opt14_1", "", new { style = "width:40px;", disabled = "disabled" }) Fr
            @Html.RadioButton("rb_vitalsign_opt14", "", false, new { id = "rb_vitalsign_opt14_2", onclick = "enable('txt_vitalsign_opt14_1');able('txt_vitalsign_opt14_2');enable('txt_vitalsign_opt14_3');enable('txt_vitalsign_opt14_4');enable('txt_vitalsign_opt14_5');" })
            @Html.Label("rb_vitalsign_opt14_2", "Tracheal")
            @Html.TextBox("txt_vitalsign_opt14_2", "", new { style = "width:40px;", disabled = "disabled" }) Fr
            @Html.RadioButton("rb_vitalsign_opt14", "", false, new { id = "rb_vitalsign_opt14_3", onclick = "enable('txt_vitalsign_opt14_1');enable('txt_vitalsign_opt14_2');able('txt_vitalsign_opt14_3');enable('txt_vitalsign_opt14_4');enable('txt_vitalsign_opt14_5');" })
            @Html.Label("rb_vitalsign_opt14_3", "氣囊壓力")
            @Html.TextBox("txt_vitalsign_opt14_3", "", new { style = "width:60px;", disabled = "disabled" }) mmHg
        </p>
        <p style="padding-left:170px;">
            @Html.RadioButton("rb_vitalsign_opt14", "", false, new { id = "rb_vitalsign_opt14_4", onclick = "enable('txt_vitalsign_opt14_1');enable('txt_vitalsign_opt14_2');enable('txt_vitalsign_opt14_3');able('txt_vitalsign_opt14_4');enable('txt_vitalsign_opt14_5');" })
            @Html.Label("rb_vitalsign_opt14_4", "固定長度")
            @Html.TextBox("txt_vitalsign_opt14_4", "", new { style = "width:80px;", disabled = "disabled" }) cm
            @Html.RadioButton("rb_vitalsign_opt14", "", false, new { id = "rb_vitalsign_opt14_5", onclick = "enable('txt_vitalsign_opt14_1');enable('txt_vitalsign_opt14_2');enable('txt_vitalsign_opt14_3');enable('txt_vitalsign_opt14_4');able('txt_vitalsign_opt14_5');" })
            @Html.Label("rb_vitalsign_opt14_5", "其他")
            @Html.TextBox("txt_vitalsign_opt14_5", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "呼吸音-部位", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt15", "", false, new { id = "rb_vitalsign_opt15_1" })
            @Html.Label("rb_vitalsign_opt15_1", "右")
            @Html.RadioButton("rb_vitalsign_opt15", "", false, new { id = "rb_vitalsign_opt15_2" })
            @Html.Label("rb_vitalsign_opt15_2", "左")
        </p>
        <p>
            @Html.Label("lab", "呼吸音-型態", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt16", "", false, new { id = "rb_vitalsign_opt16_1", onclick = "enable('txt_vitalsign_opt16_other');" })
            @Html.Label("rb_vitalsign_opt16_1", "crackle")
            @Html.RadioButton("rb_vitalsign_opt16", "", false, new { id = "rb_vitalsign_opt16_2", onclick = "enable('txt_vitalsign_opt16_other');" })
            @Html.Label("rb_vitalsign_opt16_2", "wheezes")
            @Html.RadioButton("rb_vitalsign_opt16", "", false, new { id = "rb_vitalsign_opt16_3", onclick = "enable('txt_vitalsign_opt16_other');" })
            @Html.Label("rb_vitalsign_opt16_3", "rhonchi")
        </p><p style="padding-left:170px;">
            @Html.RadioButton("rb_vitalsign_opt16", "", false, new { id = "rb_vitalsign_opt16_4", onclick = "enable('txt_vitalsign_opt16_other');" })
            @Html.Label("rb_vitalsign_opt16_4", "stridor")
            @Html.RadioButton("rb_vitalsign_opt16", "", false, new { id = "rb_vitalsign_opt16_5", onclick = "enable('txt_vitalsign_opt16_other');" })
            @Html.Label("rb_vitalsign_opt16_5", "grunting")
            @Html.RadioButton("rb_vitalsign_opt16", "", false, new { id = "rb_vitalsign_opt16_other", onclick = "able('txt_vitalsign_opt16_other');" })
            @Html.Label("rb_vitalsign_opt16_other", "其他")
            @Html.TextBox("txt_vitalsign_opt16_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "呼吸治療", new { @class = "subtitle" })
            @Html.DropDownList("list_vitalsign_opt17", ViewData["List"] as SelectList)
            @Html.RadioButton("rb_vitalsign_opt17", "", false, new { id = "rb_vitalsign_opt17_1", onclick = "enable('txt_vitalsign_opt17_5');enable('txt_vitalsign_opt17_4');" })
            @Html.Label("rb_vitalsign_opt17_1", "T-piece")
            @Html.RadioButton("rb_vitalsign_opt17", "", false, new { id = "rb_vitalsign_opt17_2", onclick = "enable('txt_vitalsign_opt17_5');enable('txt_vitalsign_opt17_4');" })
            @Html.Label("rb_vitalsign_opt17_2", "Cannula_l/min")
            @Html.RadioButton("rb_vitalsign_opt17", "", false, new { id = "rb_vitalsign_opt17_3", onclick = "enable('txt_vitalsign_opt17_5');enable('txt_vitalsign_opt17_4');" })
            @Html.Label("rb_vitalsign_opt17_3", "Mask_l/min")
        </p>
        <p style="padding-left:170px;">
            @Html.RadioButton("rb_vitalsign_opt17", "", false, new { id = "rb_vitalsign_opt17_4", onclick = "enable('txt_vitalsign_opt17_5');able('txt_vitalsign_opt17_4');" })
            @Html.TextBox("txt_vitalsign_opt17_4", "", new { style = "width:80px;", disabled = "disabled" })
            %
            @Html.Label("rb_vitalsign_opt17_4", "FiO2  ")
            @Html.RadioButton("rb_vitalsign_opt17", "", false, new { id = "rb_vitalsign_opt17_5", onclick = "able('txt_vitalsign_opt17_5');enable('txt_vitalsign_opt17_4');" })
            @Html.Label("rb_vitalsign_opt17_5", "其他")
            @Html.TextBox("txt_vitalsign_opt17_5", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "Air-way", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt18", "", false, new { id = "rb_vitalsign_opt18_1", onclick = "enable('txt_vitalsign_opt18_4');enable('txt_vitalsign_opt18_3');" })
            @Html.Label("rb_vitalsign_opt18_1", "Bite")
            @Html.RadioButton("rb_vitalsign_opt18", "", false, new { id = "rb_vitalsign_opt18_2", onclick = "enable('txt_vitalsign_opt18_4');enable('txt_vitalsign_opt18_3');" })
            @Html.Label("rb_vitalsign_opt18_2", "Oral")
            @Html.RadioButton("rb_vitalsign_opt18", "", false, new { id = "rb_vitalsign_opt18_3", onclick = "enable('txt_vitalsign_opt18_4');able('txt_vitalsign_opt18_3');" })
            @Html.Label("rb_vitalsign_opt18_3", "Nasal")
            @Html.TextBox("txt_vitalsign_opt18_3", "", new { style = "width:80px;", disabled = "disabled" })號
            @Html.RadioButton("rb_vitalsign_opt18", "", false, new { id = "rb_vitalsign_opt18_4", onclick = "able('txt_vitalsign_opt18_4');enable('txt_vitalsign_opt18_3');" })
            @Html.Label("rb_vitalsign_opt18_4", "其他")
            @Html.TextBox("txt_vitalsign_opt18_4", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "痰液-量", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt19", "", false, new { id = "rb_vitalsign_opt19_1" })
            @Html.Label("rb_vitalsign_opt19_1", "多量")
            @Html.RadioButton("rb_vitalsign_opt19", "", false, new { id = "rb_vitalsign_opt19_2" })
            @Html.Label("rb_vitalsign_opt19_2", "中量")
            @Html.RadioButton("rb_vitalsign_opt19", "", false, new { id = "rb_vitalsign_opt19_3" })
            @Html.Label("rb_vitalsign_opt19_3", "少量")
        </p>
        <p>
            @Html.Label("lab", "痰液-顏色", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt20", "", false, new { id = "rb_vitalsign_opt20_1", onclick = "enable('txt_vitalsign_opt20_other');" })
            @Html.Label("rb_vitalsign_opt20_1", "黃")
            @Html.RadioButton("rb_vitalsign_opt20", "", false, new { id = "rb_vitalsign_opt20_2", onclick = "enable('txt_vitalsign_opt20_other');" })
            @Html.Label("rb_vitalsign_opt20_2", "白")
            @Html.RadioButton("rb_vitalsign_opt20", "", false, new { id = "rb_vitalsign_opt20_3", onclick = "enable('txt_vitalsign_opt20_other');" })
            @Html.Label("rb_vitalsign_opt20_3", "綠")
            @Html.RadioButton("rb_vitalsign_opt20", "", false, new { id = "rb_vitalsign_opt20_4", onclick = "enable('txt_vitalsign_opt20_other');" })
            @Html.Label("rb_vitalsign_opt20_4", "黃綠")
            @Html.RadioButton("rb_vitalsign_opt20", "", false, new { id = "rb_vitalsign_opt20_other", onclick = "able('txt_vitalsign_opt20_other');" })
            @Html.Label("rb_vitalsign_opt20_other", "其他")
            @Html.TextBox("txt_vitalsign_opt20_other", "", new { style = "width:80px;", disabled = "disabled" })
        </p>
        <p>
            @Html.Label("lab", "痰液-性狀", new { @class = "subtitle" })
            @Html.RadioButton("rb_vitalsign_opt21", "", false, new { id = "rb_vitalsign_opt21_1" })
            @Html.Label("rb_vitalsign_opt21_1", "稠")
            @Html.RadioButton("rb_vitalsign_opt21", "", false, new { id = "rb_vitalsign_opt21_2" })
            @Html.Label("rb_vitalsign_opt21_2", "稀")
        </p>