@using Newtonsoft.Json
@{
    // 20230731 LU 配合需求增加病患資訊性別判定
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
}
<script type="text/javascript">
    $(function () {
        setBundleGridColor();
        // 20231011 LU 配合選中調整選項
        $("input[name='bundle_uti_clean_condition']").on("click", function () {
            var value = this.value;
            var $obj = $("input[name='bundle_uti_clean_method'][value='無此需求']");
            if (value == "否") {
                $obj.prop("checked", true);
                $("input[name='bundle_uti_clean_method'][value='肥皂和清水']").prop("disabled", true);
                $("input[name='bundle_uti_clean_method'][value='清水']").prop("disabled", true);
                $("input[name='bundle_uti_clean_method'][value='其他']").prop("disabled", true);
            } else {
                $obj.prop("checked", false);
                $("input[name='bundle_uti_clean_method'][value='肥皂和清水']").prop("disabled", false);
                $("input[name='bundle_uti_clean_method'][value='清水']").prop("disabled", false);
                $("input[name='bundle_uti_clean_method'][value='其他']").prop("disabled", false);
            }
        });
    });
</script>

<table id="@ViewBag.table_id" class="tb_area bc_type" bctype="UTI" border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
    <tr must="S">
        <th colspan="4" id="table_id" tableid="" class="bundle_title">UTI Bundle Care</th>
    </tr>
    @* 20230731 LU 依需求暫時隱藏選項並調整非必選 *@
    <tr must="N" hidden style="display:none;">
        <th style="width:25%">導管需要留存原因</th>
        <td colspan="3">
            @VitalSign_Helper.assess_checkbox("bundle_uti_reason", "急性尿滯留或尿道阻塞或神經性膀胱|" +
"需要精確監測排尿量|需長期固定不動，如:胸腔或脊椎嚴重外傷或骨盆骨折|需膀胱沖洗或藥物留置治療|" +
"因手術需要|避免影響傷口癒合|增加病人舒適度，如:癌症末期病人|其他", "其他", "span_ck_bundle_uti_reason_other")
            <span class="span_ck_bundle_uti_reason_other" style="display:none;">
                @Html.TextBox("bundle_uti_reason_other", "", new { style = "width:80px;" })
            </span>
        </td>
    </tr>
    <tr must="Y">
        <th style="width: 25%; text-align: left;">1.執行導尿管照護前、後進行手部衛生</th>
        <td colspan="3">
            @VitalSign_Helper.assess_radio("bundle_uti_hand", "是|否", "", "")
        </td>
    </tr>
    @* 20230731 LU 新增選項  text-align:left; *@
    <tr must="Y">
        <th style="width:25%; text-align: left;">
            2.導尿管固定位置
            @{
                if (pf.PatientGender == "男")
                {
                    @:<p style="font-size:14px; color:#062ab1;">※男性建議放置下腹部，無法放置請說明原因</p>
                }
            }
        </th>
        <td colspan="3">
            @{
                //if (pf.PatientGender == "男")
                //{
                    <label><input type="radio" name="bundle_uti_position" onclick="$('.span_bundle_uti_position_reason').hide();" value="下腹部" />下腹部</label>
                    <label><input type="radio" name="bundle_uti_position" onclick="$('.span_bundle_uti_position_reason').show();" value="左大腿" />左大腿</label>
                    <label><input type="radio" name="bundle_uti_position" onclick="$('.span_bundle_uti_position_reason').show();" ;" value="右大腿" />右大腿</label>
                    @*@VitalSign_Helper.assess_radio("bundle_uti_position", "下腹部|左大腿|右大腿", "左大腿", "span_bundle_uti_position_reason")*@
                    if (pf.PatientGender == "男")
                    {
                        @:<span class="span_bundle_uti_position_reason" style="display:none;">
                            @:，男性請說明原因：
                            @VitalSign_Helper.assess_checkbox("bundle_uti_position_reason_ck", "下腹部手術|下腹部皮膚受損|其他", "其他", "span_bundle_uti_position_reason_other")
                            @:<span class="span_bundle_uti_position_reason_other" style="display:none;">
                                @Html.TextBox("bundle_uti_position_reason", "", new { style = "width:150px;" })
                            @:</span>
                        @:</span>
                    }
                    <script>
                        $("input[name='bundle_uti_position'][value='下腹部']").prop("checked", true);
                    </script>
                    //}
                @*else
                {
                    @VitalSign_Helper.assess_radio("bundle_uti_position", "大腿|下腹部", "", "")
                    <script>
                        $("input[name='bundle_uti_position'][value='大腿']").prop("checked", true);
                    </script>
                }*@
            }
        </td>
    </tr>
    <tr must="Y">
        <th style="width: 25%; text-align: left;">3.密閉、無菌且通暢的引流系統，避免管路扭曲或壓折</th>
        <td colspan="3">
            @VitalSign_Helper.assess_radio("bundle_uti_tube", "是|否", "", "")
        </td>
    </tr>
    <tr must="Y">
        <th style="width: 25%; text-align: left;">4.集尿袋不可超過8分滿</th>
        <td colspan="3">
            @VitalSign_Helper.assess_radio("bundle_uti_bag", "是|否", "", "")
        </td>
    </tr>
    @* 20230731 LU 依需求暫時隱藏選項並調整非必選 20231011 依需求調整回去 *@
    <tr must="Y">
        <th style="width:25%;text-align: left;">5.尿道口清潔</th>
        <td colspan="3">
            @VitalSign_Helper.assess_radio("bundle_uti_clean_condition", "是|否", "", "")
        </td>
    </tr>
    <tr must="Y">
        <th style="width: 25%; text-align: left;">6.尿道口清潔方式</th>
        <td colspan="3">
            @VitalSign_Helper.assess_radio("bundle_uti_clean_method", "肥皂和清水|清水|水溶性優碘|生理食鹽水|優碘及生理食鹽水|無此需求|其他", "其他", "span_ck_bundle_uti_clean_method_other")
            <span class="span_ck_bundle_uti_clean_method_other" style="display:none;">
                @Html.TextBox("bundle_uti_clean_method_other", "", new { style = "width:80px;" })
            </span>
        </td>
    </tr>
</table>

@if (ViewBag.dt_detail != null)
{
    <script type="text/javascript">
        $(function () {
            var detail = @(Html.Raw(JsonConvert.SerializeObject(ViewBag.dt_detail)));
            var form = $("#bundleArea input");
            form.each(function (idx, item) {
                var $currentItem = $(item);
                for (var idx1 in detail) {
                    if ($currentItem.is(":checkbox")) {
                        if (($currentItem.prop("name") == detail[idx1].NAME) && ($currentItem.prop("value") == detail[idx1].VALUE)) {
                            $currentItem.prop("checked", "true");
                            $currentItem.parent().parent().show();
                        }
                    } else if ($currentItem.is(":radio")) {
                        if (($currentItem.prop("name") == detail[idx1].NAME) && ($currentItem.prop("value") == detail[idx1].VALUE))
                            $currentItem.prop("checked", "true");
                    } else if ($currentItem.is(":text")) {
                        if ($currentItem.prop("name") == detail[idx1].NAME) {
                            $currentItem.attr("value", detail[idx1].VALUE);
                            $currentItem.parent().show();
                        }
                    }
                }
            });
        });
    </script>
}
else
{
    <script type="text/javascript">
        $(function () {
            // 20230731 LU 配合新增預帶選項
            $("input[name='bundle_uti_hand'][value='是']").prop("checked", true);
            $("input[name='bundle_uti_tube'][value='是']").prop("checked", true);
            $("input[name='bundle_uti_bag'][value='是']").prop("checked", true);
            // 20231011 LU 加回選項
            $("input[name='bundle_uti_clean_condition'][value='是']").prop("checked", true);

            //更新時沒資料則隱藏此頁面
            var action = $("#form1").attr('action');
            if (action.includes("Upd_Assess"))
                no_bundlecare();
        });
    </script>
}