<script type="text/javascript">
    $(function () {
        setBundleGridColor();
    });
</script>

<table class="tb_area" border="0" cellpadding="4" cellspacing="1"style="width:100%;font-size:14px;">
    <tr must="Y">
        @*<th style="width:25%;">位置正確</th>*@
        <th style="width:25%;">固定位置</th>
        <td style="width:25%;">
            @*@VitalSign_Helper.assess_radio("artery_position", "是|否", "", "")*@
            @Html.TextArea("artery_position", "", new { style = "width:95%;" })
        </td>
        <th style="width:25%;">固定妥當</th>
        <td style="width:25%;">
            @VitalSign_Helper.assess_radio("artery_fix", "是|否", "", "")
        </td>
    </tr>
    <tr must="Y">
        <th>針眼及注射部位圍皮膚狀況</th>
        <td colspan="3">
            <label><input type="checkbox" name="artery_skin_status" value="正常" onclick="if (this.checked) close_allck(this);" />正常</label>
            <label><input type="checkbox" name="artery_skin_status" value="發紅" onclick="ck_judge(this, 'span_txt_artery_range_1');" />發紅</label>
            <span class="span_txt_artery_range_1" style="display:none;">
                ，範圍 @Html.TextBox("txt_artery_range", "", new { style = "width:80px;" }) cm
            </span>
            <label><input type="checkbox" name="artery_skin_status" value="腫" onclick="ck_judge(this, 'span_txt_artery_range_2');" />腫</label>
            <span class="span_txt_artery_range_2" style="display:none;">
                ，範圍 @Html.TextBox("txt_artery_range", "", new { style = "width:80px;" }) cm
            </span>
            <label><input type="checkbox" name="artery_skin_status" value="熱" onclick="ck_judge(this, 'span_txt_artery_range_3');" />熱</label>
            <span class="span_txt_artery_range_3" style="display:none;">
                ，範圍 @Html.TextBox("txt_artery_range", "", new { style = "width:80px;" }) cm
            </span>
            <label><input type="checkbox" name="artery_skin_status" value="痛" />痛</label>
            <label><input type="checkbox" name="artery_skin_status" value="破損" onclick="ck_judge(this, 'span_txt_artery_range_4');" />破損</label>
            <span class="span_txt_artery_range_4" style="display:none;">
                ，範圍 @Html.TextBox("txt_artery_range", "", new { style = "width:80px;" }) cm
            </span>
            <label><input type="checkbox" name="artery_skin_status" value="潮濕" onclick="ck_judge(this, 'tr_artery_amount_1');" />潮濕</label>
            <label><input type="checkbox" name="artery_skin_status" value="分泌物" onclick="ck_judge(this, 'tr_artery_amount_2');" />分泌物</label>
        </td>
    </tr>
    <tr class="tr_artery_amount_1" must="Y" style="display:none;">
        <th>潮濕-滲出物量</th>
        <td colspan="3">
            <label><input type="radio" name="rb_artery_exudate_amount_1" value="無" onclick="div_hidden('tr_artery_amount_1_1');" />無</label>
            <label><input type="radio" name="rb_artery_exudate_amount_1" value="少" onclick="$('.tr_artery_amount_1_1').fadeIn(100);" />少</label>
            <label><input type="radio" name="rb_artery_exudate_amount_1" value="中" onclick="$('.tr_artery_amount_1_1').fadeIn(100);" />中</label>
            <label><input type="radio" name="rb_artery_exudate_amount_1" value="多" onclick="$('.tr_artery_amount_1_1').fadeIn(100);" />多</label>
        </td>
    </tr>
    <tr class="tr_artery_amount_1_1" must="Y" style="display:none;">
        <th>潮濕-滲出物性質</th>
        <td colspan="3">
            @VitalSign_Helper.assess_checkbox("ck_artery_exudate_type_1", "漿液|血液|化膿|其他", "其他", "span_ck_artery_exudate_type_other_1")
            <span class="span_ck_artery_exudate_type_other_1" style="display:none;">
                @Html.TextBox("ck_artery_exudate_type_1", "", new { style = "width:80px;" })
            </span>
        </td>
    </tr>
    <tr class="tr_artery_amount_2" must="Y" style="display:none;">
        <th>分泌物-滲出物量</th>
        <td colspan="3">
            <label><input type="radio" name="rb_artery_exudate_amount_2" value="無" onclick="div_hidden('tr_artery_amount_2_1');" />無</label>
            <label><input type="radio" name="rb_artery_exudate_amount_2" value="少" onclick="$('.tr_artery_amount_2_1').fadeIn(100);" />少</label>
            <label><input type="radio" name="rb_artery_exudate_amount_2" value="中" onclick="$('.tr_artery_amount_2_1').fadeIn(100);" />中</label>
            <label><input type="radio" name="rb_artery_exudate_amount_2" value="多" onclick="$('.tr_artery_amount_2_1').fadeIn(100);" />多</label>
        </td>
    </tr>
    <tr class="tr_artery_amount_2_1" must="Y" style="display:none;">
        <th>分泌物-滲出物性質</th>
        <td colspan="3">
            @VitalSign_Helper.assess_checkbox("ck_artery_exudate_type_2", "漿液|血液|化膿|其他", "其他", "span_ck_artery_exudate_type_other_2")
            <span class="span_ck_artery_exudate_type_other_2" style="display:none;">
                @Html.TextBox("ck_artery_exudate_type_2", "", new { style = "width:80px;" })
            </span>
        </td>
    </tr>
    <tr must="Y">
        <th>管路暢通</th>
        <td colspan="3">
            @VitalSign_Helper.assess_radio("artery_unimpeded", "無|有", "", "")
        </td>
    </tr>
</table>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    if (dt != null && dt.Rows.Count > 0)
    {
        <script type="text/javascript">
            $(function () {
                $('#start_date').val('@Convert.ToDateTime(dt.Rows[0]["RECORDTIME"]).ToString("yyyy/MM/dd")');
                $('#start_time').val('@Convert.ToDateTime(dt.Rows[0]["RECORDTIME"]).ToString("HH:mm")');
                $('#form1').attr('action', 'Upd_Assess_Artery');


                $('#artery_position').val('@dt.Rows[0]["TUBE_POSITION"]');
                @*reset_for_rb('artery_position', '@dt.Rows[0]["TUBE_POSITION"]');*@
                reset_for_rb('artery_fix', '@dt.Rows[0]["FIX"]');
                reset_for_ck('artery_skin_status', '@dt.Rows[0]["SKIN_STATUS"]');
                reset_text('txt_artery_range', '@dt.Rows[0]["RANGE"]');
                reset_for_rb('rb_artery_exudate_amount_1', '@dt.Rows[0]["EXUDATE_AMOUNT"].ToString().Split('|').GetValue(0)');
                reset_for_rb('rb_artery_exudate_amount_2', '@dt.Rows[0]["EXUDATE_AMOUNT"].ToString().Split('|').GetValue(1)');
                reset_for_ck_other('ck_artery_exudate_type_1', '@dt.Rows[0]["EXUDATE_TYPE"].ToString().Split('|').GetValue(0)');
                reset_for_ck_other('ck_artery_exudate_type_2', '@dt.Rows[0]["EXUDATE_TYPE"].ToString().Split('|').GetValue(1)');
                reset_for_rb('artery_unimpeded', '@dt.Rows[0]["UNIMPEDED"]');
            });
        </script>
    }
}