@using Newtonsoft.Json

<script type="text/javascript">
    $(function () {
        setBundleGridColor();
    });
</script>

<table id="@ViewBag.table_id" class="tb_area bc_type" bctype="VAP" border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
    <tr must="S">
        <th colspan="4" class="bundle_title">VAP Bundle Care</th>
    </tr>
    @* 20230731 LU 依需求暫時隱藏選項並調整非必選 *@
    <tr must="N" hidden style="display:none;">
        <th style="width:25%;">使用呼吸器適應症</th>
        <td colspan="3">
            @VitalSign_Helper.assess_checkbox("bundle_vap_reason", "呼吸衰竭|心臟衰竭|敗血症|其他原因休克|" +
           "神經/肌肉疾病|手術需要|其他", "其他", "span_ck_bundle_vap_reason_other")
            <span class="span_ck_bundle_vap_reason_other" style="display:none;">
                @Html.TextBox("bundle_vap_reason_other", "", new { style = "width:80px;" })
            </span>
        </td>
    </tr>
    @* 20230731 LU 依需求暫時隱藏選項並調整非必選 *@
    <tr must="N" hidden style="display:noen;">
        <th style="width:25%">中止鎮靜劑</th>
        <td colspan="3">
            @VitalSign_Helper.assess_radio("bundle_vap_sedation", "未使用鎮定劑|是|否", "否", "span_ck_bundle_vap_sedation_none")
            <span class="span_ck_bundle_vap_sedation_none" style="display:none;">
                ，未停用原因(可複選):
                @VitalSign_Helper.assess_checkbox("bundle_vap_sedation_none", "急性呼吸窘迫症候群(ARDS)|" +
               "中樞神經系統失調(CNS disorder)|使用葉克膜(ECMO)|其他", "其他", "span_ck_bundle_vap_sedation_other")
            </span>
            <span class="span_ck_bundle_vap_sedation_other" style="display:none;">
                @Html.TextBox("bundle_vap_sedation_other", "", new { style = "width:80px;" })
            </span>
        </td>
    </tr>
    <tr must="Y">
        <th style="width: 25%; text-align: left;">1.口腔照護</th>
        <td colspan="3">
            @VitalSign_Helper.assess_radio("bundle_vap_mouth", "是|否", "", "")
        </td>
    </tr>
    <tr must="Y">
        <th style="width: 25%; text-align: left;">2.床頭抬高30度 ~ 45度</th>
        <td colspan="3">
            @VitalSign_Helper.assess_radio("bundle_vap_bed_height", "是|否", "否", "span_ck_bundle_vap_bed_height_none")
            <span class="span_ck_bundle_vap_bed_height_none" style="display:none;">
                ，未床頭抬高原因(可複選):
                @VitalSign_Helper.assess_checkbox("bundle_vap_bed_height_none", "使用葉克膜(ECMO)|血液透析|" +
               "特殊手術(如:頸椎手術、腦部手術等)|休克|其他", "其他", "span_ck_bundle_vap_bed_height_other")
            </span>
            <span class="span_ck_bundle_vap_bed_height_other" style="display:none;">
                @Html.TextBox("bundle_vap_bed_height_other", "", new { style = "width:80px;" })
            </span>
        </td>
    </tr>
    <tr must="Y">
        <th style="width: 25%; text-align: left;">3.呼吸器管路積水排空</th>
        <td colspan="3">
            @VitalSign_Helper.assess_radio("bundle_vap_effusion", "是|否", "", "")
        </td>
    </tr>
</table>

@if (ViewBag.dt_detail != null)
{
    <script type="text/javascript">
        $(function () {
            var detail = @(Html.Raw(JsonConvert.SerializeObject(ViewBag.dt_detail)));
            var form = $("#bundleArea input");

            form.each(function (idx,item) {
                var $currentItem = $(item);
                for (var idx1 in detail) {
                    if ($currentItem.is(":checkbox")) {
                        if (($currentItem.prop("name") == detail[idx1].NAME) && ($currentItem.prop("value") == detail[idx1].VALUE)) {
                            $currentItem.prop("checked", true);
                            $currentItem.parent().parent().show();
                        }
                    } else if ($currentItem.is(":radio")) {
                        if (($currentItem.prop("name") == detail[idx1].NAME) && ($currentItem.prop("value") == detail[idx1].VALUE))
                            $currentItem.prop("checked", true);
                    } else if ($currentItem.is(":text")) {
                        if ($currentItem.prop("name") == detail[idx1].NAME) {
                            $currentItem.attr("value", detail[idx1].VALUE);
                            $currentItem.parent().show();
                        }
                    }
                };
            });
        });
    </script>
}
else
{
    <script type="text/javascript">
        $(function () {
            // 20230731 LU 配合新增預帶選項
            $("input[name='bundle_vap_mouth'][value='是']").prop("checked", true);
            $("input[name='bundle_vap_effusion'][value='是']").prop("checked", true);
            // 20230926 LU 配合新增預帶選項
            $("input[name='bundle_vap_bed_height'][value='是']").prop("checked", true);
            //更新時沒資料則隱藏此頁面
            var action = $("#form1").attr('action');
            if (action.includes("Upd_Assess"))
                no_bundlecare();
        });
    </script>
}