<script type="text/javascript">
    $(function () {
        setBundleGridColor();
     });
</script>

<table class="tb_area" border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
    <tr must="Y">
        @*<th style="width:25%;">位置正確</th>*@
        <th style="width:25%;">固定位置</th>
        <td style="width:25%;">
            @*   @VitalSign_Helper.assess_radio("other_position", "是|否", "", "")*@
            @*@Html.TextBox("other_position", "", new { style = "width:80px;" })*@
            @Html.TextArea("other_position", "", new { style = "width:95%;" })
        </td>
        </td>
        <th style="width:25%;">固定妥當</th>
        <td style="width:25%;">
            @VitalSign_Helper.assess_radio("other_fix", "是|否", "", "")
        </td>
    </tr>
    <tr must="Y">
        <th>管路周圍皮膚狀況</th>
        <td colspan="3">
            <label><input type="checkbox" name="other_skin_status" value="正常" onclick="if (this.checked) close_allck(this);" />正常</label>
            <label><input type="checkbox" name="other_skin_status" value="發紅" onclick="ck_judge(this, 'span_txt_other_range_1');" />發紅</label>
            <span class="span_txt_other_range_1" style="display:none;">
                ，範圍 @Html.TextBox("txt_other_range", "", new { style = "width:80px;" })
            </span>
            <label><input type="checkbox" name="other_skin_status" value="腫" onclick="ck_judge(this, 'span_txt_other_range_2');" />腫</label>
            <span class="span_txt_other_range_2" style="display:none;">
                ，範圍 @Html.TextBox("txt_other_range", "", new { style = "width:80px;" })
            </span>
            <label><input type="checkbox" name="other_skin_status" value="熱" onclick="ck_judge(this, 'span_txt_other_range_3');" />熱</label>
            <span class="span_txt_other_range_3" style="display:none;">
                ，範圍 @Html.TextBox("txt_other_range", "", new { style = "width:80px;" })
            </span>
            <label><input type="checkbox" name="other_skin_status" value="痛" />痛</label>
            <label><input type="checkbox" name="other_skin_status" value="破損" onclick="ck_judge(this, 'span_txt_other_range_4');" />破損</label>
            <span class="span_txt_other_range_4" style="display:none;">
                ，範圍 @Html.TextBox("txt_other_range", "", new { style = "width:80px;" })
            </span>
            <label><input type="checkbox" name="other_skin_status" value="潮濕" onclick="ck_judge(this, 'tr_other_amount_1');" />潮濕</label>
            <label><input type="checkbox" name="other_skin_status" value="分泌物" onclick="ck_judge(this, 'tr_other_amount_2');" />分泌物</label>
        </td>
    </tr>
    <tr class="tr_other_amount_1" must="Y" style="display:none;">
        <th>潮濕-滲出物量</th>
        <td colspan="3">
            <label><input type="radio" name="rb_other_exudate_amount_1" value="無" onclick="div_hidden('tr_other_amount_1_1');" />無</label>
            <label><input type="radio" name="rb_other_exudate_amount_1" value="少" onclick="$('.tr_other_amount_1_1').fadeIn(100);" />少</label>
            <label><input type="radio" name="rb_other_exudate_amount_1" value="中" onclick="$('.tr_other_amount_1_1').fadeIn(100);" />中</label>
            <label><input type="radio" name="rb_other_exudate_amount_1" value="多" onclick="$('.tr_other_amount_1_1').fadeIn(100);" />多</label>
        </td>
    </tr>
    <tr class="tr_other_amount_1_1" must="Y" style="display:none;">
        <th>潮濕-滲出物性質</th>
        <td colspan="3">
            @VitalSign_Helper.assess_checkbox("ck_other_exudate_type_1", "漿液|血液|化膿|其他", "其他", "span_ck_other_exudate_type_other_1")
            <span class="span_ck_other_exudate_type_other_1" style="display:none;">
                @Html.TextBox("ck_other_exudate_type_1", "", new { style = "width:80px;" })
            </span>
        </td>
    </tr>
    <tr class="tr_other_amount_2" must="Y" style="display:none;">
        <th>分泌物-滲出物量</th>
        <td colspan="3">
            <label><input type="radio" name="rb_other_exudate_amount_2" value="無" onclick="div_hidden('tr_other_amount_2_1');" />無</label>
            <label><input type="radio" name="rb_other_exudate_amount_2" value="少" onclick="$('.tr_other_amount_2_1').fadeIn(100);" />少</label>
            <label><input type="radio" name="rb_other_exudate_amount_2" value="中" onclick="$('.tr_other_amount_2_1').fadeIn(100);" />中</label>
            <label><input type="radio" name="rb_other_exudate_amount_2" value="多" onclick="$('.tr_other_amount_2_1').fadeIn(100);" />多</label>
        </td>
    </tr>
    <tr class="tr_other_amount_2_1" must="Y" style="display:none;">
        <th>分泌物-滲出物性質</th>
        <td colspan="3">
            @VitalSign_Helper.assess_checkbox("ck_other_exudate_type_2", "漿液|血液|化膿|其他", "其他", "span_ck_other_exudate_type_other_2")
            <span class="span_ck_other_exudate_type_other_2" style="display:none;">
                @Html.TextBox("ck_other_exudate_type_2", "", new { style = "width:80px;" })
            </span>
        </td>
    </tr>
    <tr must="Y">
        <th>引流功能</th>
        <td colspan="3">
            <label><input type="radio" name="rb_other_drainage" value="正常" onclick="$('.tr_other_drainage').fadeIn(0); " />正常</label>
            <label><input type="radio" name="rb_other_drainage" value="不良" onclick="$('.tr_other_drainage').fadeIn(0); " />不良</label>
            <label><input type="radio" name="rb_other_drainage" value="此管路非作為引流用途" onclick="$('.tr_other_drainage').fadeOut(0); hide();" />此管路非作為引流用途</label>
        </td>
    </tr>
    <tr class="tr_other_drainage" must="Y" style="display:none;">
        <th>引流液性狀</th>
        <td colspan="3">
            顏色
            @Html.DropDownList("color_drainage", (List<SelectListItem>)ViewData["color_drainage"], new { onchange = "txt_fordrop(this.id,'color_drainage_other');  " })
            <span class="span_color_drainage_other" style="display:none;">
                @Html.TextBox("color_drainage_other", "", new { style = "width:60px;", defaultvalue = "" })
            </span>
            氣味
            @Html.DropDownList("taste_drainage", (List<SelectListItem>)ViewData["taste_drainage"], new { onchange = "txt_fordrop(this.id,'taste_drainage_other');   " })
            <span class="span_taste_drainage_other" style="display:none;">
                @Html.TextBox("taste_drainage_other", "", new { style = "width:60px;", defaultvalue = "" })
            </span>
            性質
            @Html.DropDownList("nature_drainage", (List<SelectListItem>)ViewData["nature_drainage"], new { onchange = "txt_fordrop(this.id,'nature_drainage_other');  " })
            <span class="span_nature_drainage_other" style="display:none;">
                @Html.TextBox("nature_drainage_other", "", new { style = "width:60px;", defaultvalue = "" })
            </span>
        </td>
    </tr>
</table>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    if (dt != null && dt.Rows.Count > 0)
    {
        <script type="text/javascript">
            $(function () {
                $('#start_date').val('@Convert.ToDateTime(dt.Rows[0]["RECORDTIME"]).ToString("yyyy/MM/dd")');
                $('#start_time').val('@Convert.ToDateTime(dt.Rows[0]["RECORDTIME"]).ToString("HH:mm")');
                $('#form1').attr('action', 'Upd_Assess_Other');

                $('#other_position').val('@dt.Rows[0]["TUBE_POSITION"]');
                @*reset_for_rb('other_position', '@dt.Rows[0]["TUBE_POSITION"]');*@
                reset_for_rb('other_fix', '@dt.Rows[0]["FIX"]');
                reset_for_ck('other_skin_status', '@dt.Rows[0]["SKIN_STATUS"]');
                reset_text('txt_other_range', '@dt.Rows[0]["RANGE"]');
                reset_for_rb('rb_other_exudate_amount_1', '@dt.Rows[0]["EXUDATE_AMOUNT"].ToString().Split('|').GetValue(0)');
                reset_for_rb('rb_other_exudate_amount_2', '@dt.Rows[0]["EXUDATE_AMOUNT"].ToString().Split('|').GetValue(1)');
                reset_for_ck_other('ck_other_exudate_type_1', '@dt.Rows[0]["EXUDATE_TYPE"].ToString().Split('|').GetValue(0)');
                reset_for_ck_other('ck_other_exudate_type_2', '@dt.Rows[0]["EXUDATE_TYPE"].ToString().Split('|').GetValue(1)');
                reset_for_rb('rb_other_drainage', '@dt.Rows[0]["DRAINAGE"]');
                $('#color_drainage').val('@dt.Rows[0]["COLORID"]');
                $('#taste_drainage').val('@dt.Rows[0]["TASTEID"]');
                $('#nature_drainage').val('@dt.Rows[0]["NATUREID"]');
                txt_fordrop('color_drainage', 'color_drainage_other');
                txt_fordrop('taste_drainage', 'taste_drainage_other');
                txt_fordrop('nature_drainage', 'nature_drainage_other');
                $('#color_drainage_other').val('@dt.Rows[0]["COLOROTHER"]');
                $('#taste_drainage_other').val('@dt.Rows[0]["TASTEOTHER"]');
                $('#nature_drainage_other').val('@dt.Rows[0]["NATUREOTHER"]');
            });
        </script>
    }
}