<script type="text/javascript">
    $(function () {
        setBundleGridColor();
    });
</script>

<table class="tb_area" border="0" cellpadding="4" cellspacing="1"style="width:100%;font-size:14px;">
    <tr must="Y">
        @*<th style="width:25%;">位置正確</th>*@
        <th style="width:25%;">固定位置</th>
        <td style="width:25%;">          
            @*@Html.TextBox("tracheostomy_position", "", new { style = "width:80px;" })*@            
            @*@VitalSign_Helper.assess_radio("tracheostomy_position", "是|否", "", "")*@
            @Html.TextArea("tracheostomy_position", "", new { style = "width:95%;" })

        </td>
        <th style="width:25%;">固定妥當</th>
        <td style="width:25%;">
            @VitalSign_Helper.assess_radio("tracheostomy_fix", "是|否", "", "")
        </td>
    </tr>
    <tr must="Y">
        <th>固定方式</th>
        <td colspan="3">
            @VitalSign_Helper.assess_checkbox("tracheostomy_fixation", "緞帶膠|棉繩|宜拉膠|固定帶|紙膠|其他", "其他", "span_ck_tracheostomy_fixation_other")
            <span class="span_ck_tracheostomy_fixation_other" style="display:none;">
                @Html.TextBox("tracheostomy_fixation", "", new { style = "width:80px;" })
            </span>
        </td>
    </tr>
    <tr must="S">
        <th>固定cuff</th>
        <td colspan="3">
            @Html.TextBox("txt_tracheostomy_fix_cuff_1", "", new { style = "width:80px;", onchange = "numcheck(this);" }) mmHg ， 
            @Html.TextBox("txt_tracheostomy_fix_cuff_2", "", new { style = "width:80px;", onchange = "numcheck(this);" }) mL ，
            @Html.TextBox("txt_tracheostomy_fix_cuff_3", "", new { style = "width:80px;", onchange = "numcheck(this);" }) cmH₂O
        </td>
    </tr>
</table>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    if (dt != null && dt.Rows.Count > 0)
    {
        <script type="text/javascript">
            $(function () {
                $('#start_date').val('@Convert.ToDateTime(dt.Rows[0]["RECORDTIME"]).ToString("yyyy/MM/dd")');
                $('#start_time').val('@Convert.ToDateTime(dt.Rows[0]["RECORDTIME"]).ToString("HH:mm")');
                $('#form1').attr('action', 'Upd_Assess_Tracheostomy');

                $('#tracheostomy_position').val('@dt.Rows[0]["TUBE_POSITION"]');
                @*reset_for_rb('tracheostomy_position', '@dt.Rows[0]["TUBE_POSITION"]');*@
                reset_for_rb('tracheostomy_fix', '@dt.Rows[0]["FIX"]');
                reset_for_ck_other('tracheostomy_fixation', '@dt.Rows[0]["FIXATION"]');
                $('#txt_tracheostomy_fix_cuff_1').val('@dt.Rows[0]["FIX_CUFF_1"]');
                $('#txt_tracheostomy_fix_cuff_2').val('@dt.Rows[0]["FIX_CUFF_2"]');
                $('#txt_tracheostomy_fix_cuff_3').val('@dt.Rows[0]["FIX_CUFF_3"]');
            });
        </script>
    }
}