 @{
     Layout = "~/Views/Layout/FormLayout.cshtml";
    }

<style type="text/css">
  .dataArea td {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    text-align: left;
    height:30px;
  }
</style>

<script type="text/javascript">
    $(function () {
        $(window).resize(function () {
            if ($(this).outerHeight() <= 50) {
                $(".dataArea").outerHeight(400);
            }
            else {
                $(".dataArea").outerHeight($(this).outerHeight() - 100);
            }
        }).trigger("resize");
        setGridColor();
    });

    function setGridColor() {
        //格行換色
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
        $('.due').css('background', '#FF6666');
    }
</script>

@using System.Data;
@{
    DataTable dt_tube = ViewBag.dt_tube;
}
<div class="funcArea">
    <div class="dataHeader">
        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
            <tr>
                <td style="text-align:right; background:#FFFFFF">
                    <input type="button" value="關閉" onclick="$.unblockUI();" />
                </td>
            </tr>
            <tr>
                <td style="width:11%;">插管日期</td>
                <td style="width:14%;">種類</td>
                <td style="width:7%;">部位</td>
                <td style="width:7%;">位置</td>
                <td style="width:5%;">編號</td>
                <td style="width:9%;">材料</td>
                <td style="width:7%;">型號</td>
                <td style="width:5%;">長度</td>
                <td style="width:10%;">預計拔管</td>
                <td style="width:10%;">實際拔管</td>
                <td colspan="3" style="width:15%;">
                    <div style="width:138px; overflow:hidden;">
                        <input class="undel" type="button" value="顯示所有的管路" onclick="$('.del').fadeIn(100); $('.undel').fadeOut(0); setGridColor();" />
                        <input class="del" type="button" value="隱藏刪除的管路" style="display:none;" onclick="$('.undel').fadeIn(100); $('.del').fadeOut(0); setGridColor();" />
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="dataArea" style="height:180px;">
    @if (dt_tube != null)
    {
        var strcls = "undel";
        <table border="0" cellpadding="4" cellspacing="1" width="100%" style="width:100%;background-color: #FFFFFF;font-size:14px;">
        @foreach (DataRow r in dt_tube.Rows)
        {
            if (r["DELETED"].ToString() == "")
            {
                if (r["ENDTIME"].ToString() == "")
                { 
                    if (r["FORECAST"].ToString() != "" && Convert.ToDateTime(DateTime.Now.ToString("yyyy/MM/dd")) >= Convert.ToDateTime(r["FORECAST"]))
                    {
            @:<tr class="due">
                    }
                    else
                    {
            @:<tr>
                    }
                }
                else
                {
            @:<tr class="del" style="display:none;">
                }
                <td style="width:11%;text-align:center;">
                    @if (!string.IsNullOrWhiteSpace(r["STARTTIME"].ToString()))
                    {
                    <label>@Convert.ToDateTime(r["STARTTIME"]).ToString("yyyy/MM/dd HH:mm")</label>
                    }
                    else
                    {
                    <label>"不詳"</label>
                    }
                </td>
                <td style="width:14%;text-align:center;">
                    @r["TYPE_NAME"]
                </td>
                <td style="width:7%;text-align:center;">
                    @r["POSITION"]
                </td>
                <td style="width:7%;text-align:center;">
                    @if (r["LOCATION"].ToString() != "-1")
                    {
                        @r["LOCATION_NAME"]
                    }
                </td>
                <td style="width:5%;text-align:center;">
                    @if (@r["NUMBERID"].ToString() != "99")
                    {
                        @r["NUBER_NAME"]
                    }
                    else
                    {
                        @r["NUMBEROTHER"]
                    }
                </td>
                <td style="width:9%;text-align:center;">
                    @if (r["MATERIALID"].ToString() != "-1")
                    {
                        if (@r["MATERIALID"].ToString() != "99")
                        {
                        @r["MATERIAL_NAME"]
                        }
                        else
                        {
                        @r["MATERIALOTHER"]
                        }
                    }
                </td>
                <td style="width:7%;text-align:center;">
                    @r["MODEL"]
                </td>
                <td style="width:5%;text-align:center;">
                    @r["LENGTH"]
                    @if (r["LENGTHUNIT"].ToString() != "-1")
                    {
                        @r["LENGTHUNIT_NAME"]
                    }
                </td>
                <td style="width:10%;text-align:center;">
                    @if (r["FORECAST"].ToString() != "")
                    {
                    @Convert.ToDateTime(r["FORECAST"]).ToString("d")
                    }
                </td>
                <td style="width:10%;text-align:center;">
                    @if (r["ENDTIME"].ToString() != "")
                    {
                    @Convert.ToDateTime(r["ENDTIME"]).ToString("d")
                    }
                </td>
                <td style="width:15%;text-align:center;">
                    @if (r["ENDTIME"].ToString() == "")
                    { 
                    <label>執行中</label>
                    }
                    else
                    { 
                    <label>已結束</label> 
                    }
                </td>
            @:</tr>
            }
        }
        </table>
    }
    </div>
</div>