@using System.Data;
@using NIS.Data
@{
    DataTable dt = ViewBag.dt;
    int x = 0;
    UserInfo ui = (UserInfo)Session["UserInfo"];

}
<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }

    #module_define {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 140);
        }).trigger("resize");
    });
    $(document).tooltip(
 {
     content: function () {
         return $(this).attr('title');
     }
 });
    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }
    function ShowImg(obj, record_id) {
        window.open("../CFS/ShowIMG?record_id=" + record_id + "", "top_dialog", "menubar=no,status=no,scrollbars=yes,top=0,resizable=yes,left=200,toolbar=no,width=1024,height=768");
    }
</script>
<div class="dataArea">
    @if (dt != null && dt.Rows.Count > 0)
    {
        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
            @foreach (DataRow r in dt.Rows)
            {
                string[] TempStrScore = { "是", "否", "無法評估" };
                string status = "";
                string status_detail = "";
                var cog_1 = "";
                var cog_2 = "";
                var cog_3 = "";
                var cog_result = "";
                var cog_result_other = "";
                if (!string.IsNullOrEmpty(r["COG_RESULT"].ToString()))
                {
                    string cogResult = r["COG_RESULT"].ToString();
                    var cogResultArr = cogResult.Split(',');

                    for(int i = 0; i < cogResultArr.Count(); i++)
                    {
                        if (cogResultArr[i].ToString() != "其他")
                        {
                            cog_result += cogResultArr[i].ToString();
                            if(i < cogResultArr.Count() - 1)
                            {
                                cog_result += ",";
                            }
                        }
                        else
                        {
                            cog_result += r["COG_RESULT_OTHER"].ToString();

                        }
                    }
                }
                if (!string.IsNullOrEmpty(r["COG_RESULT_OTHER"].ToString()))
                {
                    cog_result_other = "(" + r["COG_RESULT_OTHER"].ToString() + ")";
                }
                if (!string.IsNullOrEmpty(r["CFS_SCORE"].ToString()))
                {
                    switch (Convert.ToInt32(r["CFS_SCORE"]))
                    {
                        case 1:
                            status = "非常健康";
                            status_detail = "健壯，覺得比同年齡層健康";
                            break;
                        case 2:
                            status = "健康";
                            status_detail = "無明顯疾病症狀，但不比同等級的人健康";
                            break;
                        case 3:
                            status = "維持良好";
                            status_detail = "可規律行走，患有慢性病但控制良好";
                            break;
                        case 4:
                            status = "脆弱較易受傷害";
                            status_detail = "日生活不需依賴他人，主訴行動緩慢或白天時覺得疲倦";
                            break;
                        case 5:
                            status = "輕度衰弱";
                            status_detail = "工具性日常生活(理財、搭交通工具、服藥、重型家務)需要幫助，行動明顯緩慢";
                            break;
                        case 6:
                            status = "中度衰弱";
                            status_detail = "所有室外活動和家務需要他人協助，上下樓梯及洗澡需要幫助";
                            break;
                        case 7:
                            status = "嚴重衰弱";
                            status_detail = "無論導因而生活完全無法自理，但身體狀況6個月內相對穩定無死亡風險";
                            break;
                        case 8:
                            status = "非常嚴重衰弱";
                            status_detail = "生活完全無法自理，接近生命終點";
                            break;
                        case 9:
                            status = "末期";
                            status_detail = "接近生命終點，預期壽命少於6個月";
                            break;
                    }

                }
                if (!string.IsNullOrEmpty(r["MC_SCORE1"].ToString()))
                {
                    cog_1 = r["MC_SCORE1"].ToString();
                }
                if (!string.IsNullOrEmpty(r["MC_SCORE2"].ToString()))
                {
                    switch (r["MC_SCORE2"].ToString())
                    {
                        case "0":
                            cog_2 = "是";
                            break;
                        case "1":
                            cog_2 = "否";
                            break;
                    }
                }
                if (!string.IsNullOrEmpty(r["MC_SCORE3"].ToString()))
                {
                    switch (r["MC_SCORE3"].ToString())
                    {
                        case "0":
                            cog_3 = "是";
                            break;
                        case "1":
                            cog_3 = "否";
                            break;
                    }
                }


                <tr style="height:60px">
                    <td style="width:15%;text-align:center;">
                        @*@if (string.IsNullOrEmpty(r["SOURCE"].ToString()))
                        {*@
                            @if (r["MODIFY_USER_NAME"].ToString() == ui.EmployeesName )
                            {
                                <div style="overflow:hidden;width:100%;">
                                    <input type="button" value="修改" pid="@r["ASSESS_ID"]" onclick="window.location.href = 'Insert?id=' + $(this).attr('pid');" style="width:40px;" />
                                    <input type="button" id="" onclick="DelData('@(x)');" value="刪除" />
                                    <input type="hidden" id="assess_id_@(x)" value="@r["ASSESS_ID"]" />
                                </div>
                            }

                        @*}*@
                    </td>
                    <td style="width:15%;text-align:center;">
                        @Html.Raw(Convert.ToDateTime(r["ASSESS_DT"]).ToString("yyyy/MM/dd HH:mm"))
                    </td>
                    <td colspan="2" style="width:20%; padding: unset;text-align:center;">@((!string.IsNullOrEmpty(r["CFS_SCORE"].ToString())) ? (status.ToString()) : "")</td>
                    <td style="width:10%; text-align:center;">
                        <a class="tooltip" title="@((!string.IsNullOrEmpty(r["CFS_SCORE"].ToString())) ? r["CFS_SCORE"].ToString() : "")分  @status_detail">
                            <font color="black">@((!string.IsNullOrEmpty(r["CFS_SCORE"].ToString())) ? r["CFS_SCORE"].ToString() : "")</font>
                        </a>
                    </td>
                    <td style="width:10%;text-align:center;">
                        @if (!string.IsNullOrEmpty(r["MC_SCORE"].ToString()))
                        {
                            if (r["MC_SCORE"].ToString() != "無法評估" && r["MC_SCORE"].ToString() != null)
                            {
                                <a class="tooltip" title="@((!string.IsNullOrEmpty(r["MC_SCORE"].ToString())) ? r["MC_SCORE"].ToString() : "")分 <br /> <b>病人可依引導於畫鐘後，正確覆誦紅色、快樂、腳踏車</b> <br />@cog_1 <br /> <br /> <b>病人可自行完成畫鐘數字及順序正確 </b><br />@cog_2 <br /> <br /><b>病人可於畫鐘上畫上指針正確指向 11:10</b><br />@cog_3">
                                    <font color="black">@((!string.IsNullOrEmpty(r["MC_SCORE"].ToString())) ? r["MC_SCORE"].ToString() : "")</font>
                                </a>
                            }
                            else
                            {
                               
                            }
                        }
                        else
                        {
                            if (cog_result == "" || cog_result == null)
                            {
                                <a class="tooltip" title="無需評估">
                                    <font color="black">無需評估</font>
                                </a>
                            }
                            else
                            {
                                <a class="tooltip" title="無法評估 <br />原因:  @cog_result">
                                    <font color="red">無法評估，原因: @cog_result</font>
                                </a>
                            }
                        }

                    </td>

                    <td  style="width:20%;text-align:center;">
                       
                        @if (!string.IsNullOrWhiteSpace(r["CLOCK_FILE"].ToString()))
                        {
                            @*<img src="@Url.Content("~/Images/Function/func_data.png")" style="width:20px;height:20px;cursor:pointer;" onclick="ShowImg(this,'@(r["ASSESS_ID"])');" />*@
                            byte[] imageBytes = (byte[])r["CLOCK_FILE"];
                            string base64String = Convert.ToBase64String(imageBytes);
                            <img src="@String.Format("data:image/png;base64,{0}", base64String)"  style="width:50px;height:50px;cursor:pointer;" onclick="ShowImg(this,'@(r["ASSESS_ID"])');"/>
                        }
                    </td>

                    <td style="width:8%;text-align:center;">@r["MODIFY_USER_NAME"]</td>

                </tr>
  


                {
                    x += 1;
                }
            }
        </table>
    }
</div>