@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dt = ViewBag.dtsearch;
}
<style type="text/css">
    .topic_block, .topic_block_sel {
        text-align: left;
        display: inline-block;
        padding: 5px 5px 0 5px;
        width: 22%;
        height: 70px;
        background-color: #D9EDF7;
        border: 1px solid silver;
        margin-bottom: 5px;
        vertical-align: bottom;
        overflow-y: auto;
        margin-left: 2px;
        border-radius: 5px;
        word-break: break-all;
    }

    .topic_block_sel {
        background-color: #fbabab;
    }

    .topic_block:hover {
        background-color: #87CEEB;
    }

    .topic_block span, .topic_block_sel span, .sd_block span {
        display: block;
        white-space: normal;
    }

    .topic_item {
        color: #2894FF;
        font-weight: bold;
    }

    .topic_desc {
        color: black;
        font-size: 12px;
    }

        .topic_desc span {
            display: inline-block;
            width: 60px;
        }
</style>

@if (dt != null && dt.Rows.Count > 0)
{
    foreach (DataRow r in dt.Rows)
    {
<div class="@((string.IsNullOrWhiteSpace(r["disable_date"].ToString())) ? "topic_block" : "topic_block_sel")">
    <span class="topic_item">@r["diagnosis_name"].ToString()</span>
    <span class="topic_desc">領域：@r["diagnosis_domain_desc"].ToString()</span>
        @if (string.IsNullOrWhiteSpace(r["disable_date"].ToString()))
        {
    <input type="button" data-code="@r["diagnosis_code"].ToString()" data-name="@r["diagnosis_name"].ToString()" onclick="disabled_diagnosis(this);" value="停用" style="float:right;width:60px;background-color:#c9302c;color:white;" />
        }
        else
        {
    <input type="button" data-code="@r["diagnosis_code"].ToString()" data-name="@r["diagnosis_name"].ToString()" value="啟用" onclick="able_diagnosis(this);" style="float:right;width:60px;" />
        }
        @if(int.Parse(r["use_num"].ToString()) == 0)
        {
    <input type="button" data-code="@r["diagnosis_code"].ToString()" data-name="@r["diagnosis_name"].ToString()" data-domain="@r["diagnosis_domain_code"].ToString()" value="修改" onclick="InitCarePlanDetail($(this).attr('data-code'), $(this).attr('data-name'), $(this).attr('data-domain'));" style="float:right;width:60px;margin-right:5px;" />
        }
</div>
    }
}