@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
    DataTable DT = ViewBag.dt;
    string NutType = ViewBag.NutType;
}
<style type="text/css">
    .TBAssessArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        /*white-space: pre-line;*/
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
    });

    //格行換色
    function setGridColor() {
        $('.TBAssessArea tr:odd').css('background', '#ABC8E2');
        $('.TBAssessArea tr:even').css('background', '#E1E6FA');
    }
</script>

<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;table-layout:fixed">
        @*<tr>
            <td>
                <div style="font-size:28px;text-align:center;">營養評估列印</div>
            </td>
        </tr>*@
        <tr>
            <td>
                <table border="0" style="width:100%;font-size:14px;">
                    <tr>
                        <td>病人姓名：@ptinof.PatientName</td>
                        @if(ptinof.Birthday != null)
                        {
                            <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                        }
                        else
                        {
                            <td>生日：</td>
                        }
                        <td>年齡：@ptinof.Age</td>
                        <td>病床號：@ptinof.BedNo</td>
                        <td>病歷號：@ptinof.ChartNo</td>
                    </tr>
                    <tr>
                        <td>科別：@ptinof.DeptName</td>
                        <td>主治醫師：@ptinof.DocName</td>
                        @if(ptinof.InDate != null)
                        {
                            <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                        }
                        else
                        {
                            <td>住院日期：</td>
                        }
                        <td>性別：@ptinof.PatientGender</td>
                        <td>診斷：@ptinof.ICD9_code1</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dataHeader" style="width: 100%;">
                    <table border="0" cellpadding="4" cellspacing="1" style="width: 100%; font-size: 14px; ">
                        <tr>
                            <td style="width: 13%; text-align: left;font-weight:bold;">日期時間</td>
                            <td style="width: 8%; text-align: left;font-weight:bold;">身高<br />體重</td>
                            <td style="width: 5%; text-align: left;font-weight:bold;">BMI</td>
                        @*    <td style="width: 15%; text-align: left;">身體質量指數</td>
                            <td style="width: 15%; text-align: left; ">三到六個月體重減輕</td>
                            <td style="width: 15%; text-align: left; ">急性疾病狀態幾乎無法進食或禁食</td>
                            <td style="width: 6%; text-align: left;">總分</td>*@
                             @if(NutType != null && NutType != "")
                             {
                                 switch(NutType)
                                 {
                                     case "adult":
                                         //成人營養評估
                                        <td style="width: 15%; text-align: left;font-weight:bold;">身體質量指數</td>
                                        <td style="width: 15%; text-align: left;font-weight:bold; ">三到六個月體重減輕</td>
                                        <td style="width: 15%; text-align: left;font-weight:bold; ">急性疾病狀態幾乎無法進食或禁食</td>
                                        <td style="width: 6%; text-align: left;font-weight:bold;">總分</td>
                                         break;
                                     case "child":
                                         //兒童營養評估
                                        <td style="width: 17%; text-align: left;font-weight:bold;">身高百分比區間</td>
                                        <td style="width: 17%; text-align: left;font-weight:bold; ">體重百分比區間</td>
                                        <td style="width: 17%; text-align: left;font-weight:bold; ">頭圍百分比區間</td>@*
                                        <td style="width: 12%; text-align: left;font-weight:bold;">BMI百分比區間</td>*@
                                         break;
                                 }
                             }
                            @*<td style="width: 16%; text-align: left;font-weight:bold;">篩選結果</td>*@
                             @if(NutType != null && NutType != "")
                             {
                                 switch(NutType)
                                 {
                                     case "adult":
                            <td style="width: 16%; text-align: left;font-weight:bold;">篩選結果</td>
                                         break;
                                     case "child":

                                         break;
                                 }
                             }  
                            <td style="width: 7%; text-align: left;font-weight:bold;">評估者</td>
                        </tr>
                    </table>
                </div>
                <div class="TBAssessArea">
                    @if(DT != null)
                    {
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            @foreach(DataRow r in DT.Rows)
                            {
                                string AssessmentRow1 = "", AssessmentRow2 = "", AssessmentRow3 = "", AssessmentRow4 = "", AssessmentResult = "";
                                if(r["NUTA_TYPE"].ToString() == "adult")
                                {
                                    switch(r["NUTA_ASSESSMENT_ROW1"].ToString())
                                    {
                                        case "0":
                                            AssessmentRow1 = "0分：大於20";
                                            break;
                                        case "1":
                                            AssessmentRow1 = "1分：18.5~20";
                                            break;
                                        case "2":
                                            AssessmentRow1 = "2分：小於18.5";
                                            break;
                                        default:
                                            AssessmentRow1 = "內容錯誤";
                                            break;
                                    }
                                    switch(r["NUTA_ASSESSMENT_ROW2"].ToString())
                                    {
                                        case "0":
                                            AssessmentRow2 = "0分：小於5%";
                                            break;
                                        case "1":
                                            AssessmentRow2 = "1分：5-10%";
                                            break;
                                        case "2":
                                            AssessmentRow2 = "2分：大於10%";
                                            break;
                                        default:
                                            AssessmentRow2 = "內容錯誤";
                                            break;
                                    }
                                    switch(r["NUTA_ASSESSMENT_ROW3"].ToString())
                                    {
                                        case "0":
                                            AssessmentRow3 = "0分：無此問題或小於5天";
                                            break;
                                        case "2":
                                            AssessmentRow3 = "2分：大於5天";
                                            break;
                                        default:
                                            AssessmentRow3 = "內容錯誤";
                                            break;
                                    }
                                    AssessmentRow4 = r["NUTA_ASSESSMENT_ROW4"].ToString() + " 分";
                                }
                                else if(r["NUTA_TYPE"].ToString() == "child")
                                {
                                    AssessmentRow1 = r["NUTA_ASSESSMENT_ROW1"].ToString();
                                    AssessmentRow2 = r["NUTA_ASSESSMENT_ROW2"].ToString();
                                    AssessmentRow3 = r["NUTA_ASSESSMENT_ROW3"].ToString();
                                    //AssessmentRow4 = r["NUTA_ASSESSMENT_ROW4"].ToString();
                                }
                                if(r["NUTA_TYPE"].ToString() == "adult")
                                {
                                    if(r["NUTA_ASSESSMENT_ROW4"] != null)
                                    {
                                        if(Convert.ToInt16(r["NUTA_ASSESSMENT_ROW4"].ToString()) < 3)
                                        { AssessmentResult = "MUST<3分，暫時不需要進一步的營養評估"; }
                                        else if(Convert.ToInt16(r["NUTA_ASSESSMENT_ROW4"].ToString()) >= 3)
                                        { AssessmentResult = "MUST≧3分為營養不良高度風險，通知主治醫師決定是否照會營養師做進一步的營養評估"; }
                                    }
                                }
                                //switch (r["NUTA_ASSESSMENT_RESULT"].ToString())
                                //{
                                //    case "1":
                                //        AssessmentResult = "暫時不需要進一步營養評估";
                                //        break;
                                //    default:
                                //        AssessmentResult = "內容錯誤";
                                //        break;
                                //}
                                <tr>
                                    <td style="width: 13%;">
                                        @Convert.ToDateTime(r["NUTA_ASSESSMENT_DTM"]).ToString("yyyy/MM/dd HH:mm")
                                    </td>
                                    <td style="width: 8%;">
                                        @r["NUTA_HEIGHT"] cm<br />
                                        @r["NUTA_WEIGHT"] kg
                                    </td>
                                    <td style="width: 5%;">
                                        @r["NUTA_BMI"]
                                    </td>
                                     @if(r["NUTA_TYPE"].ToString() == "adult")
                                     {
                                    <td style="width: 15%; ">
                                        @AssessmentRow1
                                    </td>
                                    <td style="width: 15%; ">
                                        @AssessmentRow2
                                    </td>
                                    <td style="width: 15%; ">
                                        @AssessmentRow3
                                    </td>
                                    <td style="width: 6%;">
                                        @AssessmentRow4
                                    </td>
                                     }
                                     else
                                     { 
                                    <td style="width: 17%; ">
                                        @AssessmentRow1
                                    </td>
                                    <td style="width: 17%; ">
                                        @AssessmentRow2
                                    </td>
                                    <td style="width: 17%; ">
                                        @AssessmentRow3
                                    </td>
                                    @*<td style="width: 12%;">
                                        @AssessmentRow4
                                    </td>*@
                                     }
                                    @if(r["NUTA_TYPE"].ToString() == "adult")
                                    {
                                    <td style="width: 16%;">
                                        @AssessmentResult
                                    </td>
                                    }
                                    <td style="width: 7%;">
                                        @r["username"]
                                    </td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>
