@{
    ViewBag.Title = "Med_List";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
  .dataArea td {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    text-align: left;
    white-space:pre-line;
    word-break:break-all;
  }
</style>

<script type="text/javascript">
    $(function () {
        $('#ck_all').click();
        setGridColor();
        $(".tooltip").tooltip({
            content: function () { return $(this).attr('title'); }
        });
    });

    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    function click_all(obj) {
        if (obj.checked) {
            $('input[name=id_list]').each(function () {
                this.checked = true;
            });
        }
        else {
            $('input[name=id_list]').each(function () {
                this.checked = false;
            });
        }
    }
</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<form id="form_content" action="Med_Sign" method="post">
<input type="hidden" id="pin_code" name="pin_code" value="" />
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding:5px 0 5px 0;">
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                        <tr>
                            @if (ViewBag.type == "N")
                            {
                            <td style="width:11%;">
                                全選 <input id="ck_all" type="checkbox" onclick="click_all(this);" />
                            </td>
                            }
                            <td style="width:12%;">病歷號碼</td>
                            <td style="width:12%;">病床號碼</td>
                            <td style="width:12%;">病人姓名</td>
                            <td style="width:16%;">內容</td>
                            <td style="width:11%;">紀錄者</td>
                            <td style="width:16%;">給藥時間</td>
                            @if (ViewBag.type == "N")
                            {
                            <td>上傳狀況</td>
                            }
                            else if (ViewBag.type == "Y")
                            {
                            <td>簽章狀況</td>
                            }
                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="height:350px;">
                    @if (dt != null)
                    {
                    <table border="0" cellpadding="4" cellspacing="1" width="100%" style="width:100%;background-color: #FFFFFF;">
                        @foreach (DataRow r in dt.Rows)
                        {
                        <tr>
                            @if (ViewBag.type == "N")
                            {
                            <td style=" width:11%;text-align:center;">
                                <input type="checkbox" name="id_list" value="@r["UD_SEQPK"]" />
                            </td>
                            }
                            <td style=" width:12%;">@r["chartno"]</td>
                            <td style=" width:12%;">@r["badno"]</td>
                            <td style=" width:12%;">@r["ptname"]</td>
                            <td style=" width:16%;">
                            @{
                            string title = "";
                            if (r["MED_DESC"].ToString() != "")
                            { title += "藥名：" + r["MED_DESC"] + "<br />"; }
                            if (r["USE_DOSE"].ToString() != "")
                            { title += "劑量：" + r["USE_DOSE"] + "<br />"; }
                            if (r["UD_PATH"].ToString() != "")
                            { title += "途徑：" + r["UD_PATH"] + "<br />"; }
                            if (r["UD_CIR"].ToString() != "")
                            { title += "頻次：" + r["UD_CIR"] + "<br />"; }
                            }
                                <label class="tooltip" title="@title">詳細內容</label>
                            </td>
                            <td style=" width:11%;">@r["EXEC_NAME"]</td>
                            <td style=" width:16%;">@Convert.ToDateTime(r["DRUG_DATE"]).ToString("yyyy/MM/dd HH:mm")</td>
                            <td>
                            @if (ViewBag.type == "N")
                            {
                                if (r["RECORD_ID"].ToString() == "N" || r["RECORD_ID"].ToString() == "")
                                {
                                    @:未送出
                                }
                                else
                                {
                                    <label class="tooltip" title="@r["RECORD_ID"]">送出失敗</label>
                                }
                            }
                            else if (ViewBag.type == "Y")
                            {
                                if (r["SIGNSTATUS"].ToString() == "")
                                {
                                    @:未簽章
                                }
                                else
                                {
                                    <label class="tooltip">@r["SIGNSTATUS"]</label>
                                }
                            }
                            </td>
                        </tr>
                        }
                    </table>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>
</form>