@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}

<script type="text/javascript">
    $(function () {
        setGridColor();
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }
</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    string strat = ViewBag.start;
    string end = ViewBag.end;
}
<div class="funcArea">
    <table border="0" cellpadding="4" cellspacing="1" width="100%" style="table-layout:fixed; white-space:nowrap;">
        <tr>
            <td>
                @Html.TextBox("start_date", Convert.ToDateTime(strat).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                @Html.TextBox("start_time", Convert.ToDateTime(strat).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                @*@WebTool.setDateTime("start_date", "start_time")*@
                @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "start_date", "start_time", false)
                @Html.Label("lab"," ~ ")
                @Html.TextBox("end_date", Convert.ToDateTime(end).ToString("yyyy/MM/dd"), new {style="width:80px", @readonly = "readonly" })
                @Html.TextBox("end_time", Convert.ToDateTime(end).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                @*@WebTool.setDateTime("end_date", "end_time")*@
                @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "end_date", "end_time", false)
                <input type="button" value="查詢" onclick="window.location.href = 'AssessmentDanger?starttime=' + $('#start_date').val() + ' ' + $('#start_time').val() + '&endtime=' + $('#end_date').val() + ' ' + $('#end_time').val()" />
                <input type="button" value="新增評估" onclick="window.location.href='Insert_Danger'" />
            </td>
        </tr>
        <tr>
            <td>

            </td>
        </tr>
    </table>
    <div class="dataHeader" id="dataHeader">
        <table border="0" cellpadding="4" cellspacing="1" style="table-layout:fixed; white-space:nowrap;" class="dtl_VS">
            <tr>
                <td><div style="width:90px; overflow:hidden;">編輯</div></td>
                <td><div style="width:130px; overflow:hidden;">評估日期</div></td>
                <td><div style="width:70px; overflow:hidden;">殘障手冊</div></td>
                <td><div style="width:60px; overflow:hidden;">意識</div></td>
                <td><div style="width:200px; overflow:hidden;">活動</div></td>
                <td><div style="width:100px; overflow:hidden;">大便</div></td>
                <td><div style="width:130px; overflow:hidden;">解尿</div></td>
                <td><div style="width:230px; overflow:hidden;">照顧特質</div></td>
                <td><div style="width:230px; overflow:hidden;">照顧資源</div></td>
                <td><div style="width:230px; overflow:hidden;">特殊照護</div></td>
                <td><div style="width:40px; overflow:hidden;">總分</div></td>
                <td><div style="width:60px; overflow:hidden;">紀錄者</div></td>
            </tr>
        </table>
    </div>
    <div class="dataArea" onscroll="document.getElementById('dataHeader').scrollLeft = this.scrollLeft;" style="height:320px; width:100%;">
        @if(dt != null && dt.Rows.Count > 0)
        {
        <table border="0" cellpadding="4" cellspacing="1">
            @foreach(DataRow r in dt.Rows)
            {
            <tr>
                <td><div style="width:90px; overflow:hidden;">
                    @if (r["CREATNO"].ToString() == ViewBag.userno)
                    {
                    <input type="button" value="更改" dangerid="@r["DANGER_ID"]" onclick="window.location.href = 'Insert_Danger?id=' + $(this).attr('dangerid');" />
                    <input type="button" value="刪除" dangerid="@r["DANGER_ID"]" onclick="if (confirm('確認刪除?')) { $.post('Del_Danger', { id: $(this).attr('dangerid') }, function (result) { document.write(result); }); }" />
                    }
                </div></td>
                <td><div style="width:130px; overflow:hidden;">
                    @Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")
                </div></td>
                <td><div style="width:70px; overflow:hidden;">@r["DISABILITY"]</div></td>
                <td><div style="width:60px; overflow:hidden;">@r["AWARENESS"]</div></td>
                <td><div style="width:200px; overflow:hidden;">@r["ACTIVE"]</div></td>
                <td><div style="width:100px; overflow:hidden;">@r["STOOL"]</div></td>
                <td><div style="width:130px; overflow:hidden;">@r["PISS"]</div></td>
                <td><div style="width:230px; overflow:hidden;">@r["CARE_CHARACTERISTICS"]</div></td>
                <td><div style="width:230px; overflow:hidden;">@r["CARE_RESOURCE"]</div></td>
                <td><div style="width:230px; overflow:hidden;">@r["CARE_SPECIAL"]</div></td>
                <td><div style="width:40px; overflow:hidden;">@r["TOTAL"]</div></td>
                <td><div style="width:60px; overflow:hidden;">@r["CREATNAME"]</div></td>
            </tr>
            }
        </table>    
        }
    </div>
</div>