@using NIS.Data;
@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string child_title = ViewBag.child_title;
    string c_version = ViewBag.seq_no;
    string imgname = c_version + ".jpg";
    string birthday = ViewBag.birthday;
    DataTable dt_child = ViewBag.dt_child;
    DataTable dt_answer = ViewBag.dt_answer;
    PatientInfo piInfo = ViewBag.ptinfo;
}
<script type="text/javascript">
    $(document).ready(function () {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    });
</script>

<style type="text/css">
    form {
        font-size:12pt;
        font-family: EUDC !important;
    }
</style>

<form method="post" action="AssessmentChild_Save" name="form_child" >
    <table style="width:700px">
        <tr>
            <td>
                @(LanguagePack.Menu.TitlePatName)：@(piInfo.PatientName)
                    &emsp;&emsp;&emsp;
                @(LanguagePack.Menu.TitleAge)：@(piInfo.Age) 歲 (@birthday)
            </td>
        </tr>
    </table>
    @if(dt_child != null )
    {
        string[] value = new string[dt_child.Rows.Count];
        if (dt_answer.Rows.Count > 0)
        {
            string value_temp = dt_answer.Rows[0]["VAL"].ToString();
            for (int i = 0; i < value_temp.Length; i++)
            {
                value[i] = value_temp.Substring(i, 1);
            }
        }
    <table border="1" class="dataArea">
        <tr><td colspan="2" style="text-align:center"><p style="font-size:16pt">@child_title</p></td></tr>
        <tr>
            <th style="width:600px">項&emsp;&emsp;目</th>
            <th style="width:100px">是 / 否</th>
        </tr>
        @for (int i = 0; i < dt_child.Rows.Count; i ++ )
        { 
            <tr>
                <td>@dt_child.Rows[i]["ASSESS_ITEM"]</td>
                <td style="text-align:center">
                    @value[i].Replace("Y", "是").Replace("N", "否")
                </td>
            </tr>
        }
    </table>
        if (@c_version == "A08" || @c_version == "A09" || @c_version == "A10" || @c_version == "A11" || @c_version == "A12" || @c_version == "A13" || @c_version == "A14")
        {
        <div style="text-align:center">            
        <img alt=""  src="~/Images/AssessmentChild/@imgname" /></div>
        }
    }
</form>
