@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}
<script type="text/javascript">
    $(document).ready(function () {
        $(".tabArea").tabs({ active: 0 });

        $(".nexttab").click(function () {
            var active = $(".tabArea").tabs("option", "active");
            $(".tabArea").tabs("option", "active", active + 1);
        });
    });
</script>

<div class="tabArea">
    <ul>
        <li><a href="#tabs-1">一般資料</a></li>
        <li><a href="#tabs-2">入院身體評估</a></li>
        <li><a href="#tabs-3">營養代謝及排泄</a></li>
        <li><a href="#tabs-4">活動運動及睡眠休息</a></li>
        <li><a href="#tabs-5">認知感受</a></li>
        <li><a href="#tabs-6">泌尿生殖</a></li>
        <li><a href="#tabs-7">壓力適應及價值信念</a></li>
    </ul>
    <div id="tabs-1" class="tab">	<!-- 基本資料 -->
        <a class="nexttab" href="#"><img src="~/Images/next.png"/ alt="下一步" title="下一步" border="0" /></a>
		<p>
            @Html.Label("lab", "產前一般資料", new { @class = "subtitle" })
        </p>
        <p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
            母親年齡： @Html.TextBox("param_body_height", "", new { @id = "other", @style = "width:80px;" }) 歲
			國籍： @Html.TextBox("param_body_height", "", new { @id = "other", @style = "width:100px;" })
			職業： @Html.TextBox("param_body_height", "", new { @id = "other", @style = "width:100px;" })
        </p>
        <p>
            &emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			G @Html.TextBox("param_body_height", "", new { @id = "other", @style = "width:80px;" })
			P @Html.TextBox("param_body_height", "", new { @id = "other", @style = "width:80px;" })
			A @Html.TextBox("param_body_height", "", new { @id = "other", @style = "width:80px;" })
			AA @Html.TextBox("param_body_height", "", new { @id = "other", @style = "width:80px;" })
			EDC @Html.TextBox("param_body_height", "", new { @id = "other", @style = "width:80px;" })
			懷孕週數 @Html.TextBox("param_body_height", "", new { @id = "other", @style = "width:80px;" }) 週
        </p>
		<p>
            @Html.Label("lab", "產前檢查", new { @class = "subtitle" })
        </p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			母親血型：
			@Html.RadioButton("param_ipd_style", "A", false, new { id = "param_ipd_style01" }) 
			@Html.Label("param_ipd_style01", "A")
            @Html.RadioButton("param_ipd_style", "B", false, new { id = "param_ipd_style02" }) 
			@Html.Label("param_ipd_style02", "B")
			@Html.RadioButton("param_ipd_style", "O", false, new { id = "param_ipd_style03" }) 
			@Html.Label("param_ipd_style03", "O")
			@Html.RadioButton("param_ipd_style", "AB", false, new { id = "param_ipd_style04" }) 
			@Html.Label("param_ipd_style04", "AB")
			@Html.RadioButton("param_ipd_style", "Unknow", false, new { id = "param_ipd_style05" }) 
			@Html.Label("param_ipd_style05", "不詳")
			
			@Html.RadioButton("param_ipd_style", "Rh+", false, new { id = "param_ipd_style06" }) 
			@Html.Label("param_ipd_style06", "陽性")
			@Html.RadioButton("param_ipd_style", "Rh-", false, new { id = "param_ipd_style07" }) 
			@Html.Label("param_ipd_style07", "陰性")
			@Html.RadioButton("param_ipd_style", "Unknow", false, new { id = "param_ipd_style08" }) 
			@Html.Label("param_ipd_style08", "不詳")
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			父親血型：
			@Html.RadioButton("param_ipd_style", "A", false, new { id = "param_ipd_style1" }) 
			@Html.Label("param_ipd_style1", "A")
            @Html.RadioButton("param_ipd_style", "B", false, new { id = "param_ipd_style2" }) 
			@Html.Label("param_ipd_style2", "B")
			@Html.RadioButton("param_ipd_style", "O", false, new { id = "param_ipd_style3" }) 
			@Html.Label("param_ipd_style3", "O")
			@Html.RadioButton("param_ipd_style", "AB", false, new { id = "param_ipd_style4" }) 
			@Html.Label("param_ipd_style4", "AB")
			@Html.RadioButton("param_ipd_style", "Unknow", false, new { id = "param_ipd_style5" }) 
			@Html.Label("param_ipd_style5", "不詳")
			
			@Html.RadioButton("param_ipd_style", "Rh+", false, new { id = "param_ipd_style6" }) 
			@Html.Label("param_ipd_style6", "陽性")
			@Html.RadioButton("param_ipd_style", "Rh-", false, new { id = "param_ipd_style7" }) 
			@Html.Label("param_ipd_style7", "陰性")
			@Html.RadioButton("param_ipd_style", "Unknow", false, new { id = "param_ipd_style8" }) 
			@Html.Label("param_ipd_style8", "不詳")
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			人類免疫缺陷病毒(HBsAg)：
			@Html.RadioButton("param_ipd_style", "Rh+", false, new { id = "param_ipd_style11" }) 
			@Html.Label("param_ipd_style11", "陽性")
			@Html.RadioButton("param_ipd_style", "Rh-", false, new { id = "param_ipd_style12" }) 
			@Html.Label("param_ipd_style12", "陰性")
			@Html.RadioButton("param_ipd_style", "Unknow", false, new { id = "param_ipd_style13" }) 
			@Html.Label("param_ipd_style13", "不詳")
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			B 型肝炎 E 抗原 (HBeAg)：
			@Html.RadioButton("param_ipd_style", "Rh+", false, new { id = "param_ipd_style21" }) 
			@Html.Label("param_ipd_style21", "陽性")
			@Html.RadioButton("param_ipd_style", "Rh-", false, new { id = "param_ipd_style22" }) 
			@Html.Label("param_ipd_style22", "陰性")
			@Html.RadioButton("param_ipd_style", "Unknow", false, new { id = "param_ipd_style23" }) 
			@Html.Label("param_ipd_style23", "不詳")
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			梅毒血清檢查(VDRL)：
			@Html.RadioButton("param_ipd_style", "Rh+", false, new { id = "param_ipd_style31" }) 
			@Html.Label("param_ipd_style31", "陽性")
			@Html.RadioButton("param_ipd_style", "Rh-", false, new { id = "param_ipd_style32" }) 
			@Html.Label("param_ipd_style32", "陰性")
			@Html.RadioButton("param_ipd_style", "Unknow", false, new { id = "param_ipd_style33" }) 
			@Html.Label("param_ipd_style33", "不詳")
		</p>
		<p>
            @Html.Label("lab", "疾病史", new { @class = "subtitle" })
			@Html.RadioButton("param_SickHistory", "1", false, new { id = "param_SickHistory1", @onclick = "$('.param_SickHistoryYes').fadeOut(500);" }) 
			@Html.Label("param_SickHistory1", "無")
			@Html.RadioButton("param_SickHistory", "2", false, new { id = "param_SickHistory2", @onclick = "$('.param_SickHistoryYes').fadeIn(500);" }) 
			@Html.Label("param_SickHistory2", "有")
        </p>
		<p class="param_SickHistoryYes" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			@Html.CheckBox("Param_SickHistoryDesc[]", false, new { id = "Param_SickHistoryDesc1" }) 
			@Html.Label("Param_SickHistoryDesc1", "糖尿病")
			@Html.CheckBox("Param_SickHistoryDesc[]", false, new { id = "Param_SickHistoryDesc2" }) 
			@Html.Label("Param_SickHistoryDesc2", "高血壓")
			@Html.CheckBox("Param_SickHistoryDesc[]", false, new { id = "Param_SickHistoryDesc3" }) 
			@Html.Label("Param_SickHistoryDesc3", "心臟病")
			@Html.CheckBox("Param_SickHistoryDesc[]", false, new { id = "Param_SickHistoryDesc4" }) 
			@Html.Label("Param_SickHistoryDesc4", "腎臟病")
			@Html.CheckBox("Param_SickHistoryDesc[]", false, new { id = "Param_SickHistoryDesc5" }) 
			@Html.Label("Param_SickHistoryDesc5", "貧血")
			@Html.CheckBox("Param_SickHistoryDesc[]", false, new { id = "Param_SickHistoryDesc6" }) 
			@Html.Label("Param_SickHistoryDesc6", "其他")
		</p>
		<p>
            @Html.Label("lab", "生產合併症", new { @class = "subtitle" })
			@Html.RadioButton("param_CombineSick", "1", false, new { id = "param_CombineSick1", @onclick = "$('.param_CombineSickYes').fadeOut(500);" }) 
			@Html.Label("param_CombineSick1", "無")
			@Html.RadioButton("param_CombineSick", "2", false, new { id = "param_CombineSick2", @onclick = "$('.param_CombineSickYes').fadeIn(500);" }) 
			@Html.Label("param_CombineSick2", "有")
        </p>
		<p class="param_CombineSickYes" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			@Html.CheckBox("param_CombineSickDesc[]", false, new { id = "param_CombineSickDesc01" }) 
			@Html.Label("param_CombineSickDesc01", "胎盤早期剝離")
			@Html.CheckBox("param_CombineSickDesc[]", false, new { id = "param_CombineSickDesc02" }) 
			@Html.Label("param_CombineSickDesc02", "前置胎盤")
			@Html.CheckBox("param_CombineSickDesc[]", false, new { id = "param_CombineSickDesc03" }) 
			@Html.Label("param_CombineSickDesc03", "子癲前症")
			@Html.CheckBox("param_CombineSickDesc[]", false, new { id = "param_CombineSickDesc04" }) 
			@Html.Label("param_CombineSickDesc04", "其他")
		</p>
		<p>
            @Html.Label("lab", "分娩方式", new { @class = "subtitle" })
			@Html.RadioButton("param_Childbirth", "1", false, new { id = "param_Childbirth1" }) 
			@Html.Label("param_Childbirth1", "自然生產")
			@Html.RadioButton("param_Childbirth", "2", false, new { id = "param_Childbirth2" }) 
			@Html.Label("param_Childbirth2", "剖腹產")
			@Html.RadioButton("param_Childbirth", "3", false, new { id = "param_Childbirth3" }) 
			@Html.Label("param_Childbirth3", "真空吸引")
			@Html.RadioButton("param_Childbirth", "4", false, new { id = "param_Childbirth4" }) 
			@Html.Label("param_Childbirth4", "產鉗")
        </p>
		<p>
            @Html.Label("lab", "生產地點", new { @class = "subtitle" })
			@Html.RadioButton("param_BornPlace", "1", false, new { id = "param_BornPlace1" }) 
			@Html.Label("param_BornPlace1", "本院")
			@Html.RadioButton("param_BornPlace", "2", false, new { id = "param_BornPlace2" }) 
			@Html.Label("param_BornPlace2", "其他")
			@Html.TextBox("param_body_height", "", new { @id = "other", @style = "width:150px;" })
        </p>
		<p>
            @Html.Label("lab", "破水時間", new { @class = "subtitle" })
			@Html.TextBox("param_BornDate", "", new { @id = "other", @style = "width:150px;" })
			@Html.TextBox("param_BornTime", "", new { @id = "other", @style = "width:60px;" })
            @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "param_BornDate", "param_BornTime", false)
			@*<script type="text/javascript">
			    $(function () {
			        $('#param_BornDate').datetimepicker({
			            altField: "#param_BornTime"
                        , maxDateTime: 0
			        });
			    });
			</script>*@
			早期破水(PROM) @Html.TextBox("param_PROM", "", new { @id = "other", @style = "width:60px;" }) 小時
			@Html.CheckBox("param_BornUnknow", false, new { id = "param_BornUnknow1" }) 
			@Html.Label("param_BornUnknow1", "不清楚")
        </p>
		<p>
            @Html.Label("lab", "嬰兒一般資料", new { @class = "subtitle" })
			出生時間：
			@Html.TextBox("param_BirthDate", "", new { @id = "other", @style = "width:150px;" })
			@Html.TextBox("param_BirthTime", "", new { @id = "other", @style = "width:60px;" })
            @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "param_BirthDate", "param_BirthTime", false)
			@*<script type="text/javascript">
			    $(function () {
			        $('#param_BirthDate').datetimepicker({
			            altField: "#param_BirthTime",
			             maxDateTime: 0
			        });
			    });
			</script>*@
			性別：
			@Html.RadioButton("param_BabyGender", "M", false, new { id = "param_BabyGender1" }) 
			@Html.Label("param_BabyGender1", "男")
			@Html.RadioButton("param_BabyGender", "F", false, new { id = "param_BabyGender2" }) 
			@Html.Label("param_BabyGender2", "女")
			出生體重：
			@Html.TextBox("param_BabyWeight", "", new { @id = "other", @style = "width:60px;" }) gm
        </p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			Apagar Score： @Html.TextBox("param_ApagarScore1min", "", new { @style = "width:60px;" }) /1分鐘
			@Html.TextBox("param_ApagarScore5min", "", new { @id = "other", @style = "width:60px;" }) /5分鐘
			@Html.CheckBox("param_ApagarNormal", false, new { id = "param_ApagarNormal1" }) 
			@Html.Label("param_ApagarNormal1", "正常")
			DOIC： @Html.TextBox("param_Doic", "", new { @id = "other", @style = "width:60px;" }) 分鐘
		</p>
		<p>
            @Html.Label("lab", "在外就醫或服藥", new { @class = "subtitle" })
			@Html.RadioButton("param_OutMed", "N", false, new { id = "param_OutMed01", @onclick = "$('.param_OutMedDesc').fadeOut(500)" }) 
			@Html.Label("param_OutMed01", "無")
			@Html.RadioButton("param_OutMed", "Y", false, new { id = "param_OutMed02", @onclick = "$('.param_OutMedDesc').fadeIn(500)" }) 
			@Html.Label("param_OutMed02", "有")
			@Html.TextBox("param_OutMedDesc", "", new { @id = "other", @class = "param_OutMedDesc", @style = "display:none; width:60px;" })
		</p>
		<p>
            @Html.Label("lab", "嬰兒照護", new { @class = "subtitle" })
			奶瓶消毒：
			@Html.RadioButton("param_OutMed", "N", false, new { id = "param_OutMed11" }) 
			@Html.Label("param_OutMed11", "正確")
			@Html.RadioButton("param_OutMed", "Y", false, new { id = "param_OutMed12" }) 
			@Html.Label("param_OutMed12", "不正確")
			調奶方法：
			@Html.RadioButton("param_OutMed", "N", false, new { id = "param_OutMed21" }) 
			@Html.Label("param_OutMed21", "正確")
			@Html.RadioButton("param_OutMed", "Y", false, new { id = "param_OutMed22" }) 
			@Html.Label("param_OutMed22", "不正確")
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			洗澡： @Html.TextBox("param_WashAmt", "", new { @id = "other", @style = "width:40px;" }) 次/
			@Html.TextBox("param_WashDay", "", new { @id = "other", @style = "width:40px;" }) 天
			臍帶處理：
			@Html.RadioButton("param_OutMed", "N", false, new { id = "param_OutMed31" }) 
			@Html.Label("param_OutMed31", "正確")
			@Html.RadioButton("param_OutMed", "Y", false, new { id = "param_OutMed32" }) 
			@Html.Label("param_OutMed32", "不正確")
			@Html.RadioButton("param_OutMed", "Y", false, new { id = "param_OutMed33" }) 
			@Html.Label("param_OutMed33", "臍帶已脫")
		</p>
		<p>
			@Html.Label("lab", "新生兒篩檢", new { @class = "subtitle" })
			@Html.RadioButton("param_BabyCheck", "N", false, new { id = "param_BabyCheck1" }) 
			@Html.Label("param_BabyCheck1", "已篩檢")
			@Html.RadioButton("param_BabyCheck", "Y", false, new { id = "param_BabyCheck2" }) 
			@Html.Label("param_BabyCheck2", "未篩檢")
			原因 @Html.TextBox("param_BabyCheckDesc", "", new { @id = "other", @style = "width:60px;" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			預防接種
			@Html.CheckBox("param_Vaccination[]", false, new { id = "param_Vaccination1" }) 
			@Html.Label("param_Vaccination1", "B型肝炎免疫球蛋白(HBIG)")
			@Html.CheckBox("param_Vaccination[]", false, new { id = "param_Vaccination2" }) 
			@Html.Label("param_Vaccination2", "卡介苗(BCG)")
			@Html.CheckBox("param_Vaccination[]", false, new { id = "param_Vaccination3" }) 
			@Html.Label("param_Vaccination3", "B型肝炎疫苗(HBV) ，已打 ")
			@Html.TextBox("param_VaccinationAMT", "", new { @id = "other", @style = "width:60px;" }) 劑
			@Html.CheckBox("param_Vaccination[]", false, new { id = "param_Vaccination4" }) 
			@Html.Label("param_Vaccination4", "三合一疫苗(DPT)")
		</p>
		<p>
			@Html.Label("lab", "角色關係", new { @class = "subtitle" })
			兄 @Html.TextBox("param_ParentOBorther", "", new { @id = "other", @style = "width:60px;" }) 人
			弟 @Html.TextBox("param_ParentYBorther", "", new { @id = "other", @style = "width:60px;" }) 人
			姐 @Html.TextBox("param_ParentOSister", "", new { @id = "other", @style = "width:60px;" }) 人
			妹 @Html.TextBox("param_ParentYSister", "", new { @id = "other", @style = "width:60px;" }) 人
			@Html.CheckBox("param_ParentNot", false, new { id = "param_ParentNot1" }) 
			@Html.Label("param_ParentNot1", "棄嬰")
			@Html.CheckBox("param_ParentOther", false, new { id = "param_ParentOther1" }) 
			@Html.Label("param_ParentOther1", "收養")
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			@Html.CheckBox("param_ParentCare[]", false, new { id = "param_ParentCare1" }) 
			@Html.Label("param_ParentCare1", "父母親")
			@Html.CheckBox("param_ParentCare[]", false, new { id = "param_ParentCare2" }) 
			@Html.Label("param_ParentCare2", "祖父母")
			@Html.CheckBox("param_ParentCare[]", false, new { id = "param_ParentCare3" }) 
			@Html.Label("param_ParentCare3", "媬母")
			其他 @Html.CheckBox("param_ParentCareOther[]", false)
		</p>
    </div>
    <div id="tabs-2" class="tab">	<!-- 入院身體評估 -->
        <a class="nexttab" href="#"><img src="~/Images/next.png"/ alt="下一步" title="下一步" border="0" /></a>
		<p>
            @Html.Label("lab", "入院身體評估", new { @class = "subtitle" })
        </p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
            體重 @Html.TextBox("param_BodyWeight", "", new { @id = "other", @style = "width:60px;" }) kg 
			身長 @Html.TextBox("param_BodyHeight", "", new { @id = "other", @style = "width:60px;" }) cm 
			頭圍 @Html.TextBox("param_HeadSize", "", new { @id = "other", @style = "width:60px;" }) cm 
			胸圍 @Html.TextBox("param_BustSize", "", new { @id = "other", @style = "width:60px;" }) cm
        </p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
            體溫 @Html.TextBox("param_Temperture", "", new { @id = "other", @style = "width:60px;" }) 度
			血壓 @Html.TextBox("param_BodyHeight", "", new { @id = "other", @style = "width:60px;" }) / 
			@Html.TextBox("param_HeadSize", "", new { @id = "other", @style = "width:60px;" }) mmHg 
        </p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
            心搏 @Html.TextBox("param_CardiacAmt", "", new { @id = "other", @style = "width:60px;" }) 次/分
			@Html.RadioButton("param_Cardiac", "N", false, new { id = "param_Cardiac1", @onclick = "$('.param_CardiacDesc').fadeOut(500)" }) 
			@Html.Label("param_Cardiac1", "正常")
			@Html.RadioButton("param_Cardiac", "Y", false, new { id = "param_Cardiac2", @onclick = "$('.param_CardiacDesc').fadeIn(500)" }) 
			@Html.Label("param_Cardiac2", "異常")
			<span class="param_CardiacDesc" style="display:none;">
				@Html.CheckBox("param_CardiacContent[]", false, new { id = "param_CardiacDesc1" }) 
			@Html.Label("param_CardiacDesc1", "雜音")
				@Html.CheckBox("param_CardiacContent[]", false, new { id = "param_CardiacDesc2" }) 
			@Html.Label("param_CardiacDesc2", "心律不整")
			</span>
        </p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
            呼吸 @Html.TextBox("param_BreathingAmt", "", new { @id = "other", @style = "width:60px;" }) 次/分
			@Html.RadioButton("param_Breathing", "N", false, new { id = "param_Breathing1", @onclick = "$('.param_BreathingDesc').fadeOut(500)" }) 
			@Html.Label("param_Breathing1", "正常")
			@Html.RadioButton("param_Breathing", "Y", false, new { id = "param_Breathing2", @onclick = "$('.param_BreathingDesc').fadeIn(500)" }) 
			@Html.Label("param_Breathing2", "異常")
			<span class="param_BreathingDesc" style="display:none;">
				@Html.CheckBox("param_BreathingContent[]", false, new { id = "param_BreathingContent1" }) 
			@Html.Label("param_BreathingContent1", "不規則")
				@Html.CheckBox("param_BreathingContent[]", false, new { id = "param_BreathingContent2" }) 
			@Html.Label("param_BreathingContent2", "微弱")
				@Html.CheckBox("param_BreathingContent[]", false, new { id = "param_BreathingContent3" }) 
			@Html.Label("param_BreathingContent3", "胸骨凹陷")
				@Html.CheckBox("param_BreathingContent[]", false, new { id = "param_BreathingContent4" }) 
			@Html.Label("param_BreathingContent4", "痰音")
				@Html.CheckBox("param_BreathingContent[]", false, new { id = "param_BreathingContent5" }) 
			@Html.Label("param_BreathingContent5", "鼻翼煽動")
			</span>
        </p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			頭部 @Html.TextBox("param_Head", "", new { @id = "other", @style = "width:60px;" }) 次/分
			@Html.RadioButton("param_Head", "N", false, new { id = "param_Head1", @onclick = "$('.param_HeadDesc').fadeOut(500)" }) 
			@Html.Label("param_Head1", "正常")
			@Html.RadioButton("param_Head", "Y", false, new { id = "param_Head2", @onclick = "$('.param_HeadDesc').fadeIn(500)" }) 
			@Html.Label("param_Head2", "異常")
		</p>
		<p class="param_HeadDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			@Html.CheckBox("param_HeadContent[]", false, new { id = "param_HeadContent1" }) 
			@Html.Label("param_HeadContent1", "破皮，部位")
			@Html.CheckBox("param_HeadContent[]", false, new { id = "param_HeadContent2" }) 
			@Html.Label("param_HeadContent2", "其他，部位")
		</p>
		<p class="param_HeadDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			@Html.CheckBox("param_HeadContent[]", false, new { id = "param_HeadContent3" }) 
			@Html.Label("param_HeadContent3", "產瘤，部位")
			@Html.CheckBox("param_HeadContent[]", false, new { id = "param_HeadContent4" }) 
			@Html.Label("param_HeadContent4", "血腫，部位")
			@Html.CheckBox("param_HeadContent[]", false, new { id = "param_HeadContent5" }) 
			@Html.Label("param_HeadContent5", "瘀點，部位")
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			顏面
			@Html.RadioButton("param_Head", "N", false, new { id = "param_Head01", @onclick = "$('.param_FaceDesc').fadeOut(500)" }) 
			@Html.Label("param_Head01", "正常")
			@Html.RadioButton("param_Head", "Y", false, new { id = "param_Head02", @onclick = "$('.param_FaceDesc').fadeIn(500)" }) 
			@Html.Label("param_Head02", "異常")
		</p>
		<p class="param_FaceDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			@Html.CheckBox("param_Face[]", false, new { id = "param_Face1" }) 
			@Html.Label("param_Face1", "嘴角下垂")
			@Html.RadioButton("param_FaceDrop", "L", false, new { id = "param_FaceDrop1" }) 
			@Html.Label("param_FaceDrop1", "左")
			@Html.RadioButton("param_FaceDrop", "R", false, new { id = "param_FaceDrop2" }) 
			@Html.Label("param_FaceDrop2", "右")
			@Html.CheckBox("param_Face[]", false, new { id = "param_Face2" }) 
			@Html.Label("param_Face2", "無表情")
			@Html.CheckBox("param_Face[]", false, new { id = "param_Face3" }) 
			@Html.Label("param_Face3", "其他")
			@Html.TextBox("param_Head", "", new { @id = "other", @style = "width:60px;" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			眼睛
			@Html.RadioButton("param_Eye", "N", false, new { id = "param_Eye1", @onclick = "$('.param_EyeDesc').fadeOut(500)" }) 
			@Html.Label("param_Eye1", "正常")
			@Html.RadioButton("param_Eye", "Y", false, new { id = "param_Eye2", @onclick = "$('.param_EyeDesc').fadeIn(500)" }) 
			@Html.Label("param_Eye2", "異常")
		</p>
		<p class="param_EyeDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			左
			@Html.CheckBox("param_EyeLeft[]", false, new { id = "param_EyeLeft1" }) 
			@Html.Label("param_EyeLeft1", "結膜出血")
			@Html.CheckBox("param_EyeLeft[]", false, new { id = "param_EyeLeft2" }) 
			@Html.Label("param_EyeLeft2", "白內障")
			@Html.CheckBox("param_EyeLeft[]", false, new { id = "param_EyeLeft3" }) 
			@Html.Label("param_EyeLeft3", "眼瞼下垂")
			@Html.CheckBox("param_EyeLeft[]", false, new { id = "param_EyeLeft4" }) 
			@Html.Label("param_EyeLeft4", "分泌物 ")
			性狀： @Html.TextBox("param_EyeLeftType", "", new { @id = "other", @style = "width:60px;" })			
			其他 @Html.TextBox("param_EyeLeftOther", "", new { @id = "other", @style = "width:60px;" })
		</p>
		<p class="param_EyeDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			右
			@Html.CheckBox("param_EyeRight[]", false, new { id = "param_EyeRight1" }) 
			@Html.Label("param_EyeRight1", "結膜出血")
			@Html.CheckBox("param_EyeRight[]", false, new { id = "param_EyeRight2" }) 
			@Html.Label("param_EyeRight2", "白內障")
			@Html.CheckBox("param_EyeRight[]", false, new { id = "param_EyeRight3" }) 
			@Html.Label("param_EyeRight3", "眼瞼下垂")
			@Html.CheckBox("param_EyeRight[]", false, new { id = "param_EyeRight4" }) 
			@Html.Label("param_EyeRight4", "分泌物 ")
			性狀： @Html.TextBox("param_EyeRightType", "", new { @id = "other", @style = "width:60px;" })			
			其他 @Html.TextBox("param_EyeRightOther", "", new { @id = "other", @style = "width:60px;" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			耳朵
			@Html.RadioButton("param_Ear", "N", false, new { id = "param_Ear1", @onclick = "$('.param_EarDesc').fadeOut(500)" }) 
			@Html.Label("param_Ear1", "正常")
			@Html.RadioButton("param_Ear", "Y", false, new { id = "param_Ear2", @onclick = "$('.param_EarDesc').fadeIn(500)" }) 
			@Html.Label("param_Ear2", "異常")
		</p>
		<p class="param_EarDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			左
			@Html.CheckBox("param_EarLeft[]", false, new { id = "param_EarLeft1" }) 
			@Html.Label("param_EarLeft1", "低位耳")
			@Html.CheckBox("param_EarLeft[]", false, new { id = "param_EarLeft2" }) 
			@Html.Label("param_EarLeft2", "耳前贅肉")
			@Html.CheckBox("param_EarLeft[]", false, new { id = "param_EarLeft3" }) 
			@Html.Label("param_EarLeft3", "耳前凹陷")
			@Html.CheckBox("param_EarLeft[]", false, new { id = "param_EarLeft4" }) 
			@Html.Label("param_EarLeft4", "小耳症")	
			其他 @Html.TextBox("param_EarLeftOther", "", new { @id = "other", @style = "width:60px;" })
		</p>
		<p class="param_EarDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			右
			@Html.CheckBox("param_EarRight[]", false, new { id = "param_EarRight1" }) 
			@Html.Label("param_EarRight1", "低位耳")
			@Html.CheckBox("param_EarRight[]", false, new { id = "param_EarRight2" }) 
			@Html.Label("param_EarRight2", "耳前贅肉")
			@Html.CheckBox("param_EarRight[]", false, new { id = "param_EarRight3" }) 
			@Html.Label("param_EarRight3", "耳前凹陷")
			@Html.CheckBox("param_EarRight[]", false, new { id = "param_EarRight4" }) 
			@Html.Label("param_EarRight4", "小耳症") 	
			其他 @Html.TextBox("param_EarRightOther", "", new { @id = "other", @style = "width:60px;" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			鼻子
			@Html.RadioButton("param_Notes", "N", false, new { id = "param_Notes1", @onclick = "$('.param_NotesDesc').fadeOut(500)" }) 
			@Html.Label("param_Notes1", "順暢")
			@Html.RadioButton("param_Notes", "Y", false, new { id = "param_Notes2", @onclick = "$('.param_NotesDesc').fadeIn(500)" }) 
			@Html.Label("param_Notes2", "異常")
		</p>
		<p class="param_NotesDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			@Html.CheckBox("param_Notes[]", false, new { id = "param_Notes01" }) 
			@Html.Label("param_Notes01", "黏液多")
			@Html.CheckBox("param_Notes[]", false, new { id = "param_Notes02" }) 
			@Html.Label("param_Notes02", "畸形")
			@Html.CheckBox("param_Notes[]", false, new { id = "param_Notes03" }) 
			@Html.Label("param_Notes03", "鼻孔閉鎖")
			其他 @Html.TextBox("param_NotesOther", "", new { @id = "other", @style = "width:60px;" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			口腔
			@Html.RadioButton("param_Oral", "N", false, new { id = "param_Oral01", @onclick = "$('.param_OralDesc').fadeOut(500)" }) 
			@Html.Label("param_Oral01", "正常")
			@Html.RadioButton("param_Oral", "Y", false, new { id = "param_Oral02", @onclick = "$('.param_OralDesc').fadeIn(500)" }) 
			@Html.Label("param_Oral02", "異常")
		</p>
		<p class="param_OralDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			@Html.CheckBox("param_Oral[]", false, new { id = "param_Oral1" }) 
			@Html.Label("param_Oral1", "顎裂")
			@Html.CheckBox("param_Oral[]", false, new { id = "param_Oral2" }) 
			@Html.Label("param_Oral2", "唇裂")
			@Html.RadioButton("param_OralBreak", "L", false, new { id = "param_OralBreak1" }) 
			@Html.Label("param_OralBreak1", "左")
			@Html.RadioButton("param_OralBreak", "R", false, new { id = "param_OralBreak2" }) 
			@Html.Label("param_OralBreak2", "右")
			@Html.CheckBox("param_Oral[]", false, new { id = "param_Oral3" }) 
			@Html.Label("param_Oral3", "早熟齒")
			其他 @Html.TextBox("param_OralOther", "", new { @id = "other", @style = "width:60px;" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			頸部
			@Html.RadioButton("param_Neck", "N", false, new { id = "param_Neck1", @onclick = "$('.param_NeckDesc').fadeOut(500)" }) 
			@Html.Label("param_Neck1", "正常")
			@Html.RadioButton("param_Neck", "Y", false, new { id = "param_Neck2", @onclick = "$('.param_NeckDesc').fadeIn(500)" }) 
			@Html.Label("param_Neck2", "異常")
		</p>
		<p class="param_NeckDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			@Html.CheckBox("param_Neck[]", false, new { id = "param_Neck01" }) 
			@Html.Label("param_Neck01", "斜頸")
			@Html.RadioButton("param_NeckBreakL", "L", false, new { id = "param_NeckBreakL1" }) 
			@Html.Label("param_NeckBreakL1", "左")
			@Html.RadioButton("param_NeckBreakR", "R", false, new { id = "param_NeckBreakR1" }) 
			@Html.Label("param_NeckBreakR1", "右")
			其他 @Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:60px;" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			腹部
			@Html.RadioButton("param_Abdomen", "N", false, new { id = "param_Abdomen1", @onclick = "$('.param_AbdomenDesc').fadeOut(500)" }) 
			@Html.Label("param_Abdomen1", "正常")
			@Html.RadioButton("param_Abdomen", "Y", false, new { id = "param_Abdomen2", @onclick = "$('.param_AbdomenDesc').fadeIn(500)" }) 
			@Html.Label("param_Abdomen2", "異常")
		</p>
		<p class="param_AbdomenDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			@Html.CheckBox("param_Abdomen[]", false, new { id = "param_Abdomen01" }) 
			@Html.Label("param_Abdomen01", "斜頸")
			@Html.RadioButton("param_NeckBreak", "1", false, new { id = "param_NeckBreak1" }) 
			@Html.Label("param_NeckBreak1", "左")
			@Html.RadioButton("param_NeckBreak", "2", false, new { id = "param_NeckBreak2" })  
			@Html.Label("param_NeckBreak2", "右")
			其他 @Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:60px;" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			背部
			@Html.RadioButton("param_Back", "N", false, new { id = "param_Back1", @onclick = "$('.param_BackDesc').fadeOut(500)" }) 
			@Html.Label("param_Back1", "正常")
			@Html.RadioButton("param_Back", "Y", false, new { id = "param_Back2", @onclick = "$('.param_BackDesc').fadeIn(500)" }) 
			@Html.Label("param_Back2", "異常")
		</p>
		<p class="param_BackDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			@Html.RadioButton("param_NeckBreak", "1", false, new { id = "param_NeckBreak01" }) 
			@Html.Label("param_NeckBreak01", "脊隨膜膨出")
			@Html.RadioButton("param_NeckBreak", "2", false, new { id = "param_NeckBreak02" }) 
			@Html.Label("param_NeckBreak02", "脊隨脊隨膜膨出")
			@Html.CheckBox("param_Back[]", false, new { id = "param_Back01" }) 
			@Html.Label("param_Back01", "脊隨彎曲")
			其他 @Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:60px;" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			四肢
			@Html.RadioButton("param_Limbs", "N", false, new { id = "param_Limbs1", @onclick = "$('.param_LimbsDesc').fadeOut(500)" }) 
			@Html.Label("param_Limbs1", "正常")
			@Html.RadioButton("param_Limbs", "Y", false, new { id = "param_Limbs2", @onclick = "$('.param_LimbsDesc').fadeIn(500)" }) 
			@Html.Label("param_Limbs2", "異常")
		</p>
		<p class="param_LimbsDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			左上肢
			@Html.CheckBox("param_LimbsLU[]", false, new { id = "param_LimbsLU1" }) 
			@Html.Label("param_LimbsLU1", "內翻")
			@Html.CheckBox("param_LimbsLU[]", false, new { id = "param_LimbsLU2" }) 
			@Html.Label("param_LimbsLU2", "外翻")
			@Html.CheckBox("param_LimbsLU[]", false, new { id = "param_LimbsLU3" }) 
			@Html.Label("param_LimbsLU3", "麻痺 ")
			@Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:40px;" })
			@Html.CheckBox("param_LimbsLU[]", false, new { id = "param_LimbsLU4" }) 
			@Html.Label("param_LimbsLU4", "多指 ")
			@Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:40px;" })
			@Html.CheckBox("param_LimbsLU[]", false, new { id = "param_LimbsLU5" }) 
			@Html.Label("param_LimbsLU5", "併指 ")
			@Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:40px;" })
			@Html.CheckBox("param_LimbsLU[]", false, new { id = "param_LimbsLU6" }) 
			@Html.Label("param_LimbsLU6", "斷掌")
		</p>
		<p class="param_LimbsDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			右上肢
			@Html.CheckBox("param_LimbsRU[]", false, new { id = "param_LimbsRU1" }) 
			@Html.Label("param_LimbsRU1", "內翻")
			@Html.CheckBox("param_LimbsRU[]", false, new { id = "param_LimbsRU2" }) 
			@Html.Label("param_LimbsRU2", "外翻")
			@Html.CheckBox("param_LimbsRU[]", false, new { id = "param_LimbsRU3" }) 
			@Html.Label("param_LimbsRU3", "麻痺 ")
			@Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:40px;" })
			@Html.CheckBox("param_LimbsRU[]", false, new { id = "param_LimbsRU4" }) 
			@Html.Label("param_LimbsRU4", "多指 ")
			@Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:40px;" })
			@Html.CheckBox("param_LimbsRU[]", false, new { id = "param_LimbsRU5" }) 
			@Html.Label("param_LimbsRU5", "併指 ")
			@Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:40px;" })
			@Html.CheckBox("param_LimbsRU[]", false, new { id = "param_LimbsRU6" }) 
			@Html.Label("param_LimbsRU6", "斷掌")
		</p>
		<p class="param_LimbsDesc" style="display:none;">
			D
			左下肢
			@Html.CheckBox("param_LimbsLD[]", false, new { id = "param_LimbsLD1" }) 
			@Html.Label("param_LimbsLD1", "內翻")
			@Html.CheckBox("param_LimbsLD[]", false, new { id = "param_LimbsLD2" }) 
			@Html.Label("param_LimbsLD2", "外翻")
			@Html.CheckBox("param_LimbsLD[]", false, new { id = "param_LimbsLD3" }) 
			@Html.Label("param_LimbsLD3", "麻痺 ")
			@Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:40px;" })
			@Html.CheckBox("param_LimbsLD[]", false, new { id = "param_LimbsLD4" }) 
			@Html.Label("param_LimbsLD4", "多指 ")
			@Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:40px;" })
			@Html.CheckBox("param_LimbsLD[]", false, new { id = "param_LimbsLD5" }) 
			@Html.Label("param_LimbsLD5", "併指 ")
			@Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:40px;" })
			@Html.CheckBox("param_LimbsLD[]", false, new { id = "param_LimbsLD6" }) 
			@Html.Label("param_LimbsLD6", "斷掌")
		</p>
		<p class="param_LimbsDesc" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			右下肢
			@Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD1" }) 
			@Html.Label("param_LimbsRD1", "內翻")
			@Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD2" }) 
			@Html.Label("param_LimbsRD2", "外翻")
			@Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD3" }) 
			@Html.Label("param_LimbsRD3", "麻痺 ")
			@Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:40px;" })
			@Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD4" }) 
			@Html.Label("param_LimbsRD4", "多指 ")
			@Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:40px;" })
			@Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD5" }) 
			@Html.Label("param_LimbsRD5", "併指 ")
			@Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:40px;" })
			@Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD6" }) 
			@Html.Label("param_LimbsRD6", "斷掌")
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			皮膚
			@(Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD01" }))
			@Html.Label("param_LimbsRD01", "粉紅")
			@(Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD02" }))
			@Html.Label("param_LimbsRD02", "紅")
			@(Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD03" }))
			@Html.Label("param_LimbsRD03", "蒼白")
			@(Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD04" }))
			@Html.Label("param_LimbsRD04", "發紺")
			
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			@(Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD11" }))
			@Html.Label("param_LimbsRD11", "黃疸 ")
			指數 @Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:60px;" })
			@(Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD12" }))
			@Html.Label("param_LimbsRD12", "出血點")
			部位 @Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:60px;" })
			@(Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD13" }))
			@Html.Label("param_LimbsRD13", "血管瘤")
			部位 @Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:60px;" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			@(Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD21" }))
			@Html.Label("param_LimbsRD21", "胎記")
			指數 @Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:60px;" })
			@(Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD22" }))
			@Html.Label("param_LimbsRD22", "破皮")
			部位 @Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:60px;" })
			@(Html.CheckBox("param_LimbsRD[]", false, new { id = "param_LimbsRD23" }))
			@Html.Label("param_LimbsRD23", "蒙古斑")
			部位 @Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:60px;" })
		</p>
    </div>
    <div id="tabs-3" class="tab">	<!-- 營養代謝及排泄 -->
        <a class="nexttab" href="#"><img src="~/Images/next.png"/ alt="下一步" title="下一步" border="0" /></a>
		<p>
			@Html.Label("lab", "營養代謝", new { @class = "subtitle" })
			※餵食
			@(Html.RadioButton("param_Nutritional", "1", false, new {id = "param_Nutritional1" , @onclick = "$('.Nutritional').fadeOut(500); $('#NMother').fadeIn(500); " }))
			@Html.Label("param_Nutritional1", "母奶")
			@(Html.RadioButton("param_Nutritional", "2", false, new {id = "param_Nutritional2" , @onclick = "$('.Nutritional').fadeOut(500); $('#NMuilk').fadeIn(500); " }))
			@Html.Label("param_Nutritional2", "牛奶")
			@(Html.RadioButton("param_Nutritional", "3", false, new {id = "param_Nutritional3" , @onclick = "$('.Nutritional').fadeOut(500); " }))
			@Html.Label("param_Nutritional3", "禁食中")
			@(Html.RadioButton("param_Nutritional", "4", false, new {id = "param_Nutritional4" , @onclick = "$('.Nutritional').fadeOut(500); $('#NOther').fadeIn(500); " }))
			@Html.Label("param_Nutritional4", "其他")
		</p>
		<p id="NMother" class="Nutritional" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			每 @(Html.TextBox("param_NeckOther", "", new { @id = "other", @style = "width:120px;" }))小時吃一次
		</p>
		<p id="NMuilk" class="Nutritional" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			@(Html.TextBox("param_NutritionalMuilk", "", new { @id = "other", @style = "width:120px;" }))奶粉，每
			@(Html.TextBox("param_NutritionalMuilk", "", new { @id = "other", @style = "width:40px;" }))小時吃
			@(Html.TextBox("param_NutritionalMuilk", "", new { @id = "other", @style = "width:40px;" }))CC
		</p>
		<p id="NOther" class="Nutritional" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			@(Html.TextBox("param_NutritionalOther", "", new { @id = "other", @style = "width:180px;" }))
		</p>
		<p>
			@Html.Label("lab", "排泄", new { @class = "subtitle" })
			解尿
			@(Html.RadioButton("param_Piss", "1", false, new {id = "param_Piss1" , @onclick = "$('.Piss').fadeOut(500); $('#PYes').fadeIn(500); " }))
			@Html.Label("param_Piss1", "有")
			@(Html.RadioButton("param_Piss", "2", false, new {id = "param_Piss2" , @onclick = "$('.Piss').fadeOut(500); " }))
			@Html.Label("param_Piss2", "血尿")
			@(Html.RadioButton("param_Piss", "3", false, new {id = "param_Piss3" , @onclick = "$('.Piss').fadeOut(500); $('#PColor').fadeIn(500); " }))
			@Html.Label("param_Piss3", "色深")
			@(Html.RadioButton("param_Piss", "4", false, new {id = "param_Piss4" , @onclick = "$('.Piss').fadeOut(500); " }))
			@Html.Label("param_Piss4", "尚未解解尿")
			@(Html.RadioButton("param_Piss", "5", false, new {id = "param_Piss5" , @onclick = "$('.Piss').fadeOut(500); $('#NOther').fadeIn(500); " }))
			@Html.Label("param_Piss5", "其他")
		</p>
		<p id="PYes" class="Piss" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			@(Html.TextBox("param_PColor", "", new { @id = "other", @style = "width:180px;" }))色
		</p>
		<p id="PColor" class="Piss" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
		</p>
		<p id="POther" class="Piss" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			@(Html.TextBox("param_POther", "", new { @id = "other", @style = "width:180px;" }))
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			大便
			@(Html.RadioButton("param_Stool", "1", false, new {id = "param_Stool1" , @onclick = "$('.Stool').fadeOut(500); $('#StYes').fadeIn(500); " }))
			@Html.Label("param_Stool1", "有")
			@(Html.RadioButton("param_Stool", "2", false, new {id = "param_Stool2" , @onclick = "$('.Stool').fadeOut(500); " }))
			@Html.Label("param_Stool2", "尚未解大便")
			@(Html.RadioButton("param_Stool", "3", false, new {id = "param_Stool3" , @onclick = "$('.Stool').fadeOut(500); $('#SOther').fadeIn(500); " }))
			@Html.Label("param_Stool3", "其他")
		</p>
		<div id="StYes" class="Stool" style="display:none;">
            <p>
			    &emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			    @(Html.TextBox("param_SAmt", "", new { @id = "other", @style = "width:40px;" }))次/
			    @(Html.TextBox("param_SAmt", "", new { @id = "other", @style = "width:40px;" }))天，
		    </p>
            <p>
			    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                顏色
                @Html.RadioButton("param_StoolColor", "0", false, new { id = "param_StoolColor0" }) 
                @Html.Label("param_StoolColor0", "黃") 
                @Html.RadioButton("param_StoolColor", "1", false, new { id = "param_StoolColor1" }) 
                @Html.Label("param_StoolColor1", "黃褐") 
                @Html.RadioButton("param_StoolColor", "2", false, new { id = "param_StoolColor2" }) 
                @Html.Label("param_StoolColor2", "灰") 
                @Html.RadioButton("param_StoolColor", "3", false, new { id = "param_StoolColor3" }) 
                @Html.Label("param_StoolColor3", "白") 
                @Html.RadioButton("param_StoolColor", "4", false, new { id = "param_StoolColor4" }) 
                @Html.Label("param_StoolColor4", "血") 
                @Html.RadioButton("param_StoolColor", "5", false, new { id = "param_StoolColor5" }) 
                @Html.Label("param_StoolColor5", "柏油")
 			    @Html.RadioButton("param_StoolColor", "6", false, new { id = "param_StoolColor6" }) 
                @Html.Label("param_StoolColor6", "綠") 
                @Html.RadioButton("param_StoolColor", "7", false, new { id = "param_StoolColor7" }) 
                @Html.Label("param_StoolColor7", "透明") 
            </p>
		    <p>
			    &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			    性狀
                @Html.RadioButton("param_StoolType", "0", false, new { id = "param_StoolType0" }) 
                @Html.Label("param_StoolType0", "軟") 
                @Html.RadioButton("param_StoolType", "1", false, new { id = "param_StoolType1" }) 
                @Html.Label("param_StoolType1", "硬") 
                @Html.RadioButton("param_StoolType", "2", false, new { id = "param_StoolType2" }) 
                @Html.Label("param_StoolType2", "糊") 
                @Html.RadioButton("param_StoolType", "3", false, new { id = "param_StoolType3" }) 
                @Html.Label("param_StoolType3", "黏") 
                @Html.RadioButton("param_StoolType", "4", false, new { id = "param_StoolType4" }) 
                @Html.Label("param_StoolType4", "稀") 
                @Html.RadioButton("param_StoolType", "5", false, new { id = "param_StoolType5" }) 
                @Html.Label("param_StoolType5", "水")
		    </p>
        </div>
		<p id="SOther" class="Stool" style="display:none;">
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			@(Html.TextBox("param_SOther", "", new { @id = "other", @style = "width:180px;" }))
		</p>
    </div>
    <div id="tabs-4" class="tab">	<!-- 活動運動及睡眠休息 -->
        <a class="nexttab" href="#"><img src="~/Images/next.png"/ alt="下一步" title="下一步" border="0" /></a>
		<p>
			@Html.Label("lab", "活動運動", new { @class = "subtitle" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			哭聲：
            @Html.RadioButton("param_CryVolumn", "0", false, new { id = "param_CryVolumn0" }) 
            @Html.Label("param_CryVolumn0", "佳") 
            @Html.RadioButton("param_CryVolumn", "1", false, new { id = "param_CryVolumn1" }) 
            @Html.Label("param_CryVolumn1", "可") 
            @Html.RadioButton("param_CryVolumn", "2", false, new { id = "param_CryVolumn2" }) 
            @Html.Label("param_CryVolumn2", "差") 
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			活力：
            @Html.RadioButton("param_Active", "0", false, new { id = "param_Active0" }) 
            @Html.Label("param_Active0", "佳") 
            @Html.RadioButton("param_Active", "1", false, new { id = "param_Active1" }) 
            @Html.Label("param_Active1", "可") 
            @Html.RadioButton("param_Active", "2", false, new { id = "param_Active2" }) 
            @Html.Label("param_Active2", "差") 
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			肌肉張力：
            @Html.RadioButton("param_Muscle", "0", false, new { id = "param_Muscle0" }) 
            @Html.Label("param_Muscle0", "正常") 
            @Html.RadioButton("param_Muscle", "1", false, new { id = "param_Muscle1" }) 
            @Html.Label("param_Muscle1", "強直型") 
            @Html.RadioButton("param_Muscle", "2", false, new { id = "param_Muscle2" }) 
            @Html.Label("param_Muscle2", "弛緩型") 
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;<img src="~/Images/item.gif" alt="" />&emsp;
			神經反射：
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			吸吮反射(sucking reflex)
            @Html.RadioButton("param_SuckingReflex", "0", false, new { id = "param_SuckingReflex0" }) 
            @Html.Label("param_SuckingReflex0", "佳") 
            @Html.RadioButton("param_SuckingReflex", "1", false, new { id = "param_SuckingReflex1" }) 
            @Html.Label("param_SuckingReflex1", "可") 
            @Html.RadioButton("param_SuckingReflex", "2", false, new { id = "param_SuckingReflex2" }) 
            @Html.Label("param_SuckingReflex2", "弱") 
            @Html.RadioButton("param_SuckingReflex", "3", false, new { id = "param_SuckingReflex3" }) 
            @Html.Label("param_SuckingReflex3", "無") 
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			莫羅氏反射(跳反射)(Moro reflex)
            @Html.RadioButton("param_MoreReflex", "0", false, new { id = "param_MoreReflex0" }) 
            @Html.Label("param_MoreReflex0", "佳") 
            @Html.RadioButton("param_MoreReflex", "1", false, new { id = "param_MoreReflex1" }) 
            @Html.Label("param_MoreReflex1", "可") 
            @Html.RadioButton("param_MoreReflex", "2", false, new { id = "param_MoreReflex2" }) 
            @Html.Label("param_MoreReflex2", "弱") 
            @Html.RadioButton("param_MoreReflex", "3", false, new { id = "param_MoreReflex3" }) 
            @Html.Label("param_MoreReflex3", "無") 
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			覓乳反射(rooting reflex)
            @Html.RadioButton("param_RootingReflex", "0", false, new { id = "param_RootingReflex0" }) 
            @Html.Label("param_RootingReflex0", "佳") 
            @Html.RadioButton("param_RootingReflex", "1", false, new { id = "param_RootingReflex1" }) 
            @Html.Label("param_RootingReflex1", "可") 
            @Html.RadioButton("param_RootingReflex", "2", false, new { id = "param_RootingReflex2" }) 
            @Html.Label("param_RootingReflex2", "弱") 
            @Html.RadioButton("param_RootingReflex", "3", false, new { id = "param_RootingReflex3" }) 
            @Html.Label("param_RootingReflex3", "無") 
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			伸頸反射(tonic neck reflex)
            @Html.RadioButton("param_TonicNeckReflex", "0", false, new { id = "param_TonicNeckReflex0" }) 
            @Html.Label("param_TonicNeckReflex0", "佳") 
            @Html.RadioButton("param_TonicNeckReflex", "1", false, new { id = "param_TonicNeckReflex1" }) 
            @Html.Label("param_TonicNeckReflex1", "可") 
            @Html.RadioButton("param_TonicNeckReflex", "2", false, new { id = "param_TonicNeckReflex2" }) 
            @Html.Label("param_TonicNeckReflex2", "弱") 
            @Html.RadioButton("param_TonicNeckReflex", "3", false, new { id = "param_TonicNeckReflex3" }) 
            @Html.Label("param_TonicNeckReflex3", "無") 
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			抓握反射(grasp reflex)
            @Html.RadioButton("param_GraspReflex", "0", false, new { id = "param_GraspReflex0" }) 
            @Html.Label("param_GraspReflex0", "佳") 
            @Html.RadioButton("param_GraspReflex", "1", false, new { id = "param_GraspReflex1" }) 
            @Html.Label("param_GraspReflex1", "可") 
            @Html.RadioButton("param_GraspReflex", "2", false, new { id = "param_GraspReflex2" }) 
            @Html.Label("param_GraspReflex2", "弱") 
            @Html.RadioButton("param_GraspReflex", "3", false, new { id = "param_GraspReflex3" }) 
            @Html.Label("param_GraspReflex3", "無") 
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			其他
			@(Html.TextBox("param_NutritionalMuilk", "", new { @id = "other", @style = "width:40px;" }))
		</p>
		<p>
			@Html.Label("lab", "睡眠休息", new { @class = "subtitle" })
            @Html.CheckBox("param_Sleep[]", false, new { id = "param_Sleep1" }) 
			@Html.Label("param_Sleep1", "正常") 
            @Html.CheckBox("param_Sleep[]", false, new { id = "param_Sleep2" }) 
			@Html.Label("param_Sleep2", "嗜睡") 
            @Html.CheckBox("param_Sleep[]", false, new { id = "param_Sleep3" }) 
			@Html.Label("param_Sleep3", "日夜顛倒") 
            @Html.CheckBox("param_Sleep[]", false, new { id = "param_Sleep4" }) 
			@Html.Label("param_Sleep4", "哭鬧不安") 
            @Html.CheckBox("param_Sleep[]", false, new { id = "param_Sleep5" }) 
			@Html.Label("param_Sleep5", "躁動易怒") 
		</p>
    </div>
    <div id="tabs-5" class="tab">	<!-- 認知感受 -->
        <a class="nexttab" href="#"><img src="~/Images/next.png"/ alt="下一步" title="下一步" border="0" /></a>
		<p>
			@Html.Label("lab", "認知感受", new { @class = "subtitle" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			對光線刺激反應
            @Html.RadioButton("param_Light", "1", false, new { id = "param_Light1" }) 
            @Html.Label("param_Light1", "有") 
            @Html.RadioButton("param_Light", "2", false, new { id = "param_Light2" }) 
            @Html.Label("param_Light2", "無") 
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			對聲音刺激反應
            @Html.RadioButton("param_Light", "0", false, new { id = "param_Light01" }) 
            @Html.Label("param_Light01", "有") 
            @Html.RadioButton("param_Light", "1", false, new { id = "param_Light02" }) 
            @Html.Label("param_Light02", "無") 
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			對痛刺激敏感度
            @Html.RadioButton("param_Light", "0", false, new { id = "param_Light11" }) 
            @Html.Label("param_Light11", "強") 
            @Html.RadioButton("param_Light", "1", false, new { id = "param_Light12" }) 
            @Html.Label("param_Light12", "遲鈍") 
		</p>
    </div>
    <div id="tabs-6" class="tab">	<!-- 泌尿生殖 -->
        <a class="nexttab" href="#"><img src="~/Images/next.png"/ alt="下一步" title="下一步" border="0" /></a>
		<p>
			@Html.Label("lab", "泌尿生殖", new { @class = "subtitle" })
			@(Html.RadioButton("param_Light", "Y", false, new { @onclick = "$('.genderM').fadeIn(500); $('.genderF').fadeOut(500);" }))男
			@(Html.RadioButton("param_Light", "N", false, new { @onclick = "$('.genderF').fadeIn(500); $('.genderM').fadeOut(500);" }))女
		</p>
		<div class="genderM" style="display:none;">
			<!-- 男生 -->
		<p>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				睪丸
				@(Html.RadioButton("param_Testicular", "1", false, new {id = "param_Testicular1" , @onclick = "$('.param_TesticularAbnormal').fadeOut(500)" }))
			    @Html.Label("param_Testicular1", "正常")
				@(Html.RadioButton("param_Testicular", "2", false, new {id = "param_Testicular2" , @onclick = "$('.param_TesticularAbnormal').fadeIn(500)" }))
			    @Html.Label("param_Testicular2", "隱睪症")
				@(Html.RadioButton("param_Testicular", "2", false, new {id = "param_Testicular3" , @onclick = "$('.param_TesticularAbnormal').fadeIn(500)" }))
			    @Html.Label("param_Testicular3", "疝氣")
			</p>
			<p class="param_TesticularAbnormal" style="display:none;">
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				@(Html.RadioButton("param_TesticularDesc", "1", false, new { id = "param_TesticularDesc1" }))
			    @Html.Label("param_TesticularDesc1", "左")
				@(Html.RadioButton("param_TesticularDesc", "2", false, new { id = "param_TesticularDesc2" }))
			    @Html.Label("param_TesticularDesc2", "右")
				@(Html.RadioButton("param_TesticularDesc", "3", false, new { id = "param_TesticularDesc3" }))
			    @Html.Label("param_TesticularDesc3", "雙側")
			</p>
			<p>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				尿道口
				@(Html.RadioButton("param_Urethra", "1", false, new { id = "param_Urethra1" }))
			    @Html.Label("param_Urethra1", "正常")
				@(Html.RadioButton("param_Urethra", "2", false, new { id = "param_Urethra2" }))
			    @Html.Label("param_Urethra2", "上裂")
				@(Html.RadioButton("param_Urethra", "3", false, new { id = "param_Urethra3" }))
			    @Html.Label("param_Urethra3", "下裂")
			</p>
			<p>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				陰囊
				@(Html.RadioButton("param_Scrotum", "1", false, new { id = "param_Scrotum1" }))
			    @Html.Label("param_Scrotum1", "正常")
				@(Html.RadioButton("param_Scrotum", "2", false, new { id = "param_Scrotum2" }))
			    @Html.Label("param_Scrotum2", "水腫")
			</p>
			<p>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				肛門
				@(Html.RadioButton("param_Ass", "1", false, new { id = "param_Ass1" }))
			    @Html.Label("param_Ass1", "有")
				@(Html.RadioButton("param_Ass", "2", false, new { id = "param_Ass2" }))
			    @Html.Label("param_Ass2", "無")
			</p>
			<p>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				分泌物
				@(Html.RadioButton("param_Secretions", "1", false, new { id = "param_Secretions1" }))
			    @Html.Label("param_Secretions1", "有")
				@(Html.RadioButton("param_Secretions", "2", false, new { id = "param_Secretions2" }))
			    @Html.Label("param_Secretions2", "無")
			</p>
			<p>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				其他
				@(Html.TextBox("param_TesticularOther", "", new { @id = "other", @style = "width:80px;" }))
			</p>
		</div>
		<div class="genderF" style="display:none;">
			<!-- 女生 -->
			<p>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				陰道口
				@(Html.RadioButton("param_Vaginal", "1", false, new { id = "param_Vaginal1" }))
			    @Html.Label("param_Vaginal1", "有")
				@(Html.RadioButton("param_Vaginal", "2", false, new { id = "param_Vaginal2" }))
			    @Html.Label("param_Vaginal2", "無")
			</p>
			<p>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				陰唇腫
				@(Html.RadioButton("param_Labia", "1", false, new { id = "param_Labia1" }))
			    @Html.Label("param_Labia1", "有")
				@(Html.RadioButton("param_Labia", "2", false, new { id = "param_Labia2" }))
			    @Html.Label("param_Labia2", "無")
			</p>
			<p>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				肛門
				@(Html.RadioButton("param_Ass", "1", false, new { id = "param_Ass1" }))
			    @Html.Label("param_Ass1", "有")
				@(Html.RadioButton("param_Ass", "2", false, new { id = "param_Ass2" }))
			    @Html.Label("param_Ass2", "無")
			</p>
			<p>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				分泌物
				@(Html.RadioButton("param_Secretions", "1", false, new { id = "param_Secretions1" }))
			    @Html.Label("param_Secretions1", "有")
				@(Html.RadioButton("param_Secretions", "2", false, new { id = "param_Secretions2" }))
			    @Html.Label("param_Secretions2", "無")
			</p>
			<p>
				&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
				其他
				@(Html.TextBox("param_TesticularOther", "", new { @id = "other", @style = "width:80px;" }))
			</p>
		</div>
    </div>
    <div id="tabs-7" class="tab">	<!-- 壓力適應及價值信念 -->
        <a class="finish" href="#"><img src="~/Images/finish.png"/ alt="完成" title="完成" border="0" /></a>
		<p>
			@Html.Label("lab", "壓力適應", new { @class = "subtitle" })
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			※家屬對嬰兒住院反應
			@(Html.CheckBox("param_Response[]", false, new { id = "param_Response1" }))
			@Html.Label("param_Response1", "罪惡感")
			@(Html.CheckBox("param_Response[]", false, new { id = "param_Response2" }))
			@Html.Label("param_Response2", "受挫")
			@(Html.CheckBox("param_Response[]", false, new { id = "param_Response3" }))
			@Html.Label("param_Response3", "焦慮")
			@(Html.CheckBox("param_Response[]", false, new { id = "param_Response4" }))
			@Html.Label("param_Response4", "生氣憤怒")
			@(Html.CheckBox("param_Response[]", false, new { id = "param_Response5" }))
			@Html.Label("param_Response5", "積極餐與醫療過程")
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 
			@(Html.CheckBox("param_Response[]", false, new { id = "param_Response6" }))
			@Html.Label("param_Response6", "逃避")
			@(Html.CheckBox("param_Response[]", false, new { id = "param_Response7" }))
			@Html.Label("param_Response7", "經濟危機，需社會支援")
			其他
			@(Html.TextBox("param_ResponseOther", "", new { @id = "other", @style = "width:80px;" }))
		</p>
		<p>
			&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
			※價值信念
			@(Html.CheckBox("param_Price[]", false, new { id = "param_Price1" }))
			@Html.Label("param_Price1", "信任")
			@(Html.CheckBox("param_Price[]", false, new { id = "param_Price2" }))
			@Html.Label("param_Price2", "保留")
			@(Html.CheckBox("param_Price[]", false, new { id = "param_Price3" }))
			@Html.Label("param_Price3", "懷疑")
			@(Html.CheckBox("param_Price[]", false, new { id = "param_Price4" }))
			@Html.Label("param_Price4", "抱怨")
			其他
			@(Html.TextBox("param_PriceOther", "", new { @id = "other", @style = "width:80px;" }))
            @(Html.TextBox("param_PriceOther", "", new { @id = "other", @style = "width:80px;" }))
		</p>
    </div>
</div>

