@using System.Data;
@{
    ViewBag.Title = "EPDS_List";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dt = ViewBag.dt;
    bool IsHisView = ViewBag.IsHisView;
}

<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />
<script>
    $(function () {
        setGridColor();
        //設定高度
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 360);
        }).trigger("resize");
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');

        $('.head').css('background', '#85A5CC');
    }

    function set_row(url) {
        var ck = $('input[type=checkbox]:checked');
        if (ck.length == 0)
            alert('請選擇紀錄!');
        else if (ck.length > 1)
            alert("只能選擇一筆!");
        else {
            var row = '';
            for (var i = 0; i < ck.length; i++) {
                if (ck[i].checked)
                    row = row + ck[i].value + ',';
            }
            if (row != '') {
                row = row.substring(0, row.length - 1);
                new_window.push(window.open(url + '?IID=' + row, '', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=700,height=600'));
            }
        }
    }
</script>

@if (IsHisView != true)
{
    <div class="funcArea">
        <input type="button" value="新增" style="width:50px;" onclick="@Java_funcion.pup_window("../BabyBorn/Insert_EPDS", 700, 600, "0")" />
        <input type="button" value="修改" style="width:50px;" onclick="set_row('../BabyBorn/Insert_EPDS');" />
    </div>
}
<div class="funcArea">
    <table border="0" cellspacing="0" cellpadding="0" style="width:100%;table-layout:fixed">
        <tr>
            <td>
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        <tr>
                            <td style="width:3%">挑選</td>
                            <td style="width:7%">日期時間</td>
                            <td style="width:8%">我能看到事物有趣的一面，並笑得開心</td>
                            <td style="width:5%">我欣然期待<br />未來的一切</td>
                            <td style="width:8%">當事情出錯時，我會全然責備自己</td>
                            <td style="width:7%">我無緣無故<br />感到焦慮和擔心</td>
                            <td style="width:7%">我無緣無故<br />感到害怕和驚慌</td>
                            <td style="width:8%">很多事情衝著我而來，使我透不過氣</td>
                            <td style="width:10%">我很不開心，以致失眠</td>
                            <td style="width:8%">我感到難過和悲傷</td>
                            <td style="width:7%">我不開心到哭泣</td>
                            <td style="width:9%">我曾經有想過要傷害<br />自己或是小孩的念頭</td>
                            <td style="width:3%">總分</td>
                            <td style="width:10%">處置建議</td>
                            <td style="width:3%">紀錄者</td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="height:190px;">
                    @if (dt != null)
                    {
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;text-align:center;">
                            @foreach (DataRow r in dt.Rows)
                            {
                                <tr>
                                    <td style="width:3%;text-align:center;vertical-align:central">
                                        <input type="checkbox" name="IID" value="@r["IID"]" />
                                    </td>
                                    <td style="width:7%">@Convert.ToDateTime(r["ASMT_TIME"]).ToString("yyyy/MM/dd HH:mm")</td>
                                    @{
                                        if (r["Q1"].ToString() != "")
                                        {
                                            var Q1 = r["Q1"].ToString();
                                            if (Q1 == "0")
                                            {
                                                <td style="width:8%">和產前一樣(0)</td>
                                            }
                                            else if (Q1 == "1")
                                            {
                                                <td style="width:8%">沒產前那麼多(1)</td>
                                            }
                                            else if (Q1 == "2")
                                            {
                                                <td style="width:8%">肯定比產前少很多(2)</td>
                                            }
                                            else if (Q1 == "3")
                                            {
                                                <td style="width:8%">現在完全不能(3)</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:8%"></td>
                                        }
                                    }
                                    @{
                                        if (r["Q2"].ToString() != "")
                                        {
                                            var Q2 = r["Q2"].ToString();
                                            if (Q2 == "0")
                                            {
                                                <td style="width:5%">從未如此(0)</td>
                                            }
                                            else if (Q2 == "1")
                                            {
                                                <td style="width:5%">偶爾如此(1)</td>
                                            }
                                            else if (Q2 == "2")
                                            {
                                                <td style="width:5%">時常如此(2)</td>
                                            }
                                            else if (Q2 == "3")
                                            {
                                                <td style="width:5%">總是如此(3)</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:5%"></td>
                                        }
                                    }
                                    @{
                                        if (r["Q3"].ToString() != "")
                                        {
                                            var Q3 = r["Q3"].ToString();
                                            if (Q3 == "0")
                                            {
                                                <td style="width:8%">從未如此(0)</td>
                                            }
                                            else if (Q3 == "1")
                                            {
                                                <td style="width:8%">偶爾如此(1)</td>
                                            }
                                            else if (Q3 == "2")
                                            {
                                                <td style="width:8%">時常如此(2)</td>
                                            }
                                            else if (Q3 == "3")
                                            {
                                                <td style="width:8%">總是如此(3)</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:8%"></td>
                                        }
                                    }
                                    @{
                                        if (r["Q4"].ToString() != "")
                                        {
                                            var Q4 = r["Q4"].ToString();
                                            if (Q4 == "0")
                                            {
                                                <td style="width:7%">從未如此(0)</td>
                                            }
                                            else if (Q4 == "1")
                                            {
                                                <td style="width:7%">偶爾如此(1)</td>
                                            }
                                            else if (Q4 == "2")
                                            {
                                                <td style="width:7%">時常如此(2)</td>
                                            }
                                            else if (Q4 == "3")
                                            {
                                                <td style="width:7%">總是如此(3)</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:7%"></td>
                                        }
                                    }
                                    @{
                                        if (r["Q5"].ToString() != "")
                                        {
                                            var Q5 = r["Q5"].ToString();
                                            if (Q5 == "0")
                                            {
                                                <td style="width:7%">從未如此(0)</td>
                                            }
                                            else if (Q5 == "1")
                                            {
                                                <td style="width:7%">偶爾如此(1)</td>
                                            }
                                            else if (Q5 == "2")
                                            {
                                                <td style="width:7%">時常如此(2)</td>
                                            }
                                            else if (Q5 == "3")
                                            {
                                                <td style="width:7%">總是如此(3)</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:7%"></td>
                                        }
                                    }
                                    @{
                                        if (r["Q6"].ToString() != "")
                                        {
                                            var Q6 = r["Q6"].ToString();
                                            if (Q6 == "0")
                                            {
                                                <td style="width:8%">從未如此(0)</td>
                                            }
                                            else if (Q6 == "1")
                                            {
                                                <td style="width:8%">偶爾如此(1)</td>
                                            }
                                            else if (Q6 == "2")
                                            {
                                                <td style="width:8%">時常如此(2)</td>
                                            }
                                            else if (Q6 == "3")
                                            {
                                                <td style="width:8%">總是如此(3)</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:8%"></td>
                                        }
                                    }
                                    @{
                                        if (r["Q7"].ToString() != "")
                                        {
                                            var Q7 = r["Q7"].ToString();
                                            if (Q7 == "0")
                                            {
                                                <td style="width:10%">從未如此(0)</td>
                                            }
                                            else if (Q7 == "1")
                                            {
                                                <td style="width:10%">偶爾如此(1)</td>
                                            }
                                            else if (Q7 == "2")
                                            {
                                                <td style="width:10%">時常如此(2)</td>
                                            }
                                            else if (Q7 == "3")
                                            {
                                                <td style="width:10%">總是如此(3)</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:10%"></td>
                                        }
                                    }
                                    @{
                                        if (r["Q8"].ToString() != "")
                                        {
                                            var Q8 = r["Q8"].ToString();
                                            if (Q8 == "0")
                                            {
                                                <td style="width:8%">從未如此(0)</td>
                                            }
                                            else if (Q8 == "1")
                                            {
                                                <td style="width:8%">偶爾如此(1)</td>
                                            }
                                            else if (Q8 == "2")
                                            {
                                                <td style="width:8%">時常如此(2)</td>
                                            }
                                            else if (Q8 == "3")
                                            {
                                                <td style="width:8%">總是如此(3)</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:8%"></td>
                                        }
                                    }
                                    @{
                                        if (r["Q9"].ToString() != "")
                                        {
                                            var Q9 = r["Q9"].ToString();
                                            if (Q9 == "0")
                                            {
                                                <td style="width:7%">從未如此(0)</td>
                                            }
                                            else if (Q9 == "1")
                                            {
                                                <td style="width:7%">偶爾如此(1)</td>
                                            }
                                            else if (Q9 == "2")
                                            {
                                                <td style="width:7%">時常如此(2)</td>
                                            }
                                            else if (Q9 == "3")
                                            {
                                                <td style="width:7%">總是如此(3)</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:7%"></td>
                                        }
                                    }
                                    @{
                                        if (r["Q10"].ToString() != "")
                                        {
                                            var Q10 = r["Q10"].ToString();
                                            if (Q10 == "0")
                                            {
                                                <td style="width:9%">從未如此(0)</td>
                                            }
                                            else if (Q10 == "1")
                                            {
                                                <td style="width:9%">偶爾如此(1)</td>
                                            }
                                            else if (Q10 == "2")
                                            {
                                                <td style="width:9%">時常如此(2)</td>
                                            }
                                            else if (Q10 == "3")
                                            {
                                                <td style="width:9%">總是如此(3)</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:9%"></td>
                                        }
                                    }
                                    <td style="width:3%">@r["SCORE"]</td>
                                    @{
                                        if (r["SCORE"].ToString() != "")
                                        {
                                            var SCORE = Convert.ToInt32(r["SCORE"].ToString());
                                            var Q = r["Q10"].ToString();
                                            if (SCORE > 9 || (Q != "" && Q != "0"))
                                            {
                                                var MEMO = r["MEMO"].ToString().Replace("\n\n", "<br />");
                                                <td style="width:10%;color:red">@MEMO</td>
                                            }
                                            else
                                            {
                                                <td style="width:10%">@r["MEMO"]</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:10%">@r["MEMO"]</td>
                                        }
                                    }
                                    <td style="width:3%">@r["CREATNO_NAME"]</td>
                                </tr>
                            }
                        </table>
                    }
                </div>
                ＊各項目為0-3分，總分30分。<br />
                ＊總分9分以下，產婦身心狀況不錯，持續觀察。<br />
                ＊總分10-12分，產婦身心狀況需要留意，給予產婦情緒紓壓的相關衛教，並鼓勵家屬多給予陪伴及支持。<br />
                ＊總分超過13分，產婦的身心狀況要特別關注，鼓勵家屬多給予陪伴及支持，告知醫師，由醫師評估後協助轉介專科會診。<br />
            </td>
        </tr>
    </table>
</div>
