@{
    ViewBag.Title = "Insert_NASS";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style>
    * {
        box-sizing: border-box;
    }
</style>

<script>
    $(function () {
        setGridColor();
        //設定高度
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 150);
        }).trigger("resize");
    });

    //格行換色
    function setGridColor() {
        $('.head').css('background', '#85A5CC');
    }

    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function sum(id) {
        var sum = 0;
        if (id == undefined)
            id = '';

        if ($('input[name=RB_EV1' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV1' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV2' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV2' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV3' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV3' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV4' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV4' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV5' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV5' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV6' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV6' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV7' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV7' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV8' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV8' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV9' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV9' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV10' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV10' + id + ']:checked').val());
        }

        if ($('input[name=RB_EV11' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV11' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV12' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV12' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV13' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV13' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV14' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV14' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV15' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV15' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV16' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV16' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV17' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV17' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV18' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV18' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV19' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV19' + id + ']:checked').val());
        }
        if ($('input[name=RB_EV20' + id + ']:checked').val() != undefined) {
            sum += Number($('input[name=RB_EV20' + id + ']:checked').val());
        }

        $("input[name=TXT_TOTAL" + id + "]").val(sum);
    }

    function clearValue(name, id) {
        if (id == undefined)
            id = '';
        $('input[name=' + name + id + ']').attr("checked", false);
        sum(id);
    }

</script>
@using System.Data;
@using System.Web.Mvc.Html;
@{
    DataTable dt = ViewBag.dt;
}
@if (dt == null || dt.Rows.Count == 0)
{
    <form action="Insert_NASS" method="post">
        <div class="funcArea">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td style="padding-bottom:5px;text-align:center;">
                        <span style="color:blue;font-size:26px;">新生兒戒斷系統評估</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0 5px 0;">
                        <div class="dataHeader">
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                <tr>
                                    <td style="width:45%;">項目</td>
                                    <td style="width:55%;">內容</td>
                                </tr>
                            </table>
                        </div>
                        <div class="dataArea" style="height:300px;">
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                <tr>
                                    <td class="head" colspan="2" style="width:45%;">評估時間</td>
                                    <td style="width:55%;background:#ABC8E2">
                                        @Html.TextBox("TXT_ASMT_TIME_DAY", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_ASMT_TIME_TIME", DateTime.Now.ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                        @WebTool.setDateTime("TXT_ASMT_TIME_DAY", "TXT_ASMT_TIME_TIME")
                                    </td>
                                </tr>
                                <tr>
                                    <th class="head" colspan="3">中樞神經系統</th>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td rowspan="2" style="width:10%">
                                        哭鬧<br />
                                        <button type="button" onclick="clearValue('RB_EV1')">清空</button>
                                    </td>
                                    <td style="width:35%">過度哭鬧</td>
                                    <td style="width:55%">
                                        <input name="RB_EV1" type="radio" value="2" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td>持續不停哭鬧</td>
                                    <td>
                                        <input name="RB_EV1" type="radio" value="3" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td rowspan="3">
                                        飯後睡眠
                                        <button type="button" onclick="clearValue('RB_EV2')">清空</button>
                                    </td>
                                    <td>飯後睡眠小於 3 小時</td>
                                    <td>
                                        <input name="RB_EV2" type="radio" value="1" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td>飯後睡眠小於 2 小時</td>
                                    <td>
                                        <input name="RB_EV2" type="radio" value="2" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td>飯後睡眠小於 1 小時</td>
                                    <td>
                                        <input name="RB_EV2" type="radio" value="3" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td rowspan="2">
                                        驚嚇反射
                                        <button type="button" onclick="clearValue('RB_EV3')">清空</button>
                                    </td>
                                    <td>過度驚嚇反射</td>
                                    <td>
                                        <input name="RB_EV3" type="radio" value="2" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td>極度驚嚇反射</td>
                                    <td>
                                        <input name="RB_EV3" type="radio" value="3" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td rowspan="4">
                                        顫抖
                                        <br />
                                        <button type="button" onclick="clearValue('RB_EV4')">清空</button>
                                    </td>
                                    <td>受干擾時肢體輕微顫抖*</td>
                                    <td>
                                        <input name="RB_EV4" type="radio" value="1" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td>受干擾時肢體中度或嚴重顫抖*</td>
                                    <td>
                                        <input name="RB_EV4" type="radio" value="2" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td>未受干擾時肢體輕微顫抖*</td>
                                    <td>
                                        <input name="RB_EV4" type="radio" value="3" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td>未受干擾時肢體中度或嚴重顫抖*</td>
                                    <td>
                                        <input name="RB_EV4" type="radio" value="4" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td colspan="2">
                                        肌肉張力增強
                                        <button type="button" onclick="clearValue('RB_EV5')">清空</button>
                                    </td>
                                    <td>
                                        <input name="RB_EV5" type="radio" value="2" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td colspan="2">
                                        脫皮#
                                        <button type="button" onclick="clearValue('RB_EV6')">清空</button>
                                    </td>
                                    <td>
                                        <input name="RB_EV6" type="radio" value="1" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td colspan="2">
                                        肌躍型抽慉
                                        <button type="button" onclick="clearValue('RB_EV7')">清空</button>
                                    </td>
                                    <td>
                                        <input name="RB_EV7" type="radio" value="3" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td colspan="2">
                                        全身性痙攣
                                        <button type="button" onclick="clearValue('RB_EV8')">清空</button>
                                    </td>
                                    <td>
                                        <input name="RB_EV8" type="radio" value="5" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr>
                                    <th class="head" colspan="3">腸胃系統</th>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td colspan="2">
                                        過度的吸吮動作
                                        <button type="button" onclick="clearValue('RB_EV9')">清空</button>
                                    </td>
                                    <td>
                                        <input name="RB_EV9" type="radio" value="1" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td colspan="2">
                                        餵食狀況差(喝奶速度慢或不足)
                                        <button type="button" onclick="clearValue('RB_EV10')">清空</button>
                                    </td>
                                    <td>
                                        <input name="RB_EV10" type="radio" value="2" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td rowspan="2">
                                        溢奶
                                        <br />
                                        <button type="button" onclick="clearValue('RB_EV11')">清空</button>
                                    </td>
                                    <td>容易溢奶(與一般新生兒比較)</td>
                                    <td>
                                        <input name="RB_EV11" type="radio" value="2" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td>噴射狀嘔吐</td>
                                    <td>
                                        <input name="RB_EV11" type="radio" value="3" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td rowspan="2">
                                        排便
                                        <br />
                                        <button type="button" onclick="clearValue('RB_EV12')">清空</button>
                                    </td>
                                    <td>糊便</td>
                                    <td>
                                        <input name="RB_EV12" type="radio" value="2" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td>水便</td>
                                    <td>
                                        <input name="RB_EV12" type="radio" value="3" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr>
                                    <th class="head" colspan="3">其他</th>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td colspan="2">
                                        流汗
                                        <button type="button" onclick="clearValue('RB_EV13')">清空</button>
                                    </td>
                                    <td>
                                        <input name="RB_EV13" type="radio" value="1" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td rowspan="2">
                                        發燒
                                        <button type="button" onclick="clearValue('RB_EV14')">清空</button>
                                    </td>
                                    <td>發燒 37.3~38.3℃</td>
                                    <td>
                                        <input name="RB_EV14" type="radio" value="1" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td>發燒大於或等於 38.4℃(≧38.4℃)</td>
                                    <td>
                                        <input name="RB_EV14" type="radio" value="2" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td colspan="2">
                                        時常打哈欠(每半小時大於 3-4 次)
                                        <button type="button" onclick="clearValue('RB_EV15')">清空</button>
                                    </td>
                                    <td>
                                        <input name="RB_EV15" type="radio" value="1" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td colspan="2">
                                        皮膚顏色呈現斑紋狀
                                        <button type="button" onclick="clearValue('RB_EV16')">清空</button>
                                    </td>
                                    <td>
                                        <input name="RB_EV16" type="radio" value="1" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td colspan="2">
                                        鼻塞
                                        <button type="button" onclick="clearValue('RB_EV17')">清空</button>
                                    </td>
                                    <td>
                                        <input name="RB_EV17" type="radio" value="1" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td colspan="2">
                                        時常打噴涕(每半小時大於 3-4 次)
                                        <button type="button" onclick="clearValue('RB_EV18')">清空</button>
                                    </td>
                                    <td>
                                        <input name="RB_EV18" type="radio" value="2" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#ABC8E2">
                                    <td colspan="2">
                                        鼻翼搧動
                                        <button type="button" onclick="clearValue('RB_EV19')">清空</button>
                                    </td>
                                    <td>
                                        <input name="RB_EV19" type="radio" value="1" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td rowspan="2">
                                        呼吸速率
                                        <button type="button" onclick="clearValue('RB_EV20')">清空</button>
                                    </td>
                                    <td>呼吸速率大於每分鐘 60 次</td>
                                    <td>
                                        <input name="RB_EV20" type="radio" value="1" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr style="background:#E1E6FA">
                                    <td>呼吸速率大於每分鐘 60 次合併胸凹</td>
                                    <td>
                                        <input name="RB_EV20" type="radio" value="2" onclick="sum()" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head" colspan="3">
                                        *肢體顫抖：選擇四項中最符合的一項計分
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head" colspan="3">
                                        #脫皮：有觀察到的當時計分一次，之後如有範圍增加或出現於不同部位時才需再次計分
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head" colspan="2">總分</td>
                                    <td style="background:#ABC8E2">
                                        @Html.TextBox("TXT_TOTAL", "0", new { style = "width:100px", @readonly = "readonly" })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0 5px 0;text-align:center;">
                        <div class="funcArea">
                            <input type="button" value="儲存" style="width:60px;" onclick="if ($('input[name=TXT_TOTAL]').val() == undefined || $('input[name=TXT_TOTAL]').val() == '0') alert('至少需填寫一個');else submit();" />
                            <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
}
else
{
    <form action="Upd_NASS" method="post">
        @foreach (DataRow r in dt.Rows)
        {
            <div class="funcArea">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="padding-bottom:5px;text-align:center;">
                            <span style="color:blue;font-size:26px;">新生兒戒斷系統評估</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;">
                            <div class="dataHeader">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    <tr>
                                        <td style="width:45%;">項目</td>
                                        <td style="width:55%;">內容</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="dataArea" style="height:300px;">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    <tr>
                                        <td class="head" colspan="2" style="width:45%;">評估時間</td>
                                        <td style="width:55%;background:#ABC8E2">
                                            @Html.TextBox("TXT_ASMT_TIME_DAY" + r["IID"], Convert.ToDateTime(r["ASMT_TIME"]).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                                            @Html.TextBox("TXT_ASMT_TIME_TIME" + r["IID"], Convert.ToDateTime(r["ASMT_TIME"]).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                            @WebTool.setDateTime("TXT_ASMT_TIME_DAY" + r["IID"], "TXT_ASMT_TIME_TIME" + r["IID"])
                                            <input type="hidden" name="IID" value="@r["IID"]" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="head" colspan="3">中樞神經系統</th>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td rowspan="2" style="width:10%">
                                            哭鬧
                                            <button type="button" onclick="clearValue('RB_EV1', '@r["IID"]')">清空</button>
                                        </td>
                                        <td style="width:35%">過度哭鬧</td>
                                        <td style="width:55%">
                                            <input name="RB_EV1@(r["IID"])" type="radio" value="2" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td>持續不停哭鬧</td>
                                        <td>
                                            <input name="RB_EV1@(r["IID"])" type="radio" value="3" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td rowspan="3">
                                            飯後睡眠
                                            <button type="button" onclick="clearValue('RB_EV2', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>飯後睡眠小於 3 小時</td>
                                        <td>
                                            <input name="RB_EV2@(r["IID"])" type="radio" value="1" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td>飯後睡眠小於 2 小時</td>
                                        <td>
                                            <input name="RB_EV2@(r["IID"])" type="radio" value="2" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td>飯後睡眠小於 1 小時</td>
                                        <td>
                                            <input name="RB_EV2@(r["IID"])" type="radio" value="3" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td rowspan="2">
                                            驚嚇反射
                                            <button type="button" onclick="clearValue('RB_EV3', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>過度驚嚇反射</td>
                                        <td>
                                            <input name="RB_EV3@(r["IID"])" type="radio" value="2" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td>極度驚嚇反射</td>
                                        <td>
                                            <input name="RB_EV3@(r["IID"])" type="radio" value="3" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td rowspan="4">
                                            顫抖
                                            <button type="button" onclick="clearValue('RB_EV4', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>受干擾時肢體輕微顫抖*</td>
                                        <td>
                                            <input name="RB_EV4@(r["IID"])" type="radio" value="1" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td>受干擾時肢體中度或嚴重顫抖*</td>
                                        <td>
                                            <input name="RB_EV4@(r["IID"])" type="radio" value="2" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td>未受干擾時肢體輕微顫抖*</td>
                                        <td>
                                            <input name="RB_EV4@(r["IID"])" type="radio" value="3" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td>未受干擾時肢體中度或嚴重顫抖*</td>
                                        <td>
                                            <input name="RB_EV4@(r["IID"])" type="radio" value="4" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td colspan="2">
                                            肌肉張力增強
                                            <button type="button" onclick="clearValue('RB_EV5', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>
                                            <input name="RB_EV5@(r["IID"])" type="radio" value="2" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td colspan="2">
                                            脫皮#
                                            <button type="button" onclick="clearValue('RB_EV6', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>
                                            <input name="RB_EV6@(r["IID"])" type="radio" value="1" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td colspan="2">
                                            肌躍型抽慉
                                            <button type="button" onclick="clearValue('RB_EV7', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>
                                            <input name="RB_EV7@(r["IID"])" type="radio" value="3" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td colspan="2">
                                            全身性痙攣
                                            <button type="button" onclick="clearValue('RB_EV8', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>
                                            <input name="RB_EV8@(r["IID"])" type="radio" value="5" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="head" colspan="3">腸胃系統</th>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td colspan="2">
                                            過度的吸吮動作
                                            <button type="button" onclick="clearValue('RB_EV9', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>
                                            <input name="RB_EV9@(r["IID"])" type="radio" value="1" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td colspan="2">
                                            餵食狀況差(喝奶速度慢或不足)
                                            <button type="button" onclick="clearValue('RB_EV10', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>
                                            <input name="RB_EV10@(r["IID"])" type="radio" value="2" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td rowspan="2">
                                            溢奶
                                            <button type="button" onclick="clearValue('RB_EV11', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>容易溢奶(與一般新生兒比較)</td>
                                        <td>
                                            <input name="RB_EV11@(r["IID"])" type="radio" value="2" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td>噴射狀嘔吐</td>
                                        <td>
                                            <input name="RB_EV11@(r["IID"])" type="radio" value="3" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td rowspan="2">
                                            排便
                                            <button type="button" onclick="clearValue('RB_EV12', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>糊便</td>
                                        <td>
                                            <input name="RB_EV12@(r["IID"])" type="radio" value="2" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td>水便</td>
                                        <td>
                                            <input name="RB_EV12@(r["IID"])" type="radio" value="3" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="head" colspan="3">其他</th>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td colspan="2">
                                            流汗
                                            <button type="button" onclick="clearValue('RB_EV13', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>
                                            <input name="RB_EV13@(r["IID"])" type="radio" value="1" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td rowspan="2">
                                            發燒
                                            <button type="button" onclick="clearValue('RB_EV14', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>發燒 37.3~38.3℃</td>
                                        <td>
                                            <input name="RB_EV14@(r["IID"])" type="radio" value="1" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td>發燒大於或等於 38.4℃(≧38.4℃)</td>
                                        <td>
                                            <input name="RB_EV14@(r["IID"])" type="radio" value="2" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td colspan="2">
                                            時常打哈欠(每半小時大於 3-4 次)
                                            <button type="button" onclick="clearValue('RB_EV15', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>
                                            <input name="RB_EV15@(r["IID"])" type="radio" value="1" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td colspan="2">
                                            皮膚顏色呈現斑紋狀
                                            <button type="button" onclick="clearValue('RB_EV16', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>
                                            <input name="RB_EV16@(r["IID"])" type="radio" value="1" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td colspan="2">
                                            鼻塞
                                            <button type="button" onclick="clearValue('RB_EV17', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>
                                            <input name="RB_EV17@(r["IID"])" type="radio" value="1" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td colspan="2">
                                            時常打噴涕(每半小時大於 3-4 次)
                                            <button type="button" onclick="clearValue('RB_EV18', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>
                                            <input name="RB_EV18@(r["IID"])" type="radio" value="2" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#ABC8E2">
                                        <td colspan="2">鼻翼搧動<button type="button" onclick="clearValue('RB_EV19', '@r["IID"]')">清空</button></td>
                                        <td>
                                            <input name="RB_EV19@(r["IID"])" type="radio" value="1" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td rowspan="2">
                                            呼吸速率
                                            <button type="button" onclick="clearValue('RB_EV20', '@r["IID"]')">清空</button>
                                        </td>
                                        <td>呼吸速率大於每分鐘 60 次</td>
                                        <td>
                                            <input name="RB_EV20@(r["IID"])" type="radio" value="1" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr style="background:#E1E6FA">
                                        <td>呼吸速率大於每分鐘 60 次合併胸凹</td>
                                        <td>
                                            <input name="RB_EV20@(r["IID"])" type="radio" value="2" onclick="sum('@(r["IID"])')" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head" colspan="3">
                                            *肢體顫抖：選擇四項中最符合的一項計分
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head" colspan="3">
                                            #脫皮：有觀察到的當時計分一次，之後如有範圍增加或出現於不同部位時才需再次計分
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head" colspan="2">總分</td>
                                        <td style="background:#ABC8E2">
                                            @Html.TextBox("TXT_TOTAL" + r["IID"], r["TOTAL"], new { style = "width:100px", @readonly = "readonly" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;text-align:center;">
                            <div class="funcArea">
                                <input type="button" value="儲存" style="width:60px;" onclick="if ($('input[name=TXT_TOTAL@(r["IID"])]').val() == undefined || $('input[name=TXT_TOTAL@(r["IID"])]').val() == '0') alert('至少需填寫一個');else submit();" />
                                <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
                            </div>
                        </td>
                    </tr>
                </table>
                <script>
                         @if (r["EV1"].ToString() != "")
                         {
                                        @:set_for_rb('RB_EV1@(r["IID"])', '@r["EV1"]');
                                    }
                          @if (r["EV2"].ToString() != "")
                          {
                                        @:set_for_rb('RB_EV2@(r["IID"])', '@r["EV2"]');
                                    }
                           @if (r["EV3"].ToString() != "")
                           {
                                        @:set_for_rb('RB_EV3@(r["IID"])', '@r["EV3"]');
                                    }
                            @if (r["EV4"].ToString() != "")
                            {
                                        @:set_for_rb('RB_EV4@(r["IID"])', '@r["EV4"]');
                                    }
                             @if (r["EV5"].ToString() != "")
                             {
                                        @:set_for_rb('RB_EV5@(r["IID"])', '@r["EV5"]');
                                    }
                              @if (r["EV6"].ToString() != "")
                              {
                                        @:set_for_rb('RB_EV6@(r["IID"])', '@r["EV6"]');
                                    }
                               @if (r["EV7"].ToString() != "")
                               {
                                        @:set_for_rb('RB_EV7@(r["IID"])', '@r["EV7"]');
                                    }
                                @if (r["EV8"].ToString() != "")
                                {
                                        @:set_for_rb('RB_EV8@(r["IID"])', '@r["EV8"]');
                                    }

                         @if (r["EV9"].ToString() != "")
                         {
                                        @:set_for_rb('RB_EV9@(r["IID"])', '@r["EV9"]');
                                    }
                          @if (r["EV10"].ToString() != "")
                          {
                                        @:set_for_rb('RB_EV10@(r["IID"])', '@r["EV10"]');
                                    }
                         @if (r["EV11"].ToString() != "")
                         {
                                        @:set_for_rb('RB_EV11@(r["IID"])', '@r["EV11"]');
                                    }
                        @if (r["EV12"].ToString() != "")
                        {
                                        @:set_for_rb('RB_EV12@(r["IID"])', '@r["EV12"]');
                                    }
                        @if (r["EV13"].ToString() != "")
                        {
                                        @:set_for_rb('RB_EV13@(r["IID"])', '@r["EV13"]');
                                    }
                        @if (r["EV14"].ToString() != "")
                        {
                                        @:set_for_rb('RB_EV14@(r["IID"])', '@r["EV14"]');
                                    }
                        @if (r["EV15"].ToString() != "")
                        {
                                        @:set_for_rb('RB_EV15@(r["IID"])', '@r["EV15"]');
                                    }
                        @if (r["EV16"].ToString() != "")
                        {
                                        @:set_for_rb('RB_EV16@(r["IID"])', '@r["EV16"]');
                                    }
                        @if (r["EV17"].ToString() != "")
                        {
                                        @:set_for_rb('RB_EV17@(r["IID"])', '@r["EV17"]');
                                    }
                        @if (r["EV18"].ToString() != "")
                        {
                                        @:set_for_rb('RB_EV18@(r["IID"])', '@r["EV18"]');
                                    }
                        @if (r["EV19"].ToString() != "")
                        {
                                        @:set_for_rb('RB_EV19@(r["IID"])', '@r["EV19"]');
                                    }
                        @if (r["EV20"].ToString() != "")
                        {
                                        @:set_for_rb('RB_EV20@(r["IID"])', '@r["EV20"]');
                                    }

                        sum('@(r["IID"])')
                </script>
            </div>
        }
    </form>
}

<script>
    $('form').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
</script>