@{
    ViewBag.Title = "Postpartum_From1";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />
<script>
    $(function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });
        setGridColor();
    });

    function setGridColor() {
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }

    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function sum(id) {
        $("textarea[name=TXT_MEMO" + id + "]").css("color", "black");
        var sum = 0;
        if (id == undefined)
            id = '';

        var result = '';
        if ($('input[name=RB_Q1' + id + ']:checked').val() != undefined)
            sum += Number($('input[name=RB_Q1' + id + ']:checked').val());
        if ($('input[name=RB_Q2' + id + ']:checked').val() != undefined)
            sum += Number($('input[name=RB_Q2' + id + ']:checked').val());
        if ($('input[name=RB_Q3' + id + ']:checked').val() != undefined)
            sum += Number($('input[name=RB_Q3' + id + ']:checked').val());
        if ($('input[name=RB_Q4' + id + ']:checked').val() != undefined)
            sum += Number($('input[name=RB_Q4' + id + ']:checked').val());
        if ($('input[name=RB_Q5' + id + ']:checked').val() != undefined)
            sum += Number($('input[name=RB_Q5' + id + ']:checked').val());
        if ($('input[name=RB_Q6' + id + ']:checked').val() != undefined)
            sum += Number($('input[name=RB_Q6' + id + ']:checked').val());
        if ($('input[name=RB_Q7' + id + ']:checked').val() != undefined)
            sum += Number($('input[name=RB_Q7' + id + ']:checked').val());
        if ($('input[name=RB_Q8' + id + ']:checked').val() != undefined)
            sum += Number($('input[name=RB_Q8' + id + ']:checked').val());
        if ($('input[name=RB_Q9' + id + ']:checked').val() != undefined)
            sum += Number($('input[name=RB_Q9' + id + ']:checked').val());
        if ($('input[name=RB_Q10' + id + ']:checked').val() != undefined)
            sum += Number($('input[name=RB_Q10' + id + ']:checked').val());

        $("input[name=TXT_SCORE" + id + "]").val(sum);
        var helpV = $('input[name=RB_HELP' + id + ']:checked').val();
        var pressV = $('input[name=RB_PRESS' + id + ']:checked').val();

        var help = "";
        var press = "";

        if (pressV === "0") {
            press = "照顧新生兒";
        } else if (pressV === "1") {
            press = "經濟壓力";
        } else if (pressV === "2") {
            press = "家中支持系統不佳";
        }

        if (helpV === "0") {
            help = "產婦表示暫無此需求";
        } else if (helpV === "1") {
            help = "尋求社工協助";
        } else if (helpV === "2") {
            help = "轉介心理諮詢師或精神科";
        }

        if (sum <= 9) {
            result = '表示身心狀況佳，仍告知產婦及主要照顧者生產後4-6周為產後憂鬱症之高峰期，如發現返家後有情緒及莫名哭泣情形，須尋求醫療協助或撥打諮詢電話，產婦及家屬可了解及接受。';
            $("textarea[name=TXT_MEMO" + id + "]").css("color", "black");
            $(".ASSESS").hide();
            $(".ASSESS_13").hide();
        }
        else if (sum >= 10 && sum <= 12) {
            result = '有可能為憂鬱症，評估產婦壓力來源為' + press + '，詢問是否需要協助，' + help + '，告知產婦及主要照顧者生產後4-6周為產後憂鬱症之高峰期，如發現返家後有情緒及莫名哭泣情形，須尋求醫療協助或撥打諮詢電話，並預計於六周產後回診時後再次評估，產婦及家屬可了解及接受。';
            $("textarea[name=TXT_MEMO" + id + "]").css("color", "Red");
            $(".ASSESS").show();
            $(".ASSESS_13").hide();
        }
        else if (sum >= 13) {
            result = '代表極可能已受憂鬱症所苦，評估產婦壓力來源為' + press + '，詢問是否需要協助，' + help + '，告知產婦及主要照顧者生產後4-6周為產後憂鬱症之高峰期，如發現返家後有情緒及莫名哭泣情形，須尋求醫療協助或撥打諮詢電話，並預計於六周產後回診時後再次評估，產婦及家屬可了解及接受。';
            $("textarea[name=TXT_MEMO" + id + "]").css("color", "Red");
            $(".ASSESS").show();
            $(".ASSESS_13").show();
        }

        if ($('input[name=RB_Q10' + id + ']:checked').val() != undefined && $('input[name=RB_Q10' + id + ']:checked').val() != '0') {
            result += '\n\n有想通要傷害自己或是小孩的念頭，給予關懷及會談，鼓勵家屬多給予陪伴及支持，告知醫師，由醫師評估後協助轉介專科會診，並後續追蹤。'
            $("textarea[name=TXT_MEMO" + id + "]").css("color", "Red");
        }

        $("textarea[name=TXT_MEMO" + id + "]").val(result);
    }

    function check(id) {
        if (id == undefined)
            id = '';

        if (!$('input[name=RB_Q1' + id + ']:checked').val()) {
            alert("[1.我能看到事物有趣的一面，並笑得開心]未填")
            return false;
        }
        if (!$('input[name=RB_Q2' + id + ']:checked').val()) {
            alert("[2.我欣然期待未來的一切]未填")
            return false;
        }
        if (!$('input[name=RB_Q3' + id + ']:checked').val()) {
            alert("[3.當事情出錯時，我會全然責備自己]未填")
            return false;
        }
        if (!$('input[name=RB_Q4' + id + ']:checked').val()) {
            alert("[4.我無緣無故感到焦慮和擔心]未填")
            return false;
        }
        if (!$('input[name=RB_Q5' + id + ']:checked').val()) {
            alert("[5.我無緣無故感到害怕和驚慌]未填")
            return false;
        }
        if (!$('input[name=RB_Q6' + id + ']:checked').val()) {
            alert("[6.很多事情衝著我而來，使我透不過氣]未填")
            return false;
        }
        if (!$('input[name=RB_Q7' + id + ']:checked').val()) {
            alert("[7.我很不開心，以致失眠]未填")
            return false;
        }
        if (!$('input[name=RB_Q8' + id + ']:checked').val()) {
            alert("[8.我感到難過和悲傷]未填")
            return false;
        }
        if (!$('input[name=RB_Q9' + id + ']:checked').val()) {
            alert("[9.我不開心到哭泣]未填")
            return false;
        }
        if (!$('input[name=RB_Q10' + id + ']:checked').val()) {
            alert("[10.我曾經有想過要傷害自己或是小孩的念頭]未填")
            return false;
        }
        if ($("input[name=TXT_SCORE" + id + "]").val() > 9) {
            if (!$('input[name=RB_PRESS' + id + ']:checked').val()) {
                alert("[壓力來源]未填")
                return false;
            }
            if (!$('input[name=RB_HELP' + id + ']:checked').val()) {
                alert("[是否需要協助]未填")
                return false;
            }
        }
        return true;
    }

</script>
@using System.Data;
@using System.Web.Mvc.Html;
@{
    DataTable dt = ViewBag.dt;
}
@if (dt == null || dt.Rows.Count == 0)
{
    <form action="Insert_EPDS" method="post">
        <div class="funcArea">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td style="padding-bottom:5px;text-align:center;">
                        <span style="color:blue;font-size:26px;">愛丁堡產後憂鬱症評估</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0 5px 0;">
                        <div class="dataHeader">
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                <tr>
                                    <td style="width:30%;">項目</td>
                                    <td style="width:70%;">內容</td>
                                </tr>
                            </table>
                        </div>
                        <div class="dataArea" style="height:550px;">
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                <tr>
                                    <td class="head" style="width:30%;">評估時間</td>
                                    <td style="width:70%;">
                                        @Html.TextBox("TXT_ASMT_TIME_DAY", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_ASMT_TIME_TIME", DateTime.Now.ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                        @WebTool.setDateTime("TXT_ASMT_TIME_DAY", "TXT_ASMT_TIME_TIME")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">1.我能看到事物有趣的一面，並笑得開心</td>
                                    <td>
                                        <input name="RB_Q1" type="radio" value="0" onclick="sum()" />和產前一樣(0)
                                        <input name="RB_Q1" type="radio" value="1" onclick="sum()" />沒產前那麼多(1)
                                        <input name="RB_Q1" type="radio" value="2" onclick="sum()" />肯定比產前少很多(2)
                                        <input name="RB_Q1" type="radio" value="3" onclick="sum()" />現在完全不能(3)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">2.我欣然期待未來的一切</td>
                                    <td>
                                        <input name="RB_Q2" type="radio" value="0" onclick="sum()" />和產前一樣(0)
                                        <input name="RB_Q2" type="radio" value="1" onclick="sum()" />沒產前那麼多(1)
                                        <input name="RB_Q2" type="radio" value="2" onclick="sum()" />肯定比產前少很多(2)
                                        <input name="RB_Q2" type="radio" value="3" onclick="sum()" />現在完全沒期待(3)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">3.當事情出錯時，我會全然責備自己</td>
                                    <td>
                                        <input name="RB_Q3" type="radio" value="0" onclick="sum()" />從未如此(0)
                                        <input name="RB_Q3" type="radio" value="1" onclick="sum()" />偶爾如此(1)
                                        <input name="RB_Q3" type="radio" value="2" onclick="sum()" />時常如此(2)
                                        <input name="RB_Q3" type="radio" value="3" onclick="sum()" />總是如此(3)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">4.我無緣無故感到焦慮和擔心</td>
                                    <td>
                                        <input name="RB_Q4" type="radio" value="0" onclick="sum()" />從未如此(0)
                                        <input name="RB_Q4" type="radio" value="1" onclick="sum()" />偶爾如此(1)
                                        <input name="RB_Q4" type="radio" value="2" onclick="sum()" />時常如此(2)
                                        <input name="RB_Q4" type="radio" value="3" onclick="sum()" />總是如此(3)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">5.我無緣無故感到害怕和驚慌</td>
                                    <td>
                                        <input name="RB_Q5" type="radio" value="0" onclick="sum()" />從未如此(0)
                                        <input name="RB_Q5" type="radio" value="1" onclick="sum()" />偶爾如此(1)
                                        <input name="RB_Q5" type="radio" value="2" onclick="sum()" />時常如此(2)
                                        <input name="RB_Q5" type="radio" value="3" onclick="sum()" />總是如此(3)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">6.很多事情衝著我而來，使我透不過氣</td>
                                    <td>
                                        <input name="RB_Q6" type="radio" value="0" onclick="sum()" />從未如此(0)
                                        <input name="RB_Q6" type="radio" value="1" onclick="sum()" />偶爾如此(1)
                                        <input name="RB_Q6" type="radio" value="2" onclick="sum()" />時常如此(2)
                                        <input name="RB_Q6" type="radio" value="3" onclick="sum()" />總是如此(3)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">7.我很不開心，以致失眠</td>
                                    <td>
                                        <input name="RB_Q7" type="radio" value="0" onclick="sum()" />從未如此(0)
                                        <input name="RB_Q7" type="radio" value="1" onclick="sum()" />偶爾如此(1)
                                        <input name="RB_Q7" type="radio" value="2" onclick="sum()" />時常如此(2)
                                        <input name="RB_Q7" type="radio" value="3" onclick="sum()" />總是如此(3)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">8.我感到難過和悲傷</td>
                                    <td>
                                        <input name="RB_Q8" type="radio" value="0" onclick="sum()" />從未如此(0)
                                        <input name="RB_Q8" type="radio" value="1" onclick="sum()" />偶爾如此(1)
                                        <input name="RB_Q8" type="radio" value="2" onclick="sum()" />時常如此(2)
                                        <input name="RB_Q8" type="radio" value="3" onclick="sum()" />總是如此(3)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">9.我不開心到哭泣</td>
                                    <td>
                                        <input name="RB_Q9" type="radio" value="0" onclick="sum()" />從未如此(0)
                                        <input name="RB_Q9" type="radio" value="1" onclick="sum()" />偶爾如此(1)
                                        <input name="RB_Q9" type="radio" value="2" onclick="sum()" />時常如此(2)
                                        <input name="RB_Q9" type="radio" value="3" onclick="sum()" />總是如此(3)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">10.我曾經有想過要傷害自己或是小孩的念頭</td>
                                    <td>
                                        <input name="RB_Q10" type="radio" value="0" onclick="sum()" />從未如此(0)
                                        <input name="RB_Q10" type="radio" value="1" onclick="sum()" />偶爾如此(1)
                                        <input name="RB_Q10" type="radio" value="2" onclick="sum()" />時常如此(2)
                                        <input name="RB_Q10" type="radio" value="3" onclick="sum()" />總是如此(3)
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">總分</td>
                                    <td>
                                        @Html.TextBox("TXT_SCORE", "0", new { style = "width:100px", @readonly = "readonly" })
                                    </td>
                                </tr>
                                <tr class="ASSESS" style="display:none">
                                    <td class="head">壓力來源</td>
                                    <td style="background-color: rgb(171, 200, 226)">
                                        <input name="RB_PRESS" type="radio" value="0" onclick="sum()" />照顧新生兒
                                        <input name="RB_PRESS" type="radio" value="1" onclick="sum()" />經濟壓力
                                        <input name="RB_PRESS" type="radio" value="2" onclick="sum()" />家中支持系統不佳
                                    </td>
                                </tr>
                                <tr class="ASSESS" style="display:none">
                                    <td class="head">是否需要協助</td>
                                    <td style="background-color: rgb(225, 230, 250)">
                                        <input name="RB_HELP" type="radio" value="0" onclick="sum()" />產婦表示暫無此需求
                                        <input name="RB_HELP" type="radio" value="1" onclick="sum()" />尋求社工協助
                                        <label class="ASSESS_13" style="display:none">
                                            <input name="RB_HELP" type="radio" value="2" onclick="sum()" />轉介心理諮詢師或精神科
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head" style="height:100px">處置建議</td>
                                    <td style="height:100px">
                                        @Html.TextArea("TXT_MEMO", "", new { style = "width:400px", @cols = 20, @rows = 7 })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0 5px 0;text-align:center;">
                        <div class="funcArea">
                            <input type="button" value="儲存" style="width:60px;" onclick="if (check()) { submit(); }" />
                            <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
}
else
{
    <form action="Upd_EPDS" method="post">
        @foreach (DataRow r in dt.Rows)
        {
            <div class="funcArea">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="padding-bottom:5px;text-align:center;">
                            <span style="color:blue;font-size:26px;">愛丁堡產後憂鬱症評估</span>
                            <input type="hidden" name="IID" value="@r["IID"]" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;">
                            <div class="dataHeader">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    <tr>
                                        <td style="width:30%;">項目</td>
                                        <td style="width:70%;">內容</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="dataArea" style="height:550px;">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    <tr>
                                        <td class="head" style="width:30%;">評估時間</td>
                                        <td style="width:70%;">
                                            @Html.TextBox("TXT_ASMT_TIME_DAY" + r["IID"], Convert.ToDateTime(r["ASMT_TIME"]).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                                            @Html.TextBox("TXT_ASMT_TIME_TIME" + r["IID"], Convert.ToDateTime(r["ASMT_TIME"]).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                            @WebTool.setDateTime("TXT_ASMT_TIME_DAY" + r["IID"], "TXT_ASMT_TIME_TIME" + r["IID"])
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">1.我能看到事物有趣的一面，並笑得開心</td>
                                        <td>
                                            <input name="RB_Q1@(r["IID"])" type="radio" value="0" onclick="sum('@r["IID"]')" />和產前一樣(0)
                                            <input name="RB_Q1@(r["IID"])" type="radio" value="1" onclick="sum('@r["IID"]')" />沒產前那麼多(1)
                                            <input name="RB_Q1@(r["IID"])" type="radio" value="2" onclick="sum('@r["IID"]')" />肯定比產前少很多(2)
                                            <input name="RB_Q1@(r["IID"])" type="radio" value="3" onclick="sum('@r["IID"]')" />現在完全不能(3)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">2.我欣然期待未來的一切</td>
                                        <td>
                                            <input name="RB_Q2@(r["IID"])" type="radio" value="0" onclick="sum('@r["IID"]')" />和產前一樣(0)
                                            <input name="RB_Q2@(r["IID"])" type="radio" value="1" onclick="sum('@r["IID"]')" />沒產前那麼多(1)
                                            <input name="RB_Q2@(r["IID"])" type="radio" value="2" onclick="sum('@r["IID"]')" />肯定比產前少很多(2)
                                            <input name="RB_Q2@(r["IID"])" type="radio" value="3" onclick="sum('@r["IID"]')" />現在完全沒期待(3)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">3.當事情出錯時，我會全然責備自己</td>
                                        <td>
                                            <input name="RB_Q3@(r["IID"])" type="radio" value="0" onclick="sum('@r["IID"]')" />從未如此(0)
                                            <input name="RB_Q3@(r["IID"])" type="radio" value="1" onclick="sum('@r["IID"]')" />偶爾如此(1)
                                            <input name="RB_Q3@(r["IID"])" type="radio" value="2" onclick="sum('@r["IID"]')" />時常如此(2)
                                            <input name="RB_Q3@(r["IID"])" type="radio" value="3" onclick="sum('@r["IID"]')" />總是如此(3)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">4.我無緣無故感到焦慮和擔心</td>
                                        <td>
                                            <input name="RB_Q4@(r["IID"])" type="radio" value="0" onclick="sum('@r["IID"]')" />從未如此(0)
                                            <input name="RB_Q4@(r["IID"])" type="radio" value="1" onclick="sum('@r["IID"]')" />偶爾如此(1)
                                            <input name="RB_Q4@(r["IID"])" type="radio" value="2" onclick="sum('@r["IID"]')" />時常如此(2)
                                            <input name="RB_Q4@(r["IID"])" type="radio" value="3" onclick="sum('@r["IID"]')" />總是如此(3)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">5.我無緣無故感到害怕和驚慌</td>
                                        <td>
                                            <input name="RB_Q5@(r["IID"])" type="radio" value="0" onclick="sum('@r["IID"]')" />從未如此(0)
                                            <input name="RB_Q5@(r["IID"])" type="radio" value="1" onclick="sum('@r["IID"]')" />偶爾如此(1)
                                            <input name="RB_Q5@(r["IID"])" type="radio" value="2" onclick="sum('@r["IID"]')" />時常如此(2)
                                            <input name="RB_Q5@(r["IID"])" type="radio" value="3" onclick="sum('@r["IID"]')" />總是如此(3)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">6.很多事情衝著我而來，使我透不過氣</td>
                                        <td>
                                            <input name="RB_Q6@(r["IID"])" type="radio" value="0" onclick="sum('@r["IID"]')" />從未如此(0)
                                            <input name="RB_Q6@(r["IID"])" type="radio" value="1" onclick="sum('@r["IID"]')" />偶爾如此(1)
                                            <input name="RB_Q6@(r["IID"])" type="radio" value="2" onclick="sum('@r["IID"]')" />時常如此(2)
                                            <input name="RB_Q6@(r["IID"])" type="radio" value="3" onclick="sum('@r["IID"]')" />總是如此(3)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">7.我很不開心，以致失眠</td>
                                        <td>
                                            <input name="RB_Q7@(r["IID"])" type="radio" value="0" onclick="sum('@r["IID"]')" />從未如此(0)
                                            <input name="RB_Q7@(r["IID"])" type="radio" value="1" onclick="sum('@r["IID"]')" />偶爾如此(1)
                                            <input name="RB_Q7@(r["IID"])" type="radio" value="2" onclick="sum('@r["IID"]')" />時常如此(2)
                                            <input name="RB_Q7@(r["IID"])" type="radio" value="3" onclick="sum('@r["IID"]')" />總是如此(3)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">8.我感到難過和悲傷</td>
                                        <td>
                                            <input name="RB_Q8@(r["IID"])" type="radio" value="0" onclick="sum('@r["IID"]')" />從未如此(0)
                                            <input name="RB_Q8@(r["IID"])" type="radio" value="1" onclick="sum('@r["IID"]')" />偶爾如此(1)
                                            <input name="RB_Q8@(r["IID"])" type="radio" value="2" onclick="sum('@r["IID"]')" />時常如此(2)
                                            <input name="RB_Q8@(r["IID"])" type="radio" value="3" onclick="sum('@r["IID"]')" />總是如此(3)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">9.我不開心到哭泣</td>
                                        <td>
                                            <input name="RB_Q9@(r["IID"])" type="radio" value="0" onclick="sum('@r["IID"]')" />從未如此(0)
                                            <input name="RB_Q9@(r["IID"])" type="radio" value="1" onclick="sum('@r["IID"]')" />偶爾如此(1)
                                            <input name="RB_Q9@(r["IID"])" type="radio" value="2" onclick="sum('@r["IID"]')" />時常如此(2)
                                            <input name="RB_Q9@(r["IID"])" type="radio" value="3" onclick="sum('@r["IID"]')" />總是如此(3)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">10.我曾經有想過要傷害自己或是小孩的念頭</td>
                                        <td>
                                            <input name="RB_Q10@(r["IID"])" type="radio" value="0" onclick="sum('@r["IID"]')" />從未如此(0)
                                            <input name="RB_Q10@(r["IID"])" type="radio" value="1" onclick="sum('@r["IID"]')" />偶爾如此(1)
                                            <input name="RB_Q10@(r["IID"])" type="radio" value="2" onclick="sum('@r["IID"]')" />時常如此(2)
                                            <input name="RB_Q10@(r["IID"])" type="radio" value="3" onclick="sum('@r["IID"]')" />總是如此(3)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">總分</td>
                                        <td>
                                            @Html.TextBox("TXT_SCORE" + r["IID"], r["SCORE"], new { style = "width:100px", @readonly = "readonly" })
                                        </td>
                                    </tr>
                                    <tr class="ASSESS" style="display:none">
                                        <td class="head">壓力來源</td>
                                        <td style="background-color: rgb(171, 200, 226)">
                                            <input name="RB_PRESS@(r["IID"])" type="radio" value="0" onclick="sum('@r["IID"]')" />照顧新生兒
                                            <input name="RB_PRESS@(r["IID"])" type="radio" value="1" onclick="sum('@r["IID"]')" />經濟壓力
                                            <input name="RB_PRESS@(r["IID"])" type="radio" value="2" onclick="sum('@r["IID"]')" />家中支持系統不佳
                                        </td>
                                    </tr>
                                    <tr class="ASSESS" style="display:none">
                                        <td class="head">是否需要協助</td>
                                        <td style="background-color: rgb(225, 230, 250)">
                                            <input name="RB_HELP@(r["IID"])" type="radio" value="0" onclick="sum('@r["IID"]')" />產婦表示暫無此需求
                                            <input name="RB_HELP@(r["IID"])" type="radio" value="1" onclick="sum('@r["IID"]')" />尋求社工協助
                                            <label class="ASSESS_13" style="display:none">
                                                <input name="RB_HELP@(r["IID"])" type="radio" value="2" onclick="sum('@r["IID"]')" />轉介心理諮詢師或精神科
                                            </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head" style="height:100px">處置建議</td>
                                        <td style="height:100px">
                                            @Html.TextArea("TXT_MEMO" + r["IID"], r["MEMO"].ToString(), new { style = "width:400px", @cols = 20, @rows = 7 })
                                        </td>
                                    </tr>
                                </table>
                                <script>
                                    @if(r["Q1"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_Q1@(r["IID"])', '@r["Q1"]');
                                    }
                                    @if(r["Q2"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_Q2@(r["IID"])', '@r["Q2"]');
                                    }
                                    @if(r["Q3"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_Q3@(r["IID"])', '@r["Q3"]');
                                    }
                                    @if(r["Q4"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_Q4@(r["IID"])', '@r["Q4"]');
                                    }
                                    @if(r["Q5"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_Q5@(r["IID"])', '@r["Q5"]');
                                    }
                                    @if(r["Q6"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_Q6@(r["IID"])', '@r["Q6"]');
                                    }
                                    @if(r["Q7"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_Q7@(r["IID"])', '@r["Q7"]');
                                    }
                                    @if(r["Q8"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_Q8@(r["IID"])', '@r["Q8"]');
                                    }
                                    @if(r["Q9"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_Q9@(r["IID"])', '@r["Q9"]');
                                    }
                                    @if(r["Q10"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_Q10@(r["IID"])', '@r["Q10"]');
                                    }
                                    @if(r["SCORE"].ToString() != "")
                                    {
                                        var score = Convert.ToInt32(r["SCORE"].ToString());
                                        var memo = r["MEMO"].ToString();

                                        if(score > 9)
                                        {
                                            if(memo.IndexOf("照顧新生兒") >= 0)
                                            {
                                                 @:set_for_rb('RB_PRESS@(r["IID"])', '0');
                                            }
                                            if(memo.IndexOf("經濟壓力") >= 0)
                                            {
                                                 @:set_for_rb('RB_PRESS@(r["IID"])', '1');
                                            }
                                            if(memo.IndexOf("家中支持系統不佳") >= 0)
                                            {
                                                 @:set_for_rb('RB_PRESS@(r["IID"])', '2');
                                            }

                                            if(memo.IndexOf("產婦表示暫無此需求") >= 0)
                                            {
                                                 @:set_for_rb('RB_HELP@(r["IID"])', '0');
                                            }
                                            if(memo.IndexOf("尋求社工協助") >= 0)
                                            {
                                                 @:set_for_rb('RB_HELP@(r["IID"])', '1');
                                            }
                                            if(memo.IndexOf("轉介心理諮詢師或精神科") >= 0)
                                            {
                                                 @:set_for_rb('RB_HELP@(r["IID"])', '2');
                                            }
                                        }
                                    }
                                    sum('@r["IID"]');
                                </script>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;text-align:center;">
                            <div class="funcArea">
                                <input type="button" value="儲存" style="width:60px;" onclick="if (check('@r["IID"]')) { submit(); }" />
                                <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </form>
}

<script>
    $('form').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
</script>