@{
    ViewBag.Title = "Insert_PIBS";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<script>
    $(function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });
        setGridColor();
    });

    //格行換色
    function setGridColor() {
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }

    //驗證欄位_數字
    function numcheck(obj) {
        if (obj.value.indexOf('.') > -1) {
            var re = /^[0-9]+\.[0-9]*$/;
        }
        else {
            var re = /^[0-9]+$/;
        }
        if (!re.test(obj.value) && obj.value != "") {
            $(obj).val('');
            alert("只能輸入數字");
        }
    }

    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function set_for_ck(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            var ck = document.getElementsByName(ck_name);
            for (var i = 0; i < default_val.length; i++) {
                for (var j = 0; j < ck.length; j++) {
                    if (default_val[i] == ck[j].value)
                        $(ck[j]).click();
                }
            }
        }
    }

    function sendForm(IID) {
        if (IID == undefined)
            IID = "";
        if ($("input[name=CK_CARE_RECORD" + IID + "]").is(":checked") == "true") {
            if ($("input[name=TXT_HBS_NOW" + IID + "]").val() == "") {
                alert("現在心跳次數不得為空!");
                return;
            }
            if ($("input[name=TXT_BREATH_NOW" + IID + "]").val() == "") {
                alert("現在呼吸次數不得為空!");
                return;
            }
            if ($("input[name=TXT_SPO2_NOW" + IID + "]").val() == "") {
                alert("現在SpO2不得為空!");
                return;
            }
            if ($("input[name=TXT_ENERGY_NOW" + IID + "]").val() == "") {
                alert("現在精神活力不得為空!");
                return;
            }
            if ($("input[name=TXT_HBS_NOW" + IID + "]").val() == "") {
                alert("現在膚色不得為空!");
                return;
            }
            $("form[name=na_form]").submit();
        }
        else
            $("form[name=na_form]").submit();
    }


    function content(id) {
        var content = new Array();

        if (id == undefined)
            id = '';

        var CK_REASON = new Array();
        $("input:checkbox:checked[name=CK_REASON" + id + "]").each(function (i) { CK_REASON[i] = "(" + this.value + ")"; });
        var CK_REASON_JOIN = CK_REASON.join("、");
        if (CK_REASON_JOIN) {

            if (CK_REASON_JOIN.indexOf("(0)") >= 0) {
                CK_REASON_JOIN = CK_REASON_JOIN.replace("(0)", "哭泣後憋氣");
            }
            if (CK_REASON_JOIN.indexOf("(1)") >= 0) {
                CK_REASON_JOIN = CK_REASON_JOIN.replace("(1)", "熟睡");
            }
            if (CK_REASON_JOIN.indexOf("(2)") >= 0) {
                var REASON_OTH = $("input[name=TXT_REASON_OTH" + id + "]").val();
                if (REASON_OTH)
                    CK_REASON_JOIN = CK_REASON_JOIN.replace("(2)", REASON_OTH);
                else
                    CK_REASON_JOIN = CK_REASON_JOIN.replace("(2)", "其他");
            }
        }
        else {
            CK_REASON_JOIN = "無";
        }
        content.push("病嬰" + CK_REASON_JOIN);


        var APNEA = $("input[name=TXT_APNEA" + id + "]").val();
        if (APNEA) {
            content.push("呼吸暫停時間" + APNEA + "秒");
        } else {
            content.push("呼吸暫停時間0秒");
        }

        var HBS = $("input[name=TXT_HBS" + id + "]").val();
        if (HBS) {
            content.push("心跳次數" + HBS + "次 / 分");
        } else {
            content.push("心跳次數0次 / 分");
        }

        var SPO2 = $("input[name=TXT_SPO2" + id + "]").val();
        if (SPO2) {
            content.push("SpO2：" + SPO2 + "(%)");
        } else {
            content.push("SpO2：0(%)");
        }

        var CK_RECO = new Array();
        $("input:checkbox:checked[name=CK_RECO" + id + "]").each(function (i) { CK_RECO[i] = "(" + this.value + ")"; });
        var CK_RECO_JOIN = CK_RECO.join("、");
        if (CK_RECO_JOIN) {
            if (CK_RECO_JOIN.indexOf("(0)") >= 0) {
                CK_RECO_JOIN = CK_RECO_JOIN.replace("(0)", "刺激");
            }
            if (CK_RECO_JOIN.indexOf("(1)") >= 0) {
                CK_RECO_JOIN = CK_RECO_JOIN.replace("(1)", "氧氣(O2)");
            }
            if (CK_RECO_JOIN.indexOf("(2)") >= 0) {
                CK_RECO_JOIN = CK_RECO_JOIN.replace("(2)", "正壓換氣(Bag)");
            }
            if (CK_RECO_JOIN.indexOf("(3)") >= 0) {
                CK_RECO_JOIN = CK_RECO_JOIN.replace("(3)", "自動");
            }
            if (CK_RECO_JOIN.indexOf("(4)") >= 0) {
                var RECO_OTH = $("input[name=TXT_RECO_OTH" + id + "]").val();
                if (RECO_OTH)
                    CK_RECO_JOIN = CK_RECO_JOIN.replace("(4)", RECO_OTH);
                else
                    CK_RECO_JOIN = CK_RECO_JOIN.replace("(4)", "其他");
            }
        }
        else {
            CK_RECO_JOIN = "無";
        }
        content.push("恢復呼吸之方法:" + CK_RECO_JOIN);

        var field = "現心跳:";
        var HBS_NOW = $("input[name=TXT_HBS_NOW" + id + "]").val();
        if (HBS_NOW) {
            field += HBS_NOW;
        } else {
            field += "0";
        }
        field += "次 / 分";
        field += "、呼吸:";
        var BREATH_NOW = $("input[name=TXT_BREATH_NOW" + id + "]").val();
        if (BREATH_NOW) {
            field += BREATH_NOW;
        } else {
            field += "0";
        }
        field += "次 / 分";
        content.push(field);

        var SPO2_NOW = $("input[name=TXT_SPO2_NOW" + id + "]").val();
        if (SPO2_NOW) {
            content.push("SpO2：" + SPO2_NOW + "(%)");
        } else {
            content.push("SpO2：0(%)");
        }

        var ENERGY_NOW = $("input[name=TXT_ENERGY_NOW" + id + "]").val();
        if (ENERGY_NOW) {
            content.push("精神活力：" + ENERGY_NOW);
        } else {
            content.push("精神活力：無");
        }

        var SKIN_NOW = $("input[name=TXT_SKIN_NOW" + id + "]").val();
        if (SKIN_NOW) {
            content.push("膚色：" + SKIN_NOW );
        } else {
            content.push("膚色：無");
        }

        content.push("裝置生理監視器，繼續觀察病嬰的生理變化中。");

        $("textarea[name=TXT_CARE_RECORD" + id + "]").val(content.join("，"));
    }

</script>
@using System.Data;
@using System.Web.Mvc.Html;
@{
    DataTable dt = ViewBag.dt;
}
@if (dt == null || dt.Rows.Count == 0)
{
    <form name="na_form" action="Insert_PIBS" method="post">
        <div class="funcArea">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td style="padding-bottom:5px;text-align:center;">
                        <span style="color:blue;font-size:26px;">嬰兒呼吸暫停記錄</span>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0 5px 0;">
                        <div class="dataHeader">
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                <tr>
                                    <td style="width:20%;">項目</td>
                                    <td style="width:80%;">內容</td>
                                </tr>
                            </table>
                        </div>
                        <div class="dataArea" style="height:500px;">
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                <tr>
                                    <td class="head" style="width:20%;">評估時間</td>
                                    <td colspan="2" style="width:80%;">
                                        @Html.TextBox("TXT_ASMT_TIME_DAY", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_ASMT_TIME_TIME", DateTime.Now.ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                        @WebTool.setDateTime("TXT_ASMT_TIME_DAY", "TXT_ASMT_TIME_TIME")
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">呼吸暫停時間(秒)</td>
                                    <td>
                                        @Html.TextBox("TXT_APNEA", "", new { style = "width:100px", onkeyup = "content();", onchange = "numcheck(this);content();" })
                                    </td>
                                    <td rowspan="3">
                                        原因
                                        <input name="CK_REASON" type="checkbox" value="0" onclick="content()" />哭泣後憋氣
                                        <input name="CK_REASON" type="checkbox" value="1" onclick="content()" />熟睡
                                        <input name="CK_REASON" type="checkbox" value="2" onclick="content();$('.REASON_OTH').fadeToggle()" />其他
                                        <span class="REASON_OTH" style="display:none;">
                                            ，@Html.TextBox("TXT_REASON_OTH", "", new { style = "width:100px", onkeyup = "content();", onchange = "content();" })
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">心跳次數:次/分</td>
                                    <td>
                                        @Html.TextBox("TXT_HBS", "", new { style = "width:100px", onkeyup = "content();", onchange = "numcheck(this);content();" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">SpO<sub>2</sub>(%)</td>
                                    <td>
                                        @Html.TextBox("TXT_SPO2", "", new { style = "width:100px", onkeyup = "content();", onchange = "numcheck(this);content();" })
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">恢復呼吸之方法</td>
                                    <td colspan="2">
                                        <input type="checkbox" name="CK_RECO" value="0" onclick="content()" />刺激
                                        <input type="checkbox" name="CK_RECO" value="1" onclick="content()" />氧氣(O<sub>2</sub>)
                                        <input type="checkbox" name="CK_RECO" value="2" onclick="content()" />正壓換氣(Bag)
                                        <input type="checkbox" name="CK_RECO" value="3" onclick="content()" />自動
                                        <input type="checkbox" name="CK_RECO" value="4" onclick="content();$('.RECO_OTH').fadeToggle(500);" />其他
                                        <span class="RECO_OTH" style="display:none;">
                                            ， @Html.TextBox("TXT_RECO_OTH", "", new { style = "width:100px", onkeyup = "content();", onchange = "content();" })
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="head">帶入護理紀錄</td>
                                    <td colspan="2">
                                        <input type="checkbox" name="CK_CARE_RECORD" value="1" onclick="$('.CARE_RECORD').fadeToggle(500);" />
                                    </td>
                                </tr>
                                <tr class="CARE_RECORD" style="text-align:center;display:none">
                                    <td class="head" colspan="3">現在</td>
                                </tr>
                                <tr class="CARE_RECORD" style="display:none">
                                    <td class="head">心跳次數</td>
                                    <td colspan="2" style="background-color:rgb(171, 200, 226)">
                                        @Html.TextBox("TXT_HBS_NOW", "", new { style = "width:100px", onkeyup = "content();", onchange = "numcheck(this);content();" })
                                    </td>
                                </tr>
                                <tr class="CARE_RECORD" style="display:none">
                                    <td class="head">呼吸次數</td>
                                    <td colspan="2" style="background-color: rgb(225, 230, 250)">
                                        @Html.TextBox("TXT_BREATH_NOW", "", new { style = "width:100px", onkeyup = "content();", onchange = "numcheck(this);content();" })
                                    </td>
                                </tr>
                                <tr class="CARE_RECORD" style="display:none">
                                    <td class="head">SpO<sub>2</sub>(%)</td>
                                    <td colspan="2" style="background-color:rgb(171, 200, 226)">
                                        @Html.TextBox("TXT_SPO2_NOW", "", new { style = "width:100px", onkeyup = "content();", onchange = "numcheck(this);content();" })
                                    </td>
                                </tr>
                                <tr class="CARE_RECORD" style="display:none">
                                    <td class="head">精神活力</td>
                                    <td colspan="2" style="background-color: rgb(225, 230, 250)">
                                        @Html.TextBox("TXT_ENERGY_NOW", "", new { style = "width:100px", onkeyup = "content();", onchange = "content();" })
                                    </td>
                                </tr>
                                <tr class="CARE_RECORD" style="display:none">
                                    <td class="head">膚色</td>
                                    <td colspan="2" style="background-color:rgb(171, 200, 226)">
                                        @Html.TextBox("TXT_SKIN_NOW", "", new { style = "width:100px", onkeyup = "content();", onchange = "content();" })
                                    </td>
                                </tr>
                                <tr class="CARE_RECORD" style="display:none">
                                    <td class="head">護理紀錄</td>
                                    <td colspan="2" style="background-color:rgb(171, 200, 226)">
                                        @Html.TextArea("TXT_CARE_RECORD", "", new { style = "width:400px", @cols = 20, @rows = 7 })
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0 5px 0;text-align:center;">
                        <div class="funcArea">
                            <input type="button" value="儲存" style="width:60px;" onclick="sendForm()" />
                            <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
}
else
{
    <form name="na_form" action="Upd_PIBS" method="post">
        @foreach (DataRow r in dt.Rows)
        {
            <div class="funcArea">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="padding-bottom:5px;text-align:center;">
                            <span style="color:blue;font-size:26px;">嬰兒呼吸暫停記錄</span>
                            <input type="hidden" name="IID" value="@r["IID"]" />
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;">
                            <div class="dataHeader">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    <tr>
                                        <td style="width:20%;">項目</td>
                                        <td style="width:80%;">內容</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="dataArea" style="height:500px;">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    <tr>
                                        <td class="head" style="width:20%;">評估時間</td>
                                        <td colspan="2" style="width:80%;">
                                            @Html.TextBox("TXT_ASMT_TIME_DAY" + r["IID"], Convert.ToDateTime(r["ASMT_TIME"]).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                                            @Html.TextBox("TXT_ASMT_TIME_TIME" + r["IID"], Convert.ToDateTime(r["ASMT_TIME"]).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                            @WebTool.setDateTime("TXT_ASMT_TIME_DAY" + r["IID"], "TXT_ASMT_TIME_TIME" + r["IID"])
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">呼吸暫停時間(秒)</td>
                                        <td>
                                            @Html.TextBox("TXT_APNEA" + r["IID"], r["APNEA"], new { style = "width:100px", onkeyup = "content('" + r["IID"] + "');", onchange = "numcheck(this);content('" + r["IID"] + "');" })
                                        </td>
                                        <td rowspan="3">
                                            原因
                                            <input name="CK_REASON@(r["IID"])" type="checkbox" value="0" onclick="content('@r["IID"]')" />哭泣後憋氣
                                            <input name="CK_REASON@(r["IID"])" type="checkbox" value="1" onclick="content('@r["IID"]')" />熟睡
                                            <input name="CK_REASON@(r["IID"])" type="checkbox" value="2" onclick="content('@r["IID"]');$('.REASON_OTH').fadeToggle()" />其他
                                            <span class="REASON_OTH" style="display:none;">
                                                ，@Html.TextBox("TXT_REASON_OTH" + r["IID"], r["REASON_OTH"], new { style = "width:100px", onkeyup = "content('" + r["IID"] + "');", onchange = "content('" + r["IID"] + "');" })
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">心跳次數:次/分</td>
                                        <td>
                                            @Html.TextBox("TXT_HBS" + r["IID"], r["HBS"], new { style = "width:100px", onkeyup = "content('" + r["IID"] + "');", onchange = "numcheck(this);content('" + r["IID"] + "');" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">SpO<sub>2</sub>(%)</td>
                                        <td>
                                            @Html.TextBox("TXT_SPO2" + r["IID"], r["SPO2"], new { style = "width:100px", onkeyup = "content('" + r["IID"] + "');", onchange = "numcheck(this);content('" + r["IID"] + "');" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">恢復呼吸之方法</td>
                                        <td colspan="2">
                                            <input type="checkbox" name="CK_RECO@(r["IID"])" value="0" onclick="content('@r["IID"]')" />刺激
                                            <input type="checkbox" name="CK_RECO@(r["IID"])" value="1" onclick="content('@r["IID"]')" />氧氣(O<sub>2</sub>)
                                            <input type="checkbox" name="CK_RECO@(r["IID"])" value="2" onclick="content('@r["IID"]')" />正壓換氣(Bag)
                                            <input type="checkbox" name="CK_RECO@(r["IID"])" value="3" onclick="content('@r["IID"]')" />自動
                                            <input type="checkbox" name="CK_RECO@(r["IID"])" value="4" onclick="content('@r["IID"]');$('.RECO_OTH').fadeToggle(500);" />其他
                                            <span class="RECO_OTH" style="display:none;">
                                                ， @Html.TextBox("TXT_RECO_OTH" + r["IID"], r["RECO_OTH"], new { style = "width:100px", onkeyup = "content('" + r["IID"] + "');", onchange = "content('" + r["IID"] + "');" })
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">帶入護理紀錄</td>
                                        <td colspan="2">
                                            <input type="checkbox" name="CK_CARE_RECORD@(r["IID"])" value="1" onclick="$('.CARE_RECORD').fadeToggle(500);" />
                                        </td>
                                    </tr>
                                    <tr class="CARE_RECORD" style="text-align:center;display:none">
                                        <td class="head" colspan="3">現在</td>
                                    </tr>
                                    <tr class="CARE_RECORD" style="display:none">
                                        <td class="head">心跳次數</td>
                                        <td colspan="2" style="background-color:rgb(171, 200, 226)">
                                            @Html.TextBox("TXT_HBS_NOW" + r["IID"], "", new { style = "width:100px", onkeyup = "content('" + r["IID"] + "');", onchange = "numcheck(this);content('" + r["IID"] + "');" })
                                        </td>
                                    </tr>
                                    <tr class="CARE_RECORD" style="display:none">
                                        <td class="head">呼吸次數</td>
                                        <td colspan="2" style="background-color: rgb(225, 230, 250)">
                                            @Html.TextBox("TXT_BREATH_NOW" + r["IID"], "", new { style = "width:100px", onkeyup = "content('" + r["IID"] + "');", onchange = "numcheck(this);content('" + r["IID"] + "');" })
                                        </td>
                                    </tr>
                                    <tr class="CARE_RECORD" style="display:none">
                                        <td class="head">SpO<sub>2</sub>(%)</td>
                                        <td colspan="2" style="background-color:rgb(171, 200, 226)">
                                            @Html.TextBox("TXT_SPO2_NOW" + r["IID"], "", new { style = "width:100px", onkeyup = "content('" + r["IID"] + "');", onchange = "numcheck(this);content('" + r["IID"] + "');" })
                                        </td>
                                    </tr>
                                    <tr class="CARE_RECORD" style="display:none">
                                        <td class="head">精神活力</td>
                                        <td colspan="2" style="background-color: rgb(225, 230, 250)">
                                            @Html.TextBox("TXT_ENERGY_NOW" + r["IID"], "", new { style = "width:100px", onkeyup = "content('" + r["IID"] + "');", onchange = "content('" + r["IID"] + "');" })
                                        </td>
                                    </tr>
                                    <tr class="CARE_RECORD" style="display:none">
                                        <td class="head">膚色</td>
                                        <td colspan="2" style="background-color:rgb(171, 200, 226)">
                                            @Html.TextBox("TXT_SKIN_NOW" + r["IID"], "", new { style = "width:100px", onkeyup = "content('" + r["IID"] + "');", onchange = "content('" + r["IID"] + "');" })
                                        </td>
                                    </tr>
                                    <tr class="CARE_RECORD" style="display:none">
                                        <td class="head">護理紀錄</td>
                                        <td colspan="2" style="background-color:rgb(171, 200, 226)">
                                            @Html.TextArea("TXT_CARE_RECORD" + r["IID"], "", new { style = "width:400px", @cols = 20, @rows = 7 })
                                        </td>
                                    </tr>
                                </table>
                                <script>
                                     @if (r["REASON"].ToString() != "")
                                     {
                                         var REASON = r["REASON"].ToString();
                                         var REASONV = new List<string>();

                                         for (var i = 0; i < REASON.ToString().Length; i++)
                                         {
                                             if (REASON[i] == '1')
                                             {
                                                 REASONV.Add(i.ToString());
                                             }
                                         }
                                                 @:set_for_ck('CK_REASON@(r["IID"])', '@String.Join(",", REASONV)');
                                             }

                                     @if (r["RECO"].ToString() != "")
                                     {
                                         var RECO = r["RECO"].ToString();
                                         var RECOV = new List<string>();

                                         for (var i = 0; i < RECO.ToString().Length; i++)
                                         {
                                             if (RECO[i] == '1')
                                             {
                                                 RECOV.Add(i.ToString());
                                             }
                                         }
                                                 @:set_for_ck('CK_RECO@(r["IID"])', '@String.Join(",", RECOV)');
                                             }
                                    @if(r["CARE_RECORD"].ToString() != "")
                                    {
                                        @:set_for_ck('CK_CARE_RECORD@(r["IID"])', '1');
                                    }
                                </script>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;text-align:center;">
                            <div class="funcArea">
                                <input type="button" value="儲存" style="width:60px;" onclick="sendForm('@(r["IID"])')" />
                                <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        }
    </form>
}

<script>
    $('form').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
</script>
