@{
    ViewBag.Title = "護理資訊系統-化療給藥";
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        close_pup_window();
        $("#btn_chemotherapy_print").css("background-color", "#666666");
        $("#btn_chemotherapy_print").css("color", "#FFFFFF");
    }
</script>

<table border="0" cellpadding="0" cellspacing="0" style=" width:100%; text-align:left;">
    <tr><td align="center">
        @Html.Partial("CommonMedicine_Tab")
    </td></tr>
    <tr><td style=" padding:10px 0px 5px 0px;">
        @Html.TextBox("start_date", @DateTime.Now.AddDays(-7).ToString("d"), new {style="width:80px" })
@Html.TextBox("start_time", "0000", new {style="width:50px" })
@Html.Label("lab"," ~ ")
@Html.TextBox("end_date", @DateTime.Now.ToString("yyyy/MM/dd"), new {style="width:80px" })
@Html.TextBox("end_time","1159", new { style = "width:50px" })
        <input type="button" class="btn_m" value="查詢" />
        <input type="button" class="btn" value="查詢所有待執行醫囑" />
        <input type="button" class="btn_m" value="預覽列印" onclick="showPopup('popup');" />
    </td></tr>
    <tr><td style=" padding:5px 0px 5px 0px;">
        @Html.RadioButton("rb_list", "", true, new { id = "key", onclick = @Java_funcion.show_hide("txt", "droplist") })
        @Html.Label("key", "藥品名")
        @Html.RadioButton("rb_list", "", false, new { id = "id", onclick = @Java_funcion.show_hide("txt", "droplist") })
        @Html.Label("id", "藥碼")
        @Html.RadioButton("rb_list", "", false, new { id = "way", onclick = @Java_funcion.show_hide("txt", "droplist") })
        @Html.Label("way", "用藥途徑")
        @Html.RadioButton("rb_list", "", false, new { id = "type", onclick = @Java_funcion.show_hide("droplist", "txt") })
        @Html.Label("type", "藥囑狀態")
        @Html.TextBox("keyword", "", new { id = "txt", style = "width:150px;" })
        @Html.DropDownList("List", ViewData["List"] as SelectList, "--請選擇分類--", new { id = "droplist", style = " display:none;" })
    </td></tr>
    <tr><td style=" padding:5px 0px 5px 0px;">
        <div class="gv_area">
            <table border="0" cellpadding="0" cellspacing="0" style=" width:100%; padding:0px 0px 25px 0px;">
                <tr>
                    <th rowspan="2" >身高</th>
                    <th rowspan="2" >體重</th>
                    <th rowspan="2" >BSA</th>
                    <th rowspan="2" >Scr</th>
                    <th rowspan="2" >CCr</th>
                    <th rowspan="2" >WBC(ul)</th>
                    <th rowspan="2" >WBC日期</th>
                    <th colspan="3">分類</th>
                    <th rowspan="2" >Stage</th>
                    <th rowspan="2" >ANC</th>
                </tr>
                <tr>
                    <th>T</th>
                    <th>N</th>
                    <th>M</th>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <div style=" height:400px; overflow:auto;">
                <table border="0" cellpadding="0" cellspacing="0" style=" width:100%; padding:5px 0px 0px 0px;">
                <tr><td colspan="11" style="background-color: #F8BF3A; text-align:center;"><span style="font-weight: bold">Pre-medication</span></td></tr>
                <tr>
                    <th>順序</th>
                    <th>生效時間</th>
                    <th>天數</th>
                    <th>藥物名稱</th>
                    <th>自</th>
                    <th>使用劑量</th>
                    <th>途徑</th>
                    <th>頻次</th>
                    <th>總量(mL)</th>
                    <th>速率(mL/小時)</th>
                    <th>狀態</th>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th colspan="3">泡用點滴</th>
                    <td>&nbsp;</td>
                    <th colspan="4">給予頻次及時間</th>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <th colspan="3">醫囑備註</th>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="11" style=" padding:5px 0px 5px 0px;">
                        <span>@DateTime.Now.ToString("yyyy/MM/dd")</span>
                        <span>@DateTime.Now.ToString("HHmm")</span>
                        <span>[@ViewBag.name]</span>
                    </td>
                </tr>
                <tr>
                    <th>順序</th>
                    <th>生效時間</th>
                    <th>天數</th>
                    <th>藥物名稱</th>
                    <th>自</th>
                    <th>使用劑量</th>
                    <th>途徑</th>
                    <th>頻次</th>
                    <th>總量(mL)</th>
                    <th>速率(mL/小時)</th>
                    <th>狀態</th>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <th colspan="3">泡用點滴</th>
                    <td>&nbsp;</td>
                    <th colspan="4">給予頻次及時間</th>
                    <td colspan="3"></td>
                </tr>
                <tr>
                    <th colspan="3">醫囑備註</th>
                    <td colspan="8"></td>
                </tr>
                <tr>
                    <td colspan="11" style=" padding:5px 0px 5px 0px;">
                        <span>@DateTime.Now.ToString("yyyy/MM/dd")</span>
                        <span>@DateTime.Now.ToString("HHmm")</span>
                        <span>[@ViewBag.name]</span>
                    </td>
                </tr>
            </table>
                <table border="0" cellpadding="0" cellspacing="0" style=" width:100%">
                    <tr><td colspan="11" style="background-color: #F8BF3A; text-align:center;"><span style="font-weight: bold">Chemotherapy</span></td></tr>
                    <tr>
                        <th>順序</th>
                        <th>生效時間</th>
                        <th>天數</th>
                        <th>藥物名稱</th>
                        <th>自</th>
                        <th>使用劑量</th>
                        <th>途徑</th>
                        <th>頻次</th>
                        <th>總量(mL)</th>
                        <th>速率(mL/小時)</th>
                        <th>狀態</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th colspan="3">泡用點滴</th>
                        <td>&nbsp;</td>
                        <th colspan="4">給予頻次及時間</th>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th colspan="3">醫囑備註</th>
                        <td colspan="8"></td>
                    </tr>
                    <tr>
                        <td colspan="11" style=" padding:5px 0px 5px 0px;">
                            <span>@DateTime.Now.ToString("yyyy/MM/dd")</span>
                            <span>@DateTime.Now.ToString("HHmm")</span>
                            <span>[@ViewBag.name]</span>
                        </td>
                    </tr>
                    <tr>
                        <th>順序</th>
                        <th>生效時間</th>
                        <th>天數</th>
                        <th>藥物名稱</th>
                        <th>自</th>
                        <th>使用劑量</th>
                        <th>途徑</th>
                        <th>頻次</th>
                        <th>總量(mL)</th>
                        <th>速率(mL/小時)</th>
                        <th>狀態</th>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <th colspan="3">泡用點滴</th>
                        <td>&nbsp;</td>
                        <th colspan="4">給予頻次及時間</th>
                        <td colspan="3"></td>
                    </tr>
                    <tr>
                        <th colspan="3">醫囑備註</th>
                        <td colspan="8"></td>
                    </tr>
                    <tr>
                        <td colspan="11" style=" padding:5px 0px 5px 0px;">
                            <span>@DateTime.Now.ToString("yyyy/MM/dd")</span>
                            <span>@DateTime.Now.ToString("HHmm")</span>
                            <span>[@ViewBag.name]</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </td></tr>
    <tr><td style=" padding:25px 0px 5px 0px;">
    </td></tr>
</table>