@{
    ViewBag.Title = "護理資訊系統-化療給藥";
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        close_pup_window();
        $("#btn_chemotherapy_sign").css("background-color", "#666666");
        $("#btn_chemotherapy_sign").css("color", "#FFFFFF");
    }
</script>

<table border="0" cellpadding="0" cellspacing="0" style=" width:100%; text-align:left;">
    <tr><td align="center">
        @Html.Partial("CommonMedicine_Tab")
    </td></tr>
    <tr><td style=" text-align:center; padding:10px 0px 5px 0px;">
        @Html.CheckBox("ck")
        @Html.Label("ck", "是否為補輸資料？")
        @Html.Label("id","藥包條碼")
        @Html.TextBox("id","123456789", new { style=" width:180px;" } )
        <input type="submit" value="簽收" style=" width:50px;" />
    </td></tr>
    <tr><td style=" padding:0px 0px 5px 0px;">
        <div class="gv_area">
            <table border="0" cellpadding="0" cellspacing="0" style=" width:100%;">
                <tr>
                    <th>化療單號</th>
                    <th>床號</th>
                    <th>病歷號</th>
                    <th>姓名</th>
                    <th>生日</th>
                    <th>年齡</th>
                    <th>身高</th>
                    <th>體重</th>
                    <th>開單日期</th>
                    <th>開單時間</th>
                </tr>
                <tr>
                    <td style="background-color: #F8BF3A">123456789</td>
                    <td style="background-color: #F8BF3A">21</td>
                    <td style="background-color: #F8BF3A">&nbsp;</td>
                    <td style="background-color: #F8BF3A">&nbsp;</td>
                    <td style="background-color: #F8BF3A">&nbsp;</td>
                    <td style="background-color: #F8BF3A">&nbsp;</td>
                    <td style="background-color: #F8BF3A">&nbsp;</td>
                    <td style="background-color: #F8BF3A">&nbsp;</td>
                    <td style="background-color: #F8BF3A">&nbsp;</td>
                    <td style="background-color: #F8BF3A">&nbsp;</td>
                </tr>
            </table>
        </div>
    </td></tr>
    <tr><td style=" padding:15px 0px 5px 0px;">
        <div class="gv_area">
            <table border="0" cellpadding="0" cellspacing="0" style=" width:100%;">
                <tr>
                    <th></th>
                    <th>床號</th>
                    <th>傳送時間</th>
                    <th>藥物名稱</th>
                    <th>劑量</th>
                    <th>輸注液名稱</th>
                    <th>途徑</th>
                    <th>總量(ML)</th>
                </tr>
                <tr>
                    <td>@Html.CheckBox("ck", new { disabled="disabled" })</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("ck", new { disabled="disabled" })</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td style="background-color: #F8BF3A" >@Html.CheckBox("ck", true, new { disabled="disabled" })</td>
                    <td style="background-color: #F8BF3A" >21</td>
                    <td style="background-color: #F8BF3A" >&nbsp;</td>
                    <td style="background-color: #F8BF3A" >&nbsp;</td>
                    <td style="background-color: #F8BF3A" >&nbsp;</td>
                    <td style="background-color: #F8BF3A" >&nbsp;</td>
                    <td style="background-color: #F8BF3A" >&nbsp;</td>
                    <td style="background-color: #F8BF3A" >&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("ck", new { disabled="disabled" })</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("ck", new { disabled="disabled" })</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>@Html.CheckBox("ck", new { disabled="disabled" })</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </div>
    </td></tr>
</table>