<link type="text/css" rel="Stylesheet" href="~/Content/StyleSheet/style.css" />

<table border="0" cellpadding="0" cellspacing="0" style=" width:100%;">
    <tr><td align="center">
        @Html.CheckBox("ck")
        @Html.Label("ck", "註記所有化療給藥紀錄")
    </td></tr>
    <tr><td>
        <div class="gv_area">
            <table border="1" cellpadding="0" cellspacing="0" style=" width:100%;">
                <tr>
                    <th>提早給原因</th>
                    <th>延遲原因</th>
                    <th>未執行原因</th>
                </tr>
                <tr>
                    <td>手術</td>
                    <td>手術</td>
                    <td>請假未給</td>
                </tr>
                <tr>
                    <td>洗腎</td>
                    <td>洗腎</td>
                    <td>病人拒服</td>
                </tr>
                <tr>
                    <td>請假</td>
                    <td>病人外出</td>
                    <td>禁食</td>
                </tr>
                <tr>
                    <td>病人要求</td>
                    <td>檢查</td>
                    <td>血壓偏低</td>
                </tr>
                <tr>
                    <td>檢查</td>
                    <td>請假</td>
                    <td>血糖偏低</td>
                </tr>
                <tr>
                    <td>病情需求</td>
                    <td>禁食</td>
                    <td>返家服用</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>暫停使用</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>近常規時間</td>
                </tr>
                <tr>
                    <td>
                        其他
                        @Html.TextBox("reason1","", new { style=" width:50px;"} )
                    </td>
                    <td>
                        其他
                        @Html.TextBox("reason1","", new { style=" width:50px;"} )
                    </td>
                    <td>
                        其他
                        @Html.TextBox("reason1","", new { style=" width:50px;"} )
                    </td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align:center;">
                        <input type="button" value="確定" onclick="alert('註記成功');window.close();" />
                        <input type="button" value="離開" onclick="window.close();" />
                    </td>
                </tr>
            </table>
        </div>
    </td></tr>
</table>