@using NIS.Data;
@using System.Data;
@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dtr = new DataTable();
    if(ViewBag.dtr != null)
    { dtr = ViewBag.dtr; }
    DataTable dt = ViewBag.dt;
    DataTable dt2 = ViewBag.dt2;
    DataTable dt_list = ViewBag.dt_list;
    string start = ViewBag.start;
    string ver = ViewBag.ver;
    string id = ViewBag.id;
    string BOUT = ViewBag.BOUT;
    string mod = ViewBag.mod;
    List<String> TList = new List<String>();
    TList = (List<String>)ViewData["time"];
    string assessdt = ViewBag.assessdt;
    string assess = "";
    string day = DateTime.Now.ToString("yyyy/MM/dd");
    string time = DateTime.Now.ToString("HH:mm");
    // int feq = ViewBag.feq;
    string REASON = "", CONSCIOUS = "", REACTION = "", POSITION = "";
    string TOOL = "", CYCLE = "", PAUSE = "", ENDING = "", EXPLAIN = "";
    string HARM = "", HARM1 = "", HARM2 = "", OTHER = "", BINDID = "";
    int TListCount = TList.Count;

    string RESTRAINT = "", BINDINGSITE = "", PULSE = "", TIGHTNESS = "", TEMPERATURE = "", COLOUR = "", INTEGRITY = "", FEELING = "", REMOVE = "";//by jarvis add

    if(dt != null && dt.Rows.Count > 0)
    {
        day = Convert.ToDateTime(dt.Rows[0]["ASSESSDT"]).ToString("yyyy/MM/dd");
        time = Convert.ToDateTime(dt.Rows[0]["ASSESSDT"]).ToString("HH:mm");
        REASON = dt.Rows[0]["REASON"].ToString().Trim();//約束原因
        CONSCIOUS = dt.Rows[0]["CONSCIOUS"].ToString().Trim();//意識程度
        //REACTION = dt.Rows[0]["REACTION"].ToString().Trim();//病人反應
        //POSITION = dt.Rows[0]["POSITION"].ToString().Trim();//約束部位
        //TOOL = dt.Rows[0]["TOOL"].ToString().Trim();//約束用具
        //CYCLE = dt.Rows[0]["CYCLE"].ToString().Trim();//循環
        //PAUSE = dt.Rows[0]["PAUSE"].ToString().Trim();//短暫解除約束
        //ENDING = dt.Rows[0]["ENDING"].ToString().Trim(); //解除約束
        //EXPLAIN = dt.Rows[0]["EXPLAIN"].ToString().Trim();//狀況說明
        //HARM = dt.Rows[0]["HARM"].ToString().Trim();//傷害
        //HARM1 = dt.Rows[0]["HARM1"].ToString().Trim();//拔管
        //HARM2 = dt.Rows[0]["HARM2"].ToString().Trim(); //骨折
        BINDID = dt.Rows[0]["BINDID"].ToString().Trim(); //
        assessdt = dt.Rows[0]["ASSESSDT"].ToString().Trim();
        id = dt.Rows[0]["ID"].ToString().Trim();
        assess = dt.Rows[0]["ASSESS"].ToString().Trim();
        if(assess != "0")
        {
            <script type="text/javascript">
                $(function () {
                   
                });
                function set_for_rb(id, default_val) {
                    var rb = document.getElementsByName(id);
                    for (var i = 0; i < rb.length; i++) {
                        if (rb[i].value == default_val)
                            rb[i].checked = true;
                    }
                }

                function set_for_ck(id, default_val) {
                    var ck = document.getElementsByName(id);
                    var name = (default_val + ",").split(",");

                    for (var j = 0; j < name.length - 1; j++) {
                        for (var i = 0; i < ck.length; i++) {
                            if ($(ck[i]).attr('text') == name[j]) {
                                ck[i].checked = true;
                                j++;
                            }
                        }
                    }
                }
        </script> 
        }
        else
        {
            <script type="text/javascript">
                //             $(function () {
                //                 other = "@*@dt2.Rows[0]["OTHER"].ToString().Trim()*@";
                //                 set_for_ck('ck_reaction', '@*@dt2.Rows[0]["REACTION"].ToString().Trim()*@');
                //                 set_for_ck('ck_position', '@*@dt2.Rows[0]["POSITION"].ToString().Trim()*@');
                //                 set_for_ck('ck_tool', '@*@dt2.Rows[0]["TOOL"].ToString().Trim()*@');
                //                 set_for_ck('ck_ending', '@*@dt2.Rows[0]["ENDING"].ToString().Trim()*@');
                //                 set_for_ck('ck_harm', '@*@dt2.Rows[0]["HARM"].ToString().Trim()*@');
                set_for_rb('rb_reason', '@dt2.Rows[0]["REASON"].ToString().Trim()');
                set_for_rb('rb_conscious', '@dt2.Rows[0]["CONSCIOUS"].ToString().Trim()');
                //                  set_for_rb('rb_cycle', '@*@dt2.Rows[0]["CYCLE"].ToString().Trim()*@');
                //                set_for_rb('rb_pause', '@*@dt2.Rows[0]["PAUSE"].ToString().Trim()*@');
                //                var ohteritem = other.split(",");
                //                 for (i = 1; i <9; i++)//
                //                 {
                //                     $('#txt' + i ).val(ohteritem[i-1]);//textbox其他
                //                 }
                //             });
                function set_for_rb(id, default_val) {
                    var rb = document.getElementsByName(id);
                    for (var i = 0; i < rb.length; i++) {
                        if (rb[i].value == default_val)
                            rb[i].checked = true;
                    }
                }

                function set_for_ck(id, default_val) {
                    var ck = document.getElementsByName(id);
                    var name = (default_val + ",").split(",");

                    for (var j = 0; j < name.length - 1; j++) {
                        for (var i = 0; i < ck.length; i++) {
                            if ($(ck[i]).attr('text') == name[j]) {
                                ck[i].checked = true;
                                j++;
                            }
                        }
                    }
                }
            </script>
        }
    }
    else
    {
        DataTable dt_b = ViewBag.dt_list;
        if(dt_b != null && dt_b.Rows.Count > 0)
        {
            string REASON1 = dt_b.Rows[0]["REASON"].ToString();
            string CONSCIOUS1 = dt_b.Rows[0]["CONSCIOUS"].ToString();
            string REASON_OTHER1 = dt_b.Rows[0]["REASON_OTHER"].ToString();
            string CONSCIOUS_OTHER1 = dt_b.Rows[0]["CONSCIOUS_OTHER"].ToString();
        <script type="text/javascript">
            $(function () {
                $("[Pstyle=none]").each(function(){
                    $(this).hide();
                });
            });

            function set_for_rb(id, default_val) {
                var rb = document.getElementsByName(id);
                for (var i = 0; i < rb.length; i++) {
                    if (rb[i].value == default_val)
                        rb[i].checked = true;
                }
            }

            function set_for_ck1(id, default_val) {
                var ck = document.getElementsByName(id);
                var name = (default_val + ",").split(",");
                for (var j = 0; j < name.length - 1; j++) {
                    for (var i = 0; i < ck.length; i++) {
                        if ($(ck[i]).attr('text') == name[j]) {
                            ck[i].checked = true;
                            j++;
                        }
                    }
                }
            }
        </script>
            for(int k = 0; k < dt_b.Rows.Count; k++)
            {
                 REASON1 = dt_b.Rows[k]["REASON"].ToString();
                 CONSCIOUS1 = dt_b.Rows[k]["CONSCIOUS"].ToString();
                 REASON_OTHER1 = dt_b.Rows[k]["REASON_OTHER"].ToString();
                 CONSCIOUS_OTHER1 = dt_b.Rows[k]["CONSCIOUS_OTHER"].ToString();
                  <script type="text/javascript">
                      $(function(){
                          set_for_ck1('ck_bindingsite@(k)','@(CONSCIOUS1)');
                         @* $("[name=rb_restraint"+@(k)+"][value='@(REASON1)']").attr('checked', true);*@
                          set_for_ck1('ck_restraint@(k)','@(REASON1)');
                          if('@(REASON_OTHER1)'!=""){
                              $('#txt1'+'@(k)').removeAttr("disabled");
                               $('#txt1'+'@(k)').val('@(REASON_OTHER1)');
                               $("[name=lab_restraint_other"+'@(k)'+"]").text(':'+'@(REASON_OTHER1)');
                           }
                          if('@(CONSCIOUS_OTHER1)'!=""){
                              $('#txt2'+'@(k)').removeAttr("disabled");
                                $('#txt2'+'@(k)').val('@(CONSCIOUS_OTHER1)');
                                $("[name=lab_bindingsite_other"+'@(k)'+"]").text(':'+'@(CONSCIOUS_OTHER1)');
                            }

                          $("[name=lab_restraint"+'@(k)'+"]").text('@(REASON1)');
                          $("[name=lab_bindingsite"+'@(k)'+"]").text('@(CONSCIOUS1)');

                      });
                    </script>

            }
        }
    }       
    
}

<style type="text/css">

    .ui-tabs .ui-tabs-nav li a{
        font-size: 16px;
        padding: 3px 5px 3px 5px;
    }

    .ui-tabs{
        font-size: 16px;
    }
</style>  

<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
        $(window).resize(function () {
            if($(this).outerHeight() <= 50 ){
                $(".dataArea").outerHeight(400);
            }
            else {
                $(".dataArea").outerHeight($(this).outerHeight() - 100);
            }
        }).trigger("resize");
        $(".tabArea").tabs({ active: 0 });
        // inital tooltip

            @*@if(dtr.Rows.Count > 0)
            {
                @:set_for_rb('rb_reason','@dtr.Rows[0]["REASON"]');
                @:set_for_rb('rb_conscious','@dtr.Rows[0]["CONSCIOUS"]');
                @:set_for_ck('ck_reaction', '@dtr.Rows[0]["REACTION"]');
                @:set_for_ck('ck_position', '@dtr.Rows[0]["POSITION"]');
                @:set_for_ck('ck_tool', '@dtr.Rows[0]["TOOL"]');
            }*@
     
        $(".nexttab").click(function () {
            $(this).css("text-align", "right");
            var active = $(".tabArea").tabs("option", "active");
            $(".tabArea").tabs("option", "active", active + 1);
        });

        $(".tabs_area").tabs({
            active: 0
        });

        $(".tooltip").tooltip({
            content: function () {
                return $(this).prop('title');
            }
        }).css({
            "color": "#660000",
            "font-weight": "bold",
            "padding-left": "15px"
        });
    });
    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }
    function set_for_ck(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            var ck = document.getElementsByName(ck_name);
            for (var i = 0; i < default_val.length; i++) {
                for (var j = 0; j < ck.length; j++) {
                    if (default_val[i] == ck[j].value)
                        $(ck[j]).click();
                }
            }
        }
    }
    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
        $('#txt_day').datetimepicker({
            altField: "#txt_time", maxDateTime: 0
        });
        $('#txtP_day').datetimepicker({
            altField: "#txtP_time", maxDateTime: 0
        });
    }
    function able(id) {
        document.getElementById(id).disabled = false;
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
    }
    function ckable(obj,txtid) {
        var ck = obj;
        if (ck.checked)
        { able(txtid); }
        else
        { enable(txtid); }
    }
    function hideother(spanid, obj) {
        var ck = obj;
        if (ck.checked) {
            document.getElementById(spanid).setAttribute("style", "display:none;");
        }
        else {
            document.getElementById(spanid).setAttribute("style", "display:;");
        }
    }
    function showtr() {
        if (document.getElementById('tr1').hasAttribute("style"))
        { document.getElementById('tr1').setAttribute("style", "display:;"); }
        else
        { document.getElementById('tr1').setAttribute("style", "display:none;"); }
    }
    function check(status) {
        //$('#rb_reason').val($('input:radio[name=rb_reason]:checked').val())//約束原因
        //$('#rb_conscious').val($('input:radio[name=rb_conscious]:checked').val())//意識程度
        //mark('ck_reaction');//病人反應      
        //mark('ck_position');//約束部位
        //mark('ck_tool');//約束用具
        //$('#rb_cycle').val($('input:radio[name=rb_cycle]:checked').val())//循環
        //mark('ck_ending')//解除約束
        //mark('ck_harm')//約束傷害   

        //var content1 = "";
        //for (i = 1; i < 9; i++){
        //    if ($('#txt' + i).val() != undefined)
        //    { content1 += '' + $('#txt' + i).val() + ','; }
        //    else
        //    { content1 +=  ','; }
        //}//textbox其他    
        //$('#OTHER').val(content1.substring(0, content1.length - 1));
        //mag = "";
        //itemlist = "rb_reason,rb_conscious,ck_reaction,ck_position,ck_tool";
        //    itemlist += ",rb_cycle,ck_ending,ck_harm,";
        //    itemlist += "ck25,ck30";
        //namelist = "約束原因,意識程度,病人反應,約束部位,約束用具";
        //    namelist += ",循環,解除約束,約束傷害,";
        //    namelist += "拔管欄位,骨折部位";
        //var item = itemlist.split(",");
        //var name = namelist.split(",");
        //for (var i = 0; i < item.length; i++) {
        //    mag += cknull(item[i].toString(), name[i].toString());
        //}
        //if (mag != "") {
        //    alert(mag);
        //    return false;
        //}
        //else {
        //    return true;
        //}
        ///////**///////以下 by jarvis------此為修改及新增單筆時使用
        //if ($('input[name=rb_restraint]:checked').val() == undefined) {
        //    alert('請選擇 約束方式');
        //    return false;
        //}

        var selected_restraint=[];
        $("[name=ck_restraint]:checked").each(function(){
            selected_restraint.push($(this).val());
        });
        if(selected_restraint.length==0)
        {
            alert('請選擇 約束方式');
            return false;
        }
        selected_restraint.length=0

        var selected=[];
        $("[name=ck_bindingsite]:checked").each(function(){
            selected.push($(this).val());
        });
        if(selected.length==0)
        {
            alert('請選擇 約束部位');
            return false;
        }
        selected.length=0
        if ( $('#txt1:enabled').val() == "" ) 
        {
            alert('請填寫 約束方式，其他');
            return false;
        }
        if ( $('#txt2:enabled').val() == "" ) 
        {
            alert('請填寫 約束部位，其他');
            return false;
        }
        //if ($.trim($("#feq").val().toString()) != '0') {
        if ($('input[name=rb_pulse]:checked').val() == undefined) {
            alert('請選擇 脈搏');
            return false;
        }
        if ($('input[name=rb_tightness]:checked').val() == undefined) {
            alert('請選擇 約束鬆緊程度');
            return false;
        }
        if ($('input[name=rb_temperature]:checked').val() == undefined) {
            alert('請選擇 肢體末端溫度');
            return false;
        }
        if ($('input[name=rb_colour]:checked').val() == undefined) {
            alert('請選擇 顏色');
            return false;
        }
        //if ($('input[name=rb_integrity]:checked').val() == undefined) {
        //    alert('請選擇 皮膚完整性');
        //    return false;
        //}

        var selected_integrity=[];
        $("[name=ck_integrity]:checked").each(function(){
            selected_integrity.push($(this).val());
        });
        if(selected_integrity.length==0)
        {
            alert('請選擇 皮膚完整性');
            return false;
        }
        selected_integrity.length=0

        if ($('input[name=rb_feeling]:checked').val() == undefined) {
            alert('請選擇 感覺度');
            return false;
        }
        //if ($('input[name=rb_remove]:checked').val() == undefined) {
        //    alert('請選擇 鬆除約束、翻身、肢體活動、清潔');
        //    return false;
        //}
        //}
        return true;
    }

    function check2() {
        ////展開多筆後的驗證
        n=0;
        mag = "";
        var obj = $('input:checkbox[id=assdtlist]:checked');
        if (obj.length > 0) {
            for (var a = 0; a < obj.length;a++) {
                j=$(obj[a]).attr('text');
                asstime=$(obj[a]).attr('title');
                //if ($('input[name=rb_restraint'+j+']:checked').val() == undefined) {
                //    alert('請選擇 約束方式');
                //    return false;
                //}
                var selected_restraint=[];
                $("[name=ck_restraint"+j+"]:checked").each(function(){
                    selected_restraint.push($(this).val());
                });
                if(selected_restraint.length==0)
                {
                    alert("資料"+asstime+"\n"+"請選擇 約束方式");
                    return false;
                }
                selected_restraint.length=0;

                var selected=[];
                $("[name=ck_bindingsite"+j+"]:checked").each(function(){
                    selected.push($(this).val());
                });
                if(selected.length==0)
                {
                    alert("資料"+asstime+"\n"+"請選擇 約束部位");
                    return false;
                }
                selected.length=0;
                if ( $('#txt1'+j+':enabled').val() == "" ) 
                {
                    alert("資料"+asstime+"\n"+"請填寫 約束方式，其他");
                    return false;
                }
                if ( $('#txt2'+j+':enabled').val() == "" ) 
                {
                    alert("資料"+asstime+"\n"+"請填寫 約束部位，其他");
                    return false;
                }
                //if ($.trim($("#feq").val().toString()) != '0') {
                if ($('input[name=rb_pulse'+j+']:checked').val() == undefined) {
                    alert("資料"+asstime+"\n"+"請選擇 脈搏");
                    return false;
                }
                if ($('input[name=rb_tightness'+j+']:checked').val() == undefined) {
                    alert("資料"+asstime+"\n"+"請選擇 約束鬆緊程度");
                    return false;
                }
                if ($('input[name=rb_temperature'+j+']:checked').val() == undefined) {
                    alert("資料"+asstime+"\n"+"請選擇 肢體末端溫度");
                    return false;
                }
                if ($('input[name=rb_colour'+j+']:checked').val() == undefined) {
                    alert("資料"+asstime+"\n"+"請選擇 顏色");
                    return false;
                }
                //if ($('input[name=rb_integrity'+j+']:checked').val() == undefined) {
                //    alert("資料"+asstime+"\n"+"請選擇 皮膚完整性");
                //    return false;
                //}

                var selected_integrity=[];
                $("[name=ck_integrity"+j+"]:checked").each(function(){
                    selected_integrity.push($(this).val());
                });
                if(selected_integrity.length==0)
                {
                    alert("資料"+asstime+"\n"+"請選擇 皮膚完整性");
                    return false;
                }
                selected_integrity.length=0;


                if ($('input[name=rb_feeling'+j+']:checked').val() == undefined) {
                    alert("資料"+asstime+"\n"+"請選擇 感覺度");
                    return false;
                }
                //if ($('input[name=rb_remove'+j+']:checked').val() == undefined) {
                //    alert("資料"+asstime+"\n"+"請選擇 鬆除約束、翻身、肢體活動、清潔");
                //    return false;
                //}
                // }
            }
            return true;
        }
    }
    
    //目前此版本沒用到以下function
    function cknull(id, name,j) {
        if (id != ("ck25"+j) && id != ("ck30"+j)) {
            if ($('#' + id).val() == null || $('#' + id).val() == "") {
                //    alert($('#' + id).val() + " id=" + id);
                return name + "尚未輸入\n";
            }
            else {
                return "";
            }
        }
        else {
            if (document.getElementById("ck24"+j).checked == false) {
                var ck = document.getElementById(id);

                if (ck.checked == true) {
                    if (id == ("ck25"+j) && $('#txt_harm1'+j).val() == "") {
                        return name + "尚未輸入\n";
                    }
                    if (id == ("ck30"+j) && $('#txt_harm2'+j).val() == "") {
                        return name + "尚未輸入\n";
                    }
                    else
                        return "";
                }
                return "";
            }
            return "";
        }
    }

    function mark(id) {
        //傳入id將checkbox用,分開紀錄 
        var content = '';
        var obj = $('input:checkbox[name=' + id+ ']:checked');
        if (obj.length > 0) {
            for (var i = 0; i < obj.length; i++) {
                content = content + $(obj[i]).attr('text') + ',';
                if ($(obj[i]).attr('text') == "無") {
                    content = $(obj[i]).attr('text') + ',';
                    $('#' + id).val(content.substring(0, content.length - 1));
                    break;
                }
            }
            $('#' + id).val(content.substring(0, content.length - 1));
        }
    }
    function canceladd(id){
        if(confirm('確定放棄?')){
            $.ajax({
                type: 'POST',
                url: "AssessNew_Cancel",
                data: { id: id },
                success: function (data) {
                },
                error: function (data) {
                }
            });
            window.location.href='ListNew'
        }
    }
    function linked (name,val)//第一筆帶下面
    {
        Count=0;
        if ($('#TListCount').val() !=""){
            Count =  $('#TListCount').val();
        }
        for(var i=1;i< Count ;i++)
        {
            if((name=='ck_restraint')||(name=='ck_bindingsite')||(name=='ck_integrity')) 
            { //(name =='ck_reaction'|| name =='ck_position' || name=='ck_tool' || name=='ck_ending' || name=='ck_harm')
                set_for_ck(name+i, val);
            }
            else if((name=='rb_pulse')||(name=='rb_tightness')||(name=='rb_temperature')||(name=='rb_colour')||(name=='rb_feeling')||(name=='rb_remove'))
            { //(name=='rb_reason'|| name=='rb_conscious' || name=='rb_cycle'|| name=='rb_pause')
                set_for_rb(name+i, val);
            }
            else
            { $('#'+name+i).val(val);//textbox其他
            }
        }
    }

</script>
@{
    DataTable BindingSitedt = ViewBag.BindingSite_dt;
    DataTable Restraintdt = ViewBag.Restraint_dt;
    DataTable Integritydt = ViewBag.Integrity_dt;
    }
<div class="funcArea">
<form method="post" action="AssessNew_batch"> 
    <div class="funcArea" style="width:100%;text-align:center;">
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td align="center" style="padding:5px 0 5px 0;">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td> 
                         @if(TList != null && TList.Count > 0)
                         {
                            <input type="button" value="新增存檔" onclick="this.disabled=true;if(check2()){submit();}else{this.disabled=false;}"/>@*check2()*@
                         }
                         else
                         {
                             <input type="button" value="新增存檔" onclick="this.disabled=true;if(check()){if(submit())window.location.href ='ListNew'}else{this.disabled=false;}" />
                         }
                              <input type="button" value="放棄目前編輯資料" onclick="canceladd('@id    ')" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>    
            <tr>
                <td>
<div  class="dataArea" style="height:320px;text-align:left;">
                
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="padding:0 0 5px 0;">
                            <input  type="hidden" value="@id"  name="ID"/>
                            <input  type="hidden" value="@BOUT"  name="BOUT"/>
                            <input  type="hidden" value="@assessdt"  name="assessdt"/>
                            <input  type="hidden" value="@OTHER"  name="OTHER" id="OTHER"/>
                            <input  type="hidden" value="@BINDID"  name="BINDID" />
                             <input  type="hidden" value="@TListCount"  name="TListCount" id="TListCount" />
                            @* listtime 次數 *@
                           <input  type="hidden" value="@TList.Count"  name="listtime" />
                            @{int rblist = 1, rb = 1, txt = 1, ck = 1, span = 1;}                               
                                   
                                @if(dt_list != null && dt_list.Rows.Count > 0)
                                {
                                    for(int j = 0; j < dt_list.Rows.Count; j++)
                                    {
                                        rblist = 1;
                                        rb = 1;
                                        txt = 1;
                                        ck = 1;
                                        span = 1;
                                  <div>
                                    <span class="fath" style="text-align:center; width:99%; color:Blue;height:30px;">
                                            @{                                      
                                        string assdt = DateTime.Parse(@dt_list.Rows[j]["ASSESSDT"].ToString()).ToString("yyyy/MM/dd HH:mm:ss").ToString();
                                        string bind = @dt_list.Rows[j]["BINDID"].ToString();
                                            <span class="fath" style="text-align: center; width: 99%; color: Blue; height: 30px;">
                                               <input id="assdtlist" name="assdt[]" type="checkbox" text="@(j)" checked="checked" value="@(j)_@(assdt)|@(bind)"  title="@(assdt)"  style="display:inline"/>  
                                                @Html.Label("ck_date" + @j, "評估日期:" + @dt_list.Rows[j]["ASSESSDT"].ToString())   
                                            </span>         
                                             <input name="AssdtAll[]" type="checkbox" checked="checked" value="@(assdt)"  style="display:none"/>
                                                @*<input  type="hidden" value="@OTHER"  name="OTHER@(j)" id="OTHER@(j)"/>*@
                                               }                                                                                               
                                    </span>
                                    <table border="0" cellpadding="2" cellspacing="2" style="width:100%;font-size:14px;">
                                          <tr>
                                            <th style="/*height:30px;*/">約束方式</th>
                                            <td>
                                                <input id ="ck_restraint@(j)"   type="hidden" value="@RESTRAINT"  name="RESTRAINT@(j)"/>  
                                               @* @Html.RadioButton("rb_restraint" + @j, "腕部肢體約束", false, new { id = "rb" + @rb + @j, onclick = "enable('txt1" + @j + "');if(" + @j + "==0)linked('rb_restraint',this.value)", Pstyle = "none" })
                                                @Html.Label("rb" + @rb + @j, "腕部肢體約束", new { Pstyle = "none" })@{rb++;}
                                                @Html.RadioButton("rb_restraint" + @j, "腰腹部床單約束", false, new { id = "rb" + @rb + @j, onclick = "enable('txt1" + @j + "');if(" + @j + "==0)linked('rb_restraint',this.value)", Pstyle = "none" })
                                                @Html.Label("rb" + @rb + @j, "腰腹部床單約束", new { Pstyle = "none" })@{rb++;}
                                                @Html.RadioButton("rb_restraint" + @j, "手套約束", false, new { id = "rb" + @rb + @j, onclick = "enable('txt1" + @j + "');if(" + @j + "==0)linked('rb_restraint',this.value)", Pstyle = "none" })
                                                @Html.Label("rb" + @rb + @j, "手套約束", new { Pstyle = "none" })@{rb++;}
                                                @Html.RadioButton("rb_restraint" + @j, "背心約束", false, new { id = "rb" + @rb + @j, onclick = "enable('txt1" + @j + "');if(" + @j + "==0)linked('rb_restraint',this.value)", Pstyle = "none" })
                                                @Html.Label("rb" + @rb + @j, "背心約束", new { Pstyle = "none" })@{rb++;}
                                                @Html.RadioButton("rb_restraint" + @j, "夾克約束", false, new { id = "rb" + @rb + @j, onclick = "enable('txt1" + @j + "');if(" + @j + "==0)linked('rb_restraint',this.value)", Pstyle = "none" })
                                                @Html.Label("rb" + @rb + @j, "夾克約束", new { Pstyle = "none" })@{rb++;}
                                                @Html.RadioButton("rb_restraint" + @j, "輪椅腰部約束", false, new { id = "rb" + @rb + @j, onclick = "enable('txt1" + @j + "');if(" + @j + "==0)linked('rb_restraint',this.value)", Pstyle = "none" })
                                                @Html.Label("rb" + @rb + @j, "輪椅腰部約束", new { Pstyle = "none" })@{rb++;}
                                                @Html.RadioButton("rb_restraint" + @j, "踝部約束", false, new { id = "rb" + @rb + @j, onclick = "enable('txt1" + @j + "');if(" + @j + "==0)linked('rb_restraint',this.value)", Pstyle = "none" })
                                                @Html.Label("rb" + @rb + @j, "踝部約束", new { Pstyle = "none" })@{rb++;}
                                                @Html.RadioButton("rb_restraint" + @j, "膝蓋約束", false, new { id = "rb" + @rb + @j, onclick = "enable('txt1" + @j + "');if(" + @j + "==0)linked('rb_restraint',this.value)", Pstyle = "none" })
                                                @Html.Label("rb" + @rb + @j, "膝蓋約束", new { Pstyle = "none" })@{rb++;}
                                                @Html.RadioButton("rb_restraint" + @j, "其他", false, new { id = "rb" + @rb + @j, onclick = "able('txt1" + @j + "');if(" + @j + "==0)linked('rb_restraint',this.value)", Pstyle = "none" })
                                                @Html.Label("rb" + @rb + @j, "其他", new { Pstyle = "none" })@{rb++;}
                                                @Html.TextBox("txt1" + @j, "", new { style = "width:80px;", disabled = "disabled", onchange = "if(" + @j + "==0)linked('txt1',this.value)" , Pstyle = "none" })
                                                @{rblist++; txt++;}*@
                                                 <!--2016 12 05 將約束的皮膚完整性、約束方式 ，兩項 改成複選 ， 註解部分為原本未更動前 單選 的code  by jarvis edit-->
                                                 @{                    
                                                  if(Restraintdt != null && Restraintdt.Rows.Count > 0)
                                                  {
                                                      for(int x = 0; x < Restraintdt.Rows.Count; x++)
                                                      {
                                                        @Html.Raw("<input Pstyle='none' id='ck" + ck + j + "' name='ck_restraint" + j + "' type='checkbox' text='" + Restraintdt.Rows[x]["P_VALUE"] + "' ")
                                                        @Html.Raw(" value='" + Restraintdt.Rows[x]["P_VALUE"] + "' onclick=\"")
                                                          if(Restraintdt.Rows[x]["P_VALUE"].ToString() == "其他")
                                                          {
                                                              @Html.Raw("ckable(this,'txt1" + @j + "');")
                                                          }
                                                        @Html.Raw("if(" + j + "==0){linked('ck_restraint',this.value);}\"/>")
                                                        @Html.Raw("<label Pstyle='none' for='ck" + ck + j + "'>" + Restraintdt.Rows[x]["P_VALUE"] + "</label>")
                                                          ck++;
                                                      }
                                                      @Html.TextBox("txt1" + @j, "", new { id = "txt1" + @j, style = "width:80px;", disabled = "disabled", onchange = "if(" + @j + "==0)linked('txt1',this.value)",Pstyle = "none" })
                                                      rblist++; txt++;
                                                  }
                                                    }
                                                <label name="lab_restraint@(j)"></label><label name="lab_restraint_other@(j)"></label>
                                            </td>
                                       </tr>
                                       <tr>
                                            <th style="/*height:30px;*/">約束部位</th>
                                            <td>
                                                <input id ="ck_bindingsite@(j)"  type="hidden" value="@BINDINGSITE"  name="BINDINGSITE@(j)"/>     
                                                @{                    
                                                  if(BindingSitedt != null && BindingSitedt.Rows.Count > 0)
                                                  {
                                                      for(int x = 0; x < BindingSitedt.Rows.Count; x++)
                                                      {
                                                        @Html.Raw("<input Pstyle='none' id='ck" + ck + j + "' name='ck_bindingsite" + j + "' type='checkbox' text='" + BindingSitedt.Rows[x]["P_VALUE"] + "' ")
                                                        @Html.Raw(" value='" + BindingSitedt.Rows[x]["P_VALUE"] + "' onclick=\"")
                                                          if(BindingSitedt.Rows[x]["P_VALUE"].ToString() == "其他")
                                                          {
                                                              @Html.Raw("ckable(this,'txt2" + @j + "');")
                                                          }
                                                        @Html.Raw("if(" + j + "==0){linked('ck_bindingsite',this.value);}\"/>")
                                                        @Html.Raw("<label Pstyle='none' for='ck" + ck + j + "'>" + BindingSitedt.Rows[x]["P_VALUE"] + "</label>")
                                                          ck++;
                                                      }
                                                      @Html.TextBox("txt2" + @j, "", new { id = "txt2" + @j, style = "width:80px;", disabled = "disabled", onchange = "if(" + @j + "==0)linked('txt2',this.value)",Pstyle = "none" })
                                                      rblist++; txt++;
                                                  }
                                                    }
                                                <label name="lab_bindingsite@(j)"></label><label name="lab_bindingsite_other@(j)"></label>
                                            </td>
                                        </tr>
                                          <tr >
                                            <th style="width:15%;height:30px;">脈搏</th>
                                            <td>
                                                <input id ="rb_pulse@(j)"  type="hidden" value="@PULSE"  name="PULSE@(j)"/>
                                                @Html.RadioButton("rb_pulse" + @j, "快", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_pulse',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "快")@{rb++;}
                                                @Html.RadioButton("rb_pulse" + @j, "慢", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_pulse',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "慢")@{rb++;}
                                                @Html.RadioButton("rb_pulse" + @j, "規則", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_pulse',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "規則")@{rb++;}
                                            </td>
                                        </tr>
                                        <tr >
                                            <th style="width:15%;height:30px;">約束鬆緊程度</th>
                                            <td>
                                                <input id ="rb_tightness@(j)"  type="hidden" value="@TIGHTNESS"  name="TIGHTNESS@(j)"/>
                                                @Html.RadioButton("rb_tightness" + @j, "鬆", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_tightness',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "鬆")@{rb++;}
                                                @Html.RadioButton("rb_tightness" + @j, "緊", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_tightness',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "緊")@{rb++;}
                                                @Html.RadioButton("rb_tightness" + @j, "適度", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_tightness',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "適度")@{rb++;}
                                            </td>
                                         </tr>
                                         <tr >
                                            <th style="width:15%;height:30px;">肢體末端溫度</th>
                                            <td>
                                                <input id ="rb_temperature@(j)"  type="hidden" value="@TEMPERATURE"  name="TEMPERATURE@(j)"/>
                                                @Html.RadioButton("rb_temperature" + @j, "溫暖", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_temperature',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "溫暖")@{rb++;}
                                                @Html.RadioButton("rb_temperature" + @j, "冰冷", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_temperature',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "冰冷")@{rb++;}
                                            </td>
                                        </tr>
                                        <tr >
                                            <th style="width:15%;height:30px;">顏色</th>
                                            <td>
                                                <input id ="rb_colour@(j)"  type="hidden" value="@COLOUR"  name="COLOUR@(j)"/>
                                                @Html.RadioButton("rb_colour" + @j, "紅潤", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_colour',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "紅潤")@{rb++;}
                                                @Html.RadioButton("rb_colour" + @j, "發紺", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_colour',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "發紺")@{rb++;}
                                            </td>
                                        </tr>
                                        <tr >
                                            <th style="width:15%;height:30px;">皮膚完整性</th>
                                            <td>
                                                <input id ="ck_integrity@(j)"  type="hidden" value="@INTEGRITY"  name="INTEGRITY@(j)"/>
                                               @* @Html.RadioButton("rb_integrity" + @j, "腫脹", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_integrity',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "腫脹")@{rb++;}
                                                @Html.RadioButton("rb_integrity" + @j, "水泡", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_integrity',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "水泡")@{rb++;}
                                                @Html.RadioButton("rb_integrity" + @j, "破皮", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_integrity',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "破皮")@{rb++;}
                                                @Html.RadioButton("rb_integrity" + @j, "正常", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_integrity',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "正常")@{rb++;}*@
                                                <!--2016 12 05 將約束的皮膚完整性、約束方式 ，兩項 改成複選 ， 註解部分為原本未更動前 單選 的code  by jarvis edit-->

                                                @{                    
                                                  if(Integritydt != null && Integritydt.Rows.Count > 0)
                                                  {
                                                      for(int x = 0; x < Integritydt.Rows.Count; x++)
                                                      {
                                                        @Html.Raw("<input  id='ck" + ck + j + "' name='ck_integrity" + j + "' type='checkbox' text='" + Integritydt.Rows[x]["P_VALUE"] + "' ")
                                                        @Html.Raw(" value='" + Integritydt.Rows[x]["P_VALUE"] + "' onclick=\"")
                                                        @Html.Raw("if(" + j + "==0){linked('ck_integrity',this.value);}\"/>")
                                                        @Html.Raw("<label for='ck" + ck + j + "'>" + Integritydt.Rows[x]["P_VALUE"] + "</label>")
                                                          ck++;
                                                      }
                                                      rblist++; 
                                                  }
                                                    }
                                            </td>
                                        </tr>
                                        <tr >
                                            <th style="width:15%;height:30px;">感覺度</th>
                                            <td>
                                                <input id ="rb_feeling@(j)"  type="hidden" value="@FEELING"  name="FEELING@(j)"/>
                                                @Html.RadioButton("rb_feeling" + @j, "麻木", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_feeling',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "麻木")@{rb++;}
                                                @Html.RadioButton("rb_feeling" + @j, "刺痛", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_feeling',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "刺痛")@{rb++;}
                                                @Html.RadioButton("rb_feeling" + @j, "正常", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_feeling',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "正常")@{rb++;}
                                                @Html.RadioButton("rb_feeling" + @j, "無法評估", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_feeling',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "無法評估")@{rb++;}
                                            </td>
                                        </tr>
                                         <tr >
                                            <th style="width:15%;height:30px;">鬆除約束、翻身、肢體活動、清潔</th>
                                            <td>
                                                <input id ="rb_remove@(j)"  type="hidden" value="@REMOVE"  name="REMOVE@(j)"/>
                                                @Html.RadioButton("rb_remove" + @j, "是", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_remove',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "是")@{rb++;}
                                                @Html.RadioButton("rb_remove" + @j, "否", new { id = "rb" + @rb + @j, onclick = "if(" + @j + "==0)linked('rb_remove',this.value)" })
                                                @Html.Label("rb" + @rb + @j, "否")@{rb++;}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="width:15%;height:30px;">備註</th>
                                            <td>
                                               @Html.TextBox("txt10"+@j, "", new { id = "txt10"+@j, style = "width:150px;"})
                                            </td>
                                        </tr>  

                                    </table>
                                </div>                                    
                                    }
                                }
                                else
                                {
                                <div>
                                    <table border="0" cellpadding="2" cellspacing="2" style="width:100%;font-size:14px;">
                                        <tr >
                                            <th style="height:30px;width:100px;">約束方式</th>
                                            <td>
                                                <input id ="ck_restraint"  type="hidden" value="@RESTRAINT"  name="RESTRAINT"/>  
                                              @*  @Html.RadioButton("rb_restraint", "腕部肢體約束", false, new { id = "rb" + @rb, onclick = "enable('txt1')" })
                                                @Html.Label("rb" + @rb, "腕部肢體約束")@{rb++;}
                                                @Html.RadioButton("rb_restraint", "腰腹部床單約束", false, new { id = "rb" + @rb, onclick = "enable('txt1')" })
                                                @Html.Label("rb" + @rb, "腰腹部床單約束")@{rb++;}
                                                @Html.RadioButton("rb_restraint", "手套約束", false, new { id = "rb" + @rb, onclick = "enable('txt1')" })
                                                @Html.Label("rb" + @rb, "手套約束")@{rb++;}
                                                @Html.RadioButton("rb_restraint", "背心約束", false, new { id = "rb" + @rb, onclick = "enable('txt1')" })
                                                @Html.Label("rb" + @rb, "背心約束")@{rb++;}
                                                @Html.RadioButton("rb_restraint", "夾克約束", false, new { id = "rb" + @rb, onclick = "enable('txt1')" })
                                                @Html.Label("rb" + @rb, "夾克約束")@{rb++;}
                                                <br />
                                                @Html.RadioButton("rb_restraint", "輪椅腰部約束", false, new { id = "rb" + @rb, onclick = "enable('txt1')" })
                                                @Html.Label("rb" + @rb, "輪椅腰部約束")@{rb++;}
                                                @Html.RadioButton("rb_restraint", "踝部約束", false, new { id = "rb" + @rb, onclick = "enable('txt1')" })
                                                @Html.Label("rb" + @rb, "踝部約束")@{rb++;}
                                                @Html.RadioButton("rb_restraint", "膝蓋約束", false, new { id = "rb" + @rb, onclick = "enable('txt1')" })
                                                @Html.Label("rb" + @rb, "膝蓋約束")@{rb++;}
                                                @Html.RadioButton("rb_restraint", "其他", false, new { id = "rb" + @rb, onclick = "able('txt1')" })
                                                @Html.Label("rb" + @rb, "其他")@{rb++;}
                                                @Html.TextBox("txt1", "", new { style = "width:80px;", disabled = "disabled" })
                                                @{rblist++; txt++;}*@
                                                <!--2016 12 05 將約束的皮膚完整性、約束方式 ，兩項 改成複選 ， 註解部分為原本未更動前 單選 的code  by jarvis edit-->

                                                 @{                    
                                                  if(Restraintdt != null && Restraintdt.Rows.Count > 0)
                                                  {
                                                      for(int x = 0; x < Restraintdt.Rows.Count; x++)
                                                      {
                                                        @Html.Raw("<input id='ck" + ck + "' name='ck_restraint' type='checkbox' text='" + Restraintdt.Rows[x]["P_VALUE"] + "' ")
                                                        @Html.Raw(" value='" + Restraintdt.Rows[x]["P_VALUE"] + "' onclick=\"")
                                                          if(Restraintdt.Rows[x]["P_VALUE"].ToString() == "其他")
                                                          {
                                                              @Html.Raw("ckable(this,'txt1');")
                                                          }
                                                        @Html.Raw("\"/>")
                                                        @Html.Raw("<label for='ck" + ck + "'>" + Restraintdt.Rows[x]["P_VALUE"] + "</label>")
                                                          ck++;
                                                      }
                                                      @Html.TextBox("txt1", "", new { id = "txt1", style = "width:80px;", disabled = "disabled", onchange = "" })
                                                      rblist++; txt++;
                                                  }     
                                                  }
                                            </td>
                                        </tr>
                                        <tr>
                                            <th style="height:30px;">約束部位</th>
                                            <td>
                                                 <input id ="ck_bindingsite"  type="hidden" value="@BINDINGSITE"  name="BINDINGSITE"/>     
                                                @{                    
                                                  if(BindingSitedt != null && BindingSitedt.Rows.Count > 0)
                                                  {
                                                      for(int x = 0; x < BindingSitedt.Rows.Count; x++)
                                                      {
                                                        @Html.Raw("<input id='ck" + ck + "' name='ck_bindingsite' type='checkbox' text='" + BindingSitedt.Rows[x]["P_VALUE"] + "' ")
                                                        @Html.Raw(" value='" + BindingSitedt.Rows[x]["P_VALUE"] + "' onclick=\"")
                                                          if(BindingSitedt.Rows[x]["P_VALUE"].ToString() == "其他")
                                                          {
                                                              @Html.Raw("ckable(this,'txt2');")
                                                          }
                                                        @Html.Raw("\"/>")
                                                        @Html.Raw("<label for='ck" + ck + "'>" + BindingSitedt.Rows[x]["P_VALUE"] + "</label>")
                                                          ck++;
                                                      }
                                                      @Html.TextBox("txt2", "", new { id = "txt2", style = "width:80px;", disabled = "disabled", onchange = "" })
                                                      rblist++; txt++;
                                                  }     
                                                    }
                                            </td>
                                        </tr>
                                         <tr >
                                            <th style="width:15%;height:30px;">脈搏</th>
                                            <td>
                                                <input id ="rb_pulse"  type="hidden" value="@PULSE"  name="PULSE"/>
                                                @Html.RadioButton("rb_pulse", "快", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "快")@{rb++;}
                                                @Html.RadioButton("rb_pulse", "慢", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "慢")@{rb++;}
                                                @Html.RadioButton("rb_pulse", "規則", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "規則")@{rb++;}
                                            </td>
                                        </tr>
                                        <tr >
                                            <th style="width:15%;height:30px;">約束鬆緊程度</th>
                                            <td>
                                                <input id ="rb_tightness"  type="hidden" value="@TIGHTNESS"  name="TIGHTNESS"/>
                                                @Html.RadioButton("rb_tightness", "鬆", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "鬆")@{rb++;}
                                                @Html.RadioButton("rb_tightness", "緊", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "緊")@{rb++;}
                                                @Html.RadioButton("rb_tightness", "適度", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "適度")@{rb++;}
                                            </td>
                                         </tr>
                                         <tr >
                                            <th style="width:15%;height:30px;">肢體末端溫度</th>
                                            <td>
                                                <input id ="rb_temperature"  type="hidden" value="@TEMPERATURE"  name="TEMPERATURE"/>
                                                @Html.RadioButton("rb_temperature", "溫暖", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "溫暖")@{rb++;}
                                                @Html.RadioButton("rb_temperature", "冰冷", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "冰冷")@{rb++;}
                                            </td>
                                        </tr>
                                        <tr >
                                            <th style="width:15%;height:30px;">顏色</th>
                                            <td>
                                                <input id ="rb_colour"  type="hidden" value="@COLOUR"  name="COLOUR"/>
                                                @Html.RadioButton("rb_colour", "紅潤", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "紅潤")@{rb++;}
                                                @Html.RadioButton("rb_colour", "發紺", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "發紺")@{rb++;}
                                            </td>
                                        </tr>
                                        <tr >
                                            <th style="width:15%;height:30px;">皮膚完整性</th>
                                            <td>
                                                <input id ="ck_integrity"  type="hidden" value="@INTEGRITY"  name="INTEGRITY"/>
                                                @*@Html.RadioButton("rb_integrity", "腫脹", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "腫脹")@{rb++;}
                                                @Html.RadioButton("rb_integrity", "水泡", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "水泡")@{rb++;}
                                                @Html.RadioButton("rb_integrity", "破皮", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "破皮")@{rb++;}
                                                @Html.RadioButton("rb_integrity", "正常", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "正常")@{rb++;}*@
                                                <!--2016 12 05 將約束的皮膚完整性、約束方式 ，兩項 改成複選 ， 註解部分為原本未更動前 單選 的code  by jarvis edit-->

                                                  @{                    
                                                  if(Integritydt != null && Integritydt.Rows.Count > 0)
                                                  {
                                                      for(int x = 0; x < Integritydt.Rows.Count; x++)
                                                      {
                                                        @Html.Raw("<input id='ck" + ck + "' name='ck_integrity' type='checkbox' text='" + Integritydt.Rows[x]["P_VALUE"] + "' ")
                                                        @Html.Raw(" value='" + Integritydt.Rows[x]["P_VALUE"] + "' onclick=\"")
                                                        @Html.Raw("\"/>")
                                                        @Html.Raw("<label for='ck" + ck + "'>" + Integritydt.Rows[x]["P_VALUE"] + "</label>")
                                                          ck++;
                                                      }
                                                      rblist++;
                                                  }     
                                                    }
                                            </td>
                                        </tr>
                                        <tr >
                                            <th style="width:15%;height:30px;">感覺度</th>
                                            <td>
                                                <input id ="rb_feeling"  type="hidden" value="@FEELING"  name="FEELING"/>
                                                @Html.RadioButton("rb_feeling", "麻木", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "麻木")@{rb++;}
                                                @Html.RadioButton("rb_feeling", "刺痛", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "刺痛")@{rb++;}
                                                @Html.RadioButton("rb_feeling", "正常", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "正常")@{rb++;}
                                                @Html.RadioButton("rb_feeling", "無法評估", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "無法評估")@{rb++;}
                                            </td>
                                        </tr>
                                         <tr >
                                            <th style="width:15%;height:30px;">鬆除約束、翻身、肢體活動、清潔</th>
                                            <td>
                                                <input id ="rb_remove"  type="hidden" value="@REMOVE"  name="REMOVE"/>
                                                @Html.RadioButton("rb_remove", "是", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "是")@{rb++;}
                                                @Html.RadioButton("rb_remove", "否", new { id = "rb" + @rb, onclick = "" })
                                                @Html.Label("rb" + @rb, "否")@{rb++;}
                                            </td>
                                        </tr>

                                        <tr>
                                            <th style="width:15%;height:30px;">備註</th>
                                            <td>
                                               @Html.TextBox("txt10", "", new { id = "txt10", style = "width:150px;"})
                                            </td>
                                        </tr>  

                                    </table>
                                </div>
                                }
                        </td>
                    </tr>
                   
                </table>
            </div>
                </td>
            </tr>
</table>
    </div>
</form>
    </div>
