@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}

<style type="text/css">
.jsmenu div {
	overflow:hidden;
}
.jsmenu div.collapsed {
	height:44px;
}
.jsmenu div .fath {
    padding:8px 0 0 0;
    display:block;
    cursor:pointer;
    border-radius:18px;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    box-shadow:2px 2px 4px #666;
    -moz-box-shadow:2px 2px 4px #666;
    -webkit-box-shadow:2px 2px 4px #666;
    border:1px solid blue;
    margin:2px 0 2px 0;
}
</style>  

<script type="text/javascript">
    //在ID为“js_menu”的div内开始程序
    $(function initMenu() {
        var pm_menu = new JSMenu("js_menu");
        pm_menu.init();
    });
    //定义主函数
    function JSMenu(id) {
        if (!document.getElementById || !document.getElementsByTagName)
            return false;
        this.menu = document.getElementById(id);
        this.submenus = this.menu.getElementsByTagName("div");
    }
    //引入函数，取得所有span
    JSMenu.prototype.init = function () {
        var mainInstance = this;
        for (var i = 0; i < this.submenus.length; i++) { this.submenus[i].className = "collapsed"; }
        for (var i = 0; i < this.submenus.length; i++)
            this.submenus[i].getElementsByTagName("span")[0].onclick = function () {
                mainInstance.toggleMenu(this.parentNode);
            };
        this.expandOne();
    };
    //展开含"current"的菜单<<<<<不知道要幹啥用的
    JSMenu.prototype.expandOne = function () {
        for (var i = 0; i < this.submenus.length; i++) {
            var links = this.submenus[i].getElementsByTagName("table");
            for (var j = 0; j < links.length; j++) {
                if (links[j].className == "current")
                    this.expandMenu(this.submenus[i]);
            }
        }
    };
    //变换菜单状态函数
    JSMenu.prototype.toggleMenu = function (submenu) {
        if (submenu.className == "collapsed")
            this.expandMenu(submenu);
        else
            this.collapseMenu(submenu);
    };
    //展开所有菜单函数
    JSMenu.prototype.expandMenu = function (submenu) {
        var fullHeight = submenu.getElementsByTagName("span")[0].offsetHeight;
        var links = submenu.getElementsByTagName("table");
        for (var i = 0; i < links.length; i++)
            fullHeight += links[i].offsetHeight;
        var moveBy = Math.round(50); //一次增加的高度
        var intId = setInterval(function () {
            var curHeight = submenu.offsetHeight;
            var newHeight = curHeight + moveBy;
            if (newHeight < fullHeight)
                submenu.style.height = newHeight + "px";
            else {
                clearInterval(intId);
                submenu.style.height = "";
                submenu.className = "";
            } //一直增高到破表後清掉div的高度，留下span的高度
        }, 1);
        this.collapseOthers(submenu);
    };
    //折叠其他菜单函数
    JSMenu.prototype.collapseOthers = function (submenu) {
        for (var i = 0; i < this.submenus.length; i++)
            if (this.submenus[i] != submenu && this.submenus[i].className != "collapsed")
                this.collapseMenu(this.submenus[i]);
    };
    //折叠菜单函数
    JSMenu.prototype.collapseMenu = function (submenu) {
        var minHeight = submenu.getElementsByTagName("span")[0].offsetHeight;
        var moveBy = Math.round(50); //一次減少的高度
        var intId = setInterval(function () {
            var curHeight = submenu.offsetHeight;
            var newHeight = curHeight - moveBy;
            if (newHeight > minHeight)
                submenu.style.height = newHeight + "px";
            else {
                clearInterval(intId);
                submenu.style.height = "";
                submenu.className = "collapsed";
            } //一直減少到破表後清掉div的高度，留下span的高度
        }, 1);
    };

    function able(id) {
        document.getElementById(id).disabled = false;
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
    }
    function ckable(obj,txtid) {
        var ck = obj;
        if (ck.checked)
        { able(txtid); }
        else
        { enable(txtid); }
    }
    function hideother(spanid, obj) {
        var ck = obj;
        if (ck.checked) {
            document.getElementById(spanid).setAttribute("style", "display:none;");
        }
        else {
            document.getElementById(spanid).setAttribute("style", "display:;");
        }
    }
    function showtr() {
        if (document.getElementById('tr1').hasAttribute("style"))
        { document.getElementById('tr1').setAttribute("style", "display:;"); }
        else
        { document.getElementById('tr1').setAttribute("style", "display:none;"); }
    }
</script>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="width:100%;padding:0 0 5px 0;">
            @Html.TextBox("start_date", @DateTime.Now.AddDays(-7).ToString("d"), new {style="width:80px" })
            @Html.TextBox("start_time", "0000", new {style="width:50px" })
            @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "start_date", "start_time", false)
            @*<script type="text/javascript">
                $(function () {
                    $('#start_date').datetimepicker({
                        altField: "#start_time",  maxDateTime: 0
                    });
                });
            </script>*@
            @Html.Label("lab"," ~ ")
            @Html.TextBox("end_date", @DateTime.Now.ToString("yyyy/MM/dd"), new {style="width:80px" })
            @Html.TextBox("end_time","1159", new { style = "width:50px" })
            @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "end_date", "end_time", false)
            @*<script type="text/javascript">
                $(function () {
                    $('#start_date').datetimepicker({
                        altField: "#start_time",  maxDateTime: 0
                    });
                });
            </script>*@
            <input type="button" value="查詢" />
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:5px 0 5px 0;">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td>
                        <span style="font-size:18px;color:blue;font-weight:bolder;">新增修改評估紀錄作業</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        頻次：
                        <select>
                            <option>15</option>
                            <option>30</option>
                            <option>60</option>
                        </select>
                        <input type="button" value="新增存檔" onclick="alert('儲存成功'); window.location.href = 'List';" />
                        <input type="button" value="放棄目前編輯資料" onclick="if(confirm('確定放棄?'))window.location.href='List'" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <div style="height:400px;overflow:scroll;">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="padding:0 0 5px 0;">
                            <div class="jsmenu" id="js_menu" style="padding:5px 0px 0px 0px;">
                                @{int rblist = 1, rb = 1, txt = 1, ck = 1, span = 1;}
                                @for (int j = 0; j < 2; j++)
                                { 
                                <div>
                                    <span class="fath" style="text-align:center; width:99%; color:Blue;height:30px;">
                                        @Html.CheckBox("ck_date" + @j)
                                        @Html.Label("ck_date" + @j, "評估日期")
                                        @Html.TextBox("txtdate", @DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px;" })
                                        @Html.TextBox("txtdate", @DateTime.Now.AddMinutes(30*j).ToString("HH:mm"), new { style = "width:50px;" })
                                    </span>
                                    <table border="0" cellpadding="2" cellspacing="2" style="width:100%;font-size:14px;">
                                        <tr style=" background-color: #99CCFF;">
                                            <th style="width:15%;height:30px;">約束原因</th>
                                            <td>
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "enable('txt" + @txt + "')" })
                                                @Html.Label("rb"+@rb, "認知障礙")@{rb++;}
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "enable('txt" + @txt + "')" })
                                                @Html.Label("rb"+@rb, "可能跌倒")@{rb++;}
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "enable('txt" + @txt + "')" })
                                                @Html.Label("rb"+@rb, "行為紊亂")@{rb++;}
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "enable('txt" + @txt + "')" })
                                                @Html.Label("rb"+@rb, "協助治療")@{rb++;}
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "able('txt" + @txt + "')" })
                                                @Html.Label("rb"+@rb, "其他")@{rb++;}
                                                @Html.TextBox("txt" + @txt, "", new { style = "width:80px;", disabled = "disabled" })
                                                @{rblist++; txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #b1e1fc;">
                                            <th style="height:30px;">意識程度</th>
                                            <td>
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "enable('txt" + @txt + "')" })
                                                @Html.Label("rb"+@rb, "清醒")@{rb++;}
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "enable('txt" + @txt + "')" })
                                                @Html.Label("rb"+@rb, "混亂")@{rb++;}
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "enable('txt" + @txt + "')" })
                                                @Html.Label("rb"+@rb, "嗜睡")@{rb++;}
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "enable('txt" + @txt + "')" })
                                                @Html.Label("rb"+@rb, "昏迷")@{rb++;}
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "able('txt" + @txt + "')" })
                                                @Html.Label("rb"+@rb, "其他")@{rb++;}
                                                @Html.TextBox("txt" + @txt, "", new { style = "width:80px;", disabled = "disabled" })
                                                @{rblist++; txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #99CCFF;">
                                            <th style="height:30px;">病人反應</th>
                                            <td>
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "合作")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "情緒欠穩")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "躁動不安")@{ck++;}
                                                @Html.CheckBox("ck" + @ck, new { onclick = "ckable(this,'txt" + @txt + "')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt" + @txt, "", new { style = "width:80px;", disabled = "disabled" })@{txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #b1e1fc;">
                                            <th style="height:30px;">約束部位</th>
                                            <td>
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "手掌")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "手腕")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "足踝")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "胸腹")@{ck++;}
                                                @Html.CheckBox("ck" + @ck, new { onclick = "ckable(this,'txt" + @txt + "')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt" + @txt, "", new { style = "width:80px;", disabled = "disabled" })@{txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #99CCFF;">
                                            <th style="height:30px;">約束用具</th>
                                            <td>
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "棒球手套")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "棉質腕踝帶")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "磁扣腕踝帶")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "棉質胸腹帶")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "磁扣胸腹帶")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "床單")@{ck++;}
                                                @Html.CheckBox("ck" + @ck, new { onclick = "ckable(this,'txt" + @txt + "')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt" + @txt, "", new { style = "width:80px;", disabled = "disabled" })@{txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #b1e1fc;">
                                            <th style="height:30px;">循環</th>
                                            <td>
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "enable('txt" + @txt + "')" })
                                                @Html.Label("rb" + @rb, "正常")@{rb++;}
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "enable('txt" + @txt + "')" })
                                                @Html.Label("rb" + @rb, "發紅")@{rb++;}
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "enable('txt" + @txt + "')" })
                                                @Html.Label("rb" + @rb, "發白")@{rb++;}
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "enable('txt" + @txt + "')" })
                                                @Html.Label("rb" + @rb, "發紺")@{rb++;}
                                                @Html.RadioButton("rb_list" + @rblist, "", false, new { id = "rb" + @rb, onclick = "able('txt" + @txt + "')" })
                                                @Html.Label("rb" + @rb, "其他")@{rb++;}
                                                @Html.TextBox("txt" + @txt, "", new { style = "width:80px;", disabled = "disabled" })
                                                @{rblist++; txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #99CCFF;">
                                            <th style="height:30px;">短暫解除約束時間</th>
                                            <td>
                                                @Html.TextBox("txt" + @txt, "", new { style = "width:80px;" })分鐘@{txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #b1e1fc;">
                                            <th style="height:30px;">解除約束活動</th>
                                            <td>
                                                @Html.CheckBox("ck" + @ck, new { onclick = "hideother('span" + @span + "',this)" })
                                                @Html.Label("ck" + @ck, "無")@{ck++;}
                                                <span id="span@(@span)">@{span++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "翻身")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "ROM")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "進食")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "如廁")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "清潔")@{ck++;}
                                                @Html.CheckBox("ck" + @ck, new { onclick = "ckable(this,'txt" + @txt + "')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt" + @txt, "", new { style = "width:80px;", disabled = "disabled" })@{txt++;}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #99CCFF;">
                                            <th style="height:30px;">約束傷害</th>
                                            <td id="td2">
                                                @Html.CheckBox("ck" + @ck, new { onclick = "hideother('span" + @span + "',this)" })
                                                @Html.Label("ck" + @ck, "無")@{ck++;}
                                                <span id="span@(@span)">@{span++;}
                                                @Html.CheckBox("ck" + @ck, new { onclick = "ckable(this,'txt" + @txt + "')" })
                                                @Html.Label("ck" + @ck, " 拔管")@{ck++;}
                                                @Html.TextBox("txt" + @txt, "", new { style = "width:80px;", disabled = "disabled" })@{txt++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "皮膚發紅")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "皮膚破損")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "皮膚水腫")@{ck++;}
                                                @Html.CheckBox("ck" + @ck)
                                                @Html.Label("ck" + @ck, "跌倒")@{ck++;}
                                                @Html.CheckBox("ck" + @ck, new { onclick = "ckable(this,'txt" + @txt + "')" })
                                                @Html.Label("ck" + @ck, "骨折")@{ck++;}
                                                @Html.TextBox("txt" + @txt, "", new { style = "width:80px;", disabled = "disabled" })@{txt++;}
                                                @Html.CheckBox("ck" + @ck, new { onclick = "ckable(this,'txt" + @txt + "')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt" + @txt, "", new { style = "width:80px;", disabled = "disabled" })@{txt++;}
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                }    
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;">
                            <input type="button" value="特殊狀況評估" onclick="showtr();" />
                        </td>
                    </tr>
                    <tr id="tr1" style="display:none;">
                        <td style="padding:5px 0 5px 0;">
                            <table border="0" cellpadding="2" cellspacing="2" style="width:100%;font-size:14px;">
                                <tr>
                                    <th style="width:15%;height:30px;">
                                        @Html.CheckBox("ck_specail_date")
                                        @Html.Label("ck_specail_date", "評估日期")
                                    </th>
                                    <td>
                                        @Html.TextBox("txtdate", @DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px;" })
                                        @Html.TextBox("txtdate", @DateTime.Now.ToString("HH:mm"), new { style = "width:50px;" })
                                    </td>
                                </tr>
                                <tr style=" background-color: #99CCFF;">
                                    <th style="width:15%;height:30px;">約束原因</th>
                                    <td>
                                        @Html.RadioButton("rb_specail_list1", "", false, new { id = "rb1_specail", onclick = "enable('txt1_specail')" })
                                        @Html.Label("rb1_specail", "認知障礙")
                                        @Html.RadioButton("rb_specail_list1", "", false, new { id = "rb2_specail", onclick = "enable('txt1_specail')" })
                                        @Html.Label("rb2_specail", "可能跌倒")
                                        @Html.RadioButton("rb_specail_list1", "", false, new { id = "rb3_specail", onclick = "enable('txt1_specail')" })
                                        @Html.Label("rb3_specail", "行為紊亂")
                                        @Html.RadioButton("rb_specail_list1", "", false, new { id = "rb4_specail", onclick = "enable('txt1_specail')" })
                                        @Html.Label("rb4_specail", "協助治療")
                                        @Html.RadioButton("rb_specail_list1", "", false, new { id = "rb5_specail", onclick = "able('txt1_specail')" })
                                        @Html.Label("rb5_specail", "其他")
                                        @Html.TextBox("txt1_specail", "", new { style = "width:80px;", disabled = "disabled" })
                                    </td>
                                </tr>
                                <tr style=" background-color: #b1e1fc;">
                                    <th style="height:30px;">意識程度</th>
                                    <td>
                                        @Html.RadioButton("rb_specail_list2", "", false, new { id = "rb6_specail", onclick = "enable('txt2_specail')" })
                                        @Html.Label("rb6_specail", "清醒")
                                        @Html.RadioButton("rb_specail_list2", "", false, new { id = "rb7_specail", onclick = "enable('txt2_specail')" })
                                        @Html.Label("rb7_specail", "混亂")
                                        @Html.RadioButton("rb_specail_list2", "", false, new { id = "rb8_specail", onclick = "enable('txt2_specail')" })
                                        @Html.Label("rb8_specail", "嗜睡")
                                        @Html.RadioButton("rb_specail_list2", "", false, new { id = "rb9_specail", onclick = "enable('txt2_specail')" })
                                        @Html.Label("rb9_specail", "昏迷")
                                        @Html.RadioButton("rb_specail_list2", "", false, new { id = "rb10_specail", onclick = "able('txt2_specail')" })
                                        @Html.Label("rb10_specail", "其他")
                                        @Html.TextBox("txt2_specail", "", new { style = "width:80px;", disabled = "disabled" })
                                    </td>
                                </tr>
                                <tr style=" background-color: #99CCFF;">
                                    <th style="height:30px;">病人反應</th>
                                    <td>
                                        @Html.CheckBox("ck1_specail")
                                        @Html.Label("ck1_specail", "合作")
                                        @Html.CheckBox("ck2_specail")
                                        @Html.Label("ck2_specail", "情緒欠穩")
                                        @Html.CheckBox("ck3_specail")
                                        @Html.Label("ck3_specail", "躁動不安")
                                        @Html.CheckBox("ck4_specail", new { onclick = "ckable(this,'txt3_specail')" })
                                        @Html.Label("ck4_specail", "其他")
                                        @Html.TextBox("txt3_specail", "", new { style = "width:80px;", disabled = "disabled" })
                                    </td>
                                </tr>
                                <tr style=" background-color: #b1e1fc;">
                                    <th style="height:30px;">約束部位</th>
                                    <td>
                                        @Html.CheckBox("ck5_specail")
                                        @Html.Label("ck5_specail", "手掌")
                                        @Html.CheckBox("ck6_specail")
                                        @Html.Label("ck6_specail", "手腕")
                                        @Html.CheckBox("ck7_specail")
                                        @Html.Label("ck7_specail", "足踝")
                                        @Html.CheckBox("ck8_specail")
                                        @Html.Label("ck8_specail", "胸腹")
                                        @Html.CheckBox("ck9_specail", new { onclick = "ckable(this,'txt4_specail')" })
                                        @Html.Label("ck9_specail", "其他")
                                        @Html.TextBox("txt4_specail", "", new { style = "width:80px;", disabled = "disabled" })
                                    </td>
                                </tr>
                                <tr style=" background-color: #99CCFF;">
                                    <th style="height:30px;">約束用具</th>
                                    <td>
                                        @Html.CheckBox("ck10_specail")
                                        @Html.Label("ck10_specail", "棒球手套")
                                        @Html.CheckBox("ck11_specail")
                                        @Html.Label("ck11_specail", "棉質腕踝帶")
                                        @Html.CheckBox("ck12_specail")
                                        @Html.Label("ck12_specail", "磁扣腕踝帶")
                                        @Html.CheckBox("ck13_specail")
                                        @Html.Label("ck13_specail", "棉質胸腹帶")
                                        @Html.CheckBox("ck14_specail")
                                        @Html.Label("ck14_specail", "磁扣胸腹帶")
                                        @Html.CheckBox("ck15_specail")
                                        @Html.Label("ck15_specail", "床單")
                                        @Html.CheckBox("ck16_specail", new { onclick = "ckable(this,'txt5_specail')" })
                                        @Html.Label("ck16_specail", "其他")
                                        @Html.TextBox("txt5_specail", "", new { style = "width:80px;", disabled = "disabled" })
                                    </td>
                                </tr>
                                <tr style=" background-color: #b1e1fc;">
                                    <th style="height:30px;">循環</th>
                                    <td>
                                        @Html.RadioButton("rb_specail_list3", "", false, new { id = "rb11_specail", onclick = "enable('txt6_specail')" })
                                        @Html.Label("rb11_specail", "正常")
                                        @Html.RadioButton("rb_specail_list3", "", false, new { id = "rb12_specail", onclick = "enable('txt6_specail')" })
                                        @Html.Label("rb12_specail", "發紅")
                                        @Html.RadioButton("rb_specail_list3", "", false, new { id = "rb13_specail", onclick = "enable('txt6_specail')" })
                                        @Html.Label("rb13_specail", "發白")
                                        @Html.RadioButton("rb_specail_list3", "", false, new { id = "rb14_specail", onclick = "enable('txt6_specail')" })
                                        @Html.Label("rb14_specail", "發紺")
                                        @Html.RadioButton("rb_specail_list3", "", false, new { id = "rb15_specail", onclick = "able('txt6_specail')" })
                                        @Html.Label("rb15_specail", "其他")
                                        @Html.TextBox("txt6_specail", "", new { style = "width:80px;", disabled = "disabled" })
                                    </td>
                                </tr>
                                <tr style=" background-color: #99CCFF;">
                                    <th style="height:30px;">短暫解除約束時間</th>
                                    <td>
                                        @Html.TextBox("txt7_specail", "", new { style = "width:80px;" })分鐘
                                    </td>
                                </tr>
                                <tr style=" background-color: #b1e1fc;">
                                    <th style="height:30px;">解除約束活動</th>
                                    <td>
                                        @Html.CheckBox("ck17_specail", new { onclick = "hideother('span3_specail',this)" })
                                        @Html.Label("ck17_specail", "無")
                                        <span id="span3_specail">
                                        @Html.CheckBox("ck18_specail")
                                        @Html.Label("ck18_specail", "翻身")
                                        @Html.CheckBox("ck19_specail")
                                        @Html.Label("ck19_specail", "ROM")
                                        @Html.CheckBox("ck20_specail")
                                        @Html.Label("ck20_specail", "進食")
                                        @Html.CheckBox("ck21_specail")
                                        @Html.Label("ck21_specail", "如廁")
                                        @Html.CheckBox("ck22_specail")
                                        @Html.Label("ck22_specail", "清潔")
                                        @Html.CheckBox("ck23_specail", new { onclick = "ckable(this,'txt8_specail')" })
                                        @Html.Label("ck23_specail", "其他")
                                        @Html.TextBox("txt8_specail", "", new { style = "width:80px;", disabled = "disabled" })
                                        </span>
                                    </td>
                                </tr>
                                <tr style=" background-color: #99CCFF;">
                                    <th style="height:30px;">約束傷害</th>
                                    <td>
                                        @Html.CheckBox("ck24_specail", new { onclick = "hideother('span4_specail',this)" })
                                        @Html.Label("ck24_specail", "無")
                                        <span id="span4_specail">
                                        @Html.CheckBox("ck25_specail", new { onclick = "ckable(this,'txt9_specail')" })
                                        @Html.Label("ck25_specail", " 拔管")
                                        @Html.TextBox("txt9_specail", "", new { style = "width:80px;", disabled = "disabled" })
                                        @Html.CheckBox("ck26_specail")
                                        @Html.Label("ck26_specail", "皮膚發紅")
                                        @Html.CheckBox("ck27_specail")
                                        @Html.Label("ck27_specail", "皮膚破損")
                                        @Html.CheckBox("ck28_specail")
                                        @Html.Label("ck28_specail", "皮膚水腫")
                                        @Html.CheckBox("ck29_specail")
                                        @Html.Label("ck29_specail", "跌倒")
                                        @Html.CheckBox("ck30_specail", new { onclick = "ckable(this,'txt10_specail')" })
                                        @Html.Label("ck30_specail", "骨折")
                                        @Html.TextBox("txt10_specail", "", new { style = "width:80px;", disabled = "disabled" })
                                        @Html.CheckBox("ck31_specail", new { onclick = "ckable(this,'txt11_specail')" })
                                        @Html.Label("ck31_specail", "其他")
                                        @Html.TextBox("txt11_specail", "", new { style = "width:80px;", disabled = "disabled" })
                                        </span>
                                    </td>
                                </tr>
                                <tr style=" background-color: #b1e1fc;">
                                    <th style="height:30px;">狀況說明</th>
                                    <td>
                                        @Html.TextBox("txt8_specail", "", new { style = "width:280px;" })
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
