@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
.jsmenu div {
	overflow:hidden;
}
.jsmenu div.collapsed {
	height:44px;
}
.jsmenu div .fath {
    padding:8px 0 0 0;
    display:block;
    cursor:pointer;
    border-radius:18px;
    -moz-border-radius:18px;
    -webkit-border-radius:18px;
    box-shadow:2px 2px 4px #666;
    -moz-box-shadow:2px 2px 4px #666;
    -webkit-box-shadow:2px 2px 4px #666;
    border:1px solid blue;
    margin:2px 0 2px 0;
}
</style>  

<script type="text/javascript">
    //在ID为“js_menu”的div内开始程序
    $(function initMenu() {
        var pm_menu = new JSMenu("js_menu");
        pm_menu.init();
    });
    //定义主函数
    function JSMenu(id) {
        if (!document.getElementById || !document.getElementsByTagName)
            return false;
        this.menu = document.getElementById(id);
        this.submenus = this.menu.getElementsByTagName("div");
    }
    //引入函数，取得所有span
    JSMenu.prototype.init = function () {
        var mainInstance = this;
        for (var i = 0; i < this.submenus.length; i++) { this.submenus[i].className = "collapsed"; }
        for (var i = 0; i < this.submenus.length; i++)
            this.submenus[i].getElementsByTagName("span")[0].onclick = function () {
                mainInstance.toggleMenu(this.parentNode);
            };
        this.expandOne();
    };
    //展开含"current"的菜单<<<<<不知道要幹啥用的
    JSMenu.prototype.expandOne = function () {
        for (var i = 0; i < this.submenus.length; i++) {
            var links = this.submenus[i].getElementsByTagName("table");
            for (var j = 0; j < links.length; j++) {
                if (links[j].className == "current")
                    this.expandMenu(this.submenus[i]);
            }
        }
    };
    //变换菜单状态函数
    JSMenu.prototype.toggleMenu = function (submenu) {
        if (submenu.className == "collapsed")
            this.expandMenu(submenu);
        else
            this.collapseMenu(submenu);
    };
    //展开所有菜单函数
    JSMenu.prototype.expandMenu = function (submenu) {
        var fullHeight = submenu.getElementsByTagName("span")[0].offsetHeight;
        var links = submenu.getElementsByTagName("table");
        for (var i = 0; i < links.length; i++)
            fullHeight += links[i].offsetHeight;
        var moveBy = Math.round(50); //一次增加的高度
        var intId = setInterval(function () {
            var curHeight = submenu.offsetHeight;
            var newHeight = curHeight + moveBy;
            if (newHeight < fullHeight)
                submenu.style.height = newHeight + "px";
            else {
                clearInterval(intId);
                submenu.style.height = "";
                submenu.className = "";
            } //一直增高到破表後清掉div的高度，留下span的高度
        }, 1);
        this.collapseOthers(submenu);
    };
    //折叠其他菜单函数
    JSMenu.prototype.collapseOthers = function (submenu) {
        for (var i = 0; i < this.submenus.length; i++)
            if (this.submenus[i] != submenu && this.submenus[i].className != "collapsed")
                this.collapseMenu(this.submenus[i]);
    };
    //折叠菜单函数
    JSMenu.prototype.collapseMenu = function (submenu) {
        var minHeight = submenu.getElementsByTagName("span")[0].offsetHeight;
        var moveBy = Math.round(50); //一次減少的高度
        var intId = setInterval(function () {
            var curHeight = submenu.offsetHeight;
            var newHeight = curHeight - moveBy;
            if (newHeight > minHeight)
                submenu.style.height = newHeight + "px";
            else {
                clearInterval(intId);
                submenu.style.height = "";
                submenu.className = "collapsed";
            } //一直減少到破表後清掉div的高度，留下span的高度
        }, 1);
    };

    function able(id) {
        document.getElementById(id).disabled = false;
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
    }
    function ckable(obj,txtid) {
        var ck = obj;
        if (ck.checked)
        { able(txtid); }
        else
        { enable(txtid); }
    }
    function hideother(spanid, obj) {
        var ck = obj;
        if (ck.checked) {
            document.getElementById(spanid).setAttribute("style", "display:none;");
        }
        else {
            document.getElementById(spanid).setAttribute("style", "display:;");
        }
    }
    function showtr() {
        if (document.getElementById('tr1').hasAttribute("style"))
        { document.getElementById('tr1').setAttribute("style", "display:;"); }
        else
        { document.getElementById('tr1').setAttribute("style", "display:none;"); }
    }
    function selectitem(id, j) {
        switch (id) {
            case "rb_reason":
                $("#REASON_" + j).val($('input:radio[name=' + id + j + ']:checked').val());
                break;
            case "rb_conscious":
                $("#CONSCIOUS_" + j).val($('input:radio[name=' + id + j + ']:checked').val());
                break;
            case "ck_reaction":
                $("#REACTION_" + j).val( getcktext(id,j));
                break;
            case "ck_position":
                $("#POSITION_" + j).val(getcktext(id, j));
            //    alert($("#POSITION_" + j).val());
                break;
            case "ck_tool":
                $("#TOOL_" + j).val(getcktext(id, j));
                break;
            case "rb_cycle":
                $("#CYCLE_" + j).val($('input:radio[name=' + id + j + ']:checked').val());
                break;
            case "ck_ending":
                $("#ENDING_" + j).val(getcktext(id, j));         
                break;
            case "txt_pause":
                $("#PAUSE_" + j).val($("#" + id + j).val());
                break;
            case "ck_harm":
                $("#HARM_" + j).val(getcktext(id, j));
                break;
            case "txt_harm1":
                $("#HARM1_" + j).val($("#" + id + j).val());
                break;
            case "txt_harm2":
                $("#HARM2_" + j).val($("#" + id + j).val());
                break;
            case "txt_other":
                var content = '';
                for (i = 1; i < 9; i++) {
                    content = content + $("#txt" + i+j).val() + ',';
                }
                $("#OTHER_" + j).val(content.substring(0, content.length - 1));
           //     alert($("#OTHER_" + j).val());
                break;
            case "ck_date":
                if (document.getElementById(id + j).checked == true) {
                    $("#ck_" + j).val("1");
                }
                else {
                    $("#ck_" + j).val("0");
                }
                break;
        }    


    }
    function getcktext(id,j) {

        var content = '';
        var obj = $('input:checkbox[name=' +id + j + ']:checked');
        if (obj.length > 0) {
            for (var i = 0; i < obj.length; i++) {
                content = content + $(obj[i]).attr('text') + ',';
                if ($(obj[i]).attr('text') == "無") {
                    return "無";
                }
            }
        }
        return content.substring(0, content.length - 1)
    }
    $(document).ready(function () { //讀入資料


    id="rb_reason" 
        var ck = document.getElementsByName(id + "0");
                        for (var i = 0; i < ck.length; i++) {
                         //   if (ck[i].value == $('input:radio[name=' + id + '0]:checked').val())
                            if (ck[i].value == $("#REASON_0").val())
                             {
                                ck[i].checked = true;
                            }
//                            var obj = $('input:checkbox[name=' + id + '0]');
//                            var obj2 = $('input:checkbox[name=' + id +k+ ']');
//                            if (obj.length > 0) {
//                                for (var n = 0; n < obj.length; n++) {
//                                    if ($(obj[n]).checked==true) 
//                                        {
//                                            $(obj2[n]).checked = true;
//                                            }
//                                        else
//                                        {
//                                            $(obj2[n]).checked = false;
//                                        }
//                                } 
                            //}
                          
                        }//rd打勾
   });
</script>

@using System.Data;
@{  
    DataTable dt = ViewBag.dt;
    string start = ViewBag.start;
    string ver = ViewBag.ver;
    string id = ViewBag.id;
    string mod = ViewBag.mod;
}
<form method="post" action="Assess"> 
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
@*    <tr>
        <td style="width:100%;padding:0 0 5px 0;">
            @Html.TextBox("start_date", @DateTime.Now.AddDays(-7).ToString("d"), new {style="width:80px" })
            @Html.TextBox("start_time", "0000", new {style="width:50px" })
            <script type="text/javascript">
                $(function () {
                    $('#start_date').datetimepicker({
                        altField: "#start_time"
                    });
                });
            </script>
            @Html.Label("lab"," ~ ")
            @Html.TextBox("end_date", @DateTime.Now.ToString("yyyy/MM/dd"), new {style="width:80px" })
            @Html.TextBox("end_time","1159", new { style = "width:50px" })
            <script type="text/javascript">
                $(function () {
                    $('#start_date').datetimepicker({
                        altField: "#start_time"
                    });
                });
            </script>
            <input type="button" value="查詢" />
        </td>
    </tr>*@
    <tr>
        <td align="center" style="padding:5px 0 5px 0;">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td>
                        <span style="font-size:18px;color:blue;font-weight:bolder;">新增評估紀錄作業</span>
                    </td>
                </tr>
                <tr>
                    <td>
                 @*       頻次：
                        <select>
                            <option>15</option>
                            <option>30</option>
                            <option>60</option>
                        </select>*@
                        <input type="submit" value="新增存檔" onclick="submit();window.location.href = 'List'" />
                         <input type="button" value="放棄目前編輯資料" onclick="if(confirm('確定放棄?'))window.location.href='List'" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <div style="height:400px;overflow:scroll;">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="padding:0 0 5px 0;">
                            <div class="jsmenu" id="js_menu" style="padding:5px 0px 0px 0px;">
                                @{int rblist = 1, rb = 1, txt = 1, ck = 1, span = 1;}                               
                                     
                                @for (int j = 0; j < dt.Rows.Count ; j++)
                                {
                                    DataRow r = dt.Rows[j];
                                <div>
                                    <span class="fath" style="text-align:center; width:99%; color:Blue;height:30px;">
                                        @Html.CheckBox("ck_date" + @j, new {onclick = "selectitem('ck_date'," + @j + ")"})
                                        @Html.Label("ck_date" + @j, "評估日期:")
                                    @*    @Html.Label("textdate", @r["ASSESSDT"] )*@
                                        <label>@r["ASSESSDT"]</label>
                                    @*    @Html.TextBox("txtdate", @DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px;" })
                                        @Html.TextBox("txtdate", @DateTime.Now.AddMinutes(30*j).ToString("HH:mm"), new { style = "width:50px;" })*@
                                    </span>
                                    <table border="0" cellpadding="2" cellspacing="2" style="width:100%;font-size:14px;">
                                   <tr><td>                        
                                   @if (j == 0)
                                   {           
                                        <input  type="hidden" value="@r["FEQ"]"  name="FEQ"/>
                                        <input  type="hidden" value="@r["ID"]"  name="ID"/>                                        
                                        <input  type="hidden" value="@r["BOUT"]"  name="BOUT"/>
                                        <input  type="hidden" value="@r["STARTDT"]"  name="STARTDT"/>
                                        <input  type="hidden" value="1"  name="mod"/>
                                       
                                   }
                                        <input  type="hidden" value="@r["ASSESSDT"]"  name="data[@j].ASSESSDT"/>
                                     @*   <input  type="hidden" value="評估"  name="data[@j].STATUS"/>
                                        <input  type="hidden" value="-"  name="data[@j].BINDID"/>
                                        <input  type="hidden" value="-"  name="data[@j].ENDDT"/>*@
                                        <input id="ck_@j" type="hidden" value="1"  name="data[@j].ASSESS"/>
                                        <input id ="REASON_@j"  type="hidden" value="@r["REASON"]"  name="data[@j].REASON"/>
                                        <input id="CONSCIOUS_@j" type="hidden" value="@r["CONSCIOUS"]"  name="data[@j].CONSCIOUS"/>
                                        <input id="REACTION_@j" type="hidden" value="@r["REACTION"]"  name="data[@j].REACTION"/>
                                        <input id="POSITION_@j" type="hidden" value="@r["POSITION"]"  name="data[@j].POSITION"/>
                                        <input id="TOOL_@j" type="hidden" value="@r["TOOL"]"  name="data[@j].TOOL"/>
                                        <input id="CYCLE_@j" type="hidden" value="@r["CYCLE"]"  name="data[@j].CYCLE"/>
                                        <input id="PAUSE_@j" type="hidden" value="@r["PAUSE"]"  name="data[@j].PAUSE"/>
                                        <input id="ENDING_@j" type="hidden" value="@r["ENDING"]"  name="data[@j].ENDING"/>
                                        <input id="HARM_@j" type="hidden" value="@r["HARM"]"  name="data[@j].HARM"/>
                                        <input id="HARM1_@j" type="hidden" value="@r["HARM1"]"  name="data[@j].HARM1"/>
                                        <input id="HARM2_@j" type="hidden" value="@r["HARM2"]"  name="data[@j].HARM2"/>
                                        <input id="EXPLAIN_@j" type="hidden" value="@r["EXPLAIN"]"  name="data[@j].EXPLAIN"/>
                                        <input id="RECORDS_@j" type="hidden" value="@r["RECORDS"]"  name="data[@j].RECORDS"/>  
                                        <input id="OTHER_@j" type="hidden" value="@r["OTHER"]"  name="data[@j].OTHER"/> 
                                        
                                   </td></tr>
                                        <tr style=" background-color: #99CCFF;">
                                            <th style="width:15%;height:30px;">約束原因</th>
                                            <td>                                                     
                                                @Html.RadioButton("rb_reason" + @j, "認知障礙", new { id = "rb" + @rb, onclick = "selectitem('rb_reason'," + @j + ");enable('txt1" + @j + "')" })
                                                @Html.Label("rb" + @rb, "認知障礙")@{rb++;}
                                                @Html.RadioButton("rb_reason" + @j, "可能跌倒", new { id = "rb" + @rb, onclick = "selectitem('rb_reason'," + @j + ");enable('txt1" + @j + "')" })
                                                @Html.Label("rb" + @rb, "可能跌倒")@{rb++;}
                                                @Html.RadioButton("rb_reason" + @j, "行為紊亂", new { id = "rb" + @rb, onclick = "selectitem('rb_reason'," + @j + ");enable('txt1" + @j + "')" })
                                                @Html.Label("rb" + @rb, "行為紊亂")@{rb++;}
                                                @Html.RadioButton("rb_reason" + @j, "協助治療", new { id = "rb" + @rb, onclick = "selectitem('rb_reason'," + @j + ");enable('txt1" + @j + "')" })
                                                @Html.Label("rb" + @rb, "協助治療")@{rb++;}
                                                @Html.RadioButton("rb_reason" + @j, "其他", new { id = "rb" + @rb, onclick = "selectitem('rb_reason'," + @j + ");able('txt1" + @j + "')" })
                                                @Html.Label("rb" + @rb, "其他")@{rb++;}
                                                @Html.TextBox("txt1" + @j, "", new { onchange = "selectitem('txt_other'," + @j + ")", style = "width:80px;", disabled = "disabled" })
                                                @{rblist++; txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #b1e1fc;">
                                            <th style="height:30px;">意識程度</th>
                                            <td>
                                                @Html.RadioButton("rb_conscious" + @j, "清醒", false, new { id = "rb" + @rb, onclick = "selectitem('rb_conscious'," + @j + ");enable('txt2" + @j + "')" })
                                                @Html.Label("rb" + @rb, "清醒")@{rb++;}
                                                @Html.RadioButton("rb_conscious" + @j, "混亂", false, new { id = "rb" + @rb, onclick = "selectitem('rb_conscious'," + @j + ");enable('txt2" + @j + "')" })
                                                @Html.Label("rb" + @rb, "混亂")@{rb++;}
                                                @Html.RadioButton("rb_conscious" + @j, "嗜睡", false, new { id = "rb" + @rb, onclick = "selectitem('rb_conscious'," + @j + ");enable('txt2" + @j + "')" })
                                                @Html.Label("rb" + @rb, "嗜睡")@{rb++;}
                                                @Html.RadioButton("rb_conscious" + @j, "昏迷", false, new { id = "rb" + @rb, onclick = "selectitem('rb_conscious'," + @j + ");enable('txt2" + @j + "')" })
                                                @Html.Label("rb" + @rb, "昏迷")@{rb++;}
                                                @Html.RadioButton("rb_conscious" + @j, "其他", false, new { id = "rb" + @rb, onclick = "able('txt2" + @j + "')" })
                                                @Html.Label("rb" + @rb, "其他")@{rb++;}
                                                @Html.TextBox("txt2" + @j, "", new { onchange = "selectitem('txt_other'," + @j + ")", style = "width:80px;", disabled = "disabled" })
                                                @{rblist++; txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #99CCFF;">
                                            <th style="height:30px;">病人反應</th>
                                            <td>
                                                @Html.CheckBox("ck_reaction" + @j, new { text = "合作", id = "ck" + @ck, onclick = "selectitem('ck_reaction'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "合作")@{ck++;}
                                                @Html.CheckBox("ck_reaction" + @j, new { text = "情緒欠穩", id = "ck" + @ck, onclick = "selectitem('ck_reaction'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "情緒欠穩")@{ck++;}
                                                @Html.CheckBox("ck_reaction" + @j, new { text = "躁動不安", id = "ck" + @ck, onclick = "selectitem('ck_reaction'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "躁動不安")@{ck++;}
                                                @Html.CheckBox("ck_reaction" + @j, new { text = "其他", id = "ck" + @ck, onclick = "selectitem('ck_reaction'," + @j + ");ckable(this,'txt3" + @j + "')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt3" + @j, "", new { onchange = "selectitem('txt_other'," + @j + ")", style = "width:80px;", disabled = "disabled" })@{txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #b1e1fc;">
                                            <th style="height:30px;">約束部位</th>
                                            <td>
                                                @Html.CheckBox("ck_position" + @j, new { text = "手掌", id = "ck" + @ck, onclick = "selectitem('ck_position'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "手掌")@{ck++;}
                                                @Html.CheckBox("ck_position" + @j, new { text = "手腕", id = "ck" + @ck, onclick = "selectitem('ck_position'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "手腕")@{ck++;}
                                                @Html.CheckBox("ck_position" + @j, new { text = "足踝", id = "ck" + @ck, onclick = "selectitem('ck_position'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "足踝")@{ck++;}
                                                @Html.CheckBox("ck_position" + @j, new { text = "胸腹", id = "ck" + @ck, onclick = "selectitem('ck_position'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "胸腹")@{ck++;}
                                                @Html.CheckBox("ck_position" + @j, new { text = "其他", id = "ck" + @ck, onclick = "selectitem('ck_position'," + @j + ");ckable(this,'txt4" + @j + "')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt4" + @j, "", new { onchange = "selectitem('txt_other'," + @j + ")", style = "width:80px;", disabled = "disabled" })@{txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #99CCFF;">
                                            <th style="height:30px;">約束用具</th>
                                            <td>
                                                @Html.CheckBox("ck_tool" + @j, new { text = "棒球手套", id = "ck" + @ck, onclick = "selectitem('ck_tool'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "棒球手套")@{ck++;}
                                                @Html.CheckBox("ck_tool" + @j, new { text = "棉質腕踝帶", id = "ck" + @ck, onclick = "selectitem('ck_tool'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "棉質腕踝帶")@{ck++;}
                                                @Html.CheckBox("ck_tool" + @j, new { text = "磁扣腕踝帶", id = "ck" + @ck, onclick = "selectitem('ck_tool'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "磁扣腕踝帶")@{ck++;}
                                                @Html.CheckBox("ck_tool" + @j, new { text = "棉質胸腹帶", id = "ck" + @ck, onclick = "selectitem('ck_tool'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "棉質胸腹帶")@{ck++;}
                                                @Html.CheckBox("ck_tool" + @j, new { text = "磁扣胸腹帶", id = "ck" + @ck, onclick = "selectitem('ck_tool'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "磁扣胸腹帶")@{ck++;}
                                                @Html.CheckBox("ck_tool" + @j, new { text = "床單", id = "ck" + @ck, onclick = "selectitem('ck_tool'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "床單")@{ck++;}
                                                @Html.CheckBox("ck_tool" + @j, new { text = "其他", id = "ck" + @ck, onclick = "selectitem('ck_tool'," + @j + ");ckable(this,'txt5" + @j + "')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt5" + @j, "", new { onchange = "selectitem('txt_other'," + @j + ")", style = "width:80px;", disabled = "disabled" })@{txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #b1e1fc;">
                                            <th style="height:30px;">循環</th>
                                            <td>
                                                @Html.RadioButton("rb_cycle" + @j, "正常", new { id = "rb" + @rb, onclick = "selectitem('rb_cycle'," + @j + ");enable('txt6" + @j + "')" })
                                                @Html.Label("rb" + @rb, "正常")@{rb++;}
                                                @Html.RadioButton("rb_cycle" + @j, "發紅", new { id = "rb" + @rb, onclick = "selectitem('rb_cycle'," + @j + ");enable('txt6" + @j + "')" })
                                                @Html.Label("rb" + @rb, "發紅")@{rb++;}
                                                @Html.RadioButton("rb_cycle" + @j, "發白", new { id = "rb" + @rb, onclick = "selectitem('rb_cycle'," + @j + ");enable('txt6" + @j + "')" })
                                                @Html.Label("rb" + @rb, "發白")@{rb++;}
                                                @Html.RadioButton("rb_cycle" + @j, "發紺", new { id = "rb" + @rb, onclick = "selectitem('rb_cycle'," + @j + ");enable('txt6" + @j + "')" })
                                                @Html.Label("rb" + @rb, "發紺")@{rb++;}
                                                @Html.RadioButton("rb_cycle" + @j, "其他", new { id = "rb" + @rb, onclick = "selectitem('rb_cycle'," + @j + ");able('txt6" + @j + "')" })
                                                @Html.Label("rb" + @rb, "其他")@{rb++;}
                                                @Html.TextBox("txt6" + @j, "", new { onchange = "selectitem('txt_other'," + @j + ")", style = "width:80px;", disabled = "disabled" })
                                                @{rblist++; txt++;}
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #99CCFF;">
                                            <th style="height:30px;">短暫解除約束時間</th>
                                            <td>
                                                @Html.TextBox("txt_pause" + @j, "", new { style = "width:80px;", onchange = "selectitem('txt_pause'," + @j + ")" })分鐘
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #b1e1fc;">
                                            <th style="height:30px;">解除約束活動</th>
                                            <td>
                                                @Html.CheckBox("ck_ending" + @j, new { text = "無", id = "ck" + @ck, onclick = "hideother('span" + @span + "',this);selectitem('ck_ending'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "無")@{ck++;}
                                                <span id="span@(@span)">@{span++;}
                                                @Html.CheckBox("ck_ending" + @j, new { text = "翻身", id = "ck" + @ck, onclick = "selectitem('ck_ending'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "翻身")@{ck++;}
                                                @Html.CheckBox("ck_ending" + @j, new { text = "ROM", id = "ck" + @ck, onclick = "selectitem('ck_ending'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "ROM")@{ck++;}
                                                @Html.CheckBox("ck_ending" + @j, new { text = "進食", id = "ck" + @ck, onclick = "selectitem('ck_ending'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "進食")@{ck++;}
                                                @Html.CheckBox("ck_ending" + @j, new { text = "如廁", id = "ck" + @ck, onclick = "selectitem('ck_ending'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "如廁")@{ck++;}
                                                @Html.CheckBox("ck_ending" + @j, new { text = "清潔", id = "ck" + @ck, onclick = "selectitem('ck_ending'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "清潔")@{ck++;}
                                                @Html.CheckBox("ck_ending" + @j, new { text = "其他", id = "ck" + @ck, onclick = "selectitem('ck_ending'," + @j + ");ckable(this,'txt7" + @j + "')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt7" + @j, "", new { onchange = "selectitem('txt_other'," + @j + ")", style = "width:80px;", disabled = "disabled" })@{txt++;}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr style=" background-color: #99CCFF;">
                                            <th style="height:30px;">約束傷害</th>
                                            <td id="td2">
                                                @Html.CheckBox("ck_harm" + @j, new { text = "無", id = "ck" + @ck, onclick = "hideother('span" + @span + "',this);selectitem('ck_harm'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "無")@{ck++;}
                                                <span id="span@(@span)">@{span++;}

                                                @Html.CheckBox("ck_harm" + @j, new { text = "拔管", id = "ck" + @ck, onclick = "selectitem('ck_harm'," + @j + ");ckable(this,'txt_harm1" + @j + "')" })
                                                @Html.Label("ck" + @ck, " 拔管")@{ck++;}
                                                @Html.TextBox("txt_harm1" + @j, "", new { onchange = "selectitem('txt_harm1'," + @j + ")", style = "width:80px;", disabled = "disabled" })

                                                @Html.CheckBox("ck_harm" + @j, new { text = "皮膚發紅", id = "ck" + @ck, onclick = "selectitem('ck_harm'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "皮膚發紅")@{ck++;}
                                                @Html.CheckBox("ck_harm" + @j, new { text = "皮膚破損", id = "ck" + @ck, onclick = "selectitem('ck_harm'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "皮膚破損")@{ck++;}
                                                @Html.CheckBox("ck_harm" + @j, new { text = "皮膚水腫", id = "ck" + @ck, onclick = "selectitem('ck_harm'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "皮膚水腫")@{ck++;}
                                                @Html.CheckBox("ck_harm" + @j, new { text = "跌倒", id = "ck" + @ck, onclick = "selectitem('ck_harm'," + @j + ")" })
                                                @Html.Label("ck" + @ck, "跌倒")@{ck++;}

                                                @Html.CheckBox("ck_harm" + @j, new { text = "骨折", id = "ck" + @ck, onclick = "selectitem('ck_harm'," + @j + ");ckable(this,'txt_harm2" + @j + "')" })
                                                @Html.Label("ck" + @ck, "骨折")@{ck++;}
                                                @Html.TextBox("txt_harm2" + @j, "", new { onchange = "selectitem('txt_harm2'," + @j + ")", style = "width:80px;", disabled = "disabled" })

                                                @Html.CheckBox("ck_harm" + @j, new { text = "其他", id = "ck" + @ck, onclick = "selectitem('ck_harm'," + @j + ");ckable(this,'txt8" + @j + "')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt8" + @j, "", new { onchange = "selectitem('txt_other'," + @j + ")", style = "width:80px;", disabled = "disabled" })@{txt++;}
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                }    
                            </div>
                        </td>
                    </tr>
                   
                </table>
            </div>
        </td>
    </tr>
</table>
</form>
