@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dtr = new DataTable();
    if (ViewBag.dtr != null)
    {
        dtr = ViewBag.dtr;
    }
}

<style type="text/css">

      /*.ItemTitle {
        display: inline-block;
        text-align: center;
        position: relative;
        padding: 0px 5px 0px 5px;
        top: 0px;
        bottom: 0px;
        left: 0px;
        font-weight: bold;
        width: 150px;
        color: #0000AA;
        background-image: url('../../Images/Form/NA_TITLE.png');
        background-repeat: repeat;
        overflow: hidden;
        white-space: pre-line;
    }*/

    .ui-tabs .ui-tabs-nav li a{
        font-size: 16px;
        padding: 3px 5px 3px 5px;
    }

    .ui-tabs{
        font-size: 16px;
    }
</style>  

<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
        $(".tabArea").tabs({ active: 0 });
        // inital tooltip

            @if (dtr.Rows.Count > 0)
            {
                @:set_for_rb('rb_reason','@dtr.Rows[0]["REASON"]');
                @:set_for_rb('rb_conscious','@dtr.Rows[0]["CONSCIOUS"]');
                @:set_for_ck('ck_reaction', '@dtr.Rows[0]["REACTION"]');
                @:set_for_ck('ck_position', '@dtr.Rows[0]["POSITION"]');
                @:set_for_ck('ck_tool', '@dtr.Rows[0]["TOOL"]');
            }
     
        $(".nexttab").click(function () {
            $(this).css("text-align", "right");
            var active = $(".tabArea").tabs("option", "active");
            $(".tabArea").tabs("option", "active", active + 1);
        });

        $(".tabs_area").tabs({
            active: 0
        });

        $(".tooltip").tooltip({
            content: function () {
                return $(this).prop('title');
            }
        }).css({
            "color": "#660000",
            "font-weight": "bold",
            "padding-left": "15px"
        });
    });

    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function set_for_ck(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            var ck = document.getElementsByName(ck_name);
            for (var i = 0; i < default_val.length; i++) {
                for (var j = 0; j < ck.length; j++) {
                    if (default_val[i] == ck[j].value)
                        $(ck[j]).click();
                }
            }
        }
    }

    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
        $('#txt_day').datetimepicker({
            altField: "#txt_time", maxDateTime: 0
        });
        $('#txtP_day').datetimepicker({
            altField: "#txtP_time", maxDateTime: 0
        });
    }
    function able(id) {
        document.getElementById(id).disabled = false;
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
    }
    function ckable(obj,txtid) {
        var ck = obj;
        if (ck.checked)
        { able(txtid); }
        else
        { enable(txtid); }
    }
    function hideother(spanid, obj) {
        var ck = obj;
        if (ck.checked) {
            document.getElementById(spanid).setAttribute("style", "display:none;");
        }
        else {
            document.getElementById(spanid).setAttribute("style", "display:;");
        }
    }
    function showtr() {
        if (document.getElementById('tr1').hasAttribute("style"))
        { document.getElementById('tr1').setAttribute("style", "display:;"); }
        else
        { document.getElementById('tr1').setAttribute("style", "display:none;"); }
    }

    function check(status) {

        $('#rb_reason').val($('input:radio[name=rb_reason]:checked').val())//約束原因
        $('#rb_conscious').val($('input:radio[name=rb_conscious]:checked').val())//意識程度
        mark('ck_reaction');//病人反應      
        mark('ck_position');//約束部位
        mark('ck_tool');//約束用具
        $('#rb_cycle').val($('input:radio[name=rb_cycle]:checked').val())//循環
        mark('ck_ending')//解除約束
        mark('ck_harm')//約束傷害   

        var content1 = "";
        for (i = 1; i < 9; i++){
            if ($('#txt' + i).val() != undefined)
            { content1 += '' + $('#txt' + i).val() + ','; }
            else
            { content1 +=  ','; }
        }//textbox其他    
        $('#OTHER').val(content1.substring(0, content1.length - 1));
        mag = "";
        
        itemlist = "rb_reason,rb_conscious,ck_reaction,ck_position,ck_tool";

        if ($.trim($("#feq").val().toString()) != '0') {
            itemlist += ",rb_cycle,ck_ending,ck_harm,";
            itemlist += "ck25,ck30";
        }
        namelist = "約束原因,意識程度,病人反應,約束部位,約束用具";
        if ($.trim($("#feq").val().toString()) != '0') {
            namelist += ",循環,解除約束,約束傷害,";
            namelist += "拔管欄位,骨折部位";
        }
        var item = itemlist.split(",");
        var name = namelist.split(",");
        for (var i = 0; i < item.length; i++) {
            mag += cknull(item[i].toString(), name[i].toString());
        }
        if (mag != "") {
            alert(mag);
            return false;
        }
        else {
            return true;
        }
    }
    function cknull(id, name) {
        if (id != "ck25" && id != "ck30") {
            if ($('#' + id).val() == null || $('#' + id).val() == "") {
                // alert($('#' + id).val() + " id=" + id);
                return name + "尚未輸入\n";
            }
            else {
                return "";
            }
        }
        else {
            //alert('id='+id+" name="+name);
            if (document.getElementById("ck24").checked == false) {
              //  alert('id=' + id + " name=" + name);
                var ck = document.getElementById(id);

                if (ck.checked == true) {
                    if (id == "ck25" && $('#txt_harm1').val() == "") {
                        return name + "尚未輸入\n";
                    }
                    if (id == "ck30" && $('#txt_harm2').val() == "") {
                        return name + "尚未輸入\n";
                    }
                    else
                        return "";
                }
                return "";

            }
            return "";
        }

    }
    function mark(id) {
        //傳入id將checkbox用,分開紀錄 
        var content = '';
        var obj = $('input:checkbox[name=' + id + ']:checked');
        if (obj.length > 0) {
            for (var i = 0; i < obj.length; i++) {
                content = content + $(obj[i]).attr('text') + ',';
                if ($(obj[i]).attr('text') == "無") {
                    content = $(obj[i]).attr('text') + ',';
                    $('#' + id).val(content.substring(0, content.length - 1));
                    break;
                }
            }
            $('#' + id).val(content.substring(0, content.length - 1));
        }
    }
 

</script>

@using NIS.Data;
@using System.Data;
@{  
 
    DataTable dt = ViewBag.dt;
    string start = ViewBag.start;
    string ver = ViewBag.ver;
    string id = ViewBag.id;
    string BOUT = ViewBag.BOUT;
    string mod = ViewBag.mod;
    List<String> TList = new List<String>();
    TList = (List<String>)ViewData["time"];
    string assessdt = ViewBag.assessdt;
    string day = DateTime.Now.ToString("yyyy/MM/dd");
    string time = DateTime.Now.ToString("HH:mm");
    int feq = ViewBag.feq;
    string REASON = "", CONSCIOUS = "", REACTION = "", POSITION = "";
    string TOOL = "", CYCLE = "", PAUSE = "", ENDING = "", EXPLAIN = "";
    string HARM = "", HARM1 = "", HARM2 = "", OTHER = "", BINDID = "";
    if (feq != null)
    {
      <script type="text/javascript">
          var feq =@feq
          $(function () {
              if (feq == "0" || feq == "1")
              {
                  document.getElementById('tabdiv').setAttribute("style", "display:none;");
                  
              }          
        });
        </script>
    }
    if (dt != null && dt.Rows.Count > 0)
    {
        day = Convert.ToDateTime(dt.Rows[0]["ASSESSDT"]).ToString("yyyy/MM/dd");
        time = Convert.ToDateTime(dt.Rows[0]["ASSESSDT"]).ToString("HH:mm");
        REASON = dt.Rows[0]["REASON"].ToString().Trim();//約束原因
        CONSCIOUS = dt.Rows[0]["CONSCIOUS"].ToString().Trim();//意識程度
        REACTION = dt.Rows[0]["REACTION"].ToString().Trim();//病人反應
        POSITION = dt.Rows[0]["POSITION"].ToString().Trim();//約束部位
        TOOL = dt.Rows[0]["TOOL"].ToString().Trim();//約束用具
        CYCLE = dt.Rows[0]["CYCLE"].ToString().Trim();//循環
        PAUSE = dt.Rows[0]["PAUSE"].ToString().Trim();//短暫解除約束
        ENDING = dt.Rows[0]["ENDING"].ToString().Trim(); //解除約束
        EXPLAIN = dt.Rows[0]["EXPLAIN"].ToString().Trim();//狀況說明
        HARM = dt.Rows[0]["HARM"].ToString().Trim();//傷害
        HARM1 = dt.Rows[0]["HARM1"].ToString().Trim();//拔管
        HARM2 = dt.Rows[0]["HARM2"].ToString().Trim(); //骨折
        BINDID = dt.Rows[0]["BINDID"].ToString().Trim(); //
    <script type="text/javascript">
        $(function () {
            
            other = "@dt.Rows[0]["OTHER"].ToString().Trim()";
            
            set_for_ck('ck_reaction', '@dt.Rows[0]["REACTION"].ToString().Trim()');
            set_for_ck('ck_position', '@dt.Rows[0]["POSITION"].ToString().Trim()');
            set_for_ck('ck_tool', '@dt.Rows[0]["TOOL"].ToString().Trim()');
            set_for_ck('ck_ending', '@dt.Rows[0]["ENDING"].ToString().Trim()');
            set_for_ck('ck_harm', '@dt.Rows[0]["HARM"].ToString().Trim()');
            set_for_rb('rb_reason', '@REASON');
            set_for_rb('rb_conscious', '@CONSCIOUS');
            set_for_rb('rb_cycle', '@CYCLE');
            set_for_rb('rb_pause', '@PAUSE');
            //  alert(itemlist);
            var ohteritem = other.split(",");
            for (i = 1; i <9; i++)//
            {
               // alert(ohteritem[i-1]);
                $('#txt' + i ).val(ohteritem[i-1]);//textbox其他
             //   set_for_rb(rb_id[i], rb_item[i]);
            }

        });
            function set_for_rb(id, default_val) {
                var rb = document.getElementsByName(id);
                for (var i = 0; i < rb.length; i++) {
                    if (rb[i].value == default_val)
                        rb[i].checked = true;
                }
            }
            function set_for_ck(id, default_val) {
                var ck = document.getElementsByName(id);
                var name = (default_val + ",").split(",");

                for (var j = 0; j < name.length - 1; j++) {
                    for (var i = 0; i < ck.length; i++) {
                        if ($(ck[i]).attr('text') == name[j]) {
                            ck[i].checked = true;
                            j++;
                        }
                    }
                }
        
            }
       
        </script>
    }   
}
<div class="funcArea">
<form method="post" action="AssessN"> 
    <div class="funcArea" style="width:100%;text-align:center;">
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">

    <tr>
        <td align="center" style="padding:5px 0 5px 0;">
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
               @* <tr>
                    <td>
                        <span style="font-size:18px;color:blue;font-weight:bolder;">新增評估紀錄作業</span>
                    </td>
                </tr>*@
                <tr>
                    <td>     
                       @* <input type="button" value="新增存檔T" onclick="if(check());" />*@
                        <input type="button" value="新增存檔" onclick="if(check())if(submit())window.location.href ='ListN'" />
                        <input type="button" value="放棄目前編輯資料" onclick="if(confirm('確定放棄?'))window.location.href='ListN'" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr >
        <td style="padding:5px 0 5px 0;">
            <div id="tabdiv"  class="dataArea" style="height:90px;text-align:left;">
             <div class="tabs_area"  >
                 @if (TList != null && TList.Count > 0)
                 {
                <ul>
                    @for (int i = 0; i < TList.Count; i++)
                    {
                        string d = DateTime.Parse(@TList[i]).ToString("yyyyMMddHHmm").ToString();
                        string r = DateTime.Parse(@TList[i]).ToString("MM/dd HH:mm").ToString();
                         <li><a href="#@(d)">@(r)</a></li>                       
                    }
                </ul>    
                 }    
              
                  @if (TList != null && TList.Count > 0)
                  {
                      for (int i = 0; i < TList.Count; i++)
                      {
                          string d = DateTime.Parse(@TList[i]).ToString("yyyyMMddHHmm").ToString();               
                        <div id="@(d)" class="tab" style="display:none" ></div>
                          string assdt = DateTime.Parse(@TList[i]).ToString("yyyy/MM/dd HH:mm:ss").ToString();  
                        <input name="assdt[]" type="checkbox" checked="checked" value="@assdt"  style="display:none"/>         
                      }
                  }
                </div>
            </div>
        </td>
    </tr>
            <tr>
                <td>
<div  class="dataArea" style="height:320px;text-align:left;">
                
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="padding:0 0 5px 0;">
              
                            <div>
                                    <span class="fath" style="text-align:center; width:99%; color:Blue;height:30px;">                 
                                       
                                        @if (feq == 0)
                                        {
                                            @Html.Label("ck_date", "評估日期:")
                                            @Html.Label("textdate", @assessdt)
                                             <label>此評估會輸入至護理紀錄</label>
                                        }                        
                                        @*<label>@r["ASSESSDT"]</label>*@
                                    @*    @Html.TextBox("txtdate", @DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px;" })
                                        @Html.TextBox("txtdate", @DateTime.Now.AddMinutes(30*j).ToString("HH:mm"), new { style = "width:50px;" })*@
                                        <input id ="feq"  type="hidden" value="@feq"  name="feq"/>
                                        <input  type="hidden" value="@id"  name="ID"/>                                        
                                        <input  type="hidden" value="@BOUT"  name="BOUT"/>
                                        <input  type="hidden" value="@assessdt"  name="assessdt"/>
                                         <input  type="hidden" value="@OTHER"  name="OTHER" id="OTHER"/>
                                          <input  type="hidden" value="@BINDID"  name="BINDID" />
                                        
                                 @{int rblist = 1, rb = 1, txt = 1, ck = 1, span = 1;}   
                                    </span>
                                    <table border="0" cellpadding="2" cellspacing="2" style="width:100%;font-size:14px;">
                                         <tr >
                                            <th style="width:15%;height:30px;">約束原因</th>
                                            <td>          
                                                <input id ="rb_reason"  type="hidden" value="@REASON"  name="REASON"/>                                           
                                                @Html.RadioButton("rb_reason", "認知障礙", new { id = "rb" + @rb, onclick = "enable('txt1')" })
                                                @Html.Label("rb" + @rb, "認知障礙")@{rb++;}
                                                @Html.RadioButton("rb_reason", "可能跌倒", new { id = "rb" + @rb, onclick = "enable('txt1')" })
                                                @Html.Label("rb" + @rb, "可能跌倒")@{rb++;}
                                                @Html.RadioButton("rb_reason", "行為紊亂", new { id = "rb" + @rb, onclick = "enable('txt1')" })
                                                @Html.Label("rb" + @rb, "行為紊亂")@{rb++;}
                                                @Html.RadioButton("rb_reason", "協助治療", new { id = "rb" + @rb, onclick = "enable('txt1')" })
                                                @Html.Label("rb" + @rb, "協助治療")@{rb++;}
                                                @Html.RadioButton("rb_reason", "其他", new { id = "rb" + @rb, onclick = "able('txt1')" })
                                                @Html.Label("rb" + @rb, "其他")@{rb++;}
                                                @Html.TextBox("txt1", "", new { style = "width:80px;", disabled = "disabled" })
                                                @{rblist++; txt++;}
                                            </td>
                                        </tr>
                                         <tr >
                                            <th style="height:30px;">意識程度</th>
                                            <td>
                                                <input id ="rb_conscious"  type="hidden" value="@CONSCIOUS"  name="CONSCIOUS"/>  
                                                @Html.RadioButton("rb_conscious", "清醒", false, new { id = "rb" + @rb, onclick = "enable('txt2')" })
                                                @Html.Label("rb" + @rb, "清醒")@{rb++;}
                                                @Html.RadioButton("rb_conscious", "混亂", false, new { id = "rb" + @rb, onclick = "enable('txt2')" })
                                                @Html.Label("rb" + @rb, "混亂")@{rb++;}
                                                @Html.RadioButton("rb_conscious", "嗜睡", false, new { id = "rb" + @rb, onclick = "enable('txt2')" })
                                                @Html.Label("rb" + @rb, "嗜睡")@{rb++;}
                                                @Html.RadioButton("rb_conscious", "昏迷", false, new { id = "rb" + @rb, onclick = "enable('txt2')" })
                                                @Html.Label("rb" + @rb, "昏迷")@{rb++;}
                                                @Html.RadioButton("rb_conscious", "其他", false, new { id = "rb" + @rb, onclick = "able('txt2')" })
                                                @Html.Label("rb" + @rb, "其他")@{rb++;}
                                                @Html.TextBox("txt2", "", new { style = "width:80px;", disabled = "disabled" })
                                                @{rblist++; txt++;}
                                            </td>
                                        </tr>
                                         <tr >
                                            <th style="height:30px;">病人反應</th>
                                            <td>
                                                <input id ="ck_reaction"  type="hidden" value="@REACTION"  name="REACTION"/>  
                                                @Html.CheckBox("ck_reaction", new { text = "合作", value = "合作", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "合作")@{ck++;}
                                                @Html.CheckBox("ck_reaction", new { text = "情緒欠穩", value = "情緒欠穩", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "情緒欠穩")@{ck++;}
                                                @Html.CheckBox("ck_reaction", new { text = "躁動不安", value = "躁動不安", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "躁動不安")@{ck++;}
                                                @Html.CheckBox("ck_reaction", new { text = "其他", value = "其他", id = "ck" + @ck, onclick = "ckable(this,'txt3')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt3", "", new { style = "width:80px;", disabled = "disabled" })@{txt++;}
                                            </td>
                                        </tr>
                                         <tr >
                                            <th style="height:30px;">約束部位</th>
                                            <td>
                                                <input id ="ck_position"  type="hidden" value="@POSITION"  name="POSITION"/>  
                                                @Html.CheckBox("ck_position", new { text = "手掌", value = "手掌", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "手掌")@{ck++;}
                                                @Html.CheckBox("ck_position", new { text = "手腕", value = "手腕", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "手腕")@{ck++;}
                                                @Html.CheckBox("ck_position", new { text = "足踝", value = "足踝", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "足踝")@{ck++;}
                                                @Html.CheckBox("ck_position", new { text = "胸腹", value = "胸腹", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "胸腹")@{ck++;}
                                                @Html.CheckBox("ck_position", new { text = "其他", value = "其他", id = "ck" + @ck, onclick = "ckable(this,'txt4')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt4", "", new { style = "width:80px;", disabled = "disabled" })@{txt++;}
                                            </td>
                                        </tr>
                                         <tr >
                                            <th style="height:30px;">約束用具</th>
                                            <td>
                                                <input id ="ck_tool"  type="hidden" value="@TOOL"  name="TOOL"/>  
                                                @Html.CheckBox("ck_tool", new { text = "棒球手套", value = "棒球手套", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "棒球手套")@{ck++;}
                                                @Html.CheckBox("ck_tool", new { text = "棉質腕踝帶", value = "棉質腕踝帶", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "棉質腕踝帶")@{ck++;}
                                                @Html.CheckBox("ck_tool", new { text = "磁扣腕踝帶", value = "磁扣腕踝帶", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "磁扣腕踝帶")@{ck++;}
                                                @Html.CheckBox("ck_tool", new { text = "棉質胸腹帶", value = "棉質胸腹帶", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "棉質胸腹帶")@{ck++;}
                                                @Html.CheckBox("ck_tool", new { text = "磁扣胸腹帶", value = "磁扣胸腹帶", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "磁扣胸腹帶")@{ck++;}
                                                @Html.CheckBox("ck_tool", new { text = "床單", value = "床單", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "床單")@{ck++;}
                                                @Html.CheckBox("ck_tool", new { text = "其他", value = "其他", id = "ck" + @ck, onclick = "ckable(this,'txt5')" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt5", "", new { style = "width:80px;", disabled = "disabled" })@{txt++;}
                                            </td>
                                        </tr>
                                         @if (feq != 0)
                                         {//如果為第一筆自動新增時 不需帶出以下項目                                      
                                        <tr >
                                            <th style="height:30px;">循環</th>
                                            <td>
                                                <input id ="rb_cycle"  type="hidden" value="@CYCLE"  name="CYCLE"/>  
                                                @Html.RadioButton("rb_cycle", "正常", new { id = "rb" + @rb, onclick = "enable('txt6')" })
                                                @Html.Label("rb" + @rb, "正常")@{rb++;}
                                                @Html.RadioButton("rb_cycle", "發紅", new { id = "rb" + @rb, onclick = "enable('txt6')" })
                                                @Html.Label("rb" + @rb, "發紅")@{rb++;}
                                                @Html.RadioButton("rb_cycle", "發白", new { id = "rb" + @rb, onclick = "enable('txt6')" })
                                                @Html.Label("rb" + @rb, "發白")@{rb++;}
                                                @Html.RadioButton("rb_cycle", "發紺", new { id = "rb" + @rb, onclick = "enable('txt6')" })
                                                @Html.Label("rb" + @rb, "發紺")@{rb++;}
                                                @Html.RadioButton("rb_cycle", "其他", new { id = "rb" + @rb, onclick = "able('txt6')" })
                                                @Html.Label("rb" + @rb, "其他")@{rb++;}
                                                @Html.TextBox("txt6", "", new { style = "width:80px;", disabled = "disabled" })
                                                @{rblist++; txt++;}
                                            </td>
                                        </tr>
                                        <tr >
                                            <th style="height:30px;">短暫解除約束時間</th>
                                            <td>
                                                @Html.TextBox("PAUSE", @PAUSE, new { style = "width:80px;" })分鐘
                                            </td>
                                        </tr>
                                        <tr >
                                            <th style="height:30px;">解除約束活動</th>
                                            <td>
                                                <input id ="ck_ending"  type="hidden" value="@ENDING"  name="ENDING"/>  
                                                @Html.CheckBox("ck_ending", new { text = "無", id = "ck" + @ck, onclick = "hideother('span" + @span + "',this);" })
                                                @Html.Label("ck" + @ck, "無")@{ck++;}
                                                <span id="span@(@span)">@{span++;}
                                                @Html.CheckBox("ck_ending", new { text = "翻身", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "翻身")@{ck++;}
                                                @Html.CheckBox("ck_ending", new { text = "ROM", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "ROM")@{ck++;}
                                                @Html.CheckBox("ck_ending", new { text = "進食", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "進食")@{ck++;}
                                                @Html.CheckBox("ck_ending", new { text = "如廁", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "如廁")@{ck++;}
                                                @Html.CheckBox("ck_ending", new { text = "清潔", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "清潔")@{ck++;}
                                                @Html.CheckBox("ck_ending", new { text = "其他", id = "ck" + @ck, onclick = "ckable(this,'txt7');" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt7", "", new { style = "width:80px;", disabled = "disabled" })@{txt++;}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr >
                                            <th style="height:30px;">約束傷害</th>
                                            <td id="td2">
                                                <input id ="ck_harm"  type="hidden" value="@HARM"  name="HARM"/>  
                                                @Html.CheckBox("ck_harm", new { text = "無", id = "ck" + @ck, onclick = "hideother('span" + @span + "',this)" })
                                                @Html.Label("ck" + @ck, "無")@{ck++;}
                                                <span id="span@(@span)">@{span++;}

                                                @Html.CheckBox("ck_harm", new { text = "拔管", id = "ck" + @ck, onclick = "ckable(this,'txt_harm1');" })
                                                @Html.Label("ck" + @ck, " 拔管")@{ck++;}
                                                @Html.TextBox("HARM1", @HARM1, new { id = "txt_harm1", style = "width:80px;", disabled = "disabled" })

                                                @Html.CheckBox("ck_harm", new { text = "皮膚發紅", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "皮膚發紅")@{ck++;}
                                                @Html.CheckBox("ck_harm", new { text = "皮膚破損", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "皮膚破損")@{ck++;}
                                                @Html.CheckBox("ck_harm", new { text = "皮膚水腫", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "皮膚水腫")@{ck++;}
                                                @Html.CheckBox("ck_harm", new { text = "跌倒", id = "ck" + @ck })
                                                @Html.Label("ck" + @ck, "跌倒")@{ck++;}

                                                @Html.CheckBox("ck_harm", new { text = "骨折", id = "ck" + @ck, onclick = "ckable(this,'txt_harm2');" })
                                                @Html.Label("ck" + @ck, "骨折")@{ck++;}
                                                @Html.TextBox("HARM2", @HARM2, new { id = "txt_harm2", style = "width:80px;", disabled = "disabled" })

                                                @Html.CheckBox("ck_harm", new { text = "其他", id = "ck" + @ck, onclick = "ckable(this,'txt8');" })
                                                @Html.Label("ck" + @ck, "其他")@{ck++;}
                                                @Html.TextBox("txt8", "", new { style = "width:80px;", disabled = "disabled" })@{txt++;}
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                             <th style="height:30px;">狀況說明</th>
                                            <td>
                                                @Html.TextBox("EXPLAIN", @EXPLAIN)
                                            </td>
                                        </tr>
                                         }
                                    </table>
                                </div>
                        </td>
                    </tr>
                   
                </table>
            </div>
                </td>
            </tr>
</table>
    </div>
</form>
    </div>
