@{
    ViewBag.Title = "ConstraintsList";
    //Layout = "~/Views/Layout/FormLayout.cshtml";
    string loginempno = ViewBag.login;
    string feeno = ViewBag.feeno;
    string feq = ViewBag.feq;
    string bind_id = ViewBag.BINDTABLE_id;
    DataTable dt_a = ViewBag.dt_a;
    DataTable dt = ViewBag.dt;
    DataTable dt_s = ViewBag.dt_s;
    string list = ViewBag.list;
    string Category = ViewBag.Category;
    var i = 0;
    string lastStartDt = ViewBag.lastStartDt;
    string feqdt = ViewBag.feqdt;
    string sfeqdt = ViewBag.sfeqdt;
    if (feqdt == null || feqdt == "")
    { feqdt = DateTime.Now.ToString(); }
    string val = "";
    string color = "", display="";
    string lastmodid = ViewBag.lastmodid;
    string lastmodname = ViewBag.lastmodname;
    //取得最大的約束次數
    string bounttime = "1";
    if (dt_a != null && dt_a.Rows.Count > 0)
    {
        for (int n = 0; n < dt_a.Rows.Count - 1; n++)
        {
            DataRow r = dt_a.Rows[n];
            bounttime = r["BOUT"].ToString();
        }
    } 
}
@using System.Data;
@{
     <script type="text/javascript">
        $(function () {
            setGridColor();
            $("#frequency").children().each(function () {                
                if ($(this).text() == "@feq"+"分鐘") {                     
                    //jQuery給法              
                    $(this).attr("selected", "true"); //或是給"selected"也可
                }
            });
        })
     </script>
}
<table border="0" cellpadding="4" cellspacing="1"   style="width:100%;font-size:14px;vertical-align:middle; background-color: #FFFFFF;">
                            @if (dt != null && dt.Rows.Count > 0)
                            {
                                foreach (DataRow r in dt.Rows)
                                {
                                    if(@r["ASSESS"].ToString().Trim() != null && @r["ASSESS"].ToString().Trim() == "0" || r["MODNAME"].ToString().Trim() == "")
                                    { color = "due"; }
                                    else
                                    { color = ""; }
                                    if(r["FEQ"].ToString().Trim() != null && r["FEQ"].ToString().Trim() == "0")
                                    {
                                        display = "none";
                                    }
                                    else
                                    {
                                        display = "";
                                    }
                                <tr style="text-align:center;display:@(display);" class="@(color)" >                                                                   
                                  <td style="width:6%;text-align:center;vertical-align:top;white-space:nowrap;">
                                      @*@if( Category == "AD")*@
                                       @if(loginempno.Trim() == r["MODID"].ToString().Trim() && r["MODNAME"].ToString().Trim() != "")
                                       {
                                          if(r["FEQ"].ToString() != "0") { 
                                            <input type="button" value="刪除" onclick="if(confirm('確定刪除?'))if(doing('delFeq','@r["BINDID"]','@r["ID"]')){$('#form1').attr('action','DelListNew')};submit();" />
                                            }
                                       }
                                      @Html.Raw("<p></p>")
                                     @*   <input type="button" value="刪除" onclick="if(confirm('確定刪除?'))if(doing('delFeq','@r["BINDID"]','@r["ID"]')){$('#form1').attr('action','DelListNew')};submit();" />*@
                                        @if(loginempno.Trim() == r["MODID"].ToString().Trim() || r["MODNAME"].ToString().Trim() == "")
                                        {
                                            if(r["FEQ"].ToString() != "0") { 
                                        <input type="button" value="更改" onclick="window.location.href = 'AssessNew?feq=@r["FEQ"]&bindid=@r["BINDID"]'" />
                                        }
                                        @* 
                                        <input type="button" value="刪除" onclick="if(confirm('確定刪除?'))if(doing('delFeq','@r["BINDID"]','@r["ID"]')){$('#form1').attr('action','DelListNew')};submit();" />*@
                                        }
                                       @* <input type="button" value="更改" onclick="window.location.href = 'AssessNew?feq=@r["FEQ"]&bindid=@r["BINDID"]'" /> 
                                        <input type="button" value="刪除" onclick="if(confirm('確定刪除?'))if(doing('delFeq','@r["BINDID"]','@r["ID"]'))submit();" />*@
                                    </td>
                                    <td style="width:8%;" title="@r["INSID"].ToString().Trim()">@r["ASSESSDT"]</td>
                                     @{
                                    string Temp_REASON_OTHER = string.Empty;
                                    if(r["REASON_OTHER"].ToString() != "")
                                    {
                                        Temp_REASON_OTHER = ":" + r["REASON_OTHER"].ToString();
                                    }
                                    <td style="width:13%;">@r["REASON"]@(Temp_REASON_OTHER)            
                                    </td>
                                    }
                                    @{
                                        string Temp_CONSCIOUS_OTHER=string.Empty;
                                     if(r["CONSCIOUS_OTHER"].ToString() != "")
                                    {
                                        Temp_CONSCIOUS_OTHER = ":" + r["CONSCIOUS_OTHER"].ToString();
                                    }
                                    <td style="width:13%;">@(r["CONSCIOUS"])@(Temp_CONSCIOUS_OTHER)
                                    </td>
                                    }
                                    <td style="width:7%;">@r["PULSE"]
                                    </td>
                                    <td style="width:7%;">@r["TIGHTNESS"]
                                    </td>
                                    <td style="width:7%;">@r["TEMPERATURE"]
                                    </td>
                                    <td style="width:5%;">@r["COLOUR"]
                                    </td>
                                    <td style="width:5%;">@r["INTEGRITY"]
                                    </td>
                                    <td style="width:6%;">@r["FEELING"]
                                    </td>
                                    <td style="width:9%;">@r["REMOVE"]
                                    </td>
                                    <td style="width:7%;">@r["REMARK"]
                                    </td>
                                    <td style="width:7%;">
                                        @if (@r["MODNAME"].ToString().Trim() != null && @r["MODNAME"].ToString().Trim() != "")
                                        {
                                            @r["MODNAME"]
                                        }
                                        else
                                        {
                                        @r["INSNAME"]
                                        }
                                    </td>
                                </tr>
                                     i++;
                                }
                            }
                        </table>
