@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
@using System.Data;
@{      
    string start = ViewBag.start;
    string ver = ViewBag.ver;
    string id = ViewBag.id;
    string dayt = "";

    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];

}
<script type="text/javascript">
    window.onload = function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });
    }
    function going() {
        start_day = $("#start_day").val();
        start_time = $("#start_time").val();
      //  startdt = $("#startdt").val();
        $("#dayt").val(start_day + " " + start_time);
      //  $("#id").val(id);
   //     alert($("#dayt").val());
      //  var goUrl = 'AssessN?start=' + startdt + '&feq=0';

       // opener.window.location.href = goUrl;
      //  window.location.href = goUrl;
    }
</script>
 <title>@ViewBag.title</title>
<form method="post" action="InsertDate"> 
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="width:100%;text-align:center;padding:0 0 5px 0;">
            <span style="font-size:18px;color:blue;font-weight:bolder;">@ViewBag.content_title</span>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:5px 0 5px 0;">
            <table border="1" cellpadding="0" cellspacing="0" rules="all" frame="box" style="width:300px;font-size:12px;">
                @if (ViewBag.title == "結束約束")
                {
                <tr>
                    <th style=" background-color: #99CCFF;">開始日期時間</th>
                    <td style="height:30px;padding:4px 7px 2px 4px;">
                        @Html.Label("lab",@start)                       
                   @*     @Html.Label("lab",@DateTime.Now.ToString("HH:mm"))*@
                    </td>
                </tr>
              
                }
                <tr>
                    <th style=" background-color: #99CCFF;">@ViewBag.table_title</th>
                    <td style="height:30px;padding:4px 7px 2px 4px;">
                        @Html.TextBox("start_day", @DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px" })
                        @Html.TextBox("start_time", @DateTime.Now.ToString("HH:mm"), new { style = "width:50px" })
                        @*@WebTool.setDateTime("start_day", "start_time")*@ 
                        @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "start_day", "start_time", false)

                    </td>
                </tr>
              @*  @if (ViewBag.title != "結束約束")
                 {
                   <tr>
                    <th style=" background-color: #99CCFF;">評估頻率</th>
                    <td style="height:30px;padding:4px 7px 2px 4px;">
                        <select id="select_feq" name="feq">
                            <option value="15">15分鐘</option>
                            <option value="30">30分鐘</option>
                            <option value="60">60分鐘</option>
                        </select>
                    </td>
                </tr>
                  }*@
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:5px 0 5px 0;">
            <input type="hidden"  value="@ver" name="ver"/> 
            <input  type="hidden"  value="@id" name="id" id="id"/> 
             <input  type="hidden"  value="@dayt" name="dayt" id="dayt"/> 
            @if (ViewBag.title == "結束約束")
            {
             <input type="button" value="確定" onclick="submit(); opener.window.location.reload(); window.close();" />   
            }
            else
            {
            <input type="button" value="確定" onclick="submit(); going(); opener.window.location.href = 'AssessN?id=' + $('#id').val() + '&start=' + $('#dayt').val() + '&feq=0'; window.close();" />   
            }                   
            @*<input type="button" value="確定" onclick="submit();alert('@(ViewBag.title)成功!');opener.window.location.reload();window.close();" />*@
            <input type="button" value="取消" onclick="if (confirm('確定取消')) window.close();" />
        </td>
    </tr>
</table>
</form>