@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tr>
        <td style="width:100%;text-align:center;padding:0 0 5px 0;">
            <input type="button" value="新增約束" onclick="@Java_funcion.pup_window("InsertDate?ver=start",350,150,"")" />
            <input type="button" value="結束約束" onclick="@Java_funcion.pup_window("InsertDate?ver=end",350,150,"")" />
            <input type="button" value="新增評估紀錄" onclick="window.location.href='Assess'" />
            <input type="button" value="列印約束評估紀錄表" onclick="window.location.href = 'Print'" />
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:5px 0 5px 0;">
            <table border="1" cellpadding="0" cellspacing="0" rules="all" frame="box" style="width:300px;font-size:12px;">
                <tr style=" background-color: #99CCFF;">
                    <th>次數</th>
                    <th>開始日期時間</th>
                    <th>結束日期時間</th>
                    <th style="width:15%;height:30px;"></th>
                </tr>
                <tr>
                    <td style="height:30px;">1</td>
                    <td>
                        @Html.Label("lab",@DateTime.Now.ToString("yyyy/MM/dd"))
                        @Html.Label("lab",@DateTime.Now.ToString("HH:mm"))
                    </td>
                    <td></td>
                    <td style="padding:4px 7px 2px 4px;">
                        <input type="button" value="刪除" onclick="confirm('確定刪除?');" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <table border="1" cellpadding="0" cellspacing="0" rules="all" frame="box" style="width:100%;font-size:12px;">
                <tr style=" background-color: #99CCFF;">
                    <th style="width:4%;height:30px;"></th>
                    <th style="width:4%;"></th>
                    <th style="width:10%;">評估日期</th>
                    <th style="width:6%;">約束原因</th>
                    <th style="width:6%;">意識程度</th>
                    <th style="width:10%;">病人反應</th>
                    <th style="width:10%;">約束部位</th>
                    <th style="width:17%;">約束用具</th>
                    <th style="width:3%;">循環</th>
                    <th style="width:5%;">短暫解除<br />約束時間</th>
                    <th style="width:10%;">解除<br />約束活動</th>
                    <th style="width:5%;">約束傷害</th>
                    <th style="width:5%;">狀況說明</th>
                    <th style="width:5%;">紀錄者</th>
                </tr>
                <tr style="text-align:center;">
                    <td style="height:30px;">
                        <input type="button" value="更改" onclick="window.location.href = 'Assess'" />
                    </td>
                    <td>
                        <input type="button" value="刪除" onclick="confirm('確定刪除?');" />
                    </td>
                    <td>
                        @Html.Label("lab",@DateTime.Now.ToString("yyyy/MM/dd"))
                        @Html.Label("lab",@DateTime.Now.ToString("HH:mm"))
                    </td>
                    <td>
                        可能跌倒
                    </td>
                    <td>
                        混亂
                    </td>
                    <td>
                        情緒欠穩
                    </td>
                    <td>
                        手腕
                    </td>
                    <td>
                        棉質腕踝帶
                    </td>
                    <td>
                        @Html.Label("lab", "發白", new { style="color:red;"})
                    </td>
                    <td>
                        十分鐘
                    </td>
                    <td>
                        無
                    </td>
                    <td>
                        @Html.Label("lab", "發白", new { style="color:red;"})
                    </td>
                    <td>
                        -
                    </td>
                    <td>
                        test
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>