@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<script type="text/javascript">
    $(function () {
        close_pup_window();
        $('#start_date').datetimepicker({ showTimepicker: false, maxDateTime: 0});
        $('#end_date').datetimepicker({ showTimepicker: false, maxDateTime: 0});
        setGridColor();
//        var td = $('.link');
//        for (var i = 0; i < td.length; i++) {
//            var color = td[i].parentNode.getAttribute('style').replace('background:', '');
//            td[i].setAttribute("onmouseover", "this.style.cursor='pointer';this.style.backgroundColor='#9966FF';");
//            td[i].setAttribute("onmouseout", "this.style.cursor='pointer';this.style.backgroundColor='" + color + "';");
//            td[i].setAttribute("title", "點擊觀看詳細資料");
//        }
//        $("#" + $("#listval").val()).css("display", "inline");
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }
    var newindex = 0;

    //檢查資料是否有空白
    function checkitemdata() {
        var msg = "";
        $("#item_body").find("tr").each(function () {
            var text = Trim($(this).find("input[name=p_name]").val());
            var value = Trim($(this).find("input[name=p_value]").val());
            if (text == "" || value == "") {
                msg += "編號" + $(this).attr("editid");
                if (text == "")
                    msg += "【顯示文字】";
                if (value == "")
                    msg += "【值】";
                msg += "不可為空白\n";
            }
        });
        return msg;
    }
    function check(num) {
        if (num == 0)
            return true;
        else {
            alert("已有評估 部可刪除");
            return false;
        }
    }
    function doing(id) {
        $("#but").val(id);
   
        //delend刪除結束註記
        //del刪除
        return true;
    }
</script>
@using System.Data;
@{  
    DataTable dt_a = ViewBag.dt_a;
    DataTable dt = ViewBag.dt;
    DataTable dt_s = ViewBag.dt_s;
    string list = ViewBag.list;
    var i = 0;
    String val = "";
 
}
<form method="post" action="List"> 
<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
    <tr>
        <td style="width:100%;text-align:center;padding:0 0 5px 0;">
          @* <input type="button" value="新增約束(測)" onclick="@Java_funcion.pup_window("InsertDate?ver=start", 400, 450, "")" />*@
          @*  <input type="button" value="結束約束(測)" onclick="@Java_funcion.pup_window("InsertDate?ver=end&start=" + dt_a.Rows[dt_a.Rows.Count - 1]["STARTDT"] + "&id=" + dt_a.Rows[dt_a.Rows.Count - 1]["ID"], 400, 450, "")" />*@
                <input id="but" type="hidden"  value="" name="but"/> 
            @if (dt_a != null && dt_a.Rows.Count > 0)
            {
                DataRow r=dt_a.Rows[dt_a.Rows.Count - 1];
                if (r["ENDDT"].ToString().Trim() != null && r["ENDDT"].ToString().Trim() != "")
                {
                    //400/450
                <input type="button" value="新增約束" onclick="@Java_funcion.pup_window("InsertDate?ver=start", 600, 650, "")" />}
                else
                {                                                                                                                
                <input type="button" value="結束約束" onclick="@Java_funcion.pup_window("InsertDate?ver=end&start=" + r["STARTDT"] + "&id=" + r["ID"],  600, 650, "")" />
                <input type="button" value="新增評估紀錄" onclick="window.location.href='Assess?id=@r["ID"]&assess=@r["ASSESS"]&feq=@r["FEQ"]&start=@r["STARTDT"]&bout=@r["BOUT"]'" />
                }
                                                                                                                                                                              
            }
            else
            { 
                <input type="button" value="新增約束" onclick="@Java_funcion.pup_window("InsertDate?ver=start", 600,650, "")" />          
            }           
           @* <input type="button" value="列印約束評估紀錄表" onclick="window.location.href = 'Print'" />*@
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:5px 0 5px 0;">            
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
                <td>
                    <div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width: 100%;">
                            <tr>                           
                                <td style="width: 10%;">次數</td>
                                <td style="width: 40%;">開始日期</td>
                                <td style="width: 40%;">結束日期</td>
                                <td style="width: 10%;">刪除</td>
                            </tr>
                        </table>
                    </div>
                    <div class="dataArea" style="height: 100px;">
                        <table id="table_io" border="0" cellpadding="4" cellspacing="1" style="width: 100%; background-color: #FFFFFF;">
                              @if (dt_a != null && dt_a.Rows.Count > 0)
                              {
                                  for (int n = 0; n < dt_a.Rows.Count - 1; n++)
                                  {
                                      DataRow r = dt_a.Rows[n];
                                         <tr>                              
                                            <td style="width: 10%;">
                                                @r["BOUT"]
                                            </td>
                                            <td style="width: 40%;">
                                             @r["STARTDT"]
                                            </td>
                                            <td style="width: 40%;">
                                                @r["ENDDT"]
                                            </td>
                                            <td style="width: 10%; text-align: center;">
                                                @*<input type="button" value="刪除" onclick="confirm('確定刪除?');" />
                                                <input id="del" type="button" value="刪除"  style="display: none;"/>*@
                                            </td>
                                        </tr>
                                      i++;
                                  }
                                  {
                                      DataRow r = dt_a.Rows[dt_a.Rows.Count - 1];
                                         <tr>                              
                                            <td style="width: 10%;">
                                                @r["BOUT"]
                                            </td>
                                            <td style="width: 40%;">
                                               @r["STARTDT"]
                                            </td>
                                            <td style="width: 40%;">
                                                @r["ENDDT"]
                                            </td>
                                            <td style="width: 10%; text-align: center;">                                           
                                              @if (@r["ASSESS"].ToString().Trim() != "0")
                                              {
                                                  val = "disabled";
                                                                                               }
                                              @if (@r["ENDDT"].ToString().Trim() == null  || @r["ENDDT"].ToString().Trim() == "")
                                              {
                                                <input type="button" value="刪除"   onclick="if(check('@r["ASSESS"]'))if(confirm('確定刪除?'))if(doing('del'))submit();"  "@val" />
                                              }
                                              else
                                              {
                                               <input type="button" value="刪除結束註記" onclick="if(confirm('確定刪除?'))if(doing('delend'))submit();" />
                                               }
                                                 <input type="hidden"  value="@r["ID"]" name="id"/> 
                                            </td>
                                        </tr>
                                              i++;
                                  }
                              }                              
                        </table>
                    </div>
                </td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <table border="1" cellpadding="0" cellspacing="0" rules="all" frame="box" style="width:100%;font-size:12px;">
          
           <tr>
                <td>
                    <div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width: 100%;">
                            <tr>
                                @*<td style="width:8%;"></td>*@
                                <td style="width:10%;">評估日期</td>
                                <td style="width:6%;">約束原因</td>
                                <td style="width:6%;">意識程度</td>
                                <td style="width:10%;">病人反應</td>
                                <td style="width:10%;">約束部位</td>
                                <td style="width:17%;">約束用具</td>
                                <td style="width:3%;">循環</td>
                                <td style="width:5%;">短暫解除<br />約束時間</td>
                                <td style="width:10%;">解除<br />約束活動</td>
                                <td style="width:5%;">約束傷害</td>
                               @* <td style="width:5%;">狀況說明</td>*@
                                <td style="width:5%;">紀錄者</td>
                          </tr>
                        </table>
                    </div>
                    <div class="dataArea" style="height: 265px;">
                        <table border="0" cellpadding="4" cellspacing="1" style="width: 100%; background-color: #FFFFFF;">
                            @if (dt != null && dt.Rows.Count > 0)
                            {
                                foreach (DataRow r in dt.Rows)
                                {
                                    string [] other={"","","","","","","",""};
                                    if (@r["OTHER"].ToString().Trim() != null && @r["OTHER"].ToString().Trim() != "")
                                    { 
                                      other=@r["OTHER"].ToString().Split(',');
                                    }
                                <tr style="text-align: center;">                                                                   
                                  @*<td style="width:8%;">
                                        <input type="button" value="更改" onclick="window.location.href = 'Assess_mod?bindid=@r["BINDID"]'" /> 
                                        <input type="button" value="刪除" onclick="confirm('確定刪除?');" />
                                    </td>*@
                                    <td style="width:10%;">@r["ASSESSDT"]</td>
                                    <td style="width:6%;">@r["REASON"]
                                      @if(other[0]!=""){<a>:@other[0]</a>}                       
                                    </td>
                                    <td style="width:6%;">@r["CONSCIOUS"]
                                    @if(other[1]!=""){<a>:@other[1]</a>}
                                    </td>
                                    <td style="width:10%;">@r["REACTION"]
                                    @if(other[2]!=""){<a>:@other[2]</a>}
                                    </td>
                                    <td style="width:10%;">@r["POSITION"]
                                    @if(other[3]!=""){<a>:@other[3]</a>}
                                    </td>
                                    <td style="width:17%;">@r["TOOL"]
                                    @if(other[4]!=""){<a>:@other[4]</a>}
                                    </td>
                                    <td style="width:3%;">@r["CYCLE"]
                                    @if(other[5]!=""){<a>:@other[5]</a>}
                                    </td>
                                    <td style="width:5%;">@r["PAUSE"]<a>分</a></td>
                                    <td style="width:10%;">@r["ENDING"]
                                    @if(other[6]!=""){<a>:@other[6]</a>}
                                    </td>
                                    <td style="width:5%;">@r["HARM"]
                                    @if(other[7]!=""){<a>:@other[7]</a>}
                                    </td>
                           @*         <td style="width:5%;">
                                     @if (@r["EXPLAIN"].ToString().Trim()== "")
                                     {<a>-</a>}
                                     else
                                     {@r["EXPLAIN"]}                                   
                                    </td>*@
                                    <td style="width:5%;">@r["INSNAME"]</td>
                                </tr>
                                    i++;
                                }
                            }
                        </table>
                    </div>
                </td>
            </tr>               

                

            </table>
        </td>
    </tr>
</table>
</form>