@using System.Data;
@{
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
    ViewBag.Title = "PrintList";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string RootDocument = ViewBag.RootDocument;
    DataTable dt_a = ViewBag.dt_a;
    DataTable dt = ViewBag.dt;
    string color = "", display="";
    string feeno = ViewBag.FeeNo;
}
<style type="text/css">
    .dataArea_PDF td {
        border-bottom: 2px solid rgba(20%,20%,40%,0.5);
    }
</style>
<script type="text/javascript">
    $(function () {
        setGridColor();
    });

    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
        $('.due').css('background', '#FF6666');
    }
</script>
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; font-size: 14px;">
        <tr>
            <td>
                <table border="0" style="width: 100%;">
                    <tr>
                        <td>病人姓名：@ptinof.PatientName</td>
                        @if(ptinof.Birthday != null)
                        {

                            <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                        }
                        else
                        {

                            <td>生日：</td>
                        }
                        <td>年齡：@(ptinof.Age)  &nbsp; 性別：@(ptinof.PatientGender)</td>
                        @*<td>病床號：@ptinof.BedNo</td>*@
                        <td colspan="2">病歷號：@ptinof.ChartNo</td>
                    </tr>
                    <tr>
                        <td>科別：@ptinof.DeptName</td>
                        <td>主治醫師：@ptinof.DocName</td>
                        @if(ptinof.InDate != null)
                        {

                            <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                        }
                        else
                        {

                            <td>住院日期：</td>
                        }
                        <td colspan="2">診斷：@ptinof.ICD9_code1</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
        <td align="center" style="padding: 5px 0 5px 0;">
            <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
                <tr>
                    <td>
                        <div class="dataHeader"  style="margin-right:0px;">
                            <table border="0" cellpadding="4" cellspacing="1" style="width: 100%;">
                                <tr>
                                    <td style="width: 10%;">次數</td>
                                    <td style="width: 30%;">約束方式</td>
                                    <td style="width: 30%;">開始日期</td>
                                    <td style="width: 30%;">結束日期</td>
                                </tr>
                            </table>
                        </div>
                        <div class="dataArea_PDF">
                            <table id="table_io" border="0" cellpadding="4" cellspacing="1" style="width: 100%; font-size: 14px; vertical-align: middle; background-color: #FFFFFF; overflow: scroll;">
                                @if(dt_a != null && dt_a.Rows.Count > 0)
                                {
                                    for(int n = 0; n < dt_a.Rows.Count; n++)
                                    {
                                        DataRow r = dt_a.Rows[n];

                                    <tr class="@r["ASSESS"]">
                                        <td style="width: 10%;text-align:center;">
                                            @r["BOUT"]
                                        </td>
                                         <td style="width: 30%;">
                                                @Html.Raw(r["REASON"])@if(!string.IsNullOrEmpty(r["REASON_OTHER"].ToString())){@Html.Raw(":" + r["REASON_OTHER"])}
                                            </td>
                                        <td style="width: 30%;text-align:center;">
                                            @r["STARTDT"]
                                        </td>
                                        <td style="width: 30%;text-align:center;">
                                            @r["ENDDT"]
                                        </td>
                                    </tr>
                                    }
                                }
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
        </tr>
        <tr>
            <td style="padding: 5px 0 5px 0;">
                <table border="0" cellpadding="0" cellspacing="0" rules="all" frame="box" style="width: 100%; font-size: 12px;">
                    <tr>
                        <td>
                            <div class="dataHeader"  style="margin-right:0px;">
                                <table border="0" cellpadding="4" cellspacing="1" style="width: 100%;">
                                    <tr>
                                        <td style="width: 10%;">評估日期</td>
                                        <td style="width: 14%;">約束方式</td>
                                        <td style="width: 13%;">約束部位</td>
                                        <td style="width: 7%;">脈搏</td>
                                        <td style="width: 7%;">約束鬆緊程度</td>
                                        <td style="width: 7%;">肢體末端溫度</td>
                                        <td style="width: 6%;">顏色</td>
                                        <td style="width: 6%;">皮膚完整性</td>
                                        <td style="width: 7%;">感覺度</td>
                                        <td style="width: 9%;">鬆除約束、翻身、肢體活動、清潔</td>
                                        <td style="width: 7%;">備註</td>
                                        <td style="width: 7%;">紀錄者</td>
                                    </tr>
                                </table>
                            </div>
                           <div class="dataArea_PDF">
                                <table border="0" cellpadding="4" cellspacing="1" style="width: 100%; font-size: 14px; vertical-align: middle; background-color: #FFFFFF;">
                                    @if(dt != null && dt.Rows.Count > 0)
                                    {
                                        foreach(DataRow r in dt.Rows)
                                        {
                                            if(@r["ASSESS"].ToString().Trim() != null && @r["ASSESS"].ToString().Trim() == "0")
                                            { color = ""; }//due//顏色×
                                            else
                                            { color = ""; }
                                            if(r["FEQ"].ToString().Trim() != null && r["FEQ"].ToString().Trim() == "0")
                                            {
                                                display = "none";
                                            }
                                            else
                                            {
                                                display = "";
                                            }
                                        <tr style="text-align:center;display:@(display);" class="@(color)" >
                                            <td style="width:10%;text-align:center;word-break: break-all;" title="@r["INSID"].ToString().Trim()">
                                                @(Convert.ToDateTime(r["ASSESSDT"]).ToString("yyyy/MM/dd"))
                                                <br />
                                                  @(Convert.ToDateTime(r["ASSESSDT"]).ToString("HH:mm:ss"))
                                            </td>
                                            @{
                                            string Temp_REASON_OTHER = string.Empty;
                                            if(r["REASON_OTHER"].ToString() != "")
                                            {
                                                Temp_REASON_OTHER = ":" + r["REASON_OTHER"].ToString();
                                            }
                                                <td style="width: 14%;text-align:center;word-break: break-all;">@r["REASON"]@(Temp_REASON_OTHER)
                                                </td>
                                            }
                                            @{
                                            string Temp_CONSCIOUS_OTHER = string.Empty;
                                            if(r["CONSCIOUS_OTHER"].ToString() != "")
                                            {
                                                Temp_CONSCIOUS_OTHER = ":" + r["CONSCIOUS_OTHER"].ToString();
                                            }
                                                <td style="width: 13%;text-align:center;word-break: break-all;">@(r["CONSCIOUS"])@(Temp_CONSCIOUS_OTHER)
                                                </td>
                                            }
                                            <td style="width: 7%;text-align:center;word-break: break-all;">@r["PULSE"]
                                            </td>
                                            <td style="width: 7%;text-align:center;word-break: break-all;">@r["TIGHTNESS"]
                                            </td>
                                            <td style="width: 7%;text-align:center;word-break: break-all;">@r["TEMPERATURE"]
                                            </td>
                                            <td style="width: 6%;text-align:center;word-break: break-all;">@r["COLOUR"]
                                            </td>
                                            <td style="width: 6%;text-align:center;word-break: break-all;">@r["INTEGRITY"]
                                            </td>
                                            <td style="width: 7%;text-align:center;word-break: break-all;">@r["FEELING"]
                                            </td>
                                            <td style="width: 9%;text-align:center;word-break: break-all;">@r["REMOVE"]
                                            </td>
                                            <td style="width: 7%;text-align:center;word-break: break-all;">@r["REMARK"]
                                            </td>
                                            <td style="width: 7%;text-align:center;">
                                                @if(@r["MODNAME"].ToString().Trim() != null && @r["MODNAME"].ToString().Trim() != "")
                                                {
                                                        @r["MODNAME"]
                                                }
                                                else
                                                {
                                                        @r["INSNAME"]
                                                }
                                            </td>
                                        </tr>
                                        }
                                    }
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
