@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="width:100%;padding:0 0 5px 0;text-align:center;">
            <span style="font-size:18px;color:blue;font-weight:bolder;">約束評估記錄列印查詢條件</span>
        </td>
    </tr>
    <tr>
        <td style="width:100%;padding:0 0 5px 0;">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="padding:0 0 5px 0;">
                        列印日期區間：
                    </td><td>
                        @Html.TextBox("start_date", @DateTime.Now.AddDays(-7).ToString("d"), new {style="width:80px" })
@Html.TextBox("start_time", "0000", new {style="width:50px" })
@Html.Label("lab"," ~ ")
@Html.TextBox("end_date", @DateTime.Now.ToString("yyyy/MM/dd"), new {style="width:80px" })
@Html.TextBox("end_time","1159", new { style = "width:50px" })
                    </td>
                    <td rowspan="2" style="padding:4px 7px 2px 4px;">
                        <input type="button" value="查詢" />
                        <input type="button" value="離開" onclick="window.location.href = 'List';" />
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0 5px 0;">
                        約束次數：
                    </td><td>
                        @Html.TextBox("txtcount", "", new { style="width:80px;"})~
                        @Html.TextBox("txtcount", "", new { style="width:80px;"})
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
