@{
    ViewBag.Title = "Set_VitalSign";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable DT = ViewBag.DT;
}
@using System.Data;
<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        height: 25px;
    }

    .dataHeader td {
        height: 10px;
    }
</style>

<script type="text/javascript">
    $(function () {
        setGridColor();
    });
    $(document).ready(function () {
       @if (DT != null && DT.Rows.Count > 0)
       {
           foreach (DataRow r in DT.Rows)
       {
           @:$('#DDLDecide' + '@r["model_id"]').val('@Html.Raw(r["decide"].ToString())');
       }
    }
    });
    function setGridColor() {
        //格行換色
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }

    function SetVSAbnFunc() {
        if (Check_Req_Alert('請輸入完整資料。')) {
            $.ajax({
                url: '../VitalSign/SetSocialEduSrvData',
                type: 'POST',
                data: $('form[name=FormVSAbnArea]').serialize(),
                success: function (data) {
                    if (data == 'Y') {
                        alert('儲存成功');
                    }
                    else
                        alert('儲存失敗');
                }, complete: function () {
                    //LoadDivContent('../VitalSign/VitalSignAbnormalList', 'DivVitalSignAbnList');
                }
            });
        }
    }
</script>




<form method="post" action="Set_VitalSign_SAVE">


    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
            <td>
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        <tr>
                            <td style="width: 30%; ">
                                顯示名稱
                            </td>
                            <td style=" width: 5%;">
                                限值
                            </td>
                            <td style=" width: 5%; ">
                                判斷
                            </td>
                            <td style=" width: 30%; ">
                                處置項目
                            </td>
                            @*<td style=" width: 15%; ">
                                附加項目
                            </td>
                            <td style=" width: 15%; "></td>*@
                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="height:400px;">
                    <table border="0" cellpadding="4" cellspacing="1" style="width: 100%; hfont-size: 14px; ">
                        @foreach (DataRow r in DT.Rows)
                        {
                            <tr>
                                <td style="width: 30%; ">
                                    <input type="hidden" id="HidModelID@(r["model_id"])" name="HidModelID" value="@r["model_id"]" />
                                    <input readonly type="hidden" id="TxtTitle@(r["model_id"])" name="TxtTitle" value="@r["title"]@r["remark"]" class="form-control input-sm req_text" style="width:200px;" onchange="this.value=this.value.replace(/[,]/g,'，')" />
                                    <label>@r["title"]@r["remark"] <span>(@r["model_id"])</span></label>
                                </td>
                                <td style="width:5%; ">
                                    <input type="text" id="TxtValueLimit@(r["model_id"])" style="width:95%" name="TxtValueLimit" value="@r["value_limit"]" class="form-control input-sm req_text" style="width:50px; " onchange="this.value=this.value.replace(/[^0-9\.]/g,'')" />
                                </td>
                                <td style="width:5%; ">
                                    <select id="DDLDecide@(r["model_id"])" name="DDLDecide" class="form-control input-sm" style="display: inline; width: auto">
                                        <option value="&gt;">&gt;</option>
                                        <option value="&gt;=">&gt;=</option>
                                        <option value="=">=</option>
                                        <option value="&lt;">&lt;</option>
                                        <option value="&lt;=">&lt;=</option>
                                    </select>
                                </td>
                                <td style=" width: 30%; ">
                                    <input type="text" id="TxtItem@(r["model_id"])" style="width:95%" name="TxtItem" value="@r["item"]" class="form-control input-sm" onchange="this.value=this.value.replace(/[,]/g,'，')" />
                                </td>
                                @*<td style=" width: 15%; ">
                                    <input type="text" id="TxtOtherItem@(r["model_id"])" style="width:95%" name="TxtOtherItem" value="@r["other_item"]" class="form-control input-sm" onchange="this.value=this.value.replace(/[,]/g,'，')" />
                                </td>
                                <td style=" width: 15%; ">
                                    <input type="text" id="TxtOtherTitle@(r["model_id"])" style="width:95%" name="TxtOtherTitle" value="@r["other_title"]" class="form-control input-sm" onchange="this.value=this.value.replace(/[,]/g,'，')" />
                                </td>*@
                            </tr>
                        }

                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div align="center">
                    <input class="btn btn-primary btn-sm" type="button" value="儲存" onclick="submit();" />

                </div>
            </td>
        </tr>
    </table>
    
    兒童/嬰兒/新生兒的註記說明: ( _x 意義)<br />
    <label>_a : (18歲以上/一般)</label><br />
    <label>_y : 小於19歲 </label><br />
    <label>_c : 小於12歲 </label><br />
    <label>_t : 小於5歲 </label><br />
    <label>_b : 小於18個月</label><br />
    <label>_n : 小於1個月 </label><br />




</form>