@{
    string[] df_data = new string[] { "", "", "", "", "" };
    if (Request["df_data"] != null)
    {
        string tmp = "";
        if (Request["df_data"].ToString().Split('|').Length!=5)
        { tmp = Request["df_data"].ToString() + "||||"; }
        else
        {tmp = Request["df_data"].ToString();}


        df_data = tmp.ToString().Split('|');
    }

    string desc = string.Empty;
    switch (ViewData["ps_type"].ToString())
    {

        case "數字量表":        
    @VitalSign_Helper.vs_part_radio("ps_record", "(0)|(1)|(2)|(3)|(4)|(5)|(6)|(7)|(8)|(9)|(10)", df_data[0])
            break;
        case "臉譜量表":
    <table class="ps_type">
        <script type="text/javascript">
            $(document).ready(function () {
                @Html.Raw("var cvalue = \"" + df_data[0] + "\";")
                $(".ps_type input[type=radio]").each(function () {
                    if ($(this).val() == cvalue) {
                        $(this).prop("checked", true);
                    }
                });
            });
        </script>
        <tr>
            <td align="center" colspan="5">
                <img src="~/Images/NumericalPainScale/ps_chart_up.png" alt="" width="225" />
            </td>
        </tr>
        <tr>
            <td align="center">
                @Html.RadioButton("ps_record", "(0)", false, new { @id = "children0" })
                @Html.Label("children0", "0")
            </td>
            <td align="center">
                @Html.RadioButton("ps_record", "(1)", false, new { @id = "children1" })
                @Html.Label("children1", "1")
            </td>
            <td align="center">
                @Html.RadioButton("ps_record", "(2)", false, new { @id = "children2" })
                @Html.Label("children2", "2")
            </td>
            <td align="center">
                @Html.RadioButton("ps_record", "(3)", false, new { @id = "children3" })
                @Html.Label("children3", "3")
            </td>
            <td align="center">
                @Html.RadioButton("ps_record", "(4)", false, new { @id = "children4" })
                @Html.Label("children4", "4")
            </td>
            <td align="center">
                @Html.RadioButton("ps_record", "(5)", false, new { @id = "children5" })
                @Html.Label("children5", "5")
            </td>
        </tr>
        <tr>
            <td align="center" colspan="5">
                <img src="~/Images/NumericalPainScale/ps_chart_down.png" alt="" width="225" />
            </td>
        </tr>
        <tr>
            <td align="center">
                @Html.RadioButton("ps_record", "(6)", false, new { @id = "children6" })
                @Html.Label("children6", "6")
            </td>
            <td align="center">
                @Html.RadioButton("ps_record", "(7)", false, new { @id = "children7" })
                @Html.Label("children7", "7")
            </td>
            <td align="center">
                @Html.RadioButton("ps_record", "(8)", false, new { @id = "children8" })
                @Html.Label("children8", "8")
            </td>
            <td align="center">
                @Html.RadioButton("ps_record", "(9)", false, new { @id = "children9" })
                @Html.Label("children9", "9")
            </td>
            <td align="center">
                @Html.RadioButton("ps_record", "(10)", false, new { @id = "children10" })
                @Html.Label("children10", "10")
            </td>
        </tr>
    </table>
            break;
        case "困難評估(成人)":
        @VitalSign_Helper.ps_radio_item("呼吸", "ps_r1", "(0)正常|(1)略喘|(2)喘(有明顯呼吸音)/呼吸呈現陳施氏呼吸型態(Cheyne-Stokes respiration)", df_data[0])<hr />
        @VitalSign_Helper.ps_radio_item("非言語表達", "ps_r2", "(0)無|(1)呻吟聲|(2)大聲呻吟/哭泣", df_data[1])<hr />
        @VitalSign_Helper.ps_radio_item("臉部表情", "ps_r3", "(0)輕鬆自然|(1)蹙眉/憂愁|(2)痛苦狀", df_data[2])<hr />
        @VitalSign_Helper.ps_radio_item("肢體語言", "ps_r4", "(0)微笑/輕鬆|(1)緊張|(2)僵硬/咬緊牙關", df_data[3])<hr />
        @VitalSign_Helper.ps_radio_item("安撫", "ps_r5", "(0)不需要|(1)需要|(2)無法安撫", df_data[4])<hr />

            desc = "1. 0分為無疼痛；1-3分為輕度疼痛；4-5分為中度疼痛；6分以上為重度疼痛。<br />";
            desc += "2. 評分總分>=4分，請通知醫師處理。";
            <input type="text" value="說明" class="tooltip" title="@(desc)" style="border:none;" />
            <input type="hidden" name="ps_record" data-relate_field="ps_r1|ps_r2|ps_r3|ps_r4|ps_r5" value="" />
            break;
        case "困難評估(新生兒)":
        @VitalSign_Helper.ps_radio_item("哭泣", "ps_r1", "(0)無|(1)高音頻的哭泣聲/尚可被安撫|(2)傷心欲絕的高頻哭泣/無法被安撫", df_data[0])<hr />
        @VitalSign_Helper.ps_radio_item("需氧量；血氧飽合濃度高於95%", "ps_r2", "(0)毋須使用氧氣|(1)FiO2 < 30%|(2)FiO2 > 30%", df_data[1])<hr />
        @VitalSign_Helper.ps_radio_item("生命徵象", "ps_r3", "(0)心跳速率及血壓=或<手術/侵入性治療前|(1)心跳速率或血壓較手術/侵入性治療前上升【增加<20%】|(2)心跳速率或血壓較手術/侵入性治療前上升【增加>20%】", df_data[2])<hr />
        @VitalSign_Helper.ps_radio_item("表情", "ps_r4", "(0)平靜，無特殊表情變化|(1)表情扭曲、作鬼臉|(2)表情極度痛苦，出現呻吟聲", df_data[3])<hr />
        @VitalSign_Helper.ps_radio_item("睡眠狀態", "ps_r5", "(0)安睡|(1)經常醒來|(2)無法入眠", df_data[4])<hr />
            desc = "1. 評分總分>=4，請通知醫師處理。<br />";
            desc += "2. 若病童之氧氣需求增加是因為肺部塌陷、氣胸或過度鎮靜所致，而非疼痛所造成，應於護理紀錄上說明。<br />";
            desc += "3. 20%心跳速率之計算：平靜時心跳速率+(心跳速率 X 0.2)<br />";
            desc += "例如：手術前心跳速率為100次/分，20%心率為100+(100X0.2)=120，故術後心跳速率若>=120次/分，則評為2分。血壓值以收縮壓為主，計算方法亦同。<br />";
            desc += "4. 若病童狀況不適用此評估表，應於護理紀錄上載明評估結果及處置方式。";
            <input type="text" value="說明" class="tooltip" title="@(desc)" style="border:none;" />
            <input type="hidden" name="ps_record" data-relate_field="ps_r1|ps_r2|ps_r3|ps_r4|ps_r5" value="" />
            break;
        case "困難評估(兒童)":
        @VitalSign_Helper.ps_radio_item("臉部表情", "ps_r1", "(0)沒有特別的表情或微笑|(1)偶爾出現鬼臉、皺眉、退縮，或對週遭刺激缺乏興趣|(2)下巴頻繁地顫抖或下巴緊閉", df_data[0])<hr />
        @VitalSign_Helper.ps_radio_item("腳部", "ps_r2", "(0)正常位置肢體放鬆|(1)不安、焦躁不安、緊張|(2)拳打腳踢腿拉長伸直", df_data[1])<hr />
        @VitalSign_Helper.ps_radio_item("活動力", "ps_r3", "(0)平靜的躺臥、正常的擺位可以輕鬆移動|(1)扭動不安、前後翻滾身體緊張|(2)身體拱起、僵硬、抽搐、痙攣", df_data[2])<hr />
        @VitalSign_Helper.ps_radio_item("哭泣", "ps_r4", "(0)沒有哭泣(醒著或睡著)|(1)呻吟或哽咽偶而哭吵|(2)不斷哭吵、尖叫、啜泣", df_data[3])<hr />
        @VitalSign_Helper.ps_radio_item("安撫", "ps_r5", "(0)滿足的、放鬆的|(1)撫觸、擁抱、說話，或轉移注意，可稍加安撫|(2)難以安撫", df_data[4])<hr />
            desc = "註：<hr />0分為無疼痛；<br />1-3分為輕度疼痛；<br />4-5分為中度疼痛；<br />6分以上為重度疼痛。<br />評分總分>=4分，請通知醫師處理。";
            <input type="text" value="說明" class="tooltip" title="@(desc)" style="border:none;" />
            <input type="hidden" name="ps_record" data-relate_field="ps_r1|ps_r2|ps_r3|ps_r4|ps_r5" value="" />
            break;
        case "CPOT評估(加護單位)":
        @VitalSign_Helper.ps_radio_item("臉部表情", "ps_r1", "(0)未見面部肌肉緊張|(1)表現為皺眉，面部肌肉緊張|(2)出現以上所有表情並雙眼緊閉", df_data[0])<hr />
        @VitalSign_Helper.ps_radio_item("身體動作", "ps_r2", "(0)安靜，無運動（不一定表示無疼痛）|(1)緩慢小心地移動，輕撫痛處，通過移動身體引起別人的注意|(2)拉扯氣管插管，試圖坐起，在床上翻來覆去，不配合指示，襲擊工作人員，試圖翻越床欄", df_data[1])<hr />
        @VitalSign_Helper.ps_radio_item("肌肉緊張", "ps_r3", "(0)被動運動時無阻力|(1)被動運動時有阻力|(2)被動運動時阻力非常大，無法完成動作", df_data[2])<hr />
        @VitalSign_Helper.ps_radio_item("呼吸器", "ps_r4", "(0)無呼吸器說話時語調平穩或不出聲|(1)無呼吸器嘆息、呻吟|(2)無呼吸器哭喊、抽泣|(0)有呼吸器通氣順暢，無呼吸機報警|(1)有呼吸器嗆咳，呼吸機報警觸發，疼痛時自主呼吸暫停|(2)有呼吸器人機不同步，呼吸機頻繁報警", df_data[3])<hr />
        <input type="hidden" name="ps_record" data-relate_field="ps_r1|ps_r2|ps_r3|ps_r4" value="" />
            break;
        default:
            break;
    }        
}