@{
    string[] df_data1 = new string[] { "", "", "", "", "", "" };
    if (Request["df_data1"] != null)
    {
        string tmp = "";
        if (Request["df_data1"].ToString().Split('|').Length != 6)
        { tmp = Request["df_data1"].ToString() + "|||||"; }
        else
        { tmp = Request["df_data1"].ToString(); }


        df_data1 = tmp.ToString().Split('|');
    }

    <script type="text/javascript">
        $(document).ready(function () {
                                $("#gc .gcsData input[name=gc_r1][value='@df_data1[0]']").prop('checked', true).trigger('click');
                                $("#gc .gcsData input[name=gc_r2][value='@df_data1[1]']").prop('checked', true).trigger('click');
                                $("#gc .gcsData input[name=gc_r3][value='@df_data1[2]']").prop('checked', true).trigger('click');
                            });
    </script>
    string desc = string.Empty;
    switch (ViewData["gc_type"].ToString())
    {

        case "成人(5歲以上)":
            <input type="hidden" name="gc_record" relate_field="gc_r1|gc_r2|gc_r3|gc_E_record|gc_V_record|gc_M_record" value="" />
            <fieldset>
                <legend>昏迷指數</legend>
                <div id="gc_E">
                    @VitalSign_Helper.gcs_radio_item("(E)睜眼反射", "gc_r1", "(4分)Spontaneous|(3分)To speech|(2分)To pain|(1分)None|(C)無法睜眼", df_data1[0])
                    <hr />
                </div>
                <div id="gc_V">
                    @VitalSign_Helper.gcs_radio_item("(V)語言反射", "gc_r2", "(5分)Orientated|(4分)Confuse|(3分)Inappropriate Word|(2分)Incomprehensible|(1分)None|(T)氣切管|(A)失語症|(E)氣管內管", df_data1[1])
                    <hr />
                </div>
                <div id="gc_M">
                    @VitalSign_Helper.gcs_radio_item("(M)運動反射", "gc_r3", "(6分)Obeys Command|(5分)Localized to pain|(4分)Withdraw to pain|(3分)Flexion to pain|(2分)Extension to pain|(1分)None", df_data1[2])
                </div>
            </fieldset>
            break;
        case "兒童(2歲-不足5歲)":
            <input type="hidden" name="gc_record" relate_field="gc_r1|gc_r2|gc_r3" value="" />
            <fieldset>
                <legend>昏迷指數</legend>
                @VitalSign_Helper.gcs_radio_item("(E)睜眼反射", "gc_r1", "(4分)自行睜眼|(3分)聽到聲音|(2分)痛刺激|(1分)無反應|(C)無法睜眼", df_data1[0])<hr />
                @VitalSign_Helper.gcs_radio_item("(V)語言反射", "gc_r2", "(4分)可說話|(3分)發出聲音|(2分)會哭|(1分)無反應|(T)氣切管|(A)失語症|(E)氣管內管", df_data1[1])<hr />
                @VitalSign_Helper.gcs_radio_item("(M)運動反射", "gc_r3", "(6分)活動可依指令而行|(5分)對痛反應良好|(4分)對痛可稍許活動|(3分)對痛呈肢體屈曲|(2分)對痛呈肢體伸張|(1分)無反應", df_data1[2])
            </fieldset>
            break;
        case "幼兒(1歲-不足兩歲)":
            <input type="hidden" name="gc_record" relate_field="gc_r1|gc_r2|gc_r3" value="" />
             <fieldset>
                <legend>昏迷指數</legend>
                @VitalSign_Helper.gcs_radio_item("(E)睜眼反射", "gc_r1", "(4分)自行睜眼|(3分)聽到聲音|(2分)痛刺激|(1分)無反應|(C)無法睜眼", df_data1[0])<hr />
                @VitalSign_Helper.gcs_radio_item("(V)語言反射", "gc_r2", "(4分)可說話|(3分)發出聲音|(2分)會哭|(1分)無反應|(T)氣切管|(A)失語症|(E)氣管內管", df_data1[1])<hr />
                @VitalSign_Helper.gcs_radio_item("(M)運動反射", "gc_r3", "(5分)對痛反應良好|(4分)對痛可稍許活動|(3分)對痛呈肢體屈曲|(2分)對痛呈肢體伸張|(1分)無反應", df_data1[2])
            </fieldset>
            break;
        case "嬰兒(7個月-不足12個月)":
            <input type="hidden" name="gc_record" relate_field="gc_r1|gc_r2|gc_r3" value="" />
            <fieldset>
                <legend>昏迷指數</legend>
                @VitalSign_Helper.gcs_radio_item("(E)睜眼反射", "gc_r1", "(4分)自行睜眼|(3分)聽到聲音|(2分)痛刺激|(1分)無反應|(C)無法睜眼", df_data1[0])<hr />
                @VitalSign_Helper.gcs_radio_item("(V)語言反射", "gc_r2", "(3分)發出聲音|(2分)會哭|(1分)無反應|(T)氣切管|(A)失語症|(E)氣管內管", df_data1[1])<hr />
                @VitalSign_Helper.gcs_radio_item("(M)運動反射", "gc_r3", "(5分)對痛反應良好|(4分)對痛可稍許活動|(3分對痛呈肢體屈曲)|(2分)對痛呈肢體伸張|(1分)無反應", df_data1[2])
            </fieldset>
            break;
        case "嬰兒(出生-不足6個月)":
            <input type="hidden" name="gc_record" relate_field="gc_r1|gc_r2|gc_r3" value="" />
             <fieldset>
                <legend>昏迷指數</legend>
                @VitalSign_Helper.gcs_radio_item("(E)睜眼反射", "gc_r1", "(4分)自行睜眼|(3分)聽到聲音|(2分)痛刺激|(1分)無反應|(C)無法睜眼", df_data1[0])<hr />
                @VitalSign_Helper.gcs_radio_item("(V)語言反射", "gc_r2", "(3分)發出聲音|(2分)會哭|(1分)無反應|(T)氣切管|(A)失語症|(E)氣管內管", df_data1[1])<hr />
                @VitalSign_Helper.gcs_radio_item("(M)運動反射", "gc_r3", "(3分)肢體屈曲|(2分)肢體伸張|(1分)無反應", df_data1[2])
            </fieldset>
            break;       
        default:
            break;
    }
}