@{
   
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">
  .dataArea td {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    text-align: left;
  }
</style>

<script type="text/javascript">
    window.onload = function () {
        setGridColor();
        $(window).resize(function () {
            $(".dataArea").outerHeight($(this).outerHeight() - 100);
        }).trigger("resize");
    }

    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }
</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<div class="funcArea">
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    @ViewBag.title
    <tr>
        <td>
            <div class="dataHeader">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                    <tr>
                        <td style="width:20%;">項目</td>
                        <td style="width:40%;">值</td>
                        <td style="width:40%; @ViewBag.unitCol">單位</td>
                    </tr>
                </table>
            </div>
            <div class="dataArea">
                @if (dt != null && dt.Rows.Count > 0)
                {
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                    @foreach (DataRow r in dt.Rows)
                    {
                    <tr>
                        <td style="width:20%;">@r["item"]</td>
                        <td style="width:40%;color:@r["color"]">@r["value"].ToString().Replace("|", "#")</td>
                        <td style="width:40%;@ViewBag.unitCol">@r["unit"]</td>
                    </tr>
                    }
                </table>
                }
            </div>
        </td>
    </tr>
    <tr>
        <td style="text-align:center;padding-top:10px;">
            <input type="button" value="關閉" style="width:60px;" onclick="window.close();" />
        </td>
    </tr>
</div>
