@using NIS.Controllers;
@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}

<script type="text/javascript">
    $(document).ready(function () {
        //格行換色
        setTimeout(function () { $(".dtl_VS").gridColor(); }, 800);

        @if (Request["message"] != null)
        {
        @:showHint("@(Request["message"].ToString())");
        }
    });
    //帶入生命徵象頁面
    function btn_write( d,t,bt, mp, bf, bph, bpl, sp) {     
       
        if ( d != null && d!="")
        {         
            window.opener.document.getElementById('vs_date').value = d;        
        }
        if ( t != null && t!="" )
        {          
            window.opener.document.getElementById('vs_time').value = t;
        }
       

        if (bt != null && bt != "" && bt != "0.0")
            window.opener.document.getElementById('bt_text').value = bt;
        if (mp != null && mp != "" && mp != "0")
            window.opener.document.getElementById('mp_text').value = mp;
        if (bf != null && bf != "" && bf != "0")
            window.opener.document.getElementById('bf_text').value = bf;
        if (bph != null && bph != "" && bph != "0")
            window.opener.document.getElementById('bph_text').value = bph;
        if (bpl != null && bpl != "" && bpl != "0")
            window.opener.document.getElementById('bpl_text').value = bpl;
        if (sp != null && sp != "" && sp != "0")
            window.opener.document.getElementById('sp_text').value = sp;              
    }
</script>

@{
    DateTime start = Convert.ToDateTime(ViewBag.start);
    DateTime end = Convert.ToDateTime(ViewBag.end);
  //  DataTable dt_check = ViewBag.dt_check;
    string func = "window.location.href = 'VitalSign_Interfacing?feeno=" + @ViewBag.feeno + "&starttime=' + $('#stDate').val() + ' ' + $('#stTime').val() + '&endtime=' + $('#edDate').val() + ' ' + $('#edTime').val()";
}
<div class="funcArea">
    <table style="width:100%;">
        <tr>
            <td>
                <fieldset>
                    <legend>查詢區間</legend>
                    @(Html.TextBox("stDate", start.ToString("yyyy/MM/dd")))
                    @(Html.TextBox("stTime", start.ToString("HH:mm")))
                    ~
                    @(Html.TextBox("edDate", end.ToString("yyyy/MM/dd")))
                    @(Html.TextBox("edTime", end.ToString("HH:mm")))
                    @*@WebTool.setDateTime("stDate", "stTime")
                    @WebTool.setDateTime("edDate", "edTime")*@
                    @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "stDate", "stTime", false)
                    @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "edDate", "edTime", false)
                    <input type="button" value="查詢" onclick="@func" />
                    (紅色數值表過高，藍色數值表過低)
                </fieldset>
            </td>
        </tr>
    </table>
</div>
<div>
    <table style="width: 100%;border-spacing:0px 0px;" cellspacing="0">
        <tr>
 
            <td style="vertical-align: top; width: 90%;">
                <div class="dataHeader" id="dataHeader" style="width: 98%;">
                    <table id="table_dataHeader" border="0" cellpadding="4" cellspacing="1" style="table-layout: fixed; white-space: nowrap; font-size: 14px; width: 100%;" class="dtl_VS">
                    
                    <tr>
                        <td style="width: 40px; height: 35px;">帶入</td>
                        <td style="width: 100px; height: 35px;">日期</td>
                        <td style="width: 40px; height: 35px;">體溫</td>
                        <td style="width: 40px;">心跳</td>
                        <td style="width: 40px;">呼吸</td>
                        <td style="width: 60px;">血壓(H/L)</td>
                        <td style="width: 40px;">血氧</td>                       
                     
                    </tr>
                </table>
            </div>
            <!-- 表頭隨著資料內容一起動 -->
            <div class="dataArea"  style="width:100%;overflow-x:scroll;">
                <table id="table_dataArea" border="0" cellpadding="4" cellspacing="1" style="table-layout: fixed; white-space: nowrap; width: 100%" class="dtl_VS">
               @{
                   if (ViewData["result"] != null)
                    {
                        List<VitalSignbyDate> vsDataList = (List<VitalSignbyDate>)ViewData["result"];
                        for (int i = 0; i <= vsDataList.Count - 1; i++)
                        {
                            //List<VitalSignbyDate> vsd = vsDataList[i].
                            <tr>
                                <td style="width: 40px; height: 35px;">
                                    @*<input type="button" value="帶入" onclick="btn_write(@vsDataList[i].TEMP,@vsDataList[i].HR,@vsDataList[i].RESP,@vsDataList[i].SYSTOLIC,@vsDataList[i].DIATOLIC,@vsDataList[i].SPO2);" />*@
                                    <input type="button" value="帶入" onclick="btn_write('@(Convert.ToDateTime(vsDataList[i].MDATE).ToString("yyyy/MM/dd"))','@(Convert.ToDateTime(vsDataList[i].MDATE).ToString("HH:mm"))','@(vsDataList[i].TEMP)','@(vsDataList[i].HR)','@(vsDataList[i].RESP)','@(vsDataList[i].SYSTOLIC)','@(vsDataList[i].DIATOLIC)','@(vsDataList[i].SPO2)');window.close();" />
                                    @*<input type="button" value="帶入" onclick="btn_write(@Convert.ToDateTime(vsDataList[i].MDATE).ToString("yyyy/MM/dd"),@Convert.ToDateTime(vsDataList[i].MDATE).ToString("HH:mm"),@Convert.ToDouble(vsDataList[i].TEMP),@Convert.ToDouble(vsDataList[i].HR),@Convert.ToDouble(vsDataList[i].RESP),@vsDataList[i].SYSTOLIC,@Convert.ToDouble(vsDataList[i].DIATOLIC),@Convert.ToDouble(vsDataList[i].SPO2));" />*@
                                </td>
                                <td style="width: 100px; height: 35px;">@Convert.ToDateTime(vsDataList[i].MDATE).ToString("yyyy/MM/dd HH:mm")</td>
                                <td style="width: 40px; height: 35px;">@vsDataList[i].TEMP</td>
                                <td style="width: 40px;">@if (@vsDataList[i].HR.ToString().Trim()!="0.0"){@vsDataList[i].HR}</td>
                                <td style="width: 40px;">@if (@vsDataList[i].RESP.ToString().Trim() != "0"){@vsDataList[i].RESP}</td>                          
                                <td style="width: 60px;">@if (@vsDataList[i].SYSTOLIC.ToString().Trim() != "0"){@vsDataList[i].SYSTOLIC}
                                 /@if (@vsDataList[i].DIATOLIC.ToString().Trim() != "0"){@vsDataList[i].DIATOLIC} </td>
                                <td style="width: 40px;">@if (@vsDataList[i].SPO2.ToString().Trim() != "0"){@vsDataList[i].SPO2}</td>          
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </td>
</tr>
</table>
</div>