@{
    string[] item = (string[])ViewData["item"];
    string[] now_item = (string[])ViewData["now_item"];
    string[] other_memo = (string[])ViewData["other_memo"];
    string title = (string)ViewData["title"];
    string model_name = (string)ViewData["model_name"];

    if (item != null)
    {
    <span style="font-weight: bold; color: #551100;">@(title)</span>@:&nbsp;&nbsp;
    @Html.Raw("<input type=\"button\" value=\"帶入\" onclick=\"carrin_data('" + model_name + "');\" />")
    <input type="button" value="取消" onclick="$('#vs_prompt').slideUp(500);" />
    <hr />
    <table id="main_memo">
        @for (int i = 0; i <= item.Length - 1; i++)
        {
            string chkflag = string.Empty;
            if (now_item != null)
            {
                for (int j = 0; j <= now_item.Length - 1; j++)
                {
                    if (now_item[j].ToString() == item[i].ToString())
                    {
                        chkflag = "checked";
                        break;
                    }
                }
            }
            <tr>
                <td valign="top">
                    <input id="@("vs_addition_" + i.ToString())" type="checkbox" value="@(item[i])" @(chkflag) />
                </td>
                <td>
                    <label for="@("vs_addition_" + i.ToString())">
                        @(item[i])
                    </label>
                </td>
            </tr>
        }
    </table>
    <hr />
    <span style="font-weight: bold; color: #551100;">@(title)</span>@:&nbsp;&nbsp;
    @Html.Raw("<input type=\"button\" value=\"帶入\" onclick=\"carrin_data('" + model_name + "');\" />")
    <input type="button" value="取消" onclick="$('#vs_prompt').slideUp(500);" />
    @*
        if (ViewData["other_title"] != null)
        {

            string[] other_item = (string[])ViewData["other_item"];
    <hr />
    <span style="font-weight: bold; color: #551100;">@(ViewData["other_title"].ToString())</span>
    <table id="other_memo">
        
        @for (int j = 0; j <= other_item.Length - 1; j++)
        {
            string chkflag = string.Empty;
            if (other_memo != null)
            {
                for (int k = 0; k <= other_memo.Length - 1; k++)
                {
                    if (other_memo[k].ToString() == other_item[j].ToString())
                    {
                        chkflag = "checked";
                        break;
                    }
                }
            }
            <tr>
                <td valign="top">
                    <input id="@("vs_ext_" + j.ToString())" type="checkbox" value="@(other_item[j])" @(chkflag) />
                </td>
                <td>
                    <label for="@("vs_ext_" + j.ToString())">
                        @(other_item[j])
                    </label>
                </td>
            </tr>
        }
    </table>
        }*@
    }    
    
}