@using System.Data;
@using NIS.Data

@{
    DataTable dt = ViewBag.dt;
    int x = 0;
    UserInfo ui = (UserInfo)Session["UserInfo"];

}
<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }

    #module_define {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 140);
        }).trigger("resize");
    });
    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }
</script>
<div class="dataArea">
    @if (dt != null && dt.Rows.Count > 0)
    {
        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
            @foreach (DataRow r in dt.Rows)
            {
                string[] TempStrScore = { "是", "否", "無法評估" };
                string TensionStr = "";
                if (!string.IsNullOrEmpty(r["TOTAL_SCORE"].ToString()))
                {
                    int score1 = int.Parse(r["SCORE_1A"].ToString());
                    int score2 = int.Parse(r["SCORE_1B"].ToString());
                    int score3 = int.Parse(r["SCORE_2"].ToString());
                    int tension = int.Parse(r["TOTAL_SCORE"].ToString());

                    if (score1 == 0 && score2 == 0 && score3 == 0 && (tension == 0 || tension == 1))
                    { TensionStr = "「有譫妄，提供譫妄照護，並通知醫療科」"; }
                    else
                    { TensionStr = "「無譫妄」"; }

                }
                else
                {
                    TensionStr = "";
                }

                <tr>
                    <td style="width:8%;text-align:center;" rowspan="2">
                        @*@if (string.IsNullOrEmpty(r["SOURCE"].ToString()))
                        {*@
                            @if (r["MODIFY_USER_NAME"].ToString() == ui.EmployeesName)
                            {
                                <div style="overflow:hidden;width:100%;">
                                    <input type="button" value="修改" pid="@r["ASSESS_ID"]" onclick="window.location.href = 'Insert?id=' + $(this).attr('pid');" style="width:40px;" />
                                    <input type="button" id="" onclick="DelData('@(x)');" value="刪除" />
                                    <input type="hidden" id="assess_id_@(x)" value="@r["ASSESS_ID"]" />
                                </div>
                            }

                        @*}*@
                    </td>
                    <td style="width:10%;text-align:center;" rowspan="2">
                        @Html.Raw(Convert.ToDateTime(r["ASSESS_DT"]).ToString("yyyy/MM/dd HH:mm"))
                    </td>
                    @if (@r["ASSESSMENT_REASON"].ToString() != "其他")
                    {
                        <td rowspan="2" style="width:10%;text-align:center;">@r["ASSESSMENT_REASON"]</td>

                    }
                    else
                    {
                        <td rowspan="2" style="width:10%;text-align:center;">@r["REASON_OTHER"]</td>

                    }

                    <td colspan="2" style="width:20%; padding: unset; height: 0px;"></td>
                    <td rowspan="2" style="width:10%;text-align:center;">@((!string.IsNullOrEmpty(r["SCORE_2"].ToString())) ? (TempStrScore[Convert.ToInt32(r["SCORE_2"])]) : "")</td>
                    <td rowspan="2" style="width:10%;text-align:center;">@((!string.IsNullOrEmpty(r["SCORE_3"].ToString())) ? (TempStrScore[Convert.ToInt32(r["SCORE_3"])]) : "")</td>
                    <td rowspan="2" style="width:10%;text-align:center;">@((!string.IsNullOrEmpty(r["SCORE_4"].ToString())) ? (TempStrScore[Convert.ToInt32(r["SCORE_4"])]) : "")</td>
                    <td rowspan="2" style="width:17%;text-align:center;">
                        @r["RESULT"]
                    </td>
                    <td style="width:8%;text-align:center;" rowspan="2">@r["MODIFY_USER_NAME"]</td>

                </tr>
                <tr>
                    <td style="width:10%;text-align:center; height:33.6px; background-color:#E1E6FA;">@((!string.IsNullOrEmpty(r["SCORE_1A"].ToString())) ? (TempStrScore[Convert.ToInt32(r["SCORE_1A"])]) : "")</td>
                    <td style="width:10%;text-align:center; height:33.6px; background-color:#E1E6FA;">@((!string.IsNullOrEmpty(r["SCORE_1B"].ToString())) ? (TempStrScore[Convert.ToInt32(r["SCORE_1B"])]) : "")</td>
                </tr>


                {
                    x += 1;
                }
            }
        </table>
    }
</div>