@using NIS.Data;
@{
    ViewBag.Title = "TransferDuty_PDF";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<div id="block"style="font-family:EUDC;">
        <table>
            <tr>
                <td>交班日期：@DateTime.Now.ToString("yyyy/MM/dd")&nbsp;  @(ViewData["transcate"].ToString()) &nbsp; </td>
                <td>交班者：@(ViewData["transuser"].ToString()) &nbsp; </td>
                <td>接班者：@(ViewData["SuccessorName"].ToString()) &nbsp; </td>
            </tr>
        </table>
    <div class="dataPrintArea">
        <table border="1" cellpadding="4" cellspacing="0" width="100%" >
            <tr>
                <th style="width:10%;">床號</th>
                <th style="width:22%;">交班事項</th>
                <th style="width:23%;">班內預執行工作項目</th>
                <th style="width:23%;">特殊交班</th>
                <th style="width:22%;">交班註記</th>
            </tr>
            @{
                List<TransList> tdList = (List<TransList>)ViewData["tdList"];
                if(tdList != null){
                    for (int i = 0; i <= tdList.Count - 1; i++)
                    {
                    <tr style="height: auto" >
                        <td style="width:10%; text-align:center;vertical-align: text-top;">
                            @Html.Raw(tdList[i].ptinfo.BedNo)
                            <br />
                            @Html.Raw(tdList[i].ptinfo.PatientName)
                            <br />
                            @Html.Raw(tdList[i].ptinfo.ChartNo)
                            <br />
                            @Html.Raw(tdList[i].ptinfo.Birthday.ToString().Substring(0, 9))
                        </td>
                        <td style="width:22%;text-align: left;vertical-align: text-top;">@Html.Raw(string.Join("<br />", tdList[i].vital_info))</td>
                        <td style="width:23%;text-align: left;vertical-align: text-top;">@Html.Raw(string.Join("<br />", tdList[i].wait_info))</td>
                        <td style="width:23%;text-align: left;vertical-align: text-top;"><pre>@Html.Raw(string.Join("/n", tdList[i].special_info))</pre></td>
                        <td style="width:22%;text-align: left;vertical-align: text-top;">@Html.Raw(tdList[i].remark_info.Replace(',', '\n').Replace('|', '：'))</td>
                    </tr>
                    }
                }
            }
        </table>
    </div>
    </div>