@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
.gv_padding td
{
    padding:4px 7px 2px 4px;
}
.dataArea td {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    text-align: left;
  }
</style>

<script type="text/javascript">
    $(function () {
        setGridColor();
    });

    function setGridColor() {
        //格行換色
        $('.trodd').css('background', '#ABC8E2');
        $('.treven').css('background', '#E1E6FA');
    }

    function able(id) {
        document.getElementById(id).disabled = false;
        document.getElementById(id).focus();
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
    }
    function ckable(obj, txtid) {
        var ck = obj;
        if (ck.checked)
        { able(txtid); }
        else
        { enable(txtid); }
    }
</script>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="padding:5px 0 5px 0;text-align:center;">
            <font style="font-size:28px;color:blue;">心導管檢查護理查核表</font>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <div class="dataHeader">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                    <tr>
                        <td style="width:75%;">心導管檢查前準備項目</td>
                        <td style="width:12%;">病房查核者</td>
                        <td style="width:13%;">導管室查核者</td>
                    </tr>
                </table>
            </div>
            <div class="dataArea" style="height:400px;">
                <table border="0" cellpadding="4" cellspacing="1" width="100%" style="width:100%;background-color: #FFFFFF;">
                    <tr class="trodd">
                        <td style="width:16%;">過敏史</td>
                        <td style="width:59%;">
                            @Html.RadioButton("rb_list_allergy", "", false, new { id = "rb_allergy_not", onclick = @Java_funcion.show_hide("", "dv1") })
                            @Html.Label("rb_allergy_not", "無")
                            @Html.RadioButton("rb_list_allergy", "", false, new { id = "rb_allergy_yes", onclick = @Java_funcion.show_hide("dv1", "") })
                            @Html.Label("rb_allergy_yes", "有")
                            <div id="dv1" style="display:none;">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:90%;">
                                    <tr>
                                        <th style="padding:2px 0 2px 0;text-align:left; font-weight:normal">
                                            @Html.CheckBox("ck_allergy_med", false, new { onclick = "ckable(this,'txt_allergy_med')" })
                                            @Html.Label("ck_allergy_med", "藥物")
                                            @Html.TextBox("txt_allergy_med", "", new { style = "width:80px;", disabled = "disabled" })
                                            @Html.CheckBox("ck_allergy_transblood", false, new { onclick = "ckable(this,'txtallergy_transblood')" })
                                            @Html.Label("ck_allergy_transblood", "輸血")
                                            @Html.TextBox("txtallergy_transblood", "", new { style = "width:80px;", disabled = "disabled" })
                                            @Html.CheckBox("ck_allergy_pct", false, new { onclick = "ckable(this,'txt_allergy_pct')" })
                                            @Html.Label("ck_allergy_pct", "PCT")
                                            @Html.TextBox("txt_allergy_pct", "", new { style = "width:80px;", disabled = "disabled" })
                                        </th>
                                    </tr>
                                    <tr>
                                        <th style="padding:2px 0 2px 0;text-align:left; font-weight:normal">
                                            @Html.CheckBox("ck_allergy_food", false, new { onclick = "ckable(this,'txt_allergy_food')" })
                                            @Html.Label("ck_allergy_food", "食物")
                                            @Html.TextBox("txt_allergy_food", "", new { style = "width:80px;", disabled = "disabled" })
                                            @Html.CheckBox("ck_allergy_developer")
                                            @Html.Label("ck_allergy_developer", "顯影劑")
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td style="width:12%;"></td>
                        <td style="width:13%;"></td>
                    </tr>
                    <tr class="treven">
                        <td>填妥</td>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_consent_1")
                                        @Html.Label("ck_consent_1", "心導管檢查及治療同意書")
                                    </th>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_consent_2")
                                        @Html.Label("ck_consent_2", "麻醉同意書")
                                    </th>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_consent_3")
                                        @Html.Label("ck_consent_3", "手術同意書")
                                    </th>
                                </tr>
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_consent_4")
                                        @Html.Label("ck_consent_4", "CVS會診單")
                                    </th>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_consent_5")
                                        @Html.Label("ck_consent_5", "自願付費同意書")
                                    </th>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_consent_6")
                                        @Html.Label("ck_consent_6", "ICU申請單")
                                    </th>
                                </tr>
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_consent_7")
                                        @Html.Label("ck_consent_7", "心臟電氣生理檢查同意書")
                                    </th>
                                    <th colspan="2" style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_consent_8")
                                        @Html.Label("ck_consent_8", "心導管醫療、衛材自費同意書")
                                    </th>
                                </tr>
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_consent_9")
                                        @Html.Label("ck_consent_9", "心臟電氣整流治療同意書")
                                    </th>
                                    <th colspan="2" style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_consent_10")
                                        @Html.Label("ck_consent_10", "心律不整經導管電氣燒灼術同意書")
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="trodd">
                        <td>檢查報告</td>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_inspection_pt")
                                        @Html.Label("ck_inspection_pt", "PT")
                                        @Html.CheckBox("ck_inspection_ptt")
                                        @Html.Label("ck_inspection_ptt", "PTT")
                                        @Html.CheckBox("ck_inspection_cbc")
                                        @Html.Label("ck_inspection_cbc", "CBC/DC")
                                        @Html.CheckBox("ck_inspection_biochemical")
                                        @Html.Label("ck_inspection_biochemical", "生化")
                                    </th>
                                </tr>
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.Label("txt_inspection_Abnormal", "異常")
                                        @Html.TextBox("txt_inspection_Abnormal", "", new { style = "width:80%;" })
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="treven">
                        <td>通知禁食時間</td>
                        <td>
                            @Html.TextBox("txt_fasting_month", @DateTime.Now.ToString("HH"), new { style = "width:50px;" }) 月
                            @Html.TextBox("txt_fasting_day", @DateTime.Now.ToString("mm"), new { style = "width:50px;" }) 日
                            <select id="hour">
                                @for (int i = 0; i < 24; i++)
                                {
                                    string time = Convert.ToDateTime("00:00").AddHours(i).ToString("HH");
                                    if (time == DateTime.Now.ToString("HH"))
                                    {
                                        <option selected="selected">@time</option>
                                    }
                                    else
                                    {
                                        <option>@time</option>
                                    }
                                }
                            </select>
                            時起
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="trodd">
                        <td>去除</td>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="width:80%;">
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_takeoff_clock")
                                        @Html.Label("ck_takeoff_clock", "手錶")
                                    </th>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_takeoff_accessory")
                                        @Html.Label("ck_takeoff_accessory", "飾物")
                                    </th>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_takeoff_hairpin")
                                        @Html.Label("ck_takeoff_hairpin", "髮夾")
                                    </th>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_takeoff_Nail_Polish")
                                        @Html.Label("ck_takeoff_Nail_Polish", "指甲油")
                                    </th>
                                </tr>
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_takeoff_lipsalve")
                                        @Html.Label("ck_takeoff_lipsalve", "唇膏")
                                    </th>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_takeoff_denture")
                                        @Html.Label("ck_takeoff_denture", "活動假牙")
                                    </th>
                                    <th colspan="2" style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_takeoff_glasses")
                                        @Html.Label("ck_takeoff_glasses", "眼鏡及隱形眼鏡")
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="treven">
                        <td>檢查</td>
                        <td>
                            @Html.CheckBox("ck_Surgical_gowns")
                            @Html.Label("ck_Surgical_gowns", "換妥手術衣")
                            @Html.CheckBox("ck_hand_ring")
                            @Html.Label("ck_hand_ring", "配戴手圈")
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="trodd">
                        <td>按醫囑給藥</td>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.RadioButton("rb_med_adv_1", "", false, new { id="rb_med1"})
                                        @Html.Label("rb_med1", "Valium 2mg 1顆HS po at")
                                        @Html.TextBox("txt_med1_HH", "", new { style="width:50px;"}) :
                                        @Html.TextBox("txt_med1_mm", "", new { style="width:50px;"})
                                        @Html.RadioButton("rb_med_adv_1", "", false, new { id = "rb_med1_no" })
                                        @Html.Label("rb_med1_no", "不需要")
                                    </th>
                                </tr>
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.RadioButton("rb_med_adv_2", "", false, new { id = "rb_med2" })
                                        @Html.Label("rb_med2", "Cefazolin(1.0gm/vial) 1 vial IVD before send cath room 30minutes at")
                                        @Html.TextBox("txt_med2_HH", "", new { style = "width:50px;" }) :
                                        @Html.TextBox("txt_med2_mm", "", new { style = "width:50px;" })
                                        @Html.RadioButton("rb_med_adv_2", "", false, new { id = "rb_med2_no" })
                                        @Html.Label("rb_med2_no", "不需要")
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="treven">
                        <td>測量四肢脈動情形<br />並做記號</td>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        左手
                                        @Html.RadioButton("rb_left_nand", "", false, new { id = "rb_left_nand_1" })
                                        @Html.Label("rb_left_nand_1", "+")
                                        @Html.RadioButton("rb_left_nand", "", false, new { id = "rb_left_nand_2" })
                                        @Html.Label("rb_left_nand_2", "++")
                                        @Html.RadioButton("rb_left_nand", "", false, new { id = "rb_left_nand_3" })
                                        @Html.Label("rb_left_nand_3", "+++")
                                    </th>
                                    <th style="text-align:left; font-weight:normal">
                                        右手
                                        @Html.RadioButton("rb_right_nand", "", false, new { id = "rb_right_nand_1" })
                                        @Html.Label("rb_right_nand_1", "+")
                                        @Html.RadioButton("rb_right_nand", "", false, new { id = "rb_right_nand_2" })
                                        @Html.Label("rb_right_nand_2", "++")
                                        @Html.RadioButton("rb_right_nand", "", false, new { id = "rb_right_nand_3" })
                                        @Html.Label("rb_right_nand_3", "+++")
                                    </th>
                                </tr>
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        左腳
                                        @Html.RadioButton("rb_left_leg", "", false, new { id = "rb_left_leg_1" })
                                        @Html.Label("rb_left_leg_1", "+")
                                        @Html.RadioButton("rb_left_leg", "", false, new { id = "rb_left_leg_2" })
                                        @Html.Label("rb_left_leg_2", "++")
                                        @Html.RadioButton("rb_left_leg", "", false, new { id = "rb_left_leg_3" })
                                        @Html.Label("rb_left_leg_3", "+++")
                                    </th>
                                    <th style="text-align:left; font-weight:normal">
                                        右腳
                                        @Html.RadioButton("rb_right_leg", "", false, new { id = "rb_right_leg_1" })
                                        @Html.Label("rb_right_leg_1", "+")
                                        @Html.RadioButton("rb_right_leg", "", false, new { id = "rb_right_leg_2" })
                                        @Html.Label("rb_right_leg_2", "++")
                                        @Html.RadioButton("rb_right_leg", "", false, new { id = "rb_right_leg_3" })
                                        @Html.Label("rb_right_leg_3", "+++")
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="trodd">
                        <td>檢查當天</td>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_today_1")
                                        @Html.Label("ck_today_1", "D5S 500ml")
                                    </th>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_today_2")
                                        @Html.Label("ck_today_2", "N/S 500ml")
                                    </th>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_today_3")
                                        @Html.Label("ck_today_3", "Taita No4 500ml，Keep IV line")
                                    </th>
                                </tr>
                                <tr>
                                    <th style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_today_4")
                                        @Html.Label("ck_today_4", "左手")
                                    </th>
                                    <th colspan="2" style="text-align:left; font-weight:normal">
                                        @Html.CheckBox("ck_today_5")
                                        @Html.Label("ck_today_5", "右手，加延長管")
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="treven">
                        <td>氧氣存量</td>
                        <td>
                            @Html.RadioButton("rb_stock", "", false, new { id = "rb_stock_no" })
                            @Html.Label("rb_stock_no", "不需要")
                            @Html.RadioButton("rb_stock", "", false, new { id = "rb_stock_yes" })
                            @Html.Label("rb_stock_yes", "足夠")<br />
                            備註：小氧氣桶使用流速/瓶內壓力/使用時間(分) 
                            <table border="0" cellpadding="2" cellspacing="2" style="width:80%;">
                                <tr style="background-color:#99CCFF;">
                                    <td>10L/min</td>
                                    <td>1700psi/50分</td>
                                    <td>1000psi/30分</td>
                                    <td>500psi/15分</td>
                                </tr>
                                <tr style="background-color:#99CCFF;">
                                    <td>5L/min</td>
                                    <td>1700psi/85分</td>
                                    <td>1000psi/50分</td>
                                    <td>1000psi/50分</td>
                                </tr>
                                <tr style="background-color:#99CCFF;">
                                    <td>2L/min</td>
                                    <td>1700psi/100分</td>
                                    <td>1000psi/60分</td>
                                    <td>500psi/30分</td>
                                </tr>
                            </table>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="trodd">
                        <td>排空膀胱</td>
                        <td>
                            @Html.RadioButton("rb_bladder", "", false, new { id = "rb_bladder_yes" })
                            @Html.Label("rb_bladder_yes", "是")
                            @Html.RadioButton("rb_bladder", "", false, new { id = "rb_bladder_no" })
                            @Html.Label("rb_bladder_no", "否")
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="treven">
                        <td>確認病人身分無誤</td>
                        <td>
                            @Html.CheckBox("ck_hand_ring_again")
                            @Html.Label("ck_hand_ring_again", "手圈（姓名、出生年月日）")
                            @Html.CheckBox("ck_case_history_again")
                            @Html.Label("ck_case_history_again", "病歷")
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="trodd">
                        <td>特殊交班</td>
                        <td>
                            @Html.TextArea("txt_specail", "", 3, 60, new { })
                        </td>
                         <td></td>
                        <td></td>
                    </tr>
            </table>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;text-align:center;">
            <div class="funcArea">
                <input type="button" value="儲存" style="width:60px;" onclick="alert('儲存成功!');window.close();" />
                <input type="button" value="取消" style="width:60px;" onclick="if(confirm('確認取消?'))window.close();" />
            </div>
        </td>
    </tr>
</table>