@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">

    .dataArea {
        overflow-y: scroll;
    }

    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: center;
    }

    .item {
        color: blue;
        font-weight: bold;
    }
</style>

<script type="text/javascript">

    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    function setDataAreaSize() {
        var height = $(document).height() - 160 - 30;
        if (height <= 300)
            height = 300;
        $(".dataArea").height(height);
    }

    $(document).ready(function () {
        setGridColor();
        $(window).resize(function () { setDataAreaSize(); }).trigger('resize');
    });

</script>

<div class="dataHeader">
    <table border="0" cellpadding="4" cellspacing="1" width="100%">
        <tr style="height: 30px;">
            <td width="200">項目</td>
            <td>內容</td>
        </tr>
    </table>
</div>
<div class="dataArea">
    <table border="0" cellpadding="4" cellspacing="1" width="100%" style="background-color: #FFFFFF;">
        <tr>
            <td width="200">
                <span class="item">入院原因</span>
            </td>
            <td style="text-align: left;">
                @{
                    PatientInfo piInfo = (PatientInfo)ViewData["ptinfo"];
                    if (piInfo.ICD9_code1 != null || piInfo.ICD9_code1 != "")
                    {
                        @Html.Raw(piInfo.ICD9_code1)

                    }
                    else
                    {
                        @Html.Raw("目前無資料")
                    }
                }
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">過去病史</span>
            </td>
            <td style="text-align: left;">
                @{
                            // if (piInfo.ICD9_code1 != null || piInfo.ICD9_code1 != "")
                            // {
                            //     @Html.Raw(piInfo.ICD9_code1)

                            // }else{
                        @Html.Raw("目前無資料")
                    // }
                }
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">生命徵象(VitalSign)</span>
            </td>
            <td style="text-align: left;">
                @{
                    if (ViewData["vitalsign"] != null)
                    {
                        List<string> vslist = (List<string>)ViewData["vitalsign"];
                        if (vslist.Count == 0)
                        {
                            @Html.Raw("目前無資料")
                        }
                        for (int v = 0; v <= vslist.Count - 1; v++)
                        {
                            @Html.Raw(vslist[v] + "<br />")
                        }
                    }
                    else
                    {
                        @Html.Raw("目前無資料")
                    }
                }
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">意識狀況</span>
            </td>
            <td style="text-align: left;">
                @{
                    if (ViewData["gcs"] != null)
                    {
                        @Html.Raw(ViewData["gcs"].ToString())
                    }
                    else
                    {
                        @Html.Raw("目前無資料")
                    }
                }
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">輸入/輸出</span>
            </td>
            <td style="text-align: left;">
                @{
                    if (ViewData["io"] != null)
                    {
                        List<string> iolist = (List<string>)ViewData["io"];

                        if (iolist.Count == 0)
                        {
                            @Html.Raw("目前無資料")
                        }
                        for (int i = 0; i <= iolist.Count - 1; i++)
                        {
                            @Html.Raw(iolist[i] + "<br />")
                        }
                    }
                    else
                    {
                        @Html.Raw("目前無資料")
                    }
                }
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">管路</span>
            </td>
            <td style="text-align: left;">
                @{
                   @Html.Raw("目前無資料")
                }
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">評估結果</span>
            </td>
            <td style="text-align: left;">
                @Html.Raw("目前無資料")
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">檢驗</span>
            </td>
            <td style="text-align: left;">
                @{
                    if (ViewData["lab"] != null)
                    {
                        List<Lab> lablist = (List<Lab>)ViewData["lab"];
                        if (lablist.Count == 0)
                        {
                            @Html.Raw("目前無資料")
                        }
                        for (int l = 0; l <= lablist.Count - 1; l++)
                        {
                            string labstr = string.Empty;
                            labstr += "[" + lablist[l].LabDate.ToString("yyyy/MM/dd HH:mm:ss") + "]";
                            labstr += " " + lablist[l].LabName.ToString().Trim();
                            labstr += " " + lablist[l].LabValue.ToString().Trim();
                            labstr += " (" + lablist[l].LVH.ToString().Trim();
                            labstr += " / " + lablist[l].LVL.ToString().Trim() + ")";
                            labstr += "<br />";
                            @Html.Raw(labstr)
                        }
                    }
                    else
                    {
                        @Html.Raw("目前無資料")
                    }
                }
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">檢查</span>
            </td>
            <td style="text-align: left;">
                @{
                    if (ViewData["exam"] != null)
                    {
                        List<Exam> examlist = (List<Exam>)ViewData["exam"];
                        if (examlist.Count == 0)
                        {
                            @Html.Raw("目前無資料")
                        }
                        for (int e = 0; e <= examlist.Count - 1; e++)
                        {
                            string examstr = string.Empty;
                            examstr += "[" + examlist[e].ExamDate.ToString("yyyy/MM/dd HH:mm:ss") + "]";
                            examstr += " " + examlist[e].ExamName.ToString().Trim();
                            examstr += "<br />" + examlist[e].ExamReport.ToString().Trim();
                            examstr += "<br />";
                            @Html.Raw(examstr)
                        }
                    }
                    else
                    {
                        @Html.Raw("目前無資料")
                    }
                }
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">評估結果</span>
            </td>
            <td style="text-align: left;">
                @Html.Raw("目前無資料")
            </td>
        </tr>
        <tr>
            <td width="200">
                <!--這個頁面不知到哪裡會用到 不要改錯了-->
                <span class="item">會診</span>
            </td>
            <td style="text-align: left;">
                 @{
                     if (ViewData["call"] != null)
                     {
                         List<Consultation> ConsultationList = (List<Consultation>)ViewData["call"];
                         if (ConsultationList.Count == 0)
                         {
                            @Html.Raw("目前無資料")
                         }
                         for (int e = 0; e <= ConsultationList.Count - 1; e++)
                         {
                             string examstr = string.Empty;
                             examstr += "[" + ConsultationList[e].OrderDate.ToString("yyyy/MM/dd HH:mm:ss") + "]";
                             examstr += " " + ConsultationList[e].ConsDoc.ToString().Trim();
                             examstr += "<br />" + ConsultationList[e].ConsDept.ToString().Trim();
                             examstr += "<br />" + ConsultationList[e].ConsContent.ToString().Trim();                           
                            @Html.Raw(examstr)
                         }
                     }
                     else
                     {
                        @Html.Raw("目前無資料")
                     }
                }
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">血庫</span>
            </td>
            <td style="text-align: left; vertical-align:top;">
                @{
                    if (ViewData["blood"] != null)
                    {
                        List<string> blood = (List<string>)ViewData["blood"];
                        if (blood.Count == 0)
                        {
                            @Html.Raw("目前無資料")
                        }
                        for (int e = 0; e <= blood.Count - 1; e++)
                        {
                            @:@(blood[e].ToString())<br />
                        }
                    }
                    else
                    {
                        @Html.Raw("目前無資料")
                    }
                }
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">手術</span>
            </td>
            <td style="text-align: left;">
                @Html.Raw("目前無資料")
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">護理問題</span>
            </td>
            <td style="text-align: left;">
               @* @{
                    if (ViewData["work"] != null)
                    {
                        List<string> work = (List<string>)ViewData["work"];
                        if (work.Count == 0)
                        {
                            @Html.Raw("目前無資料")
                        }
                        for (int e = 0; e <= work.Count - 1; e++)
                        {
                            @:@(work[e].ToString())<br />
                        }
                    }
                    else
                    {
                        @Html.Raw("目前無資料")
                    }
                }*@
                @if (ViewData["flag"].ToString() == "nur")
                    {
                        System.Data.DataTable dt = ViewBag.nur;
                    <table border="1" width="100%">
                        <tr>
                            <th style="background: #E1E6FA; width: 30%;">開始日期</th>
                            <th style="background: #E1E6FA; width: 70%;">現有護理問題名稱</th>
                        </tr>
                        @foreach (System.Data.DataRow r in dt.Rows)
                        {
                            <tr>
                                <td>
                                    @Convert.ToDateTime(r["PLANSTARTDATE"]).ToString("yyyy/MM/dd HH:mm")
                                </td>
                                <td>
                                    @r["TOPICDESC"]
                                </td>
                            </tr>
                        }
                    </table>
                   } 
                   else
                    {
                        @Html.Raw("目前無資料")
                    }

            </td>
        </tr>   
        <!--
        <tr>
            <td style="height: 30px;">
                <span class="item">處置</span>
            </td>
            <td style="text-align: left;">
                @{
                    if (ViewData["procedure"] != null)
                    {
                        List<Procedure> procedurelist = (List<Procedure>)ViewData["procedure"];
                        if (procedurelist.Count == 0)
                        {
                            @Html.Raw("目前無資料")
                        }
                        for (int l = 0; l <= procedurelist.Count - 1; l++)
                        {
                            string procedurestr = string.Empty;
                            procedurestr += "[" + procedurelist[l].ProcedureDate.ToString("yyyy/MM/dd HH:mm:ss") + "]";
                            procedurestr += " " + procedurelist[l].ProcedureCode.ToString().Trim();
                            procedurestr += " " + procedurelist[l].ProcedureName.ToString().Trim();
                            procedurestr += "<br />";
                            @Html.Raw(procedurestr)
                        }
                    }
                    else
                    {
                        @Html.Raw("目前無資料")
                    }
                }
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">特殊交班事項</span>
            </td>
            <td style="text-align: left;">
                @{
                    if (ViewData["shift_memo"] != null)
                    {
                        if (ViewData["shift_memo"].ToString().Trim() != "")
                        {
                            @Html.Raw(ViewData["shift_memo"].ToString().Trim().Replace("\n", "<br />"))
                        }
                        else
                        {
                            @Html.Raw("目前無資料")
                        }
                    }
                }
            </td>
        </tr>
        <tr>
            <td width="200">
                <span class="item">工作清單</span>
            </td>
            <td style="text-align: left; vertical-align:top;">
                @{
                    if (ViewData["work"] != null)
                    {
                        List<string> work = (List<string>)ViewData["work"];
                        if (work.Count == 0)
                        {
                            @Html.Raw("目前無資料")
                        }
                        for (int e = 0; e <= work.Count - 1; e++)
                        {
                            @:@(work[e].ToString())<br />
                        }
                    }
                    else
                    {
                        @Html.Raw("目前無資料")
                    }
                }
            </td>
        </tr>-->
    </table>
</div>
