@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#inHistoryTable").css('background', '#85A5CC');
        $("#inHistoryTable tr:odd").css('background', '#ABC8E2');
        $("#inHistoryTable tr:even").css('background', '#E1E6FA');
        $("#inHistoryTable tr").mouseover(function () { $(this).addClass("over"); })     //當 mouseover 時加入 "over" 樣式
                         .mouseout(function () { $(this).removeClass("over"); })   //當 mouseout 時移除 "over" 樣式

        $("#inHistoryTable tr").click(function () {
            if ($("#flag").val() == "open") {
                window.location.href = "../TransferDuty/InHistory?chr_no=" + $(this).attr("id");
            }
        });
    });

</script>

<style type="text/css">
    #inHistoryTable {
        table-layout:fixed;
        white-space: nowrap;
        background-color: #FFFFFF; 
        text-align:center;
        border:1px;
        font-size:12px;
        font-family: 微軟正黑體;
    }
    tr.over td{
        background-color: #edee77;
        cursor: pointer;
    }
</style>
<input type="hidden" id="flag" value="@ViewBag.flag" />
@{
    if (ViewData["GetOutList"] != null)
    {

        List<PatientInfo> GetOutList = (List<PatientInfo>)ViewData["GetOutList"];
        GetOutList = GetOutList.OrderByDescending(x => x.OutDate).ToList();
        <p style="font-family: 微軟正黑體;text-align:center">出院3天內出院病人清單</p>  

        <table id="inHistoryTable" border="0" cellpadding="4" cellspacing="1" width="450">
            <tr>
                <th width="60">病患姓名</th>
                <th width="70">住院日期</th>
                <th width="70">出院日期</th>              
            </tr>
        @for (int i = 0; i <= GetOutList.Count - 1; i++)
        {
            var ChartNo = GetOutList[i].ChartNo.ToString();
         
            <tr id="@ChartNo">
                <td >@GetOutList[i].PatientName</td>
                <td >@(GetOutList[i].InDate.ToString("yyyy/MM/dd HH:mm"))</td>
                <td >@(GetOutList[i].OutDate.ToString("yyyy/MM/dd HH:mm"))</td>                
            </tr>
        }
        </table>
        
    }
    else
    {
          <p style="font-family: 微軟正黑體;text-align:center">出院3天內出院病人清單</p>  
          <p style="font-family: 微軟正黑體;text-align:center">該單位3天內無出院病人</p>  
    }
    
}

