@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
    .tabArea .subtitle {
        width: 120px;
    }

    .tabArea p {
        height: 40px;
        border-bottom: 1px dashed #b9b9b9;
        text-align: left;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(".tabArea").tabs({ active: 0 });
    });

    function able(id) {
        document.getElementById(id).disabled = false;
        document.getElementById(id).focus();
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
    }
    function ckable(obj, txtid) {
        var ck = obj;
        if (ck.checked)
        { able(txtid); }
        else
        { enable(txtid); }
    }

    function send_pdf() {
        $.ajax({
            type: "POST",
            url: 'Print_handover',
            data: { "url": window.location.href.replace('/Detail', '/HandOver') },
            success: function (reslut) { document.write(reslut); }
        });
    }
</script>
<p>
    <input type="button" value="列印" style="width: 50px;" onclick="send_pdf();" />
</p>
<div class="tabArea">
    <ul>
        <li><a href="#tabs1">轉房交接</a></li>
    </ul>
    <div id="tabs1" class="tab">
        <p>
            @Html.Label("lab", "檢查前", new { @class = "subtitle" })
            GCS：
            E:
            <select id="sel_e">
                <option value="99">請選擇</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
            V:
            <select id="sel_v">
                <option value="99">請選擇</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
                <option value="T">T</option>
            </select>
            M:
            <select id="sel_m">
                <option value="99">請選擇</option>
                <option value="6">6</option>
                <option value="5">5</option>
                <option value="4">4</option>
                <option value="3">3</option>
                <option value="2">2</option>
                <option value="1">1</option>
            </select>
        </p>
        <p style="padding-left: 130px;">
            @Html.Label("txt_handover_part1_bt", "BT：")
            @Html.TextBox("txt_handover_part1_bt", "", new { style = "width:80px;" })  ℃
        </p>
        <p style="padding-left: 130px;">
            @Html.Label("txt_handover_part1_HR1", "HR/RR：")
            @Html.TextBox("txt_handover_part1_HR1", "", new { style = "width:80px;" }) /
            @Html.TextBox("txt_handover_part1_HR2", "", new { style = "width:80px;" }) 次/分
        </p>
        <p style="padding-left: 130px;">
            @Html.Label("txt_handover_part1_BP1", "BP：")
            @Html.TextBox("txt_handover_part1_BP1", "", new { style = "width:80px;" }) /
            @Html.TextBox("txt_handover_part1_BP2", "", new { style = "width:80px;" }) mmHg
        </p>
        <p style="padding-left: 130px;">
            氧氣存量：
            @Html.RadioButton("rb_oxygen", "", false, new { id = "rb_oxygen_1" })
            @Html.Label("rb_oxygen_1", "不需要")
            @Html.RadioButton("rb_oxygen", "", false, new { id = "rb_oxygen_2" })
            @Html.Label("rb_oxygen_2", "足夠")
        </p>
        <span style="padding-left: 130px;">
            備註：小氧氣桶使用流速/瓶內壓力/使用時間(分)
            <table border="1" style="margin-left:130px; ">
                <tr>
                    <td>10L/min</td>
                    <td>1700psi/50分</td>
                    <td>1000psi/30分</td>
                    <td>500psi/15分</td>
                </tr>
                <tr>
                    <td>5L/min</td>
                    <td>1700psi/85分</td>
                    <td>1000psi/50分</td>
                    <td>500psi/25分</td>
                </tr>
                <tr>
                    <td>2L/min</td>
                    <td>1700psi/100分</td>
                    <td>1000psi/60分</td>
                    <td>500psi/30分</td>
                </tr>
            </table>
        </span>
        <p style="height:0px;"></p>
        <p style="padding-left: 130px;">
            @Html.Label("lab", "確認：")
            @Html.CheckBox("ck_handover_part1_consent")
            @Html.Label("ck_handover_part1_consent", "同意書")
            @Html.CheckBox("ck_handover_part1_ready")
            @Html.Label("ck_handover_part1_ready", "已完成檢查前準備事項")
        </p>
        <p style="padding-left: 130px;">
            @Html.Label("txt_handover_part1_tube", "管路：")
            @Html.TextBox("txt_handover_part1_tube", "", new { style = "width:70%;" })
        </p>
        <p style="padding-left: 130px;">
            @Html.Label("txt_handover_part1_carry", "攜帶藥物或用品：")
            @Html.TextBox("txt_handover_part1_carry", "", new { style = "width:70%;" })
        </p>
        <p style="padding-left: 130px;">
            @Html.Label("txt_handover_part1_duty", "特殊事項交班：")
            @Html.TextBox("txt_handover_part1_duty", "", new { style = "width:70%;" })
        </p>
        <p>
            @Html.Label("lab", "檢察單位", new { @class = "subtitle" })
            @Html.Label("txt_handover_part2_HR1", "HR/RR：")
            @Html.TextBox("txt_handover_part2_HR1", "", new { style = "width:80px;" }) /
            @Html.TextBox("txt_handover_part2_HR2", "", new { style = "width:80px;" }) 次/分
        </p>
        <p style="padding-left: 130px;">
            @Html.Label("txt_handover_part2_BP1", "BP：")
            @Html.TextBox("txt_handover_part2_BP1", "", new { style = "width:80px;" }) /
            @Html.TextBox("txt_handover_part2_BP2", "", new { style = "width:80px;" }) mmHg
        </p>
        <p style="padding-left: 130px;">
            @Html.Label("txt_handover_part2_SPO2", "SPO2：")
            @Html.TextBox("txt_handover_part2_SPO2", "", new { style = "width:80px;" })
        </p>
        <p style="padding-left: 130px;">
            @Html.Label("lab", "特殊狀況：")
            @Html.RadioButton("rb_handover_part2_status", "", false, new { id = "rb_handover_part2_status_1" })
            @Html.Label("rb_handover_part2_status_1", "無")
            @Html.RadioButton("rb_handover_part2_status", "", false, new { id = "rb_handover_part2_status_2" })
            @Html.Label("rb_handover_part2_status_2", "有")
        </p>
        <p style="padding-left: 130px;">
            @Html.Label("txt_handover_part2_pain", "疼痛強度：")
            @Html.TextBox("txt_handover_part2_pain", "", new { style = "width:80px;" }) 分
        </p>
        <p style="padding-left: 130px;">
            @Html.Label("txt_handover_part2_matter", "特殊事項或處置：")
            @Html.TextBox("txt_handover_part2_matter", "", new { style = "width:70%;" })
        </p>
    </div>
</div>
