@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#inHistoryTable").css('background', '#85A5CC');
        $("#inHistoryTable tr:odd").css('background', '#ABC8E2');
        $("#inHistoryTable tr:even").css('background', '#E1E6FA');

        $("#inHistoryTable tr").click(function () {
            if ($("#flag").val() == "open") {
                opener.Redirect($(this).attr("id"));
                window.close();
            }

            if ($("#flag").val() == "view") {
                opener.Redirect($(this).attr("id"));
                opener.window.open($(this).attr("id"), 'right')
                window.close();
            }
        });
    });

</script>

<style type="text/css">
    #inHistoryTable {
        table-layout:fixed;
        white-space: nowrap;
        background-color: #FFFFFF; 
        text-align:center;
        border:1px;
        font-size:12px;
        font-family: 微軟正黑體;
    }
    tr.over td{
        background-color: #edee77;
        cursor: pointer;
    }
</style>
<input type="hidden" id="flag" value="@ViewBag.flag" />
@{
    if(ViewData["inHistory"] != null){

        List<InHistory> inHistoryList = (List<InHistory>)ViewData["inHistory"];
        
        <p style="font-family: 微軟正黑體;text-align:center">住院歷史紀錄</p>
        if (inHistoryList.Count>0){
            <table>
                <tr>
                    <td>病歷號:</td>
                     <td>@(inHistoryList[0].ChrNo)</td>
                     <td>姓名:</td>
                     <td style="font-family:EUDC !important">@(inHistoryList[0].PatName)</td>
                     <td>性別:</td>
                    @if (inHistoryList[0].SexType != null)
                    {
                     <td>
                         @if(inHistoryList[0].SexType.ToString().Trim()=="M" || inHistoryList[0].SexType.ToString().Trim() == "男" || inHistoryList[0].SexType.ToString().Trim() == "1")
                         {
                             @:男
                             }
                         else if(inHistoryList[0].SexType.ToString().Trim()=="F" || inHistoryList[0].SexType.ToString().Trim() == "女" || inHistoryList[0].SexType.ToString().Trim() == "0")
                         {
                             @:女
                             }                         
                     </td>
                    }
                </tr>
            </table>}
    
        <table id="inHistoryTable" border="0" cellpadding="4" cellspacing="1" width="450">
            <tr>
                @*<th width="60">住院序號</th>*@
                <th width="30">診別</th>
                <th width="70">住院日期</th>
                <th width="70">出院日期</th>
                <th width="310">診斷</th>
                <th width="70">資料儲存</th>
            </tr>
        @for (int i = 0; i <= inHistoryList.Count - 1;i++ )
        {
            var FeeNo = inHistoryList[i].FeeNo.ToString();
            var CostCode = inHistoryList[i].CostCode.ToString();
            var DataZone = (inHistoryList[i].DataZone.ToString() == "CS1") ? "歷史區" : "線上區";
            var color = (DataZone == "歷史區") ? "sandybrown" : "";
            var diagnosis = inHistoryList[i].Description.ToString().Trim();
            var len = diagnosis.Length;
            if (len > 28)
            { len = 28; }

            var short_diagnosis = diagnosis.Substring(0, len)+"...";

            <tr id="@FeeNo" cost="@CostCode" style="cursor:pointer;">
                @*<td >@(FeeNo)</td>*@
                <td style="text-align:center;">@(inHistoryList[i].HIS_TYPE)</td>
                <td title="@FeeNo">@(inHistoryList[i].indate.ToString("yyyy/MM/dd"))</td>
                @if (inHistoryList[i].outdate.ToString("yyyy/MM/dd") == "2910/12/31")
                {<td ></td> }
                else
                { <td >@(inHistoryList[i].outdate.ToString("yyyy/MM/dd"))</td>}
                
                <td style="text-align:left;" title="@(diagnosis)">@(short_diagnosis)</td>
                <td style="text-align:center;background-color:@(color);">@(DataZone)</td>
            </tr>
        }
        </table>
        
    }
    
}

