@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
    .gv_padding td {
        padding: 4px 7px 2px 4px;
    }

    .dataArea td {
        text-align: center;
    }

    table {
        table-layout:fixed;
        white-space: nowrap;
    }
</style>

<script type="text/javascript">
    $(function () {
        close_pup_window();
        setGridColor();
    });

    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    function able(id) {
        document.getElementById(id).disabled = false;
        document.getElementById(id).focus();
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
    }
    function ckable(obj, txtid) {
        var ck = obj;
        if (ck.checked)
        { able(txtid); }
        else
        { enable(txtid); }
    }
    function ck_none(obj, classname) {
        var ck = obj;
        if (ck.checked) {
            var ck_other = $('.' + classname);
            for (var i = 1; i < ck_other.length; i++) {
                ck_other[i].checked = false;
            }
        }
        else {
            for (var i = 1; i < ck_other.length; i++) {
                ck_other[i].checked = true;
            }
        }
    }

    $(document).ready(function () {
        // 首列靠左
        $(".dataArea tr").find("td:first").css("text-align","left");
    });

</script>
<p>
    <input type="button" value="儲存" onclick="alert('儲存成功!');" />
</p>
<div class="dataHeader">
    <table border="0" cellpadding="4" cellspacing="1" width="100%">
        <tr>
            <td >項目</td>
            <td width="150">病房查核者</td>
            <td width="150">手術室查核</td>
        </tr>
    </table>
</div>
<div class="dataArea" style="height:340px;">
    <table border="0" cellpadding="4" cellspacing="1" width="100%">
        <tr>
            <td>1.
                @Html.CheckBox("cksurgery_opt1")
                @Html.Label("cksurgery_opt1", "給予預防跌倒衛教")
                @Html.CheckBox("cksurgery_opt2")
                @Html.Label("cksurgery_opt2", "有家屬或志工適當的協助")
            </td>
            <td width="150"></td>
            <td width="150">
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                2.手術前長期使用毛地黃、抗凝血劑、抗高血壓及類固醇等藥物請註明:
                <hr />
                @Html.RadioButton("rb_before_surgery_med", "", false, new { id = "rb_before_surgery_med_no", onclick = "enable('txt_before_surgery_med_yes')" })
                @Html.Label("rb_before_surgery_med_no", "無")
                @Html.RadioButton("rb_before_surgery_med", "", false, new { id = "rb_before_surgery_med_yes", onclick = "able('txt_before_surgery_med_yes')" })
                @Html.Label("rb_before_surgery_med_yes", "有，請註明：")
                @Html.TextBox("txt_before_surgery_med_yes", "", new { style = "width:60%;", disabled = "disabled" })
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                3.過去病史:<hr />
                @Html.CheckBox("ck_past_medical_none")
                @Html.Label("ck_past_medical_none", "無")
                @Html.CheckBox("ck_past_medical_Diabetes")
                @Html.Label("ck_past_medical_Diabetes", "糖尿病")
                @Html.CheckBox("ck_past_medical_Hypertension")
                @Html.Label("ck_past_medical_Hypertension", "高血壓")
                @Html.CheckBox("ck_past_medical_Stroke")
                @Html.Label("ck_past_medical_Stroke", "中風")
                @Html.CheckBox("ck_past_medical_Heart_disease")
                @Html.Label("ck_past_medical_Heart_disease", "心臟病")
                @Html.CheckBox("ck_past_medical_TB")
                @Html.Label("ck_past_medical_TB", "TB")
                @Html.CheckBox("ck_past_medical_BC_Hepatitis")
                @Html.Label("ck_past_medical_BC_Hepatitis", "B、C肝炎")
                @Html.CheckBox("ck_past_medical_AIDS")
                @Html.Label("ck_past_medical_AIDS", "AIDS")
                @Html.CheckBox("ck_past_medical_Other", false, new { onclick = "ckable(this,'txt_past_medical_Other')" })
                @Html.Label("ck_past_medical_Other", "其他")
                @Html.TextBox("txt_past_medical_Other", "", new { style = "width:80px;", disabled = "disabled" })
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                4.過敏史：<hr />
                @Html.RadioButton("rb_allergy", "", false, new { id = "rb_allergy_none", onclick = "enable('txt_allergy_med');enable('txt_allergy_transblood');enable('txt_allergy_food');enable('txt_allergy_pct');" })
                @Html.Label("rb_allergy_none", "無")
                @Html.RadioButton("rb_allergy", "", false, new { id = "rb_allergy_yes", onclick = "able('txt_allergy_med');able('txt_allergy_transblood');able('txt_allergy_food');able('txt_allergy_pct');" })
                @Html.Label("rb_allergy_yes", "有，(")
                藥物
                            @Html.TextBox("txt_allergy_med", "", new { style = "width:80px;", disabled = "disabled" })
                輸血
                            @Html.TextBox("txt_allergy_transblood", "", new { style = "width:80px;", disabled = "disabled" })
                食物
                            @Html.TextBox("txt_allergy_food", "", new { style = "width:80px;", disabled = "disabled" })
                PCT
                            @Html.TextBox("txt_allergy_pct", "", new { style = "width:80px;", disabled = "disabled" }) )
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "");" />
            </td>
        </tr>
        <tr>
            <td>
                5.填妥手術/麻醉同意書(
                @Html.CheckBox("ck_consent_data_comply")
                @Html.Label("ck_consent_data_comply", "病人資料完整")
                @Html.CheckBox("ck_consent_surgery_doctor_sign")
                @Html.Label("ck_consent_surgery_doctor_sign", "手術醫師簽章")
                @Html.CheckBox("ck_consent_surgery_anesthesia_sign")
                @Html.Label("ck_consent_surgery_anesthesia_sign", "麻醉醫師簽章") )
                <hr />
                @Html.CheckBox("ck_consent_angery_assess")
                @Html.Label("ck_consent_angery_assess", "手術前評估表")
                <br />
                @Html.CheckBox("ck_consent_own_expense")
                @Html.Label("ck_consent_own_expense", "自費同意書") (
                            @Html.CheckBox("ck_consent_PCA")
                @Html.Label("ck_consent_PCA", "PCA")
                @Html.CheckBox("ck_consent_PCIP")
                @Html.Label("ck_consent_PCIP", "PCIP")
                @Html.CheckBox("ck_consent_med")
                @Html.Label("ck_consent_med", "藥物")
                @Html.CheckBox("ck_consent_special")
                @Html.Label("ck_consent_special", "特材") )
                            <br />
                @Html.CheckBox("ck_consent_other_consent")
                @Html.Label("ck_consent_other_consent", "其他同意書") (
                            @Html.CheckBox("ck_consent_Ligation")
                @Html.Label("ck_consent_Ligation", "結紮")
                @Html.CheckBox("ck_consent_Amputation")
                @Html.Label("ck_consent_Amputation", "截肢")
                @Html.CheckBox("ck_consent_other", false, new { onclick = "ckable(this,'txt_consent_other')" })
                @Html.Label("ck_consent_other", "其他")
                @Html.TextBox("txt_consent_other", "", new { style = "width:80px;", disabled = "disabled" }) )
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                6.備血:<hr />
                血品名
                            @Html.TextBox("txt_blood_name", "", new { style = "width:80px;" })
                數量
                            @Html.TextBox("txt_blood_quantity", "", new { style = "width:80px;" })
                血型
                            @Html.TextBox("txt_blood_type", "", new { style = "width:80px;" })
                RH
                            @Html.TextBox("txt_blood_RH", "", new { style = "width:80px;" })
                @Html.RadioButton("rb_blood_consent", "", false, new { id = "rb_blood_consent_yes" })
                @Html.Label("rb_blood_consent_yes", "輸血同意書")
                @Html.RadioButton("rb_blood_consent", "", false, new { id = "rb_blood_consent_none" })
                @Html.Label("rb_blood_consent_none", "不需要")
            </td>
            <td style="width: 10%;"></td>
            <td style="width: 15%; text-align: center;">
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                7.皮膚準備：<hr />
                @Html.RadioButton("rb_skin", "", false, new { id = "rb_skin_ready", onclick = "able('txt_skin_position');" })
                @Html.Label("rb_skin_ready", "已備妥，部位：")
                @Html.TextBox("txt_skin_position", "", new { style = "width:80px;", disabled = "disabled" })
                @Html.RadioButton("rb_skin", "", false, new { id = "rb_skin_none", onclick = "enable('txt_skin_position');" })
                @Html.Label("rb_skin_none", "不需要")
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                8.手術部位標示於：<hr />
                @Html.CheckBox("ck_surgery_sign_body")
                @Html.Label("ck_surgery_sign_body", "病人身上(※以手術標記專用筆劃記手術部位)") (
                            @Html.CheckBox("ck_surgery_sign_body_circle")
                @Html.Label("ck_surgery_sign_body_circle", "部位劃記圈圈標示")
                @Html.CheckBox("ck_surgery_sign_body_doctor_sign")
                @Html.Label("ck_surgery_sign_body_doctor_sign", "醫師簽名") )
                            <br />
                @Html.CheckBox("ck_surgery_sign_human_picture")
                @Html.Label("ck_surgery_sign_human_picture", "人形圖上") (
                            @Html.CheckBox("ck_surgery_sign_human_picture_circle")
                @Html.Label("ck_surgery_sign_human_picture_circle", "部位劃記圈圈標示")
                @Html.CheckBox("ck_surgery_sign_human_picture_circle_doctor_sign")
                @Html.Label("ck_surgery_sign_human_picture_circle_doctor_sign", "醫師簽名")
                @Html.CheckBox("ck_surgery_name", false, new { onclick = "ckable(this,'txt_surgery_name')" })
                @Html.Label("ck_surgery_name", "術式名稱")
                @Html.TextBox("txt_surgery_name", "", new { style = "width:80px;", disabled = "disabled" }) )
                            <br />
                @Html.CheckBox("ck_surgery_patient")
                @Html.Label("ck_surgery_patient", "病人能自述手術部位無誤(以開放性問題引導病人自行說出，意識不清或無法應答者，由家屬或主要陪同者代為應答)。")
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                9.檢查報告:<hr />
                @Html.CheckBox("ck_ckreprot_none", false, new { @class = "ck_ckreprot", onclick = "ck_none(this,'ck_ckreprot')" })
                @Html.Label("ck_ckreprot_none", "無")
                @Html.CheckBox("ck_ckreprot_x", false, new { @class = "ck_ckreprot" })
                @Html.Label("ck_ckreprot_x", "X光片")
                @Html.CheckBox("ck_ckreprot_EKG", new { @class = "ck_ckreprot" })
                @Html.Label("ck_ckreprot_EKG", "EKG")
                @Html.CheckBox("ck_ckreprot_Blood", new { @class = "ck_ckreprot" })
                @Html.Label("ck_ckreprot_Blood", "血液檢查")
                @Html.CheckBox("ck_ckreprot_Biochemical", new { @class = "ck_ckreprot" })
                @Html.Label("ck_ckreprot_Biochemical", "生化檢查")
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>10.
                @Html.CheckBox("cksurgery_education")
                @Html.Label("cksurgery_education", "手術前衛教")
                @Html.CheckBox("cksurgery_support")
                @Html.Label("cksurgery_support", "心理支持")
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr class="treven">
            <td style="width: 75%;">
                11.禁食時間：<hr />
                @Html.TextBox("txt_fasting_month", @DateTime.Now.ToString("HH"), new { style = "width:50px;" }) 月
                            @Html.TextBox("txt_fasting_day", @DateTime.Now.ToString("mm"), new { style = "width:50px;" }) 日
                            <select id="fasting_hour">
                                @for (int i = 0; i < 24; i++)
                                {
                                    string time = Convert.ToDateTime("00:00").AddHours(i).ToString("HH");
                                    if (time == DateTime.Now.ToString("HH"))
                                    {
                                    <option selected="selected">@time</option>
                                    }
                                    else
                                    {
                                    <option>@time</option>
                                    }
                                }
                            </select>
                時起
                            @Html.CheckBox("ck_fasting_none")
                @Html.Label("ck_fasting_none", "不需要")
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                12.手術前訪視：時間
                            @Html.TextBox("txt_visit_month", @DateTime.Now.ToString("HH"), new { style = "width:50px;" }) 月
                            @Html.TextBox("txt_visit_day", @DateTime.Now.ToString("mm"), new { style = "width:50px;" }) 日
                            <select id="visit_hour">
                                @for (int i = 0; i < 24; i++)
                                {
                                    string time = Convert.ToDateTime("00:00").AddHours(i).ToString("HH");
                                    if (time == DateTime.Now.ToString("HH"))
                                    {
                                    <option selected="selected">@time</option>
                                    }
                                    else
                                    {
                                    <option>@time</option>
                                    }
                                }
                            </select>時
                <hr/>
                @Html.RadioButton("rb_visit", "", false, new { id = "rb_visit_none", onclick = "enable('rb_visit_done_general_anesthesia');enable('rb_visit_done_spinal_anesthesia');enable('rb_visit_done_severe');enable('rb_visit_done_old');enable('rb_visit_done_child');" })
                @Html.Label("rb_visit_none", "不需要")
                <br />
                @Html.RadioButton("rb_visit", "", false, new { id = "rb_visit_done", onclick = "able('rb_visit_done_general_anesthesia');able('rb_visit_done_spinal_anesthesia');able('rb_visit_done_severe');able('rb_visit_done_old');able('rb_visit_done_child');" })
                @Html.Label("rb_visit_done", "已完成") (
                            @Html.RadioButton("rb_visit_done", "", false, new { id = "rb_visit_done_general_anesthesia", disabled = "disabled" })
                @Html.Label("rb_visit_done_general_anesthesia", "全身麻醉")
                @Html.RadioButton("rb_visit_done", "", false, new { id = "rb_visit_done_spinal_anesthesia", disabled = "disabled" })
                @Html.Label("rb_visit_done_spinal_anesthesia", "半身麻醉")
                @Html.RadioButton("rb_visit_done", "", false, new { id = "rb_visit_done_severe", disabled = "disabled" })
                @Html.Label("rb_visit_done_severe", "重症病人")
                @Html.RadioButton("rb_visit_done", "", false, new { id = "rb_visit_done_old", disabled = "disabled" })
                @Html.Label("rb_visit_done_old", "老人")
                @Html.RadioButton("rb_visit_done", "", false, new { id = "rb_visit_done_child", disabled = "disabled" })
                @Html.Label("rb_visit_done_child", "18歲以下小孩") )
                            <br />
                @Html.RadioButton("rb_visit", "", false, new { id = "rb_visit_not_meet", onclick = "enable('rb_visit_done_general_anesthesia');enable('rb_visit_done_spinal_anesthesia');enable('rb_visit_done_severe');enable('rb_visit_done_old');enable('rb_visit_done_child');" })
                @Html.Label("rb_visit_not_meet", "訪視未遇")
                @Html.RadioButton("rb_visit", "", false, new { id = "rb_visit_not_do_not", onclick = "enable('rb_visit_done_general_anesthesia');enable('rb_visit_done_spinal_anesthesia');enable('rb_visit_done_severe');enable('rb_visit_done_old');enable('rb_visit_done_child');" })
                @Html.Label("rb_visit_not_do_not", "手術當日住院未訪視")
                <br />
                @Html.Label("txt_visit_name", "手術室訪視人員：")
                @Html.TextBox("txt_visit_name", "", new { style = "width:80px;" })
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                13.手術前灌腸：<hr />
                @Html.Label("txt_enema_type", "種類")
                @Html.TextBox("txt_enema_type", "", new { style = "width:80px;" })
                @Html.Label("txt_enema_time", "時間")
                @Html.TextBox("txt_enema_time", "", new { style = "width:80px;" })
                @Html.RadioButton("rb_enema", "", false, new { id = "rb_enema_none" })
                @Html.Label("rb_enema_none", "不需要")
                @Html.RadioButton("rb_enema", "", false, new { id = "rb_enema_done" })
                @Html.Label("rb_enema_done", "已排便")
                @Html.RadioButton("rb_enema", "", false, new { id = "rb_enema_undone" })
                @Html.Label("rb_enema_undone", "未排便")
                @Html.RadioButton("rb_enema", "", false, new { id = "rb_enema_Colostomy" })
                @Html.Label("rb_enema_Colostomy", "結腸造廔口")
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                14.檢查：<hr />
                @Html.CheckBox("ck_Surgical_gowns")
                @Html.Label("ck_Surgical_gowns", "換妥手術衣")
                @Html.CheckBox("ck_hand_ring")
                @Html.Label("ck_hand_ring", "配戴手圈")
                @Html.CheckBox("ck_skin")
                @Html.Label("ck_skin", "皮膚狀況評估") (
                            @Html.RadioButton("rb_sken_statue", "", false, new { id = "rb_skin_statue_complete", onclick = "enable('txt_skin_status_position');" })
                @Html.Label("rb_skin_statue_complete", "完整")
                @Html.RadioButton("rb_sken_statue", "", false, new { id = "rb_skin_statue_uncomplete", onclick = "able('txt_skin_status_position');" })
                @Html.Label("rb_skin_statue_uncomplete", "不完整")
                @Html.Label("txt_skin_status_position", "─部位")
                @Html.TextBox("txt_skin_status_position", "", new { disabled = "disabled" }) )
                            <br />
                @Html.CheckBox("ck_takeoff_underwear")
                @Html.Label("ck_takeoff_underwear", "去除內衣褲")
                @Html.CheckBox("ck_takeon_paper_underwear")
                @Html.Label("ck_takeon_paper_underwear", "穿著紙褲")
                @Html.CheckBox("ck_use_dispers")
                @Html.Label("ck_use_dispers", "使用尿布")
                @Html.CheckBox("ck_takeon_hat")
                @Html.Label("ck_takeon_hat", "戴帽")
                @Html.CheckBox("ck_takeon_shoes")
                @Html.Label("ck_takeon_shoes", "換鞋")
                @Html.CheckBox("ck_hair_ring")
                @Html.Label("ck_hair_ring", "長髮以橡皮圈固定")
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                15.去除：<hr />
                @Html.CheckBox("cktakeoff_watch")
                @Html.Label("cktakeoff_watch", "手錶")
                @Html.CheckBox("cktakeoff_access")
                @Html.Label("cktakeoff_access", "飾物")
                @Html.CheckBox("cktakeoff_hairpin")
                @Html.Label("cktakeoff_hairpin", "髮夾")
                @Html.CheckBox("cktakeoff_Koudan")
                @Html.Label("cktakeoff_Koudan", "蔻丹")
                @Html.CheckBox("cktakeoff_Lipstick")
                @Html.Label("cktakeoff_Lipstick", "脣膏")
                @Html.CheckBox("cktakeoff_denture")
                @Html.Label("cktakeoff_denture", "活動假牙")
                @Html.CheckBox("cktakeoff_glasses")
                @Html.Label("cktakeoff_glasses", "眼鏡及隱形眼")
                @Html.CheckBox("cktakeoff_financial_forfamily")
                @Html.Label("cktakeoff_financial_forfamily", "財物交由家屬保管")
                <br />
                病人寄放於護理站之貴重物品：
                            @Html.CheckBox("cktakeoff_cash")
                @Html.Label("cktakeoff_cash", "現金")
                @Html.CheckBox("cktakeoff_cellphone")
                @Html.Label("cktakeoff_cellphone", "手機")
                @Html.CheckBox("cktakeoff_ID")
                @Html.Label("cktakeoff_ID", "證件")
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>16.
                            @Html.CheckBox("ck_empty_thebladder", false, new { onclick = "ckable(this,'txt_empty_thebladder_time')" })
                @Html.Label("ck_empty_thebladder", "排空膀胱")
                ─時間：
                            @Html.TextBox("txt_empty_thebladder_time", "", new { style = "width:80px;", disabled = "disabled" })
                @Html.CheckBox("ck_stay_catheter", false, new { onclick = "ckable(this,'txt_catheter_empty_time')" })
                @Html.Label("ck_stay_catheter", "尿管留置")
                ─尿袋倒空時間：
                            @Html.TextBox("txt_catheter_empty_time", "", new { style = "width:80px;", disabled = "disabled" })
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                17.輸液種類:<hr />
                @Html.RadioButton("rb_infusion", "", false, new { id = "rb_infusion_notneed", onclick = "enable('txt_infusion_name1');enable('txt_infusion_amount1');enable('txt_infusion_name2');enable('txt_infusion_amount2');" })
                @Html.Label("rb_infusion_notneed", "不需要")
                <br />
                @Html.RadioButton("rb_infusion", "", false, new { id = "rb_infusion_need", onclick = "able('txt_infusion_name1');able('txt_infusion_amount1');able('txt_infusion_name2');able('txt_infusion_amount2');" })
                @Html.Label("rb_infusion_need", "需要") (
                            1.名稱
                            @Html.TextBox("txt_infusion_name1", "", new { style = "width:80px;", disabled = "disabled" })
                剩餘量
                            @Html.TextBox("txt_infusion_amount1", "", new { style = "width:80px;", disabled = "disabled" })
                2.名稱
                            @Html.TextBox("txt_infusion_name2", "", new { style = "width:80px;", disabled = "disabled" })
                剩餘量
                            @Html.TextBox("txt_infusion_amount2", "", new { style = "width:80px;", disabled = "disabled" }) )
                            <br />
                @Html.RadioButton("rb_infusion", "", false, new { id = "rb_iv_bag", onclick = "enable('txt_infusion_name1');enable('txt_infusion_amount1');enable('txt_infusion_name2');enable('txt_infusion_amount2');" })
                @Html.Label("rb_iv_bag", "使用 IV Bag")
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                18.送手術室攜帶物品：<hr />
                @Html.CheckBox("ck_operating_room_notneed")
                @Html.Label("ck_operating_room_notneed", "不需要")
                @Html.CheckBox("ck_operating_room_x_old")
                @Html.Label("ck_operating_room_x_old", "舊X光片")
                @Html.CheckBox("ck_operating_room_new_case")
                @Html.Label("ck_operating_room_new_case", "本次病歷")
                @Html.CheckBox("ck_operating_room_old_case", false, new { onclick = "ckable(this,'txt_operating_room_old_case');" })
                @Html.Label("ck_operating_room_old_case", "舊病歷")
                @Html.TextBox("txt_operating_room_old_case", "", new { style = "width:80px;", disabled = "disabled" }) 本
                            @Html.CheckBox("ck_right_new_old_case")
                @Html.Label("ck_right_new_old_case", "本次病歷與舊病歷核對無誤")
                <br />
                @Html.CheckBox("ck_operating_room_med_name", false, new { onclick = "ckable(this,'txt_operating_room_med_name');" })
                @Html.Label("ck_operating_room_med_name", "藥品名稱/劑量")
                @Html.TextBox("txt_operating_room_med_name", "", new { style = "width:160px;", disabled = "disabled" })
                @Html.CheckBox("ck_operating_room_other", false, new { onclick = "ckable(this,'txt_operating_room_other');" })
                @Html.Label("ck_operating_room_other", "其他")
                @Html.TextBox("txt_operating_room_other", "", new { style = "width:80px;", disabled = "disabled" })
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                19.<hr />
                @Html.CheckBox("ck_ckself")
                @Html.Label("ck_ckself", "病人可自述姓名 、出生年月日或身分證字號無誤(意識不清或無法應答者，由家屬或主要陪同者代為應答)。")
                <br />
                @Html.CheckBox("ck_ckid")
                @Html.Label("ck_ckid", "確認病人身分無誤(核對手圈、身分證文件或病歷等文件)")
                @Html.CheckBox("ck_patient")
                @Html.Label("ck_patient", "保暖")
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr class="trodd">
            <td colspan="4" style="padding-left: 4px;">20.有無家屬或主要照顧者陪同
            </td>
        </tr>
        <tr class="treven">
            <td>
                @Html.RadioButton("rb_family", "", false, new { id = "rb_family_yes" })
                @Html.Label("rb_family_yes", "有")
                @Html.RadioButton("rb_family", "", false, new { id = "rb_family_no" })
                @Html.Label("rb_family_no", "無")
            </td>
            <td></td>
            <td>
                <input type="button" value="查核確認" style="width:80px;" onclick="@Java_funcion.pup_window("Login", 350, 180, "")    ;" />
            </td>
        </tr>
        <tr>
            <td>
                21.其他交班事項<hr />
                @Html.CheckBox("ck_TransferDuty_none")
                @Html.Label("ck_TransferDuty_none", "無")
                @Html.CheckBox("ck_TransferDuty_pillow", false, new { onclick = "ckable(this,'txt_TransferDuty_pillow');" })
                @Html.Label("ck_TransferDuty_pillow", "枕頭")
                @Html.TextBox("txt_TransferDuty_pillow", "", new { style = "width:80px;", disabled = "disabled" }) 個
                            @Html.CheckBox("ck_TransferDuty_quilt", false, new { onclick = "ckable(this,'txt_TransferDuty_quilt');" })
                @Html.Label("ck_TransferDuty_quilt", "棉被")
                @Html.TextBox("txt_TransferDuty_quilt", "", new { style = "width:80px;", disabled = "disabled" }) 件
                            @Html.CheckBox("ck_TransferDuty_snadbag", false, new { onclick = "ckable(this,'txt_TransferDuty_snadbag_weight');ckable(this,'txt_TransferDuty_snadbag_quantity');" })
                @Html.Label("ck_TransferDuty_snadbag", "砂袋")
                @Html.TextBox("txt_TransferDuty_snadbag_weight", "", new { style = "width:80px;", disabled = "disabled" }) kg
                            @Html.TextBox("txt_TransferDuty_snadbag_quantity", "", new { style = "width:80px;", disabled = "disabled" }) 個
                            @Html.CheckBox("ck_TransferDuty_tow")
                @Html.Label("ck_TransferDuty_tow", "牽引用物")
                @Html.CheckBox("ck_TransferDuty_hear_aids")
                @Html.Label("ck_TransferDuty_hear_aids", "助聽器")
                @Html.CheckBox("ck_TransferDuty_wig")
                @Html.Label("ck_TransferDuty_wig", "假髮")
                @Html.CheckBox("ck_TransferDuty_artificial_eye")
                @Html.Label("ck_TransferDuty_artificial_eye", "義眼")
                @Html.CheckBox("ck_TransferDuty_other", false, new { onclick = "ckable(this,'txt_TransferDuty_other');" })
                @Html.Label("ck_TransferDuty_other", "其他")
                @Html.TextBox("txt_TransferDuty_other", "", new { style = "width:80px;", disabled = "disabled" })
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

