 @{
     Layout = "~/Views/Layout/FormLayout.cshtml";
     //日期選擇器，鎖定時間
     NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
     NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
  }

<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }
    input[type=text] {
        width:80px;
    }
    .mname {
        color: blue;
        font-weight: bold;
    }
    .sname {
        color: #600c0c;
        font-style: italic;
    }
</style>

<script type="text/javascript">
    $(function () {
        setGridColor();
    });

    function setGridColor() {
        //格行換色
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }

    function enable(id_list) {
        var list = id_list.split(',');
        for (var i = 0 ; i < list.length; i++) {
            $('#' + list[i]).val('');
            document.getElementById(list[i]).disabled = true;
        }
    }

    function able(id_list) {
        var list = id_list.split(',');
        for (var i = 0 ; i < list.length; i++) {
            document.getElementById(list[i]).disabled = false;
        }
    }

    function ckable(obj, id_list) {
        var ck = obj;
        if (ck.checked)
        { able(id_list); }
        else
        { enable(id_list); }
    }

    function minusrow(num, id) {
        var obj = $('#' + id);
        var fid = obj.attr('fid');
        if ($('#' + fid).attr('rowspan') == num) {
            obj.fadeOut(0);
            $('#' + fid).attr('rowspan', parseInt($('#' + fid).attr('rowspan')) - 1);
            setGridColor();
            var tr = $('#' + id + ' input');
            for (var i = 0 ; i < tr.length; i++) {
                if (tr[i].type == 'radio' || tr[i].type == 'checkbox')
                    tr[i].checked = false;
                else if (tr[i].type == 'text')
                    enable(tr[i].id);
            }
            return true;
        }
        else
            return false;
    }

    function addrow(num, id) {
        var obj = $('#' + id);
        var fid = obj.attr('fid');
        if ($('#' + fid).attr('rowspan') == num) {
            obj.fadeIn(500);
            $('#' + fid).attr('rowspan', parseInt($('#' + fid).attr('rowspan')) + 1);
            setGridColor();
            return true;
        }
        else
            return false;
    }

    function check() {
        set_consciousness_status();
        set_oxygen_status();
        set_sence_action();
        $('#activity').val($('input[name=rb_activity]:checked').val());
        set_food();
        set_urination();
        set_defecation();
        set_special_item();
        set_isolation();
        set_nurse_care();
    }

    function set_consciousness_status() {
        var content = $('#sel_e').val() + ',' + $('#sel_v').val() + ',' + $('#sel_m').val() + ',';
        content = content + $('input[name=rb_list1]:checked').val();
        $('#consciousness_status').val(content);
    }

    function set_oxygen_status() {
        var content = '';
        var ck = document.getElementsByName('ck_oxygen_status');
        for (var i = 0; i < ck.length; i++) {
            if (ck[i].checked)
                content = content + ck[i].value + ',';
        }
        content = content + $('#txt_oxygen_status_1').val() + ',' + $('#txt_oxygen_status_2').val() + ',' + $('#txt_oxygen_status_3').val();
        $('#oxygen_status').val(content);
    }

    function set_sence_action() {
        var content = $('input[name=rb_vision_left]:checked').val() + ',' + $('input[name=rb_vision_right]:checked').val() + ',' + $('input[name=rb_hearing_left]:checked').val() + ',' + $('input[name=rb_hearing_right]:checked').val() + ',';
        content = content + $('input[name=rb_coummuncation_understand]:checked').val() + ',' + $('input[name=rb_coummuncation_exprsssion]:checked').val() + ',';
        content = content + $('#txt_coummuncation_understand_2').val() + ',' + $('#txt_coummuncation_exprsssion_2').val();
        $('#sence_action').val(content);
    }

    function set_food() {
        var content = $('input[name=rb_food]:checked').val() + ',' + $('#txt_food_meal').val() + ',' + $('#txt_food_heat').val() + ',' + $('#txt_food_speat').val() + ',' + $('#txt_food_other').val()+',';
        var ck = document.getElementsByName('ck_speed');
        for (var i = 0; i < ck.length; i++) {
            if (ck[i].checked)
                content = content + ck[i].value + ',';
        }
        $('#food').val(content.substring(0, content.length - 1));
    }

    function set_urination() {
        var content = $('input[name=rb_urination]:checked').val() + ',' + $('#txt_limit_water').val() + ',' + $('#txt_weight').val() + ',';
        content = content + $('#sel_weight_unit').val();
        if (document.getElementById('ck_limit_water').checked)
            content = content + ',' + document.getElementById('ck_limit_water').value;
        $('#urination').val(content);
    }

    function set_defecation() {
        var content = $('input[name=rb_defecation]:checked').val() + ',' + $('input[name=rb_defecation_3]:checked').val() + ',';
        content = content + $('input[name=rb_defecation_aid]:checked').val() + ',' + $('input[name=rb_defecation_aid_4]:checked').val() + ',';
        content = content + $('#txt_defecation_aid_4_2').val() + ',' + $('#txt_last_defecation').val() + ',' + $('#txt_last_defecation_amount').val() + ',';
        content = content + $('#sel_defecation_aid').val();
        $('#defecation').val(content);
    }

    function set_special_item() {
        var content = $('input[name=rb_special_item]:checked').val() + ',';
        var ck = document.getElementsByName('ck_special_item');
        for (var i = 0; i < ck.length; i++) {
            if (ck[i].checked)
                content = content + ck[i].value + ',';
        }
        content = content + $('#txt_special_item_12').val();
        $('#special_item').val(content);
    }

    function set_isolation() {
        var content = $('input[name=rb_isolation]:checked').val() + ',';
        var ck = document.getElementsByName('ck_isolation_2');
        for (var i = 0; i < ck.length; i++) {
            if (ck[i].checked)
                content = content + ck[i].value + ',';
        }
        content = content + $('#txt_isolation_2_3').val();
        $('#isolation').val(content);
    }

    function set_nurse_care() {
        var content = ''
        var ck = document.getElementsByName('ck_nurse_care');
        for (var i = 0; i < ck.length; i++) {
            if (ck[i].checked)
                content = content + ck[i].value + ',';
        }
        content = content + $('#txt_nurse_care_14').val();
        $('#nurse_care').val(content);
    }

    function turn_pdf() {
        var url = '/Leave_Referral_PDF?feeno=@(ViewBag.feeno)';
        $.ajax({
            type: "POST",
            url: 'Html_To_Pdf_New',
            data: { "url": window.location.href.replace('/Leave_Referral', url) },
            success: function (reslut) { document.write(reslut); }
        });
    }
</script>

@using System.Data;
@{
    string action = "Insert_leave", id = "";
    DataTable dt_tube = ViewBag.dt_tube;
    DataTable dt_wound = ViewBag.dt_wound;
    DataTable dt_med = ViewBag.dt_med;
    DataTable dt = ViewBag.dt;
    List<NIS.Data.DrugOrder> UdOrderList = (List<NIS.Data.DrugOrder>)ViewData["med"];
    List<NIS.Data.Lab> lab_list = (List<NIS.Data.Lab>)ViewData["lab_list"];
    List<NIS.Data.PatientInfo> allergy_list = (List<NIS.Data.PatientInfo>)ViewData["Allergy"];
    if (dt != null && dt.Rows.Count > 0)
    {
        action = "Upd_leave";
        id = dt.Rows[0]["LEAVE_ID"].ToString();
        <script type="text/javascript">
            $(function () {
                reset_consciousness_status('@dt.Rows[0]["CONSCIOUSNESS"]');
                reset_oxygen_status('@dt.Rows[0]["OXYGEN_STATUS"]');
                reset_sence_action('@dt.Rows[0]["SENCE_ACTION"]');
                set_for_rb('rb_activity', '@dt.Rows[0]["ACTIVITY"]');
                rereset_food('@dt.Rows[0]["FOOD"]');
                reset_urination('@dt.Rows[0]["URINATION"]');
                reset_defecation('@dt.Rows[0]["DEFECATION"]');
                reset_special_item('@dt.Rows[0]["SPECIAL_ITEM"]');
                reset_isolation('@dt.Rows[0]["ISOLATION"]');
                reset_nurse_care('@dt.Rows[0]["NURSE_CARE"]');
            });

            function reset_consciousness_status(defaultvalue) {
                var dvalue = defaultvalue.split(',');
                $('#sel_e').val(dvalue[0]);
                $('#sel_v').val(dvalue[1]);
                $('#sel_m').val(dvalue[2]);
                set_for_rb('rb_list1', dvalue[3]);
            }

            function reset_oxygen_status(defaultvalue) {
                var dvalue = defaultvalue.split(',');
                set_for_ck('ck_oxygen_status', 0, dvalue.length - 3, dvalue);
                $('#txt_oxygen_status_1').val(dvalue[dvalue.length - 3]);
                $('#txt_oxygen_status_2').val(dvalue[dvalue.length - 2]);
                $('#txt_oxygen_status_3').val(dvalue[dvalue.length - 1]);
            }

            function reset_sence_action(defaultvalue) {
                var dvalue = defaultvalue.split(',');
                set_for_rb('rb_vision_left', dvalue[0]);
                set_for_rb('rb_vision_right', dvalue[1]);
                set_for_rb('rb_hearing_left', dvalue[2]);
                set_for_rb('rb_hearing_right', dvalue[3]);
                set_for_rb('rb_coummuncation_understand', dvalue[4]);
                set_for_rb('rb_coummuncation_exprsssion', dvalue[5]);
                $('#txt_coummuncation_understand_2').val(dvalue[6]);
                $('#txt_coummuncation_exprsssion_2').val(dvalue[7]);
            }

            function rereset_food(defaultvalue) {
                var dvalue = defaultvalue.split(',');
                set_for_rb('rb_food', dvalue[0]);
                $('#txt_food_meal').val(dvalue[1]);
                $('#txt_food_heat').val(dvalue[2]);
                $('#txt_food_speat').val(dvalue[3]);
                $('#txt_food_other').val(dvalue[4]);
                //mod by yungchen
                set_for_ck('ck_speed', 4, dvalue.length, dvalue);
            }

            function reset_urination(defaultvalue) {
                var dvalue = defaultvalue.split(',');
                set_for_rb('rb_urination', dvalue[0]);
                $('#txt_limit_water').val(dvalue[1]);
                $('#txt_weight').val(dvalue[2]);
                $('#sel_weight_unit').val(dvalue[3]);
                if (dvalue.length = 5)
                    $('#ck_limit_water').click();
            }

            function reset_defecation(defaultvalue) {
                var dvalue = defaultvalue.split(',');
                set_for_rb('rb_defecation', dvalue[0]);
                set_for_rb('rb_defecation_3', dvalue[1]);
                set_for_rb('rb_defecation_aid', dvalue[2]);
                set_for_rb('rb_defecation_aid_4', dvalue[3]);
                $('#txt_defecation_aid_4_2').val(dvalue[4]);
                $('#txt_last_defecation').val(dvalue[5]);
                $('#txt_last_defecation_amount').val(dvalue[6]);
                $('#sel_defecation_aid').val(dvalue[7]);
            }

            function reset_special_item(defaultvalue) {
                var dvalue = defaultvalue.split(',');
                set_for_rb('rb_special_item', dvalue[0]);
                set_for_ck('ck_special_item', 1, dvalue.length - 1, dvalue);
                $('#txt_special_item_12').val(dvalue[dvalue.length - 1]);
            }

            function reset_isolation(defaultvalue) {
                var dvalue = defaultvalue.split(',');
                set_for_rb('rb_isolation', dvalue[0]);
                set_for_ck('ck_isolation_2', 1, dvalue.length - 1, dvalue);
                $('#txt_isolation_2_3').val(dvalue[dvalue.length - 1]);
            }

            function reset_nurse_care(defaultvalue) {
                var dvalue = defaultvalue.split(',');
                set_for_ck('ck_nurse_care', 0, dvalue.length - 1, dvalue);
                $('#txt_nurse_care_14').val(dvalue[dvalue.length - 1]);
            }

            function set_for_rb(rb_name, dvalue) {
                if (dvalue != 'undefined') {
                    var rb = document.getElementsByName(rb_name);
                    for (var i = 0; i < rb.length; i++) {
                        if (rb[i].value == dvalue)
                            $(rb[i]).click();
                    }
                }
            }

            function set_for_ck(ck_name, min, max, dvalue) {
                var ck = document.getElementsByName(ck_name);
                for (var i = min; i < max; i++) {
                    for (var j = 0; j < ck.length; j++) {
                        if (dvalue[i] == ck[j].value) {
                            $(ck[j]).click();
                            j = ck.length;
                        }
                    }
                }
            }
        </script>
    }
}
<form action="@action" method="post">
    <div class="funcArea">
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
            <tr>
                <td style="text-align:center;padding-bottom:10px;">
                    <input type="hidden" name="id" value="@id" />
                    <input type="button" value="儲存" style="width:80px;" onclick="check(); submit();" />
                    <input type="button" value="列印" style="width:80px;" onclick="turn_pdf();" />
                </td>
            </tr>
            <tr>
                <td>
                    <div class="dataArea" style="height:400px;">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                            <tr>
                                <td class="head">
                                    轉出時最後診斷
                                </td>
                                <td colspan="2">
                                    抓取HIS資料
                                </td>
                            </tr>
                            <tr>
                                <td class="head">
                                    轉床狀態
                                </td>
                                <td colspan="2">
                                    <input name="Radio1" type="radio" checked="checked" style="width: 20px" />Expired
                                    <input name="Radio1" type="radio" style="width: 20px" />MBD
                                    <input name="Radio1" type="radio" style="width: 20px" />AAD

                                    <input name="Radio1" type="radio" style="width: 20px" />轉院
                                    <input name="Text1" type="text" />
                                    <input name="Radio1" type="radio" style="width: 20px" />轉病房
                                    <input name="Text1" type="text" />


                                </td>
                            </tr>
                            <tr>
                                <td class="head">
                                    手術日期及名稱
                                </td>
                                <td colspan="2">
                                    <input name="Radio2" type="radio" />無
                                    <input name="Radio2" type="radio" />有

                                    &nbsp;
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="8">生命徵象</td>
                                <td class="head" rowspan="2">體溫</td>
                                <td>
                                    測量部位:
                                    <input name="Radio1" type="radio" />顳溫
                                    <input name="Radio1" type="radio" />耳溫
                                    <input name="Radio1" type="radio" />口溫
                                    <input name="Radio1" type="radio" />腋溫
                                    <input name="Radio1" type="radio" />肛溫
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    溫度:<input name="Text1" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="2">呼吸</td>
                                <td>
                                    呼吸次數:<input name="Text1" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    血氧飽和度:<input name="Text1" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="2">心跳</td>
                                <td>
                                    測量部位:
                                    <input name="Radio1" type="radio" />心尖脈
                                    <input name="Radio1" type="radio" />左橈動脈
                                    <input name="Radio1" type="radio" />右橈動脈
                                    <input name="Radio1" type="radio" />左足背動脈
                                    <input name="Radio1" type="radio" />右足背動脈
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    速率:<input name="Text1" type="text" />
                                </td>
                            </tr>

                            <tr>
                                <td class="head" rowspan="2">血壓</td>
                                <td>
                                    <input type="hidden" name="coummuncation_understand" id="coummuncation_understand" />
                                    測量部位:
                                    <input name="Radio1" type="radio" />左手
                                    <input name="Radio1" type="radio" />右手

                                    姿勢:
                                    <input name="Radio1" type="radio" />躺
                                    <input name="Radio1" type="radio" />左足背動脈
                                    <input name="Radio1" type="radio" />右足背動脈

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    收縮壓:<input name="Text1" type="text" />舒張壓:<input name="Text1" type="text" />
                                </td>
                            </tr>

                            <tr>
                                <td class="head">
                                    意識狀態
                                    <input type="hidden" id="consciousness_status" name="consciousness_status" />
                                </td>
                                <td colspan="2">
                                    E:
                                    <select id="sel_e">
                                        <option value="99">請選擇</option>
                                        <option value="4">4</option>
                                        <option value="3">3</option>
                                        <option value="2">2</option>
                                        <option value="1">1</option>
                                        <option value="C">C</option>
                                    </select>
                                    V:
                                    <select id="sel_v">
                                        <option value="99">請選擇</option>
                                        <option value="5">5</option>
                                        <option value="4">4</option>
                                        <option value="3">3</option>
                                        <option value="2">2</option>
                                        <option value="1">1</option>
                                        <option value="E">E</option>
                                        <option value="T">T</option>
                                        <option value="A">A</option>
                                    </select>
                                    M:
                                    <select id="sel_m">
                                        <option value="99">請選擇</option>
                                        <option value="6">6</option>
                                        <option value="5">5</option>
                                        <option value="4">4</option>
                                        <option value="3">3</option>
                                        <option value="2">2</option>
                                        <option value="1">1</option>
                                    </select>
                                    @Html.RadioButton("rb_list1", "清醒", false, new { id = "rb_list1_1" })
                                    @Html.Label("rb_list1_1", "清醒")
                                    @Html.RadioButton("rb_list1", "嗜睡", false, new { id = "rb_list1_2" })
                                    @Html.Label("rb_list1_2", "嗜睡")
                                    @Html.RadioButton("rb_list1", "混亂", false, new { id = "rb_list1_3" })
                                    @Html.Label("rb_list1_3", "混亂")
                                    @Html.RadioButton("rb_list1", "呆滯", false, new { id = "rb_list1_4" })
                                    @Html.Label("rb_list1_4", "呆滯")
                                    @Html.RadioButton("rb_list1", "半昏迷", false, new { id = "rb_list1_5" })
                                    @Html.Label("rb_list1_5", "半昏迷")
                                    @Html.RadioButton("rb_list1", "昏迷", false, new { id = "rb_list1_6" })
                                    @Html.Label("rb_list1_6", "昏迷")
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="2">
                                    用氧狀況
                                    <input type="hidden" id="oxygen_status" name="oxygen_status" />
                                </td>
                                <td colspan="2">
                                    <input type="checkbox" name="ck_oxygen_status" value="自呼" id="ck_oxygen_status_1" />
                                    @Html.Label("ck_oxygen_status_1", "自呼")
                                    <input type="checkbox" name="ck_oxygen_status" value="鼻導管" id="ck_oxygen_status_2" />
                                    @Html.Label("ck_oxygen_status_2", "鼻導管")
                                    <input type="checkbox" name="ck_oxygen_status" value="氧氣罩" id="ck_oxygen_status_3" />
                                    @Html.Label("ck_oxygen_status_3", "氧氣罩")
                                    <input type="checkbox" name="ck_oxygen_status" value="氣管導管" id="ck_oxygen_status_4" />
                                    @Html.Label("ck_oxygen_status_4", "氣管導管")
                                    <input type="checkbox" name="ck_oxygen_status" value="氣切導管" id="ck_oxygen_status_5" />
                                    @Html.Label("ck_oxygen_status_5", "氣切導管")
                                    氧氣量：
                                    @Html.TextBox("txt_oxygen_status_1", "")
                                    L/min
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="checkbox" name="ck_oxygen_status" value="呼吸器" id="ck_oxygen_status_6" />
                                    @Html.Label("ck_oxygen_status_6", "呼吸器")
                                    模式：
                                    @Html.TextBox("txt_oxygen_status_2", "")
                                    氧氣：
                                    @Html.TextBox("txt_oxygen_status_3", "")
                                    L/min
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="6">感官功能<input type="hidden" name="sence_action" id="sence_action" /></td>
                                <td class="head" rowspan="2">視力</td>
                                <td>
                                    左側：
                                    @Html.RadioButton("rb_vision_left", "正常", false, new { id = "rb_vision_left_1" })
                                    @Html.Label("rb_vision_left_1", "正常")
                                    @Html.RadioButton("rb_vision_left", "失明", false, new { id = "rb_vision_left_2" })
                                    @Html.Label("rb_vision_left_2", "失明")
                                    @Html.RadioButton("rb_vision_left", "模糊", false, new { id = "rb_vision_left_3" })
                                    @Html.Label("rb_vision_left_3", "模糊")
                                    @Html.RadioButton("rb_vision_left", "無法判斷", false, new { id = "rb_vision_left_4" })
                                    @Html.Label("rb_vision_left_4", "無法判斷")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    右側：
                                    @Html.RadioButton("rb_vision_right", "正常", false, new { id = "rb_vision_right_1" })
                                    @Html.Label("rb_vision_right_1", "正常")
                                    @Html.RadioButton("rb_vision_right", "失明", false, new { id = "rb_vision_right_2" })
                                    @Html.Label("rb_vision_right_2", "失明")
                                    @Html.RadioButton("rb_vision_right", "模糊", false, new { id = "rb_vision_right_3" })
                                    @Html.Label("rb_vision_right_3", "模糊")
                                    @Html.RadioButton("rb_vision_right", "無法判斷", false, new { id = "rb_vision_right_4" })
                                    @Html.Label("rb_vision_right_4", "無法判斷")
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="2">聽力</td>
                                <td>
                                    左側：
                                    @Html.RadioButton("rb_hearing_left", "正常", false, new { id = "rb_hearing_left_1" })
                                    @Html.Label("rb_hearing_left_1", "正常")
                                    @Html.RadioButton("rb_hearing_left", "失聰", false, new { id = "rb_hearing_left_2" })
                                    @Html.Label("rb_hearing_left_2", "失聰")
                                    @Html.RadioButton("rb_hearing_left", "重聽", false, new { id = "rb_hearing_left_3" })
                                    @Html.Label("rb_hearing_left_3", "重聽")
                                    @Html.RadioButton("rb_hearing_left", "無法判斷", false, new { id = "rb_hearing_left_4" })
                                    @Html.Label("rb_hearing_left_4", "無法判斷")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    右側：
                                    @Html.RadioButton("rb_hearing_right", "正常", false, new { id = "rb_hearing_right_1" })
                                    @Html.Label("rb_hearing_right_1", "正常")
                                    @Html.RadioButton("rb_hearing_right", "失聰", false, new { id = "rb_hearing_right_2" })
                                    @Html.Label("rb_hearing_right_2", "失聰")
                                    @Html.RadioButton("rb_hearing_right", "重聽", false, new { id = "rb_hearing_right_3" })
                                    @Html.Label("rb_hearing_right_3", "重聽")
                                    @Html.RadioButton("rb_hearing_right", "無法判斷", false, new { id = "rb_hearing_right_4" })
                                    @Html.Label("rb_hearing_right_4", "無法判斷")
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="2">溝通力</td>
                                <td>
                                    <input type="hidden" name="coummuncation_understand" id="coummuncation_understand" />
                                    能理解：
                                    @Html.RadioButton("rb_coummuncation_understand", "是", false, new { id = "rb_coummuncation_understand_1", onclick = "enable('txt_coummuncation_understand_2');" })
                                    @Html.Label("rb_coummuncation_understand_1", "是")
                                    @Html.RadioButton("rb_coummuncation_understand", "否", false, new { id = "rb_coummuncation_understand_2", onclick = "able('txt_coummuncation_understand_2');" })
                                    @Html.Label("rb_coummuncation_understand_2", "否")
                                    @Html.TextBox("txt_coummuncation_understand_2", "", new { disabled = "disabled", style = "width:400px" })

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="hidden" name="coummuncation_exprsssion" id="coummuncation_exprsssion" />
                                    能表達：
                                    @Html.RadioButton("rb_coummuncation_exprsssion", "是", false, new { id = "rb_coummuncation_exprsssion_1", onclick = "enable('txt_coummuncation_exprsssion_2');" })
                                    @Html.Label("rb_coummuncation_exprsssion_1", "是")
                                    @Html.RadioButton("rb_coummuncation_exprsssion", "否", false, new { id = "rb_coummuncation_exprsssion_2", onclick = "able('txt_coummuncation_exprsssion_2');" })
                                    @Html.Label("rb_coummuncation_exprsssion_2", "否")
                                    @Html.TextBox("txt_coummuncation_exprsssion_2", "", new { disabled = "disabled", style = "width:400px" })
                                </td>
                            </tr>
                            <tr>
                                <td class="head">
                                    活動能力
                                    <input type="hidden" name="activity" id="activity" />
                                </td>
                                <td colspan="2">
                                    @Html.RadioButton("rb_activity", "自行活動", false, new { id = "rb_activity_1" })
                                    @Html.Label("rb_activity_1", "自行活動")
                                    @Html.RadioButton("rb_activity", "以輔助器協助自行活動", false, new { id = "rb_activity_2" })
                                    @Html.Label("rb_activity_2", "以輔助器協助自行活動")
                                    @Html.RadioButton("rb_activity", "依賴他人協助活動", false, new { id = "rb_activity_3" })
                                    @Html.Label("rb_activity_3", "依賴他人協助活動")
                                    @Html.RadioButton("rb_activity", "完全依賴", false, new { id = "rb_activity_4" })
                                    @Html.Label("rb_activity_4", "完全依賴")
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="3">
                                    飲食
                                    <input type="hidden" name="food" id="food" />
                                </td>
                                <td colspan="2">
                                    @Html.RadioButton("rb_food", "由口進食", false, new { id = "rb_food_1" })
                                    @Html.Label("rb_food_1", "由口進食")
                                    @Html.RadioButton("rb_food", "鼻胃管", false, new { id = "rb_food_2" })
                                    @Html.Label("rb_food_2", "鼻胃管")
                                    @Html.RadioButton("rb_food", "胃造口", false, new { id = "rb_food_3" })
                                    @Html.Label("rb_food_3", "胃造口")
                                    @Html.RadioButton("rb_food", "腸造口", false, new { id = "rb_food_4" })
                                    @Html.Label("rb_food_4", "腸造口")
                                    餐數：
                                    @Html.TextBox("txt_food_meal", "")
                                    熱量：
                                    @Html.TextBox("txt_food_heat", "") Kcal
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="hidden" name="speed" id="speed" />
                                    <input type="checkbox" name="ck_speed" id="ck_speed_1" value="灌食幫浦(feeding pump)" />
                                    @Html.Label("ck_speed_1", "灌食幫浦(feeding pump)")
                                    速率：
                                    @Html.TextBox("txt_food_speat", "")
                                    <input type="checkbox" name="ck_speed" id="ck_speed_2" value="灌食袋(Feeding bag)" />
                                    @Html.Label("ck_speed_2", "灌食袋(Feeding bag)")
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    其他：
                                    @Html.TextBox("txt_food_other", "")
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="2">
                                    排尿功能
                                    <input type="hidden" name="urination" id="urination" />
                                </td>
                                <td colspan="2">
                                    @Html.RadioButton("rb_urination", "自解", false, new { id = "rb_urination_1" })
                                    @Html.Label("rb_urination_1", "自解")
                                    @Html.RadioButton("rb_urination", "尿套", false, new { id = "rb_urination_2" })
                                    @Html.Label("rb_urination_2", "尿套")
                                    @Html.RadioButton("rb_urination", "尿布", false, new { id = "rb_urination_3" })
                                    @Html.Label("rb_urination_3", "尿布")
                                    @Html.RadioButton("rb_urination", "間歇導尿", false, new { id = "rb_urination_4" })
                                    @Html.Label("rb_urination_4", "間歇導尿")
                                    @Html.RadioButton("rb_urination", "膀胱造口", false, new { id = "rb_urination_5" })
                                    @Html.Label("rb_urination_5", "膀胱造口")
                                    @Html.RadioButton("rb_urination", "尿管留置", false, new { id = "rb_urination_6" })
                                    @Html.Label("rb_urination_6", "尿管留置")
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="checkbox" id="ck_limit_water" value="限水" onclick="ckable(this, 'txt_limit_water');" />
                                    @Html.Label("ck_limit_water", "限水：")
                                    @Html.TextBox("txt_limit_water", "", new { disabled = "disabled" }) mL
                                    體重：
                                    @Html.TextBox("txt_weight", "")
                                    <select id="sel_weight_unit">
                                        <option value="kg">kg</option>
                                        <option value="lb">lb</option>
                                        <option value="g">g</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td id="f_defecation_3" class="head" drow="3" rowspan="3">
                                    排便功能
                                    <input type="hidden" name="defecation" id="defecation" />
                                </td>
                                <td colspan="2">
                                    @Html.RadioButton("rb_defecation", "自解", false, new { id = "rb_defecation_1", onclick = "minusrow(parseInt($('#f_defecation_3').attr('drow'))+1,'defecation_3');" })
                                    @Html.Label("rb_defecation_1", "自解")
                                    @Html.RadioButton("rb_defecation", "造口", false, new { id = "rb_defecation_3", onclick = "addrow($('#f_defecation_3').attr('drow'),'defecation_3');" })
                                    @Html.Label("rb_defecation_3", "造口")
                                </td>
                            </tr>
                            <tr id="defecation_3" fid="f_defecation_3" style="display:none;">
                                <td colspan="2">
                                    @Html.RadioButton("rb_defecation_3", "升結腸", false, new { id = "rb_defecation_3_1" })
                                    @Html.Label("rb_defecation_3_1", "升結腸")
                                    @Html.RadioButton("rb_defecation_3", "橫結腸", false, new { id = "rb_defecation_3_2" })
                                    @Html.Label("rb_defecation_3_2", "橫結腸")
                                    @Html.RadioButton("rb_defecation_3", "降結腸", false, new { id = "rb_defecation_3_3" })
                                    @Html.Label("rb_defecation_3_3", "降結腸")
                                </td>
                            </tr>
                            <tr>
                                <td class="head" id="f_defecation_aid_4" rowspan="1">輔助方式</td>
                                <td>
                                    @Html.RadioButton("rb_defecation_aid", "軟便劑", false, new { id = "rb_defecation_aid_1", onclick = "if(minusrow('2','defecation_aid_4')){ $('#f_defecation_3').attr('drow','3');$('#f_defecation_3').attr('rowspan',(parseInt($('#f_defecation_3').attr('rowspan'))-1)); }" })
                                    @Html.Label("rb_defecation_aid_1", "軟便劑")
                                    @Html.RadioButton("rb_defecation_aid", "塞劑", false, new { id = "rb_defecation_aid_2", onclick = "if(minusrow('2','defecation_aid_4')){ $('#f_defecation_3').attr('drow','3');$('#f_defecation_3').attr('rowspan',(parseInt($('#f_defecation_3').attr('rowspan'))-1)); }" })
                                    @Html.Label("rb_defecation_aid_2", "塞劑")
                                    @Html.RadioButton("rb_defecation_aid", "灌腸", false, new { id = "rb_defecation_aid_3", onclick = "if(minusrow('2','defecation_aid_4')){ $('#f_defecation_3').attr('drow','3');$('#f_defecation_3').attr('rowspan',(parseInt($('#f_defecation_3').attr('rowspan'))-1)); }" })
                                    @Html.Label("rb_defecation_aid_3", "灌腸")
                                    @Html.RadioButton("rb_defecation_aid", "手挖", false, new { id = "rb_defecation_aid_4", onclick = "if(addrow('1','defecation_aid_4')){ $('#f_defecation_3').attr('drow','4');$('#f_defecation_3').attr('rowspan',(parseInt($('#f_defecation_3').attr('rowspan'))+1)); }" })
                                    @Html.Label("rb_defecation_aid_4", "手挖")
                                </td>
                            </tr>
                            <tr id="defecation_aid_4" fid="f_defecation_aid_4" style="display:none;">
                                <td>
                                    @Html.RadioButton("rb_defecation_aid_4", "每次解便時", false, new { id = "rb_defecation_aid_4_1", onclick = "enable('txt_defecation_aid_4_2');" })
                                    @Html.Label("rb_defecation_aid_4_1", "每次解便時")
                                    @Html.RadioButton("rb_defecation_aid_4", "偶而", false, new { id = "rb_defecation_aid_4_2", onclick = "able('txt_defecation_aid_4_2');" })
                                    @Html.Label("rb_defecation_aid_4_2", "偶而")
                                    @Html.TextBox("txt_defecation_aid_4_2", "", new { disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    最後一次排便日：
                                    @Html.TextBox("txt_last_defecation", "")
                                    @*@WebTool.setDateTime("txt_last_defecation")*@
                                    @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "txt_last_defecation", "", false)
                                    性質：
                                    <select id="sel_defecation_aid">
                                        <option value="硬便">硬便</option>
                                        <option value="軟便">軟便</option>
                                        <option value="糊便">糊便</option>
                                        <option value="稀便">稀便</option>
                                        <option value="水便">水便</option>
                                        <option value="黏便">黏便</option>
                                    </select>
                                    量：
                                    @Html.TextBox("txt_last_defecation_amount", "") mL
                                </td>
                            </tr>
                            <tr>
                                <td class="head">導管</td>
                                <td colspan="2">
                                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;margin:5px 0 5px 0; border-top: 1px solid rgba(20%,20%,40%,0.5);border-left: 1px solid rgba(20%,20%,40%,0.5);">
                                        <tr>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">種類</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">材料</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">型號</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">固定長度</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">插管日期</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">預計拔管日期</td>
                                        </tr>
                                        @if (dt_tube != null && dt_tube.Rows.Count > 0)
                                        {
                                            foreach (DataRow r in dt_tube.Rows)
                                            {
                                                <tr>
                                                    <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                                                        @r["TYPE_NAME"]
                                                    </td>
                                                    <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                                                        @if (r["MATERIALID"].ToString() != "-1")
                                                        {
                                                            if (@r["MATERIALID"].ToString() != "99")
                                                            {
                                                                @r["MATERIAL_NAME"]
                                                            }
                                                            else
                                                            {
                                                                @r["MATERIALOTHER"]
                                                            }
                                                        }
                                                    </td>
                                                    <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                                                        @r["MODEL"]
                                                    </td>
                                                    <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                                                        @r["LENGTH"]
                                                        @if (r["LENGTHUNIT"].ToString() != "-1")
                                                        {
                                                            @r["LENGTHUNIT_NAME"]
                                                        }
                                                    </td>
                                                    <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                                                        @Convert.ToDateTime(r["STARTTIME"]).ToString("yyyy/MM/dd HH:mm")
                                                    </td>
                                                    <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                                                        @if (r["FORECAST"].ToString() != "")
                                                        {
                                                            @Convert.ToDateTime(r["FORECAST"]).ToString("d")
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="head">皮膚完整性</td>
                                <td colspan="2">
                                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;margin:5px 0 5px 0; border-top: 1px solid rgba(20%,20%,40%,0.5);border-left: 1px solid rgba(20%,20%,40%,0.5);">
                                        <tr>

                                            <td style="width:15%;">發生日期</td>
                                            <td style="width:15%;">部位</td>
                                            <td style="width:5%;">長</td>
                                            <td style="width:5%;">寬</td>
                                            <td style="width:5%;">深</td>
                                            <td style="width:15%;">傷口等級</td>
                                            <td style="width:20%;">接觸隔離</td>
                                            <td style="width:20%;">換藥方式</td>
                                        </tr>
                                        @if (dt_wound != null && dt_wound.Rows.Count > 0)
                                        {
                                            foreach (DataRow r in dt_wound.Rows)
                                            {
                                                {
                                                    <tr>
                                                        <td style="width:15%;white-space:nowrap;">@Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")</td>
                                                        <td style="width:15%;word-break:break-all;">@r["POSITION"]</td>
                                                        @if (r["SHAPE"].ToString() != ",,")
                                                        {
                                                            <td style="width:5%;word-break:break-all;">@r["SHAPE"].ToString().Split(',').GetValue(0)</td>
                                                            <td style="width:5%;word-break:break-all;">@r["SHAPE"].ToString().Split(',').GetValue(1)</td>
                                                            <td style="width:5%;word-break:break-all;">@r["SHAPE"].ToString().Split(',').GetValue(2)</td>
                                                        }
                                                        else
                                                        {
                                                            <td style="width:5%;word-break:break-all;">-</td>
                                                            <td style="width:5%;word-break:break-all;">-</td>
                                                            <td style="width:5%;word-break:break-all;">-</td>
                                                        }
                                                        <td style="width:15%;word-break:break-all;">@r["CLASS"]</td>
                                                        <td style="width:20%;word-break:break-all;">@r["ISOLATION"]</td>
                                                        <td style="width:20%;word-break:break-all;">@r["DRESSING"].ToString().Replace("|", ",")</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td id="f_rb_special" class="head" rowspan="1">
                                    特殊醫療用物準備
                                    <input type="hidden" name="special_item" id="special_item" />
                                </td>
                                <td colspan="2">
                                    @Html.RadioButton("rb_special_item", "不需要", false, new { id = "rb_special_item_1", onclick = " minusrow('3','special_item_1');minusrow('2','special_item_2');" })
                                    @Html.Label("rb_special_item_1", "不需要")
                                    @Html.RadioButton("rb_special_item", "需要", false, new { id = "rb_special_item_2", onclick = "addrow('1','special_item_1');addrow('2','special_item_2');" })
                                    @Html.Label("rb_special_item_2", "需要")
                                </td>
                            </tr>
                            <tr id="special_item_1" fid="f_rb_special" style="display:none;">
                                <td colspan="2">
                                    <input type="checkbox" name="ck_special_item" id="ck_special_item_1" value="血糖機" />
                                    @Html.Label("ck_special_item_1", "血糖機")
                                    <input type="checkbox" name="ck_special_item" id="ck_special_item_2" value="血壓計" />
                                    @Html.Label("ck_special_item_2", "血壓計")
                                    <input type="checkbox" name="ck_special_item" id="ck_special_item_3" value="氣墊床" />
                                    @Html.Label("ck_special_item_3", "氣墊床")
                                    <input type="checkbox" name="ck_special_item" id="ck_special_item_4" value="醫療床" />
                                    @Html.Label("ck_special_item_4", "醫療床")
                                    <input type="checkbox" name="ck_special_item" id="ck_special_item_5" value="抽痰機" />
                                    @Html.Label("ck_special_item_5", "抽痰機")
                                    <input type="checkbox" name="ck_special_item" id="ck_special_item_6" value="灌食幫浦" />
                                    @Html.Label("ck_special_item_6", "灌食幫浦(Feeding Pump)")
                                    <input type="checkbox" name="ck_special_item" id="ck_special_item_7" value="蒸氣吸入器" />
                                    @Html.Label("ck_special_item_7", "蒸氣吸入器")
                                </td>
                            </tr>
                            <tr id="special_item_2" fid="f_rb_special" style="display:none;">
                                <td colspan="2">
                                    <input type="checkbox" name="ck_special_item" id="ck_special_item_8" value="氧氣製造機" />
                                    @Html.Label("ck_special_item_8", "氧氣製造機")
                                    <input type="checkbox" name="ck_special_item" id="ck_special_item_9" value="輪椅" />
                                    @Html.Label("ck_special_item_9", "輪椅")
                                    <input type="checkbox" name="ck_special_item" id="ck_special_item_10" value="助行器" />
                                    @Html.Label("ck_special_item_10", "助行器")
                                    <input type="checkbox" name="ck_special_item" id="ck_special_item_11" value="呼吸器" />
                                    @Html.Label("ck_special_item_11", "呼吸器")
                                    <input type="checkbox" name="ck_special_item" id="ck_special_item_12" value="其他" onclick="ckable(this, 'txt_special_item_12');" />
                                    @Html.Label("ck_special_item_12", "其他")
                                    @Html.TextBox("txt_special_item_12", "", new { disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td class="head" id="f_isolation" rowspan="1">
                                    隔離
                                    <input type="hidden" name="isolation" id="isolation" />
                                </td>
                                <td colspan="2">
                                    @Html.RadioButton("rb_isolation", "不需要", false, new { id = "rb_isolation_1", onclick = " minusrow('2','rb_isolation');" })
                                    @Html.Label("rb_isolation_1", "不需要")
                                    @Html.RadioButton("rb_isolation", "需要", false, new { id = "rb_isolation_2", onclick = "addrow('1','rb_isolation');" })
                                    @Html.Label("rb_isolation_2", "需要")
                                </td>
                            </tr>
                            <tr id="rb_isolation" fid="f_isolation" style="display:none;">
                                <td colspan="2">
                                    <input type="checkbox" name="ck_isolation_2" id="ck_isolation_2_1" value="呼吸道" />
                                    @Html.Label("ck_isolation_2_1", "呼吸道")
                                    <input type="checkbox" name="ck_isolation_2" id="ck_isolation_2_2" value="腸道" />
                                    @Html.Label("ck_isolation_2_2", "腸道")
                                    <input type="checkbox" name="ck_isolation_2" id="ck_isolation_2_3" value="菌種：" onclick="ckable(this, 'txt_isolation_2_3');" />
                                    @Html.Label("ck_isolation_2_3", "菌種：")
                                    @Html.TextBox("txt_isolation_2_3", "", new { disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td class="head">檢驗報告</td>
                                <td colspan="2">
                                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;margin:5px 0 5px 0; border-top: 1px solid rgba(20%,20%,40%,0.5);border-left: 1px solid rgba(20%,20%,40%,0.5);">
                                        <tr>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">檢驗日期</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">檢驗名稱</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">檢驗值</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">檢驗正常值高值</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">檢驗正常值低值</td>
                                        </tr>
                                        @{
                                            string last_date = "";
                                            for (int i = 0; i < lab_list.Count; i++)
                                            {
                                                if (last_date == "" || Convert.ToDateTime(last_date) < Convert.ToDateTime(lab_list[i].LabDate))
                                                {
                                                    last_date = Convert.ToDateTime(lab_list[i].LabDate).ToString();
                                                }
                                            }
                                            for (int i = 0; i < lab_list.Count; i++)
                                            {
                                                if (Convert.ToDateTime(last_date) == Convert.ToDateTime(lab_list[i].LabDate))
                                                {
                                                    <tr>
                                                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">@Convert.ToDateTime(lab_list[i].LabDate).ToString("yyyy/MM/dd")</td>
                                                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">@lab_list[i].LabName</td>
                                                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">@lab_list[i].LabValue</td>
                                                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">@lab_list[i].LVH</td>
                                                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">@lab_list[i].LVL</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="head">過敏史</td>
                                <td colspan="2">
                                    @for (int i = 0; i < allergy_list.Count; i++)
                                    {
                                        @allergy_list[i].AllergyDesc<br />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="head" rowspan="4">
                                    已完成之護理照護
                                    <input type="hidden" name="nurse_care" id="nurse_care" />
                                </td>
                                <td colspan="2">
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_1" value="身體清潔與皮膚照護" />
                                    @Html.Label("ck_nurse_care_1", "身體清潔與皮膚照護")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_2" value="鼻胃管照護與管灌指導" />
                                    @Html.Label("ck_nurse_care_2", "鼻胃管照護與管灌指導")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_3" value="擺位、移位與關節活動" />
                                    @Html.Label("ck_nurse_care_3", "擺位、移位與關節活動")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_4" value="傷口、照口護理" />
                                    @Html.Label("ck_nurse_care_4", "傷口、照口護理")
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_5" value="氣切照護" />
                                    @Html.Label("ck_nurse_care_5", "氣切照護")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_6" value="尿管照護" />
                                    @Html.Label("ck_nurse_care_6", "尿管照護")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_7" value="胸腔物理治療" />
                                    @Html.Label("ck_nurse_care_7", "胸腔物理治療")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_8" value="糖尿病照護" />
                                    @Html.Label("ck_nurse_care_8", "糖尿病照護")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_9" value="復健運動" />
                                    @Html.Label("ck_nurse_care_9", "復健運動")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_10" value="TB照護" />
                                    @Html.Label("ck_nurse_care_10", "TB照護")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_11" value="高血壓照護" />
                                    @Html.Label("ck_nurse_care_11", "高血壓照護")
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_12" value="疼痛照護" />
                                    @Html.Label("ck_nurse_care_12", "疼痛照護")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_13" value="呼吸器脫離訓練" />
                                    @Html.Label("ck_nurse_care_13", "呼吸器脫離訓練")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_14" value="其他：" onclick="ckable(this, 'txt_nurse_care_14');" />
                                    @Html.Label("ck_nurse_care_14", "其他：")
                                    @Html.TextBox("txt_nurse_care_14", "", new { disabled = "disabled" })
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_15" value="洗腎：" />
                                    @Html.Label("ck_nurse_care_15", "洗腎：")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_16" value="星期一" />
                                    @Html.Label("ck_nurse_care_16", "星期一")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_17" value="星期二" />
                                    @Html.Label("ck_nurse_care_17", "星期二")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_18" value="星期三" />
                                    @Html.Label("ck_nurse_care_18", "星期三")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_19" value="星期四" />
                                    @Html.Label("ck_nurse_care_19", "星期四")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_20" value="星期五" />
                                    @Html.Label("ck_nurse_care_20", "星期五")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_21" value="星期六" />
                                    @Html.Label("ck_nurse_care_21", "星期六")
                                    <input type="checkbox" name="ck_nurse_care" id="ck_nurse_care_22" value="星期日" />
                                    @Html.Label("ck_nurse_care_22", "星期日")
                                </td>
                            </tr>
                            <!--
        <tr>
            <td class="head">目前用藥</td>
            <td colspan="2">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;margin:5px 0 5px 0; border-top: 1px solid rgba(20%,20%,40%,0.5);border-left: 1px solid rgba(20%,20%,40%,0.5);">
                    <tr>
                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">藥物名稱</td>
                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">劑量</td>
                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">單位</td>
                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">途徑</td>
                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">頻率</td>
                    </tr>
                @if (dt_med != null && dt_med.Rows.Count > 0)
                {
                    foreach (DataRow r in dt_med.Rows)
                    {
                    <tr>
                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                            <label class="mname">@r["DRUGNAME"]</label><br />
                            <label class="sname">@r["GENERICDRUGS"]</label>
                        </td>
                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                            @r["DOSE"]
                        </td>
                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                            @r["DOSEUNIT"]
                        </td>
                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                            @r["ROUTE"]
                        </td>
                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                            @r["FEQ"]
                        </td>
                    </tr>
                    }
                }
                </table>
            </td>
        </tr>
            -->

                            <tr>
                              <td class="head">
                            <tr>

                                <td class="head">目前用藥</td>
                                <td colspan="2">
                                    <table border="0" cellpadding="4" cellspacing="1" style="width: 100%; margin: 5px 0 5px 0; border-top: 1px solid rgba(20%,20%,40%,0.5); border-left: 1px solid rgba(20%,20%,40%,0.5);">
                                        <tr>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">藥物名稱</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">劑量</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">單位</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">途徑</td>
                                            <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">頻率</td>
                                        </tr>
                                        @{
                                            if (ViewData["med"] != null)
                                            {
                                                if (UdOrderList.Count == 0)
                                                {
                                                    @* @Html.Raw("目前無資料")*@
                                                }
                                                for (int e = 0; e <= UdOrderList.Count - 1; e++)
                                                {
                                                    <tr>
                                                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                                                            <label class="mname">@UdOrderList[e].DrugName</label><br />
                                                            <label class="sname">@UdOrderList[e].GenericDrugs</label>
                                                        </td>
                                                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                                                            @UdOrderList[e].Dose
                                                        </td>
                                                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                                                            @UdOrderList[e].DoseUnit
                                                        </td>
                                                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                                                            @UdOrderList[e].Route
                                                        </td>
                                                        <td style="border-right: 1px solid rgba(20%,20%,40%,0.5);">
                                                            @UdOrderList[e].Feq
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                @* @Html.Raw("目前無資料")*@
                                            }
                                        }
                                    </table>
                                </td>

                            </tr>
                        </table>

                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>