<script type="text/javascript">
    $(function () {
        setGridColor();
    });

    function setGridColor() {
        //格行換色
        $('.Area tr:odd').css('background', '#ABC8E2');
        $('.Area tr:even').css('background', '#E1E6FA');
    }

    function set_tr(obj, name) {
        var click = $(obj).attr('click');
        var tr = $('.' + name);
        if (click == 'true') {
            $(tr).fadeIn(0);
            $(obj).attr('click', 'false');
        }
        else {
            $(tr).fadeOut(0);
            $(obj).attr('click', 'true');
        }
    }
</script>
@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<div class="Area">
    <table id="tb_item_list" border="0" cellpadding="4" cellspacing="1" style="width:100%;">
        <tr>
        @if (dt != null && dt.Rows.Count > 0)
        {
            int row = dt.Rows.Count;
            string explanation_name = "";
            if (row % 4 != 0)
            {
                row = row + (4 - row % 4);
            }
            for (int i = 0, j = 0; i < row; i++, j++)
            {
                if (i < dt.Rows.Count)
                {
                    string id = dt.Rows[i]["DIAGNOSIS_CODE"].ToString();
                    if (explanation_name != dt.Rows[i]["DIAGNOSIS_DOMAIN_DESC"].ToString())
                    {
                        explanation_name = dt.Rows[i]["DIAGNOSIS_DOMAIN_DESC"].ToString();
                        if ((j % 4) > 0)
                        {
                            for (int k = (j % 4); k < 4; k++)
                            {
                                <td style="width:25%">&nbsp;</td>
                            }
                            j -= (j % 4);
                            @:</tr><tr>
                        }
                        else
                        {
                            @:</tr><tr>
                        }
                        <td click="true" onclick="set_tr(this,'@dt.Rows[i]["DIAGNOSIS_DOMAIN_DESC"]');" colspan="4" style="width:100%;text-align:center;font-size:16px;height:30px;font-weight:bold;background-color:#85A5CC;cursor:pointer;">@explanation_name <label style="color:blue;font-size:14px;">(點選展開)</label></td>
                        @:</tr><tr class="@dt.Rows[i]["DIAGNOSIS_DOMAIN_DESC"]" >
                    }
            <td style="width:25%">
                <input type="checkbox" name="item" id="@id" value="@dt.Rows[i]["DIAGNOSIS_NAME"].ToString().Trim()" />
                @Html.Label(id, dt.Rows[i]["DIAGNOSIS_NAME"].ToString().Trim(), new { @for=id})
            </td>
                    if ((j + 1) % 4 == 0)
                    {
            @:</tr><tr class="@dt.Rows[i]["DIAGNOSIS_DOMAIN_DESC"].ToString().Trim()" >
                    }
                }
                else
                {
            <td style="width:25%">&nbsp;</td>
                }
            }
        }
        </tr>
    </table>
</div>