@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
}

<style type="text/css">
    .ui-tabs .ui-tabs-nav li a {
        font-size: 16px;
        padding: 3px 5px 3px 5px;
    }

    .ui-tabs {
        font-size: 16px;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        check();
        $('input[type=text], textarea').each(function () {
            $(this).replaceWith("<span>" + $(this).val().replace(/\|/g, ',') + "</span>");
        });
        $('input[type=radio], input[type=checkbox]').each(function () {
            if (this.checked)
                $(this).remove();
            else
                $(this.parentElement).remove();
        });
    });

    //驗證欄位_數字
    function numcheck(id, time) {
        if (time.value.indexOf('.') > -1) {
            var re = /^[0-9]+\.[0-9]*$/;
        }
        else {
            var re = /^[0-9]+$/;
        }
        if (!re.test(time.value) && time.value != "") {
            alert("只能輸入數字");
            document.getElementById(id).value = "";
            return false;
        }
        else
            return true;
    }

    function set_for_rb(rb_name, dvalue) {
        if (dvalue != '') {
            $('input[name=' + rb_name + ']').each(function () {
                if ($(this).val() == dvalue)
                    $(this).click();
                else
                    $(this.parentElement).remove();
            });
        }
    }

    function set_for_ck(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            $('input[name=' + ck_name + ']').each(function () {
                var success = false;
                for (var i = 0; i < default_val.length; i++) {
                    if ($(this).val() == default_val[i])
                        success = true;
                }
                if (success)
                    $(this).click();
                else
                    $(this.parentElement).remove();
            });
        }
    }

    function set_for_txt(txt_name, dvalue) {
        if (dvalue != '') {
            var default_val = dvalue.split(",");
            var txt = document.getElementsByName(txt_name);
            if (txt.length > 1) {
                for (var i = 0; i < txt.length; i++) {
                    $(txt[i]).val(default_val[i]);
                }
            }
            else
                $(txt[0]).val(dvalue);
        }
    }

    function div_hidden(id_list) {
        var list = id_list.split(',');
        for (var i = 0 ; i < list.length; i++) {
            $('.' + list[i]).fadeOut(0);
            var input_list = $('.' + list[i] + ' input, .' + list[i] + ' textarea');
            for (var j = 0 ; j < input_list.length; j++) {
                if (input_list[j].type == "textarea" || input_list[j].type == 'text')
                    $(input_list[j]).val('');
                else if (input_list[j].type == 'radio')
                    input_list[j].checked = false;
                else {
                    if (input_list[j].checked)
                        $(input_list[j]).click();
                }
            }
        }
    }

    function check() {
        $('p:visible').each(function () {
            var input_list = $(this).find('input:not(span:not(:visible) input,span:not(:visible) textarea)');
            if (input_list.length > 0) {
                var success = true;
                for (var j = 0; j < input_list.length; j++) {
                    if (input_list[j].type == 'text' || input_list[j].type == 'textarea')
                        var input_val = $.trim(input_list[j].value);
                    else if (input_list[j].type == 'radio' || input_list[j].type == 'checkbox')
                        var input_val = $('input[name=' + $(input_list[j]).attr('name') + ']:checked').val();

                    if (input_val != undefined && input_val != '')
                        success = false;
                }
                if (success)
                    document.getElementById('unfilled').appendChild(this);
            }
        });
    }

</script>

@using System.Data;
@{ 
    DataTable dt = ViewBag.dt;
    List<NIS.Data.DrugOrder> Drug_list = (List<NIS.Data.DrugOrder>)ViewData["Drug_list"];
    //20140119 新增
    string createuser = ViewBag.createuser;
    string createtime = ViewBag.createtime;
    string modifyuser = ViewBag.modifyuser;
    string modifytime = ViewBag.modifytime;
    }

    <div class="tabArea">
        <div class="tab">
            <!--Title-->
            <div style="width:100%;text-align:center;"><span style="font-weight:bold;">精神科-出院計劃評估</span></div>
            <table border="2" style="width:99%;">
                <tr>
                    <td>病人姓名：@ptinof.PatientName</td>
                    @if(ptinof.Birthday != null)
                    {
                    <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                    }
                    else
                    {
                    <td>生日：</td>
                    }
                    <td>年齡：@ptinof.Age</td>
                    <td>病床號：@ptinof.BedNo</td>
                    <td>病歷號：@ptinof.ChartNo</td>
                </tr>
                <tr>
                    <td>科別：@ptinof.DeptName</td>
                    <td>主治醫師：@ptinof.DocName</td>
                    @if (ptinof.InDate != null)
                    {
                    <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                    }
                    else
                    {
                    <td>住院日期：</td>
                    }
                    <td>性別：@ptinof.PatientGender</td>
                    <td style="width:20%">診斷：@ptinof.ICD9_code1</td>
                </tr>
            </table>
            <p must="Y">
                <label class = "subtitle">評估日期</label>
                @Html.TextBox("param_tube_date", DateTime.Now.ToString("yyyy/MM/dd"))
                @Html.TextBox("param_tube_time", DateTime.Now.ToString("HH:mm"))
            </p>
            <p>
                <label class = "subtitle">出院方式</label>
                @VitalSign_Helper.assess_radio("so_Type", "允許出院|自動出院|轉院|死亡", "", "")
            </p>
            <p must="Y">
                <label class = "subtitle">患者情況病識感</label>
                @VitalSign_Helper.assess_radio("so_Awareness", "無|部分|有", "", "")
            </p>
            <p>
                <label class = "subtitle">病情</label>
                @VitalSign_Helper.assess_radio("so_Condition", "穩定|不穩定", "", "")
            </p>
            <p must="Y">
				<label class = "subtitle">照顧特質</label>
				@VitalSign_Helper.assess_radio("so_CPDCare", "病人有自我照顧的知識技能|病人無自我照顧的知識技能，但家屬有|缺乏照護知識與技能，但能尋求資源|缺乏照護知識與技能，且主動尋求資源困難", "", "")
            </p>
            <p must="Y">
				<label class = "subtitle">照顧資源</label>
				@VitalSign_Helper.assess_radio("so_CPDResouce", "父母同住|夫妻同住|子女同住|子女輪住|獨自居住|養護機構|其他", "其他", "span_so_CPDResouce_Other")
                <span class="span_so_CPDResouce_Other" style="display:none;">
                    ，@Html.TextBox("so_CPDResouce_Other", "", new { style = "width:150px;" })
                </span>
            </p>
            <p must="Y">
				<label class = "subtitle">特殊照護</label>
                @VitalSign_Helper.assess_radio("so_CPDSpecial", "無|有", "有", "span_so_CPDSpecial_Other")
                <span class="span_so_CPDSpecial_Other" style="display:none;">
                    ，@Html.TextBox("so_CPDSpecial_Other", "", new { style = "width:150px;" })
                </span>
            </p>
            <p must="Y">
				<label class = "subtitle">衛教指導</label>
                @VitalSign_Helper.assess_checkbox("so_Education", "藥物指導|情緒處理|幻覺處理|失眠處理|家屬衛教|社會資源", "", "")
            </p>
            <p>
				<label class = "subtitle">給予並說明</label>
                @VitalSign_Helper.assess_checkbox("so_Explanation", "約診單|診斷說明|下次門診時間", "", "")
            </p>
            <p>
				<label class = "subtitle">評值結果</label>
                @VitalSign_Helper.assess_radio("so_Result", "須通報轉介社區健康服務中心|不需轉報", "", "")
            </p>

            <table>
                <tr>
                    <td>首次評估者：@createuser </td>
                    <td>首次評估日期：@createtime</td>
                </tr>
                <tr>
                    <td>最後評估者：@modifyuser</td>
                    <td>最後修改日期：@modifytime</td>
                </tr>
            </table>

        </div>
    </div>

    <div id="unfilled" class="tabArea" style="display:none;overflow-y:auto;padding-left:5px;">
    </div>

<script type="text/javascript">
    @if (dt != null && dt.Rows.Count > 0)
    {
        @:$('#maode').val('@ViewBag.mode');
                @:$('#tableid').val('@dt.Rows[0]["TABLEID"]');
        foreach (DataRow r in dt.Rows)
        {
            if (r["ITEMTYPE"].ToString() == "radio")
            {
                @:set_for_rb('@r["ITEMID"]', '@r["ITEMVALUE"]');
            }
            else if (r["ITEMTYPE"].ToString() == "checkbox")
            {
                @:set_for_ck('@r["ITEMID"]', '@r["ITEMVALUE"]');
            }
            else if (r["ITEMTYPE"].ToString() == "text" || r["ITEMTYPE"].ToString() == "textarea")
            {
                @:$('#@r["ITEMID"]').val('@r["ITEMVALUE"].ToString()');
            }
        }
     }
</script>