@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
    string sex = ptinof.PatientGender;
    int age = ptinof.Age;
}
@using System.Text.RegularExpressions;


<style type="text/css">
    .ui-tabs .ui-tabs-nav li a {
        font-size: 16px;
        padding: 3px 5px 3px 5px;
    }

    .ui-tabs {
        font-size: 16px;
    }

    .hide {
        display: none;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        
        
    });


    

</script>


@using System.Data;
@{
    string conscious = string.Empty;
    if (sel_data(ViewBag.dt, "param_vs_conscious") == "清醒")
    {
        conscious = sel_data(ViewBag.dt, "param_vs_conscious");
    }
    else
    {
        conscious = sel_data(ViewBag.dt, "param_vs_conscious_item_other").Replace(',', '、');
    }
    string MentalCondition = string.Empty;
    if (sel_data(ViewBag.dt, "param_MentalCondition") == "正常")
    {
        MentalCondition = sel_data(ViewBag.dt, "param_MentalCondition");
    }
    else
    {
        MentalCondition = sel_data(ViewBag.dt, "param_MentalCondition_desc_item_other").Replace(',', '、');
        if (sel_data(ViewBag.dt, "param_MentalCondition_desc_other_txt") != "")
        {
            MentalCondition += "：" + sel_data(ViewBag.dt, "param_MentalCondition_desc_other_txt");
        }

    }
    string NervousSystem = string.Empty;
    if (sel_data(ViewBag.dt, "param_NervousSystem") == "正常")
    {
        NervousSystem = sel_data(ViewBag.dt, "param_NervousSystem");
    }
    else
    {
        string NervousSystemResult = sel_data(ViewBag.dt, "param_Nervous_desc_item_other").Replace(',', '、');
        if (NervousSystemResult.IndexOf("抽搐") != -1)
        {
            NervousSystemResult = NervousSystemResult.Replace("抽搐", "抽搐部位：" + sel_data(ViewBag.dt, "twitch_part_txt").Replace(',', '、'));
        }
        if (NervousSystemResult.IndexOf("痛") != -1)
        {
            NervousSystemResult = NervousSystemResult.Replace("痛", "痛部位：" + sel_data(ViewBag.dt, "pain_part_txt").Replace(',', '、'));
        }
        if (NervousSystemResult.IndexOf("麻") != -1)
        {
            NervousSystemResult = NervousSystemResult.Replace("麻", "麻部位：" + sel_data(ViewBag.dt, "hpan_part_txt").Replace(',', '、'));
        }
        if (NervousSystemResult.IndexOf("肢體障礙") != -1)
        {
            NervousSystemResult = NervousSystemResult.Replace("肢體障礙", "肢體障礙：" + sel_data(ViewBag.dt, "LimbDisorders_part").Replace(',', '、'));
        }
        if (NervousSystemResult.IndexOf("其他") != -1)
        {
            NervousSystemResult = NervousSystemResult.Replace("其他", "其他：" + sel_data(ViewBag.dt, "param_NervousSystem_desc_other_txt"));
        }
        NervousSystem = NervousSystemResult;
    }
    string CardiovascularSystem = string.Empty;
    if (sel_data(ViewBag.dt, "param_CardiovascularSystem") == "正常")
    {
        CardiovascularSystem = sel_data(ViewBag.dt, "param_CardiovascularSystem");
    }
    else
    {
        CardiovascularSystem = sel_data(ViewBag.dt, "param_Cardiovascular_desc_item_other").Replace(',', '、');
        if (sel_data(ViewBag.dt, "param_Cardiovascular_desc_other_txt") != "")
        {
            CardiovascularSystem += "：" + sel_data(ViewBag.dt, "param_Cardiovascular_desc_other_txt");
        }
    }
    string param_RespiratoryTract, param_RespiratoryRateAndPattern, param_RespiratorySound;
    if (sel_data(ViewBag.dt, "param_RespiratoryTract") == "通暢")
    {
        param_RespiratoryTract = sel_data(ViewBag.dt, "param_RespiratoryTract");
    }
    else
    {
        string RespiratoryTractResult = sel_data(ViewBag.dt, "param_RespiratoryTract_desc_item_other").Replace(',', '、');
        if (RespiratoryTractResult.IndexOf("痰") != -1)
        {
            RespiratoryTractResult = RespiratoryTractResult.Replace("痰", "痰：量" + sel_data(ViewBag.dt, "sputum_amount") + "，顏色" + sel_data(ViewBag.dt, "sputum_color"));
        }
        param_RespiratoryTract = RespiratoryTractResult;
        if (sel_data(ViewBag.dt, "param_RespiratoryTract_other_txt") != "")
        {
            param_RespiratoryTract += "：" + sel_data(ViewBag.dt, "param_RespiratoryTract_other_txt");
        }
    }
    if (sel_data(ViewBag.dt, "param_RespiratoryRateAndPattern") == "正常")
    {
        param_RespiratoryRateAndPattern = sel_data(ViewBag.dt, "param_RespiratoryRateAndPattern");
    }
    else
    {
        param_RespiratoryRateAndPattern = sel_data(ViewBag.dt, "param_RespiratoryRateAndPattern_desc_item_other").Replace(',', '、');
        if (sel_data(ViewBag.dt, "param_RespiratoryRateAndPattern_other_txt") != "")
        {
            param_RespiratoryRateAndPattern += "：" + sel_data(ViewBag.dt, "param_RespiratoryRateAndPattern_other_txt");
        }
    }
    if (sel_data(ViewBag.dt, "param_RespiratorySound") == "正常")
    {
        param_RespiratorySound = sel_data(ViewBag.dt, "param_RespiratorySound");
    }
    else
    {
        param_RespiratorySound = sel_data(ViewBag.dt, "param_RespiratorySound_desc_item_other").Replace(',', '、');
        if (sel_data(ViewBag.dt, "param_RespiratorySound_other_txt") != "")
        {
            param_RespiratorySound += "：" + sel_data(ViewBag.dt, "param_RespiratorySound_other_txt");
        }
    }
    string GASTROINTESTINALSYSTEM = string.Empty;
    if (sel_data(ViewBag.dt, "param_GastrointestinalSystem") == "正常")
    {
        GASTROINTESTINALSYSTEM = sel_data(ViewBag.dt, "param_GastrointestinalSystem");
    }
    else
    {
        GASTROINTESTINALSYSTEM = sel_data(ViewBag.dt, "param_GastrointestinalSystem_desc_item_other").Replace(',', '、');
        if (sel_data(ViewBag.dt, "param_GastrointestinalSystem_desc_other_txt") != "")
        {
            GASTROINTESTINALSYSTEM += "：" + sel_data(ViewBag.dt, "param_GastrointestinalSystem_desc_other_txt");
        }
    }
    string URINARYSYSTEM = string.Empty;
    if (sel_data(ViewBag.dt, "param_UrinarySystem") == "正常")
    {
        URINARYSYSTEM = sel_data(ViewBag.dt, "param_UrinarySystem");
    }
    else
    {
        URINARYSYSTEM = sel_data(ViewBag.dt, "param_UrinarySystem_desc_item_other").Replace(',', '、');
        if (sel_data(ViewBag.dt, "param_UrinarySystem_desc_other_txt") != "")
        {
            URINARYSYSTEM += "：" + sel_data(ViewBag.dt, "param_UrinarySystem_desc_other_txt");
        }
    }
    string SKINSYSTEM = string.Empty;
    if (sel_data(ViewBag.dt, "param_SkinSystem") == "正常")
    {
        SKINSYSTEM = sel_data(ViewBag.dt, "param_SkinSystem");
    }
    else
    {
        SKINSYSTEM = sel_data(ViewBag.dt, "param_SkinSystem_desc_item_other").Replace(',', '、');
        if (sel_data(ViewBag.dt, "param_SkinSystem_desc_other_txt") != "")
        {
            SKINSYSTEM += "：" + sel_data(ViewBag.dt, "param_SkinSystem_desc_other_txt");
        }
    }
    string BONESYSTEM = string.Empty;
    if (sel_data(ViewBag.dt, "param_skeleton") == "正常")
    {
        BONESYSTEM = sel_data(ViewBag.dt, "param_skeleton");
    }
    else
    {
        string BoneSystem = sel_data(ViewBag.dt, "param_skeleton_Desc").Replace(',', '、');
        if (BoneSystem.IndexOf("骨折") != -1)
        {
            BoneSystem = BoneSystem.Replace("骨折", "骨折部位：" + sel_data(ViewBag.dt, "param_skeleton_Desc_fracture").Replace(',', '、'));
        }
        if (BoneSystem.IndexOf("脫臼") != -1)
        {
            BoneSystem = BoneSystem.Replace("脫臼", "脫臼部位：" + sel_data(ViewBag.dt, "param_skeleton_Desc_dislocation").Replace(',', '、'));
        }
        if (BoneSystem.IndexOf("關節腫") != -1)
        {
            BoneSystem = BoneSystem.Replace("關節腫", "關節腫部位：" + sel_data(ViewBag.dt, "param_skeleton_Desc_arthrosis").Replace(',', '、'));
        }
        if (BoneSystem.IndexOf("截肢") != -1)
        {
            BoneSystem = BoneSystem.Replace("截肢", "截肢部位：" + sel_data(ViewBag.dt, "param_skeleton_Desc_amputation").Replace(',', '、'));
        }
        if (BoneSystem.IndexOf("畸形") != -1)
        {
            BoneSystem = BoneSystem.Replace("畸形", "畸形部位：" + sel_data(ViewBag.dt, "param_skeleton_Desc_deformity").Replace(',', '、'));
        }
        if (BoneSystem.IndexOf("其他") != -1)
        {
            BoneSystem = BoneSystem.Replace("其他", "其他：" + sel_data(ViewBag.dt, "param_skeleton_Desc_other"));
        }
        BONESYSTEM = BoneSystem;
    }
    string wound_content = string.Empty;
    string[] wound_type = sel_data(ViewBag.dt, "ddl_wound_type").Split(',');
    string[] wound_general = sel_data(ViewBag.dt, "ddl_wound_general").Split(',');
    string[] wound_scald = sel_data(ViewBag.dt, "ddl_wound_scald").Split(',');
    string[] wound_date = sel_data(ViewBag.dt, "wound_date").Split(',');
    string[] wound_date_unknown = sel_data(ViewBag.dt, "wound_date_unknown").Split(',');
    if (sel_data(ViewBag.dt, "param_General_wound") == "有")
    {
        for (int i = 0; i < wound_type.Length; i++)
        {
            wound_content += "傷口種類：" + wound_type[i];
            if (wound_type[i] == "燙傷")
            {
                wound_content += ";部位：" + wound_scald[i] + "；";
            }
            else
            {
                wound_content += "；部位：" + wound_general[i] + "；";
            }
            //加日期 --先住解~~撈不到值
            wound_content += "發生日期：";
            string Temp_wound_date = (wound_date[i] == "") ? "不詳" : wound_date[i];
            wound_content += Temp_wound_date;
            wound_content += "；";
        }
        wound_content = wound_content.TrimEnd('；');
    }
    else if (sel_data(ViewBag.dt, "param_General_wound") == "無")
    {
        wound_content = "無";
    }
    string param_pressure = string.Empty;
    string[] Temp_inHosp = sel_data(ViewBag.dt, "inHosp").Split(',');
    string[] Temp_outHosp = sel_data(ViewBag.dt, "outHosp").Split(',');
    string[] Temp_outHosp_other = sel_data(ViewBag.dt, "outHosp_other").Split(',');
    string[] Temp_wound_pressure = sel_data(ViewBag.dt, "wound_pressure").Split(',');
    string[] Temp_wound_pre_other_txt = sel_data(ViewBag.dt, "wound_pre_other_txt").Split(',');
    string[] wound_pre_date = sel_data(ViewBag.dt, "wound_pre_date").Split(',');
    string[] wound_pre_date_unknown = sel_data(ViewBag.dt, "wound_pre_date_unknown").Split(',');
    if (sel_data(ViewBag.dt, "param_pressure") == "有")
    {
        for (int i = 0; i < Temp_wound_pre_other_txt.Length; i++)
        {
            string Temp_place = "";
            if (i == 0)
            {
                Temp_place = sel_data(ViewBag.dt, "place");
            }
            else
            {
                Temp_place = sel_data(ViewBag.dt, "place_" + i);
            }
            param_pressure += "傷口種類：發生地點：";
            if (Temp_place == "1")
            {
                param_pressure += "院內：" + Temp_inHosp[i].Trim();
            }
            else
            {
                if (Temp_outHosp[i] == "其他醫院")
                {
                    param_pressure += "院外：其他醫院：" + Temp_outHosp_other[i];
                }
                else if (Temp_outHosp[i] == "長期養護機構")
                {
                    param_pressure += "院外：長期養護機構:" + Temp_outHosp_other[i];
                }
                else
                {
                    param_pressure += "院外：" + Temp_outHosp[i];
                }
            }
            param_pressure += "；";
            param_pressure += "部位：";
            if (Temp_wound_pressure[i] == "其他")
            {
                param_pressure += "其他" + Temp_wound_pre_other_txt[i];
            }
            else
            {
                param_pressure += Temp_wound_pressure[i];
            }
            param_pressure += "；";
            //加日期 --先住解~~撈不到值
            param_pressure += "發生日期：";
            string Temp_wound_pre_date = (wound_pre_date[i] == "") ? "不詳" : wound_pre_date[i];
            param_pressure += Temp_wound_pre_date;
            param_pressure += "；";
        }
        param_pressure = param_pressure.TrimEnd('；');
    }
    else if (sel_data(ViewBag.dt, "param_pressure") == "無")
    {
        param_pressure = "無";
    }
    //疼痛評估
    int? ps_value = 0;
    string pain_string = "";
    if (sel_data(ViewBag.dt, "param_pain_assessment_assess") != "")
    {
        //string vs_part = sel_data(dt, "param_pain_assessment_occasion") + "|" + sel_data(dt, "param_pain_assessment_assess");
        string vs_record = sel_data(ViewBag.dt, "param_pain_assessment_record");
        //疼痛計分
        Regex rgx = new Regex(@"^([(]\d+[)])|^(\d+)");
        foreach (string ps in vs_record.ToString().Split('|'))
        {
            if (ps != "")
            {
                ps_value += int.Parse(rgx.Match(ps).ToString().Replace("(", "").Replace(")", ""));
            }  
        }
    }
    else
    {
        ps_value = null;
    }

}
@functions
{
    public string sel_data(DataTable dt, string id)
    {
        string value = "";
        foreach (DataRow r in dt.Rows)
        {
            if (r["ITEMID"].ToString() == id)
                value = r["ITEMVALUE"].ToString();
        }
        return trans_special_code(value);
    }
    private string trans_special_code(string content)
    {
        if (content != null)
        {
            content = content.Trim();
            content = content.Replace("&", "&amp;");
            content = content.Replace("<", "&lt;");
            content = content.Replace(">", "&gt;");
            content = content.Replace("'", "&apos;");
            content = content.Replace("\"", "&quot;");

            content = content.Replace("\u0001", "");
            content = content.Replace("\u000B", "");
            content = content.Replace("\r\n", "&#xD;&#xA;");
            content = content.Replace("\n", "&#xA;");
            return content;
        }
        else
            return "";
    }
}


    <div class="tabArea">
        <table border="2" style="width:99%;">
            <tr>
                <th colspan="5" style="text-align:center;">
                    急診入院護理評估
                </th>
            </tr>
            <tr>
                <td>病人姓名：@ptinof.PatientName</td>
                @if (ptinof.Birthday != null)
                {
                    <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                }
                else
                {
                    <td>生日：</td>
                }
                <td>年齡：@ptinof.Age</td>
                <td>病床號：@ptinof.BedNo</td>
                <td>病歷號：@ptinof.ChartNo</td>
            </tr>
            <tr>
                <td>科別：@ptinof.DeptName</td>
                <td>主治醫師：@ptinof.DocName</td>
                @if (ptinof.InDate != null)
                {
                    <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                }
                else
                {
                    <td>住院日期：</td>
                }
                <td>性別：@ptinof.PatientGender</td>
                <td>診斷：@ptinof.ICD9_code1</td>
            </tr>
        </table>

            <p must="Y">
                <label class="subtitle">COMA SCALE</label>                
            </p>
        <span>
            (E)睜眼反射：@(sel_data(@ViewBag.dt, "gc_r1"))<br />
            (V)語言反射：@(sel_data(@ViewBag.dt, "gc_r2"))<br />
            (M)運動反射：@(sel_data(@ViewBag.dt, "gc_r3"))
        </span>

            <p must="Y">
                <label class="subtitle">一般外觀</label>@(sel_data(@ViewBag.dt, "pt_action").Replace(',','、'))
            </p>
            <p must="Y" fid="param_vs_conscious">
                <label class="subtitle">意識狀態</label>@conscious
            </p>
            
            <p must="Y" fid="param_MentalCondition">
                <label class="subtitle">精神狀態</label>@MentalCondition
            </p>
            
            <p must="Y" fid="param_NervousSystem">
                <label class="subtitle">神經系統</label>@NervousSystem
            </p>

            <p must="Y" fid="param_CardiovascularSystem">
                <label class="subtitle">心臟血管系統</label>@CardiovascularSystem
            </p>

            <p must="Y">
                <label class="subtitle">呼吸系統</label>
            </p>
            <p must="Y" fid="param_RespiratoryTract">
                <label style="font:bolder" class="subtitle">呼吸道</label>@param_RespiratoryTract
            </p>
            
            <p must="Y" fid="param_RespiratoryRateAndPattern">
                <label style="font:bolder" class="subtitle">呼吸速率與型態</label>@param_RespiratoryRateAndPattern
            </p>
            
            <p must="Y" fid="param_RespiratorySound">
                <label style="font:bolder" class="subtitle">呼吸音</label>@param_RespiratorySound
            </p>            

            <p must="Y" fid="param_GastrointestinalSystem">
                <label class="subtitle">腸胃系統</label>@GASTROINTESTINALSYSTEM
            </p>
            
            <p must="Y" fid="param_UrinarySystem">
                <label class="subtitle">泌尿系統</label>@URINARYSYSTEM
            </p>
            
            <p must="Y" fid="param_SkinSystem">
                <label class="subtitle">皮膚系統</label>@SKINSYSTEM
            </p>
            
            <p fid="param_skeleton" must="Y">
                <label class="subtitle">骨骼系統</label>@BONESYSTEM
            </p>

            <p fid="param_Other_Desc">
                <label class="subtitle">其他描述</label>
            </p>
            <p fid="param_Other_Desc">
                @sel_data(ViewBag.dt, "other_desc_txt")
            </p>


            <p must="Y">
                <label class="subtitle">一般傷口</label>@wound_content
            </p>
            
            <p must="Y">
                <label class="subtitle">壓傷傷口</label>@param_pressure
            </p>
        <!-- 疼痛評估 -->
        @if (ps_value != null)
        {
            <p fid="pain_assessment" must="Y">
                <label class="subtitle">疼痛評估</label>
                <label id="pain_level">@ps_value 分</label>
                <label id="param_pain_assessment_assess">(@sel_data(ViewBag.dt, "param_pain_assessment_assess"))</label>
            </p>
        }
    </div>

    
<style type="text/css">
    #block {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        background-color: #666;
        /* other browsers */
        opacity: 0.65;
        /* this works in IE6, IE7, and IE8 */
        filter: alpha(opacity=65);
        /* this works in IE8 only */
        display: none;
    }

    #loading {
        position: fixed;
        text-align: center;
        left: 50%;
        top: 50%;
        height: 50px;
        width: 200px;
        margin-top: -25px;
        margin-left: -100px;
        _position: absolute;
        color: #040FD9;
        font-weight: bold;
        z-index: 99;
        display: none;
    }
</style>
<div id="block"></div>
<div id="loading">
    <label for="lab" style="font-size: 16px">Loading...</label><br />
    <img src="~/Images/loading.gif" alt="" border="0" />
</div>
