@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    List<CostCenterList> costlist = (List<CostCenterList>)ViewData["costlist"];
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}
<style type="text/css">
    .dataArea {
        overflow-x: auto;
        overflow-y: auto;
        border-top: 2px solid #666;
        border-bottom: 2px solid #666;
        border-left: 1px solid rgba(20%,20%,40%,0.5);
    }
        .dataArea td {
            border-bottom: 1px solid rgba(20%,20%,40%,0.5);
            text-align: left;
        }
        .lab_point
    { 
        color:red;
    }
</style>
<script type="text/javascript">
    $(function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });
        setGridColor();
        //SetDatePicker($('#date'));
        //SetDatePicker($('#txt_reason_ck4_date'));
        //SetDatePicker($('#txt_reason_ck3'));
    });

    function SetDatePicker(DateObj) {
        DateObj.prop('readonly', true).css({ 'width': '80px', 'font-size': '12px' });
        DateObj.datepicker({
            beforeShowDay: function (date) {
                switch (date.getDay()) {
                    case 6:
                        return [true, 'satday'];
                        break;
                    case 0:
                        return [true, 'sunday'];
                        break;
                    default:
                        return [true, ''];
                        break;
                }
            },
            inline: true,
            showAnim: "slideDown",
            controlType: myControl,
            maxDate: 0
        });
    }

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    function able(id) {
        document.getElementById(id).disabled = false;
        document.getElementById(id).focus();
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
        document.getElementById(id).value = '';
    }
    function ckable(obj, txtid) {
        if (obj.checked)
        { able(txtid); }
        else
        { enable(txtid); }
    }

    //點選圖片改變部位
    function ChangeSelect(id, num) {
        $("#" + id).val(num);
        addposition($("#" + id).val());//紀錄部位代號
    }

    //紀錄部位代號
    function addposition(num) {
        if (num != "其他") {
            //if (num != "other") {
            $('#position').val(num);
            $('#other_postition_span').hide();//add
            postiontype(num);

        }
        else {
            $('#position').val('0');
            $('#other_postition_span').show();
        }
    }

    //連動部位類別
    function postiontype(num) {

        switch (num) {
            case "枕骨":
            case "右臉":
            case "左臉":
            case "頸":
            case "後頸":
            case "頭":
            case "後腦":
            case "枕骨":
            case "右臉":
            case "左臉":
            case "頭頸":
                $('input[name="param_postion_type"][value="頭頸部"]').prop('checked', true);
                break;
            case "腹部":
            case "胸部":
                $('input[name="param_postion_type"][value="軀幹前"]').prop('checked', true);

                break;
            case "背部":
            case "腰部":
            case "右臀":
            case "左臀":
            case "薦骨":
            case "會陰":
            case "其他":
                $('input[name="param_postion_type"][value="軀幹後"]').prop('checked', true);

                break;
            case "左手肘":
            case "左上臂前側":
            case "左下臂前側":
            case "左上臂後側":
            case "左下臂後側":
            case "左手腕":
            case "左手掌":
            case "左肩":
            case "左手指":
            case "左肩胛骨":
            case "左手肘":
            case "左上臂前側":
            case "左下臂前側":
            case "左上臂後側":
            case "左下臂後側":
            case "左手背":
                $('input[name="param_postion_type"][value="左上肢"]').prop('checked', true);
                break;
            case "右手肘":
            case "右上臂前側":
            case "右下臂前側":
            case "右上臂後側":
            case "右下臂後側":
            case "右手腕":
            case "右手掌":
            case "右肩":
            case "右手指":
            case "右肩胛骨":
            case "右手肘":
            case "右上臂前側":
            case "右下臂前側":
            case "右上臂後側":
            case "右左下臂後側":
            case "右手背":
                $('input[name="param_postion_type"][value="右上肢"]').prop('checked', true);

                break;
            case "左膝":
            case "左足跟":
            case "左腳踝":
            case "左足底":
            case "左足背":
            case "左腳趾":
            case "左大腿前側":
            case "左小腿前側":
            case "左大腿後側":
            case "左小腿後側":
            case "左腸骨瘠":
            case "左大粗隆":
            case "左膝":
            case "左坐骨粗隆":
            case "左踝骨外側":
            case "左足跟":
            case "左足底":
            case "左足背":
                $('input[name="param_postion_type"][value="左下肢"]').prop('checked', true);

                break;
            case "右膝":
            case "右足跟":
            case "右腳踝":
            case "右足底":
            case "右足背":
            case "右腳趾":
            case "右大腿前側":
            case "右小腿前側":
            case "右大腿後側":
            case "右小腿後側":
            case "右腸骨瘠":
            case "右大粗隆":
            case "右膝":
            case "右坐骨粗隆":
            case "右踝骨外側":
            case "右足跟":
            case "右足底":
            case "右足背":
                $('input[name="param_postion_type"][value="右下肢"]').prop('checked', true);

                break;
        }
    }

    //紀錄地點
    function addlocation(num) {
        if (num == '0')
            $('#location').val('');
        else
            $('#location').val($.trim(num) + $.trim($('#outHosp_other').val()));
    }

    function woundtype_change(num) {
        reset();//欄位重設
        if (num == '壓瘡' || num == '壓傷') {//壓傷
            $('#Wound1').fadeIn(0);
            $('#Select2').fadeIn(0);
            $('.tr_other').fadeIn(500);
            addposition($('#Select2').val());
        } else if (num == '生產') {
            $('#Select3').fadeIn(0);
            $('.tr_labor_other').fadeIn(500);
            $('#tr_labor_other').fadeIn(500);
            addposition($('#Select3').val());
        }
        else {
            if (num == '燙傷') {//燙傷
                $('#Wound3').fadeIn(0);
                $('#Select1').fadeIn(0);
                addposition($('#Select1').val());
            }
            else {
                $('#Wound2').fadeIn(0);
                $('#Select0').fadeIn(0);
                addposition($('#Select0').val());
                if (num == '99') {
                    document.getElementById('txt_woundtype_other').disabled = false;
                }
            }
        }
    }

    //欄位重設
    function reset() {
        $('.tr_other').fadeOut(0);
        $('.tr_labor_other').fadeOut(0);
        $('#tr_labor_other').fadeOut(0);
        $('#Wound1').fadeOut(0);
        $('#Wound2').fadeOut(0);
        $('#Wound3').fadeOut(0);
        $('#Select1').fadeOut(0);
        $('#Select2').fadeOut(0);
        $('#Select3').fadeOut(0);
        $('#Select0').fadeOut(0);
        $('#Select1').val('0');
        $('#Select2').val('0');
        $('#Select0').val('0');
        $('#Select3').val('0');
        document.getElementById('txt_woundtype_other').disabled = true;
        $('#txt_woundtype_other').val('');
    }

    //欄位驗證
    function check() {
        //紀錄地點
             if ($('input[name=place]:checked').val() == '1') {
            if ($('#inHosp').val() != "")
                $('#location').val($('#inHosp').find('option:selected').text());
        }
        else
            addlocation($('#outHosp').val());

        //if (($.trim($('#location').val()) != '' && $('#wound_type').val() == '壓傷') || $('#wound_type').val() != '壓傷') {//驗證地點
        if (($.trim($('#location').val()) != '' &&
            ($('#wound_type').val() == '壓瘡' || $('#wound_type').val() == '壓傷'))
            || ($('#wound_type').val() != '壓瘡' && $('#wound_type').val() != '壓傷')) {

            if ($('#other_position').val() != '') {
                $('#position').val($('#other_position').val());
               
                return true;
            }
          
            if ($('#position').val() != '0') {//驗證部位
                if ($('#wound_type').val() == '99') {//驗證種類
                    if ($.trim($('#txt_woundtype_other').val()) != '')
                        return true;
                    else {
                        alert('請輸入其他種類');
                        return false;
                    }
                }
           
                var reason_content = '';
            
                if ($('#wound_type').val() == '壓瘡' || $('#wound_type').val() == '壓傷' ) {//壓傷                 
                        if ($('input[name=ck_reason]:checked').length == 0) {
                            alert('請選擇發生原因');                        
                            return false;
                        }
                    var ck = document.getElementsByName('ck_reason');
                    for (var i = 0; i < ck.length ; i++) {//驗證發生原因
                        if (ck[i].checked) {
                            if (i == 2)
                                reason_content = reason_content + ck[i].value + ':' + $('#txt_reason_ck3').val() + ',';
                            else if (i == 3) {
                                if ($('#sel_reason_ck4').val() == '0') {
                                    alert('請選擇發生原因：醫療裝置壓迫');
                                    return false;
                                }
                                else if ($('#sel_reason_ck4').val() == '99') {
                                    if ($.trim($('#txt_sel_reason_ck4_other').val()) == '') {
                                        alert('請輸入發生原因：醫療裝置壓迫：其他');
                                        return false;
                                    }
                                }
                                reason_content = reason_content + ck[i].value + ':' + $('#txt_reason_ck4_date').val() + ':' + $('#sel_reason_ck4').val() + ':' + $('#txt_sel_reason_ck4_other').val() + ',';
                            }
                            else if (i == 6) {
                                if ($.trim($('#txt_reason_ck_other').val()) == '') {
                                    alert('請輸入發生原因：其他');
                                    return false;
                                }
                                reason_content = reason_content + ck[i].value + ':' + $('#txt_reason_ck_other').val() + ',';
                            }
                            else
                                reason_content = reason_content + ck[i].value + ',';
                        }
                    }
                }
                else
                    $('#location').val('');
                if (reason_content != "")
                    $('#reason').val(reason_content.substring(0, reason_content.length - 1));
                else
                    $('#reason').val(reason_content);
                return true;
            }
            else {
                alert('請選擇部位');
                return false;
            }
        }
        else {
            alert('請選擇發生地點');
            return false;
        }
    }
</script>
<form action="AddTraumaPrompt" method="post">
    <table border="1" style="width:100%; height:100%">
        <tr style="">
            <td style="width:60%; height:100%;display:none;">
                <div id="Wound1" style="display:none;">
                    <img src="~/Images/Character/CharacterPressureSores.JPG" alt="" width="535" height="532" border="0" usemap="#Map" longdesc="~/Images/Character/CharacterPressureSores.JPG" />
                    <map name="Map" id="Map">
                        <area shape="rect" coords="102,249,129,277" title="腸骨瘠-右" href="#" alt="腸骨瘠-右" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="147,249,174,278" title="腸骨瘠-左" href="#" alt="腸骨瘠-左" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="99,292,128,320" title="大粗隆-右" href="#" alt="大粗隆-右" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="144,291,174,321" title="大粗隆-左" href="#" alt="大粗隆-左" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="106,375,132,403" title="右膝" href="#" alt="右膝" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="141,375,167,402" title="左膝" href="#" alt="左膝" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="373,101,404,129" title="枕骨" href="#" alt="枕骨" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="349,155,383,197" title="左肩胛" href="#" alt="左肩胛" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="395,154,428,196" title="右肩胛" href="#" alt="右肩胛" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="321,204,353,234" title="左手肘" href="#" alt="左手肘" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="422,203,455,233" title="右手肘" href="#" alt="右手肘" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="368,259,408,288" title="薦骨" href="#" alt="薦骨" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="348,288,381,323" title="坐骨粗隆-左" href="#" alt="坐骨粗隆-左" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="396,289,430,324" title="坐骨粗隆-右" href="#" alt="坐骨粗隆-右" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="366,471,384,494" title="左踝骨外側" href="#" alt="左踝骨外側" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="393,471,411,494" title="右踝骨外側" href="#" alt="右踝骨外側" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="365,496,384,514" title="左足跟" href="#" alt="左足跟" onclick="ChangeSelect('Select2',alt);" />
                        <area shape="rect" coords="390,496,410,513" title="右足跟" href="#" alt="右足跟" onclick="ChangeSelect('Select2',alt);" />
                    </map>
                </div>
                <div id="Wound2" style="display:none;">
                    <img src="~/Images/Character/Surgery.JPG" alt="" width="535" height="532" border="0" usemap="#Map2" longdesc="~/Images/Character/Surgery.JPG" />
                    <map name="Map2" id="Map2">
                        <area shape="poly" coords="134,65,149,67,157,74,161,86,116,84,116,73,125,68" href="#" title="頭" alt="頭" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="157,87,113,86,111,101,124,127,144,130,158,106,157,89" href="#" title="臉" alt="臉" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="96,140,92,168,96,180,100,200,98,217,79,205,77,179,82,165,82,147,91,142" href="#" title="右上臂" alt="右上臂" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="78,208,96,219,91,237,58,276,49,268,69,222" href="#" title="右下臂" alt="右下臂" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="57,278,47,272,30,282,25,289,24,292,32,286,36,286,27,315,37,305,33,320,43,321,53,317,56,286" href="#" title="右手掌" alt="右手掌" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="176,140,181,170,172,203,174,217,193,206,191,165,190,147,178,139" href="#" title="左上臂" alt="左上臂" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="195,209,176,219,191,250,214,276,224,268,213,238" href="#" title="左下臂" alt="左下臂" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="227,268,250,290,239,283,236,285,245,311,245,316,236,311,240,321,225,320,216,288,214,279,214,275" href="#" title="左手掌" alt="左手掌" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="122,132,150,132,173,140,178,165,164,228,105,228,92,167,96,140" href="#" title="胸部" alt="胸部" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="105,232,164,230,171,264,99,266" href="#" title="腹部" alt="腹部" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="98,304,134,310,133,361,132,393,105,391,98,340" href="#" title="右大腿" alt="右大腿" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="173,305,136,310,141,395,166,392,168,355,176,338" href="#" title="左大腿" alt="左大腿" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="132,397,107,396,106,421,116,467,129,467,134,430" href="#" title="右小腿" alt="右小腿" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="166,396,141,398,138,426,143,447,142,470,159,471,167,421" href="#" title="左小腿" alt="左小腿" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="133,473,114,470,96,495,109,510,118,500,132,499" href="#" title="右足背" alt="右足背" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="142,474,139,495,155,498,164,508,178,496,162,478,160,473" href="#" title="左足背" alt="左足背" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="102,510,92,498,84,503,92,517,101,511" href="#" title="右腳趾" alt="右腳趾" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="180,498,163,509,179,516,188,506" href="#" title="左腳趾" alt="左腳趾" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="367,93,410,93,403,116,373,116" href="#" title="枕骨" alt="枕骨" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="373,120,401,119,403,133,389,139,373,134" href="#" title="頸" alt="頸" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="373,136,387,141,388,159,345,160,343,146" href="#" title="左肩" alt="左肩" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="406,135,389,141,389,158,427,160,429,141,416,140" href="#" title="右肩" alt="右肩" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="345,163,427,163,425,202,420,232,355,231,350,201" href="#" title="背部" alt="背部" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="rect" coords="348,282,388,309" href="#" title="左臀" alt="左臀" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="rect" coords="390,282,426,310" href="#" title="右臀" alt="右臀" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="306,278,300,272,287,283,287,299,306,304,310,287" href="#" title="左手背" alt="左手背" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="478,274,465,278,470,301,491,299,491,283" href="#" title="右手背" alt="右手背" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="306,310,283,302,279,317,290,324,302,320" href="#" title="左手指" alt="左手指" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="poly" coords="491,303,472,305,475,323,489,324,496,314" href="#" title="右手指" alt="右手指" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="circle" coords="373,481,10" href="#" title="左足踝" alt="左足踝" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="circle" coords="400,481,11" href="#" title="右足踝" alt="右足踝" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="circle" coords="377,504,8" href="#" title="左足跟" alt="左足跟" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="circle" coords="401,503,10" href="#" title="右足跟" alt="右足跟" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="circle" coords="350,502,15" href="#" title="左足底" alt="左足底" onclick="ChangeSelect('Select0',alt);" />
                        <area shape="circle" coords="426,500,15" href="#" title="右足底" alt="右足底" onclick="ChangeSelect('Select0',alt);" />
                    </map>
                </div>
                <div id="Wound3" style="display:none;">
                    <img src="~/Images/Character/Scald.JPG" alt="" width="535" height="532" border="0" usemap="#Map3" longdesc="~/Images/Character/Scald.JPG" />
                    <map name="Map3" id="Map3">
                        <area shape="poly" coords="96,140,92,168,96,180,100,200,98,217,79,205,77,179,82,165,82,147,91,142" href="#" title="右上臂" alt="右上臂" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="176,140,181,170,172,203,174,217,193,206,191,165,190,147,178,139" href="#" title="左上臂" alt="左上臂" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="122,132,150,132,173,140,178,165,164,228,105,228,92,167,96,140" href="#" title="胸部" alt="胸部" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="98,304,134,310,133,361,132,393,105,391,98,340" href="#" title="右大腿" alt="右大腿" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="173,305,136,310,141,395,166,392,168,355,176,338" href="#" title="左大腿" alt="左大腿" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="132,397,107,396,106,421,116,467,129,467,134,430" href="#" title="右小腿" alt="右小腿" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="166,396,141,398,138,426,143,447,142,470,159,471,167,421" href="#" title="左小腿" alt="左小腿" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="" href="#" title="" alt="枕骨" />
                        <area shape="poly" coords="401,130,403,119,413,88,400,69,381,68,370,75,366,94,369,111,377,130" href="#" title="頭頸" alt="頭頸" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="373,133,403,133,430,142,431,172,420,232,357,232,343,174,343,145" href="#" title="後胸" alt="後胸" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="95,220,77,208,49,267,28,282,24,293,32,288,31,317,38,323,48,318,56,288,56,279,88,243" href="#" title="右下臂" alt="右下臂" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="194,209,175,220,189,250,214,277,217,304,221,319,234,322,245,314,235,287,248,291,239,276,222,268,209,229" href="#" title="左下臂" alt="左下臂" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="circle" coords="136,282,24" href="#" title="會陰" alt="會陰" onclick="ChangeSelect('Select1',alt)" />
                    </map>
                </div>
                <div id="Wound3" style="display:none;">
                    <img src="~/Images/Character/Scald.JPG" alt="" width="535" height="532" border="0" usemap="#Map3" longdesc="~/Images/Character/Scald.JPG" />
                    <map name="Map3" id="Map3">
                        <area shape="poly" coords="96,140,92,168,96,180,100,200,98,217,79,205,77,179,82,165,82,147,91,142" href="#" title="右上臂" alt="右上臂" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="176,140,181,170,172,203,174,217,193,206,191,165,190,147,178,139" href="#" title="左上臂" alt="左上臂" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="122,132,150,132,173,140,178,165,164,228,105,228,92,167,96,140" href="#" title="胸部" alt="胸部" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="98,304,134,310,133,361,132,393,105,391,98,340" href="#" title="右大腿" alt="右大腿" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="173,305,136,310,141,395,166,392,168,355,176,338" href="#" title="左大腿" alt="左大腿" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="132,397,107,396,106,421,116,467,129,467,134,430" href="#" title="右小腿" alt="右小腿" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="166,396,141,398,138,426,143,447,142,470,159,471,167,421" href="#" title="左小腿" alt="左小腿" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="" href="#" title="" alt="枕骨" />
                        <area shape="poly" coords="401,130,403,119,413,88,400,69,381,68,370,75,366,94,369,111,377,130" href="#" title="頭頸" alt="頭頸" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="373,133,403,133,430,142,431,172,420,232,357,232,343,174,343,145" href="#" title="後胸" alt="後胸" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="95,220,77,208,49,267,28,282,24,293,32,288,31,317,38,323,48,318,56,288,56,279,88,243" href="#" title="右下臂" alt="右下臂" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="poly" coords="194,209,175,220,189,250,214,277,217,304,221,319,234,322,245,314,235,287,248,291,239,276,222,268,209,229" href="#" title="左下臂" alt="左下臂" onclick="ChangeSelect('Select1',alt);" />
                        <area shape="circle" coords="136,282,24" href="#" title="會陰" alt="會陰" onclick="ChangeSelect('Select1',alt)" />
                    </map>
                </div>
            </td>
            <td valign="top" style="width:40%;height:380px;">
                <div class="dataArea" style="height:100%;">
                    <table border="0" cellpadding="4" cellspacing="1" style="width: 100%;/*height:100%;*/ ">
                        <tr>
                            <td width="22%">發生日期</td>
                            <td>
                                <input type="hidden" value="@ViewBag.num" name="num" />
                                @Html.TextBox("date", DateTime.Now.ToString("yyyy/MM/dd"))
                                @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "date", "", true)
                                <input type="checkbox" id="undate" name="undate" value="undate" onclick="if (this.checked) { enable('date') } else { able('date') };" />
                                @Html.Label("undate", "不詳")
                            </td>
                        </tr>
                        <tr>
                            <td>傷口種類</td>
                            <td>
                                <select id="wound_type" name="wound_type" onchange="woundtype_change($(this).val());">
                                    <option value="壓傷">壓傷</option>
                                    <option value="手術">手術</option>
                                    <option value="外傷">外傷</option>
                                    <option value="燙傷">燙傷</option>
                                    <option value="蜂窩性組織炎">蜂窩性組織炎</option>
                                    <option value="DM Foot">糖尿病足(DM Foot)</option>
                                    <option value="生產">生產</option>
                                    <option value="99">其他</option>
                                </select>
                                @Html.TextBox("txt_woundtype_other", null, new { style = "width:80px;", disabled = "disabled" })
                            </td>
                        </tr>
                        <tr>
                            <td><label class="lab_point">*</label>部位</td>
                            <td>
                                <div>
                                    @Html.DropDownList("Select2", (List<SelectListItem>)ViewBag.dt_w_p, "請選擇",new {style="display:inline;", key="0",id = "Select2", onchange = "addposition($(this).val());" })
                                    @Html.DropDownList("Select0", (List<SelectListItem>)ViewBag.dt_w_g, "請選擇", new {style="display: none;", key = "0", id = "Select0", onchange = "addposition($(this).val());" })
                                    @Html.DropDownList("Select1", (List<SelectListItem>)ViewBag.dt_w_s, "請選擇", new { style = "display: none;", key = "0", id = "Select1", onchange = "addposition($(this).val());" })
                                    @Html.DropDownList("Select3", (List<SelectListItem>)ViewBag.dt_w_l, "請選擇", new { style = "display: none;", key = "0", id = "Select3", onchange = "addposition($(this).val());" })
                                    <span id="other_postition_span" style="display:none"><input type="text" name="other_position" id="other_position" /></span>
                                    <input type="hidden" name="position" id="position" value="0" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><label class="lab_point">*</label>部位分類</td>
                            <td>
                                <div>
                                    @VitalSign_Helper.assess_radio("param_postion_type", "頭頸部|軀幹前|軀幹後|左上肢|右上肢|左下肢|右下肢", "頭頸部|軀幹前|軀幹後|左上肢|右上肢|左下肢|右下肢", "")
                                </div>
                            </td>
                        </tr>
                        <tr class="tr_other">
                            <td><label class="lab_point">*</label>發生地點</td>
                            <td>
                                @Html.RadioButton("place", "1", true, new { id = "place1", onclick = @Java_funcion.show_hide("inHosp", "outHosp") + "" })@*$('#outHosp_other').fadeOut(0);*@
                                @Html.Label("place1", "院內")
                                 <select id="inHosp" name="inHsop">
                                    <option value="">請選擇</option>
                                    @if (costlist != null && costlist.Count > 0)
                                    {
                                        foreach (CostCenterList item in costlist)
                                        {
                                    <option value="@(item.CostCenterCode)">@(item.CCCDescription)</option>
                                        }
                                    }
                                </select>
                                @Html.RadioButton("place", "2", false, new { id = "place2", onclick = @Java_funcion.show_hide("outHosp", "inHosp") + "" })@*$('#outHosp_other').fadeIn(0);*@
                                @Html.Label("place2", "院外")
                                <select id="outHosp" size="1" style="display: none;">
                                    <option value="0">請選擇</option>
                                    <option value="家中">家中</option>
                                    <option value="長期養護機構">長期養護機構</option>
                                    <option value="其他醫院">其他醫院</option>
                                    <option value="其他">其他</option>
                                </select>
                                @Html.TextBox("outHosp_other", "", new { style = "width:80px;display:none;" })
                                <input type="hidden" id="location" name="location" value="" />
                            </td>
                        </tr>
                        <tr class="tr_other">
                            <td rowspan="7">
                                發生原因
                            </td>
                            <td>
                                <label><input type="checkbox" name="ck_reason" id="reason_ck1" value="未確實執行翻身" />未確實執行翻身</label>
                            </td>
                        </tr>
                        <tr class="tr_other">
                            <td>
                                <label><input type="checkbox" name="ck_reason" id="reason_ck2" value="骨突處反覆摩擦" />骨突處反覆摩擦</label>
                            </td>
                        </tr>
                        <tr class="tr_other">
                            <td>
                                <label>
                                    <input type="checkbox" name="ck_reason" id="reason_ck3" value="使用輔具(背架、頸圈、石膏等)" onclick="if (this.checked) { $('#txt_reason_ck3').fadeIn(500); } else { $('#txt_reason_ck3').fadeOut(500); }" />
                                    使用輔具(背架、頸圈、石膏等)
                                </label>
                                @Html.TextBox("txt_reason_ck3", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "display:none;" })
                                @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "txt_reason_ck3", "", false)
                            </td>
                        </tr>
                        <tr class="tr_other">
                            <td>
                                <label>
                                    <input type="checkbox" name="ck_reason" id="reason_ck4" value="醫療裝置壓迫" onclick="if (this.checked) { $('.reason_ck4').fadeIn(500); } else { $('.reason_ck4').fadeOut(500); }" />
                                    醫療裝置壓迫
                                </label>
                                @Html.TextBox("txt_reason_ck4_date", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "display:none;", @class = "reason_ck4" })
                                @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "txt_reason_ck4_date", "", false)
                                <select class="reason_ck4" id="sel_reason_ck4" style="display:none;" onchange="if($(this).val()=='99'){able('txt_sel_reason_ck4_other');}else{enable('txt_sel_reason_ck4_other');}">
                                    <option value="0">請選擇</option>
                                    <option value="NG-Tube">NG-Tube</option>
                                    <option value="BiPAP Mask">BiPAP Mask</option>
                                    <option value="氧氣導管">氧氣導管</option>
                                    <option value="Endo-Tube">Endo-Tube</option>
                                    <option value="99">其他</option>
                                </select>
                                @Html.TextBox("txt_sel_reason_ck4_other", null, new { style = "width:80px;display:none;", disabled = "disabled", @class = "reason_ck4" })
                            </td>
                        </tr>
                        <tr class="tr_other">
                            <td>
                                <label><input type="checkbox" name="ck_reason" id="reason_ck5" value="長時間固定姿位" />長時間固定姿位</label>
                            </td>
                        </tr>
                        <tr class="tr_other">
                            <td>
                                <label><input type="checkbox" name="ck_reason" id="reason_ck6" value="約束" />約束</label>
                            </td>
                        </tr>
                        <tr class="tr_labor_other" style = "width:80px;display:none;">
                            <td rowspan="4">
                                發生原因
                            </td>
                            <td>
                                <label><input type="checkbox" name="ck_reason" id="reason_ck7" value="正中切開術" />正中切開術</label>
                            </td>
                        </tr>
                        <tr class="tr_labor_other" style = "width:80px;display:none;">
                            <td>
                                <label><input type="checkbox" name="ck_reason" id="reason_ck8" value="中外側切開術" />中外側切開術</label>
                            </td>
                        </tr>
                        <tr class="tr_labor_other" style = "width:80px;display:none;">
                            <td>
                                <label><input type="checkbox" name="ck_reason" id="reason_ck9" value="自然裂傷" />自然裂傷</label>
                            </td>
                        </tr> 
                        <tr class="tr_other" id="tr_labor_other">
                            <td>
                                <label></label>
                                <input type="checkbox" name="ck_reason" id="reason_ck_other" value="其他" onclick="ckable(this, 'txt_reason_ck_other');" />
                                @Html.Label("reason_ck_other", "其他")
                                @Html.TextBox("txt_reason_ck_other", null, new { style = "width:80px", disabled = "disabled" })
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;">
                <div class="funcArea">
                    <input type="hidden" name="reason" id="reason" value="" />
                    <input id="add" type="button" value="新增存檔" onclick="if (check()) { $('#block,#loading').show(); submit(); }"/>
                    <input id="back" type="button" value="放棄目前編輯資料" onclick="if (confirm('確認取消?')) window.close();" />
                </div>
            </td>
        </tr>
    </table>
</form>
<style type="text/css">
    #block {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        background-color: #666;/* other browsers */
        opacity: 0.65;/* this works in IE6, IE7, and IE8 */
        filter: alpha(opacity=65);/* this works in IE8 only */
        display: none;
    }
    #loading {
        position: fixed;
        text-align: center;
        left: 50%;
        top: 50%;
        height: 50px;
        width: 200px;
        margin-top: -25px;
        margin-left: -100px;
        _position: absolute;
        color: #040FD9;
        font-weight: bold;
        z-index: 99;
        display: none;
    }
</style>
<div id="block"></div>
<div id="loading">
    <label for="lab" style="font-size:16px">Loading...</label><br />
    <img src="~/Images/loading.gif" alt="" border="0" />
</div>
<script type="text/javascript">
    $(function () {
        $("#outHosp").change(function () {
            var t = $('#outHosp').val();
            if (t == '家中' || t == '0') {
                $("#outHosp_other").hide();
            } else {
                $("#outHosp_other").show();
            }
        })
    });
</script>