@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    //Layout = "~/Views/Layout/Main.cshtml";
}

<style type="text/css">
    .popup {
        width: auto;
        height: auto;
        position: absolute;
        background-color: #EFEFFF;
        padding: 10px 15px 10px 15px;
        border: 1px solid #999999;
        box-shadow: 5px 5px 5px #666;
        border-radius: 15px 15px 15px 15px;
        top: 50%;
        left: 50%;
        margin: -250px 0 0 -300px; /* [-(height/2)px 0 0 -(width/2)px] */
        display: none;
        z-index: 99;
    }
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        white-space: pre-line;
    }
</style>

<script type="text/javascript">
    $(function () {
        $('#wound_record').load('../Wound/Partial_Record');
        setGridColor();
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    function add() {
        var ck = document.getElementsByName('carerecord');
        var content = '';
        for (var i = 0; i < ck.length; i++) {
            if (ck[i].checked) {
                content = content + ck[i].value;
            }
        }
        window.opener.document.getElementById('span_@ViewBag.id').innerText = window.opener.document.getElementById('span_@ViewBag.id').innerText + content;
        window.opener.document.getElementById('hid_@ViewBag.id').value = window.opener.document.getElementById('hid_@ViewBag.id').value + content;
        return true;
    }
</script>

@using System.Data;
@{
DataTable dt_wound_record = ViewBag.dt_wound_record;
}
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
            <td style="padding-bottom:5px;text-align:center;">
                <span style="color:blue;font-size:26px;">傷口紀錄資料</span>
            </td>
        </tr>
        <tr>
            <td style="padding:5px 0 5px 0;">
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        <tr>
                            <td rowspan="2" style="width:15%;">紀錄日期</td>
                            <td rowspan="2" style="width:7%;">編號</td>
                            <td rowspan="2" style="width:5%;">傷口<br />等級</td>
                            <td colspan="2">傷口滲出物</td>
                            <td colspan="3">傷口大小及<br />深度(cm)</td>
                            <td rowspan="2" style="width:7%;">燙傷<br />範圍(%)</td>
                            <td rowspan="2" style="width:9%;">周圍皮膚</td>
                            <td rowspan="2" style="width:8%;">接觸隔離</td>
                            <td rowspan="2" style="width:10%;">換藥方式</td>
                            <td rowspan="2" style="width:10%;">護理措施</td>
                            <td rowspan="2" style="width:7%;">紀錄者</td>
                        </tr>
                        <tr>
                            <td style="max-height:15px;width:3%;">量</td>
                            <td style="width:7%;">性質</td>
                            <td style="width:4%;">長</td>
                            <td style="width:4%;">寬</td>
                            <td style="width:4%;">深</td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="height:300px;">
                    @if (dt_wound_record != null)
                    {
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        @foreach (DataRow r in dt_wound_record.Rows)
                        {
                            if (r["WOUND_DELETED"].ToString() == "" && r["ENDTIME"].ToString() == "")
                            {
                        <tr>
                            <td style="width:15%;white-space:nowrap">
                                @{string content = "以" + r["DRESSING"].ToString().Replace("|", "、") + "更換傷口，協助" + r["MEASURE"].ToString().Replace("|", "、") + "。";
                                  content += "傷口等級" + r["CLASS"] + "，周圍皮膚" + r["TYPE"].ToString().Replace("|", "、");
                                  content += "，傷口滲出" + r["AMOUNT_TYPE"].ToString().Replace("|", "、") + "，量" + r["AMOUNT"] + "。";
                                      }
                                <input id="@r["RECORD_ID"]" type="checkbox" name="carerecord" value="@content" />
                                <label for="@r["RECORD_ID"]">@Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")</label>
                            </td>
                            <td style="width:7%;text-align:center;">@r["NUM"]</td>
                            <td style="width:5%;text-align:center;">@r["CLASS"]</td>
                            <td style="width:3%;">@r["AMOUNT"]</td>
                            @if (@r["AMOUNT_TYPE"].ToString() != "")
                            {
                            <td style="width:7%;">@r["AMOUNT_TYPE"].ToString().Replace("|", ",")</td>
                            }
                            else
                            {
                            <td style="width:7%;">-</td>
                            }
                            @if (r["SHAPE"].ToString() != ",,")
                            {
                            <td style="width:4%;text-align:center;">@r["SHAPE"].ToString().Split(',').GetValue(0)</td>
                            <td style="width:4%;text-align:center;">@r["SHAPE"].ToString().Split(',').GetValue(1)</td>
                            <td style="width:4%;text-align:center;">@r["SHAPE"].ToString().Split(',').GetValue(2)</td>
                            }
                            else
                            {
                            <td style="width:4%;text-align:center;">-</td>
                            <td style="width:4%;text-align:center;">-</td>
                            <td style="width:4%;text-align:center;">-</td>
                            }
                            @if (@r["RANGE"].ToString() != "")
                            {
                            <td style="width:7%;text-align:center;">@r["RANGE"]</td>
                            }
                            else
                            {
                            <td style="width:7%;text-align:center;">-</td>
                            }
                            <td style="width:9%;">@r["TYPE"].ToString().Replace("|", ",")</td>
                            <td style="width:8%;">@r["ISOLATION"]</td>
                            <td style="width:10%;">@r["DRESSING"].ToString().Replace("|", ",")</td>
                            <td style="width:10%;">@r["MEASURE"].ToString().Replace("|", ",")</td>
                            <td style="width:7%;">@r["CREANO"]</td>
                        </tr>
                            }
                        }
                    </table>
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:5px 0 5px 0;text-align:center;">
                <div class="funcArea">
                    <input type="button" value="儲存" style="width:60px;" onclick="if (add()) window.close();" />
                    <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
                </div>
            </td>
        </tr>
    </table>
</div>