<style type="text/css">
    #module_define {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }

    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }

    .lable {
        margin-left: 5px;
        font-size: 14px;
        font-family: "微軟正黑體";
        background: #E1E6FA;
        padding: 3px 7px 2px 7px;
        box-shadow: 2px 2px 3px rgba(20%,20%,40%,0.5);
    }
</style>

<script type="text/javascript">
    $(function () {
        $("#btn_edu_insert").css("background-color", "#666666");
        $("#btn_edu_insert").css("color", "#FFFFFF");
        search($.trim($('#keyword').val()));
    });

    function search(k) {
        $.ajax({
            type: 'post',
            url: '@Url.Content("~/DischargedSummary/PartialItemList")',
            data: { mode: 'edit', column: $('input[name=rb_list]:checked').val(), key: k },
            success: function (data) {
                $('#item_list').html(data);
                $('#item_list').fadeIn(0);
            }
        });
    }

    function check() {
        if ($('input[name=rb_list]:checked').val() == 'CATEGORY_ID') {
            search($('#division').val() + ',' + $('#branch_division').val())
        }
        else {
            search($.trim($('#keyword').val()));
        }
    }

    function insert() {
        if ($.trim($('#keyword2').val()) != '') {
            window.location.href = 'Insert_Item?name=' + $.trim($('#keyword2').val());
        }
        else {
            alert('請輸入內容!');
        }
    }

    function remove_div(id) {
        document.getElementById("uc1").removeChild(document.getElementById(id));
    }

</script>
@{
    if (ViewBag.key != null)
    {

        <script type="text/javascript">
    $(function () {
        $('#NAME').click();
        $('#keyword').val('@ViewBag.key');
        search('@ViewBag.key');
    });
        </script>
    }
}
<form action="Comply" method="get">
    <div class="funcArea">
        <table border="0" cellpadding="0" cellspacing="0" style=" width:100%; height:100%;">
            <tr>
                <td style="width:100%;padding:10px 0 5px 0;">
                    <div id="module_define">選擇衛教項目</div>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px 0px 5px 0px; height:35px;">
                    @Html.RadioButton("rb_list", "NAME", false, new { id = "NAME", onclick = "$('#division').fadeOut(0);$('#keyword').fadeIn(0);" })
                    @Html.Label("NAME", "依關鍵字")
                    @Html.RadioButton("rb_list", "CATEGORY_ID", false, new { id = "CATEGORY_ID", onclick = "$('#division').fadeIn(0);$('#keyword').fadeOut(0);" })
                    @Html.Label("CATEGORY_ID", "依分類")
                    @Html.TextBox("keyword", "", new { style = "width:150px;height:20px;" })
                    @Html.DropDownList("division", (List<SelectListItem>)ViewData["division"], new { style = "display:none;" })
                    @Html.DropDownList("branch_division", (List<SelectListItem>)ViewData["branch_division"], new { style = "display:none;" })
                    <input type="button" value="搜尋" onclick="check();" />
                </td>
            </tr>
            <tr>
                <td style="padding: 5px 0px 5px 0px;">
                    <div id="item_list" class="dataArea" style="overflow-x:hidden"></div>
                </td>
            </tr>
            <tr>
                <td style="text-align:center;height:5%;">
                    <input type="hidden" id="item_id" name="item_id" value="" />
                    <input type="hidden" id="item_name" name="item_name" value="" />
                    <input id="add" type="button" value="確定" onclick="if ($('#tb_item_list input:checked').length > 0) { BindCareRecordDesc(); $('#PnGuide').fadeOut(500); } else { alert('尚未勾選項目'); }" style="width:50px;" />
                    <input id="quit" type="button" value="取消" onclick="        if (confirm('確認取消?')){$('#PnGuide').fadeOut(500); $('input[name=item]').attr('checked', false);}" style="width:50px;" />
                </td>
            </tr>
        </table>
    </div>
</form>
