@using System.Data;
@using NIS.Models;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string title = "護理計畫";
    DataTable Dt_Master = ViewBag.Dt_Master;
    List<User_Care_Plan_Item> Dt_Deftin = (List<User_Care_Plan_Item>)ViewData["Dt_Deftin"];
    List<User_Care_Plan_Item> Dt_About = (List<User_Care_Plan_Item>)ViewData["Dt_About"];
    List<User_Care_Plan_Item> Dt_Goal = (List<User_Care_Plan_Item>)ViewData["Dt_Goal"];
    List<User_Care_Plan_Item> Dt_Active = (List<User_Care_Plan_Item>)ViewData["Dt_Active"];
    List<User_Care_Plan_Item> temp = null;
    List<User_Care_Plan_Item> temp_act = null;
    string CaseNO = ViewBag.CaseNO;
}
@*<link rel="stylesheet" type="text/css" href="@Url.Content("~/CSS/CarePlan_Index.css")" />*@
<style type="text/css">
    .dataArea td
    {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }

    #module_define
    {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }

    input[type=button]
    {
        border: 1px solid #666;
        padding: 4px 10px 4px 10px;
        border-radius: 3px;
    }

    #topic_panel
    {
        width: 100%;
        margin-top: 5px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 550px;
    }

    .topic_block
    {
        width: 98%;
        margin: 5px;
        padding: 5px;
        border: 1px solid #666;
        background-color: #E1E6FA;
    }

        .topic_block:hover
        {
            background-color: #ABC8E2;
        }

    .cp_item
    {
        font-size: 18px;
        font-weight: bold;
    }

    .cp_info_panel > div
    {
        display: block;
        border: 1px solid #666;
        background-color: #FFFFBB;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 2px;
    }

        .cp_info_panel > div > ul
        {
            display: block;
            list-style-type: circle;
            margin: 0px;
            padding-left: 1.5em;
        }

            .cp_info_panel > div > ul > li
            {
                padding: 2px;
            }

    .target_title
    {
        margin: 2px 5px 0px 5px;
        border: 1px solid #CCCCCC;
        padding: 5px;
        font-size: 12px;
        font-weight: bold;
        background-color: #99FFBB;
    }

    .target_block, .setp_block
    {
        display: block;
        line-height: 14px;
        padding: 10px;
        border: 1px solid #CCCCCC;
        margin: 2px 5px 0px 5px;
    }

    .target_block
    {
        background-color: #FFFFFF;
    }

        .target_block > label
        {
            cursor: pointer;
        }

            .target_block > label:hover
            {
                background-color: #EEEEEE;
            }

    .setp_block
    {
        background-color: #EEDDFF;
    }

        .setp_block > label
        {
            display: block;
            cursor: pointer;
        }

            .setp_block > label:hover
            {
                background-color: #CC99FF;
            }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
    });
    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    $(function () {
        $('#case_no_i').val('@CaseNO');
        //$(window).resize(function () {
        //    var height = $(this).outerHeight();
        //    if (height <= 300)
        //        height = 450;
        //    $("#topic_panel").outerHeight(height - 50);
        //}).trigger("resize");
    });
</script>
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
        <tr>
            <td>
                <div id="module_define">@(title)</div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; text-align: left; padding: 0 0 5px 0;">
                <div class="funcArea">
                    <table style="width: 100%; background-color: white;">
                        <tr>
                            <td>
                                <div>
                                    <input type="button" value="返回" onclick="window.location.href = 'Index?id=' + $('#case_no_i').val();" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div id="topic_panel" style="height:360px">
                                    <input type="hidden" name="case_no_i" id="case_no_i" />
                                    @if(Dt_Master != null && Dt_Master.Rows.Count > 0)
                                    {
                                        foreach(DataRow r in Dt_Master.Rows)
                                        {
                                        @Html.Raw("<div class='topic_block'>")
                                        @Html.Raw("<table style='width: 100%;'>")
                                        @Html.Raw("<tr>")
                                        @Html.Raw("<td style='width: 40%; vertical-align: top;' class='cp_item' colspan='2'>")
                                        @Html.Raw("<span style='color: #660000'>健康問題：</span>")
                                        @r["item"].ToString()
                                        @Html.Raw("[")
                                        @Html.Raw("<span style='color: #0300FA'>#D" + (int.Parse(r["ver"].ToString()) + 1) + "</span>")
                                        @Html.Raw("]")
                                        @Html.Raw("</td>")
                                        @Html.Raw("</tr>")
                                        @Html.Raw("<tr>")
                                        @Html.Raw("<td style='width: 40%; vertical-align: top; font-size: 12px;' class='cp_info_panel'>")
                                        @Html.Raw("<div>")
                                            if(Dt_Deftin != null && Dt_Deftin.Count > 0)
                                            {
                                                temp = Dt_Deftin.FindAll(x => x.M_ID == r["m_id"].ToString());
                                                
                                        @Html.Raw("定義性特徵：")
                                        @Html.Raw("<hr />")
                                        @Html.Raw("<ul>")
                                                foreach(var item in temp)
                                                {
                                        @Html.Raw("<li>" + item.Item + "<label style='color:blue;'>" + Convert.ToDateTime(item.RecordTime).ToString("yyyy/MM/dd") + "</label></li>")
                                                }
                                        @Html.Raw("</ul>")
                                            }
                                        @Html.Raw("</div>")
                                        @Html.Raw("<div>")
                                            if(Dt_About != null && Dt_About.Count > 0)
                                            {
                                                temp = Dt_About.FindAll(x => x.M_ID == r["m_id"].ToString());
                                                
                                        @Html.Raw("相關因素：")
                                        @Html.Raw("<hr />")
                                        @Html.Raw("<ul>")
                                                foreach(var item in temp)
                                                {
                                        @Html.Raw("<li>" + item.Item + "<label style='color:blue;'>" + Convert.ToDateTime(item.RecordTime).ToString("yyyy/MM/dd") + "</label></li>")
                                                }
                                        @Html.Raw("</ul>")
                                            }
                                        @Html.Raw("</div>")
                                        @Html.Raw("</td>")
                                        @Html.Raw("<td style='width: 60%; vertical-align: top; font-size: 12px;' class='cp_info_panel'>")
                                            if(Dt_Goal != null && Dt_Goal.Count > 0)
                                            {
                                                temp = Dt_Goal.FindAll(x => x.M_ID == r["m_id"].ToString());

                                                foreach(var item in temp)
                                                {
                                                    temp_act = Dt_Active.FindAll(x => (x.M_ID == r["m_id"].ToString() && x.G_PK_ID == item.G_PK_ID));
                                                    string GoalWord = item.Item;
                                                    foreach(var Content in item.Content.Split(','))
                                                    {
                                                        GoalWord = ViewBag.ReplaceFirst(GoalWord, "__", Content);
                                                    }
                                                
                                        @Html.Raw("<div>")
                                        @Html.Raw("<p class='target_title'>")
                                        @Html.Raw("<span style='display:block;padding-bottom:2px;'>目標：" + GoalWord + "</span>")
                                        @Html.Raw("<span style='display:block;padding-bottom:2px;'>評值日期：" + item.ScoreTime + "</span>")
                                        @Html.Raw("</p>")
                                        @Html.Raw("<div class='target_block'>")
                                        @Html.Raw("評值結果：")
                                                    if(item.Score != "")
                                                    {
                                        @Html.Raw("<span>" + @item.Score.Replace("Y", "已達成").Replace("N", "未達成").Replace("C", "不適用") + (item.Reason) + "</span>")
                                                    }
                                                    else
                                                    {
                                                            
                                        @Html.Raw("<span style='color:#f00'>未評值</span>")
                                                    }
                                        @Html.Raw("</div>")
                                        @Html.Raw("<div class='setp_block'>")
                                                    foreach(var item_Act in temp_act)
                                                    {
                                        @Html.Raw("<label style='padding-bottom:4px;'>。" + item_Act.Item + "</label>")
                                                    }
                                        @Html.Raw("</div>")
                                        @Html.Raw("</div>")
                                                }
                                            }
                                        @Html.Raw("</td>")
                                        @Html.Raw("</tr>")
                                        @Html.Raw("</table>")
                                        @Html.Raw("</div>")
                                        }
                                    }
                                    else
                                    {
                                        @Html.Raw("<div style='font-size:18px;font-weight:bold;margin-top:5px;'>尚無執行中的護理計畫</div>")
                                    }
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>


