@using System.Data;
@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable result_dt = new DataTable();
    List<Lab> lablist = new List<Lab>();
    if (ViewBag.Item == "TPR")
    {
        result_dt = ViewBag.result;
    }
    if (ViewBag.Item == "LAB")
    {
        lablist = (List<Lab>)ViewData["result"];
    }
     
}
<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
        setDateTime('#TPR_QueryStartDay');
        setDateTime('#TPR_QueryEndDay');
        setDateTime('#LAB_QueryStartDay');
        setDateTime('#LAB_QueryEndDay');
    });
    function setGridColor() {
        //格行換色
        $('.ResultArea tr:odd').css('background', '#ABC8E2');
        $('.ResultArea tr:even').css('background', '#E1E6FA');
    }
    function clone_define()
    {
        $('input[name=vs_content]:checked').each(function (i) {
            $('#define_bt').click();
            $('input[name=add_Def]:last').val($(this).val());
        });
        $(".ResultArea input[type='checkbox']").attr("checked", false);
        $('#div_view_LAB, #sys_Block, #div_view_@(ViewBag.Item)').hide();
    }
</script>
<div class="ResultArea" style="text-align:center;width:99%;height:400px;overflow:auto;">


    @{ if (ViewBag.Item == "TPR" && result_dt != null & result_dt.Rows.Count > 0)
     { <table border="1" align="center">
        <tr>
            <td></td>
            <td>量測時間</td>
            <td>項目名稱</td>
            <td>數值</td>
        </tr>
        @for (int i = 0; i < result_dt.Rows.Count; i++)
        {
            string vs_item = string.Empty;
            string vs_unit = string.Empty;
            if (result_dt.Rows[i]["vs_item"].ToString() == "bt")
            {
                vs_item = "體溫";
                vs_unit = " 度";
            }
            if (result_dt.Rows[i]["vs_item"].ToString() == "bp")
            {
                vs_item = "血壓";
                vs_unit = " mmHg";
            }
            if (result_dt.Rows[i]["vs_item"].ToString() == "bf")
            {
                vs_item = "呼吸";
                vs_unit = " 次/分";
            }
            if (result_dt.Rows[i]["vs_item"].ToString() == "sp")
            {
                vs_item = "SPO2";
                vs_unit = " %";
            }
            if (result_dt.Rows[i]["vs_item"].ToString() == "mp")
            {
                vs_item = "心跳";
                vs_unit = " 次/分";
            }

            <tr>
                <td><input type="checkbox" name="vs_content" id="@(result_dt.Rows[i]["vs_id"].ToString())" value="@(vs_item)：@(result_dt.Rows[i]["vs_record"].ToString().Replace("|", "/"))@vs_unit" /></td>
                <td>@(result_dt.Rows[i]["create_date"].ToString())</td>
                <td>@(vs_item)</td>
                <td>@(result_dt.Rows[i]["vs_record"].ToString().Replace("|","/"))</td>
            </tr>
        }
    </table>
        
     }
    }
    @{
        if (ViewBag.Item == "LAB" && lablist.Count > 0)
        {
            <table border="1" align="center">
                <tr>
                    <td></td>
                    <td>檢驗報告日期</td>
                    <td>組別</td>
                    <td>檢驗名稱</td>
                    <td style="display:none;">項目名稱</td>
                    <td>檢驗值</td>
                </tr>
                @for(int i=0;i<lablist.Count;i++)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="vs_content" value="@lablist[i].LabName.ToString()：@lablist[i].LabValue.ToString()" />
                        </td>
                        <td>@lablist[i].LabDate.ToString()</td>
                        <td>@lablist[i].Group.ToString()</td>
                        <td>@lablist[i].LabName.ToString()</td>
                        <td style="display:none;">@lablist[i].LabName.ToString()</td>
                        <td>@lablist[i].LabValue.ToString()</td>
                    </tr>
                }
            </table>
        }
    }
</div>
<div style="margin-top:20px;">
    <input type="button" value="帶入定義型特徵" onclick="clone_define();" />
</div>