@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
}

<script type="text/javascript">
    //$(function () {
    //    setGridColor();
    //});

    function setGridColor() {
        //格行換色
        $('.dataArea_PDF tr:odd').css('background', '#ABC8E2');
        $('.dataArea_PDF tr:even').css('background', '#E1E6FA');
    }
</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;font-family:EUDC;">
    <tr>
        <td>
            <table border="0" style="width:100%;">
                <tr>
                    <td>病人姓名：@ptinof.PatientName</td>
                    @if(ptinof.Birthday != null)
                    {
                    <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                    }
                    else
                    {
                    <td>生日：</td>
                    }
                    <td>年齡：@(ptinof.Age)  &nbsp; 性別：@(ptinof.PatientGender)</td>
                    @*<td>病床號：@ptinof.BedNo</td>*@
                    
                    <td colspan="2">病歷號：@ptinof.ChartNo</td>
                </tr>
                <tr>
                    <td>科別：@ptinof.DeptName</td>
                    <td>主治醫師：@ptinof.DocName</td>
                    @if (ptinof.InDate != null)
                    {
                    <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                    }
                    else
                    {
                    <td>住院日期：</td>
                    }
                  
                    <td colspan="2">診斷：@ptinof.ICD9_code1</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <div class="dataHeader" style="margin-right:0px;">
                <table border="0" cellpadding="4" cellspacing="3" style="width:100%;">
                    <tr>
                        <td style="width:15%;">時間日期</td>
                        <td style="width:75%;">紀錄</td>
                        <td style="width:10%;">輸入者</td>
                    </tr>
                </table>
            </div>
            <div class="dataArea_PDF">
                @if(dt != null)
                {
                <table border="0" cellpadding="4" cellspacing="3" style="width:100%;background-color: #FFFFFF;">
                    @foreach(DataRow r in dt.Rows)
                    {
                    <tr>
                        <td style="width:15%;vertical-align:text-top;">
                            <div>@Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")</div>
                        </td>
                        <td style="width:20%;vertical-align:text-top;">
                            @if (r["TITLE"].ToString() != "")
                            {
                                <div>@r["TITLE"]</div>
                            }
                        </td>
                        <td style="vertical-align:text-top;line-height: 24px;">
                            @if (r["C"].ToString() != "" || r["C_OTHER"].ToString() != "")
                            {
                                @*<div><span style="width:10px;color:blue;">一般：</span><span style="color:red;">@r["C_OTHER"]</span>&nbsp;@r["C"]</div>*@
                                @*20140205 張副說不要看到一般兩個字*@
                                <div><span style="width:10px;color:blue;"></span><span style="color:red;">@r["C_OTHER"]</span>&nbsp;@r["C"]</div>
                            }
                            @if (r["S"].ToString() != "" || r["S_OTHER"].ToString() != "")
                            {
                                <div><span style="width:10px;color:blue;">S：</span><span style="color:red;">@r["S_OTHER"]</span>&nbsp;@r["S"]</div>
                            }
                            @if (r["O"].ToString() != "" || r["O_OTHER"].ToString() != "")
                            {
                                <div><span style="width:10px;color:blue;">O：</span><span style="color:red;">@r["O_OTHER"]</span>&nbsp;@r["O"]</div>
                            }
                            @if (r["I"].ToString() != "" || r["I_OTHER"].ToString() != "")
                            {
                                <div><span style="width:10px;color:blue;">I：</span><span style="color:red;">@r["I_OTHER"]</span>&nbsp;@r["I"]</div>
                            }
                            @if (r["E"].ToString() != "" || r["E_OTHER"].ToString() != "")
                            {
                                <div><span style="width:10px;color:blue;">E：</span><span style="color:red;">@r["E_OTHER"]</span>&nbsp;@r["E"]</div>
                            }
                            @if (r["EKG"].ToString() != "")
                            {

                                byte[] imageBytes = (byte[])r["EKG"];
                                string base64String = Convert.ToBase64String(imageBytes);
                                <img data-name="sourceImage" src="@String.Format("data:image/png;base64,{0}", base64String)" style="display:inline;" height="150px" onclick="ShowImg(this);" />
                            }
                        </td>
                        <td style="width:10%;text-align:center;vertical-align:text-top;">
                             <div>@r["username"]@*@r["CREATNAME"]*@</div>
                        </td>
                    </tr>
                    }
                </table>
                }
            </div>
        </td>
    </tr>
</table>