@{
    ViewBag.Title = "Hypotensive_symptoms";
}

<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td align="center">
    <table border="1" width="100%" style=" text-align:center">
        <tr>
            <td colspan="2" align="center" style="background-color: #00CCFF;">
                @Html.Label("lab", "血糖過低症狀")
            </td>
        </tr>
        <tr>
            <td width="20%">
                @Html.CheckBox("ck1", new { id = "symptoms1" })</td>
            <td width="80%">
                @Html.Label("symptoms1", "全身無力")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms2" })</td>
            <td>
                @Html.Label("symptoms2", "頭暈")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms3" })</td>
            <td>
                @Html.Label("symptoms3", "手發抖")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms4" })</td>
            <td>
                @Html.Label("symptoms4", "抽筋")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms5" })</td>
            <td>
                @Html.Label("symptoms5", "心跳加快")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms6" })</td>
            <td>
                @Html.Label("symptoms6", "頭痛")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms7" })</td>
            <td>
                @Html.Label("symptoms7", "精神無法集中")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms8" })</td>
            <td>
                @Html.Label("symptoms8", "昏迷")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms9" })</td>
            <td>
                @Html.Label("symptoms9", "飢餓")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms10" })</td>
            <td>
                @Html.Label("symptoms10", "視力模糊")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms11" })</td>
            <td>
                @Html.Label("symptoms11", "反應慢")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms12" })</td>
            <td>
                @Html.Label("symptoms12", "冒冷汗")</td>
        </tr>
    </table>
</td></tr>
<tr><td align="center">
    <input id="add" type="button" value="確定" onclick="window.close();@Java_funcion.pup_window("BloodSugar_low_disposal", 400, 400, "")" />
    <input id="back" type="button" value="取消" onclick="window.close();@Java_funcion.pup_window("BloodSugar_low_disposal", 400, 400, "")" />
</td></tr></table>