@{
    ViewBag.Title = "BloodSugar_high_symptoms";
}

<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td align="center">
    <table border="1" width="100%" style=" text-align:center">
        <tr>
            <td colspan="2" align="center" style="background-color: #00CCFF">
                @Html.Label("lab", "血糖過高症狀")
            </td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms1" })</td>
            <td>
                @Html.Label("symptoms1", "解尿量增加")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms2" })</td>
            <td>
                @Html.Label("symptoms2", "肌肉痠痛 ")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms3" })</td>
            <td>
                @Html.Label("symptoms3", "噁心")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms4" })</td>
            <td>
                @Html.Label("symptoms4", "尿糖或尿酮體")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms5" })</td>
            <td>
                @Html.Label("symptoms5", "口渴")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms6" })</td>
            <td>
                @Html.Label("symptoms6", "腹痛")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms7" })</td>
            <td>
                @Html.Label("symptoms7", "嘔吐")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms8" })</td>
            <td>
                @Html.Label("symptoms8", "神智不清")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms9" })</td>
            <td>
                @Html.Label("symptoms9", "皮膚搔癢")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms10" })</td>
            <td>
                @Html.Label("symptoms10", "體重減輕")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms11" })</td>
            <td>
                @Html.Label("symptoms11", "視力模糊")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms12" })</td>
            <td>
                @Html.Label("symptoms12", "失去知覺")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms13" })</td>
            <td>
                @Html.Label("symptoms13", "乾燥")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms14" })</td>
            <td>
                @Html.Label("symptoms14", "食慾不振")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms15" })</td>
            <td>
                @Html.Label("symptoms15", "呼吸深快")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms16" })</td>
            <td>
                @Html.Label("symptoms16", "昏迷")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms17" })</td>
            <td>
                @Html.Label("symptoms17", "身體虛弱")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms18" })</td>
            <td>
                @Html.Label("symptoms18", "飢餓感")</td>
        </tr>
        <tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms19" })</td>
            <td>
                @Html.Label("symptoms19", "腐敗蘋果的味道")</td>
        </tr>
    </table>
</td></tr>
<tr><td align="center">
    <input id="add" type="button" value="確定" onclick="window.close();" />
    <input id="back" type="button" value="取消" onclick="window.close();" />
</td></tr></table>
