@{
    ViewBag.Title = "Hypotensive_disposal";
}

<table border="0" cellpadding="0" cellspacing="0" width="100%"><tr><td align="center">
    <table border="1" width="100%" style=" text-align:center">
        <tr>
            <td colspan="2" align="center" style="background-color: #00CCFF">
                @Html.Label("lab", "血糖過低護理處置")
            </td>
        </tr><tr>
            <td width="20%">
                @Html.CheckBox("ck1", new { id = "symptoms1" })</td>
            <td width="80%">
                @Html.Label("symptoms1", "建立靜脈輸液，補充葡萄糖液體")</td>
        </tr><tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms2" })</td>
            <td>
                @Html.Label("symptoms2", "攝取果汁")</td>
        </tr><tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms3" })</td>
            <td>
                @Html.Label("symptoms3", "監測生命徵象")</td>
        </tr><tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms4" })</td>
            <td>
                @Html.Label("symptoms4", "暫停口服降血糖藥物")</td>
        </tr><tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms5" })</td>
            <td>
                @Html.Label("symptoms5", "方糖4~5顆泡成糖水飲用")</td>
        </tr><tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms6" })</td>
            <td>
                @Html.Label("symptoms6", "喝一湯匙的蜂蜜")</td>
        </tr><tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms7" })</td>
            <td>
                @Html.Label("symptoms7", "監測血糖變化")</td>
        </tr><tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms8" })</td>
            <td>
                @Html.Label("symptoms8", "胰島素注射減量")</td>
        </tr><tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms9" })</td>
            <td>
                @Html.Label("symptoms9", "進食葡萄糖錠劑3顆")</td>
        </tr><tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms10" })</td>
            <td>
                @Html.Label("symptoms10", "攝取15~20克含糖食物")</td>
        </tr><tr>
            <td>
                @Html.CheckBox("ck1", new { id = "symptoms11" })</td>
            <td>
                @Html.Label("symptoms11", "監測意識變化")</td>
        </tr>
    </table>
</td></tr>
<tr><td align="center">
    <input id="add" type="button" value="確定" onclick="window.close();" />
    <input id="back" type="button" value="取消" onclick="window.close();" />
</td></tr></table>
