<script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>

<table border="0" cellpadding="0" cellspacing="0" width="100%" >
    <tr><td align="center" >
        <table border="0" cellpadding="0" cellspacing="0" width="360">
            <tr><td colspan="6" align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr><td>
                        @Html.CheckBox("ck")
                        @Html.Label("ck", "當機補輸資料")
                        </td></tr>
                    <tr><td>
                        <table border="0" cellpadding="0" cellspacing="0" style="border-style: solid; border-width: 1px; width:360px;">
                            <tr>
                                <td rowspan="5" align="center" style="border-right-style: solid; border-right-width: 1px; width:20%; background-color: #b1e1fc;">血糖</td>
                                <td style="padding : 10px 0px 0px 10px;">
                                    @Html.TextBox("date", @DateTime.Now.ToString("d"), new { style = "width:80px" })
                                    @Html.TextBox("time", @DateTime.Now.ToString("HHmm"), new { style = "width:50px" })
                                    @Html.DropDownList("List", ViewData["List"] as SelectList, "抬頭")
                                </td>
                            </tr><tr>
                                <td style="padding : 10px 0px 0px 10px;">
                                    @Html.TextBox("value", "", new { style = "width:40px" })
                                    <select id = "type" name = "type">
                                        <option value="mg/dl">mg/dl</option>
                                    </select>
                                    @Html.RadioButton("low", "0", new { id = "rd_low", onclick = @Java_funcion.show_hide("body","") + "" + @Java_funcion.pup_window("BloodSugar_low_symptoms", 400, 400, "") })
                                    @Html.Label("rd_low", "Low", new { style = "color:blue" })
                                    @Html.RadioButton("low", "1", new { id = "rd_high", onclick = @Java_funcion.show_hide("body","") + "" + @Java_funcion.pup_window("BloodSugar_high_symptoms", 400, 570, "") })
                                    @Html.Label("rd_high", "High", new { style = "color:red" })
                                </td>
                            </tr><tr>
                                <td style="padding: 10px 0px 0px 10px;">
                                    @Html.Label("note", "註記")
                                    @Html.TextBox("note", "", new { style = "width:160px" })
                                </td>
                            </tr><tr>
                                <td style="padding: 10px 0px 10px 10px;">
                                    @Html.DropDownList("List2", ViewData["List"] as SelectList, "無法量測之原因")
                                </td>
                            </tr>
                        </table>
                    </td></tr>
                    <tr>
                        <td style="border-style: solid; border-width: 0px 1px 0px 1px; padding:5px 0px 5px 10px;">
                            @Html.CheckBox("ckrecord", true)
                            @Html.Label("ckrecord", "加入護理紀錄")
                        </td>
                    </tr>
                    <tr><td style="border-style: solid; border-width: 0px 1px 1px 1px;">
                        <div id="body" style=" display:none">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr><td rowspan="4" width="10px"></td></tr>
                                <tr><td>
                                    @Html.TextArea("txtsymptom", "", 4, 20, "")
                                    <input id="btnsymptom" type="button" value="選擇症狀" onclick="@Java_funcion.pup_window("BloodSugar_low_symptoms", 400, 400, "")" />
                                </td></tr>
                                <tr><td>
                                    @Html.TextArea("txtdisposal", "", 4, 20, "")
                                    <input id="btndisposal" type="button" value="護理處置" onclick="@Java_funcion.pup_window("BloodSugar_high_symptoms", 400, 570, "")" />
                                </td></tr>
                                <tr><td>
                                    <div id="smallbody">
                                        <table border="0" cellpadding="0" cellspacing="0" style="border-style: solid; border-width: 1px">
                                            <tr><td>
                                                 @Html.DropDownList("List3", ViewData["List"] as SelectList, "藥名")
                                                 @Html.DropDownList("List4", ViewData["List"] as SelectList, "途徑")
                                            </td></tr>
                                            <tr><td>
                                                 @Html.Label("CC", "劑量")
                                                 @Html.TextBox("CC", "", new { style = "width:80px" })
                                                 @Html.DropDownList("List5", ViewData["List"] as SelectList,"單位")
                                            </td></tr>
                                        </table>
                                    </div>
                                </td></tr>
                                <tr><td height="10px"></td></tr>
                            </table>
                        </div>
                    </td></tr>
                </table>
            </td></tr>
            <tr><td align="center" style="padding-top: 10px">
                <input id="add" type="button" value="血糖監測新增存檔" onclick="alert('儲存成功!');window.close();opener.window.location.reload();" />
                <input id="back" type="button" value="放棄目前編輯資料" onclick="window.close();" />
            </td></tr>
        </table>
    </td></tr>
</table>

