@using NIS.Data;
@using System.Data;
@{
    ViewBag.Title = "護理資訊系統-血糖&胰島素";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dt_bsi = ViewBag.dt_bsi;
    string gs_feeno = ViewBag.feeno;
}
<script type="text/javascript">
    $(document).ready(function () {
        close_pup_window();
        $("#block").click(function () {
            $("#but_menu").hide();
            $("#block").hide();
        });

        $("#but_edit").focus(function () {
            currObj = $(this);
            var keybordHeight = $("#but_menu").outerHeight();
            var keybordWidth = $("#but_menu").outerWidth();
            var top = $(this).position().top ; //+ $(this).height() + 10;
            var left = $(this).position().left + 50;
            if ((top + keybordHeight) > $(window).outerHeight())
                top = $(this).position().top - keybordHeight - 10;
            if ((left + keybordWidth) > $(window).outerWidth())
                left = $(this).position().left - (keybordWidth - $(this).outerWidth());
            $("#but_menu").css({
                "top": top,
                "left": left
            }).slideDown(350);
        })
    });
    function divshow(menu,id) {
        $("#bsi_id").val(id);
        $("#" + menu).css("display", "inline");
        $("#block").show();
    }
    function pup_window(url, width, height) {
        if(url == "Modify")
        { url = "/BloodSugarAndInsulin/BSugarInsulin_Modify?id=" + $("#bsi_id").val(); }
        else if (url == "Add")
        { url = "/BloodSugarAndInsulin/BSugarInsulin_Add?feeno=" + $("#fee_no").val() ;}

        new_window.push(window.open(url , 'top_dialog', 'menubar=no,status=no,scrollbars=yes,top=0,resizable=yes,left=200,toolbar=no,width=' + width + ',height=' + height));
    }
    function reload()
    {
        window.location.reload();
    }

</script>
<style type="text/css">
    table {
        border: 1px solid #000000;
        border-collapse: collapse;
    }
    th {
        border: 1px solid #000000;
        background: #99CCFF;
        text-align: center;
        vertical-align: middle;
    }
    tr, td {
        border: 1px solid #000000;
        text-align:center;
        vertical-align:middle;
    }
    .bs_style {
        background:#f18331;
    }
    .in_style {
        background:#a65fe4;
    }
    .popup {
        position: absolute;
        border: 1px;
        background-color:#DDDDFF;
        padding: 15px;
        width: auto;
        height: 50px;
        display: none;
        z-index: 99;
    }
    #block {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        /*background-color: #666;*/
        /* other browsers */
        opacity: 0.65;
        /* this works in IE6, IE7, and IE8 */
        filter: alpha(opacity=65);
        /* this works in IE8 only */
        display: none;
    }
</style>
<form method="post" action="BloodSugarInsulin_list" style="font-size:10pt">
    <input type="hidden" value="@gs_feeno" id="fee_no" />
    <p><input type="button" value="新增紀錄" style="width:80px;" onclick="pup_window('Add', '900', '600');" />
    </p>
    <table width="100%" border="1">
         <tr style="height:30px">
            <th rowspan="2" width="8%"></th>
            <th colspan="3" class="bs_style" style="font-size:16px">血糖</th>
            <th colspan="7" class="in_style" style="font-size:16px">胰島素</th>
        </tr>
        <tr>
            <th width="13%" class="bs_style">血糖監測時間</th>
            <th width="8%" class="bs_style">血糖值</th>
            <th width="7%"  class="bs_style">監測者</th>
            <th width="13%" class="in_style">注射時間</th>
            <th width="15%" class="in_style">藥物</th>
            <th width="6%"  class="in_style">劑量</th>
            <th width="5%"  class="in_style">施打部位</th>
            <th width="13%" class="in_style">Sliding Scale</th>
            <th width="5%"  class="in_style">劑量</th>
            <th width="7%"  class="in_style">注射者</th>
        </tr>
        @foreach (DataRow r in dt_bsi.Rows)
        { 
            <tr>
                <td>
                    <input type="button" id="but_edit" value="編輯" onclick="divshow('but_menu','@r["BSI_ID"]')"/>
                </td>
                <td>@r["B_INDATE"]</td>
                @if (decimal.Parse(r["BLOODSUGAR"].ToString()) < 70)
                    { <td style="color:blue">@r["BLOODSUGAR"] mg/dl</td> }
                else if (decimal.Parse(r["BLOODSUGAR"].ToString()) >= 110)
                    { <td style="color:red">@r["BLOODSUGAR"] mg/dl</td> }
                else
                    { <td>@r["BLOODSUGAR"] mg/dl</td> }

                <td>@r["INSOPNAME"]</td>
                <td>@r["I_INDATE"]</td>
                <td>@r["IN_DRUGNAME"]</td>
                <td>@r["IN_DOSE"]</td>
                <td>@r["POSITION"]</td>
                <td>@r["SS_DRUGNAME"]</td>
                <td>@r["SS_DOSE"]</td>
                <td>@r["INJECTION"]</td>
            </tr>
        }
    </table>

</form>
<div id="but_menu" class="popup">
    <input type="button" value="修改" onclick="pup_window('Modify', '900', '600');"/>
    <input type="button" value="刪除"/>
    <input type="hidden" value="" id="bsi_id" />
</div>
<div id="block"></div>