@{
    ViewBag.Title = "護理資訊系統-治療單";
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        close_pup_window();
        $("#btn_print").css("background-color", "#666666");
        $("#btn_print").css("color", "#FFFFFF");
    }
</script>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr><td style="padding: 0px 0px 0px 10px; width:80%">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr><td style=" text-align:center;">
                @Html.Partial("BloodSugarAndInsulin_Tab")
            </td></tr>
            <tr><td>
                @Html.TextBox("start_date", @DateTime.Now.AddDays(-7).ToString("d"), new {style="width:80px" })
@Html.TextBox("start_time", "0000", new {style="width:50px" })
@Html.Label("lab"," ~ ")
@Html.TextBox("end_date", @DateTime.Now.ToString("yyyy/MM/dd"), new {style="width:80px" })
@Html.TextBox("end_time","1159", new { style = "width:50px" })
                @Html.CheckBox("ck")
                @Html.Label("ck", "包含已刪除紀錄")
                <input id="btn_search" type="button" class="btn_m" value="查詢" />
                <input id="btn_Insert" type="button" class="btn_m" value="預覽列印" />
            </td></tr>
            <tr><td style=" padding: 5px 0px 0px 0px;">
                <font color="red">過高</font>，<font color="blue">過低</font>，<font color="#666666">@@：刪除註記</font>
                <div class="gv_area">
                    <table border="0" cellpadding="0" cellspacing="0" style=" padding: 5px 0px 0px 0px; width:98%;">
                        <tr><th>
                            @Html.Label("lab", "日期")
                        </th><th>
                            @Html.Label("lab", "時間")
                        </th><th>
                            @Html.Label("lab", "血糖監測值")
                        </th><th>
                            @Html.Label("lab", "監測者簽章")
                        </th><th>
                            @Html.Label("lab", "  ")
                        </th><th>
                            @Html.Label("lab", "日期")
                        </th><th>
                            @Html.Label("lab", "時間")
                        </th><th>
                            @Html.Label("lab", "藥名劑量")
                        </th><th>
                            @Html.Label("lab", "注射部位")
                        </th><th>
                            @Html.Label("lab", "注射者簽章")
                        </th><th>
                            @Html.Label("lab", "註記")
                        </th></tr>

                        <tr><td>
                            @Html.Label("lab", "102/03/19")
                        </td><td>
                            @Html.Label("lab", "08:08")
                        </td><td>
                            @Html.Label("lab", "300 mg/dl", new { style = "color:red" })
                        </td><td>
                            @Html.Label("lab", "Jay")
                        </td><td>
                        
                        </td><td>
                        
                        </td><td>
                        
                        </td><td>
                        </td><td>
                        
                        </td><td>
                        
                        </td><td>
                            @Html.Label("lab", "解尿量增加")
                        </td></tr>
                    </table>
                </div>
            </td></tr>
        </table>
    </td></tr>
</table>