@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    if (dt == null || dt.Rows.Count ==0)
    {
        @:此目錄底下尚無片語
    }
    else
    {
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
            @foreach(DataRow r in dt.Rows)
            {
            <tr>
                <td onmouseover="this.style.backgroundColor='#9966FF';" onmouseout="this.style.backgroundColor='white'" data_id="@r["DATA_ID"]" data_name="@r["NAME"]" c="@r["C"]" s="@r["S"]" o="@r["O"]" i="@r["I"]" e="@r["E"]" onclick="data_click(this);set_click('update_phrase');" style="cursor:pointer;height:30px;">
                    @r["NAME"]
                </td>
                @if (ViewBag.type == null || (ViewBag.type != "copy" && ViewBag.type != "user"))
                {
                <td style="width:40px;">
                    <div class="funcArea">
                        <input id="@r["DATA_ID"]" type="button" value="刪除" style="width:40px;" onclick="if (confirm('確認刪除?')) { set_unclick('update_phrase');send_post('Del_Phrase_data', { id: this.id }, @r["NODE_ID"], '刪除'); }" />
                    </div>
                </td>
                }
            </tr>
            }
        </table>
    }
}
