@using System.Data;
@{
    DataTable dt_phrase_node = ViewBag.dt_phrase_node;
}

@if (dt_phrase_node != null && dt_phrase_node.Rows.Count > 0)
{
    <div class="clip" style="display:block;height:100%;overflow:auto;">
        <!-- 根目錄 -->
        <div id="default_node" class="dTreeNode">
            <img src="~/Images/folder.gif" alt="" />
            <a href="#" id="@dt_phrase_node.Rows[0]["NODEID"]" onclick="mark(this); $('#phrase_data').load('../PhraseManagement/Phrase_Data?type=@ViewBag.type' + '&creano=' + $('#TxtEmployeeNoSrch').val()); set_unclick('rename_node,delete_node,insert_phrase,update_phrase'); set_click('insert_node');" depth="@dt_phrase_node.Rows[0]["DEPTH"]">@dt_phrase_node.Rows[0]["NAME"]</a>                                                             
        </div>
        @{string k = "";}
        @for (int i = 1; i < dt_phrase_node.Rows.Count; i++)
        {
            string[] K_group = k.Split(',');
            string last_depth = dt_phrase_node.Rows[i - 1]["DEPTH"].ToString();
            string depth = dt_phrase_node.Rows[i]["DEPTH"].ToString();
            string next_depth = depth;
            string nodeid = dt_phrase_node.Rows[i]["NODEID"].ToString();
            if (i + 1 < dt_phrase_node.Rows.Count)
            { next_depth = dt_phrase_node.Rows[i + 1]["DEPTH"].ToString(); }
            <div class="dTreeNode" depth="@depth" nodeid="@nodeid" fatherid="@dt_phrase_node.Rows[i]["PARENT_NODE"]" div_type="hidden" style="display:none;">
                @for (int j = 1; j < int.Parse(depth); j++)
                {
                    string name = "line";
                    for (int l = 0; l < K_group.Length - 1; l++)
                    {
                        if (j.ToString() == K_group[l])
                        { name = "empty"; }
                    }
                    <img src="../Images/@(name).gif" alt="" />
                }
                @if (dt_phrase_node.Rows[i]["LAST"].ToString() == "")
                {
                    if (k.IndexOf(depth) > -1)
                    { k = k.Replace(depth + ",", ""); }
                    if (int.Parse(depth) < int.Parse(next_depth))
                    {
                        <img src="../Images/plus.gif" alt="" class="img@(nodeid)" nodeid="@nodeid" depth="@depth" style="cursor:pointer;" onclick="set_div(this)" />
                    }
                    else
                    {
                        <img src="../Images/join.gif" alt="" />
                    }
                }
                else
                {
                    k += depth + ",";
                    if (int.Parse(depth) < int.Parse(next_depth))
                    {
                        <img src="../Images/plusbottom.gif" alt="" class="img@(nodeid)" nodeid="@nodeid" depth="@depth" style="cursor:pointer;" onclick="set_div(this)" />
                    }
                    else
                    {
                        <img src="../Images/joinbottom.gif" alt="" />
                    }
                }
                <img src="../Images/folder.gif" class="img@(nodeid)" alt="" />
                <a href="#" id="@nodeid" onclick="mark(this);$('#phrase_data').load('../PhraseManagement/Phrase_Data?id='+this.id+'&type='+'@ViewBag.type');set_click('insert_node,rename_node,delete_node,insert_phrase');set_unclick('update_phrase');" depth="@depth" fatherid="@dt_phrase_node.Rows[i]["PARENT_NODE"]" explanation="@dt_phrase_node.Rows[i]["EXPLANATION"]">@dt_phrase_node.Rows[i]["NAME"]</a>
            </div>
        }
    </div>
}