@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";

    DataTable DT = ViewBag.DT;
}

<style type="text/css">
    .dataArea {
        overflow-x: auto;
        overflow-y: auto;
        border-top: 2px solid #666;
        border-bottom: 2px solid #666;
        border-left: 1px solid rgba(20%,20%,40%,0.5);
    }

        .dataArea td {
            border-bottom: 1px solid rgba(20%,20%,40%,0.5);
            text-align: left;
        }
        .lab_sle
    {
        color:red;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });
        setGridColor();

        //修改 載入資料
        @if(ViewBag.ModeVal == "Edit")
        {
            if(DT != null && DT.Rows.Count > 0)
            {

        foreach (DataRow r in DT.Rows)
        {
            string DFRecordMeasureCont = r["DFRECORD_MEASURE_CONT"].ToString().Replace(System.Environment.NewLine, "\\r\\n");
            <text>
        var DFTempID = '@r["DFTEMP_ID"].ToString()';
        $('#TxtDFTempTemperature_' + DFTempID).val('@r["DFRECORD_TEMPERATURE"].ToString()');
        $('#TxtDFTempTemperatureRoom_' + DFTempID).val('@r["DFRECORD_TEMPERATURE_ROOM"].ToString()');
        $('#DFTempColor_' + DFTempID).val('@r["DFRECORD_COLOR"].ToString()');
        $('#DFTempColor_' + DFTempID).trigger('onchange');  //綁定 onchange 事件
        $('#TxtTempColorElse_' + DFTempID).val(htmldecode('@r["DFRECORD_COLOR_CONT"].ToString()'));
        set_for_rb('DFTempPlumpness_' + DFTempID, '@r["DFRECORD_PLUMPNESS"]');
        set_for_rb('DFTempMeasureYN_' + DFTempID, '@r["DFRECORD_MEASURE_YN"]');
        $('#TxtDFTempMeasureCont_' + DFTempID).text("@DFRecordMeasureCont");
        $('#TxtDFTempRemark_' + DFTempID).val(htmldecode('@r["DFRECORD_REMARK"].ToString()'));
        set_for_rb('DFTempCareRecord_' + DFTempID, '@r["DFRECORD_CARE_RECORD"]');
        </text>
        }
            }
        }

        $.each($('img'), function(i, item){
            if($(item).width() == 0){
                $(item).load(function(){
                    Resize(this);
                });
            }
            else
                Resize(item);
        });
    });
    //HTML符號解譯
    function htmldecode(s) {
        var div = document.createElement('div');
        div.innerHTML = s;
        return div.innerText || div.textContent;
    }

    function Resize(obj) {
        var w = $(obj).width();
        var h = $(obj).height();
        if (w > 400 || h > 400) {
            $(obj).css({ 'width': w * 0.9, 'height': h * 0.9 });
            Resize(obj);
        }
    }

    //格行換色
    function setGridColor() {
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.dataArea th').css('background', '#85A5CC');
        $('.dataArea th').css('text-align', 'left');
    }

    function set_for_rb(RbnName, RbnVal) {
        if (RbnVal != '') {
            $('input[name=' + RbnName + ']').each(function () {
                if ($(this).val() == RbnVal) {
                    this.checked = true;
                    $(this).trigger('click');
                }
            });
        }
    }

    function SetTempAssessFunc(ModeVal) {
        var BoolVal = true;

        if (BoolVal) {
            //$("#FormTemperatureRecordSet").submit(function (e) {
            //    var formObj = $(this);
            //    var ReturnID = "";
            //    if (window.FormData !== undefined)  // for HTML5 browsers
            //    {
            //        var formData = new FormData(this);
            //        $.ajax({
            //            url: '../DigitFlapTemperature/SetTempAssessData',
            //            type: 'POST',
            //            data: formData,
            //            mimeType: "multipart/form-data",
            //            contentType: false,
            //            cache: false,
            //            processData: false,
            //            success: function (data) {
            //                var ResultVal = data.split('|');
            //                ReturnID = ResultVal[1];
            //                if (ModeVal == 'Edit') {
            //                    if (ResultVal[0] == "Y") {
            //                        alert('儲存成功');
            //                    }
            //                    else if (ResultVal[0] == "N") {
            //                        alert('儲存失敗');
            //                    }
            //                    else if (ResultVal[0] == "O") {
            //                        alert('請重新選擇病患');
            //                    }
            //                }
            //                else {
            //                    if (ResultVal[0] == "Y") {
            //                        alert('新增成功');
            //                    }
            //                    else if (ResultVal[0] == "N") {
            //                        alert('新增失敗');
            //                    }
            //                    else if (ResultVal[0] == "O") {
            //                        alert('請重新選擇病患');
            //                    }
            //                }
            //            }, complete: function () {
            //                window.opener.location.href = 'listTemperature?id=' + ReturnID;
            //                window.close();
            //            }
            //        });
            //        e.preventDefault();
            //        $(this).unbind("submit");
            //    }
            //    else {
            //        var formObj = $(this);
            //        //var formURL = formObj.attr("action");

            //        //generate a random id
            //        var iframeId = 'unique' + (new Date().getTime());

            //        //create an empty iframe
            //        var iframe = $('<iframe src="javascript:false;" name="' + iframeId + '" />');

            //        //hide it
            //        iframe.hide();

            //        //set form target to iframe
            //        formObj.attr('target', iframeId);

            //        //Add iframe to body
            //        iframe.appendTo('body');
            //        iframe.load(function (e) {
            //            var doc = getDoc(iframe[0]); //get iframe Document
            //            var docRoot = doc.body ? doc.body : doc.documentElement;
            //            var data = docRoot.innerHTML;

            //            //data is returned from server.
            //        });
            //    }
            //});

            $("#FormTemperatureRecordSet").submit();
        }
    }

    function CheckInsValOK() {
        var ReturnBool = true;
        var row = document.getElementsByName('DFTempID[]');

        for (var i = 0; i <= row.length - 1 ; i++) {
            if (!CheckValueToHidden("txt", "TxtDFTempTemperature", "", row[i].value, "溫度")) {
                ReturnBool = false;
                return;
            }
            if (!CheckValueToHidden("txt", "TxtDFTempTemperatureRoom", "", row[i].value, "室溫")) {
                ReturnBool = false;
                return;
            }
            if (!CheckValueToHidden("ddl", "DFTempColor", "", row[i].value, "顏色")) {
                ReturnBool = false;
                return;
            }
            if (!CheckValueToHidden("rbn", "DFTempPlumpness", "HidDFTempPlumpness", row[i].value, "飽滿度")) {
                ReturnBool = false;
                return;
            }
            if ($('#RbnDFTempMeasureN_' + row[i].value).attr("dftemptype") == "2" || $('#RbnDFTempMeasureN_' + row[i].value).attr("dftemptype") == "3") {
                //非對照肢才需要判斷
                if (!CheckValueToHidden("rbn", "DFTempMeasureYN", "HidDFTempMeasureYN", row[i].value, "異常措施")) {
                    ReturnBool = false;
                    return;
                }
                $('#HidDFTempMeasureCont_' + row[i].value).val($('#TxtDFTempMeasureCont_' + row[i].value).text());

            }
            if (!CheckValueToHidden("rbn", "DFTempCareRecord", "HidDFTempCareRecord", row[i].value, "帶入護理記錄")) {
                ReturnBool = false;
                return;
            }
        }

        return ReturnBool;
    }

    function CheckValueToHidden(CheckType, CtrlName, HiddenID, ID, TxtVal) {
        var ReturnBool = true;
        var DFTempNum = $('#DFTempNum_' + ID).val();

        switch (CheckType) {
            case "txt":
                if ($("#" + CtrlName + "_" + ID).val() == "") {
                    alert('填寫 編號：' + DFTempNum + '：' + TxtVal);
                    ReturnBool = false;
                }
                break;
            case "rbn":
                if ($('input[name=' + CtrlName + "_" + ID + ']:checked').val() == undefined) {
                    alert('請選擇 編號：' + DFTempNum + '：' + TxtVal);
                    ReturnBool = false;
                }
                else {
                    $('#' + HiddenID + "_" + ID).val($('input[name=' + CtrlName + "_" + ID + ']:checked').val());
                }
                break;
            case "ddl":
                if ($("#" + CtrlName + "_" + ID).val() == "") {
                    alert('請選擇 編號：' + DFTempNum + '：' + TxtVal);
                    ReturnBool = false;
                }
                break;
        }

        return ReturnBool;
    }

    function CheckTemperatureAlertFunc(ObjVal) {
        //公式未完成，詳情見controler解釋 tag wawa edit
        //比對溫度  ||(此次對照溫度-前次對照溫度)|-|(此次患肢溫度-前次患肢)|| >= 1時要跳異常提示
        @* dfrecordid="@(r["DFRECORD_ID"])" ctrllimbid="@(r["DFTEMP_CTRL_LIMB_ID"])" *@
        //var DFRecordID = $(ObjVal).attr("dfrecordid");
        //var CtrlLimbID = $(ObjVal).attr("ctrllimbid");
        //var ThisTemp = $(ObjVal).val();

        //$.ajax({
        //    type: "POST",
        //    url: "../DigitFlapTemperature/GetTemperatureAlert",
        //    dataType: 'json',
        //    data: {
        //        DFRecordID: DFRecordID,
        //        CtrlLimbID: CtrlLimbID,
        //        ThisTemp: ThisTemp

        //    },
        //    async: false,
        //    success: function (data) {
        //        //SetDdl(data, 'DDLDFTempPosition');
        //    }
        //});

    }
</script>

<form id="FormTemperatureRecordSet" name="FormTemperatureRecordSet" action="SetTempAssessData" method="post" enctype="multipart/form-data">
    <div class="funcArea">
        @if (DT != null && DT.Rows.Count > 0)
        {
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td style="text-align:center;">
                        <span style="font-size:18px;color:blue;">新增評估</span>
                        <input type="hidden" name="HidModeVal" id="HidModeVal" value="@(ViewBag.ModeVal)" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="dataArea" style="height:440px;">
                            <table border="0" cellpadding="4" cellspacing="1" style="text-align: left;padding-bottom:20px;width:100%;">
                                @foreach (DataRow r in DT.Rows)
                                {
                                    string DFTempType = "";
                                    switch (r["DFTEMP_TYPE"].ToString())
                                    {
                                        case "1":
                                            DFTempType = "對照肢";
                                            break;
                                        case "2":
                                            DFTempType = "患肢";
                                            break;
                                        case "3":
                                            DFTempType = "皮瓣";
                                            break;
                                        default:
                                            DFTempType = "類別錯誤";
                                            break;
                                    }
                                    string DFTEMPPOSITION = r["DFTEMP_POSITION"].ToString();
                                    if (r["DFTEMP_POSITION"].ToString() == "99")
                                    {
                                        DFTEMPPOSITION = r["DFTEMP_POSITION_CONT"].ToString();
                                    }
                                    <tr>
                                        <th>
                                            <input type="hidden" name="DFTempID[]" id="DFTempID_@(r["DFTEMP_ID"])" value="@r["DFTEMP_ID"].ToString()" />
                                            <input type="hidden" name="DFTempNum_@(r["DFTEMP_ID"])" id="DFTempNum_@(r["DFTEMP_ID"])" value="@r["DFTEMP_NUM"].ToString()" />
                                            <input type="hidden" name="DFRecordID_@(r["DFTEMP_ID"])" id="DFRecordID_@(r["DFTEMP_ID"])" value="@r["DFRECORD_ID"].ToString()" />
                                            <input type="hidden" name="DFTempTime_@(r["DFTEMP_ID"])" value="@((ViewBag.ModeVal == "Edit" && !string.IsNullOrWhiteSpace(r["RECORDTIME"].ToString())) ? Convert.ToDateTime(r["RECORDTIME"].ToString()).ToString("yyyy/MM/dd HH:mm") : "")" />
                                            <input type="hidden" name="HidDFTempMeasureYN[]" id="HidDFTempMeasureYN_@(r["DFTEMP_ID"])" value="" />
                                            <input type="hidden" name="HidDFTempMeasureCont[]" id="HidDFTempMeasureCont_@(r["DFTEMP_ID"])" value="" />
                                            編號：@r["DFTEMP_NUM"].ToString()
                                        </th>
                                        <th>
                                            類別：@DFTempType
                                        </th>
                                        <th style="text-align:right;">
                                          @if(DFTempType == "患肢") 
                                            { 
                                               @((!string.IsNullOrEmpty(r["DFTEMP_CTRL_LIMB"].ToString()))? "對照肢："+r["DFTEMP_CTRL_LIMB"].ToString():"")
                                            }
                                        </th>
                                        <th>
                                            部位：@DFTEMPPOSITION
                                        </th>
                                    </tr>
                                    <tr>
                                        <td><label class="lab_sle">*</label>
                                            溫度：
                                        </td>
                                        <td colspan="3">
                                            <input type="text" id="TxtDFTempTemperature_@(r["DFTEMP_ID"])" name="TxtDFTempTemperature[]" onchange="this.value = this.value.replace(/[^0-9\.]/g, '')" onchange="//CheckTemperatureAlertFunc(this);" /> ℃
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab_sle">*</label>
                                            室溫：
                                        </td>
                                        <td colspan="3">
                                            <input type="text" id="TxtDFTempTemperatureRoom_@(r["DFTEMP_ID"])" name="TxtDFTempTemperatureRoom[]" onchange="this.value=this.value.replace(/[^0-9\.]/g,'')" /> ℃
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab_sle">*</label>
                                            顏色：
                                        </td>
                                        <td colspan="3">
                                            <div style="display:inline-block">
                                                @Html.DropDownList("DFTempColor[]", (List<SelectListItem>)ViewBag.DDLColorList, "請選擇", new { id = "DFTempColor_" + r["DFTEMP_ID"], onchange = "if ($(this).val() == '99') { $('#DivColorTxt_" + r["DFTEMP_ID"] + "').show(); } else { $('#DivColorTxt_" + r["DFTEMP_ID"] + "').hide(); $('#TxtTempColorElse_" + r["DFTEMP_ID"] + "').val('');}" })
                                            </div>
                                            <div style="display:inline-block">
                                                <span style="display:none;" id="DivColorTxt_@(r["DFTEMP_ID"])">
                                                    <input type="text" id="TxtTempColorElse_@(r["DFTEMP_ID"])" name="TxtTempColorElse[]" placeholder="其他顏色時填寫" onchange="this.value=this.value.replace(/,/g, '，')" />
                                                </span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><label class="lab_sle">*</label>
                                            毛細血管回充盈評估：
                                            <input type="hidden" name="HidDFTempPlumpness[]" id="HidDFTempPlumpness_@(r["DFTEMP_ID"])" value="" />
                                        </td>
                                        <td colspan="3">
                                            <label><input type="radio" value="1" name="DFTempPlumpness_@(r["DFTEMP_ID"])" />未作</label>
                                            <label><input type="radio" value="2" name="DFTempPlumpness_@(r["DFTEMP_ID"])" />快(1-2秒內由蒼白轉為紅潤)</label>
                                            <label><input type="radio" value="3" name="DFTempPlumpness_@(r["DFTEMP_ID"])" />慢(大於2秒由蒼白轉為紅潤)</label>
                                            <label><input type="radio" value="4" name="DFTempPlumpness_@(r["DFTEMP_ID"])" />蒼白，無法回充盈</label>
                                        </td>
                                    </tr>
                                    if (r["DFTEMP_TYPE"].ToString() == "2" || r["DFTEMP_TYPE"].ToString() == "3")
                                    {
                                        <tr>
                                            <td><label class="lab_sle">*</label>
                                                異常措施：
                                            </td>
                                            <td colspan="3">
                                                <label><input type="radio" value="N" id="RbnDFTempMeasureN_@(r["DFTEMP_ID"])" name="DFTempMeasureYN_@(r["DFTEMP_ID"])" dftemptype="@(r["DFTEMP_TYPE"])" onclick="$('#TxtDFTempMeasureCont_' + '@r["DFTEMP_ID"]').val(''); $('#DivTempMeasur_' + '@r["DFTEMP_ID"]').hide();" />無</label>
                                                <label><input type="radio" value="Y" id="RbnDFTempMeasureY_@(r["DFTEMP_ID"])" name="DFTempMeasureYN_@(r["DFTEMP_ID"])" dftemptype="@(r["DFTEMP_TYPE"])" onclick="$('#DivTempMeasur_' + '@r["DFTEMP_ID"]').show();" />有</label>
                                                <div id="DivTempMeasur_@(r["DFTEMP_ID"])" style="display:none">
                                                    <textarea id="TxtDFTempMeasureCont_@(r["DFTEMP_ID"])" name="TxtDFTempMeasureCont[]" rows="4" cols="30" maxlength="900" onchange="this.value=this.value.replace(/,/g, '，')"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    <tr>
                                        <td>
                                            上傳照片：
                                        </td>
                                        <td colspan="2">
                                            <input type="file" id="UpFileDFTempPic_@(r["DFTEMP_ID"])" name="UpFileDFTempPic_@(r["DFTEMP_ID"])" accept=".jpg,.png" />
                                        </td>
                                        <td>
                                            @if(ViewBag.ModeVal == "Edit" && !string.IsNullOrWhiteSpace(r["DFRECORD_PIC"].ToString()))
                                            {
                                            <img src="@(@Url.Content("~/UpFileMngArea/") + r["DFRECORD_PIC"] + "?" + DateTime.Now.ToString("yyyyMMddHHmmssfff"))"/>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            備註：
                                        </td>
                                        <td colspan="3">
                                            <input type="text" id="TxtDFTempRemark_@(r["DFTEMP_ID"])" name="TxtDFTempRemark[]" maxlength="900" onchange="this.value=this.value.replace(/,/g, '，')" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            帶入護理記錄：
                                            <input type="hidden" name="HidDFTempCareRecord[]" id="HidDFTempCareRecord_@(r["DFTEMP_ID"])" value="" />
                                        </td>
                                        <td colspan="3">
                                            <label><input type="radio" value="Y" id="RbnDFTempCareRecordY_@(r["DFTEMP_ID"])" name="DFTempCareRecord_@(r["DFTEMP_ID"])" checked/>是</label>&nbsp;
                                            <label><input type="radio" value="N" id="RbnDFTempCareRecordN_@(r["DFTEMP_ID"])" name="DFTempCareRecord_@(r["DFTEMP_ID"])" />否</label>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </td>
                </tr>
                <tr style="padding:5px 0 5px 0;text-align:center;">
                    <td style="padding:5px 0 5px 0;">
                        <input id="save" type="button" value="存檔" onclick="if (CheckInsValOK()) SetTempAssessFunc('@ViewBag.ModeVal');" />
                        <input id="cancle" type="button" value="取消" onclick="if (confirm('確認放棄?')) window.close();" />
                    </td>
                </tr>
            </table>
        }
    </div>
</form>
