@using System.Data;
@{
    DataTable DT = ViewBag.dt_record;
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    });

    function ShowImg(obj) {
        var src = window.location.href.substring(0, window.location.href.indexOf('/', 7)) + $(obj).attr('data-path');
        var newwindow = window.open('', '', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=660,height=440');
        var t = newwindow.document.createElement('img');
        $(t).prop('src', src);
        $(newwindow.document.body).html(t);
        if ($(t).width() == 0) {
            var t = $('<img src="' + src + '" />')
                .load(function () {
                    Resize(this);
                });
            $(newwindow.document.body).html(t);
        }
        else
            Resize(t);
    }

    function Resize(obj) {
        var w = $(obj).width();
        var h = $(obj).height();
        if (w > 400 || h > 400) {
            $(obj).css({ 'width': w * 0.9, 'height': h * 0.9 });
            Resize(obj);
        }
    }
</script>

@if (DT != null)
{
    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
        @foreach (DataRow r in DT.Rows)
        {
            string DFTempType = "";
            string DFTempColor = r["DFRECORD_COLOR"].ToString();
            string DFTempPosition = r["DFTEMP_POSITION"].ToString();
            switch (r["DFTEMP_TYPE"].ToString())
            {
                case "1":
                    DFTempType = "對照肢";
                    break;
                case "2":
                    DFTempType = "患肢";
                    break;
                case "3":
                    DFTempType = "皮瓣";
                    break;
                default:
                    DFTempType = "類別錯誤";
                    break;
            }
            if (r["DFRECORD_COLOR"].ToString() == "99")
            {
                DFTempColor = r["DFRECORD_COLOR_CONT"].ToString();
            }
            if (r["DFTEMP_POSITION"].ToString() == "99")
            {
                DFTempPosition = r["DFTEMP_POSITION_CONT"].ToString();
            }
            <tr>
                <td style="width: 7%; white-space: nowrap;">
                    <input name="row_record" id="ck@(r["DFRECORD_ID"])" type="checkbox" value="@(r["DFRECORD_ID"])" />
                    <label>@r["DFTEMP_NUM"]</label>
                </td>
                <td style="width: 13%; white-space: nowrap;"> @Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")</td>
                <td style="width: 9%; white-space: nowrap;">@DFTempType</td>
                <td style="width: 15%; word-break: break-all; ">
                    @DFTempPosition
                    @if (!string.IsNullOrWhiteSpace(r["DFRECORD_PIC"].ToString()))
                    {
                        <img src="@Url.Content("~/Images/Function/func_data.png")" style="width:12px;height:12px;cursor:pointer;" data-path="@(@Url.Content("~/UpFileMngArea/") + r["DFRECORD_PIC"] + "?" + DateTime.Now.ToString("yyyyMMddHHmmssfff"))" onclick="ShowImg(this);" />
                    }
                </td>
                <td style="width: 5%; word-break: break-all; ">@r["DFRECORD_TEMPERATURE"]</td>
                <td style="width:5%;">@r["DFRECORD_TEMPERATURE_ROOM"]</td>
                <td style="width: 8%; word-break: break-all;">@DFTempColor</td>
                 <td style="width:9%; text-align:center;">
                    <label>@(r["DFRECORD_PLUMPNESS"].ToString().Replace("1", "未做")
                    .Replace("2", "快")
                    .Replace("3", "慢")
                    .Replace("4", "蒼白"))</label>
                </td>
                <td style="width: 10%; word-break: break-all; ">@r["DFRECORD_MEASURE_CONT"]</td>
                <td style="width: 10%; word-break: break-all;">@r["DFRECORD_REMARK"]</td>
                <td style="width: 9%; word-break: break-all;">@r["username"]</td>
            </tr>
        }
    </table>

}