@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";

    DataTable DT_data = ViewBag.DT_data;
    DataTable DT_record = ViewBag.DT_record;
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
}

<style type="text/css">
    .TBRecordArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        /*white-space: pre-line;*/
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
    });

    //格行換色
    function setGridColor() {
        $('.TBRecordArea tr:odd').css('background', '#ABC8E2');
        $('.TBRecordArea tr:even').css('background', '#E1E6FA');
    }
</script>

<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;table-layout:fixed">
        <tr>
            <td>
                <table border="0" style="width:100%;font-size:14px;">
                    <tr>
                        <td>病人姓名：@ptinof.PatientName</td>
                        @if (ptinof.Birthday != null)
                        {
                            <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                        }
                        else
                        {
                            <td>生日：</td>
                        }
                        <td>年齡：@ptinof.Age</td>
                        <td>病床號：@ptinof.BedNo</td>
                        <td>病歷號：@ptinof.ChartNo</td>
                    </tr>
                    <tr>
                        <td>科別：@ptinof.DeptName</td>
                        <td>主治醫師：@ptinof.DocName</td>
                        @if (ptinof.InDate != null)
                        {
                            <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                        }
                        else
                        {
                            <td>住院日期：</td>
                        }
                        <td>性別：@ptinof.PatientGender</td>
                        <td>診斷：@ptinof.ICD9_code1</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dataHeader" style="margin-right:0px;">
                    <table border="0" cellpadding="4" cellspacing="2" style="width:100%;font-size:14px;">
                        <tr>
                            <td style="width:10%;">編號</td>
                            <td style="width:20%;">類別</td>
                            <td style="width:20%;">部位</td>
                            <td style="width:25%;">開始日期</td>
                            <td style="width:25%;">結束日期</td>
                        </tr>
                    </table>
                </div>
                <div class="TBRecordArea">
                    @if (DT_data != null)
                    {
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            @foreach (DataRow r in DT_data.Rows)
                            {
                                string DFTempType = "";
                                switch (r["DFTEMP_TYPE"].ToString())
                                {
                                    case "1":
                                        DFTempType = "對照肢";
                                        break;
                                    case "2":
                                        DFTempType = "患肢";
                                        break;
                                    case "3":
                                        DFTempType = "皮瓣";
                                        break;
                                    default:
                                        DFTempType = "類別錯誤";
                                        break;
                                }
                                string DFTEMPPOSITION = r["DFTEMP_POSITION"].ToString();
                                if (r["DFTEMP_POSITION"].ToString() == "99")
                                {
                                    DFTEMPPOSITION = r["DFTEMP_POSITION_CONT"].ToString();
                                }

                              //  if (r["ENDTIME"].ToString() == "")
                                {
                                    <tr class="link" onclick="$('#temperature_record').load('../DigitFlapTemperature/Partial_Record?DFTempID=' + '@r["DFTEMP_ID"].ToString()');">
                                        <td style="width: 10%; white-space: nowrap; text-align:center">
                                            @*<input name="row" id="ck@(r["DFTEMP_ROW"])" type="checkbox" value="@r["DFTEMP_ID"]" />*@
                                            <label for="ck@(r["DFTEMP_ROW"])">@r["DFTEMP_NUM"]</label>
                                        </td>
                                        <td style="width: 20%;">@DFTempType</td>
                                        <td style="width: 20%;">@DFTEMPPOSITION</td>
                                        <td style="width: 25%; white-space: nowrap;">@Convert.ToDateTime(r["DFTEMP_CREATE_DTM"]).ToString("yyyy/MM/dd")</td>
                                        <td style="width: 25%;">
                                            @if ((r["ENDTIME"]) != null && (r["ENDTIME"]).ToString().Trim() != "")
                                            {
                                                @Convert.ToDateTime(r["ENDTIME"]).ToString("yyyy/MM/dd")
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding-top:10px;">
                <div class="dataHeader" style="margin-right:0px;">
                    <table border="0" cellpadding="4" cellspacing="2" style="width:100%;font-size:12px;">
                        <tr>
                            <td style="width:6%;">部位編號</td>
                           
                            <td style="width:9%;">照片</td>
                            <td style="width:13%;">紀錄日期</td>
                            <td style="width:8%;">類別</td>
                            <td style="width:9%;">部位</td>
                            <td style="width:5%;">溫度</td>
                            <td style="width:5%;">室溫</td>
                            <td style="width:8%;">顏色</td>
                             <td style="width:9%;">毛細血管回<br />充盈評估</td>
                            <td style="width:10%;">處置</td>
                            <td style="width:10%;">備註</td>
                            <td style="width:8%;">紀錄者</td>
                        </tr>
                    </table>
                </div>
                <div class="TBRecordArea">
                    @if (DT_record != null)
                    {
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            @foreach (DataRow r in DT_record.Rows)
                            {
                                string DFTempType = "";
                                switch (r["DFTEMP_TYPE"].ToString())
                                {
                                    case "1":
                                        DFTempType = "對照肢";
                                        break;
                                    case "2":
                                        DFTempType = "患肢";
                                        break;
                                    case "3":
                                        DFTempType = "皮瓣";
                                        break;
                                    default:
                                        DFTempType = "類別錯誤";
                                        break;
                                }
                                string DFTempColor = r["DFRECORD_COLOR"].ToString();
                                if (r["DFRECORD_COLOR"].ToString() == "99")
                                {
                                    DFTempColor = r["DFRECORD_COLOR_CONT"].ToString();
                                }
                                <tr>
                                    <td style="width: 6%; white-space: nowrap; text-align:center">
                                        @*<input name="row_record" id="ck@(r["DFRECORD_ID"])" type="checkbox" value="@(r["DFRECORD_ID"])" />*@
                                        <label>@r["DFTEMP_NUM"]</label>
                                    </td>
                                   
                                    <td style="width:9%; text-align:center;">
                                        @if (r["DFRECORD_PIC"] != null && r["DFRECORD_PIC"].ToString().Trim() != "")
                                        {
                                            <img src="../UpFileMngArea/@(r["DFRECORD_PIC"])" style="width :60px;height:60px;" />
                                        }
                                    </td>
                                    <td style="width: 13%; white-space: nowrap;"> @Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:ss")</td>
                                    <td style="width: 8%; white-space: nowrap;">@DFTempType</td>
                                    <td style="width: 9%; word-break: break-all; ">@r["DFTEMP_POSITION"]</td>
                                    <td style="width: 5%; word-break: break-all; ">@r["DFRECORD_TEMPERATURE"]</td>
                                    <td style="width: 5%;">@r["DFRECORD_TEMPERATURE_ROOM"]</td>
                                    <td style="width: 8%; word-break: break-all;">@DFTempColor</td>
                                     <td style="width:9%; text-align:center;">
                                    <label>@(r["DFRECORD_PLUMPNESS"].ToString().Replace("1", "未做")
                                    .Replace("2", "快")
                                    .Replace("3", "慢")
                                    .Replace("4", "蒼白"))</label>
                                    </td>
                                    <td style="width: 10%; word-break: break-all; ">@r["DFRECORD_MEASURE_CONT"]</td>
                                    <td style="width: 10%; word-break: break-all;">@r["DFRECORD_REMARK"]</td>
                                    <td style="width: 8%; word-break: break-all;">@r["username"]</td>
                                </tr>
                            }
                        </table>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>