@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string title = "急救紀錄單 清單";
    PatientInfo ptInfo = (PatientInfo)Session["PatInfo"];
    UserInfo userInfo = (UserInfo)Session["UserInfo"];
}

<style type="text/css">
    #module_define {
        padding: 5px 0px 3px 0px;
        text-align: left;
        background-color: #d5d5f7 !important;
        width: 100%;
        border-radius: 10px !important;
        font-size: 28px;
        font-weight: 800;
        border: 0 !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
        font-family: Arial, EUDC !important;
    }

    .funcArea {
        margin: 0.5rem !important;
        font-size: 18px !important;
    }

    .fun_btn {
        font-size: 17px !important;
        box-shadow: none !important;
        border-radius: 10px !important;
        border: 0 !important;
        color: white !important;
        padding: 5px 5px 4px 4px !important;
    }

    .check_btn {
        background-color: #3c7ec3 !important;
    }

    .add_btn {
        background-color: #42b55b !important;
    }

    .modify_btn {
        background-color: #ed9017 !important;
    }

    .delete_btn {
        background-color: #ed6f6f !important;
    }

    .dataHeader td {
        font-weight: bold;
        margin: 1px 1px 1px 1px;
        background-color: #cfe1eb;
        text-align: center;
        vertical-align: middle;
        height: 26px;
    }

    .dataHeader {
        border-radius: 10px !important;
        margin-right: 15px !important;
    }

    .funcArea table {
        font-family: Arial, EUDC;
    }

    .dataArea {
        border: 0 !important;
    }

        .dataArea td {
            border-bottom: 0 !important;
        }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        DataQuery();
    });

    // 取得急救紀錄列表
    function DataQuery() {
        loop_windows("open_cover");

        $.ajax({
            type: "POST",
            url: '@Url.Content("~/EmergencyTreatment/EmergencyTreatmentListData")',
            dataType: 'html',
            data: {},
            cache: false,
            success: function (response) {
                $('.dataAreaX').html(response);
            }, complete: function () {
                loop_windows("close_cover");
            }
        });
    }

    // 刪除急救紀錄
    function DeleteEmergencyTreatment(MasterID) {
        if (MasterID != null && MasterID !='') {
            $.ajax({
                url: '@Url.Content("~/EmergencyTreatment/DeleteEmergencyTreatment")',
                type: 'post',
                data: { MasterID: MasterID },
                success: function (data) {
                    var alert_message = "";
                    switch (data.status) {
                        case 0:
                            if (data.message) {
                                alert_message = data.message;
                            }
                            alert(alert_message);
                            window.location.href = 'Index';
                            break;
                        default:
                            if (data.message) {
                                alert_message = data.message;
                            }
                            alert(alert_message);
                            break;
                    }
                },
                error: function (result) {
                }
            });
        }
    }

    // 刪除Information
    function DeleteInformation(TemplateID, Type, MasterID) {
        if (TemplateID != null && TemplateID != '' && Type != null && Type != '') {
            $.ajax({
                url: '@Url.Content("~/EmergencyTreatment/DeleteInformation")',
                type: 'post',
                data: {
                    TemplateID: TemplateID,
                    Type: Type,
                    MasterID: MasterID
                },
                success: function (data) {
                    var alert_message = "";
                    switch (data.status) {
                        case 0:
                            if (data.message) {
                                alert_message = data.message;
                            }
                            alert(alert_message);
                            window.location.href = 'Index';
                            break;
                        default:
                            if (data.message) {
                                alert_message = data.message;
                            }
                            alert(alert_message);
                            break;
                    }
                },
                error: function (result) {
                }
            });
        }
    }

    // 同紀錄單生命徵象暨急救藥物使用紀錄全刪除
    function DeleteAllNote(MasterID) {
        if (MasterID != null && MasterID != '') {
            $.ajax({
                url: '@Url.Content("~/EmergencyTreatment/DeleteAllNote")',
                type: 'post',
                data: {
                    MasterID: MasterID
                },
                success: function (data) {
                    var alert_message = "";
                    switch (data.status) {
                        case 0:
                            if (data.message) {
                                alert_message = data.message;
                            }
                            alert(alert_message);
                            window.location.href = 'Index';
                            break;
                        default:
                            if (data.message) {
                                alert_message = data.message;
                            }
                            alert(alert_message);
                            break;
                    }
                },
                error: function (result) {
                }
            });
        }
    }
</script>

<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td>
                <div id="module_define">@(title)</div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; text-align: center;">
                <div class="funcArea">
                    <input type="button" class="fun_btn add_btn" value="新增" onclick="window.location.href = '../EmergencyTreatment/Insert'" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:16px;">
                        <tr>
                            <td style="width: 12%;"></td>
                            <td style="width: 25%;">急救開始時間 ~ 急救結束時間</td>
                            <td style="width: 21%;">急救資訊</td>
                            <td style="width: 12%;">急救前資訊</td>
                            <td style="width: 18%;">生命徵象暨急救藥物使用</td>
                            <td style="width: 12%; ">急救後記錄</td>
                        </tr>
                    </table>
                </div>
                <div class="dataAreaX">
                </div>
            </td>
        </tr>
    </table>
</div>

<link rel="Stylesheet" type="text/css" href="~/Content/StyleSheet/jquery.notty.css" />
<script type="text/javascript" src="~/Scripts/jquery.notty.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.contextmenu.r2.js"></script>

