@using NIS.Controllers;
@using System.Data;
@using NIS.Models;
@{
    //Layout = "~/Views/Layout/FormLayout.cshtml";
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
    List<Dictionary<string, string>> VSID_List = ViewBag.VSID_List;
    var vs_id_list = new List<string>();
    if (VSID_List.Count > 0)
    {
        foreach (var data in VSID_List)
        {
            vs_id_list.Add(data["vs_id"]);
        }
    }
}

<style type="text/css">
    #VS_Import_Table .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: center;
        height: 20px;
    }

    #VS_Import_Table .dataHeader td {
        text-align: center;
    }

    #module_define {
        padding: 5px;
        text-align: left;
        background-color: #d5d5f7 !important;
        width: 100%;
        border-radius: 10px !important;
        font-size: 28px;
        font-weight: 800;
        border: 0 !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
        font-family: Arial, EUDC !important;
    }

    .fun_btn {
        font-size: 17px !important;
        box-shadow: none !important;
        border-radius: 10px !important;
        border: 0 !important;
        color: white !important;
        padding: 5px 5px 4px 4px !important;
        cursor: pointer;
    }

    .check_btn {
        background-color: #3c7ec3 !important;
    }

    .add_btn {
        background-color: #42b55b !important;
    }

    .modify_btn {
        background-color: #ed9017 !important;
    }

    .delete_btn {
        background-color: #ed6f6f !important;
    }

    .dataHeader td {
        font-weight: bold;
        margin: 1px 1px 1px 1px;
        background-color: #cfe1eb;
        text-align: center;
        vertical-align: middle;
        height: 26px;
    }

    .dataHeader {
        border-radius: 10px !important;
    }

    .funcArea table {
        font-family: Arial, EUDC;
    }

    .dataArea {
        border: 0 !important;
        overflow: hidden;
    }

        .dataArea td {
            border: 1px solid white !important;
        }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        //格行換色
        setTimeout(function () { $(".dtl_VS").css('background', '#E1E6FA') }, 0);

        @if (Request["message"] != null)
        {
        @:showHint("@(Request["message"].ToString())");
        }
    });

    //帶入生命徵象頁面
    function btn_write(d, t, bt, mp, bf, bph, bpl, sp, vs_id) {
        window.opener.document.getElementById('Assess_Time').value = "";
        window.opener.document.getElementById('BT').value = "";
        window.opener.document.getElementById('HR').value = "";
        window.opener.document.getElementById('Respiratory').value = "";
        window.opener.document.getElementById('BP_Systolic').value = "";
        window.opener.document.getElementById('BP_Diastolic').value = "";
        window.opener.document.getElementById('SPO2').value = "";
        window.opener.document.getElementById('VS_Id').value = "";

        if ( (d != null && d!="")&&(t != null && t!=""))
        {
            window.opener.document.getElementById('Assess_Time').value = d + " "+ t;
        }

        if (bt != null && bt != "")
            window.opener.document.getElementById('BT').value = bt;
        if (mp != null && mp != "")
            window.opener.document.getElementById('HR').value = mp;
        if (bf != null && bf != "")
            window.opener.document.getElementById('Respiratory').value = bf;
        if (bph != null && bph != "")
            window.opener.document.getElementById('BP_Systolic').value = bph;
        if (bpl != null && bpl != "")
            window.opener.document.getElementById('BP_Diastolic').value = bpl;
        if (sp != null && sp != "")
            window.opener.document.getElementById('SPO2').value = sp;
        if (vs_id != null && vs_id != "")
            window.opener.document.getElementById('VS_Id').value = vs_id;
    }
</script>

@{
    DateTime start = Convert.ToDateTime(ViewBag.start);
    DateTime end = Convert.ToDateTime(ViewBag.end);
}

<div>
    <table style="width: 100%;border-spacing:0px 0px;" cellspacing="0">
        <tr>
            <td id="VS_Import_Table" style="vertical-align: top; width: 90%;">
                <div class="dataHeader" id="dataHeader" style="width: calc(100% - 15px);">
                    <table id="table_dataHeader" border="0" cellpadding="4" cellspacing="1" style="table-layout: fixed; white-space: nowrap; font-size: 14px; width: 100%" class="dtl_VS">

                        <tr>
                            <td style="width: 35px; height: 35px;"></td>
                            <td style="width: 90px; height: 35px;">日期</td>
                            <td style="width: 40px; height: 35px;">體溫</td>
                            <td style="width: 40px;">心跳</td>
                            <td style="width: 40px;">呼吸</td>
                            <td style="width: 60px;">血壓(H/L)</td>
                            <td style="width: 40px;">血氧</td>
                            <td style="width: 50px;">是否已帶入</td>
                            <td style="width: 90px;">帶入時間</td>
                        </tr>
                    </table>
                </div>
                <!-- 表頭隨著資料內容一起動 -->
                <div class="dataArea" style="width: 100%; overflow-x: auto; overflow-y: scroll;">
                    <table id="table_dataArea" border="0" cellpadding="4" cellspacing="1" style="table-layout: fixed; white-space: nowrap; width: 100%" class="dtl_VS">
                        @{
                            if (ViewData["result"] != null)
                            {
                                List<EmergencyTreatment.EmergencyTreatment_VitalSignImport> vsDataList = (List<EmergencyTreatment.EmergencyTreatment_VitalSignImport>)ViewData["result"];
                                for (int i = 0; i <= vsDataList.Count - 1; i++)
                                {
                                    <tr>
                                        <td style="width: 35px; height: 35px;">
                                            @*@if (!vs_id_list.Contains((vsDataList[i].vs_id)))
                                                {
                                                    <input type="button" value="帶入" onclick="btn_write('@(Convert.ToDateTime(vsDataList[i].modify_date).ToString("yyyy/MM/dd"))', '@(Convert.ToDateTime(vsDataList[i].modify_date).ToString("HH:mm"))', '@(vsDataList[i].vs_bt)', '@(vsDataList[i].vs_mp)', '@(vsDataList[i].vs_bf)', '@(vsDataList[i].vs_bp_sys)', '@(vsDataList[i].vs_bp_dia)', '@(vsDataList[i].vs_sp)', '@(vsDataList[i].vs_id)'); window.close()" />
                                                }*@
                                            <input type="button" class="fun_btn check_btn" value="帶入" onclick="btn_write('@(Convert.ToDateTime(vsDataList[i].modify_date).ToString("yyyy/MM/dd"))', '@(Convert.ToDateTime(vsDataList[i].modify_date).ToString("HH:mm"))', '@(vsDataList[i].vs_bt)', '@(vsDataList[i].vs_mp)', '@(vsDataList[i].vs_bf)', '@(vsDataList[i].vs_bp_sys)', '@(vsDataList[i].vs_bp_dia)', '@(vsDataList[i].vs_sp)', '@(vsDataList[i].vs_id)'); window.close()" />
                                        </td>
                                        <td style="width: 90px; height: 35px;">@Convert.ToDateTime(vsDataList[i].create_date).ToString("yyyy/MM/dd HH:mm")</td>
                                        <td style="width: 40px; height: 35px;">@vsDataList[i].vs_bt</td>
                                        <td style="width: 40px;">
                                            @if (@vsDataList[i].vs_mp != null)
                                            {@vsDataList[i].vs_mp}
                                        </td>
                                        <td style="width: 40px;">
                                            @if (@vsDataList[i].vs_bf != null)
                                            {@vsDataList[i].vs_bf}
                                        </td>
                                        <td style="width: 60px;">
                                            @if (@vsDataList[i].vs_bp_sys != null)
                                            {@vsDataList[i].vs_bp_sys}
                                            / @if (@vsDataList[i].vs_bp_dia != null)
                                            {@vsDataList[i].vs_bp_dia}
                                        </td>
                                        <td style="width: 40px;">
                                            @if (@vsDataList[i].vs_sp != null)
                                            {@vsDataList[i].vs_sp}
                                        </td>
                                        <td style="width: 50px;">
                                            @if (vs_id_list.Contains((vsDataList[i].vs_id)))
                                            {
                                                <label>已帶入</label>
                                            }
                                        </td>
                                        <td style="width: 90px;text-align:center">
                                            @if (vs_id_list.Contains((vsDataList[i].vs_id)))
                                            {
                                                if (VSID_List.Count > 0)
                                                {
                                                    var record_Date = "";
                                                    var record_Time = "";
                                                    foreach (var data in VSID_List)
                                                    {
                                                        if (data["vs_id"] == vsDataList[i].vs_id)
                                                        {
                                                            record_Date = DateTime.Parse(data["record_time"]).ToString("yyyy/MM/dd");
                                                            record_Time = DateTime.Parse(data["record_time"]).ToString("HH:mm");
                                                        }
                                                    }
                                                    @record_Date <br>
                                                    @record_Time
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>