@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
}

<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
    });
    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }
</script>
@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<form id="edu_form" action="Score" method="post">
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style=" width:100%; font-size:14px;">
        <tr>
            <td>
                <table border="0" style="width:100%;">
                    <tr>
                        <td>病人姓名：@ptinof.PatientName</td>
                        @if (ptinof.Birthday != null)
                        {
                            <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                        }
                        else
                        {
                            <td>生日：</td>
                        }
                        <td>年齡：@(ptinof.Age)  &nbsp; 性別：@(ptinof.PatientGender)</td>
                        @*<td>病床號：@ptinof.BedNo</td>*@

                        <td colspan="2">病歷號：@ptinof.ChartNo</td>
                    </tr>
                    <tr>
                        <td>科別：@ptinof.DeptName</td>
                        <td>主治醫師：@ptinof.DocName</td>
                        @if (ptinof.InDate != null)
                        {
                            <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                        }
                        else
                        {
                            <td>住院日期：</td>
                        }
                        <td colspan="2">診斷：@ptinof.ICD9_code1</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td style="padding: 5px 0px 5px 0px">
                <div class="dataHeader" style="margin-right:0px;">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;cursor:pointer;font-size: 14px;" onclick="">
                        <tr>
                             <td style="width: 11%;text-align:center;">日期<br />時間</td>
                            <td style="width: 8%;word-break:break-all;text-align:left;">Blood<br />Flow<br />Rate<br />(ml/min)</td>
                            <td style="width: 8%;text-align:left;">Venous<br />Pressure<br />(mmHg)</td>
                            <td style="width: 8%;word-break:break-all;text-align:left;">Air<br />Detector<br />(OK?)</td>
                            <td style="width: 10%;word-break:break-all;text-align:left;">Clots<br />in<br />Venous<br />Trap?</td>
                            <td style="width: 10%;word-break:break-all;text-align:left;">Heparin<br />(U/hr)</td>
                            <td style="width: 12%;word-break:break-all;text-align:left;">Replace<br />Fluid<br />A+B<br />(ml)</td>
                            <td style="width: 13%;word-break:break-all;text-align:left;">Flushes<br />(ml)</td>
                            <td style="width: 10%;word-break:break-all;text-align:left;">UF<br />(ml)</td>
                            <td style="width: 11%;word-break:break-all;text-align:left;">I/O</td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea_PDF">
                    <table border="0" cellpadding="4" cellspacing="1" width="100%" style="width: 100%; background-color: #FFFFFF; font-size: 14px;">
                   @if(dt != null)
                        {
                            <tbody>
                                @foreach(DataRow r in dt.Rows)
                                {
                                    <tr>
                                        <td style="width: 11%;text-align:center;">
                                            <label id="lab_date_@(r["ROWNUM"])">@(Convert.ToDateTime(r["DATA_TIME"]).ToString("yyyy/MM/dd"))</label><br />
                                            <label id="lab_time_@(r["ROWNUM"])">@(Convert.ToDateTime(r["DATA_TIME"]).ToString("HH:mm"))</label>
                                        </td>
                                        <td style="width: 8%;word-break:break-all;"><label id="lab_BLOOD_FLOW_RATE_@(r["ROWNUM"])">@r["BLOOD_FLOW_RATE"]</label></td>
                                        <td style="width: 8%;word-break:break-all;"><label id="lab_VENOUS_PRESSURE_@(r["ROWNUM"])">@r["VENOUS_PRESSURE"]</label></td>
                                        @{
                                    string[] AirDetectorArray = { "OK", "NOT OK" };
                                    string[] ClotsInVenousTrapArray = { "+", "-", "±" };
                                        }
                                        <td style="width: 8%;"><label id="lab_AIR_DETECTOR_@(r["ROWNUM"])" tempstr="@(r["AIR_DETECTOR"])">@(AirDetectorArray[Convert.ToInt32(r["AIR_DETECTOR"])])</label></td>
                                        <td style="width: 10%;"><label id="lab_CLOTS_IN_VENOUS_TRAP_@(r["ROWNUM"])" tempstr="@(r["CLOTS_IN_VENOUS_TRAP"])" >@(ClotsInVenousTrapArray[Convert.ToInt32(r["CLOTS_IN_VENOUS_TRAP"])])</label></td>
                                        <td style="width: 10%;"><label id="lab_HEPARIN_@(r["ROWNUM"])">@r["HEPARIN"]</label></td>
                                        <td style="width: 12%;"><label id="lab_I_REPLACE_FLUID_@(r["ROWNUM"])">@r["I_REPLACE_FLUID"]</label></td>
                                        <td style="width: 13%;"><label id="lab_I_FLUSHES_@(r["ROWNUM"])">@r["I_FLUSHES"]</label></td>
                                        <td style="width: 10%;"><label id="lab_O_UF_@(r["ROWNUM"])">@r["O_UF"]</label></td>
                                        @*<td style="width: 11%;"><label id="lab_IO_TOTAL_@(r["ROWNUM"])">@(r["IO_TOTAL"])</label></td>*@
                                        <td style="width: 11%;"><label id="lab_IO_TOTAL_@(r["ROWNUM"])">
                                                                @if(Convert.ToInt32(r["IO_TOTAL"]) > 0) 
                                                                {
                                                                    @Html.Raw("+")
                                                                }
                                                                @(r["IO_TOTAL"])
                                                                </label>@*/<label id="lab_O_TOTAL_@(r["ROWNUM"])">@(r["O_TOTAL"])</label>*@</td>
                                    </tr>
                                }
                            </tbody>
                        }
                        </table>
                </div>
        </td></tr>
    </table>
</div>
</form>