@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string feeno = ViewBag.feeno;
    string ExecFlag = ViewBag.ExecFlag;
    string TypeFlag = ViewBag.TypeFlag;
    string showHistory = (ViewBag.showHistory=="Y")?"": "display:none;";
    string RootDocument = "";
    if (global_asax.localIp.Substring(0, 7) == "172.20.") //for ECK
    {
        RootDocument = ViewBag.RootDocument + "/NIS";
    }
    else if (NIS.Controllers.BaseController.debug_mode)
    { //for localhost
        RootDocument = ViewBag.RootDocument;
    }
    else //for demo
    {
        RootDocument = ViewBag.RootDocument + "/NIS_ECK";
    }
    string ChartNo = ViewBag.ChartNo;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>歷史資料</title>
</head>
<link rel="Stylesheet" type="text/css" href="~/Content/StyleSheet/bootstrap.min.css" />
<script type="text/javascript">
 $(document).ready(function () {
        //loadMedPage();
    });



    function load_func(func_name) {
        $.ajax({//LOAD一個session
            type: 'post',
            url: '@(RootDocument)/HISView/WebS_ChangPtInfo',
            async: false,
            data: { 'strFeeNo': '@(feeno)' },
            success: function (data) {
            }
        });
        if (func_name == "IO")
            func_name = "Index";

        var control = "HISVIEW/";
        if (func_name.indexOf("APPLY_RECOVER") != -1) {
            control = "HistoryView/"
        }

        window.open("@(RootDocument)/" + control + func_name + "?feeno=" + '@(feeno)' + "&env=223&chartno="+'@(ChartNo)'+"&IsHisView=true", 'TopMenu');     
    }


</script>

<body>
    <h1>功能清單</h1>
    <form name="excute_form" action="SignSave" method="post">
        @*<tr>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-success" value="HView_Main" title="HView_Main" onclick="load_func('HView_Main');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="管路查詢" title="Tube" onclick="load_func('Tube');" />
                </td>
            <td>
               <input type="button" style="width: 120px;" class="btn btn-primary" value="管路評估" title="Assessment_List" onclick="load_func('Assessment_List');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="血糖查詢" title="BloodSugar_List" onclick="load_func('BloodSugar_List');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="血糖胰島素查詢" title="BSugarInsulinList" onclick="load_func('BSugarInsulinList');" />
            </td>
            <td>
        </tr>
        <br />
        <tr>
            <input type="button" style="width: 120px;" class="btn btn-primary" value="疼痛查詢" title="listPain" onclick="load_func('listPain');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="護理紀錄查詢" title="CareRecord" onclick="load_func('CareRecord');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="I/O總量查詢" title="Index" onclick="load_func('IO');" />
            </td>

            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="給藥查詢" title="Med_QueryExecLogByUD" onclick="load_func('Med_QueryExecLogByUD');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="給藥列印查詢" title="Med_SearchList" onclick="load_func('Med_SearchList');" />
            </td>
        </tr>

        <br />
        <tr>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="尿管量查詢" title="CatheterFlushVolume_Detail" onclick="load_func('CatheterFlushVolume_Detail');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="約束查詢" title="Constraints_ListNew" onclick="load_func('Constraints_ListNew');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="CVVH查詢" title="CVVH_Index" onclick="load_func('CVVH_Index');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="Drug_iv查詢" title="Drug_iv_report" onclick="load_func('Drug_iv_report');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="衛教查詢" title="Education_List" onclick="load_func('Education_List');" />
            </td>


        </tr>
        <br />
        <tr>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="壓傷查詢" title="DigitFlap_List" onclick="load_func('DigitFlap_List');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="傷口查詢" title="listTrauma" onclick="load_func('listTrauma');" />
            </td>

            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="生命徵象查詢" title="VitalSign_Query" onclick="load_func('VitalSign_Query');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="TPR查詢" title="Tpr_Index" onclick="load_func('Tpr_Index');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="特殊事件查詢" title="Special_Event" onclick="load_func('Special_Event');" />
            </td>
        </tr>*@
        <tr>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="生命徵象查詢" title="VitalSign_Query" onclick="load_func('VitalSign_Query');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="TPR查詢" title="Tpr_Index" onclick="load_func('Tpr_Index');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="護理紀錄查詢" title="CareRecord" onclick="load_func('CareRecord');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="I/O總量查詢" title="Index" onclick="load_func('IO');" />
            </td>

            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="給藥查詢" title="Med_QueryExecLogByUD" onclick="load_func('Med_QueryExecLogByUD');" />
            </td>

        </tr>
        <br />
        <tr>
            <td colspan="5">
                <input type="button" style="width: 615px;@(showHistory)" class="btn btn-success" value="切換歷史區資料" title="Special_Event" onclick="load_func('APPLY_RECOVER');" />
            </td>
            <td></td>
        </tr>
        <br />

    </form>
    <!--遮罩-->
    <div id="inp" class="dialog"></div>
    <div id="cover" class="dialog"></div>
    <div id="sys_Block"></div>


</body>
</html>
