@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    //string title = "膀胱訓練";//列印
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
}

<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
    });
    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }
</script>
@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<form id="edu_form" action="Score" method="post">
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style=" width:100%; font-size:14px;">
        <tr>
            <td>
                <table border="0" style="width:100%;">
                    <tr>
                        <td>病人姓名：@ptinof.PatientName</td>
                        @if (ptinof.Birthday != null)
                        {
                            <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                        }
                        else
                        {
                            <td>生日：</td>
                        }
                        <td>年齡：@(ptinof.Age)  &nbsp; 性別：@(ptinof.PatientGender)</td>
                        @*<td>病床號：@ptinof.BedNo</td>*@

                        <td colspan="2">病歷號：@ptinof.ChartNo</td>
                    </tr>
                    <tr>
                        <td>科別：@ptinof.DeptName</td>
                        <td>主治醫師：@ptinof.DocName</td>
                        @if (ptinof.InDate != null)
                        {
                            <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                        }
                        else
                        {
                            <td>住院日期：</td>
                        }
                        <td colspan="2">診斷：@ptinof.ICD9_code1</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td style="padding: 5px 0px 5px 0px">
                <div class="dataHeader" style="margin-right:0px;">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;cursor:pointer;font-size: 14px;" onclick="">
                        <tr>
                           <td style="width: 10%; text-align: center;">日期時間</td>
                           <td style="width: 8%; text-align: center;">尿管類別</td>
                            <td style="width: 8%; text-align: center;">訓練狀態</td>
                            <td style="width: 7%;">尿液感</td>
                            <td style="width: 12%;">攝水量(ml)</td>
                            <td style="width: 10%;">餘尿量(ml)</td>
                            <td style="width: 13%;">自解排尿量(ml)</td>
                            <td style="width: 8%; text-align: center;">執行者</td>
                            <td style="width: 24%;">備註</td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea_PDF">
                   @if(dt != null && dt.Rows.Count > 0)
                    {
                        @Html.Raw("<table border='0' cellpadding='4' cellspacing='1' style='width:100%;font-size:14px;background-color: #FFFFFF;'>")
                        foreach(DataRow r in dt.Rows)
                        {
                        @Html.Raw("<tr>")
                        @Html.Raw("<td style='width:10%;text-align: center;'>")
                        @Html.Raw("<label>" + Convert.ToDateTime(r["RECORD_TIME"]).ToString("yyyy/MM/dd HH:mm") + "</label>")
                        @Html.Raw("</td>")
                        @Html.Raw("<td style='width:8%;text-align: center;'>")
                            string[] ArrCatheter = { "尿管", "膀胱造廔" };
                        @Html.Raw("<label>" + ArrCatheter[Convert.ToInt32(r["CATHETER_SORT"])] + "</label>")
                        @Html.Raw("</td>")
                            string[] ArrTrainingStatus = { "關閉", "開啟" };
                        @Html.Raw("<td style='width:8%;text-align: center;'>")
                        @Html.Raw("<label>" + ArrTrainingStatus[Convert.ToInt32(r["TRAINING_STATUS"])] + "</label>")
                        @Html.Raw("</td>")
                            string[] ArrUrineFeel = { "無", "有" };
                        @Html.Raw("<td style='width:7%;text-align: center;'>")
                        @Html.Raw("<label>" + ArrUrineFeel[Convert.ToInt32(@r["URINE_FEEL"])] + "</label>")
                        @Html.Raw("</td>")
                            string TempIntake = "0";
                            TempIntake = (r["INTAKE_WATER"] == null) ? "" : (r["INTAKE_WATER"]).ToString();
                        @Html.Raw("<td style='width:12%;word-break:break-all;'>")
                        @Html.Raw("<label>" + TempIntake + "</label>")
                        @Html.Raw("</td>")
                            string TempResidualUnine = "0";
                            TempResidualUnine = (r["RESIDUAL_UNINE"] == null) ? "" : (r["RESIDUAL_UNINE"]).ToString();
                        @Html.Raw("<td style='width:10%;word-break:break-all;'>")
                        @Html.Raw("<label>" + TempResidualUnine + "</label>")
                        @Html.Raw("</td>")
                            string TempSelfSituation = "0";
                            TempSelfSituation = (r["SELF_SITUATION"] == null) ? "" : (r["SELF_SITUATION"]).ToString();
                        @Html.Raw("<td style='width:13%;word-break:break-all;'>")
                        @Html.Raw("<label>" + TempSelfSituation + "</label>")
                        @Html.Raw("</td>")
                        @Html.Raw("<td style='width:8%;text-align: center;'>")
                        @Html.Raw("<label>" + r["CREATNAME"] + "</label>")
                        @Html.Raw("</td>")
                        @Html.Raw("<td style='width:24%;word-break:break-all;'>")
                        @Html.Raw("<label>" + r["REMARK"] + "</label>")
                        @Html.Raw("</td>")
                        @Html.Raw("</tr>")
                        }
                        @Html.Raw("</table>")
                    }
                </div>
        </td></tr>
    </table>
</div>
</form>