@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    List<GetExpectedItem> ExpectedItemList = (List<GetExpectedItem>)ViewData["ExpectedItemList"];
    List<GetExpectedItem> ExpectedItemList_lab = (List<GetExpectedItem>)ViewData["lab_group"];
    List<Dictionary<string, string>> BloodInfoList = (List<Dictionary<string, string>>)ViewData["BloodInfoList"];
    string RootDocument = ViewBag.RootDocument;
    string feeno = ViewBag.feeno;
    string Assessment = ViewBag.Assessment;
    UserInfo ui = (UserInfo)Session["UserInfo"];
    string shiftcate = ViewBag.shiftcate;
    string type = ViewBag.type;
    string paramsdata = ViewBag.paramsdata;
    string BedNo = ViewBag.BedNo;
    PatientInfo pi = (PatientInfo)ViewData["pi"];
}
<style type="text/css">

    .TitleVision {
        background-color: #5175BC;
        color: white;
    }

    .head {
        background-color: #85A5CC;
    }

    .Item_SL {
        display: inline-block;
        width: 49%;
    }

    .Input_M {
        width: 150px;
    }

    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }

        .dataArea td[data-assessment] {
            font-size: 16px;
        }

    #sys_Block {
        position: fixed;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: #666;
        /* other browsers */
        opacity: 0.65;
        /* this works in IE6, IE7, and IE8 */
        filter: alpha(opacity=65);
        /* this works in IE8 only */
        display: none;
    }

    #DoctorAdcive {
        position: fixed;
        width: 90%;
        height: 60%;
        display: none;
        background-color: white;
        border: 1px solid #666;
        z-index: 98;
    }

    .LittleTitle {
        color: navy;
        padding-left:5px;
    }

    button.ui-datepicker-current { 
        display: none;
    }
</style>

<div class="funcArea">
    <div class="dataArea" id="Content" style="margin-top:10px;overflow-x:hidden;overflow-y:hidden;height:auto;">
        <table border="0" cellpadding="4" cellspacing="2" style="width:100%;">
            <tr>
                <th colspan="4" class="TitleVision"> 基本資料介紹 (Introduction)</th>
            </tr>
            <tr>
                <th colspan="2" class="head" style="width:30%;">入院/轉入日期</th>
                <td colspan="2" style="width:70%;">
                    <div class="A" data-assessment="A_param_ipd_source"></div>
                    <div class="C" data-assessment="C_param_ipd_source"></div>
                </td>
            </tr>
            <tr>
                <th colspan="2" class="head">入院方式</th>
                <td colspan="2" class="A" data-assessment="A_param_ipd_style"></td>
                <td colspan="2" class="C" data-assessment="C_param_ipd_style"></td>
            </tr>
            <tr>
                <th colspan="2" class="head">入院原因/經過</th>
                <td colspan="2" class="A" data-assessment="A_param_ipd_reason"></td>
                <td colspan="2" class="C" data-assessment="C_param_ipd_reason"></td>
            </tr>

            <tr>
                <th colspan="2" class="head">血型</th>
                <td colspan="2" class="A" data-assessment="A_pt_blood"></td>
                <td colspan="2" class="C" data-assessment="C_pt_blood"></td>
            </tr>
            <tr>
                <th colspan="4" class="TitleVision">目前狀況 (Situation)</th>
            </tr>

            <tr>
                <th colspan="2" class="head">主要照顧者</th>
                <td>
                    <label><input type="radio" name="MainCareGiver" class="req_ck bind_data" data-code="Family" value="家屬" onclick="SwitchSubProject(this);" />家屬</label>
                    <label><input type="radio" name="MainCareGiver" data-code="Nurse" value="看護" onclick="SwitchSubProject(this);" />看護</label>
                    <label><input type="radio" name="MainCareGiver" class="req_ck bind_data" data-code="no" value="無" onclick="SwitchSubProject(this);" />無</label>
                    <label><input type="radio" name="MainCareGiver" data-code="Other" value="其他" onclick="SwitchSubProject(this);" />其他</label>
                    <span class="MainCareGiver Other" style="display:none;width:80px;">
                        <input type="text" name="MainCareGiver_Nurse_Other_text" class="Input_M req_txt bind_data" />
                    </span>
                </td>
                <td>
                    <div class="MainCareGiver Family Other" style="display:none;">
                        <label>聯絡電話：</label>
                        <input type="text" name="MainCareGiver_Phone" class="Input_M bind_data" />
                        <label>，備註：</label>
                        <input type="text" name="MainCareGiver_Remark" class="Input_M bind_data" />
                    </div>
                    <div class="MainCareGiver Nurse" style="display:none;">
                        <div>
                            <label><input type="radio" name="MainCareGiver_Nurse" class="req_ck bind_data" data-code="Local" value="本籍" onclick="SwitchSubProject(this);" />本籍</label>
                            <label><input type="radio" name="MainCareGiver_Nurse" data-code="Foreign" value="外籍" onclick="SwitchSubProject(this);" />外籍</label>
                            <label><input type="radio" name="MainCareGiver_Nurse" data-code="Contract" value="合約看護" onclick="SwitchSubProject(this);" />合約看護</label>
                            <label><input type="radio" name="MainCareGiver_Nurse" data-code="unContract" value="非合約看護" onclick="SwitchSubProject(this);" />非合約看護</label>
                            <label><input type="radio" name="MainCareGiver_Nurse" data-code="Domestichelper" value="家傭" onclick="SwitchSubProject(this);" />家傭</label>

                            <hr />
                        </div>
                        <div class="MainCareGiver_Nurse Local" style="display:none;">
                            <label>聯絡電話：</label>
                            <input type="text" name="MainCareGiver_Nurse_Local_Phone" class="Input_M bind_data" />
                            <label>，備註：</label>
                            <input type="text" name="MainCareGiver_Nurse_Local_Remark" class="Input_M bind_data" />
                        </div>
                        <div class="MainCareGiver_Nurse Foreign" style="display:none;">
                            <label>聯絡電話：</label>
                            <input type="text" name="MainCareGiver_Nurse_Foreign_Phone" class="Input_M bind_data" />
                            <label>，備註：</label>
                            <input type="text" name="MainCareGiver_Nurse_Foreign_Remark" class="Input_M bind_data" />
                        </div>
                        <div class="MainCareGiver_Nurse Other" style="display:none;">
                            <label>聯絡電話：</label>
                            <input type="text" name="MainCareGiver_Nurse_Other_Phone" class="Input_M bind_data" />
                            <label>，備註：</label>
                            <input type="text" name="MainCareGiver_Nurse_Other_Remark" class="Input_M bind_data" />
                        </div>
                        <div class="MainCareGiver_Nurse Contract" style="display:none;">
                            <label>聯絡電話：</label>
                            <input type="text" name="MainCareGiver_Nurse_Contract_Phone" class="Input_M bind_data" />
                            <label>，備註：</label>
                            <input type="text" name="MainCareGiver_Nurse_Contract_Remark" class="Input_M bind_data" />
                        </div>
                        <div class="MainCareGiver_Nurse unContract" style="display:none;">
                            <label>聯絡電話：</label>
                            <input type="text" name="MainCareGiver_Nurse_unContract_Phone" class="Input_M bind_data" />
                            <label>，備註：</label>
                            <input type="text" name="MainCareGiver_Nurse_unContract_Remark" class="Input_M bind_data" />
                        </div>
                        <div class="MainCareGiver_Nurse Domestichelper" style="display:none;">
                            <label>聯絡電話：</label>
                            <input type="text" name="MainCareGiver_Nurse_Domestichelper_Phone" class="Input_M bind_data" />
                            <label>，備註：</label>
                            <input type="text" name="MainCareGiver_Nurse_Domestichelper_Remark" class="Input_M bind_data" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="head A" rowspan="2">呼吸治療</th>
                <th class="head C">呼吸治療</th>
                <th class="head">醫療輔助器</th>
                <td colspan="2" class="A" data-assessment="A_RbnIsMedicalDevices"></td>
                <td colspan="2" class="C" data-assessment="C_RbnIsMedicalDevices"></td>
            </tr>
            <tr class="A">
                <th class="head">氧氣治療</th>
                <td colspan="2" data-assessment="RbnOxygen"></td>
            </tr>
            <tr class="A">
                <th class="head" rowspan="6">飲食狀況</th>
                <th class="head">進食方式</th>
                <td colspan="2" class="A" data-assessment="RbnEatingPatterns"></td>
            </tr>
            <tr class="A">
                <th class="head">飲食種類</th>

                <td colspan="2" data-assessment="RbnDietType"></td>
            </tr>
            @*<tr class="A">
                    <th class="head">飲食種類</th>
                    <td colspan="2" data-assessment="eat"></td>
                </tr>*@
            <tr class="A">
                <th class="head" rowspan="4">腹部評估</th>
                <th class="head">觸診</th>
                <td data-assessment="RbnPalpation"></td>
            </tr>
            <tr class="A">
                <th class="head">腸蠕動</th>
                <td data-assessment="TxtPeristalsis"></td>
            </tr>
            <tr class="A">
                <th class="head">腸音</th>
                <td data-assessment="RbnBowelSounds"></td>
            </tr>
            <tr class="A">
                <th class="head">Decompression</th>
                <td data-assessment="RbnDecompression"></td>
            </tr>
            <tr class="C">
                <th colspan="2" class="head">腸胃系統</th>
                <td colspan="2" data-assessment="RbnStomach"></td>
            </tr>
            <tr class="A">
                <th class="head" rowspan="4">排泄狀況</th>
                <th class="head" rowspan="3">排尿狀況</th>
                <th class="head">排尿狀況</th>
                <td data-assessment="RbnUrination"></td>
            </tr>
            <tr class="A">
                <th class="head">排尿方式</th>
                <td data-assessment="RbnVoidingPattern"></td>
            </tr>
            <tr class="A">
                <th class="head">尿液性狀</th>
                <td data-assessment="TxtUrineCharactersAmount"></td>
            </tr>
            <tr class="A">
                <th class="head">排便狀況</th>
                <td colspan="2" data-assessment="RbnDefecation"></td>
            </tr>
            <tr class="C">
                <th colspan="2" class="head">泌尿系統</th>
                <td colspan="2" data-assessment="RbnUrinarySys"></td>
            </tr>
            <tr>
                <th class="head A" rowspan="10">特殊註記</th>
                <th class="head C" rowspan="11">特殊註記</th>
                <th class="head" rowspan="4">過敏史</th>
                <th class="head">藥物過敏</th>
                <td data-assessment="allergy_list"></td>
            </tr>
            <tr>
                <th class="head">食物過敏</th>
                <td class="A" data-assessment="A_param_allergy_food_other"></td>
                <td class="C" data-assessment="C_param_allergy_food_other"></td>
            </tr>
            <tr>
                <th class="head">其他過敏</th>
                <td class="A" data-assessment="A_param_allergy_other_other"></td>
                <td class="C" data-assessment="C_param_allergy_other_other"></td>
            </tr>
            <tr>
                <th class="head">輸血過敏</th>
                <td class="A" data-assessment="A_transfusion_blood_dtl_txt"></td>
                <td class="C" data-assessment="C_transfusion_blood_dtl_txt"></td>
            </tr>
            <tr class="C">
                <th class="head">Condition</th>
                <td colspan="2" data-assessment="Condition"></td>
            </tr>
            <tr>
                <th class="head">高危跌倒註記</th>
                <td colspan="2" class="A" data-assessment="A_FallAssess"></td>
                <td colspan="2" class="C" data-assessment="C_FallAssess"></td>
            </tr>
            <tr>
                <th class="head">壓傷</th>
                <td colspan="2" data-assessment="PressureScore"></td>
            </tr>
            <tr>
                <th class="head">營養</th>
                <td colspan="2" class="A" data-assessment="A_NutritionalAssessment"></td>
                <td colspan="2" class="C" data-assessment="C_NutritionalAssessment"></td>
            </tr>
            <tr>
                <th class="head">約束</th>
                <td colspan="2" data-assessment="BindAssessment"></td>
            </tr>
            <tr>
                <th class="head">出院準備</th>
                <td colspan="2" data-assessment="Dischareged"></td>
            </tr>
            <tr>
                <th colspan="1" class="head">手術</th>
                <td colspan="2">
                    <textarea id="Surgery_area" maxlength="300" name="Surgery" class="bind_data" rows="3" style="width:70%"></textarea>
                    <font color="red"><label id="Surgery_message"></label></font>
                </td>
            </tr>
            <tr>
                <th class="head" rowspan="3" style="width:15%;">復健</th>
                <th class="head" style="width:15%;">物理</th>
                <td style="width:15%;">
                    <label><input type="radio" name="Rehabilitation_Physical" value="無" class="bind_data" onclick="SwitchSubProject(this);" />無</label>
                    <label><input type="radio" name="Rehabilitation_Physical" data-code="Y" value="有" onclick="SwitchSubProject(this);" />有</label>
                </td>
                <td style="width:55%;">
                    <div class="Rehabilitation_Physical Y" style="display:none;">
                        <div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Physical_Sunday" data-code="Rehabilitation_Physical_Sunday_Sunday" value="星期日" onclick="SwitchSubProject(this);" class="bind_data" />星期日</label>
                                <span class="Rehabilitation_Physical_Sunday_Sunday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Physical_Sunday_Sunday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Physical_Sunday" data-code="Rehabilitation_Physical_Sunday_Monday" value="星期一" onclick="SwitchSubProject(this);" />星期一</label>
                                <span class="Rehabilitation_Physical_Sunday_Monday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Physical_Sunday_Monday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Physical_Sunday" data-code="Rehabilitation_Physical_Sunday_Tuesday" value="星期二" onclick="SwitchSubProject(this);" />星期二</label>
                                <span class="Rehabilitation_Physical_Sunday_Tuesday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Physical_Sunday_Tuesday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Physical_Sunday" data-code="Rehabilitation_Physical_Sunday_Wednesday" value="星期三" onclick="SwitchSubProject(this);" />星期三</label>
                                <span class="Rehabilitation_Physical_Sunday_Wednesday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Physical_Sunday_Wednesday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Physical_Sunday" data-code="Rehabilitation_Physical_Sunday_Thursday" value="星期四" onclick="SwitchSubProject(this);" />星期四</label>
                                <span class="Rehabilitation_Physical_Sunday_Thursday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Physical_Sunday_Thursday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Physical_Sunday" data-code="Rehabilitation_Physical_Sunday_Friday" value="星期五" onclick="SwitchSubProject(this);" />星期五</label>
                                <span class="Rehabilitation_Physical_Sunday_Friday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Physical_Sunday_Friday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Physical_Sunday" data-code="Rehabilitation_Physical_Sunday_Saturday" value="星期六" onclick="SwitchSubProject(this);" />星期六</label>
                                <span class="Rehabilitation_Physical_Sunday_Saturday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Physical_Sunday_Saturday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="head">職能</th>
                <td>
                    <label><input type="radio" name="Rehabilitation_Job" value="無" class="bind_data" onclick="SwitchSubProject(this);" />無</label>
                    <label><input type="radio" name="Rehabilitation_Job" data-code="Y" value="有" onclick="SwitchSubProject(this);" />有</label>
                </td>
                <td>
                    <div class="Rehabilitation_Job Y" style="display:none;">
                        <div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Job_Sunday" data-code="Rehabilitation_Job_Sunday_Sunday" value="星期日" onclick="SwitchSubProject(this);" class="bind_data" />星期日</label>
                                <span class="Rehabilitation_Job_Sunday_Sunday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Job_Sunday_Sunday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Job_Sunday" data-code="Rehabilitation_Job_Sunday_Monday" value="星期一" onclick="SwitchSubProject(this);" />星期一</label>
                                <span class="Rehabilitation_Job_Sunday_Monday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Job_Sunday_Monday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Job_Sunday" data-code="Rehabilitation_Job_Sunday_Tuesday" value="星期二" onclick="SwitchSubProject(this);" />星期二</label>
                                <span class="Rehabilitation_Job_Sunday_Tuesday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Job_Sunday_Tuesday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Job_Sunday" data-code="Rehabilitation_Job_Sunday_Wednesday" value="星期三" onclick="SwitchSubProject(this);" />星期三</label>
                                <span class="Rehabilitation_Job_Sunday_Wednesday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Job_Sunday_Wednesday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Job_Sunday" data-code="Rehabilitation_Job_Sunday_Thursday" value="星期四" onclick="SwitchSubProject(this);" />星期四</label>
                                <span class="Rehabilitation_Job_Sunday_Thursday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Job_Sunday_Thursday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Job_Sunday" data-code="Rehabilitation_Job_Sunday_Friday" value="星期五" onclick="SwitchSubProject(this);" />星期五</label>
                                <span class="Rehabilitation_Job_Sunday_Friday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Job_Sunday_Friday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Job_Sunday" data-code="Rehabilitation_Job_Sunday_Saturday" value="星期六" onclick="SwitchSubProject(this);" />星期六</label>
                                <span class="Rehabilitation_Job_Sunday_Saturday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Job_Sunday_Saturday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="head">語言</th>
                <td>
                    <label><input type="radio" name="Rehabilitation_Language" value="無" class="bind_data" onclick="SwitchSubProject(this);" />無</label>
                    <label><input type="radio" name="Rehabilitation_Language" data-code="Y" value="有" onclick="SwitchSubProject(this);" />有</label>
                </td>
                <td>
                    <div class="Rehabilitation_Language Y" style="display:none;">
                        <div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Language_Sunday" data-code="Rehabilitation_Language_Sunday_Sunday" value="星期日" onclick="SwitchSubProject(this);" class="bind_data" />星期日</label>
                                <span class="Rehabilitation_Language_Sunday_Sunday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Language_Sunday_Sunday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Language_Sunday" data-code="Rehabilitation_Language_Sunday_Monday" value="星期一" onclick="SwitchSubProject(this);" />星期一</label>
                                <span class="Rehabilitation_Language_Sunday_Monday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Language_Sunday_Monday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Language_Sunday" data-code="Rehabilitation_Language_Sunday_Tuesday" value="星期二" onclick="SwitchSubProject(this);" />星期二</label>
                                <span class="Rehabilitation_Language_Sunday_Tuesday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Language_Sunday_Tuesday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Language_Sunday" data-code="Rehabilitation_Language_Sunday_Wednesday" value="星期三" onclick="SwitchSubProject(this);" />星期三</label>
                                <span class="Rehabilitation_Language_Sunday_Wednesday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Language_Sunday_Wednesday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Language_Sunday" data-code="Rehabilitation_Language_Sunday_Thursday" value="星期四" onclick="SwitchSubProject(this);" />星期四</label>
                                <span class="Rehabilitation_Language_Sunday_Thursday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Language_Sunday_Thursday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Language_Sunday" data-code="Rehabilitation_Language_Sunday_Friday" value="星期五" onclick="SwitchSubProject(this);" />星期五</label>
                                <span class="Rehabilitation_Language_Sunday_Friday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Language_Sunday_Friday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                            <div>
                                <label><input type="checkbox" name="Rehabilitation_Language_Sunday" data-code="Rehabilitation_Language_Sunday_Saturday" value="星期六" onclick="SwitchSubProject(this);" />星期六</label>
                                <span class="Rehabilitation_Language_Sunday_Saturday" style="display:none;">
                                    <label>，時間：</label><input type="text" name="Rehabilitation_Language_Sunday_Saturday_Time" class="Input_M bind_data" />
                                </span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="head" rowspan="2">醫囑</th>
                <th class="head">文字型醫令</th>
                <td colspan="2">
                    <input type="button" value="查詢" onclick="SelectTextAdvice();" />
                </td>
            </tr>
            <tr>
                <th class="head">藥囑</th>
                <td colspan="2">
                    <input type="button" value="查詢" onclick="SelectMedicineAdvice();" />
                </td>
            </tr>
            <tr>
                <th colspan="4" class="TitleVision">背景資料 (Background)</th>
            </tr>
            <tr>
                <th colspan="2" class="head" style="width:30%;">過去病史</th>
                <td colspan="2" class="A" data-assessment="A_param_im_history_item_other" style="width:70%;"></td>
                <td colspan="2" class="C" data-assessment="C_param_im_history_item_other" style="width:70%;"></td>
            </tr>
            <tr>
                <th rowspan="2" class="head">住院經驗</th>
                <th class="head">住院原因</th>
                <td colspan="2" class="A" data-assessment="A_param_ipd_past_reason" style="width:70%;"></td>
                <td colspan="2" class="C" data-assessment="C_param_ipd_past_reason" style="width:70%;"></td>
            </tr>
            <tr>
                <th class="head">住院地點</th>
                <td colspan="2" class="A" data-assessment="A_param_ipd_past_location" style="width:70%;"></td>
                <td colspan="2" class="C" data-assessment="C_param_ipd_past_location" style="width:70%;"></td>
            </tr>
            <tr>
                <th rowspan="2" class="head">手術經驗</th>
                <th class="head">手術原因</th>
                <td colspan="2" class="A" data-assessment="A_param_ipd_surgery_reason" style="width:70%;"></td>
                <td colspan="2" class="C" data-assessment="C_param_ipd_surgery_reason" style="width:70%;"></td>
            </tr>
            <tr>
                <th class="head">手術地點</th>
                <td colspan="2" class="A" data-assessment="A_param_ipd_surgery_location" style="width:70%;"></td>
                <td colspan="2" class="C" data-assessment="C_param_ipd_surgery_location" style="width:70%;"></td>
            </tr>
            <tr>
                <th colspan="4" class="TitleVision">症狀/評估/問題 (Assessment)</th>
            </tr>
            <tr>
                <th class="head" rowspan="21" style="width:15%;">生理監測</th>
                <th class="head" rowspan="10" style="width:15%;">
                    <span style="cursor:pointer;color:blue;text-decoration:underline;" onclick="window.open('../VitalSign/Tpr_Index?feeno=@(feeno)', 'top_dialog', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=1024,height=768');">生命徵象</span>

                </th>
                <td style="width:15%;"><label>體溫</label></td>
                <td data-assessment="bt" style="width:55%;"></td>
            </tr>
            <tr>
                <td><label>脈搏</label></td>
                <td data-assessment="mp"></td>
            </tr>
            <tr>
                <td><label>呼吸</label></td>
                <td data-assessment="bf"></td>
            </tr>
            <tr>
                <td><label>SpO2</label></td>
                <td data-assessment="sp"></td>
            </tr>
            <tr>
                <td><label>血壓</label></td>
                <td data-assessment="bp"></td>
            </tr>
            <tr>
                <td><label>體重</label></td>
                <td data-assessment="bw"></td>
            </tr>
            <tr>
                <td><label>圍長</label></td>
                <td data-assessment="Girth"></td>
            </tr>
            <tr>
                <td><label>CVP Level</label></td>
                <td data-assessment="CVP"></td>
            </tr>
            <tr>
                <td><label>I.C.P</label></td>
                <td data-assessment="ICP"></td>
            </tr>
            <tr>
                <td><label>其他</label></td>
                <td>
                    <input type="text" name="VitalSing_Other" class="Input_M bind_data" />
                </td>
            </tr>
            <tr>
                <th class="head" rowspan="3">意識評估</th>
                <td><label>GCS</label></td>
                <td data-assessment="EVM"></td>
            </tr>
            <tr>
                <td><label>瞳孔大小及反射</label></td>
                <td data-assessment="Pupils"></td>
            </tr>
            <tr>
                <td><label>肌肉力量</label></td>
                <td data-assessment="MusclePower"></td>
            </tr>
            <tr>
                <th class="head" rowspan="2">
                    <span style="cursor:pointer;color:blue;text-decoration:underline;" onclick="Show_HisView('Index');">攝入/輸出</span>
                </th>
                <td><label>總量</label></td>
                <td data-assessment="IO"></td>
            </tr>
            <tr>
                <td><label>前一日總量</label></td>
                <td data-assessment="IO_beforeday"></td>
            </tr>
            <tr>
                <th class="head" rowspan="3">呼吸評估</th>
                <th class="head">呼吸音</th>
                <td colspan="2" class="A" data-assessment="A_RbnBrthSnds"></td>
                <td colspan="2" class="C" data-assessment="C_RbnBrthSnds"></td>
            </tr>
            <tr>
                <th class="head">痰液</th>
                <td colspan="2" class="A" data-assessment="A_RbnSputum"></td>
                <td colspan="2" class="C" data-assessment="C_RbnSputum"></td>
            </tr>
            <tr>
                <th class="head">呼吸型態</th>
                <td colspan="2" class="A" data-assessment="A_RbnBreathing"></td>
                <td colspan="2" class="C" data-assessment="C_RbnBreathing"></td>
            </tr>
            @*<tr>
                    <th class="head" rowspan="2">皮膚完整性</th>
                    <th class="head">
                        <span style="cursor:pointer;color:blue;text-decoration:underline;" onclick="Show_HisView('listTrauma');">一般傷口</span>
                    </th>
                    <td colspan="2" data-assessment="Wound"></td>
                </tr>
                <tr>
                    <th class="head">
                        <span style="cursor:pointer;color:blue;text-decoration:underline;" onclick="Show_HisView('listTrauma');">壓傷</span>
                    </th>
                    <td colspan="2" data-assessment="Wound_Press"></td>
                </tr>*@
            <tr>
                <th class="head">皮膚完整性</th>
                <th class="head">
                    傷口紀錄
                </th>
                <td colspan="2">
                    <input type="button" value="查詢" onclick="window.open('../HisView/listTrauma?feeno=@(feeno)', 'listTrauma', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=1024,height=768');" />
                </td>
            </tr>
            <tr>
                <th class="head" colspan="2">
                    <span style="cursor:pointer;color:blue;text-decoration:underline;" onclick="Show_HisView('listPain');">疼痛評估</span>
                </th>
                <td colspan="2" data-assessment="PainRecord"></td>
            </tr>
            <tr>
                <th class="head" colspan="2">管路</th>
                <td colspan="2">
                    <input type="button" value="管路管理" onclick="window.open('../HisView/Tube?feeno=@(feeno)', 'Tube', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=1024,height=768');" />
                    <input type="button" value="管路評估" onclick="window.open('../HisView/Assessment_List?feeno=@(feeno)', 'Assessment', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=1024,height=768');" />
                </td>
            </tr>
            <tr>
                <th class="head" colspan="2">
                    <span style="cursor:pointer;color:blue;text-decoration:underline;" onclick="Show_HisView('BSugarInsulinList');">血糖值</span>
                </th>
                <td colspan="2" data-assessment="BloodSugar"></td>
            </tr>
            <tr>
                <th class="head" colspan="2">給藥紀錄</th>
                <td colspan="2">
                    <input type="button" value="查詢" onclick="window.open('../HisView/Med_QueryExecLogByUD?TypeFlag=All&feeno=@(feeno)', 'Med_QueryExecLog', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=1024,height=768');" />
                </td>
            </tr>
            <tr>
                <th class="head" colspan="2">靜脈輸液狀況</th>
                <th class="head">點滴輸液</th>
                <td data-assessment="Drip"></td>
            </tr>
            <tr>
                <th class="head" colspan="2">護理計畫</th>
                <td colspan="2" data-assessment="CarePlan"></td>
            </tr>
            <tr>
                <th class="head" colspan="2">護理指導</th>
                <td colspan="2" data-assessment="Education"></td>
            </tr>
            <tr>
                <th class="head" rowspan="2">檢驗檢查報告</th>
                <th class="head">檢驗</th>
                <td colspan="2"><input type="button" value="查詢" onclick="pup_window('LabButton', '600', '400');" /></td>
            </tr>
            <tr>
                <th class="head">檢查</th>
                <td colspan="2"><input type="button" value="查詢" onclick="pup_window('ExamButton', '600', '400');" /></td>
            </tr>
            <tr>
                <th class="head" colspan="2">會診/照會結果</th>
                <td>
                    <label data-assessment="Consultation"></label>
                </td>
                <td>
                    <textarea id="Consultation_area" rows="3" style="width:70%" maxlength="300" name="RbnConsultation" class="Input_M bind_data"></textarea>
                    <font color="red"><label id="Consultation_message"></label></font>
                </td>
            </tr>
            <tr>
                <th colspan="4" class="TitleVision">建議 (Recommendation)</th>
            </tr>
            <tr>
                <th class="head" rowspan="4" style="width:15%;">預計執行治療</th>
                <th class="head" style="width:15%;">預計執行檢查</th>
                <td colspan="2" style="width:70%;">
                    @foreach (var item in ExpectedItemList.FindAll(x => x.ItemType == "exam"))
                    {
                        <div style="border-bottom:1px solid black; padding-bottom:5px;">
                            @Html.Raw("<div>" + Convert.ToDateTime(item.UseDate).ToString("yyyy/MM/dd HH:mm")
                            + " 檢查名稱：" + item.ItemName
                            + " 預計檢查日期：" + Convert.ToDateTime(item.ComplyDate).ToString("yyyy/MM/dd HH:mm") + "</div>")
                            <div>
                                檢查前準備：
                                <label><input type="radio" name="ExpectedItem_Exam_Ready_@(item.PkNo)" value="無" onclick="SwitchSubProject(this);" />無</label>
                                <label><input type="radio" name="ExpectedItem_Exam_Ready_@(item.PkNo)" value="完成" class="bind_data" onclick="SwitchSubProject(this);" />完成</label>
                                <label><input type="radio" name="ExpectedItem_Exam_Ready_@(item.PkNo)" data-code="N" value="未完成" onclick="SwitchSubProject(this);" />未完成</label>
                                <span class="ExpectedItem_Exam_Ready_@(item.PkNo) N" style="display:none;">
                                    <label>，備註：</label>
                                    <input type="text" class="Input_M bind_data" name="ExpectedItem_Exam_Ready_@(item.PkNo)_Remark" />
                                </span>
                            </div>
                            <div>
                                是否已填同意書：
                                <label><input type="radio" name="ExpectedItem_Exam_Consent_@(item.PkNo)" value="無" onclick="SwitchSubProject(this);" />無</label>
                                <label><input type="radio" name="ExpectedItem_Exam_Consent_@(item.PkNo)" value="已填" class="bind_data" onclick="SwitchSubProject(this);" />已填</label>
                                <label><input type="radio" name="ExpectedItem_Exam_Consent_@(item.PkNo)" data-code="N" value="未填" onclick="SwitchSubProject(this);" />未填</label>
                                <span class="ExpectedItem_Exam_Consent_@(item.PkNo) N" style="display:none;">
                                    <label>，備註：</label>
                                    <input type="text" class="Input_M bind_data" name="ExpectedItem_Exam_Consent_@(item.PkNo)_Remark" />
                                </span>
                            </div>
                        </div>
                    }
                </td>
            </tr>
            <tr>
                <th class="head">預計執行檢驗</th>
                <td colspan="2">
                    @foreach (var item in ExpectedItemList_lab)
                    {
                        <div style="border-bottom:1px solid black; padding-bottom:5px;" title="檢驗單號：@(item.LabNo), 項目：@(item.ItemName)">
                            @Html.Raw("<div>" + Convert.ToDateTime(item.UseDate).ToString("yyyy/MM/dd HH:mm")
                            + " 檢驗單號：<span style=background-color:red>" + item.LabNo + "</span>"
                            + " 預計檢驗日期：" + Convert.ToDateTime(item.ComplyDate).ToString("yyyy/MM/dd HH:mm") + "</div>")
                            <div>
                                檢查前準備：
                                <label><input type="radio" name="ExpectedItem_Lab_Ready_@(item.LabNo)" value="無" onclick="SwitchSubProject(this);" />無</label>
                                <label><input type="radio" name="ExpectedItem_Lab_Ready_@(item.LabNo)" value="完成" class="bind_data" onclick="SwitchSubProject(this);" />完成</label>
                                <label><input type="radio" name="ExpectedI3tem_Lab_Ready_@(item.LabNo)" data-code="N" value="未完成" onclick="SwitchSubProject(this);" />未完成</label>
                                <span class="ExpectedItem_Lab_Ready_@(item.LabNo) N" style="display:none;">
                                    <label>，備註：</label>
                                    <input type="text" class="Input_M bind_data" name="ExpectedItem_Lab_Ready_@(item.LabNo)_Remark" />
                                </span>
                            </div>
                            <div>
                                是否已填同意書：
                                <label><input type="radio" name="ExpectedItem_Lab_Consent_@(item.LabNo)" value="無" onclick="SwitchSubProject(this);" />無</label>
                                <label><input type="radio" name="ExpectedItem_Lab_Consent_@(item.LabNo)" value="已填" class="bind_data" onclick="SwitchSubProject(this);" />已填</label>
                                <label><input type="radio" name="ExpectedItem_Lab_Consent_@(item.LabNo)" data-code="N" value="未填" onclick="SwitchSubProject(this);" />未填</label>
                                <span class="ExpectedItem_Lab_Consent_@(item.LabNo) N" style="display:none;">
                                    <label>，備註：</label>
                                    <input type="text" class="Input_M bind_data" name="ExpectedItem_Lab_Consent_@(item.LabNo)_Remark" />
                                </span>
                            </div>
                        </div>
                    }
                </td>
            </tr>
            <tr>
                <th class="head">預計執行手術</th>
                <td colspan="2">
                    @foreach (var item in ExpectedItemList.FindAll(x => x.ItemType == "op"))
                    {
                        <div style="border-bottom:1px solid black; padding-bottom:5px;">
                            @Html.Raw("<div>"
                            + " 預計執行日期：" + Convert.ToDateTime(item.ComplyDate).ToString("yyyy/MM/dd HH:mm")
                            + " 檢查名稱：" + item.ItemName + "</div>")
                            <div>
                                術前準備：
                                <label><input type="radio" name="ExpectedItem_Op_Ready_@(item.PkNo)" value="無" onclick="SwitchSubProject(this);" />無</label>
                                <label><input type="radio" name="ExpectedItem_Op_Ready_@(item.PkNo)" value="完成" class="bind_data" onclick="SwitchSubProject(this);" />完成</label>
                                <label><input type="radio" name="ExpectedItem_Op_Ready_@(item.PkNo)" data-code="N" value="未完成" onclick="SwitchSubProject(this);" />未完成</label>
                                <span class="ExpectedItem_Op_Ready_@(item.PkNo) N" style="display:none;">
                                    <label>，備註：</label>
                                    <input type="text" class="Input_M bind_data" name="ExpectedItem_Op_Ready_@(item.PkNo)_Remark" />
                                </span>
                            </div>
                            <div>
                                是否已填同意書：
                                <label><input type="radio" name="ExpectedItem_Op_Consent_@(item.PkNo)" value="無" onclick="SwitchSubProject(this);" />無</label>
                                <label><input type="radio" name="ExpectedItem_Op_Consent_@(item.PkNo)" value="已填" class="bind_data" onclick="SwitchSubProject(this);" />已填</label>
                                <label><input type="radio" name="ExpectedItem_Op_Consent_@(item.PkNo)" data-code="N" value="未填" onclick="SwitchSubProject(this);" />未填</label>
                                <span class="ExpectedItem_Op_Consent_@(item.PkNo) N" style="display:none;">
                                    <label>，備註：</label>
                                    <input type="text" class="Input_M bind_data" name="ExpectedItem_Op_Consent_@(item.PkNo)_Remark" />
                                </span>
                            </div>
                        </div>
                    }
                </td>
            </tr>
            <tr>
                <th class="head">輸血</th>
                <td colspan="2">
                    @foreach (var item in BloodInfoList)
                    {
                        <div style="border-bottom:1px solid black; padding-bottom:5px;">
                            @Html.Raw("血品名稱：" + item["Blood_Name"] + "<br/>")
                            @Html.Raw("備血時間：" + Convert.ToDateTime(item["Prepare_Date"]).ToString("yyyy/MM/dd HH:mm") + "<br/>")
                            @Html.Raw("備血原因：" + item["Reason"] + "<br/>")
                            <div>
                                同意書：
                                <label><input type="radio" name="BloodInfoList_Consent_@(item["Blood_NO"])" value="已填" class="bind_data" onclick="SwitchSubProject(this);" />已填</label>
                                <label><input type="radio" name="BloodInfoList_Consent_@(item["Blood_NO"])" data-code="N" value="未填" onclick="SwitchSubProject(this);" />未填</label>
                                <span class="BloodInfoList_Consent_@(item["Blood_NO"]) N" style="display:none;">
                                    <label>，備註：</label>
                                    <input type="text" class="Input_M bind_data" name="BloodInfoList_Consent_@(item["Blood_NO"])_Remark" />
                                </span>
                            </div>
                            <div>
                                狀態：
                                <label><input type="checkbox" name="BloodInfoList_Status_@(item["Blood_NO"])" value="已開立一備血單" class="bind_data" />已開立一備血單</label>
                                <label><input type="checkbox" name="BloodInfoList_Status_@(item["Blood_NO"])" value="已採血" />已採血</label>
                                <label><input type="checkbox" name="BloodInfoList_Status_@(item["Blood_NO"])" value="血袋已簽收" />血袋已簽收</label>
                                <label><input type="checkbox" name="BloodInfoList_Status_@(item["Blood_NO"])" data-code="BloodInfoList_Status_StartBloodTransfusion_@(item["Blood_NO"])" onclick="SwitchSubProject(this);" value="輸血中" />輸血中</label>
                                <span class="BloodInfoList_Status_StartBloodTransfusion_@(item["Blood_NO"])" style="display:none;">
                                    <input type="text" name="BloodInfoList_Status_StartBloodTransfusion_@(item["Blood_NO"])_Amount" style="width:50px;" class="bind_data" />U
                                </span>
                                <label><input type="checkbox" name="BloodInfoList_Status_@(item["Blood_NO"])" data-code="BloodInfoList_Status_EndBloodTransfusion_@(item["Blood_NO"])" onclick="SwitchSubProject(this);" value="已輸血完畢" />已輸血完畢</label>
                                <span class="BloodInfoList_Status_EndBloodTransfusion_@(item["Blood_NO"])" style="display:none;">
                                    <input type="text" name="BloodInfoList_Status_EndBloodTransfusion_@(item["Blood_NO"])_Amount" style="width:50px;" class="bind_data" />U
                                </span>
                            </div>
                            <div>
                                備註：
                                <input type="text" name="BloodInfoList_Remark_@(item["Blood_NO"])" class="bind_data" style="width:80%;" />
                            </div>
                        </div>
                    }
                </td>
            </tr>
            <tr>
                <th colspan="4" class="TitleVision">交班完成確認</th>
            </tr>
            <tr>
                <th class="head" colspan="2">接班者</th>
                <td colspan="2">
                    <label>員工編號：</label>
                    <input type="text" id="txt_Tansf_EmpNo" style="width:160px" value="" onkeypress="if (event.keyCode == 13) { getEmployeeName(); }" onblur="getEmployeeName();" />
                    <label>姓名：</label>
                    <label id="lab_Tansf_EmpName"></label>
                </td>
            </tr>
        </table>
        <table style="width:100%;">
            <tr>
                <td style="text-align:center;">
                    <input type="button" value="完成交班" onclick="GoPage();" />
                </td>
            </tr>
        </table>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        Change_template('@Assessment');
        LoadPtShit();
        LoadAssessment();
    });
    function setGridColor() {
        $table = $('#Content').find('tr:visible');
        $table.filter(":even").css('background', '#ABC8E2');
        $table.filter(":odd").css('background', '#E1E6FA');
    }

    function SetDatePicker($DateObj) {
        $DateObj.prop('readonly', true).css({ 'width': '80px', 'font-size': '12px' });
        $DateObj.datepicker({
            beforeShowDay: function (date) {
                switch (date.getDay()) {
                    case 6:
                        return [true, 'satday'];
                        break;
                    case 0:
                        return [true, 'sunday'];
                        break;
                    default:
                        return [true, ''];
                        break;
                }
            },
            inline: true,
            showAnim: "slideDown",
            controlType: myControl
        });
        var item = $('<input>').attr({
            type: 'button',
            value: '清空'
        }).click(function () { DateObj.val(''); });
        $DateObj.after(item);
    }

    function LoadPtShit(CallBack) {
        $.ajax({
            type: 'POST',
            url: '@Url.Content(RootDocument + "/ShiftManage/SelcetPtShit")',
            data: { 'feeno': '@(feeno)' },
            async: false,
            success: function (data) {
                if (data != '') {
                    var JsonList = JSON.parse(data);
                    if (JsonList.length > 0) {
                        BindData('Content', JsonList);
                    }
                }
            },
            complete: function () {
                if (!!CallBack)
                    CallBack();
            }
        });
    }

    //綁定資料
    function BindData(ContainerID, DataList) {
        var Con = $('#' + ContainerID);
        $.each(DataList, function (i, data) {
            Input = Con.find('[name=' + data["Name"] + ']');
            switch (Input.prop("tagName")) {
                case 'INPUT':
                    switch (Input.attr("type").toUpperCase()) {
                        case 'TEXT':
                            Input.val(data["Value"]);
                            break;
                        case 'RADIO':
                            Input.filter("[value='" + data["Value"] + "']").prop('checked', true).trigger('onclick');
                            break;
                        case 'CHECKBOX':
                            $.each(data["Value"].split(","), function (i, item) {
                                Input.filter("[value='" + item + "']").prop('checked', true).trigger('onclick');
                            });
                    }
                    break;
                case 'SELECT':
                    Input.val(data["Value"]);
                    break;
                case 'TEXTAREA':
                    Input.val(data["Value"]);
                    break;
            }
        });
    }

    function LoadAssessment(CallBack) {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/ShiftManage/SelectDt")',
            data: { 'feeno': '@(feeno)', 'age': '@(pi.Age)', 'Blood_Type': '@(pi.Blood_Type)', 'Consultation': '@(pi.Consultation)', 'shiftcate': '@(shiftcate)' },
            async: false,
            success: function (data) {
                if (data != '') {
                    var JsonList = JSON.parse(data);
                    $.each($('#Content').find('[data-assessment]'), function (i, item) {
                        code = $(item).attr('data-assessment');
                        switch (code) {
                            case "A_RbnIsMedicalDevices": //醫療輔助器
                            case "RbnOxygen": //氧氣治療
                            case "RbnEatingPatterns": //進食方式
                            case "RbnDietType": //飲食種類
                            case "RbnPalpation": //觸診
                            case "TxtPeristalsis": //腸蠕動
                            case "RbnBowelSounds": //腸音
                            case "RbnDecompression": //Decompression
                            case "RbnUrination": //排尿狀況
                            case "RbnVoidingPattern": //排尿方式
                            case "TxtUrineCharactersAmount": //尿液性狀
                            case "RbnDefecation": //排便狀況
                            case "A_RbnBrthSnds": //呼吸音
                            case "A_RbnBreathing": //呼吸型態
                            case "A_RbnSputum": //痰液
                                if (!!JsonList[code]) {
                                    $(item).html($(item).html() + JsonList[code]);
                                } else {
                                    $(item).html($(item).html() + '<font >未填</font>');
                                }
                                break;

                            default:
                                if (!!JsonList[code]) {
                                    $(item).html($(item).html() + JsonList[code]);
                                } else {
                                    $(item).html($(item).html() + '無');
                                }
                        }
                    });
                    if (!!JsonList.AlertStr) {
                        alert(JsonList.AlertStr + "資料異常");
                    }
                }
            },
            complete: function () {
                if (!!CallBack)
                    CallBack();
            }
        });
    }


    function SwitchSubProject(obj) {
        switch ($(obj).attr('type')) {
            case 'radio':
                var obj_ = $('#Content').find('.' + $(obj).attr('name'));
                SwitchSubProject_Hide(obj_);
                if ($(obj).prop('checked') && !!$(obj).attr('data-code'))
                    SwitchSubProject_Show(obj_.filter('.' + $(obj).attr('data-code')));
                break;
            case 'checkbox':
                var obj_ = $('#Content').find('.' + $(obj).attr('data-code'));
                if ($(obj).prop('checked'))
                    SwitchSubProject_Show(obj_);
                else
                    SwitchSubProject_Hide(obj_);
                break;
        }
    }

    function SwitchSubProject_Show(obj) {
        obj.show().find('*').prop('disabled', false);
        obj.find('input[type=text]:first');
    }

    function SwitchSubProject_Hide(obj) {
        obj.hide().find('input[type=text]').val('').prop('disabled', true);
        obj.find('select').prop('selectedIndex', 0).prop('disabled', true);
        obj.find('input[type=radio], input[type=checkbox]').prop('checked', false).prop('disabled', true).filter('[onclick]').trigger('onclick');
    }

     function SelectTextAdvice() { //文字型醫令查詢
        loop_windows("open_cover");
        $('#DoctorAdcive').empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/MedicalAdvice/Sign_View")',
            data: { 'feeno': '@(feeno)' },
            async: false,
            success: function (data) {
                $('#DoctorAdcive').html(data);
            },
            complete: function () {
                loop_windows("close_cover");
                $('#DoctorAdcive, #sys_Block').show();
                $('#DoctorAdcive').css({
                    right: ($(document).outerWidth() - $('#DoctorAdcive').outerWidth()) / 2
                });
                setGridColor();
            }
        });
    }

    function SelectMedicineAdvice() { //藥囑查詢
        loop_windows("open_cover");
        $('#DoctorAdcive').empty();
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/MedicalAdvice/Excute_View")',
            data: { 'feeno': '@(feeno)' },
            async: false,
            success: function (data) {
                $('#DoctorAdcive').html(data);
            },
            complete: function () {
                loop_windows("close_cover");
                $('#DoctorAdcive, #sys_Block').show();
                $('#DoctorAdcive').css({
                    right: ($(document).outerWidth() - $('#DoctorAdcive').outerWidth()) / 2
                });
                setGridColor();
            }
        });
    }


    //關閉搜尋GCS畫面
    function CloseDoctorAdcive() {
        $('#DoctorAdcive, #sys_Block').hide();
        $('#DoctorAdcive').empty();
    }
    function ToSave(IsCheck) {
        if (ToCheck(IsCheck)) {
            loop_windows("open_cover");
            var JsonList = [];
            var JsonObj;
            var Check = false;
            $.each($('#Content').find('.bind_data'), function (i, item) {
                switch ($(item).prop('tagName')) {
                    case 'INPUT':
                        if ($(item).attr('type') == 'text' && $.trim($(item).val()) != '') {
                            JsonObj = new Object();
                            JsonObj['Name'] = $(item).attr('name');
                            JsonObj['Value'] = $.trim($(item).val());
                            JsonList.push(JsonObj);
                        }
                        else {
                            if ($('#Content').find('input[name=' + $(item).attr('name') + ']:checked').length > 0) {
                                JsonObj = new Object();
                                JsonObj['Name'] = $(item).attr('name');
                                if ($(item).attr('type') == 'radio')
                                    JsonObj['Value'] = $('#Content').find('input[name=' + $(item).attr('name') + ']:checked').val();
                                else if ($(item).attr('type') == 'checkbox')
                                    JsonObj['Value'] = $('#Content').find('input[name=' + $(item).attr('name') + ']:checked').map(function () { return $(this).val(); }).get().join(',');
                                JsonList.push(JsonObj);
                            }
                        }
                        break;
                    case 'TEXTAREA':
                        if ($.trim($(item).val()) != '') {
                            JsonObj = new Object();
                            JsonObj['Name'] = $(item).attr('name');
                            JsonObj['Value'] = $.trim($(item).val());
                            JsonList.push(JsonObj);
                        }
                        break;
                }
            });

            $.ajax({
                type: 'POST',
                url: '@Url.Content(RootDocument + "/ShiftManage/SaveKardex")',
                data: { 'Data': JSON.stringify(JsonList) },
                async: false,
                success: function (data) {
                    loop_windows("close_cover");
                    if (data == "Y") {
                        alert('儲存成功！');
                        location.reload();
                    }
                    else
                        alert('儲存失敗！');
                    return false;
                }
            });
        } else { return false; }
    }
    function ToCheck(IsCheck) {
        var Success = true;
        var TempCheck = (IsCheck == 'true');
        if (TempCheck) {
            $.each($('#Content').find('.req_ck:visible:enabled'), function (i, item) {
                if ($('input[name=' + $(item).attr('name') + ']:checked').length == 0) {
                    alert('項目未填寫!!');
                    $(item).focus();
                    Success = false;
                    return false;
                }
            });
            if (Success) {
                $.each($('#Content').find('.req_txt:visible:enabled'), function (i, item) {
                    if ($.trim($(item).val()) == '') {
                        alert('項目未填寫!!');
                        $(item).focus();
                        Success = false;
                        return false;
                    }
                });
            }
        }
        return Success;
    }
    function pup_window(url, width, height) {
        var page ='@(Url.Content(RootDocument + "/CareRecord/"))';
        new_window.push(window.open(page + url + '?HasBtn=N', 'top_dialog', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=' + width + ',height=' + height));
    }


    function ShowConsult(obj) {
        $.ajax({
            type: 'POST',
            url: '@Url.Content(RootDocument+"/ShiftManage/GetConsult")',
            data: { 'OrderNo': $(obj).attr('data-orderno') },
            async: false,
            success: function (data) {
                var newwindow = window.open('', '', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=600,height=400');
                var t = newwindow.document.createElement('textarea');
                $(t).css({ 'width': '100%', 'height': '100%' }).html(data);
                $(newwindow.document.body).append(t);
            }
        });
    }

    function Change_template(page) {
        if (page == "C")
        {
            $(".A").hide();
            $(".C").show();
        }
        else {
            $(".C").hide();
            $(".A").show();
        }
        setGridColor();
    }

    function Show_HisView(fName) {
        $.ajax({
            type: 'POST',
            url: '@Url.Content("~/ShiftManage/GetHisVIewUrl")',
            data: { "Url": window.location.href, "fName": fName },
            async: false,
            success: function (data) {
                window.open(data);
            }
        });
    }
</script>
