@using NIS.Data;
@{
    List<SignOrder> Dt = (List<SignOrder>)ViewData["OrderList"];
}
<style type="text/css">
    .mname {
        color: blue;
        font-weight: bold;
    }

    .sname {
        color: #600c0c;
        font-style: italic;
    }

    .oname {
        font-size: 12px;
        color: #FF0000;
        font-style: normal;
    }

    #DoctorAdcive_Dt td {
        text-align: center;
    }
</style>

<div style="padding:5px;text-align:center;">
    <input type="button" class="btn-sm" value="取消" onclick="CloseDoctorAdcive();" />
</div>
<div class="dataArea" id="DoctorAdcive_Dt">
    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;text-align:center;">
        <thead>
            <tr>
                <th>囑型</th>
                <th>開始日期<br />結束日期</th>
                <th style="width:40%;">藥品</th>
                <th>劑量<br />單位</th>
                <th>途徑</th>
                <th>頻率</th>
                <th>簽收<br />護理師/時間 </th>
            </tr>
        </thead>
        <tbody>
            @if (Dt != null && Dt.Count > 0)
            {
                foreach (SignOrder item in Dt)
                {
                    if ((item.order_type == "R" || item.order_type == "S") && item.DC_FLAG == "N")
                    {
                    string[] med_desc = item.order_content.ToString().Split('|');
            <tr>
                <td>
                    @if (item.order_type.Equals("R"))
                    {
                        <label>長期</label>
                    }
                    else if (item.order_type.Equals("S"))
                    {
                        <label>臨時</label>
                    }
                </td>
                <td>
                    @if (item.start_date != DateTime.MinValue)
                    {
                        <label>@(item.start_date.ToString("yyyy/MM/dd HH:mm:ss"))</label>
                    }
                    <hr />
                    @if (item.end_date != DateTime.MaxValue)
                    {
                        <label>@(item.end_date.ToString("yyyy/MM/dd HH:mm:ss"))</label>
                    }
                </td>
                <td style="text-align:left;">
                    <label class="mname">@(med_desc[0])</label>
                    <label class="sname">@(med_desc[1])</label><br />
                    <label class="oname">@(item.memo)</label>
                </td>
                <td>
                    <label>@(item.pre_qty) @(item.unit)</label><br />
                    @if(item.rate_l != ""){
                        <label>(@(item.rate_l) / @(item.rate_h))@(item.rate_memo)</label>
                    }
                </td>
                <td>
                    <label>@(item.path_code)</label>
                </td>
                <td>
                    <label>@(item.cir_code)</label>
                </td>
                <td>
                    <label title="@(item.sign_user)">@(item.sign_user_name)</label><hr />
                    @if (item.sign_time != DateTime.MinValue)
                    {
                    <label>@(item.sign_time.ToString("yyyy/MM/dd HH:mm:ss"))</label>
                    }
                </td>
            </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            //疼痛部位列表高度
            //$("#DoctorAdcive_Dt").outerHeight(height - 260);
        }).trigger("resize");
    });
</script>