@using NIS.Data;
@{
    List<SignOrder> Dt = (List<SignOrder>)ViewData["OrderList"];
}

<div style="padding:5px;text-align:center;">
    <input type="button" class="btn-sm" value="取消" onclick="CloseDoctorAdcive();" />
</div>
<div class="dataArea" id="DoctorAdcive_Dt">
    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
        <thead>
            <tr>
                <th>囑型</th>
                <th>開始日期<br />結束日期</th>
                <th>醫令名稱</th>
                <th>簽收<br />護理師/時間 </th>
                <th>執行<br />護理師/時間 </th>
            </tr>
        </thead>
        <tbody>
            @if (Dt != null && Dt.Count > 0)
            {
                foreach (SignOrder item in Dt)
                {
            <tr>
                <td>
                    @if (item.order_type.Equals("R"))
                    {
                        <label>長期</label>
                    }
                    else if (item.order_type.Equals("S"))
                    {
                        <label>臨時</label>
                    }
                    else if (item.order_type.Equals("D"))
                    {
                        <label>出院</label>
                    }
                </td>
                <td>
                    @if (item.start_date != DateTime.MinValue)
                    {
                        <label>@(item.start_date.ToString("yyyy/MM/dd HH:mm:ss"))</label>
                    }
                    <hr />
                    @if (item.end_date != DateTime.MaxValue)
                    {
                        <label>@(item.end_date.ToString("yyyy/MM/dd HH:mm:ss"))</label>
                    }
                </td>
                <td>
                    @Html.Raw(item.order_content.Replace("#br#", "<br />"))
                </td>
                <td>
                    <label title="@(item.sign_user)">@(item.sign_user_name)</label>
                    <hr />
                    @if (item.sign_time != DateTime.MinValue)
                    {
                    <label>@(item.sign_time.ToString("yyyy/MM/dd HH:mm:ss"))</label>
                    }
                </td>
                <td>
                    <label>@(item.record_name)</label><hr />
                    @if (!string.IsNullOrWhiteSpace(item.record_time))
                    {
                    <label>@(Convert.ToDateTime(item.record_time).ToString("yyyy/MM/dd HH:mm:ss"))</label>
                    }
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            //疼痛部位列表高度
           // $("#DoctorAdcive_Dt").outerHeight(height - 260);
        }).trigger("resize");
    });
</script>