<link type="text/css" rel="Stylesheet" href="~/Content/StyleSheet/style.css" />
<script src="~/Scripts/jquery-3.6.4.min.js" type="text/javascript"></script>

<script type="text/javascript">
    function changecolor(id) {
        var e = new Array(7);
        e[0] = "A"; e[1] = "B"; e[2] = "C"; e[3] = "D"; e[4] = "E"; e[5] = "F"; e[6] = "G"; e[7] = "H";
        for (i = 0; i < e.length; i = i + 1) {
            for (j = 1; j < 9; j = j + 1) {
                $("#" + e[i] + j).css("background-color", "white");
            }
        }
        $("#" + id).css("background-color", "red");
        $("#txtPosition").val(id);
    }
</script>

<table border="1" style=" width:100%; height:100%">
    <tr><td align="center" style=" width:40%; height:100%;">
        <table border="0" cellpadding="0" cellspacing="0" style=" width:95%; height:100%">
            <tr><td style=" width:23%;">
                <table border="1" width="100%">
                    <tr><td colspan="2" align="right">
                        @Html.Label("lab","A")
                    </td></tr>
                            
                    <tr><td>
                        <div id="A1" onclick="changecolor('A1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="A2" onclick="changecolor('A2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="A3" onclick="changecolor('A3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="A4" onclick="changecolor('A4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="A5" onclick="changecolor('A5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="A6" onclick="changecolor('A6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="A7" onclick="changecolor('A7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="A8" onclick="changecolor('A8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td style=" width:23%;">
            </td><td style=" width:8%;">
            </td><td style=" width:23%;">
            </td><td style=" width:23%;">
                <table border="1" width="100%">
                    <tr><td colspan="2" align="left">
                        @Html.Label("lab", "E")
                    </td></tr>
                            
                    <tr><td>
                        <div id="E1" onclick="changecolor('E1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="E2" onclick="changecolor('E2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="E3" onclick="changecolor('E3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="E4" onclick="changecolor('E4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="E5" onclick="changecolor('E5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="E6" onclick="changecolor('E6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="E7" onclick="changecolor('E7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="E8" onclick="changecolor('E8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td></tr>

            <tr><td>
            </td><td>
                <table border="1" width="100%">
                    <tr><td colspan="2" align="right">
                        @Html.Label("lab", "B")
                    </td></tr>
                            
                    <tr><td>
                        <div id="B1" onclick="changecolor('B1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="B2" onclick="changecolor('B2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="B3" onclick="changecolor('B3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="B4" onclick="changecolor('B4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="B5" onclick="changecolor('B5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="B6" onclick="changecolor('B6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="B7" onclick="changecolor('B7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="B8" onclick="changecolor('B8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td>
            </td><td>
                <table border="1" width="100%">
                    <tr><td colspan="2" align="left">
                        @Html.Label("lab", "F")
                    </td></tr>
                            
                    <tr><td>
                        <div id="F1" onclick="changecolor('F1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="F2" onclick="changecolor('F2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="F3" onclick="changecolor('F3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="F4" onclick="changecolor('F4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="F5" onclick="changecolor('F5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="F6" onclick="changecolor('F6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="F7" onclick="changecolor('F7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="F8" onclick="changecolor('F8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td>
            </td></tr>

            <tr><td>
            </td><td>
                <table border="1" width="100%">
                    <tr><td colspan="2" align="right">
                        @Html.Label("lab", "C")
                    </td></tr>
                            
                    <tr><td>
                        <div id="C1" onclick="changecolor('C1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="C2" onclick="changecolor('C2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="C3" onclick="changecolor('C3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="C4" onclick="changecolor('C4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="C5" onclick="changecolor('C5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="C6" onclick="changecolor('C6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="C7" onclick="changecolor('C7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="C8" onclick="changecolor('C8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td>
            </td><td>
                <table border="1" width="100%">
                    <tr><td colspan="2" align="left">
                        @Html.Label("lab", "G")
                    </td></tr>
                            
                    <tr><td>
                        <div id="G1" onclick="changecolor('G1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="G2" onclick="changecolor('G2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="G3" onclick="changecolor('G3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="G4" onclick="changecolor('G4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="G5" onclick="changecolor('G5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="G6" onclick="changecolor('G6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="G7" onclick="changecolor('G7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="G8" onclick="changecolor('G8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td>
            </td></tr>
        </table>
    </td>
    <td align="center" style=" width:40%; height:100%">
        <table border="0" cellpadding="0" cellspacing="0" style=" width:95%; height:100%;">
            <tr><td colspan="5" style=" width:100%; height:40%"></td></tr>
            <tr><td style=" width:23%;">
            </td><td align="right" style=" width:23%; height:60%">
                <table border="1">
                    <tr><td colspan="2" align="right" style=" width:24%;">
                        @Html.Label("lab", "H")
                    </td></tr>
                            
                    <tr><td>
                        <div id="H1" onclick="changecolor('H1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="H2" onclick="changecolor('H2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="H3" onclick="changecolor('H3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="H4" onclick="changecolor('H4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="H5" onclick="changecolor('H5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="H6" onclick="changecolor('H6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="H7" onclick="changecolor('H7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="H8" onclick="changecolor('H8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td style=" width:8%;">
            </td><td style=" width:23%;">
                <table border="1">
                    <tr><td colspan="2" align="left" style=" width:24%;">
                        @Html.Label("lab", "D")
                    </td></tr>
                            
                    <tr><td>
                        <div id="D1" onclick="changecolor('D1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="D2" onclick="changecolor('D2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="D3" onclick="changecolor('D3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="D4" onclick="changecolor('D4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="D5" onclick="changecolor('D5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="D6" onclick="changecolor('D6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="D7" onclick="changecolor('D7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="D8" onclick="changecolor('D8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td style=" width:23%;">
            </td></tr>
        </table>
    </td>
    <td style=" width:20%; height:100%">
        @Html.CheckBox("ck")
        @Html.Label("ck", "是否為補輸資料？")
        <div class="data_area">
            <table border="0" cellpadding="0" cellspacing="0" style=" width:100%; height:95%;">
                <tr><th align="center">@Html.Label("lab", "注射日期及時間")</th></tr>
                <tr><td>
                    @Html.TextBox("date", @DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px" })
                    @Html.TextBox("time", @DateTime.Now.ToString("HHmm"), new { style = "width:50px" })
                    @Html.DropDownList("List", ViewData["List"] as SelectList)
                </td></tr>
                <tr><th align="center">@Html.Label("txtPosition", "部位")</th></tr>
                <tr><td>
                    @Html.TextBox("txtPosition", "", new { style = "width:80px" })
                </td></tr>
                <tr><th align="center">@Html.Label("lab", "藥物與劑量")</th></tr>
                <tr><td>
                    @Html.DropDownList("List2", ViewData["List"] as SelectList, "藥名")<br />
                    @Html.Label("txtCapacity1", "劑量")
                    @Html.TextBox("txtCapacity1", "", new { style = "width:40px" })
                    <select><option>單位</option></select>
                </td></tr>
                <tr><td>
                    <select><option>其他</option></select>
                    @Html.TextBox("txtCapacity2", "", new { style = "width:120px" })
                    @Html.Label("txtCapacity2", "劑量")
                    @Html.TextBox("txtCapacity3", "", new { style = "width:40px" })
                    <select><option>單位</option></select>
                </td></tr>
                <tr><th>
                    @Html.CheckBox("ckrecord", true)
                    @Html.Label("ckrecord", "是否加入護理紀錄？")
                </th></tr>
                <tr><td align="center">
                    <input id="add" type="button" value="新增存檔" onclick="alert('儲存成功!');window.close();opener.window.location.reload();" />
                    <input id="back" type="button" value="放棄目前編輯資料" onclick="window.close();" />
                </td></tr>
            </table>
        </div>
    </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            @Html.Label("lab", "已注射部位", new { style = "background-color: #6699FF" })
            @Html.Label("lab", "最後一次注射部位", new { style = "background-color: yellow" })
            @Html.Label("lab", "禁忌與據打部位", new { style = "background-color: silver" })
            <input id="clear" type="button" value="清除顏色" onclick="changecolor();" />
        </td>
        <td></td>
    </tr>
</table>
