@{
    ViewBag.Title = "護理資訊系統-特殊給藥";
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}
<script type="text/javascript">
    function changecolor(id) {
        var e = new Array(7);
        e[0] = "A"; e[1] = "B"; e[2] = "C"; e[3] = "D"; e[4] = "E"; e[5] = "F"; e[6] = "G"; e[7] = "H";
        for (i = 0; i < e.length; i = i + 1) {
            for (j = 1; j < 9; j = j + 1) {
                $("#" + e[i] + j).css("background-color", "white");
            }
        }
        $("#" + id).css("background-color", "red");
        $("#POSITION").val(id);
    }
    $(document).ready(
        function () {
            //格行換色
            $('.dtl_VS tr:odd').css('background', '#ABC8E2');
            $('.dtl_VS tr:even').css('background', '#E1E6FA');
           // $("#").css("background-color", "red");

        }
    );
        //新增特殊藥物注射紀錄"存檔"
        function exist(id) {

            var indate = $('#now_day').val();
            indate += " " + $('#now_time').val();
             
          //  $("#_FEENO").val();
            $("#_INDATE").val(indate);

            $("#_POSITIOM").val();
            $("#_REVIEW").val();
            $("#_DRUGNAME").val();
            $("#_DOSE").val();
            $("#_DOSEUNIT").val();
                        

            $("#_REASON").val();
            $("#_REASONTYPE").val();
            $("#_INJECTION").val();
            $("#_PAGE").val();
            if (id != "") {
                $("#_STATUS").val('new');
                $("#_SDID").val();
             }
            else {
                $("#_STATUS").val('upd');
                $("#_SDID").val('');
             }
        }
        //施打備註原因視窗出現
        function rinput(type) {

            if (type == 'type_notyet') {
                $("#type_notyet").fadeIn(500);
                $("#type_early").css("display", "none");
                $("#type_delay").css("display", "none");
                $("#type_other").css("display", "inline");
            } else if (type == 'type_early') {
                $("#type_early").fadeIn(500);
                $("#type_notyet").css("display", "none");
                $("#type_delay").css("display", "none");
                $("#type_other").css("display", "inline");
            } else if (type == 'type_delay') {
                $("#type_delay").fadeIn(500);
                $("#type_notyet").css("display", "none");
                $("#type_early").css("display", "none");
                $("#type_other").css("display", "inline");
            } else {
                $("#type_notyet").css("display", "none");
                $("#type_early").css("display", "none");
                $("#type_delay").css("display", "none");
                $("#type_other").css("display", "none");
            }
        }
</script>
@using System.Data;
@{
    Random rd = new Random();
    DataTable table = ViewBag.table;
    string _REVIEW = "";
    string _POSITION = "";

    //DataRow dr = ViewBag.dr;
    //if(ViewBag.ck != null){
    //bool ck = ViewBag.ck;} 
    //string udodrgcode = ViewBag.udodrgcode;

    //DateTime start_day = DateTime.Now;
    //DateTime end_day = DateTime.Now;
    //if (ViewBag.start_day != null)
    //{ start_day = ViewBag.start_day; }
    //if (ViewBag.end_day != null)
    //{ end_day = ViewBag.end_day; }

    }
         @foreach (DataRow r in table.Rows)
         {
            <input id="_FEENO" type="hidden" value="@r["FEENO"]" name="data[0].FEENO" />
            <input id="_INDATE" type="hidden" value=" " name="data[0].INDATE" />
            <input id="_POSITION" type="hidden" value=" " name="data[0].POSITION" />
            <input id="_REVIEW" type="hidden" value=" " name="data[0].REVIEW" />
            <input id="_DRUGNAME" type="hidden" value=" " name="data[0].DRUGNAME" />
            <input id="_DOSE" type="hidden" value=" " name="data[0].DOSE" />
            <input id="_DOSEUNIT" type="hidden" value=" " name="data[0].DOSEUNIT" />
            <input id="_STATUS" type="hidden" value="new" name="data[0].STATUS" />
            <input id="_SDID" type="hidden" value="@r["SDID"]" name="data[0].SDID" />
            <input id="_REASON" type="hidden" value=" " name="data[0].REASON" />
            <input id="_REASONTYPE" type="hidden" value=" " name="data[0].REASONTYPE" />
            <input id="_INJECTION" type="hidden" value=" " name="data[0].INJECTION" />
            <input id="_PAGE" type="hidden" value=" " name="data[0].PAGE" />   
        
             _REVIEW = "" + @r["REVIEW"];
             _POSITION = "" + @r["POSITION"];
                          
         }
<table border="1" style=" width:100%; height:100%">
    <tr><td align="center" style=" width:35%; height:100%; background-image: url('http://localhost:7646/Images/Character/bady.jpg'); background-repeat: no-repeat;">
    @*   <img src="~/Images/Character/bady.png" alt="" 
                            border="0" usemap="#Map" longdesc="~/Images/Character/bady.png" />*@
        <table border="0" cellpadding="0" cellspacing="0" style=" width:50px; height:100%" align="center">
            <tr><td style=" width:23%;" >
                <table border="1" width="50px"  >
                    <tr><td colspan="2" align="right">
                        @Html.Label("lab","A")
                    </td></tr>
                            
                    <tr><td>
                        <div id="A1" onclick="changecolor('A1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="A2" onclick="changecolor('A2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="A3" onclick="changecolor('A3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="A4" onclick="changecolor('A4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="A5" onclick="changecolor('A5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="A6" onclick="changecolor('A6')" >@Html.Label("lab", "6")</div>
                    </td></tr>
                    
                    <tr><td>
                        <div id="A7" onclick="changecolor('A7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="A8" onclick="changecolor('A8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td style=" width:23%;">
            </td><td style=" width:8%;">&nbsp;&nbsp;&nbsp;&nbsp;
            </td><td style=" width:23%;">
            </td><td style=" width:23%;">
                <table border="1" width="50px"  >
                    <tr><td colspan="2" align="left" style=" width:100px;">
                        @Html.Label("lab", "E")
                    </td></tr>
                            
                    <tr><td>
                        <div id="E1" onclick="changecolor('E1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="E2" onclick="changecolor('E2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="E3" onclick="changecolor('E3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="E4" onclick="changecolor('E4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="E5" onclick="changecolor('E5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="E6" onclick="changecolor('E6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="E7" onclick="changecolor('E7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="E8" onclick="changecolor('E8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td></tr>

            <tr><td>
            </td><td>
                <table border="1" width="65px">
                    <tr><td colspan="2" align="right">
                        @Html.Label("lab", "B")
                    </td></tr>
                            
                    <tr><td>
                        <div id="B1" onclick="changecolor('B1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="B2" onclick="changecolor('B2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="B3" onclick="changecolor('B3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="B4" onclick="changecolor('B4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="B5" onclick="changecolor('B5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="B6" onclick="changecolor('B6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="B7" onclick="changecolor('B7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="B8" onclick="changecolor('B8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td>
            </td><td>
                <table border="1" width="65px">
                    <tr><td colspan="2" align="left">
                        @Html.Label("lab", "F")
                    </td></tr>
                            
                    <tr><td>
                        <div id="F1" onclick="changecolor('F1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="F2" onclick="changecolor('F2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="F3" onclick="changecolor('F3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="F4" onclick="changecolor('F4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="F5" onclick="changecolor('F5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="F6" onclick="changecolor('F6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="F7" onclick="changecolor('F7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="F8" onclick="changecolor('F8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td>
                   </td></tr>

            <tr><td>
            </td><td>
                <table border="1" width="100%">
                    <tr><td colspan="2" align="right">
                        @Html.Label("lab", "C")
                    </td></tr>
                            
                    <tr><td>
                        <div id="C1" onclick="changecolor('C1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="C2" onclick="changecolor('C2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="C3" onclick="changecolor('C3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="C4" onclick="changecolor('C4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="C5" onclick="changecolor('C5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="C6" onclick="changecolor('C6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="C7" onclick="changecolor('C7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="C8" onclick="changecolor('C8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td>
            </td><td>
                <table border="1" width="100%">
                    <tr><td colspan="2" align="left">
                        @Html.Label("lab", "G")
                    </td></tr>
                            
                    <tr><td>
                        <div id="G1" onclick="changecolor('G1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="G2" onclick="changecolor('G2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="G3" onclick="changecolor('G3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="G4" onclick="changecolor('G4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="G5" onclick="changecolor('G5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="G6" onclick="changecolor('G6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="G7" onclick="changecolor('G7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="G8" onclick="changecolor('G8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td>
            </td></tr>
        </table>
    </td>
    <td align="center" style=" width:35%; height:100%; background-image: url('http://localhost:7646/Images/Character/bady2.jpg'); background-repeat: no-repeat;">
        <table border="0" cellpadding="0" cellspacing="0" 
            style=" width:95%; height:344px; margin-top: 0px;" align="center">
            <tr><td colspan="5" style=" width:100%; height:30%"></td></tr>
            <tr><td style=" width:23%;">
            </td><td align="right" style=" width:23%; height:70%">
                <table border="1">
                    <tr><td colspan="2" align="right" style=" width:24%;">
                        @Html.Label("lab", "H")
                    </td></tr>
                            
                    <tr><td>
                        <div id="H1" onclick="changecolor('H1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="H2" onclick="changecolor('H2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="H3" onclick="changecolor('H3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="H4" onclick="changecolor('H4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="H5" onclick="changecolor('H5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="H6" onclick="changecolor('H6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="H7" onclick="changecolor('H7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="H8" onclick="changecolor('H8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td style=" width:8%;">
            </td><td style=" width:23%;">
                <table border="1">
                    <tr><td colspan="2" align="left" style=" width:24%;">
                        @Html.Label("lab", "D")
                    </td></tr>
                            
                    <tr><td>
                        <div id="D1" onclick="changecolor('D1')" >@Html.Label("lab", "1")</div>
                    </td><td>
                        <div id="D2" onclick="changecolor('D2')" >@Html.Label("lab", "2")</div>
                    </td></tr>

                    <tr><td>
                        <div id="D3" onclick="changecolor('D3')" >@Html.Label("lab", "3")</div>
                    </td><td>
                        <div id="D4" onclick="changecolor('D4')" >@Html.Label("lab", "4")</div>
                    </td></tr>

                    <tr><td>
                        <div id="D5" onclick="changecolor('D5')" >@Html.Label("lab", "5")</div>
                    </td><td>
                        <div id="D6" onclick="changecolor('D6')" >@Html.Label("lab", "6")</div>
                    </td></tr>

                    <tr><td>
                        <div id="D7" onclick="changecolor('D7')" >@Html.Label("lab", "7")</div>
                    </td><td>
                        <div id="D8" onclick="changecolor('D8')" >@Html.Label("lab", "8")</div>
                    </td></tr>
                </table>
            </td><td style=" width:23%;">
            </td></tr>
        </table>
    </td>
    <td style=" width:30%; height:100%;" class ="dtl_VS">
        @Html.CheckBox("ck")
        @Html.Label("ck", "是否為補輸資料？")
        <div class="dtl_VS" style="width:100%; height:100%">

            <table   style="border-collapse: collapse; border-style: solid; border-width: 1px;width:100%; height:100%;" >
                <tr>
                    <td>
                          @Html.TextBox("now_day", @DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px;", @readonly = "readonly" })
                          @Html.TextBox("now_time", @DateTime.Now.ToString("HH:mm"), new { style = "width:50px;", @readonly = "readonly" })
                          @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "now_day", "now_time", false)
                           @*<script type="text/javascript">
                                        $(function () {
                                            $('#now_day').datetimepicker({
                                                altField: "#now_time",  maxDateTime: 0
                                            });
                                        });
                           </script>*@ 
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("lab", "給藥前覆核人員:")
                        @Html.TextBox("txt", @_REVIEW, new { id = "REVIEW", style = "width:80px" })
                    </td>
                </tr>
                <tr>
                    <td>
                    
                        單次給藥劑量
                        @Html.TextBox("txt", "1.5", new { style = "width:50px" })
                        unlt
                        <br />
                        <br />  
                        Sliding scale
                        <br /> 
                        @Html.DropDownList("List2", ViewData["List"] as SelectList, "藥名")
                        @Html.TextBox("txt", "30", new { style = "width:50px" })
                        unlt
                    </td>
                </tr>
                <tr>
                    <td>
                    	@Html.Label("lab", "注射部位:")  
                        @Html.TextBox("txt", @_POSITION, new { id = "POSITION", style = "width:80px" })  
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.RadioButton("injection_execution", "1", false, new { id = "injection_execution1" }) 
			            @Html.Label("injection_execution1", "未執行") 
			            @Html.RadioButton("injection_execution", "2", false, new { id = "injection_execution2" }) 
			            @Html.Label("injection_execution2", "提早執行") 
			            @Html.RadioButton("injection_execution", "3", false, new { id = "injection_execution3" }) 
			            @Html.Label("injection_execution3", "延遲執行") 
                        <br /> 
                        @Html.RadioButton("injection_execution", "4", false, new { id = "injection_execution4" }) 
			            @Html.Label("injection_execution4", "拒絕") 
			            @Html.RadioButton("injection_execution", "5", false, new { id = "injection_execution5" })
			            @Html.Label("injection_execution5", "暫停") 
			            @Html.TextBox("injection_execution5", "", new { @class = "injection_execution5", @id = "other", @style = "display:inline;width:80px;" })
      
                    </td>
                </tr>
                <tr>
                    <td>
                        <input id="add" type="button" value="確定" onclick="exist('');alert('儲存成功!');window.close();opener.window.location.reload();" />
                        <input id="back" type="button" value="放棄目前編輯資料" onclick="window.close();" /><br /> 
                    </td>
                </tr>
                <tr>
                    <td  align="center">
                        @Html.Label("lab", "已注射部位", new { style = "background-color: #6699FF" })<br /> 
                        @Html.Label("lab", "最後一次注射部位", new { style = "background-color: yellow" })<br /> 
                        @Html.Label("lab", "禁忌與據打部位", new { style = "background-color: silver" })<br /> 
                        <input id="clear" type="button" value="清除顏色" onclick="changecolor();" />
                    </td>
                </tr>
                <tr>
                    <td>
         
                    </td>
                </tr>
            </table>
         
        </div>
    </td>
    </tr>
    
</table>
