@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    }
@*<link type="text/css" rel="Stylesheet" href="~/Content/StyleSheet/style.css" />

    <script src="~/Scripts/jquery-3.6.4.min.js" type="text/javascript"></script>*@

<script type="text/javascript">
    $(function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });
        list ="A,E,B,F,C,G,H,D";
        var id = list.split(",");
        for (i = 0; i < id.length; i++) 
        {
            $("#" + id + id).css("background-color", "white");
            $("#" + id).val('white');        
        }
    });
    function ck(id) {
        color = $('input:radio[name=rb]:checked').val();
        var ck = document.getElementById(id);
        if (ck.checked) {
            ck.checked = false;
            $("#" + id + id).css("background-color", "white");
            $("#" + id).val('white');
        }
        else {
            ck.checked = true;
            $("#" + id + id).css("background-color", color);
            $("#" + id).val(color);
            }
    }
    function cked(id) {
    
        list = "A,E,B,F,C,G,H,D";
        color = $('input:radio[name=rb]:checked').val();
        var ck = document.getElementById(id);     
        if (ck.checked) {
            $("#" + id + id).css("background-color", color);
            $("#" + id).val(color);
        }
        else {
            $("#" + id + id).css("background-color", "white");
            $("#" + id).val('white');
        }
    }
    function chcolor(color) {       
        //var e = new Array(7);
        //e[0] = "A"; e[1] = "B"; e[2] = "C"; e[3] = "D"; e[4] = "E"; e[5] = "F"; e[6] = "G"; e[7] = "H";
        //for (i = 0; i < e.length; i = i + 1) {
        //    var ck = document.getElementById(e[i]);
        //    if (ck.checked) { $("#" + e[i] + e[i]).css("background-color", color); }
        //}
        //if (color == "purple") {
        //    $("#rbtype").val('refuse');
        //}
        //else { $("#rbtype").val('ban'); }
    
    }
    function check() {

        if ($('input:radio[name=rb]:checked').val() == undefined) {      
            alert("拒打禁忌尚未設定");
            return false;
        } else
        {
            list = "A,E,B,F,C,G,H,D";
            ban = "";
            refuse = "";
            var id = list.split(",");
            for (i = 0; i < id.length; i++) {
                var ck = document.getElementById(id[i]);
                if (ck.checked) {
                    if ($("#" + id[i]).val() == "red")
                    {
                        ban += id[i] + ",";
                    }
                    //else if ($("#" + id[i]).val() == "purple")
                    //{
                    //    refuse += id[i] + ",";
                    //}
                }
            }
           
       //  alert(ban);
       //     alert(refuse);
            if (ban != "") { $("#ban").val(ban.substring(0, ban.length - 1)); }
           // if (refuse != "") { $("#refuse").val(refuse.substring(0, refuse.length - 1)); }
            
            return true;
            window.close();
        }
    }
</script>
@using System.Data;
@{
    Random rd = new Random();
    DataTable table = ViewBag.table;    
    string feeno = ViewBag.feeno;
    string col = ViewBag.col;
    string itemlist = ViewBag.item;
    string ban = ViewBag.ban;
    string refuse = ViewBag.refuse;
    <script type="text/javascript">
        $(function () {
       

            var rb = document.getElementsByName('rb');
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == '@col')
                    rb[i].checked = true;
            }
            var refuselist = '@refuse';
            var refuse = refuselist.split(",");
            var e = new Array(5);
           e[0] = "A"; e[1] = "B"; e[2] = "C"; e[3] = "D"; e[4] = "E"; e[5] = "F"; e[6] = "G"; e[7] = "H";
            // e[0] = "A"; e[1] = "B"; e[2] = "C";  e[3] = "E"; e[4] = "F"; e[5] = "G";
            for (j = 0; j < refuselist.length; j++) {
                for (i = 0; i < e.length; i++) {
                    var ck = document.getElementById(e[i]);
                    if (refuse[j] == e[i]) {
                        ck.checked = true;
                        $("#" + e[i] + e[i]).css("background-color", 'purple');
                        $("#" + e[i]).val('purple');
                    }
                   // else
                   // { $("#" + e[i]).val(e[i]); }
                }
            }

            var banlist = '@ban';
            var ban = banlist.split(",");        
            for (j = 0; j < banlist.length; j++) {
                for (i = 0; i < e.length; i++) {
                    var ck = document.getElementById(e[i]);
                    if (ban[j] == e[i]) {
                        ck.checked = true;
                        $("#" + e[i] + e[i]).css("background-color", 'red');
                        $("#" + e[i]).val('red');
                    }
                }
            }

           @* var itemlist = '@itemlist';
            var item = itemlist.split(",");
            var e = new Array(7);
            e[0] = "A"; e[1] = "B"; e[2] = "C"; e[3] = "D"; e[4] = "E"; e[5] = "F"; e[6] = "G"; e[7] = "H";
            for (j = 0; j < itemlist.length; j++) {
                for (i = 0; i < e.length; i++) {
                    var ck = document.getElementById(e[i]);
                    if (item[j]==e[i]) {
                        ck.checked=true;
                        $("#" + e[i] + e[i]).css("background-color", '@col');
                  
                    }
                }
            }*@
        });
    </script>
    
        
    }
<form method="post" action="Set_reject">
<table border="0" style=" width:100%; height:600px;">
    <tr style="height:100%;">
       
        <td align="center" style=" width:40%; background-image: url('../Images/Character/s1.jpg'); background-repeat: no-repeat;">
            <table border="0" cellpadding="0" cellspacing="0" style=" width:90%; padding:0; height:100%;">
                <tr><td style=" width:23%;">
                    <table border="1" width="100%" style=" height:80px;">
                        <tr><td>
                            <div id="AA" onclick="ck('A');" style=" width:100%; height:100%; text-align: center;">
                                <span style="font-size: 18px">右上臂</span><br /><span style="font-size: 36px;">A</span>
                            </div>
                        </td></tr>
                    </table>
                </td><td style=" width:23%;">
                    &nbsp;
                </td><td style=" width:8%;">
                    &nbsp;
                </td><td style=" width:23%;">
                    &nbsp;
                </td><td style=" width:23%;">
                    <table border="1" width="100%" style=" height:80px;">
                        <tr><td>
                            <div id="EE" onclick="ck('E');" style=" width:100%; height:100%; text-align: center;">
                                <span style="font-size: 18px">左上臂</span><br /><span style="font-size: 36px;">E</span>
                            </div>
                        </td></tr>
                    </table>
                </td></tr>

                <tr><td>
                    &nbsp;
                </td><td>
                    <table border="1" width="100%" style=" height:80px;">
                        <tr><td>
                            <div id="BB" onclick="ck('B');" style=" width:100%; height:100%; text-align: center;">
                                <span style="font-size: 18px">右腹部</span><br /><span style="font-size: 36px;">B</span>
                            </div>
                        </td></tr>
                    </table>
                </td><td>
                    &nbsp;
                </td><td>
                    <table border="1" width="100%" style=" height:80px;">
                        <tr><td>
                            <div id="FF" onclick="ck('F');" style=" width:100%; height:100%; text-align: center;">
                                <span style="font-size: 18px">左腹部</span><br /><span style="font-size: 36px;">F</span>
                            </div>
                        </td></tr>
                    </table>
                </td><td>
                    &nbsp;
                </td></tr>

                <tr><td>
                    &nbsp;
                </td><td>
                    <table border="1" width="100%" style=" height:80px;">
                        <tr><td>
                            <div id="CC" onclick="ck('C');" style=" width:100%; height:100%; text-align: center;">
                                <span style="font-size: 18px">右大腿</span><br /><span style="font-size: 36px;">C</span>
                            </div>
                        </td></tr>
                    </table>
                </td><td>
                    &nbsp;
                </td><td>
                    <table border="1" width="100%" style=" height:80px;">
                        <tr><td>
                            <div id="GG" onclick="ck('G');" style=" width:100%; height:100%; text-align: center;">
                                <span style="font-size: 18px">左大腿</span><br /><span style="font-size: 36px;">G</span>
                            </div>
                        </td></tr>
                    </table>
                </td><td>
                    &nbsp;
                </td></tr>
            </table>
        </td>
         
        <td align="center" style=" width:40%;background-image: url('../Images/Character/s2.jpg'); background-repeat: no-repeat;">
            <table border="0" cellpadding="0" cellspacing="0" style=" width:90%; height:100%; " >
           
                <tr><td colspan="5" style=" width:100%; height:40%"></td></tr>
                <tr><td style=" width:23%;">
                </td><td align="right" style=" width:23%; height:60%">
                    <table border="1" width="100%" style=" height:80px;">
                        <tr><td>
                            <div id="HH" onclick="ck('H');" style=" width:100%; height:100%; text-align: center;">
                                <span style="font-size: 18px">左臀</span><br /><span style="font-size: 36px;">H</span>
                            </div>
                        </td></tr>
                    </table>
                </td><td style=" width:8%;">
                </td><td style=" width:23%;">
                    <table border="1" width="100%" style=" height:80px;">
                        <tr><td>
                            <div id="DD" onclick="ck('D');" style=" width:100%; height:100%; text-align: center;">
                                <span style="font-size: 18px">右臀</span><br /><span style="font-size: 36px;">D</span>
                            </div>
                        </td></tr>
                    </table>
                </td><td style=" width:23%;">
                </td></tr>
            </table>
        </td>
        <td style=" width:20%;">
            <div class="data_area" style=" height:inherit">
                <table border="1" style="border:1px solid dimgray" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <th style="font-size: 16px; text-align: center; background-color:red" colspan="2">@Html.Label("lab", "禁忌顏色")</th>
                        @*<th style="font-size: 16px; text-align: center; background-color:purple">@Html.Label("lab","拒打顏色")</th>*@
                    </tr>
                    <tr><th align="center" colspan="2">@Html.Label("lab","前")</th></tr>
                    <tr><th align="center">@Html.Label("lab","右")</th><th align="center">@Html.Label("lab","左")</th></tr>
                    <tr>
                        <td style=" text-align:center">
                        <input id="A" type="checkbox" name="ckin" onclick="cked('A')" value="A"/>
                        <label for="A">右上臂</label>
                        </td>
                        <td style=" text-align:center">
                        <input id="E" type="checkbox" name="ckin" onclick="cked('E')" value="E"/>
                        <label for="E">左上臂</label>
                        </td>
                    </tr>
                    <tr>
                        <td style=" text-align:center">
                        <input id="B" type="checkbox" name="ckin" onclick="cked('B')" value="B"/>
                        <label for="B">右腹部</label>
                        </td>
                        <td style=" text-align:center">
                        <input id="F" type="checkbox" name="ckin" onclick="cked('F')" value="F"/>
                        <label for="F">左腹部</label>
                        </td>
                    </tr>
                    <tr>
                        <td style=" text-align:center">
                        <input id="C" type="checkbox" name="ckin" onclick="cked('C')" value="C"/>
                        <label for="C">右大腿</label>
                        </td>
                        <td style=" text-align:center">
                        <input id="G" type="checkbox" name="ckin" onclick="cked('G')" value="G"  />
                        <label for="G">左大腿</label>
                        </td>
                    </tr>
                     <tr><th align="center" colspan="2">@Html.Label("lab","後")</th></tr>
                    
                    <tr><th align="center">@Html.Label("lab","左")</th><th align="center">@Html.Label("lab","右")</th></tr>
                    <tr>
                        <td style=" text-align:center">

                            <input id="H" type="checkbox" name="ckin" onclick="cked('H')" value="H"/>
                             <label for="H">左臀</label>
                          @*//@Html.CheckBox("H",  new { onclick = "cked('H');" })@Html.Label("H", "H")*@
                        </td>
                        <td style=" text-align:center"> 
                            <input id="D" type="checkbox" name="ckin" onclick="cked('D')" value="D"/>
                            <label for="D">右臀</label>
                           @*//@Html.CheckBox("D", new { onclick = "cked('D');" })@Html.Label("D","D")*@

                        </td>
                    </tr>
                    <tr><td colspan="2" style="font-size: 12px; text-align:center">
                        @Html.RadioButton("rb", "red",true,  new { id = "rd_ban", onclick = "chcolor('red');" + @Java_funcion.show_hide("body", "") })
                        @Html.Label("rd_ban", "禁忌")
                        @*@Html.RadioButton("rb", "purple", new { id = "rd_refuse", onclick = "chcolor('purple');" + @Java_funcion.show_hide("", "body") })
                        @Html.Label("rd_refuse", "拒打")*@
                           <input id="rbtype" type="hidden" value="ban" name="rbtype" />
                         <input id="refuse" type="hidden" value="" name="refuse" />
                          <input id="ban" type="hidden" value="" name="ban" />
                           <input id="feeno" type="hidden" value="@feeno" name="feeno" />
                    </td></tr>
                    <tr><td colspan="2" style="font-size: 12px;">
                        <div id="body" style="display:inline;">
                            @Html.Label("txtban","原因：")
                           @* @Html.TextBox("txtban","",new { style="width:100"})*@
                            <input type="text" id="txtban" name="reason" style="width:100px" />
                         </div>
                    </td></tr>
                    <tr><td colspan="2" style=" text-align:center">
                        <input id="save" type="button" class="btn_m" value="存檔" onclick="if (check()) { submit(); }" />
                        <input id="quit" type="button" class="btn_m" value="離開" onclick="window.close();" />
                    </td></tr>
                </table>
            </div>
        </td>
    </tr>
    <tr style=" height:20%;">
        <td colspan="4" style=" width:100%;">
            <div class="data_area" style=" height:inherit">
                <table border="0" cellpadding="0" cellspacing="0" style=" width:100%;" align="center">
                    <tr><th>
                        @Html.Label("lab","最後設定日期")                 
                    </th><th>
                        @Html.Label("lab","禁忌部位")
                    </th><th>
                        @Html.Label("lab", "禁忌原因")
                    </th>@*<th>
                        @Html.Label("lab", "拒打部位")
                    </th>*@<th>
                        @Html.Label("lab", "設定者")
                    </th></tr>
                    @if (table!= null && table.Rows.Count > 0)
                    {
                     foreach (DataRow r in table.Rows)
                     {
                    <tr><td>
                        @r["INDATE"]
                    </td><td>
                        @r["BAN"]
                    </td><td>
                        @r["REASON"]
                    </td>@*<td>
                        @r["REFUSE"]
                    </td>*@<td>
                        @r["INSOPNAME"]
                    </td></tr>
                     }}
                </table>
            </div>
        </td>
    </tr>
</table>
</form>
