@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string title = "自費同意書";
    PatientInfo ptInfo = (PatientInfo)Session["PatInfo"];
    UserInfo userInfo = (UserInfo)Session["UserInfo"];
    string type = ViewBag.type;
}

<style type="text/css" scoped>
    #module_define {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #d5d5f7 !important;
        width: 100%;
        border-radius: 10px !important;
        font-size: 28px;
        font-weight: 800;
        border: 0 !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
        font-family: Arial, EUDC !important;
    }

    .funcArea {
        margin: 0.5rem !important;
        font-size: 18px !important;
    }

    .fun_btn {
        font-size: 17px !important;
        box-shadow: none !important;
        border-radius: 10px !important;
        border: 0 !important;
        color: white !important;
        padding: 5px 5px 4px 4px !important;
    }

    .check_btn {
        background-color: #3c7ec3 !important;
    }

    .add_btn {
        background-color: #42b55b !important;
    }

    .modify_btn {
        background-color: #ed9017 !important;
    }

    .delete_btn {
        background-color: #ed6f6f !important;
    }

    .dataHeader td {
        font-weight: bold;
        margin: 1px 1px 1px 1px;
        background-color: #cfe1eb;
        text-align: center;
        vertical-align: middle;
        height: 26px;
    }

    .dataHeader {
        border-radius: 10px !important;
        margin-right: 15px !important;
    }

    .funcArea table {
        font-family: Arial, EUDC;
    }

    .dataArea {
        border: 0 !important;
    }

        .dataArea td {
            border-bottom: 0 !important;
        }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        switchList('@type');
    });

    //切換清單
    function switchList(type) {
        loop_windows("open_cover");
        let url;

        switch (type) {
            case 'item':
                url = '@Url.Content("~/SelfPaymentConsent/ItemList")';
                break;
            case 'consent':
                url = '@Url.Content("~/SelfPaymentConsent/ConsentList")';
                break;
        }

        $.ajax({
            type: "POST",
            url: url,
            dataType: 'html',
            data: {},
            cache: false,
            success: function (response) {
                $('.dataAreaX').html();
                $('.dataAreaX').html(response);
            }, complete: function () {
                loop_windows("close_cover");
            }
        });
    }

    // 開啟建立同意書介面跳窗
    function createConsent() {
        let url = "CreateConsentForm?feeno=" + '@ptInfo.FeeNo' + "&start=" + '@ptInfo.InDate.ToString("yyyy-MM-dd 00:00")' + "&end=" + '@DateTime.Now.ToString("yyyy-MM-dd 23:59")';
        window.open(url, 'popUpWindow', 'menubar=no,status=no,scrollbars=yes,top=0,resizable=yes,left=200,toolbar=no,width=1024,height=768');
    }
</script>

<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td>
                <div id="module_define">@(title)</div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; text-align: center;">
                <div class="funcArea">
                    <input type="button" class="fun_btn check_btn" value="自費品項清單" onclick="window.location.href = '../SelfPaymentConsent/Index?type=item'" />
                    <input type="button" class="fun_btn check_btn" value="自費同意書清單" onclick="window.location.href = '../SelfPaymentConsent/Index?type=consent'" />
                    <input type="button" class="fun_btn add_btn" value="建立自費同意書" onclick="createConsent()" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="dataAreaX">
                </div>
            </td>
        </tr>
    </table>
</div>



