@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string title = "自費品項清單";
    PatientInfo ptInfo = (PatientInfo)Session["PatInfo"];
    UserInfo userInfo = (UserInfo)Session["UserInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}

<style type="text/css">
    #module_define {
        padding: 5px 0px 3px 0px;
        text-align: center;
        /*background-color: #d5d5f7 !important;*/
        width: 100%;
        border-radius: 10px !important;
        font-size: 28px;
        font-weight: 800;
        border: 0 !important;
        border-right: 0 !important;
        border-bottom: 0 !important;
        font-family: Arial, EUDC !important;
    }

    .funcArea {
        margin: 0.5rem !important;
        font-size: 18px !important;
    }

    .fun_btn {
        font-size: 17px !important;
        box-shadow: none !important;
        border-radius: 10px !important;
        border: 0 !important;
        color: white !important;
        padding: 5px 5px 4px 4px !important;
    }

    .check_btn {
        background-color: #3c7ec3 !important;
    }

    .add_btn {
        background-color: #42b55b !important;
    }

    .modify_btn {
        background-color: #ed9017 !important;
    }

    .delete_btn {
        background-color: #ed6f6f !important;
    }

    .dataHeader td {
        font-weight: bold;
        margin: 1px 1px 1px 1px;
        background-color: #cfe1eb;
        text-align: center;
        vertical-align: middle;
        height: 26px;
    }

    .dataHeader {
        border-radius: 10px !important;
        margin-right: 15px !important;
    }

    .funcArea table {
        font-family: Arial, EUDC;
    }

    .dataArea {
        border: 0 !important;
    }

        .dataArea td {
            border-bottom: 0 !important;
        }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        DataQuery();
    });

    //撈資料
    function DataQuery() {
        loop_windows("open_cover");

        $.ajax({
            type: "POST",
            url: '@Url.Content("~/SelfPaymentConsent/ItemListData")',
            dataType: 'html',
            data: { feeno: '@ptInfo.FeeNo', start: $('#StartDate').val(), end: $('#EndDate').val()+' 23:59:59', consentStatus: $('input[type=radio][name=queryFilter]:checked').val()},
            cache: false,
            success: function (response) {
                $('.ItemListData').html(response);
            }, complete: function () {
                loop_windows("close_cover");
            }
        });
    }
</script>

<div class="funcArea">
    <div style="min-width: 100%; display: flex; justify-content: center">
        <div id="module_define" style="width:200px !important;font-size:18px;background-color:white !important">@title</div>
    </div>
    <div class="funcArea">
        <label>日期：</label>
        @Html.TextBox("StartDate", DateTime.Now.AddDays(-1).ToString("yyyy/MM/dd"), new { @OnBlur = "", @class = "form-control input-sm", style = "width:80px;display:inline;" })
        @Html.Label("lab", " ~ ")
        @Html.TextBox("EndDate", DateTime.Now.ToUniversalTime().AddHours(8).ToString("yyyy/MM/dd"), new { @OnBlur = "", @class = "form-control input-sm", style = "width:80px;display:inline;" })
        @WebTool.complementList_Status(complement_List.Status, ptInfo.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "StartDate", "", false)
        @WebTool.complementList_Status(complement_List.Status, ptInfo.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "EndDate", "", false)
        <input type="button" class="fun_btn" style="width: 60px; margin-left: 0.5rem; background-color: #3c7ec3; " value="查詢" onclick="DataQuery();" />
        <label style="margin-left:0.5rem">自費同意書：</label>
        <label><input type="radio" name="queryFilter" value="generated" onclick="DataQuery()" />已產生</label>
        <label><input type="radio" name="queryFilter" value="notGenerated" onclick="DataQuery()" />未產生</label>
        <label><input type="radio" name="queryFilter" value="all" onclick="DataQuery()" checked />全部</label>
    </div>
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            <td>
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:16px;">
                        <tr>
                            @*<td style="width: 5%">編號</td>*@
                            <td style="width: 10%">時間</td>
                            <td style="width: 20%">自費項目</td>
                            <td style="width: 10%">院內碼</td>
                            <td style="width: 5%">單價</td>
                            <td style="width: 5%">數量</td>
                            <td style="width: 10%">金額</td>
                            <td style="width: 10%">計價護理師</td>
                            <td style="width: 10%">是否產生自費同意書</td>
                            <td style="width: 15%">同意書編號</td>
                            <td style="width: 5%">連結</td>
                        </tr>
                    </table>
                </div>
                <div class="ItemListData">
                </div>
            </td>
        </tr>
    </table>
</div>

