@using System.Data;
@using NIS.Data
@using NIS.Controllers;
@using Newtonsoft.Json;

@{
    UserInfo ui = (UserInfo)Session["UserInfo"];
    PatientInfo ptInfo = (PatientInfo)Session["PatInfo"];
    DataTable ComfirmDetail = ViewBag.ComfirmDetail;
}
<style type="text/css" scoped>
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: center;
    }

    #module_define {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }

    .fun_btn {
        font-size: 17px !important;
        box-shadow: none !important;
        border-radius: 10px !important;
        border: 0 !important;
        color: white !important;
        padding: 5px 5px 4px 4px !important;
    }

    .check_btn {
        background-color: #3c7ec3 !important;
    }

    .add_btn {
        background-color: #42b55b !important;
    }

    .modify_btn {
        background-color: #ed9017 !important;
    }

    .delete_btn {
        background-color: #ed6f6f !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 250);
        }).trigger("resize");
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    // 開啟編輯畫面
    function OpenEditView(Type, MasterID, TemplateID) {
        var url = 'Edit_Information_' + Type + '?MasterID=' + MasterID + '&&TemplateID=' + TemplateID;
        window.location.href = url;
    }

</script>
<div class="dataArea">
    @if (ComfirmDetail != null && ComfirmDetail.Rows.Count > 0)
    {
        var index = 0;
        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:16px;">
            @foreach (DataRow r in ComfirmDetail.Rows)
            {
                var recordDate = "";
                var recordTime = "";
                if (r["RECORD_DATE"] != null && r["RECORD_DATE"].ToString() != "")
                {
                    DateTime dateTryParse;
                    if(DateTime.TryParse(r["RECORD_DATE"].ToString(),out dateTryParse)) {
                        recordDate = dateTryParse.ToString("yyyy/MM/dd");
                        recordTime = dateTryParse.ToString("HH:mm");
                    }
                }
                index += 1;
                <tr>
                    @*<td style="width: 5%">@index</td>*@
                    <td style="width: 10%">@recordDate<br>@recordTime</td>
                    <td style="width: 20%">@r["ITEM_NAME"]</td>
                    <td style="width: 10%">@r["HO_ID"]</td>
                    <td style="width: 5%">@r["SELF_PRICE"]</td>
                    <td style="width: 5%">@r["COUNT"]</td>
                    <td style="width: 10%">@r["ITEM_PRICE"]</td>
                    <td style="width: 10%">@r["CREATE_NAME"]</td>
                    <td style="width: 10%">@r["SELF_PAY_CONSENT"]</td>
                    <td style="width: 15%">@r["SELF_PAY_CONSENT_JOB_ID"]</td>
                    <td style="width: 5%">
                        @if (r["SELF_PAY_CONSENT"] != null && r["SELF_PAY_CONSENT"].ToString() != "")
                        {
                            <input type="button" class="fun_btn check_btn" value="查詢" onclick="window.open('@r["SELF_PAY_CONSENT_LINK"]', 'popUpWindow', 'menubar=no,status=no,scrollbars=yes,top=0,resizable=yes,left=200,toolbar=no,width=1024,height=768');" />
                        }
                    </td>
                </tr>
                <tr></tr>
            }
        </table>
    }
</div>