@using System.Data;
@using NIS.Data
@using NIS.Controllers;
@{
    DataTable dt = ViewBag.dt;
    UserInfo ui = (UserInfo)Session["UserInfo"];
    List<Bill_Summary_Master> Summarydata = ViewBag.Summary;
    int noTemp = 0;
}
<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }

    #module_define {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataAreaX").outerHeight(height - 130);
        }).trigger("resize");
    });
    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', 'rgb(211 237 249)');
        $('.dataArea tr:even').css('background', 'rgb(231, 238, 245)');
    }
</script>
<div class="card">
    @if (Summarydata != null)
    {
        for (int i = 0; i < Summarydata.Count; i++)
        {
            <div style="background-color: #d7d8db;width:98%;margin-left:1rem; border-radius:10px;margin-top:0.6rem">
                <div style="display: flex; background-color: #cde9fd; width: 100%; min-width: 505px; border-radius: 10px;font-size:larger">
                    <div style="display: flex; margin: 1rem; margin-top: 0.5rem; width: 80%;">
                        <div style="font-weight:600">床號 : @Summarydata[i].BEDNO </div>
                        <div style="margin-left:2rem">病歷號 : @Summarydata[i].CHARTNO </div>
                        <div style="margin-left:1rem">姓名 : @Summarydata[i].NAME </div>
                        @*<div style="margin-left:1rem">性別 : @Summarydata[i].SEX </div>*@
                        @{
                            if (Summarydata[i].Bill_D.Count > 0)
                            {
                                noTemp = 0;
                                foreach (var item in Summarydata[i].Bill_D)
                                {
                                    if (item.BRING_STATUS == "N")
                                    {
                                        noTemp++;
                                    }
                                }
                            }
                        }

                        <span style="margin-left: 2rem; float: right; color:red">未拋帳務筆數 : @noTemp </span>
                        <input type="button" class="fun_btn" style="width: 80px; height: 30px; background-color: #3c7ec3; margin-left: 1rem; margin-top: 0.1rem; " value="手動拋帳" onclick="manualTrans('@Summarydata[i].FEENO');" />

                    </div>
                    <div style="text-align: right; width: 53%;">
                        <input type="button" id="" class="fun_btn" style="width: 35px; background-color: #3c7ec3; margin-top: 0.5rem; border-radius: 20px !important; font-size: 24px !important; margin-right: 0.5rem" value="+" onclick="if ($(this).val() == '+') { $('#card_' + @i).show(); $(this).val('-')}  else{$('#card_' + @i).hide(); $(this).val('+')}  ">
                    </div>
                </div>
                <div id="card_@i" style="display:none">
                    @*<div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:16px;">
                            <tr>
                                <td rowspan="14" style="width: 14%;">計價處置及衛材內容</td>
                            </tr>
                        </table>
                    </div>*@
                    <div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            <tr>
                                <td colspan="2" style="width: 10%; ">使用時間</td>
                                <td colspan="2" style="width: 3%; ">回補</td>
                                <td colspan="2" style="width: 9%; ">組套</td>
                                <td colspan="2" style="width: 6%; ">院內碼</td>
                                <td colspan="2" style="width: 14%;">名稱</td>
                                <td colspan="2" style="width: 6%;">類別</td>
                                <td colspan="2" style="width: 6%;">數量</td>
                                <td colspan="2" style="width: 6%;">身分</td>
                                <td colspan="2" style="width: 8%;">費用</td>
                                <td colspan="2" style="width: 6%;">自費同意書簽屬狀態</td>
                                <td colspan="2" style="width: 6%;">扣庫單位</td>
                                <td colspan="2" style="width: 6%;">護理確認</td>
                                <td colspan="2" style="width: 6%;">系統拋帳</td>
                                @*<td colspan="2" style="width: 6%;">帳務批價</td>*@
                            </tr>
                        </table>
                    </div>
                    <div class="" style="font-size: 14px; text-align: center; ">
                        <table cellpadding="4" cellspacing="1" style="width: 100%; font-size: 14px;">
                            @for (int j = 0; j < Summarydata[i].Bill_D.Count; j++)
                            {
                                <tr style="background-color: #e8ebeb">
                                    <td colspan="2" style="width: 10%; ">@Summarydata[i].Bill_D[j].RECORD_DATE</td>
                                    <td colspan="2" style="width: 3%; ">@Summarydata[i].Bill_D[j].COVER</td>
                                    <td colspan="2" style="width: 9%; ">@Summarydata[i].Bill_D[j].SET</td>
                                    <td colspan="2" style="width: 6%; ">@Summarydata[i].Bill_D[j].HO_ID</td>
                                    <td colspan="2" style="width: 14%;">@Summarydata[i].Bill_D[j].ITEM_NAME</td>
                                    <td colspan="2" style="width: 6%;">@Summarydata[i].Bill_D[j].ITEM_TYPE</td>
                                    <td colspan="2" style="width: 6%;">
                                        @Summarydata[i].Bill_D[j].COUNT
                                    </td>
                                    <td colspan="2" style="width: 6%;">
                                        @Summarydata[i].Bill_D[j].ITEM_IDENTITY
                                    </td>
                                    <td colspan="2" style="width: 8%;">@Summarydata[i].Bill_D[j].ITEM_PRICE</td>
                                    <td colspan="2" style="width: 6%; "></td>
                                    <td colspan="2" style="width: 6%;">  @Summarydata[i].Bill_D[j].COSTCODE</td>
                                    <td colspan="2" style="width: 6%;">Y </td>
                                    <td colspan="2" style="width: 6%;"> @Summarydata[i].Bill_D[j].BRING_STATUS </td>
                                    @*<td colspan="2" style="width: 6%;"> </td>*@
                                </tr>
                            }
                        </table>
                    </div>
                </div>
               
            </div>
        }
    }
</div>
