@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
    th {
        background: #99CCFF;
        text-align: center;
    }
    td {
        padding: 3px 6px;
        vertical-align: top;
        color: #333311;
        height:28px;
    }
    tr.even {
        background: #F5F5F5;
    }
    tr.odd {
        background: #FFFFFF;
    }
    tr.over td {
        background: #CDE6FF;
        color: #000000;
    }
    .tr_chouse td {
        color: #FFF;
        background: #006BDC;
    }
</style>

<script type="text/javascript">
    function unable(id_list) {
        var list = id_list.split(',');
        for (var i = 0 ; i < list.length; i++) {
            document.getElementById(list[i]).disabled = true;
            document.getElementById(list[i]).checked = false;
        }
    }

    function able(id_list) {
        var list = id_list.split(',');
        for (var i = 0 ; i < list.length; i++) {
            document.getElementById(list[i]).disabled = false;
        }
    }
    function ckable(obj, id_list) {
        var ck = obj;
        if (ck.checked)
        { able(id_list); }
        else
        { unable(id_list); }
    }
</script>
@using System.Data
@{
    DataTable dt = ViewBag.dt;
    string action = "Insert_Team_Care", id = "";
    if(dt !=null && dt.Rows.Count > 0)
    {
        action = "Upd_Team_Care";
        id = dt.Rows[0]["TEAM_CARE_ID"].ToString();
    <script type="text/javascript">
            $(function () {
                set_for_ck('rb_nurse', '@dt.Rows[0]["NURSE"]');
                set_for_ck('rb_pharmacist', '@dt.Rows[0]["PHARMACIST"]');
                set_for_txt('txt_rb_pharmacist_3', '@dt.Rows[0]["PHARMACIST_TEACH"]');
                set_for_ck('rb_dietitians', '@dt.Rows[0]["DIETITIANS"]');
                set_for_ck('rb_dietitians_type', '@dt.Rows[0]["DIETITIANS_TYPE"]');
                set_for_ck('rb_dietitians_food', '@dt.Rows[0]["DIETITIANS_FOOD"]');
                set_for_ck('rb_therapist', '@dt.Rows[0]["THERAPIST"]');
                set_for_ck('rb_social', '@dt.Rows[0]["SOCIAL"]');
                var ck = document.getElementById('rb_dietitians_3');
                ckable(ck, 'rb_dietitians_type_1,rb_dietitians_type_2,rb_dietitians_type_3,rb_dietitians_type_4,rb_dietitians_food_1,rb_dietitians_food_2,rb_dietitians_food_3,rb_dietitians_food_4');
            });

            function set_for_ck(ck_name, val) {
                if (val != '') {
                    var default_val = val.split(",");
                    var ck = document.getElementsByName(ck_name);
                    for (var i = 0; i < default_val.length; i++) {
                        for (var j = 0; j < ck.length; j++) {
                            if (default_val[i] == ck[j].value)
                                ck[j].checked = true;
                        }
                    }
                }
            }

            function set_for_txt(txt_name, val) {
                if (val != '') {
                    var default_val = val.split(",");
                    var txt = document.getElementsByName(txt_name);
                    for (var i = 0; i < default_val.length; i++) {
                        txt[i].value = default_val[i];
                        txt[i].disabled = false;
                    }
                }
            }
    </script>
    }
}
<form action="@action" method="post">
    <div class="funcArea">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tr>
                <td>
                    <input id="btn_send" style="width: 80px; display: none;" type="submit" />
                    <input type="hidden" name="id" value="@id" />
                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; background-color: #E8F3FF">
                        <tr>
                            <th colspan="3">
                                <b>出院準備服務護理師</b>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input id="rb_nurse_1" name="rb_nurse" type="checkbox" value="簡介出院準備服務" />
                                <label for="rb_nurse_1">簡介出院準備服務</label>
                            </td>
                            <td>
                                <input id="rb_nurse_2" name="rb_nurse" type="checkbox" value="出院安置評估/轉介" />
                                <label for="rb_nurse_2">出院安置評估/轉介</label>
                            </td>
                            <td>
                                <input id="rb_nurse_3" name="rb_nurse" type="checkbox" value="照顧者照顧能力評估/指導" />
                                <label for="rb_nurse_3">照顧者照顧能力評估/指導</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="rb_nurse_4" name="rb_nurse" type="checkbox" value="居家醫療備物/輔具準備" />
                                <label for="rb_nurse_4">居家醫療備物/輔具準備</label>
                            </td>
                            <td>
                                <input id="rb_nurse_5" name="rb_nurse" type="checkbox" value="相關醫療/社會資源提供及轉介" />
                                <label for="rb_nurse_5">相關醫療/社會資源提供及轉介</label>
                            </td>
                            <td>
                                <input id="rb_nurse_6" name="rb_nurse" type="checkbox" value="家庭成員協調與聯繫" />
                                <label for="rb_nurse_6">家庭成員協調與聯繫</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3">
                                <input id="rb_nurse_7" name="rb_nurse" type="checkbox" value="醫療成員協調與聯繫" />
                                <label for="rb_nurse_7">醫療成員協調與聯繫</label>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="3">
                                <b>藥師</b>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input id="rb_pharmacist_1" name="rb_pharmacist" type="checkbox" value="訪視病人執行藥物評估" />
                                <label for="rb_pharmacist_1">訪視病人執行藥物評估，建議</label>
                            </td>
                            <td colspan="2">
                                <input id="rb_pharmacist_2" name="rb_pharmacist" type="checkbox" value="出院安置評估/轉介" />
                                <label for="rb_pharmacist_2">出院安置評估/轉介</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="rb_pharmacist_3" name="rb_pharmacist" onclick="ckable(this, 'txt_rb_pharmacist_3_1,txt_rb_pharmacist_3_2,txt_rb_pharmacist_3_3,txt_rb_pharmacist_3_4,txt_rb_pharmacist_3_5');" type="checkbox" value="服務指導" />
                                <label for="rb_pharmacist_3">服務指導</label>
                            </td>
                            <td colspan="2">
                                <div>
                                    <label for="txt_rb_pharmacist_3_1">藥名：</label>
                                    <input id="txt_rb_pharmacist_3_1" disabled="disabled" name="txt_rb_pharmacist_3" style="width: 100px;" type="text" />
                                    <label for="txt_rb_pharmacist_3_2">使用方法：</label>
                                    <input id="txt_rb_pharmacist_3_2" disabled="disabled" name="txt_rb_pharmacist_3" style="width: 100px;" type="text" />
                                    <label for="txt_rb_pharmacist_3_3">副作用：</label>
                                    <input id="txt_rb_pharmacist_3_3" disabled="disabled" name="txt_rb_pharmacist_3" style="width: 100px;" type="text" />
                                </div>
                                <div style="padding-top: 5px;">
                                    <label for="txt_rb_pharmacist_3_4">食物/藥物交互作用：</label>
                                    <input id="txt_rb_pharmacist_3_4" disabled="disabled" name="txt_rb_pharmacist_3" style="width: 100px;" type="text" />
                                    <label for="txt_rb_pharmacist_3_5">其他：</label>
                                    <input id="txt_rb_pharmacist_3_5" disabled="disabled" name="txt_rb_pharmacist_3" style="width: 100px;" type="text" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="3">
                                <b>營養師</b>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input id="rb_dietitians_1" name="rb_dietitians" type="checkbox" value="熱量" />
                                <label for="rb_dietitians_1">熱量</label>
                            </td>
                            <td colspan="2">
                                <input id="rb_dietitians_2" name="rb_dietitians" type="checkbox" value="蛋白質" />
                                <label for="rb_dietitians_2">蛋白質</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="rb_dietitians_3" name="rb_dietitians" onclick="ckable(this, 'rb_dietitians_type_1,rb_dietitians_type_2,rb_dietitians_type_3,rb_dietitians_type_4,rb_dietitians_food_1,rb_dietitians_food_2,rb_dietitians_food_3,rb_dietitians_food_4');" type="checkbox" value="管灌指導" />
                                <label for="rb_dietitians_3">管灌指導：灌食種類及調配法</label>
                            </td>
                            <td colspan="2">．教導飲食型態製備
                                <input id="rb_dietitians_type_1" disabled="disabled" name="rb_dietitians_type" type="checkbox" value="軟質" />
                                <label for="rb_dietitians_type_1">軟質</label>
                                <input id="rb_dietitians_type_2" disabled="disabled" name="rb_dietitians_type" type="checkbox" value="切碎" />
                                <label for="rb_dietitians_type_2">切碎</label>
                                <input id="rb_dietitians_type_3" disabled="disabled" name="rb_dietitians_type" type="checkbox" value="半流" />
                                <label for="rb_dietitians_type_3">半流</label>
                                <input id="rb_dietitians_type_4" disabled="disabled" name="rb_dietitians_type" type="checkbox" value="流質" />
                                <label for="rb_dietitians_type_4">流質</label>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="2">．教導治療飲食
                                <input id="rb_dietitians_food_1" disabled="disabled" name="rb_dietitians_food" type="checkbox" value="糖尿病" />
                                <label for="rb_dietitians_food_1">糖尿病</label>
                                <input id="rb_dietitians_food_2" disabled="disabled" name="rb_dietitians_food" type="checkbox" value="低鹽" />
                                <label for="rb_dietitians_food_2">低鹽</label>
                                <input id="rb_dietitians_food_3" disabled="disabled" name="rb_dietitians_food" type="checkbox" value="低蛋白" />
                                <label for="rb_dietitians_food_3">低蛋白</label>
                                <input id="rb_dietitians_food_4" disabled="disabled" name="rb_dietitians_food" type="checkbox" value="其他" />
                                <label for="rb_dietitians_food_4">其他</label>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="3">
                                <b>物理/職能/語言治療師</b>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div>
                                    <input id="rb_therapist_1" name="rb_therapist" type="checkbox" value="肢體關節/肌力訓練活動" />
                                    <label for="rb_therapist_1">肢體關節/肌力訓練活動</label>
                                </div>
                                <div style="padding-top: 5px;">
                                    ．說明關節/肌力訓練方法及注意事項
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input id="rb_therapist_2" name="rb_therapist" type="checkbox" value="移位指導" />
                                    <label for="rb_therapist_2">移位指導</label>
                                </div>
                                <div style="padding-top: 5px;">
                                    ．回覆示教移位方法及注意事項
                                </div>
                            </td>
                            <td>
                                <div>
                                    <input id="rb_therapist_3" name="rb_therapist" type="checkbox" value="吞嚥/語言訓練" />
                                    <label for="rb_therapist_3">吞嚥/語言訓練</label>
                                </div>
                                <div style="padding-top: 5px;">
                                    ．教導吞嚥/語言訓練步驟、注意事項
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th colspan="3">
                                <b>社工師</b>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <input id="rb_social_1" name="rb_social" type="checkbox" value="提供社會福利資源" />
                                <label for="rb_social_1">提供社會福利資源</label>
                            </td>
                            <td>
                                <input id="rb_social_2" name="rb_social" type="checkbox" value="心理支持/悲傷輔導" />
                                <label for="rb_social_2">心理支持/悲傷輔導</label>
                            </td>
                            <td>
                                <input id="rb_social_3" name="rb_social" type="checkbox" value="協助疾病適應/醫療了解" />
                                <label for="rb_social_3">協助疾病適應/醫療了解</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="rb_social_4" name="rb_social" type="checkbox" value="強化照顧支持系統" />
                                <label for="rb_social_4">強化照顧支持系統</label>
                            </td>
                            <td>
                                <input id="rb_social_5" name="rb_social" type="checkbox" value="經濟協助" />
                                <label for="rb_social_5">經濟協助</label>
                            </td>
                            <td>
                                <input id="rb_social_6" name="rb_social" type="checkbox" value="其他" />
                                <label for="rb_social_6">其他</label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</form>
