@using NIS.Data
@{
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];

    List<SysParamItem> PositionList = (List<SysParamItem>)ViewData["PositionList"];
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
    int ptAge = ptinof.Age;
    int ptMon = ptinof.Month;
    //判斷 Coma Scale
    string TitleCont_M = "", TitleCont_E = "", TitleCont_V = "", ComaScaleItem_M = "", ComaScaleItem_E = "", ComaScaleItem_V = "";
    switch(ptAge)
    {//這裡用 \n 才可以換行，直接在 title 裡放入 &#10; 才可以換行
        case 0:
        //if(0 <= ptMon && ptMon < 6)
        //{
        //    TitleCont_E = "0-6月: \n 自行睜眼　4分 \n 聽到聲音　3分 \n 痛刺激　　2分 \n 無反應　　1分 \n 無法睜眼　　C";  //E 註解文字
        //    TitleCont_V = "0-6月: \n 發出聲音　3分 \n 會哭　　　2分 \n 無反應　　1分 \n 氣切管          T \n 失語症          A \n 氣管內管       E";  //V 註解文字
        //    TitleCont_M = "0-6月: \n 肢體屈曲　3分 \n 肢體伸張　2分 \n 無反應　　1分";  //M 註解文字
        //    ComaScaleItem_E = "4|3|2|1|C";  //E 項目
        //    ComaScaleItem_V = "3|2|1|T|A|E";  //V 項目
        //    ComaScaleItem_M = "3|2|1";  //M 項目
        //}
        //else
        //{
        //    TitleCont_E = "6-12月: \n 自行睜眼　4分 \n 聽到聲音　3分 \n 痛刺激　　2分 \n 無反應　　1分 \n 無法睜眼　　C";  //E 註解文字
        //    TitleCont_V = "6-12月: \n 發出聲音　3分 \n 會哭　　　2分 \n 無反應　　1分 \n 氣切管          T \n 失語症          A \n 氣管內管       E";  //V 註解文字
        //    TitleCont_M = "6-12月: \n 對痛反應良好　　5分 \n 對痛可稍許活動 　4分 \n 對痛呈肢體屈曲　3分 \n 對痛呈肢體伸張　2分 \n 無反應　　1分";  //M 註解文字
        //    ComaScaleItem_E = "4|3|2|1|C";  //E 項目
        //    ComaScaleItem_V = "3|2|1|T|A|E";  //V 項目
        //    ComaScaleItem_M = "5|4|3|2|1";  //M 項目
        //}
        //break;
        case 1:
        //TitleCont_E = "1歲-2歲: \n 自行睜眼　4分 \n 聽到聲音　3分 \n 痛刺激　　2分 \n 無反應　　1分 \n 無法睜眼　　C";  //E 註解文字
        //TitleCont_V = "1歲-2歲: \n 可說話　　4分 \n 發出聲音　3分 \n 會哭　　　2分 \n 無反應　　1分 \n 氣切管          T \n 失語症          A \n 氣管內管       E";  //V 註解文字
        //TitleCont_M = "1歲-2歲: \n 對痛反應良好　　5分 \n 對痛可稍許活動　4分 \n 對痛呈肢體屈曲　3分 \n 對痛呈肢體伸張　2分 \n 無反應 　　1分";  //M 註解文字
        //ComaScaleItem_E = "4|3|2|1|C";  //E 項目
        //ComaScaleItem_V = "4|3|2|1|T|A|E";  //V 項目
        //ComaScaleItem_M = "5|4|3|2|1";  //M 項目
        //break;
        case 2:
            TitleCont_E = "2歲以下: \n 自動　4分 \n 語言指揮　3分 \n 對痛刺激　　2分 \n 無反應　　1分 \n 無法睜眼　　C";  //E 註解文字
            TitleCont_V = "2歲以下: \n 笑、傾聽　　5分  \n 哭泣但可安撫　　4分 \n 不當且持續性哭泣，偶可安撫　3分 \n 躁動不安，無法安撫　　　2分 \n 無反應　　1分 \n 氣切管          T \n 失語症          A \n 氣管內管       E";  //V 註解文字
            TitleCont_M = "2歲以下: \n 正常自然活動　　6分 \n 對輕觸有收縮反應　　5分 \n 對痛覺有收縮反應　4分 \n 去大腦皮質收縮　3分 \n 去大腦伸張　2分 \n 無反應 　　1分";  //M 註解文字
            ComaScaleItem_E = "4|3|2|1|C";  //E 項目
            ComaScaleItem_V = "5|4|3|2|1|T|A|E";  //V 項目
            ComaScaleItem_M = "6|5|4|3|2|1";  //M 項目
            break;
        case 3:
        case 4:
        //TitleCont_E = "2-5歲: \n 自行睜眼　4分 \n 聽到聲音　3分 \n 痛刺激　　2分 \n 無反應　　1分 \n 無法睜眼　　C";  //E 註解文字
        //TitleCont_V = "2-5歲: \n 可說話　　4分 \n 發出聲音　3分 \n 會哭　　　2分 \n 無反應　　1分 \n 氣切管          T \n 失語症          A \n 氣管內管       E";  //V 註解文字
        //TitleCont_M = "2-5歲: \n 活動可依指令而行　6分 \n 對痛反應良好　　　5分 \n 對痛可稍許活動　　4分 \n 對痛呈肢體屈曲　　3分 \n 對痛呈肢體伸張　　2分 \n 無反應　　1分";  //M 註解文字
        //ComaScaleItem_E = "4|3|2|1|C";  //E 項目
        //ComaScaleItem_V = "4|3|2|1|T|A|E";  //V 項目
        //ComaScaleItem_M = "6|5|4|3|2|1";  //M 項目
        //break;
        default:
            if(ptAge >= 18)
            {
                TitleCont_E = "EYES Open \n\n 4分:Spontaneous \n 3分:tospeech \n 2分:topain \n 1分:none \n c:無法睜眼";  //E 註解文字
                TitleCont_V = "Best Verbal Response \n\n 5分:Alert \n 4分:Confused \n 3分:Drowsy \n 2分:Groans \n 1分:None \n T:Trachea \n A:Aphasia \n E:Endo";  //V 註解文字
                TitleCont_M = "Best Motor Response \n\n 6分:Obeys \n 5分:Localized pain \n 4分:Withdrawal \n 3分:Ab, flexion \n 2分:Extension \n 1分:None";  //M 註解文字
                ComaScaleItem_E = "4|3|2|1|C";  //E 項目
                ComaScaleItem_V = "5|4|3|2|1|T|A|E";  //V 項目
                ComaScaleItem_M = "6|5|4|3|2|1";  //M 項目
                break;
            }
            else
            {
                TitleCont_E = "2歲以上: \n 自動　4分 \n 語音指揮　3分 \n 對痛刺激　　2分 \n 無反應　　1分 \n 無法睜眼　　C";  //E 註解文字
                TitleCont_V = "2歲以上: \n 表達適當，具定向感　　5分 \n 混亂，迷糊不清　　4分 \n 表達不適當　3分 \n 說話含糊不清　　　2分 \n 無反應　　1分 \n 氣切管          T \n 失語症          A \n 氣管內管       E";  //V 註解文字 
                TitleCont_M = "2歲以上: \n 聽從指揮　6分 \n 痛覺定位　　　5分 \n 收縮反應　　4分 \n 去大腦皮質收縮　　3分 \n 去大腦伸張　　2分 \n 無反應　　1分";  //M 註解文字
                ComaScaleItem_E = "4|3|2|1|C";  //E 項目
                ComaScaleItem_V = "5|4|3|2|1|T|A|E";  //V 項目
                ComaScaleItem_M = "6|5|4|3|2|1";  //M 項目
                break;
            }
    }

}

<style type="text/css">
    .PositionItem
    {
        display: inline-block;
        width: 16%;
    }

    #PainPosition label, #PainPosition input[type=checkbox], #PainPosition input[type=radio]
    {
        cursor: pointer;
    }
</style>

<div style="text-align:center;">
    <input type="button" value="儲存" class="btn-sm btn-Edit" onclick="ToSave();" />
    <input type="button" value="放棄" class="btn-sm" onclick="if (confirm('是否放棄編輯')) { Back(); }" />
</div>
<div class="dataArea" id="PainPositinoContent" style="margin-top:10px;">
    <input type="hidden" id="PainCode" />
    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
        <tr>
            <th>評估日期時間</th>
            <td colspan="2" style="width:85%;">
                <input type="text" id="ReocordDate" name="ReocordDate" value="@DateTime.Now.ToString("yyyy/MM/dd")" />
                <input type="text" id="ReocordTime" name="ReocordTime" value="@DateTime.Now.ToString("HH:mm")" />
                @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "ReocordDate", "ReocordTime", true)
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">目前意識狀態(conscious level)</th>
            <td colspan="2">
                <label><input type="radio" class="req_ck" name="ConsciosLevel" value="清醒" />清醒</label>
                <label><input type="radio" name="ConsciosLevel" value="嗜睡" />嗜睡</label>
                <label><input type="radio" name="ConsciosLevel" value="半昏迷" />半昏迷</label>
                <label><input type="radio" name="ConsciosLevel" value="昏迷" />昏迷</label>
                <label><input type="radio" name="ConsciosLevel" value="木僵" />木僵</label>
            </td>
        </tr>
         <tr>
            <th rowspan="3" class="AlertTitle">
                昏迷指數
                <br /><input type="button" class="btn-sm" value="帶入" onclick="SelectGCS();" />
            </th>
            <td colspan="3">
                <a style="text-decoration: none; color: blue;font-size:14px;" href="javascript:void(0);" class="tooltip" title="@(TitleCont_E)">
                       <img src="~/Images/med_dictionary.png" class="medbook" border="0" /> 睜眼反射(E)：
                </a>
               @* <span class="CLSpanFixedWidth3">
                        @Shared_Helper.list_shared_radio("GCS_E", ComaScaleItem_E, "", "")
                </span>*@
                 @for(int i = 0; i < ComaScaleItem_E.Trim('|').Split('|').Length; i++)
                 {
                     string TempClass = "";
                     string[] Item_E = ComaScaleItem_E.Trim('|').Split('|');
                     if(i == 0) { TempClass = "req_ck"; }
                  @Html.Raw("<label><input type='radio' class='" + TempClass + "' name='GCS_E' value='" + Item_E[i] + "' />" + Item_E[i] + "</label>")
                 }
             </td>
        </tr>
        <tr>
            <td colspan="3">
                <a style="text-decoration: none; color: blue;font-size:14px;" href="javascript:void(0);" class="tooltip" title="@(TitleCont_V)">
                        <img src="~/Images/med_dictionary.png" class="medbook" border="0" /> 語言反射(V)：
                </a>
               @* <span class="CLSpanFixedWidth3">
                         @Shared_Helper.list_shared_radio("GCS_V", ComaScaleItem_V, "", "")
                </span>*@
                @for(int i = 0; i < ComaScaleItem_V.Trim('|').Split('|').Length; i++)
                {
                    string TempClass = "";
                    string[] Item_V = ComaScaleItem_V.Trim('|').Split('|');
                    if(i == 0) { TempClass = "req_ck"; }
                  @Html.Raw("<label><input type='radio' class='" + TempClass + "' name='GCS_V' value='" + Item_V[i] + "' />" + Item_V[i] + "</label>")
                }
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <a style="text-decoration: none; color: blue;font-size:14px;" href="javascript:void(0);" class="tooltip" title="@(TitleCont_M)">
                       <img src="~/Images/med_dictionary.png" class="medbook" border="0" /> 運動反射(M)：
                </a>
               @* <span class="CLSpanFixedWidth3">
                       @Shared_Helper.list_shared_radio("GCS_M", ComaScaleItem_M, "", "")
                </span>*@
                @for(int i = 0; i < ComaScaleItem_M.Trim('|').Split('|').Length; i++)
                {
                    string TempClass = "";
                    string[] Item_M = ComaScaleItem_M.Trim('|').Split('|');
                    if(i == 0) { TempClass = "req_ck"; }
                  @Html.Raw("<label><input type='radio' class='" + TempClass + "' name='GCS_M' value='" + Item_M[i] + "' />" + Item_M[i] + "</label>")
                }
            </td>
        </tr>


        <tr>
            <th class="AlertTitle">疼痛部位</th>
            <td colspan="2">
                @foreach(SysParamItem item in PositionList)
                {
                <div class="PositionItem"><label><input type="checkbox" name="PositionItem" value="@item.p_value" onclick="SwitchPosition(this);" />@item.p_name</label></div>
                }
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">疼痛是否延伸</th>
            <td colspan="2">
                <label><input type="radio" class="req_ck" name="PainExtend" data-target="Y" onclick="SwitchSubProject(this);" value="是" />是</label>
                <label><input type="radio" name="PainExtend" onclick="SwitchSubProject(this);" value="否" />否</label>
            </td>
        </tr>
        <tr class="PainExtend" style="display:none;">
            <th class="AlertTitle">延伸部位</th>
            <td colspan="2">
                @foreach(SysParamItem item in PositionList)
                {
                <div class="PositionItem"><label><input type="checkbox" disabled="disabled" name="ExtendPositionItem" value="@item.p_value" />@item.p_name</label></div>
                }
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">疼痛強度(Pain level)</th>
            <td style="width:20%;">
                <label><input type="radio" class="req_ck" name="PainLevel" value="數字量表" data-target="Number" onclick="SwitchPainLevel(this);" />數字量表</label><br />
                <label><input type="radio" name="PainLevel" value="臉譜量表" data-target="Face" onclick="SwitchPainLevel(this);" />臉譜量表</label><br />
                <label><input type="radio" name="PainLevel" value="困難評估(成人)" data-target="Adult" onclick="SwitchPainLevel(this);" />困難評估(成人)</label><br />
                <label><input type="radio" name="PainLevel" value="困難評估(兒童)" data-target="Child" onclick="SwitchPainLevel(this);" />困難評估(兒童)</label><br />
                <label><input type="radio" name="PainLevel" value="困難評估(新生兒)" data-target="Baby" onclick="SwitchPainLevel(this);" />困難評估(新生兒)</label><br />
                <label><input type="radio" name="PainLevel" value="CPOT評估(加護單位)" data-target="CPOT" onclick="SwitchPainLevel(this);" />CPOT評估(加護單位)</label>
            </td>
            <td style="width:65%;">
                <div class="PainLevel Number" style="display:none;">
                    <label><input type="radio" class="req_ck" name="PainLevel_Number" value="(0)" />(0)</label>
                    <label><input type="radio" name="PainLevel_Number" value="(1)" />(1)</label>
                    <label><input type="radio" name="PainLevel_Number" value="(2)" />(2)</label>
                    <label><input type="radio" name="PainLevel_Number" value="(3)" />(3)</label>
                    <label><input type="radio" name="PainLevel_Number" value="(4)" />(4)</label>
                    <label><input type="radio" name="PainLevel_Number" value="(5)" />(5)</label>
                    <label><input type="radio" name="PainLevel_Number" value="(6)" />(6)</label>
                    <label><input type="radio" name="PainLevel_Number" value="(7)" />(7)</label>
                    <label><input type="radio" name="PainLevel_Number" value="(8)" />(8)</label>
                    <label><input type="radio" name="PainLevel_Number" value="(9)" />(9)</label>
                    <label><input type="radio" name="PainLevel_Number" value="(10)" />(10)</label>
                </div>
                <div class="PainLevel Face" style="display:none;">
                    <div style="display:inline-block;width:49%;">
                        <img src="@Url.Content("~/Images/NumericalPainScale/ps_chart_up.png")" alt="" width="225" />
                        <div>
                            <label><input type="radio" class="req_ck" name="PainLevel_Face" value="(0)" />(0)</label>
                            <label><input type="radio" name="PainLevel_Face" value="(1)" />(1)</label>
                            <label><input type="radio" name="PainLevel_Face" value="(2)" />(2)</label>
                            <label><input type="radio" name="PainLevel_Face" value="(3)" />(3)</label>
                            <label><input type="radio" name="PainLevel_Face" value="(4)" />(4)</label>
                            <label><input type="radio" name="PainLevel_Face" value="(5)" />(5)</label>
                        </div>
                    </div>                                                              
                    <div style="display:inline-block;width:49%;">               
                        <img src="@Url.Content("~/Images/NumericalPainScale/ps_chart_down.png")" alt="" width="225"/>
                        <div>
                            <label><input type="radio" name="PainLevel_Face" value="(6)" />(6)</label>
                            <label><input type="radio" name="PainLevel_Face" value="(7)" />(7)</label>
                            <label><input type="radio" name="PainLevel_Face" value="(8)" />(8)</label>
                            <label><input type="radio" name="PainLevel_Face" value="(9)" />(9)</label>
                            <label><input type="radio" name="PainLevel_Face" value="(10)" />(10)</label>
                        </div>
                    </div>
                </div>
                <div class="PainLevel Adult" style="display:none;">
                    <div>
                        呼吸：<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Adult_Breath" value="(0)正常" />(0)正常</label><br />
                        <label><input type="radio" name="PainLevel_Adult_Breath" value="(1)略喘" />(1)略喘</label><br />
                        <label><input type="radio" name="PainLevel_Adult_Breath" value="(2)喘(有明顯呼吸音)/呼吸呈現陳施氏呼吸型態(Cheyne-Stokes respiration)" />(2)喘(有明顯呼吸音)/呼吸呈現陳施氏呼吸型態(Cheyne-Stokes respiration)</label>
                        <hr />
                    </div>
                    <div>
                        非言語表達：<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Adult_NoLG" value="(0)無" />(0)無</label><br />
                        <label><input type="radio" name="PainLevel_Adult_NoLG" value="(1)呻吟聲" />(1)呻吟聲</label><br />
                        <label><input type="radio" name="PainLevel_Adult_NoLG" value="(2)大聲呻吟/哭泣" />(2)大聲呻吟/哭泣</label>
                        <hr />
                    </div>
                    <div>
                        臉部表情：<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Adult_Face" value="(0)輕鬆自然" />(0)輕鬆自然</label><br />
                        <label><input type="radio" name="PainLevel_Adult_Face" value="(1)蹙眉/憂愁" />(1)蹙眉/憂愁</label><br />
                        <label><input type="radio" name="PainLevel_Adult_Face" value="(2)痛苦狀" />(2)痛苦狀</label>
                        <hr />
                    </div>
                    <div>
                        肢體語言：<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Adult_Body" value="(0)微笑/輕鬆" />(0)微笑/輕鬆</label><br />
                        <label><input type="radio" name="PainLevel_Adult_Body" value="(1)緊張" />(1)緊張</label><br />
                        <label><input type="radio" name="PainLevel_Adult_Body" value="(2)僵硬/咬緊牙關" />(2)僵硬/咬緊牙關</label>
                        <hr />
                    </div>
                    <div>
                        安撫：<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Adult_Appease" value="(0)不需要" />(0)不需要</label><br />
                        <label><input type="radio" name="PainLevel_Adult_Appease" value="(1)需要" />(1)需要</label><br />
                        <label><input type="radio" name="PainLevel_Adult_Appease" value="(2)無法安撫" />(2)無法安撫</label>
                    </div>
                </div>
                <div class="PainLevel Child" style="display:none;">
                    <div>
                        臉部表情:<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Child_Face" value="(0)沒有特別的表情或微笑" />(0)沒有特別的表情或微笑</label><br />
                        <label><input type="radio" name="PainLevel_Child_Face" value="(1)偶爾出現鬼臉、皺眉、退縮，或對週遭刺激缺乏興趣" />(1)偶爾出現鬼臉、皺眉、退縮，或對週遭刺激缺乏興趣</label><br />
                        <label><input type="radio" name="PainLevel_Child_Face" value="(2)下巴頻繁地顫抖或下巴緊閉" />(2)下巴頻繁地顫抖或下巴緊閉</label>
                        <hr />
                    </div>
                    <div>
                        腳部:<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Child_Legs" value="(0)正常位置肢體放鬆" />(0)正常位置肢體放鬆</label><br />
                        <label><input type="radio" name="PainLevel_Child_Legs" value="(1)不安、焦躁不安、緊張" />(1)不安、焦躁不安、緊張</label><br />
                        <label><input type="radio" name="PainLevel_Child_Legs" value="(2)拳打腳踢腿拉長伸直" />(2)拳打腳踢腿拉長伸直</label>
                        <hr />
                    </div>
                    <div>
                        活動力:<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Child_Activity" value="(0)平靜的躺臥、正常的擺位可以輕鬆移動" />(0)平靜的躺臥、正常的擺位可以輕鬆移動</label><br />
                        <label><input type="radio" name="PainLevel_Child_Activity" value="(1)扭動不安、前後翻滾身體緊張" />(1)扭動不安、前後翻滾身體緊張</label><br />
                        <label><input type="radio" name="PainLevel_Child_Activity" value="(2)身體拱起、僵硬、抽搐、痙攣" />(2)身體拱起、僵硬、抽搐、痙攣</label>
                        <hr />
                    </div>
                    <div>
                        哭泣:<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Child_Crying" value="(0)沒有哭泣(醒著或睡著)" />(0)沒有哭泣(醒著或睡著)</label><br />
                        <label><input type="radio" name="PainLevel_Child_Crying" value="(1)呻吟或哽咽偶而哭吵" />(1)呻吟或哽咽偶而哭吵</label><br />
                        <label><input type="radio" name="PainLevel_Child_Crying" value="(2)不斷哭吵、尖叫、啜泣" />(2)不斷哭吵、尖叫、啜泣</label>
                        <hr />
                    </div>
                    <div>
                        安撫:<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Child_Consolability" value="(0)滿足的、放鬆的" />(0)滿足的、放鬆的</label><br />
                        <label><input type="radio" name="PainLevel_Child_Consolability" value="(1)撫觸、擁抱、說話，或轉移注意，可稍加安撫" />(1)撫觸、擁抱、說話，或轉移注意，可稍加安撫</label><br />
                        <label><input type="radio" name="PainLevel_Child_Consolability" value="(2)難以安撫" />(2)難以安撫</label>
                    </div>
                </div>
                <div class="PainLevel Baby" style="display:none;">
                    <div>
                        哭泣:<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Baby_Crying" value="(0)無" />(0)無</label><br />
                        <label><input type="radio" name="PainLevel_Baby_Crying" value="(1)高音頻的哭泣聲/尚可被安撫" />(1)高音頻的哭泣聲/尚可被安撫</label><br />
                        <label><input type="radio" name="PainLevel_Baby_Crying" value="(2)傷心欲絕的高頻哭泣/無法被安撫" />(2)傷心欲絕的高頻哭泣/無法被安撫</label>
                        <hr />
                    </div>
                    <div>
                        需氧量；血氧飽合濃度高於95%:<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Baby_FiO2" value="(0)毋須使用氧氣" />(0)毋須使用氧氣</label><br />
                        <label><input type="radio" name="PainLevel_Baby_FiO2" value="(1)FiO2 < 30%" />(1)FiO2 < 30%</label><br />
                        <label><input type="radio" name="PainLevel_Baby_FiO2" value="(2)FiO2 > 30%" />(2)FiO2 > 30%</label>
                        <hr />
                    </div>
                    <div>
                        生命徵象:<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Baby_VT" value="(0)心跳速率及血壓 = 或 < 手術/侵入性治療前" />(0)心跳速率及血壓 = 或 < 手術/侵入性治療前</label><br />
                        <label><input type="radio" name="PainLevel_Baby_VT" value="(1)心跳速率或血壓較手術/侵入性治療前上升【增加<20%】" />(1)心跳速率或血壓較手術/侵入性治療前上升【增加<20%】</label><br />
                        <label><input type="radio" name="PainLevel_Baby_VT" value="(2)心跳速率或血壓較手術/侵入性治療前上升【增加>20%】" />(2)心跳速率或血壓較手術/侵入性治療前上升【增加>20%】</label>
                        <hr />
                    </div>
                    <div>
                        表情:<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Baby_Expression" value="(0)平靜，無特殊表情變化" />(0)平靜，無特殊表情變化</label><br />
                        <label><input type="radio" name="PainLevel_Baby_Expression" value="(1)表情扭曲、作鬼臉" />(1)表情扭曲、作鬼臉</label><br />
                        <label><input type="radio" name="PainLevel_Baby_Expression" value="(2)表情極度痛苦，出現呻吟聲" />(2)表情極度痛苦，出現呻吟聲</label>
                        <hr />
                    </div>
                    <div>
                        睡眠狀態:<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_Baby_Sleepless" value="(0)安睡" />(0)安睡</label><br />
                        <label><input type="radio" name="PainLevel_Baby_Sleepless" value="(1)經常醒來" />(1)經常醒來</label><br />
                        <label><input type="radio" name="PainLevel_Baby_Sleepless" value="(2)無法入眠" />(2)無法入眠</label>
                        <hr />
                    </div>
                </div>
                <div class="PainLevel CPOT" style="display:none;">
                    <div>
                        臉部表情：<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_CPOT_Face" value="(0)未見面部肌肉緊張" />(0)未見面部肌肉緊張</label><br />
                        <label><input type="radio" name="PainLevel_CPOT_Face" value="(1)表現為皺眉，面部肌肉緊張" />(1)表現為皺眉，面部肌肉緊張</label><br />
                        <label><input type="radio" name="PainLevel_CPOT_Face" value="(2)出現以上所有表情並雙眼緊閉" />(2)出現以上所有表情並雙眼緊閉</label>
                        <hr />
                    </div>
                    <div>
                        身體動作：<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_CPOT_Body" value="(0)安靜，無運動（不一定表示無疼痛）" />(0)安靜，無運動（不一定表示無疼痛）</label><br />
                        <label><input type="radio" name="PainLevel_CPOT_Body" value="(1)緩慢小心地移動，輕撫痛處，通過移動身體引起別人的注意" />(1)緩慢小心地移動，輕撫痛處，通過移動身體引起別人的注意</label><br />
                        <label><input type="radio" name="PainLevel_CPOT_Body" value="(2)拉扯氣管插管，試圖坐起，在床上翻來覆去，不配合指示，襲擊工作人員，試圖翻越床欄" />(2)拉扯氣管插管，試圖坐起，在床上翻來覆去，不配合指示，襲擊工作人員，試圖翻越床欄</label>
                        <hr />
                    </div>
                    <div>
                        肌肉緊張：<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_CPOT_Muscle" value="(0)被動運動時無阻力" />(0)被動運動時無阻力</label><br />
                        <label><input type="radio" name="PainLevel_CPOT_Muscle" value="(1)被動運動時有阻力" />(1)被動運動時有阻力</label><br />
                        <label><input type="radio" name="PainLevel_CPOT_Muscle" value="(2)被動運動時阻力非常大，無法完成動作" />(2)被動運動時阻力非常大，無法完成動作</label>
                        <hr />
                    </div>
                    <div>
                        呼吸器：<br />
                        <label><input type="radio" class="req_ck" name="PainLevel_CPOT_Breath" value="(0)無呼吸器說話時語調平穩或不出聲" />(0)無呼吸器說話時語調平穩或不出聲</label><br />
                        <label><input type="radio" name="PainLevel_CPOT_Breath" value="(1)無呼吸器嘆息、呻吟" />(1)無呼吸器嘆息、呻吟</label><br />
                        <label><input type="radio" name="PainLevel_CPOT_Breath" value="(2)無呼吸器哭喊、抽泣" />(2)無呼吸器哭喊、抽泣</label><br />
                        <label><input type="radio" name="PainLevel_CPOT_Breath" value="(0)有呼吸器通氣順暢，無呼吸機報警" />(0)有呼吸器通氣順暢，無呼吸機報警</label><br />
                        <label><input type="radio" name="PainLevel_CPOT_Breath" value="(1)有呼吸器嗆咳，呼吸機報警觸發，疼痛時自主呼吸暫停" />(1)有呼吸器嗆咳，呼吸機報警觸發，疼痛時自主呼吸暫停</label><br />
                        <label><input type="radio" name="PainLevel_CPOT_Breath" value="(2)有呼吸器人機不同步，呼吸機頻繁報警" />(2)有呼吸器人機不同步，呼吸機頻繁報警</label>
                        <hr />
                    </div>                    
                </div>
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">疼痛性質</th>
            <td colspan="2">
                <div class="PositionItem"><label><input type="checkbox" name="PainNature" value="無法評估" />無法評估</label></div>
                <div class="PositionItem"><label><input type="checkbox" class="req_ck" name="PainNature" value="刺痛" />刺痛</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainNature" value="刀割痛" />刀割痛</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainNature" value="鈍痛" />鈍痛</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainNature" value="悶痛" />悶痛</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainNature" value="抽痛" />抽痛</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainNature" value="壓痛" />壓痛</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainNature" value="燒灼痛" />燒灼痛</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainNature" value="感覺異常痛" />感覺異常痛</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainNature" value="戳痛" />戳痛</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainNature" value="脹痛" />脹痛</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainNature" value="臟器痛" />臟器痛</label></div>               
                <div>
                    <label><input type="checkbox" name="PainNature" onclick="SwitchSubProject(this);" value="其他" />其他</label>
                    <span class="PainNature" style="display:none;">
                        <input type="text" class="req_txt" name="PainNature_Other" disabled="disabled" />
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">疼痛反應(reaction of pain)</th>
            <td colspan="2">
                <div class="PositionItem"><label><input type="checkbox" class="req_ck" name="PainReaction" value="無" />無</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainReaction" value="逃避按壓" />逃避按壓</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainReaction" value="呻吟" />呻吟</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainReaction" value="愁眉苦臉" />愁眉苦臉</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainReaction" value="屈身" />屈身</label></div>
                <div class="PositionItem"><label><input type="checkbox" name="PainReaction" value="不敢移動" />不敢移動</label></div>
                <div>
                    <label><input type="checkbox" name="PainReaction" onclick="SwitchSubProject(this);" value="其他" />其他</label>
                    <span class="PainReaction" style="display:none;">
                        <input type="text" class="req_txt" name="PainReaction_Other" disabled="disabled" />
                    </span>
                </div>
            </td>
        </tr>
        <tr>
            <th rowspan="4">疼痛發生時間</th>
            <th class="AlertTitle">何時開始(pain start)</th>
            <td>
                <label><input type="radio" class="req_ck" name="PainStart" onclick="SwitchSubProject(this);" value="不清楚" />不清楚</label>
                <label><input type="radio" name="PainStart" data-target="Y" onclick="SwitchSubProject(this); $('#PainStart_TimeNum').show();" value="清楚" />清楚</label>
                <span class="PainStart" style="display:none;">
                    <input type="text" class="req_txt btn-sm" name="PainStart_TimeNum" id="PainStart_TimeNum" disabled="disabled" />
                    <select class="req_txt" id="PainStart_TimeUnit" name="PainStart_TimeUnit" disabled="disabled" onchange="PainStart_TimeUnit_change();" >
                        <option value="分鐘前">分鐘前</option>
                        <option value="小時前">小時前</option>
                        <option value="天前">天前</option>
                        <option value="周前">周前</option>
                        <option value="月前">月前</option>
                        <option value="年前">年前</option>
                        @*<option value="手術後">手術後</option>*@
                    </select>
                </span>
                <label><input type="radio" class="req_ck" name="PainStart" onclick="SwitchSubProject(this);" value="手術後" />手術後</label>
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">疼痛頻率(pain duration)</th>
            <td>
                <label><input type="radio" class="req_ck" name="PainFreq" onclick="SwitchSubProject(this);" value="不清楚" />不清楚</label>
                <label><input type="radio" name="PainFreq" onclick="SwitchSubProject(this);" value="給予刺激才痛" />給予刺激才痛</label>
                <label><input type="radio" name="PainFreq" onclick="SwitchSubProject(this);" value="一直持續痛" />一直持續痛</label>
                <label><input type="radio" name="PainFreq" data-target="Y" onclick="SwitchSubProject(this);" value="其他" />其他</label>
                <span class="PainFreq" style="display:none;">
                    <input type="text" class="req_txt" name="PainFreq_Other" disabled="disabled" />
                </span>
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">每天持續疼痛多久(pain duration)</th>
            <td>
                <label><input type="radio" class="req_ck" name="PainDuration" onclick="SwitchSubProject(this);" value="不一定" />不一定</label>
                <label><input type="radio" name="PainDuration" data-target="Y" onclick="SwitchSubProject(this);" value="固定" />固定</label>
                <span class="PainDuration" style="display:none;">
                    <input type="text" class="req_txt btn-sm" name="PainDuration_TimeNum" disabled="disabled" />
                    <select class="req_txt" name="PainDuration_TimeUnit" disabled="disabled">
                        <option value="分鐘">分鐘</option>
                        <option value="小時">小時</option>
                    </select>
                </span>
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">一天中最痛的時刻為</th>
            <td>
                <label><input type="checkbox" class="req_ck" name="PainMustTime" value="不清楚" />不清楚</label>
                <label><input type="checkbox" name="PainMustTime" value="不一定" />不一定</label>
                <label><input type="checkbox" name="PainMustTime" value="早上" />早上</label>
                <label><input type="checkbox" name="PainMustTime" value="中午" />中午</label>
                <label><input type="checkbox" name="PainMustTime" value="晚上" />晚上</label>
                <label><input type="checkbox" name="PainMustTime" onclick="SwitchSubProject(this);" value="其他" />其他</label>
                <span class="PainMustTime" style="display:none;">
                    <input class="req_txt" type="text" name="PainMustTime_Other" disabled="disabled" />
                </span>
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">疼痛持續的時間</th>
            <td colspan="2">
                <label><input type="radio" class="req_ck" name="PainContinue" value="小於六個月" />小於六個月</label>
                <label><input type="radio" name="PainContinue" value="大於等於六個月" />大於等於六個月</label>
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">緩解疼痛的辦法</th>
            <td colspan="2">
                <label><input type="checkbox" class="req_ck" name="PainRelieve" value="無" />無</label>
                <label><input type="checkbox" name="PainRelieve" value="按摩" />按摩</label>
                <label><input type="checkbox" name="PainRelieve" value="熱敷" />熱敷</label>
                <label><input type="checkbox" name="PainRelieve" value="冷敷" />冷敷</label>
                <label><input type="checkbox" name="PainRelieve" value="不動" />不動</label>
                <label><input type="checkbox" name="PainRelieve" value="不碰觸" />不碰觸</label>
                <label><input type="checkbox" name="PainRelieve" onclick="SwitchSubProject(this);" value="其它方式" />其它方式</label>
                <span class="PainRelieve" style="display:none;">
                    <input type="text" class="req_txt" name="PainRelieve_Other" disabled="disabled" />
                </span>
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">加重疼痛的因素</th>
            <td colspan="2">
                <label><input type="checkbox" class="req_ck" name="PainMore" value="無" />無</label>
                <label><input type="checkbox" name="PainMore" value="按摩" />按摩</label>
                <label><input type="checkbox" name="PainMore" value="碰觸" />碰觸</label>
                <label><input type="checkbox" name="PainMore" value="移動" />移動</label>
                <label><input type="checkbox" name="PainMore" value="咳嗽" />咳嗽</label>
                <label><input type="checkbox" name="PainMore" value="進食" />進食</label>
                <label><input type="checkbox" name="PainMore" onclick="SwitchSubProject(this);" value="其它" />其它</label>
                <span class="PainMore" style="display:none;">
                    <input type="text" class="req_txt" name="PainMore_Other" disabled="disabled" />
                </span>
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">因痛而伴隨發生之症狀</th>
            <td colspan="2">
                <label><input type="checkbox" class="req_ck" name="PainSymptomBy" value="無" />無</label>
                <label><input type="checkbox" name="PainSymptomBy" value="噁心" />噁心</label>
                <label><input type="checkbox" name="PainSymptomBy" value="嘔吐" />嘔吐</label>
                <label><input type="checkbox" name="PainSymptomBy" value="頭痛" />頭痛</label>
                <label><input type="checkbox" name="PainSymptomBy" value="暈眩" />暈眩</label>
                <label><input type="checkbox" name="PainSymptomBy" value="冒汗" />冒汗</label>
                <label><input type="checkbox" name="PainSymptomBy" onclick="SwitchSubProject(this);" value="其它" />其它</label>
                <span class="PainSymptomBy" style="display:none;">
                    <input type="text" class="req_txt" name="PainSymptomBy_Other" disabled="disabled" />
                </span>
            </td>
        </tr>
        <tr>
            <th rowspan="2">因疼痛造成之影響</th>
            <th class="AlertTitle">一般</th>
            <td>
                <label><input type="checkbox" class="req_ck" name="PainEffect_Normal" value="無" />無</label>
                <label><input type="checkbox" name="PainEffect_Normal" value="睡眠" />睡眠</label>
                <label><input type="checkbox" name="PainEffect_Normal" value="一般活動" />一般活動</label>
                <label><input type="checkbox" name="PainEffect_Normal" value="食慾" />食慾</label>
                <label><input type="checkbox" name="PainEffect_Normal" value="注意力" />注意力</label>
                <label><input type="checkbox" name="PainEffect_Normal" value="憤怒" />憤怒</label>
                <label><input type="checkbox" name="PainEffect_Normal" value="哭泣" />哭泣</label>
                <label><input type="checkbox" name="PainEffect_Normal" value="自殺意圖" />自殺意圖</label>
            </td>
        </tr>
        <tr>
            <th class="AlertTitle">人際關係</th>
            <td>
                <label><input type="checkbox" class="req_ck" name="PainEffect_Relationship" value="無" />無</label>
                <label><input type="checkbox" name="PainEffect_Relationship" value="暴躁" />暴躁</label>
                <label><input type="checkbox" name="PainEffect_Relationship" value="易怒" />易怒</label>
                <label><input type="checkbox" name="PainEffect_Relationship" value="不安" />不安</label>
                <label><input type="checkbox" name="PainEffect_Relationship" onclick="SwitchSubProject(this);" value="其它" />其它</label>
                <span class="PainEffect_Relationship" style="display:none;">
                    <input type="text" class="req_txt" name="PainEffect_Relationship_Other" disabled="disabled" />
                </span>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $("#PainPositinoContent").outerHeight(height - 60);
            $('#VTList .dataArea').outerHeight($('#VTList').outerHeight() - 60);
            $('#VTList').css({
                right: ($(document).outerWidth() - $('#VTList').outerWidth()) / 2,
                top: ($(document).outerHeight() - $('#VTList').outerHeight()) / 2
            })
        }).trigger("resize");
        //SetDateTime($('#ReocordDate'), $('#ReocordTime'));
        setGridColor();
    });

    function Back() {
        $('#PainPosition').empty().hide();
        $('#List').show();
    }

    function BindGCS(obj) {
        $('#PainPositinoContent input[type=radio][name=GCS_E][value=' + $(obj).attr('data-E') + ']').prop('checked', true);
        $('#PainPositinoContent input[type=radio][name=GCS_V][value=' + $(obj).attr('data-V') + ']').prop('checked', true);
        $('#PainPositinoContent input[type=radio][name=GCS_M][value=' + $(obj).attr('data-M') + ']').prop('checked', true);
        CloseGCS();
    }

    function SwitchPosition(obj) {
        if ($(obj).prop('checked'))
            $('#PainPositinoContent input[type=checkbox][name=ExtendPositionItem][value=' + $(obj).val() + ']').prop('checked', false).parent().parent().hide();
        else
            $('#PainPositinoContent input[type=checkbox][name=ExtendPositionItem][value=' + $(obj).val() + ']').parent().parent().show();
    }

    function SwitchPainLevel(obj) {
        $('#PainPositinoContent .' + $(obj).attr('name')).hide().find('*').prop('checked', false);
        $('#PainPositinoContent .' + $(obj).attr('data-target')).show();
    }

    function SwitchSubProject(obj) {
        switch ($(obj).attr('type')) {
            case 'radio':
                SwitchSubProject_(obj, $(obj).attr('data-target') == "Y");
                break;
            case 'checkbox':
                SwitchSubProject_(obj, $(obj).prop('checked'));
                break;
        }
    }

    function SwitchSubProject_(obj, bool) {
        var obj_ = '#PainPositinoContent .' + $(obj).attr('name');
        if (bool) {
            $(obj_).show().find('*').prop('disabled', false);
            $(obj_).find('input[type=text]:first').focus();
        }
        else {
            $(obj_).hide().find('input[type=text]').val('').prop('disabled', true);
            $(obj_).find('select').prop('selectedIndex', 0).prop('disabled', true);
            $(obj_).find('input[type=radio], input[type=checkbox]').prop('checked', false).prop('disabled', true);
        }
    }

    function ToSave() {
        if (Check()) {
            loop_windows("open_cover");
            var DataList = [];
            var DataObj;
            $.each($('#PainPositinoContent .req_ck:visible:enabled'), function (i, item) {
                DataObj = new Object();
                DataObj["Name"] = $(item).attr('name');
                if ($(item).attr('type') == 'radio')
                    DataObj["Value"] = $('#PainPositinoContent input[name=' + $(item).attr('name') + ']:checked').val();
                else
                    DataObj["Value"] = $('#PainPositinoContent input[name=' + $(item).attr('name') + ']:checked').map(function () { return $(this).val(); }).get().join(',');
                DataList.push(DataObj);
            });
            $.each($('#PainPositinoContent .req_txt:visible:enabled'), function (i, item) {
                DataObj = new Object();
                DataObj["Name"] = $(item).attr('name');
                DataObj["Value"] = $.trim($(item).val());
                DataList.push(DataObj);
            });
            DataObj = new Object();
            DataObj["Name"] = 'ExtendPositionItem';
            DataObj["Value"] = $('#PainPositinoContent input[type=checkbox][name=ExtendPositionItem]:checked').map(function () { return $(this).val(); }).get().join(',');
            DataList.push(DataObj);

            $.ajax({
                type: 'POST',
                url: '@Url.Content("~/AssessPain_ECK/SavePainPosition")',
                data: {
                    'PainCode': $('#PainPositinoContent #PainCode').val(),
                    'RecordTime': $('#PainPositinoContent #ReocordDate').val() + ' ' + $('#PainPositinoContent #ReocordTime').val(),
                    'PainPosition': $('#PainPositinoContent input[type=checkbox][name=PositionItem]:checked').map(function () { return $(this).val(); }).get().join(','),
                    'Data': JSON.stringify(DataList),
                },
                success: function (data) {
                    loop_windows("close_cover");
                    if (data == "Y") {
                        alert('儲存成功！');
                        location.reload();
                    }
                    else
                        alert('儲存失敗！');
                }
            });
        }
    }

    function Check() {
        var Success = true;
        $.each($('#PainPositinoContent .req_ck:visible:enabled'), function (i, item) {
            if ($('#PainPositinoContent input[name=' + $(item).attr('name') + ']:checked').length == 0) {
                alert('項目 ' + $(item).closest('tr').find('.AlertTitle').text() + ' 未填寫!!');
                $(item).focus();
                Success = false;
                return false;
            }
        });
        if (Success) {
            $.each($('#PainPositinoContent .req_txt:visible:enabled'), function (i, item) {
                if ($.trim($(item).val()) == '') {
                    alert('項目 ' + $(item).closest('tr').find('.AlertTitle').text() + ' 未填寫!!');
                    $(item).focus();
                    Success = false;
                    return false;
                }
            });
        }

        if (Success) {
            if ($('#PainPositinoContent input[type=checkbox][name=PositionItem]:checked').length > 0) {
                if ($('#PainPositinoContent input[type=radio][name=PainExtend]:checked').val() == "Y") {
                    if ($('#PainPositinoContent input[type=checkbox][name=ExtendPositionItem]:checked').length == 0) {
                        alert('項目 ' + $('#PainPositinoContent input[type=checkbox][name=ExtendPositionItem]').closest('tr').find('.AlertTitle').text() + ' 未填寫!!');
                        $('#PainPositinoContent input[type=checkbox][name=ExtendPositionItem]:visible:first').focus();
                        Success = false;
                    }
                }
            }
            else {
                alert('項目 ' + $('#PainPositinoContent input[type=checkbox][name=PositionItem]').closest('tr').find('.AlertTitle').text() + ' 未填寫!!');
                $('#PainPositinoContent input[type=checkbox][name=PositionItem]:first').focus();
                Success = false;
            }
        }

        return Success;
    }

</script>
<script type="text/javascript">
    function PainStart_TimeUnit_change() {
        if($("#PainStart_TimeUnit option:selected").val() == "手術後") {
            $("#PainStart_TimeNum").hide();
        } else {
            $("#PainStart_TimeNum").show();
        }
    };
</script>