@using System.Data;
@{
    ViewBag.Title = "Deatil_Child";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string title = "跌倒評估(兒童)-詳細列表";
    string StartDate = ViewBag.StartDate;
    string EndDate = ViewBag.EndDate;
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}    
<style type="text/css">
    .dataHeader_ {
        overflow: hidden;
    }
        .dataHeader_ td {
            font-weight: bold;
            margin: 1px 1px 1px 1px;
            background-color: #85A5CC;
            text-align: center;
            vertical-align: middle;
            height: 26px;
        }

    .dataArea_ {
        overflow-y:hidden;
        overflow-x:scroll;
        border-top: 2px solid #666;
        border-bottom: 2px solid #666;
        font-size:16px;
    }
      #module_define
    {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }
</style>

<script type="text/javascript">
    window.onload = function () {
        $('.dataArea').width($(window).width() - 165);
        $('.dataArea_').height($('.dataArea').height());
        $('#dataHeader').width($('.dataArea').width() - 17);
        setGridColor();
        var tr_list = $('.dataArea tr');
        var tr_list_ = $('.dataArea_ tr');
        for (var i = 0; i < tr_list.length; i++) 
            $(tr_list_[i]).height($(tr_list[i]).height());
    }

    //格行換色
    function setGridColor() {
        $('.dataArea_ tr:odd').css('background', '#ABC8E2');
        $('.dataArea_ tr:even').css('background', '#E1E6FA');
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    function set_for_rb(rb_name, dvalue) {
        if (dvalue != '') {
            $('input[name=' + rb_name + ']').each(function () {
                if ($(this).val() == dvalue)
                    $(this).remove();
                else
                    $(this.parentElement).remove();
            });
        }
    }
    function DataSearch() {
        loop_windows("open_cover");

        var start = $("#StartDate").val();
        var End = $("#EndDate").val();
        window.location.href = "@(Url.Content("~/FallAssess/Deatil_Child"))"
         + "?Startdate=" + $("#StartDate").val() + "&Enddate=" + $("#EndDate").val();

        loop_windows("close_cover");

    }
</script>
@{
        DataTable dt = ViewBag.dt;
}
<div class="funcArea">
    <table  border="0" cellpadding="0" cellspacing="0">
         <tr>
            <td colspan="2">
                <div id="module_define" style="height:18px;">@title</div>
            </td>
        </tr>
        <tr>
        <tr>
            <td colspan="2" style="padding-bottom:5px;text-align:center;">
                 <label>日期：</label>
                @Html.TextBox("StartDate", StartDate)
                <label>~</label>
                @Html.TextBox("EndDate", EndDate)
                @*@WebTool.setDateTime("StartDate")
                @WebTool.setDateTime("EndDate")*@
                @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "StartDate", "", false)
                @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "EndDate", "", false)
                <input type="button" style="width: 80px;" value="查詢" onclick="DataSearch();" />

                <input type="button" value="返回" onclick="window.location.href = 'List_Child';" />
            </td>
        </tr>
        <tr>
            <td>
                <div class="dataHeader_">
                    <table border="0" cellpadding="4" cellspacing="1" style="table-layout:fixed; white-space:nowrap;">
                        <tr>
                            <td style="width:130px;"><div style="width:130px; overflow:hidden;">評估時間</div></td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea_" id="dataArea_">
                    <table border="0" cellpadding="4" cellspacing="1" style="overflow-y:hidden;">
                        <tr><td style="text-align:center;font-weight:bold;">評估原因</td></tr>
                        <tr><td style="width:130px;text-align:center;font-weight:bold;">年齡</td></tr>
                        <tr><td style="text-align:center;font-weight:bold;">性別</td></tr>
                        <tr><td style="text-align:center;font-weight:bold;">體能狀況</td></tr>
                        <tr><td style="text-align:center;font-weight:bold;">跌倒史</td></tr>
                        <tr><td style="text-align:center;font-weight:bold;">活動力</td></tr>
                        <tr><td style="text-align:center;font-weight:bold;">藥物(抗組織胺類、抗癲癇藥物)</td></tr>
                        <tr><td style="text-align:center;font-weight:bold;">疾病因素</td></tr>
                        <tr><td style="text-align:center;font-weight:bold;">跌倒預防措施</td></tr>
                        <tr><td style="text-align:center;font-weight:bold;">總分</td></tr>
                    </table>
                </div>
            </td>
            <td>
                <div class="dataHeader" id="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="table-layout:fixed; white-space:nowrap;">
                        <tr>
                             @if(dt.Rows.Count > 0)
                            {
                            foreach (DataRow r in dt.Rows)
                            {
                            <td style="width:180px;"><div style="width:180px; overflow:hidden;">@Convert.ToDateTime(r[6]).ToString("yyyy/MM/dd HH:mm")</div></td>
                            }
                             }else 
                            {
                            <td style="width: 180px;height:26px;color:#fff;background-color:#fff;">
                               
                            </td>
                            }
                        </tr>
                    </table>
                </div>
                <div class="dataArea" onscroll="document.getElementById('dataArea_').scrollTop = this.scrollTop;document.getElementById('dataHeader').scrollLeft = this.scrollLeft;" style="height:350px;overflow-x:scroll;">
                    <table border="0" cellpadding="4" cellspacing="1">
                          <tr>
                                @foreach(DataRow r in dt.Rows)
                                {
                            <td style="width:180px;"><div style="width:180px; overflow:hidden;">
                                     @Html.Raw("<label>" + r["REASON"] + "</label>")
                            </div></td>
                                }
                        </tr>
                        <tr>
                                @foreach(DataRow r in dt.Rows)
                                {
                            <td style="width:180px;"><div style="width:180px; overflow:hidden;">
                                     @Html.Raw("<label>" + r["AGE"] + "</label>")
                            </div></td>
                                }
                        </tr>
                        <tr>
                                @foreach(DataRow r in dt.Rows)
                                {
                            <td style="width:180px;"><div style="width:180px; overflow:hidden;">
                                     @Html.Raw("<label>" + r["GENDER"] + "</label>")
                             </div></td>
                                }
                        </tr>
                        <tr>
                                @foreach(DataRow r in dt.Rows)
                                {
                            <td style="width:180px;">
                                <div style="width:180px; overflow:hidden;">
                                     @Html.Raw("<label>" + r["FITNESS_FALL"] + "</label>")
                            </div>
                            </td>
                                }
                        </tr>
                        <tr>
                                @foreach(DataRow r in dt.Rows)
                                {
                            <td style="width:180px;"><div style="width:180px; overflow:hidden;">
                                     @Html.Raw("<label>" + r["FALL_HISTORY"] + "</label>")
                            </div></td>
                                }
                        </tr>
                        <tr>
                                @foreach(DataRow r in dt.Rows)
                                {
                            <td style="width:180px;"><div style="width:180px; overflow:hidden;">
                                     @Html.Raw("<label>" + r["ACTIVITY"] + "</label>")
                            </div></td>
                                }
                        </tr>
                        <tr>
                                @foreach(DataRow r in dt.Rows)
                                {
                            <td style="width:180px;"><div style="width:180px; overflow:hidden;">
                                     @Html.Raw("<label>" + r["DRUG"] + "</label>")
                            </div>
                            </td>
                                }
                        </tr>
                        <tr>
                                @foreach(DataRow r in dt.Rows)
                                {
                            <td style="width:180px;"><div style="width:180px; overflow:hidden;">
                                     @Html.Raw("<label>" + r["DISEASE"] + "</label>")
                            </div></td>
                                }
                        </tr>
                        <tr>
                                @foreach(DataRow r in dt.Rows)
                                {
                            <td style="width:180px;vertical-align:top;">
                                <div style="width:180px; overflow:hidden;">
                                              @{
                                    string[] Temp_Precaution = r["PRECAUTION"].ToString().Split(',');
                                            }
                                        @for(int i = 0; i < Temp_Precaution.Length; i++)
                                        { 
                                        @Html.Raw((i + 1) + ".<label>" + Temp_Precaution[i] + "</label>。<br />")
                                        }
                            </div></td>
                                }
                        </tr>
                        <tr>
                                @foreach(DataRow r in dt.Rows)
                                {
                            <td style="width:130px;text-align:center;">
                               @* <div style="width:130px; overflow:hidden;">*@
                                    @if(int.Parse(r["TOTAL"].ToString()) > 2)
                                    {<span style="color:red;">&nbsp;@r["TOTAL"]</span>}
                                    else
                                    {
                                        @:&nbsp;@r["TOTAL"]
                                    }
                            @*</div>*@
                              </td>
                                }
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>

@*<script type="text/javascript">
@foreach (DataRow r in dt.Rows)
{
    @:set_for_rb('rb_age_@r["FALL_ID"]', '@r["AGE"]');
    @:set_for_rb('rb_gender_@r["FALL_ID"]', '@r["GENDER"]');
    @:set_for_rb('rb_special_event_@r["FALL_ID"]', '@r["SPECIAL"]');
    @:set_for_rb('rb_fall_history_@r["FALL_ID"]', '@r["FALL_HISTORY"]');
    @:set_for_rb('rb_bed_rails_@r["FALL_ID"]', '@r["BED_RAILS"]');
    @:set_for_rb('rb_drug_@r["FALL_ID"]', '@r["DRUG"]');
    @:set_for_rb('rb_disease_@r["FALL_ID"]', '@r["DISEASE"]');
}
</script>*@