@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string StartDate = ViewBag.StartDate;
    string EndDate = ViewBag.EndDate;
    DataTable dt = ViewBag.dt;
    int j;
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}

<style type="text/css">
    .dataHeader_ {
        overflow: hidden;
    }

        .dataHeader_ td {
            font-weight: bold;
            margin: 1px 1px 1px 1px;
            background-color: #85A5CC;
            text-align: center;
            vertical-align: middle;
            height: 26px;
        }

    .dataArea_ {
        overflow-y: hidden;
        overflow-x: scroll;
        border-top: 2px solid #666;
        border-bottom: 2px solid #666;
        font-size: 16px;
    }

    #module_define {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }
</style>

<script type="text/javascript">

    $(document).ready(function () {
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").width($(window).width() - 135).outerHeight(height - 140);
            $('.dataArea_').height($('.dataArea').height());
            $('#dataHeader').width($('.dataArea').width() - 17);
        }).trigger("resize");

        var tr_list = $('.dataArea tr');
        var tr_list_ = $('.dataArea_ tr');
        for (var i = 0; i < tr_list.length; i++) {
            $(tr_list_[i]).height($(tr_list[i]).height());
        }

        setGridColor();
    });

    //格行換色
    function setGridColor() {
        $('.dataArea_ tr:odd').css('background', '#ABC8E2');
        $('.dataArea_ tr:even').css('background', '#E1E6FA');
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    function DataSearch() {
        window.location.href = "@(Url.Content("~/FallAssess/Detail"))"
         + "?Startdate=" + $("#StartDate").val() + "&Enddate=" + $("#EndDate").val();
    }
</script>


<div id="module_define">成人跌倒評估-詳細列表</div>
<div class="funcArea">
    <div style="padding:5px 0 5px 0;text-align:center;">
        <label>日期：</label>
        @Html.TextBox("StartDate", StartDate)
        <label>~</label>
        @Html.TextBox("EndDate", EndDate)
        @*@WebTool.setDateTime("StartDate")
        @WebTool.setDateTime("EndDate")*@
        @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "StartDate", "", false)
        @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "EndDate", "", false)
        <input type="button" style="width:80px;" value="查詢" onclick="DataSearch();" />
        <input type="button" style="width:80px;" value="返回" onclick="window.location.href = 'List';" />
    </div>
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <div class="dataHeader_">
                    <table border="0" cellpadding="4" cellspacing="1" style="table-layout: fixed; white-space: nowrap;">
                        <tr>
                            <td style="width: 100px;height:18px;">
                                <div style="width: 100px; overflow: hidden;font-weight:bold;">評估時間</div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea_" id="dataArea_">
                    <table border="0" cellpadding="4" cellspacing="1" style="overflow-y: hidden;">
                        <tr>
                            <td style="height:18px;text-align:center;font-weight:bold;">評估原因</td>
                        </tr>
                        <tr>
                            <td style="width: 100px;text-align:center;font-weight:bold;">年齡</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;font-weight:bold;">意識狀態</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;font-weight:bold;">眩暈</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;font-weight:bold;">藥物</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;font-weight:bold;">排泄</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;font-weight:bold;">跌倒史</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;font-weight:bold;">輔助使用</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;font-weight:bold;">下床</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;font-weight:bold;">跌倒預防措施</td>
                        </tr>
                        <tr>
                            <td style="text-align:center;font-weight:bold;">總分</td>
                        </tr>
                    </table>
                </div>
            </td>
            <td style="vertical-align:top;">
                <div class="dataHeader" id="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="table-layout: fixed; white-space: nowrap;">
                        <tr>
                            @if(dt.Rows.Count > 0)
                            {
                                foreach(DataRow r in dt.Rows)
                                {
                                <td style="width: 180px;height:18px;">
                                    <div style="width:180px;overflow:hidden;">@Convert.ToDateTime(r[6]).ToString("yyyy/MM/dd HH:mm")</div>
                                </td>
                                }
                            }
                            else 
                            {
                            <td style="width:180px;height:18px;color:#fff;background-color:#fff;"></td>
                            }
                        </tr>
                    </table>
                </div>
                <div class="dataArea" onscroll="document.getElementById('dataArea_').scrollTop = this.scrollTop;document.getElementById('dataHeader').scrollLeft = this.scrollLeft;" style="height: 350px; overflow-x: scroll;">@*386*@
                    <table border="0" cellpadding="4" cellspacing="1">
                        <tr>
                            @foreach(DataRow r in dt.Rows)
                            {
                                <td style="width: 180px;">
                                    <div style="width: 180px; overflow: hidden;">
                                        <label>@r["REASON"]</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            @foreach(DataRow r in dt.Rows)
                            {
                                <td style="width: 180px;">
                                    <div style="width: 180px; overflow: hidden;">
                                        <label>@r["AGE"]</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            @foreach(DataRow r in dt.Rows)
                            {
                                <td style="width: 180px;">
                                    <div style="width: 180px; overflow: hidden;">
                                        <label>@r["CONSCIOUSNESS"]</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            @foreach(DataRow r in dt.Rows)
                            {
                                <td style="width: 180px;">
                                    <div style="width: 180px; overflow: hidden;">
                                        <label>@r["DIZZINESS"]</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            @foreach(DataRow r in dt.Rows)
                            {
                                <td style="width: 180px;">
                                    <div style="width: 180px; overflow: hidden;">
                                        <label>@r["DRUG"]</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            @foreach(DataRow r in dt.Rows)
                            {
                                <td style="width: 180px;">
                                    <div style="width: 180px; overflow: hidden;">
                                        <label>@r["EXCRETION"]</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            @foreach(DataRow r in dt.Rows)
                            {
                                <td style="width: 180px;">
                                    <div style="width: 180px; overflow: hidden;">
                                        <label>@r["FALL"]</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            @foreach(DataRow r in dt.Rows)
                            {
                                <td style="width: 180px;">
                                    <div style="width: 180px; overflow: hidden;">
                                        <label>@r["ACTIVITY"]</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            @foreach(DataRow r in dt.Rows)
                            {
                                <td style="width: 180px;">
                                    <div style="width: 180px; overflow: hidden;">
                                        <label>@r["COMMUNICATION"]</label>
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            @foreach(DataRow r in dt.Rows)
                            {
                                <td style="width: 180px;vertical-align:top;">
                                    <div style="width: 180px; overflow: hidden;">
                                @{
                                    j = 1;
                                    foreach (string item in r["PRECAUTION"].ToString().Split(','))
                                    {
                                        if (!string.IsNullOrWhiteSpace(item))
                                        {
                                        <div>@(j).@(item)。</div>
                                        j++;
                                        }
                                    }
                                }
                                    </div>
                                </td>
                            }
                        </tr>
                        <tr>
                            @foreach(DataRow r in dt.Rows)
                            {
                                <td style="width:130px;text-align:center;">
                                    <div style="width: 130px; overflow: hidden;text-align:center;">
                                        <span style="@((int.Parse(r["TOTAL"].ToString()) > 2) ? "color:red;" : "")">@r["TOTAL"]</span>
                                    </div>
                                </td>
                            }
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>