@{
    ViewBag.Title = "List_Child";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">
  .dataArea td {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    text-align: left;
  }

    span {
        font-size:18px;
        font-weight:bolder;
        color:red;
    }

     #module_define {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }
</style>
<script type="text/javascript">
    window.onload = function () {
        setGridColor();
    }

    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }
</script>
@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
        <tr>
            @*<td style="width:50%;">*@
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;text-align:center;">
                    <tr>
                        <td>
                              <div id="module_define">兒童跌倒評估清單</div>

                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;">
                            <div class="funcArea">
                                <input id="add_pain" type="button" value="新增兒童跌倒評估" onclick="window.location.href=('Insert_Child?num=@(dt.Rows.Count + 1)');" />@*新增兒童跌倒傾向評估表*@
                                <input type="button" value="返回" onclick="window.location.href='ListIndex?modeval=Y';" />
                                <input type="button" value="詳細列表" onclick="window.location.href='Deatil_Child';" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="dataHeader">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    <tr>
                                        <td style="width:10%;">評估日期</td>
                                        <td style="width:6%;">總分</td>
                                        <td style="width:10%;">編輯者</td>
                                        <td style="width:16%;">評估原因</td>
                                        <td style="width:50%;">處置措施</td>
                                         <td style="width:8%;"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="dataArea">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                @if(dt != null && dt.Rows.Count > 0)
                                {
                                    for(int i = 0; i < dt.Rows.Count; i++)
                                    {
                                    <tr fid="@dt.Rows[i]["FALL_ID"]" total="@dt.Rows[i]["TOTAL"]" >
                                        <td style="width:10%;text-align:center;">
                                            @Convert.ToDateTime(dt.Rows[i]["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")
                                        </td>
                                        <td style="width:6%;text-align:center;">
                                            @if(int.Parse(dt.Rows[i]["TOTAL"].ToString()) >= 3)
                                            {<span style="color:red;">@dt.Rows[i]["TOTAL"]</span>}
                                            else
                                            {@dt.Rows[i]["TOTAL"]}
                                        </td>
                                        <td style="width:10%;text-align:center;">@dt.Rows[i]["CREATNAME"]</td>
                                        <td style="width:16%;">@dt.Rows[i]["REASON"]</td>
                                        <td style="width:50%;">
                                            
                                              @{
                                            string[] Temp_Precaution = dt.Rows[i]["PRECAUTION"].ToString().Split(',');
                                            }
                                        @for(int j = 0; j < Temp_Precaution.Length; j++)
                                        {
                                            if(j == 0 && (Temp_Precaution[j] == "" || Temp_Precaution[j] == null))
                                            {
                                                @Html.Raw("<label></label>")
                                            }
                                            else
                                            {                                 
                                                @Html.Raw((j + 1) + ".<label>" + Temp_Precaution[j] + "</label>。<br />")
                                            }
                                        }
                                        </td>
                                        @if(dt.Rows[i]["CREATNO"].ToString() == ViewBag.userno)
                                        {
                                        <td style="width:8%;text-align:center;">
                                            <input type="button" value="編輯" fid="@dt.Rows[i]["FALL_ID"]" style="width:50px;" onclick="window.location.href = 'Insert_Child?id=' + $(this).attr('fid');" />
                                        
                                            <p></p>
                                            <input type="button" value="刪除" fid="@dt.Rows[i]["FALL_ID"]" style="width:50px;" onclick="if (confirm('確認刪除?')) { $.post('Del_FallAssess_Child', { id: $(this).attr('fid') }, function (result) { document.write(result);}); }" />
                                        </td>
                                        }
                                        else
                                        {
                                        <td style="width:8%;"></td>
                                        }
                                    </tr>
                                    }
                                }
                                else if(dt != null && dt.Rows.Count == 0)
                                {
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#add_pain').click();
                                        });
                                    </script>
                                }
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>