@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
  .dataArea td {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    text-align: left;
  }
  .dataArea th {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
  }
</style>

<script type="text/javascript">
    window.onload = function () {
        setGridColor();
    }

    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
        $('.tdodd').css('background', '#ABC8E2');
    }
    function able(id) {
        document.getElementById(id).disabled = false;
        document.getElementById(id).focus();
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
        $('#' + id).val('');
    }

    //驗證欄位_數字
    function numcheck(id, time) {
        if (time.value.indexOf('.') > -1) {
            var re = /^[0-9]+\.[0-9]*$/;
        }
        else {
            var re = /^[0-9]+$/;
        }
        if (!re.test(time.value) && time.value != "") {
            alert("只能輸入數字");
            document.getElementById(id).value = "";
        }
    }

    function add() {
        var breath = document.getElementsByName('rb_breath');
        for (var i = 0; i < breath.length; i++) {
            if (breath[i].checked) {
                if (breath[i].id != 'rb_breath_respirator') {
                    var content = '氧氣療法： ' + breath[i].value + ' ' + $('#txt_breath_min').val() + ' L/min ' + $('#txt_breath_percent').val() + ' %';
                    window.opener.document.getElementById('@ViewBag.id').value = window.opener.document.getElementById('@ViewBag.id').value + content;
                    return true;
                }
                else {
                    var type = document.getElementsByName('rb_breath_respirator_model');
                    var type_success = false;
                    var model_success=false;
                    for (var i = 0; i < type.length; i++) {
                        if (type[i].checked) {
                            var model = document.getElementsByName('rb_breath_respirator_mode');
                            var typename = type[i].value;
                            if (typename == '其他') {
                                typename = $('#txt_breath_respirator_model_other').val();
                                if ($.trim(typename) == '') {
                                    alert('請輸入其他機型!');
                                    return false;
                                }
                            }
                            for (var j = 0; j < model.length; j++) {
                                if (model[j].checked) {
                                    var modelname = model[j].value;
                                    if (modelname == '其他') {
                                        modelname = $('#txt_breath_respirator_mode_other').val();
                                        if ($.trim(modelname) == '') {
                                            alert('請輸入其他Mode!');
                                            return false;
                                        }
                                    }
                                    var content = '氧氣療法：呼吸器, 機型：' + typename + ', Mode：' + modelname;
                                    if ($.trim($('#txt_breath_respirator_other1').val()) != '')
                                        content = content + ', 潮氣容積：' + $('#txt_breath_respirator_other1').val() + ' 毫升/次';
                                    if ($.trim($('#txt_breath_respirator_other2').val()) != '')
                                        content = content + ', PS：' + $('#txt_breath_respirator_other2').val() + ' cmH2O';
                                    if ($.trim($('#txt_breath_respirator_other3').val()) != '')
                                        content = content + ', 呼吸次數：' + $('#txt_breath_respirator_other3').val() + ' 次/分鐘';
                                    if ($.trim($('#txt_breath_respirator_other4').val()) != '')
                                        content = content + ', 頻率：' + $('#txt_breath_respirator_other4').val() + ' Hz';
                                    if ($.trim($('#txt_breath_respirator_other5').val()) != '')
                                        content = content + ', 氧氣濃度：' + $('#txt_breath_respirator_other5').val() + ' %';
                                    if ($.trim($('#txt_breath_respirator_other6').val()) != '') 
                                        content = content + ', 平均氣道壓(MAP)：' + $('#txt_breath_respirator_other6').val() + ' cmH2O';
                                    if ($.trim($('#txt_breath_respirator_other7').val()) != '') 
                                        content = content + ', PC：' + $('#txt_breath_respirator_other7').val() + ' cmH2O';
                                    if ($.trim($('#txt_breath_respirator_other8').val()) != '') 
                                        content = content + ', 流速(flow)：' + $('#txt_breath_respirator_other8').val() + ' L/min';
                                    if ($.trim($('#txt_breath_respirator_other9').val()) != '')
                                        content = content + ', PEEP：' + $('#txt_breath_respirator_other9').val() + ' cmH2O';
                                    window.opener.document.getElementById('span_@ViewBag.id').innerText = window.opener.document.getElementById('span_@ViewBag.id').innerText + content;
                                    window.opener.document.getElementById('hid_@ViewBag.id').value = window.opener.document.getElementById('hid_@ViewBag.id').value + content;
                                    return true;
                                }
                            }
                            alert('請選擇Mode!');
                            return false;
                        }
                    }
                    alert('請選擇機型!');
                    return false;
                }
            }
        }
    }
</script>

<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
            <td style="padding-bottom:5px;text-align:center;">
                <span style="color:blue;font-size:26px;">氧氣療法資料輸入</span>
            </td>
        </tr>
        <tr>
            <td style="padding:5px 0 5px 0;">
                <div class="dataArea" style="height:400px;">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                        <tr>
                            <td class="tdodd" rowspan="3" style="width:12%;text-align:center;">種類</td>
                            <td style="width:22%;">
                                @Html.RadioButton("rb_breath", "Nasal cannula", true, new { id = "rb_breath_1", onclick = "able('txt_breath_percent');able('txt_breath_min');$('.breath_respirator').fadeOut(500);" })
                                @Html.Label("rb_breath_1", "Nasal cannula")
                            </td>
                            <td style="width:22%;">
                                @Html.RadioButton("rb_breath", "Simple mask", false, new { id = "rb_breath_2", onclick = "able('txt_breath_percent');able('txt_breath_min');$('.breath_respirator').fadeOut(500);" })
                                @Html.Label("rb_breath_2", "Simple mask")
                            </td>
                            <td style="width:22%;">
                                @Html.RadioButton("rb_breath", "Aerosol mask", false, new { id = "rb_breath_3", onclick = "able('txt_breath_percent');able('txt_breath_min');$('.breath_respirator').fadeOut(500);" })
                                @Html.Label("rb_breath_3", "Aerosol mask")
                            </td>
                            <td style="width:22%;">
                                @Html.RadioButton("rb_breath", "Collar mask", false, new { id = "rb_breath_4", onclick = "able('txt_breath_percent');able('txt_breath_min');$('.breath_respirator').fadeOut(500);" })
                                @Html.Label("rb_breath_4", "Collar mask")
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.RadioButton("rb_breath", "Partial rebreathing mask", false, new { id = "rb_breath_5", onclick = "able('txt_breath_percent');able('txt_breath_min');$('.breath_respirator').fadeOut(500);" })
                                @Html.Label("rb_breath_5", "Partial rebreathing mask")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath", "Non-rebreathing mask", false, new { id = "rb_breath_6", onclick = "able('txt_breath_percent');able('txt_breath_min');$('.breath_respirator').fadeOut(500);" })
                                @Html.Label("rb_breath_6", "Non-rebreathing mask")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath", "T-piece", false, new { id = "rb_breath_7", onclick = "able('txt_breath_percent');able('txt_breath_min');$('.breath_respirator').fadeOut(500);" })
                                @Html.Label("rb_breath_7", "T-piece")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath", "Venturi mask", false, new { id = "rb_breath_8", onclick = "able('txt_breath_percent');able('txt_breath_min');$('.breath_respirator').fadeOut(500);" })
                                @Html.Label("rb_breath_8", "Venturi mask")
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.RadioButton("rb_breath", "O2 hood", false, new { id = "rb_breath_9", onclick = "able('txt_breath_percent');able('txt_breath_min');$('.breath_respirator').fadeOut(500);" })
                                @Html.Label("rb_breath_9", "O2 hood")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath", "O2 inhalation", false, new { id = "rb_breath_10", onclick = "able('txt_breath_percent');able('txt_breath_min');$('.breath_respirator').fadeOut(500);" })
                                @Html.Label("rb_breath_10", "O2 inhalation")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath", "呼吸器", false, new { id = "rb_breath_respirator", onclick = "enable('txt_breath_min');enable('txt_breath_percent');$('.breath_respirator').fadeIn(500);" })
                                @Html.Label("rb_breath_respirator", "呼吸器")
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th class="tdodd" style="text-align:center;font-weight:normal;">
                                用法
                            </th>
                            <td colspan="4">
                                @Html.TextBox("txt_breath_min", "", new { style = "width:120px;", onchange = "numcheck(this.id,this);" })
                                @Html.Label("txt_breath_min","L/min")
                                @Html.TextBox("txt_breath_percent", "", new { style = "width:120px;", onchange = "numcheck(this.id,this);" })
                                @Html.Label("txt_breath_percent", "%")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td class="tdodd" rowspan="5" style="text-align:center;">機型</td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "T-Bird", false, new { id = "rb_breath_respirator_model_1", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_1", "T-Bird")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "BiPAP", false, new { id = "rb_breath_respirator_model_2", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_2", "正壓呼吸器(BIPAP)")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "900C", false, new { id = "rb_breath_respirator_model_3", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_3", "900C")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "PB7200AE", false, new { id = "rb_breath_respirator_model_4", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_4", "PB7200AE")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "PB760", false, new { id = "rb_breath_respirator_model_5", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_5", "PB760")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "8400STi", false, new { id = "rb_breath_respirator_model_6", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_6", "8400STi")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "PLV102", false, new { id = "rb_breath_respirator_model_7", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_7", "PLV102")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "Galileo", false, new { id = "rb_breath_respirator_model_8", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_8", "Galileo")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "Servo-i", false, new { id = "rb_breath_respirator_model_9", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_9", "Servo-i")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "Raphael", false, new { id = "rb_breath_respirator_model_10", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_10", "Raphael")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "HT50", false, new { id = "rb_breath_respirator_model_11", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_11", "HT50")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "Achieva", false, new { id = "rb_breath_respirator_model_12", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_12", "Achieva")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "G5", false, new { id = "rb_breath_respirator_model_13", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_13", "G5")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "VPAP", false, new { id = "rb_breath_respirator_model_14", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_14", "VPAP")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "High-flow", false, new { id = "rb_breath_respirator_model_15", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_15", "High-flow")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "EVITA", false, new { id = "rb_breath_respirator_model_16", onclick = "enable('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_16", "EVITA")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td>
                                @Html.RadioButton("rb_breath_respirator_model", "其他", false, new { id = "rb_breath_respirator_model_other", onclick = "able('txt_breath_respirator_model_other');" })
                                @Html.Label("rb_breath_respirator_model_other", "其他")
                                @Html.TextBox("txt_breath_respirator_model_other", "", new { style = "width:80px;", disabled = "disabled" })
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td class="tdodd" rowspan="7" style="text-align:center;">Mode</td>
                            <td colspan="2">
                                @Html.RadioButton("rb_breath_respirator_mode", "VC(VOLUME CONTROL)", false, new { id = "rb_breath_respirator_mode_1", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_1", "VC(VOLUME CONTROL)")
                            </td>
                            <td colspan="2">
                                @Html.RadioButton("rb_breath_respirator_mode", "PC(PRESSURE CONTROL)", false, new { id = "rb_breath_respirator_mode_2", onclick = "enable('txt_breath_respirator_mode_other');able('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_2", "PC(PRESSURE CONTROL)")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td colspan="2">
                                @Html.RadioButton("rb_breath_respirator_mode", "SIMV+PS(SIMV+PRESSURE SUPPORT)", false, new { id = "rb_breath_respirator_mode_3", onclick = "enable('txt_breath_respirator_mode_other');able('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_3", "SIMV+PS(SIMV+PRESSURE SUPPORT)")
                            </td>
                            <td colspan="2">
                                @Html.RadioButton("rb_breath_respirator_mode", "PS(PRESSURE SUPPORT)", false, new { id = "rb_breath_respirator_mode_4", onclick = "enable('txt_breath_respirator_mode_other');able('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_4", "PS(PRESSURE SUPPORT)")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td colspan="4">
                                @Html.RadioButton("rb_breath_respirator_mode", "PC+PS(PRESSURE CONTROL+PRESSURE SUPPORT)", false, new { id = "rb_breath_respirator_mode_5", onclick = "enable('txt_breath_respirator_mode_other');able('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_5", "PC+PS(PRESSURE CONTROL+PRESSURE SUPPORT)")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "SIMV", false, new { id = "rb_breath_respirator_mode_6", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_6", "SIMV")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "PRVC", false, new { id = "rb_breath_respirator_mode_7", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_7", "PRVC")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "APV", false, new { id = "rb_breath_respirator_mode_8", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_8", "APV")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "APRV", false, new { id = "rb_breath_respirator_mode_9", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_9", "APRV")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "DuoPAP", false, new { id = "rb_breath_respirator_mode_10", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_10", "DuoPAP")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "ASV", false, new { id = "rb_breath_respirator_mode_11", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_11", "ASV")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "Bivent", false, new { id = "rb_breath_respirator_mode_12", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_12", "Bivent")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "IPPV", false, new { id = "rb_breath_respirator_mode_13", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_13", "IPPV")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "MMV", false, new { id = "rb_breath_respirator_mode_14", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_14", "MMV")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "S/T", false, new { id = "rb_breath_respirator_mode_15", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_15", "S/T")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "S", false, new { id = "rb_breath_respirator_mode_16", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_16", "S")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "BiLevel", false, new { id = "rb_breath_respirator_mode_17", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_17", "BiLevel")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "NIV", false, new { id = "rb_breath_respirator_mode_18", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_18", "NIV")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "CPAP", false, new { id = "rb_breath_respirator_mode_19", onclick = "enable('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_19", "CPAP")
                            </td>
                            <td>
                                @Html.RadioButton("rb_breath_respirator_mode", "其他", false, new { id = "rb_breath_respirator_mode_other", onclick = "able('txt_breath_respirator_mode_other');enable('txt_breath_respirator_other2');" })
                                @Html.Label("rb_breath_respirator_mode_other", "其他")
                                @Html.TextBox("txt_breath_respirator_mode_other", "", new { style = "width:80px;", disabled = "disabled" })
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td class="tdodd" rowspan="5" style="text-align:center;">其他</td>
                            <td>潮氣容積</td>
                            <td>
                                @Html.TextBox("txt_breath_respirator_other1", "", new { style = "width:80px;", onchange = "numcheck(this.id,this);" })
                                @Html.Label("txt_breath_respirator_other1", "毫升/次")
                            </td>
                            <td>PS</td>
                            <td>
                                @Html.TextBox("txt_breath_respirator_other2", "", new { style = "width:80px;", disabled = "disabled", onchange = "numcheck(this.id,this);" })
                                @Html.Label("txt_breath_respirator_other2", "cmH2O")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td>呼吸次數</td>
                            <td>
                                @Html.TextBox("txt_breath_respirator_other3", "", new { style = "width:80px;", onchange = "numcheck(this.id,this);" })
                                @Html.Label("txt_breath_respirator_other3", "次/分鐘")
                            </td>
                            <td>頻率</td>
                            <td>
                                @Html.TextBox("txt_breath_respirator_other4", "", new { style = "width:80px;", onchange = "numcheck(this.id,this);" })
                                @Html.Label("txt_breath_respirator_other4", "Hz")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td>氧氣濃度</td>
                            <td>
                                @Html.TextBox("txt_breath_respirator_other5", "", new { style = "width:80px;", onchange = "numcheck(this.id,this);" })
                                @Html.Label("txt_breath_respirator_other5", "％")
                            </td>
                            <td>平均氣道壓(MAP)</td>
                            <td>
                                @Html.TextBox("txt_breath_respirator_other6", "", new { style = "width:80px;", onchange = "numcheck(this.id,this);" })
                                @Html.Label("txt_breath_respirator_other6", "cmH2O")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td>PC</td>
                            <td>
                                @Html.TextBox("txt_breath_respirator_other7", "", new { style = "width:80px;", onchange = "numcheck(this.id,this);" })
                                @Html.Label("txt_breath_respirator_other7", "cmH2O")
                            </td>
                            <td>流速(flow)</td>
                            <td>
                                @Html.TextBox("txt_breath_respirator_other8", "", new { style = "width:80px;" , onchange = "numcheck(this.id,this);"})
                                @Html.Label("txt_breath_respirator_other8", "L/min")
                            </td>
                        </tr>
                        <tr class="breath_respirator" style="display:none;">
                            <td>PEEP</td>
                            <td>
                                @Html.TextBox("txt_breath_respirator_other9", "", new { style = "width:80px;", onchange = "numcheck(this.id,this);" })
                                @Html.Label("txt_breath_respirator_other9", "cmH2O")
                            </td>
                            <td></td>
                            <td>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="padding:5px 0 5px 0;text-align:center;">
                <div class="funcArea">
                    <input type="button" value="儲存" style="width:60px;" onclick="if(add()) window.close();" />
                    <input type="button" value="取消" style="width:60px;" onclick="if(confirm('確認取消?'))window.close();" />
                </div>
            </td>
        </tr>
    </table>
</div>