@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
    .tabArea .subtitle {
        width: 120px;
    }
    .tabArea p {
        height: 40px;
        border-bottom: 1px dashed #b9b9b9;
        text-align: left;
    }
</style>

<script type="text/javascript">
    $(function () {
        $(".tabArea").tabs({ active: 0 });
    });
    
    function able(id) {
        document.getElementById(id).disabled = false;
        document.getElementById(id).focus();
    }
    function enable(id) {
        document.getElementById(id).disabled = true;
    }
    function ckable(obj, txtid) {
        var ck = obj;
        if (ck.checked)
        { able(txtid); }
        else
        { enable(txtid); }
    }
</script>

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="padding-bottom:5px;text-align:center;">
            <div class="funcArea" >
                <input type="button" value="儲存" style="width:50px;" onclick="alert('儲存成功');window.close();" />
                <input type="button" value="取消" style="width:50px;" onclick="if(confirm('確認取消?'))window.close();" />
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <div class="tabArea">
                <ul>
                    <li><a href="#tabs1">留觀病人持續護理評估表</a></li>
                </ul>
                <div id="tabs1" class="tab">
                    <p>
                        @Html.Label("lab", "生命徵象", new { @class = "subtitle" })
                        @Html.Label("txt_care_vitalsign_1", "TPR：")
                        @Html.TextBox("txt_care_vitalsign_1", "", new { style = "width:80px;" }) /
                        @Html.TextBox("txt_care_vitalsign_2", "", new { style = "width:80px;" }) /
                        @Html.TextBox("txt_care_vitalsign_3", "", new { style = "width:80px;" }) 
                    </p>
                    <p style="padding-left:130px;">
                        @Html.Label("txt_care_BP_1", "BP：")
                        @Html.TextBox("txt_care_BP_1", "", new { style = "width:80px;" }) /
                        @Html.TextBox("txt_care_BP_2", "", new { style = "width:80px;" }) mmHg
                    </p>
                    <p style="padding-left:130px;">
                        @Html.Label("txt_care_awareness_E", "意識狀態：")
                        E
                        @Html.TextBox("txt_care_awareness_E", "", new { style = "width:80px;" }) M
                        @Html.TextBox("txt_care_awareness_M", "", new { style = "width:80px;" }) V
                        @Html.TextBox("txt_care_awareness_V", "", new { style = "width:80px;" })
                    </p>
                    <p>
                        @Html.Label("lab", "疼痛評估", new { @class = "subtitle" })
                        @Html.CheckBox("ck_care_pain_1")
                        @Html.Label("ck_care_pain_1", "疼痛強度：")
                        @Html.TextBox("txt_care_pain_1", "", new { style = "width:80px;", disabled = "disabled" }) 分
                        @Html.CheckBox("ck_care_pain_2")
                        @Html.Label("ck_care_pain_2", "困難疼痛評估：")
                        @Html.TextBox("txt_care_pain_2", "", new { style = "width:80px;", disabled = "disabled" }) 分
                    </p><p style="padding-left:130px;">
                        @Html.CheckBox("ck_care_pain_3")
                        @Html.Label("ck_care_pain_3", "分數≧4分，已通知")
                        @Html.TextBox("txt_care_pain_3", "", new { style = "width:80px;", disabled = "disabled" }) 醫師處理
                        @Html.CheckBox("ck_care_pain_4")
                        @Html.Label("ck_care_pain_4", "介入措施：")
                        @Html.TextBox("txt_care_pain_4", "", new { style = "width:160px;", disabled = "disabled" })
                    </p>
                    <p>
                        @Html.Label("lab", "留觀原因", new { @class = "subtitle" })
                        @Html.CheckBox("ck_care_reason_1")
                        @Html.Label("ck_care_reason_1", "需持續觀察，方能繼續進一步處理")
                        @Html.CheckBox("ck_care_reason_2")
                        @Html.Label("ck_care_reason_2", "等待檢查：")
                        @Html.TextBox("txt_care_reason_2", "", new { style = "width:160px;", disabled = "disabled" })
                    </p><p style="padding-left:130px;">
                        @Html.CheckBox("ck_care_reason_3")
                        @Html.Label("ck_care_reason_3", "等候住院：")
                        @Html.TextBox("txt_care_reason_3", "", new { style = "width:150px;", disabled = "disabled" }) 科別
                        @Html.CheckBox("ck_care_reason_4")
                        @Html.Label("ck_care_reason_4", "等候會診：")
                        @Html.TextBox("txt_care_reason_4", "", new { style = "width:150px;", disabled = "disabled" }) 科別
                    </p><p style="padding-left:130px;">
                        @Html.CheckBox("ck_care_reason_5")
                        @Html.Label("ck_care_reason_5", "準備接受急診手術者")
                        @Html.CheckBox("ck_care_reason_6")
                        @Html.Label("ck_care_reason_6", "病況穩定，等待轉院者")
                        @Html.CheckBox("ck_care_reason_7")
                        @Html.Label("ck_care_reason_7", "病情不穩定者")
                    </p><p style="padding-left:130px;">
                        @Html.CheckBox("ck_care_reason_8")
                        @Html.Label("ck_care_reason_8", "等待社服處理或家屬接回(解釋)者")
                    </p>
                    <p>
                        @Html.Label("lab", "預防跌倒", new { @class = "subtitle" })
                        @Html.CheckBox("ck_care_prevent_fall_1")
                        @Html.Label("ck_care_prevent_fall_1", "手圈貼上高危跌倒標示")
                        @Html.CheckBox("ck_care_prevent_fall_2")
                        @Html.Label("ck_care_prevent_fall_2", "懸掛跌倒高危警示牌")
                        @Html.CheckBox("ck_care_prevent_fall_3")
                        @Html.Label("ck_care_prevent_fall_3", "推(病)床高度調至最低")
                    </p><p style="padding-left:130px;">
                        @Html.CheckBox("ck_care_prevent_fall_4")
                        @Html.Label("ck_care_prevent_fall_4", "圍上推(病)床雙側床欄")
                        @Html.CheckBox("ck_care_prevent_fall_5")
                        @Html.Label("ck_care_prevent_fall_5", "推(病)床輪煞車固定，床欄無鬆動故障")
                    </p><p style="padding-left:130px;">
                        @Html.CheckBox("ck_care_prevent_fall_6")
                        @Html.Label("ck_care_prevent_fall_6", "教導病人或家屬呼叫鈴的使用方法")
                        @Html.CheckBox("ck_care_prevent_fall_7")
                        @Html.Label("ck_care_prevent_fall_7", "衛教病人或家屬防範跌倒意外之發生")
                    </p><p style="padding-left:130px;">
                        @Html.CheckBox("ck_care_prevent_fall_8")
                        @Html.Label("ck_care_prevent_fall_8", "視需要協助病人下床活動或如廁")
                        @Html.CheckBox("ck_care_prevent_fall_9")
                        @Html.Label("ck_care_prevent_fall_9", "無家屬或照顧者陪伴，增加探視頻率")
                    </p><p style="padding-left:130px;">
                        @Html.CheckBox("ck_care_prevent_fall_10")
                        @Html.Label("ck_care_prevent_fall_10", "躁動病人給予適當安全的約束")
                    </p>
                    <p>
                        @Html.Label("lab", "護理指導", new { @class = "subtitle" })
                        @Html.CheckBox("ck_care_care_edu_1")
                        @Html.Label("ck_care_care_edu_1", "病人權利及義務")
                        @Html.CheckBox("ck_care_care_edu_2")
                        @Html.Label("ck_care_care_edu_2", "跌倒預防措施")
                        @Html.CheckBox("ck_care_care_edu_3")
                        @Html.Label("ck_care_care_edu_3", "給予")
                        @Html.TextBox("txt_care_care_edu_3", "", new { style = "width:80px;", disabled = "disabled" })
                        @Html.Label("txt_care_care_edu_3", "衛教單張")
                    </p><p style="padding-left:130px;">
                        @Html.CheckBox("ck_care_care_edu_4")
                        @Html.Label("ck_care_care_edu_4", "病情解釋及治療方針，由")
                        @Html.TextBox("txt_care_care_edu_4", "", new { style = "width:80px;", disabled = "disabled" }) 醫師解釋
                        @Html.CheckBox("ck_care_care_edu_5")
                        @Html.Label("ck_care_care_edu_5", "留觀注意事項(含環境介紹)")
                    </p><p style="padding-left:130px;">
                        @Html.CheckBox("ck_care_care_edu_6")
                        @Html.Label("ck_care_care_edu_6", "藥物相關衛教及注意事項")
                    </p><p style="padding-left:130px;">
                        @Html.CheckBox("ck_care_care_edu_7")
                        @Html.Label("ck_care_care_edu_7", "說明對象自我評值：")
                        @Html.CheckBox("ck_care_care_edu_7_1")
                        @Html.Label("ck_care_care_edu_7_1", "已完全瞭解")
                        @Html.CheckBox("ck_care_care_edu_7_2")
                        @Html.Label("ck_care_care_edu_7_2", "部分瞭解")
                        @Html.CheckBox("ck_care_care_edu_7_3")
                        @Html.Label("ck_care_care_edu_7_3", "完全不瞭解")
                    </p>
                    <p>
                        @Html.Label("lab", "約束照護", new { @class = "subtitle" })
                        @Html.CheckBox("ck_care_constraints_1", false, new { onclick = "$('care_constraints_2').fadeOut(500);" })
                        @Html.Label("ck_care_constraints_1", "無約束(以下免填)")
                        @Html.CheckBox("ck_care_constraints_2", false, new { onclick = "$('care_constraints_2').fadeIn(500);" })
                        @Html.Label("ck_care_constraints_2", "有約束，醫囑開立時間：")
                        <select id="sel_care_constraints_2_HH">
                            @for (int i = 0; i < 24; i++)
                            {
                                string time = Convert.ToDateTime("00:00").AddHours(i).ToString("HH");
                                if (time == DateTime.Now.ToString("HH"))
                                {
                                <option selected="selected">@time</option>
                                }
                                else
                                {
                                <option>@time</option>
                                }
                            }
                        </select>
                        時
                        <select id="sel_care_constraints_2_mm">
                            @for (int i = 0; i < 60; i++)
                            {
                                string time = Convert.ToDateTime("00:00").AddMinutes(i).ToString("mm");
                                if (time == DateTime.Now.ToString("mm"))
                                {
                                <option selected="selected">@time</option>
                                }
                                else
                                {
                                <option>@time</option>
                                }
                            }
                        </select>
                        分
                    </p>
                    <p id="care_constraints_2" style="padding-left:130px;display:none;">
                        @Html.CheckBox("ck_care_constraints_2_1")
                        @Html.Label("ck_care_constraints_2_1", "病人身體約束照護同意書")
                        @Html.CheckBox("ck_care_constraints_2_2")
                        @Html.Label("ck_care_constraints_2_2", "約束護理評估紀錄單")
                        @Html.CheckBox("ck_care_constraints_2_3")
                        @Html.Label("ck_care_constraints_2_3", "約束查檢表")
                    </p>
                </div>
            </div>
        </td>
    </tr>
</table>