@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
}

<style>
    .List_PDF td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }

    .List_PDF {
        border-top: 2px solid #666;
        border-bottom: 2px solid #666;
        font-family: Arial, "新細明體", EUDC;
    }

    .header_PDF {
        margin-right: 17px;
        overflow: hidden;
        background-color: #FFFFFF;
        font-family: Calibri, '新細明體', EUDC;
    }

        .header_PDF th {
            font-weight: bold;
            margin: 1px 1px 1px 1px;
            background-color: #85A5CC;
            text-align: center;
            vertical-align: middle;
            height: 26px;
        }

    tr {
        page-break-before: always !important;
        page-break-inside: avoid !important;
        page-break-after: always !important;
    }
</style>
<script type="text/javascript">
    function setGridColor() {
        //格行換色
        $('.dataArea_PDF tr:odd').css('background', '#ABC8E2');
        $('.dataArea_PDF tr:even').css('background', '#E1E6FA');
    }
</script>
@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    string birthday = (ptinof.Birthday == null) ? "" : Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd");
    string in_date = (ptinof.InDate == null) ? "" : Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") + " (" + ptinof.InDay + ")";
}
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;font-family: EUDC !important;">
    <tr>
        <td>
            <table border="0" style="width:100%;">
                <tr>
                    <td>病人姓名：@ptinof.PatientName</td>
                    <td>生日：@birthday</td>
                    <td>年齡：@(ptinof.Age)  &nbsp; 性別：@(ptinof.PatientGender)</td>
                    <td colspan="2">病歷號：@ptinof.ChartNo</td>
                </tr>
                <tr>
                    <td>科別：@ptinof.DeptName</td>
                    <td>主治醫師：@ptinof.DocName</td>
                    <td>住院日期：@in_date</td>
                    <td colspan="2">診斷：@ptinof.ICD9_code1</td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div style="padding:5px 0 5px 0;">
    <table class="List_PDF" border="0" cellpadding="4" cellspacing="3" style="width:100%;">
        <tr class="header_PDF">
            <th style="width:15%;">時間日期</th>
            <th style="width:75%;" colspan="2">紀錄</th>
            <th style="width:10%;">輸入者</th>
        </tr>
        @{
            if (dt != null)
            {
                foreach (DataRow r in dt.Rows)
                {
                    <tr>
                        <td style="width:15%;vertical-align:text-top;">
                            <div>@Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")</div>
                        </td>
                        <td style="max-width:20%;vertical-align:text-top;">
                            @if (r["TITLE"].ToString() != "")
                            {
                                <div>@r["TITLE"]</div>
                            }
                        </td>
                        <td style="vertical-align:text-top;line-height: 24px;">
                            @if (r["C"].ToString() != "" || r["C_OTHER"].ToString() != "")
                            {
                                @*<div><span style="width:10px;color:blue;">一般：</span><span style="color:red;">@r["C_OTHER"]</span>&nbsp;@r["C"]</div>*@
                                @*20140205 張副說不要看到一般兩個字*@
                                <div><span style="width:10px;color:blue;"></span><span style="color:red;">@r["C_OTHER"]</span>&nbsp;@r["C"]</div>
                            }
                            @if (r["S"].ToString() != "" || r["S_OTHER"].ToString() != "")
                            {
                                <div><span style="width:10px;color:blue;">S：</span><span style="color:red;">@r["S_OTHER"]</span>&nbsp;@r["S"]</div>
                            }
                            @if (r["O"].ToString() != "" || r["O_OTHER"].ToString() != "")
                            {
                                <div><span style="width:10px;color:blue;">O：</span><span style="color:red;">@r["O_OTHER"]</span>&nbsp;@r["O"]</div>
                            }
                            @if (r["I"].ToString() != "" || r["I_OTHER"].ToString() != "")
                            {
                                <div><span style="width:10px;color:blue;">I：</span><span style="color:red;">@r["I_OTHER"]</span>&nbsp;@r["I"]</div>
                            }
                            @if (r["E"].ToString() != "" || r["E_OTHER"].ToString() != "")
                            {
                                <div><span style="width:10px;color:blue;">E：</span><span style="color:red;">@r["E_OTHER"]</span>&nbsp;@r["E"]</div>
                            }
                            @if (r["EKG"].ToString() != "")
                            {

                                byte[] imageBytes = (byte[])r["EKG"];
                                string base64String = Convert.ToBase64String(imageBytes);
                                <img data-name="sourceImage" src="@String.Format("data:image/png;base64,{0}", base64String)" style="display:inline;" height="150px" onclick="ShowImg(this);" />
                            }
                        </td>
                        <td style="width:10%;text-align:center;vertical-align:text-top;">
                            <div>@r["username"]@*@r["CREATNAME"]*@</div>
                        </td>
                    </tr>
                }
            }
        }
    </table>
</div>
