@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
  .dataArea td {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    text-align: left;
  }
  .mname {
        color: blue;
        font-weight: bold;
    }

    .sname {
        color: #600c0c;
        font-style: italic;
    }
</style>

<script type="text/javascript">
    window.onload = function () {
        setGridColor();
    }

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    function add() {
        var ck = document.getElementsByName('carerecord');
        var content = '';
        
        for (var i = 0; i < ck.length; i++) {
            if (ck[i].checked) {
                content = content + ck[i].value + " ";
            }
        }
        alert(@ViewBag.id);
        content = content.substring(0, content.length - 1);
        window.opener.document.getElementById('span_@ViewBag.id').innerText = window.opener.document.getElementById('span_@ViewBag.id').innerText + content;
        window.opener.document.getElementById('hid_@ViewBag.id').value = window.opener.document.getElementById('hid_@ViewBag.id').value + content;
        return true;
    }
</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    }

<table border="0" cellpadding="0" cellspacing="0" style=" width:100%; text-align:left;">
    <tr>
        <td style="padding-bottom:5px;text-align:center;">
            <span style="color:blue;font-size:26px;">給藥紀錄資料</span>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <div class="dataHeader">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                    <tr>
                        <td style="width:20%;">執行時間</td>
                        <td style="width:5%;">醫囑類型</td>
                        <td style="width:41%;">藥品名稱</td>
                        <td style="width:10%;">使用</td>
                        <td style="width:24%;">註記</td>
                    </tr>
                </table>
            </div>
            <div class="dataArea" style="height:350px;">
            @if (dt != null && dt.Rows.Count > 0)
            {
                int i = 0;
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                @foreach (DataRow r in dt.Rows)
                {
                    <tr>
                        <td style="width:20%;">
                            @Html.CheckBox("carerecord", new { id = "ck" + i, value = r["NOTE"] })
                            <label for="ck@(i)" >@r["EXEC_DATE"]</label>
                        </td>
                        <td style="width:5%;text-align:center;">@r["UD_TYPE"]</td>
                        <td style="width:41%;">
                            <label class="mname">@r["MED_DESC"]</label><br />
                            <label class="sname">@r["ALISE_DESC"]</label>
                        </td>
                        <td style="width:10%;text-align:center">@r["USE_DOSE"] @r["UD_UNIT"]</td>
                        <td style="width:24%;">@r["REASON"]</td>
                    </tr>
                    i++;
                }
                </table>
            }
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;text-align:center;">
            <div class="funcArea">
                <input type="button" value="儲存" style="width:60px;" onclick="if (add()) window.close();" />
                <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
            </div>
        </td>
    </tr>
</table>