@using System.Data;
@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dt = ViewBag.dt;
    DataTable dt_care_plan_master = ViewBag.dt_care_plan_master;
}

<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        min-height:30px;
    }
</style>

<script type="text/javascript">
    $(function () {
        close_pup_window();
        setGridColor();
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 120);
        }).trigger("resize");
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }
</script>

<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
            <td style="text-align:center;">
                <input type="button" value="新增" id="but_add" style="width:60px;" onclick="@Java_funcion.pup_window("Special_Event_Index", 600, 550, "0")" />
            </td>
        </tr>
        <tr>
            <td style="padding-top:5px;">
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                         <tr>
                            <td style="width:6%;"></td>
                            <td style="width:6%;"></td>
                            <td style="width:20%;">項目</td>
                            <td style="width:43%;">內容</td>
                            <td style="width:10%;">註記人員</td>
                            <td style="width:15%;">註記日期</td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;background-color: #FFFFFF;">
                    @if (dt != null && dt.Rows.Count > 0)
                    {
                        foreach (DataRow r in dt.Rows)
                        { 
                        <tr>
                           <td style="width:6%;">
                             @*   @if ((r["TYPE_ID"].ToString().Trim() == "1" || r["TYPE_ID"].ToString().Trim() == "4") && r["CREATNO"].ToString() == ViewBag.userno)*@
                                 @if ((r["TYPE_ID"].ToString().Trim() != "6" ) && r["CREATNO"].ToString() == ViewBag.userno)
                                {
                                    <input type="button" name="@r["EVENT_ID"]" titleid="" value="編輯" onclick="@Java_funcion.pup_window("Special_Event_Index?id=" + r["EVENT_ID"], 550, 350, "0")"/>
                                }
                            </td>			
                            <td style="width:6%;">
                                @if (r["CREATNO"].ToString() == ViewBag.userno)
                                {
                                    string del_func = "if(confirm('確認刪除?')) { window.location.href='Del_Special_Event?id=" + r["EVENT_ID"] + "'; }";
                                    <input type="button" name="@r["EVENT_ID"]" value="刪除" onclick="@del_func"/>
                                }
                            </td>			
                            <td style="width:20%;">
                                @{
                                    string title = r["TYPE_ID"].ToString();
                                    if(title == "0")
                                    {
                                        title = "Sent Patient to";
                                    }
                                    if (title == "1")
                                    {
                                        title = "轉床(Transferred to)";
                                    }
                                    if (title == "2")
                                    {
                                        title = "生產(Delivered at)";
                                    }
                                    if (title == "3")
                                    {
                                        title = "手術日(OP day)";
                                    }
                                    if (title == "4")
                                    {
                                        title = "特殊處置及治療";
                                    }
                                    if (title == "5")
                                    {
                                        title = "出院通知";
                                    }
                                    if (title == "6")
                                    {
                                        title = "出院護理摘要";
                                    }
                                    if (title == "7")
                                    {
                                        title = "Refuse";
                                    }
                                    if (title == "8")
                                    {
                                        title = "Out at";
                                    }
                                    if (title == "9")
                                    {
                                        title = "Ice pillow use";
                                    }
                                    if (title == "10")
                                    {
                                        title = "返室";
                                    }
                                    if (title == "11")
                                    {
                                        title = "安寧會診紀錄";
                                    }
                                    if (title == "12")
                                    {
                                        title = "Born at";
                                    }
                                    if (title == "13")
                                    {
                                        title = "ROSC";
                                    } 
                                    if (title == "14")
                                    {
                                        title = "新生兒篩檢";
                                    }
                                    if (title == "15")
                                    {
                                        title = "HBIG注射";
                                    } 
                                    if (title == "16")
                                    {
                                        title = "B型肝炎注射";
                                    }
                                    if (title == "17")
                                    {
                                        title = "照光";
                                    } 
                                    if (title == "18")
                                    {
                                        title = "照光";
                                    }
                                    if (title == "19")
                                    {
                                        title = "緩和醫療照會紀錄";
                                    }
                                    if (title == "20")
                                    {
                                        title = "安寧共照照會紀錄";
                                    }
                                }   
                                <label id="title_@r["EVENT_ID"]">@title</label>
                                <label id="context_@r["EVENT_ID"]" style="display:none"> @r["CONTENT"].ToString().Trim()</label>
                            </td>
                            <td style="width:43%;">                                
                                 @if (@r["TYPE_ID"] != null && @r["TYPE_ID"].ToString().Trim() != "5")
                                 {
                                       <label>@(r["CONTENT"].ToString().Trim())</label>
                                     
                                     @*if (@r["TYPE_ID"].ToString().Trim() == "6")
                                     {
                                        <label>@(r["CONTENT"].ToString().Trim())</label>
                                     }
                                     else
                                     {
                                        <label>@(r["C_OTHER"].ToString().Trim())</label>
                                     }*@
                                 }
                                 else if (@r["CONTENT"] != null)
                                 {
                                     switch (@r["CONTENT"].ToString().Trim())
                                     {
                                         case "0":
                                         @:<label>出院，需門診追蹤治療</label>
                                                break;
                                            case "1":
                                         @:<label>出院，不需門診追蹤治療</label>
                                                break;
                                            case "2":
                                         @:<label>治癒出院</label>
                                                break;
                                                  case "3":
                                         @:<label>病危自動出院</label>
                                             break;
                                             case "4":
                                         @:<label>非病危自動出院</label>
                                             break;
                                             case "5":
                                         @:<label>轉院</label>
                                             break;
                                             case "6":
                                         @:<label>死亡</label>
                                             break;
                                             case "7":
                                         @:<label>潛逃</label>
                                             break;
                                             case "8":
                                         @:<label>其他</label>
                                                break;
                                        }
                                    }

                            </td>
                            <td style="width:10%;text-align:center">@r["username"]</td>
                            <td style="width:15%;text-align:center">@Convert.ToDateTime(r["CREATTIME"]).ToString("yyyy/MM/dd HH:mm")</td>           
                        </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td style="text-align:center;">
                                <span style="color:blue;font-size:14px;">此病人尚無作何註記。</span>
                            </td>
                        </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
    </table>
</div>