@{
    //Layout = "~/Views/Layout/Main.cshtml";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
  .dataArea td {
    border-bottom: 1px solid rgba(20%,20%,40%,0.5);
    text-align: left;
  }
</style>

<script type="text/javascript">
    window.onload = function () {
        setGridColor();
    }

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }

    function add() {
        var ck = document.getElementsByName('carerecord');
        var content = '';
        for (var i = 0; i < ck.length; i++) {
            if (ck[i].checked) {
                content = content + ck[i].value + " , ";
            }
        }
        if (content != '')
            content = content.substring(0, content.length - 2) + '。 ';
        window.opener.document.getElementById('span_@ViewBag.id').innerText = window.opener.document.getElementById('span_@ViewBag.id').innerText + content;
        window.opener.document.getElementById('hid_@ViewBag.id').value = window.opener.document.getElementById('hid_@ViewBag.id').value + content;
        return true;
    }
</script>

@using System.Data;
@{
    DataTable dt_tube = ViewBag.dt_tube;
}
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
    <tr>
        <td style="padding-bottom:5px;text-align:center;">
            <span style="color:blue;font-size:26px;">管路紀錄資料</span>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;">
            <div class="dataHeader">
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                    <tr>
                        <td style="width:5%;"><div style="width:40px; overflow:hidden;"></div></td>
                        <td style="width:16%;">插管日期</td>
                        <td style="width:19%;">種類</td>
                        <td style="width:7%;">部位</td>
                        <td style="width:7%;">位置</td>
                        <td style="width:5%;">編號</td>
                        <td style="width:9%;">材料</td>
                        <td style="width:7%;">型號</td>
                        <td style="width:9%;">固定長度</td>
                        <td style="width:16%;">預計拔管日期</td>
                    </tr>
                </table>
            </div>
            <div class="dataArea" style="height:360px;">
            @if (dt_tube != null)
            {
                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                @foreach (DataRow r in dt_tube.Rows)
                {
                    <tr>
                        <td style="width:5%;">
                            <div style="width:40px; overflow:hidden;text-align:center;">
                                <input type="checkbox" name="carerecord" row="@(r["TUBEROW"])" value="@r["CARERECORD"]" />
                            </div>
                        </td>
                        <td style="width:16%;text-align:center;">
                            @Convert.ToDateTime(r["STARTTIME"]).ToString("yyyy/MM/dd HH:mm")
                        </td>
                        <td style="width:19%;text-align:center;">
                            @r["TYPE_NAME"]
                        </td>
                        <td style="width:7%;text-align:center;">
                            @r["POSITION"]
                        </td>
                        <td style="width:7%;text-align:center;">
                            @if (r["LOCATION"].ToString() != "-1")
                            {
                                @r["LOCATION_NAME"]
                            }
                        </td>
                        <td style="width:5%;text-align:center;">
                            @if (@r["NUMBERID"].ToString() != "99")
                            {
                                @r["NUBER_NAME"]
                            }
                            else
                            {
                                @r["NUMBEROTHER"]
                            }   
                        </td>
                        <td style="width:9%;text-align:center;">
                            @if (r["MATERIALID"].ToString() != "-1")
                            {
                                if (@r["MATERIALID"].ToString() != "99")
                                {
                                @r["MATERIAL_NAME"]
                                }
                                else
                                {
                                @r["MATERIALOTHER"]
                                }
                            }
                        </td>
                        <td style="width:7%;text-align:center;">
                            @r["MODEL"]
                        </td>
                        <td style="width:9%;text-align:center;">
                            @r["LENGTH"]
                            @if (r["LENGTHUNIT"].ToString() != "-1")
                            {
                                @r["LENGTHUNIT_NAME"]
                            }
                        </td>
                        <td style="width:16%;text-align:center;">
                            @if (r["FORECAST"].ToString() != "")
                            {
                            @Convert.ToDateTime(r["FORECAST"]).ToString("d")
                            }
                        </td>
                    </tr>
                }
                </table>
            }
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding:5px 0 5px 0;text-align:center;">
            <div class="funcArea">
                <input type="button" value="儲存" style="width:60px;" onclick="if (add()) window.close();" />
                <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
            </div>
        </td>
    </tr>
</table>