@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string feeno = ViewBag.feeno;
    string ExecFlag = ViewBag.ExecFlag;
    string TypeFlag = ViewBag.TypeFlag;
    string RootDocument = "";
    if (global_asax.localIp.Substring(0, 7) == "172.20.") //for ECK
    {
        RootDocument = ViewBag.RootDocument + "/NIS";
    }
    else if (NIS.Controllers.BaseController.debug_mode)
    { //for localhost
        RootDocument = ViewBag.RootDocument;
    }
    else //for demo
    {
        RootDocument = ViewBag.RootDocument + "/NIS_ECK";
    }
    string ChartNo = ViewBag.ChartNo;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HISView 測試</title>
</head>
<link rel="Stylesheet" type="text/css" href="~/Content/StyleSheet/bootstrap.min.css" />
<script type="text/javascript">
 $(document).ready(function () {
        //loadMedPage();
    });



 function load_func(func_name) {
     var url_obj = "";
        $.ajax({//LOAD一個session
            type: 'post',
            url: '@(RootDocument)/HISView/WebS_ChangPtInfo',
            async: false,
            data: { 'strFeeNo': '@(feeno)' },
            success: function (data) {
            }
        });
        if (func_name == "IO") {
            func_name = "Index";
            url_obj = "&type=nis";
        }
        if (func_name == "IO_OBS") {
            func_name = "Index";
            url_obj = "&type=obs";
        }

     var control = "HISVIEW/";
        if (func_name.indexOf("VoiceInput") != -1) {
            //func_name = "VoiceInput"
            control = "HISVIEWTEST/"
     }
     if (func_name.indexOf("OBS_") >= 0) {
         func_name = func_name.toString().substring(4);
         control = "Obstetrics/"
     }
     if (func_name.indexOf("BABYBORN_") >= 0) {
         func_name = func_name.toString().substring(9);
         control = "BabyBorn/"
     }


        window.open("@(RootDocument)/" + control + func_name + "?feeno=" + '@(feeno)' + "&env=223&chartno=" + '@(ChartNo)' + "&IsHisView=true" + url_obj, 'TopMenu');
    }


</script>

<body>
    <h1>HISView 測試(只有 Demo(09277) / HISTEST(13278) 看得到)</h1>
    <form name="excute_form" action="SignSave" method="post">
        <tr>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-success" value="HView_Main" title="HView_Main" onclick="load_func('HView_Main');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="管路查詢" title="Tube" onclick="load_func('Tube');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="管路評估" title="Assessment_List" onclick="load_func('Assessment_List');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="血糖查詢" title="BloodSugar_List" onclick="load_func('BloodSugar_List');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="血糖胰島素查詢" title="BSugarInsulinList" onclick="load_func('BSugarInsulinList');" />
            </td>
            <td>
        </tr>
        <br />
        <tr>
            <input type="button" style="width: 120px;" class="btn btn-primary" value="疼痛查詢" title="listPain" onclick="load_func('listPain');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="護理紀錄查詢" title="CareRecord" onclick="load_func('CareRecord');" />
            </td>
            <td>
                <input type="button" style="width: 60px;" class="btn btn-primary" value="I/O查詢" title="Index" onclick="load_func('IO');" />
                <input type="button" style="width: 60px;" class="btn btn-primary" value="I/O(嬰)" title="Index" onclick="load_func('IO_OBS');" />
            </td>

            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="給藥查詢" title="Med_QueryExecLogByUD" onclick="load_func('Med_QueryExecLogByUD');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="給藥列印查詢" title="Med_SearchList" onclick="load_func('Med_SearchList');" />
            </td>
        </tr>

        <br />
        <tr>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="尿管量查詢" title="CatheterFlushVolume_Detail" onclick="load_func('CatheterFlushVolume_Detail');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="約束查詢" title="Constraints_ListNew" onclick="load_func('Constraints_ListNew');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="CVVH查詢" title="CVVH_Index" onclick="load_func('CVVH_Index');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="Drug_iv查詢" title="Drug_iv_report" onclick="load_func('Drug_iv_report');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="衛教查詢" title="Education_List" onclick="load_func('Education_List');" />
            </td>


        </tr>
        <br />
        <tr>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="壓傷查詢" title="DigitFlap_List" onclick="load_func('DigitFlap_List');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="傷口查詢" title="listTrauma" onclick="load_func('listTrauma');" />
            </td>

            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="生命徵象查詢" title="VitalSign_Query" onclick="load_func('VitalSign_Query');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="TPR查詢" title="Tpr_Index" onclick="load_func('Tpr_Index');" />
            </td>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="特殊事件查詢" title="Special_Event" onclick="load_func('Special_Event');" />
            </td>
        </tr>
        <br />
        <tr>
            <td>
                <input type="button" style="width: 120px;" class="btn btn-primary" value="產程監測查詢" title="Instantly_Be_Birth_List" onclick="load_func('OBS_Instantly_Be_Birth_List');" />
            </td>
            <td>
                <input type="button" style="width: 130px;" class="btn btn-primary" value="產後護理紀錄查詢" title="Postnatal_Record_List" onclick="load_func('OBS_Postnatal_Record_List');" />
            </td>
            <td>
                <input type="button" style="width: 130px;" class="btn btn-primary" value="母嬰護理紀錄查詢" title="Breast_Fedding_List" onclick="load_func('OBS_Breast_Fedding_List');" />
            </td>
        </tr>
        <br />
        <tr>
            <td>
                <input type="button" style="width: 130px;" class="btn btn-primary" value="生產紀錄查詢" title="Before_Birth_List" onclick="load_func('OBS_Before_Birth_List');" />
            </td>
            <td>
                <input type="button" style="width: 130px;" class="btn btn-primary" value="出生紀錄單查詢" title="Partial_Child_Brith" onclick="load_func('OBS_Partial_Child_Brith');" />
            </td>
            <td>
                <input type="button" style="width: 200px;" class="btn btn-primary" value="愛丁堡產後憂鬱症評估查詢" title="EPDS_List" onclick="load_func('BABYBORN_EPDS_List');" />
            </td>
        </tr>
        <br />
        <tr>
            <td>
                <input type="button" style="width: 180px;" class="btn btn-primary" value="新生兒戒斷系統評估查詢" title="NASS_List" onclick="load_func('BABYBORN_NASS_List');" />
            </td>
            <td>
                <input type="button" style="width: 170px;" class="btn btn-primary" value="嬰兒呼吸暫停記錄查詢" title="PIBS_List" onclick="load_func('BABYBORN_PIBS_List');" />
            </td>
            <td>
                <input type="button" style="width: 220px;" class="btn btn-primary" value="新生兒出生7小時觀察記錄查詢" title="NB7HR_List" onclick="load_func('BABYBORN_NB7HR_List');" />
            </td>
        </tr>
        <br/>
        <tr>
            <td>
                <input type="button" style="width: 150px;" class="btn btn-primary" value="新生兒入評查詢" title="NBENTR_List" onclick="load_func('BABYBORN_NBENTR_List');" />
            </td>
            <td>
                <input type="button" style="width: 150px;" class="btn btn-primary" value="嬰幼兒入評查詢" title="BabyEntr_List" onclick="load_func('BABYBORN_BabyEntr_List');" />
            </td>
            <td>
                <input type="button" style="width: 150px;" class="btn btn-primary" value="早產兒體重表" title="Child_Weight_Print" onclick="load_func('OBS_Child_Weight_Print');" />
            </td>
        </tr>
        <br />
        <tr>
            <td>
                <input type="button" style="width: 150px;" class="btn btn-primary" value="譫妄評估查詢" title="Delirium_List" onclick="load_func('Delirium_List');" />
            </td>
            <td>
                <input type="button" style="width: 150px;" class="btn btn-primary" value="衰弱評估查詢" title="CFS_List" onclick="load_func('CFS_List');" />
            </td>         
        </tr>
        @*<tr>
            <td>
                <input type="button" id="VoiceInput_Csharp_Selenium" style="width: 120px;" class="btn btn-primary" value="C#_自動登入2" title="VoiceInput_Csharp_Selenium" onclick="load_func('VoiceInput_Csharp_Selenium');" />
            </td>
            <td>
                <input type="button" id="VoiceInput_IronPython" style="width: 120px;" class="btn btn-primary" value="IronP_自動登入3" title="VoiceInput_IronPython" onclick="load_func('VoiceInput_IronPython');" />
            </td>
            <td>
                <input type="button" id="VoiceInput_SeleniumServer" style="width: 120px;" class="btn btn-primary" value="P_SeleniumServer" title="VoiceInput_SeleniumServer" onclick="load_func('VoiceInput_SeleniumServer');" />
            </td>
        </tr>*@
        <br />
        <tr>
            <td>
                <input type="button" id="VoiceInput" style="width: 120px;" class="btn btn-primary" value="P_自動登入" title="VoiceInput" onclick="load_func('VoiceInput');" />
            </td>
            <td>
                <input type="button" id="VoiceInput_python_args" style="width: 120px;" class="btn btn-primary" value="P_自動登入args" title="VoiceInput_python_args" onclick="load_func('VoiceInput_python_args');" />
            </td>
            <td>
                <input type="button" id="VoiceInput_exe_args" style="width: 120px;" class="btn btn-primary" value="exe_自動登入" title="VoiceInput_exe_args" onclick="load_func('VoiceInput_exe_args');" />
            </td>
        </tr>
    </form>
    <!--遮罩-->
    <div id="inp" class="dialog"></div>
    <div id="cover" class="dialog"></div>
    <div id="sys_Block"></div>


</body>
</html>
