@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    ViewBag.Title = "Edit";
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
    DateTime mindate = DateTime.Now;
    string title = "連續性沖洗尿管出入量 修改";
    DataTable CareDt = ViewBag.CareDt;
    //if(complement_List.Status)
    //{ mindate = pf.InDate; }
    //else
    //{
    //    if (DateTime.Now.Hour < 24)//20171030 改規則 AlanHuang
    //    {
    //        mindate = Convert.ToDateTime(DateTime.Now.AddDays(-1).ToString("yyyy/MM/dd 00:00"));
    //    }
    //    else if (DateTime.Now.Day == 1 && DateTime.Now.Hour < 24)
    //    {
    //        if (((DateTime.Now.Year % 4 == 0) && (DateTime.Now.Year % 100 != 0)) || (DateTime.Now.Year % 400 == 0))//判斷閏年
    //        {
    //            if (DateTime.Now.Month == 2)
    //            {
    //                mindate = Convert.ToDateTime(DateTime.Now.AddMonths(-1).AddDays(28).ToString("yyyy/MM/dd 00:00"));
    //            }
    //        }
    //        if (DateTime.Now.Month == 1 || DateTime.Now.Month == 3 || DateTime.Now.Month == 5 || DateTime.Now.Month == 7 || DateTime.Now.Month == 8 || DateTime.Now.Month == 10 || DateTime.Now.Month == 12)
    //        {
    //            mindate = Convert.ToDateTime(DateTime.Now.AddMonths(-1).AddDays(30).ToString("yyyy/MM/dd 00:00"));
    //        }
    //        else
    //        {
    //            if (DateTime.Now.Month == 2) { mindate = Convert.ToDateTime(DateTime.Now.AddMonths(-1).AddDays(27).ToString("yyyy/MM/dd 00:00")); }
    //            else { mindate = Convert.ToDateTime(DateTime.Now.AddMonths(-1).AddDays(29).ToString("yyyy/MM/dd 00:00")); }
    //        }
    //    }
    //    else
    //    { mindate = Convert.ToDateTime(DateTime.Now.ToString("yyyy/MM/dd 00:00")); }
    //    if (pf.InDate > mindate)
    //    { mindate = pf.InDate; }
    //}
}
<style type="text/css">
    #module_define
    {
        padding: 5px 0px 3px 0px;
        text-align: center;
        background-color: #9999FF;
        width: 100%;
        border: 1px solid #BBBBBB;
        border-right: 2px solid #999999;
        border-bottom: 2px solid #999999;
    }

    .funcArea LEGEND
    {
        margin-left: 5px;
        background: #FFF;
        padding: 3px 7px 2px 7px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: none;
        font-size: 14px;
    }
</style>
<script type="text/javascript">
    //判斷是否選擇其他
    function txt_fordrop(dropid, txtid) {
        var list = $('#' + dropid).val()
        if (list != '99') {
            $('#' + txtid).attr('defaultvalue', $('#' + txtid).val());
            document.getElementById(txtid).disabled = true;
            $('#' + txtid).val('');
            $('#' + txtid).hide();
        }
        else {
            $('#' + txtid).val($('#' + txtid).attr('defaultvalue'));
            document.getElementById(txtid).disabled = false;
            $('#' + txtid).val('');//原沒這行
            $('#' + txtid).show();
        }
    }

    //驗證欄位_數字
    function numcheck(obj) {
        var success = true;
        if (obj.value.indexOf('.') > -1)
            var re = /^[0-9]+\.[0-9]*$/;
        else
            var re = /^[0-9]+$/;

        if (!re.test(obj.value) && obj.value != "") {
            alert("只能輸入數字");
            $(obj).val('');
            success = false;
        }
        return success;
    }

    //submit-確認1.數量  2.沖出有填時，顏色必填----未使用
    function submit_check(type) {
        var success = true;
        if(type=="0")
        {
            if ($.trim($('#txt_i_amount').val()) == '')
            {
                alert("請輸入沖入量");
                success = false;
                return false;
            }
        }else
        {
            if ($.trim($('#txt_o_amount').val()) == '')
            {
                alert("請輸入沖出量");
                success = false;
                return false;
            }
            if ($.trim($('#txt_o_amount').val()) != '') {
                if ($("#urine_color :selected").val() != "-1") {
                    success = true;
                    if ($("#urine_color :selected").val() == "99") {
                        if ($.trim($("#color_other").val()) == "") {
                            alert("請輸入其他尿液顏色");
                            success = false;
                        } else {
                            success = true;
                        }
                    }
                    else {
                        success = true;
                    }
                }
                else {
                    alert("請選擇尿液顏色");
                    success = false;
                }
            }
        }
        return success;
    }


    ///     其他    ///
    @*function all_clear() {
        $('#insert_day').val('@(DateTime.Now.ToString("yyyy/MM/dd"))');
        $('#insert_time').val('@(DateTime.Now.ToString("HH:mm"))');
        //$("[name=rb_record_class][value=0]").attr('checked', true);
        $('#txt_i_amount').val('');
        $('#txt_o_amount').val('');
        $('#urine_color').val('-1');
        txt_fordrop('urine_color', 'color_other');
        $('#txt_bit_last').val('');
        $('#txt_remark').val('');
        $("#cb_into_io").attr('checked', false);//$(&quot;#chk1&quot;).attr(&quot;checked&quot;,&#39;&#39;);
        $("#cb_into_care").attr('checked', false);
        $("#hid_into_io").val('');
        $("#hid_into_care").val('');
    }*@

    
    $(function(){
        $("#cb_into_care").change(function() {
            if(this.checked) {
                //do something;
                $("#hid_into_care").val("1");
            }else
            {
                $("#hid_into_care").val("0");
            }
        });
    });

    $(function () {
        $("#txt_remark").blur(function () {
            AutoSelCheckbox();
        });
    })

    function AutoSelCheckbox() {
        var str = $("#txt_remark").val();
        str = jQuery.trim(str);
        if (str != "") {
            $("#cb_into_care").prop('checked', true);
            $("#hid_into_care").val("1");
        } else {
            $("#cb_into_care").prop('checked', false);
            $("#hid_into_care").val("0");
        }
    };
</script>
@{
    DataTable dt = ViewBag.dt;
}

@foreach(DataRow dt_r in dt.Rows)
{
    string func = "window.location.href = 'Detail?date=" + ViewBag.date+ "'";
    
    <div class="funcArea" style="width: 100%; text-align: center;">
        <table border="0" cellpadding="0" cellspacing="0" style="width: 100%;">
            <tr>
                <td colspan="1" align="center">
                    <div id="module_define" style="width: 50%; text-align: center;">@(title)</div>
                </td>
            </tr>
            <tr style="">
                <td align="center">
                    <div style="width: 50%; text-align: center;">
                        <fieldset>
                            @*<legend>新增</legend>*@
                            <form id="form1" action="Edit" method="post">
                                <div style="padding: 5px 5px 5px 5px; background-color: #EEEFFF;">
                                    <table border="0" cellpadding="0" cellspacing="0" style="width: 100%; height: 300px; background-color: #EEEFFF; padding: 2px 2px 2px 2px;">
                                        <tr>
                                            <td style="width: 10%; text-align: right;">日期時間：
                                            </td>
                                            <td style="width: 90%; text-align: left" colspan="3">
                                                @Html.TextBox("insert_day", Convert.ToDateTime(dt_r["RECORD_TIME"]).ToString("yyyy/MM/dd"), new { @OnBlur = "", style = "width:100%;display:inline;cursor:allowed" })
                                                @Html.TextBox("insert_time",Convert.ToDateTime(dt_r["RECORD_TIME"]).ToString("HH:mm"), new { style = "width:100%;display:inline;cursor:allowed" })
                                                @*@WebTool.setDateTime("insert_day", "insert_time", "", "0", "", mindate.ToString("MM/dd/yyyy HH:mm:ss"))*@
                                                @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "insert_day", "insert_time", false)
                                            </td>
                                        </tr>
                                        <tr id="tr_i_amount">
                                            <td style="text-align: right; width: 15%;">
                                                <label>沖入量：</label>
                                            </td>
                                            <td colspan="1" style="width: 25%; text-align: left;">
                                                @Html.TextBox("txt_i_amount", "", new { style = "width:80px", maxlength = "10", onchange = "numcheck(this); " })
                                            </td>
                                            <td style="text-align: right; width: 15%;">
                                                <label>剩餘量：</label>
                                            </td>
                                            <td colspan="1" style="width: 45%; text-align: left;">
                                                @Html.TextBox("txt_bit_last", "", new { style = "width:80px", maxlength = "10", onchange = "numcheck(this); " })
                                            </td>
                                        </tr>
                                        <tr id="tr_o_amount">
                                            <td style="text-align: right; width: 15%;">
                                                <label>沖出量：</label>
                                            </td>
                                            <td colspan="1" style="width: 25%; text-align: left;">
                                                @Html.TextBox("txt_o_amount", "", new { style = "width:80px", maxlength = "10", onchange = "numcheck(this); " })
                                            </td>
                                            <td style="text-align: right; width: 15%;">
                                                <label>尿液顏色：</label>
                                            </td>
                                            <td colspan="1" style="width: 45%; text-align: left;">
                                                @Html.DropDownList("urine_color", (List<SelectListItem>)ViewData["urine_color"], new { onchange = "txt_fordrop(this.id,'color_other');" })
                                                @Html.TextBox("color_other", "", new { style = "width:60px;display:none;", defaultvalue = "", disabled = "disabled", maxlength = "50" })
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right; vertical-align: top; padding-top: 20px;">
                                                <label>備註：</label>
                                            </td>
                                            <td colspan="3">
                                                <textarea id="txt_remark" name="txt_remark" style="width: 95%; height: 90px;" maxlength="4000"></textarea>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;" colspan="4">
                                                <input type="button" value="存檔" style="width: 60px;" onclick="if (submit_check('@(dt_r["RECORD_CLASS"].ToString())')) { submit(); }" />
                                                @*<input type="button" value="取消" style="width: 60px;" onclick="all_clear();" />*@
                                                <input type="button" value="返回" style="width:60px;"  onclick="@func" />
                                                <input type="button" value="刪除此筆資料" onclick="$('#form1').attr('action', 'Data_Delete'); submit();" />
                                                @*<label>
                                            <input type="checkbox" id="cb_into_io" name="cb_into_io" value="0" />帶入 I/O
                                        </label>*@
                                                <label>
                                                    <input type="checkbox" id="cb_into_care" name="cb_into_care" />帶入護理記錄
                                                </label>
                                                <input type="hidden" id="hid_into_io" name="hid_into_io" />
                                                <input type="hidden" id="hid_into_care" name="hid_into_care"  />
                                                <input type="hidden" id="hid_carerecordhas" name="hid_carerecordhas" />
                                                <input name="record_id" type="hidden" value="@dt_r["RECORD_ID"]" />
                                                <input name="date" type="hidden" value="@(ViewBag.date)" />
                                                <input name="record_class" type="hidden" value="@(dt_r["RECORD_CLASS"].ToString())" />
                                                
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <script type="text/javascript">
        @if(dt_r["RECORD_CLASS"].ToString() == "0")
        {
            @:$('#txt_i_amount').val('@(dt_r["AMOUNT"])');
            @:$("#tr_i_amount").show();
            @:$("#tr_o_amount").hide();
            @:$("#txt_bit_last").val('@dt_r["BIT_SURPLUS"]');
        }
        else
        {
            @:$('#txt_o_amount').val('@(dt_r["AMOUNT"])');
            @:$("#tr_i_amount").hide();
            @:$("#tr_o_amount").show();
            if(@dt_r["COLORID"].ToString() != "99") { 
                <text>
                $("#urine_color").val('@dt_r["COLORID"]');
                $("#color_other").val('');
                </text>

            }
            else
            {
                <text>
                $("#urine_color").val('99');
                txt_fordrop('urine_color', 'color_other');
                $("#color_other").val('@dt_r["COLOROTHER"]');
                </text>
            }
        }
        $("#txt_remark").val('@dt_r["REMARK"]');
        AutoSelCheckbox();
        var CareDtCount = '@(CareDt.Rows.Count)';//如果曾經有勾選護理記錄，就進行回勾，並將隱藏欄位輸入
        $(function () {
            if (parseInt(CareDtCount) > 0) {
                $("#cb_into_care").attr("checked", true);
                $("#hid_carerecordhas").val("1");
                $("#hid_into_care").val("1");
            } else {
                $("#cb_into_care").attr("checked", false);
                $("#hid_carerecordhas").val("0");
                $("#hid_into_care").val("0");
            }
        });
    </script>
}