@using System.Data;
@{
    DataTable nbdt = ViewBag.nbdt;
    DataTable stadt = ViewBag.stadt;
    ViewBag.Title = "Add_New_Child";
    int count = Convert.ToInt32(ViewBag.count);
    bool IsHisView = ViewBag.IsHisView;
    if (count != 0 && (nbdt == null || nbdt.Rows.Count == 0))
    {
        <form action="Insert_Partial_Child_Brith" method="post">
            <input type="hidden" name="COUNT" value="@count" />
            <table style="width:100%;font-size:12px;" border="0" cellpadding="4" cellspacing="1">
                @for (int i = 0; i < count; i++)
                {
                    String BabyNo = Convert.ToChar('A' + i).ToString();
                    <tr>
                        <td class="head" style="width:12.5%">
                            @Html.TextBox("TXT_NB_NAME_" + (i + 1), "新生兒" + BabyNo, new { style = "width:80px", @readonly = "readonly" })
                        </td>
                        <td class="head" style="width:12.5%">
                            <label><input type="radio" name="RB_GENDER_@(i + 1)" value="男" checked />男</label>
                            <label><input type="radio" name="RB_GENDER_@(i + 1)" value="女" />女</label>
                            <label><input type="radio" name="RB_GENDER_@(i + 1)" value="無法分辨" />無法分辨</label>
                        </td>
                        <td class="head" style="width:12.5%">
                            <label><input type="radio" name="RB_NB_STAT_@(i + 1)" value="1" onclick="$('#death@(i + 1)').fadeOut();" checked />活胎</label>
                            <label><input type="radio" name="RB_NB_STAT_@(i + 1)" value="0" onclick="$('#death@(i + 1)').fadeIn();" />死胎</label>
                            <span id="death@(i + 1)" style="display:none">
                                <input type="checkbox" name="CK_NB_STAT_RS_@(i + 1)" value="0" />染色體異常
                                <input type="checkbox" name="CK_NB_STAT_RS_@(i + 1)" value="1" />胎兒無心跳
                                <input type="checkbox" name="CK_NB_STAT_RS_@(i + 1)" value="2" />器官異常
                                <input type="checkbox" name="CK_NB_STAT_RS_@(i + 1)" value="3" />感染
                                <input type="checkbox" name="CK_NB_STAT_RS_@(i + 1)" value="4" onclick="$('#death_other_@(i + 1)').fadeToggle()" />其他
                                <span id="death_other_@(i + 1)" style="display:none">
                                    @Html.TextBox("TXT_NB_STAT_RS_OTH_" + (i + 1), "", new { style = "width:80px" })
                                </span>
                            </span>
                        </td>
                        <td class="head" style="width:12.5%">生日</td>
                        <td class="head" style="width:12.5%">
                            @if (stadt.Rows[0]["BIRTH"].ToString() != "")
                            {
                                @Html.TextBox("TXT_BIRTH_DAY_C_DAY" + (i + 1), Convert.ToDateTime(stadt.Rows[0]["BIRTH"].ToString()).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                                @Html.TextBox("TXT_BIRTH_DAY_C_TIME" + (i + 1), Convert.ToDateTime(stadt.Rows[0]["BIRTH"].ToString()).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.TextBox("TXT_BIRTH_DAY_C_DAY" + (i + 1), "", new { style = "width:80px", @readonly = "readonly" })
                                @Html.TextBox("TXT_BIRTH_DAY_C_TIME" + (i + 1), "", new { style = "width:50px", @readonly = "readonly" })
                            }
                            @WebTool.setDateTime("TXT_BIRTH_DAY_C_DAY" + (i + 1), "TXT_BIRTH_DAY_C_TIME" + (i + 1), "", "30")
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="6" class="head" style="text-align:center;">
                        @if (IsHisView != true)
                        {
                            <input type="button" value="產生出生紀錄" onclick="if (checkLD(true)) submit();" />
                            <input type="button" value="清除" onclick="$('#new_child').empty();$('input[name=RB_CHILD_QUANTITY]:checked').prop('checked', false)" />
                        }
                    </td>
                </tr>
            </table>
        </form>
    }
    else
    {
        <form action="Upd_Partial_Child_Brith" method="post">
            <table style="width:100%;font-size:12px;" border="0" cellpadding="4" cellspacing="1">
                @foreach (DataRow r in nbdt.Rows)
                {
                    <tr>
                        <td class="head" style="width:12.5%">
                            <input type="hidden" name="IID" value="@r["IID"]" />
                            @Html.TextBox("TXT_NB_NAME_" + r["IID"], r["NB_NAME"], new { style = "width:80px", @readonly = "readonly" })
                        </td>
                        <td class="head" style="width:12.5%">
                            <label><input type="radio" name="RB_GENDER_@(r["IID"])" value="男" />男</label>
                            <label><input type="radio" name="RB_GENDER_@(r["IID"])" value="女" />女</label>
                            <label><input type="radio" name="RB_GENDER_@(r["IID"])" value="無法分辨" />無法分辨</label>
                        </td>
                        <td class="head" style="width:12.5%">
                            <label><input type="radio" name="RB_NB_STAT_@(r["IID"])" value="1" onclick="$('#death@(r["IID"])').fadeOut();" />活胎</label>
                            <label><input type="radio" name="RB_NB_STAT_@(r["IID"])" value="0" onclick="$('#death@(r["IID"])').fadeIn();" />死胎</label>
                            <span id="death@(r["IID"])" style="display:none">
                                <input type="checkbox" name="CK_NB_STAT_RS_@(r["IID"])" value="0" />染色體異常
                                <input type="checkbox" name="CK_NB_STAT_RS_@(r["IID"])" value="1" />胎兒無心跳
                                <input type="checkbox" name="CK_NB_STAT_RS_@(r["IID"])" value="2" />器官異常
                                <input type="checkbox" name="CK_NB_STAT_RS_@(r["IID"])" value="3" />感染
                                <input type="checkbox" name="CK_NB_STAT_RS_@(r["IID"])" value="4" onclick="$('#death_other_@(r["IID"])').fadeToggle()" />其他
                                <span id="death_other_@(r["IID"])" style="display:none">
                                    @Html.TextBox("TXT_NB_STAT_RS_OTH_" + r["IID"], r["NB_STAT_RS_OTH"], new { style = "width:80px" })
                                </span>
                            </span>
                        </td>
                        <td class="head" style="width:12.5%">生日</td>
                        <td class="head" style="width:12.5%">
                            @if (r["BIRTH_DAY"].ToString() == "")
                            {
                                @Html.TextBox("TXT_BIRTH_DAY_C_DAY" + r["IID"], "", new { style = "width:80px", @readonly = "readonly" })
                                @Html.TextBox("TXT_BIRTH_DAY_C_TIME" + r["IID"], "", new { style = "width:50px", @readonly = "readonly" })
                            }
                            else
                            {
                                @Html.TextBox("TXT_BIRTH_DAY_C_DAY" + r["IID"], Convert.ToDateTime(r["BIRTH_DAY"]).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                                @Html.TextBox("TXT_BIRTH_DAY_C_TIME" + r["IID"], Convert.ToDateTime(r["BIRTH_DAY"]).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                            }
                            @WebTool.setDateTime("TXT_BIRTH_DAY_C_DAY" + r["IID"], "TXT_BIRTH_DAY_C_TIME" + r["IID"], "", "30")
                            <div>
                                <script>
                                    @if(r["GENDER"].ToString() != "")
                                    {
                                      @:set_for_rb('RB_GENDER_@(r["IID"])', '@r["GENDER"]');
                                    }
                                    @if(r["NB_STAT"].ToString() != "")
                                    {
                                      @:set_for_rb('RB_NB_STAT_@(r["IID"])', '@r["NB_STAT"]');
                                    }
                                    @if(r["NB_STAT_RS"].ToString() != "")
                                    {
                                        var NB_STAT_RS = r["NB_STAT_RS"].ToString();
                                        var NB_STAT_RSV = new List<string>();

                                        for (var i = 0; i < NB_STAT_RS.ToString().Length; i++)
                                        {
                                            if (NB_STAT_RS[i] == '1')
                                            {
                                                NB_STAT_RSV.Add(i.ToString());
                                            }
                                        }
                                        @:set_for_ck('CK_NB_STAT_RS_@(r["IID"])', '@String.Join(",", NB_STAT_RSV)');
                                     }
                                </script>
                            </div>
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="6" class="head" style="text-align:center;">
                        @if (IsHisView != true)
                        {
                            <input type="submit" value="修改出生紀錄" onclick="if (checkLD(false)) submit();" />
                            <input type="button" value="清除" onclick="$('#new_child').empty();$('input[name=RB_CHILD_QUANTITY]:checked').prop('checked', false)" />
                        }
                    </td>
                </tr>
            </table>
        </form>
    }
}

<script type="text/javascript">
    function pup_window(url) {
        $("#tab1").load(url, function () {
            $('.title_area').fadeOut(0);
        });
    }

    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function set_for_ck(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            var ck = document.getElementsByName(ck_name);
            for (var i = 0; i < default_val.length; i++) {
                for (var j = 0; j < ck.length; j++) {
                    if (default_val[i] == ck[j].value)
                        $(ck[j]).click();
                }
            }
        }
    }

    function checkLD(isAdd) {
        var count = "@count";
        var girl = 0;
        var boy = 0;
        var unknown = 0;
        for (var i = 1; i <= count; i++) {
            if ($("input[name = RB_NB_STAT_" + i + "]:checked").val() === "0") {
                var v = $("input:checkbox:checked[name=CK_NB_STAT_RS_" + i + "]").map(function () { return $(this).val(); }).get().join(',');
                if (v == null || v == "") {
                   alert("需填寫歿-原因")
                    return false;
                }
            }

            if ($("input[name = RB_GENDER_" + i + "]:checked").val() === "男") {
                boy += 1;
            }
            else if ($("input[name = RB_GENDER_" + i + "]:checked").val() === "女") {
                girl += 1;
            }
            else if ($("input[name = RB_GENDER_" + i + "]:checked").val() === "無法分辨") {
                unknown += 1;
            }
        }

        if (isAdd) {
            var warning = "";

            if (boy > 0) {
                warning += "[男性" + boy + "名]";
            }
            if (girl > 0) {
                warning += "[女性" + girl + "名]";
            }
            if (unknown > 0) {
                warning += "[無法分辨" + unknown + "名]";
            }

            if (confirm("請確認" + warning + "，新增後無法修改!")) {
                return true;
            }
            else {
                return false;
            }
        }
    }
</script>
