@{
    ViewBag.Title = "產程藥物調配";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">

    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        height: 26px;
    }

    .head {
        width: 18%;
    }
</style>
<script type="text/javascript">
    $(function () {
        setGridColor();
    });

    //格行換色
    function setGridColor() {
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }

    //驗證欄位_數字
    function numcheck(obj) {
        if (obj.value.indexOf('.') > -1) {
            var re = /^[0-9]+\.[0-9]*$/;
        }
        else {
            var re = /^[0-9]+$/;
        }
        if (!re.test(obj.value) && obj.value != "") {
            $(obj).val('');
            alert("只能輸入數字");
        }
    }

    function div_hidden(id_list) {
        var list = id_list.split(',');
        for (var i = 0; i < list.length; i++) {
            $('#' + list[i]).fadeOut(0);
            var input_list = $('#' + list[i] + ' input');
            for (var j = 0; j < input_list.length; j++) {
                if (input_list[j].type == 'text')
                    $(input_list[j]).val('');
                if (input_list[j].type == 'radio')
                    document.getElementById(input_list[j].id).checked = false;
            }
        }
    }

    function unable(id_list) {
        var list = id_list.split(',');
        for (var i = 0; i < list.length; i++) {
            document.getElementById(list[i]).disabled = true;
            document.getElementById(list[i]).checked = false;
        }
    }

    function able(id_list) {
        var list = id_list.split(',');
        for (var i = 0; i < list.length; i++) {
            document.getElementById(list[i]).disabled = false;
        }
    }

    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function set_for_ck(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            var ck = document.getElementsByName(ck_name);
            for (var i = 0; i < default_val.length; i++) {
                for (var j = 0; j < ck.length; j++) {
                    if (default_val[i] == ck[j].value)
                        $(ck[j]).click();
                }
            }
        }
    }
</script>
@using System.Data;
@using System.Web.Mvc.Html;
@{
    DataTable dt = ViewBag.dt;
    var IID = ViewBag.IID;
    var SNOM = ViewBag.SNOM;
    if (dt == null || dt.Rows.Count == 0)
    {
        <form action="Insert_BP_Disp" method="post">
            <div class="funcArea">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="padding-bottom:5px;text-align:center;">
                            <span style="color:blue;font-size:26px;">產程藥物調配</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;">
                            <input type="hidden" name="IID" id="IID" value="@IID" />
                            <input type="hidden" name="SNOM" id="SNOM" value="@SNOM" />
                            <div class="dataHeader">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    <tr>
                                        <td style="width:20%;">項目</td>
                                        <td style="width:80%;">內容</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="dataArea" style="height:300px;">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    @*@if (IID != null)
        {
            <tr>
                <td class="head" style="width:20%;">紀錄時間</td>
                <td colspan="2" style="width:80%;">
                    @Html.TextBox("TXT_RECORDTIME_DAY", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                    @Html.TextBox("TXT_RECORDTIME_TIME", DateTime.Now.ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                    @WebTool.setDateTime("TXT_RECORDTIME_DAY", "TXT_RECORDTIME_TIME", "", "30")
                </td>
            </tr>
        }*@
                                    <tr>
                                        <td class="head" style="width:20%;">
                                            <input type="button" name="btn" id="" value="調配A藥品" onclick="window.open('Med_QueryExecLog?medtype=false', '', 'menubar=no,status=no,scrollbars=yes,top=100,left=100,toolbar=no,width=990,height=480')" />
                                        </td>
                                        <td>
                                            種類：@Html.TextBox("TXT_TM_MED_A", "", new { id = "TXT_TM_MED_A", style = "width:300px", @readonly = "readonly" })
                                            劑量：@Html.TextBox("TXT_TM_MED_A_AMT", "", new { id = "TXT_TM_MED_A_AMT", style = "width:100px" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head" style="width:20%;">
                                            <input type="button" name="btn" id="" value="調配B藥品(點滴)" onclick="window.open('Med_QueryExecLog?medtype=true', '', 'menubar=no,status=no,scrollbars=yes,top=100,left=100,toolbar=no,width=990,height=480')" />
                                        </td>
                                        <td>
                                            種類：@Html.TextBox("TXT_TM_MED_B", "", new { id = "TXT_TM_MED_B", style = "width:300px", @readonly = "readonly" })
                                            劑量：@Html.TextBox("TXT_TM_MED_B_AMT", "", new { id = "TXT_TM_MED_B_AMT", style = "width:100px" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">A+B組合總用量</td>
                                        <td colspan="2">
                                            @Html.TextBox("TXT_TM_MED_USE", "", new { id = "TXT_TM_MED_USE", style = "width:100px" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">A+B組合流速</td>
                                        <td colspan="2">
                                            @Html.TextBox("TXT_TM_MED_SPEED", "", new { id = "TXT_TM_MED_SPEED", style = "width:100px" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">A+B組合狀態</td>
                                        <td colspan="2">
                                            <input type="radio" name="RB_TM_MED_USE_STAT" value="0" checked />啟用
                                            <input type="radio" name="RB_TM_MED_USE_STAT" value="1" />停止
                                            <input type="radio" name="RB_TM_MED_USE_STAT" value="2" />一次性給藥
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head">抗生素</td>
                                        <td colspan="2">
                                            <input type="checkbox" name="CK_TM_MED_ANTIBIOTIC" value="0" />GBS
                                            <input type="checkbox" name="CK_TM_MED_ANTIBIOTIC" value="1" />發燒
                                            <input type="checkbox" name="CK_TM_MED_ANTIBIOTIC" value="2" />破水
                                            <input type="checkbox" name="CK_TM_MED_ANTIBIOTIC" value="3" />感染
                                            <input type="checkbox" name="CK_TM_MED_ANTIBIOTIC" value="4" />其他
                                        </td>
                                    </tr>
                                    @*@if (IID != null)
                                    {
                                        <tr>
                                            <td class="head">紀錄者</td>
                                            <td colspan="2">
                                                @Html.TextBox("TXT_CREATNO", "", new { style = "width:100px" })
                                            </td>
                                        </tr>
                                    }*@
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;text-align:center;">
                            <div class="funcArea">
                                @if (IID != null)
                                {
                                    <input type="submit" value="儲存" style="width:60px;" />
                                }
                                else
                                {
                                    <input type="button" value="帶入" style="width:60px;" onclick="sendValue();" />
                                }
                                <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    }
    else
    {
        <form action="Upd_BP_Disp" method="post">
            <div class="funcArea">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="padding-bottom:5px;text-align:center;">
                            <span style="color:blue;font-size:26px;">修改產程藥物調配</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;">
                            <div style="height:480px;overflow:auto;">
                                <input type="hidden" name="IID" value="@IID" />
                                <input type="hidden" name="SNOM" value="@SNOM" />
                                @foreach (DataRow r in dt.Rows)
                                {
                                    <div class="dataHeader">
                                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                            <tr>
                                                <td style="width:20%;">項目</td>
                                                <td style="width:80%;">內容</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="dataArea" style="height:420px;margin-bottom:10px;">
                                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                            @*<tr>
            <td class="head" style="width:20%;">紀錄時間</td>
            <td colspan="2" style="width:80%;">
                @Html.TextBox("TXT_RECORDTIME_DAY" + r["IID"] + r["SNOM"], Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                @Html.TextBox("TXT_RECORDTIME_TIME" + r["IID"] + r["SNOM"], Convert.ToDateTime(r["RECORDTIME"]).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
            </td>
        </tr>*@
                                            <tr>
                                                <td class="head" rowspan="2" style="width:20%;">醫療處置</td>
                                                <td class="head" style="width:20%;">
                                                    @Html.Label("LB_TM_MED_A", "A藥品", new { style = "width:100px", @readonly = "readonly" })
                                                </td>
                                                <td>
                                                    種類：@Html.TextBox("TXT_TM_MED_A" + r["IID"] + r["SNOM"], r["TM_MED_A"], new { style = "width:200px", @readonly = "readonly" })
                                                    劑量：@Html.TextBox("TXT_TM_MED_A_AMT" + r["IID"] + r["SNOM"], r["TM_MED_A_AMT"].ToString(), new { style = "width:100px" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="head" style="width:20%;">
                                                    @Html.Label("LB_TM_MED_B", "B藥品(點滴)", new { style = "width:100px", @readonly = "readonly" })
                                                </td>
                                                <td>
                                                    種類：@Html.TextBox("TXT_TM_MED_B" + r["IID"] + r["SNOM"], r["TM_MED_B"], new { style = "width:200px", @readonly = "readonly" })
                                                    劑量：@Html.TextBox("TXT_TM_MED_B_AMT" + r["IID"] + r["SNOM"], r["TM_MED_B_AMT"].ToString(), new { style = "width:100px" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="head">A+B組合總用量</td>
                                                <td colspan="2">
                                                    @Html.TextBox("TXT_TM_MED_USE" + r["IID"] + r["SNOM"], r["TM_MED_USE"].ToString(), new { style = "width:100px" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="head">A+B組合流速</td>
                                                <td colspan="2">
                                                    @Html.TextBox("TXT_TM_MED_SPEED" + r["IID"] + r["SNOM"], r["TM_MED_SPEED"], new { style = "width:100px" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="head">A+B組合狀態</td>
                                                <td colspan="2">
                                                    <input type="radio" name="RB_TM_MED_USE_STAT@(r["IID"])@(r["SNOM"])" value="0" />啟用
                                                    <input type="radio" name="RB_TM_MED_USE_STAT@(r["IID"])@(r["SNOM"])" value="1" />停止
                                                    <input type="radio" name="RB_TM_MED_USE_STAT@(r["IID"])@(r["SNOM"])" value="2" />一次性給藥
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="head">抗生素</td>
                                                <td colspan="2">
                                                    <input type="checkbox" name="CK_TM_MED_ANTIBIOTIC@(r["IID"])@(r["SNOM"])" value="0"/>GBS
                                                    <input type="checkbox" name="CK_TM_MED_ANTIBIOTIC@(r["IID"])@(r["SNOM"])" value="1"/>發燒
                                                    <input type="checkbox" name="CK_TM_MED_ANTIBIOTIC@(r["IID"])@(r["SNOM"])" value="2"/>破水
                                                    <input type="checkbox" name="CK_TM_MED_ANTIBIOTIC@(r["IID"])@(r["SNOM"])" value="3"/>感染
                                                    <input type="checkbox" name="CK_TM_MED_ANTIBIOTIC@(r["IID"])@(r["SNOM"])" value="4"/>其他
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="head">紀錄者</td>
                                                <td colspan="2">
                                                    @Html.TextBox("TXT_CREATNO" + r["IID"] + r["SNOM"], r["CREATNO"], new { style = "width:100px", @readonly = "readonly" })
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <script>
                                        @if(r["TM_MED_USE_STAT"].ToString() != "")
                                        {
                                            @:set_for_rb('RB_TM_MED_USE_STAT@(r["IID"])@(r["SNOM"])', '@r["TM_MED_USE_STAT"]');
                                        }
                                        @if(r["TM_MED_ANTIBIOTIC"].ToString() != "")
                                        {
                                            var ANTIBIOTIC = r["TM_MED_ANTIBIOTIC"].ToString();
                                            var ANTIBIOTICV = new List<string>();

                                            for (var i = 0; i < ANTIBIOTIC.ToString().Length; i++)
                                            {
                                                if (ANTIBIOTIC[i] == '1')
                                                {
                                                    ANTIBIOTICV.Add(i.ToString());
                                                }
                                            }
                                                 @:set_for_ck('CK_TM_MED_ANTIBIOTIC@(r["IID"])@(r["SNOM"])', '@String.Join(",", ANTIBIOTICV)');
                                             }
                                    </script>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;text-align:center;">
                            <div class="funcArea">
                                <input type="submit" value="儲存" style="width:60px;" />
                                <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    }
}

<script>
    function sendValue() {
        if (confirm("請確認資料填寫正確，輸入後無法修改!僅能在編輯時修改!")) {

            var iid = $("#IID").val();
            var snom = Number($("#SNOM").val());
            if (!iid) {
                iid = '';
            }
            var TM_MED_A = $("#TXT_TM_MED_A").val();
            var TM_MED_A_AMT = $("#TXT_TM_MED_A_AMT").val();
            var TM_MED_B = $("#TXT_TM_MED_B").val();
            var TM_MED_B_AMT = $("#TXT_TM_MED_B_AMT").val();
            var TM_MED_USE = $("#TXT_TM_MED_USE").val();
            var TM_MED_SPEED = $("#TXT_TM_MED_SPEED").val();
            var speed = $("input[name=RB_TM_MED_USE_STAT]:checked").val();
            var ANTIBIOTIC = $('input:checkbox:checked[name="CK_TM_MED_ANTIBIOTIC"]').map(function () { return $(this).val(); }).get();
            window.opener.$("#updateDisp" + iid).empty();

            var color_style = 'style = "background: rgb(225, 230, 250)"';
            if (snom % 2 == 0) {
                color_style = 'style = "background: rgb(171, 200, 226)"';
            }

            var label = '<tr ' + color_style + '>';

            label += '<td ' + color_style + '><input name="TXT_TM_MED_A" value="' + TM_MED_A + '" readonly style="width:120px"/></td>';
            label += '<td ' + color_style + '><input name="TXT_TM_MED_A_AMT" value="' + TM_MED_A_AMT + '" readonly style="width:80px"/></td>';
            label += '<td ' + color_style + '><input name="TXT_TM_MED_B" value="' + TM_MED_B + '" readonly style="width:120px"/></td>';
            label += '<td ' + color_style + '><input name="TXT_TM_MED_B_AMT" value="' + TM_MED_B_AMT + '" readonly style="width:80px"/></td>';
            label += '<td ' + color_style + '><input name="TXT_TM_MED_USE" value="' + TM_MED_USE + '" readonly style="width:50px"/></td>';
            label += '<td ' + color_style + '><input name="TXT_TM_MED_SPEED" value="' + TM_MED_SPEED + '" readonly style="width:40px"/></td>';

            if (speed == "0") {
                label += '<td ' + color_style + '><input name="TXT_TM_MED_USE_STAT" value="啟用" readonly style="width:40px"/></td>';
            } else if (speed == "1") {
                label += '<td ' + color_style + '><input name="TXT_TM_MED_USE_STAT" value="停止" readonly style="width:40px"/></td>';
            } else if (speed == "2") {
                label += '<td ' + color_style + '><input name="TXT_TM_MED_USE_STAT" value="一次性給藥" readonly style="width:40px"/></td>';
            } else {
                label += '<td ' + color_style + '><input name="TXT_TM_MED_USE_STAT" value="" readonly style="width:40px"/></td>';
            }

            for (var a = 0; a < ANTIBIOTIC.length; a++) {
                if (ANTIBIOTIC[a] == '0') {
                    ANTIBIOTIC[a] = "GBS";
                }
                else if (ANTIBIOTIC[a] == '1') {
                    ANTIBIOTIC[a] = "發燒";
                }
                else if (ANTIBIOTIC[a] == '2') {
                    ANTIBIOTIC[a] = "破水";
                }
                else if (ANTIBIOTIC[a] == '3') {
                    ANTIBIOTIC[a] = "感染";
                }
                else if (ANTIBIOTIC[a] == '4') {
                    ANTIBIOTIC[a] = "其他";
                }
            }
            label += '<td ' + color_style + '><input name="TXT_TM_MED_ANTIBIOTIC" value="' + ANTIBIOTIC.join('/') + '" readonly style="width:80px"/></td>';


            label += '</tr>'
            window.opener.$('#updateDisp' + iid).before(label);

            var title_row = window.opener.$("#disp_title" + iid).attr("rowspan");
            var subtitle_row = window.opener.$("#disp_subtitle" + iid).attr("rowspan");
            window.opener.$("#disp_title" + iid).attr("rowspan", (Number(title_row) + 1).toString());
            window.opener.$("#disp_subtitle" + iid).attr("rowspan", (Number(subtitle_row) + 1).toString());
            window.close();
        }
    }
</script>