@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string feeno = ViewBag.feeno;
    string ChartNo = ViewBag.ChartNo;
}
<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        white-space: pre-line;
        word-break: break-all;
    }
</style>

<script type="text/javascript">
    $(function () {
        close_pup_window();
        setGridColor();
        //設定高度
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 410);
        }).trigger("resize");
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');

        $('.head').css('background', '#85A5CC');
    }

    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function set_row(url) {
        var ck = $('input[type=checkbox]:checked');
        var row = '';
        for (var i = 0; i < ck.length; i++) {
            if (ck[i].checked)
                row = row + ck[i].value + ',';
        }
        if (row != '') {
            row = row.substring(0, row.length - 1);
            new_window.push(window.open(url + '?id=' + row, '', 'menubar=no,status=no,scrollbars=yes,top=0,left=100,toolbar=no,width=700,height=600'));
        }
        else
            alert('請選擇哺餵照護紀錄!');
    }

    function upd() {
        var ck = $('input[type=checkbox]:checked');
        if (ck.length == 0)
            alert('請選擇哺餵照護紀錄!');
        else if (ck.length > 1)
            alert("只能選擇一筆!");
        else {
            var row = '';
            for (var i = 0; i < ck.length; i++) {
                if (ck[i].checked)
                    row = row + ck[i].value + ',';
            }
            if (row != '') {
                row = row.substring(0, row.length - 1);
                new_window.push(window.open('Insert_Breast_Fedding?id=' + row, '', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=600,height=600'));
            }
        }
    }

    function del() {
        var ck = $('input[type=checkbox]:checked');
        if (ck.length == 0)
            alert('請選擇哺餵照護紀錄!');
        else if (ck.length > 1)
            alert("只能選擇一筆!");
        else {
            var row = '';
            for (var i = 0; i < ck.length; i++) {
                if (ck[i].checked)
                    row = row + ck[i].value + ',';
            }
            if (row != '') {
                if (confirm('確認刪除?')) {
                    row = row.substring(0, row.length - 1);
                    window.location.href = 'Del_Breast_Fedding?id=' + row;
                }
            }
        }
    }

    function openAllList() {
        window.open('All_Touch_List?feeno=' + '@(feeno)', '', 'menubar=no,status=no,scrollbars=yes,top=20,left=20,toolbar=no,width=950,height=600')
    }

    function search() {
        var type = $('input[name=RB_TYPE]:checked').val();
        window.location.href = 'Index?active=Breast_Fedding_List&Type=' + type + '&show=Y';
    }

    function search_noedit() {
        var type = $('input[name=RB_TYPE]:checked').val();
        window.location.href =  window.location.pathname +  "?feeno=" + '@(feeno)' + "&chartno=" + '@(ChartNo)' + "&IsHisView=true&Type=" + type;
    }
</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    bool isNB = ViewBag.IsNB;
    List<SelectListItem> ColorList = (List<SelectListItem>)ViewData["color_drainage"];
    List<SelectListItem> TypeList = (List<SelectListItem>)ViewData["outputnature_Drainage"];
    bool IsHisView = ViewBag.IsHisView;
}

<div class="funcArea">
    @if (IsHisView != true)
    {
        <input id="insert" type="button" value="新增" style="width:50px;" onclick="@Java_funcion.pup_window("Insert_Breast_Fedding", 700, 600, "0")" />
        <input type="button" value="修改" style="width:50px;" onclick="upd();" />
        <input type="button" value="刪除" style="width:50px;" onclick="del();" />
    }

    <input name="RB_TYPE" type="radio" value="ALL" />全部
    <input name="RB_TYPE" type="radio" value="Mon" />產婦
    <input name="RB_TYPE" type="radio" value="NB" />新生兒
    @if (IsHisView != true)
    {
        <input type="button" value="篩選" style="width:80px;" onclick="search()" />
    }
    else
    {
        <input type="button" value="篩選" style="width:80px;" onclick="search_noedit()" />
    }

    <input type="button" value="顯示母嬰同室與皮膚接觸紀錄" style="width:220px;" onclick="openAllList()" />
</div>
<script>
      if ('@isNB' == 'True')
        set_for_rb('RB_TYPE', 'NB');
    else
        set_for_rb('RB_TYPE', 'Mon');

    if('@ViewBag.Type' != '')
        set_for_rb('RB_TYPE', '@ViewBag.Type');
</script>
<div class="funcArea">
    <table border="0" cellspacing="0" cellpadding="0" style="width:100%;table-layout:fixed">
        <tr>
            <td>
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        <tr>
                            <td style="width:6%" rowspan="3">日期<br />時間</td>
                            <td style="width:2%" rowspan="3">胎<br />序</td>
                            <td style="width:15%" rowspan="2" colspan="3">乳房評估</td>
                            <td style="width:15%" rowspan="2" colspan="5">嬰兒生理評估</td>
                            <td style="width:30%" colspan="10">嬰兒餵食評估</td>
                            <td style="width:9%" rowspan="2" colspan="3">排便</td>
                            <td style="width:9%" rowspan="2" colspan="3">排尿</td>
                            <td style="width:9%" rowspan="3">護理處置</td>
                            <td style="width:3%" rowspan="3">紀錄者</td>
                        </tr>
                        <tr>
                            <td style="width:18%" colspan="6">哺乳母親觀察表</td>
                            <td style="width:12%" colspan="4">餵食量</td>
                        </tr>
                        <tr>
                            <td style="width:5%">乳<br />頭</td>
                            <td style="width:5%">乳<br />房</td>
                            <td style="width:5%">泌<br />乳</td>
                            <td style="width:3%">清醒</td>
                            <td style="width:3%">呼吸型態</td>
                            <td style="width:3%">膚色</td>
                            <td style="width:3%">肌肉張力</td>
                            <td style="width:3%">活動力</td>
                            <td style="width:3%">身體姿勢</td>
                            <td style="width:3%">反應</td>
                            <td style="width:3%">情感交流</td>
                            <td style="width:3%">解剖</td>
                            <td style="width:3%">含乳</td>
                            <td style="width:3%">含乳時間</td>
                            <td style="width:3%">開水</td>
                            <td style="width:3%">母乳</td>
                            <td style="width:3%">配方奶</td>
                            <td style="width:3%">D<br />5<br />W</td>
                            <td style="width:3%">次數</td>
                            <td style="width:3%">顏色</td>
                            <td style="width:3%">性狀</td>
                            <td style="width:3%">次數</td>
                            <td style="width:3%">顏色</td>
                            <td style="width:3%">性狀</td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="height:100px;overflow-x:auto">
                    @if (dt != null)
                    {
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            @foreach (DataRow r in dt.Rows)
                            {
                            <tr>
                                @if (r["RECORDTIME"].ToString() != "")
                                {
                                    <td style="width:6%;">
                                        <label>
                                            @if (IsHisView != true)
                                            {
                                                <input type="checkbox" name="del_ID" value="@r["IID"]" />
                                            }
                                            <br />
                                            @Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd")
                                            @Convert.ToDateTime(r["RECORDTIME"]).ToString("HH:mm")
                                        </label>
                                    </td>
                                }
                                else
                                {
                                    <td style="width:6%;">
                                        <label>
                                            @if (IsHisView != true)
                                            {
                                                <input type="checkbox" name="del_ID" value="@r["IID"]" />
                                            }
                                        </label>
                                    </td>

                                }
                                <td style="width:2%">@r["NB_SEQ_FEENO"].ToString().Split(',')[0]</td>
                                @{
                                    var right = "右：";
                                    var left = "左：";
                                    if (r["NIPPLE"].ToString() != "" && r["NIPPLE"].ToString().Length == 16)
                                    {
                                        var nipple = r["NIPPLE"].ToString();
                                        var rlist = new List<string>();
                                        var llist = new List<string>();
                                        var nresult = "";
                                        if (nipple[0] == '1')
                                        {
                                            llist.Add("正常");
                                        }
                                        if (nipple[1] == '1')
                                        {
                                            llist.Add("凹");
                                        }
                                        if (nipple[2] == '1')
                                        {
                                            llist.Add("平");
                                        }
                                        if (nipple[3] == '1')
                                        {
                                            llist.Add("短");
                                        }
                                        if (nipple[4] == '1')
                                        {
                                            llist.Add("大");
                                        }
                                        if (nipple[5] == '1')
                                        {
                                            llist.Add("小");
                                        }
                                        if (nipple[6] == '1')
                                        {
                                            llist.Add("破皮");
                                        }
                                        if (nipple[7] == '1')
                                        {
                                            llist.Add("結痂");
                                        }

                                        if (nipple[8] == '1')
                                        {
                                            rlist.Add("正常");
                                        }
                                        if (nipple[9] == '1')
                                        {
                                            rlist.Add("凹");
                                        }
                                        if (nipple[10] == '1')
                                        {
                                            rlist.Add("平");
                                        }
                                        if (nipple[11] == '1')
                                        {
                                            rlist.Add("短");
                                        }
                                        if (nipple[12] == '1')
                                        {
                                            rlist.Add("大");
                                        }
                                        if (nipple[13] == '1')
                                        {
                                            rlist.Add("小");
                                        }
                                        if (nipple[14] == '1')
                                        {
                                            rlist.Add("破皮");
                                        }
                                        if (nipple[15] == '1')
                                        {
                                            rlist.Add("結痂");
                                        }
                                        nresult = left + String.Join(",", llist) + "<br />" + right + String.Join(",", rlist);
                                        <td style="width:5%">@Html.Raw(nresult)</td>
                                    }
                                }
                                @{
                                    var bright = "右：";
                                    var bleft = "左：";
                                    if (r["BREAST"].ToString() != "" && r["BREAST"].ToString().Length == 10)
                                    {
                                        var breast = r["BREAST"].ToString();
                                        var rlist = new List<string>();
                                        var llist = new List<string>();
                                        var bresult = "";
                                        if (breast[0] == '1')
                                        {
                                            llist.Add("鬆軟");
                                        }
                                        if (breast[1] == '1')
                                        {
                                            llist.Add("充盈");
                                        }
                                        if (breast[2] == '1')
                                        {
                                            llist.Add("緊繃");
                                        }
                                        if (breast[3] == '1')
                                        {
                                            llist.Add("腫脹");
                                        }
                                        if (breast[4] == '1')
                                        {
                                            llist.Add("硬");
                                        }

                                        if (breast[5] == '1')
                                        {
                                            rlist.Add("鬆軟");
                                        }
                                        if (breast[6] == '1')
                                        {
                                            rlist.Add("充盈");
                                        }
                                        if (breast[7] == '1')
                                        {
                                            rlist.Add("緊繃");
                                        }
                                        if (breast[8] == '1')
                                        {
                                            rlist.Add("腫脹");
                                        }
                                        if (breast[9] == '1')
                                        {
                                            rlist.Add("硬");
                                        }

                                        bresult = bleft + String.Join(",", llist) + "<br />" + bright + String.Join(",", rlist);
                                        <td style="width:5%">@Html.Raw(bresult)</td>
                                    }
                                }
                                @{
                                    var lright = "右：";
                                    var lleft = "左：";
                                    var result = "";
                                    if (r["LACT_L"].ToString() == "0")
                                    {
                                        lleft += "否";
                                    }
                                    else if (r["LACT_L"].ToString() == "1")
                                    {
                                        lleft += "微泌乳";
                                    }
                                    else if (r["LACT_L"].ToString() == "2")
                                    {
                                        lleft += r["LACT_LAMT"];
                                    }

                                    if (r["LACT_R"].ToString() == "0")
                                    {
                                        lright += "否";
                                    }
                                    else if (r["LACT_R"].ToString() == "1")
                                    {
                                        lright += "微泌乳";
                                    }
                                    else if (r["LACT_R"].ToString() == "2")
                                    {
                                        lright += r["LACT_RAMT"];
                                    }

                                    result = lleft + "<br />" + lright;
                                    <td style="width:5%">@Html.Raw(result)</td>
                                }
                                @if (r["AWAKE"].ToString() == "0")
                                {
                                    <td style="width:3%">警醒</td>
                                }
                                else if (r["AWAKE"].ToString() == "1")
                                {
                                    <td style="width:3%">睡覺</td>
                                }
                                else if (r["AWAKE"].ToString() == "2")
                                {
                                    <td style="width:3%">哭鬧</td>
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }

                                @if (r["BRE_TYP"].ToString() == "0")
                                {
                                    <td style="width:3%">順暢</td>
                                }
                                else if (r["BRE_TYP"].ToString() == "1")
                                {
                                    <td style="width:3%">胸骨凹陷</td>
                                }
                                else if (r["BRE_TYP"].ToString() == "2")
                                {
                                    <td style="width:3%">困難</td>
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["SKIN"].ToString() == "0")
                                {
                                    <td style="width:3%">粉紅</td>
                                }
                                else if (r["SKIN"].ToString() == "1")
                                {
                                    <td style="width:3%">蒼白</td>
                                }
                                else if (r["SKIN"].ToString() == "2")
                                {
                                    <td style="width:3%">發紺</td>
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }

                                @if (r["MUSCLE"].ToString() == "0")
                                {
                                    <td style="width:3%">佳</td>
                                }
                                else if (r["MUSCLE"].ToString() == "1")
                                {
                                    <td style="width:3%">中</td>
                                }
                                else if (r["MUSCLE"].ToString() == "2")
                                {
                                    <td style="width:3%">弱</td>
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }

                                @if (r["ACTI"].ToString() == "0")
                                {
                                    <td style="width:3%">強</td>
                                }
                                else if (r["ACTI"].ToString() == "1")
                                {
                                    <td style="width:3%">中</td>
                                }
                                else if (r["ACTI"].ToString() == "2")
                                {
                                    <td style="width:3%">弱</td>
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["BRE_BP1"].ToString() != "" && r["BRE_BP2"].ToString() != "" && r["BRE_BP3"].ToString() != "" && r["BRE_BP4"].ToString() != "" && r["BRE_BP5"].ToString() != "")
                                {
                                    if (r["BRE_BP1"].ToString() == "1" && r["BRE_BP2"].ToString() == "1" && r["BRE_BP3"].ToString() == "1" && r["BRE_BP4"].ToString() == "1" && r["BRE_BP5"].ToString() == "1")
                                    {
                                        <td style="width:3%">順利</td>
                                    }
                                    else
                                    {
                                        <td style="width:3%">待加強</td>
                                    }
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["BRE_RES1"].ToString() != "" && r["BRE_RES2"].ToString() != "" && r["BRE_RES3"].ToString() != "" && r["BRE_RES4"].ToString() != "")
                                {
                                    if (r["BRE_RES1"].ToString() == "1" && r["BRE_RES2"].ToString() == "1" && r["BRE_RES3"].ToString() == "1" && r["BRE_RES4"].ToString() == "1")
                                    {
                                        <td style="width:3%">順利</td>
                                    }
                                    else
                                    {
                                        <td style="width:3%">待加強</td>
                                    }
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["BRE_EB1"].ToString() != "" && r["BRE_EB2"].ToString() != "")
                                {
                                    if (r["BRE_EB1"].ToString() == "1" && r["BRE_EB2"].ToString() == "1")
                                    {
                                        <td style="width:3%">順利</td>
                                    }
                                    else
                                    {
                                        <td style="width:3%">待加強</td>
                                    }
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["BRE_ANA1"].ToString() != "" && r["BRE_ANA2"].ToString() != "" && r["BRE_ANA3"].ToString() != "")
                                {
                                    if (r["BRE_ANA1"].ToString() == "1" && r["BRE_ANA2"].ToString() == "1" && r["BRE_ANA3"].ToString() == "1")
                                    {
                                        <td style="width:3%">順利</td>
                                    }
                                    else
                                    {
                                        <td style="width:3%">待加強</td>
                                    }
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["BRE_SUC1"].ToString() != "" && r["BRE_SUC2"].ToString() != "" && r["BRE_SUC3"].ToString() != "" && r["BRE_SUC4"].ToString() != "" && r["BRE_SUC5"].ToString() != "")
                                {
                                    if (r["BRE_SUC1"].ToString() == "1" && r["BRE_SUC2"].ToString() == "1" && r["BRE_SUC3"].ToString() == "1" && r["BRE_SUC4"].ToString() == "1" && r["BRE_SUC5"].ToString() == "1")
                                    {
                                        <td style="width:3%">順利</td>
                                    }
                                    else
                                    {
                                        <td style="width:3%">待加強</td>
                                    }
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["BRE_TSS1"].ToString() != "")
                                {
                                    if (r["BRE_TSS1"].ToString() == "1")
                                    {
                                        <td style="width:3%">@r["BRE_TSS2"]</td>
                                    }
                                    else
                                    {
                                        <td style="width:3%">待加強</td>
                                    }
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["WATER"].ToString() != "")
                                {
                                    <td style="width:3%">@r["WATER"] ml</td>
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["BRE_MLK"].ToString() != "")
                                {
                                    <td style="width:3%">@r["BRE_MLK"] ml</td>
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["MILK_BD"].ToString() != "" && r["MILK"].ToString() != "")
                                {
                                    <td style="width:3%">@r["MILK_BD"]，@r["MILK"]</td>
                                }
                                else
                                {
                                    <td style="width:3%">@r["MILK_BD"]@r["MILK"]</td>
                                }
                                @if (r["D5W"].ToString() != "")
                                {
                                    <td style="width:3%">@r["D5W"] ml</td>
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["DEF_FRQ"].ToString() != "")
                                {
                                    <td style="width:3%">@r["DEF_FRQ"] 次</td>
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["DEF_COL"].ToString() != "" && r["DEF_COL"].ToString() != "-1")
                                {
                                    if (r["DEF_COL"].ToString() == "99")
                                    {
                                        <td style="width:3%">@r["DEF_COL_OTH"].ToString()</td>
                                    }
                                    else
                                    {
                                        <td style="width:3%">@ColorList.Where(x => x.Value == r["DEF_COL"].ToString()).Select(x => x.Text).FirstOrDefault()</td>
                                    }
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["DEF_CHA"].ToString() != "" && r["DEF_CHA"].ToString() != "-1")
                                {
                                    if (r["DEF_CHA"].ToString() == "99")
                                    {
                                        <td style="width:3%">@r["DEF_CHA_OTH"].ToString()</td>
                                    }
                                    else
                                    {
                                        <td style="width:3%">@TypeList.Where(x => x.Value == r["DEF_CHA"].ToString()).Select(x => x.Text).FirstOrDefault()</td>
                                    }
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["URI_FRQ"].ToString() != "")
                                {
                                    <td style="width:3%">@r["URI_FRQ"] 次</td>
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["URI_COL"].ToString() != "" && r["URI_COL"].ToString() != "-1")
                                {
                                    if (r["URI_COL"].ToString() == "99")
                                    {
                                        <td style="width:3%">@r["URI_COL_OTH"].ToString()</td>
                                    }
                                    else
                                    {
                                        <td style="width:3%">@ColorList.Where(x => x.Value == r["URI_COL"].ToString()).Select(x => x.Text).FirstOrDefault()</td>
                                    }
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                @if (r["URI_CHA"].ToString() != "" && r["URI_CHA"].ToString() != "-1")
                                {
                                    if (r["URI_CHA"].ToString() == "99")
                                    {
                                        <td style="width:3%">@r["URI_CHA_OTH"].ToString()</td>
                                    }
                                    else
                                    {
                                        <td style="width:3%">@TypeList.Where(x => x.Value == r["URI_CHA"].ToString()).Select(x => x.Text).FirstOrDefault()</td>
                                    }
                                }
                                else
                                {
                                    <td style="width:3%"></td>
                                }
                                <td style="width:9%">@r["TREAT"]</td>
                                <td style="width:3%">@r["CREATNO_NAME"]</td>
                            </tr>
                            }
                        </table>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>
