@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    <link href="@Url.Content("~/Content/StyleSheet/ChildFootPrint.css")" rel="stylesheet" type="text/css" />
    @*<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>*@
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/jquery.canvasjs.min.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/chart.js@2.6.0/dist/Chart.min.js"></script>--> @*add by yijie,20191015*@
    <script src="~/Scripts/Chart.min.js"></script>
}

@using NIS.Controllers;
@using Newtonsoft.Json;
@{
    bool IsHisView = ViewBag.IsHisView;

    Dictionary<int, string> dictData = ViewBag.DataPoints;
    List<ObstetricsController.DataPoint> childWgPoints = (List<ObstetricsController.DataPoint>)ViewBag.childWgPoints;
    if (childWgPoints == null)
    {
        childWgPoints = new List<ObstetricsController.DataPoint>();
        childWgPoints.Add(new ObstetricsController.DataPoint(0, 0));
    }
    else if (childWgPoints.Count() == 0)
    {
        childWgPoints.Add(new ObstetricsController.DataPoint(0, 0));
    }

    //add by yijie,20191015
    List<ObstetricsController.DataPoint> childWgPoints2 = (List<ObstetricsController.DataPoint>)ViewBag.childWgPoints2;
    bool showP2 = false;
    if (childWgPoints2 == null)
    {
        childWgPoints2 = new List<ObstetricsController.DataPoint>();
        childWgPoints2.Add(new ObstetricsController.DataPoint(0, 0));
    }
    else if (childWgPoints2.Count() == 0)
    {
        childWgPoints2.Add(new ObstetricsController.DataPoint(0, 0));
    }
    else
    {
        showP2 = true;
    }
    //end add by yijie,20191015

    IEnumerable<IGrouping<string, Dictionary<string, string>>> VitalSignList = ViewBag.TableData;
}

<style>
    .page {
        font-family: TimesNewRoman, EUDC, "標楷體";
    }

    table {
        border: 0px solid #000;
        font-size: 16px;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        margin-top: 10mm;
        padding-left: 5mm;
        padding-right: 5mm;
    }

    .content td {
        border: 1px solid #000;
        padding: 3px;
    }

    .data {
        border: 1px solid black;
    }

    .canvasjs-chart-canvas {
        position: relative !important;
    }

    canvas {
        height: 90% !important;
    }
</style>

<script>
    window.onload = function () {
        window.moveTo(0, 0);
        window.resizeTo(screen.width, screen.height);

        //add 20191114
        if (typeof (JSON) == 'undefined') { //沒有 JSON 時才讓 browser 下載 json2.js
            $('head').append($("<script type='text/javascript' src='~/Scripts/json2.js'>"));
        }

        //add by yijie,20191015
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                //labels: [1, 5, 10, 15, 20, 25],
                datasets: [{
                    //label: '# of Votes',
                    fill: false,
                    data: @Html.Raw(dictData[1]) ,
                    backgroundColor: "#4F81BC",
                    borderColor: "#4F81BC",
                    pointRadius: 0
                },
                {
                    //label: '# of Votes',
                    fill: false,
                    data: @Html.Raw(dictData[2]),
                    backgroundColor: "#4F81BC",
                    borderColor: "#4F81BC",
                    pointRadius: 0
                },
                {
                    //label: '# of Votes',
                    fill: false,
                    data: @Html.Raw(dictData[3]) ,
                    backgroundColor: "#4F81BC",
                    borderColor: "#4F81BC",
                    pointRadius: 0
                },
                {
                    //label: '# of Votes',
                    fill: false,
                    data: @Html.Raw(dictData[4]) ,
                    backgroundColor: "#4F81BC",
                    borderColor: "#4F81BC",
                    pointRadius: 0
                },
                {
                    //label: '# of Votes',
                    fill: false,
                    data: @Html.Raw(dictData[5]) ,
                    backgroundColor: "#4F81BC",
                    borderColor: "#4F81BC",
                    pointRadius: 0
                },
                {
                    //label: '# of Votes',
                    fill: false,
                    data: @Html.Raw(dictData[6]) ,
                    backgroundColor: "#4F81BC",
                    borderColor: "#4F81BC",
                    pointRadius: 0
                },
                {
                    //label: '# of Votes',
                    fill: false,
                    data: @Html.Raw(dictData[7]) ,
                    backgroundColor: "#4F81BC",
                    borderColor: "#4F81BC",
                    pointRadius: 0
                },
                {
                    //label: '# of Votes',
                    fill: false,
                    data: @Html.Raw(dictData[8]) ,
                    backgroundColor: "#4F81BC",
                    borderColor: "#4F81BC",
                    pointRadius: 0
                },
                {
                    //label: '# of Votes',
                    fill: false,
                    data: @Html.Raw(JsonConvert.SerializeObject(childWgPoints)) ,
                    backgroundColor: "red",
                    borderColor: "red",
                    pointRadius: 0
                }]
            },
            options: {
                responsive: true,
                animation: {
                    duration: 0 // general animation time
                },
                hover: {
                    animationDuration: 0 // duration of animations when hovering an item
                },
                responsiveAnimationDuration: 0, // animation duration after a resize
                legend: {
                    display: false,
                    labels: {
                        fontColor: 'rgb(255, 99, 132)'
                    }
                },
                scales: {
                    xAxes: [{
                        display: true,
                        type: 'linear',
                        ticks: {
                            // the data minimum used for determining the ticks is Math.min(dataMin, suggestedMin)
                            suggestedMin: 0,

                            // the data maximum used for determining the ticks is Math.max(dataMax, suggestedMax)
                            suggestedMax: 50
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'AGE IN DAYS'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'WEIGHT IN GRAMS'
                        },
                        ticks: {
                            // the data minimum used for determining the ticks is Math.min(dataMin, suggestedMin)
                            suggestedMin: 500,

                            // the data maximum used for determining the ticks is Math.max(dataMax, suggestedMax)
                            suggestedMax: 3250
                        }
                    }

                    ]
                }
            }
        });
        var ctx2 = document.getElementById('myChart2').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                //labels: [1, 5, 10, 15, 20, 25],
                datasets: [
                {
                    //label: '# of Votes',
                    fill: false,
                    data: @Html.Raw(JsonConvert.SerializeObject(childWgPoints2)) ,
                    backgroundColor: "red",
                    borderColor: "red",
                    pointRadius: 0
                }]
            },
            options: {
                responsive: true,
                animation: {
                    duration: 0 // general animation time
                },
                hover: {
                    animationDuration: 0 // duration of animations when hovering an item
                },
                responsiveAnimationDuration: 0, // animation duration after a resize
                legend: {
                    display: false,
                    labels: {
                        fontColor: 'rgb(255, 99, 132)'
                    }
                },
                scales: {
                    xAxes: [{
                        display: true,
                        type: 'linear',
                        ticks: {
                            // the data minimum used for determining the ticks is Math.min(dataMin, suggestedMin)
                            suggestedMin: 50, //20200420 modified    suggestedMin: 51,

                            // the data maximum used for determining the ticks is Math.max(dataMax, suggestedMax)
                            suggestedMax: 100
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'AGE IN DAYS'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'WEIGHT IN GRAMS'
                        },
                        ticks: {
                            // the data minimum used for determining the ticks is Math.min(dataMin, suggestedMin)
                            suggestedMin: 500,

                            // the data maximum used for determining the ticks is Math.max(dataMax, suggestedMax)
                            suggestedMax: 3250
                        }
                    }

                    ]
                }
            }
        });
        //end add by yijie,20191015
    }

    //add by yijie,20191015
    $(function () {
        if ('@IsHisView'.toLowerCase() != 'true') {
            setTimeout(function () { window.print();}, 5000);
        }
    });
    //end add by yijie,20191015
</script>

<div class="page portrait">
    <div class="page-center" style="width:67%;text-align:right;float:left;font-size:29.3px;margin-top:20mm;padding-bottom:3mm">
        早產兒體重表
    </div>
    <div class="page-center" style="width:25%;float:left;margin-top:10mm;font-size:13px;margin-left:16mm">
        <table style="width:100%;font-size:13px">
            <tr>
                <td style="width:15%;text-align:right">病歷</td>
                <td style="width:20%;text-align:left" rowspan="2">：</td>
                <td style="width:15%;text-align:right">年</td>
                <td style="width:20%;text-align:left" rowspan="2">：NB</td>
            </tr>
            <tr>
                <td style="width:15%;text-align:right">號碼</td>
                <td style="width:15%;text-align:right">齡</td>
            </tr>
            <tr>
                <td style="width:15%;text-align:right">姓名</td>
                <td style="width:20%;text-align:left">：</td>
                <td colspan="2" style="width:35%;text-align:center">□男□女</td>
            </tr>
            <tr>
                <td colspan="4" style="width:70%;">□門診□急診□住院  床號：</td>
            </tr>
        </table>
    </div>
    <canvas class="content page-center" style="padding-left:5px;padding-right:5px;width: 100%; height:90%" id="myChart"></canvas> @*add by yijie,20191015*@
</div>

@*add by yijie,20191015*@
<p style="page-break-after:always"></p>
<div class="page portrait" style="display:@(showP2?"display":"none")">
    <div class="page-center" style="width:67%;text-align:right;float:left;font-size:29.3px;margin-top:20mm;padding-bottom:3mm">
        早產兒體重表
    </div>
    <div class="page-center" style="width:25%;float:left;margin-top:10mm;font-size:13px;margin-left:16mm">
        <table style="width:100%;font-size:13px">
            <tr>
                <td style="width:15%;text-align:right">病歷</td>
                <td style="width:20%;text-align:left" rowspan="2">：</td>
                <td style="width:15%;text-align:right">年</td>
                <td style="width:20%;text-align:left" rowspan="2">：NB</td>
            </tr>
            <tr>
                <td style="width:15%;text-align:right">號碼</td>
                <td style="width:15%;text-align:right">齡</td>
            </tr>
            <tr>
                <td style="width:15%;text-align:right">姓名</td>
                <td style="width:20%;text-align:left">：</td>
                <td colspan="2" style="width:35%;text-align:center">□男□女</td>
            </tr>
            <tr>
                <td colspan="4" style="width:70%;">□門診□急診□住院  床號：</td>
            </tr>
        </table>
    </div>
    <canvas class="content page-center" style="padding-left:5px;padding-right:5px;width: 100%; height:90%" id="myChart2"></canvas> @*add by yijie,20191015*@
</div>

@*end add by yijie,20191015*@

<div class="page portrait">
    <table class="data" style="border-collapse: collapse;margin-top:80mm;font-size:16px;border: 1px solid black;">
        <tr class="data">
            <th class="data" name="vs_item" value="date">日期</th>
            <th class="data" name="vs_item" value="bh">身高</th>
            <th class="data" name="vs_item" value="bw">體重</th>
            <th class="data" name="vs_item" value="gthr">頭圍</th>
            <th class="data" name="vs_item" value="gtbu">胸圍</th>
        </tr>
        @if (VitalSignList != null && VitalSignList.Count() > 0)
        {
            foreach (var v in VitalSignList)
            {
                <tr class="data">
                    <td class="data" name="vs_item" value="date">
                        @{
                            var date = v.FirstOrDefault();
                            if (date != null)
                            {
                                @Html.Raw(Convert.ToDateTime(date["CREATE_DATE"]).ToString("yyyy/MM/dd HH:mm:ss"));
                            }
                        }
                    </td>
                    <td class="data" name="vs_item" value="bh">
                        <!-- 身高 -->
                        @{
                            var bh = v.Where(x => x["VS_ITEM"] == "bh").FirstOrDefault();
                            if (bh != null)
                            {
                                @Html.Raw(bh["VS_RECORD"]);

                                if (bh["VS_REASON"].ToString() != "")
                                {
                                    @Html.Raw(bh["VS_REASON"]);
                                }
                            }
                        }
                    </td>
                    <td class="data" name="vs_item" value="bw">
                        <!-- 體重 -->
                        @{
                            var bw = v.Where(x => x["VS_ITEM"] == "bw").FirstOrDefault();
                            if (bw != null)
                            {
                                @Html.Raw(bw["VS_RECORD"].ToString().Replace("|", ""));

                                if (bw["VS_REASON"].ToString() != "")
                                {
                                    @Html.Raw(bw["VS_REASON"]);
                                }
                            }
                        }
                    </td>
                    <td class="data">
                        <!-- 頭圍 -->
                        @{
                            var gthr = v.Where(x => x["VS_ITEM"] == "gthr").FirstOrDefault();
                            if (gthr != null)
                            {
                                @Html.Raw(gthr["VS_RECORD"]);

                                if (gthr["VS_REASON"].ToString() != "")
                                {
                                    @Html.Raw(gthr["VS_REASON"]);
                                }
                            }
                        }
                    </td>
                    <td class="data">
                        <!-- 胸圍 -->
                        @{
                            var gtbu = v.Where(x => x["VS_ITEM"] == "gtbu").FirstOrDefault();
                            if (gtbu != null)
                            {
                                @Html.Raw(gtbu["VS_RECORD"]);

                                if (gtbu["VS_REASON"].ToString() != "")
                                {
                                    @Html.Raw(gtbu["VS_REASON"]);
                                }
                            }
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>
