@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

@using System.Data;
@{
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];

    DataTable dt = ViewBag.dt; //生產史
    DataRow dtrow = null;
    string chartno = ViewBag.chartNo;
    if (dt != null && dt.Rows.Count > 0)
    {
        dtrow = dt.Rows[0];
    }

    DataTable dt_sta = ViewBag.dt_sta; //二、三產程
    DataRow dt_starow = null;
    if (dt_sta != null && dt_sta.Rows.Count > 0)
    {
        dt_starow = dt_sta.Rows[0];
    }

    DataTable dt_nb = ViewBag.dt_nb; //新生兒出生紀錄
    DataTable dt_emr = ViewBag.dt_emr;
}

<style>
    * {
        font-family: TimesNewRoman, EUDC, "標楷體";
    }

    table {
        border: 0px solid #000;
        font-size: 16px;
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        padding-left: 5mm;
        padding-right: 5mm;
    }

    td {
        border: 1px solid #000;
        padding: 3px;
    }
</style>

@if (dt_nb != null && dt_nb.Rows.Count > 0)
{
    var i = 0;
    foreach (DataRow r in dt_nb.Rows)
    {
        i += 1;
        <table style="width:100%;border: 1px solid #000;border:0!important">
            <tr>
                @if (pf.Age < 1)
                {
                    <td style="width:33%;border-top:0!important;border-right:0!important;border-left:0!important;border-bottom:0!important;font-size:16pt;">姓名：@r["BABY_NAME"]</td>
                    <td style="width:33%;border-top:0!important;border-right:0!important;border-left:0!important;border-bottom:0!important;font-size:16pt;">病歷號碼：@r["BABY_CHARTNO"]</td>
                    <td style="width:33%;border-top:0!important;border-right:0!important;border-left:0!important;border-bottom:0!important;font-size:16pt;">床號：@r["BABY_BEDNO"]</td>
                }
                else
                {
                    <td style="width:33%;border-top:0!important;border-right:0!important;border-left:0!important;border-bottom:0!important;font-size:16pt;">姓名：@pf.PatientName</td>
                    <td style="width:33%;border-top:0!important;border-right:0!important;border-left:0!important;border-bottom:0!important;font-size:16pt;">病歷號碼：@pf.ChartNo</td>
                    <td style="width:33%;border-top:0!important;border-right:0!important;border-left:0!important;border-bottom:0!important;font-size:16pt;">床號：@pf.BedNo</td>
                }
            </tr>
        </table>
        <table border="1" style="width:100%;border: 2px solid #000;border-bottom: 0 !important;">
            <tr style="height:45px">
                <td style="width:12%">基本資料</td>
                <td style="width:14%">姓名</td>
                <td style="width:15%">身分證號碼</td>
                <td style="width:18%">生日</td>
                <td style="width:14%">居住地</td>
                <td style="width:13%">國籍</td>
                <td style="width:14%">血型</td>
            </tr>
            <tr style="height:45px">
                <td>產婦</td>
                @if (dtrow == null)
                {
                    <td></td>
                }
                else
                {
                    <td style="text-align:left">@dtrow["PAT_NAME"]</td>
                }
                @if (dtrow == null)
                {
                    <td></td>
                }
                else
                {
                    <td>@dtrow["PAT_ID"]</td>
                }
                @if (dtrow == null)
                {
                    <td></td>
                }
                else
                {
                    if (dtrow["PAT_BIRTH"].ToString() == "")
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@Convert.ToDateTime(dtrow["PAT_BIRTH"]).ToString("yyyy/MM/dd")</td>
                    }
                }
                @if (dtrow == null)
                {
                    <td></td>
                }
                else
                {
                    if (dtrow["PAT_ZONEC"].ToString() != "")
                    {
                        var city = dtrow["PAT_ZONEC"].ToString().Substring(0, 3);
                        var country = dtrow["PAT_ZONEC"].ToString().Substring(3);
                        <td>@city<br />@country</td>
                    }
                }
                @if (dtrow == null)
                {
                    <td></td>
                }
                else
                {
                    <td>@dtrow["PAT_NAT"]</td>
                }
                @if (dtrow == null)
                {
                    <td>&nbsp;&nbsp;&nbsp;</td>
                }
                else
                {
                    <td>@dtrow["PAT_BT"]型</td>
                }
            </tr>
            <tr style="height:45px">
                <td>配偶</td>
                @if (dtrow == null)
                {
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>&nbsp;&nbsp;&nbsp;</td>
                }
                else
                {
                    <td style="text-align:left">@dtrow["MAT_NAME"]</td>
                    <td>@dtrow["MAT_ID"]</td>

                    if (dtrow["MAT_BIRTH"].ToString() == "")
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@Convert.ToDateTime(dtrow["MAT_BIRTH"]).ToString("yyyy/MM/dd")</td>
                    }
                    if (dtrow["MAT_ZONEC"].ToString() != "")
                    {
                        var city = dtrow["MAT_ZONEC"].ToString().Substring(0, 3);
                        var country = dtrow["MAT_ZONEC"].ToString().Substring(3);
                        <td>@city<br />@country</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@dtrow["MAT_NAT"]</td>
                    if (dtrow["MAT_BT_N"].ToString() == "1")
                    {
                        <td>不詳</td>
                    }
                    else
                    {
                        if (dtrow["MAT_BT"].ToString() == "")
                        {
                            <td>&nbsp;&nbsp;&nbsp;</td>
                        }
                        else
                        {
                            <td>@dtrow["MAT_BT"]型</td>
                        }
                    }
                }
            </tr>
        </table>
        <table border="1" style="width:100%;border: 2px solid #000;border-top:0!important;border-bottom:0!important">
            <tr style="height:60px">
                <td style="width:12%;border-top:0!important">產&nbsp;&nbsp;&nbsp;&nbsp;婦<br />病歷號碼</td>
                @if (dtrow == null)
                {
                    <td style="width:11%;border-top:0!important"></td>
                }
                else
                {
                    <td style="width:11%;border-top:0!important">@chartno</td>
                }
                <td style="width:5%;border-top:0!important;font-size:13px">床<br />號</td>
                <td style="width:11%;border-top:0!important">@ViewBag.BedNo</td>
                <td style="width:4%;border-top:0!important;font-size:13px">孕<br />產<br />史</td>
                <td style="width:15%;border-top:0!important;text-align:left">
                    G：@dtrow["GRAVIDA"] P：@dt_starow["PARITY_N"] <br /> A：@dtrow["ABORTION"] E：@dtrow["ECCYESIS"]
                </td>
                <td style="width:4%;border-top:0!important;font-size:13px">預<br />產<br />期</td>
                @if (dtrow["EDC"].ToString() == "")
                {
                    <td style="width:17%;border-top:0!important"></td>
                }
                else
                {
                    <td style="width:17%;border-top:0!important">
                        @Convert.ToDateTime(dtrow["EDC"].ToString()).ToString("yyyy年MM月dd日")
                    </td>
                }
                <td style="width:8%;border-top:0!important;font-size:13px">懷孕<br />週數</td>
                <td style="width:14%;border-top:0!important">
                    @dt_starow["GEST_M"] 週 @dt_starow["GEST_D"] 天
                </td>
            </tr>
        </table>
        <table border="1" style="width:100%;border: 2px solid #000;border-top:0!important;border-bottom:0!important">
            <tr style="height:50px">
                <td style="width:12%;border-top:0!important;font-size:13px">總破水時間</td>
                <td style="width:16.1%;border-top:0!important;font-size:15px">@ViewBag.GRuptureTime</td>
                <td style="width:71.9%;border-top:0!important;text-align:left">
                    @if (ViewBag.Mom_Temporary == "" || ViewBag.Mom_Temporary == null)
                    {
                        @Html.Raw("發燒史：無")
                    }
                    else
                    {
                        @Html.Raw(ViewBag.Mom_Temporary)
                    }
                </td>
            </tr>
        </table>
        <table border="1" style="width:100%;border: 2px solid #000;border-top:0!important;border-bottom:0!important">
            <tr style="height:55px">
                <td style="width:12%;border-top:0!important;">產&nbsp;&nbsp;&nbsp;&nbsp;婦<br />血液檢驗</td>
                <td style="width:55.8%;border-top:0!important;text-align:left">
                    HBsAg：(@ViewBag.HBSAG)
                    @if (ViewBag.HBSAG != "外院" && dtrow["HBSAG_INST"].ToString().Trim() != "" && dtrow["HBSAG_INST"].ToString().Trim() != "00")
                    {
                        @Html.Raw("(外院)");
                    }
                    、HBeAg：(@ViewBag.HBEAG)
                    @if (ViewBag.HBEAG != "外院" && dtrow["HBEAG_INST"].ToString().Trim() != "" && dtrow["HBEAG_INST"].ToString().Trim() != "00")
                    {
                        @Html.Raw("(外院)");
                    }
                    、Rubella：(@ViewBag.RUBELLA)
                    @if (ViewBag.RUBELLA != "外院" && dtrow["RUBELLA_INST"].ToString().Trim() != "" && dtrow["RUBELLA_INST"].ToString().Trim() != "00")
                    {
                        @Html.Raw("(外院)");
                    }
                    <br />
                    VDRL：(@ViewBag.VDRL1)
                    @if (ViewBag.VDRL1 != "外院" && dtrow["VDRL1_INST"].ToString().Trim() != "" && dtrow["VDRL1_INST"].ToString().Trim() != "00")
                    {
                        @Html.Raw("(外院)");
                    }
                    /
                    (@ViewBag.VDRL2)
                    @if (ViewBag.VDRL2 != "外院" && dtrow["VDRL2_INST"].ToString().Trim() != "" && dtrow["VDRL2_INST"].ToString().Trim() != "00")
                    {
                        @Html.Raw("(外院)");
                    }
                    、HIV：(@ViewBag.HIV)
                    @if (ViewBag.HIV != "外院" && dtrow["HIV_INST"].ToString().Trim() != "" && dtrow["HIV_INST"].ToString().Trim() != "00")
                    {
                        @Html.Raw("(外院)");
                    }
                    <br />
                    GBS：(@ViewBag.GBS)
                    @if (ViewBag.GBS != "外院" && dtrow["GBS_INST"].ToString().Trim() != "" && dtrow["GBS_INST"].ToString().Trim() != "00")
                    {
                        @Html.Raw("(外院)");
                    }
                    、@ViewBag.GBSAB
                </td>
                <td style="width:14%;border-top:0!important;font-size:15px">血&nbsp;&nbsp;&nbsp;&nbsp;液<br />檢查地點</td>
                <td style="width:18.2%;border-top:0!important;font-size:15px">
                    @if (dtrow["HBSAG_INST"].ToString().Trim() != "00" && dtrow["HBEAG_INST"].ToString().Trim() != "00"
                        && dtrow["RUBELLA_INST"].ToString().Trim() != "00" && dtrow["VDRL1_INST"].ToString().Trim() != "00"
                        && dtrow["VDRL2_INST"].ToString().Trim() != "00" && dtrow["HIV_INST"].ToString().Trim() != "00"
                        && dtrow["GBS_INST"].ToString().Trim() != "00")
                    {
                        if (dtrow["HBSAG_INST"].ToString().Trim() == "" && dtrow["HBEAG_INST"].ToString().Trim() == ""
                        && dtrow["RUBELLA_INST"].ToString().Trim() == "" && dtrow["VDRL1_INST"].ToString().Trim() == ""
                        && dtrow["VDRL2_INST"].ToString().Trim() == "" && dtrow["HIV_INST"].ToString().Trim() == ""
                        && dtrow["GBS_INST"].ToString().Trim() == "")
                        {
                            @Html.Raw("");
                        }
                        else
                        {
                            @Html.Raw("外院");
                        }
                    }
                    else
                    {
                        @Html.Raw("行天宮醫療志業醫療財團法人恩主公醫院");
                    }
                </td>
            </tr>
        </table>
        <table border="1" style="width:100%;border: 2px solid #000;border-top:0!important;border-bottom:0!important">
            <tr style="height:60px">
                <td style="width:12%;border-top:0!important;">過去病史</td>
                @if (dtrow["DISE"].ToString() != "" && dtrow["DISE_ITM"].ToString() != "")
                {
                    var values = dtrow["DISE_ITM"].ToString();
                    var valList = new List<string>();

                    if (values[0] == '1')
                    {
                        valList.Add("肝炎");
                    }
                    if (values[1] == '1')
                    {
                        valList.Add("梅毒");
                    }
                    if (values[2] == '1')
                    {
                        valList.Add("驚厥");
                    }
                    if (values[3] == '1')
                    {
                        valList.Add("腫瘤");
                    }
                    if (values[4] == '1')
                    {
                        valList.Add("氣喘");
                    }
                    if (values[5] == '1')
                    {
                        valList.Add("結核病");
                    }
                    if (values[6] == '1')
                    {
                        valList.Add("高血壓");
                    }
                    if (values[7] == '1')
                    {
                        valList.Add("心臟病");
                    }
                    if (values[8] == '1')
                    {
                        valList.Add("肝臟疾病");
                    }
                    if (values[9] == '1')
                    {
                        valList.Add("腎臟病");
                    }
                    if (values[10] == '1')
                    {
                        valList.Add("痛風");
                    }
                    if (values[11] == '1')
                    {
                        valList.Add("糖尿病");
                    }
                    if (values[14] == '1')
                    {
                        valList.Add("甲狀腺疾病");
                    }
                    if (values[12] == '1')
                    {
                        valList.Add("中風");
                    }
                    if (values[13] == '1')
                    {
                        valList.Add(string.Format("其他:{0}", dtrow["DISE_OTH"].ToString()));
                    }
                    if (valList.Count > 10)
                    {
                        valList.Insert(9, "<br/>");
                    }
                    <td style="width:88%;border-top:0!important;text-align:left;font-size:15px">
                        @Html.Raw(String.Join("、", valList))
                    </td>
                }
                else
                {
                    <td style="width:88%;border-top:0!important;text-align:left;font-size:15px">無</td>
                }
            </tr>
        </table>
        <table border="1" style="width:100%;border: 2px solid #000;border-top:0!important;border-bottom:0!important">
            <tr style="height:50px">
                <td style="width:12%;border-top:0!important;font-size:13px">妊娠併發症</td>
                @if (dtrow["PREG"].ToString() != "" && dtrow["PREG_ITM"].ToString() != "")
                {
                    var values = dtrow["PREG_ITM"].ToString();
                    var valList = new List<string>();

                    if (values[6] == '1')
                    {
                        valList.Add("妊娠高血壓");
                    }
                    if (values[7] == '1')
                    {
                        valList.Add("嚴重妊娠高血壓");
                    }
                    if (values[0] == '1')
                    {
                        valList.Add("子癲前症");
                    }
                    if (values[5] == '1')
                    {
                        valList.Add("中度子癲前症");
                    }
                    if (values[4] == '1')
                    {
                        valList.Add("重度子癲前症");
                    }
                    if (values[3] == '1')
                    {
                        valList.Add("絨毛膜羊膜囊炎");
                    }
                    if (values[2] == '1')
                    {
                        valList.Add("前置胎盤");
                    }
                    if (values[1] == '1')
                    {
                        valList.Add("胎盤早期剝離");
                    }
                    if (values[12] == '1')
                    {
                        valList.Add("妊娠糖尿病");
                    }
                    if (values[8] == '1')
                    {
                        valList.Add("心臟病");
                    }
                    if (values[9] == '1')
                    {
                        valList.Add("腎臟疾病");
                    }
                    if (values[10] == '1')
                    {
                        valList.Add("免疫性疾病(SLE)");
                    }
                    if (values[10] == '1')
                    {
                        valList.Add(string.Format("其他:{0}", dtrow["PREG_OTH"].ToString()));
                    }
                    if (valList.Count > 10)
                    {
                        valList.Insert(9, "<br/>");
                    }
                    else if (valList.Count > 5)
                    {
                        valList.Insert(4, "<br/>");
                    }
                    <td style="width:88%;border-top:0!important;text-align:left;font-size:15px">
                        @Html.Raw(String.Join("、", valList))
                    </td>
                }
                else
                {
                    <td style="width:88%;border-top:0!important;text-align:left;font-size:15px">無</td>
                }
            </tr>
        </table>
        <table border="1" style="width:100%;border: 2px solid #000;border-bottom:0!important">
            <tr style="height:30px">
                <td style="width:18%;border-top:0!important;font-size:16px">出生方式</td>
                @if (r["BIRTH_TYPE"].ToString() == "0")
                {
                    var NSD = "NSD";
                    if (r["VACUUM_NSD"].ToString() == "0")
                    {
                        NSD += "，使用VACUUM";
                    }
                    <td style="width:13%;border-top:0!important;font-size:16px">@Html.Raw(NSD)</td>
                }
                else if (r["BIRTH_TYPE"].ToString() == "1")
                {
                    var CS = "C/S";
                    if (r["VACUUM_CS"].ToString() == "0")
                    {
                        CS += "，使用VACUUM";
                    }
                    <td style="width:13%;border-top:0!important;font-size:16px">@Html.Raw(CS)</td>
                }
                else
                {
                    <td style="width:13%;border-top:0!important;font-size:16px"></td>
                }
                <td style="width:14%;border-top:0!important;font-size:16px">出生時間</td>
                @if (r["BIRTH_DAY"].ToString() != "")
                {
                    <td style="width:36%;border-top:0!important;font-size:16px">@Convert.ToDateTime(r["BIRTH_DAY"].ToString()).ToString("yyyy年MM月dd日 HH時mm分")</td>
                }
                else
                {
                    <td style="width:36%;border-top:0!important;font-size:16px"></td>
                }
                <td style="width:10%;border-top:0!important;font-size:13px">性別</td>
                <td style="width:10%;border-top:0!important;font-size:13px">@r["GENDER"]</td>
            </tr>
        </table>
        <table border="1" style="width:100%;border: 2px solid #000;border-top:0!important;border-bottom:0!important">
            <tr style="height:30px">
                <td style="width:18%;border-top:0!important;font-size:13px">APGAR SCORE</td>
                <td style="width:13%;border-top:0!important;font-size:13px">0</td>
                <td style="width:19%;border-top:0!important;font-size:13px">1</td>
                <td style="width:14%;border-top:0!important;font-size:13px">2</td>
                <td style="width:14%;border-top:0!important;font-size:13px">一分鐘</td>
                <td style="width:12%;border-top:0!important;font-size:13px">五分鐘</td>
                <td style="width:14%;border-top:0!important;font-size:13px">十分鐘</td>
            </tr>
            <tr style="height:30px">
                <td style="width:16%;border-top:0!important;font-size:13px;text-align:left">心跳速率</td>
                <td style="width:13%;border-top:0!important;font-size:13px;">無</td>
                <td style="width:17%;border-top:0!important;font-size:13px;">慢，100次/分以下</td>
                <td style="width:14%;border-top:0!important;font-size:13px;">100次/分以上</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_1_1"]</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_5_1"]</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_10_1"]</td>
            </tr>
            <tr style="height:30px">
                <td style="width:16%;border-top:0!important;font-size:13px;text-align:left">呼吸</td>
                <td style="width:13%;border-top:0!important;font-size:13px;">無</td>
                <td style="width:17%;border-top:0!important;font-size:13px;">慢，不規則</td>
                <td style="width:14%;border-top:0!important;font-size:13px;">規則、哭聲有力</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_1_2"]</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_5_2"]</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_10_2"]</td>
            </tr>
            <tr style="height:30px">
                <td style="width:16%;border-top:0!important;font-size:13px;text-align:left">肌肉張力</td>
                <td style="width:13%;border-top:0!important;font-size:13px;">四肢癱軟無力</td>
                <td style="width:17%;border-top:0!important;font-size:13px;">四肢微彎曲、稍活動</td>
                <td style="width:14%;border-top:0!important;font-size:13px;">四肢彎曲良好</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_1_3"]</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_5_3"]</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_10_3"]</td>
            </tr>
            <tr style="height:30px">
                <td style="width:16%;border-top:0!important;font-size:12px;text-align:left">反射(對鼻管之反應)</td>
                <td style="width:13%;border-top:0!important;font-size:13px;">無</td>
                <td style="width:17%;border-top:0!important;font-size:13px;">皺 眉 蹙 眉</td>
                <td style="width:14%;border-top:0!important;font-size:13px;">咳嗽或打噴嚏</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_1_4"]</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_5_4"]</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_10_4"]</td>
            </tr>
            <tr style="height:30px">
                <td style="width:16%;border-top:0!important;font-size:13px;text-align:left">膚色</td>
                <td style="width:13%;border-top:0!important;font-size:13px;">發  紫</td>
                <td style="width:17%;border-top:0!important;font-size:13px;">軀幹紅色、四肢發紫</td>
                <td style="width:14%;border-top:0!important;font-size:13px;">全 身 粉 紅</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_1_5"]</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_5_5"]</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_10_5"]</td>
            </tr>
            <tr style="height:30px">
                <td colspan="4" style="width:64%;border-top:0!important;font-size:15px;">總  分</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">
                    @if (r["RB_AS_1_1"].ToString() != "" || r["RB_AS_1_2"].ToString() != "" || r["RB_AS_1_3"].ToString() != "" || r["RB_AS_1_4"].ToString() != "" || r["RB_AS_1_5"].ToString() != "")
                    {
                        @Html.Raw(r["RB_AS_1_NUM"].ToString())
                    }
                    else
                    {
                        @Html.Raw("")
                    }
                </td>
                <td style="width:12%;border-top:0!important;font-size:13px;">
                    @if (r["RB_AS_5_1"].ToString() != "" || r["RB_AS_5_2"].ToString() != "" || r["RB_AS_5_3"].ToString() != "" || r["RB_AS_5_4"].ToString() != "" || r["RB_AS_5_5"].ToString() != "")
                    {
                        @Html.Raw(r["RB_AS_5_NUM"].ToString())
                    }
                    else
                    {
                        @Html.Raw("")
                    }
                </td>
                <td style="width:12%;border-top:0!important;font-size:13px;">
                    @if (r["RB_AS_10_1"].ToString() != "" || r["RB_AS_10_2"].ToString() != "" || r["RB_AS_10_3"].ToString() != "" || r["RB_AS_10_4"].ToString() != "" || r["RB_AS_10_5"].ToString() != "")
                    {
                        @Html.Raw(r["RB_AS_10_NUM"].ToString())
                    }
                    else
                    {
                        @Html.Raw("")
                    }
                </td>
            </tr>
            <tr style="height:30px">
                <td colspan="4" style="width:64%;border-top:0!important;font-size:15px;text-align:left !important">
                    @if (dt_starow["PLACE"].ToString() == "0")
                    {
                        @Html.Raw("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評估者");
                    }
                    else
                    {
                        @Html.Raw("院外生產&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;評估者");
                    }
                </td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_1_WHO_NAME"]</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_5_WHO_NAME"]</td>
                <td style="width:12%;border-top:0!important;font-size:13px;">@r["RB_AS_10_WHO_NAME"]</td>
            </tr>
        </table>
        if (dt_emr == null || dt_emr.Rows.Count == 0)
        {
            <table border="1" style="width:100%;border: 2px solid #000;border-bottom:0!important">
                <tr style="height:30px">
                    <td style="width:13%;border-top:0!important;font-size:16px">體 重</td>
                    <td style="width:20%;border-top:0!important;text-align:right;font-size:16px">@r["WEIGHT"]gm</td>
                    <td style="width:14%;border-top:0!important;font-size:16px">身 高</td>
                    <td style="width:16.9%;border-top:0!important;text-align:right;font-size:16px">@r["HEIGHT"]cm</td>
                    <td style="width:16.1%;border-top:0!important;font-size:16px">胎小便</td>
                    @if (r["URINE"].ToString() == "0")
                    {
                        <td style="width:20%;border-top:0!important;text-align:right;font-size:16px">未解</td>
                    }
                    else if (r["URINE"].ToString() == "1")
                    {
                        <td style="width:20%;border-top:0!important;text-align:right;font-size:16px">已解</td>
                    }
                    else
                    {
                        <td style="width:20%;border-top:0!important;text-align:right;font-size:16px"></td>
                    }
                </tr>
                <tr style="height:30px">
                    <td style="width:13%;border-top:0!important;font-size:16px">頭 圍</td>
                    <td style="width:20%;border-top:0!important;text-align:right;font-size:16px">@r["HEAD"]cm</td>
                    <td style="width:14%;border-top:0!important;font-size:16px">胸 圍</td>
                    <td style="width:16.9%;border-top:0!important;text-align:right;font-size:16px">@r["CHEST"]cm</td>
                    <td style="width:16.1%;border-top:0!important;font-size:16px">胎大便</td>
                    @if (r["MECONIUM"].ToString() == "0")
                    {
                        <td style="width:20%;border-top:0!important;text-align:right;font-size:16px">未解</td>
                    }
                    else if (r["MECONIUM"].ToString() == "1")
                    {
                        <td style="width:20%;border-top:0!important;text-align:right;font-size:16px">已解</td>
                    }
                    else
                    {
                        <td style="width:20%;border-top:0!important;text-align:right;font-size:16px"></td>
                    }
                </tr>
                <tr style="height:50px">
                    <td style="width:13%;border-top:0!important;font-size:16px">生命徵象</td>
                    <td style="width:20%;border-top:0!important;text-align:center;font-size:16px">
                        @{
                            if (r["TPR"].ToString() != "")
                            {
                                var TPRs = r["TPR"].ToString().Split('$');
                                @Html.Raw(TPRs[0] + "<br/>" + TPRs[1] + "<br/>" + TPRs[2])
                            }
                            else
                            {
                                @Html.Raw("無");
                            }
                        }
                    </td>
                    <td style="width:14%;border-top:0!important;font-size:16px">其他</td>
                    <td colspan="3" style="width:53%;border-top:0!important;text-align:left;font-size:15px">
                        @if (r["MECONIUM_COLOR"].ToString() == "0")
                        {
                            <span>1.胎便染色(無)</span><br />
                        }
                        else if (r["MECONIUM_COLOR"].ToString() == "1")
                        {
                            <span>1.胎便染色(＋)</span><br />
                        }
                        else if (r["MECONIUM_COLOR"].ToString() == "2")
                        {
                            <span>1.胎便染色(＋＋)</span><br />
                        }
                        else if (r["MECONIUM_COLOR"].ToString() == "3")
                        {
                            <span>1.胎便染色(＋＋＋)</span><br />
                        }
                        else if (r["MECONIUM_COLOR"].ToString() == "4")
                        {
                            <span>1.胎便染色(＋＋＋＋)</span><br />
                        }
                        else
                        {
                            <span>1.胎便染色()</span><br />
                        }
                        @if (r["CYANOSIS"].ToString() == "0")
                        {
                            <span>2.膚色發紺：無</span><br />
                        }
                        else if (r["CYANOSIS"].ToString() == "1")
                        {
                            <span>2.膚色發紺：有</span><br />
                        }
                        else
                        {
                            <span>2.膚色發紺：</span><br />
                        }
                        @if (r["OXYGEN"].ToString() == "0")
                        {
                            <span>3.氧氣使用：無</span><br />
                        }
                        else if (r["OXYGEN"].ToString() == "1")
                        {
                            <span>3.氧氣使用：有</span><br />
                        }
                        else
                        {
                            <span>3.氧氣使用：</span><br />
                        }
                        @if (r["NAS_SUC"].ToString() == "0")
                        {
                            <span>
                                4.口/鼻抽吸量：無
                            </span>
                        }
                        else if (r["NAS_SUC"].ToString() == "1")
                        {
                            var result = "4.口/鼻抽吸量：有<br />&nbsp;&nbsp;";

                            if (r["NAS_SUC_AMT"].ToString() == "0")
                            {
                                result += "多、<br />";
                            }
                            else if (r["NAS_SUC_AMT"].ToString() == "1")
                            {
                                result += "中、<br />";
                            }
                            else if (r["NAS_SUC_AMT"].ToString() == "2")
                            {
                                result += "少、<br />";
                            }
                            else
                            {
                                result += "<br />";
                            }

                            if (r["NAS_SUC_COL"].ToString() == "0")
                            {
                                result += "&nbsp;&nbsp;顏色:透明<br />";
                            }
                            else if (r["NAS_SUC_COL"].ToString() == "1")
                            {
                                result += "&nbsp;&nbsp;顏色:淡綠<br />";
                            }
                            else if (r["NAS_SUC_COL"].ToString() == "2")
                            {
                                result += "&nbsp;&nbsp;顏色:深綠<br />";
                            }
                            else if (r["NAS_SUC_COL"].ToString() == "3")
                            {
                                result += "&nbsp;&nbsp;顏色:其它:<br />";
                            }

                            if (r["NAS_SUC_COL_OTH"].ToString() != "")
                            {
                                result += string.Format("{0}<br />", r["NAS_SUC_COL_OTH"].ToString());
                            }

                            if (r["NAS_SUC_STA"].ToString() == "0")
                            {
                                result += "&nbsp;&nbsp;性質:稀<br />";
                            }
                            else if (r["NAS_SUC_STA"].ToString() == "1")
                            {
                                result += "&nbsp;&nbsp;性質:稠<br />";
                            }
                            else
                            {
                                result += "&nbsp;&nbsp;性質:<br />";
                            }
                            @Html.Raw(result);
                        }
                        else
                        {
                            <span>
                                4.口/鼻抽吸量：
                            </span>
                        }
                    </td>
                </tr>
                @if (dt_emr == null || dt_emr.Rows.Count == 0)
                {
                    <tr style="height:40px">
                        <td style="width:13%;border-top:0!important;font-size:16px">醫療處置</td>
                        <td colspan="5" style="width:87%;border-top:0!important;text-align:left;font-size:16px"></td>
                    </tr>
                }
            </table>
        }
        else
        {
            <table border="1" style="width:100%;border: 2px solid #000;">
                <tr style="height:30px">
                    <td style="width:13%;border-top:0!important;font-size:16px">體 重</td>
                    <td style="width:20%;border-top:0!important;font-size:16px">@r["WEIGHT"]gm</td>
                    <td style="width:14%;border-top:0!important;font-size:16px">身 高</td>
                    <td style="width:16.9%;border-top:0!important;font-size:16px">@r["HEIGHT"]cm</td>
                    <td style="width:16.1%;border-top:0!important;font-size:16px">胎小便</td>
                    @if (r["URINE"].ToString() == "0")
                    {
                        <td style="width:20%;border-top:0!important;font-size:16px">未解</td>
                    }
                    else if (r["URINE"].ToString() == "1")
                    {
                        <td style="width:20%;border-top:0!important;font-size:16px">已解</td>
                    }
                    else
                    {
                        <td style="width:20%;border-top:0!important;font-size:16px"></td>
                    }
                </tr>
                <tr style="height:30px">
                    <td style="width:13%;border-top:0!important;font-size:16px">頭 圍</td>
                    <td style="width:20%;border-top:0!important;font-size:16px">@r["HEAD"]cm</td>
                    <td style="width:14%;border-top:0!important;font-size:16px">胸 圍</td>
                    <td style="width:16.9%;border-top:0!important;font-size:16px">@r["CHEST"]cm</td>
                    <td style="width:16.1%;border-top:0!important;font-size:16px">胎大便</td>
                    @if (r["MECONIUM"].ToString() == "0")
                    {
                        <td style="width:20%;border-top:0!important;font-size:16px">未解</td>
                    }
                    else if (r["MECONIUM"].ToString() == "1")
                    {
                        <td style="width:20%;border-top:0!important;font-size:16px">已解</td>
                    }
                    else
                    {
                        <td style="width:20%;border-top:0!important;font-size:16px"></td>
                    }
                </tr>
                <tr style="height:50px">
                    <td style="width:13%;border-top:0!important;font-size:16px">生命徵象</td>
                    <td style="width:20%;border-top:0!important;text-align:center;font-size:16px">
                        @{
                            var TPRs = r["TPR"].ToString().Split('$');
                            @Html.Raw(TPRs[0] + "<br/>" + TPRs[1] + "<br/>" + TPRs[2])
                        }
                    </td>
                    <td style="width:14%;border-top:0!important;font-size:16px">其他</td>
                    <td colspan="3" style="width:53%;border-top:0!important;text-align:left;font-size:15px">
                        @if (r["MECONIUM_COLOR"].ToString() == "0")
                        {
                            <span>1.胎便染色(無)</span><br />
                        }
                        else if (r["MECONIUM_COLOR"].ToString() == "1")
                        {
                            <span>1.胎便染色(＋)</span><br />
                        }
                        else if (r["MECONIUM_COLOR"].ToString() == "2")
                        {
                            <span>1.胎便染色(＋＋)</span><br />
                        }
                        else if (r["MECONIUM_COLOR"].ToString() == "3")
                        {
                            <span>1.胎便染色(＋＋＋)</span><br />
                        }
                        else if (r["MECONIUM_COLOR"].ToString() == "4")
                        {
                            <span>1.胎便染色(＋＋＋＋)</span><br />
                        }
                        else
                        {
                            <span>1.胎便染色()</span><br />
                        }
                        @if (r["CYANOSIS"].ToString() == "0")
                        {
                            <span>
                                2.膚色發紺：無
                            </span><br />
                        }
                        else if (r["CYANOSIS"].ToString() == "1")
                        {
                            <span>2.膚色發紺：有</span><br />
                        }
                        else
                        {
                            <span>2.膚色發紺：</span><br />
                        }
                        @if (r["OXYGEN"].ToString() == "0")
                        {
                            <span>3.氧氣使用：無</span><br />
                        }
                        else if (r["OXYGEN"].ToString() == "1")
                        {
                            <span>3.氧氣使用：有</span><br />
                        }
                        else
                        {
                            <span>3.氧氣使用：</span><br />
                        }
                        @if (r["NAS_SUC"].ToString() == "0")
                        {
                            <span>
                                4.口/鼻抽吸量：無
                            </span>
                        }
                        else if (r["NAS_SUC"].ToString() == "1")
                        {
                            var result = "4.口/鼻抽吸量：有<br />&nbsp;&nbsp;";

                            if (r["NAS_SUC_AMT"].ToString() == "0")
                            {
                                result += "多、<br />";
                            }
                            else if (r["NAS_SUC_AMT"].ToString() == "1")
                            {
                                result += "中、<br />";
                            }
                            else if (r["NAS_SUC_AMT"].ToString() == "2")
                            {
                                result += "少、<br />";
                            }
                            else
                            {
                                result += "<br />";
                            }

                            if (r["NAS_SUC_COL"].ToString() == "0")
                            {
                                result += "&nbsp;&nbsp;顏色:透明<br />";
                            }
                            else if (r["NAS_SUC_COL"].ToString() == "1")
                            {
                                result += "&nbsp;&nbsp;顏色:淡綠<br />";
                            }
                            else if (r["NAS_SUC_COL"].ToString() == "2")
                            {
                                result += "&nbsp;&nbsp;顏色:深綠<br />";
                            }
                            else if (r["NAS_SUC_COL"].ToString() == "3")
                            {
                                result += "&nbsp;&nbsp;顏色:其它:<br />";
                            }

                            if (r["NAS_SUC_COL_OTH"].ToString() != "")
                            {
                                result += string.Format("{0}<br />", r["NAS_SUC_COL_OTH"].ToString());
                            }

                            if (r["NAS_SUC_STA"].ToString() == "0")
                            {
                                result += "&nbsp;&nbsp;性質:稀<br />";
                            }
                            else if (r["NAS_SUC_STA"].ToString() == "1")
                            {
                                result += "&nbsp;&nbsp;性質:稠<br />";
                            }
                            else
                            {
                                result += "&nbsp;&nbsp;性質:<br />";
                            }
                            @Html.Raw(result);
                        }
                        else
                        {
                            <span>
                                4.口/鼻抽吸量：
                            </span>
                        }
                    </td>
                </tr>
            </table>
        }
        if (dt_emr != null && dt_emr.Rows.Count > 0)
        {
            <table border="1" style="width:100%;border: 2px solid #000;border-bottom:0!important">
                <tr>
                    <td style="width:13%;border-top:0!important;font-size:16px">醫療處置</td>
                    <td colspan="5" style="width:87%;border-top:0!important;text-align:left;font-size:16px">
                        @if (dt_emr != null && dt_emr.Rows.Count > 0)
                        {
                            var result = "";
                            for (var j = dt_emr.Rows.Count - 1; j >= 0; j--)
                            {
                                if (Convert.ToInt32(dt_emr.Rows[j]["BABY_SEQ"].ToString()) == i - 1)
                                {
                                    result += "(" + Convert.ToDateTime(dt_emr.Rows[j]["CREATTIME"].ToString()).ToString("yyyy/MM/dd HH:mm") + ")" + dt_emr.Rows[j]["ET"].ToString() + "<br />";
                                }
                            }
                            @Html.Raw(result);
                        }
                    </td>
                </tr>
            </table>
        }
        <table border="1" style="width:100%;border: 2px solid #000;border-top:0!important">
            <tr style="height:70px">
                <td style="border-top:0!important;width:13%">接生<br />醫師</td>
                <td style="border-top:0!important;width:13%">@dt_starow["PHYSICIAN_1_NAME"]<br /> @dt_starow["PHYSICIAN_2_NAME"]</td>
                <td style="border-top:0!important;width:10%">刷手<br />護理師</td>
                <td style="border-top:0!important;width:15%">@dt_starow["SRNURSE_1_NAME"]<br /> @dt_starow["SRNURSE_2_NAME"]</td>
                <td style="border-top:0!important;width:9%">兒科<br />醫師</td>
                <td style="border-top:0!important;width:15%">@pf.DocName</td>
                <td style="border-top:0!important;width:10%">新生兒<br />護理師</td>
                <td style="border-top:0!important;width:15%">@r["CREATNO_2_NAME"] <br /> @r["DIRECTOR_NAME"]</td>
            </tr>
        </table>
    }
}
