@using System.Data;
@{
    DataTable foot_dt = ViewBag.foot_dt;
    string RootDocument = ViewBag.RootDocument;

    string HeaderVal = "";
    string FooterVal = "";
}

<script>
    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');

        $('.head').css('background', '#85A5CC');
    }

    $(function () {
        setGridColor();
        //設定高度
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 160);
        }).trigger("resize");
    });

    function printChildFoot(babySeq, printCount) {
        var WinPrint = window.open('Child_foot_Print?babySeq=' + babySeq + '&printCount=' + printCount, '', 'menubar=no,status=no,scrollbars=yes,left=100,top=0,width=800,height=700,toolbar=0,status=0');
        WinPrint.focus();
        WinPrint.print();
    }

</script>
<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />

<div class="funcArea">
    @if (foot_dt == null || foot_dt.Rows.Count == 0)
    {
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;table-layout:fixed">
            <tr>
                <td>
                    <div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            <tr>
                                <td style="width:20%"></td>
                                <td style="width:20%">胎序</td>
                                <td style="width:20%">列印次數</td>
                                <td style="width:20%">上次列印日期</td>
                                <td style="width:20%">列印人員</td>
                            </tr>
                        </table>
                    </div>
                    <div class="dataArea" style="height:190px;">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            @for (var i = 0; i < 10; i++)
                            {
                                string print_func = "window.open('" + RootDocument + "/Print/GetPDF?HeaderVal=" + Server.UrlEncode(HeaderVal) + "&FooterVal_local=font-size 10 --footer-left&FooterVal=" + Server.UrlEncode(FooterVal) + "&url=" + RootDocument + "/Obstetrics/Child_foot_Print?1=1&filename=TEST&feeno=" + ViewBag.feeno + "&chartno=" + ViewBag.chartNo + "&userno=" + ViewBag.userno + "&babySeq=" + @Convert.ToChar(i + 65) + "&printCount=0')";
                                //string print_func = "window.open('" + RootDocument + "/Obstetrics/Child_foot_Print?1=1&filename=test&feeno=" + ViewBag.feeno + "')";
                                <tr>
                                    <td style="width:20%">
                                        <input type="button" value="列印" style="width:60px;" onclick="@print_func" />
                                    </td>
                                    <td style="width:20%">@Convert.ToChar(i + 65)</td>
                                    <td style="width:20%;text-align:right">0</td>
                                    <td style="width:20%"></td>
                                    <td style="width:20%"></td>
                                </tr>
                            }
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    }
    else
    {
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;table-layout:fixed">
            <tr>
                <td>
                    <div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            <tr>
                                <td style="width:20%"></td>
                                <td style="width:20%">胎序</td>
                                <td style="width:20%">列印次數</td>
                                <td style="width:20%">上次列印日期</td>
                                <td style="width:20%">列印人員</td>
                            </tr>
                        </table>
                    </div>
                    <div class="dataArea" style="height:190px;">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            @foreach (DataRow r in foot_dt.Rows)
                            {
                                string print_func = "window.open('" + RootDocument + "/Print/GetPDF?HeaderVal=" + Server.UrlEncode(HeaderVal) + "&FooterVal_local=font-size 10 --footer-left&FooterVal=" + Server.UrlEncode(FooterVal) + "&url=" + RootDocument + "/Obstetrics/Child_foot_Print?1=1&filename=TEST&feeno=" + ViewBag.feeno + "&chartno=" + ViewBag.chartNo + "&userno=" + ViewBag.userno + "&babySeq=" + r["BABY_SEQ"].ToString() + "&printCount=" + r["PRINTCOUNT"].ToString() + "')";
                                //string print_func = "window.open('" + RootDocument + "/Obstetrics/Child_foot_Print?1=1&filename=test&feeno=" + ViewBag.feeno + "')";
                                <tr>
                                    <td style="width:20%">
                                        <input type="button" value="列印" style="width:60px;" onclick="@print_func" />
                                    </td>
                                    <td style="width:20%">@r["BABY_SEQ"].ToString()</td>
                                    <td style="width:20%;text-align:right">@r["PRINTCOUNT"].ToString()</td>
                                    @if (r["PRINTDATE"].ToString() != "")
                                    {
                                        <td style="width:20%">@Convert.ToDateTime(r["PRINTDATE"]).ToString("yyyy/MM/dd HH:mm")</td>
                                    }
                                    else
                                    {
                                        <td style="width:20%"></td>
                                    }
                                    <td style="width:20%">@r["UPDNO_NAME"].ToString()</td>
                                </tr>
                            }
                        </table>
                    </div>
                </td>
            </tr>
        </table>
    }
</div>
