@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dt = ViewBag.dt;
    string value = ViewBag.value;
}
<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />
<style type="text/css">
    .fieGray td {
        padding: 2px
    }
</style>
<div class="funcArea">
    <div class="firstDiv" style="padding:10px;width:auto;height:auto">
        <fieldset class="fieBlue">
            <div class="CSReason_M" style="width:100%;text-align:center;display:none">
                剖腹產(C/S)【主要】原因
            </div>
            <div class="CSReason_S" style="width:100%;text-align:center;display:none">
                剖腹產(C/S)【次要】原因
            </div>
        </fieldset>
        <fieldset class="fieGray">
            <table border="1" style="width:100%;height:auto;text-align:left;font-size:16px; border-color:white;border-width:0.5px;padding:2px">
                <tr>
                    <td class="CSReason_M" style="display:none;background-color:rgb(133, 165, 204)">
                        選取原因
                    </td>
                    <td class="CSReason_S" style="display:none;background-color:rgb(133, 165, 204)">
                        選取原因
                    </td>
                    <td style="background-color:rgb(133, 165, 204)">中文</td>
                    <td style="background-color:rgb(133, 165, 204)">English</td>
                </tr>
                @if (dt != null && dt.Rows.Count > 0)
                {
                    foreach (DataRow r in dt.Rows)
                    {
                        <tr>
                            <td class="CSReason_M" style="display:none;">
                                <input type="radio" name="RB_CSReason" value="@r["CSRS_CHT"]" />
                            </td>
                            <td class="CSReason_S" style="display:none;">
                                <input type="checkbox" name="CK_CSReason" value="@r["CSRS_CHT"]" />
                            </td>
                            <td>
                                @r["CSRS_CHT"].ToString()
                            </td>
                            <td>
                                @r["CSRS_ENG"].ToString()
                            </td>
                        </tr>
                    }
                }
                <tr>
                    <td class="CSReason_M" style="display:none;">
                        <input type="radio" name="RB_CSReason" value="其他" />
                    </td>
                    <td class="CSReason_S" style="display:none;">
                        <input type="checkbox" name="CK_CSReason" value="其他" />
                    </td>
                    <td colspan="2">
                        其他 ，
                        @Html.TextBox("TXT_OTH", "", new { id= "TXT_OTH", style = "width:150px" })
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset class="fieBlue">
            <div style="width:100%;text-align:center;">
                <input type="button" value="確定" onclick="getValue()" />
                <input type="button" value="取消" onclick="window.close();" />
            </div>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function set_for_ck(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            var ck = document.getElementsByName(ck_name);
            for (var i = 0; i < default_val.length; i++) {
                for (var j = 0; j < ck.length; j++) {
                    if (default_val[i] == ck[j].value)
                        $(ck[j]).click();
                }
            }
        }
    }

	if ("@ViewBag.page" === "M")
		$(".CSReason_M").fadeIn();
	else
        $(".CSReason_S").fadeIn();

    if ("@ViewBag.value" !== "") {
        var value = "@ViewBag.value";
        if (value.indexOf("其他") >= 0) {
            vs = value.split("-");
             if ("@ViewBag.page" === "M")
                set_for_rb('RB_CSReason', vs[0]);
             else
                set_for_ck('CK_CSReason', vs[0]);
           
            $("#TXT_OTH").val(vs[1]);
        } else {
            if ("@ViewBag.page" === "M")
                set_for_rb('RB_CSReason', '@ViewBag.value');
            else
                set_for_ck('CK_CSReason', '@ViewBag.value');
        }
    }

    function getValue() {
        if ("@ViewBag.page" === "M") {
            var v = $('input[name=RB_CSReason]:checked').val()
            if (v == "其他") {
                window.opener.document.getElementById("TXT_CS_MR").value = v.toString() + "-" + $("#TXT_OTH").val();
            } else {
                window.opener.document.getElementById("TXT_CS_MR").value = v.toString();
            }
        } else {
            var v = $('input:checkbox:checked[name="CK_CSReason"]').map(function () { return $(this).val(); }).get().join(',');
            if (v.indexOf("其他") >= 0) {
               v = v.replace("其他", "其他-" + $("#TXT_OTH").val());
            }
            window.opener.document.getElementById("TXT_CS_OR").value = v;
        }
        window.close();
    }
</script>