@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        white-space: pre-line;
        word-break: break-all;
    }
</style>

<script type="text/javascript">
    $(function () {
        close_pup_window();
        setGridColor();
        //設定高度
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 100);
        }).trigger("resize");
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
   
        $('.head').css('background', '#85A5CC');
    }

    function set_row(url) {
        var ck = $('input[type=checkbox]:checked');
        if (ck.length == 0)
            alert('請選擇C/S原因紀錄!');
        else if (ck.length > 1)
            alert("只能選擇一筆!");
        else {
            var row = '';
            for (var i = 0; i < ck.length; i++) {
                if (ck[i].checked)
                    row = row + ck[i].value + ',';
            }
            if (row != '') {
                row = row.substring(0, row.length - 1);
                new_window.push(window.open(url + '?IID=' + row, '', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=700,height=500'));
            }
        }
    }
</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<div class="funcArea" style="text-align:center">
    <input type="button" value="新增" style="width:50px;" onclick="@Java_funcion.pup_window("Insert_CS_Reason", 700,500, "0")" />
    <input type="button" value="修改" style="width:50px;" onclick="set_row('Insert_CS_Reason');" />
</div>

<div class="funcArea">
    <table border="0" cellspacing="0" cellpadding="0" style="width:100%;table-layout:fixed">
        <tr>
            <td>
                <div class="dataHeader">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        <tr>
                            <td style="width:5%">挑選</td>
                            <td style="width:45%">中文原因</td>
                            <td style="width:45%">英文原因</td>
                            <td style="width:5%">排序號</td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea" style="height:190px;">
                    @if (dt != null)
                    {
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        @foreach (DataRow r in dt.Rows)
                        {
                            <tr>
                                <td style="width:5%;text-align:center;vertical-align:central">
                                    <input type="checkbox" name="IID" value="@r["IID"]" />
                                </td>
                                <td style="width:45%">@r["CSRS_CHT"]</td>
                                <td style="width:45%">@r["CSRS_ENG"]</td>
                                <td style="width:5%">@r["CSRS_SEQ"]</td>
                            </tr>
                        }
                    </table>
                    }
                </div>
            </td>
        </tr>
    </table>
</div>
