@{
    ViewBag.Title = "SameBedroom";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
@using System.Data;
@{
    DataTable dt_bredtran = ViewBag.dt_bredtran;
    bool isKardex = ViewBag.Kardex;

    string RootDocument = ViewBag.RootDocument;

    string HeaderVal = "恩主公醫院哺餵母乳轉介單";
    string FooterVal = "轉介單位請將本轉介單傳真至產婦戶籍地所在衛生所。";
}
<script>
    function Delete_Breast() {
        $.ajax({
            url: 'Del_Feeding_Breast_Referral',
            type: 'post',
            dataType: 'json',
            data: $('form').serialize(),
            success: function (data) {
                if (Number(data) == "-501") {
                    alert('無權限刪除!');
                }
                else if (Number(data) > 0) {
                    alert('刪除成功');
                    window.location.href = 'Roomin_List?mode=2';
                } else {
                    alert('刪除失敗');
                    window.location.href = 'Roomin_List?mode=2';
                }
            },
            failure: function (errMsg) {
                alert('刪除失敗');
                window.location.href = 'Roomin_List?mode=2';
            }
        });
    }
</script>
<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />
@if (isKardex == false)
{
    <div class="funcArea" style="text-align:center">
        <input type="button" value="新增" onclick="@Java_funcion.pup_window("Insert_Feeding_Breast_Referral", 700, 600, "0")">
        <input type="button" value="修改" onclick="set_row('Insert_Feeding_Breast_Referral','哺餵母乳轉介', 'Feeding_Breast_Referral_List');">
        <input type="button" value="刪除" style="width:50px;" onclick="if ($('input[name=B_IID][type=checkbox]:checked').length > 0) { if (confirm('確認刪除?')) { Delete_Breast(); } } else { alert('請選擇紀錄!'); }" />
    </div>
}
<div class="funcArea">
    <form action="Del_Feeding_Breast_Referral" method="post">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;table-layout:fixed">
            <tr>
                <td>
                    <div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            <tr>
                                <td style="width:5%"></td>
                                <td style="width:3%">選取</td>
                                <td style="width:8%">轉介日期<br />/時間</td>
                                <td style="width:8%">產婦姓名</td>
                                <td style="width:10%">產婦狀態</td>
                                <td style="width:10%">追蹤事項</td>
                                <td style="width:10%">轉介原因</td>
                                <td style="width:8%">回覆<br />日期</td>
                                <td style="width:10%">受轉介<br />單位名稱</td>
                                <td style="width:10%">處理方式</td>
                                <td style="width:10%">處理結果</td>
                                <td style="width:4%">紀錄者</td>
                                <td style="width:4%">回覆<br />紀錄者</td>
                            </tr>
                        </table>
                    </div>
                    <div class="dataArea" style="height:180px;">
                        @if (dt_bredtran != null)
                        {
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                                @foreach (DataRow r in dt_bredtran.Rows)
                                {
                                    string print_func = "window.open('" + RootDocument + "/Print/GetPDF?HeaderVal=" + Server.UrlEncode(HeaderVal) + "&FooterVal_local=font-size 10 --footer-left&FooterVal=" + Server.UrlEncode(FooterVal) + "&url=" + RootDocument + "/Obstetrics/Feeding_Breast_Referral_Print?1=1&filename=TEST&IID=" + r["IID"] + "')";
                                    //string print_func = "window.open('" + RootDocument + "/Obstetrics/Feeding_Breast_Referral_Print?1=1&filename=哺餵母乳轉介單&IID=" + r["IID"] + "')";
                                <tr>
                                    <td style="width:5%;">
                                        <input type="button" value="列印" style="" onclick="@print_func" />
                                    </td>
                                    <td style="width:3%;text-align:center;vertical-align:central">
                                        <input type="checkbox" name="B_IID" class="Feeding_Breast_Referral_List" value="@r["IID"]" />
                                    </td>
                                    <td style="width:8%">
                                        @if (r["REF_DATE"].ToString() != "")
                                        {
                                            @Convert.ToDateTime(r["REF_DATE"]).ToString("yyyy/MM/dd")<br />@Convert.ToDateTime(r["REF_DATE"]).ToString("HH:mm")
                                        }
                                    </td>
                                    <td style="width:8%">@r["NAME"]</td>
                                    @{
                                        var result = new List<string>();
                                        if (r["PAT_STA"].ToString() != "" && r["PAT_STA"].ToString().Length == 8)
                                        {
                                            var data = r["PAT_STA"].ToString();
                                            if (data[0] == '1')
                                            {
                                                result.Add("正常");
                                            }
                                            if (data[1] == '1')
                                            {
                                                result.Add("PPH");
                                            }
                                            if (data[2] == '1')
                                            {
                                                result.Add("PIH");
                                            }
                                            if (data[3] == '1')
                                            {
                                                result.Add("乳腺炎");
                                            }
                                            if (data[4] == '1')
                                            {
                                                result.Add("傷口感染");
                                            }
                                            if (data[5] == '1')
                                            {
                                                var d = "產後憂鬱症";
                                                if (r["PAT_STA_BL"].ToString() != "")
                                                {
                                                    d += "-" + r["PAT_STA_BL"].ToString() + "分";
                                                }
                                                result.Add(d);
                                            }
                                            if (data[6] == '1')
                                            {
                                                result.Add("TB");
                                            }
                                            if (data[7] == '1')
                                            {
                                                var d = "其他";
                                                //if (r["NB_STA_OTH"].ToString() != "")
                                                //{
                                                //    d += "-" + r["NB_STA_OTH"].ToString();
                                                //}
                                                if (r["PAT_STA_OTH"].ToString() != "")
                                                {
                                                    d += "-" + r["PAT_STA_OTH"].ToString();
                                                }
                                                result.Add(d);
                                            }
                                        }
                                        <td style="width:10%;text-align:left !important">@Html.Raw(String.Join("<br/>", result)) </td>
                                    }
                                    @{
                                        var result3 = new List<string>();
                                        if (r["TRACE"].ToString() != "" && r["TRACE"].ToString().Length == 5)
                                        {
                                            var data = r["TRACE"].ToString();
                                            if (data[0] == '1')
                                            {
                                                result3.Add("母乳哺育重要性的加強");
                                            }
                                            if (data[1] == '1')
                                            {
                                                result3.Add("哺餵母乳的技巧");
                                            }
                                            if (data[2] == '1')
                                            {
                                                result3.Add("哺餵母乳的心理支持");
                                            }
                                            if (data[3] == '1')
                                            {
                                                result3.Add("母乳哺餵母親的營養需求");
                                            }
                                            if (data[4] == '1')
                                            {
                                                var d = "其他";
                                                if (r["TRACE_OTH"].ToString() != "")
                                                {
                                                    d += "-" + r["TRACE_OTH"].ToString();
                                                }
                                                result3.Add(d);
                                            }
                                        }
                                        <td style="width:10%;text-align:left !important">@Html.Raw(String.Join("<br/>", result3)) </td>
                                    }
                                    @{
                                        var result4 = new List<string>();
                                        if (r["REF"].ToString() != "" && r["REF"].ToString().Length == 12)
                                        {
                                            var data = r["REF"].ToString();
                                            if (data[0] == '1')
                                            {
                                                result4.Add("乳頭酸痛");
                                            }
                                            if (data[1] == '1')
                                            {
                                                result4.Add("乳頭龜裂");
                                            }
                                            if (data[2] == '1')
                                            {
                                                result4.Add("乳頭破皮");
                                            }
                                            if (data[3] == '1')
                                            {
                                                result4.Add("乳腺炎");
                                            }
                                            if (data[4] == '1')
                                            {
                                                result4.Add("產婦缺乏哺餵母乳動機");
                                            }
                                            if (data[5] == '1')
                                            {
                                                result4.Add("(產婦哺乳技巧不熟練，須加強協助）");
                                            }
                                            if (data[6] == '1')
                                            {
                                                result4.Add("寶寶吸奶姿勢不良");
                                            }
                                            if (data[7] == '1')
                                            {
                                                result4.Add("寶寶吸吮力較弱");
                                            }
                                            if (data[8] == '1')
                                            {
                                                result4.Add("奶水分泌不足");
                                            }
                                            if (data[9] == '1')
                                            {
                                                result4.Add("先生不支持");
                                            }
                                            if (data[10] == '1')
                                            {
                                                result4.Add("家人不支持");
                                            }
                                            if (data[11] == '1')
                                            {
                                                var d = "其他";
                                                if (r["REF_OTH"].ToString() != "")
                                                {
                                                    d += "-" + r["REF_OTH"].ToString();
                                                }
                                                result4.Add(d);
                                            }
                                        }
                                        <td style="width:10%;text-align:left !important">@Html.Raw(String.Join("<br/>", result4)) </td>
                                    }
                                    <td style="width:8%">
                                        @if (r["REPLY_DATE"].ToString() != "")
                                        {
                                            @Convert.ToDateTime(r["REPLY_DATE"]).ToString("yyyy/MM/dd")
                                        }
                                    </td>
                                    <td style="width:10%">@r["REF_ORG"]</td>
                                    @{
                                        var result5 = new List<string>();
                                        if (r["REF_WAY"].ToString() != "" && r["REF_WAY"].ToString().Length == 5)
                                        {
                                            var data = r["REF_WAY"].ToString();
                                            if (data[0] == '1')
                                            {
                                                result5.Add("電話訪視");
                                            }
                                            if (data[1] == '1')
                                            {
                                                result5.Add("家訪");
                                            }
                                            if (data[2] == '1')
                                            {
                                                result5.Add("提供宣導資料");
                                            }
                                            if (data[3] == '1')
                                            {
                                                result5.Add("邀請參加支持團體");
                                            }
                                            if (data[4] == '1')
                                            {
                                                var d = "其他";
                                                if (r["REF_WAY_OTH"].ToString() != "")
                                                {
                                                    d += "-" + r["REF_WAY_OTH"].ToString();
                                                }
                                                result5.Add(d);
                                            }
                                        }
                                        <td style="width:10%;text-align:left !important">@Html.Raw(String.Join("<br/>", result5)) </td>
                                    }
                                    <td style="width:10%">@r["REF_RST"]</td>
                                    <td style="width:4%">@r["APPLYNO_NAME"]</td>
                                    <td style="width:4%">@r["REPLYNO_NAME"]</td>
                                </tr>
                                }
                            </table>
                        }
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
