@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    <link href="@Url.Content("~/Content/StyleSheet/ChildFootPrint.css")" rel="stylesheet" type="text/css" />
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    ViewBag.Title = "哺餵母乳轉介單";
}

@using System.Data;
@using NIS.Data;
@{
    DataRow dt = ViewBag.dt;
    DataTable dtbtnb = ViewBag.dtbtnb;
    string chartno = ViewBag.chartNo;
}

<style>
    .page {
        font-family: TimesNewRoman, "標楷體", EUDC;
    }

    table {
        border: 0px solid #000;
        font-size: 16px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        padding-left: 5mm;
        padding-right: 5mm;
    }

    .content td {
        border: 1px solid #000;
        padding: 3px;
        text-align: left;
    }

    .box {
        background: white;
        border: black 2px solid;
        box-shadow: 5px 5px 5px 5px white;
    }
</style>


<table border="1" style="width:100%;border: 1px solid #000;border-bottom:0!important">
    <tr style="height:45px">
        <td style="width:28%;border:0!important;font-size:16px">轉介單位：恩主公醫院</td>
        @if (dt["REF_DATE"].ToString() == "")
        {
            <td style="width:42%;border:0!important;text-align:right">轉介日期：</td>
        }
        else
        {
    <td style="width:42%;border:0!important;text-align:right">
        @*轉介日期：@(Convert.ToInt32(Convert.ToDateTime(dt["REF_DATE"].ToString()).ToString("yyyy")) - 1911)-@Convert.ToDateTime(dt["REF_DATE"].ToString()).ToString("MM")-@Convert.ToDateTime(dt["REF_DATE"].ToString()).ToString("dd")*@
        轉介日期：@(Convert.ToDateTime(dt["REF_DATE"].ToString()).ToString("yyyy"))-@Convert.ToDateTime(dt["REF_DATE"].ToString()).ToString("MM")-@Convert.ToDateTime(dt["REF_DATE"].ToString()).ToString("dd")
    </td>
        }
        <td style="width:30%;border:0!important;"></td>
    </tr>
    <tr style="height:45px;font-weight:600">
        <td style="width:28%;border-top:0!important;border-right:0!important;font-size:16px">聯絡人：9樓護理站</td>
        <td style="width:42%;border-top:0!important;border-right:0!important;border-left:0!important;text-align:right">聯絡電話：(02)26723456 #6960、#6961</td>
        <td style="width:30%;border-top:0!important;border-left:0!important;">傳真號碼：(02)26731719</td>
    </tr>
</table>
<table border="1" style="width:100%;border: 1px solid #000;border-top:0!important;border-bottom:0!important">
    <tr style="height:45px;">
        <td colspan="4" style="border:0!important;font-weight:600">
            基本資料
        </td>
    </tr>
    <tr style="height:40px;">
        <td style="width:25%;border:0!important;font-size:16px">媽媽姓名：</td>
        <td style="width:25%;border:0!important;font-size:16px">@dt["NAME"]</td>
        <td style="width:20%;border:0!important;">聯絡電話：</td>
        <td style="width:30%;border:0!important;">@dt["TEL"]</td>
    </tr>
    <tr style="height:40px;">
        <td style="width:25%;border:0!important;font-size:16px">戶籍地：</td>
        <td colspan="3" style="width:75%;border:0!important;font-size:16px">@dt["ADDR"]</td>
    </tr>
    <tr style="height:40px;">
        <td style="width:25%;border:0!important;font-size:16px">年齡：</td>
        <td style="width:25%;border:0!important;font-size:16px">@dt["AGE"] 歲</td>
        <td style="width:20%;border:0!important;">職業婦女：</td>
        @if (dt["CW"].ToString() == "1")
        {
            <td style="width:30%;border:0!important;">是</td>
        }
        else
        {
            <td style="width:30%;border:0!important;">否</td>
        }
    </tr>
</table>
@if (dtbtnb != null && dtbtnb.Rows.Count > 0)
{
    foreach (DataRow r in dtbtnb.Rows)
    {
        <table border="1" style="width:100%;border: 1px solid #000;border-top:0!important;border-bottom:0!important">
            <tr style="height:40px;">
                <td colspan="2" style="width:60%;border:0!important;font-size:16px">生產醫院名稱：醫療志業醫療財團法人恩主公醫院</td>
                <td style="width:20%;border:0!important;font-size:16px">胎次：</td>
                <td style="width:20%;border:0!important;font-size:16px">
                    @Html.Raw(dt["P"].ToString().PadLeft(2, '0'))
                </td>
            </tr>
        </table>

        <table border="1" style="width:100%;border: 1px solid #000;border-top:0!important;border-bottom:0!important">
            <tr style="height:40px;">
                <td style="width:25%;border:0!important;font-size:16px">生產方式：</td>
                <td colspan="3" style="width:75%;border:0!important;font-size:16px">@r["BIRTH_TYPE"]</td>
            </tr>
            <tr style="height:40px;">
                <td style="width:25%;border:0!important;font-size:16px">寶寶出生日：</td>
                @if (r["BIRTH"].ToString() == "")
                {
                    <td style="width:25%;border:0!important;font-size:16px"></td>
                }
                else
                {
                    <td style="width:25%;border:0!important;font-size:16px">
                        @(Convert.ToInt32(Convert.ToDateTime(r["BIRTH"].ToString()).ToString("yyyy")) - 1911)/@Convert.ToDateTime(r["BIRTH"].ToString()).ToString("MM/dd HH:mm")
                    </td>
                }
                <td style="width:20%;border:0!important;">出生體重：</td>
                <td style="width:30%;border:0!important;">@r["WEIGHT_BIRTH"]</td>
            </tr>
            <tr style="height:40px;">
                <td style="width:25%;border:0!important;font-size:16px">寶寶目前年齡：</td>
                <td style="width:25%;border:0!important;font-size:16px">@r["AGE_N"] 天</td>
                <td style="width:20%;border:0!important;">體重：</td>
                <td style="width:30%;border:0!important;">@r["WEIGHT_N"] 公克</td>
            </tr>
        </table>
    }
}
<table border="1" style="width:100%;border: 1px solid #000;border-bottom:0!important">
    <tr>
        <td style="border:0 !important;font-weight:600;">
            需追蹤事項
        </td>
    </tr>
    <tr style="height:60px;">
        <td style="border:0!important;font-size:16px">
            @{
                if (dt["TRACE"].ToString() != "")
                {
                    List<string> result = new List<string>();
                    if (dt["TRACE"].ToString() != "" && dt["TRACE"].ToString().Length == 5)
                    {
                        var data = dt["TRACE"].ToString();
                        if (data[0] == '1')
                        {
                            result.Add("母乳哺育重要性的加強");
                        }
                        if (data[1] == '1')
                        {
                            result.Add("哺餵母乳的技巧");
                        }
                        if (data[2] == '1')
                        {
                            result.Add("哺餵母乳的心理支持");
                        }
                        if (data[3] == '1')
                        {
                            result.Add("母乳哺餵母親的營養需求");
                        }
                        if (data[4] == '1')
                        {
                            var d = "其他";
                            if (dt["TRACE_OTH"].ToString() != "")
                            {
                                d += "-" + dt["TRACE_OTH"].ToString();
                            }
                            result.Add(d);
                        }
                        @Html.Raw(String.Join("，", result))
                    }
                }
            }
        </td>
    </tr>
    <tr>
        <td style="border:0 !important;font-weight:600;">
            哺餵情形
        </td>
    </tr>
    <tr>
        <td style="border:0 !important;">
            轉介原因：
        </td>
    </tr>
    <tr style="height:60px;">
        <td style="border:0!important;font-size:16px">
            @{
                var result4 = new List<string>();
                if (dt["REF"].ToString() != "" && dt["REF"].ToString().Length == 12)
                {
                    var data = dt["REF"].ToString();
                    if (data[0] == '1')
                    {
                        result4.Add("乳頭酸痛");
                    }
                    if (data[1] == '1')
                    {
                        result4.Add("乳頭龜裂");
                    }
                    if (data[2] == '1')
                    {
                        result4.Add("乳頭破皮");
                    }
                    if (data[3] == '1')
                    {
                        result4.Add("乳腺炎");
                    }
                    if (data[4] == '1')
                    {
                        result4.Add("產婦缺乏哺餵母乳動機");
                    }
                    if (data[5] == '1')
                    {
                        result4.Add("(產婦哺乳技巧不熟練，須加強協助）");
                    }
                    if (data[6] == '1')
                    {
                        result4.Add("寶寶吸奶姿勢不良");
                    }
                    if (data[7] == '1')
                    {
                        result4.Add("寶寶吸吮力較弱");
                    }
                    if (data[8] == '1')
                    {
                        result4.Add("奶水分泌不足");
                    }
                    if (data[9] == '1')
                    {
                        result4.Add("先生不支持");
                    }
                    if (data[10] == '1')
                    {
                        result4.Add("家人不支持");
                    }
                    if (data[11] == '1')
                    {
                        var d = "其他";
                        if (dt["REF_OTH"].ToString() != "")
                        {
                            d += "-" + dt["REF_OTH"].ToString();
                        }
                        result4.Add(d);
                    }
                    @Html.Raw(String.Join("，", result4))
                }
            }
        </td>
    </tr>
</table>
<table border="1" style="width:100%;border: 1px solid #000;border-bottom:0!important">
    <tr style="height:40px;">
        <td colspan="3" style="border-bottom:1px solid !important;font-size:22px;text-align:center">
            母乳個案轉介回覆單
        </td>
    </tr>
    <tr style="height:60px;">
        <td style="width:40%;border:0!important;font-size:16px">回覆日期：_________________</td>
        <td style="width:40%;border:0!important;font-size:16px">受轉介單位名稱：_________________</td>
        <td style="width:20%;border:0!important;">傳真：__________</td>
    </tr>
</table>
<table border="1" style="width:100%;border: 1px solid #000;border-top:0!important">
    <tr style="height:60px;">
        <td style="width:50%;border:0!important;font-size:16px">回覆承辦人姓名：_________________</td>
        <td style="width:50%;border:0!important;font-size:16px">聯絡電話：_________________</td>
    </tr>
</table>
<table border="1" style="width:100%;border: 1px solid #000;border-top:0!important">
    <tr style="height:60px;">
        <td style="border:0!important;font-size:16px">處理方式：□電話訪視 □家訪 □提供宣導資料 □邀請參加支持團體 □其它</td>
    </tr>
    <tr style="height:60px;">
        <td style="border:0!important;font-size:16px">
            處理結果：__________________________________________________________________________
        </td>
    </tr>
</table>
