@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">
    .dataArea td, .title_area td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        min-height:15px;
    }
    .title_area {
        border-left: 1px solid rgba(20%,20%,40%,0.5);
        border-right: 1px solid rgba(20%,20%,40%,0.5);
    }
</style>

<script type="text/javascript">
    $(function () {
        close_pup_window();
        setGridColor();
        $('#@ViewBag.active').click();
    });

    //格行換色
    function setGridColor() {
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }

    function set_fade(id, show) {
        for (var i = 0; i < new_window.length; i++) { new_window[i].close(); };
        var btn_list = document.getElementsByName('btn');
        for (var i = 0; i < btn_list.length; i++) {
            if (btn_list[i].id == id) {
                $(btn_list[i]).css("background-color", "gray");
                $(btn_list[i]).css("color", "white");
                $("#block,#loading").show();
                $('#tab1').fadeOut(0);
                $("#tab1").load(id, function () {
                    $("#block,#loading").hide();
                    $('#tab1').fadeIn(500);
                });
                if (show == 'Y')
                    $('.title_area').fadeIn(500);
                else
                    $('.title_area').fadeOut(0);
            }
            else {
                $(btn_list[i]).css("background-color", "#9CB7CF");
                $(btn_list[i]).css("color", "#000000");
            }
        }
    }

    

</script>

@using NIS.Controllers;
@using System.Data;
@{
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
    DateTime now = DateTime.Now;
    List<ObstetricsController.GAssessment> GAssessmentInfo = (List<ObstetricsController.GAssessment>)ViewData["GAData"];
    string feeno = ViewBag.feeno;
    DataTable dt = ViewBag.dt;
}
<div class="funcArea">
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:auto%;">
    <tr>
            <td>
                <table border="0" style="width:100%;">
                     <tr>
                         <td  style="text-align: center;width:100%;" colspan="5" >
                           <p style="text-align: center;width:100%;">待產護理紀錄列印</p>
                </td>
                    <tr>
                        <td>病人姓名：@ptinof.PatientName</td>
                        @if(ptinof.Birthday != null)
                        {
                        <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                        }
                        else
                        {
                        <td>生日：</td>
                        }
                        <td>年齡：@ptinof.Age</td>
                        <td>病床號：@ptinof.BedNo</td>
                        <td>病歷號：@ptinof.ChartNo</td>
                    </tr>
                    <tr>
                        <td>科別：@ptinof.DeptName</td>
                        <td>主治醫師：@ptinof.DocName</td>
                        @if (ptinof.InDate != null)
                        {
                        <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                        }
                        else
                        {
                        <td>住院日期：</td>
                        }
                        <td>性別：@ptinof.PatientGender</td>
                        <td>診斷：@ptinof.ICD9_code1</td>
                    </tr>
                </table>
            </td>
        </tr>
    <tr>
        <td style="width:100%;padding-top:10px;">
            <table class="title_area" style="text-align:center;width:100%;font-size:12px;" border="0" cellpadding="4" cellspacing="1" >
                <tr>
                    <td class="head" style="width:11%">入院情況</td>
                    <td class="head" style="width:11%">入住原因</td>
                    <td class="head" style="width:11%">最後一次月經日</td>
                    <td class="head" style="width:11%">目前週數天數</td>
                    <td class="head" style="width:11%">預產期</td>
                    <td class="head" style="width:11%">孕次(G)</td>
                    <td class="head" style="width:11%">產次(P)</td>
                    <td class="head" style="width:11%">流產(A)</td>
                    <td class="head" style="width:11%">GBS</td>
                </tr>
                <tr style="background-color:#E1E6FA;">                   
                    <td>@GAssessmentInfo[0].GMode</td>
                    <td>@GAssessmentInfo[0].GReason</td>
                   @if(GAssessmentInfo[0].GLMP != "")
                    {                       
                    <td>@GAssessmentInfo[0].GLMP)</td>
                    }
                    else
                    { 
                  <td>@GAssessmentInfo[0].GLMP</td>
                    }
                    <td>@GAssessmentInfo[0].GBirthDate</td>
                    <td>@GAssessmentInfo[0].GExpectedDate</td>
                    <td>@GAssessmentInfo[0].GG</td>
                    <td>@GAssessmentInfo[0].GP</td>
                    <td>@GAssessmentInfo[0].GA</td>
                    <td>@GAssessmentInfo[0].GBS</td>
                </tr>
                <tr>
                    <td class="head" style="width:11%">規則陣痛時間</td>
                    <td class="head" style="width:11%">子宮頸開全時間</td>
                    <td class="head" style="width:11%">破水時間</td>
                    <td class="head" style="width:11%">嬰兒娩出時間</td>
                    <td class="head" style="width:11%">胎盤晚出時間</td>
                    <td class="head" style="width:11%">第一產程</td>
                    <td class="head" style="width:11%">第二產程</td>
                    <td class="head" style="width:11%">第三產程</td>
                    <td class="head" style="width:11%">總產程</td>               
                </tr>
                <tr style="background-color:#E1E6FA;">              
                    <td>@GAssessmentInfo[0].GThroeTime</td>
                    <td>@GAssessmentInfo[0].GCervicalTime</td>
                    <td>@GAssessmentInfo[0].GRuptureTime</td>
                    <td>@Html.Raw(GAssessmentInfo[0].GBirthTime.Replace("|","<br />"))</td>
                    <td>@GAssessmentInfo[0].GPlacentaTime</td>
                    @{
                        string first = "";
                        if (GAssessmentInfo[0].GCervicalTime != "" && GAssessmentInfo[0].GThroeTime != "")
                        {
                            DateTime end = Convert.ToDateTime(GAssessmentInfo[0].GCervicalTime);
                            DateTime start = Convert.ToDateTime(GAssessmentInfo[0].GThroeTime);
                            string[] time = end.Subtract(start).ToString().Split(':');
                            first = time[0] + " 時 " + time[1] + " 分";
                        }
                    }
                    <td>@first</td>
                    @{
                        string second = "";
                        if (GAssessmentInfo[0].GBirthTime != "" && GAssessmentInfo[0].GCervicalTime != "")
                        {
                            string[] end_list = GAssessmentInfo[0].GBirthTime.Split('|');
                            if (end_list[end_list.Length - 1] != "")
                            {
                                DateTime end = Convert.ToDateTime(end_list[end_list.Length - 1]);
                                DateTime start = Convert.ToDateTime(GAssessmentInfo[0].GCervicalTime);
                                string[] time = end.Subtract(start).ToString().Split(':');
                                second += time[0] + " 時 " + time[1] + " 分";
                            }
                        }
                    }
                    <td>@Html.Raw(second)</td>
                    @{
                        string third = "";
                        if (GAssessmentInfo[0].GPlacentaTime != "" && GAssessmentInfo[0].GBirthTime != "")
                        {
                            string[] end_list = GAssessmentInfo[0].GBirthTime.Split('|');
                            if (end_list[end_list.Length - 1] != "")
                            {
                                DateTime end = Convert.ToDateTime(GAssessmentInfo[0].GPlacentaTime);
                                DateTime start = Convert.ToDateTime(end_list[end_list.Length - 1]);
                                string[] time = end.Subtract(start).ToString().Split(':');
                                third = time[0] + " 時 " + time[1] + " 分";
                            }
                        }
                    }
                    <td>@Html.Raw(third)</td>  
                    @{
                        string total = "";
                        if (GAssessmentInfo[0].GPlacentaTime != "" && GAssessmentInfo[0].GThroeTime != "")
                        {
                            DateTime end = Convert.ToDateTime(GAssessmentInfo[0].GPlacentaTime);
                            DateTime start = Convert.ToDateTime(GAssessmentInfo[0].GThroeTime);
                            string[] time = end.Subtract(start).ToString().Split(':');
                            total = time[0] + " 時 " + time[1] + " 分";
                        }
                    }
                    <td>@total</td>      
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="width:100%;height:auto;">
           <table class="title_area" border="1" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                        <tr>
                            <td rowspan="2" style="width:18%;">時間日期</td>
                            <td rowspan="2" style="width:10%;">胎心音<br />次/分</td>
                            <td colspan="2" style="width:13%;">子宮頸變化</td>
                            <td rowspan="2" style="width:6%;">高度</td>
                            <td colspan="3" style="width:28%;">宮縮情況</td>
                            <td rowspan="2" style="width:10%;">解尿</td>
                            <td rowspan="2" style="width:5%;">無痛<br />分娩</td>
                            <td rowspan="2" style="width:10%;">記錄者</td>
                        </tr>
                        <tr>
                            <td style="width:6.5%;">擴張</td>
                            <td style="width:6.5%;">厚薄</td>
                            <td style="width:9%;">持續時間</td>
                            <td style="width:12%;">間隔</td>
                            <td style="width:7%;">壓力</td>
                        </tr>
                    </table>
                @if (dt != null)
                {
                    <table border="1" cellpadding="4" cellspacing="1" style="width:100%;">
                        @foreach (DataRow r in dt.Rows)
                        {
                        <tr>
                            <td style="width:18%;"><label>@*<input type="checkbox" name="del_ID" value="@r["IID"]" />*@@Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")</label></td>
                            <td style="width:10%;">@r["FETAL_HEART"].ToString().Split(',').GetValue(0).ToString() - @r["FETAL_HEART"].ToString().Split(',').GetValue(1).ToString()</td>
                            <td style="width:6.5%;">@r["UC_EXPAND"]</td>
                            <td style="width:6.5%;">@r["UC_THICK"]</td>
                            <td style="width:6%;">@r["UC_HEIGHT"]</td>
                            <td style="width:9%;">@r["UC_SITUATION"].ToString().Split(',').GetValue(0).ToString()</td>
                            <td style="width:12%;">@r["UC_SITUATION"].ToString().Split(',').GetValue(1).ToString() - @r["UC_SITUATION"].ToString().Split(',').GetValue(2).ToString()</td>
                            <td style="width:7%;">@r["UC_SITUATION"].ToString().Split(',').GetValue(3).ToString()</td>
                            <td style="width:10%;">@r["URINE"]</td>
                            <td style="width:5%;">@r["CHILDBIRTH"]</td>
                            <td style="width:10%;">@r["username"]</td>
                        </tr>
                        }
                    </table>
                }
        </td>
    </tr>
</table>
</div>

<style type="text/css">
        #block {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        background-color: #666;
        /* other browsers */
        opacity: 0.65;
        /* this works in IE6, IE7, and IE8 */
        filter: alpha(opacity=65);
        /* this works in IE8 only */
        display: none;
    }
    #loading {
        position: fixed;
        text-align: center;
        left: 50%;
        top: 50%;
        height: 50px;
        width: 200px;
        margin-top: -25px;
        margin-left: -100px;
        _position: absolute;
        color: #040FD9;
        font-weight: bold;
        z-index: 99;
        display: none;
    }
</style>
<div id="block"></div>
<div id="loading">
    <label for="lab" style="font-size:16px">Loading...</label><br />
    <img src="~/Images/loading.gif" alt="" border="0" />
</div>