@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string feeno = ViewBag.feeno;
    string userno = ViewBag.userno;
    string RootDocument = ViewBag.RootDocument;
    string staEMR = ViewBag.STAEMR;
    string nbEMR = ViewBag.NBEMR;
}
<style type="text/css">
    .dataArea td, .title_area td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        min-height: 15px;
    }

    .title_area {
        border-left: 1px solid rgba(20%,20%,40%,0.5);
        border-right: 1px solid rgba(20%,20%,40%,0.5);
    }
</style>

<script type="text/javascript">
    $(function () {
        close_pup_window();
        setGridColor();
        if ('@ViewBag.active'.indexOf('?') >= 0) {
            var actives = '@ViewBag.active'.split('?');
            set_fade(actives[0], '@ViewBag.show');
        } else {
            set_fade('@ViewBag.active', '@ViewBag.show');
        }
    });

    //格行換色
    function setGridColor() {
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }

    function turn_url(id) {
        var show = $('#' + id).attr('show');
        window.location.href = "../Obstetrics/Index?active=" + id + "&show=" + show;
    }

    function set_fade(id, show) {
        for (var i = 0; i < new_window.length; i++) { new_window[i].close(); };
        var btn_list = document.getElementsByName('btn');
        for (var i = 0; i < btn_list.length; i++) {
            if (btn_list[i].getAttribute('url').indexOf(id) >= 0) {
                $(btn_list[i]).css("background-color", "gray");
                if (btn_list[i].getAttribute('url') == "Before_Birth_List") {
                    if ('@staEMR' == '1') {
                        $(btn_list[i]).css("color", "red");
                    } else {
                        $(btn_list[i]).css("color", "white");
                    }
                } else if (btn_list[i].getAttribute('url') == "Partial_Child_Brith") {
                    if ('@nbEMR' == '1') {
                        $(btn_list[i]).css("color", "red");
                    } else {
                        $(btn_list[i]).css("color", "white");
                    }
                }
                else {
                    $(btn_list[i]).css("color", "white");
                }
                $("#block,#loading").show();
                $('#tab-function').fadeOut(0);

                if ('@ViewBag.active'.indexOf('?') >= 0 && '@ViewBag.active'.indexOf(id) >= 0) {
                    $("#tab-function").load('@ViewBag.active', function () {
                        $("#block,#loading").hide();
                        $('#tab-function').fadeIn(500).ready(function () {
                            if ('@ViewBag.mode' == '1')
                                $('#ui-id-2').trigger('click');
                        });
                    })
                } else {
                    $("#tab-function").load(btn_list[i].getAttribute('url'), function () {
                        $("#block,#loading").hide();
                        $('#tab-function').fadeIn(500);
                    });
                }
                if (show == 'Y')
                    $('.title_area').fadeIn(500);
                else
                    $('.title_area').fadeOut(0);
            }
            else {
                if (btn_list[i].getAttribute('url') == "Before_Birth_List") {
                    if ('@staEMR' == '1') {
                        $(btn_list[i]).css("color", "red");
                    } else {
                        $(btn_list[i]).css("color", "#000000");
                    }
                }
                else if (btn_list[i].getAttribute('url') == "Partial_Child_Brith") {
                    if ('@nbEMR' == '1') {
                        $(btn_list[i]).css("color", "red");
                    } else {
                        $(btn_list[i]).css("color", "#000000");
                    }
                } else {
                    $(btn_list[i]).css("color", "#000000");
                }
                $(btn_list[i]).css("background-color", "#9CB7CF");
            }
        }
    }

    function ChildBirthEMR() {
        var WinPrint = window.open("@(RootDocument)/PdfEMR/GetPDF_EMR?source_type=Btn&emr_source=Child_Birth&fee_no=@(feeno)&user_no=@(userno)&url=@(RootDocument)/Obstetrics/Child_Birth_Print?fee_no=@(feeno)");
    }

</script>

@using NIS.Controllers;
@{
    ObstetricsController.GAssessment GAssessmentInfo = (ObstetricsController.GAssessment)ViewData["GAData"];
    int age = ViewBag.age;
    string assessment = ViewBag.assessment;
}
<div>
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:90%;">
        <tr>
            <td>
                @if (age >= 1 && (assessment == "A" || assessment == "ER"))
                {
                    <input type="button" name="btn" id="Instantly_Be_Birth_List" url="Instantly_Be_Birth_List" show="Y" value="產程監測" style="height:35px;width:120px;" onclick="turn_url(this.id);" @*onclick="turn_url(this.id);"*@  />
                    <input type="button" name="btn" id="Before_Birth_List" url="Before_Birth_List" show="Y" value="生產紀錄" style="height:35px;width:120px;" onclick="turn_url(this.id);" />
                    <input type="button" name="btn" id="Child_foot_Print_List" url="Child_foot_Print_List" value="列印腳印" style="height:35px;width:120px;" onclick="turn_url(this.id);" />
                }
                @if (assessment == "A" || assessment == "D" || assessment == "ER")
                {
                    <input type="button" name="btn" id="Partial_Child_Brith" url="Partial_Child_Brith" show="N" value="出生紀錄" style="height:35px;width:120px;" onclick="turn_url(this.id);" />
                }

                @*<input type="button" name="btn" id="Child_Birth_Emr" url="Child_Birth_Emr" value="出生單簽章" style="height:35px;width:120px;" onclick="ChildBirthEMR()" />*@

                @if (age >= 1 && (assessment == "A" || assessment == "ER"))
                {
                    @*<input type="button" name="btn" id="Production_Record_Emr" url="Production_Record_Emr" value="生產紀錄單簽章" style="height:35px;width:120px;" onclick="ProductionRecordEMR()" />*@
                    <input type="button" name="btn" id="Postnatal_Record_List" url="Postnatal_Record_List" show="Y" value="產後護理" style="height:35px;width:120px;" onclick="turn_url(this.id);" />
                }

                @if (assessment == "A" || assessment == "D" || assessment == "ER")
                {
                    <input type="button" name="btn" id="Breast_Fedding_List" url="Breast_Fedding_List" show="Y" value="母嬰護理" style="height:35px;width:120px;" onclick="turn_url(this.id);" />
                }

                @if (age >= 1 && (assessment == "A" || assessment == "ER"))
                {
                    <input type="button" name="btn" id="EPDS_List" url="../BabyBorn/EPDS_List" show="N" value="愛丁堡評估" style="height:35px;width:120px;" onclick="turn_url(this.id);" />
                    <input type="button" name="btn" id="Obstetrics_List" url="Obstetrics_List" show="N" value="產科核對清單" style="height:35px;width:120px;" onclick="turn_url(this.id);" />
                }
                @if (age < 1)
                {
                    //string print_func = "window.open('" + RootDocument + "/Print/GetPDF?url=" + RootDocument + "/Obstetrics/Child_Birth_Print?1=1&filename=TEST&fee_no=" + feeno + "')";
                    //string print_func = "window.open('" + RootDocument + "/Obstetrics/Child_Birth_Print?1=1&filename=test&feeno=" + feeno + "')";
                    //<input type = "button" value = "列印" style = "width:60px;" onclick = "@print_func" />

                    <input type="button" name="btn" id="NB7HR_List" url="../BabyBorn/NB7HR_List" show="N" value="出生7小時評估" style="height:35px;width:120px;" onclick="turn_url(this.id);" />
                    <input type="button" name="btn" id="PIBS_List" url="../BabyBorn/PIBS_List" show="N" value="呼吸暫停" style="height:35px;width:120px;" onclick="turn_url(this.id);" />
                    <input type="button" name="btn" id="NASS_List" url="../BabyBorn/NASS_List" show="N" value="戒斷評估" style="height:35px;width:120px;" onclick="turn_url(this.id);" />
                    <input type="button" name="btn" id="Child_Weight_Print" url="Child_Weight_Print" value="早產兒體重" style="height:35px;width:120px;" onclick="printChildWeight()" />
                    <input type="button" name="btn" id="Pediatrics_Check_List" url="Pediatrics_Check_List" show="N" value="兒科核對清單" style="height:35px;width:120px;" onclick="turn_url(this.id);" />
                    <input type="button" name="btn" id="Child_Birth_Emr" url="Child_Birth_Emr" value="出生單簽章" style="height:35px;width:120px;" onclick="ChildBirthEMR()" />
                }
                @if (age >= 1 && assessment == "E")
                {
                    <input type="button" name="btn" id="Pediatrics_Check_List" url="Pediatrics_Check_List" show="N" value="兒科核對清單" style="height:35px;width:120px;" onclick="turn_url(this.id);" />
                }

                @if (age >= 1 && (assessment == "A" || assessment == "ER"))
                {
                    <input type="button" name="btn" id="Roomin_List" url="Roomin_List" style="height:35px;width:120px;" value="母嬰親善" onclick="window.location.href = '../Obstetrics/Roomin_List'" />
                }
            </td>
        </tr>
        <tr>
            <td style="width:100%;padding-top:10px;">
                <table class="title_area" style="text-align:center;width:100%;font-size:12px;" border="0" cellpadding="4" cellspacing="1">
                    <tr>
                        <td class="head" style="width:11%">高危險妊娠</td>
                        <td class="head" style="width:11%">預產期</td>
                        <td class="head" style="width:11%">妊娠週數</td>
                        <td class="head" style="width:11%">孕次(G)</td>
                        <td class="head" style="width:11%">產次(P)</td>

                        <td class="head" style="width:11%">總活產數</td>
                        <td class="head" style="width:11%">生產方式</td>
                        <td class="head" style="width:11%">嬰兒出生時間</td>
                        <td class="head" style="width:11%">新生兒動向</td>
                    </tr>
                    <tr style="background-color:#E1E6FA;">
                        <td>@GAssessmentInfo.GPREG</td>
                        <td>@GAssessmentInfo.GExpectedDate</td>
                        <td>@GAssessmentInfo.GWeek</td>
                        <td>@GAssessmentInfo.GG</td>
                        <td>@GAssessmentInfo.GP</td>

                        <td>@GAssessmentInfo.LBTotalN</td>
                        <td>@Html.Raw(GAssessmentInfo.BirthType == null ? "" : GAssessmentInfo.BirthType.Replace(",", "<br />"))</td>
                        <td>@Html.Raw(GAssessmentInfo.GBirthTime == null ? "" : GAssessmentInfo.GBirthTime.Replace(",", "<br />"))</td>
                        <td>@Html.Raw(GAssessmentInfo.CHILD_SENT == null ? "" : GAssessmentInfo.CHILD_SENT.Replace(",", "<br />"))</td>
                    </tr>
                    <tr>
                        <td class="head" style="width:11%">胎膜破裂時間</td>
                        <td class="head" style="width:11%">總破水時間</td>
                        <td class="head" style="width:11%">規則陣痛時間</td>
                        <td class="head" style="width:11%">子宮頸口全開時間</td>
                        <td class="head" style="width:11%">胎盤娩出時間</td>

                        <td class="head" style="width:11%">第一產程</td>
                        <td class="head" style="width:11%">第二產程</td>
                        <td class="head" style="width:11%">第三產程</td>
                        <td class="head" style="width:11%">總產程</td>
                    </tr>
                    <tr style="background-color:#E1E6FA;">
                        <td>@GAssessmentInfo.GRFMTime</td>
                        <td>@GAssessmentInfo.GRuptureTime</td>
                        <td>@GAssessmentInfo.GThroeTime</td>
                        <td>@GAssessmentInfo.GCervicalTime</td>
                        <td>@GAssessmentInfo.GPlacentaTime</td>

                        <td>@GAssessmentInfo.GOneBth</td>
                        <td>@GAssessmentInfo.GTwoBth</td>
                        <td>@GAssessmentInfo.GThreeBth</td>
                        <td>@GAssessmentInfo.GTotalBth</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <div id="tab-function" style="overflow:auto"></div>
            </td>
        </tr>
    </table>
</div>

<style type="text/css">
    #block {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        background-color: #666;
        /* other browsers */
        opacity: 0.65;
        /* this works in IE6, IE7, and IE8 */
        filter: alpha(opacity=65);
        /* this works in IE8 only */
        display: none;
    }

    #loading {
        position: fixed;
        text-align: center;
        left: 50%;
        top: 50%;
        height: 50px;
        width: 200px;
        margin-top: -25px;
        margin-left: -100px;
        _position: absolute;
        color: #040FD9;
        font-weight: bold;
        z-index: 99;
        display: none;
    }
</style>
<div id="block"></div>
<div id="loading">
    <label for="lab" style="font-size:16px">Loading...</label><br />
    <img src="~/Images/loading.gif" alt="" border="0" />
</div>

<script>
    @*function ProductionRecordEMR() {
        var WinPrint = window.open("@(RootDocument)/PdfEMR/GetPDF_EMR?source_type=Btn&emr_source=Production_Record&fee_no=@(feeno)&user_no=@(userno)&url=@(RootDocument)/Obstetrics/Production_Record_Print?fee_no=@(feeno)");
    }
     *@

    function printChildWeight() {
        var WinPrint = window.open('Child_Weight_Print', '', 'menubar=no,status=no,scrollbars=yes,left=100,top=0,width=800,height=700,toolbar=0,status=0');
        if (document.all) {
            WinPrint.moveTo(0, 0);
            WinPrint.resizeTo(screen.width, screen.height);
        }
        WinPrint.focus();
    }
</script>