@{
    ViewBag.Title = "SkinTouch";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />
<script>
    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function set_for_ck(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            var ck = document.getElementsByName(ck_name);
            for (var i = 0; i < default_val.length; i++) {
                for (var j = 0; j < ck.length; j++) {
                    if (default_val[i] == ck[j].value)
                        $(ck[j]).click();
                }
            }
        }
    }

    function paddingObj(obj) {
        if ($(obj).val() != '' && $(obj).val() != undefined) {
            $(obj).val(paddingLeft($(obj).val(), 10));
        }
    }

    function paddingLeft(str, lenght) {
        if (str.length >= lenght)
            return str;
        else
            return paddingLeft("0" + str, lenght);
    }

    function Insert() {
        var form = $('form');
        var alert_message = "";
        $.ajax({
            type: "POST",
            url: "Insert_SkinTouch",
            data: form.serialize(),
            success: function (data) {
                switch (data.status) {
                    case 0:
                        alert(data.message);
                        window.opener.location.href = 'Roomin_List?mode=1';
                        window.close();
                        break;
                    default:
                        if (data.message) {
                            alert_message = data.message;
                        }
                        alert(alert_message);
                        break;
                }
            }, error: function (err) {
                alert('ajax error!');
            }
        });
    }

    function Update() {
        var form = $('form');
        var alert_message = "";
        $.ajax({
            type: "POST",
            url: "Upd_SkinTouch",
            data: form.serialize(),
            success: function (data) {
                switch (data.status) {
                    case 0:
                        alert(data.message);
                        window.opener.location.href = 'Roomin_List?mode=1';
                        window.close();
                        break;
                    default:
                        if (data.message) {
                            alert_message = data.message;
                        }
                        alert(alert_message);
                        break;
                }
            }, error: function (err) {
                alert('ajax error!');
            }
        });
    }
</script>
@using System.Data;
@using System.Web.Mvc.Html;
@{
    DataTable dt = ViewBag.dt;

    //20210513 add
    string updateDisabled = "";
    if (ViewBag.disableUpdate != null) {
        updateDisabled = ViewBag.disableUpdate;
    }
    //end 20210513

}
@if (dt == null || dt.Rows.Count == 0)
{
    <div class="funcArea">
        <form action="Insert_SkinTouch" method="post">
            <div class="firstDiv" style="padding:10px">
                <fieldset class="fieBlue">
                    <div style="width:100%;text-align:center;">
                        <input type="button" value="確定" onclick="Insert()" />
                        <input type="button" value="取消" onclick="if (confirm('確認取消?')) window.close();" />
                    </div>
                </fieldset>
                <fieldset class="fieGray" style="height:400px;overflow:auto">
                    <table border="0" style="width:100%;text-align:center;height:350px; overflow:auto">
                        <tbody>
                            <tr>
                                <td rowspan="8">
                                    <img src="~/Content/Addimage/SkinTouch_Blue.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="NB_CHARTNO">新生兒手圈</td>
                                <td class="NB_CHARTNO">
                                    @Html.TextBox("TXT_NB_CHARTNO", "", new { id = "TXT_NB_CHARTNO", style = "width:100px", @autofocus = "autofocus", onchange = "paddingObj(this);get_baby_name(this);" })
                                    <br />
                                    @Html.Label("LB_NB_CHARTNO", "請輸入小孩病歷號", new { id = "LB_NB_CHARTNO", style = "width:100px" })
                                </td>
                                <td>
                                    <img src="~/Content/Addimage/QRcode.png" />
                                </td>
                            </tr>
                            <tr>
                                <td>母親手圈</td>
                                <td>
                                    @Html.TextBox("TXT_PAT_FEENO", "", new { id = "TXT_PAT_FEENO", style = "width:100px", onchange = "paddingObj(this);get_pat_name(this);" })
                                    <br />
                                    @Html.Label("LB_PAT_FEENO", "請輸入媽媽病歷號", new { id = "LB_PAT_FEENO", style = "width:100px" })
                                </td>
                                <td>
                                    <img src="~/Content/Addimage/QRcode.png" />
                                </td>
                            </tr>
                            <tr>
                                <td>地點</td>
                                <td>
                                    <div>
                                        <input type="radio" name="RB_LOCATION" value="0" onclick="$('.LOCA_OTH').fadeOut();" />產房
                                        <input type="radio" name="RB_LOCATION" value="1" onclick=" $('.LOCA_OTH').fadeOut(); " />開刀房
                                        <input type="radio" name="RB_LOCATION" value="2" onclick=" $('.LOCA_OTH').fadeOut(); " />恢復室
                                    </div>
                                    <div>
                                        <input type="radio" name="RB_LOCATION" value="3" onclick=" $('.LOCA_OTH').fadeOut(); " />嬰兒室
                                        <input type="radio" name="RB_LOCATION" value="4" onclick=" $('.LOCA_OTH').fadeOut(); " />產後病房
                                        <input type="radio" name="RB_LOCATION" value="5" onclick=" $('.LOCA_OTH').fadeOut(); " />兒科中重度病房
                                    </div>
                                    <div>
                                        <input type="radio" name="RB_LOCATION" value="6" onclick=" $('.LOCA_OTH').fadeOut(); " />兒科加護病房
                                        <input type="radio" name="RB_LOCATION" value="7" onclick=" $('.LOCA_OTH').fadeIn(500);" />其他
                                        <span class="LOCA_OTH" style="display:none">
                                            @Html.TextBox("TXT_LOCA_OTH", "", new { style = "width:100px" })
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>對象</td>
                                <td>
                                    <input type="radio" name="RB_WHO" value="0" />母親
                                    <input type="radio" name="RB_WHO" value="1" />父親
                                </td>
                            </tr>
                            <tr>
                                <td>開始時間</td>
                                <td>
                                    @Html.TextBox("TXT_START_TIME_DAY", DateTime.Now.ToString("yyyy/MM/dd"), new { id = "TXT_START_TIME_DAY", style = "width:80px", @readonly = "readonly" })
                                    @Html.TextBox("TXT_START_TIME_TIME", DateTime.Now.ToString("HH:mm"), new { id = "TXT_START_TIME_TIME", style = "width:50px", @readonly = "readonly" })
                                    @WebTool.setDateTime("TXT_START_TIME_DAY", "TXT_START_TIME_TIME", "", "30")
                                </td>
                            </tr>
                            <tr>
                                <td>結束時間</td>
                                <td>
                                    @Html.TextBox("TXT_END_TIME_DAY", "", new { id = "TXT_END_TIME_DAY", style = "width:80px", @readonly = "readonly" })
                                    @Html.TextBox("TXT_END_TIME_TIME", "", new { id = "TXT_END_TIME_TIME", style = "width:50px", @readonly = "readonly" })
                                    @WebTool.setDateTime("TXT_END_TIME_DAY", "TXT_END_TIME_TIME", "", "30")
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    結束原因
                                </td>
                                <td style="text-align:left">
                                    <table>
                                        <tr>
                                            <td>
                                                <div>
                                                    <input type="checkbox" name="CK_END_RS" value="0" onclick="$('.END_RS_CT').fadeToggle(500);" />接觸人原因
                                                    <div class="END_RS_CT" style="display:none;padding-left:14px">
                                                        <input type="checkbox" name="CK_END_RS_CT" value="0" />1.生命徵象不穩定
                                                        <input type="checkbox" name="CK_END_RS_CT" value="1" />2.嘔吐
                                                        <input type="checkbox" name="CK_END_RS_CT" value="2" />3.發燒
                                                        <br />
                                                        <input type="checkbox" name="CK_END_RS_CT" value="3" />4.傷口疼痛
                                                        <input type="checkbox" name="CK_END_RS_CT" value="4" />5.有精神疾患
                                                        <input type="checkbox" name="CK_END_RS_CT" value="5" />6.拒絕
                                                        <br />
                                                        <input type="checkbox" name="CK_END_RS_CT" value="6" />7.疲憊
                                                        <input type="checkbox" name="CK_END_RS_CT" value="8" />8.返病房

                                                        <input type="checkbox" name="CK_END_RS_CT" value="7" onclick="$('.END_RS_CT_OTH').fadeToggle(500);" />9.其他
                                                        <span class="END_RS_CT_OTH" style="display:none;">
                                                            ，@Html.TextBox("TXT_END_RS_CT_OTH", "", new { style = "width:100px" })
                                                        </span>
                                                    </div>
                                                    <br />
                                                    <input type="checkbox" name="CK_END_RS" value="1" onclick="$('.END_RS_NB').fadeToggle();" />新生兒原因
                                                    <div class="END_RS_NB" style="display:none;padding-left:14px">
                                                        <input type="checkbox" name="CK_END_RS_NB" value="0" />10.生命徵象不穩定
                                                        <input type="checkbox" name="CK_END_RS_NB" value="1" />11.早產
                                                        <br />
                                                        <input type="checkbox" name="CK_END_RS_NB" value="2" />12.低血糖
                                                        <input type="checkbox" name="CK_END_RS_NB" value="4" />13.返嬰兒室
                                                        <input type="checkbox" name="CK_END_RS_NB" value="3" onclick="$('.END_RS_NB_OTH').fadeToggle(500);" />14.其他
                                                        <span class="END_RS_NB_OTH" style="display:none;">
                                                            ，@Html.TextBox("TXT_END_RS_NB_OTH", "", new { style = "width:100px" })
                                                        </span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </div>
        </form>
    </div>
}
else
{
    foreach (DataRow r in dt.Rows)
    {
        <div class="funcArea">
            <form action="Upd_SkinTouch" method="post">
                <div class="firstDiv" style="padding:10px">
                    <fieldset class="fieBlue">
                        <div style="width:100%;text-align:center;">
                            <input type="button" value="確定" onclick="Update()"  @*20210513add*@  @updateDisabled    />
                            <input type="button" value="取消" onclick="if (confirm('確認取消?')) window.close();" />
                            <input type="hidden" name="S_IID" value="@r["IID"]" />
                            <input type="hidden" name="SEQ_OF_NB" value="@r["SEQ_OF_NB"]" />
                        </div>
                    </fieldset>
                    <fieldset class="fieGray" style="height:400px;overflow:auto">
                        <table border="0" style="width:100%;text-align:center;height:350px; overflow:auto">
                            <tbody>
                                <tr>
                                    <td rowspan="8">
                                        <img src="~/Content/Addimage/SkinTouch_Blue.png" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="NB_CHARTNO">新生兒手圈</td>
                                    <td class="NB_CHARTNO">
                                        @Html.TextBox("TXT_NB_CHARTNO" + r["IID"], r["NB_CHARTNO"], new { id = "TXT_NB_CHARTNO", style = "width:100px", @readonly = "readonly", onchange = "get_baby_name(this);" })
                                        <br />
                                        @Html.Label("LB_NB_CHARTNO", r["NB_CHARTNO_NAME"].ToString(), new { id = "LB_NB_CHARTNO", style = "width:100px" })
                                    </td>
                                    <td class="NB_CHARTNO">
                                        <img src="~/Content/Addimage/QRcode.png" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>母親手圈</td>
                                    <td>
                                        @Html.TextBox("TXT_PAT_FEENO" + r["IID"], r["PAT_FEENO"], new { id = "TXT_PAT_FEENO", style = "width:100px", @readonly = "readonly" })
                                        <br />
                                        @Html.Label("LB_PAT_FEENO", r["PAT_FEENO_NAME"].ToString(), new { id = "LB_PAT_FEENO", style = "width:100px" })
                                    </td>
                                    <td>
                                        <img src="~/Content/Addimage/QRcode.png" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>地點</td>
                                    <td>
                                        <div>
                                            <input type="radio" name="RB_LOCATION@(r["IID"])" value="0" onclick="$('.LOCA_OTH').fadeOut();" />產房
                                            <input type="radio" name="RB_LOCATION@(r["IID"])" value="1" onclick=" $('.LOCA_OTH').fadeOut(); " />開刀房
                                            <input type="radio" name="RB_LOCATION@(r["IID"])" value="2" onclick=" $('.LOCA_OTH').fadeOut(); " />恢復室
                                        </div>
                                        <div>
                                            <input type="radio" name="RB_LOCATION@(r["IID"])" value="3" onclick=" $('.LOCA_OTH').fadeOut(); " />嬰兒室
                                            <input type="radio" name="RB_LOCATION@(r["IID"])" value="4" onclick=" $('.LOCA_OTH').fadeOut(); " />產後病房
                                            <input type="radio" name="RB_LOCATION@(r["IID"])" value="5" onclick=" $('.LOCA_OTH').fadeOut(); " />兒科中重度病房
                                        </div>
                                        <div>
                                            <input type="radio" name="RB_LOCATION@(r["IID"])" value="6" onclick=" $('.LOCA_OTH').fadeOut(); " />兒科加護病房
                                            <input type="radio" name="RB_LOCATION@(r["IID"])" value="7" onclick=" $('.LOCA_OTH').fadeIn(500);" />其他
                                            <span class="LOCA_OTH" style="display:none">
                                                @Html.TextBox("TXT_LOCA_OTH" + r["IID"], r["LOCA_OTH"], new { style = "width:100px" })
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>對象</td>
                                    <td>
                                        <input type="radio" name="RB_WHO@(r["IID"])" value="0" />母親
                                        <input type="radio" name="RB_WHO@(r["IID"])" value="1" />父親
                                    </td>
                                </tr>
                                <tr>
                                    <td>開始時間</td>
                                    <td>
                                        @if (r["START_TIME"].ToString() != "")
                                        {
                                            @Html.TextBox("TXT_START_TIME_DAY", Convert.ToDateTime(r["START_TIME"].ToString()).ToString("yyyy/MM/dd"), new { id = "TXT_START_TIME_DAY", style = "width:80px", @readonly = "readonly" })
                                            @Html.TextBox("TXT_START_TIME_TIME", Convert.ToDateTime(r["START_TIME"].ToString()).ToString("HH:mm"), new { id = "TXT_START_TIME_TIME", style = "width:50px", @readonly = "readonly" })
                                            @WebTool.setDateTime("TXT_START_TIME_DAY", "TXT_START_TIME_TIME", "", "30")
                                        }
                                        else
                                        {
                                            @Html.TextBox("TXT_START_TIME_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                            @Html.TextBox("TXT_START_TIME_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                        }
                                    </td>
                                </tr>
                                <tr>
                                    <td>結束時間</td>
                                    <td>
                                        @if (r["END_TIME"].ToString() != "")
                                        {
                                            @Html.TextBox("TXT_END_TIME_DAY", Convert.ToDateTime(r["END_TIME"].ToString()).ToString("yyyy/MM/dd"), new { id = "TXT_END_TIME_DAY", style = "width:80px", @readonly = "readonly" })
                                            @Html.TextBox("TXT_END_TIME_TIME", Convert.ToDateTime(r["END_TIME"].ToString()).ToString("HH:mm"), new { id = "TXT_END_TIME_TIME", style = "width:50px", @readonly = "readonly" })
                                        }
                                        else
                                        {
                                            @Html.TextBox("TXT_END_TIME_DAY", "", new { id = "TXT_END_TIME_DAY", style = "width:80px", @readonly = "readonly" })
                                            @Html.TextBox("TXT_END_TIME_TIME", "", new { id = "TXT_END_TIME_TIME", style = "width:50px", @readonly = "readonly" })
                                        }
                                        @WebTool.setDateTime("TXT_END_TIME_DAY", "TXT_END_TIME_TIME", "", "30")
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        結束原因
                                    </td>
                                    <td style="text-align:left">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div>
                                                        <input type="checkbox" name="CK_END_RS@(r["IID"])" value="0" onclick="$('.END_RS_CT').fadeToggle(500);" />接觸人原因
                                                        <div class="END_RS_CT" style="display:none;padding-left:14px">
                                                            <input type="checkbox" name="CK_END_RS_CT@(r["IID"])" value="0" />1.生命徵象不穩定
                                                            <input type="checkbox" name="CK_END_RS_CT@(r["IID"])" value="1" />2.嘔吐
                                                            <input type="checkbox" name="CK_END_RS_CT@(r["IID"])" value="2" />3.發燒
                                                            <br />
                                                            <input type="checkbox" name="CK_END_RS_CT@(r["IID"])" value="3" />4.傷口疼痛
                                                            <input type="checkbox" name="CK_END_RS_CT@(r["IID"])" value="4" />5.有精神疾患
                                                            <input type="checkbox" name="CK_END_RS_CT@(r["IID"])" value="5" />6.拒絕
                                                            <br />
                                                            <input type="checkbox" name="CK_END_RS_CT@(r["IID"])" value="6" />7.疲憊
                                                            <input type="checkbox" name="CK_END_RS_CT@(r["IID"])" value="8" />8.返病房

                                                            <input type="checkbox" name="CK_END_RS_CT@(r["IID"])" value="7" onclick="$('.END_RS_CT_OTH').fadeToggle(500);" />9.其他
                                                            <span class="END_RS_CT_OTH" style="display:none;">
                                                                ，@Html.TextBox("TXT_END_RS_CT_OTH" + r["IID"], r["END_RS_CT_OTH"], new { style = "width:100px" })
                                                            </span>
                                                        </div>
                                                        <br />
                                                        <input type="checkbox" name="CK_END_RS@(r["IID"])" value="1" onclick="$('.END_RS_NB').fadeToggle();" />新生兒原因
                                                        <div class="END_RS_NB" style="display:none;padding-left:14px">
                                                            <input type="checkbox" name="CK_END_RS_NB@(r["IID"])" value="0" />10.生命徵象不穩定
                                                            <input type="checkbox" name="CK_END_RS_NB@(r["IID"])" value="1" />11.早產
                                                            <br />
                                                            <input type="checkbox" name="CK_END_RS_NB@(r["IID"])" value="2" />12.低血糖
                                                            <input type="checkbox" name="CK_END_RS_NB@(r["IID"])" value="4" />13.返嬰兒室
                                                            <input type="checkbox" name="CK_END_RS_NB@(r["IID"])" value="3" onclick="$('.END_RS_NB_OTH').fadeToggle(500);" />14.其他
                                                            <span class="END_RS_NB_OTH" style="display:none;">
                                                                ，@Html.TextBox("TXT_END_RS_NB_OTH" + r["IID"], r["END_RS_NB_OTH"], new { style = "width:100px" })
                                                            </span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <script>
                        @if(r["LOCATION"].ToString() != "")
                 {
                    @:set_for_rb('RB_LOCATION@(r["IID"])', '@r["LOCATION"]');
                 }
                 @if(r["WHO"].ToString() !="")
                 {
                    @:set_for_rb('RB_WHO@(r["IID"])', '@r["WHO"]');
                 }
                 @if (r["END_RS"].ToString() != "")
                 {
                     var END_RS = r["END_RS"].ToString();
                     var END_RSV = new List<string>();

                     for (var i = 0; i < END_RS.ToString().Length; i++)
                     {
                         if (END_RS[i] == '1')
                         {
                             END_RSV.Add(i.ToString());
                         }
                     }
                                                 @:set_for_ck('CK_END_RS@(r["IID"])', '@String.Join(",", END_RSV)');
                                             }
                  @if (r["END_RS_CT"].ToString() != "")
                  {
                      var END_RS_CT = r["END_RS_CT"].ToString();
                      var END_RS_CTV = new List<string>();

                      for (var i = 0; i < END_RS_CT.ToString().Length; i++)
                      {
                          if (END_RS_CT[i] == '1')
                          {
                              END_RS_CTV.Add(i.ToString());
                          }
                      }
                                                 @:set_for_ck('CK_END_RS_CT@(r["IID"])', '@String.Join(",", END_RS_CTV)');
                                             }
                   @if (r["END_RS_NB"].ToString() != "")
                   {
                       var END_RS_NB = r["END_RS_NB"].ToString();
                       var END_RS_NBV = new List<string>();

                       for (var i = 0; i < END_RS_NB.ToString().Length; i++)
                       {
                           if (END_RS_NB[i] == '1')
                           {
                               END_RS_NBV.Add(i.ToString());
                           }
                       }
                                                 @:set_for_ck('CK_END_RS_NB@(r["IID"])', '@String.Join(",", END_RS_NBV)');
                                             }
                    </script>
                </div>
            </form>
        </div>
    }
}
<script>
    function getNB() {
        if ($("#TXT_PAT_FEENO").val() != "") {
            $.ajax({
                type: "GET",
                url: "Get_NB",
                data: { chartNo: $("#TXT_PAT_FEENO").val() },
                success: function (res) {
                    if (res == "" || res == "[]") {
                        alert("查無新生兒資料!");
                        $(".NB_CHARTNO").show();
                    }
                    else {
                        $("#TXT_NB_CHARTNO").val();
                        $(".NB_CHARTNO").hide();
                        $(".SEL_NB_CHARTNO").show();
                        var data = JSON.parse(res);
                        $("#RB_NB_CHARTNO_SHOW").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#LB_PAT_FEENO").html(data[i].MOM_NAME);
                            var radioBtn = '<input type="radio" name="RB_NB_CHARTNO" value="' + data[i].SEQ + ',' + data[i].NB_CHARTNO + '" />';
                            $(radioBtn).appendTo('#RB_NB_CHARTNO_SHOW');
                            var label = '<label>' + data[i].SEQ + ',' + data[i].NB_CHARTNO + '</label>';
                            $(label).appendTo('#RB_NB_CHARTNO_SHOW');
                        }
                    }
                },
                contentType: 'application/json'
            });
        } else {
            $(".NB_CHARTNO").show();
            $(".SEL_NB_CHARTNO").hide();
        }
    }

    function paddingLeft(str, length) {
        if (str.length >= length)
            return str;
        else
            return paddingLeft("0" + str, length);
    }

    $('form').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });

    function get_baby_name(obj) {
        $.ajax({
            url: "GetPatientNameByChartNo",
            type: "GET",
            data: { chartno: $(obj).val() },
            success: function (data, textStatus, jqXHR) {
                if (data == "") {
                    alert("查無此小孩!");
                    $("#LB_NB_CHARTNO").html('請輸入小孩病歷號');
                }
                else if (data == "已出院") {
                    alert("此小孩已出院!");
                }
                else if (data == "資料未結束") {
                    alert("此新生兒病歷號尚有未結束之資料!");
                    window.close();
                }
                else {
                    $("#LB_NB_CHARTNO").html(data);
                    $("#TXT_PAT_FEENO").focus();
                }
            },
            error: function (err) {
            },
            dataType: 'text'
        });
    }

    function get_pat_name(obj) {
        $.ajax({
            url: "GetMomNameByChartNo",
            type: "GET",
            data: { chartno: $(obj).val(), babyChartno: $("#TXT_NB_CHARTNO").val() },
            success: function (data, textStatus, jqXHR) {
                if (data == "") {
                    alert("查無此媽媽!");
                    $("#LB_PAT_FEENO").html('請輸入媽媽病歷號');
                }
                else if (data == "新生兒病歷號") {
                    alert("請先輸入新生兒病歷號!");
                    $("#TXT_NB_CHARTNO").focus();
                }
                else if (data.indexOf("對應錯誤/") >= 0) {
                    alert("新生兒與母親對應有誤!");
                    var momName = data.split('/')[1];
                    if (momName != "") {
                        $("#LB_PAT_FEENO").html(momName);
                    }
                }
                else {
                    $("#LB_PAT_FEENO").html(data);
                }
            },
            error: function (err) {
            },
            dataType: 'text'
        });
    }
</script>