@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        height: 26px;
    }

    .head {
        width: 18%;
    }
</style>
<script type="text/javascript">
    $(function () {
        // 加入focus事件
        $(window).focus(function () {
            window.opener.parent.check_session();
        });
        setGridColor();
    });

    //格行換色
    function setGridColor() {
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }

    //驗證欄位_數字
    function numcheck(obj) {
        if (obj.value.indexOf('.') > -1) {
            var re = /^[0-9]+\.[0-9]*$/;
        }
        else {
            var re = /^[0-9]+$/;
        }
        if (!re.test(obj.value) && obj.value != "") {
            $(obj).val('');
            alert("只能輸入數字");
        }
    }

    function div_hidden(id_list) {
        var list = id_list.split(',');
        for (var i = 0; i < list.length; i++) {
            $('#' + list[i]).fadeOut(0);
            var input_list = $('#' + list[i] + ' input');
            for (var j = 0; j < input_list.length; j++) {
                if (input_list[j].type == 'text')
                    $(input_list[j]).val('');
                if (input_list[j].type == 'radio')
                    document.getElementById(input_list[j].id).checked = false;
            }
        }
    }

    function unable(id_list) {
        var list = id_list.split(',');
        for (var i = 0; i < list.length; i++) {
            document.getElementById(list[i]).disabled = true;
            document.getElementById(list[i]).checked = false;
        }
    }

    function able(id_list) {
        var list = id_list.split(',');
        for (var i = 0; i < list.length; i++) {
            document.getElementById(list[i]).disabled = false;
        }
    }
</script>
@using System.Data;
@using System.Web.Mvc.Html;
@{
    DataTable dt = ViewBag.dt;
    if (dt == null || dt.Rows.Count == 0)
    {
        <form action="Insert_CS_Reason" method="post">
            <div class="funcArea">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="padding-bottom:5px;text-align:center;">
                            <span style="color:blue;font-size:26px;">剖腹產-C/S原因</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;">
                            <div class="dataHeader">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    <tr>
                                        <td style="width:20%;">項目</td>
                                        <td style="width:80%;">內容</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="dataArea" style="height:200px;">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    <tr>
                                        <td class="head" style="width:20%;">中文原因</td>
                                        <td colspan="2" style="width:80%;">
                                            @Html.TextBox("CSRS_CHT", "", new { style = "width:300px" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head" style="width:20%;">英文原因</td>
                                        <td colspan="2" style="width:80%;">
                                            @Html.TextBox("CSRS_ENG", "", new { style = "width:300px" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="head" style="width:20%;">排序號</td>
                                        <td colspan="2" style="width:80%;">
                                            @Html.TextBox("CSRS_SEQ", "", new { style = "width:100px", onchange = "numcheck(this);" })
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;text-align:center;">
                            <div class="funcArea">
                                <input type="submit" value="儲存" style="width:60px;" />
                                <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) window.close();" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    }
    else
    {
        <form action="Upd_CS_Reason" method="post">
            <div class="funcArea">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="padding-bottom:5px;text-align:center;">
                            <span style="color:blue;font-size:26px;">剖腹產-C/S原因</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;">
                            <div style="height:300px;overflow:auto;">
                                @foreach (DataRow r in dt.Rows)
                                {
                                    <input type="hidden" name="IID" value="@r["IID"]" />
                                    <div class="dataHeader">
                                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                            <tr>
                                                <td style="width:15%;">項目</td>
                                                <td style="width:85%;">內容</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="dataArea" style="height:200px;margin-bottom:10px;">
                                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                            <tr>
                                                <td class="head" style="width:20%;">中文原因</td>
                                                <td colspan="2" style="width:80%;">
                                                    @Html.TextBox("CSRS_CHT", r["CSRS_CHT"], new { style = "width:300px" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="head" style="width:20%;">英文原因</td>
                                                <td colspan="2" style="width:80%;">
                                                    @Html.TextBox("CSRS_ENG", r["CSRS_ENG"], new { style = "width:300px" })
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="head" style="width:20%;">排序號</td>
                                                <td colspan="2" style="width:80%;">
                                                    @Html.TextBox("CSRS_SEQ", r["CSRS_SEQ"], new { style = "width:100px", onchange = "numcheck(this);" })
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                }
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;text-align:center;">
                            <div class="funcArea">
                                <input type="submit" value="儲存" style="width:60px;" />
                                <input type="button" value="取消" style="width:60px;" onclick="if (confirm('確認取消?')) { window.opener.location.href = window.opener.location.href; window.close(); }" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    }
}

<script>
    $('form').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
</script>
