@{
    ViewBag.Title = "Insert_Child_Brith";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
}
<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        height:26px;
    }
</style>

<script type="text/javascript">
    $(function () {
        setGridColor();
        //設定高度
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 80);
        }).trigger("resize");
    });

    //驗證欄位_數字
    function numcheck(obj) {
        if (obj.value.indexOf('.') > -1) {
            var re = /^[0-9]+\.[0-9]*$/;
        }
        else {
            var re = /^[0-9]+$/;
        }
        if (!re.test(obj.value) && obj.value != "") {
            $(obj).val('');
            alert("只能輸入數字");
        }
    }

    function setGridColor() {
        //格行換色
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }

    function div_hidden(id_list) {
        var list = id_list.split(',');
        for (var i = 0 ; i < list.length; i++) {
            $('.' + list[i]).fadeOut(0);
            var input_list = $('.' + list[i] + ' input, .' + list[i] + ' textarea');
            for (var j = 0 ; j < input_list.length; j++) {
                if (input_list[j].type == "textarea" || input_list[j].type == 'text')
                    $(input_list[j]).val('');
                else if (input_list[j].type == 'radio')
                    input_list[j].checked = false;
                else {
                    if (input_list[j].checked)
                        $(input_list[j]).click();
                }
            }
        }
    }

    function unable(id_list) {
        var list = id_list.split(',');
        for (var i = 0 ; i < list.length; i++) {
            if ($('#' + list[i]).type = 'text') {
                document.getElementById(list[i]).disabled = true;
                $('#' + list[i]).val('');
            }
            else if ($('#' + list[i]).type = 'checkbox')
                document.getElementById(list[i]).checked = false;
        }
    }

    function able(id_list) {
        var list = id_list.split(',');
        for (var i = 0 ; i < list.length; i++) {
            document.getElementById(list[i]).disabled = false;
        }
    }

    function ckable(obj, id_list) {
        var ck = obj;
        if (ck.checked)
        { unable(id_list); }
        else
        { able(id_list); }
    }

    function cal_mm() {
        //var start = ($('#txt_breast_start').val().split(':')[0] * 60 + parseInt($('#txt_breast_start').val().split(':')[1]));
        //var end = ($('#txt_breast_end').val().split(':')[0] * 60 + parseInt($('#txt_breast_end').val().split(':')[1]));
        //$('#txt_time').val(end - start);
        //$('#txt_time').val(Math.floor(dif / (1000 * 60)));
    }

    function calculate() {
        var cervix = $('#cervix_day').val() + ' ' + $('#cervix_time').val();
        var baby_born = $('#baby_born_day').val() + ' ' + $('#baby_born_time').val();
        var minsec = Date.parse(new Date(baby_born)) - Date.parse(new Date(cervix));
        minsec = minsec / 1000 / 60;
        if (minsec > (59 * 24))
            minsec = parseInt(minsec / (60 * 24)) + '天' + parseInt((minsec % (60 * 24)) / 60) + '時' + ((minsec % (60 * 24)) % 60);
        else if (minsec > 59)
            minsec = parseInt(minsec / 60) + '時' + (minsec % 60);

        //document.getElementById('first_time').innerText = cervix;
        //document.getElementById('second_time').innerText = cervix;
        //document.getElementById('third_time').innerText = minsec + '分';
        //document.getElementById('total_time').innerText = minsec + '分';
    }

    function set_for_txt(txt_name, dvalue) {
        if (dvalue != '') {
            var default_val = dvalue.split(",");
            var txt = document.getElementsByName(txt_name);
            for (var i = 0; i < txt.length; i++) {
                $(txt[i]).val(default_val[i]);
            }
        }
    }

    function set_for_rb0(rb_name, dvalue) {
        if (dvalue != '') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function set_for_ck0(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            var ck = document.getElementsByName(ck_name);
            for (var i = 0; i < default_val.length; i++) {
                for (var j = 0; j < ck.length; j++) {
                    if (default_val[i] == ck[j].value)
                        $(ck[j]).click();
                }
            }
        }
    }
    function set_for_rb(rb_name, dvalue) {
        //   debugger;        
        if (dvalue != '') {
            $('input[name=' + rb_name + ']').each(function () {
                if ($(this).val() == dvalue)
                    $(this).click();
                else

                    $(this.parentElement).remove();
            });
        }
    }

    function set_for_ck(ck_name, val) {
        //    debugger;
        if (val != '') {
            var default_val = val.split(",");
            $('input[name=' + ck_name + ']').each(function () {
                var success = false;
                for (var i = 0; i < default_val.length; i++) {
                    if ($(this).val() == default_val[i])
                        success = true;
                }
                if (success)
                    $(this).click();
                else
                    $(this.parentElement).remove();
            });
        }
    }
   



    function creat_child(iid,feeno) {
       
        $('#num').val('');
        var num = $('input[name=rb_child_quantity]:checked').val();
        if (num != undefined) {
            if (num == '99')
                num = $('#child_quantity_other').val();
            if (num != '') {
                $("#block,#loading").show();
                $("#child_del").empty();
                $('#num').val(num);
                if (iid == '') {
                    $("#child_del").load('Partial_Child_Brith_PDF?feeno='+feeno+'&count=' + num, function () {
                        $("#block,#loading").hide();
                        setGridColor();
                    });
                }
                else {
                    $("#child_del").load('Partial_Child_Brith_PDF?feeno=' + feeno + '&count=' + num + '&id=' + iid, function () {
                        $("#block,#loading").hide();
                        setGridColor();
                    });
                }
            }
            else
                alert('請輸入嬰兒資料');
        }
        else
            alert('請選擇嬰兒資料');
    }

    function count_apgar(count,  type, id) {
        var total = 0;
        var ObjList = ["rb_AS_O_1_" + type + "_", "rb_AS_O_2_" + type + "_", "rb_AS_O_3_" + type + "_", "rb_AS_O_4_" + type + "_", "rb_AS_O_5_" + type + "_"];
        for (var i = 0 ; i < ObjList.length; i++) {
            var num = $('input[name=' + ObjList[i] + count + ']:checked').val();
            
            if (num != undefined)
                total += parseInt(num);
        }
        $('#' + id).val(total);
    }

</script>

<form action="Insert_Child_Brith" method="post">
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
      <tr>
            <td>
                <table border="0" style="width:100%;">
                     <tr>
                         <td  style="text-align: center;width:100%;" colspan="5" >
                           <p style="text-align: center;width:100%;">分娩護理紀錄</p>
                </td>
                    <tr>
                        <td>病人姓名：@ptinof.PatientName</td>
                        @if(ptinof.Birthday != null)
                        {
                        <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                        }
                        else
                        {
                        <td>生日：</td>
                        }
                        <td>年齡：@ptinof.Age</td>
                        <td>病床號：@ptinof.BedNo</td>
                        <td>病歷號：@ptinof.ChartNo</td>
                    </tr>
                    <tr>
                        <td>科別：@ptinof.DeptName</td>
                        <td>主治醫師：@ptinof.DocName</td>
                        @if (ptinof.InDate != null)
                        {
                        <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                        }
                        else
                        {
                        <td>住院日期：</td>
                        }
                        <td>性別：@ptinof.PatientGender</td>
                        <td>診斷：@ptinof.ICD9_code1</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="padding:5px 0 5px 0;">
 <input type="hidden" name="id" id="id" value="" />
                <div >
                    <table border="1" cellpadding="4" cellspacing="1" style="width:100%;">
                        <tr>
                            <td class="head">麻醉方式</td>
                            <td colspan="3">
                                @VitalSign_Helper.assess_checkbox("ck_hocus", "全身麻醉(Endo)|局部麻醉(Local)|脊髓麻醉(Spinal)|硬脊膜外麻(EA )|靜脈麻醉(IVGA)|自控式止痛術(PCA)", "", "")
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%;" class="head">會陰情形</td>
                            <td style="width:30%;">
                                <label><input type="radio" name="rb_Perineum" value="完整" onclick="div_hidden('span_Perineum_Physic');" />完整</label>
                                <label><input type="radio" name="rb_Perineum" value="自裂" onclick="div_hidden('span_Perineum_Physic'); $('.span_Perineum_Physic').fadeIn(500);" />自裂</label>
                                <label><input type="radio" name="rb_Perineum" value="切開" onclick="div_hidden('span_Perineum_Physic'); $('.span_Perineum_Physic').fadeIn(500);" />切開</label>
                                <div class="span_Perineum_Physic" style="display:none;padding-top:3px;">
                                    @VitalSign_Helper.assess_radio("rb_Perineum_Physic", "1度|2度|3度|4度", "", "")
                                </div>
                            </td>
                            <td style="width:15%;" class="head">縫合用線</td>
                            <td style="width:40%;">
                                @VitalSign_Helper.assess_radio("rb_Suture", "有|無", "", "")
                            </td>
                        </tr>
                        <tr>
                            <td class="head">胎盤娩出時間</td>
                            <td>
                                @Html.TextBox("Placenta_day", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                                @Html.TextBox("Placenta_time", DateTime.Now.ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                @WebTool.setDateTime("Placenta_day", "Placenta_time")
                            </td>
                            <td class="head">胎盤完整性</td>
                            <td>
                                @VitalSign_Helper.assess_radio("rb_Placenta_Intact", "完整|不完整", "", "")
                            </td>
                        </tr>
                        <tr>
                            <td class="head">胎盤娩出方式</td>
                            <td>
                                @VitalSign_Helper.assess_radio("rb_Placenta_Type", "希氏|鄧氏|人工剝離", "", "")
                            </td>
                            <td class="head">胎盤重量</td>
                            <td>
                                @Html.TextBox("txt_Placenta_weight", "", new { style = "width:50px", onkeyup = "numcheck(this);" }) gm
                                <label><input type="checkbox" name="ck_Placenta_weight" value="無需填報" onclick="if (this.checked) { $('#txt_Placenta_weight').val(''); $('#txt_Placenta_weight').attr('disabled', 'disabled'); } else { $('#txt_Placenta_weight').removeAttr('disabled'); $('#txt_Placenta_weight').focus(); }" />無需填報</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="head">分娩期合併症</td>
                            <td colspan="3">
                                @VitalSign_Helper.assess_radio("rb_complications", "無|有", "有", "span_ck_complications")
                                <div class="span_ck_complications" style="display:none;padding-top:3px;">
                                    @VitalSign_Helper.assess_checkbox("ck_complications", "植入性胎盤|會陰3.4度裂傷|ROM>18小時|急產|GBS(+)|pre-eclampsia|PIH", "", "")<br />
                                    @VitalSign_Helper.assess_checkbox("ck_complications", "Placenta previa|PPH|GDM", "", "")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="head">羊水量</td>
                            <td>
                                @VitalSign_Helper.assess_radio("rb_Amniotic_fluid_amount", "多|中|少", "", "")
                            </td>
                            <td class="head">羊水性狀</td>
                            <td>
                                <label><input type="radio" name="rb_Amniotic_fluid_type" value="清澈" onclick="div_hidden('span_rb_Amniotic_fluid_type_dtl,span_Amniotic_fluid_type_other');" />清澈</label>
                                <label><input type="radio" name="rb_Amniotic_fluid_type" value="胎便染色" onclick="div_hidden('span_Amniotic_fluid_type_other'); $('.span_rb_Amniotic_fluid_type_dtl').fadeIn(500);" />胎便染色</label>
                                <label><input type="radio" name="rb_Amniotic_fluid_type" value="惡臭" onclick="div_hidden('span_rb_Amniotic_fluid_type_dtl,span_Amniotic_fluid_type_other');" />惡臭</label>
                                <label><input type="radio" name="rb_Amniotic_fluid_type" value="有血色" onclick="div_hidden('span_rb_Amniotic_fluid_type_dtl,span_Amniotic_fluid_type_other');" />有血色</label>
                                <label><input type="radio" name="rb_Amniotic_fluid_type" value="其他" onclick="div_hidden('span_rb_Amniotic_fluid_type_dtl'); $('.span_Amniotic_fluid_type_other').fadeIn(500);" />其他</label>
                                <div class="span_rb_Amniotic_fluid_type_dtl" style="display:none;padding-top:3px;">
                                    @VitalSign_Helper.assess_radio("rb_Amniotic_fluid_type_dtl", "輕度|中度|重度", "", "")
                                </div>
                                <div class="span_Amniotic_fluid_type_other" style="display:none;padding-top:3px;">
                                    @Html.TextBox("Amniotic_fluid_type_other", "", new { style = "width:120px" })
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" class="head" style="text-align:center;">
                                嬰兒資料 
                                <label><input type="radio" name="rb_child_quantity" value="1" onclick="div_hidden('span_child_quantity_other');" />單胎</label>
                                <label><input type="radio" name="rb_child_quantity" value="2" onclick="div_hidden('span_child_quantity_other');" />雙胞胎</label>
                                <label><input type="radio" name="rb_child_quantity" value="99" onclick=" $('.span_child_quantity_other').fadeIn(500);" />其他</label>
                                <span class="span_child_quantity_other" style="display:none;">
                                    @Html.TextBox("child_quantity_other", "", new { style = "width:60px", onkeyup = "numcheck(this);" })
                                </span>
                                <input type="button" id="produce" value="產生" onclick="creat_child('1');" />
                                <input type="button" value="清除" onclick="$('#num').val(''); $('#child_del').empty();" />
                                <input type="hidden" id="num" name="num" value="" />
                            </td>
                        </tr>
                    </table>
                    <div id="child_del">
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</form>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    if (dt != null && dt.Rows.Count > 0)
    {
        string[] content = dt.Rows[0]["RECORD"].ToString().Split('|');
<script type="text/javascript">
    $(function () {
        $('#id').val('@dt.Rows[0]["IID"].ToString()');
        set_for_ck('ck_hocus', '@content[0]'); 
        set_for_rb('rb_Perineum', '@content[1].Split(',').GetValue(0).ToString()');
        set_for_rb('rb_Perineum_Physic', '@content[1].Split(',').GetValue(1).ToString()'); 
        set_for_rb('rb_Suture', '@content[2]');
        $('#Placenta_day').val('@Convert.ToDateTime(content[3]).ToString("yyyy/MM/dd")');
        $('#Placenta_time').val('@Convert.ToDateTime(content[3]).ToString("HH:mm")');
        set_for_rb('rb_Placenta_Intact', '@content[4]');
        set_for_rb('rb_Placenta_Type', '@content[5]');
        $('#txt_Placenta_weight').val('@content[6].Split(',').GetValue(0)');
        set_for_ck('ck_Placenta_weight', '@content[6].Split(',').GetValue(1)');
        set_for_ck('ck_complications', '@content[7]');
        set_for_rb('rb_Amniotic_fluid_amount', '@content[8]');
        set_for_rb('rb_Amniotic_fluid_type', '@content[9].Split(',').GetValue(0).ToString()');
        set_for_rb('rb_Amniotic_fluid_type_dtl', '@content[9].Split(',').GetValue(1).ToString()');
        $('#Amniotic_fluid_type_other').val('@content[9].Split(',').GetValue(2).ToString()');
        set_for_rb('rb_complications', '@content[10]');
        $('#num').val('@dt.Rows[0]["NUM"]');
        @if(dt.Rows[0]["NUM"].ToString() != "0")
        {
        @:if ('@dt.Rows[0]["NUM"] ' <= 2)
        @:    set_for_rb('rb_child_quantity', '@dt.Rows[0]["NUM"]');
        @:else {
        @:    set_for_rb('rb_child_quantity', '99');
        @:    $('#child_quantity_other').val('@dt.Rows[0]["NUM"]');
        @:}
        @:creat_child("@dt.Rows[0]["IID"].ToString()", "@dt.Rows[0]["FEENO"].ToString()");
        }
    });
</script>
    }
}

<style type="text/css">
        #block {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        background-color: #666;
        /* other browsers */
        opacity: 0.65;
        /* this works in IE6, IE7, and IE8 */
        filter: alpha(opacity=65);
        /* this works in IE8 only */
        display: none;
    }
    #loading {
        position: fixed;
        text-align: center;
        left: 50%;
        top: 50%;
        height: 50px;
        width: 200px;
        margin-top: -25px;
        margin-left: -100px;
        _position: absolute;
        color: #040FD9;
        font-weight: bold;
        z-index: 99;
        display: none;
    }
</style>
<div id="block"></div>
<div id="loading">
    <label for="lab" style="font-size:16px">Loading...</label><br />
    <img src="~/Images/loading.gif" alt="" border="0" />
</div>