@{
    ViewBag.Title = "SameBedroom";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />

<script>
    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function set_for_ck(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            var ck = document.getElementsByName(ck_name);
            for (var i = 0; i < default_val.length; i++) {
                for (var j = 0; j < ck.length; j++) {
                    if (default_val[i] == ck[j].value)
                        $(ck[j]).click();
                }
            }
        }
    }

    function paddingObj(obj) {
        if ($(obj).val() != '' && $(obj).val() != undefined) {
            $(obj).val(paddingLeft($(obj).val(), 10));
        }
    }

    function paddingLeft(str, lenght) {
        if (str.length >= lenght)
            return str;
        else
            return paddingLeft("0" + str, lenght);
    }

    function Insert() {
        var form = $('form');
        var alert_message = "";
        $.ajax({
            type: "POST",
            url: "Insert_Roomin",
            data: form.serialize(),
            success: function (data) {
                switch (data.status) {
                    case 0:
                        alert(data.message);
                        window.opener.location.href = 'Roomin_List';
                        window.close();
                        break;
                    default:
                        if (data.message) {
                            alert_message = data.message;
                        }
                        alert(alert_message);
                        break;
                }
            }, error: function (err) {
                alert('ajax error!');
            }
        });
    }

    function Update() {
        var form = $('form');
        var alert_message = "";
        $.ajax({
            type: "POST",
            url: "Upd_Roomin",
            data: form.serialize(),
            success: function (data) {
                switch (data.status) {
                    case 0:
                        alert(data.message);
                        window.opener.location.href = 'Roomin_List';
                        window.close();
                        break;
                    default:
                        if (data.message) {
                            alert_message = data.message;
                        }
                        alert(alert_message);
                        break;
                }
            }, error: function (err) {
                alert('ajax error!');
            }
        });
    }
</script>

@using System.Data;
@using System.Web.Mvc.Html;
@{
    DataTable dt = ViewBag.dt;
    string Type = ViewBag.Type;
}
@if (dt == null || dt.Rows.Count == 0)
{
    <div class="funcArea">
        <form action="Insert_RoomIn" method="post">
            <fieldset class="fieBlue">
                <div style="width:100%;text-align:center;">
                    <input type="button" value="確定" onclick="Insert()" />
                    <input type="button" value="取消" onclick="if (confirm('確認取消?')) window.close();" />
                </div>
            </fieldset>
            <fieldset class="fieGray">
                <table border="0" style="width:100%;text-align:center;height:auto">
                    <tbody>
                        <tr>
                            <td>是否排除親子同室</td>
                            <td>
                                <input type="radio" name="RB_EXCLUDE" value="1" onclick="$('.EXCLUDE').fadeIn()" />是
                                <input type="radio" name="RB_EXCLUDE" value="0" onclick="$('.EXCLUDE').fadeOut()" checked />否
                                <div class="EXCLUDE" style="display:none">
                                    <input type="radio" name="RB_EXC_R" value="0" onclick="$('.EXC_R_MOM').fadeOut()" />NB入PICU
                                    <input type="radio" name="RB_EXC_R" value="1" onclick="$('.EXC_R_MOM').fadeOut()" />NB入NBC
                                    <input type="radio" name="RB_EXC_R" value="2" onclick="$('.EXC_R_MOM').fadeOut()" />NB轉院
                                    <br />
                                    <input type="radio" name="RB_EXC_R" value="3" onclick="$('.EXC_R_MOM').fadeOut()" />NB死亡
                                    <input type="radio" name="RB_EXC_R" value="4" onclick="$('.EXC_R_MOM').fadeIn()" />母親因素
                                    <span class="EXC_R_MOM" style="display:none">
                                        ，@Html.TextBox("TXT_EXC_MOM_R", "", new { style = "width:200px", })
                                    </span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="6">
                                <img src="~/Content/Addimage/Blue.png" />
                            </td>
                        </tr>
                        <tr>
                            <td class="NB_CHARTNO">新生兒手圈</td>
                            <td class="NB_CHARTNO">
                                @Html.TextBox("TXT_NB_CHARTNO", "", new { id = "TXT_NB_CHARTNO", style = "width:100px", @autofocus = "autofocus", onchange = "paddingObj(this);get_baby_name(this, 'LB_NB_CHARTNO');" })
                                <br />
                                @Html.Label("LB_NB_CHARTNO", "請輸入新生兒病歷號", new { id = "LB_NB_CHARTNO", style = "width:100px" })
                            </td>
                            <td class="NB_CHARTNO">
                                <img src="~/Content/Addimage/QRcode.png" />
                            </td>
                        </tr>
                        <tr>
                            <td>母親手圈</td>
                            <td>
                                @Html.TextBox("TXT_PAT_FEENO", "", new { id = "TXT_PAT_FEENO", style = "width:100px", onchange = "paddingObj(this);get_pat_name(this);" })
                                <br />
                                @Html.Label("LB_PAT_FEENO", "請輸入媽媽病歷號", new { id = "LB_PAT_FEENO", style = "width:100px" })
                            </td>
                            <td>
                                <img src="~/Content/Addimage/QRcode.png" />
                            </td>

                        </tr>
                        <tr>
                            <td>
                                開始日期時間
                                @Html.TextBox("TXT_START_TIME_DAY", DateTime.Now.ToString("yyyy/MM/dd"), new { id = "TXT_START_TIME_DAY", style = "width:80px", @readonly = "readonly" })
                                @Html.TextBox("TXT_START_TIME_TIME", DateTime.Now.ToString("HH:mm"), new { id = "TXT_START_TIME_TIME", style = "width:50px", @readonly = "readonly" })
                                @WebTool.setDateTime("TXT_START_TIME_DAY", "TXT_START_TIME_TIME", "", "30")
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr><td colspan="4"><hr /></td></tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td rowspan="8">
                                <img src="~/Content/Addimage/baby.png" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                結束日期時間
                                @Html.TextBox("TXT_END_TIME_DAY", "", new { id = "TXT_END_TIME_DAY", style = "width:80px", @readonly = "readonly" })
                                @Html.TextBox("TXT_END_TIME_TIME", "", new { id = "TXT_END_TIME_TIME", style = "width:50px", @readonly = "readonly" })
                                @WebTool.setDateTime("TXT_END_TIME_DAY", "TXT_END_TIME_TIME", "", "30")
                            </td>
                        </tr>
                        <tr>
                            <td>新生兒手圈</td>
                            <td>
                                @Html.TextBox("TXT_NB_CHARTNO_E", "", new { id = "TXT_NB_CHARTNO_E", style = "width:100px", onchange = "paddingObj(this);get_baby_name(this, 'LB_NB_CHARTNO_E');" })
                                <br />
                                @Html.Label("LB_NB_CHARTNO_E", "請輸入小孩病歷號", new { id = "LB_NB_CHARTNO_E", style = "width:100px" })
                            </td>
                            <td>
                                <img src="~/Content/Addimage/QRcode.png" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" name="RB_END_STA" onclick="$('.END_RS_24').fadeIn(); $('.END_STA').fadeOut();$('input[name^=CK_END_RS_C]').prop('checked',false);$('.END_RS_P').fadeOut();$('.END_RS_NB').fadeOut();$('.END_RS_OTH').fadeOut();" value="0" />親子同室24HR
                                <input type="radio" name="RB_END_STA" onclick="$('.END_STA').fadeIn();$('.END_RS_24').fadeOut();$('input[name^=CK_END_RS_24]').prop('checked',false);" value="1" />親子同室12HR
                                <input type="radio" name="RB_END_STA" onclick="$('.END_STA').fadeIn();$('.END_RS_24').fadeOut();$('input[name^=CK_END_RS_24]').prop('checked',false);" value="2" />未親子同室
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="END_RS_24" style="display:none;">
                                    <input type="checkbox" name="CK_END_RS_24" value="0" />正常返室
                                    <input type="checkbox" name="CK_END_RS_24" value="1" />媽媽出院
                                    <input type="checkbox" name="CK_END_RS_24" value="2" />新生兒洗澡
                                    <input type="checkbox" name="CK_END_RS_24" value="3" />新生兒檢查
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="8">
                                <span class="END_STA" style="display:none;">
                                    <input type="checkbox" name="CK_END_RS_C" onclick="$('.END_RS_P').fadeToggle();" value="0" />產婦原因
                                    <input type="checkbox" name="CK_END_RS_C" onclick="$('.END_RS_NB').fadeToggle();" value="1" />新生兒原因
                                    <input type="checkbox" name="CK_END_RS_C" onclick="$('.END_RS_OTH').fadeToggle();" value="2" />其他原因
                                </span>
                            </td>
                            <td class="END_RS_P" style="display:none;text-align:left">
                                <table>
                                    <tr>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="0" /> 1.媽媽想休息</td>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="1" />2.媽媽沒有乳汁分泌</td>
                                    </tr>
                                    <tr>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="2" /> 3.媽媽身體不適</td>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="3" /> 4.擔心睡著後新生兒被抱走</td>
                                    </tr>
                                    <tr>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="4" /> 5.怕新生兒太吵</td>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="5" /> 6.媽媽出院</td>
                                    </tr>
                                    <tr>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="6" /> 7.媽媽自退奶</td>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="7" /> 8.媽媽產後發燒</td>
                                    </tr>
                                    <tr>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="8" /> 9.媽媽待產發燒</td>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="9" /> 10.媽媽服用不宜餵母乳之藥物</td>
                                    </tr>
                                    <tr>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="10" /> 11.擔心新生兒被感染</td>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="11" /> 12.媽媽GBS(+)，抗生素未打滿4小時/未打抗生素</td>
                                    </tr>
                                    <tr>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="12" /> 13.媽媽/同住家人(小孩)感冒</td>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="13" /> 14.媽媽住9樓</td>
                                    </tr>
                                    <tr>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="14" /> 15.媽媽破水大於24小時</td>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="15" /> 16.媽媽PPH</td>
                                    </tr>
                                    <tr>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="16" /> 17.媽媽PIH</td>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="17" /> 18.多胞胎無法同時兼顧</td>
                                    </tr>
                                    <tr>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="18" /> 19.有其他小孩要顧</td>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="19" /> 20.請假(外出)</td>
                                    </tr>
                                    <tr>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="20" /> 21.訪客多</td>
                                        <td><input name="CK_END_RS_P" type="checkbox" value="21" /> 22.拒絕</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input name="CK_END_RS_P" type="checkbox" value="22" onclick="$('.END_RS_P_OTH').fadeToggle()" /> 23.其他
                                            <span class="END_RS_P_OTH" style="display:none">
                                                ，@Html.TextBox("TXT_END_RS_P_OTH", "", new { style = "width:100px" })
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="END_RS_NB" style="display:none;text-align:left">
                                <table>
                                    <tr>
                                        <td><input name="CK_END_RS_NB" type="checkbox" value="0" /> 24.新生兒體溫不穩</td>
                                        <td><input name="CK_END_RS_NB" type="checkbox" value="1" /> 25.新生兒洗澡</td>
                                    </tr>
                                    <tr>
                                        <td><input name="CK_END_RS_NB" type="checkbox" value="2" /> 26.新生兒檢查</td>
                                        <td><input name="CK_END_RS_NB" type="checkbox" value="3" /> 27.新生兒一直哭泣</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input name="CK_END_RS_NB" type="checkbox" value="4" onclick="$('.END_RS_NB_S').fadeToggle()" /> 28.新生兒自身問題
                                            <span class="END_RS_NB_S" style="display:none">
                                                ，@Html.TextBox("TXT_END_RS_NB_S", "", new { style = "width:100px" })
                                            </span>
                                        </td>
                                        <td><input name="CK_END_RS_NB" type="checkbox" value="5" /> 29.新生兒預計出院</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input name="CK_END_RS_NB" type="checkbox" value="6" onclick="$('.END_RS_NB_PICU').fadeToggle()" /> 30.入PICU
                                            <span class="END_RS_NB_PICU" style="display:none">
                                                ，@Html.TextBox("TXT_END_RS_NB_PICU", "", new { style = "width:100px" })
                                            </span>
                                        </td>
                                        <td>
                                            <input name="CK_END_RS_NB" type="checkbox" value="7" onclick="$('.END_RS_NB_NBC').fadeToggle()" /> 31.入NBC
                                            <span class="END_RS_NB_NBC" style="display:none">
                                                ，@Html.TextBox("TXT_END_RS_NB_NBC", "", new { style = "width:100px" })
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="END_RS_OTH" style="display:none;text-align:left">
                                <table>
                                    <tr>
                                        <td><input name="CK_END_RS_OTH" type="checkbox" value="0" /> 32.病房太冷</td>
                                        <td><input name="CK_END_RS_OTH" type="checkbox" value="1" /> 33.病房環境太吵</td>
                                    </tr>
                                    <tr>
                                        <td><input name="CK_END_RS_OTH" type="checkbox" value="2" /> 34.病房打蠟</td>
                                        <td><input name="CK_END_RS_OTH" type="checkbox" value="3" /> 35.其他家人干預</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input name="CK_END_RS_OTH" type="checkbox" value="4" onclick="$('.OTH_RS').fadeToggle()" /> 36.其他
                                            <span class="OTH_RS" style="display:none">
                                                ，@Html.TextBox("TXT_OTH_RS", "", new { style = "width:100px" })
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </form>
    </div>
}
else
{
    foreach (DataRow r in dt.Rows)
    {
        <div class="funcArea">
            <form action="Upd_RoomIn" method="post">
                <fieldset class="fieBlue">
                    <div style="width:100%;text-align:center;">
                        <input type="button" value="確定" onclick="Update()" />
                        <input type="button" value="取消" onclick="if (confirm('確認取消?')) window.close();" />
                        <input type="hidden" name="IID" value="@r["IID"]" />
                        <input type="hidden" name="SEQ_OF_NB" value="@r["SEQ_OF_NB"]" />
                        <input type="hidden" name="TypeMode" value="@Type" />
                    </div>
                </fieldset>
                <fieldset class="fieGray">
                    <table border="0" style="width:100%;text-align:center;height:auto">
                        <tbody>
                            <tr>
                                <td>是否排除親子同室</td>
                                <td>
                                    <input type="radio" name="RB_EXCLUDE@(r["IID"])" value="1" onclick="$('.EXCLUDE').fadeIn()" />是
                                    <input type="radio" name="RB_EXCLUDE@(r["IID"])" value="0" onclick="$('.EXCLUDE').fadeOut()" />否
                                    <div class="EXCLUDE" style="display:none">
                                        <input type="radio" name="RB_EXC_R@(r["IID"])" value="0" onclick="$('.EXC_R_MOM').fadeOut()" />NB入PICU
                                        <input type="radio" name="RB_EXC_R@(r["IID"])" value="1" onclick="$('.EXC_R_MOM').fadeOut()" />NB入NBC
                                        <input type="radio" name="RB_EXC_R@(r["IID"])" value="2" onclick="$('.EXC_R_MOM').fadeOut()" />NB轉院
                                        <br />
                                        <input type="radio" name="RB_EXC_R@(r["IID"])" value="3" onclick="$('.EXC_R_MOM').fadeOut()" />NB死亡
                                        <input type="radio" name="RB_EXC_R@(r["IID"])" value="4" onclick="$('.EXC_R_MOM').fadeIn()" />母親因素
                                        <span class="EXC_R_MOM" style="display:none">
                                            ，@Html.TextBox("TXT_EXC_MOM_R" + r["IID"], r["EXC_MOM_R"], new { style = "width:200px" })
                                        </span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="6">
                                    <img src="~/Content/Addimage/Blue.png" />
                                </td>
                            </tr>
                            <tr>
                                <td class="NB_CHARTNO">新生兒手圈</td>
                                <td class="NB_CHARTNO">
                                    @Html.TextBox("TXT_NB_CHARTNO" + r["IID"], r["NB_CHARTNO"], new { id = "TXT_NB_CHARTNO" + r["IID"], style = "width:100px", @readonly = "readonly", onchange = "get_baby_name(this, 'LB_NB_CHARTNO');" })
                                    <br />
                                    @Html.Label("LB_NB_CHARTNO", r["NB_CHARTNO_NAME"].ToString(), new { id = "LB_NB_CHARTNO", style = "width:100px" })
                                </td>
                                <td class="NB_CHARTNO">
                                    <img src="~/Content/Addimage/QRcode.png" />
                                </td>
                            </tr>
                            <tr>
                                <td>母親手圈</td>
                                <td>
                                    @Html.TextBox("TXT_PAT_FEENO" + r["IID"], r["PAT_FEENO"], new { id = "TXT_PAT_FEENO" + r["IID"], style = "width:100px", @readonly = "readonly", onchange = "getNB();" })
                                    <br />
                                    @Html.Label("LB_PAT_FEENO", r["PAT_FEENO_NAME"].ToString(), new { id = "LB_PAT_FEENO", style = "width:100px" })
                                </td>
                                <td>
                                    <img src="~/Content/Addimage/QRcode.png" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    開始日期時間
                                    @if (r["START_TIME"].ToString() != "")
                                    {
                                        @Html.TextBox("TXT_START_TIME_DAY" + r["IID"], Convert.ToDateTime(r["START_TIME"].ToString()).ToString("yyyy/MM/dd"), new { id = "TXT_START_TIME_DAY" + r["IID"], style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_START_TIME_TIME" + r["IID"], Convert.ToDateTime(r["START_TIME"].ToString()).ToString("HH:mm"), new { id = "TXT_START_TIME_TIME" + r["IID"], style = "width:50px", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.TextBox("TXT_START_TIME_DAY" + r["IID"], "", new { id = "TXT_START_TIME_DAY" + r["IID"], style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_START_TIME_TIME" + r["IID"], "", new { id = "TXT_START_TIME_TIME" + r["IID"], style = "width:50px", @readonly = "readonly" })
                                    }
                                    @WebTool.setDateTime("TXT_START_TIME_DAY" + r["IID"], "TXT_START_TIME_TIME" + r["IID"], "", "30")
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr><td colspan="4"><hr /></td></tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td rowspan="8">
                                    <img src="~/Content/Addimage/baby.png" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    結束日期時間
                                    @if (r["END_TIME"].ToString() != "")
                                    {
                                        @Html.TextBox("TXT_END_TIME_DAY" + r["IID"], Convert.ToDateTime(r["END_TIME"].ToString()).ToString("yyyy/MM/dd"), new { id = "TXT_END_TIME_DAY" + r["IID"], style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_END_TIME_TIME" + r["IID"], Convert.ToDateTime(r["END_TIME"].ToString()).ToString("HH:mm"), new { id = "TXT_END_TIME_TIME" + r["IID"], style = "width:50px", @readonly = "readonly" })
                                    }
                                    else
                                    {
                                        @Html.TextBox("TXT_END_TIME_DAY" + r["IID"], "", new { id = "TXT_END_TIME_DAY" + r["IID"], style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_END_TIME_TIME" + r["IID"], "", new { id = "TXT_END_TIME_TIME" + r["IID"], style = "width:50px", @readonly = "readonly" })
                                    }
                                    @WebTool.setDateTime("TXT_END_TIME_DAY" + r["IID"], "TXT_END_TIME_TIME" + r["IID"], "", "30")
                                </td>
                            </tr>
                            <tr>
                                <td>新生兒手圈</td>
                                <td>
                                    @Html.TextBox("TXT_NB_CHARTNO_E" + r["IID"], r["NB_CHARTNO_E"], new { id = "TXT_NB_CHARTNO_E", style = "width:100px", @autofocus = "autofocus", onchange = "paddingObj(this);get_baby_name(this, 'LB_NB_CHARTNO_E');" })
                                    <br />
                                    @Html.Label("LB_NB_CHARTNO_E", r["NB_CHARTNO_E_NAME"].ToString(), new { id = "LB_NB_CHARTNO_E", style = "width:100px" })
                                </td>
                                <td>
                                    <img src="~/Content/Addimage/QRcode.png" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="radio" name="RB_END_STA@(r["IID"])" onclick="$('.END_RS_24').fadeIn(); $('.END_STA').fadeOut();$('input[name^=CK_END_RS_C]').prop('checked',false);$('.END_RS_P').fadeOut();$('.END_RS_NB').fadeOut();$('.END_RS_OTH').fadeOut();" value="0" />親子同室24HR
                                    <input type="radio" name="RB_END_STA@(r["IID"])" onclick="$('.END_STA').fadeIn();$('.END_RS_24').fadeOut();$('input[name^=CK_END_RS_24]').prop('checked',false);" value="1" />親子同室12HR
                                    <input type="radio" name="RB_END_STA@(r["IID"])" onclick="$('.END_STA').fadeIn();$('.END_RS_24').fadeOut();$('input[name^=CK_END_RS_24]').prop('checked',false);" value="2" />未親子同室
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="END_RS_24" style="display:none;">
                                        <input type="checkbox" name="CK_END_RS_24@(r["IID"])" value="0" />正常返室
                                        <input type="checkbox" name="CK_END_RS_24@(r["IID"])" value="1" />媽媽出院
                                        <input type="checkbox" name="CK_END_RS_24@(r["IID"])" value="2" />新生兒洗澡
                                        <input type="checkbox" name="CK_END_RS_24@(r["IID"])" value="3" />新生兒檢查
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="8">
                                    <span class="END_STA" style="display:none;">
                                        <input type="checkbox" name="CK_END_RS_C@(r["IID"])" onclick="$('.END_RS_P').fadeToggle();" value="0" />產婦原因
                                        <input type="checkbox" name="CK_END_RS_C@(r["IID"])" onclick="$('.END_RS_NB').fadeToggle();" value="1" />新生兒原因
                                        <input type="checkbox" name="CK_END_RS_C@(r["IID"])" onclick="$('.END_RS_OTH').fadeToggle();" value="2" />其他原因
                                    </span>
                                </td>
                                <td class="END_RS_P" style="display:none;text-align:left">
                                    <table>
                                        <tr>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="0" /> 1.媽媽想休息</td>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="1" />2.媽媽沒有乳汁分泌</td>
                                        </tr>
                                        <tr>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="2" /> 3.媽媽身體不適</td>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="3" /> 4.擔心睡著後新生兒被抱走</td>
                                        </tr>
                                        <tr>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="4" /> 5.怕新生兒太吵</td>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="5" /> 6.媽媽出院</td>
                                        </tr>
                                        <tr>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="6" /> 7.媽媽自退奶</td>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="7" /> 8.媽媽產後發燒</td>
                                        </tr>
                                        <tr>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="8" /> 9.媽媽待產發燒</td>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="9" /> 10.媽媽服用不宜餵母乳之藥物</td>
                                        </tr>
                                        <tr>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="10" /> 11.擔心新生兒被感染</td>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="11" /> 12.媽媽GBS(+)，抗生素未打滿4小時/未打抗生素</td>
                                        </tr>
                                        <tr>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="12" /> 13.媽媽/同住家人(小孩)感冒</td>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="13" /> 14.媽媽住9樓</td>
                                        </tr>
                                        <tr>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="14" /> 15.媽媽破水大於24小時</td>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="15" /> 16.媽媽PPH</td>
                                        </tr>
                                        <tr>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="16" /> 17.媽媽PIH</td>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="17" /> 18.多胞胎無法同時兼顧</td>
                                        </tr>
                                        <tr>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="18" /> 19.有其他小孩要顧</td>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="19" /> 20.請假(外出)</td>
                                        </tr>
                                        <tr>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="20" /> 21.訪客多</td>
                                            <td><input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="21" /> 22.拒絕</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input name="CK_END_RS_P@(r["IID"])" type="checkbox" value="22" onclick="$('.END_RS_P_OTH').fadeToggle()"/> 23.其他
                                                <span class="END_RS_P_OTH" style="display:none">
                                                    ，@Html.TextBox("TXT_END_RS_P_OTH" + r["IID"], r["END_RS_P_OTH"], new { style = "width:100px" })
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="END_RS_NB" style="display:none;text-align:left">
                                    <table>
                                        <tr>
                                            <td><input name="CK_END_RS_NB@(r["IID"])" type="checkbox" value="0" /> 24.新生兒體溫不穩</td>
                                            <td><input name="CK_END_RS_NB@(r["IID"])" type="checkbox" value="1" /> 25.新生兒洗澡</td>
                                        </tr>
                                        <tr>
                                            <td><input name="CK_END_RS_NB@(r["IID"])" type="checkbox" value="2" /> 26.新生兒檢查</td>
                                            <td><input name="CK_END_RS_NB@(r["IID"])" type="checkbox" value="3" /> 27.新生兒一直哭泣</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input name="CK_END_RS_NB@(r["IID"])" type="checkbox" value="4" onclick="$('.END_RS_NB_S').fadeToggle()" /> 28.新生兒自身問題
                                                <span class="END_RS_NB_S" style="display:none">
                                                    ，@Html.TextBox("TXT_END_RS_NB_S" + r["IID"], r["END_RS_NB_S"], new { style = "width:100px" })
                                                </span>
                                            </td>
                                            <td><input name="CK_END_RS_NB@(r["IID"])" type="checkbox" value="5" /> 29.新生兒預計出院</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input name="CK_END_RS_NB@(r["IID"])" type="checkbox" value="6" onclick="$('.END_RS_NB_PICU').fadeToggle()" /> 30.入PICU
                                                <span class="END_RS_NB_PICU" style="display:none">
                                                    ，@Html.TextBox("TXT_END_RS_NB_PICU" + r["IID"], r["END_RS_NB_PICU"], new { style = "width:100px" })
                                                </span>
                                            </td>
                                            <td>
                                                <input name="CK_END_RS_NB@(r["IID"])" type="checkbox" value="7" onclick="$('.END_RS_NB_NBC').fadeToggle()" /> 31.入NBC
                                                <span class="END_RS_NB_NBC" style="display:none">
                                                    ，@Html.TextBox("TXT_END_RS_NB_NBC" + r["IID"], r["END_RS_NB_NBC"], new { style = "width:100px" })
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="END_RS_OTH" style="display:none;text-align:left">
                                    <table>
                                        <tr>
                                            <td><input name="CK_END_RS_OTH@(r["IID"])" type="checkbox" value="0" /> 32.病房太冷</td>
                                            <td><input name="CK_END_RS_OTH@(r["IID"])" type="checkbox" value="1" /> 33.病房環境太吵</td>
                                        </tr>
                                        <tr>
                                            <td><input name="CK_END_RS_OTH@(r["IID"])" type="checkbox" value="2" /> 34.病房打蠟</td>
                                            <td><input name="CK_END_RS_OTH@(r["IID"])" type="checkbox" value="3" /> 35.其他家人干預</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input name="CK_END_RS_OTH@(r["IID"])" type="checkbox" value="4" onclick="$('.OTH_RS').fadeToggle()" /> 36.其他
                                                <span class="OTH_RS" style="display:none">
                                                    ，@Html.TextBox("TXT_OTH_RS" + r["IID"], r["OTH_RS"], new { style = "width:100px" })
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </fieldset>
            </form>
            <script>
                 @if(r["EXCLUDE"].ToString() != "")
                 {
                    @:set_for_rb('RB_EXCLUDE@(r["IID"])', '@r["EXCLUDE"]');
                    @*@:$("input[name=RB_EXCLUDE@(r["IID"])").attr("disabled", true);*@
                 }
                 @if(r["EXC_R"].ToString() != "")
                 {
                    @:set_for_rb('RB_EXC_R@(r["IID"])', '@r["EXC_R"]');
                 }
                 @if(r["START_TIME"].ToString() !="")
                 {
                    @:set_for_ck('CK_START@(r["IID"])', '1');
                 }
                 @if(r["END_TIME"].ToString() !="")
                 {
                    @:set_for_ck('CK_END@(r["IID"])', '1');
                 }
                $("input[name=CK_START@(r["IID"])]").attr("disabled", true);
                     $("input[name=CK_END@(r["IID"])]").attr("disabled", true);
                 @if(r["END_STA"].ToString() != "")
                 {
                    @:set_for_rb('RB_END_STA@(r["IID"])', '@r["END_STA"]');
                 }
                 @if (r["END_RS_24"].ToString() != "")
                 {
                     var END_RS_24 = r["END_RS_24"].ToString();
                     var END_RS_24V = new List<string>();

                     for (var i = 0; i < END_RS_24.ToString().Length; i++)
                     {
                         if (END_RS_24[i] == '1')
                         {
                             END_RS_24V.Add(i.ToString());
                         }
                     }
                                                 @:set_for_ck('CK_END_RS_24@(r["IID"])', '@String.Join(",", END_RS_24V)');
                                             }
                 @if (r["END_RS_C"].ToString() != "")
                 {
                     var END_RS_C = r["END_RS_C"].ToString();
                     var END_RS_CV = new List<string>();

                     for (var i = 0; i < END_RS_C.ToString().Length; i++)
                     {
                         if (END_RS_C[i] == '1')
                         {
                             END_RS_CV.Add(i.ToString());
                         }
                     }
                                                 @:set_for_ck('CK_END_RS_C@(r["IID"])', '@String.Join(",", END_RS_CV)');
                                             }
                  @if (r["END_RS_P"].ToString() != "")
                  {
                      var END_RS_P = r["END_RS_P"].ToString();
                      var END_RS_PV = new List<string>();

                      for (var i = 0; i < END_RS_P.ToString().Length; i++)
                      {
                          if (END_RS_P[i] == '1')
                          {
                              END_RS_PV.Add(i.ToString());
                          }
                      }
                                                 @:set_for_ck('CK_END_RS_P@(r["IID"])', '@String.Join(",", END_RS_PV)');
                                             }
                   @if (r["END_RS_NB"].ToString() != "")
                   {
                       var END_RS_NB = r["END_RS_NB"].ToString();
                       var END_RS_NBV = new List<string>();

                       for (var i = 0; i < END_RS_NB.ToString().Length; i++)
                       {
                           if (END_RS_NB[i] == '1')
                           {
                               END_RS_NBV.Add(i.ToString());
                           }
                       }
                                                 @:set_for_ck('CK_END_RS_NB@(r["IID"])', '@String.Join(",", END_RS_NBV)');
                                             }
                    @if (r["END_RS_OTH"].ToString() != "")
                    {
                        var END_RS_OTH = r["END_RS_OTH"].ToString();
                        var END_RS_OTHV = new List<string>();

                        for (var i = 0; i < END_RS_OTH.ToString().Length; i++)
                        {
                            if (END_RS_OTH[i] == '1')
                            {
                                END_RS_OTHV.Add(i.ToString());
                            }
                        }
                                                 @:set_for_ck('CK_END_RS_OTH@(r["IID"])', '@String.Join(",", END_RS_OTHV)');
                                             }
            </script>
        </div>
    }
}

<script>
    function getNB(IID) {
        if (!IID)
            IID = "";
        var now = new Date();
        $("#TXT_START_TIME_DAY" + IID).val(now.getFullYear() + "/" + paddingLeft((Number(now.getMonth()) + 1).toString(), 2) + "/" + paddingLeft(now.getDate().toString(), 2));
        $("#TXT_START_TIME_TIME" + IID).val(paddingLeft(now.getHours().toString(), 2) + ":" + paddingLeft(now.getMinutes().toString(), 2));

        if ($("#TXT_PAT_FEENO" + IID).val() != "") {
            $.ajax({
                type: "GET",
                url: "Get_NB",
                data: { chartNo: $("#TXT_PAT_FEENO" + IID).val() },
                success: function (res) {
                    if (res == "" || res == "[]") {
                        alert("查無新生兒資料!");
                        $(".NB_CHARTNO").show();
                    }
                    else {
                        $("#TXT_NB_CHARTNO" + IID).val();
                        $(".NB_CHARTNO").hide();
                        $(".SEL_NB_CHARTNO").show();
                        var data = JSON.parse(res);
                        $("#RB_NB_CHARTNO_SHOW").empty();
                        for (var i = 0; i < data.length; i++) {
                            var radioBtn = '<input type="radio" name="RB_NB_CHARTNO" value="' + data[i].SEQ + ',' + data[i].NB_CHARTNO + '" />';
                            $(radioBtn).appendTo('#RB_NB_CHARTNO_SHOW');
                            var label = '<label>' + data[i].SEQ + ',' + data[i].NB_CHARTNO + '</label>';
                            $(label).appendTo('#RB_NB_CHARTNO_SHOW');
                        }
                    }
                },
                contentType: 'application/json'
            });
        } else {
            $(".NB_CHARTNO").show();
            $(".SEL_NB_CHARTNO").hide();
        }
    }

    function paddingLeft(str, length) {
        if (str.length >= length)
            return str;
        else
            return paddingLeft("0" + str, length);
    }

    $('form').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });

    function get_baby_name(obj, label) {
        $.ajax({
            url: "GetPatientNameByChartNo",
            type: "GET",
            data: { chartno: $(obj).val() },
            success: function (data, textStatus, jqXHR) {
                if (data == "") {
                    alert("查無此小孩!");
                    $("#" + label).html('請輸入小孩病歷號');
                }
                else if (data == "已出院") {
                    alert("此小孩已出院!");
                }
                else if (data == "資料未結束") {
                    alert("此新生兒病歷號尚有未結束之資料!");
                    window.close();
                }
                else {
                    $("#" + label).html(data);
                    if (label.indexOf("NB_CHARTNO_E") >= 0) {
                        $("#TXT_PAT_FEENO").focus();
                        if ('@Type' == "BarcodeClose") {
                            Update();
                        }
                    }
                }
            },
            error: function (err) {
            },
            dataType: 'text'
        });
    }

    function get_pat_name(obj) {
        $.ajax({
            url: "GetMomNameByChartNo",
            type: "GET",
            data: { chartno: $(obj).val(), babyChartno: $("#TXT_NB_CHARTNO").val() },
            success: function (data, textStatus, jqXHR) {
                if (data == "") {
                    alert("查無此媽媽!");
                    $("#LB_PAT_FEENO").html('請輸入媽媽病歷號');
                }
                else if (data == "新生兒病歷號") {
                    alert("請先輸入新生兒病歷號!");
                    $("#TXT_NB_CHARTNO").focus();
                }
                else if (data.indexOf("對應錯誤/") >= 0) {
                    alert("新生兒與母親對應有誤!");
                    var momName = data.split('/')[1];
                    if (momName != "") {
                        $("#LB_PAT_FEENO").html(momName);
                    }
                }
                else {
                    $("#LB_PAT_FEENO").html(data);
                    if ('@Type' == "Barcode") {
                        Insert();
                    }
                }
            },
            error: function (err) {
            },
            dataType: 'text'
        });
    }
</script>