@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    bool isKardex = ViewBag.Kardex;
    bool IsHisView = ViewBag.IsHisView;
}
<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        white-space: pre-line;
        word-break: break-all;
        padding: 1px !important;
    }
</style>

<script type="text/javascript">
    $(function () {
        setGridColor();
        //設定高度
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 360);
        }).trigger("resize");
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');

        $('.head').css('background', '#85A5CC');
    }

    function set_row(url) {
        var ck = $('input[type=checkbox]:checked');
        if (ck.length == 0)
            alert('請選擇產程監測紀錄!');
        else if (ck.length > 1)
            alert("只能選擇一筆!");
        else {
            var row = '';
            for (var i = 0; i < ck.length; i++) {
                if (ck[i].checked)
                    row = row + ck[i].value + ',';
            }
            if (row != '') {
                row = row.substring(0, row.length - 1);
                new_window.push(window.open(url + '?del_ID=' + row, '', 'menubar=no,status=no,scrollbars=yes,top=0,left=200,toolbar=no,width=900,height=700'));
            }
        }
    }

    function Delete() {
        $.ajax({
            url: 'Del_Instantly_Be_Birth',
            type: 'post',
            dataType: 'json',
            data: $('form').serialize(),
            success: function (data) {
                if (Number(data) == "-501") {
                    alert('無權限刪除!');
                }
                else if (Number(data) > 0) {
                    alert('刪除成功');
                    window.location.href = '../Obstetrics/Index?active=Instantly_Be_Birth_List&show=Y';
                } else {
                    alert('刪除失敗');
                    window.location.href = '../Obstetrics/Index?active=Instantly_Be_Birth_List&show=Y';
                }
            },
            failure: function (errMsg) {
                alert('刪除失敗');
                window.location.href = '../Obstetrics/Index?active=Instantly_Be_Birth_List&show=Y';
            }
        });
    }
</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}

@if (isKardex != true && IsHisView != true)
{
    <div class="funcArea">
        <input type="button" value="新增" style="width:50px;" onclick="@Java_funcion.pup_window("Insert_Instantly_Be_Birth", 900, 700, "0")" />
        <input type="button" value="修改" style="width:50px;" onclick="set_row('Insert_Instantly_Be_Birth');" />
        <input type="button" value="刪除" style="width:50px;" onclick="if ($('input[type=checkbox]:checked').length > 0) { if (confirm('確認刪除?')) { Delete(); } } else { alert('請選擇產程監測紀錄!'); }" />
    </div>
}
<div class="funcArea">
    <form action="Del_Instantly_Be_Birth" method="post">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;table-layout:fixed">
            <tr>
                <td>
                    <div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            <tr>
                                <td rowspan="2" style="width:10%;">紀錄時間</td>
                                <td rowspan="2" style="width:4%;">身份</td>
                                <td rowspan="2" style="width:6%;">胎心音<br />次/分</td>
                                <td colspan="3" style="width:13%;">宮縮</td>
                                <td colspan="4" style="width:15%;">子宮頸變化</td>
                                <td rowspan="2" style="width:10%;">解尿</td>
                                <td colspan="2" style="width:20%;">醫療處置</td>
                                <td rowspan="2" style="width:15%;">護理處置</td>
                                <td rowspan="2" style="width:3%;">帶護理<br />紀錄</td>
                                <td rowspan="2" style="width:3%;">記錄者</td>
                            </tr>
                            <tr>
                                <td style="width:5%;">持續<br />時間</td>
                                <td style="width:5%;">間隔<br />時間</td>
                                <td style="width:3%;">強度</td>
                                <td style="width:4%;">擴張(CM)</td>
                                <td style="width:4%;">厚度(%)</td>
                                <td style="width:4%;">高度</td>
                                <td style="width:3%;">執行者</td>
                                <td style="width:14%;">給藥</td>
                                <td style="width:6%;">處置</td>
                            </tr>
                        </table>
                    </div>
                    <div class="dataArea">
                        @if (dt != null)
                        {
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                                @foreach (DataRow r in dt.Rows)
                                {
                                    <tr>
                                        <td style="width:10%;">
                                            @if (isKardex != true && IsHisView != true)
                                            {
                                                <input type="checkbox" name="del_ID" value="@r["IID"]" />
                                            }
                                            @if (r["RECORDTIME"].ToString() != "")
                                            {
                                                @Html.Raw(Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd") + "<br />" + Convert.ToDateTime(r["RECORDTIME"]).ToString("HH:mm"))
                                            }
                                            else
                                            {
                                            }
                                        </td>
                                        <td style="width:4%;">
                                            @if (r["IDENTITY"].ToString() != "")
                                            {
                                                string identity = "";
                                                if (r["IDENTITY"].ToString() == "0")
                                                {
                                                    identity = "急診安胎";
                                                }
                                                else if (r["IDENTITY"].ToString() == "1")
                                                {
                                                    identity = "住院安胎";
                                                }
                                                else if (r["IDENTITY"].ToString() == "2")
                                                {
                                                    identity = "生產";
                                                }
                                                else if (r["IDENTITY"].ToString() == "3")
                                                {
                                                    identity = "引產";
                                                }
                                               @Html.Raw(identity)
                                            }
                                        </td>
                                        @{
                                            var FH = r["FH1"].ToString();
                                            if (r["FH2"].ToString() != "" && r["FH2"].ToString() != null)
                                            {
                                                FH += "<br/>~" + r["FH2"];
                                            }
                                            if (r["FH_MEMO"].ToString() != "")
                                            {
                                                FH += "<br/>備註：" + r["FH_MEMO"].ToString();
                                            }
                                            var FH2 = r["FH1_2"].ToString();
                                            if (r["FH2_2"].ToString() != "" && r["FH2_2"].ToString() != null)
                                            {
                                                FH2 += "<br/>~" + r["FH2_2"];
                                            }
                                            if (r["FH_MEMO_2"].ToString() != "")
                                            {
                                                FH2 += "<br/>備註：" + r["FH_MEMO_2"].ToString();
                                            }
                                            if (FH != "" || FH2 != "")
                                            {
                                                <td style="width:6%;">
                                                    @Html.Raw(FH)
                                                    @Html.Raw(FH2)
                                                </td>
                                            }
                                            else
                                            {
                                                <td style="width:6%;"></td>
                                            }

                                            var UC_DU = r["UC_DU1"].ToString();
                                            if (r["UC_DU2"].ToString() != "" && r["UC_DU2"].ToString() != null)
                                            {
                                                UC_DU += "<br/>~" + r["UC_DU2"];
                                            }
                                            if (UC_DU != "")
                                            {
                                                <td style="width:5%;">@Html.Raw(UC_DU)</td>
                                            }
                                            else
                                            {
                                                <td style="width:5%;"></td>
                                            }

                                            var UC_INT = "";
                                            if (r["UC_INT1"].ToString() != "")
                                            {
                                                UC_INT += r["UC_INT1"].ToString();
                                            }

                                            if (r["UC_INT2"].ToString() != "" && r["UC_INT2"].ToString() != null)
                                            {
                                                UC_INT += "<br/>~" + r["UC_INT2"].ToString();
                                            }

                                            if (UC_INT != "")
                                            {
                                                <td style="width:5%;">@Html.Raw(UC_INT)</td>
                                            }
                                            else
                                            {
                                                <td style="width:5%;"></td>
                                            }
                                        }
                                        @*宮縮強度*@
                                        @if (r["UC_STR"].ToString() != "")
                                        {
                                            if (r["UC_STR"].ToString() == "0")
                                            {
                                                <td style="width:3%;">無</td>
                                            }
                                            else if (r["UC_STR"].ToString() == "1")
                                            {
                                                <td style="width:3%;">弱</td>
                                            }
                                            else if (r["UC_STR"].ToString() == "2")
                                            {
                                                <td style="width:3%;">中</td>
                                            }
                                            else if (r["UC_STR"].ToString() == "3")
                                            {
                                                <td style="width:3%;">強</td>
                                            }
                                            else if (r["UC_STR"].ToString() == "4")
                                            {
                                                <td style="width:3%;">弱中</td>
                                            }
                                            else if (r["UC_STR"].ToString() == "5")
                                            {
                                                <td style="width:3%;">中強</td>
                                            }
                                            else if (r["UC_STR"].ToString() == "6")
                                            {
                                                <td style="width:3%;">偶</td>
                                            }
                                            else if (r["UC_STR"].ToString() == "7")
                                            {
                                                <td style="width:3%;">不規則</td>
                                            }
                                            else
                                            {
                                                <td style="width:3%;"></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:3%;"></td>
                                        }

                                        @if (r["UC_E"].ToString() != "")
                                        {
                                            <td style="width:4%;">@r["UC_E"]</td>
                                        }
                                        else
                                        {
                                            <td style="width:4%;"></td>
                                        }

                                        @*子宮頸厚度*@
                                        @if (r["UC_T"].ToString() != "")
                                        {
                                            if (r["UC_T"].ToString() == "1")
                                            {
                                                <td style="width:4%;">10</td>
                                            }
                                            else if (r["UC_T"].ToString() == "2")
                                            {
                                                <td style="width:4%;">20</td>
                                            }
                                            else if (r["UC_T"].ToString() == "3")
                                            {
                                                <td style="width:4%;">30</td>
                                            }
                                            else if (r["UC_T"].ToString() == "4")
                                            {
                                                <td style="width:4%;">40</td>
                                            }
                                            else if (r["UC_T"].ToString() == "5")
                                            {
                                                <td style="width:4%;">50</td>
                                            }
                                            else if (r["UC_T"].ToString() == "6")
                                            {
                                                <td style="width:4%;">60</td>
                                            }
                                            else if (r["UC_T"].ToString() == "7")
                                            {
                                                <td style="width:4%;">70</td>
                                            }
                                            else if (r["UC_T"].ToString() == "8")
                                            {
                                                <td style="width:4%;">80</td>
                                            }
                                            else if (r["UC_T"].ToString() == "9")
                                            {
                                                <td style="width:4%;">90</td>
                                            }
                                            else if (r["UC_T"].ToString() == "10")
                                            {
                                                <td style="width:4%;">100</td>
                                            }
                                            else
                                            {
                                                <td style="width:4%;"></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:4%;"></td>
                                        }
                                        @*子宮頸高度*@
                                        @if (r["UC_H"].ToString() != "")
                                        {
                                            if (r["UC_H"].ToString() == "1")
                                            {
                                                <td style="width:4%;">-3</td>
                                            }
                                            else if (r["UC_H"].ToString() == "2")
                                            {
                                                <td style="width:4%;">-2</td>
                                            }
                                            else if (r["UC_H"].ToString() == "3")
                                            {
                                                <td style="width:4%;">-1</td>
                                            }
                                            else if (r["UC_H"].ToString() == "4")
                                            {
                                                <td style="width:4%;">0</td>
                                            }
                                            else if (r["UC_H"].ToString() == "5")
                                            {
                                                <td style="width:4%;">+1</td>
                                            }
                                            else if (r["UC_H"].ToString() == "6")
                                            {
                                                <td style="width:4%;">+2</td>
                                            }
                                            else if (r["UC_H"].ToString() == "7")
                                            {
                                                <td style="width:4%;">+3</td>
                                            }
                                            else
                                            {
                                                <td style="width:4%;"></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:4%;"></td>
                                        }

                                        <td style="width:3%;">@r["PE_NAME"]</td>

                                        @if (r["URINE"].ToString() != "")
                                        {
                                            if (r["URINE"].ToString() == "1")
                                            {
                                                var result = "是";
                                                if (r["URINE_M"].ToString() != "")
                                                {
                                                    var URINE_M = r["URINE_M"].ToString();
                                                    if (URINE_M == "0")
                                                    {
                                                        result += "<br/>方式：自解";
                                                    }
                                                    else if (URINE_M == "1")
                                                    {
                                                        result += "<br/>方式：單次導尿";
                                                    }
                                                    else if (URINE_M == "2")
                                                    {
                                                        result += "<br/>方式：留置導尿";
                                                    }
                                                }
                                                if (r["URINE_AMT"].ToString() != "")
                                                {
                                                    result += "<br>量：" + r["URINE_AMT"].ToString() + "ml";
                                                }

                                                if (result != "")
                                                {
                                                    <td style="width:10%;">@Html.Raw(result)</td>
                                                }
                                                else
                                                {
                                                    <td style="width:10%;"></td>
                                                }
                                            }
                                            else if (r["URINE"].ToString() == "0")
                                            {
                                                <td style="width:10%;">否</td>
                                            }
                                            else
                                            {
                                                <td style="width:10%;"></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:10%;"></td>
                                        }

                                        @if (r["Bp_Disp"].ToString() != "")
                                        {
                                            <td style="width:14%;">@Html.Raw(r["Bp_Disp"])</td>
                                        }
                                        else
                                        {
                                            <td style="width:14%;"></td>
                                        }
                                        @if (r["MED_P"].ToString() != "")
                                        {
                                            <td style="width:6%;">@r["MED_P"]</td>
                                        }
                                        else
                                        {
                                            <td style="width:6%;"></td>
                                        }

                                        @if (r["NUR_P"].ToString() != "")
                                        {
                                            <td style="width:15%;">@r["NUR_P"]</td>
                                        }
                                        else
                                        {
                                            <td style="width:15%;"></td>
                                        }

                                        @if (r["PAT_CARE_RECORD"].ToString() != "")
                                        {
                                            if (r["PAT_CARE_RECORD"].ToString() == "1")
                                            {
                                                <td style="width:3%;">是</td>
                                            }
                                            else
                                            {
                                                <td style="width:3%;">否</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:3%;">否</td>
                                        }

                                        @if (r["CREATNO_NAME"].ToString() != "")
                                        {
                                            <td style="width:3%;">@r["CREATNO_NAME"]</td>
                                        }
                                        else
                                        {
                                            <td style="width:3%;"></td>
                                        }
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
