@{
    /**/

    ViewBag.Title = "OBSReport";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<style type="text/css">
    input[type="button"] {
        width: 100%;
        font-weight: bold;
    }

    td {
        height: 50%;
        width: 50%;
    }
</style>

<script type="text/javascript">
    $(function () {
        close_pup_window();
        setGridColor();
    });

    //格行換色
    function setGridColor() {
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }
</script>

<div class="funcArea">
    <table border="0" style="width:100%;text-align:center;">
        <tr>
            <td colspan="4" style="font-size:20px;background-color:#ABC8E2">
                日期時間：
                @Html.TextBox("TXT_START_DAY", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px;", @readonly = "readonly" })
                @Html.TextBox("TXT_START_TIME", "00:00", new { style = "width:50px;", @readonly = "readonly" })
                @WebTool.setDateTime("TXT_START_DAY", "TXT_START_TIME", "", "30")
                ~
                @Html.TextBox("TXT_END_DAY", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px;;", @readonly = "readonly" })
                @Html.TextBox("TXT_END_TIME", DateTime.Now.ToString("HH:mm"), new { style = "width:50px;", @readonly = "readonly" })
                @WebTool.setDateTime("TXT_END_DAY", "TXT_END_TIME", "", "30")
            </td>
        </tr>
    </table>
    <hr />
    <table border="0" style="width:100%;text-align:center;">
        <tr>
            <td>
                <input type="button" style="font-size:18px;height:80px" value="產檢明細表(檢查日期)" onclick="Product_Export()" />
            </td>
            <td>
                <input type="button" style="font-size:18px;height:80px" value="母親明細表(生產日期)" onclick="MomDetail_Export()" />
            </td>
            <td>
                <input type="button" style="font-size:18px;height:80px" value="新生兒名單(出生日期)" onclick="NB_Export()" />
            </td>

            <td>
                <input type="button" style="font-size:18px;height:80px" value="早產兒名單(出生日期)" onclick="ChildWeight_Export()" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" style="font-size:18px;height:80px" value="親子同室明細表(生產日期)" onclick="RoominDetail_Export()" />
            </td>
            <td>
                <input type="button" style="font-size:18px;height:80px" value="親子同室總表(生產日期)" onclick="Roomin_Export()" />
            </td>
            <td>
                <input type="button" style="font-size:18px;height:80px" value="肌膚接觸明細表(出生日期)" onclick="SkinTouch_Export()" />
            </td>
            <td>
                <input type="button" style="font-size:18px;height:80px" value="肌膚接觸明細表2(出生日期)" onclick="SkinTouchDetail_Export()" />
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" style="font-size:18px;height:80px" value="母乳轉介明細表(轉介日期)" onclick="Feeding_Breast_Referral_Export()" />
            </td>
            <td>
                <input type="button" style="font-size:18px;height:80px" value="母乳統計表(出生日期)" onclick="FEED_Export()" />
            </td>
            <td>
                <input type="button" style="font-size:18px;height:80px" value="母乳SDM明細表(生產日期)" onclick="SDM_Export()" />
            </td>
            <td>
                <input type="button" style="font-size:18px;height:80px" value="清單總表" onclick="List_Export()" />
            </td>
            <td></td>
        </tr>
    </table>
</div>

<style type="text/css">
    #block {
        position: fixed;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        z-index: 1;
        background-color: #666;
        /* other browsers */
        opacity: 0.65;
        /* this works in IE6, IE7, and IE8 */
        filter: alpha(opacity=65);
        /* this works in IE8 only */
        display: none;
    }

    #loading {
        position: fixed;
        text-align: center;
        left: 50%;
        top: 50%;
        height: 50px;
        width: 200px;
        margin-top: -25px;
        margin-left: -100px;
        _position: absolute;
        color: #040FD9;
        font-weight: bold;
        z-index: 99;
        display: none;
    }
</style>
<div id="block"></div>
<div id="loading">
    <label for="lab" style="font-size:16px">Loading...</label><br />
    <img src="~/Images/loading.gif" alt="" border="0" />
</div>

<script>
    function Product_Export() {
        var param = "";
        param += "?CHECKST_DAY=" + $("#TXT_START_DAY").val() + "&CHECKST_TIME=" + $("#TXT_START_TIME").val();
        param += "&CHECKET_DAY=" + $("#TXT_END_DAY").val() + "&CHECKET_TIME=" + $("#TXT_END_TIME").val();
        window.open('@Url.Action("Production_Export", "Obstetrics")' + param);
    }

    function MomDetail_Export() {
        var param = "";
        param += "?START_DAY=" + $("#TXT_START_DAY").val() + "&START_TIME=" + $("#TXT_START_TIME").val();
        param += "&END_DAY=" + $("#TXT_END_DAY").val() + "&END_TIME=" + $("#TXT_END_TIME").val();
        window.open('@Url.Action("MomDetail_Export", "Obstetrics")' + param);
    }

    function Roomin_Export() {
        var param = "";
        param += "?START_DAY=" + $("#TXT_START_DAY").val() + "&START_TIME=" + $("#TXT_START_TIME").val();
        param += "&END_DAY=" + $("#TXT_END_DAY").val() + "&END_TIME=" + $("#TXT_END_TIME").val();
        window.open('@Url.Action("Roomin_Export", "Obstetrics")' + param);
    }

    function RoominDetail_Export() {
        var param = "";
        param += "?START_DAY=" + $("#TXT_START_DAY").val() + "&START_TIME=" + $("#TXT_START_TIME").val();
        param += "&END_DAY=" + $("#TXT_END_DAY").val() + "&END_TIME=" + $("#TXT_END_TIME").val();
        window.open('@Url.Action("RoominDetail_Export", "Obstetrics")' + param);
    }

    function SkinTouchDetail_Export() {
        var param = "";
        param += "?START_DAY=" + $("#TXT_START_DAY").val() + "&START_TIME=" + $("#TXT_START_TIME").val();
        param += "&END_DAY=" + $("#TXT_END_DAY").val() + "&END_TIME=" + $("#TXT_END_TIME").val();
        window.open('@Url.Action("SkinTouchDetail_Export", "Obstetrics")' + param);
    }

    function SkinTouch_Export() {
        var param = "";
        param += "?START_DAY=" + $("#TXT_START_DAY").val() + "&START_TIME=" + $("#TXT_START_TIME").val();
        param += "&END_DAY=" + $("#TXT_END_DAY").val() + "&END_TIME=" + $("#TXT_END_TIME").val();
        window.open('@Url.Action("SkinTouch_Export", "Obstetrics")' + param);
    }

    function SDM_Export() {
        var param = "";
        param += "?START_DAY=" + $("#TXT_START_DAY").val() + "&START_TIME=" + $("#TXT_START_TIME").val();
        param += "&END_DAY=" + $("#TXT_END_DAY").val() + "&END_TIME=" + $("#TXT_END_TIME").val();
        window.open('@Url.Action("SDM_Export", "Obstetrics")' + param);
    }

    function Feeding_Breast_Referral_Export() {
        var param = "";
        param += "?START_DAY=" + $("#TXT_START_DAY").val() + "&START_TIME=" + $("#TXT_START_TIME").val();
        param += "&END_DAY=" + $("#TXT_END_DAY").val() + "&END_TIME=" + $("#TXT_END_TIME").val();
        window.open('@Url.Action("Feeding_Breast_Referral_Export", "Obstetrics")' + param);
    }

    function NB_Export() {
        var param = "";
        param += "?START_DAY=" + $("#TXT_START_DAY").val() + "&START_TIME=" + $("#TXT_START_TIME").val();
        param += "&END_DAY=" + $("#TXT_END_DAY").val() + "&END_TIME=" + $("#TXT_END_TIME").val();
        window.open('@Url.Action("NB_Export", "Obstetrics")' + param);
    }

    function ChildWeight_Export() {
        var param = "";
        param += "?START_DAY=" + $("#TXT_START_DAY").val() + "&START_TIME=" + $("#TXT_START_TIME").val();
        param += "&END_DAY=" + $("#TXT_END_DAY").val() + "&END_TIME=" + $("#TXT_END_TIME").val();
        window.open('@Url.Action("ChildWeight_Export", "Obstetrics")' + param);
    }

    function FEED_Export() {
        var param = "";
        param += "?START_DAY=" + $("#TXT_START_DAY").val() + "&START_TIME=" + $("#TXT_START_TIME").val();
        param += "&END_DAY=" + $("#TXT_END_DAY").val() + "&END_TIME=" + $("#TXT_END_TIME").val();
        window.open('@Url.Action("FEED_Export", "Obstetrics")' + param);
    }

    function List_Export() {
        var param = "";
        param += "?START_DAY=" + $("#TXT_START_DAY").val() + "&START_TIME=" + $("#TXT_START_TIME").val();
        param += "&END_DAY=" + $("#TXT_END_DAY").val() + "&END_TIME=" + $("#TXT_END_TIME").val();
        window.open('@Url.Action("List_Export", "Obstetrics")' + param);
    }
</script>
