@{
    ViewBag.Title = "Obstetrics_List";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />

<script>
    $(function () {
        setGridColor();
        //設定高度
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 260);
        }).trigger("resize");
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');

        $('.head').css('background', '#85A5CC');
    }

    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function set_for_ck(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            var ck = document.getElementsByName(ck_name);
            for (var i = 0; i < default_val.length; i++) {
                for (var j = 0; j < ck.length; j++) {
                    if (default_val[i] == ck[j].value)
                        $(ck[j]).click();
                }
            }
        }
    }

    function check_for_datetime(obj, date, time, dtValue) {

        var name = obj.attributes.name.nodeValue;
        var ck = $(obj).is(":checked")
        var val = $(obj).val();

        var dateField = $("#" + date).val();
        var timeField = $("#" + time).val();

        if (name.indexOf('CK') >= 0) {
            if (ck && !dtValue) {
                var now = new Date();

                $("#" + date).val(now.getFullYear() + "/" + paddingLeft(Number(now.getMonth() + 1).toString(), 2) + "/" + paddingLeft(now.getDate().toString(), 2));
                $("#" + time).val(paddingLeft(Number(now.getHours()).toString(), 2) + ":" + paddingLeft(Number(now.getMinutes()).toString(), 2));
            }
            else if (ck && dtValue && !dateField && !timeField) {
                var now = new Date();

                $("#" + date).val(now.getFullYear() + "/" + paddingLeft(Number(now.getMonth() + 1).toString(), 2) + "/" + paddingLeft(now.getDate().toString(), 2));
                $("#" + time).val(paddingLeft(Number(now.getHours()).toString(), 2) + ":" + paddingLeft(Number(now.getMinutes()).toString(), 2));
            }
            else if (ck && dtValue && dateField && timeField) {
            }
            else {
                $("#" + date).val('');
                $("#" + time).val('');
            }
        } else {
            if (val === "1" && !dtValue) {
                var now = new Date();

                $("#" + date).val(now.getFullYear() + "/" + paddingLeft(Number(now.getMonth() + 1).toString(), 2) + "/" + paddingLeft(now.getDate().toString(), 2));
                $("#" + time).val(paddingLeft(Number(now.getHours()).toString(), 2) + ":" + paddingLeft(Number(now.getMinutes()).toString(), 2));
            }
            else if (val === "1" && dtValue && !dateField && !timeField) {
                var now = new Date();

                $("#" + date).val(now.getFullYear() + "/" + paddingLeft(Number(now.getMonth() + 1).toString(), 2) + "/" + paddingLeft(now.getDate().toString(), 2));
                $("#" + time).val(paddingLeft(Number(now.getHours()).toString(), 2) + ":" + paddingLeft(Number(now.getMinutes()).toString(), 2));
            }
            else if (val === "1" && dtValue && dateField && timeField) {
            }
            else {
                $("#" + date).val('');
                $("#" + time).val('');
            }
        }
    }

    function paddingLeft(str, length) {
        if (str.length >= length)
            return str;
        else
            return paddingLeft("0" + str, length);
    }


</script>

@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    bool? kardex = ViewBag.kardex;
}
@if (dt == null || dt.Rows.Count <= 0)
{
    <form action="Insert_OBSCHK" method="post">
        <div class="funcArea">
            <input type="hidden" name="kardex" value="@kardex.ToString()" style="width:60px;" />
            <div style="padding:5px 0 5px 0;text-align:center;">
                <input type="submit" value="儲存" style="width:60px;" />
            </div>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                <tr>
                    <td style="padding:5px 0 5px 0;">
                        <div class="dataHeader">
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                <tr>
                                    <td style="width:10%;">NO</td>
                                    <td style="width:20%;">項目</td>
                                    <td style="width:70%;">內容</td>
                                </tr>
                            </table>
                        </div>
                        <div class="dataArea" style="height:300px;">
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                <tr>
                                    <th style="width:10%;">1</th>
                                    <th style="width:20%;">
                                        母-身份證影本(居留證)
                                    </th>
                                    <td style="width:70%;">
                                        <input type="checkbox" name="CK_M_ID" value="1" onclick="check_for_datetime(this,'TXT_M_ID_D_DAY', 'TXT_M_ID_D_TIME')" />已收取
                                        @Html.TextBox("TXT_M_ID_D_DAY", "", new { style = "width:80px", @readonly = "readonly", @dateRefresh = "date" })
                                        @Html.TextBox("TXT_M_ID_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                        @WebTool.setDateTime("TXT_M_ID_D_DAY", "TXT_M_ID_D_TIME")
                                    </td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <th>
                                        父-身份證影本(居留證)
                                    </th>
                                    <td>
                                        <input type="checkbox" name="CK_F_ID" value="1" onclick="check_for_datetime(this,'TXT_F_ID_D_DAY', 'TXT_F_ID_D_TIME')" />已收取
                                        @Html.TextBox("TXT_F_ID_D_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_F_ID_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                        @WebTool.setDateTime("TXT_F_ID_D_DAY", "TXT_F_ID_D_TIME")
                                    </td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <th>母-健保卡</th>
                                    <td>
                                        <input type="checkbox" name="CK_M_HIC" value="1" onclick="check_for_datetime(this,'TXT_M_HIC_D_DAY', 'TXT_M_HIC_D_TIME')" />已收取
                                        @Html.TextBox("TXT_M_HIC_D_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_M_HIC_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                        @WebTool.setDateTime("TXT_M_HIC_D_DAY", "TXT_M_HIC_D_TIME")
                                    </td>
                                </tr>
                                <tr>
                                    <th>4</th>
                                    <th>父-健保卡</th>
                                    <td>
                                        <input type="checkbox" name="CK_F_HIC" value="1" onclick="check_for_datetime(this,'TXT_F_HIC_D_DAY', 'TXT_F_HIC_D_TIME')" />已收取
                                        @Html.TextBox("TXT_F_HIC_D_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_F_HIC_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                        @WebTool.setDateTime("TXT_F_HIC_D_DAY", "TXT_F_HIC_D_TIME")
                                    </td>
                                </tr>
                                <tr>
                                    <th>5</th>
                                    <th>
                                        低收入戶證明
                                    </th>
                                    <td>
                                        <input type="radio" name="RB_LIH" value="0" onclick="check_for_datetime(this,'TXT_LIH_D_DAY', 'TXT_LIH_D_TIME')" />不需收取
                                        <input type="radio" name="RB_LIH" value="1" onclick="check_for_datetime(this,'TXT_LIH_D_DAY', 'TXT_LIH_D_TIME')" />已收取
                                        @Html.TextBox("TXT_LIH_D_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_LIH_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                        @WebTool.setDateTime("TXT_LIH_D_DAY", "TXT_LIH_D_TIME")
                                    </td>
                                </tr>
                                <tr>
                                    <th>6</th>
                                    <th>
                                        出生證明
                                    </th>
                                    <td>
                                        <input type="checkbox" name="CK_BC" value="1" onclick="check_for_datetime(this,'TXT_BC_D_DAY', 'TXT_BC_D_TIME')" />已收取
                                        @Html.TextBox("TXT_BC_D_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_BC_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                        @WebTool.setDateTime("TXT_BC_D_DAY", "TXT_BC_D_TIME")
                                    </td>
                                </tr>
                                <tr>
                                    <th>7</th>
                                    <th>
                                        死亡證明
                                    </th>
                                    <td>
                                        <input type="radio" name="RB_DC" value="0" onclick="check_for_datetime(this,'TXT_DC_D_DAY', 'TXT_DC_D_TIME')" />不需給予
                                        <input type="radio" name="RB_DC" value="1" onclick="check_for_datetime(this,'TXT_DC_D_DAY', 'TXT_DC_D_TIME')" />已給
                                        @Html.TextBox("TXT_DC_D_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                        @Html.TextBox("TXT_DC_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                        @WebTool.setDateTime("TXT_DC_D_DAY", "TXT_DC_D_TIME")
                                    </td>
                                </tr>
                                <tr>
                                    <th>8</th>
                                    <th>
                                        未滿20歲
                                    </th>
                                    <td>
                                        <input type="radio" name="RB_MINOR" value="0" />無
                                        <input type="radio" name="RB_MINOR" value="1" />有
                                    </td>
                                </tr>
                                <tr>
                                    <th>9</th>
                                    <th>
                                        會診社工
                                    </th>
                                    <td>
                                        <input type="radio" name="RB_SW" value="0" />無
                                        <input type="radio" name="RB_SW" value="1" />有
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
}
else
{
    <form action="Upd_OBSCHK" method="post">
        <div class="funcArea">
            <input type="hidden" name="kardex" value="@kardex.ToString()" style="width:60px;" />
            <div style="padding:5px 0 5px 0;text-align:center;">
                <input type="submit" value="儲存" style="width:60px;" />
            </div>
            @foreach (DataRow r in dt.Rows)
            {
                <input type="hidden" name="IID" value="@r["IID"]" style="width:60px;" />
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="padding:5px 0 5px 0;">
                            <div class="dataHeader">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    <tr>
                                        <td style="width:10%;">NO</td>
                                        <td style="width:20%;">項目</td>
                                        <td style="width:70%;">內容</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="dataArea" style="height:300px;">
                                <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
                                    <tr>
                                        <th style="width:10%;">1</th>
                                        <th style="width:20%;">
                                            母-身份證影本(居留證)
                                        </th>
                                        <td style="width:70%;">
                                            <input type="checkbox" name="CK_M_ID" value="1" onclick="check_for_datetime(this,'TXT_M_ID_D_DAY', 'TXT_M_ID_D_TIME', '@r["M_ID_D"].ToString()')" />已收取
                                            @if (r["M_ID_D"].ToString() != "")
                                            {
                                                @Html.TextBox("TXT_M_ID_D_DAY", Convert.ToDateTime(r["M_ID_D"]).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly", })
                                                @Html.TextBox("TXT_M_ID_D_TIME", Convert.ToDateTime(r["M_ID_D"]).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBox("TXT_M_ID_D_DAY", "", new { style = "width:80px", @readonly = "readonly", })
                                                @Html.TextBox("TXT_M_ID_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            @WebTool.setDateTime("TXT_M_ID_D_DAY", "TXT_M_ID_D_TIME")
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>2</th>
                                        <th>
                                            父-身份證影本(居留證)
                                        </th>
                                        <td>
                                            <input type="checkbox" name="CK_F_ID" value="1" onclick="check_for_datetime(this,'TXT_F_ID_D_DAY', 'TXT_F_ID_D_TIME', '@r["F_ID_D"].ToString()')" />已收取
                                            @if (r["F_ID_D"].ToString() != "")
                                            {
                                                @Html.TextBox("TXT_F_ID_D_DAY", Convert.ToDateTime(r["F_ID_D"]).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly", })
                                                @Html.TextBox("TXT_F_ID_D_TIME", Convert.ToDateTime(r["F_ID_D"]).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBox("TXT_F_ID_D_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                                @Html.TextBox("TXT_F_ID_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            @WebTool.setDateTime("TXT_F_ID_D_DAY", "TXT_F_ID_D_TIME")
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>3</th>
                                        <th>母-健保卡</th>
                                        <td>
                                            <input type="checkbox" name="CK_M_HIC" value="1" onclick="check_for_datetime(this,'TXT_M_HIC_D_DAY', 'TXT_M_HIC_D_TIME', '@r["M_HIC_D"].ToString()')" />已收取
                                            @if (r["M_HIC_D"].ToString() != "")
                                            {
                                                @Html.TextBox("TXT_M_HIC_D_DAY", Convert.ToDateTime(r["M_HIC_D"]).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly", })
                                                @Html.TextBox("TXT_M_HIC_D_TIME", Convert.ToDateTime(r["M_HIC_D"]).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBox("TXT_M_HIC_D_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                                @Html.TextBox("TXT_M_HIC_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            @WebTool.setDateTime("TXT_M_HIC_D_DAY", "TXT_M_HIC_D_TIME")
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>4</th>
                                        <th>父-健保卡</th>
                                        <td>
                                            <input type="checkbox" name="CK_F_HIC" value="1" onclick="check_for_datetime(this,'TXT_F_HIC_D_DAY', 'TXT_F_HIC_D_TIME', '@r["F_HIC_D"].ToString()')" />已收取
                                            @if (r["F_HIC_D"].ToString() != "")
                                            {
                                                @Html.TextBox("TXT_F_HIC_D_DAY", Convert.ToDateTime(r["F_HIC_D"]).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly", })
                                                @Html.TextBox("TXT_F_HIC_D_TIME", Convert.ToDateTime(r["F_HIC_D"]).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBox("TXT_F_HIC_D_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                                @Html.TextBox("TXT_F_HIC_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            @WebTool.setDateTime("TXT_F_HIC_D_DAY", "TXT_F_HIC_D_TIME")
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>5</th>
                                        <th>
                                            低收入戶證明
                                        </th>
                                        <td>
                                            <input type="radio" name="RB_LIH" value="0" onclick="check_for_datetime(this,'TXT_LIH_D_DAY', 'TXT_LIH_D_TIME', '@r["LIH_D"].ToString()')" />不需收取
                                            <input type="radio" name="RB_LIH" value="1" onclick="check_for_datetime(this,'TXT_LIH_D_DAY', 'TXT_LIH_D_TIME', '@r["LIH_D"].ToString()')" />已收取
                                            @if (r["LIH_D"].ToString() != "")
                                            {
                                                @Html.TextBox("TXT_LIH_D_DAY", Convert.ToDateTime(r["LIH_D"]).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly", })
                                                @Html.TextBox("TXT_LIH_D_TIME", Convert.ToDateTime(r["LIH_D"]).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBox("TXT_LIH_D_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                                @Html.TextBox("TXT_LIH_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            @WebTool.setDateTime("TXT_LIH_D_DAY", "TXT_LIH_D_TIME")
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>6</th>
                                        <th>
                                            出生證明
                                        </th>
                                        <td>
                                            <input type="checkbox" name="CK_BC" value="1" onclick="check_for_datetime(this,'TXT_BC_D_DAY', 'TXT_BC_D_TIME', '@r["BC_D"].ToString()')" />已收取
                                            @if (r["BC_D"].ToString() != "")
                                            {
                                                @Html.TextBox("TXT_BC_D_DAY", Convert.ToDateTime(r["BC_D"]).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly", })
                                                @Html.TextBox("TXT_BC_D_TIME", Convert.ToDateTime(r["BC_D"]).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBox("TXT_BC_D_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                                @Html.TextBox("TXT_BC_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            @WebTool.setDateTime("TXT_BC_D_DAY", "TXT_BC_D_TIME")
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>7</th>
                                        <th>
                                            死亡證明
                                        </th>
                                        <td>
                                            <input type="radio" name="RB_DC" value="0" onclick="check_for_datetime(this,'TXT_DC_D_DAY', 'TXT_DC_D_TIME', '@r["DC_D"].ToString()')" />不需給予
                                            <input type="radio" name="RB_DC" value="1" onclick="check_for_datetime(this,'TXT_DC_D_DAY', 'TXT_DC_D_TIME', '@r["DC_D"].ToString()')" />已給
                                            @if (r["DC_D"].ToString() != "")
                                            {
                                                @Html.TextBox("TXT_DC_D_DAY", Convert.ToDateTime(r["DC_D"]).ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly", })
                                                @Html.TextBox("TXT_DC_D_TIME", Convert.ToDateTime(r["DC_D"]).ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            else
                                            {
                                                @Html.TextBox("TXT_DC_D_DAY", "", new { style = "width:80px", @readonly = "readonly" })
                                                @Html.TextBox("TXT_DC_D_TIME", "", new { style = "width:50px", @readonly = "readonly" })
                                            }
                                            @WebTool.setDateTime("TXT_DC_D_DAY", "TXT_DC_D_TIME")
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>8</th>
                                        <th>
                                            未滿20歲
                                        </th>
                                        <td>
                                            <input type="radio" name="RB_MINOR" value="0" />無
                                            <input type="radio" name="RB_MINOR" value="1" />有
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>9</th>
                                        <th>
                                            會診社工
                                        </th>
                                        <td>
                                            <input type="radio" name="RB_SW" value="0" />無
                                            <input type="radio" name="RB_SW" value="1" />有
                                        </td>
                                    </tr>
                                </table>
                                <script>
                                    @if(r["M_ID"].ToString() != "")
                                    {
                                        @:set_for_rb('CK_M_ID', '@r["M_ID"]')
                                    }
                                    @if(r["F_ID"].ToString() != "")
                                    {
                                        @:set_for_rb('CK_F_ID', '@r["F_ID"]')
                                    }
                                    @if(r["M_HIC"].ToString() != "")
                                    {
                                        @:set_for_rb('CK_M_HIC', '@r["M_HIC"]')
                                    }
                                    @if(r["F_HIC"].ToString() != "")
                                    {
                                        @:set_for_rb('CK_F_HIC', '@r["F_HIC"]')
                                    }
                                    @if(r["LIH"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_LIH', '@r["LIH"]')
                                    }
                                    @if(r["BC"].ToString() != "")
                                    {
                                        @:set_for_rb('CK_BC', '@r["BC"]')
                                    }
                                    @if(r["DC"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_DC', '@r["DC"]')
                                    }
                                    @if(r["MINOR"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_MINOR', '@r["MINOR"]')
                                    }
                                    @if(r["SW"].ToString() != "")
                                    {
                                        @:set_for_rb('RB_SW', '@r["SW"]')
                                    }
                                </script>
                            </div>
                        </td>
                    </tr>
                </table>
            }
        </div>
    </form>
}

<script>
    $('form').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });
</script>