@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    ViewBag.Title = "Partial_Child_Brith_PDF";
    int count = int.Parse(ViewBag.count);
    string func = "";
    for (int i = 0; i < count; i++)
    {
<table border="1" cellpadding="4" cellspacing="1" style="width:100%;padding-top:6px;table-layout:auto;font-family:EUDC;">
    <tr>
        <td colspan="4" class="head" style="text-align:center;">嬰兒 @(i + 1)</td>
    </tr>
    <tr>
        <td class="head">娩出時間</td>
        <td colspan="3">
            @Html.TextBox("Birth_day_" + i, DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
            @Html.TextBox("Birth_time_" + i, DateTime.Now.ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
            @WebTool.setDateTime("Birth_day_" + i, "Birth_time_" + i)
        </td>
    </tr>
    <tr>
        <td class="head">嬰兒娩出方式</td>
        <td colspan="3">
            @{func = "$('.span_birth_type_" + i + "').fadeIn(500); div_hidden('span_birth_type_reason_" + i + "'); ";}
            <label><input type="radio" name="rb_birth_type_@(i)" value="陰道產" onclick="@func" />陰道產</label>
            <span class="span_birth_type_@(i)" style="display:none;">
                @VitalSign_Helper.assess_radio("rb_birth_type_dtl_" + i, "自然/真空吸引|產鉗|臀位娩出", "", "")
            </span>
            @{func = "$('.span_birth_type_reason_" + i + "').fadeIn(500); div_hidden('span_birth_type_" + i + "'); ";}
            <label><input type="radio" name="rb_birth_type_@(i)" value="剖腹產" onclick="@func" />剖腹產</label>
            <span class="span_birth_type_reason_@(i)" style="display:none;">
                ，原因 @Html.TextBox("txt_birth_type_reason_" + i, "", new { style = "width:180px" }) 
            </span>
        </td>
    </tr>
    <tr>
        <td style="width:15%;" class="head">胎位</td>
        <td style="width:30%;">
            @VitalSign_Helper.assess_radio("rb_Fetal_" + i, "頭位|顏面位|臀位|橫位", "", "")
        </td>
        <td style="width:15%;" class="head">性別</td>
        <td style="width:40%;">
            @VitalSign_Helper.assess_radio("rb_Gender_" + i, "男|女|無法判斷", "", "")
        </td>
    </tr>
    <tr>
        <td class="head">頭圍</td>
        <td>
            @Html.TextBox("txt_head_" + i, "", new { style = "width:50px", onkeyup = "numcheck(this);" }) cm
        </td>
        <td class="head">胸圍</td>
        <td>
            @Html.TextBox("txt_chest_" + i, "", new { style = "width:50px", onkeyup = "numcheck(this);" }) cm
        </td>
    </tr>
    <tr>
        <td class="head">身長</td>
        <td>
            @Html.TextBox("txt_height_" + i, "", new { style = "width:50px", onkeyup = "numcheck(this);" }) cm
        </td>
        <td class="head">體重</td>
        <td>
            @Html.TextBox("txt_weight_" + i, "", new { style = "width:50px", onkeyup = "numcheck(this);" }) gm
        </td>
    </tr>
    <tr>
        <td class="head">臍帶纏繞</td>
        <td>
            @VitalSign_Helper.assess_radio("rb_Cord_Entanglement_" + i, "無|有", "有", "span_txt_Cord_Entanglement_" + i)
            <div class="span_txt_Cord_Entanglement_@(i)" style="display:none;">
                @Html.TextBox("txt_Cord_Entanglement_dtl_" + i, "", new { style = "width:50px" }) 圈
                @Html.TextBox("txt_Cord_Entanglement_dtl_" + i, "", new { style = "width:50px" }) A
                @Html.TextBox("txt_Cord_Entanglement_dtl_" + i, "", new { style = "width:50px" }) V
            </div>
        </td>
        <td class="head">胎便染色</td>
        <td>
            @VitalSign_Helper.assess_radio("rb_Meconium_Color_" + i, "無|有", "有", "span_rb_Meconium_Color_Degree_" + i)
            <div class="span_rb_Meconium_Color_Degree_@(i)" style="display:none;">
                程度：@VitalSign_Helper.assess_radio("rb_Meconium_Color_Degree_" + i, "輕度|中度|重度", "", "")
            </div>
            <div class="span_rb_Meconium_Color_Degree_@(i)" style="display:none;">
                ，處置：@Html.TextBox("txt_Meconium_Color_Degree_dtl_" + i, "", new { style = "width:120px" })
            </div>
        </td>
    </tr>
    <tr>
        <td class="head">外觀</td>
        <td>
            @VitalSign_Helper.assess_radio("rb_Exterior_" + i, "正常|其他", "其他", "span_txt_Exterior_other_" + i)
            <span class="span_txt_Exterior_other_@(i)" style="display:none;">
                @Html.TextBox("txt_Exterior_other_" + i, "", new { style = "width:120px" })
            </span>
        </td>
        <td class="head">特殊情況</td>
        <td>
            @Html.TextArea("txt_Special_Event_" + i, "", 5, 38, new { })
        </td>
    </tr>
    <tr>
        <td class="head">解尿</td>
        <td>
            @VitalSign_Helper.assess_radio("rb_Urine_" + i, "已解|未解", "", "")
        </td>
        <td class="head">胎便</td>
        <td>
            @VitalSign_Helper.assess_radio("rb_Meconium_" + i, "已解|未解", "", "")
        </td>
    </tr>
    <tr>
        <td class="head">體溫(肛溫)</td>
        <td colspan="3">
            @Html.TextBox("txt_Temp_" + i, "", new { style = "width:120px", onkeyup = "numcheck(this);" }) ℃
        </td>
    </tr>
    <tr>
        <td class="head">嬰兒送往單位</td>
        <td colspan="3">
            @{func = "$('.span_txt_child_sent_amount_" + i + "').fadeIn(500); div_hidden('span_txt_child_sent_other_" + i + "');";}
            <label><input type="radio" name="rb_child_sent_@(i)" value="BR" onclick="@func" />BR</label>
            <label><input type="radio" name="rb_child_sent_@(i)" value="NBC" onclick="@func" />NBC</label>
            <label><input type="radio" name="rb_child_sent_@(i)" value="NICU" onclick="@func" />NICU</label>
            <span class="span_txt_child_sent_amount_@(i)" style="display:none;">
                @Html.TextBox("txt_child_sent_amount_" + i, "", new { style = "width:120px" }) 床
            </span>
            @{func = "div_hidden('span_txt_child_sent_amount_" + i + ",span_txt_child_sent_other_" + i + "');";}
            <label><input type="radio" name="rb_child_sent_@(i)" value="病理科" onclick="@func" />病理科</label>
            @{func = "$('.span_txt_child_sent_other_" + i + "').fadeIn(500); div_hidden('span_txt_child_sent_amount_" + i + "');";}
            <label><input type="radio" name="rb_child_sent_@(i)" value="其他" onclick="@func" />其他</label>
            <span class="span_txt_child_sent_other_@(i)" style="display:none;">
                @Html.TextBox("txt_child_sent_other_" + i, "", new { style = "width:120px" })
            </span>
        </td>
    </tr>
    <tr>
        <td class="head">產後即刻肌膚接觸</td>
        <td colspan="3">
            @{func = "div_hidden('span_contact_date_" + i + ",span_txt_doc_" + i + "');";}
            <label><input type="radio" name="rb_Skin_Contact_@(i)" value="無" onclick="@func" />無</label>
            @{func = "$('.span_contact_date_" + i + "').fadeIn(500); div_hidden('span_txt_doc_" + i + "');";}
            <label><input type="radio" name="rb_Skin_Contact_@(i)" value="有" onclick="@func" />有</label>
            @{func = "$('.span_txt_doc_" + i + "').fadeIn(500); div_hidden('span_contact_date_" + i + "');";}
            <label><input type="radio" name="rb_Skin_Contact_@(i)" value="無法執行" onclick="@func" />無法執行</label>
            <div class="span_contact_date_@(i)" style="display:none;">
                接觸起始時間
                @Html.TextBox("contact_start_day_" + i, "", new { style = "width:80px", @readonly = "readonly" })
                @Html.TextBox("contact_start_time_" + i, "", new { style = "width:50px", @readonly = "readonly" })
                @WebTool.setDateTime("contact_start_day_" + i, "contact_start_time_" + i)
                ，接觸結束時間
                @Html.TextBox("contact_end_day_" + i, "", new { style = "width:80px", @readonly = "readonly" })
                @Html.TextBox("contact_end_time_" + i, "", new { style = "width:50px", @readonly = "readonly" })
                @WebTool.setDateTime("contact_end_day_" + i, "contact_end_time_" + i)
            </div>
            <div class="span_txt_doc_@(i)" style="display:none;padding-top:3px;">
                    由 @Html.TextBox("txt_doc_" + i, "", new { style = "width:120px" }) 醫師評估，原因：
                <div style="padding-top:3px;">
                    @VitalSign_Helper.assess_checkbox("ck_contact_reason_" + i, "呼吸喘|活動力不佳|體重<2300g|早產|母親拒絕|嘔吐|母親狀況不適宜|其他", "其他", "sapn_txt_contact_reason_other_" + i)
                    <span class="sapn_txt_contact_reason_other_@(i)" style="display:none;padding-top:3px;">
                        @Html.TextBox("txt_contact_reason_other_" + i, "", new { style = "width:120px" })
                    </span>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td class="head">哺餵母乳</td>
        <td>
            @VitalSign_Helper.assess_radio("rb_Feed_" + i, "無|有", "", "")
        </td>
        <td class="head">新生兒吸吮</td>
        <td>
            @VitalSign_Helper.assess_radio("rb_Suck_" + i, "佳|可|未", "", "")
        </td>
    </tr>
    <tr>
        <td class="head">緊急處置</td>
        <td colspan="3">
            @VitalSign_Helper.assess_radio("rb_set_et_" + i, "無|有", "有", "span_rb_ET_" + i)
            <div class="span_rb_ET_@(i)" style="display:none;padding-top:3px;">
                <label><input type="checkbox" name="rb_ET_@(i)" value="皮膚刺激" />皮膚刺激</label>
                <label><input type="checkbox" name="rb_ET_@(i)" value="Ambu" />Ambu</label>
                <label><input type="checkbox" name="rb_ET_@(i)" value="O2" />O2</label>
                @{func = "if(this.checked){ $('.sapn_txt_ET_one_endo_" + i + "').fadeIn(500); }else{ div_hidden('sapn_txt_ET_one_endo_" + i + "'); }";}
                <label><input type="checkbox" name="rb_ET_@(i)" value="one endo" onclick="@func" />one endo</label>
                <span class="sapn_txt_ET_one_endo_@(i)" style="display:none;">
                    @Html.TextBox("txt_ET_one_endo_" + i, "", new { style = "width:120px" })
                </span>
                <label><input type="checkbox" name="rb_ET_@(i)" value="CPR" />CPR</label>
                @{func = "if(this.checked){ $('.sapn_txt_ET_med_" + i + "').fadeIn(500); }else{ div_hidden('sapn_txt_ET_med_" + i + "'); }";}
                <label><input type="checkbox" name="rb_ET_@(i)" value="藥物" onclick="@func" />藥物</label>
                <span class="sapn_txt_ET_med_@(i)" style="display:none;">
                    @Html.TextBox("txt_ET_med_" + i, "", new { style = "width:120px" })
                </span>
            </div>
        </td>
    </tr>
    <tr>
        <td class="head">出生時阿帕嘉分數(Apgar score)</td>
        <td colspan="3">
            @{func = "div_hidden('span_apgar_score_select_" + i + "'); able('txt_apgar_score_1_" + i + ",txt_apgar_score_5_" + i + "');";}
            <label><input type="radio" name="rb_AS_@(i)" value="自行輸入" onclick="@func" />自行輸入</label>
            @{func = "$('.span_apgar_score_select_" + i + "').fadeIn(500); unable('txt_apgar_score_1_" + i + ",txt_apgar_score_5_" + i + "');";}
            <label><input type="radio" name="rb_AS_@(i)" value="填寫評估表" onclick="@func" />填寫評估表</label>
            1’
            @Html.TextBox("txt_apgar_score_1_" + i, "", new { style = "width:50px", disabled = "disabled", onkeyup = "numcheck(this);" })
            5’
            @Html.TextBox("txt_apgar_score_5_" + i, "", new { style = "width:50px", disabled = "disabled", onkeyup = "numcheck(this);" })
        </td>
    </tr>
</table>
<table class="span_apgar_score_select_@(i)" border="1" cellpadding="4" cellspacing="1" style="width:100%;display:none;">
    <tr>
        <td class="head">評估項目</td>
        <td class="head">1分鐘</td>
        <td class="head">5分鐘</td>
    </tr>
    <tr>
        <td class="head">心跳速率</td>
        <td>
            @VitalSign_Helper.assess_onchange("radio", "rb_AS_O_1_1_" + i, "(0)無|(1) <100|(2) >100", "0|1|2", "count_apgar('" + i + "', '1','txt_apgar_score_1_" + i + "');")
        </td>
        <td>
            @VitalSign_Helper.assess_onchange("radio", "rb_AS_O_1_2_" + i, "(0)無|(1) <100|(2) >100", "0|1|2", "count_apgar('" + i + "', '2','txt_apgar_score_5_" + i + "');")
        </td>
    </tr>
    <tr>
        <td class="head">呼吸型態</td>
        <td>
            @VitalSign_Helper.assess_onchange("radio", "rb_AS_O_2_1_" + i, "(0)無|(1)慢而不規則|(2)哭聲宏亮", "0|1|2", "count_apgar('" + i + "', '1','txt_apgar_score_1_" + i + "');")
        </td>
        <td>
            @VitalSign_Helper.assess_onchange("radio", "rb_AS_O_2_2_" + i, "(0)無|(1)慢而不規則|(2)哭聲宏亮", "0|1|2", "count_apgar('" + i + "', '2','txt_apgar_score_5_" + i + "');")
        </td>
    </tr>
    <tr>
        <td class="head">肌肉張力</td>
        <td>
            @VitalSign_Helper.assess_onchange("radio", "rb_AS_O_3_1_" + i, "(0)四肢軟弱無力|(1)四肢微屈稍活動|(2)四肢主動移動", "0|1|2", "count_apgar('" + i + "', '1','txt_apgar_score_1_" + i + "');")
        </td>
        <td>
            @VitalSign_Helper.assess_onchange("radio", "rb_AS_O_3_2_" + i, "(0)四肢軟弱無力|(1)四肢微屈稍活動|(2)四肢主動移動", "0|1|2", "count_apgar('" + i + "', '2','txt_apgar_score_5_" + i + "');")
        </td>
    </tr>
    <tr>
        <td class="head">對刺激反應</td>
        <td>
            @VitalSign_Helper.assess_onchange("radio", "rb_AS_O_4_1_" + i, "(0)無|(1)有痛苦表情|(2)咳嗽、打噴嚏", "0|1|2", "count_apgar('" + i + "', '1','txt_apgar_score_1_" + i + "');")
        </td>
        <td>
            @VitalSign_Helper.assess_onchange("radio", "rb_AS_O_4_2_" + i, "(0)無|(1)有痛苦表情|(2)咳嗽、打噴嚏", "0|1|2", "count_apgar('" + i + "', '2','txt_apgar_score_5_" + i + "');")
        </td>
    </tr>
    <tr>
        <td class="head">膚色</td>
        <td>
            @VitalSign_Helper.assess_onchange("radio", "rb_AS_O_5_1_" + i, "(0)蒼白或蘭紫|(1)身體粉紅四肢蘭紫|(2)全身粉紅", "0|1|2", "count_apgar('" + i + "', '1','txt_apgar_score_1_" + i + "');")
        </td>
        <td>
            @VitalSign_Helper.assess_onchange("radio", "rb_AS_O_5_2_" + i, "(0)蒼白或蘭紫|(1)身體粉紅四肢蘭紫|(2)全身粉紅", "0|1|2", "count_apgar('" + i + "', '2','txt_apgar_score_5_" + i + "');")
        </td>
    </tr>
</table>
    <div id="unfilled"></div>

        if (dt != null && dt.Rows.Count > 0)
        {
            foreach (DataRow r in dt.Rows)
            {
                <script type="text/javascript">
    @if (r["BIRTH_DAY"].ToString().Split('|').GetValue(i).ToString() != "")
    {
    @:$('#Birth_day_ @i').val('@Convert.ToDateTime(r["BIRTH_DAY"].ToString().Split('|').GetValue(i).ToString()).ToString("yyyy/MM/dd")');
    @:$('#Birth_time_@i').val('@Convert.ToDateTime(r["BIRTH_DAY"].ToString().Split('|').GetValue(i).ToString()).ToString("HH:mm")');
    }
    set_for_rb('rb_birth_type_@i', '@r["BIRTH_TYPE"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_birth_type_dtl_@i', '@r["BIRTH_TYPE_DTL"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_birth_type_reason_@i').val('@r["BIRTH_TYPE_REASON"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_Fetal_@i', '@r["FETAL"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_Gender_@i', '@r["GENDER"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_head_@i').val('@r["HEAD"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_chest_@i').val('@r["CHEST"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_height_@i').val('@r["HEIGHT"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_weight_@i').val('@r["WEIGHT"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_Cord_Entanglement_@i', '@r["CORD_ENTANGLEMENT"].ToString().Split('|').GetValue(i).ToString()');
    set_for_txt('txt_Cord_Entanglement_dtl_@i', '@r["CORD_ENTANGLEMENT_DTL"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_Meconium_Color_@i', '@r["MECONIUM_COLOR"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_Meconium_Color_Degree_@i', '@r["MECONIUM_COLOR_DEGREE"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_Meconium_Color_Degree_dtl_@i').val('@r["MECONIUM_COLOR_DEGREE_DTL"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_Exterior_@i', '@r["EXTERIOR"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_Exterior_other_@i').val('@r["EXTERIOR_OTHER"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_Special_Event_@i').val('@r["SPECIAL_EVENT"].ToString().Split('|').GetValue(i).ToString().Replace("\r\n"," ")');//特殊情況
    set_for_rb('rb_Urine_@i', '@r["URINE"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_Meconium_@i', '@r["MECONIUM"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_Temp_@i').val('@r["TEMP"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_child_sent_@i', '@r["CHILD_SENT"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_child_sent_amount_@i').val('@r["CHILD_SENT_AMOUNT"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_child_sent_other_@i').val('@r["CHILD_SENT_OTHER"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_Skin_Contact_@i', '@r["SKIN_CONTACT"].ToString().Split('|').GetValue(i).ToString()');
    @if (r["CONTACT_START_DAY"].ToString().Split('|').GetValue(i).ToString() != "")
    {
    @:$('#contact_start_day_@i').val('@Convert.ToDateTime(r["CONTACT_START_DAY"].ToString().Split('|').GetValue(i).ToString()).ToString("yyyy/MM/dd")');
    @:$('#contact_start_time_@i').val('@Convert.ToDateTime(r["CONTACT_START_DAY"].ToString().Split('|').GetValue(i).ToString()).ToString("HH:mm")');
    }
    @if (r["CONTACT_END_DAY"].ToString().Split('|').GetValue(i).ToString() != "")
    {
    @:$('#contact_end_day_@i').val('@Convert.ToDateTime(r["CONTACT_END_DAY"].ToString().Split('|').GetValue(i).ToString()).ToString("yyyy/MM/dd")');
    @:$('#contact_end_time_@i').val('@Convert.ToDateTime(r["CONTACT_END_DAY"].ToString().Split('|').GetValue(i).ToString()).ToString("HH:mm")');
    }
    $('#txt_doc_@i').val('@r["TXT_DOC"].ToString().Split('|').GetValue(i).ToString()');
    set_for_ck('ck_contact_reason_@i', '@r["CONTACT_REASON"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_contact_reason_other_@i').val('@r["CONTACT_REASON_OTHER"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_Feed_@i', '@r["FEED"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_Suck_@i', '@r["SUCK"].ToString().Split('|').GetValue(i).ToString()');
    @if(r["ET"].ToString().Split('|').GetValue(i).ToString() != "")
    {
    @:set_for_rb('rb_set_et_@i', '有');
    }
    else
    {
    @:set_for_rb('rb_set_et_@i', '無');
    }
    set_for_ck('rb_ET_@i', '@r["ET"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_ET_one_endo_@i').val('@r["ET_ONE_ENDO"].ToString().Split('|').GetValue(i).ToString()');
    $('#txt_ET_med_@i').val('@r["ET_MED"].ToString().Split('|').GetValue(i).ToString()');
    set_for_rb('rb_AS_@i', '@r["RB_AS"].ToString().Split('|').GetValue(i).ToString()');
    @if (r["RB_AS"].ToString().Split('|').GetValue(i).ToString() != "" && r["RB_AS"].ToString().Split('|').GetValue(i).ToString() == "填寫評估表")
    {
        string[] rb_1 = r["RB_AS_1"].ToString().Split('|').GetValue(i).ToString().Split(',');
    @:set_for_rb('rb_AS_O_1_1_@i', '@rb_1[0]');
    @:set_for_rb('rb_AS_O_2_1_@i', '@rb_1[1]');
    @:set_for_rb('rb_AS_O_3_1_@i', '@rb_1[2]');
    @:set_for_rb('rb_AS_O_4_1_@i', '@rb_1[3]');
    @:set_for_rb('rb_AS_O_5_1_@i', '@rb_1[4]');
        @:count_apgar('@i', '1', 'txt_apgar_score_1_@i');
        string[] rb_5 = r["RB_AS_5"].ToString().Split('|').GetValue(i).ToString().Split(',');
    @:set_for_rb('rb_AS_O_1_2_@i', '@rb_5[0]');
    @:set_for_rb('rb_AS_O_2_2_@i', '@rb_5[1]');
    @:set_for_rb('rb_AS_O_3_2_@i', '@rb_5[2]');
    @:set_for_rb('rb_AS_O_4_2_@i', '@rb_5[3]');
    @:set_for_rb('rb_AS_O_5_2_@i', '@rb_5[4]');
    @:count_apgar('@i', '2','txt_apgar_score_5_@i');
    }
    else
    {
    @:$('#txt_apgar_score_1_@i').val('@r["RB_AS_1"].ToString().Split('|').GetValue(i).ToString()');
    @:$('#txt_apgar_score_5_@i').val('@r["RB_AS_5"].ToString().Split('|').GetValue(i).ToString()');
    }

    
</script>
            }
           
        }
    }
             <script type="text/javascript">
                 $(document).ready(function () {
                     $('input[type=text], textarea').each(function () {
                         $(this).replaceWith("<span>" + $(this).val().replace(/\|/g, ',') + "</span>");
                     });
                     $('input[type=button]').each(function () {
                         $(this.parentElement).remove();
                     });
                     $('input[type=radio], input[type=checkbox]').each(function () {
                         if (this.checked)
                             $(this).remove();
                         else
                             $(this.parentElement).remove();
                     });
                 });
                </script>
}