@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">

    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
    }

    .popup {
        width: 80%;
        height: 95%;
        position: absolute;
        background-color: #EFEFFF;
        padding: 10px 15px 10px 15px;
        border: 1px solid #999999;
        box-shadow: 5px 5px 5px #666;
        border-radius: 15px 15px 15px 15px;
        top: 50%;
        left: 50%;
        margin: -20% 0 0 -40%;
        display: none;
        z-index: 99;
    }
</style>
<script type="text/javascript">
    $(function () {
        setGridColor();
        //設定高度
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 80);
        }).trigger("resize");
    });

    function setGridColor() {
        //格行換色
        var tr = $('.titleArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }
</script>
@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    ViewBag.Title = "Pick_FHB";
    <div class="funcArea">
        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
            <tr>
                <td colspan="4" style="padding-bottom:5px;text-align:center;">
                    <span style="color:blue;font-size:26px;">胎心音選擇畫面</span>
                </td>
            </tr>
            <tr>
                <td class="head" style="width:20%">查詢日期時間區間</td>
                <td colspan="2" style="width:60%">
                    起 @Html.TextBox("TXT_Q_ST_DAY", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                    @Html.TextBox("TXT_Q_ST_TIME", DateTime.Now.ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                    @WebTool.setDateTime("TXT_Q_ST_DAY", "TXT_Q_ST_TIME", "", "30") ~
                    迄 @Html.TextBox("TXT_Q_ET_DAY", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                    @Html.TextBox("TXT_Q_ET_TIME", DateTime.Now.ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                    @WebTool.setDateTime("TXT_Q_ET_DAY", "TXT_Q_ET_TIME", "", "30")
                </td>
                <td style="width:20%">
                    <input type="button" name="btn" value="查詢" onclick="" />
                </td>
            </tr>
            <tr>
                <td class="head" style="width:20%">挑選頻率</td>
                <td style="width:30%">
                    @Html.TextBox("TXT_Q_FRE", "", new { style = "width:100px" })
                    @VitalSign_Helper.assess_radio("RB_Q_FRE", "分|秒", "", "")
                </td>
                <td style="width:30%">
                    加上個別警示值
                    @VitalSign_Helper.assess_checkbox("RB_WARN", "", "", "")
                </td>
                <td style="width:20%">
                    <input type="button" name="btn" value="取消" onclick="if (confirm('確認取消?')) window.close();" />
                </td>
            </tr>
        </table>
    </div>

    <div class="funcArea">
        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;">
            <tr>
                <td class="head" style="width:10%">勾選帶入</td>
                <td class="head" style="width:10%">狀態</td>
                <td class="head" style="width:30%">日期時間</td>
                <td class="head" style="width:30%">胎心音F.H.B(B.P.M)</td>
                <td class="head" style="width:20%">警示值</td>
            </tr>
        </table>
    </div>
}
