@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<script type="text/javascript">
    $(function () {
     //   close_pup_window();
        setGridColor();
    });

    //格行換色
    function setGridColor() {
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
    }

    function set_fade(id, show) {
        for (var i = 0; i < new_window.length; i++) { new_window[i].close(); };
        var btn_list = document.getElementsByName('btn');
        for (var i = 0; i < btn_list.length; i++) {
            if (btn_list[i].id == id) {
                $(btn_list[i]).css("background-color", "gray");
                $(btn_list[i]).css("color", "white");
                $("#block,#loading").show();
                $('#tab1').fadeOut(0);
                $("#tab1").load(id, function () {
                    $("#block,#loading").hide();
                    $('#tab1').fadeIn(500);
                });
                if (show == 'Y')
                    $('.title_area').fadeIn(500);
                else
                    $('.title_area').fadeOut(0);
            }
            else {
                $(btn_list[i]).css("background-color", "#9CB7CF");
                $(btn_list[i]).css("color", "#000000");
            }
        }
    }
</script>
<style type="text/css">

    .dataArea td, .title_area td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        min-height: 15px;
    }

    .title_area {
        border-left: 1px solid rgba(20%,20%,40%,0.5);
        border-right: 1px solid rgba(20%,20%,40%,0.5);
    }
</style>
@using System.Data;
@{
    DataTable dt = ViewBag.dt;
    DataTable dt_time = ViewBag.dt_time;
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];

}
<form id="form1" action="Del_Postnatal_Record" method="post">
    <div>
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;font-family:EUDC;">
            <tr>
                <td>
                    <table border="0" style="width:100%;">
                        <tr>
                            <td style="text-align: center;width:100%;" colspan="5">
                                <p style="text-align: center;width:100%;">產後護理紀錄</p>
                            </td>
                        </tr>
                        <tr>
                            <td>病人姓名：@ptinof.PatientName</td>
                            @if (ptinof.Birthday != null)
                            {
                                <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                            }
                            else
                            {
                                <td>生日：</td>
                            }
                            <td>年齡：@ptinof.Age</td>
                            <td>病床號：@ptinof.BedNo</td>
                            <td>病歷號：@ptinof.ChartNo</td>
                        </tr>
                        <tr>
                            <td>科別：@ptinof.DeptName</td>
                            <td>主治醫師：@ptinof.DocName</td>
                            @if (ptinof.InDate != null)
                            {
                                <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                            }
                            else
                            {
                                <td>住院日期：</td>
                            }
                            <td>性別：@ptinof.PatientGender</td>
                            <td>診斷：@ptinof.ICD9_code1</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding:5px 0 5px 0;">
                    <div>
                        <table class="title_area" border="1" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;background-color:#85A5CC;">
                            <tr>
                                <td style="width:20%;">時間日期</td>
                                <td style="width:6%;">心跳</td>
                                <td style="width:8%;">血壓</td>
                                <td style="width:12%;">宮底高度</td>
                                <td style="width:8%;">宮縮情形</td>
                                <td style="width:10%;">惡露量</td>
                                <td style="width:10%;">會陰狀況</td>
                                <td style="">解尿</td>
                                <td style="width:10%;">記錄者</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        @if (dt != null)
                        {
                            <table border="1" cellpadding="4" cellspacing="1" style="width:100%;">
                                @foreach (DataRow r in dt.Rows)
                                {
                                    <tr>
                                        <td style="width:20%;">

                                            @Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")
                                        </td>
                                        <td style="width:6%;">@r["mp"]</td>
                                        <td style="width:8%;">@r["bp"].ToString().Replace("|", " / ")</td>
                                        @{
                                            string UTERUS_HEIGHT = "";
                                            if (r["UTERUS_HEIGHT"].ToString().Replace(",", "").Trim() != "")
                                            {
                                                string[] value = r["UTERUS_HEIGHT"].ToString().Split(',');
                                                if (value[0] != "" && value[1] != "")
                                                {
                                                    UTERUS_HEIGHT = value[0] + " " + value[1] + " 指";
                                                }
                                                else if (value[0] != "")
                                                {
                                                    UTERUS_HEIGHT = value[0];
                                                }
                                            }
                                        }
                                        <td style="width:12%;">@UTERUS_HEIGHT</td>
                                        <td style="width:8%;">@r["UTERUS_SHRINK"]</td>
                                        @{
                                            string LOCHIA = "";
                                            if (r["LOCHIA"].ToString().Replace(",", "").Trim() != "")
                                            {
                                                string[] value = r["LOCHIA"].ToString().Split(',');
                                                if (value[0] != "" && value[1] != "")
                                                {
                                                    LOCHIA = value[0] + " " + value[1] + " gm";
                                                }
                                                else if (value[0] != "")
                                                {
                                                    LOCHIA = value[0];
                                                }
                                            }
                                        }
                                        <td style="width:10%;">@LOCHIA</td>
                                        <td style="width:10%;">@r["PERINEUM"].ToString().Replace("其他,", "")</td>
                                        @{
                                            string URINE = "";
                                            if (r["URINE"].ToString().Replace(",", "").Trim() != "")
                                            {
                                                string[] value = r["URINE"].ToString().Split(',');
                                                if (value[0] == "未自解")
                                                {
                                                    URINE = value[0];
                                                }
                                                else if (value[0] == "已自解")
                                                {
                                                    URINE = value[0] + "," + value[1] + " " + value[2] + ",量 " + value[3] + "mL";
                                                }
                                                else if (value[0] == "導尿")
                                                {
                                                    URINE = value[0] + "," + value[1] + " " + value[2] + ",量 " + value[3] + "mL,顏色 " + value[4] + ",預計解尿時間:" + value[5] + ":" + value[6];
                                                }
                                                else if (value[0] == "留置尿管")
                                                {
                                                    URINE = value[0] + "," + value[1] + " " + value[2] + ",顏色 " + value[3];
                                                }
                                            }
                                        }
                                        <td style="font-size:14px;">@URINE</td>
                                        <td style="width:10%;">@r["username"]</td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </td>
            </tr>
        </table>
    </div>
</form>