@using System.Data;
@{
    ViewBag.Title = "產後護理紀錄";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DateTime now = DateTime.Now;
    DataTable dt = ViewBag.dt;
    int vySum = ViewBag.vy_sum;
    bool hasvy = ViewBag.vy;
    bool isKardex = ViewBag.Kardex;
    bool IsHisView = ViewBag.IsHisView;
    string Description = ViewBag.Description;
}

<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        white-space: pre-line;
        word-break: break-all;
    }
</style>
<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />

<script type="text/javascript">
    $(function () {
        close_pup_window();
        setGridColor();
        //設定高度
        $(window).resize(function () {
            var height = $(this).outerHeight();
            if (height <= 300)
                height = 450;
            $(".dataArea").outerHeight(height - 360);
        }).trigger("resize");
    });

    //格行換色
    function setGridColor() {
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');

        $('.head').css('background', '#85A5CC');
    }

    function set_row(url) {
        var ck = $('input[type=checkbox]:checked');
        if (ck.length == 0)
            alert('請選擇產後護理紀錄!');
        else if (ck.length > 1)
            alert("只能選擇一筆!");
        else {
            var row = '';
            for (var i = 0; i < ck.length; i++) {
                if (ck[i].checked)
                    row = row + ck[i].value + ',';
            }
            if (row != '') {
                row = row.substring(0, row.length - 1);
                new_window.push(window.open(url + "?del_ID=" + row, '', 'menubar=no,status=no,scrollbars=yes,top=0,left=50,toolbar=no,width=700,height=600'));
            }
        }
    }
    $(function () {
        if ('@hasvy' == 'True') {
            if (@vySum > 0) {
                $('.VYStatus').val("狀態:" + @vySum + "條尚未取出");
                $('.VYStatus').css("color", "Red");
            }
            else {
                $('.VYStatus').val("狀態:全數取出");
                $('.VYStatus').css("color", "Black");
            }
        }
        else {
            $('.VYStatus').val("狀態:尚無塞紗紀錄")
            $('.VYStatus').css("color", "Black");
        }
    });

    function Delete() {
        $.ajax({
            url: 'Del_Postnatal_Record',
            type: 'post',
            dataType: 'json',
            data: $('form').serialize(),
            success: function (data) {
                if (Number(data) == "-501") {
                    alert('無權限刪除!');
                }
                else if (Number(data) > 0) {
                    alert('刪除成功');
                    window.location.href = '../Obstetrics/Index?active=Postnatal_Record_List&show=Y';
                } else {
                    alert('刪除失敗');
                    window.location.href = '../Obstetrics/Index?active=Postnatal_Record_List&show=Y';
                }
            },
            failure: function (errMsg) {
                alert('刪除失敗');
                window.location.href = '../Obstetrics/Index?active=Postnatal_Record_List&show=Y';
            }
        });
    }
</script>

<div class="funcArea">
    @if (isKardex != true && IsHisView != true)
    {
        <input type="button" value="新增" style="width:50px;" onclick="@Java_funcion.pup_window("Insert_Postnatal_Record", 700, 600, "0")">
        <input type="button" value="修改" style="width:50px;" onclick="set_row('Insert_Postnatal_Record');" />
        <input type="button" value="刪除" style="width:50px;" onclick="if ($('input[type=checkbox]:checked').length > 0) { if (confirm('確認刪除?')) { Delete(); } } else { alert('請選擇產程監測紀錄!'); }" />
        <input type="button" value="陰道塞紗" onclick="@Java_funcion.pup_window("VaginalYam", 700, 600, "0")">
    }
    <input class="VYStatus" type="button" value="" style="font-size:18px">
    <input class="Description" type="button" value="@Description" style="font-size:18px">
</div>
<div class="funcArea">
    <form action="Del_Postnatal_Record" method="post">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;table-layout:fixed">
            <tr>
                <td>
                    <div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            <tr>
                                <td style="width:10%" rowspan="2">日期時間</td>
                                <td style="width:10%" colspan="2">子宮</td>
                                <td style="width:15%" colspan="2">惡露</td>
                                <td style="width:18%" colspan="5">會陰傷口</td>
                                <td style="width:9%" colspan="3">腹部傷口</td>
                                <td style="width:9%" colspan="3">下肢</td>
                                <td style="width:14%" colspan="3">排尿</td>
                                <td style="width:8%" rowspan="2">給藥</td>
                                <td style="width:7%" rowspan="2">護理處置</td>
                                <td style="width:3%" rowspan="2">紀錄者</td>
                            </tr>
                            <tr>
                                <td style="width:4%">硬度</td>
                                <td style="width:6%">高度</td>
                                <td style="width:8%">量</td>
                                <td style="width:7%">色</td>
                                <td style="width:3%">紅</td>
                                <td style="width:3%">水腫</td>
                                <td style="width:3%">瘀血</td>
                                <td style="width:6%">分泌物</td>
                                <td style="width:3%">傷口邊緣</td>
                                <td style="width:3%">滲液</td>
                                <td style="width:3%">縫線</td>
                                <td style="width:3%">處置</td>
                                <td style="width:3%">紅</td>
                                <td style="width:3%">腫</td>
                                <td style="width:3%">壓痛</td>
                                <td style="width:4%">自解</td>
                                <td style="width:5%">單導</td>
                                <td style="width:5%">導尿</td>
                            </tr>
                        </table>
                    </div>
                    <div class="dataArea" style="height:190px;">
                        @if (dt != null)
                        {
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                                @foreach (DataRow r in dt.Rows)
                                {
                                <tr>
                                    <td style="width:10%;">
                                        <label>
                                            @if (isKardex != true && IsHisView != true)
                                            {
                                                <input type="checkbox" name="del_ID" value="@r["IID"]" />
                                            }
                                            @Convert.ToDateTime(r["RECORDTIME"]).ToString("yyyy/MM/dd HH:mm")
                                        </label>
                                    </td>
                                    @{
                                        var UTERUS_SHRINK = r["UTERUS_SHRINK"].ToString();
                                        if (UTERUS_SHRINK == "0")
                                        {
                                            <td style="width:4%;">硬</td>
                                        }
                                        else if (UTERUS_SHRINK == "1")
                                        {
                                            <td style="width:4%;">中</td>
                                        }
                                        else if (UTERUS_SHRINK == "2")
                                        {
                                            <td style="width:4%;">軟</td>
                                        }
                                        else if (UTERUS_SHRINK == "3")
                                        {
                                            <td style="width:4%;">無法測量</td>
                                        }
                                        else
                                        {
                                            <td style="width:4%;"></td>
                                        }
                                    }
                                    @{
                                        switch (r["UTERUS_HEIGHT"].ToString())
                                        {
                                            case "0":
                                                <td style="width:6%;">臍上3指</td>
                                                break;
                                            case "1":
                                                <td style="width:6%;">臍上2指</td>
                                                break;
                                            case "2":
                                                <td style="width:6%;">臍上1指</td>
                                                break;
                                            case "3":
                                                <td style="width:6%;">臍平</td>
                                                break;
                                            case "4":
                                                <td style="width:6%;">臍下1指</td>
                                                break;
                                            case "5":
                                                <td style="width:6%;">臍下2指</td>
                                                break;
                                            case "6":
                                                <td style="width:6%;">臍下3指</td>
                                                break;
                                            case "7":
                                                <td style="width:6%;">無法測量</td>
                                                break;
                                            case "8":
                                                <td style="width:6%;">@r["UTERUS_HEIGHT_OTH"].ToString()</td>
                                                break;
                                            default:
                                                <td style="width:6%;"></td>
                                                break;
                                        }
                                    }
                                    @{
                                        var LOCHIA = r["LOCHIA"].ToString() == "" ? "" : r["LOCHIA"].ToString() + "g，";
                                        switch (r["LOCHIA_STAT"].ToString())
                                        {

                                            case "0":
                                                <td style="width:8%;">@LOCHIA 微量</td>
                                                break;
                                            case "1":
                                                <td style="width:8%;">@LOCHIA 少</td>
                                                break;
                                            case "2":
                                                <td style="width:8%;">@LOCHIA 中</td>
                                                break;
                                            case "3":
                                                <td style="width:8%;">@LOCHIA 多</td>
                                                break;
                                            default:
                                                <td style="width:8%;">@LOCHIA.Replace("，", "")</td>
                                                break;
                                        }
                                    }
                                    @{
                                        switch (r["LOCHIA_COLOR"].ToString())
                                        {
                                            case "0":
                                                <td style="width:7%;">鮮紅</td>
                                                break;
                                            case "1":
                                                <td style="width:7%;">深紅</td>
                                                break;
                                            case "2":
                                                <td style="width:7%;">淡紅</td>
                                                break;
                                            case "3":
                                                <td style="width:7%;">@r["LOCHIA_COLOR_OTH"]</td>
                                                break;
                                            default:
                                                <td style="width:7%;"></td>
                                                break;
                                        }
                                    }
                                    <td style="width:3%;">@r["EPWOUND_RED"]</td>
                                    <td style="width:3%;">@r["EPWOUND_EDEMA"]</td>
                                    @{
                                        switch (r["EPWOUND_ECC"].ToString())
                                        {
                                            case "0":
                                                <td style="width:3%;">0</td>
                                                break;
                                            case "1":
                                            case "4":
                                            case "7":
                                                <td style="width:3%;">1</td>
                                                break;
                                            case "2":
                                            case "5":
                                            case "8":
                                                <td style="width:3%;">2</td>
                                                break;
                                            case "3":
                                            case "6":
                                            case "9":
                                                <td style="width:3%;">3</td>
                                                break;
                                            default:
                                                <td style="width:3%;"></td>
                                                break;
                                        }
                                    }
                                    <td style="width:6%;">@r["EPWOUND_DISC"]</td>
                                    <td style="width:3%;">@r["EPWOUND_APPR"]</td>
                                    @{
                                        if (r["ABD_EXU"].ToString() == "1")
                                        {
                                            <td style="width:3%;">有</td>
                                        }
                                        else if (r["ABD_EXU"].ToString() == "0")
                                        {
                                            <td style="width:3%;">無</td>
                                        }
                                        else
                                        {
                                            <td style="width:3%;"></td>
                                        }
                                    }
                                    @{
                                        if (r["ABO_SUT"].ToString() == "0")
                                        {
                                            <td style="width:3%;">無縫線</td>
                                        }
                                        else if (r["ABO_SUT"].ToString() == "1")
                                        {
                                            <td style="width:3%;">有縫線，@r["ABO_SUT_N"] 針</td>
                                        }
                                        else if (r["ABO_SUT"].ToString() == "1")
                                        {
                                            <td style="width:3%;">縫線已拆</td>
                                        }
                                        else
                                        {
                                            <td style="width:3%;"></td>
                                        }
                                    }
                                    @{
                                        if (r["ABO_TRT"].ToString() == "1")
                                        {
                                            <td style="width:3%;">有</td>
                                        }
                                        else if (r["ABO_TRT"].ToString() == "0")
                                        {
                                            <td style="width:3%;">無</td>
                                        }
                                        else
                                        {
                                            <td style="width:3%;"></td>
                                        }
                                    }

                                    @{
                                        if (r["LL_RED"].ToString() == "1")
                                        {
                                            <td style="width:3%;">有</td>
                                        }
                                        else if (r["LL_RED"].ToString() == "0")
                                        {
                                            <td style="width:3%;">無</td>
                                        }
                                        else
                                        {
                                            <td style="width:3%;"></td>
                                        }
                                    }
                                    @{
                                        if (r["LL_SWO"].ToString() == "1")
                                        {
                                            <td style="width:3%;">有</td>
                                        }
                                        else if (r["LL_SWO"].ToString() == "0")
                                        {
                                            <td style="width:3%;">無</td>
                                        }
                                        else
                                        {
                                            <td style="width:3%;"></td>
                                        }
                                    }
                                    @{
                                        if (r["LL_TEN"].ToString() == "1")
                                        {
                                            <td style="width:3%;">有</td>
                                        }
                                        else if (r["LL_TEN"].ToString() == "0")
                                        {
                                            <td style="width:3%;">無</td>
                                        }
                                        else
                                        {
                                            <td style="width:3%;"></td>
                                        }
                                    }
                                    @{
                                        if (r["URINE_SELF"].ToString() == "0")
                                        {
                                            <td style="width:4%;">自解尿液順暢(+)</td>
                                        }
                                        else if (r["URINE_SELF"].ToString() == "1")
                                        {
                                            <td style="width:4%;">尚未自解尿液(-)</td>
                                        }
                                        else
                                        {
                                            <td style="width:4%;"></td>
                                        }
                                    }
                                    @{
                                        var URINE_SINGLE_AMT = r["URINE_SINGLE_AMT"].ToString() == "" ? "" : r["URINE_SINGLE_AMT"].ToString() + "c.c.";
                                        switch (r["URINE_SINGLE_STAT"].ToString())
                                        {
                                            case "0":
                                                <td style="width:5%;">@URINE_SINGLE_AMT<br />黃色</td>
                                                break;
                                            case "1":
                                                <td style="width:5%;">@URINE_SINGLE_AMT<br />褐色</td>
                                                break;
                                            case "2":
                                                <td style="width:5%;">@URINE_SINGLE_AMT<br />暗紅色</td>
                                                break;
                                            case "3":
                                                <td style="width:5%;">@URINE_SINGLE_AMT<br />淡紅色</td>
                                                break;
                                            case "4":
                                                <td style="width:5%;">@URINE_SINGLE_AMT<br />鮮紅色</td>
                                                break;
                                            default:
                                                <td style="width:5%;"></td>
                                                break;
                                        }
                                    }
                                    @{
                                        var URINE_CAT_AMT = r["URINE_CAT_AMT"].ToString() == "" ? "" : r["URINE_CAT_AMT"].ToString() + "c.c.";
                                        switch (r["URINE_CAT_STAT"].ToString())
                                        {
                                            case "0":
                                                <td style="width:5%;">@URINE_CAT_AMT<br />黃色</td>
                                                break;
                                            case "1":
                                                <td style="width:5%;">@URINE_CAT_AMT<br />褐色</td>
                                                break;
                                            case "2":
                                                <td style="width:5%;">@URINE_CAT_AMT<br />暗紅色</td>
                                                break;
                                            case "3":
                                                <td style="width:5%;">@URINE_CAT_AMT<br />淡紅色</td>
                                                break;
                                            case "4":
                                                <td style="width:5%;">@URINE_CAT_AMT<br />鮮紅色</td>
                                                break;
                                            default:
                                                <td style="width:5%;"></td>
                                                break;
                                        }
                                    }

                                    <td style="width:8%;">@Html.Raw(r["Ab_Disp"])</td>
                                    <td style="width:7%;">@r["NS_TREAT"].ToString()</td>
                                    <td style="width:3%">@r["UPDNO_NAME"]</td>
                                </tr>
                                }
                            </table>
                        }
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
