@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
}

@using System.Data;
@using NIS.Data;
@{
    DataTable dt = ViewBag.dt; //生產史
    DataRow dtrow = null;
    string chartno = ViewBag.chartNo;
    if (dt != null && dt.Rows.Count > 0)
    {
        dtrow = dt.Rows[0];
    }

    DataTable dt_sta = ViewBag.dt_sta; //二、三產程
    DataRow dt_starow = null;
    if (dt_sta != null && dt_sta.Rows.Count > 0)
    {
        dt_starow = dt_sta.Rows[0];
    }

    DataTable dt_nb = ViewBag.dt_nb; //新生兒出生紀錄
    PatientInfo ptinfo = (PatientInfo)ViewBag.ptinfo;
}

<style>
    * {
        font-family: TimesNewRoman, EUDC, "標楷體";
    }

    table {
        border: 0px solid #000;
        font-size: 16px;
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        padding-left: 5mm;
        padding-right: 5mm;
    }

    td {
        border: 1px solid #000;
        padding: 3px;
        font-size: 14pt;
        text-align: left;
    }
</style>

<table border="1" style="width:100%;border: 1px solid #000;border-bottom:0!important">
    <tr style="height:45px">
        <td style="border-top:1px !important;font-size:14pt">
            @if (dtrow["EDC"].ToString() == "")
            {
                <span>
                    EDC：&nbsp; &nbsp; &nbsp;
                </span>
            }
            else
            {
                @Html.Raw("EDC：" + Convert.ToDateTime(dtrow["EDC"].ToString()).ToString("yyyy/MM/dd"))
            }

            週數：@dt_starow["GEST_M"] + @dt_starow["GEST_D"]
            <span>
                &nbsp;
            </span>
            G：@dtrow["GRAVIDA"]、P：@dt_starow["PARITY_N"]、A：@dt_starow["ABORTION"]、E：@dtrow["ECCYESIS"]
            <span>
                &nbsp;
            </span>
            <br />
            總活產數：@dt_starow["LB_TOTAL_N"]
            <span>
                &nbsp; &nbsp;
            </span>
            本次生產活產數：@ViewBag.Live
        </td>
    </tr>
    <tr style="height:45px">
        <td style="font-size:14pt">
            血型：@dtrow["PAT_BT"]
            <br />
            HBsAg：(@ViewBag.HBSAG)
            @if (ViewBag.HBSAG != "外院" && dtrow["HBSAG_INST"].ToString().Trim() != "" && dtrow["HBSAG_INST"].ToString().Trim() != "00")
            {
                @Html.Raw("(外院)");
            }
            、HBeAg：(@ViewBag.HBEAG)
            @if (ViewBag.HBEAG != "外院" && dtrow["HBEAG_INST"].ToString().Trim() != "" && dtrow["HBEAG_INST"].ToString().Trim() != "00")
            {
                @Html.Raw("(外院)");
            }
            、Rubella：(@ViewBag.RUBELLA)
            @if (ViewBag.RUBELLA != "外院" && dtrow["RUBELLA_INST"].ToString().Trim() != "" && dtrow["RUBELLA_INST"].ToString().Trim() != "00")
            {
                @Html.Raw("(外院)");
            }
            <br />
            VDRL：(@ViewBag.VDRL1)
            @if (ViewBag.VDRL1 != "外院" && dtrow["VDRL1_INST"].ToString().Trim() != "" && dtrow["VDRL1_INST"].ToString().Trim() != "00")
            {
                @Html.Raw("(外院)");
            }
            /
            (@ViewBag.VDRL2)
            @if (ViewBag.VDRL2 != "外院" && dtrow["VDRL2_INST"].ToString().Trim() != "" && dtrow["VDRL2_INST"].ToString().Trim() != "00")
            {
                @Html.Raw("(外院)");
            }
            、HIV：(@ViewBag.HIV)
            @if (ViewBag.HIV != "外院" && dtrow["HIV_INST"].ToString().Trim() != "" && dtrow["HIV_INST"].ToString().Trim() != "00")
            {
                @Html.Raw("(外院)");
            }
            、GBS：(@ViewBag.GBS)
            @if (ViewBag.GBS != "外院" && dtrow["GBS_INST"].ToString().Trim() != "" && dtrow["GBS_INST"].ToString().Trim() != "00")
            {
                @Html.Raw("(外院)");
            }
            @*@ViewBag.GBSAB*@
        </td>
    </tr>
    <tr style="height:45px">
        <td style="font-size:14pt">
            @if (dt_starow["PAIN_ST_NA"].ToString() == "1")
            {
                <span>
                    @Html.Raw("陣痛開始時間：不詳")
                </span>
            }
            else
            {
                if (dt_starow["PAIN_ST"].ToString() == "")
                {
                    <span>
                        @Html.Raw("陣痛開始時間：無")  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </span>
                }
                else
                {
                    <span>
                        @Html.Raw("陣痛開始時間：" + Convert.ToDateTime(dt_starow["PAIN_ST"].ToString()).ToString("yyyy年MM月dd日HH時mm分"))
                    </span>
                }
            }
            &nbsp;
            @if (dt_starow["CERFO_TIME_NA"].ToString() == "1")
            {
                <span>
                    @Html.Raw("宮口全開時間：不詳")
                </span>
            }
            else
            {
                if (dt_starow["CERFO_TIME"].ToString() == "")
                {
                    <span>
                        @Html.Raw("宮口全開時間：無") &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </span>
                }
                else
                {
                    <span>
                        @Html.Raw("宮口全開時間：" + Convert.ToDateTime(dt_starow["CERFO_TIME"].ToString()).ToString("yyyy年MM月dd日HH時mm分"))
                    </span>
                }
            }
        </td>
    </tr>
    <tr style="height:45px">
        <td style="border-top:0!important;font-size:14pt">
            @if (dt_starow["RFM_TIME_NA"].ToString() == "1")
            {
                <span>
                    @Html.Raw("胎膜破裂時間：不詳")
                </span>
            }
            else
            {
                if (dt_starow["RFM_TIME"].ToString() == "")
                {
                    <span>
                        @Html.Raw("胎膜破裂時間：無") &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </span>
                }
                else
                {
                    <span>
                        @Html.Raw("胎膜破裂時間：" + Convert.ToDateTime(dt_starow["RFM_TIME"].ToString()).ToString("yyyy年MM月dd日HH時mm分"))
                    </span>
                }
            }
            &nbsp;
            @if (dt_starow["RFM"].ToString() == "0")
            {
                <span>
                    胎膜破裂方式：早期破水
                </span>
            }
            else if (dt_starow["RFM"].ToString() == "1")
            {
                <span>
                    胎膜破裂方式：自然破水
                </span>
            }
            else if (dt_starow["RFM"].ToString() == "2")
            {
                <span>
                    胎膜破裂方式：人工破水
                </span>
            }
            else
            {
                <span>
                    胎膜破裂方式：無 &nbsp; &nbsp; &nbsp;
                </span>
            }
            &nbsp;
            @if (dt_starow["RUPTURETYPE"].ToString() != "")
            {
                var result = new List<string>();
                var value = "";
                if (dt_starow["RUPTURETYPE"].ToString() == "0")
                {
                    result.Add("羊水性質：清澈");
                }

                if (dt_starow["RUPTURETYPE"].ToString() == "1")
                {
                    result.Add("羊水性質：惡臭");
                }

                if (dt_starow["RUPTURETYPE"].ToString() == "2")
                {
                    result.Add("胎便染色：");
                    if (dt_starow["MECONIUM_COLOR"].ToString() != "")
                    {
                        switch (dt_starow["MECONIUM_COLOR"].ToString())
                        {
                            case "0":
                                value = "+";
                                break;
                            case "1":
                                value = "++";
                                break;
                            case "2":
                                value = "+++";
                                break;
                            case "3":
                                value = "++++";
                                break;
                            default:
                                value = "";
                                break;
                        }
                    }
                }
                <span>
                    @Html.Raw(String.Join("，", result) + value)
                </span>
            }
            else
            {
                <span>羊水性質：</span>
            }
        </td>
    </tr>
</table>
@if (dt_nb != null && dt_nb.Rows.Count > 0)
{
    foreach (DataRow r in dt_nb.Rows)
    {
        <table border="1" style="width:100%;border: 1px solid #000;border-top:0!important;border-bottom:0!important">
            <tr style="height:45px">
                <td style="width:20%;border-top:0!important;font-size:14pt">
                    @if (r["BIRTH_TYPE"].ToString() == "0")
                    {
                        <span>
                            生產方式：NSD(陰道產)
                        </span>
                    }
                    else if (r["BIRTH_TYPE"].ToString() == "1")
                    {
                        <span>
                            生產方式：C/S(剖腹產)
                        </span>
                    }
                    else
                    {
                        <span>生產方式：無</span>
                    }
                    @if (r["BIRTH_TYPE"].ToString() == "0")
                    {
                        if (r["VACUUM_NSD"].ToString() == "0")
                        {
                            <span>、Vacuum：有</span>
                        }
                        else
                        {
                            <span>、Vacuum：無</span>
                        }
                    }
                    else if (r["BIRTH_TYPE"].ToString() == "1")
                    {
                        if (r["VACUUM_CS"].ToString() == "0")
                        {
                            <span>、Vacuum：有</span>
                        }
                        else
                        {
                            <span>、Vacuum：無</span>
                        }
                    }
                    else
                    {
                        <span></span>
                    }
                    @if (dtrow["VBAC"].ToString() == "0")
                    {
                        <span>VBAC：有</span>
                    }
                    else if (dtrow["VBAC"].ToString() == "1")
                    {
                        @*<span>VBAC：無</span>*@
                    }
                    else if (dtrow["VBAC"].ToString() == "2")
                    {
                        <span>VBAC：未曾剖腹產或初產婦</span>
                    }
                    <br />
                    @if (r["BIRTH_TYPE"].ToString() == "1")
                    {
                        <span>適應症：主要原因：@dt_starow["CS_MR"].ToString()</span>
                        if (dt_starow["CS_OR"].ToString() != "")
                        {
                            <span>次要原因：@dt_starow["CS_OR"].ToString()</span>
                        }
                    }
                    else
                    {
                        <span>適應症：-</span>
                    }
                </td>
            </tr>
            <tr style="height:45px">
                <td style="border-top:0!important;width:15%">

                    @if (r["BIRTH_DAY"].ToString() != "")
                    {
                        <span>
                            @Html.Raw("出生時間：" + Convert.ToDateTime(r["BIRTH_DAY"].ToString()).ToString("yyyy年MM月dd日HH時mm分"))
                        </span>
                    }
                    else
                    {
                        <span>出生時間：無</span>
                    }
                    <span>
                        &nbsp; &nbsp; &nbsp;
                    </span>
                    嬰兒性別：@r["GENDER"]
                    <span>
                        &nbsp; &nbsp; &nbsp;
                    </span>

                    @if (r["FETAL"].ToString() != "")
                    {
                        var value = "";
                        switch (r["FETAL"].ToString())
                        {
                            case "0":
                                value = "LOA";
                                break;
                            case "1":
                                value = "ROA";
                                break;
                            case "2":
                                value = "OA";
                                break;
                            case "3":
                                value = "LOP";
                                break;
                            case "4":
                                value = "ROP";
                                break;
                            case "5":
                                value = "OP";
                                break;
                            case "6":
                                value = "LOT";
                                break;
                            case "7":
                                value = "ROT";
                                break;
                            case "8":
                                value = "Transverse";
                                break;
                            case "9":
                                value = "Breech";
                                break;
                            case "10":
                                value = "Vertex";
                                break;
                            case "11":
                                value = r["FETAL_OTH"].ToString();
                                break;
                            default:
                                value = "";
                                break;
                        }
                        <span>胎方位：@value</span>
                    }
                    else
                    {
                        <span>胎方位：無</span>
                    }
                </td>
            </tr>
            <tr style="height:45px">
                <td style="width:20%;border-top:0!important;font-size:14pt">
                    身高(cm)：@r["HEIGHT"].ToString()
                    <span>
                        &nbsp;
                    </span>
                    體重(gm)：@r["WEIGHT"].ToString()
                    <span>
                        &nbsp;
                    </span>
                    <span>
                        @{
                            var apScore = "Apgar Score：" + r["RB_AS_1_NUM"].ToString() + "/" + r["RB_AS_5_NUM"].ToString();
                            if (r["RB_AS_10_NUM"].ToString() != "-")
                            {
                                apScore += "/" + r["RB_AS_10_NUM"].ToString();
                            }
                            @Html.Raw(apScore);
                        }
                    </span>
                    <span>
                        &nbsp;
                    </span>

                    @if (r["CORD_ENTANGLEMENT"].ToString() != "")
                    {
                        var result = "";
                        <span>
                            臍繞頸：
                            @if (r["CORD_ENTANGLEMENT_NECK"].ToString() != "")
                            {
                                result += "頸(" + r["CORD_ENTANGLEMENT_NECK"].ToString() + ")";
                            }
                            @if (r["CORD_ENTANGLEMENT_HAND"].ToString() != "")
                            {
                                result += "手(" + r["CORD_ENTANGLEMENT_HAND"].ToString() + ")";
                            }
                            @if (r["CORD_ENTANGLEMENT_FOOT"].ToString() != "")
                            {
                                result += "腳(" + r["CORD_ENTANGLEMENT_FOOT"].ToString() + ")";
                            }

                            @if (result != "")
                            {
                                @Html.Raw(result);
                            }
                            else
                            {
                                @Html.Raw("無");
                            }
                        </span>
                    }
                    else
                    {
                        <span>臍繞頸：無</span>
                    }
                </td>
            </tr>
            <tr style="height:45px">
                <td style="border-top:0!important;width:15%">

                    @if (r["CHILD_SENT"].ToString() != "")
                    {
                        var value = "";
                        switch (r["CHILD_SENT"].ToString())
                        {
                            case "0":
                                value = "嬰兒室";
                                break;
                            case "1":
                                value = "PICU";
                                break;
                            case "2":
                                value = "NBC";
                                break;
                            case "3":
                                value = "太平間";
                                break;
                            case "4":
                                value = "家屬帶回";
                                break;
                            default:
                                value = "";
                                break;
                        }
                        <span>
                            新生兒動向：@value
                        </span>
                    }
                    else
                    {
                        <span> 新生兒動向：無</span>
                    }
                    <span>
                        &nbsp; &nbsp; &nbsp;
                    </span>

                    @if (dt_starow["PLACE"].ToString() == "1")
                    {
                        <span>院外生產：是</span>
                    }
                    else if (dt_starow["PLACE"].ToString() == "0")
                    {
                        <span>院外生產：否</span>
                    }
                    else
                    {
                        <span>院外生產：無</span>
                    }
                    <span>
                        &nbsp; &nbsp; &nbsp;
                    </span>

                    @if (r["NB_STAT"].ToString() == "0")
                    {
                        var result = new List<string>();
                        if (r["NB_STAT_RS"].ToString() != "" && r["NB_STAT_RS"].ToString().Length == 5)
                        {
                            if (r["NB_STAT_RS"].ToString()[0] == '1')
                            {
                                result.Add("染色體異常");
                            }
                            if (r["NB_STAT_RS"].ToString()[1] == '1')
                            {
                                result.Add("胎兒無心跳");
                            }
                            if (r["NB_STAT_RS"].ToString()[2] == '1')
                            {
                                result.Add("器官異常");
                            }
                            if (r["NB_STAT_RS"].ToString()[3] == '1')
                            {
                                result.Add("感染");
                            }
                            if (r["NB_STAT_RS"].ToString()[4] == '1')
                            {
                                if (r["NB_STAT_RS_OTH"].ToString() == "")
                                {
                                    result.Add("其他");
                                }
                                else
                                {
                                    result.Add(r["NB_STAT_RS_OTH"].ToString());
                                }
                            }
                        }
                        <span>
                            死產原因：@String.Join(",", result)
                        </span>
                    }
                    else
                    {
                        <span></span>
                    }
                </td>
            </tr>
        </table>
    }
}

<table border="1" style="width:100%;border: 1px solid #000;border-top:0!important">
    <tr style="height:45px">
        <td style="border-top:0!important;width:15%">

            @if (dt_starow["DOP_TIME_NA"].ToString() == "1")
            {
                <span>
                    胎盤娩出時間：不詳
                </span>
            }
            else
            {
                if (dt_starow["DOP_TIME"].ToString() == "")
                {
                    <span>
                        胎盤娩出時間：無&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </span>
                }
                else
                {
                    <span>
                        @Html.Raw("胎盤娩出時間：" + Convert.ToDateTime(dt_starow["DOP_TIME"].ToString()).ToString("yyyy年MM月dd日HH時mm分"))
                    </span>
                }
            }
            <span>
                &nbsp; &nbsp; &nbsp;
            </span>

            @if (dt_starow["DOP"].ToString() != "")
            {
                var value = "";
                switch (dt_starow["DOP"].ToString())
                {
                    case "0":
                        value = "稀氏";
                        break;
                    case "1":
                        value = "鄧氏";
                        break;
                    case "2":
                        value = "混合剝離";
                        break;
                    case "3":
                        value = "人工剝離";
                        break;
                    default:
                        value = "";
                        break;
                }
                <span>胎盤娩出方式：@value</span>
            }
            else
            {
                <span>胎盤娩出方式：無</span>
            }
        </td>
    </tr>
    <tr style="height:45px">
        <td style="border-top:0!important;width:15%">

            @if (dt_starow["PERINEUM"].ToString() != "")
            {
                var value = "";
                switch (dt_starow["PERINEUM"].ToString())
                {
                    case "0":
                        value = "完整";
                        break;
                    case "1":
                        value = "自裂";
                        break;
                    case "2":
                        value = "正中切開";
                        break;
                    case "3":
                        value = "不詳";
                        break;
                    default:
                        value = "";
                        break;
                }
                <span>
                    會陰情形：@value
                </span>
            }
            else
            {
                <span>會陰情形：無</span>
            }
            @if (dt_starow["PERINEUM"].ToString() != "0" && dt_starow["PERI_LAC"].ToString() != "")
            {
                var value = "";
                switch (dt_starow["PERI_LAC"].ToString())
                {
                    case "0":
                        value = "無";
                        break;
                    case "1":
                        value = "1度";
                        break;
                    case "2":
                        value = "2度";
                        break;
                    case "3":
                        value = "3度";
                        break;
                    case "4":
                        value = "4度";
                        break;
                    default:
                        value = "";
                        break;
                }
                <span>
                    @value
                </span>
            }
            else
            {
                <span></span>
            }
        </td>
    </tr>
</table>
<table border="1" style="width:100%;border: 1px solid #000;border-top:0!important">
    <tr style="height:55px">
        <td style="border-top:0!important;width:20%">

            @if (dt_starow["DR_ETTIME_NA"].ToString() == "1")
            {
                <span>
                    進入分娩室時間：不詳
                </span>
            }
            else
            {
                if (dt_starow["DR_ETTIME"].ToString() == "")
                {
                    <span>
                        進入分娩室時間：無 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </span>
                }
                else
                {
                    <span>
                        @Html.Raw("進入分娩室時間：" + Convert.ToDateTime(dt_starow["DR_ETTIME"].ToString()).ToString("yyyy年MM月dd日HH時mm分"))
                    </span>
                }
            }
            <br />
            @if (dt_starow["RR_ETTIME_NA"].ToString() == "1")
            {
                <span>
                    送入恢復室時間：不詳
                </span>
            }
            else
            {
                if (dt_starow["RR_ETTIME"].ToString() == "")
                {
                    <span>
                        送入恢復室時間：無&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    </span>
                }
                else
                {
                    <span>
                        @Html.Raw("送入恢復室時間：" + Convert.ToDateTime(dt_starow["RR_ETTIME"].ToString()).ToString("yyyy年MM月dd日HH時mm分"))
                    </span>
                }
            }
        </td>
    </tr>
</table>
<table border="1" style="width:100%;border: 1px solid #000;border-top:0!important">
    <tr style="height:55px">
        <td style="border-top:0!important;width:15%">
            備註：@dt_starow["REMARK"].ToString()
            <br />
            @if (dt_starow["TOP"].ToString() == "1")
            {
                <span>
                    終止妊娠原因：
                </span>

                var reason = new List<string>();
                if (dt_starow["TOP_RS"].ToString() != "" && dt_starow["TOP_RS"].ToString().Count() == 6)
                {
                    if (dt_starow["TOP_RS"].ToString()[0] == '1')
                    {
                        reason.Add("染色體異常");
                    }
                    if (dt_starow["TOP_RS"].ToString()[1] == '1')
                    {
                        reason.Add("胎兒無心跳");
                    }
                    if (dt_starow["TOP_RS"].ToString()[2] == '1')
                    {
                        reason.Add("器官異常");
                    }
                    if (dt_starow["TOP_RS"].ToString()[3] == '1')
                    {
                        reason.Add("感染");
                    }
                    if (dt_starow["TOP_RS"].ToString()[4] == '1')
                    {
                        reason.Add("個人因素");
                    }
                    if (dt_starow["TOP_RS"].ToString()[5] == '1')
                    {
                        if (dt_starow["TOP_RS_O"].ToString() != "")
                        {
                            reason.Add(dt_starow["TOP_RS_O"].ToString());
                        }
                        else
                        {
                            reason.Add("其他");
                        }
                    }
                }
                <span>
                    @String.Join("，", reason)
                </span>
            }
            else
            {
                @Html.Raw("無");
            }
        </td>
    </tr>
</table>
<table border="1" style="width:100%;border: 1px solid #000;border-top:0!important">
    <tr style="height:45px">
        <td style="border-top:0!important;width:33%">接生醫師：@dt_starow["PHYSICIAN_1_NAME"] @dt_starow["PHYSICIAN_2_NAME"]</td>
        <td style="border-top:0!important;width:33%">流動護理人員：@dt_starow["CLNURSE_1_NAME"] @dt_starow["CLNURSE_2_NAME"]</td>
        <td style="border-top:0!important;width:33%">刷手護理人員：@dt_starow["SRNURSE_1_NAME"] @dt_starow["SRNURSE_2_NAME"]</td>
    </tr>
</table>

