@using System.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dt = ViewBag.dt;
    string value = ViewBag.value;
}
<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />
<style type="text/css">
    .fieGray td {
        padding: 2px
    }
</style>

<div class="funcArea">
    <div class="firstDiv" style="padding:10px;width:auto;height:auto">
        <fieldset class="fieBlue">
            <div style="width:100%;text-align:center;display:none">
                配方奶廠牌
            </div>
        </fieldset>
        <fieldset class="fieGray">
            <table border="1" style="width:100%;height:auto;text-align:left;font-size:16px; border-color:white;border-width:0.5px;padding:2px">
                <tr>
                    <td style="width:20%;background-color:rgb(133, 165, 204)">
                        選取
                    </td>
                    <td style="width:80%;background-color:rgb(133, 165, 204)">廠牌</td>
                </tr>
                @if (dt != null && dt.Rows.Count > 0)
                {
                    int i = 0;
                    foreach (DataRow r in dt.Rows)
                    {
                        <tr>
                            <td style="width:20%;">
                                <input id="@i" type="radio" name="BRAND" value="@r["BRAND"]" />
                                <label id="iid_@i" style="display:none">@r["IID"].ToString()</label>
                            </td>
                            <td style="width:80%;">
                                @r["BRAND"].ToString()
                            </td>

                        </tr>
                        i++;
                    }
                }
            </table>
        </fieldset>
        <fieldset class="fieBlue">
            <div style="width:100%;text-align:center;">
                <input type="button" value="確定" onclick="getValue()" />
                <input type="button" value="取消" onclick="window.close();" />
            </div>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function set_for_ck(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            var ck = document.getElementsByName(ck_name);
            for (var i = 0; i < default_val.length; i++) {
                for (var j = 0; j < ck.length; j++) {
                    if (default_val[i] == ck[j].value)
                        $(ck[j]).click();
                }
            }
        }
    }

    if ("@ViewBag.value" !== "") {
        var value = "@ViewBag.value";
        set_for_rb('BRAND', '@ViewBag.value');
    }

    function getValue() {
        var v = $('input[name=BRAND]:checked').val()
        var selectedId = $('input[name="BRAND"]:checked').attr('id');
        var iid = $("#iid_" + selectedId).text();
        window.opener.document.getElementById("TXT_MILK_BD").value = v.toString();
        window.opener.document.getElementById("TXT_MILK_ID").value = iid.toString();
        window.close();
    }

</script>