@using System.Data;
@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataTable dt = ViewBag.dt;
    string name = ViewBag.name;
    string AREAName = ViewBag.AREAName;
}
<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />
<style type="text/css">
    .fieGray td {
        padding: 2px
    }
</style>

<form method="get" action="Select_AREA_List">
    <div class="funcArea">
        <div class="firstDiv" style="padding:10px;width:auto;height:auto">
            <fieldset class="fieBlue">
                居住地名稱 @Html.TextBox("AREAName", AREAName, new { style = "width:100px" })
                <input type="hidden" name="name" value="@name" />
                <input class="funcArea" type="submit" value="搜尋">
            </fieldset>
            <div style="width:100%;text-align:center;">
                <input type="button" value="確定" onclick="getValue()" />
                <input type="button" value="取消" onclick="window.close();" />
            </div>
            <fieldset class="fieGray">
                <table border="1" style="width:100%;height:auto;text-align:left;font-size:16px; border-color:white;border-width:0.5px;padding:2px">
                    <tr>
                        <td style="width:20%;background-color:rgb(133, 165, 204)">
                            選取
                        </td>
                        <td style="width:40%;background-color:rgb(133, 165, 204)">居住地代碼</td>
                        <td style="width:40%;background-color:rgb(133, 165, 204)">居住地名稱</td>
                    </tr>
                    @if (dt != null && dt.Rows.Count > 0)
                    {
                        foreach (DataRow r in dt.Rows)
                        {
                            <tr>
                                <td style="width:20%;">
                                    <input type="radio" name="Result" value="@r["AREA_CODE"]★@r["AREA_NAME"]" />
                                </td>
                                <td style="width:40%;">
                                    @r["AREA_CODE"].ToString()
                                </td>
                                <td style="width:40%;">
                                    @r["AREA_NAME"].ToString()
                                </td>
                            </tr>
                        }
                    }
                </table>
            </fieldset>
        </div>
    </div>
</form>

<script type="text/javascript">
    function set_for_rb(rb_name, dvalue) {
        if (dvalue != 'undefined') {
            var rb = document.getElementsByName(rb_name);
            for (var i = 0; i < rb.length; i++) {
                if (rb[i].value == dvalue)
                    $(rb[i]).click();
            }
        }
    }

    function set_for_ck(ck_name, val) {
        if (val != '') {
            var default_val = val.split(",");
            var ck = document.getElementsByName(ck_name);
            for (var i = 0; i < default_val.length; i++) {
                for (var j = 0; j < ck.length; j++) {
                    if (default_val[i] == ck[j].value)
                        $(ck[j]).click();
                }
            }
        }
    }

    function getValue() {
        var v = $('input[name=Result]:checked').val().split('★')
        window.opener.document.getElementById("TXT_" + "@name").value = v[0].toString();
        window.opener.document.getElementById("TXT_" + "@name" + "C").value = v[1].toString();
        window.close();
    }

</script>