@using System.Data;
<script type="text/javascript" src="~/Scripts/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
    function CarryData() {     
        var OptionVal = $('input[name=ChkVOption]:checked').map(function () {
            return $(this).val();
        }).get().join('，');
        window.opener.document.getElementById('@(ViewBag.checkValue)').value = OptionVal;
        window.close();
    }
</script>
@{
    DataTable SVODt = ViewBag.SVODt;
    if (SVODt != null && SVODt.Rows.Count > 0)
    {
        <input type="button" value="帶入" onclick="CarryData();" />
        <input type="button" value="取消" onclick="window.close();" />
        <hr />
        for (int j = 0; j < SVODt.Rows.Count; j++)
        {
            <span style="font-weight: bold; color: #551100;">@(SVODt.Rows[j]["TITLE"].ToString().Trim())</span>@:&nbsp;&nbsp;
            <table>
                @{string[] ItemArray = SVODt.Rows[j]["ITEM"].ToString().Trim().Split('|');}
                @if (ItemArray != null && ItemArray.Length > 0)
                {
                    for (int i = 0; i < ItemArray.Length; i++)
                    {
                        <tr>
                            <td valign="top">
                                <input id="@("ChkVOption_" + j.ToString() + i.ToString())" name="ChkVOption" type="checkbox" value="@(ItemArray[i])" />
                            </td>
                            <td>
                                <label for="@("ChkVOption_" + j.ToString() + i.ToString())">
                                    @(ItemArray[i])
                                </label>
                            </td>
                        </tr>
                    }
                }
            </table>
            <hr />
        }
        <input type="button" value="帶入" onclick="CarryData();" />
        <input type="button" value="取消" onclick="window.close();" />
    }
    else
    {
        @:尚無處置設定資料!
    }
}