@{
    ViewBag.Title = "SkinTouch";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    bool isKardex = ViewBag.Kardex;
}
@using System.Data;
@{
    DataTable dt_sk = ViewBag.dt_sk;
}
<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />
<script>
    function update_end(iid) {
        new_window.push(window.open('Insert_SkinTouch?IID=' + iid + "&Type=close", '', 'menubar=no,status=no,scrollbars=yes,top=10,left=25,toolbar=no,width=950,height=650'));
    }

    function Del_SkinTouch() {
        $.ajax({
            url: 'Del_SkinTouch',
            type: 'post',
            dataType: 'json',
            data: $('form').serialize(),
            success: function (data) {
                alert(data);
                window.location.href = 'Roomin_List?mode=1';
            },
            failure: function (errMsg) {
                alert('刪除失敗');
                window.location.href = 'Roomin_List?mode=1';
            }
        });
    }
</script>
@if (isKardex == false)
{
    <div class="funcArea" style="text-align:center">
        <input type="button" value="新增" onclick="window.open('Insert_SkinTouch', '', 'menubar=no,status=no,scrollbars=yes,top=10,left=25,toolbar=no,width=950,height=650')">
        <input type="button" value="修改" onclick="set_row('Insert_SkinTouch', '皮膚接觸', 'SkinTouch_List');">
        <input type="button" value="刪除" style="width:50px;" onclick="if ($('input[name=S_IID][type=checkbox]:checked').length > 0) { if (confirm('確認刪除?')) { Del_SkinTouch(); } } else { alert('請選擇紀錄!'); }" />
    </div>
}
<div class="funcArea">
    <form action="Del_SkinTouch" method="post">
        <table border="0" cellspacing="0" cellpadding="0" style="width:100%;table-layout:fixed">
            <tr>
                <td>
                    <div class="dataHeader">
                        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                            <tr>
                                <td style="width:3%">選取</td>
                                <td style="width:5%">結<br />案</td>
                                <td style="width:10%">開始日期/時間</td>
                                <td style="width:10%">結束日期/時間</td>
                                <td style="width:10%">接觸時間</td>
                                <td style="width:25%">結束原因</td>
                                <td style="width:8%">母親病歷號</td>
                                <td style="width:8%">新生兒病歷號</td>
                                <td style="width:3%">胎序</td>
                                <td style="width:10%">地點</td>
                                <td style="width:4%">接觸對象</td>
                                <td style="width:4%">紀錄者</td>
                            </tr>
                        </table>
                    </div>
                    <div class="dataArea" style="height:190px;">
                        @if (dt_sk != null)
                        {
                            var i = -1;
                            <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
                                @foreach (DataRow r in dt_sk.Rows)
                                {
                                    i = i + 1;
                                    <tr>
                                        <td style="width:3%;text-align:center;vertical-align:central">
                                            <input type="checkbox" name="S_IID" class="SkinTouch_List" value="@r["IID"]" />
                                        </td>
                                        <td style="width:5%;text-align:center;vertical-align:central">
                                            @if (r["END_TIME"].ToString() == "")
                                            {
                                                <input type="button" value="結案" onclick="update_end('@r["IID"]')">
                                            }
                                        </td>
                                        @if (r["START_TIME"].ToString() != "")
                                        {
                                            <td style="width:10%;">@Convert.ToDateTime(r["START_TIME"]).ToString("yyyy/MM/dd HH:mm")</td>
                                        }
                                        else
                                        {
                                            <td style="width:10%;"></td>
                                        }
                                        @if (r["END_TIME"].ToString() != "")
                                        {
                                            <td style="width:10%;">@Convert.ToDateTime(r["END_TIME"]).ToString("yyyy/MM/dd HH:mm")</td>
                                        }
                                        else
                                        {
                                            <td style="width:10%;"></td>
                                        }
                                        @if (r["START_TIME"].ToString() != "" && r["END_TIME"].ToString() != "")
                                        {
                                            var Time = Convert.ToDateTime(r["END_TIME"]).Subtract(Convert.ToDateTime(r["START_TIME"].ToString()));
                                            var TimeDiff = String.Format("{0}{1}{2}", (Time.Days == 0 ? "" : String.Format("{0}天", Time.Days)), (Time.Hours == 0 ? "" : String.Format("{0}時", Time.Hours)), (Time.Minutes == 0 ? "" : String.Format("{0}分鐘", Time.Minutes)));
                                            <td style="width:10%;">@TimeDiff</td>
                                        }
                                        else
                                        {
                                            <td style="width:10%;"></td>
                                        }
                                        @{
                                            var result = new List<string>();
                                            if (r["END_RS_CT"].ToString() != "" && r["END_RS_CT"].ToString().Length == 9)
                                            {
                                                var data = r["END_RS_CT"].ToString();
                                                if (data[0] == '1')
                                                {
                                                    result.Add("生命徵象不穩定");
                                                }
                                                if (data[1] == '1')
                                                {
                                                    result.Add("嘔吐");
                                                }
                                                if (data[2] == '1')
                                                {
                                                    result.Add("發燒");
                                                }
                                                if (data[3] == '1')
                                                {
                                                    result.Add("傷口疼痛");
                                                }
                                                if (data[4] == '1')
                                                {
                                                    result.Add("有精神疾患");
                                                }
                                                if (data[5] == '1')
                                                {
                                                    result.Add("拒絕");
                                                }
                                                if (data[6] == '1')
                                                {
                                                    result.Add("疲憊");
                                                }
                                                if (data[7] == '1')
                                                {
                                                    var d = "其他";
                                                    if (r["END_RS_CT_OTH"].ToString() != "")
                                                    {
                                                        d += "-" + r["END_RS_CT_OTH"].ToString();
                                                    }
                                                    result.Add(d);
                                                }
                                                if (data[8] == '1')
                                                {
                                                    result.Add("返病房");
                                                }
                                            }
                                            if (r["END_RS_NB"].ToString() != "" && r["END_RS_NB"].ToString().Length == 5)
                                            {
                                                var data = r["END_RS_NB"].ToString();
                                                if (data[0] == '1')
                                                {
                                                    result.Add("生命徵象不穩定");
                                                }
                                                if (data[1] == '1')
                                                {
                                                    result.Add("早產");
                                                }
                                                if (data[2] == '1')
                                                {
                                                    result.Add("低血糖");
                                                }
                                                if (data[3] == '1')
                                                {
                                                    var d = "其他";
                                                    if (r["END_RS_NB_OTH"].ToString() != "")
                                                    {
                                                        d += "-" + r["END_RS_NB_OTH"].ToString();
                                                    }
                                                    result.Add(d);
                                                }
                                                if (data[4] == '1')
                                                {
                                                    result.Add("返嬰兒室");
                                                }
                                            }
                                            <td style="width:25%;text-align:left !important">@Html.Raw(String.Join("<br/>", result)) </td>
                                        }
                                        @if (r["PAT_FEENO"].ToString() != "")
                                        {
                                            <td style="width:8%;">@r["PAT_FEENO"]</td>
                                        }
                                        else
                                        {
                                            <td style="width:8%;"></td>
                                        }
                                        @if (r["NB_CHARTNO"].ToString() != "")
                                        {
                                            <td style="width:8%;">@r["NB_CHARTNO"]</td>
                                        }
                                        else
                                        {
                                            <td style="width:8%;"></td>
                                        }
                                        @if (r["SEQ_OF_NB"].ToString() != "")
                                        {
                                            <td style="width:3%;">@r["SEQ_OF_NB"]</td>
                                        }
                                        else
                                        {
                                            <td style="width:3%;"></td>
                                        }
                                        @if (r["LOCATION"].ToString() != "")
                                        {
                                            var LOCATION = r["LOCATION"].ToString();
                                            if (LOCATION == "0")
                                            {
                                                <td style="width:10%">產房</td>
                                            }
                                            else if (LOCATION == "1")
                                            {
                                                <td style="width:10%">開刀房</td>
                                            }
                                            else if (LOCATION == "2")
                                            {
                                                <td style="width:10%">恢復室</td>
                                            }
                                            else if (LOCATION == "3")
                                            {
                                                <td style="width:10%">嬰兒室</td>
                                            }
                                            else if (LOCATION == "4")
                                            {
                                                <td style="width:10%">產後病房</td>
                                            }
                                            else if (LOCATION == "5")
                                            {
                                                <td style="width:10%">兒科中重度病房</td>
                                            }
                                            else if (LOCATION == "6")
                                            {
                                                <td style="width:10%">兒科加護病房</td>
                                            }
                                            else if (LOCATION == "7")
                                            {
                                                <td style="width:10%">@r["LOCA_OTH"].ToString()</td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:10%"></td>
                                        }
                                        @if (r["WHO"].ToString() != "")
                                        {
                                            var WHO = r["WHO"].ToString();
                                            if (WHO == "0")
                                            {
                                                <td style="width:4%">母親</td>
                                            }
                                            else if (WHO == "1")
                                            {
                                                <td style="width:4%">父親</td>
                                            }
                                            else
                                            {
                                                <td style="width:4%"></td>
                                            }
                                        }
                                        else
                                        {
                                            <td style="width:4%"></td>
                                        }
                                        <td style="width:4%">@r["UPDNO_NAME"]</td>
                                    </tr>
                                }
                            </table>
                        }
                    </div>
                </td>
            </tr>
        </table>
    </form>
</div>
