@{
    ViewBag.Title = "SameBedroom";
    Layout = "~/Views/Layout/FormLayout.cshtml";
}
<link href="~/Content/StyleSheet/BabySystem.css" rel="stylesheet" />

<div class="funcArea">
    <div class="firstDiv" style="padding:10px">
        <fieldset class="fieBlue">
            <div style="width:100%;text-align:center;">
                <input type="button" value="確定" />
                <input type="button" value="取消" onclick="if (confirm('確認取消?')) window.close();"/>
            </div>
        </fieldset>
        <fieldset class="fieGray" style="height:400px;overflow:auto">
            <table border="0" style="width:100%;text-align:center;height:350px; overflow:auto">
                <tbody>
                    <tr>
                        <td rowspan="8">
                            <img src="~/Content/Addimage/SkinTouch_Blue.png" />
                        </td>
                    </tr>
                    <tr>
                        <td>母親手圈</td>
                        <td>
                            <input value="BARCODE" />
                            <img src="~/Content/Addimage/QRcode.png" />
                        </td>
                    </tr>
                    <tr>
                        <td>新生兒手圈</td>
                        <td>
                            <input value="BARCODE" />
                            <img src="~/Content/Addimage/QRcode.png" />
                        </td>
                    </tr>
                    <tr>
                        <td>地點</td>
                        <td>
                            <div>
                                <label>
                                    <input type="radio" name="rb_Position" value="1" onclick="$('.position_other').fadeOut();" />產房
                                </label>
                                <label>
                                    <input type="radio" name="rb_Position" value="2" onclick=" $('.position_other').fadeOut(); " />開刀房
                                </label>
                                <label>
                                    <input type="radio" name="rb_Position" value="3" onclick=" $('.position_other').fadeOut(); " />恢復室
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="radio" name="rb_Position" value="4" onclick=" $('.position_other').fadeOut(); " />嬰兒室
                                </label>
                                <label>
                                    <input type="radio" name="rb_Position" value="5" onclick=" $('.position_other').fadeOut(); " />產後病房
                                </label>
                                <label>
                                    <input type="radio" name="rb_Position" value="6" onclick=" $('.position_other').fadeOut(); " />兒科中重度病房
                                </label>
                            </div>
                            <div>
                                <label>
                                    <input type="radio" name="rb_Position" value="6" onclick=" $('.position_other').fadeOut(); " />兒科加護病房
                                </label>
                                <label><input type="radio" name="rb_Position" value="99" onclick=" $('.position_other').fadeIn(500);" />其他</label>
                                <span class="position_other" style="display:none">
                                    @Html.TextBox("txt_position_other", "", new { style = "width:200px" })
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>對象</td>
                        <td>@VitalSign_Helper.assess_radio("rb_parent", "母親|父親", "", "")</td>
                    </tr>
                    <tr>
                        <td>開始時間</td>
                        <td>
                            @Html.TextBox("txt_sday", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                            @Html.TextBox("txt_stime", DateTime.Now.ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                            @WebTool.setDateTime("txt_sday", "txt_stime")
                        </td>
                    </tr>
                    <tr>
                        <td>結束時間</td>
                        <td>
                            @Html.TextBox("txt_eday", DateTime.Now.ToString("yyyy/MM/dd"), new { style = "width:80px", @readonly = "readonly" })
                            @Html.TextBox("txt_etime", DateTime.Now.ToString("HH:mm"), new { style = "width:50px", @readonly = "readonly" })
                            @WebTool.setDateTime("txt_eday", "txt_etime")
                        </td>
                    </tr>
                    <tr>
                        <td>
                            結束原因
                        </td>
                        <td id="sameinput" style="text-align:left">
                            <table>
                                <tr>
                                    <td>
                                        <div>
                                            <input type="checkbox" id="MotherReason_none" name="MotherReason_none" value="接觸人原因" onclick="if($('#MotherReason_none').prop('checked'))$('.span_mother_reason_none').fadeIn(500);else div_hidden('span_mother_reason_none');" />接觸人原因
                                            <div class="span_mother_reason_none" style="display:none;padding-left:14px">
                                                @VitalSign_Helper.assess_checkbox("ck_mother_reason_none", "1.生命徵象不穩定|2.嘔吐|3.發燒", "", "")<br />
                                                @VitalSign_Helper.assess_checkbox("ck_mother_reason_none", "4.傷口疼痛|5.有精神疾患|6.拒絕|7.疲憊", "", "")<br />
                                                @VitalSign_Helper.assess_checkbox("ck_mother_reason_none", "8.其他", "8.其他", "span_mother_reason_none_other")
                                                <span class="span_mother_reason_none_other" style="display:none;">
                                                    ，@Html.TextBox("txt_span_mother_reason_none_other", "", new { style = "width:60px" })
                                                </span>
                                            </div>
                                            <br />
                                            <input type="checkbox" id="ChildReason_none" name="ChildReason_none" value="新生兒原因" onclick="if($('#ChildReason_none').prop('checked'))$('.span_child_reason_none').fadeIn(500);else div_hidden('span_child_reason_none');" />新生兒原因
                                            <div class="span_child_reason_none" style="display:none;">
                                                @VitalSign_Helper.assess_checkbox("ck_child_reason_none", "9.生命徵象不穩定|10.早產", "", "")
                                                <br />
                                                @VitalSign_Helper.assess_checkbox("ck_child_reason_none", "11.低血糖|12.其他", "12.其他", "span_child_reason_none_other")
                                                <span class="span_child_reason_none_other" style="display:none;">
                                                    ，@Html.TextBox("txt_span_child_reason_none_other", "", new { style = "width:60px" })
                                                </span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>

<script>
    $(".ck_Reason16").click(function () {
        if ($('.ck_Reason16').is(':checked'))
            $(".txt_Reason16").fadeIn()
        else
            $(".txt_Reason16").fadeOut()
    });
    $(".ck_Reason22").click(function () {
        if ($('.ck_Reason22').is(':checked'))
            $(".txt_Reason22").fadeIn()
        else
            $(".txt_Reason22").fadeOut()
    });
</script>
