@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string is_category = ViewBag.category;
    string url= ViewBag.url;
}

<style type="text/css">
    /*style the main menu*/
    .myMenu {
        margin: 0;
        padding: 0;
        font-family: 微軟正黑體;
    }

        .myMenu li {
            list-style: none;
            float: left;
            width: 200px;
            white-space: nowrap;
        }

        .myMenu img {
            border: none;
            padding-left: 5px;
            padding-bottom: 5px;
            vertical-align: bottom;
        }

        .myMenu span {
            display: inline-block;
        }

            .myMenu li a:link, .myMenu li a:visited {
                display: block;
                height: 18px;
                text-decoration: none;
                background-color: #DDDDDD;
                padding: 6px 3px;
                font-size: 16px;
                text-align: center;
                margin: 0;
                border-right: 1px solid #fff;
                color: #111;
                cursor: default;
            }

        .myMenu li a[data-url] {
            cursor: pointer;
            text-align: left;
        }

            .myMenu li[class=lineone] > a:hover {
                background-color: #ABC8E2;
                background-image: url('../Images/underline_hl.png');
                background-repeat: repeat-x;
                background-position: bottom;
            }

            /*style the sub menu*/
            .myMenu li ul {
                position: absolute;
                visibility: hidden;
                border-top: 1px solid #fff;
                margin: 0;
                padding: 0;
            }

                .myMenu li ul li {
                    display: inline;
                    float: none;
                }

                    .myMenu li ul li a:link, .myMenu li ul li a:visited {
                        background-color: #DDDDDD;
                        width: 200px;
                        padding-left: 10px;
                    }

                    .myMenu li ul li a:hover {
                        background-color: #AAEEAA;
                        background-image: url('../Images/underline_hl.png');
                        background-repeat: repeat-x;
                        background-position: bottom;
                    }

    #workspace {
        position: absolute;
        height: 88%;
        top: 40px;
        overflow: hidden;
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        close_pup_window();     
        if ($("#url").val()!= "B")
        {
            ResetIframme($("#submenu").find("a[data-default=D]").attr("data-url"));
        }
        else
        {
            ResetIframme($("#submenu").find("a[data-default=B]").attr("data-url"));
        }
            // Menu 用
            $('.myMenu > li').bind('mouseover', function (event) {
                event.stopPropagation();
                $(this).find('ul').css('visibility', 'visible');
            }).bind('mouseout', function (event) {
                event.stopPropagation();
                $(this).find('ul').css('visibility', 'hidden')
            });

        $("#submenu").find("a[data-url]").click(function (event) {
            event.stopPropagation();
            ResetIframme($(this).attr("data-url"));
        });
    });

    function ResetIframme(url) {
        loop_windows("open_cover");
        $("#workspace").empty().hide().attr("src", url).load(function () {
            $(this).fadeIn(500);
            loop_windows("close_cover");
        });
    }

</script>

<iframe id="workspace" style="width:96%;height:100%" frameborder="0" scrolling="no">
</iframe>

<div id="submenu">
    <ul class="myMenu">
        <li class="lineone">
            <a href="#">
                <input  type="hidden" id="url" value="@url"/>
                <span>給藥紀錄</span>
            </a>
            <ul>
                <li><a href="#" data-url="@Url.Content("~/CommonMedication/Medication_NurseExecute")" data-default="D">執行給藥紀錄</a></li>
                <li><a href="#" data-url="@Url.Content("~/CommonMedication/Med_QueryExecLog?TypeFlag=all&ExecFlag=new")">查詢給藥紀錄</a></li>
                <li><a href="#" data-url="@Url.Content("~/CommonMedication/Med_Cancel")">取消給藥紀錄</a></li>
            </ul>
        </li>
        <li class="lineone">
            <a href="#">
                <span>血糖/胰島素</span>
            </a>
            <ul>
                <li><a href="#" data-url="@Url.Content("~/BloodSugarAndInsulin/BloodSugar_List")" data-default="B">血糖監測(測量/查詢/修改)</a></li>
                <li><a href="#" data-url="@Url.Content("~/bloodsugarandinsulin/BSugarInsulin_List2")">血糖/胰島素查詢</a></li>
                <li><a href="#" data-url="@Url.Content("~/BloodSugarAndInsulin/BloodSugar_List")" onclick="@Java_funcion.pup_window(Url.Content("~/SpecialMedicine/Set_reject"), 900, 600, "")">禁忌拒打設定與修改</a></li>
            </ul>
        </li>
    </ul>
</div>