@using System.Data;
@{
    ViewBag.Title = "給藥確認-登入";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string checkname = ViewBag.checkname;
    string gs_id = ViewBag.id;
}
<style type="text/css">

fieldset {
    border:0;
    padding:10px;
    margin-bottom:10px;
    background:#EEE;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background:-webkit-liner-gradient(top,#EEEEEE,#FFFFFF);
    background:linear-gradient(top,#EFEFEF,#FFFFFF);
    box-shadow:3px 3px 10px #666;
    -moz-box-shadow:3px 3px 10px #666;
    -webkit-box-shadow:3px 3px 10px #666;
    position:relative;
    }
legend {
    padding:5px 10px;
    background-color:#4F709F;
    color:#FFF;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    box-shadow:2px 2px 4px #666;
    -moz-box-shadow:2px 2px 4px #666;
    -webkit-box-shadow:2px 2px 4px #666;
    position:absolute;
    left:10px;top:-11px;
    }

</style>

<form method="post" action="Login">
<table border="0" cellpadding="0" cellspacing="0" style="width:100%; padding:8px 7px 2px 4px;">
    <tr>
        <td>
            <fieldset style="width:300px;">
                <legend>身分確認</legend>
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;padding:18px 7px 10px 4px;">
                    <tr>
                        <td>
                            @Html.Label("txtid","帳號")
                            @Html.TextBox("txtid", "", new { style = "width:160px;", tabindex="1" })
                            @Html.TextBox("id", @gs_id, new {style = "display:none;", @readonly = "readonly" })
                        </td>
                        <td rowspan="2">
                          @*  <input type="button" value="確認" class="btn_m" onclick="opener.window.location.href = 'Check'; window.close();" />*@
                           <input type="button" value="確認" class="btn_m" onclick="submit();" tabindex="3" />
                           <input type="hidden" id="name" value="@checkname" />
                          @if (@checkname == null)
                          {
                            <script type="text/javascript">
                              $(function () {
                                  alert("帳號或密碼錯誤。");
                              });
                             </script> }
                          else if (@checkname != "Z")
                          { <script type="text/javascript">
                                $(function () {
                                    opener.fatherHello("@checkname", "@gs_id");
                                     window.close();
                                 });
                                 </script>
                          }
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:5px 0 5px 0;">
                            @Html.Label("txtpwd", "密碼")
                            @Html.Password("txtpwd", "", new { style="width:160px;", tabindex="2"})
                        </td>
                    </tr>
                </table>
            </fieldset>
        </td>
    </tr>
</table>
</form>