@using NIS.Data;
@using System.Data;
@{
    //ViewBag.Title = "MedInfo
    Layout = "~/Views/Layout/FormLayout.cshtml";
    string id = ViewBag.id;
    bool result = true; // ViewBag.result;
    DataTable dt_med = ViewBag.dt_med;
    
}
<script type="text/javascript">
    var x = 22;
    var y = 20;
    $(document).ready(function () {
        $("img").hover(
            function () { $(this).animate({ width: 400, marginTop: 0, marginLeft: 0 }, 300); },
            function () { $(this).animate({ width: 200, marginTop: 0, marginLeft: 0 }, 200); }
            );
        this.focus();
    });

    function ClickOK() {
        var str1 = "",str2="";
        $("input[id='MedList']").each(function (i) {
            str1 += $(this).val() + ",";
            str2 = $(this).attr("time");
        })
        str1 = str2.substr(0, 4) + "/" + str2.substr(4, 2) + "/" + str2.substr(6, 2) + "," + str2.substr(8, 2) + ":" + str2.substr(10, 2) + "," + str1.substr(0, str1.length - 1);
        opener.CancelBarcode(str1);
    }
</script>

<style type="text/css">
    form {
        font-size: 12px;
        font-family: 微軟正黑體;
    }
    th {
        background: #99CCFF;
        text-align: center;
        vertical-align: middle;
    }
    td {
        background-color:#DDDDFF;
        text-align: left;
    }
    .tdupd {
        background-color:pink;
    }
    .l_old {
        color:black;
    }
    .l_new {
        color:red;
        background:yellow;
        font-weight:bold;
    }
</style>
    
@if (@result == false ) 
{
    <script type="text/javascript">
        $(function () {
            alert("條碼錯誤");
            window.close();
        });
    </script>                                                                  
}
<div>
<input type="button" value="確定" style="font-size:20pt;height:50px;width:100px;" onclick="ClickOK(); window.close();" />
<input type="button" value="取消" style="font-size:20pt;height:50px;width:100px;" onclick="window.close();" />
<label style="font-size:16pt;">給藥時間：@ViewBag.drug_date</label></div>
<table border='0' style='width:100%' id='MedInfo'>
<tr>
    <th style='width:200px'>藥品圖片</th>
    <th>藥品資訊</th>
    <th style='width:200px'>藥品圖片</th>
    <th>藥品資訊</th>
</tr>

    @{ var i = 0;
      <tr style='text-align:left; vertical-align:top;'> 
      @foreach (DataRow dt in dt_med.Rows)
      {
          i++;
          <td style="width:200px">
            <img src='@dt["DrugPicPath"]' width='200px'/>
          </td>
          if (dt["FLAG"] == "N")
          {
            <td style="font-size:12px;">
                藥品名稱： @dt["DrugName"]<br />
                劑量： @dt["UD_DOSE_O"] @dt["UD_UNIT_O"]<br />
               <!--  目前 BCMA_BCPRINT 及 Drug_execute 均無途徑資料 途徑：  <br /> -->
                頻次： @dt["UD_CIR_O"]<br /><hr style="width:100px"/>
                作用： @dt["DrugEffects"] <br />
                副作用：@dt["DrugSideEffects"]
                <input type="hidden" id="MedList" value="@dt["UD_SEQ"]" time="@dt["DRUGTIME"]"/>
            </td>
          }
          else
          {
           <td style="font-size:12px;" class="tdupd">
               @if(dt["FLAG"] == "DC")
                { 
                   <label style="color:red;font-weight:bold;background:yellow;font:larger">此藥物已被DC</label><br />
               }
               else
               {
                   <input type="hidden" id="MedList" value="@dt["UD_SEQ"]" time="@dt["DRUGTIME"]"/>
               }
                藥品名稱： @dt["DrugName"]<br /> 劑量：
                @if (dt["UD_DOSE"] == dt["UD_DOSE_O"] || dt["UD_DOSE"].ToString() == "")
                 { 
                    <label class="l_old">@dt["UD_DOSE_O"]</label>
                    <input type="hidden" id="udseq" value="@dt["UD_SEQ_O"]" />
                 }
                 else
                 {
                    <label class="l_new">@dt["UD_DOSE"]</label>
                    <input type="hidden" id="udseq" value="@dt["UD_SEQ"]" />
                 }
                @if (dt["UD_UNIT"] == dt["UD_UNIT_O"] || dt["UD_UNIT"].ToString() == "")
                 {
                    <label class="l_old">@dt["UD_UNIT_O"]</label>
                 }
                 else
                 {
                    <label class="l_new">@dt["UD_UNIT"]</label>
                 }

                <br />頻次：
                @if (dt["UD_CIR"] == dt["UD_CIR_O"] || dt["UD_CIR"].ToString() =="")
                { <label class="l_old">@dt["UD_CIR_O"]</label>}
                else{<label class="l_new">@dt["UD_CIR"]</label>}
                <br />
                <hr style="width:90%"/>
                作用： @dt["DrugEffects"] <br />
                副作用：@dt["DrugSideEffects"]
               
            </td>
          }
            if (i % 2 == 0)
            { @:</tr><tr style='text-align:left; vertical-align:top;'> 
              }
      }
       </tr>     
    }
</table>