@using NIS.Data;
@using System.Data;
@{
    ViewBag.Title = "Med_Cancel";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    DataView dt_all = ViewBag.dt_all;
    string feeno = ViewBag.feeno;
    string user_id = ViewBag.user_id;
    string start_date, start_time, end_date, end_time;
    var i = 0;
    if (ViewBag.start_date == null && ViewBag.end_date == null)
    {
        start_date = DateTime.Now.AddHours(-8).ToString("yyyy/MM/dd");
        start_time = DateTime.Now.AddHours(-8).ToString("HH:mm");
        end_date = DateTime.Now.AddHours(1).ToString("d");
        end_time = DateTime.Now.AddHours(1).ToString("HH:mm");
    }
    else
    {
        start_date = ViewBag.start_date;
        start_time = ViewBag.start_time;
        end_date = ViewBag.end_date;
        end_time = ViewBag.end_time;
    }
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}
<script type="text/javascript">
    $(document).ready(function () {
        @{
            if (Request["message"] != null)
            {
                @Html.Raw("showHint(\"" + Request["message"].ToString() + "\");")
            }
        }
    });
    function checkbox(i) {
        if (document.getElementById('ck_' + i).checked == true) {
            $("#ordstatus_" + i).val("0");
        }
        else {
            $('#ordstatus_' + i).val("1");
        }
    }
    function check_point() {
        var pass = false;
        $("#execflag").val("save");
        $(".MedListALL").find("input[type=checkbox]:checked").each(function (i) {
            pass = true;
        })
        if (pass == true)
        {
            return true;
        }
        else
        {
            alert("未勾選需取消的時間點")
            return false;
        }
        
    }
    function set_execflag(flag) {
        $("#execflag").val(flag);
        return true;
    }
</script>
<style type="text/css">
    table {
        font-size:14px;
    }
    th {
        background: #99CCFF;
        text-align: center;
        vertical-align: middle;
    }
    td {
        text-align: center;
        vertical-align: middle;
        color: #333311;
    }
    .trhead { background: #EEE9BF; }
    .trbody { 
        background: #F5F5F5;
        font-size: 14px;
        height:30px;
    }
    .popup {
        position: absolute;
        border: 1px;
        background-color:#DDDDFF;
        padding: 15px;
        width: auto;
        height: 350px;
        display: none;
        z-index: 99;
    }
    .mname {
        color: blue;
        font-weight: bold;
    }
    .mname1 {
        color: red;
        font-weight: bold;
    }
    .sname {
        color: #600c0c;
        font-style: italic;
    }
    .button_note {
        margin-left: 0px;
        height: 20px;
        text-align: center;
        width: auto;
    }
    .medbook {cursor: pointer;}
    .tabsapce { padding:2px;}
    .udcmd {
        background:#EEE9BF;
        text-align:left;
        font-size:12px;
        color:red;
    }
    #spanA{
        display: inline-block;
        width: 200px;
        line-height: 24px;
        margin-top: 0px;
        background-color: #F5F5F5;
        border: 0px solid #cc33ff;
        font-weight:bold;
    }
    #sys_Block {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1000;
    background-color: #666;
    /* other browsers */
    opacity: 0.65;
    /* this works in IE6, IE7, and IE8 */
    filter: alpha(opacity=65);
    /* this works in IE8 only */
    display: none;
    }
    #sys_Loading {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 200px;
    margin-top: -25px;
    margin-left: -100px;
    _position: absolute;
    color: #040FD9;
    font-weight: bold;
    z-index: 1001;
    display: none;
    }
</style>
<form method="post" action="Med_Cancel" style="font-size:14px">
    <div class="funcArea">
        <input id="execflag" type="hidden" value="" name="execflag" />執行給藥時間：
        @Html.TextBox("start_date", @start_date, new { style = "width:70px;", @readonly = "readonly" })
        @*@Html.TextBox("start_time", @start_time, new { style = "width:40px;", @readonly = "readonly" })*@
        @*@WebTool.setDateTime("start_date", "start_time")*@
        @*@WebTool.setDateTime("start_date")*@
        @WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "start_date", "", false)
        @Html.Label("lab", " ~ ")
        @Html.TextBox("end_date", @end_date, new { style = "width:70px;", @readonly = "readonly" })
        @*@Html.TextBox("end_time", @end_time, new { style = "width:40px;", @readonly = "readonly" })*@
        @*@WebTool.setDateTime("end_date", "end_time", "0", "0")*@
        @WebTool.setDateTime("end_date", "", "0", "0")
        @*@WebTool.complementList_Status(complement_List.Status, pf.InDate.ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "end_date", "", false)*@
        <input id="search" class="btn_m" type="button" value="查詢" onclick="if (set_execflag('C_quiryAll')) submit(); $('#sys_Block, #sys_Loading').show();" />&emsp;
        <input type="button" class="btn" value="取消給藥" name="val" onclick="if (check_point()) submit(); $('#sys_Block, #sys_Loading').show();" />
    </div>

    <div class="dataArea" style="height: 340px">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td>
                    <div class="MedListALL" id="div_MedExecList" name="MedListALL">
                        @if (dt_all != null && dt_all.Table.Rows.Count > 0)
                        {                             
                            <table border="0" cellpadding="5" cellspacing="1" width="100%">
                                <tr style="height: 30px;">
                                    <th>@Html.Label("lab", "醫　　囑")</th>
                                    <th>@Html.Label("lab", "使用劑量")</th>
                                    <th>@Html.Label("lab", "途徑")</th>
                                    <th>@Html.Label("lab", "頻次")</th>
                                    <th>@Html.Label("lab", "生效時間")</th>
                                    <th>@Html.Label("lab", "結束時間")</th>
                                </tr>
                                @foreach (DataRow r in dt_all.Table.Rows)
                                {
                                    var cls = "mname";
                                    if (@r["use_seq"].ToString().Trim() != "")//過濾掉DataTable結構化的第一行
                                    {
                                        string begin = string.Format("{0}/{1}/{2} {3}:{4}", r["BEGIN_DATE"].ToString().Trim().Substring(0, 3), r["BEGIN_DATE"].ToString().Trim().Substring(3, 2), r["BEGIN_DATE"].ToString().Trim().Substring(5, 2), r["BEGIN_TIME"].ToString().Trim().Substring(0, 2), r["BEGIN_TIME"].ToString().Trim().Substring(2, 2));
                                        string end = string.Format("{0}/{1}/{2} {3}:{4}", r["DC_DATE"].ToString().Trim().Substring(0, 3), r["DC_DATE"].ToString().Trim().Substring(3, 2), r["DC_DATE"].ToString().Trim().Substring(5, 2), r["DC_TIME"].ToString().Trim().Substring(0, 2), r["DC_TIME"].ToString().Trim().Substring(2, 2));
                                        System.Globalization.CultureInfo ToTWDay = new System.Globalization.CultureInfo("zh-TW");  //使用 1911 轉換民國及西元，會有閏年閏月問題  by wawa
                                        ToTWDay.DateTimeFormat.Calendar = new System.Globalization.TaiwanCalendar();
                                        string BEGIN_DAY = DateTime.Parse(begin, ToTWDay).ToString();
                                        string END_DAY = end != "000/00/00 00:00" ? DateTime.Parse(end, ToTWDay).ToString() : " ";
                                    <tr class="trhead">
                                        <td style="text-align: left;">
                                       @if (r["DoubleCheck"].ToString() == "Y")
                                       { cls = "mname1"; }
                                            @*<img src="~/Images/med_dictionary.png" class="medbook" border="0" onclick="MedicinalInfo('@r["MED_CODE"].ToString().Trim()','img');"/>*@
                                            <label class="@cls">@r["MED_DESC"].ToString().Trim()</label>
                                            <span style="font-style:italic;color:brown;">@(r["ALISE_DESC"].ToString().Trim())</span>
                                        </td>
                                        <td>@r["UD_DOSE"] @r["UD_UNIT"] </td>
                                        <td>@r["UD_PATH"]</td>
                                        <td>@r["UD_CIR"]</td>
                                        <td>@BEGIN_DAY</td>
                                        <td>@END_DAY</td>
                                    </tr>
                                       if (r["UD_CMD"].ToString().Trim() != "")
                                       {
                                      @: <tr style="background:#EEE9BF"><td colspan="6" class="udcmd">&emsp;醫囑備註：@(r["UD_CMD"].ToString().Trim()) @r["FLOW_SPEED"]</td></tr>
                                    }  
                                    <tr class="trbody">
                                        <td colspan="6">
                                        @{
                                       string[] use_time = r["use_time"].ToString().Split(',');
                                       string[] use_s = r["use_seq"].ToString().Split(',');
                                       string[] use_d = r["use_date"].ToString().Split(',');
                                       string[] exec_time = r["exec_time"].ToString().Split(',');
                                       string[] use_id = r["exec_id"].ToString().Split(',');
                                       string[] use_name = r["exec_name"].ToString().Split(',');
                                       string[] drug_date = r["drug_date"].ToString().Split(',');
                                       string[] insulin_site = r["insulin_site"].ToString().Split(',');
                                       int k = 0;
                                       string strMap = "";
                                       string IorU = "";
                                        <table border="0" width="100%">
                                            @foreach (string strDate in use_d)
                                            {
                                                if (strMap != strDate)
                                                {
                                                    strMap = strDate;
                                                    <tr>
                                                    <td width="15%" style="text-align:right;vertical-align:middle" >@use_d[k]&nbsp;</td>
                                                    <td width="85%" style="text-align:left;">
                                                        @foreach (string strDate2 in use_d)
                                                        {
                                                            if (strDate == strDate2)
                                                            {
                                                                <span id="spanA">
                                                                @if (user_id == use_id[k].ToString().Trim())
                                                                { <input type="checkbox" id ="ck_@i" index="@i" value ="@use_time[k]" name="@r["UD_SEQ"].ToString().Trim()" onchange="checkbox('@i')" />}
                                                                else
                                                                { <input type="checkbox" id ="ck_@i" index="@i" value ="@use_time[k]" name="@r["UD_SEQ"].ToString().Trim()" onchange="checkbox('@i')" disabled />}
                                                                    @if (use_s[k].ToString().Length > 16)
                                                                    { IorU = "U"; }
                                                                    else
                                                                    { IorU = "I"; }
                                                                <label for ="cka_@i" >@use_time[k] [@use_name[k] @exec_time[k]]</label>
                                                                <input type="hidden" value="@i"  name="data.Index"/> 
                                                                <input type="hidden" value="@use_s[k]"  name="data[@i].UD_SEQPK"/>
                                                                <input type="hidden" value="@r["UD_SEQ"]"  name="data[@i].UD_SEQ"/>
                                                                <input type="hidden" value="@use_name[k]" name="data[@i].DRUG_NAME"/> 
                                                                <input type="hidden" value="@exec_time[k]" name="data[@i].EXEC_NAME"/> 
                                                                <input type="hidden" value="@drug_date[k]" name="data[@i].DRUG_DATE"/>
                                                                <input type="hidden" value="@r["UD_CIR"]" name="data[@i].UD_CIR"/>
                                                                <input type="hidden" value="@use_id[k]" name="data[@i].EXEC_ID"/> 
                                                                <input type="hidden" value="@r["DRUG_TYPE"]"  name="data[@i].DRUG_TYPE"/>
                                                                <input type="hidden" value="@IorU"  name="data[@i].UPD_TYPE"/>
                                                                <input type="hidden" value="1" id="ordstatus_@i" name="data[@i].ORDSTATUS"/>
                                                                    @*<input type="hidden" value="@insulin_site[k]" name="data[@i].insulin_site" />*@
                                                                </span>
                                                                    k++;
                                                                    i++;
                                                            }
                                                        } 
                                                    </td></tr>
                                                }
                                            }
                                        </table>
                                            k = 0;
                                           }
                                        </td>
                                    </tr>
                                    }
                                }
                            </table>
                            <hr />}
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!--遮罩-->
    <div id="inp" class="dialog"></div>
    <div id="cover" class="dialog"></div>
    <div id="sys_Block"></div>
    <div id="sys_Loading">
        <label for="lab" style="font-size:16px">Loading...</label><br />
        <img src="~/Images/System/loading.gif" alt="" />
    </div>
</form>
