@{
    ViewBag.Title = "Med_PDF";
    Layout = "~/Views/Layout/FormLayout.cshtml";
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
}

<script type="text/javascript">
    $(document).ready(function () {
        //格行換色
        $('.dataArea1 tr:odd').css('background', '#ABC8E2');
        $('.dataArea1 tr:even').css('background', '#E1E6FA');

    });
</script>
<style type="text/css">
    th {
        background: #99CCFF;
        text-align: center;
        vertical-align: middle;
        font-size: 11pt;
        border-color: #135e96;
        border-style: solid;
    }

    .mtd{
        border-color: #135e96;
        border-style: solid;
    }
</style>
<table style="font-family: EUDC !important;">
    <tr>
        <td>
            <table border="0" style="width:100%;">
                <tr>
                    <td>病人姓名：@ptinof.PatientName</td>
                    @if (ptinof.Birthday != null)
                    {
                        <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                    }
                    else
                    {
                        <td>生日：</td>
                    }
                    <td>年齡：@ptinof.Age</td>
                    <td>病床號：@ptinof.BedNo</td>
                    <td>病歷號：@ptinof.ChartNo</td>
                </tr>
                <tr>
                    <td>科別：@ptinof.DeptName</td>
                    <td>主治醫師：@ptinof.DocName</td>
                    @if (ptinof.InDate != null)
                    {
                        <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                    }
                    else
                    {
                        <td>住院日期：</td>
                    }
                    <td>性別：@ptinof.PatientGender</td>
                    <td>診斷：@ptinof.ICD9_code1</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <div class="dataArea1">
                <input id="execflag" type="hidden" value="save" name="execflag" />
                <table border="1" cellpadding="2" cellspacing="0" style="width:100%">
                    <tr>
                        <th width="52%">醫&emsp;囑</th>
                        <th width="7%">使用劑量</th>
                        <th width="8%">途&emsp;徑</th>
                        <th width="8%">頻&emsp;次</th>
                        <th width="25%">執行時間[給藥時間]</th>
                    </tr>
                    <tr>
                        <td class="mtd">@ViewBag.meddesc</td>
                        <td class="mtd">@ViewBag.dose</td>
                        <td class="mtd">@ViewBag.path</td>
                        <td class="mtd">@ViewBag.cir</td>
                        <td class="mtd">@DateTime.Now.ToString("yyyy/MM/dd HH:mm:ss")</td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>