<!--修改給藥註記畫面-->
<!--** 在 未給予、延遲給藥原因、備註 任何一個有資料，即將帶入護理紀錄勾選-->
@*<span class="p_close">
    <img src="~/Images/Close.png" alt="關閉" onclick="CancelRemark();" />
</span>*@
@{ 
    //日期選擇器，鎖定時間
    NIS.Data.PatientInfo pf = (NIS.Data.PatientInfo)Session["PatInfo"];
    NIS.Data.Complement_List complement_List = (NIS.Data.Complement_List)Session["Complement_List"];
}

<table  style="border-style: solid; border-width: 2px; width: 100%; text-align:left">
    <tr id="Remarks">
        <td>
            <table>
                <tr id="PnUd0">
                    <td id="PnImg" rowspan="4" style="width: 120px; height: 120px; text-align: left; padding: 8px;">
                        <img id="ImgCurrentMed" style="width:100px;height:100px" />
                    </td>
                    <td style="text-align: left; padding: 8px;" colspan="2">
                        日期：
                        @Html.TextBox("TxtRemarkDate", DateTime.Now.ToString("yyyy/MM/dd"), new { @id = "TxtRemarkDate" })
                        @Html.TextBox("TxtRemarkTime", DateTime.Now.ToString("HH:mm"), new { @id = "TxtRemarkTime" })
                        @*@WebTool.setDateTime("TxtRemarkDate", "TxtRemarkTime", "", "", "", "2016/9/9", "")*@
                        @WebTool.complementList_Status(complement_List.Status, pf.InDate.AddDays(-1).ToString("MM/dd/yyyy HH:mm"), @DateTime.Now.ToString("yyyy/MM/dd"), "TxtRemarkDate", "TxtRemarkTime", false)
                    </td>
                </tr>
                <tr id="PnUd6">
                    <td colspan="2" style="text-align: left; padding: 8px;">
                        藥名：<span id="TxtMedInfoName_1" name="TxtMedInfoName_1"></span>&nbsp;<span style="font-style:italic;color:brown;"><span id="TxtMedInfoName_2" name="TxtMedInfoName_2"></span></span>&nbsp;(<span id="TxtMedInfoName_3" name="TxtMedInfoName_3"></span>)
                        <input type="hidden" id="HidTotalDose" name="HidTotalDose" />
                        <input type="hidden" id="HidUseDose" name="HidUseDose" />
                    </td>
                </tr>
                <tr id="PnUd7">
                    <td colspan="2" style="text-align: left; padding: 8px;">
                        劑量：<span id="TxtMedInfoDose_1" name="TxtMedInfoDose_1"></span>&nbsp;/&nbsp;<span id="TxtMedInfoDose_2" name="TxtMedInfoDose_2"></span>&nbsp;/&nbsp;<span id="TxtMedInfoDose_3" name="TxtMedInfoDose_3"></span>
                    </td>
                </tr>
                <tr id="PnUd1">
                    <td colspan="2" style="text-align: left; padding: 8px;">
                        醫囑備註：<span id="TxtOrder" name="TxtOrder"></span>
                    </td>
                </tr>
                <tr id="PnUd2">
                    <td style="text-align:left;padding:8px;">
                        此次給予劑量：
                    </td>
                    <td style="text-align: left; padding: 8px;">
                        <input type="hidden" id="check_Dose" name="check_Dose" />
                        <input type="text" id="TxtDose" name="TxtDose" onchange="this.value = this.value.replace('|', '')" onkeypress="this.value = this.value.replace('|', '')" /><span id="LblUnit"></span>&nbsp;
                        <div style="display:inline-block" id="PnNonDrug">
                            <label><input type="checkbox" id="CbNon" name="CbNon" onclick="SwitchReason(this); if ($(this).prop('checked')) $('#CbCare').prop('checked', 'true');" />未給予</label>&emsp;
                            <div id="PnReason" style="display:none;">
                                原因：
                                @*-----2016/07/27 Vanda*@
                                <select id="DdlReasonType" onchange="if ($(this).val() == '其他') { $('#spanReasonTypeElse').show();  } else { $('#spanReasonTypeElse').hide(); $('#TxtReasonTypeElse').val('') }">
                                    <option value="">選擇原因</option>
                                    <option value="外出">外出</option>
                                    <option value="檢查">檢查</option>
                                    <option value="手術">手術</option>
                                    <option value="依醫囑DC">依醫囑DC</option>
                                    <option value="病人拒服">病人拒服</option>
                                    <option value="洗腎">洗腎</option>
                                    <option value="禁食">禁食</option>
                                    <option value="復健治療">復健治療</option>
                                    <option value="其他">其他</option>
                                </select>
                                @*-----*@
                                <span id="spanReasonTypeElse" style="display:none">
                                    <input type="text" id="TxtReasonTypeElse" name="TxtReasonTypeElse" />
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr id="PnUd3">
                    <td style="text-align:left;padding:8px;">
                        延遲給藥原因：
                        <label style="color:blue">（補登免填）</label>
                    </td>
                    <td style="text-align: left; padding: 8px;">@*延遲給藥的下拉選單項目是要再資料庫新增*@
                        @Html.DropDownList("DdlLateReason", (List<SelectListItem>)ViewData["late_reason"], "選擇原因", new { @id = "DdlLateReason", @onchange = "if($(this).val()!='選擇原因')$('#CbCare').prop('checked', 'true');if ($(this).val() == '其他') { $('#spanLateReasonElse').show();  } else { $('#spanLateReasonElse').hide(); $('#TxtLateReasonElse').val('') }" })
                        <span id="spanLateReasonElse" style="display:none">
                            <input type="text" id="TxtLateReasonElse" name="TxtLateReasonElse" />
                        </span>
                    </td>
                </tr>
                <tr id="PnUd5">
                    <td style="text-align:left;padding:8px;">
                        提早給藥原因：
                    </td>
                    <td style="text-align: left; padding: 8px;">
                        <select id="DdlEarlyReason" name="DdlEarlyReason" onchange="if ($(this).val() != '選擇原因') $('#CbCare').prop('checked', 'true'); if ($(this).val() == '其他') { $('#spanEarlyReasonElse').show(); } else { $('#spanEarlyReasonElse').hide(); $('#TxtEarlyReasonElse').val('') }">
                            <option value="">選擇原因</option>
                            <option value="外出">外出</option>
                            <option value="檢查">檢查</option>
                            <option value="手術">手術</option>
                            <option value="依醫囑">依醫囑</option>
                            <option value="洗腎">洗腎</option>
                            <option value="復健治療">復健治療</option>
                            <option value="其他">其他</option>
                        </select>
                        <span id="spanEarlyReasonElse" style="display:none">
                            <input type="text" id="TxtEarlyReasonElse" name="TxtEarlyReasonElse" />
                        </span>
                    </td>
                </tr>
                <tr id="PnUdInsulin" style="display:none;">
                    <td style="text-align:left;padding:8px;">
                        胰島素施打部位：
                    </td>
                    <td style="text-align: left; padding: 8px;">
                        @Html.DropDownList("DdlSection", (List<SelectListItem>)ViewData["insulin_section"], "選擇部位", new { @id = "DdlSection" })
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left;padding:8px;">
                        備註：
                    </td>
                    <td style="text-align: left; padding: 8px;">
                        @*<input type="text" id="TxtRemark" name="TxtRemark" style="width:400px" onchange="this.value = this.value.replace('|', ''); if ($.trim(this.value) != '') $('#CbCare').prop('checked', 'true')" onkeypress="this.value = this.value.replace('|', '')" onchange="if ($.trim(this.value) != '') $('#CbCare').prop('checked', 'tr
                            ue')" />*@
                        <input type="text" id="TxtRemark" name="TxtRemark" style="width:400px"  />
                        <div id="PnUd4" style="display:inline-block;"><label><input type="checkbox" id="CbCare" name="CbCare" />帶入護理紀錄</label></div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;padding:8px;" colspan="2">
                      
                        @*<input id="ck_but" type="button" value="覆核" onclick="" />*@
                        <input id="checktype" type="hidden" value="N"  />   
                        <div id="checker_show" style="display:inline-block;" >
                            覆核者帳號:
                            @Html.TextBox("txtid", "", new { style = "width:160px;", tabindex = "11", id = "txtid" })
                            <input id="checker_id" type="hidden" style="border: none; background: transparent" readonly="readonly" />
                            覆核者密碼:
                            @Html.Password("txtpwd", "", new { style = "width:160px;", tabindex = "12", id = "txtpwd" })
                            <input id="checker" type="hidden" style="border: none; background: transparent" readonly="readonly" />
                        </div>                     
                        <input id="BtnAdd" type="button" value="確定" onclick="UpdateRemark();" />
                        <input id="BtnBack" type="button" value="取消" onclick="$('#checktype').val('N'); $('#checker_show').hide();CancelRemark();" />
                        @*<input id="BtnDel" type="button" value="刪除" onclick="if (confirm('是否確認刪除此筆給藥註記?')) { DelRemark();$('#dv_type1').fadeOut(500); $('#block').hide(); }" />*@
                    </td>
                </tr>

            </table>
        </td>
    </tr>
    
    <tr id="div_login" style="display:none">
        <td>
            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;padding:18px 7px 10px 4px;">
                <tr>
                    <td style="width: 500px; height:60px; text-align:center">
                        雙人覆核-請輸入帳號密碼
                        <br />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("txtid", "帳號：")
                        @*@Html.TextBox("txtid", "", new { style = "width:160px;", tabindex = "11" })*@
                    </td>
                </tr>
                <tr>
                    <td style="padding:5px 0 5px 0;">
                        @Html.Label("txtpwd", "密碼：")
                        @*@Html.Password("txtpwd", "", new { style = "width:160px;", tabindex = "12" })*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="button" value="確認" class="btn_m" onclick="DouCheck('ok')" tabindex="13" />
                        <input type="button" value="取消" class="btn_m" onclick="DouCheck('no')" tabindex="14" />
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </table>
