@using NIS.Data;
@{
    List<Fre> DRUG_FRE = (List<Fre>)ViewBag.Fre;
}
<style type="text/css">
    .dataArea td {
        border-bottom: 1px solid rgba(20%,20%,40%,0.5);
        text-align: left;
        height: 26px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
    })
    function setGridColor() {
        //格行換色
        var tr = $('.dataArea tr');
        var color = '#ABC8E2';
        for (var i = 0; i < tr.length; i++) {
            if ($(tr[i]).css('display') != 'none') {
                $(tr[i]).css('background', color);
                if (color == '#ABC8E2')
                    color = '#E1E6FA';
                else
                    color = '#ABC8E2';
            }
        }
        $('.head').css('background', '#85A5CC');
        $('.due').css('background', '#FF6666');
    }
    function find_fre() {
        var str = Trim($("#search_txt").val());
        if (str == "") {
            showhidn("請輸入篩選條件。");
            return false;
        }
        $(".gridview tr").hide();
        $("tr[name='head']").show();
        if ($("input[name=search_type]:checked").val() == "frecode")
            $("tr[frecode*='" + str.toUpperCase() + "']").show();
        else if ($("input[name=search_type]:checked").val() == "frename")
            $("tr[frename*='" + str.toUpperCase() + "']").show();
     
    }
    function show_fre() {
        $(".gridview tr").show();
    }
</script>
<div>
    <table>
        <tr>
            <td style="width:70px;vertical-align:middle">
                篩選條件：
            </td>
            <td>             
                <input type="radio" name="search_type" value="frecode" id="search1" checked="checked" />頻次
                <input type="radio" name="search_type" value="frename" id="search2" />頻次名稱
                <input type="text" name="search_but" value="" id="search_txt" style="width:100px" />
                <input type="button" name="search_but" value="篩選" id="search_but" style="width:50px" onclick="find_fre()" />
                <input type="button" name="search_but" value="全部顯示" onclick="show_fre()" />
            </td>
        </tr>
    </table>
</div>
<div class="dataHeader">
    <table border="0" cellpadding="4" cellspacing="1" style="width:700px;font-size:14px;">
        <tr name="head">
            <td style="width:60px;">頻次</td>
            <td style="width:120px">頻次名稱</td>
            <td style="width:520px">頻次時間點</td>
        </tr>
    </table>
</div>
<div class="dataArea gridview">
    @if (DRUG_FRE != null && DRUG_FRE.Count > 0)
    {
        <table border="0" cellpadding="4" cellspacing="1" style="width:700px;background-color: #FFFFFF;font-size:14px;">
            @for (int v = 0; v < DRUG_FRE.Count; v++)
            {
                <tr frecode="@(DRUG_FRE[v].FreCode)" frename="@(DRUG_FRE[v].FreName)">
                    <td style="width:60px;">@(DRUG_FRE[v].FreCode)</td>
                    <td style="width:120px;">@(DRUG_FRE[v].FreName)</td>
                    @{
                string[] Tmp = DRUG_FRE[v].FreTime.Split('|');
                Tmp = Tmp.Where(x => x.ToString().Trim() != "").ToArray();
                // Tmp = Array.ConvertAll(Tmp, x => string.Format("{0}:{1}", x.Substring(0, 2), x.Substring(2, 2)));

                string ShowTime = string.Join(",", Tmp);
                    }
                    <td style="width:520px">@(ShowTime)</td>
                </tr>
            }
        </table>
    }
</div>
<div style="text-align:center;padding-top:5px;"><input type="button" value="關閉" onclick="$('#PnFrequency').fadeOut(500); $('#block').hide();" /></div>