@using NIS.Data;
@using System.Globalization;
@{
    //用產貼紙專用Layout
    Layout = "~/Views/Layout/_Layout_Print.cshtml";


    string code = ViewBag.code;
    string way = ViewBag.way;
    string desc = ViewBag.desc;
    string dose = ViewBag.dose;
    string userName = ViewBag.userName;
    string qrcode = ViewBag.qrcode;
    string maskName = ViewBag.maskName;
    string execTime = ViewBag.execTime;

    PatientInfo pi = ViewBag.pi;

    CultureInfo culture = new CultureInfo("zh-TW");
    culture.DateTimeFormat.Calendar = new TaiwanCalendar();

    string birthday = pi.Birthday.ToString("yyy-MM-dd", culture);


}

<style type="text/css">
    .card-out {
        background-color: #FAFAFA;
        color: #3D3D3D;
        width: 9.4cm;
        height: 5.5cm;
        border-radius: 15px;
        border-style: solid;
        border-color: black;
        border-width: 2px;
        font-weight: bold
    }

    .title {
        margin: 0.8rem;
        font-size: 32px;
        color: #136286;
    }

    .Timevalue {
        margin: 1rem;
        font-size: 22px;
    }

    .drinkname {
        margin: 1rem;
        font-size: 26px;
        font-weight: 600;
    }

    .drinkice {
        margin: 1rem;
        font-size: 22px;
    }

    .note {
        margin: 1rem;
        font-size: 16px;
    }
</style>

<script type="text/javascript">
</script>

@*點滴卡*@
<div class="card-out">
    @*病人資訊*@
    <div style="height:1.5cm;border-bottom: 1px solid #000;">
        <div style="display: table-cell; height: 1.5cm;width:2cm; vertical-align: middle;">
            <img width="54" height="54" style="display: block; margin: auto;" src="data:image/png;base64,@qrcode">
        </div>
        <div style="display: table-cell; height: 1.5cm;width:5cm;text-align: center; vertical-align: middle;">
            <div class="title_name" style="color:black; font-size:24px;">@pi.BedNo @maskName</div>
        </div>
        <div style="display: table-cell; height: 1.5cm;width:2.5cm;text-align: center; vertical-align: middle;">
            <label class="Timevalue">@pi.ChartNo</label>
            <label class="Timevalue">@birthday</label>
        </div>
    </div>
    <div style="height:2cm;display: table;border-bottom: 1px solid #000;width:100%;">
        @*藥物資訊*@
        <div style="display: table-cell;border-right: 1px solid #000;width: 6.38cm;">
            <div style="padding-left: 0.1cm;padding-top: 0.1cm;">
                <label class="med">@desc</label><br>
                <label class="med">@dose</label>
            </div>
        </div>
        <div style="display: table-cell">
            <div style="padding-left: 0.1cm;padding-top: 0.1cm;">
                <label class="med">瓶數/總瓶數</label>
            </div>
        </div>
    </div>
    <div style="height:2cm;display: table">
        <div style="display: table-cell;height:100%;width: 6.38cm;border-right: 1px solid #000;">
            <div style="padding-left: 0.1cm;padding-top: 0.1cm;">
                <div class="med">添加藥物 :</div>
                <div style="margin-top: 0.6cm;">
                    <label class="med">劑量 :</label><label class="med" style="margin-left : 2cm">速率 :</label>
                </div>
            </div>
        </div>
        <div style="display: table-cell;height:100%;">
            <div style="font-size: 12px;padding-left: 0.1cm;font-weight: bold;">日期時間:</div>
            <div style="font-size: 12px;padding-left: 0.1cm;">@execTime</div>
            <div style="font-size: 12px;padding-left: 0.1cm;font-weight: bold;">給藥人員:</div>
            <div style="font-size: 12px;padding-left: 0.1cm;">@userName</div>
        </div>
    </div>
</div>