@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
    //string title = "膀胱訓練";//列印
    int x = 0;
    NIS.Data.PatientInfo ptinof = (NIS.Data.PatientInfo)ViewData["ptinfo"];
}
<script type="text/javascript">
    $(document).ready(function () {
        setGridColor();
    });
    function setGridColor() {
        //格行換色
        $('.dataArea tr:odd').css('background', '#ABC8E2');
        $('.dataArea tr:even').css('background', '#E1E6FA');
    }
</script>
@using System.Data;
@{
    DataTable dt = ViewBag.dt;
}
<form id="edu_form" action="Score" method="post">
<div class="funcArea">
    <table border="0" cellpadding="0" cellspacing="0" style=" width:100%; font-size:14px;">
        <tr>
            <td>
                <table border="0" style="width:100%;">
                    <tr>
                        <td>病人姓名：@ptinof.PatientName</td>
                        @if(ptinof.Birthday != null)
                        {
                            <td>生日：@Convert.ToDateTime(ptinof.Birthday).ToString("yyyy/MM/dd")</td>
                        }
                        else
                        {
                            <td>生日：</td>
                        }
                        <td>年齡：@(ptinof.Age)  &nbsp; 性別：@(ptinof.PatientGender)</td>
                        @*<td>病床號：@ptinof.BedNo</td>*@

                        <td colspan="2">病歷號：@ptinof.ChartNo</td>
                    </tr>
                    <tr>
                        <td>科別：@ptinof.DeptName</td>
                        <td>主治醫師：@ptinof.DocName</td>
                        @if(ptinof.InDate != null)
                        {
                            <td>住院日期：@Convert.ToDateTime(ptinof.InDate).ToString("yyyy/MM/dd HH:mm") (@ptinof.InDay)</td>
                        }
                        else
                        {
                            <td>住院日期：</td>
                        }
                        <td colspan="2">診斷：@ptinof.ICD9_code1</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr><td style="padding: 5px 0px 5px 0px">
                <div class="dataHeader" style="margin-right:0px;">
                    <table border="0" cellpadding="4" cellspacing="1" style="width:100%;cursor:pointer;font-size: 14px;" onclick="">
                        <tr>
                          <td style="width:12.6%;">日期時間</td>
                            <td style="width:8.3%;">感覺緊張不安</td>
                            <td style="width:8.3%;">感覺容易苦惱或動怒</td>
                            <td style="width:8.3%;">感覺憂鬱、心情低</td>
                            <td style="width:8.3%;">覺得比不上別人</td>
                            <td style="width:8.3%;">睡眠困難，譬如難以入睡、易睡或早醒</td>
                            <td style="width:8.3%;">總分</td>
                            <td style="width:8.3%;">有自殺的想法</td>
                            <td style="width:12.3%;">措施</td>
                            <td style="width:8.3%;">備註</td>
                            <td style="width:8.3%;">執行者</td>
                        </tr>
                    </table>
                </div>
                <div class="dataArea_PDF">
                  @if(dt != null && dt.Rows.Count > 0)
                  {
                    @Html.Raw("<table border='0' cellpadding='4' cellspacing='1' style='width:100%;font-size:14px;background-color: #FFFFFF;'>")

                      foreach(DataRow r in dt.Rows)
                      {
                          string[] TempStrScore = { "完全沒有(0)", "輕微(1)", "中等程度(2)", "厲害(3)", "非常厲害(4)" };
                          string TensionStr = "";
                          if(!string.IsNullOrEmpty(r["TOTAL_SCORE"].ToString()))
                          {
                              int tension = int.Parse(r["TOTAL_SCORE"].ToString());

                              if(tension >= 6 && tension <= 9)
                              { TensionStr = "輕度情緒困擾，建議尋求紓壓管道或接受心理專業諮詢。"; }
                              else if(tension >= 10 && tension <= 14)
                              { TensionStr = "中度情緒困擾，建議諮詢精神科醫師接受進一步評估。"; }
                              else if(tension >= 15)
                              { TensionStr = "重度情緒困擾，建議諮詢精神科醫師接受進一步評估。"; }
                              else if(tension >= 0 && tension <= 5)
                              { TensionStr = "身心適應狀況良好。"; }
                          }
                          else
                          {
                              TensionStr = "";
                          }
                          string TempStr1 = "", TempStr2 = "", TempStr3 = "", TempStr4 = "";
                          TempStr1 = (r["SPIRITUALITY"].ToString().Split('|').GetValue(0).ToString() != "有") ?
                            r["SPIRITUALITY"].ToString().Split('|').GetValue(0).ToString() : TempStr1 = r["SOCIETY_PT"].ToString().Replace('|', ':');
                          TempStr2 = (r["SPIRITUALITY"].ToString().Split('|').GetValue(1).ToString() != "有") ?
                          r["SPIRITUALITY"].ToString().Split('|').GetValue(1).ToString() : TempStr2 = r["SOCIETY_FM"].ToString().Replace('|', ':');
                          TempStr3 = (r["SPIRITUALITY"].ToString().Split('|').GetValue(2).ToString() != "有") ?
                          r["SPIRITUALITY"].ToString().Split('|').GetValue(2).ToString() : TempStr3 = r["RELIGION_PT"].ToString().Replace('|', ':');
                          TempStr4 = (r["SPIRITUALITY"].ToString().Split('|').GetValue(3).ToString() != "有") ?
                          r["SPIRITUALITY"].ToString().Split('|').GetValue(3).ToString() : TempStr4 = r["RELIGION_FM"].ToString().Replace('|', ':');
                            
                            @Html.Raw("<tr>")
                            @Html.Raw("<td style='width:12.6%;text-align:center;' rowspan='2'>")
                            @Html.Raw(Convert.ToDateTime(r["ASSESS_DT"]).ToString("yyyy/MM/dd HH:mm"))
                            @Html.Raw("</td>")
                            @Html.Raw("<td style='width:8.3%;text-align:center;'>")
                            @Html.Raw((!string.IsNullOrEmpty(r["SCORE_1"].ToString())) ? (TempStrScore[Convert.ToInt32(r["SCORE_1"])]) : "")
                            @Html.Raw("</td>")
                            @Html.Raw("<td style='width:8.3%;text-align:center;'>" + ((!string.IsNullOrEmpty(r["SCORE_2"].ToString())) ? (TempStrScore[Convert.ToInt32(r["SCORE_2"])]) : "") + "</td>")
                            @Html.Raw("<td style='width:8.3%;text-align:center;'>" + ((!string.IsNullOrEmpty(r["SCORE_3"].ToString())) ? (TempStrScore[Convert.ToInt32(r["SCORE_3"])]) : "") + "</td>")
                            @Html.Raw("<td style='width:8.3%;text-align:center;'>" + ((!string.IsNullOrEmpty(r["SCORE_4"].ToString())) ? (TempStrScore[Convert.ToInt32(r["SCORE_4"])]) : "") + "</td>")
                            @Html.Raw("<td style='width:8.3%;text-align:center;'>" + ((!string.IsNullOrEmpty(r["SCORE_5"].ToString())) ? (TempStrScore[Convert.ToInt32(r["SCORE_5"])]) : "") + "</td>")
                            @Html.Raw("<td style='width:8.3%;text-align:center;'><label title='" + TensionStr + "'>" + r["TOTAL_SCORE"] + "</label></td>")
                            @Html.Raw("<td style='width:8.3%;text-align:center;'>" + ((!string.IsNullOrEmpty(r["SUICIDAL_THOUGHTS_SCORE"].ToString())) ? (TempStrScore[Convert.ToInt32(r["SUICIDAL_THOUGHTS_SCORE"])]) : "") + "</td>")
                            @Html.Raw("<td style='width:12.3%;'>")
                            @Html.Raw(r["MEASURE"])
                            @Html.Raw("</td>")
                            @Html.Raw("<td style='width:8.3%;'>")
                            @Html.Raw(r["REMARK"])
                            @Html.Raw("</td>")
                            @Html.Raw("<td style='width:8.3%;text-align:center;' rowspan='2'>" + r["MODIFY_USER_NAME"] + "</td>")
                           @* @Html.Raw("<td style='width:8.3%;text-align:center;' rowspan='2'>")
                                @Html.Raw("<div style='overflow:hidden;width:100%;'>")
                                    <input type="button" id="" onclick="" value="修改" />
                                    <input type="button" value="修改" pid="@r["ASSESS_ID"]" onclick="window.location.href = 'Insert?id=' + $(this).attr('pid');" style="width:40px;" />
                                    <input type="button" id="" onclick="DelData('@(x)');" value="刪除" />
                                    <input type="hidden" id="assess_id_@(x)" value="@r["ASSESS_ID"]" />
                                @Html.Raw("</div>")
                            @Html.Raw("</td>")*@
                        @Html.Raw("</tr>")
                        @Html.Raw("<tr>")
                            @Html.Raw("<td colspan='9' style='text-align:left;'>")
                                 @*@Html.Raw("<label>社會問題【病人】:</label>" + TempStr1 + "。" + "&nbsp;/&nbsp;<label>社會問題【家屬】:</label>" + TempStr2 + ";<br /><label>靈性宗教問題【病人】:</label>" + TempStr3 + "。" + "&nbsp;/&nbsp;<label>靈性宗教問題【家屬】:</label>" + TempStr4 + "。")*@
                                 @Html.Raw("<label>社會問題【病人】:</label>" + TempStr1 + "。" + "<br /><label>社會問題【家屬】:</label>" + TempStr2 + "。<br /><label>靈性宗教問題【病人】:</label>" + TempStr3 + "。" + "<br /><label>靈性宗教問題【家屬】:</label>" + TempStr4 + "。")
                            @Html.Raw("</td>")
                        @Html.Raw("</tr>")
                          {
                              x += 1;
                          }
                      }
                    @Html.Raw("</table>")
                  }
                </div>
        </td></tr>
    </table>
</div>
</form>