@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}

<style type="text/css">
    .content td {
        white-space: nowrap;
        background-color: #ABC8E2;
        border: 1px solid #666;
        border-bottom: 2px solid #666;
        border-right: 2px solid #666;
        text-align: center;
        vertical-align: middle;
        height: 28px;
        font-size: 22px;
    }

    input[type=checkbox] {
        width: 20px;
        height: 20px;
    }

    #func {
        padding-left: 20px;
        margin-top: 10px;
        height: 40px;
        line-height: 32px;
    }

        #func input[type=button] {
            width: 150px;
        }
</style>

@{
    string[] d_time, n_time, e_time;
    //e_time = new string[] { "00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00" };
    //d_time = new string[] { "08:00", "09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00" };
    //n_time = new string[] { "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00" };
    e_time = new string[] { "00:01 ~ 00:59", "01:00 ~ 01:59", "02:00 ~ 02:59", "03:00 ~ 03:59", "04:00 ~ 04:59", "05:00 ~ 05:59", "06:00 ~ 06:59", "07:00 ~ 08:00" };
    d_time = new string[] { "08:01 ~ 08:59", "09:00 ~ 09:59", "10:00 ~ 10:59", "11:00 ~ 11:59", "12:00 ~ 12:59", "13:00 ~ 13:59", "14:00 ~ 14:59", "15:00 ~ 16:00" };
    n_time = new string[] { "16:01 ~ 16:59", "17:00 ~ 17:59", "18:00 ~ 18:59", "19:00 ~ 19:59", "20:00 ~ 20:59", "21:00 ~ 21:59", "22:00 ~ 22:59", "23:00 ~ 00:00" };
}
<script type="text/javascript">
    $(document).ready(function () {

        $("input[name=but_save]").click(function () {

            if ($("input[name=chktime]:checked").length == 0) {
                alert("請選擇執行時段");
                return;
            }

            // 取得要處理的資料
            var svid = $(this).attr("saveid");
            var sheet_no = $("input[name=" + svid + "_sheet_no]").val();
            var start_date = $("input[name=" + svid + "_start_date]").val();
            var order_content = encodeURIComponent($("input[name=" + svid + "_order_content]").val());
            var do_action = "";

            if ($("#doAction").val() == "其他") {
                if ($("#doActionOther").val() == "") {
                    alert("點選「其他」項目，需填內容。");
                    return false;
                }
                else {
                    do_action = $("#doActionOther").val();
                }
            }
            else {
                do_action = encodeURIComponent($("select[name=doAction]").val());
            }


                var priodset = new Array();
            $("input[name=chktime]:checked").each(function () {
                priodset[priodset.length] = $(this).val().substr(0, 4) + "0";
            });
            var set_priod = priodset.join("|");

            $.ajax({
                url  : "../MedicalAdvice/Save_JobSetting",
                type : "post",
                data: "sheet_no=" + sheet_no + "&start_date=" + start_date + "&order_content=" + order_content + "&set_priod=" + set_priod + "&do_action=" + do_action,
                success: function (data) {
                    if (data == "設定完成") {
                        //$("button[saveid=" + svid + "]").attr("disabled", true);
                    }
                    showHint(data);
                    $('.dialog').fadeOut(500);
                }
            });

        });
    });
    function doAction_change() {
        if ($("#doAction").val() == "其他") {
            $("#doActionOther").show();
        }
        else {
            $("#doActionOther").hide();
        }
    };
</script>

<form name="setExec" action="post" method="post">
    <div class="content">
        <table border="0" cellpadding="0" cellspacing="4" width="95%" align="center">
            <tr>
                <td colspan="4">
                    <input type="checkbox" id="d_title" onclick="$('#D input[type=checkbox]').prop('checked', $(this).prop('checked'));" />
                    <label for="d_title">早班</label>
                </td>
            </tr>
            <tr id="D">
                @{
                    for (int i = 0; i <= 3; i++)
                    {
                        string html_str = "<td>";
                        html_str += "<input id=\"ck_d_" + i.ToString() + "\" type=\"checkbox\" name=\"chktime\" value=\"" + d_time[i] + "\" />";
                        html_str += "<label for=\"ck_d_" + i.ToString() + "\">" + d_time[i] + "</label>";
                        html_str += "</td>";
                        @Html.Raw(html_str)
                    }
                    @:</tr><tr id="D">
                    for (int i = 4; i <= d_time.Length - 1; i++)
                    {
                        string html_str = "<td>";
                        html_str += "<input id=\"ck_d_" + i.ToString() + "\" type=\"checkbox\" name=\"chktime\" value=\"" + d_time[i] + "\" />";
                        html_str += "<label for=\"ck_d_" + i.ToString() + "\">" + d_time[i] + "</label>";
                        html_str += "</td>";
                        @Html.Raw(html_str)
                    }
                }
            </tr>
            <tr>
                <td colspan="4">
                    <input type="checkbox" id="n_title" onclick="$('#N input[type=checkbox]').prop('checked', $(this).prop('checked'));" />
                    <label for="n_title">小夜</label>
                </td>
            </tr>
            <tr id="N">
                @{
                    for (int i = 0; i <= 3; i++)
                    {
                        string html_str = "<td>";
                        html_str += "<input id=\"ck_n_" + i.ToString() + "\" type=\"checkbox\" name=\"chktime\" value=\"" + n_time[i] + "\" />";
                        html_str += "<label for=\"ck_n_" + i.ToString() + "\">" + n_time[i] + "</label>";
                        html_str += "</td>";
                        @Html.Raw(html_str)
                    }
                    @:</tr><tr id="N">
                    for (int i = 4; i <= n_time.Length - 1; i++)
                    {
                        string html_str = "<td>";
                        html_str += "<input id=\"ck_n_" + i.ToString() + "\" type=\"checkbox\" name=\"chktime\" value=\"" + n_time[i] + "\" />";
                        html_str += "<label for=\"ck_n_" + i.ToString() + "\">" + n_time[i] + "</label>";
                        html_str += "</td>";
                        @Html.Raw(html_str)
                    }
                }
            </tr>
            <tr>
                <td colspan="4">
                    <input type="checkbox" id="e_title" onclick="$('#E input[type=checkbox]').prop('checked', $(this).prop('checked'));" />
                    <label for="e_title">大夜</label>
                </td>
            </tr>
            <tr id="E">
                @{
                    for (int i = 0; i <= 3; i++)
                    {
                        string html_str = "<td>";
                        html_str += "<input id=\"ck_e_" + i.ToString() + "\" type=\"checkbox\" name=\"chktime\" value=\"" + e_time[i] + "\" />";
                        html_str += "<label for=\"ck_e_" + i.ToString() + "\">" + e_time[i] + "</label>";
                        html_str += "</td>";
                        @Html.Raw(html_str)
                    }
                    @:</tr><tr id="E">
                    for (int i = 4; i <= e_time.Length - 1; i++)
                    {
                        string html_str = "<td>";
                        html_str += "<input id=\"ck_e_" + i.ToString() + "\" type=\"checkbox\" name=\"chktime\" value=\"" + e_time[i] + "\" />";
                        html_str += "<label for=\"ck_e_" + i.ToString() + "\">" + e_time[i] + "</label>";
                        html_str += "</td>";
                        @Html.Raw(html_str)
                    }
                }
            </tr>
        </table>
    </div>
    <div id="func">
        設定項目：<label for="" style="background-color:#f27a35">@(ViewData["item"].ToString().Replace("#br#",""))</label><br />
        動作：
        @Html.DropDownList("doAction", (List<SelectListItem>)ViewData["doAction"], new { @style = "width: 150px;", onchange = "doAction_change()" })
        <input type="text" id="doActionOther" value="" style="display: none;width:80px"/>
        
        <input type="button" name="but_save" saveid="@(ViewData["id"])" value="儲存" style="width:80px" />
        <input type="button" value="取消" onclick="$('.dialog').fadeOut(500);" style="width:80px"/>
        <input type="checkbox" id="All" onclick="$('#N, #E, #D').find('input[type=checkbox]').prop('checked', $(this).prop('checked'))" />
        <label for="All">全選</label>
    </div>
</form>
