@using NIS.Data;
@{
    Layout = "~/Views/Layout/FormLayout.cshtml";
}


@helper setNaDtl(NursingAssessmentDtlObj nadtl_obj, string db_value = "")
{
    // 是否要隱藏
    string default_value = "", DependStr = "",must = "";

    if (db_value != "")
    {
        default_value = db_value;
    }
    else if (nadtl_obj.dtl_default_value != "")
    {
        default_value = nadtl_obj.dtl_default_value;
    }

    if(nadtl_obj.dtl_must != "N")
    {
        must = "*";
    }
    
    string[] valuelist = nadtl_obj.dtl_value.Split('|');

    <div class="ItemBlock" BlockID="@(nadtl_obj.dtl_id)" @setDepend(nadtl_obj.dtl_child_hide, nadtl_obj.dtl_parent_id, nadtl_obj.dtl_show_value) >
        <div class="ItemTitle"><label style="color:red">@must</label>@(nadtl_obj.dtl_title)</div>
        <span>
            <input type="hidden" name="save_dtl_id" value="@(nadtl_obj.dtl_id)" />
            @switch (nadtl_obj.dtl_type)
            {
                case "T":
                    if (nadtl_obj.dtl_title == "身高")
                    {                    
                <label for="@(nadtl_obj.dtl_id)">
                    <input type="text" id="@(nadtl_obj.dtl_id)" value="@(default_value)" name="@(nadtl_obj.dtl_id)" onchange="get_height('@(nadtl_obj.dtl_id)')" must="@(nadtl_obj.dtl_must)" maxlength="220"/>cm      
                        <input type="hidden" id="BMI_height" />
                </label>   
                    }
                    else if (nadtl_obj.dtl_title == "體重")
                    {                   
                <label for="@(nadtl_obj.dtl_id)">
                    <input type="text" id="@(nadtl_obj.dtl_id)" value="@(default_value)" name="@(nadtl_obj.dtl_id)" onchange="get_weight('@(nadtl_obj.dtl_id)')" must="@(nadtl_obj.dtl_must)" maxlength="220"/>kg      
                        <input type="hidden" id="BMI_weight" />
                </label>   
                    }
                    else if (nadtl_obj.dtl_title == "BMI")
                    {                   
                <label for="@(nadtl_obj.dtl_id)">
                    <input type="text" id="@(nadtl_obj.dtl_id)" value="@(default_value)" name="@(nadtl_obj.dtl_id)" )" must="@(nadtl_obj.dtl_must)" maxlength="220"/>
                    <input type="hidden" id="BMI_value" onpropertychange="send_bmi('@(nadtl_obj.dtl_id)');"/>
                    <label  id="msg" style="color:red"></label>
                </label>   
                    }
                    else
                    {
                <label for="@(nadtl_obj.dtl_id)">
                    <input id="@(nadtl_obj.dtl_id)" type="text" name="@(nadtl_obj.dtl_id)" value="@(default_value)" maxlength="@(nadtl_obj.dtl_length)" must="@(nadtl_obj.dtl_must)" />
                    @(nadtl_obj.dtl_rear_word)
                </label>   
                    }
                @setHelpText(nadtl_obj.dtl_help)
                    break;
                case "C":
                    for (int l = 0; l <= valuelist.Length - 1; l++)
                    {
                        if (default_value == valuelist[l].Trim())
                        {
                <label for="@(nadtl_obj.dtl_id)_@(l.ToString())">
                    <input id="@(nadtl_obj.dtl_id)_@(l.ToString())" type="checkbox" name="@(nadtl_obj.dtl_id)" checked="checked" value="@(valuelist[l].Trim())" must="@(nadtl_obj.dtl_must)"/>
                    @(valuelist[l].Trim())
                </label>
                        }
                        else
                        {
                <label for="@(nadtl_obj.dtl_id)_@(l.ToString())">
                    <input id="@(nadtl_obj.dtl_id)_@(l.ToString())" type="checkbox" name="@(nadtl_obj.dtl_id)" value="@(valuelist[l].Trim())" must="@(nadtl_obj.dtl_must)"/>
                    @(valuelist[l].Trim())
                </label>
                        }
                    }
                @setHelpText(nadtl_obj.dtl_help)
                    break;
                case "R":
                    for (int l = 0; l <= valuelist.Length - 1; l++)
                    {
                        if (default_value == valuelist[l].Trim())
                        {
                <label for="@(nadtl_obj.dtl_id)_@(l.ToString())">
                    <input id="@(nadtl_obj.dtl_id)_@(l.ToString())" value="@(valuelist[l].Trim())" type="radio" name="@(nadtl_obj.dtl_id)" checked="checked" must="@(nadtl_obj.dtl_must)" />
                    @(valuelist[l].Trim())
                </label>
                        }
                        else
                        {
                <label for="@(nadtl_obj.dtl_id)_@(l.ToString())">
                    <input id="@(nadtl_obj.dtl_id)_@(l.ToString())" value="@(valuelist[l].Trim())" type="radio" name="@(nadtl_obj.dtl_id)" must="@(nadtl_obj.dtl_must)" />
                    @(valuelist[l].Trim())
                </label>
                        }
                    }
                @setHelpText(nadtl_obj.dtl_help)
                    break;
                case "G":                    
                <label for="@(nadtl_obj.dtl_id)">
                    <input id="@(nadtl_obj.dtl_id)" GroupID="@(nadtl_obj.dtl_value)" type="text" name="@(nadtl_obj.dtl_id)" maxlength="@(nadtl_obj.dtl_length)" must="@(nadtl_obj.dtl_must)" readonly="readonly" />
                    @(nadtl_obj.dtl_rear_word)
                </label>
            
                @setHelpText(nadtl_obj.dtl_help)
                    break;
                case "D":
                    if (default_value != "")
                    {
                        DateTime tempTime = DateTime.Parse(default_value + ":00");
                        if (nadtl_obj.dtl_title == "最後月經日(L.M.P)")
                        {
                        <label for="@(nadtl_obj.dtl_id)">
                            <input type="text" id="@(nadtl_obj.dtl_id)_date" value="@(tempTime.ToString("yyyy/MM/dd"))" must="@(nadtl_obj.dtl_must)" style="width:140px;"/>
                            <input type="hidden" id="@(nadtl_obj.dtl_id)" name="@(nadtl_obj.dtl_id)" />
                            @WebTool.setDateTime(nadtl_obj.dtl_id + "_date", "", nadtl_obj.dtl_id)
                        </label>
                        }
                        else
                        {
                <label for="@(nadtl_obj.dtl_id)">
                    <input type="text" id="@(nadtl_obj.dtl_id)_date" value="@(tempTime.ToString("yyyy/MM/dd"))" must="@(nadtl_obj.dtl_must)" style="width:140px;"/>
                    <input type="text" id="@(nadtl_obj.dtl_id)_time" value="@(tempTime.ToString("HH:mm"))" must="@(nadtl_obj.dtl_must)"  style="width:60px;"/>
                    <input type="hidden" id="@(nadtl_obj.dtl_id)" name="@(nadtl_obj.dtl_id)"  value="@(tempTime.ToString("yyyy/MM/dd HH:mm"))" />
                    @WebTool.setDateTime(nadtl_obj.dtl_id + "_date", nadtl_obj.dtl_id + "_time", nadtl_obj.dtl_id)
                </label>
                        }
                    }
                    else if (nadtl_obj.dtl_title == "入院日期")
                    {
                        DateTime tempTime = DateTime.Parse(nadtl_obj.dtl_default_value + ":00");
                        <label for="@(nadtl_obj.dtl_id)">
                            <input type="text" id="@(nadtl_obj.dtl_id)_date" value="@(tempTime.ToString("yyyy/MM/dd"))" must="@(nadtl_obj.dtl_must)"  style="width:140px;"/>
                            <input type="text" id="@(nadtl_obj.dtl_id)_time" value="@(tempTime.ToString("HH:mm"))" must="@(nadtl_obj.dtl_must)"  style="width:60px;"/>
                            <input type="hidden" id="@(nadtl_obj.dtl_id)" name="@(nadtl_obj.dtl_id)" />
                            @WebTool.setDateTime(nadtl_obj.dtl_id + "_date", nadtl_obj.dtl_id + "_time", nadtl_obj.dtl_id)
                        </label>   
                    }
                    else if (nadtl_obj.dtl_title == "最後月經日(L.M.P)")
                    {
                        <label for="@(nadtl_obj.dtl_id)">
                            <input type="text" id="@(nadtl_obj.dtl_id)_date" value="" must="@(nadtl_obj.dtl_must)" style="width:140px;"/>
                            <input type="hidden" id="@(nadtl_obj.dtl_id)" name="@(nadtl_obj.dtl_id)" />
                            @WebTool.setDateTime(nadtl_obj.dtl_id + "_date", "", nadtl_obj.dtl_id)
                        </label>
                    }
                    else
                    {
                <label for="@(nadtl_obj.dtl_id)">
                    <input type="text" id="@(nadtl_obj.dtl_id)_date" must="@(nadtl_obj.dtl_must)" style="width:140px;"/>
                    <input type="text" id="@(nadtl_obj.dtl_id)_time" must="@(nadtl_obj.dtl_must)" style="width:60px;"/>
                    <input type="hidden" id="@(nadtl_obj.dtl_id)" name="@(nadtl_obj.dtl_id)" />
                    @WebTool.setDateTime(nadtl_obj.dtl_id + "_date", nadtl_obj.dtl_id + "_time", nadtl_obj.dtl_id)
                </label>
                    }
                @setHelpText(nadtl_obj.dtl_help)        
                    break;
                case "A":
                <label for="@(nadtl_obj.dtl_id)">
                    <textarea cols="60" rows="3" name="@(nadtl_obj.dtl_id)" id="@(nadtl_obj.dtl_id)" must="@(nadtl_obj.dtl_must)" style="display:inline-block;">@(default_value)</textarea>
                </label>
                @setHelpText(nadtl_obj.dtl_help)
                    break;
            }
        </span>
    </div>
}

@helper setHelpText(string helpText)
{
    if (helpText != "")
    {
    <a href="javascript:void(0);" title="@(helpText.Replace(']', '>').Replace('[', '<'))" class="tooltip">說明</a>
    }
}

@helper setDepend(string hideflag, string parent_id, string show_value)
{
    if (hideflag == "Y")
    {
    @:DependID="@(parent_id)" ShowValue="@(show_value)" style="display: none;" 
    }
}

@helper setBlock(List<NursingAssessmentDtlObj> nado)
{
    for (int z = 0; z <= nado.Count - 1; z++)
    { 
    @NA_Tool.setNaDtl(nado[z], "")
                                
        if (nado[z].child_obj != null)
        {
    @setBlock(nado[z].child_obj)
        }
    }
}