@helper list_shared_checkbox(string name, string value, string show_value, string span_id)
{
    string[] valList = value.Split('|');
    for (int i = 0; i <= valList.Length - 1; i++)
    {
        @:<span><label>
        string code = "";
        if (span_id != "" && valList[i].ToString() == show_value)
        {
            code = "if(this.checked){ $('." + span_id + "').show(); }else{ div_hidden('" + span_id + "'); }";
            @:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" onclick="@code" />
        }
        else
        {
            @:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" />
        }
            @(valList[i].ToString())
            @:</label></span>
    }
}

@helper list_shared_radio_autoTxt(string name, string value, string span_id, string widthVal)
{
    if (span_id.Trim() != "" && value.Trim() != "")
    {
        string[] valList = value.Split('|');
        for (int i = 0; i <= valList.Length - 1; i++)
        {
            string code = "", TxtNameVal = "Txt_" + span_id + "_Other";

            code = "CtrlActionFunc('radio', '" + span_id + "', true);";

            if (valList[i].ToString() == "其他" || valList[i].ToString() == "其他原因致無法測量")
            {
                @:<div style="display:inline-block">
                code += "$('#" + TxtNameVal + "').show();";
            }
            else
            {
                @:<span>
                code += "$('#" + TxtNameVal + "').hide();$('#" + TxtNameVal + "').val('');";
            }

            @:<label>
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" onclick="@code" />
            @(valList[i].ToString())
            @:</label>

            if (valList[i].ToString() == "其他" || valList[i].ToString() == "其他原因致無法測量")
            {
                <input name="@(TxtNameVal)" id="@(TxtNameVal)" style="width: @(widthVal); display:none;" type=text>
                @:</div>
            }
            else
            {
                @:</span>
            }
        }
    }
}

@helper list_shared_checkbox_autoTxt(string name, string value, string show_value, string span_id, string widthVal)
{
    if (span_id.Trim() != "" && value.Trim() != "")
    {
        string[] valList = value.Split('|');
        for (int i = 0; i <= valList.Length - 1; i++)
        {
            string code = "", TxtNameVal = "Txt_" + span_id + "_Other";

            if (valList[i].ToString() == "其他")
            {
                @:<div style="display:inline-block">
            }
            else
            {
                @:<span>
            }

            @:<label>
            if (valList[i].ToString() == show_value)
            {//有設定開關空間
                code = "if(this.checked){ $('." + span_id + "').show(); }else{ div_hidden('" + span_id + "'); }";
            }
            else
            {//無空定開關空間 或 為其他(由 helper 產出 textbox)
                if (valList[i].ToString() == "其他")
                {
                    code = "if($(this).prop('checked')){ $('#" + TxtNameVal + "').attr('disabled',false); }else{$('#" + TxtNameVal + "').val('');$('#" + TxtNameVal + "').attr('disabled',true);}";
                }
            }
            @:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" onclick="@code" />
            @(valList[i].ToString())
            @:</label>

            if (valList[i].ToString() == "其他")
            {
                <input name="@(TxtNameVal)" id="@(TxtNameVal)" style="width: @(widthVal);" disabled type=text>
                @:</div>
            }
            else
            {
                @:</span>
            }
        }
    }
}

@helper list_shared_radio(string name, string value, string show_value, string span_id)
{
    string[] valList = value.Split('|');
    for (int i = 0; i <= valList.Length - 1; i++)
    {
        @:<span><label>
        if (span_id != "")
        {
            string code = "";
            if (valList[i] == show_value)
            {
                code = "$('#" + span_id + "').show();";
            }
            else
            {
                code = "div_hidden('" + span_id + "');";
            }
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" onclick="@code" />
        }
        else
        {
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" />
        }
        @(valList[i].ToString())
        @:</label></span>
    }
}