@helper vs_dropdown(string name, string value, string default_value,string temp="")
{
    string[] itemList = value.Split('|');
    @:<select name="@(name)" onchange="@temp" >
    for (int i = 0; i <= itemList.Length - 1; i++ )
    {
        if(itemList[i] == default_value){
            @:<option value="@(itemList[i])" selected="selected">@(itemList[i])</option>
        }else{
            @:<option value="@(itemList[i])">@(itemList[i])</option>
        }
    }
    @:</select>
}

@helper gc_radio_item(string name, string value, string default_value)
{
    string[] valList = value.Split('|');
    for (int i = 0; i <= valList.Length - 1; i++)
    {
        if (valList[i] == default_value)
        {
            @:<label>
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" checked="checked" />
            @(valList[i].ToString())
            @:</label>
        }
        else
        {
            @:<label>
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" />
            @(valList[i].ToString())
            @:</label>
        }
    }
}

@helper gcs_radio_item(string title, string name, string value, string default_value)
{
    string[] valList = value.Split('|');
    @:<p> <label>@(title)</label><br />
    for (int i = 0; i <= valList.Length - 1; i++)
    {
        if (valList[i] == default_value)
        {
            @:<label>
                @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" checked="checked" />
                @(valList[i].ToString())
                @:</label><br />
        }
        else
        {
            @:<label>
                @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" />
                @(valList[i].ToString())
                @:</label><br />
        }
    }
    @:</p>

}

@helper ps_radio_item(string title, string name, string value, string default_value)
{
    string[] valList = value.Split('|');
    @:<p><label>@(title)</label><br />
    for (int i = 0; i <= valList.Length - 1; i++)
    {
        if (valList[i] == default_value)
        {
            @:<label>
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" checked="checked" onclick="PSNumberCount('2');" />
            @(valList[i].ToString())
            @:</label><br />
        }
        else
        {
            @:<label>
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" onclick="PSNumberCount('2');" />
            @(valList[i].ToString())
            @:</label><br />
        }
    }
    @:</p>
}


@helper vs_part_radio(string name, string value, string default_value)
{
    string[] valList = value.Split('|');
    for (int i = 0; i <= valList.Length - 1; i++)
    {
        if (valList[i] == default_value)
        {
            @:<label>
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" checked="checked" />
            @(valList[i].ToString())
            @:</label>
        }
        else
        {
            @:<label>
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" />
            @(valList[i].ToString())
            @:</label>
        }
    }
}

@helper vs_setting_class(string button_name, string[] func_list){
    string outStr = "";
        if(func_list != null){
        bool chkflag = false;
        for (int i = 0; i <= func_list.Length - 1; i++)
        {
            if (func_list[i] == button_name)
            {
                chkflag = true;
                break;
            }
        }
        if(chkflag){
            outStr = "func_selected";
        }else{
            outStr = "";
        }
    }
    @(outStr)
}

@helper vs_tbody_ishide(string td_id, string[] func_list){
    string outStr = string.Empty;
    if(func_list != null){
        bool chkflag = false;
        for (int i = 0; i <= func_list.Length - 1; i++)
        {
            if(func_list[i] == td_id){
                chkflag = true;
                break;
            }
        }
        if(chkflag){
            outStr = "N";
        }else{
            outStr = "Y";
        }
    }else{
        outStr = "Y";
    }
    @(outStr)
}

@*@helper gcs_ms_item(string tag_id_left, string tag_id_right, string part_name){
    <fieldset>
        <legend>@(part_name)</legend>
        <label>左</label>
        <label><input type="radio" name="@(tag_id_left)" value="0" />0</label>
        <label><input type="radio" name="@(tag_id_left)" value="1" />1</label>
        <label><input type="radio" name="@(tag_id_left)" value="2" />2</label>
        <label><input type="radio" name="@(tag_id_left)" value="3" />3</label>
        <label><input type="radio" name="@(tag_id_left)" value="4" />4</label>
        <label><input type="radio" name="@(tag_id_left)" value="5" />5</label>
        <label><input type="radio" name="@(tag_id_left)" value="無法評估" />無法評估</label>
        <hr />
        <label>右</label>
        <label><input type="radio" name="@(tag_id_left)" value="0" />0</label>
        <label><input type="radio" name="@(tag_id_left)" value="1" />1</label>
        <label><input type="radio" name="@(tag_id_left)" value="2" />2</label>
        <label><input type="radio" name="@(tag_id_left)" value="3" />3</label>
        <label><input type="radio" name="@(tag_id_left)" value="4" />4</label>
        <label><input type="radio" name="@(tag_id_left)" value="5" />5</label>
        <label><input type="radio" name="@(tag_id_left)" value="無法評估" />無法評估</label>
    </fieldset>
}*@

@helper assess_radio(string name, string value, string show_value, string span_id)
{
    string[] valList = value.Split('|');
    for (int i = 0; i <= valList.Length - 1; i++)
    {        
        @:<label>
        if(span_id != "")
        {
            string code = "";
            if (valList[i] == show_value)
            {
                code = "$('." + span_id + "').fadeIn(500);";
            }
            else
            {
                code = "div_hidden('" + span_id + "');";
            }
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" onclick="@code" />
        }
        else
        {
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())"  />
        }
        @(valList[i].ToString())
        @:</label>
    }
}

@helper assess_radio_block(string name, string value, string show_value, string span_id)
{
    string[] valList = value.Split('|');
    for (int i = 0; i <= valList.Length - 1; i++)
    {
          @:<span style="display:inline-block;width:55px"  >
        @:<label>
        if (span_id != "")
        {
            string code = "";
            if (valList[i] == show_value)
            {
                code = "$('." + span_id + "').fadeIn(500);";
            }
            else
            {
                code = "div_hidden('" + span_id + "');";
            }
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" onclick="@code" />
        }
        else
        {
            @:<input type="radio" name="@(name)" value="@(valList[i].ToString())" />
        }
        @(valList[i].ToString())
        @:    </label>
         @:</span>
    }
}

@helper assess_checkbox(string name, string value, string show_value, string span_id)
{
    string[] valList = value.Split('|');
    for (int i = 0; i <= valList.Length - 1; i++)
    {        
        @:<label>
        string code = "";
        if (span_id != "" && valList[i].ToString() == show_value)
        {
            code = "if(this.checked){ $('." + span_id + "').fadeIn(500); }else{ div_hidden('" + span_id + "'); }";
            @:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" onclick="@code" />
        }
        else
        {
            @:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" />
        }
        @(valList[i].ToString())
        @:</label>
    }
}
@helper assess_checkbox_block(string name, string value, string show_value, string span_id)
{
    string[] valList = value.Split('|');
    for (int i = 0; i <= valList.Length - 1; i++)
    {
         @:<span style="display:inline-block">
    @:<label>
        string code = "";
        if (span_id != "" && valList[i].ToString() == show_value)
        {
            code = "if(this.checked){ $('." + span_id + "').fadeIn(500); }else{ div_hidden('" + span_id + "'); }";
            @:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" onclick="@code" />
        }
        else
        {
            @:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" />
        }
        @(valList[i].ToString())
        @:</label>
    @:</span>
    }
    }
    @helper assess_checkbox_span(string name, string value, string show_value, string span_id)
{
    string[] valList = value.Split('|');
    for (int i = 0; i <= valList.Length - 1; i++)
    {
        @:<span>
            @:<label>
        string code = "";
        if (span_id != "" && valList[i].ToString() == show_value)
        {
            code = "if(this.checked){ $('." + span_id + "').fadeIn(500); }else{ div_hidden('" + span_id + "'); }";
            @:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" onclick="@code" />
        }
        else
        {
            @:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" />
        }
        @(valList[i].ToString())
      if (span_id != "" && valList[i].ToString() == "其他")
             {
        <a class="@(span_id)" style="DISPLAY: none">
            <input name="txt_@(span_id)_other" id="txt_@(span_id)_other" style="WIDTH: 200px" type=text>
        </a>
      }
    @:</label>
    @:</span>
    }
}

    @helper assess_onchange(string type, string name, string text, string value, string function ,string title="")
{
    string[] textList = text.Split('|');
    string[] valList = value.Split('|');
    string[] titleList= title.Split('|');
    for (int i = 0; i <= valList.Length - 1; i++)
    {
        if (title !="" && titleList.Length>0)
        { 
        @:<label title="@(titleList[i].ToString())" class="tooltip" style="color:#000" >
    @:<input type="@type" name="@(name)" value="@(valList[i].ToString())" onclick="@function" />
    @(textList[i].ToString())
    @:</label>  
             }       else
        { 
         @:<label>
            @:<input type="@type" name="@(name)" value="@(valList[i].ToString())" onclick="@function" />
            @(textList[i].ToString())
            @:   </label>  
        }
    }
}

    @helper body_checkbox(string name, string value, string show_value, string span_id)
{
    string[] valList = value.Split('|');
    for (int i = 0; i <= valList.Length - 1; i++)
    {
        @:<label>
        string code = "";
        if (span_id != "" && valList[i].ToString() == show_value)
        {
            code = "if(this.checked){ $('." + span_id + "').fadeIn(500); }else{ div_hidden('" + span_id + "'); }";
            @:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" onclick="@code" />
            //@:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" onclick="@code" checked="checked" />
        }
        else
        {
            @:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" />
           //  @:<input type="checkbox" name="@(name)" value="@(valList[i].ToString())" checked="checked" />
        }
        @(valList[i].ToString())
        @:<br />
        @:    </label>
    }
}

    @using System.Data;
    @helper set_color(string l_check, string h_check, string ck_value, DataTable dt_check)
{
    string color = "block";
    double check_val = 0;
    if(double.TryParse(ck_value.Replace("#", ""), out check_val))
    {
        foreach (DataRow r in dt_check.Rows)
        {
            if (r["MODEL_ID"].ToString() == l_check || r["MODEL_ID"].ToString() == h_check)
            {
                if (r["DECIDE"].ToString() == ">")
                {
                    if (check_val > double.Parse(r["VALUE_LIMIT"].ToString()))
                    { color = "red"; }
                }
                else if (r["DECIDE"].ToString() == "<")
                {
                    if (check_val < double.Parse(r["VALUE_LIMIT"].ToString()))
                    { color = "blue"; }
                }
            }
        }
    }
    else
    {
        color = "#202020";
    }
    @:@color
}

@* 預設部位 *@
@helper def_location_table(string loc_type) {
    <script language="javascript" type="text/javascript">
        var location_type = "@(loc_type)";
        var def_location_ini = [];
        //預設部位選擇
        switch (location_type.toLowerCase()) {
            case "icu"://icu帶入
                def_location_ini = ["心尖脈", "躺"];
                //體溫項不須顯示
                $("#def_location_table #bt").hide();
                break;
            case "ward"://病房帶入
                def_location_ini = ["耳溫", "肱動脈", "躺", "左手", "Ventilator"];
                break;
        }

        $(document).ready(function () {
            //設定部位預設值
            $("#def_location_table input[type=radio]").each(function () {
                if ($.inArray($(this).val(), def_location_ini) != -1) {
                    $(this).trigger("click");
                } else {
                    $(this).prop("checked", false);
                }
            });
        });

        //檢查區塊是否遺漏未填，返回 part_obj
        function check_required(callback) {
            var part_obj = {};//預設部位Object
            var input_names = [];//輸入項目清單
            var not_enter_arr = [];//未選取項目標題arr
            //搜尋可見的輸入項目
            $("#def_location_table tr.tr_required input:visible").each(function () {
                var this_name = $(this).prop("name");
                if ($.inArray(this_name, input_names) == -1) {
                    input_names.push(this_name);
                }
            });
            //檢查並建立
            $.each(input_names, function (index, value) {
                var name_dom_str = '#def_location_table input[name=' + value + ']';
                var checkedValue = $(name_dom_str + ':checked').map(function () {
                    return $(this).val();
                }).get().join(',');
                if (checkedValue == "") {
                    var item_title = $(name_dom_str).closest("tr").find("td").first().find("label").text();
                    not_enter_arr.push(item_title);
                } else {
                    //建立part_obj
                    var item_id = $(name_dom_str).closest("tr").prop("id");
                    part_obj[item_id] = part_obj[item_id] == undefined ? checkedValue : part_obj[item_id] += "," + checkedValue;
                }
            });
            if (not_enter_arr.length > 0) {
                alert(not_enter_arr.join("、") + "未選取!");
                return false;
            }
            callback(part_obj);
        }
    </script>
    <table id="def_location_table" class="odd_even" border="0" cellpadding="4" cellspacing="1" style="width: 100%">
        <thead>
            <tr scope="col" width="50">
                <td style="text-align: center; vertical-align: middle;">
                    <label>項目</label>
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    <label>部位</label>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr id="bt" class="tr_required">
                <td style="text-align: center; vertical-align: middle;">
                    <label>體溫</label>
                </td>
                <td style="text-align: left;vertical-align: top;">
                    <label><input type="radio" name="bt_part" value="額溫">額溫</label>
                    <label><input type="radio" name="bt_part" value="耳溫">耳溫</label>
                    <label><input type="radio" name="bt_part" value="腋溫">腋溫</label>
                    <label><input type="radio" name="bt_part" value="肛溫">肛溫</label>
                </td>
            </tr>
            <tr id="mp" class="tr_required">
                <td style="text-align: center;vertical-align: middle;">
                    <label>心跳</label>
                </td>
                <td style="text-align: left;vertical-align: top;">
                    <label><input type="radio" name="mp_posture" value="橈動脈" onclick="$('#div_mp').show();">橈動脈</label>
                    <label><input type="radio" name="mp_posture" value="心尖脈" onclick="$('#div_mp').hide();">心尖脈</label>
                    <label><input type="radio" name="mp_posture" value="肱動脈" onclick="$('#div_mp').show();">肱動脈</label>
                    <label><input type="radio" name="mp_posture" value="足背動脈" onclick="$('#div_mp').show();">足背動脈</label>
                    <label><input type="radio" name="mp_posture" value="顳動脈" onclick="$('#div_mp').show();">顳動脈</label>
                    <label><input type="radio" name="mp_posture" value="頸動脈" onclick="$('#div_mp').show();">頸動脈</label>
                    <label><input type="radio" name="mp_posture" value="股動脈" onclick="$('#div_mp').show();">股動脈</label>
                    <div id="div_mp">
                        <hr>
                        <label>
                            <input type="radio" name="mp_position" value="左側">
                            左側
                        </label>
                        <label>
                            <input type="radio" name="mp_position" value="右側">
                            右側
                        </label>
                    </div>
                </td>
            </tr>
            <tr id="bp" class="tr_required">
                <td style="text-align: center;vertical-align: middle;">
                    <label>血壓</label>
                </td>
                <td style="text-align: left;vertical-align: top;">
                    <label>
                        <input type="radio" name="bp_posture" value="躺">
                        躺
                    </label>
                    <label>
                        <input type="radio" name="bp_posture" value="坐">
                        坐
                    </label>
                    <label>
                        <input type="radio" name="bp_posture" value="站">
                        站
                    </label>
                    <hr>
                    <label>
                        <input type="radio" name="bp_position" value="左手">
                        左手
                    </label>
                    <label>
                        <input type="radio" name="bp_position" value="右手">
                        右手
                    </label>
                    <label>
                        <input type="radio" name="bp_position" value="左腳">
                        左腳
                    </label>
                    <label>
                        <input type="radio" name="bp_position" value="右腳">
                        右腳
                    </label>
                </td>
            </tr>
            <tr id="sp" class="tr_required">
                <td style="text-align: center;vertical-align: middle;">
                    <label>血氧</label>
                </td>
                <td style="text-align: left;vertical-align: top;">
                    <label>
                        <input type="radio" name="sp_part" value="Room air">
                        Room air
                    </label>
                    <label>
                        <input type="radio" name="sp_part" value="Nasal Cannula">
                        Nasal Cannula
                    </label>
                    <label>
                        <input type="radio" name="sp_part" value="Simple mask">
                        Simple mask
                    </label>
                    <label>
                        <input type="radio" name="sp_part" value="Aerosol mask">
                        Aerosol mask
                    </label>
                    <label>
                        <input type="radio" name="sp_part" value="Ventri mask">
                        Ventri mask
                    </label>
                    <br>
                    <label>
                        <input type="radio" name="sp_part" value="Non-rebreathing mask">
                        Non-rebreathing mask
                    </label>
                    <label>
                        <input type="radio" name="sp_part" value="Ventilator">
                        Ventilator
                    </label>
                    <label>
                        <input type="radio" name="sp_part" value="Bipap">
                        Bipap
                    </label>
                    <label>
                        <input type="radio" name="sp_part" value="氧氣帳(tent)">
                        氧氣帳(tent)
                    </label>
                    <label>
                        <input type="radio" name="sp_part" value="氧氣帳(hood)">
                        氧氣帳(hood)
                    </label>
                </td>
            </tr>
        </tbody>
</table>
}