@using System.Data;
@{
    DataTable DisDt = ViewBag.DisDt;  
}
<div id="ResultDischargedServices">
    <div class="dataHeader">
        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;font-size:14px;">
            <tr>
                <td style="width:10%;">日期</td>
                <td style="width:10%;">時間</td>
                <td style="width:15%;">篩選狀態</td>
                <td style="width:10%;">總分</td>
                <td style="width:10%;">執行者</td>
                @if (DisDt != null && DisDt.Rows.Count > 0 && DisDt.Rows[0]["EDIT_FLAG"].ToString().Trim() == "0")
                {
                    <td style="width:15%;">功能</td>
                }
            </tr>
        </table>
    </div>
    <div class="dataArea">
    @if (DisDt != null && DisDt.Rows.Count > 0)
    {
        <table border="0" cellpadding="4" cellspacing="1" style="width:100%;background-color: #FFFFFF;font-size:14px;">
            @for (int v = 0; v < DisDt.Rows.Count; v++)
            {
                <tr>
                    <td style="width:10%;">@(DisDt.Rows[v]["ASSESS_DATE"].ToString().Trim())</td>
                    <td style="width:10%;">@(DisDt.Rows[v]["ASSESS_TIME"].ToString().Trim())</td>
                    <td style="width:15%;">@(DisDt.Rows[v]["FILTER_STATE"].ToString().Trim())</td>
                    <td style="width:10%;">@(DisDt.Rows[v]["TOTAL"].ToString().Trim())</td>
                    <td style="width:10%;">@(DisDt.Rows[v]["EXER"].ToString().Trim())</td>
                    @if (DisDt.Rows[v]["EDIT_FLAG"].ToString().Trim() == "0")
                    {
                        if (DisDt.Rows[v]["CREATE_USER"].ToString().Trim() == ViewBag.userno)
                        {
                            <td style="width:15%;">
                                <input type="button" value="修改" style="width:80px;" onclick="EditData(1,'@(DisDt.Rows[v]["DC_ID"].ToString().Trim())');" />
                                <input type="button" value="刪除" style="width:80px;" onclick="DelData('@(DisDt.Rows[v]["DC_ID"].ToString().Trim())');" />
                            </td>
                        }
                        else
                        {
                            <td style="width:15%;">                               
                            </td>
                        }
                    }
                </tr>
            }
        </table>
    }
    </div>
</div>